Repository woocommerce/woocommerce, pull requests merged in 2018-04, with the labels that each got.

#19582 Display order item refund as negative value
  includes/admin/meta-boxes/views/html-order-item.php
Labels: Status: Approved

#19502 Duplicate queries for WC_Admin_Report->get_order_report_data()
  includes/admin/reports/class-wc-admin-report.php
Labels: Status: Approved

#19583 update readme.txt PHP version recommendation
  readme.txt
Labels: Status: Approved

#19550 Wizard: changes to the Store Setup step
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
  includes/wc-core-functions.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
Labels: Status: Needs Feedback

#19595 Trigger post modified update when saving products and variations, but no other product data
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
Labels: Status: Approved

#19221 Use shipping method instances to conditionally enable COD
  includes/abstracts/abstract-wc-settings-api.php
  includes/gateways/cod/class-wc-gateway-cod.php
Labels: Status: Approved

#19601 Removed remaining span.product-type styles
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
Labels: Status: Approved

#19598 Handle manage_stock mixed content for variations
  includes/api/class-wc-rest-product-variations-controller.php
  tests/unit-tests/api/product-variations.php
Labels: Status: Approved

#19603 Switched Georgian Lari to correct UTF symbol
  includes/wc-core-functions.php
Labels: Status: Approved

#19599 Add filter to suppress admin WordPress.com connection message.
  includes/admin/helper/class-wc-helper.php
Labels: Status: Approved

#19607 Switch to intval when checking for the shop page
  includes/admin/class-wc-admin-post-types.php
Labels: Status: Approved

#19602 Link product import/export to import/export capabilities
  assets/js/admin/woocommerce_admin.js
  assets/js/admin/woocommerce_admin.min.js
  includes/admin/class-wc-admin-assets.php
  includes/admin/class-wc-admin-exporters.php
  includes/admin/class-wc-admin-importers.php
Labels: Status: Needs Review

#19618 Increase orders table checkbox column size on small devices
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
Labels: Status: Approved

#19615 Fixed PHP notice in WC_Product_CSV_Importer_Controller->handle_upload
  includes/admin/importers/class-wc-product-csv-importer-controller.php
Labels: Status: Needs Review

#19611 Fixed bug when using asbint() with wc_get_page_id()
  includes/admin/class-wc-admin-post-types.php
  includes/wc-page-functions.php
Labels: Status: Needs Review

#19610 Use nbsp to separate * denoting required fields.
  assets/js/frontend/address-i18n.js
  assets/js/frontend/address-i18n.min.js
  includes/gateways/class-wc-payment-gateway-cc.php
  includes/gateways/class-wc-payment-gateway-echeck.php
  includes/wc-template-functions.php
  templates/auth/form-login.php
  templates/checkout/terms.php
  templates/global/form-login.php
  templates/myaccount/form-edit-account.php
  templates/myaccount/form-login.php
  templates/myaccount/form-reset-password.php
  templates/single-product-reviews.php
Labels: Status: Approved

#19632 Documentation punctuation fixes: its = posessive
  includes/abstracts/abstract-wc-order.php
Labels: Status: Approved

#19380 Override supports for PayPal to see if credentials exist
  includes/abstracts/abstract-wc-payment-gateway.php
  includes/admin/meta-boxes/views/html-order-items.php
  includes/gateways/paypal/class-wc-gateway-paypal.php
  tests/bootstrap.php
  tests/framework/class-wc-mock-payment-gateway.php
  tests/unit-tests/gateways/gateways.php
Labels: Status: Approved

#19660 Fix for #19600 - Visibility dropdown
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/auth-rtl.css
  assets/css/auth.css
  assets/css/dashboard-rtl.css
  assets/css/dashboard.css
  assets/css/helper-rtl.css
  assets/css/helper.css
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/menu-rtl.css
  assets/css/menu.css
  assets/css/network-order-widget-rtl.css
  assets/css/network-order-widget.css
  assets/css/prettyPhoto-rtl.css
  assets/css/prettyPhoto.css
  assets/css/reports-print-rtl.css
  assets/css/reports-print.css
  assets/css/select2.css
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/woocommerce-layout-rtl.css
  assets/css/woocommerce-layout.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce-smallscreen-rtl.css
  assets/css/woocommerce-smallscreen.css
  assets/css/woocommerce.css
Labels: Status: Approved

#19664 Clear comment count transient when cleaning product transients
  includes/wc-product-functions.php
Labels: Status: Needs Review

#19658 Changed county codes for Ireland according to ISO
  i18n/states/IE.php
  includes/class-wc-install.php
  includes/wc-update-functions.php
Labels: Status: Approved

#19676 Fix Rest API featured filter
  includes/api/class-wc-rest-products-controller.php
  includes/api/legacy/class-wc-rest-legacy-products-controller.php
Labels: Status: Approved

#19671 sanitize_text_field does not preserve line breaks. wp_kses_post seems more appropriate.
  includes/class-wc-order-item.php
Labels: Status: Approved

#19667 Load gateways before order is saved/email is triggered
  includes/api/class-wc-rest-orders-controller.php
Labels: Focus: API, Status: Approved

#19668 Clear shipping transient when saving shipping method on zones screen
  includes/class-wc-ajax.php
Labels: Status: Approved

#19669 Avoid storing coupon `used_by` data
  includes/class-wc-checkout.php
Labels: Status: Approved

#19672 Add filter around backorder notification text.
  templates/cart/cart.php
Labels: Status: Approved

#19670 Load meta box input values using CRUD and edit context
  includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: Status: Approved

#19696 Doc improvements (return types mostly)
  includes/abstracts/abstract-wc-order.php
Labels: Status: Approved

#19699 Added scroll to notices to cart page
  assets/js/frontend/cart.js
  assets/js/frontend/cart.min.js
  assets/js/frontend/checkout.js
  assets/js/frontend/checkout.min.js
  assets/js/frontend/woocommerce.js
  assets/js/frontend/woocommerce.min.js
  includes/class-wc-frontend-scripts.php
Labels: Status: Approved

#19710 Cast post IDs to integers in admin meta boxes for coupons, products, orders
  includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
  includes/class-wc-order-factory.php
  includes/class-wc-product-factory.php
Labels: Status: Approved

#19678 Handle escape characters for fputcsv
  includes/export/abstract-wc-csv-exporter.php
  includes/import/class-wc-product-csv-importer.php
Labels: Status: Approved

#19703 Moved around settings tabs to allow for a privacy page
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/auth-rtl.css
  assets/css/auth.css
  assets/css/dashboard-rtl.css
  assets/css/dashboard.css
  assets/css/helper-rtl.css
  assets/css/helper.css
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/menu-rtl.css
  assets/css/menu.css
  assets/css/network-order-widget-rtl.css
  assets/css/network-order-widget.css
  assets/css/prettyPhoto-rtl.css
  assets/css/prettyPhoto.css
  assets/css/reports-print-rtl.css
  assets/css/reports-print.css
  assets/css/select2.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/woocommerce-layout-rtl.css
  assets/css/woocommerce-layout.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce-smallscreen-rtl.css
  assets/css/woocommerce-smallscreen.css
  assets/js/admin/woocommerce_admin.js
  includes/abstracts/abstract-wc-payment-gateway.php
  includes/abstracts/abstract-wc-settings-api.php
  includes/admin/class-wc-admin-api-keys-table-list.php
  includes/admin/class-wc-admin-api-keys.php
  includes/admin/class-wc-admin-assets.php
  includes/admin/class-wc-admin-settings.php
  includes/admin/class-wc-admin-webhooks-table-list.php
  includes/admin/class-wc-admin-webhooks.php
  includes/admin/settings/class-wc-settings-accounts.php
  includes/admin/settings/class-wc-settings-advanced.php
  includes/admin/settings/class-wc-settings-checkout.php
  includes/admin/settings/class-wc-settings-emails.php
  includes/admin/settings/class-wc-settings-general.php
  includes/admin/settings/class-wc-settings-payment-gateways.php
  includes/admin/settings/class-wc-settings-rest-api.php
  includes/admin/settings/views/class-wc-settings-rest-api.php
  includes/admin/settings/views/html-admin-page-shipping-zone-methods.php
  includes/admin/settings/views/html-keys-edit.php
  includes/admin/settings/views/html-webhooks-edit.php
  includes/admin/views/html-admin-settings.php
  includes/class-wc-ajax.php
  includes/class-wc-deprecated-action-hooks.php
  includes/class-wc-deprecated-filter-hooks.php
  includes/gateways/bacs/class-wc-gateway-bacs.php
  includes/gateways/cheque/class-wc-gateway-cheque.php
  includes/gateways/paypal/class-wc-gateway-paypal.php
  tests/unit-tests/api/payment-gateways.php
Labels: Focus: Privacy, Status: Approved, Status: Needs Design

#19737 Removed unnecessary variable.
  includes/class-wc-ajax.php
Labels: Status: Approved

#19637 GDPR checkout improvements
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/twenty-seventeen.scss
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce.css
  assets/css/woocommerce.scss
  assets/js/admin/wc-setup.min.js
  assets/js/admin/woocommerce_admin.min.js
  assets/js/frontend/address-i18n.js
  assets/js/frontend/address-i18n.min.js
  assets/js/frontend/checkout.js
  assets/js/frontend/checkout.min.js
  assets/js/frontend/single-product.min.js
  assets/js/frontend/woocommerce.js
  assets/js/frontend/woocommerce.min.js
  i18n/languages/woocommerce.pot
  includes/class-wc-cart-session.php
  includes/class-wc-checkout.php
  includes/class-wc-countries.php
  includes/class-wc-form-handler.php
  includes/class-wc-frontend-scripts.php
  includes/customizer/class-wc-shop-customizer.php
  includes/theme-support/class-wc-twenty-seventeen.php
  includes/wc-page-functions.php
  includes/wc-template-functions.php
  includes/wc-template-hooks.php
  templates/checkout/terms.php
Labels: Focus: Privacy, Status: Approved, Status: Needs Design

#19732 fix(csv-importer): export/import: unlimited downloads/time on downloadable products conflict is fixed #19720
  includes/import/class-wc-product-csv-importer.php
Labels: Status: Needs Review

#19666 Consistent cart forms and woocommerce_after_add_to_cart_button placement
  templates/content-single-product.php
  templates/single-product/add-to-cart/external.php
  templates/single-product/add-to-cart/simple.php
  templates/single-product/add-to-cart/variable.php
  templates/single-product/add-to-cart/variation-add-to-cart-button.php
Labels: Status: Approved

#19625 Set the order created_via property for orders created via admin area
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: Status: Approved

#19728 Setup wizard: Bug fix and support for non-slug filenames in plugin installer
  includes/admin/class-wc-admin-setup-wizard.php
  includes/class-wc-install.php
Labels: Status: Approved

#19744 BD states and iso codes
  i18n/states/BD.php
  includes/class-wc-install.php
  includes/class-woocommerce.php
  includes/wc-update-functions.php
Labels: Status: Approved

#19675 Slash meta values before updating the DB in the data store
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: Status: Approved

#19711 Recent Product Reviews template
  includes/widgets/class-wc-widget-recent-reviews.php
  templates/content-widget-reviews.php
Labels: Status: Approved

#19639 Introduced new wc_get_product_class() and wc_product_class()
  includes/wc-template-functions.php
  templates/content-product.php
  templates/content-single-product.php
  templates/single-product/add-to-cart/grouped.php
  tests/unit-tests/templates/functions.php
Labels: Status: Needs Review

#19330 GDPR - Personal data export and removal
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  includes/class-wc-install.php
  includes/class-wc-privacy.php
  includes/class-woocommerce.php
  includes/data-stores/class-wc-customer-download-data-store.php
  includes/data-stores/class-wc-customer-download-log-data-store.php
  includes/wc-core-functions.php
  includes/wc-user-functions.php
  tests/unit-tests/privacy/export.php
Labels: Focus: Privacy

#19723 OBW: Replace Extras step with Recommended
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/auth-rtl.css
  assets/css/auth.css
  assets/css/dashboard-rtl.css
  assets/css/dashboard.css
  assets/css/helper-rtl.css
  assets/css/helper.css
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/jquery-ui.min.css
  assets/css/menu-rtl.css
  assets/css/menu.css
  assets/css/network-order-widget-rtl.css
  assets/css/network-order-widget.css
  assets/css/prettyPhoto-rtl.css
  assets/css/prettyPhoto.css
  assets/css/reports-print-rtl.css
  assets/css/reports-print.css
  assets/css/select2.css
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/wc-setup.scss
  assets/css/woocommerce-layout-rtl.css
  assets/css/woocommerce-layout.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce-smallscreen-rtl.css
  assets/css/woocommerce-smallscreen.css
  assets/css/woocommerce.css
  assets/images/obw-mailchimp-icon.svg
  assets/images/obw-storefront-icon.svg
  assets/images/obw-taxes-icon.svg
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19759 OBW: Prevent MailChimp from redirecting after activation.
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Focus: Wizard, Status: Approved, Type: Bug

#19754 OBW: Show eWAY payment gateway to merchants in AUS/NZ.
  assets/css/wc-setup.scss
  assets/images/eway-logo.jpg
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Focus: Wizard, Status: Needs Review

#19758 OBW: Show PayFast payment gateway to merchants in South Africa.
  assets/css/wc-setup.scss
  assets/images/payfast.png
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Focus: Wizard, Status: Approved

#19760 Fix scss indenting in wc-setup.scss
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/wc-setup.scss
Labels: Status: Approved

#19768 Fix download log unit test
  tests/unit-tests/customer/customer-download-log.php
Labels: Status: Needs Review

#19762 OBW: Position State select between City and Zip inputs
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19761 OBW: Save locale-specific measurement units upon saving address
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19756 Notice about HTTPS as a requirement
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-secure-connection.php
Labels: Status: Needs Feedback, Type: Enhancement

#19747 Add privacy policy to account pages
  includes/admin/class-wc-admin-settings.php
  includes/admin/settings/class-wc-settings-accounts.php
  includes/wc-template-functions.php
  includes/wc-template-hooks.php
Labels: Focus: Privacy, Status: Approved

#19705 Handling of PHP's automatic array key conversion to int
  includes/admin/class-wc-admin-settings.php
  includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
  includes/admin/meta-boxes/views/html-product-attribute.php
  includes/admin/reports/class-wc-report-coupon-usage.php
  includes/admin/settings/views/html-admin-page-shipping-zone-methods.php
  includes/admin/wc-meta-box-functions.php
  includes/wc-core-functions.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
Labels: Status: Approved

#19777 Filter the used coupon URL in "edit order" screen
  includes/admin/meta-boxes/views/html-order-items.php
Labels: Status: Approved

#19749 Implement privacy policy content
  includes/class-wc-privacy.php
Labels: Focus: Privacy, Status: Blocked / Hold

#19743 GDPR: Order cleanup
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/jquery-ui-rtl.css
  assets/css/jquery-ui.css
  assets/css/jquery-ui/jquery-ui-rtl.css
  assets/css/jquery-ui/jquery-ui.css
  assets/css/jquery-ui/jquery-ui.min.css
  includes/abstracts/abstract-wc-settings-api.php
  includes/abstracts/class-wc-background-process.php
  includes/admin/class-wc-admin-assets.php
  includes/admin/class-wc-admin-settings.php
  includes/admin/settings/class-wc-settings-accounts.php
  includes/admin/settings/views/html-admin-page-shipping-zone-methods.php
  includes/admin/settings/views/html-keys-edit.php
  includes/admin/settings/views/html-webhooks-edit.php
  includes/class-wc-install.php
  includes/class-wc-privacy-background-process.php
  includes/class-wc-privacy.php
  includes/class-woocommerce.php
  includes/data-stores/class-wc-order-data-store-cpt.php
  includes/wc-formatting-functions.php
  uninstall.php
Labels: Focus: Privacy, Status: Approved, Type: Enhancement

#19781 Introduced Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review

#19779 Spelling fix - disappearing
  readme.txt
Labels: Status: Needs Review

#19778 Fixed admin attributes page inline docs
  includes/admin/class-wc-admin-attributes.php
Labels: Status: Needs Review

#19805 Docblock: wc_get_orders returns WC_Order[]
  includes/wc-order-functions.php
Labels: Status: Approved

#19803 Update class-wc-privacy.php
  includes/class-wc-privacy.php
Labels: Status: Approved

#19802 Throw an error when the order is not loaded on checkout
  includes/class-wc-checkout.php
Labels: Status: Approved

#19809 Removed undefined wp_json_decode() function from PayPal response
  includes/gateways/paypal/includes/class-wc-gateway-paypal-response.php
Labels: Status: Approved

#19820 Fixes spelling mistake in privacy policy content snippet.
  includes/class-wc-privacy.php
Labels: Status: Approved

#19821 Pass `$flat` variable to `woocommerce_order_items_meta_display` filter
  includes/class-wc-order-item-meta.php
Labels: Status: Approved

#19812 Fix - Notice while downloding GeoIP DB on Windows
  includes/class-wc-geolocation.php
Labels: Status: Approved

#19829 Use trailingslashit() instead of DIRECTORY_SEPARATOR
  includes/class-wc-geolocation.php
Labels: Status: Approved, Status: Needs Review

#19824 Test setup methods should call parent setup method
  tests/unit-tests/exporter/product.php
  tests/unit-tests/importer/product.php
  tests/unit-tests/order-items/order-item-meta.php
  tests/unit-tests/privacy/export.php
  tests/unit-tests/totals/totals.php
Labels: Status: Needs Review

#19712 Tracker Changes
  includes/class-wc-tracker.php
Labels: Status: Approved

#19822 Do not load unsupported theme functionality when shop page -1
  includes/class-wc-template-loader.php
Labels: Status: Approved

#19826 Float the dismiss button instead of absolute-position it.
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/activation.scss
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
Labels: Status: Approved

#19841 Removes freegeoip service
  includes/class-wc-geolocation.php
Labels: Status: Approved

#19839 Add missing jquery UI images
  assets/css/jquery-ui/images/ui-bg_flat_0_aaaaaa_40x100.png
  assets/css/jquery-ui/images/ui-bg_flat_75_ffffff_40x100.png
  assets/css/jquery-ui/images/ui-bg_glass_55_fbf9ee_1x400.png
  assets/css/jquery-ui/images/ui-bg_glass_65_ffffff_1x400.png
  assets/css/jquery-ui/images/ui-bg_glass_75_dadada_1x400.png
  assets/css/jquery-ui/images/ui-bg_glass_75_e6e6e6_1x400.png
  assets/css/jquery-ui/images/ui-bg_glass_95_fef1ec_1x400.png
  assets/css/jquery-ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png
  assets/css/jquery-ui/images/ui-icons_222222_256x240.png
  assets/css/jquery-ui/images/ui-icons_2e83ff_256x240.png
  assets/css/jquery-ui/images/ui-icons_454545_256x240.png
  assets/css/jquery-ui/images/ui-icons_888888_256x240.png
  assets/css/jquery-ui/images/ui-icons_cd0a0a_256x240.png
Labels: Status: Approved

#19845 Trigger GeoLite2 database download after update
  includes/class-wc-geolocation.php
  includes/class-wc-install.php
Labels: Status: Approved

#19833 Inverted the condition based returns.
  includes/admin/class-wc-admin-log-table-list.php
Labels: Status: Approved

#19851 Fix the US currency name and attribute check for creating variable product
  tests/e2e-tests/checkout-page.js
  tests/e2e-tests/wp-admin/wp-admin-product-new.js
Labels: Status: Approved

#19849 Abstract out privacy class so that extensions can easily re-use it
  includes/abstracts/abstract-wc-privacy.php
  includes/class-wc-privacy-erasers.php
  includes/class-wc-privacy-exporters.php
  includes/class-wc-privacy.php
  includes/class-woocommerce.php
Labels: Status: Needs Review, Type: Enhancement

#19848 Support payment_method_in when selecting orders
  includes/data-stores/class-wc-data-store-wp.php
Labels: Focus: Performance, Status: Approved, Type: Enhancement

#19857 Made JS to look for closest form-row paragraph instead of parent in the checkout.
  assets/js/frontend/country-select.js
  assets/js/frontend/country-select.min.js
Labels: Status: Approved

#19861 Rewritten the logic and cleaned the code.
  includes/class-wc-product-variation.php
Labels: Status: Approved

#19875 Add sort handle column when adding new tags.
  assets/js/admin/term-ordering.js
  assets/js/admin/term-ordering.min.js
Labels: Status: Approved

#19872 Updates email restrictions label so it's clear this is a whitelist
  includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
Labels: Status: Approved

#19877 Fix CSV import cleanup methods
  includes/admin/class-wc-admin-importers.php
  includes/import/class-wc-product-csv-importer.php
Labels: Status: Approved

#19878 Fix gallery switching when image is the same
  assets/js/frontend/add-to-cart-variation.js
Labels: Status: Approved

#19880 Reduce priority value for WooCommerce personal data exports
  includes/class-wc-privacy.php
Labels: Status: Needs Review

#19895 Ensure coupon amount is always a float value
  includes/class-wc-coupon.php
Labels: Status: Approved

#19910 Invalidate fragment cache on theme switch
  includes/class-wc-frontend-scripts.php
Labels: Status: Approved

#19886 Modify jQuery selector to include select tags
  assets/js/frontend/checkout.js
Labels: Status: Approved

#19907 Include scheduled products in the export.
  includes/export/class-wc-product-csv-exporter.php
Labels: Status: Approved

#19909 ZA tax rate changed from 14 to 15% on 1 April 2018
  i18n/locale-info.php
Labels: Status: Approved
