Repository woocommerce/woocommerce, pull requests merged in 2018-07, with the labels that each got.

#20661 Use view context so true is not returned if parent is stock managed and not the variation
  includes/admin/meta-boxes/views/html-variation-admin.php
Labels: status: approved

#20678 Wrong php doc for get_cart_contents()
  includes/class-wc-cart.php
Labels: status: approved

#20664 Reveal attribute row when adding it.
  assets/js/admin/meta-boxes-product.js
Labels: status: approved

#20665 Store name and other data to customer session during checkout
  includes/class-wc-checkout.php
Labels: status: approved

#20687 Disable autocomplete from report date inputs #20683
  includes/admin/views/html-report-by-date.php
Labels: status: approved

#20690 Add ajax-add-to-cart class to button only if product can be purchased.
  includes/wc-template-functions.php
Labels: status: approved

#20695 Check if $_POST['store_state'] is set before using it
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#20655 Removed unnecessary form change trigger on load of checkout page.
  assets/js/frontend/checkout.js
  assets/js/frontend/checkout.min.js
  assets/js/frontend/country-select.js
  assets/js/frontend/country-select.min.js
Labels: status: approved

#20704 OBW: Change name of PayPal Express Checkout gateway to match rebranding
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#20722 Add image size filters to wc_get_product_attachment_props()
  includes/wc-product-functions.php
Labels: status: approved

#20648 Custom tables: Get image from ID, not post thumbnail
  includes/abstracts/abstract-wc-product.php
Labels: status: approved

#20714 Added filter on item name in quotes
  includes/wc-cart-functions.php
Labels: status: approved

#20730 Fix log file deletion
  includes/admin/class-wc-admin-status.php
  includes/admin/views/html-admin-page-status-logs.php
  includes/log-handlers/class-wc-log-handler-file.php
  tests/unit-tests/log/log-handler-file.php
Labels: status: approved

#20670 Deleting a product via API should handle children products regardless of type.
  includes/api/class-wc-rest-products-controller.php
  includes/api/legacy/v2/class-wc-api-products.php
  includes/api/legacy/v3/class-wc-api-products.php
  includes/api/v1/class-wc-rest-products-controller.php
Labels: status: approved

#20723 Only wordwrap plain emails
  includes/emails/class-wc-email.php
Labels: status: approved

#20740 Escape sku input properly for quick edit
  includes/admin/class-wc-admin-post-types.php
Labels: status: approved

#20686 Replaced query attribute placeholder with actual value for header link.
  includes/abstracts/abstract-wc-rest-crud-controller.php
  includes/abstracts/abstract-wc-rest-terms-controller.php
Labels: status: approved

#20728 Add edit_theme_options capability to shop manager role
  includes/class-wc-install.php
  includes/wc-update-functions.php
Labels: status: approved

#20490 Allow items to be changed in wc_save_order_items function
  includes/admin/wc-admin-functions.php
Labels: status: approved

#20731 Do not load all tables in multisite system status
  includes/api/class-wc-rest-system-status-controller.php
Labels: status: approved

#20757 Make wc_get_user_agent respect RFC2616
  includes/class-wc-frontend-scripts.php
  includes/wc-core-functions.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
Labels: status: approved

#20762 Fixed notice when variation does not exists on frontend
  assets/js/frontend/add-to-cart-variation.js
  assets/js/frontend/add-to-cart-variation.min.js
Labels: status: approved

#20726 Convert hardcoded db prefix to dynamic db prefix. Fixes #20718
  includes/wc-update-functions.php
Labels: status: approved

#20821 Pass an instance of the background updater to the db update callbacks
  includes/class-wc-background-updater.php
Labels: status: approved

#20840 Fix test failing only the Travis builds
  tests/bootstrap.php
  tests/includes/wp-http-testcase.php
  tests/unit-tests/importer/product.php
Labels: status: approved

#20846 Enable SCRIPT_DEBUG on e2e tests
  tests/bin/install.sh
Labels: status: approved

#20842 Unnecessary Variables and Spaces Removed
  includes/abstracts/abstract-wc-data.php
Labels: status: approved

#20850 Use an artificial HTTP response for wc_do_oembeds() test
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#20817 Add class names to `edit_category_fields()` to be inline with other f…
  includes/admin/class-wc-admin-taxonomies.php
Labels: status: approved

#20857 Switch travis codecoverage from xdebug to phpdbg
  .travis.yml
  tests/bin/phpunit.sh
  tests/bin/travis.sh
  tests/unit-tests/gateways/paypal/request.php
  tests/unit-tests/templates/functions.php
Labels: status: approved

#20861 PHPDoc | Return type changed from array to string.
  includes/export/abstract-wc-csv-exporter.php
Labels: status: approved

#20260 Set low stock notification threshold per product
  includes/abstracts/abstract-wc-product.php
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  includes/admin/importers/mappings/default.php
  includes/admin/list-tables/class-wc-admin-list-table-products.php
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  includes/admin/meta-boxes/views/html-product-data-inventory.php
  includes/class-wc-product-query.php
  includes/class-wc-product-variable.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
  includes/export/class-wc-product-csv-exporter.php
  includes/import/abstract-wc-product-importer.php
  includes/import/class-wc-product-csv-importer.php
  includes/wc-stock-functions.php
Labels: status: approved

#20812 Do not build paypal pay link when no base country is set.
  includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: status: approved

#20818 Removed 100% width on images on single product page for 2017 theme
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/twenty-seventeen.scss
Labels: status: approved

#20853 Reduce WC_Tests_REST_System_Status tests execution time
  tests/bootstrap.php
  tests/framework/class-wc-unit-test-case.php
  tests/unit-tests/api/system-status.php
  tests/unit-tests/formatting/functions.php
  tests/unit-tests/importer/product.php
Labels: performance, status: needs review

#20854 Prevent JS Issue if `woocommerce_available_variation` filter return false
  includes/class-wc-product-variable.php
Labels: status: approved

#20879 Update redirect option during activation of MailChimp in Install Wizard.
  includes/class-wc-install.php
Labels: status: approved

#20856 Allow custom menu ordering when set by another filter
  includes/admin/class-wc-admin-menus.php
Labels: status: approved

#20801 Adding product data to `removed_from_cart` event
  assets/js/frontend/add-to-cart.js
Labels: status: approved

#20889 Do not hide coupon form when a coupon is applied
  templates/checkout/form-coupon.php
Labels: status: approved

#20886 Re-add woocommerce_order_details_after_customer_details_filter
  templates/order/order-details-customer.php
Labels: status: needs review

#20865 Data store interface for v3 API reports endpoints.
  includes/class-wc-data-store.php
  includes/class-wc-reports-interval.php
  includes/class-wc-reports-query.php
  includes/class-wc-reports-revenue-query.php
  includes/class-woocommerce.php
  includes/data-stores/class-wc-reports-data-store.php
  includes/data-stores/class-wc-reports-revenue-data-store.php
  includes/interfaces/class-wc-reports-data-store-interface.php
Labels: status: approved

#20901 Fixed reset password cookie when REQUEST_URI includes Cyrillic alphabet
  includes/shortcodes/class-wc-shortcode-my-account.php
Labels: status: approved

#20910 Cast tax rate to float so that it can be treated as number further on.
  includes/class-wc-tax.php
  tests/unit-tests/tax/tax.php
Labels: status: approved

#20915 Merging plugin's tax_queries on REST endpoint, fixes #20914
  includes/api/class-wc-rest-products-controller.php
Labels: status: approved

#20913 If email @local include non alphabet
  includes/class-wc-checkout.php
Labels: status: approved

#20916 Do not use array_merge for appending to tax classes
  includes/admin/meta-boxes/views/html-variation-admin.php
  includes/admin/settings/views/settings-tax.php
Labels: status: approved

#20905 Fixes an issue with the 'woocommerce_grant_product_download_access' hook
  includes/data-stores/class-wc-customer-download-data-store.php
Labels: status: approved
