Repository woocommerce/woocommerce, pull requests merged in 2018-05, with the labels that each got.

#19913 Improve filter 'woocommerce_cart_item_data_to_validate'
  includes/wc-cart-functions.php
Labels: Status: Approved

#19894 Don't schedule event to delete transients if limit set to 0
  includes/class-wc-cache-helper.php
Labels: Status: Approved

#19918 Query reduction tweaks
  includes/admin/class-wc-admin-settings.php
  includes/admin/settings/class-wc-settings-shipping.php
  includes/admin/settings/views/settings-tax.php
  includes/class-wc-cart-session.php
  includes/class-wc-cart-totals.php
  includes/class-wc-install.php
  includes/class-wc-product-variable.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/shortcodes/class-wc-shortcode-products.php
  includes/wc-template-functions.php
Labels: Status: Approved

#19920 Log file cleanup/purge
  includes/admin/class-wc-admin-status.php
  includes/class-wc-install.php
  includes/class-wc-logger.php
  includes/log-handlers/class-wc-log-handler-db.php
  includes/log-handlers/class-wc-log-handler-file.php
  includes/wc-core-functions.php
  tests/unit-tests/log/log-handler-file.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
  uninstall.php
Labels: Status: Approved

#19919 Privacy notice text
  includes/class-wc-privacy.php
Labels: Status: Approved

#19914 GDPR - log audit
  includes/admin/class-wc-admin-status.php
  includes/admin/helper/class-wc-helper.php
  includes/class-wc-install.php
  includes/class-wc-logger.php
  includes/class-wc-webhook.php
  includes/gateways/paypal/class-wc-gateway-paypal.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-pdt-handler.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  includes/gateways/paypal/includes/settings-paypal.php
  includes/log-handlers/class-wc-log-handler-db.php
  includes/log-handlers/class-wc-log-handler-file.php
  includes/wc-core-functions.php
  tests/unit-tests/log/log-handler-file.php
  tests/unit-tests/log/logger.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
  uninstall.php
Labels: Status: Approved

#19928 Include pending products in the export
  includes/export/class-wc-product-csv-exporter.php
Labels: Status: Approved

#19922 Tool for cleaning up permissions table
  includes/api/class-wc-rest-system-status-tools-controller.php
Labels: Status: Approved

#19808 GDPR - Erasure and PII cleanup
  includes/abstracts/abstract-wc-privacy.php
  includes/admin/settings/class-wc-settings-accounts.php
  includes/class-wc-install.php
  includes/class-wc-privacy-background-process.php
  includes/class-wc-privacy-erasers.php
  includes/class-wc-privacy-exporters.php
  includes/class-wc-privacy.php
  includes/class-woocommerce.php
  includes/data-stores/class-wc-customer-download-data-store.php
  includes/data-stores/class-wc-order-data-store-cpt.php
  includes/wc-core-functions.php
  includes/wc-update-functions.php
  includes/wc-user-functions.php
  tests/unit-tests/privacy/export.php
  uninstall.php
Labels: Focus: Privacy, Status: Needs Review

#19936 Add new class to order note
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: Status: Approved

#19935 Hook doc update
  apigen/hook-docs.php
  includes/admin/class-wc-admin-menus.php
  includes/class-wc-ajax.php
  includes/class-wc-install.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/emails/class-wc-email-customer-invoice.php
  includes/wc-stock-functions.php
  templates/cart/cart-shipping.php
Labels: Status: Approved

#19930 Update refunds items schema to match actual response keys.
  includes/api/class-wc-rest-orders-controller.php
Labels: Status: Approved

#19943 Update GDPR abstract class to use associative arrays
  includes/abstracts/abstract-wc-privacy.php
  includes/class-wc-privacy.php
Labels: Status: Approved

#19955 Make some strings easier to translate for translators
  includes/admin/settings/class-wc-settings-accounts.php
  includes/class-wc-privacy-exporters.php
  includes/customizer/class-wc-shop-customizer.php
  includes/wc-template-functions.php
Labels: Status: Approved

#19942 Introduce GDPR export/erase for customer tokens
  includes/class-wc-privacy-erasers.php
  includes/class-wc-privacy-exporters.php
  includes/class-wc-privacy.php
  includes/data-stores/class-wc-payment-token-data-store.php
  includes/payment-tokens/class-wc-payment-token-echeck.php
Labels: Status: Approved

#19945 Updates to GDPR wording
  includes/class-wc-privacy-erasers.php
  includes/class-wc-privacy.php
Labels: Status: Approved

#19938 Updating repo slug for PayFast in the onboarding wizard
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19933 [3.4] Deprecate woocommerce_ajax_added_order_items action
  includes/class-wc-ajax.php
Labels: Status: Approved

#19947 Page conditionals need to ensure the page exists/is set first
  includes/wc-conditional-functions.php
Labels: Status: Approved

#19946 Actions should be filters
  includes/wc-template-hooks.php
Labels: Status: Approved

#19957 Fixes blank state call to action styling
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  includes/admin/list-tables/class-wc-admin-list-table-coupons.php
Labels: Status: Approved

#19973 Diverse typos
  includes/admin/settings/class-wc-settings-accounts.php
  includes/class-wc-privacy.php
Labels: Status: Approved

#19966 Tracker opt-out api call to erase personal data
  includes/api/class-wc-rest-system-status-tools-controller.php
  includes/class-wc-tracker.php
Labels: Status: Approved

#19971 Fix: WC API should not try to create a product image if an empty image is passed
  includes/api/class-wc-rest-product-variations-controller.php
Labels: Status: Approved

#19972 Remove WC API unit tests cleanup code
  tests/unit-tests/api/orders.php
  tests/unit-tests/api/product-reviews.php
  tests/unit-tests/api/product-variations.php
  tests/unit-tests/api/products.php
  tests/unit-tests/api/shipping-zones.php
Labels: Status: Approved

#19986 Check Terms Conditions page exits
  includes/wc-template-functions.php
Labels: Status: Approved

#19988 OBW: stylized checkboxes in "Recommended" step
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19989 OBW: Set only applicable fields as required when enabling shipping zone
  assets/js/admin/wc-setup.js
Labels: Status: Approved

#19992 Fix PHPCS violations in includes/admin/reports/class-wc-report-customers.php
  includes/admin/reports/class-wc-report-customers.php
Labels: Status: Approved

#19987 Plugin installer: fix extracting filename from path
  includes/class-wc-install.php
Labels: Status: Approved

#19995 Allow related products limit to be like other post_per_page values
  includes/wc-product-functions.php
Labels: Status: Approved

#19998 Settings API should force autoload on by default.
  includes/abstracts/abstract-wc-settings-api.php
Labels: Status: Approved

#20004 Remove unnecessary cleanup code from orders unit tests
  tests/unit-tests/order/class-wc-tests-crud-orders.php
  tests/unit-tests/order/class-wc-tests-order-functions.php
Labels: Status: Approved

#20001 Check validity before handling submit event in cart
  assets/js/frontend/cart.js
  assets/js/frontend/cart.min.js
Labels: Status: Approved

#20002 Zoom improvements for mobile/touch
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/twenty-seventeen.scss
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce.css
  assets/css/woocommerce.scss
  assets/js/admin/wc-setup.min.js
  assets/js/frontend/single-product.js
  assets/js/frontend/single-product.min.js
  assets/js/zoom/jquery.zoom.js
  assets/js/zoom/jquery.zoom.min.js
  i18n/languages/woocommerce.pot
  includes/class-wc-frontend-scripts.php
Labels: Status: Approved

#20006 Render password meter in place
  assets/js/frontend/password-strength-meter.js
  assets/js/frontend/password-strength-meter.min.js
Labels: Status: Approved

#20007 Add more unit tests to improve includes/wc-stock-functions.php test coverage
  tests/unit-tests/product/functions.php
Labels: Status: Approved

#20010 Rename variable to prevent name collision
  templates/single-product/add-to-cart/grouped.php
Labels: Status: Approved

#20020 Prevent infinite loops when grouped products group each other
  includes/class-wc-product-grouped.php
Labels: Status: Approved

#19984 Basic range download handling for Force download.
  includes/class-wc-download-handler.php
  tests/unit-tests/customer/customer-download-log.php
Labels: Status: Approved

#19934 Add protocol to URLs for thumbnails in cart.
  includes/abstracts/abstract-wc-product.php
  includes/abstracts/abstract-wc-widget.php
  templates/cart/mini-cart.php
Labels: Status: Approved

#20024 Context for getting shipping methods for shipping zone.
  includes/admin/settings/class-wc-settings-shipping.php
  includes/class-wc-ajax.php
  includes/class-wc-shipping-zones.php
Labels: Status: Approved

#19990 Rolling 3.4 readme
  readme.txt
Labels: Status: In Progress

#20037 Add default empty step class to html-csv-import-steps.php
  includes/admin/importers/views/html-csv-import-steps.php
Labels: Status: Approved

#20035 Add phpunit-speedtrap
  composer.json
  composer.lock
  phpunit.xml
Labels: Status: Approved

#20056 Code Cleaned Little Bit
  includes/admin/class-wc-admin-log-table-list.php
Labels: Status: Approved

#20087 Remove full stop after action name
  includes/class-wc-auth.php
Labels: Status: Approved

#20113 Use WordPress version of phpunit-speed-trap
  composer.json
  composer.lock
  phpunit.xml
  tests/includes/speed-trap-listener.php
Labels: Status: Approved

#20115 Change image title to name in v3.
  includes/api/class-wc-rest-product-categories-controller.php
Labels: Status: Approved

#20045 Sort the results of WC_Install::get_tables()
  tests/unit-tests/util/install.php
Labels: Status: Approved

#20061 fix(missing-country-code): add bahrain country code in the load_country_states method
  includes/class-wc-countries.php
Labels: Status: Approved

#20041 Wrap cell in ' rather than prepend
  includes/export/abstract-wc-csv-exporter.php
  includes/import/abstract-wc-product-importer.php
  tests/unit-tests/exporter/product.php
Labels: Status: Approved

#20082 [3.4] Add JS listeners for reloading/reinitializing order items in edit-order page
  assets/js/admin/meta-boxes-order.js
Labels: Status: Approved

#20083 When duplicating variation, set the date to null
  includes/admin/class-wc-admin-duplicate-product.php
Labels: Status: Approved

#20084 Fix tooltip styling when outside label
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  includes/admin/class-wc-admin-settings.php
Labels: Status: Approved

#20085 Set date created if null during update
  includes/data-stores/abstract-wc-order-data-store-cpt.php
Labels: Status: Approved

#20086 Fix rounding of line items for orders
  includes/abstracts/abstract-wc-order.php
Labels: Status: Approved

#20090 Remove hardcoded border in email template
  templates/emails/email-order-items.php
  templates/emails/email-styles.php
Labels: Status: Approved

#20091 Fix incorrectly closed system status table row
  includes/admin/views/html-admin-page-status-report.php
Labels: Status: Approved

#20094 When cleaning up CSV import, only remove product taxonomies
  includes/admin/class-wc-admin-importers.php
Labels: Status: Approved

#20123 Prevent autofocus on checkout
  includes/class-wc-countries.php
Labels: Status: Approved

#20131 Change token export format
  includes/class-wc-privacy-exporters.php
Labels: Status: Approved

#20136 Avoid double input field
  assets/js/frontend/geolocation.js
Labels: Status: Approved

#20138 Use GET in external product form
  templates/single-product/add-to-cart/external.php
Labels: Status: Approved

#20137 Recalc taxes if address changes in API
  includes/api/class-wc-rest-orders-controller.php
  includes/api/v1/class-wc-rest-orders-controller.php
Labels: Status: Approved

#20130 Data erasers; target shop_order only and allow filtering
  includes/class-wc-privacy.php
Labels: Status: Approved

#20126 Remove legacy meta data from orders
  includes/class-wc-privacy-erasers.php
Labels: Status: Approved

#20164 Tweak file includes
  includes/class-wc-cart.php
  includes/class-wc-privacy.php
  includes/class-woocommerce.php
Labels: Status: Approved

#20156 Remove . from settings strings
  includes/admin/settings/class-wc-settings-accounts.php
Labels: Status: Approved

#20155 Add contributors file generation
  .gitignore
  Gruntfile.js
  package-lock.json
  package.json
Labels: Status: Approved

#20163 Checkout preview in customizer
  includes/class-wc-ajax.php
  includes/customizer/class-wc-shop-customizer.php
  includes/shortcodes/class-wc-shortcode-checkout.php
  includes/wc-template-functions.php
Labels: Status: Approved

#20162 Improve external product string parsing
  includes/class-wc-product-external.php
  includes/wc-template-functions.php
  templates/single-product/add-to-cart/external.php
Labels: Status: Approved

#20168 Terms field validation
  includes/class-wc-checkout.php
Labels: Status: Approved

#20170 Introducing inline documention to WC_REST_Controller
  includes/abstracts/abstract-wc-rest-controller.php
Labels: Status: Approved

#20173 Fixed extra space in state name for LR
  i18n/states/LR.php
Labels: Status: Approved

#20174 Only hide .payment_box elements on init for multiple payment methods
  assets/js/frontend/checkout.js
  assets/js/frontend/checkout.min.js
Labels: Status: Approved

#20176 Wait for address fields to update in e2e checkout test
  tests/e2e-tests/checkout-page.js
Labels: Status: Approved

#20179 Just use exit() in AJAX endpoints used to redirect users
  includes/class-wc-ajax.php
Labels: Status: Approved

#20195 Update address-i18n.js
  assets/js/frontend/address-i18n.js
Labels: Status: Approved

#20092 wc_get_loop_class logic simplified
  includes/wc-template-functions.php
Labels: Status: Approved

#20079 wc_get_object_terms refactored
  includes/wc-term-functions.php
Labels: Status: Approved

#20206 [menu] - change title to capitalized to match wp core
  includes/admin/class-wc-admin-customize.php
Labels: Status: Approved

#19981 Add coupon usage count hooks
  includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: Status: Approved

#19980 Add endpoints to account menu items filter
  includes/wc-account-functions.php
Labels: Status: Approved

#20205 If the file size cannot be read, ignore range headers.
  includes/class-wc-download-handler.php
Labels: Status: Approved

#20202 Allow HTML when using `wc_attribute_label()`
  includes/admin/meta-boxes/views/html-product-attribute.php
  includes/wc-core-functions.php
  templates/single-product/add-to-cart/variable.php
Labels: Status: Approved

#20193 Fix WC_Coupon constructor with Coupon object
  includes/class-wc-coupon.php
  tests/unit-tests/coupon/coupon.php
  tests/unit-tests/coupon/data-store.php
Labels: Status: Approved

#20222 Ensure tests use ISO 3166-1 alpha-2 country codes
  tests/unit-tests/order/class-wc-tests-order-functions.php
Labels: Status: Approved

#20210 wc_rand_hash logic simplified
  includes/wc-core-functions.php
Labels: Status: Approved

#20212 wc_remove_number_precision_deep logic simplified
  includes/wc-core-functions.php
Labels: Status: Approved

#20211 wc_add_number_precision_deep logic simplified
  includes/wc-core-functions.php
Labels: Status: Approved

#20213 wc_setup_product_data refactored
  includes/wc-template-functions.php
Labels: Status: Approved

#20214 woocommerce_pagination refactored
  includes/wc-template-functions.php
Labels: Status: Approved

#20230 wc_get_rating_html refactored
  includes/wc-template-functions.php
Labels: Status: Approved

#20226 Removed get_product_search_form else
  includes/wc-template-functions.php
Labels: Status: Approved

#20200 Export legacy paypal meta data in exporter
  includes/class-wc-privacy-exporters.php
Labels: Status: Approved

#20197 "payment tokens" terminology
  includes/class-wc-privacy-exporters.php
  includes/class-wc-privacy.php
Labels: Status: Approved

#20232 wc_logout_url refactored
  includes/wc-template-functions.php
Labels: Status: Approved

#20221 Display price filter widget in LTR for RTL sites
  assets/css/woocommerce.scss
Labels: Status: Approved

#20190 Add an action hook after printing the cart item name
  templates/cart/cart.php
Labels: Status: Approved

#20233 wc_create_new_customer logic simplified
  includes/wc-user-functions.php
Labels: Status: Approved

#20231 Wrapper function to get full mysql version string with mariadb handling
  includes/admin/views/html-admin-page-status-report.php
  includes/api/class-wc-rest-system-status-controller.php
  includes/class-wc-tracker.php
  includes/wc-core-functions.php
Labels: Status: Approved

#20234 Check plugin properties exist when listening to auto_update_plugin hook
  includes/wc-core-functions.php
Labels: Status: Approved

#20191 Product import from file on server
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  tests/unit-tests/importer/product.php
Labels: Status: Approved

#20236 Fix webhook filtering URLs
  includes/admin/class-wc-admin-webhooks-table-list.php
Labels: Status: Approved

#20235 add missing wp_unslash calls to product data meta box
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: Status: Approved

#20217 Prevent shipping method instance save action running on non-instance screens
  includes/abstracts/abstract-wc-shipping-method.php
Labels: Status: Approved

#20239 Fix broken system status unit test
  tests/unit-tests/api/system-status.php
Labels: Status: Needs Review

#20257 Fix infinite loop with importing tax rates (#20253).
  includes/admin/importers/class-wc-tax-rate-importer.php
Labels: Status: Approved

#20237 get_canonical_package_rate_ids should check it has an array
  includes/gateways/cod/class-wc-gateway-cod.php
Labels: Status: Approved

#20256 Echo attribute label for "empty" default option
  includes/admin/meta-boxes/views/html-product-data-variations.php
Labels: Status: Approved

#20282 Product properties should not be accessed directly
  includes/wc-product-functions.php
Labels: Status: Approved

#20272 Make sample tax rate URL clickable
  includes/admin/importers/class-wc-tax-rate-importer.php
Labels: Status: Needs Review

#20270 Add unit tests for importing taxes
  tests/unit-tests/importer/sample_tax_rates.csv
  tests/unit-tests/importer/tax.php
Labels: Status: Approved

#20290 If flexslider is disabled, gallery images also need to trigger photoswipe on click
  assets/js/frontend/single-product.js
  assets/js/frontend/single-product.min.js
Labels: Status: Approved

#20241 Break up update routine and allow it run to multuple times
  includes/class-wc-background-updater.php
  includes/class-wc-install.php
  includes/wc-update-functions.php
Labels: Status: Approved

#20294 Remove red styling for PHP notice if using > 5.6
  includes/admin/views/html-admin-page-status-report.php
Labels: Status: Approved

#20116 Included REST API feature plugin endpoints and changes
  includes/api/class-wc-rest-data-continents-controller.php
  includes/api/class-wc-rest-data-controller.php
  includes/api/class-wc-rest-data-countries-controller.php
  includes/api/class-wc-rest-data-currencies-controller.php
  includes/api/class-wc-rest-order-notes-controller.php
  includes/api/class-wc-rest-order-refunds-controller.php
  includes/api/class-wc-rest-orders-controller.php
  includes/api/class-wc-rest-payment-gateways-controller.php
  includes/api/class-wc-rest-product-variations-controller.php
  includes/api/class-wc-rest-products-controller.php
  includes/api/class-wc-rest-setting-options-controller.php
  includes/api/class-wc-rest-settings-controller.php
  includes/api/v2/class-wc-rest-order-refunds-v2-controller.php
  includes/class-wc-api.php
Labels: Status: Approved

#20251 Update wc_maybe_define_constant Docblock
  includes/wc-core-functions.php
Labels: Status: Approved

#20246 Add anchor tag example to email template preview
  includes/admin/views/html-email-template-preview.php
Labels: Status: Approved

#20244 Introduce is_paypal_supported_currency check in setup wizard
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19817 Improved wc_add_to_cart_message filter
  includes/wc-cart-functions.php
Labels: Status: Approved

#20286 Updated IT provinces
  i18n/states/IT.php
Labels: Status: Approved

#20046 Allows manipulate cart shipping calculator data
  includes/shortcodes/class-wc-shortcode-cart.php
  templates/cart/shipping-calculator.php
Labels: Status: Needs Review

#20314 Fix syntax error in i18n/states/IT.php
  i18n/states/IT.php
Labels: Status: Approved

#20328 Improve gallery image reset calls
  assets/js/frontend/add-to-cart-variation.js
Labels: Status: Approved

#20324 Show empty terms in admin dropdown
  includes/admin/list-tables/class-wc-admin-list-table-products.php
Labels: Status: Approved

#20125 Don't force default token gateway active by default
  includes/class-wc-payment-gateways.php
Labels: Status: Approved

#20180 Check billing email is posted before using
  includes/class-wc-cart.php
Labels: Status: Approved

#19951 Eircode validation and formatting
  includes/class-wc-checkout.php
  includes/class-wc-validation.php
  includes/wc-formatting-functions.php
Labels: Status: Approved
