Repository woocommerce/woocommerce, pull requests merged in 2018-02, with the labels that each got.

#18863 Fix array to string conversion error
  includes/admin/meta-boxes/class-wc-meta-box-product-images.php
Labels: Status: Needs Review

#18917 Fix - Help tip for webhook status
  includes/admin/settings/views/html-webhooks-edit.php
Labels: Status: Needs Review, Type: Bug

#18895 Remove "Type" column on attributes table by default.
  includes/admin/class-wc-admin-attributes.php
  includes/wc-attribute-functions.php
Labels: Status: Approved

#18904 Tweak mobile view of order preview
  assets/css/admin.scss
Labels: Status: Approved

#18905 Use verbose page rules when shop is in the URL, including shop base with category
  includes/admin/class-wc-admin-permalink-settings.php
  includes/wc-page-functions.php
Labels: Status: Approved

#18908 Set woocommerce_hide_invisible_variations to true.
  includes/class-wc-product-variable.php
Labels: Status: Approved

#18909 Email order details template version
  templates/emails/email-order-details.php
Labels: Status: Approved

#18934 Remove isle of man state
  includes/class-wc-countries.php
Labels: Status: Approved

#18935 If selecting text, don't link to order on row click.
  assets/js/admin/wc-orders.js
Labels: Status: Approved

#18939 Set status after order is created/updated.
  includes/abstracts/abstract-wc-order.php
  includes/api/class-wc-rest-orders-controller.php
Labels: Focus: API, Status: Approved

#18944 fix: show Maximum size with the size unit on the importer screen
  includes/admin/importers/views/html-product-csv-import-form.php
Labels: Status: Approved

#18587 Products block frontend [WIP]
  assets/js/gutenberg/products-block.js
  assets/js/gutenberg/products-block.jsx
Labels: Status: In Progress

#18955 Image regeneration and thumbnail improvements
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/activation.scss
  assets/css/admin-rtl.css
  assets/css/admin.css
  includes/admin/class-wc-admin-notices.php
  includes/admin/class-wc-admin-status.php
  includes/admin/views/html-notice-regenerating-thumbnails.php
  includes/api/class-wc-rest-system-status-tools-controller.php
  includes/class-wc-regenerate-images-request.php
  includes/class-wc-regenerate-images.php
  includes/class-woocommerce.php
  includes/customizer/class-wc-shop-customizer.php
  includes/wc-core-functions.php
  includes/wc-template-functions.php
  templates/single-product/product-image.php
  templates/single-product/product-thumbnails.php
Labels: Status: Needs Review

#18982 Pass image to get_image_filter as well
  includes/abstracts/abstract-wc-product.php
Labels: Status: Approved, Type: Enhancement

#19020 Adds back get_item so you can get a single Webhook
  includes/api/v1/class-wc-rest-webhooks-controller.php
Labels: Status: Approved

#18969 Deletes whitespace
  templates/myaccount/my-orders.php
Labels: Status: Approved

#18970 Delete Whitespace
  templates/myaccount/orders.php
Labels: Status: Approved

#18831 Remove all WC tables when uninstalling the plugin
  includes/class-wc-install.php
  tests/unit-tests/util/install.php
  uninstall.php
Labels: Impact: Low, Status: Approved, Type: Bug

#18595 Display whether or not external object cache is enabled
  includes/admin/views/html-admin-page-status-report.php
  includes/api/class-wc-rest-system-status-controller.php
  tests/unit-tests/api/system-status.php
Labels: Status: Needs Review

#18609 Add missing action for settings pages that override save method
  includes/admin/settings/class-wc-settings-checkout.php
  includes/admin/settings/class-wc-settings-products.php
  includes/admin/settings/class-wc-settings-rest-api.php
  includes/admin/settings/class-wc-settings-shipping.php
  includes/admin/settings/class-wc-settings-tax.php
Labels: Status: Needs Review

#18620 Fix: properly set orderby and order when calling WC_Customer_Download_Data_Store::get_downloads()
  includes/data-stores/class-wc-customer-download-data-store.php
  tests/unit-tests/customer/customer-download.php
Labels: Status: Approved

#19021 Prevent JS error is row is missing orders column
  assets/js/admin/wc-orders.js
Labels: Status: Approved

#19022 Fixes button disable state and save response handling
  assets/js/admin/settings-views-html-settings-tax.js
Labels: Status: Approved

#18976 Allow modal to be wider and fix button wrapping
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/auth-rtl.css
  assets/css/auth.css
  assets/css/dashboard-rtl.css
  assets/css/dashboard.css
  assets/css/helper-rtl.css
  assets/css/helper.css
  assets/css/menu-rtl.css
  assets/css/menu.css
  assets/css/prettyPhoto-rtl.css
  assets/css/prettyPhoto.css
  assets/css/reports-print-rtl.css
  assets/css/reports-print.css
  assets/css/select2.css
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/woocommerce-layout-rtl.css
  assets/css/woocommerce-layout.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce-smallscreen-rtl.css
  assets/css/woocommerce-smallscreen.css
  assets/css/woocommerce.css
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/wc-admin-functions.php
Labels: Status: Approved

#19041 Ensure item totals are not empty
  includes/class-wc-order-item-product.php
Labels: Status: Approved

#19042 Prevent shipping zones PHP notice during setup wizard
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#19045 Check parent status when seeing if variation is purchasable.
  includes/class-wc-product-variation.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
Labels: Status: Approved

#19048 Convert more dollar entries for plain text emails
  includes/emails/class-wc-email.php
Labels: Status: Approved

#19044 Make terms logic match for breadcrumb and widget
  includes/class-wc-breadcrumb.php
  includes/widgets/class-wc-widget-product-categories.php
Labels: Status: Approved

#19043 Prevent shortcode [product_page] redirecting to the actual product's page after add to cart
  includes/class-wc-shortcodes.php
  templates/single-product/add-to-cart/external.php
  templates/single-product/add-to-cart/grouped.php
  templates/single-product/add-to-cart/simple.php
  templates/single-product/add-to-cart/variable.php
  templates/single-product/add-to-cart/variation-add-to-cart-button.php
  templates/single-product/add-to-cart/variation.php
Labels: Status: Approved

#19027 Added woocommerce_persistent_cart_enabled filter
  includes/class-wc-cart-session.php
  includes/wc-cart-functions.php
Labels: Question, Status: Approved

#18961 Remove hardcoded /wp-content check for downloads.
  includes/class-wc-product-download.php
Labels: Status: Approved

#18956 Convert HTML comments to PHP, remove empty lines
  templates/single-product/photoswipe.php
Labels: Status: Approved

#19051 Add missing direct script access checks
  templates/loop/loop-end.php
  templates/loop/loop-start.php
Labels: Status: Approved

#18918 Set maxlength for order item meta key
  assets/js/admin/meta-boxes-order.js
  includes/admin/meta-boxes/views/html-order-item-meta.php
  includes/admin/wc-admin-functions.php
Labels: Status: Approved

#19053 [REST API] Fixed products shipping_class_id type
  includes/api/class-wc-rest-products-controller.php
  includes/api/v1/class-wc-rest-products-controller.php
Labels: Status: Approved

#19055 Add WP classes to image gallery
  includes/wc-template-functions.php
Labels: Status: Approved

#19069 Numeric check needs to come after formatting the decimal
  includes/class-wc-order-item-product.php
Labels: Status: Approved

#19066 Make the init tooltips after inline editing more specific
  assets/js/admin/term-ordering.js
  assets/js/admin/woocommerce_admin.js
Labels: Status: Approved, Status: Cherry Picked

#19076 Fixed undefined index in Setup Wizard
  includes/admin/class-wc-admin-setup-wizard.php
Labels: Status: Approved

#17861 Provides edit display name on my-account page (#17606)
  includes/class-wc-customer.php
  includes/class-wc-form-handler.php
  includes/data-stores/class-wc-customer-data-store.php
  templates/myaccount/form-edit-account.php
Labels: Status: Needs Review

#18536 Refactor woocommerce_wp_select so it could be used for a multiselect
  includes/admin/wc-meta-box-functions.php
  includes/wc-formatting-functions.php
  includes/wc-template-functions.php
Labels: Status: Approved

#18538 Optimise saving of orders
  includes/abstracts/abstract-wc-order.php
  includes/class-wc-order.php
  includes/data-stores/class-wc-order-item-product-store.php
  includes/data-stores/class-wc-order-item-shipping-data-store.php
  includes/data-stores/class-wc-order-item-tax-data-store.php
Labels: Status: Approved

#18554 Flat rate: remove currency symbols
  includes/abstracts/abstract-wc-settings-api.php
  includes/admin/settings/class-wc-settings-shipping.php
  includes/class-wc-ajax.php
  includes/class-wc-shipping-zone.php
  includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
  includes/shipping/flat-rate/includes/settings-flat-rate.php
Labels: Status: Approved

#18624 Display zero value when using shipping classes
  includes/wc-cart-functions.php
Labels: Ideas, Impact: Low, Status: Approved, Type: Enhancement

#18779 Updates Flexslider to version 2.7.0
  assets/js/flexslider/jquery.flexslider.js
  assets/js/flexslider/jquery.flexslider.min.js
  includes/class-wc-frontend-scripts.php
Labels: Status: Approved

#18984 Made get_on_sale_products respect the setting to hide outofstock products
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: Status: Approved

#18993 Make sure terms page exists and isn’t trashed
  templates/checkout/terms.php
Labels: Status: Approved

#19035 Setup Wizard: Start toggle when clicking anywhere on row
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  assets/js/admin/wc-setup.min.js
Labels: Status: Approved

#19059 Update cart coupon button from input to button type.
  templates/cart/cart.php
Labels: Status: Approved

#18957 Hash customer email address in download URLs.
  includes/class-wc-download-handler.php
  includes/class-wc-order-item-product.php
Labels: Status: Approved

#19078 Display name input on My Account page
  includes/class-wc-customer.php
  includes/class-wc-form-handler.php
  includes/data-stores/class-wc-customer-data-store.php
  templates/myaccount/form-edit-account.php
Labels: Status: Needs Review

#19086 Fixed converting letters with accents to uppercase in templates
  templates/emails/plain/email-addresses.php
  templates/emails/plain/email-customer-details.php
  templates/emails/plain/email-order-details.php
Labels: Status: Approved

#19088 wc_get_loop_class; force columns to be a minimum of 1
  includes/wc-template-functions.php
Labels: Status: Approved

#19097 [REST API] Do not allow updating parent ID from variations after created
  includes/api/class-wc-rest-product-variations-controller.php
Labels: Status: Approved

#19104 Include page 1 on shop archive content check
  includes/wc-template-functions.php
Labels: Status: Approved

#19098 Ensure coupon amount is not empty
  includes/class-wc-coupon.php
  includes/class-wc-discounts.php
  tests/unit-tests/coupon/data-store.php
Labels: Status: Approved

#19126 Fixed #19125 - added spinner markup
  includes/admin/class-wc-admin-menus.php
Labels: Status: Approved

#19139 Use relative scheme for ajax endpoint
  includes/class-wc-ajax.php
Labels: Status: Approved

#19157 Fix error in unit tests due to missing object check
  includes/api/class-wc-rest-product-variations-controller.php
Labels: Status: Approved

#19111 Add extra data in order mobile view
  assets/css/activation-rtl.css
  assets/css/activation.css
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/auth-rtl.css
  assets/css/auth.css
  assets/css/dashboard-rtl.css
  assets/css/dashboard.css
  assets/css/helper-rtl.css
  assets/css/helper.css
  assets/css/menu-rtl.css
  assets/css/menu.css
  assets/css/prettyPhoto-rtl.css
  assets/css/prettyPhoto.css
  assets/css/reports-print-rtl.css
  assets/css/reports-print.css
  assets/css/select2.css
  assets/css/twenty-seventeen-rtl.css
  assets/css/twenty-seventeen.css
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/woocommerce-layout-rtl.css
  assets/css/woocommerce-layout.css
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce-smallscreen-rtl.css
  assets/css/woocommerce-smallscreen.css
  assets/css/woocommerce.css
  assets/js/admin/meta-boxes-order.min.js
  assets/js/admin/settings-views-html-settings-tax.min.js
  assets/js/admin/term-ordering.min.js
  assets/js/admin/wc-orders.min.js
  assets/js/admin/woocommerce_admin.min.js
Labels: Status: Approved

#19135 Replace exit by calls to wp_die() in ajax responses
  includes/class-wc-ajax.php
Labels: Status: Approved

#19138 Add profile link to order screen
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: Status: Approved

#19091 Include priceSpecification with valueAddedTaxIncluded
  includes/class-wc-structured-data.php
Labels: Status: Approved

#19002 Exclude products from coupon validation
  includes/class-wc-discounts.php
Labels: Status: Approved

#19156 Only trim strings in multiselect display options
  assets/js/selectWoo/selectWoo.full.js
  assets/js/selectWoo/selectWoo.full.min.js
  assets/js/selectWoo/selectWoo.js
  assets/js/selectWoo/selectWoo.min.js
  includes/admin/class-wc-admin-assets.php
  includes/class-wc-frontend-scripts.php
Labels: Status: Approved

#18817 Add support screen options for core list tables
  includes/admin/class-wc-admin-api-keys-table-list.php
  includes/admin/class-wc-admin-api-keys.php
  includes/admin/class-wc-admin-menus.php
  includes/admin/class-wc-admin-webhooks-table-list.php
  includes/admin/class-wc-admin-webhooks.php
  phpcs.xml
  uninstall.php
Labels: Impact: Very low, Status: Approved, Type: Enhancement

#19109 wc_get_price_excluding_tax handling for woocommerce_adjust_non_base_location_prices
  includes/wc-product-functions.php
Labels: Status: Approved

#19159 Use subtotal for discounts in admin/orders
  includes/class-wc-discounts.php
  tests/unit-tests/order/coupons.php
Labels: Status: Approved

#18559 Improve WC_Customer_Download_Data_Store::get_downloads() performance
  includes/data-stores/class-wc-customer-download-data-store.php
  tests/unit-tests/customer/class-wc-tests-customer-download.php
  tests/unit-tests/customer/customer-download.php
Labels: Focus: Performance, Status: Approved
