Repository woocommerce/woocommerce, pull requests merged in 2019-02, with the labels that each got.

#22621 Implement main_query parameter in get_meta_query
  includes/class-wc-query.php
Labels: status: approved

#22584 System Status URL naming and sorting now following WP core
  includes/admin/views/html-admin-page-status-report.php
Labels: status: approved

#22595 Hide star rating icons from screen readers
  includes/wc-template-functions.php
Labels: status: approved

#22615 Performance: rest api includes
  includes/class-wc-api.php
Labels: status: approved, status: needs docs

#22443 Placeholder resizing improvements
  assets/images/placeholder-attachment.png
  includes/class-wc-install.php
  includes/wc-product-functions.php
Labels: status: approved

#22410 Remove simplify commerce gateway from core
  .codeclimate.yml
  .scrutinizer.yml
  Gruntfile.js
  assets/css/admin.scss
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-simplify-commerce.php
  includes/class-wc-payment-gateways.php
  includes/gateways/simplify-commerce/assets/images/cards.png
  includes/gateways/simplify-commerce/assets/images/logo.png
  includes/gateways/simplify-commerce/assets/js/simplify-commerce.js
  includes/gateways/simplify-commerce/assets/js/simplify-commerce.min.js
  includes/gateways/simplify-commerce/class-wc-addons-gateway-simplify-commerce.php
  includes/gateways/simplify-commerce/class-wc-gateway-simplify-commerce.php
  includes/gateways/simplify-commerce/includes/Simplify.php
  includes/gateways/simplify-commerce/includes/Simplify/AccessToken.php
  includes/gateways/simplify-commerce/includes/Simplify/Authentication.php
  includes/gateways/simplify-commerce/includes/Simplify/Authorization.php
  includes/gateways/simplify-commerce/includes/Simplify/CardToken.php
  includes/gateways/simplify-commerce/includes/Simplify/Chargeback.php
  includes/gateways/simplify-commerce/includes/Simplify/Constants.php
  includes/gateways/simplify-commerce/includes/Simplify/Coupon.php
  includes/gateways/simplify-commerce/includes/Simplify/Customer.php
  includes/gateways/simplify-commerce/includes/Simplify/Deposit.php
  includes/gateways/simplify-commerce/includes/Simplify/Event.php
  includes/gateways/simplify-commerce/includes/Simplify/Exceptions.php
  includes/gateways/simplify-commerce/includes/Simplify/FraudCheck.php
  includes/gateways/simplify-commerce/includes/Simplify/Http.php
  includes/gateways/simplify-commerce/includes/Simplify/Invoice.php
  includes/gateways/simplify-commerce/includes/Simplify/InvoiceItem.php
  includes/gateways/simplify-commerce/includes/Simplify/Object.php
  includes/gateways/simplify-commerce/includes/Simplify/Payment.php
  includes/gateways/simplify-commerce/includes/Simplify/PaymentsApi.php
  includes/gateways/simplify-commerce/includes/Simplify/Plan.php
  includes/gateways/simplify-commerce/includes/Simplify/Refund.php
  includes/gateways/simplify-commerce/includes/Simplify/ResourceList.php
  includes/gateways/simplify-commerce/includes/Simplify/Subscription.php
  includes/gateways/simplify-commerce/includes/Simplify/Tax.php
  includes/gateways/simplify-commerce/includes/Simplify/TransactionReview.php
  includes/gateways/simplify-commerce/includes/Simplify/Webhook.php
  phpcs.xml
  phpunit.xml
  tests/bin/phpcs.sh
Labels: status: approved, status: needs docs

#22642 fix:No alert for mis-matched password reset
  includes/wc-template-hooks.php
  templates/myaccount/form-reset-password.php
Labels: status: approved

#22651 Tools and status require rest API init
  includes/admin/class-wc-admin-status.php
  includes/admin/views/html-admin-page-status-report.php
Labels: status: approved

#22646 Fix Hold-stock behavior between simple products and variable products
  includes/wc-stock-functions.php
Labels: status: approved

#22541 Init cart widget when added to sidebar via the customizer
  assets/js/frontend/cart-fragments.js
  includes/widgets/class-wc-widget-cart.php
Labels: status: approved

#22649 OBW: Offer Storefront when WP 5.0 default theme is active
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#22624 WC_Log_Handler_File::remove - fix for MS Windows
  includes/log-handlers/class-wc-log-handler-file.php
Labels: status: approved

#22638 fix wrong variable checking
  includes/class-wc-regenerate-images.php
Labels: status: approved

#22609 add DAY_IN_SECONDS to cron sale price removal check for consistency with #22189
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#22668 Fixes #22443 tests
  includes/wc-product-functions.php
  tests/unit-tests/product/data.php
Labels: status: approved

#22666 Prevent multiple cookie sets per request
  includes/class-wc-cart-session.php
  includes/class-wc-session-handler.php
Labels: status: approved

#22632 Accessibility: Add a screen reader label for product rating star icons
  includes/wc-template-functions.php
Labels: status: approved

#22629 Use `get` instead of `load` on cart page
  assets/js/frontend/add-to-cart.js
Labels: status: approved

#22634 Fix sed pw
  tests/README.md
  tests/bin/install.sh
Labels: status: approved

#22613 Performance: `set_props`
  includes/abstracts/abstract-wc-data.php
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#22677 fix: default value passed to sorting dropdown
  includes/wc-template-functions.php
Labels: status: approved

#22611 apply_filters_deprecated to avoid conflict with wp profile
  includes/class-wc-deprecated-filter-hooks.php
  includes/class-wc-frontend-scripts.php
Labels: status: approved

#22650 Registration success notices
  includes/class-wc-checkout.php
  includes/class-wc-form-handler.php
  includes/class-wc-session-handler.php
  includes/wc-user-functions.php
  templates/myaccount/form-login.php
Labels: status: approved

#22645 Add notice hash to store notice cookie
  assets/js/frontend/woocommerce.js
  includes/wc-template-functions.php
Labels: status: approved

#22631 WC Endpoint 404s
  includes/wc-template-functions.php
Labels: status: approved

#22608 Performance: Remove external lookup of ips on localhost
  includes/class-wc-geolocation.php
  includes/wc-core-functions.php
Labels: status: approved

#22681 Added check for POST variable existence.
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: status: approved

#22664 BlockUI on order form submit
  assets/js/frontend/checkout.js
Labels: status: approved

#22663 Switch span to paragraph in user profile view
  includes/admin/class-wc-admin-profile.php
Labels: status: approved

#22653 Added `woocommerce_paypal_force_one_line_item` filter
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: status: approved

#22652 Dump `max-width` in notices
  assets/css/activation.scss
Labels: status: approved

#22662 Add novalidate to order review form
  assets/js/frontend/checkout.js
Labels: status: approved

#22722 Fix special chars on webhook secret
  includes/class-wc-webhook.php
Labels: status: approved

#22721 Load REST API endpoints before generate webhook payload
  includes/class-wc-webhook.php
Labels: status: approved

#22705 Archive breadcrubs should use plural name not singular
  includes/class-wc-breadcrumb.php
Labels: status: approved

#22683 Add aria label for shop orderby selector
  templates/loop/orderby.php
Labels: status: approved

#22711 Calculation issues on single product sales by product graph/report
  includes/admin/reports/class-wc-report-sales-by-product.php
Labels: status: approved

#22704 Custom payment sections not loading fields due to logic error.
  includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: status: approved

#22672 Allow to filter the direct sql query to update the product stock
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#22717 Added filter for product title classes within product loop
  includes/wc-template-functions.php
Labels: status: approved

#22690 The "for" attribute of a label for a radio input is invalid
  includes/wc-template-functions.php
Labels: status: approved

#22758 added IDs to other input fields for consistency
  includes/admin/meta-boxes/views/html-product-data-shipping.php
Labels: status: approved

#22536 Delay `woocommerce_loaded` hook until all plugins are loaded.
  includes/class-woocommerce.php
  woocommerce.php
Labels: status: approved, status: needs docs

#22741 Put back status parameter after extra processing.
  includes/api/class-wc-rest-orders-controller.php
Labels: status: approved

#22729 Check for _reduced_stock meta when restocking refunded items
  includes/wc-order-functions.php
Labels: status: approved

#22763 Move PayPal BN partner ID
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: status: approved

#22692 Update CA address format
  includes/class-wc-countries.php
Labels: status: approved

#22736 Importer - Variations cannot be drafts - set to private.
  includes/import/abstract-wc-product-importer.php
Labels: status: approved

#22737 Fix save logic by moving setter into loop grabbing the value
  includes/class-wc-form-handler.php
Labels: status: approved

#22740 Check for decoded taxonomy name when unsetting terms
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#22748 Hard coded class now filterable
  templates/single-product/price.php
Labels: status: approved

#22735 If date paid is not set but payment complete status has passed, set it
  includes/class-wc-order.php
Labels: status: approved

#22731 Prevent webhooks for drafts and correct create vs updated for manual orders
  includes/class-wc-post-types.php
  includes/class-wc-webhook.php
  includes/data-stores/abstract-wc-order-data-store-cpt.php
  includes/data-stores/class-wc-order-data-store-cpt.php
  tests/unit-tests/webhooks/crud.php
Labels: status: approved

#22357 State and country field handling improvements
  assets/css/activation.scss
  assets/css/admin.scss
  assets/css/helper.scss
  assets/css/twenty-seventeen.scss
  assets/css/woocommerce.scss
  assets/js/frontend/country-select.js
  includes/class-wc-checkout.php
  includes/class-wc-countries.php
  includes/shortcodes/class-wc-shortcode-my-account.php
  includes/wc-core-functions.php
  includes/wc-template-functions.php
  templates/checkout/form-billing.php
  templates/checkout/form-shipping.php
  templates/myaccount/form-edit-address.php
Labels: status: approved

#22423 Performance - Finding matching variations
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#21090 Added test if request is a REST API request so that cart is not loaded.
  includes/api/class-wc-rest-authentication.php
  includes/class-woocommerce.php
Labels: status: approved

#22329 Product stock adjustments with manual order line item changes
  assets/js/admin/meta-boxes-order.js
  includes/admin/meta-boxes/class-wc-meta-box-order-notes.php
  includes/admin/meta-boxes/views/html-order-notes.php
  includes/admin/wc-admin-functions.php
  includes/class-wc-ajax.php
Labels: status: approved, status: needs docs

#22769 Rename Macedonia to North Macedonia
  i18n/countries.php
Labels: status: approved

#22625 Tracks: Add PHP client
  includes/admin/class-wc-admin.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/class-wc-tracks-client.php
  includes/tracks/class-wc-tracks-event.php
  includes/tracks/class-wc-tracks.php
Labels: status: needs review

#22777 check low_stock for empty string vs isset
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: status: approved

#22746 Tracks: enqueue w.js
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/class-wc-tracks.php
Labels: status: approved

#22792 Fixt product_edit to match the event in the spreadsheet
  includes/tracks/class-wc-site-tracking.php
Labels: status: approved

#22804 Add tracking for extension searches.
  includes/tracks/events/class-wc-extensions-tracking.php
Labels: status: approved

#22787 Add Tracks events for product import start and finish.
  includes/class-wc-tracker.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/class-wc-tracks.php
  includes/tracks/events/class-wc-extensions-tracking.php
  includes/tracks/events/class-wc-importer-tracking.php
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: approved

#22805 Track Subscriptions connection actions
  includes/admin/helper/class-wc-helper.php
  includes/tracks/events/class-wc-extensions-tracking.php
Labels: status: approved

#22788 Track when a product is published.
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: approved

#22790 Track when product categories are created.
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: approved

#22676 Tracks: add Woo identity
  includes/data-stores/class-wc-customer-data-store.php
  includes/tracks/class-wc-tracks-client.php
  includes/tracks/class-wc-tracks.php
Labels: status: approved

#22824 Track settings page views.
  includes/tracks/events/class-wc-settings-tracking.php
Labels: status: approved

#22809 Add/wc blocks/product attribute terms
  includes/api/wc-blocks/class-wc-rest-blocks-product-attribute-terms-controller.php
  includes/class-wc-api.php
  tests/unit-tests/api/wc-blocks/products-attributes-terms.php
Labels: status: approved

#22832 REST API: Add wc-blocks/v1/products/categories
  includes/api/wc-blocks/class-wc-rest-blocks-product-categories-controller.php
  includes/class-wc-api.php
  tests/unit-tests/api/wc-blocks/products-categories.php
Labels: status: approved

#22851 Change Tracks prefix to wcadmin
  includes/tracks/class-wc-tracks.php
Labels: status: needs review

#22782 Use total, not amount, when calculating fees
  includes/abstracts/abstract-wc-order.php
Labels: status: approved

#22826 Calculate shipping before totals during checkout update
  includes/class-wc-ajax.php
Labels: status: approved

#22825 Correct invalid param type from id to int
  includes/data-stores/class-wc-payment-token-data-store.php
Labels: status: approved

#22834 feat: wc_product_stock_status_options filter added for stock status options
  includes/wc-product-functions.php
  tests/unit-tests/product/functions.php
Labels: status: approved

#22830 Update Marketplace suggestions data using WC_Queue
  includes/admin/class-wc-admin.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-suggestions.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-updater.php
  includes/class-woocommerce.php
Labels: status: needs feedback

#22865 Add alt text to gallery thumbnail
  includes/wc-template-functions.php
Labels: status: approved

#22859 add UTM params to marketplace suggestion URLs
  assets/js/admin/marketplace-suggestions.js
Labels: status: approved

#22811 Show marketplace suggestions in orders list empty state
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/marketplace-suggestions-rtl.css
  assets/css/marketplace-suggestions.css
  assets/css/marketplace-suggestions.scss
  assets/js/admin/marketplace-suggestions.js
  includes/admin/class-wc-admin-assets.php
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-suggestions.php
Labels: status: approved

#22775 Set no-transform cache header to opt out of weblight
  includes/class-wc-cache-helper.php
Labels: status: approved

#22831 REST API: Add wc-blocks/v1/products/attributes controller.
  includes/api/wc-blocks/class-wc-rest-blocks-product-attributes-controller.php
  includes/class-wc-api.php
  tests/unit-tests/api/wc-blocks/products-attributes.php
Labels: status: needs review

#22815 Marketplace suggestions in Edit Product screen
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/marketplace-suggestions-rtl.css
  assets/css/marketplace-suggestions.css
  assets/css/marketplace-suggestions.scss
  assets/js/admin/marketplace-suggestions.js
  includes/admin/class-wc-admin-assets.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-suggestions.php
  includes/admin/marketplace-suggestions/templates/html-product-data-extensions.php
Labels: status: needs review

#22856 REST API: Add Blocks Products Controller
  includes/api/wc-blocks/class-wc-rest-blocks-products-controller.php
  includes/class-wc-api.php
  tests/unit-tests/api/wc-blocks/products.php
Labels: status: approved

#22794 Tracks: Orders edit status change
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-orders-tracking.php
Labels: status: approved

#22868 Get insert ID before running actions
  includes/class-wc-tax.php
Labels: status: approved

#22799 Remove old plugin/theme background installer hooks
  includes/class-wc-install.php
Labels: status: approved

#22822 Bugfix/Ajax Warning/Notices: Add Fix for Warning and Notices on save attribute button click
  includes/class-wc-ajax.php
Labels: status: needs feedback

#22853 Remove whitespace characters from Select2 option title
  includes/admin/class-wc-admin-settings.php
Labels: status: approved

#22852 Prevent a few structured data warnings on product catalog
  includes/class-wc-structured-data.php
Labels: status: approved

#22783 Only set user first and last names when those fields are empty
  includes/class-wc-checkout.php
Labels: status: approved

#22786 Improve user's display_name generation during checkout
  includes/class-wc-checkout.php
  includes/wc-user-functions.php
  tests/unit-tests/customer/functions.php
Labels: status: approved

#22774 Fixing order of JP address.
  includes/class-wc-countries.php
Labels: status: approved

#22884 Remember tracking setting when going through the OWB again
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#22860 Tracks: Add store setup event in OBW
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: needs review

#22872 Tracks: Add selected payment gateways in OBW
  includes/admin/class-wc-admin-setup-wizard.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: needs review

#22873 Tracks: Add tracking for shipping units and labels
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#22874 Tracks: Add selected recommended plugins in OBW
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#22875 Tracks: Add tracking for Jetpack activation in OBW
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#22784 Trigger zoom if moving cursor over image quickly in product gallery
  assets/js/frontend/single-product.js
Labels: status: approved

#22893 Add wrapper for is_plugin_active in WC_Admin_Notices
  includes/admin/class-wc-admin-notices.php
Labels: status: approved

#22892 PayPal: Add meta data, before changing order status
  includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-pdt-handler.php
Labels: status: approved

#22901 Change exception string to facilitate translating
  includes/libraries/action-scheduler/classes/ActionScheduler_WPCLI_QueueRunner.php
Labels: status: approved

#22218 Add Facebook to Recommended Step in OBW
  assets/images/obw-facebook-icon.svg
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#22908 remove some obsolete code
  includes/class-wc-post-data.php
Labels: status: approved

#22871 Add/marketplace suggestions wccom endpoint
  assets/js/admin/marketplace-suggestions.js
  includes/admin/marketplace-suggestions/class-wc-marketplace-updater.php
Labels: status: needs review
