Repository woocommerce/woocommerce, pull requests merged in 2019-05, with the labels that each got.

#23565 Change location of github-contributors-list in package.json
  package-lock.json
  package.json
Labels: status: approved

#23643 Regenarate package-lock.json to fix EINTEGRITY error in package github-contributors-list
  package-lock.json
Labels: status: approved

#23430 Do not use state for Serbia
  i18n/states.php
  includes/class-wc-countries.php
Labels: status: approved

#23428 Add locale info for Serbia
  i18n/locale-info.php
Labels: status: approved

#23429 Add address format for Serbia
  includes/class-wc-countries.php
Labels: status: approved

#23454 Fixes #23440 : # symbol in Product Category name breaks Reports CSV e…
  assets/js/admin/reports.js
Labels: cherry picked, status: approved

#23456 Disable export of scheduled action posts
  includes/admin/class-wc-admin.php
Labels: status: approved

#23499 [3.6.x] Stop removing backslash from passwords
  includes/class-wc-form-handler.php
Labels: status: approved

#23515 Bump default WC API version used when creating webhook
  includes/class-wc-webhook.php
Labels: status: approved

#23517 Fix dismiss button in two WC admin notices
  assets/css/activation.scss
  includes/admin/views/html-notice-legacy-shipping.php
  includes/admin/views/html-notice-no-shipping-methods.php
Labels: status: approved

#23529 Define $wpdb tables as early as possible, before init
  includes/class-woocommerce.php
Labels: status: approved

#23519 Tracks: Fix OBW scripts
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#23535 Fix: parameter values should be converted back as well when building form fields
  includes/wc-template-functions.php
  tests/unit-tests/templates/functions.php
Labels: status: approved

#23526 Solved #23505 WC Setup page UI issue
  assets/css/wc-setup.scss
Labels: status: approved

#23528 Fixes #23521 - Billing Email and Country now autofill for newly regis…
  includes/class-wc-checkout.php
Labels: status: approved

#23551 Minor Typos
  readme.txt
Labels: status: approved

#23597 Added confirmation before saving empty list of countries to sell to.
  assets/js/admin/settings.js
  includes/admin/class-wc-admin-settings.php
Labels: status: approved

#23601 Fix to show WC plugin updates in System status report
  includes/api/v2/class-wc-rest-system-status-v2-controller.php
Labels: status: approved

#23580 Change the link of the "Report a bug" button
  includes/admin/class-wc-admin-help.php
Labels: status: approved

#23611 Prevents undefined offset for empty arrays in wc_change_get_terms_defaults
  includes/wc-term-functions.php
Labels: status: approved

#23617 Fix system status connected to woocommerce.com status
  includes/admin/views/html-admin-page-status-report.php
  package-lock.json
Labels: cherry picked, status: approved

#23615 #23596 - I have solve this issue.
  includes/class-wc-customer.php
Labels: status: approved

#23590 Stock sorting issue when Yoast installed
  includes/admin/list-tables/class-wc-admin-list-table-products.php
Labels: status: approved

#23625 Use attribute's orderby option to sort terms in product's edit screen
  includes/admin/meta-boxes/views/html-product-attribute.php
Labels: status: approved

#23579 Fixes #23578 - Check taxes enabled before adding totals row to order
  includes/abstracts/abstract-wc-order.php
Labels: status: approved

#23666 WC Update CLI DB Version
  includes/cli/class-wc-cli-update-command.php
Labels: status: approved

#23671 Corrects WC Tracker's order total calculation.
  includes/class-wc-tracker.php
Labels: status: approved

#23478 Force delete rather than trash variations on product type change
  includes/class-wc-post-data.php
Labels: status: approved

#23532 When the user did not added any address on its account, change wording to "Add" instead of "Edit" in the link
  templates/myaccount/my-address.php
Labels: status: approved

#23538 Add a woocommerce_before_thankyou hook, Fix Issue/23537
  templates/checkout/thankyou.php
Labels: status: approved

#23660 add filter to allow disabling endpoint 404 behavior, per #23622
  includes/wc-template-functions.php
Labels: status: approved

#23653 #23649 I have added the filter into the out of stock message in varia…
  templates/single-product/add-to-cart/variable.php
Labels: status: approved

#23680 WC_Structured_Data::generate_product_data() no more hooked in to woommerce_shop_loop action, which has been removed in #22912
  includes/class-wc-structured-data.php
  templates/archive-product.php
Labels: status: approved

#23663 Add WC_Abstract_Order::get_coupons()
  includes/abstracts/abstract-wc-order.php
  tests/unit-tests/order/class-wc-tests-crud-orders.php
Labels: status: approved

#23689 Deprecate get_used_coupons in favor of get_coupon_codes
  includes/abstracts/abstract-wc-order.php
  includes/legacy/abstract-wc-legacy-order.php
  includes/wc-order-functions.php
  tests/unit-tests/order/class-wc-tests-crud-orders.php
Labels: status: approved, status: needs changelog

#23688 Trigger input change when deleting download file on variations
  assets/js/admin/meta-boxes-product-variation.js
Labels: status: approved

#23638 woocommerce_product_post_type_link_parent_category_only filter
  includes/wc-product-functions.php
Labels: status: approved

#23546 Version template caching
  includes/wc-core-functions.php
Labels: status: approved

#23603 #23602 - I have fixed issue.
  assets/js/admin/meta-boxes-order.js
Labels: status: approved

#23713 Use WC_Cache_Helper::get_cache_prefix for webhook count cache
  includes/data-stores/class-wc-webhook-data-store.php
Labels: status: approved

#23714 Add back backward compatibility for coupon expiry_date meta field
  includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: status: approved

#23534 Revise update stock logic
  includes/admin/class-wc-admin-post-types.php
  includes/data-stores/class-wc-data-store-wp.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/wc-stock-functions.php
Labels: status: approved

#23727 update license/readme URLs to HTTPS where appropriate
  license.txt
Labels: status: approved

#23697 Add Filter for wc_prices_include_tax() function return
  includes/wc-conditional-functions.php
Labels: status: approved

#23731 get_formatted_line_subtotal takes Item object instead of an array
  includes/abstracts/abstract-wc-order.php
Labels: status: approved

#23734 Dashboard stock queries should only include published products
  includes/admin/class-wc-admin-dashboard.php
Labels: status: approved

#23634 Update PayPal capture_payment method triggers
  includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: status: approved

#23690 Update OWB Payment Gateway structure
  assets/css/wc-setup.scss
  assets/images/klarna-black.png
  assets/images/square-black.png
  includes/admin/class-wc-admin-setup-wizard.php
  tests/unit-tests/setup/functions.php
Labels: status: approved

#23748 Onboarding wizard cleanup
  assets/images/klarna-white.png
  assets/images/square-white.png
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#23754 Plain text email: check if product exists before calling get_sku()
  templates/emails/plain/email-order-items.php
Labels: status: approved

#23112 Persistent cart improvements
  includes/class-wc-cart-session.php
  includes/class-wc-cart.php
Labels: status: approved

#23207 Introduce `parse_published_field` in CSV importer
  includes/import/class-wc-product-csv-importer.php
Labels: status: approved

#23325 [REST API] Stop orders being created if invalid data is sent
  includes/api/class-wc-rest-orders-controller.php
Labels: status: approved

#23468 Return WP_Error messages from wp_insert_user()
  includes/wc-user-functions.php
Labels: status: approved

#23704 Fixed number of args for woocommerce_valid_order_statuses_for_cancel
  includes/class-wc-form-handler.php
Labels: status: approved

#23038 Show qty refunded on order views for customers
  assets/css/marketplace-suggestions.scss
  assets/css/woocommerce-rtl.css
  assets/css/woocommerce.css
  assets/css/woocommerce.scss
  templates/emails/email-order-items.php
  templates/myaccount/orders.php
  templates/order/order-details-item.php
Labels: status: approved

#23041 Add hooks for helper subscription changes
  includes/admin/helper/class-wc-helper.php
Labels: status: approved

#23793 Catch WC_REST_Exception in hooks inside WC_REST_CRUD_Controller
  includes/abstracts/abstract-wc-rest-crud-controller.php
Labels: status: approved

#23774 fixed availability schema protocol
  includes/class-wc-structured-data.php
Labels: status: approved

#23562 Update/23558 Related product order
  includes/wc-product-functions.php
Labels: status: approved

#23431 Remove tax rates from locales information
  i18n/locale-info.php
Labels: status: approved

#23791 Clear notices when calling cart-errors.php template
  includes/shortcodes/class-wc-shortcode-checkout.php
Labels: status: approved

#23651 Set register_rest_route override to TRUE in Blocks REST API
  includes/api/wc-blocks/class-wc-rest-blocks-product-attribute-terms-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-attributes-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-categories-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-products-controller.php
Labels: status: approved

#23695 Calculate base store taxes including the store's zip and city
  includes/abstracts/abstract-wc-order.php
Labels: status: approved

#23794 Introduce wc_load_cart to dynamically load the cart
  includes/class-woocommerce.php
  includes/wc-core-functions.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
Labels: status: approved

#23364 Use high-resolution version of wp spinner
  assets/css/admin.scss
Labels: status: approved

#23360 Alignment of the image used in the email header
  templates/emails/email-styles.php
Labels: status: approved

#23178 Uganda Billing/Shipping address
  i18n/states/UG.php
  includes/class-wc-countries.php
Labels: status: approved

#23159 If orderby is used on static homepage, force query to be a page query
  includes/class-wc-query.php
Labels: status: approved

#23137 Change coupon amount field type based on coupon type
  assets/js/admin/meta-boxes-coupon.js
  includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
  includes/class-wc-coupon.php
Labels: status: approved

#23775 Manual orders coupon usage limits by email
  assets/js/admin/meta-boxes-order.js
  includes/abstracts/abstract-wc-order.php
  includes/class-wc-ajax.php
  includes/data-stores/class-wc-coupon-data-store-cpt.php
  tests/unit-tests/order/class-wc-tests-crud-orders.php
Labels: status: approved

#23772 Tracks: Add check for OBW is-opting-in
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/class-wc-tracks.php
Labels: status: approved

#23739 Remove administrative message from refund reason
  includes/wc-order-functions.php
Labels: status: approved

#23787 Tracks: set cookie on admin_init insead of wp_loaded
  includes/tracks/class-wc-tracks-client.php
Labels: status: approved

#23659 Add wc-admin notice.
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-wc-admin.php
Labels: status: approved

#23814 Add filters to file paths passed to the different xsendfile like backends
  includes/class-wc-download-handler.php
Labels: status: approved

#23764 Update class-wc-countries.php
  includes/class-wc-countries.php
Labels: status: approved

#23743 Implement the info & extra actions new filter for Product gallery
  includes/admin/meta-boxes/class-wc-meta-box-product-images.php
Labels: status: approved

#23838 Introduced woocommerce_search_products_post_statuses filter
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved
