Repository woocommerce/woocommerce, pull requests merged in 2019-07, with the labels that each got.

#24055 Updated constants' names to better reflect their usage.
  includes/admin/class-wc-admin-notices.php
  includes/class-woocommerce.php
Labels: status: approved

#23998 Update class-wc-ajax.php
  includes/class-wc-ajax.php
Labels: status: approved

#24071 WC_Comments: Add action_log to excluded types in wp_count_comments
  includes/class-wc-comments.php
Labels: status: approved

#23997 OBW: Adjust size of plugin install highlight to avoid overlap
  assets/css/wc-setup.scss
Labels: status: approved

#24020 Correct singular form usage in class-wc-admin-report.php
  includes/admin/reports/class-wc-admin-report.php
Labels: status: approved

#23884 Prevents taxes columns from being removed when the order is no longer editable
  includes/admin/meta-boxes/views/html-order-items.php
  includes/class-wc-ajax.php
Labels: status: approved

#24077 Fix CI unit tests on PHP 5.6 and PHP 7.0
  .travis.yml
  composer.lock
  tests/bin/phpcs.sh
Labels: status: approved

#24023 DB received `ENGINE` instead of `engine`, so PHP notices appear
  includes/api/v2/class-wc-rest-system-status-v2-controller.php
Labels: status: approved

#23969 Display line breaks of customer notes in emails, and order details.
  templates/emails/email-order-details.php
  templates/emails/plain/email-order-details.php
  templates/order/order-details.php
Labels: status: approved

#23776 Moved the JS enqueue from get_instance_form_fields to admin_footer hook.
  includes/shipping/free-shipping/class-wc-shipping-free-shipping.php
Labels: status: approved

#23968 Allow display multiple error messages through registration validation
  includes/class-wc-form-handler.php
Labels: status: approved

#24079 Add pinned deep-copy pkg as a dev dependency.
  composer.json
  composer.lock
Labels: status: approved

#23133 If variations are missing prices, show notice
  assets/js/admin/meta-boxes-product-variation.js
  includes/admin/class-wc-admin-meta-boxes.php
  includes/admin/wc-admin-functions.php
  includes/class-wc-ajax.php
Labels: status: approved

#23181 Added new action "woocommerce_read_product_data"
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#23190 Tracks: Status page events
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-status-tracking.php
Labels: status: approved

#24073 Fix missing space and closing <strong> tag in WooCommerce.com disconnect message
  includes/admin/helper/views/html-oauth-start.php
Labels: status: approved

#23740 Rename "Postcode / ZIP" to "Postal code" when select Canada
  includes/class-wc-countries.php
Labels: status: approved

#23741 Allows customize buyer name in orders list screen
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
Labels: status: approved

#24078 Update contributors
  readme.txt
Labels: status: approved

#23950 Currency changes applied for 'São Tomé and Príncipe dobra' and 'Mauritanian ouguiya'
  includes/class-wc-install.php
  includes/wc-core-functions.php
  includes/wc-update-functions.php
  tests/unit-tests/util/class-wc-tests-core-functions.php
Labels: status: approved

#24050 Add support for namespaced Jetpack tracks_get_identity
  includes/tracks/class-wc-tracks-client.php
Labels: status: approved

#24058 OBW: Add wc-admin to recommended page
  assets/css/wc-setup.scss
  assets/images/obw-woocommerce-admin-icon.svg
  includes/admin/class-wc-admin-setup-wizard.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#23093 Implement new table to store tax classes (instead of option)
  includes/admin/class-wc-admin-settings.php
  includes/admin/settings/class-wc-settings-tax.php
  includes/admin/settings/views/settings-tax.php
  includes/api/legacy/v3/class-wc-api-taxes.php
  includes/api/v1/class-wc-rest-tax-classes-controller.php
  includes/class-wc-install.php
  includes/class-wc-tax.php
  includes/class-woocommerce.php
  includes/wc-update-functions.php
Labels: status: approved

#23150 Made WooCommerce roles translatable
  includes/wc-user-functions.php
Labels: status: approved

#23255 Mapping for default Shopify fields
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  includes/admin/importers/mappings/mappings.php
  includes/admin/importers/mappings/shopify.php
  includes/import/abstract-wc-product-importer.php
  includes/import/class-wc-product-csv-importer.php
Labels: status: in progress

#23338 More useful actions in during CRUD save events
  includes/abstracts/abstract-wc-data.php
  includes/abstracts/abstract-wc-order.php
  includes/abstracts/abstract-wc-product.php
  includes/class-wc-customer-download.php
  includes/class-wc-order.php
  includes/class-wc-product-variable.php
  includes/class-wc-shipping-zone.php
  includes/data-stores/class-wc-coupon-data-store-cpt.php
  includes/data-stores/class-wc-customer-data-store.php
  includes/data-stores/class-wc-order-data-store-cpt.php
  includes/data-stores/class-wc-payment-token-data-store.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
  includes/data-stores/class-wc-webhook-data-store.php
Labels: status: approved

#24102 Updated CONTRIBUTING.md to reflect new build process
  .github/CONTRIBUTING.md
Labels: status: approved

#23189 Tracks: Add coupons view events
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-coupons-tracking.php
Labels: status: approved

#24024 Round late when rounding at subtotal to reduce rounding error.
  includes/class-wc-cart-totals.php
  tests/unit-tests/cart/cart.php
Labels: status: approved

#24100 Updated config for lint-staged
  package.json
Labels: status: approved

#24108 Added arguments to filter `woocommerce_ajax_order_item`
  includes/class-wc-ajax.php
Labels: status: approved

#23773 PayPal pass billing address when shipping address option disabled
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: status: approved

#23262 CSV Import - check if sku or id column exists when updating products from csv
  includes/import/class-wc-product-csv-importer.php
  tests/unit-tests/importer/product.php
  tests/unit-tests/importer/sample_update_product.csv
Labels: status: approved

#24099 Remove i18n/languages/woocommerce.pot
  .gitignore
  i18n/languages/woocommerce.pot
Labels: status: approved

#24111 Add tag_operator to products shortcode
  includes/shortcodes/class-wc-shortcode-products.php
Labels: status: approved

#23786 Reviews: Respect "Comment author must fill out name and email" setting
  templates/single-product-reviews.php
Labels: status: approved

#23785 Use WP 5.0 determine_locale() function
  includes/class-woocommerce.php
Labels: status: approved

#23091 Move settings save functionality to wp_loaded hook
  includes/admin/class-wc-admin-menus.php
Labels: status: approved

#23781 OBW: Switch shipping labels and shipping zones placement
  assets/css/wc-setup.scss
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#23344 Correct subtotals when changing tax classes via a filter
  includes/class-wc-cart-totals.php
  includes/class-wc-discounts.php
  tests/unit-tests/cart/cart.php
  tests/unit-tests/discounts/discounts.php
Labels: status: approved

#24069 Add generate coupon code button
  assets/js/admin/meta-boxes-coupon.js
  includes/admin/class-wc-admin-assets.php
Labels: status: approved

#23460 Review template escaping for `_e` and `__`
  templates/auth/form-grant-access.php
  templates/auth/header.php
  templates/cart/cart-shipping.php
  templates/cart/cart-totals.php
  templates/cart/cart.php
  templates/cart/cross-sells.php
  templates/cart/mini-cart.php
  templates/checkout/form-coupon.php
  templates/checkout/form-login.php
  templates/checkout/form-pay.php
  templates/checkout/review-order.php
  templates/checkout/thankyou.php
  templates/emails/admin-new-order.php
  templates/emails/customer-new-account.php
  templates/emails/customer-on-hold-order.php
  templates/emails/customer-refunded-order.php
  templates/emails/email-customer-details.php
  templates/emails/plain/customer-on-hold-order.php
  templates/emails/plain/customer-refunded-order.php
  templates/emails/plain/email-addresses.php
  templates/emails/plain/email-customer-details.php
  templates/emails/plain/email-downloads.php
  templates/emails/plain/email-order-details.php
  templates/global/quantity-input.php
  templates/loop/no-products-found.php
  templates/myaccount/form-edit-address.php
  templates/myaccount/lost-password-confirmation.php
  templates/myaccount/my-address.php
  templates/myaccount/my-downloads.php
  templates/myaccount/my-orders.php
  templates/myaccount/orders.php
  templates/myaccount/payment-methods.php
  templates/myaccount/view-order.php
  templates/order/order-details-customer.php
  templates/order/tracking.php
  templates/single-product-reviews.php
  templates/single-product/add-to-cart/variation.php
  templates/single-product/tabs/additional-information.php
  templates/single-product/tabs/description.php
Labels: status: approved

#24112 Fix Tax Class table initialization
  includes/admin/settings/class-wc-settings-tax.php
  includes/class-wc-install.php
  includes/class-wc-tax.php
Labels: status: approved

#24117 Fix failing WC_Shortcode_Product unit tests
  tests/bin/install.sh
  tests/unit-tests/shortcodes/products.php
Labels: status: needs review

#24118 Fix-24115, Downloads report not getting 503 any more, If previously d…
  includes/admin/reports/class-wc-report-downloads.php
Labels: status: approved

#23433 Preserve State field input classes when selecting a Country.
  assets/js/frontend/country-select.js
  includes/wc-template-functions.php
Labels: status: approved

#23672 Auto generate usernames when a username is blacklisted by WP
  includes/wc-user-functions.php
  tests/unit-tests/customer/functions.php
Labels: status: approved

#23881 Update find matching variation method inner query
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#24120 add filter for product import image separator
  includes/import/class-wc-product-csv-importer.php
Labels: status: approved

#23915 [Setup] Make PostCode optional as few countries don't use them
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#24056 OBW: Fix event recording in OBW
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#24134 Fix autoprefixer browsers option warning
  Gruntfile.js
  package.json
Labels: status: approved

#23402 Tweak: update paying customer information on payment complete
  includes/wc-user-functions.php
Labels: status: approved

#23293 Queue AJAX add to cart events to avoid overwriting session data
  assets/js/frontend/add-to-cart.js
  assets/js/frontend/cart.js
Labels: status: approved

#23067 Allow matching of "any" attributes in find_matching_product_variation…
  assets/css/admin.scss
  includes/data-stores/class-wc-product-data-store-cpt.php
  tests/framework/helpers/class-wc-helper-product.php
  tests/unit-tests/product/data-store.php
Labels: status: approved

#23705 Prevent negative prices on products
  includes/abstracts/abstract-wc-product.php
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#23268 store tax rate percent in tax line items
  includes/class-wc-checkout.php
  includes/class-wc-order-item-tax.php
  includes/class-wc-tax.php
  includes/data-stores/class-wc-order-item-tax-data-store.php
Labels: status: approved

#23479 enhance #23381 Prevent the Cart, checkout and my account page from be…
  includes/admin/settings/class-wc-settings-advanced.php
Labels: status: approved

#24034 Fix: check if DB_NAME is defined before using it
  includes/admin/views/html-admin-page-status-report.php
Labels: status: approved

#23859 Allow filtering formatted shipping address
  includes/class-wc-order.php
Labels: status: approved

#24114 Explicitly declare PHP version requirements and platform defaults
  composer.json
  composer.lock
Labels: status: approved

#24021 Allow notice type changes when updating cart contents
  includes/class-wc-form-handler.php
  includes/wc-cart-functions.php
Labels: status: approved

#24075 Add in-app-purchase params to extensions screen & suggestions
  assets/js/admin/marketplace-suggestions.js
  includes/admin/class-wc-admin-addons.php
  includes/admin/class-wc-admin-assets.php
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#23883 Track more events on the edit order screen for future design validation.
  assets/js/admin/meta-boxes-order.js
  includes/tracks/events/class-wc-orders-tracking.php
Labels: status: approved

#23687 Delete guest cart session if user logs in, solves #23686
  includes/class-wc-session-handler.php
Labels: status: approved

#24147 Revert "Prevent negative prices on products"
  includes/abstracts/abstract-wc-product.php
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#24146 WC_Order::get_formatted_shipping_address refactor
  includes/class-wc-order.php
Labels: status: approved

#24145 New hooks for cart and minicart templates
  includes/wc-template-functions.php
  includes/wc-template-hooks.php
  templates/cart/cart.php
  templates/cart/mini-cart.php
Labels: status: approved

#24151 Fixed jshint problems
  assets/js/frontend/add-to-cart.js
Labels: status: approved

#24123 Add WCCOM Site REST API
  includes/admin/helper/class-wc-helper.php
  includes/class-woocommerce.php
  includes/wccom-site/class-wc-wccom-site-installer.php
  includes/wccom-site/class-wc-wccom-site.php
  includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
Labels: status: approved

#24156 Bump WP minimum version.
  readme.txt
Labels: status: approved

#24157 shorten in-app-purchase url param keys
  includes/admin/class-wc-admin-addons.php
Labels: status: needs review

#24161 Bump template versions for 3.7
  templates/checkout/thankyou.php
  templates/loop/result-count.php
Labels: status: approved

#24165 REST API package version 1.0.3
  composer.json
  composer.lock
Labels: status: approved

#23264 [README] Rolling readme for 3.7
  readme.txt
Labels: status: approved

#24168 NPM audit fix
  package-lock.json
Labels: status: approved

#24170 Update 3.7.0 Beta 1
  readme.txt
  woocommerce.php
Labels: status: approved

#24171 Exclude package vendor folders from checktextdomain call
  Gruntfile.js
Labels: status: needs review

#24197 Updated PHPUnit to 7.5.14
  .travis.yml
  composer.json
  composer.lock
  phpunit.xml
  tests/bin/phpunit.sh
  tests/framework/class-wc-unit-test-case.php
  tests/includes/listener-loader.php
  tests/includes/speed-trap-listener.php
  tests/unit-tests/admin/reports/class-wc-tests-report-sales-by-date.php
  tests/unit-tests/cart/cart.php
  tests/unit-tests/crud/refunds.php
  tests/unit-tests/order/coupons.php
Labels: status: approved

#24206 Fix Missing Translation for Subtotal
  includes/wc-template-functions.php
Labels: status: approved

#24207 Remove methods assertIsWPError() and assertNotWPError() from WC_Unit_Test_Case
  tests/framework/class-wc-unit-test-case.php
  tests/unit-tests/util/api-functions.php
Labels: status: approved

#24173 [Beta fix] Return early if post status is `auto-draft` to prevent fatal.
  includes/tracks/events/class-wc-orders-tracking.php
Labels: status: approved

#24178 Deprecate the `woocommerce_before_cart_item_quantity_zero` action
  includes/class-wc-cart.php
Labels: status: approved

#24251 Exclude new packages and vendor folders from unit tests
  phpunit.xml
Labels: status: approved

#24213 Deprecate instead of remove
  includes/class-wc-tax.php
  includes/wc-update-functions.php
Labels: status: approved

#24254 WooCommerce 3.7.0 RC 1
  readme.txt
  woocommerce.php
Labels: status: approved
