Repository woocommerce/woocommerce, pull requests merged in 2019-08, with the labels that each got.

#24198 Prevent run wc_load_cart() before before_woocommerce_init
  includes/wc-core-functions.php
Labels: status: approved

#24282 Introduced filter to change default redirect URL in wc_logout_url()
  includes/wc-template-functions.php
  templates/myaccount/dashboard.php
Labels: status: approved

#24283 Make wc_get_endpoint_url() follow WordPress permalink settings
  includes/wc-page-functions.php
  tests/unit-tests/page-functions/class-wc-tests-page-functions.php
Labels: status: approved

#24286 Make master 3.8 dev branch
  CHANGELOG.txt
  readme.txt
  woocommerce.php
Labels: status: approved

#24301 Fix/23870
  assets/js/admin/meta-boxes-order.js
Labels: status: approved

#24279 Introduced filter to prevent adjust product stock
  includes/admin/wc-admin-functions.php
Labels: status: approved

#24323 Add missing additional content output to new account email
  templates/emails/admin-cancelled-order.php
  templates/emails/customer-new-account.php
Labels: status: needs changelog

#24321 Fix output escaping for menu titles on WooCommerce > Extensions page [3.7 RC]
  includes/admin/helper/views/html-section-nav.php
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#24309 Do not minify FlexSlider library in every build
  Gruntfile.js
Labels: status: approved

#24329 Update travis dist to xenial
  .travis.yml
  tests/bin/run-e2e-CI.sh
Labels: status: approved

#24191 Only add the image node to structured data if product has image
  includes/class-wc-structured-data.php
Labels: status: approved

#24337 Allow wc_string_to_bool to not be case sensitive
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#24199 Add filter hook to get zone criteria
  includes/data-stores/class-wc-shipping-zone-data-store.php
Labels: status: approved

#24351 Remove duplicate tooltip text in emails additional content
  includes/emails/class-wc-email-cancelled-order.php
  includes/emails/class-wc-email-customer-invoice.php
  includes/emails/class-wc-email-customer-refunded-order.php
  includes/emails/class-wc-email-failed-order.php
  includes/emails/class-wc-email-new-order.php
  includes/emails/class-wc-email.php
Labels: status: approved

#24307 Add Zambia's Provinces to the list of states.
  i18n/states.php
Labels: status: approved

#24336 Update address setting for Japanese
  includes/class-wc-countries.php
Labels: status: approved

#23384 Moved HTML from widget code to template file
  includes/widgets/class-wc-widget-price-filter.php
  templates/content-widget-price-filter.php
Labels: status: approved

#24291 Sort shipping classes under products alphabetically
  includes/admin/meta-boxes/views/html-product-data-shipping.php
Labels: bug, status: approved

#24239 Fire related actions when deleting all product variations
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
Labels: status: approved

#24284 Fixed Netherlands postcode formatting
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#24366 Update class-wc-shipping.php
  includes/class-wc-shipping.php
Labels: status: approved

#24353 Avoid PHP notice when getting order item type
  includes/data-stores/class-wc-order-item-data-store.php
Labels: status: approved

#24445 Fix typo webhopk -> webhook in WC_Webhook
  includes/class-wc-webhook.php
Labels: status: approved

#24443 update npm package version to 3.7.0
  package.json
Labels: status: approved

#24442 Check if error_get_last() is not null
  includes/class-woocommerce.php
Labels: status: approved

#24441 [Tracker] Prevent PHP warning when order date is empty
  includes/tracks/events/class-wc-orders-tracking.php
Labels: status: approved

#24437 Prevent load order twice
  includes/shortcodes/class-wc-shortcode-my-account.php
Labels: status: approved

#24438 Fixed Namibian currency symbol
  includes/wc-core-functions.php
Labels: status: approved

#24435 fix: show error message in myaccount if order does not exist.
  includes/shortcodes/class-wc-shortcode-my-account.php
Labels: status: approved

#24388 Moved UG states to new i18n/states.php
  i18n/states.php
Labels: status: approved

#24385 Ensure WC_Product_Data_Store_CPT::is_existing_sku() return boolean
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#24384 Check if order exists before create downloads hash
  includes/class-wc-order-item-product.php
Labels: status: approved

#24375 Added a filter for reposition shipping calculator
  includes/wc-cart-functions.php
Labels: status: approved

#24463 Update class-wc-shipping.php
  includes/class-wc-shipping.php
Labels: status: approved

#24467 Update class-wc-admin-setup-wizard.php
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#24466 Update class-wc-admin-menus.php
  includes/admin/class-wc-admin-menus.php
Labels: status: approved

#24468 Update html-oauth-start.php
  includes/admin/helper/views/html-oauth-start.php
Labels: status: approved

#24469 Update html-admin-page-addons.php
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#24459 Remove myclabs/deep-copy from the list of Composer dev dependencies
  composer.json
Labels: status: needs review

#24450 Remove Emoji from default additional email content
  includes/emails/class-wc-email-new-order.php
Labels: status: needs review

#24471 Add PHP 7.4 to the list of Travis build jobs
  .travis.yml
Labels: status: approved

#24242 Update WooCommerce developer documentation
  .github/CONTRIBUTING.md
  README.md
  tests/README.md
Labels: status: approved

#24479 Implement Puppeteer architecture & add basic test
  .eslintrc
  .gitignore
  .travis.yml
  babel.config.js
  package-lock.json
  package.json
  tests/bin/e2e-test-integration.js
  tests/bin/install.sh
  tests/bin/phpunit.sh
  tests/bin/run-vis-regression.sh
  tests/bin/travis.sh
  tests/e2e-tests/README.md
  tests/e2e-tests/config/custom-environment-variables.json
  tests/e2e-tests/config/default.json
  tests/e2e-tests/config/jest-puppeteer.config.js
  tests/e2e-tests/config/jest-puppeteer.dev.config.js
  tests/e2e-tests/config/jest.config.js
  tests/e2e-tests/config/jest.setup.js
  tests/e2e-tests/config/local-sample.json
  tests/e2e-tests/specs/activate-woocommerce.test.js
  tests/screenshot-tests/config/jest.setup.js
Labels: status: approved

#24513 Remove Selenium e2e tests & add Puppeteer new product e2e test
  package.json
  tests/bin/e2e-test-integration.js
  tests/e2e-tests/README.md
  tests/e2e-tests/config-setup.js
  tests/e2e-tests/config/jest.setup.js
  tests/e2e-tests/front-end/cart-page.js
  tests/e2e-tests/front-end/checkout-page.js
  tests/e2e-tests/front-end/my-account-page.js
  tests/e2e-tests/front-end/single-product.js
  tests/e2e-tests/specs/activate-woocommerce.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-product-new.test.js
  tests/e2e-tests/utils/flows.js
  tests/e2e-tests/utils/index.js
  tests/e2e-tests/wp-admin/wp-admin-coupon-new.js
  tests/e2e-tests/wp-admin/wp-admin-order-new.js
  tests/e2e-tests/wp-admin/wp-admin-product-new.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-general.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-products-downloadable.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-tax.js
  tests/screenshot-tests/config/custom-environment-variables.json
  tests/screenshot-tests/config/default.json
  tests/screenshot-tests/master-screenshots/my-account-logged-out.png
  tests/screenshot-tests/screenshots.test.js
Labels: status: approved

#24530 Replace wc_get_page_permalink( 'cart' ) with wc_get_cart_url() so that the woocommerce_get_cart_url is usable
  includes/class-wc-cart-session.php
  includes/class-wc-form-handler.php
  includes/class-wc-order.php
  includes/wc-cart-functions.php
  includes/wc-template-functions.php
  templates/checkout/cart-errors.php
Labels: status: approved

#24529 Update class-wc-admin-duplicate-product.php
  includes/admin/class-wc-admin-duplicate-product.php
Labels: status: approved

#24518 Add new hook for add-order-item
  includes/class-wc-ajax.php
Labels: status: approved

#24505 wc_mail returning the same as $mailer->send
  includes/wc-core-functions.php
Labels: status: approved

#24364 Remove deprecated i18n/states directory
  i18n/states/AO.php
  i18n/states/AR.php
  i18n/states/AU.php
  i18n/states/BD.php
  i18n/states/BG.php
  i18n/states/BO.php
  i18n/states/BR.php
  i18n/states/CA.php
  i18n/states/CH.php
  i18n/states/CN.php
  i18n/states/ES.php
  i18n/states/GR.php
  i18n/states/HK.php
  i18n/states/HU.php
  i18n/states/ID.php
  i18n/states/IE.php
  i18n/states/IN.php
  i18n/states/IR.php
  i18n/states/IT.php
  i18n/states/JP.php
  i18n/states/LR.php
  i18n/states/MD.php
  i18n/states/MX.php
  i18n/states/MY.php
  i18n/states/NG.php
  i18n/states/NP.php
  i18n/states/NZ.php
  i18n/states/PE.php
  i18n/states/PH.php
  i18n/states/PK.php
  i18n/states/PY.php
  i18n/states/RO.php
  i18n/states/TH.php
  i18n/states/TR.php
  i18n/states/TZ.php
  i18n/states/UG.php
  i18n/states/UM.php
  i18n/states/US.php
  i18n/states/ZA.php
Labels: status: approved

#24383 Update grunt contributors command to take a branch input
  Gruntfile.js
Labels: status: approved
