Repository woocommerce/woocommerce, pull requests merged in 2019-03, with the labels that each got.

#22879 Tracks: Add tracking event for skipped step in OBW
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: needs review

#22877 Tracks: Add tracking event when OBW is started
  includes/admin/class-wc-admin.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: needs review

#22846 [ADD] Do Action before cart is emptied
  includes/class-wc-cart.php
Labels: status: approved

#22885 Update class-wc-regenerate-images.php
  includes/class-wc-regenerate-images.php
Labels: status: approved

#22807 Add gross revenue to Tracks base data.
  includes/class-wc-tracker.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/class-wc-tracks.php
Labels: status: approved

#22922 Update issue templates
  .github/ISSUE_TEMPLATE/-----security-issue.md
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Enhancement.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Support.md
Labels: status: approved

#22776 [REST API] Better description for order's status collection param
  includes/api/class-wc-rest-orders-controller.php
Labels: status: approved

#22855 shop_messages shortcode requires wc_print_notices
  includes/class-wc-shortcodes.php
Labels: status: needs review

#22771 Shipping method get_option function filters
  includes/abstracts/abstract-wc-shipping-method.php
  includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
Labels: status: approved

#22906 get_downloads_for_customer performance improvement via index
  includes/class-wc-install.php
  includes/wc-update-functions.php
Labels: status: approved

#22903 Tracks: Add marketing signup tracking in OBW
  includes/admin/class-wc-admin-setup-wizard.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#22899 Tracks: Add an opt in/out toggle on settings page
  includes/admin/settings/class-wc-settings-accounts.php
  includes/api/v2/class-wc-rest-system-status-tools-v2-controller.php
  includes/class-wc-tracker.php
  tests/unit-tests/api/system-status.php
  tests/unit-tests/api/v2/system-status.php
Labels: status: needs review

#22810 Track settings changes.
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-settings-tracking.php
Labels: status: approved

#22930 Refactor Tracks classes to remove singletons and static methods.
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
  includes/tracks/events/class-wc-extensions-tracking.php
  includes/tracks/events/class-wc-importer-tracking.php
  includes/tracks/events/class-wc-orders-tracking.php
  includes/tracks/events/class-wc-products-tracking.php
  includes/tracks/events/class-wc-settings-tracking.php
Labels: status: approved

#22910 Tidy up post-data deprecated methods
  includes/class-wc-post-data.php
Labels: status: approved

#22888 Add precision to tax in discount class
  includes/class-wc-discounts.php
Labels: status: approved

#22820 Make 'refund amount' read-only
  includes/admin/meta-boxes/views/html-order-items.php
Labels: status: approved, status: needs docs

#22925 Remove structured data from archives and include some recommended fields on single product pages
  includes/class-wc-structured-data.php
Labels: status: approved

#22913 OBW: track a users next step
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
Labels: status: approved

#22751 Fix cart widget in Safari when using browser back button
  assets/js/frontend/cart-fragments.js
  includes/class-wc-ajax.php
Labels: status: approved

#22943 Update troubleshooting link
  templates/emails/admin-failed-order.php
  templates/emails/plain/admin-failed-order.php
Labels: status: approved

#22941 Blocks API: Add average rating to the products API response
  includes/api/wc-blocks/class-wc-rest-blocks-products-controller.php
Labels: status: approved

#22909 Refactor comment/rating update functions
  includes/class-wc-comments.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/legacy/abstract-wc-legacy-product.php
Labels: status: approved

#22540 Make the price filter widget tax aware redux
  assets/js/frontend/price-slider.js
  includes/class-wc-query.php
  includes/wc-product-functions.php
  includes/widgets/class-wc-widget-price-filter.php
Labels: status: approved

#22802 Use taxable address when adding/removing coupons
  assets/js/admin/meta-boxes-order.js
  includes/class-wc-ajax.php
Labels: status: approved

#22829 Increase Tracks performance (perhaps..)
  includes/admin/class-wc-admin.php
  includes/tracks/class-wc-tracks-client.php
  includes/tracks/class-wc-tracks-event.php
  includes/tracks/class-wc-tracks-footer-pixel.php
Labels: performance, status: approved

#22950 Use day, not time, in status widget for caching
  includes/admin/class-wc-admin-dashboard.php
Labels: status: approved

#22570 Improve slow term ordering queries
  includes/admin/class-wc-admin-attributes.php
  includes/admin/class-wc-admin-taxonomies.php
  includes/api/class-wc-rest-product-categories-controller.php
  includes/api/legacy/v2/class-wc-api-products.php
  includes/api/legacy/v3/class-wc-api-products.php
  includes/api/v1/class-wc-rest-product-attribute-terms-controller.php
  includes/api/v1/class-wc-rest-product-categories-controller.php
  includes/api/v2/class-wc-rest-product-categories-v2-controller.php
  includes/api/v2/class-wc-rest-system-status-v2-controller.php
  includes/class-wc-install.php
  includes/class-woocommerce.php
  includes/wc-attribute-functions.php
  includes/wc-deprecated-functions.php
  includes/wc-template-functions.php
  includes/wc-term-functions.php
  includes/wc-update-functions.php
  includes/widgets/class-wc-widget-layered-nav.php
  includes/widgets/class-wc-widget-product-categories.php
  tests/unit-tests/api/products.php
  tests/unit-tests/api/v2/products.php
Labels: status: approved

#22693 Send calling code to PayPal
  i18n/phone.php
  includes/class-wc-countries.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: status: approved

#22857 Feature/marketplace suggestions
  Gruntfile.js
  assets/css/admin-rtl.css
  assets/css/admin.css
  assets/css/admin.scss
  assets/css/marketplace-suggestions-rtl.css
  assets/css/marketplace-suggestions.css
  assets/css/marketplace-suggestions.scss
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
  assets/js/admin/woocommerce_admin.js
  includes/admin/class-wc-admin-assets.php
  includes/admin/class-wc-admin.php
  includes/admin/helper/class-wc-helper.php
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/list-tables/class-wc-admin-list-table-products.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-suggestions.php
  includes/admin/marketplace-suggestions/class-wc-marketplace-updater.php
  includes/admin/marketplace-suggestions/templates/html-product-data-extensions.php
  includes/admin/marketplace-suggestions/views/container.php
  includes/class-woocommerce.php
Labels: feature branch 🚀, status: needs review

#22915 Add woocommerce_get_product_subcategories_cache_key filter
  includes/wc-template-functions.php
Labels: status: approved

#22963 Removed URL from translatable string
  templates/emails/admin-failed-order.php
  templates/emails/plain/admin-failed-order.php
Labels: status: approved

#22962 Phone number sanitize function
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#22887 Additional System Status Options
  composer.lock
  includes/admin/views/html-admin-page-status-report.php
  includes/api/v2/class-wc-rest-system-status-v2-controller.php
  tests/unit-tests/api/system-status.php
  tests/unit-tests/api/v2/system-status.php
Labels: status: approved

#22773 Performance: delete empty meta
  includes/api/v2/class-wc-rest-system-status-tools-v2-controller.php
  includes/data-stores/abstract-wc-order-data-store-cpt.php
  includes/data-stores/class-wc-coupon-data-store-cpt.php
  includes/data-stores/class-wc-data-store-wp.php
  includes/data-stores/class-wc-order-data-store-cpt.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  tests/unit-tests/api/system-status.php
  tests/unit-tests/api/v2/system-status.php
Labels: status: approved

#22818 Performance: Image regeneration edge cases
  includes/class-wc-regenerate-images.php
  includes/wc-core-functions.php
Labels: status: approved

#22970 Check types of defined Payment Gateways
  includes/class-wc-payment-gateways.php
Labels: status: approved

#22965 Tracks: Fix CodeSniffer errors
  includes/admin/class-wc-admin-setup-wizard.php
  includes/admin/class-wc-admin.php
  includes/admin/helper/class-wc-helper.php
  includes/admin/settings/class-wc-settings-accounts.php
  includes/class-wc-tracker.php
Labels: status: approved

#22916 Add try catch block to pay_action
  includes/class-wc-form-handler.php
Labels: status: approved

#22891 Loop attribute panels to disable options rather than look at values
  assets/js/admin/meta-boxes-product.js
Labels: status: approved

#22718 Performance: product sorting lookup table
  includes/admin/class-wc-admin-dashboard.php
  includes/admin/list-tables/class-wc-admin-list-table-products.php
  includes/api/v2/class-wc-rest-system-status-tools-v2-controller.php
  includes/class-wc-install.php
  includes/class-wc-post-data.php
  includes/class-wc-query.php
  includes/class-woocommerce.php
  includes/data-stores/class-wc-data-store-wp.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-grouped-data-store-cpt.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/wc-deprecated-functions.php
  includes/wc-product-functions.php
  includes/wc-update-functions.php
  includes/widgets/class-wc-widget-price-filter.php
  tests/unit-tests/product/functions.php
  tests/unit-tests/util/class-wc-tests-wc-query.php
Labels: performance, status: approved, status: needs docs

#22982 Remove Blocks Plugin Notif
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-wootenberg.php
Labels: status: approved

#22984 Don’t query for an order count unnecessarily
  includes/admin/class-wc-admin-menus.php
Labels: status: approved

#22954 Merge blocks branch: add 8 product blocks and related API endpoints
  Gruntfile.js
  assets/css/blocks/editor.css
  assets/css/blocks/style.css
  assets/js/blocks/featured-product.js
  assets/js/blocks/handpicked-products.js
  assets/js/blocks/product-best-sellers.js
  assets/js/blocks/product-category.js
  assets/js/blocks/product-new.js
  assets/js/blocks/product-on-sale.js
  assets/js/blocks/product-top-rated.js
  assets/js/blocks/products-attribute.js
  assets/js/blocks/vendors.js
  includes/abstracts/abstract-wc-rest-terms-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-attribute-terms-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-attributes-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-categories-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-products-controller.php
  includes/blocks/class-wc-block-featured-product.php
  includes/blocks/class-wc-block-library.php
  includes/class-wc-api.php
  includes/class-woocommerce.php
  package-lock.json
  package.json
  tests/framework/helpers/class-wc-helper-product.php
  tests/unit-tests/api/wc-blocks/products-attributes-terms.php
  tests/unit-tests/api/wc-blocks/products-attributes.php
  tests/unit-tests/api/wc-blocks/products-categories.php
  tests/unit-tests/api/wc-blocks/products.php
Labels: status: approved

#22991 Updated woocommerce-sniffs to 0.0.6
  composer.json
  composer.lock
Labels: status: approved

#22867 Refactor delete zone/delete zone method data store to remove settings
  includes/data-stores/class-wc-shipping-zone-data-store.php
Labels: status: needs feedback

#22988 Refactor WC_Settings_Payment_Gateways::save
  includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: status: approved

#22890 Avoid changing tracking preferences when disconnecting helper
  includes/admin/helper/class-wc-helper.php
Labels: status: approved

#22936 Setup Wizard: Add keyboard events for custom input toggles
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#22967 prioritise targeted suggestions in products list:
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
Labels: status: approved

#22948 Correctly show state fields after posting the edit address form
  assets/js/frontend/address-i18n.js
  assets/js/frontend/country-select.js
Labels: status: approved

#22904 Updates - Docs and ActionScheduler implementation
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-update.php
  includes/admin/views/html-notice-updated.php
  includes/admin/views/html-notice-updating.php
  includes/class-wc-background-updater.php
  includes/class-wc-install.php
  includes/cli/class-wc-cli-update-command.php
Labels: status: approved

#22980 Pass user ID when adding coupons via admin
  assets/js/admin/meta-boxes-order.js
  includes/class-wc-ajax.php
Labels: status: approved

#22979 Set reply-to address for all emails
  includes/emails/class-wc-email.php
Labels: status: approved

#22949 Update order discount display
  includes/admin/meta-boxes/views/html-order-item.php
Labels: status: approved

#22977 Setup wizard redirection improvements
  includes/admin/class-wc-admin.php
  includes/class-wc-install.php
Labels: status: approved

#22997 Add stock to search results manually
  includes/class-wc-ajax.php
Labels: status: approved

#23004 Check updated props for date variables
  includes/data-stores/class-wc-order-data-store-cpt.php
Labels: status: approved

#23006 Fix error introduced by commit be05eea5da
  includes/class-wc-ajax.php
Labels: status: approved

#23007 REST API: Add Private REST API docblock and response headers.
  includes/api/wc-blocks/class-wc-rest-blocks-product-attribute-terms-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-attributes-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-product-categories-controller.php
  includes/api/wc-blocks/class-wc-rest-blocks-products-controller.php
Labels: status: approved

#23014 Add transient caching to tracks blog data collection.
  includes/tracks/class-wc-tracks.php
Labels: status: approved

#22966 put products list suggestions on hiatus (month) after multiple dismissals
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
Labels: status: needs review

#23015 Update/data stores lookup
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
Labels: status: needs feedback

#23012 Update/lookup table notices
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-regenerating-lookup-table.php
  includes/admin/views/html-notice-theme-support.php
  includes/api/v2/class-wc-rest-system-status-tools-v2-controller.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/wc-product-functions.php
Labels: status: approved

#23010 Update stock reports to use lookup tables
  includes/admin/class-wc-admin-dashboard.php
  includes/admin/class-wc-admin-notices.php
  includes/admin/reports/class-wc-report-low-in-stock.php
  includes/admin/reports/class-wc-report-most-stocked.php
  includes/admin/reports/class-wc-report-out-of-stock.php
  includes/admin/views/html-notice-regenerating-lookup-table.php
  includes/admin/views/html-notice-theme-support.php
  includes/api/v2/class-wc-rest-system-status-tools-v2-controller.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/wc-product-functions.php
Labels: status: approved

#22889 Hide 'other' payment method from invoice
  includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  includes/class-wc-order.php
Labels: status: approved

#23016 Update action scheduler to version 2.2.1
  includes/libraries/action-scheduler/README.md
  includes/libraries/action-scheduler/action-scheduler.php
  includes/libraries/action-scheduler/classes/ActionScheduler.php
  includes/libraries/action-scheduler/classes/ActionScheduler_Abstract_QueueRunner.php
  includes/libraries/action-scheduler/classes/ActionScheduler_AdminView.php
  includes/libraries/action-scheduler/classes/ActionScheduler_Compatibility.php
  includes/libraries/action-scheduler/classes/ActionScheduler_CronSchedule.php
  includes/libraries/action-scheduler/classes/ActionScheduler_IntervalSchedule.php
  includes/libraries/action-scheduler/classes/ActionScheduler_ListTable.php
  includes/libraries/action-scheduler/classes/ActionScheduler_Logger.php
  includes/libraries/action-scheduler/classes/ActionScheduler_QueueCleaner.php
  includes/libraries/action-scheduler/classes/ActionScheduler_QueueRunner.php
  includes/libraries/action-scheduler/classes/ActionScheduler_WPCLI_QueueRunner.php
  includes/libraries/action-scheduler/classes/ActionScheduler_wcSystemStatus.php
  includes/libraries/action-scheduler/classes/ActionScheduler_wpPostStore.php
  includes/libraries/action-scheduler/composer.json
  includes/libraries/action-scheduler/composer.lock
  includes/libraries/action-scheduler/deprecated/ActionScheduler_Abstract_QueueRunner_Deprecated.php
  includes/libraries/action-scheduler/deprecated/ActionScheduler_AdminView_Deprecated.php
  includes/libraries/action-scheduler/tests/phpunit/runner/ActionScheduler_QueueRunner_Test.php
Labels: status: approved

#22981 Updating geolocation download to avoid wp_upload_dir and direct filesystem access
  includes/class-wc-geolocation.php
  includes/class-wc-install.php
Labels: status: approved

#23025 fix style for tracks prop `suggestion_slug` (lower_case not camelCase)
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
Labels: status: needs review

#23001 After logging in, update session customer ID
  includes/class-wc-session-handler.php
Labels: status: approved

#23027 Add $this context to woocommerce_email_styles filter.
  includes/emails/class-wc-email.php
Labels: status: approved

#22994 Show linkout to Marketplace when there are no product metabox suggestions to display
  assets/css/marketplace-suggestions-rtl.css
  assets/css/marketplace-suggestions.css
  assets/css/marketplace-suggestions.scss
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
  includes/admin/marketplace-suggestions/templates/html-product-data-extensions.php
Labels: status: approved

#22971 Reword cancelled email
  includes/emails/class-wc-email-cancelled-order.php
  templates/emails/admin-cancelled-order.php
  templates/emails/plain/admin-cancelled-order.php
Labels: status: approved

#23019 onsale lookup table
  includes/admin/views/html-notice-regenerating-lookup-table.php
  includes/class-wc-install.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/wc-product-functions.php
Labels: performance, status: needs feedback

#23031 Lookup table updates over CLI
  includes/wc-product-functions.php
Labels: status: approved

#23033 Wizard mobile styles
  assets/css/wc-setup-rtl.css
  assets/css/wc-setup.css
  assets/css/wc-setup.scss
Labels: status: needs review

#22973 Revised sale start/end date save logic
  includes/abstracts/abstract-wc-product.php
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  includes/admin/meta-boxes/views/html-product-data-general.php
  includes/admin/meta-boxes/views/html-variation-admin.php
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: needs review

#23035 Fixed WooCommerce writes current_theme_supports_woocommerce option on every page view.
  includes/class-wc-post-types.php
Labels: status: approved

#23036 Update version 3.6.0-beta.1
  woocommerce.php
Labels: status: approved

#23037 Tested up to bumped to 5.1
  readme.txt
Labels: status: approved

#23045 Update @woocommerce/block-library to 2.0.0-rc1
  assets/css/blocks/editor.css
  assets/js/blocks/handpicked-products.js
  assets/js/blocks/product-best-sellers.js
  assets/js/blocks/product-category.js
  assets/js/blocks/product-new.js
  assets/js/blocks/product-on-sale.js
  assets/js/blocks/product-top-rated.js
  assets/js/blocks/products-attribute.js
  includes/blocks/class-wc-block-featured-product.php
  includes/blocks/class-wc-block-library.php
  package-lock.json
  package.json
Labels: status: needs review

#23065 Fix typo in lookup table notice markup
  includes/admin/views/html-notice-regenerating-lookup-table.php
Labels: status: approved

#23050 Recognize all input fields with ID for checkout fields
  assets/js/frontend/checkout.js
Labels: status: approved

#23039 Update the rating request text in the footer to be friendlier for screen reader users
  includes/admin/class-wc-admin.php
Labels: status: approved

#23066 preventDefault when dismissing store notices
  assets/js/frontend/woocommerce.js
Labels: status: approved

#23057 Allow extension of WC_Breadcrumb class
  includes/class-wc-breadcrumb.php
Labels: status: approved

#23082 Refactor Travis Config
  .travis.yml
  tests/bin/install.sh
  tests/bin/phpcs.sh
  tests/bin/phpunit.sh
  tests/bin/run-e2e-CI.sh
  tests/bin/travis.sh
Labels: status: approved

#23104 Fix PHPCS in the Travis builds
  .travis.yml
  tests/bin/phpcs.sh
Labels: status: needs review

#23080 Blocks: Prevent duplicate class loading for blocks feature plugin
  Gruntfile.js
  includes/blocks/class-wc-block-library.php
  package-lock.json
  package.json
Labels: status: needs review

#23110 send additional properties with Marketplace Suggestions tracks events
  assets/js/admin/marketplace-suggestions.js
  assets/js/admin/marketplace-suggestions.min.js
Labels: status: needs review

#23136 Lookup table SQL: Avoid orderby during updates
  includes/wc-product-functions.php
Labels: status: approved

#23106 Only install Chrome and Nginx in the build job that uses it
  .travis.yml
Labels: status: approved

#23131 `WC_Ajax::add_variation` force variable product type
  includes/class-wc-ajax.php
Labels: status: approved

#23069 Variation stock status field handling (displaying/hiding when needed)
  assets/js/admin/meta-boxes-product-variation.js
  assets/js/admin/meta-boxes-product.js
  includes/admin/meta-boxes/views/html-variation-admin.php
Labels: status: approved

#23156 5.2 fix from ActionScheduler
  includes/libraries/action-scheduler/classes/ActionScheduler_wpPostStore.php
Labels: status: approved

#23158 Fixed JSHint warnings on marketplace suggestions script
  assets/js/admin/marketplace-suggestions.js
Labels: bug, status: needs review

#23149 Update refund reason to make it clear refunding is manual
  includes/wc-order-functions.php
Labels: status: approved

#23138 REST API: Adds future status to list of allowed statuses
  includes/api/class-wc-rest-products-controller.php
  includes/api/v1/class-wc-rest-products-controller.php
  includes/api/v2/class-wc-rest-products-v2-controller.php
Labels: status: approved

#23128 Change default completed email wording
  templates/emails/customer-completed-order.php
  templates/emails/plain/customer-completed-order.php
Labels: status: approved

#23145 Introduce `wc_create_new_customer_username` function
  includes/wc-user-functions.php
  tests/unit-tests/customer/functions.php
Labels: status: needs review

#23146 Update fallback download URL in helper
  includes/admin/helper/class-wc-helper.php
Labels: status: needs review

#23161 OBW: Ensure tracker opt-in is always shown.
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#23162 Update Action Scheduler to v2.2.3
  includes/libraries/action-scheduler/.gitignore
  includes/libraries/action-scheduler/.travis.yml
  includes/libraries/action-scheduler/action-scheduler.php
  includes/libraries/action-scheduler/classes/ActionScheduler_WPCLI_QueueRunner.php
  includes/libraries/action-scheduler/codecov.yml
  includes/libraries/action-scheduler/composer.lock
  includes/libraries/action-scheduler/tests/ActionScheduler_UnitTestCase.php
  includes/libraries/action-scheduler/tests/bootstrap.php
  includes/libraries/action-scheduler/tests/phpunit.xml.dist
  includes/libraries/action-scheduler/tests/phpunit/deprecated/ActionScheduler_UnitTestCase.php
  includes/libraries/action-scheduler/tests/phpunit/helpers/ActionScheduler_TimezoneHelper_Test.php
  includes/libraries/action-scheduler/tests/phpunit/jobs/ActionScheduler_Action_Test.php
  includes/libraries/action-scheduler/tests/phpunit/jobs/ActionScheduler_NullAction_Test.php
  includes/libraries/action-scheduler/tests/phpunit/jobstore/ActionScheduler_wpPostStore_Test.php
  includes/libraries/action-scheduler/tests/phpunit/logging/ActionScheduler_wpCommentLogger_Test.php
  includes/libraries/action-scheduler/tests/phpunit/procedural_api/procedural_api_Test.php
  includes/libraries/action-scheduler/tests/phpunit/procedural_api/wc_get_scheduled_actions_Test.php
  includes/libraries/action-scheduler/tests/phpunit/runner/ActionScheduler_QueueCleaner_Test.php
  includes/libraries/action-scheduler/tests/phpunit/runner/ActionScheduler_QueueRunner_Test.php
  includes/libraries/action-scheduler/tests/phpunit/schedules/ActionScheduler_CronSchedule_Test.php
  includes/libraries/action-scheduler/tests/phpunit/schedules/ActionScheduler_IntervalSchedule_Test.php
  includes/libraries/action-scheduler/tests/phpunit/schedules/ActionScheduler_NullSchedule_Test.php
  includes/libraries/action-scheduler/tests/phpunit/schedules/ActionScheduler_SimpleSchedule_Test.php
  includes/libraries/action-scheduler/tests/phpunit/versioning/ActionScheduler_Versions_Test.php
  includes/libraries/action-scheduler/tests/travis/setup.sh
  includes/libraries/action-scheduler/tests/travis/wp-tests-config.php
Labels: status: approved

#23164 Release: Update Readme and version for RC.
  readme.txt
  woocommerce.php
Labels: status: approved

#23165 Bump master to 3.7.0-dev
  woocommerce.php
Labels: status: approved
