Repository woocommerce/woocommerce, pull requests merged in 2019-09, with the labels that each got.

#23701 Consistent register/login submit button css class names
  templates/myaccount/form-login.php
Labels: status: approved

#24451 Add support to allow connect and install for in-app purchase flow.
  includes/admin/class-wc-admin-addons.php
  includes/admin/helper/class-wc-helper.php
Labels: status: approved

#24277 Fix position of ID section in mobile rows actions
  assets/css/admin.scss
Labels: status: approved

#24546 Fixed markup in Storefront banner
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#24589 Fixed issue #24588
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#24602 Fix typo on email templates
  templates/emails/admin-cancelled-order.php
  templates/emails/admin-failed-order.php
  templates/emails/admin-new-order.php
  templates/emails/customer-completed-order.php
  templates/emails/customer-invoice.php
  templates/emails/customer-new-account.php
  templates/emails/customer-note.php
  templates/emails/customer-on-hold-order.php
  templates/emails/customer-processing-order.php
  templates/emails/customer-refunded-order.php
  templates/emails/customer-reset-password.php
  templates/emails/plain/admin-cancelled-order.php
  templates/emails/plain/admin-failed-order.php
  templates/emails/plain/admin-new-order.php
  templates/emails/plain/customer-completed-order.php
  templates/emails/plain/customer-invoice.php
  templates/emails/plain/customer-new-account.php
  templates/emails/plain/customer-note.php
  templates/emails/plain/customer-on-hold-order.php
  templates/emails/plain/customer-processing-order.php
  templates/emails/plain/customer-refunded-order.php
  templates/emails/plain/customer-reset-password.php
Labels: status: approved

#24615 Added escaping.
  includes/admin/class-wc-admin-log-table-list.php
Labels: status: approved

#24616 Fixed escaping function.
  includes/admin/class-wc-admin-profile.php
Labels: status: approved, status: needs changelog, status: needs testing instructions

#24618 Added escaping.
  includes/admin/class-wc-admin-log-table-list.php
Labels: status: approved

#24601 Update abstract-wc-legacy-order.php
  includes/legacy/abstract-wc-legacy-order.php
Labels: status: approved

#24630 Update class-wc-meta-box-product-images.php
  includes/admin/meta-boxes/class-wc-meta-box-product-images.php
Labels: status: approved

#24639 use `esc_html__` instead of `esc_html`
  includes/admin/views/html-admin-page-addons.php
  includes/libraries/action-scheduler/classes/ActionScheduler_Abstract_ListTable.php
Labels: status: approved, status: needs changelog, status: needs testing instructions

#24668 Remove PHP 7.4 job from the list of Travis jobs allowed to fail
  .travis.yml
Labels: status: needs review

#24172 Update wording to redirect back to catalog when there's no orders or downloads in My Account
  templates/myaccount/downloads.php
  templates/myaccount/orders.php
Labels: status: approved, status: needs changelog

#23991 Fix - 23913, Delete product query transients when removing terms via …
  includes/class-wc-post-data.php
Labels: status: approved, status: needs changelog

#24650 Fix a typo in WC Payment Gateway abstract '3rd party gateway size'
  includes/abstracts/abstract-wc-payment-gateway.php
Labels: status: approved

#24412 Add new import filter in addition to existing action
  includes/import/abstract-wc-product-importer.php
Labels: status: approved

#24399 add $this param to woocommerce_email_additional_content_
  includes/emails/class-wc-email.php
Labels: status: approved

#24249 Avoid duplicated process for IPN and PDT payment
  includes/gateways/paypal/includes/class-wc-gateway-paypal-response.php
Labels: status: approved

#24229 Use $new_stock in woocommerce_update_product_stock_query
  includes/data-stores/class-wc-product-data-store-cpt.php
Labels: status: approved

#24203 Parse attribute_id as int not string
  includes/legacy/api/v3/class-wc-api-products.php
Labels: status: approved

#24159 Tweak: only consider orders created via checkout to hold stock
  includes/wc-stock-functions.php
Labels: status: approved

#24158 Hide Vietnam's state field
  includes/class-wc-countries.php
Labels: status: approved

#24154 Fix #24153 - Added filter to disable password change notification
  includes/shortcodes/class-wc-shortcode-my-account.php
Labels: status: approved

#24688 Fix admin sub-menus becoming unaligned when scrolling #24671
  includes/admin/list-tables/abstract-class-wc-admin-list-table.php
Labels: status: approved

#24613 Fixed escaping.
  includes/admin/class-wc-admin-attributes.php
Labels: status: approved

#24544 Prefer wc_get_checkout_url() instead of wc_get_page_permalink( 'checkout' )
  includes/abstracts/abstract-wc-payment-gateway.php
  includes/class-wc-order.php
  templates/checkout/form-login.php
Labels: status: approved

#24535 Fixed incorrect docs URL for failed order emails
  includes/emails/class-wc-email-failed-order.php
Labels: status: approved

#24339 Remove `blur` event to keep focus on select box.
  assets/js/frontend/add-to-cart-variation.js
Labels: status: approved

#24327 Fix - Issue on shipping rates tbody due to grammarly fix
  assets/css/admin.scss
Labels: status: needs changelog

#24614 Fixed escaping in class-wc-admin-dashboard.php
  includes/admin/class-wc-admin-dashboard.php
Labels: status: approved

#24476 Update wc-setup.scss
  assets/css/wc-setup.scss
Labels: status: approved, status: needs changelog

#24682 Update downloadable/virtual case in wc_update_product_lookup_tables_column( $column )
  includes/wc-product-functions.php
Labels: status: approved

#24665 Enable append hashes on custom events (like ajax requests)
  assets/js/frontend/geolocation.js
Labels: status: approved

#24652 Prevent browser cache when using back/forward buttons on non-cached pages
  includes/class-wc-cache-helper.php
Labels: status: approved

#24545 Fixed add to cart link for simple products on feed
  includes/class-wc-product-simple.php
Labels: status: approved

#24526 Fixed issue #24430
  includes/class-wc-order.php
Labels: status: approved

#24680 Update usage tracking UI, default to opted-out.
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: needs review

#24016 Force string comparison for customer_id
  includes/class-wc-session-handler.php
Labels: status: approved

#24347 Added selectWoo as dependency of country-select.
  includes/class-wc-frontend-scripts.php
Labels: status: approved

#24406 Add 'applied_coupon' trigger to checkout.js
  assets/js/frontend/checkout.js
Labels: status: approved

#24720 Allow select fields in credit card form to maintain value when the checkout form refreshes
  assets/js/frontend/checkout.js
Labels: status: approved

#24694 Add action hook after products tab
  templates/single-product/tabs/tabs.php
Labels: status: approved

#24696 Fix missing translations for WooCommerce Blocks
  bin/package-update.sh
Labels: status: approved

#24677 Small refactor in WC_Order methods to get formatted address
  includes/class-wc-order.php
Labels: status: approved

#24517 Control categories export field based on export type
  assets/js/admin/wc-product-export.js
Labels: status: approved

#24700 Fix alignment issues in the OBW
  assets/css/wc-setup.scss
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: needs review

#24440 Updated wording of subtotal of items in cart and review order
  templates/cart/cart.php
  templates/checkout/review-order.php
Labels: status: approved, status: needs changelog
