Repository woocommerce/woocommerce, pull requests merged in 2019-12, with the labels that each got.

#24849 Introduced woocommerce_kses_notice_allowed_tags filter
  includes/wc-notice-functions.php
Labels: status: approved

#25140 Return folder_exists error as success
  includes/wccom-site/class-wc-wccom-site-installer.php
Labels: status: approved

#24961 Changed wp_cache invalidation from using increment to using microtime.
  includes/admin/settings/class-wc-settings-tax.php
  includes/class-wc-ajax.php
  includes/class-wc-cache-helper.php
  includes/class-wc-post-data.php
  includes/class-wc-session-handler.php
  includes/class-wc-tax.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-shipping-zone-data-store.php
  includes/data-stores/class-wc-webhook-data-store.php
  includes/legacy/api/v2/class-wc-api-products.php
  includes/legacy/api/v3/class-wc-api-products.php
  includes/wc-attribute-functions.php
  includes/wc-order-functions.php
  includes/wc-order-item-functions.php
  includes/wc-update-functions.php
  tests/framework/helpers/class-wc-helper-product.php
  tests/framework/helpers/class-wc-helper-shipping-zones.php
Labels: status: approved

#24986 Prevent notice in PHP 7.4 when a variable product has no images
  includes/wc-product-functions.php
Labels: status: approved

#25132 Added empty categories to the product exporter admin view
  includes/admin/views/html-admin-page-product-export.php
Labels: status: approved

#25071 Include processing orders in tracker data.
  includes/class-wc-tracker.php
Labels: status: approved

#25026 Made usage tracking link in setup more transparent
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#25112 Improve error codes for plugin installer API authentication
  includes/wccom-site/class-wc-wccom-site.php
  includes/wccom-site/rest-api/class-wc-rest-wccom-site-installer-errors.php
  includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
Labels: status: approved

#25098 Url encode "wccom-back" param in in-app purchase product link
  includes/admin/class-wc-admin-addons.php
Labels: status: approved

#24822 Make variables default to allow overriding
  assets/css/_variables.scss
Labels: status: approved

#25158 Add woocommerce_order_payment_status_changed action
  includes/class-wc-order.php
Labels: status: approved

#25130 Ignore renovate.json while generating packages
  .gitattributes
Labels: status: needs review

#24292 Prevent PHP notices in WooCommerce widgets using Gutenberg's Legacy Widget Block
  includes/abstracts/abstract-wc-widget.php
  includes/widgets/class-wc-widget-products.php
  includes/widgets/class-wc-widget-recently-viewed.php
  includes/widgets/class-wc-widget-top-rated-products.php
Labels: status: approved

#25101 Remove a few calls to func_get_args() and call_user_func_array()
  includes/admin/class-wc-admin-setup-wizard.php
  includes/class-wc-data-store.php
  includes/class-wc-emails.php
  includes/emails/class-wc-email.php
  includes/wc-core-functions.php
  includes/wc-term-functions.php
  tests/framework/class-wc-dummy-data-store.php
  tests/unit-tests/crud/data-store.php
Labels: status: approved

#25103 Fixed media element initialization for product variation descriptions
  assets/js/frontend/add-to-cart-variation.js
Labels: status: approved

#25084 Fixed manual sorting for products shortcode
  includes/class-wc-ajax.php
  includes/shortcodes/class-wc-shortcode-products.php
Labels: status: approved

#25064 Optimize variable product duplication slug generation
  includes/admin/class-wc-admin-duplicate-product.php
  tests/unit-tests/admin/class-wc-tests-admin-duplicate-product.php
Labels: status: approved

#25159 Ignore bin/ directory when generating WooCommerce zip file for GitHub
  .gitattributes
Labels: status: approved

#25089 Add support for '_held_for_checkout` records to prevent race conditions.
  includes/class-wc-checkout.php
  includes/class-wc-order.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/shortcodes/class-wc-shortcode-checkout.php
  includes/wc-order-functions.php
  includes/wc-stock-functions.php
  tests/unit-tests/checkout/checkout.php
  tests/unit-tests/order/class-wc-tests-order.php
Labels: status: approved

#25160 Fix PHP Notice: Undefined index: folder_exists
  includes/wccom-site/class-wc-wccom-site-installer.php
Labels: status: approved

#25131 Remove permalink reliance
  includes/wccom-site/class-wc-wccom-site.php
Labels: status: approved

#25077 Fix second param of action hook woocommerce_coupon_object_updated_props
  includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: status: approved

#25074 Added Photoswipe and jQuery-UI CSS minification
  .gitignore
  Gruntfile.js
  assets/css/jquery-ui/jquery-ui.min.css
  includes/class-wc-frontend-scripts.php
Labels: status: approved

#25049 Prevent creating products before registering related post types and taxonomies.
  includes/wc-product-functions.php
Labels: status: approved

#24991 Onboarding - Show the new experience to 10% of new users
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#24672 Add new Puppeteer front-end e2e test: cart page
  tests/e2e-tests/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e-tests/specs/front-end/front-end-cart.test.js
  tests/e2e-tests/utils/flows.js
Labels: status: approved

#24937 Add support for custom attributes to wc_placeholder_img().
  includes/abstracts/abstract-wc-product.php
  includes/wc-product-functions.php
  tests/unit-tests/product/data.php
  tests/unit-tests/product/functions.php
Labels: status: approved

#25168 Improvements and coding standards fixes for #24937
  includes/abstracts/abstract-wc-product.php
  includes/wc-product-functions.php
  tests/unit-tests/product/data.php
  tests/unit-tests/product/functions.php
Labels: status: approved

#25000 Initial support for "pay button"
  includes/abstracts/abstract-wc-payment-gateway.php
  includes/wc-template-functions.php
  includes/wc-template-hooks.php
  tests/framework/class-wc-mock-payment-gateway.php
  tests/unit-tests/gateways/gateways.php
  tests/unit-tests/templates/functions.php
Labels: status: approved

#24658 Add new Puppeteer front-end e2e test: my account page
  tests/e2e-tests/README.md
  tests/e2e-tests/config/jest-puppeteer.config.js
  tests/e2e-tests/specs/front-end/front-end-my-account.test.js
  tests/e2e-tests/utils/flows.js
Labels: status: approved

#24852 Refactor to remove PHP 7 Error
  includes/class-wc-order-factory.php
Labels: status: approved

#25001 Initial support to inline notices
  includes/class-wc-checkout.php
  includes/class-wc-form-handler.php
  includes/wc-notice-functions.php
  templates/notices/error.php
  templates/notices/notice.php
  templates/notices/success.php
  tests/unit-tests/util/notice-functions.php
Labels: status: approved

#25031 Introduced wc_get_product_object() helper
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  includes/class-wc-ajax.php
  includes/class-wc-shortcodes.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/import/abstract-wc-product-importer.php
  includes/import/class-wc-product-csv-importer.php
  includes/wc-product-functions.php
  tests/unit-tests/product/functions.php
Labels: status: approved

#24915 Show password hover on wc forms
  assets/css/woocommerce-layout.scss
  assets/js/frontend/woocommerce.js
Labels: status: approved

#25096 add password confirmation do_actions
  templates/myaccount/lost-password-confirmation.php
Labels: status: approved

#24934 Introduce show_invalid_variations_notice filter
  includes/admin/wc-admin-functions.php
Labels: status: approved

#25162 Hid variable parent products from "Add Products" search on order page
  assets/js/admin/wc-enhanced-select.js
  includes/admin/meta-boxes/views/html-order-items.php
  includes/class-wc-ajax.php
Labels: status: approved

#24828 Adds shared code between Orders and Cart calculation logic.
  includes/abstracts/abstract-wc-order.php
  includes/class-wc-cart-totals.php
  includes/class-woocommerce.php
  includes/traits/trait-wc-item-totals.php
  tests/unit-tests/cart/cart.php
  tests/unit-tests/order/class-wc-tests-orders.php
  tests/unit-tests/order/coupons.php
Labels: status: approved

#24765 Add subdivisions of Laos
  i18n/states.php
Labels: status: approved

#25178 Raise exception when WC_Product_Variation is instantiated with the wrong ID
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
  tests/unit-tests/product/product-variation.php
Labels: status: approved

#24935 Do not run send_frame_options_header when on the customizer
  includes/wc-template-functions.php
Labels: status: approved

#24683 Refine static homepage check to exclude blog archive queries. Fixes #…
  includes/class-wc-query.php
Labels: status: approved

#24208 Honor tax rounding preference in edit item and refund flows
  assets/js/admin/meta-boxes-order.js
  includes/admin/meta-boxes/views/html-order-item.php
Labels: status: approved

#24271 Eliminate update order AJAX request on checkout page load
  assets/js/frontend/checkout.js
Labels: status: approved

#24374 Fix #24365: Prevent billing address from being updated on shipping update.
  includes/shortcodes/class-wc-shortcode-cart.php
Labels: status: approved

#24586 Fixed issue #24575
  includes/shortcodes/class-wc-shortcode-products.php
Labels: status: approved

#24609 Added unload event to prevent reload during checkout (#24429)
  assets/js/frontend/checkout.js
Labels: status: approved, status: needs changelog

#25059 Allow related title changes
  templates/single-product/related.php
Labels: status: approved

#25180 Fixed sorting order in shortcode
  includes/shortcodes/class-wc-shortcode-products.php
  tests/unit-tests/shortcodes/products.php
Labels: status: approved

#24914 Fixed misleading message for Shipping options in cart
  templates/cart/cart-shipping.php
Labels: status: approved

#24928 Fix invalid comments in email templates
  templates/emails/customer-new-account.php
  templates/emails/customer-reset-password.php
  templates/emails/plain/customer-invoice.php
  templates/emails/plain/customer-new-account.php
  templates/emails/plain/customer-note.php
  templates/emails/plain/customer-reset-password.php
Labels: status: approved

#25174 Add postcode validation for Slovenia
  includes/class-wc-validation.php
  tests/unit-tests/util/validation.php
Labels: status: needs feedback

#24281 Handle multiple decimal points
  assets/js/admin/woocommerce_admin.js
  includes/admin/class-wc-admin-assets.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/wc-formatting-functions.php
  tests/unit-tests/formatting/functions.php
Labels: status: approved

#25197 Applied setup wizard CSS fixes to the respective WP versions
  assets/css/admin.scss
  assets/css/wc-setup.scss
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#24876 refs #24638 Fixed Stock status update on Bulk Edit
  includes/admin/class-wc-admin-post-types.php
Labels: status: approved

#25181 Updated Blocks and REST API packages
  composer.json
  composer.lock
Labels: status: approved

#25198 Fix WordPress nightly unit tests
  tests/unit-tests/product/data.php
Labels: status: approved

#25201 Hide Edge native "reveal password" feature
  assets/css/woocommerce-layout.scss
Labels: status: approved

#25202 3.9 changelog
  readme.txt
Labels: status: approved

#25203 Updated version to 3.9.0-beta.1
  woocommerce.php
Labels: status: approved

#25204 Updated email-addresses.php template version
  templates/emails/email-addresses.php
Labels: status: approved

#25208 Update "account erasure request" links in Accounts&Privacy settings
  includes/admin/settings/class-wc-settings-accounts.php
Labels: status: approved

#25210 Update changelog
  readme.txt
Labels: status: approved

#24764 Set image CSS on emails to be max-width: 100%
  templates/emails/email-styles.php
Labels: status: approved

#24676 Add new Puppeteer front-end e2e test: checkout page
  tests/e2e-tests/README.md
  tests/e2e-tests/config/default.json
  tests/e2e-tests/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e-tests/specs/front-end/front-end-cart.test.js
  tests/e2e-tests/specs/front-end/front-end-checkout.test.js
  tests/e2e-tests/specs/front-end/front-end-single-product.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-product-new.test.js
  tests/e2e-tests/utils/components.js
  tests/e2e-tests/utils/flows.js
Labels: status: approved

#25216 Centralize check for default themes
  includes/admin/class-wc-admin-setup-wizard.php
  includes/class-woocommerce.php
  includes/wc-core-functions.php
Labels: status: approved

#25230 Add pay order product has enough stock filter
  includes/shortcodes/class-wc-shortcode-checkout.php
Labels: status: approved

#24818 fixed the jQuery data() caching issue
  assets/js/frontend/add-to-cart.js
Labels: status: approved

#25093 Before and after product list hooks
  templates/single-product/add-to-cart/grouped.php
Labels: status: approved

#24929 Add woocommerce_admin_process_variation_object before $variation->save()
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: status: approved

#25234 Replace removed WordPress.Security.NonceVerification.NoNonceVerification
  includes/admin/class-wc-admin-menus.php
  includes/admin/class-wc-admin-meta-boxes.php
  includes/admin/class-wc-admin.php
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  includes/admin/importers/class-wc-tax-rate-importer.php
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/list-tables/class-wc-admin-list-table-products.php
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  includes/admin/reports/class-wc-report-sales-by-date.php
  includes/admin/reports/class-wc-report-sales-by-product.php
  includes/admin/settings/class-wc-settings-tax.php
  includes/class-wc-form-handler.php
  includes/class-wc-query.php
  includes/gateways/bacs/class-wc-gateway-bacs.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
  includes/tracks/events/class-wc-extensions-tracking.php
  includes/tracks/events/class-wc-importer-tracking.php
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: needs review

#25260 Add WP version check before recommending WooCommerce Admin
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#25251 Adjusted the checkout email validation regex to be more accurate
  assets/js/frontend/checkout.js
Labels: status: approved

#25259 Update Renovate bot configuration to update dev dependencies once per month
  renovate.json
Labels: status: approved

#25194 Use PHP 7.4 instead of PHP 7.4snapshot in Travis
  .travis.yml
Labels: status: approved

#24218 Migrate E2E Test Suite from Selenium Webdriver to Puppeteer
  .babelrc
  .eslintrc
  .travis.yml
  Dockerfile
  babel.config.js
  docker-compose.yaml
  package-lock.json
  package.json
  tests/bin/e2e-test-integration.js
  tests/bin/install.sh
  tests/bin/run-e2e-CI.sh
  tests/e2e-tests/README.md
  tests/e2e-tests/config-setup.js
  tests/e2e-tests/config/custom-environment-variables.json
  tests/e2e-tests/config/default.json
  tests/e2e-tests/config/jest-custom-sequencer.js
  tests/e2e-tests/config/jest-puppeteer.config.js
  tests/e2e-tests/config/jest-puppeteer.dev.config.js
  tests/e2e-tests/config/jest.config.js
  tests/e2e-tests/config/jest.setup.js
  tests/e2e-tests/config/local-sample.json
  tests/e2e-tests/config/test:e2e.json
  tests/e2e-tests/front-end/cart-page.js
  tests/e2e-tests/front-end/checkout-page.js
  tests/e2e-tests/front-end/my-account-page.js
  tests/e2e-tests/front-end/single-product.js
  tests/e2e-tests/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e-tests/specs/front-end/front-end-cart.test.js
  tests/e2e-tests/specs/front-end/front-end-checkout.test.js
  tests/e2e-tests/specs/front-end/front-end-my-account.test.js
  tests/e2e-tests/specs/front-end/front-end-single-product.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-coupon-new.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-order-new.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-product-new.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-settings-general.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-settings-product.test.js
  tests/e2e-tests/specs/wp-admin/wp-admin-settings-tax.test.js
  tests/e2e-tests/utils/components.js
  tests/e2e-tests/utils/flows.js
  tests/e2e-tests/utils/index.js
  tests/e2e-tests/wp-admin/wp-admin-coupon-new.js
  tests/e2e-tests/wp-admin/wp-admin-order-new.js
  tests/e2e-tests/wp-admin/wp-admin-product-new.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-general.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-products-downloadable.js
  tests/e2e-tests/wp-admin/wp-admin-wc-settings-tax.js
Labels: status: approved

#25258 Improvements to PHPCS configuration file
  phpcs.xml
Labels: status: approved

#25284 Fix a typo
  includes/abstracts/abstract-wc-payment-gateway.php
Labels: status: approved

#25298 Fix typo in test installation instructions.
  tests/e2e-tests/README.md
Labels: status: approved

#25128 Changed the shipping rates to not calculate until a full address is provided
  includes/class-wc-shipping.php
  tests/framework/helpers/class-wc-helper-order.php
  tests/unit-tests/cart/cart.php
  tests/unit-tests/coupon/coupon.php
  tests/unit-tests/shipping/shipping-zone.php
  tests/unit-tests/shipping/shipping-zones.php
  tests/unit-tests/shipping/shipping.php
  tests/unit-tests/totals/totals.php
Labels: status: approved

#25312 Fixed number of filter args in WC_Emails
  includes/class-wc-emails.php
Labels: status: approved

#25279 Remove PHP 7.2 Travis build job from allow_failures list
  .travis.yml
Labels: status: approved

#25300 E2E Tests: mount directory instead of copy.
  Dockerfile
  docker-compose.yaml
  tests/e2e-tests/README.md
Labels: status: approved

#25195 Use latest PHP version to run Travis build jobs
  .travis.yml
Labels: status: approved

#25327 update composer.lock to use the correct blocks version hash
  composer.lock
Labels: status: approved
