Repository woocommerce/woocommerce, pull requests merged in 2020-12, with the labels that each got.

#27558 Add before set stock action hook(s)
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/wc-stock-functions.php
Labels: enhancement

#28465 Correct Puerto Rico address validation
  i18n/states.php
  includes/class-wc-countries.php
  includes/class-wc-validation.php
  includes/wc-formatting-functions.php
Labels: needs cherry picking, priority: high

#28340 Add shop page compatibility for Twenty Twenty-One
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28433 Add "My Account - Edit Address" page compatibility for Twenty Twenty-One
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28492 2021 Theme Compat: Update the single product page and the sales badge for mobile.
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28406 Add "My Account - Orders" page compatibility for Twenty Twenty-One
  assets/css/_mixins.scss
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28420 Add "My Account - Downloads" page compatibility for Twenty Twenty-One
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28443 Add "My Account - Payment Methods" page compatibility for Twenty Twenty-One
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28491 Update woocomerce-admin to 1.7.3
  bin/composer/mozart/composer.lock
  bin/composer/phpcs/composer.lock
  bin/composer/phpunit/composer.lock
  bin/composer/wp/composer.lock
  composer.json
  composer.lock
Labels: needs cherry picking

#28407 Add "My Account - Details" page compatibility for Twenty Twenty-One
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28463 Implement peer dependencies in E2E packages
  tests/e2e/core-tests/package.json
  tests/e2e/utils/package.json
Labels: E2E, package: e2e-core-tests, package: e2e-environment, package: e2e-utils, tools

#28487 Use composer --no-dev in Travis for E2E
  .travis.yml
Labels: E2E, tools

#28464 Add missing E2E package dependencies
  assets/css/_mixins.scss
  assets/css/twenty-twenty-one.scss
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/package.json
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/package.json
Labels: E2E, package: e2e-core-tests, package: e2e-utils, tools

#27675 Update href of premium support link
  includes/class-wc-install.php
Labels: status: in progress

#28437 Added tests for Merchant / Orders / Filter Orders flow
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  tests/e2e/specs/wp-admin/test-order-status-filters.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: E2E, package: e2e-core-tests, package: e2e-utils

#28587 add 12 hour delay to pulling new docker tags
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/bin/get-latest-docker-tag.js
Labels: package: e2e-environment, tools

#28556 Added new tests for the merchant order refund flow
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-refund.test.js
  tests/e2e/specs/wp-admin/test-order-refund.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#28599 Add e2e test for merchant orders > apply coupon
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/specs/wp-admin/test-order-apply-coupon.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#28635 use xpath to find onboarding set up shipping task
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
Labels: category: E2E, package: e2e-core-tests

#28624 Also include empty string and comment types for backward compat.
  includes/class-wc-comments.php
Labels: category: release highlight

#28620 Stock management regression fixes
  includes/admin/wc-admin-functions.php
  tests/php/includes/wc-stock-functions-tests.php
Labels: category: release highlight

#28612 Price calculation: fix documented return types
  includes/wc-product-functions.php
Labels: component: product, priority: low

#28537 [PHP 8] Fix Unknown named parameter error when running database update routines
  includes/class-wc-install.php
Labels: needs cherry picking

#28657 Update wc-admin dependency to 1.8.2
  bin/composer/mozart/composer.lock
  composer.json
  composer.lock
Labels: needs cherry picking

#28575 Add config variable for simple product price to default.json
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-refund.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout.test.js
  tests/e2e/env/config/default.json
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils
