Repository woocommerce/woocommerce, pull requests merged in 2020-10, with the labels that each got.

#27299 allow variation image to be removed via REST API
  includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: bug, priority: high, status: needs review, wc rest api

#27276 Fix e2e docker:ssh command to work in any repo
  package-lock.json
  tests/e2e/env/bin/docker-compose.js
  tests/e2e/env/package.json
  tests/e2e/env/utils/app-root.js
  tests/e2e/env/utils/get-app-name.js
  tests/e2e/env/utils/get-base-url.js
  tests/e2e/env/utils/index.js
  tests/e2e/env/utils/test-config.js
Labels: E2E, bug, status: needs review, task

#27679 add eslint & babel config functions to e2e-environment
  .eslintrc.js
  babel.config.js
  tests/e2e/env/README.md
  tests/e2e/env/config/index.js
  tests/e2e/env/config/use-config.js
  tests/e2e/env/index.js
Labels: E2E, status: needs review, task

#27289 use first gallery image on single product when image not assigned
  includes/wc-template-functions.php
  templates/single-product/product-image.php
  templates/single-product/product-thumbnails.php
Labels: design, status: needs review, templating

#27736 Update taxonomy template file names to `-`
  includes/class-wc-template-loader.php
  includes/wc-core-functions.php
  templates/content-product-cat.php
  templates/taxonomy-product-cat.php
  templates/taxonomy-product-tag.php
Labels: priority: high, status: approved, templating

#27432 Add support for URLs without a port to test:e2e
  package-lock.json
  package.json
  tests/e2e/env/bin/docker-compose.js
  tests/e2e/env/docker/wp-cli/entrypoint.sh
  tests/e2e/env/package-lock.json
  tests/e2e/env/utils/test-config.js
Labels: E2E, status: needs review, task

#27848 [PHP 8] Remove a useless test assertion that fails in PHP 8
  tests/legacy/unit-tests/core/main-class.php
Labels: status: needs review

#27840 [PHP 8] Convert optional-before-required parameters into required parameters
  includes/class-wc-cart-totals.php
  includes/class-wc-customer.php
  includes/class-wc-order.php
  includes/rest-api/Controllers/Version3/class-wc-rest-data-continents-controller.php
  includes/rest-api/Controllers/Version3/class-wc-rest-data-countries-controller.php
  includes/rest-api/Controllers/Version3/class-wc-rest-data-currencies-controller.php
  tests/legacy/framework/class-wc-api-unit-test-case.php
Labels: status: needs review

#27886 [4.6 Release Branch] Fixed Failing E2E Tests
  tests/e2e/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows.js
Labels: E2E, status: needs review

#27707 PHP8 Warning: Change __wakeup() to a public method
  includes/rest-api/Utilities/SingletonTrait.php
Labels: status: needs review

#27841 Update readme opening paragraphs
  readme.txt
Labels: status: needs review

#27748 Remove leftovers from the reverted improved filtering mechanism for variations
  includes/class-wc-install.php
  includes/class-wc-product-variation.php
  includes/data-stores/class-wc-product-variable-data-store-cpt.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
  includes/wc-update-functions.php
  tests/legacy/unit-tests/product/product-variation.php
  tests/unit-tests/product/class-wc-tests-product-variable-data-store-cpt.php
  tests/unit-tests/product/class-wc-tests-product-variation-data-store-cpt.php
Labels: status: needs review

#27753 Add composer-bin-plugin
  .gitignore
  .travis.yml
  bin/composer/phpcs/composer.json
  bin/composer/phpcs/composer.lock
  bin/composer/phpunit/composer.json
  bin/composer/phpunit/composer.lock
  bin/composer/wp/composer.json
  bin/composer/wp/composer.lock
  composer.json
  composer.lock
Labels: status: needs review

#27805 Core E2E test package
  package.json
  tests/e2e/core-tests/index.js
  tests/e2e/core-tests/package.json
  tests/e2e/core-tests/specs/activate-and-setup/activate.test.js
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  tests/e2e/core-tests/specs/activate-and-setup/setup.test.js
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-coupon-new.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-new.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-general.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-product.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-tax.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout.test.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-single-product.test.js
  tests/e2e/env/bin/e2e-test-integration.js
  tests/e2e/env/config/jest.config.js
  tests/e2e/specs/activate-and-setup/setup-onboarding.test.js
  tests/e2e/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e/specs/activate-and-setup/test-activation.js
  tests/e2e/specs/activate-and-setup/test-initial-settings.js
  tests/e2e/specs/activate-and-setup/test-onboarding-tasklist.js
  tests/e2e/specs/front-end/front-end-cart.test.js
  tests/e2e/specs/front-end/front-end-checkout.test.js
  tests/e2e/specs/front-end/front-end-my-account.test.js
  tests/e2e/specs/front-end/front-end-single-product.test.js
  tests/e2e/specs/front-end/shopper.test.js
  tests/e2e/specs/front-end/test-cart.js
  tests/e2e/specs/front-end/test-checkout.js
  tests/e2e/specs/front-end/test-my-account.js
  tests/e2e/specs/front-end/test-single-product-page.js
  tests/e2e/specs/wp-admin/merchant.test.js
  tests/e2e/specs/wp-admin/test-add-simple-product.js
  tests/e2e/specs/wp-admin/test-add-variable-product.js
  tests/e2e/specs/wp-admin/test-create-coupon.js
  tests/e2e/specs/wp-admin/test-create-order.js
  tests/e2e/specs/wp-admin/test-update-general-settings.js
  tests/e2e/specs/wp-admin/test-update-product-settings.js
  tests/e2e/specs/wp-admin/test-update-tax-settings.js
  tests/e2e/specs/wp-admin/wp-admin-coupon-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-order-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-product-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-general.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-product.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-tax.test.js
Labels: E2E, status: approved, task

#27836 @woocommerce/api: Added list() repository operation and classes for managing store settings
  package-lock.json
  package.json
  tests/e2e/api/.eslintrc.js
  tests/e2e/api/README.md
  tests/e2e/api/jest.config.js
  tests/e2e/api/package-lock.json
  tests/e2e/api/package.json
  tests/e2e/api/src/framework/__tests__/model-repository.spec.ts
  tests/e2e/api/src/framework/model-repository.ts
  tests/e2e/api/src/http/axios/__tests__/axios-interceptor.spec.ts
  tests/e2e/api/src/http/axios/__tests__/axios-response-interceptor.spec.ts
  tests/e2e/api/src/http/axios/__tests__/utils.spec.ts
  tests/e2e/api/src/http/axios/axios-client.ts
  tests/e2e/api/src/http/axios/axios-interceptor.ts
  tests/e2e/api/src/http/axios/axios-oauth-interceptor.ts
  tests/e2e/api/src/http/axios/axios-response-interceptor.ts
  tests/e2e/api/src/http/axios/utils.ts
  tests/e2e/api/src/http/http-client.ts
  tests/e2e/api/src/index.ts
  tests/e2e/api/src/models/index.ts
  tests/e2e/api/src/models/model.ts
  tests/e2e/api/src/models/products/simple-product.ts
  tests/e2e/api/src/models/settings/setting-group.ts
  tests/e2e/api/src/models/settings/setting.ts
  tests/e2e/api/src/repositories/rest/products/__tests__/simple-product.spec.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/api/src/repositories/rest/settings/__tests__/setting-group.spec.ts
  tests/e2e/api/src/repositories/rest/settings/__tests__/setting.spec.ts
  tests/e2e/api/src/repositories/rest/settings/setting-group.ts
  tests/e2e/api/src/repositories/rest/settings/setting.ts
  tests/e2e/api/src/services/__tests__/setting-service.spec.ts
  tests/e2e/api/src/services/index.ts
  tests/e2e/api/src/services/setting-service.ts
  tests/e2e/env/package-lock.json
Labels: E2E, status: needs review

#27830 [PHP 8] Add a custom round method to workaround an incompatibility of the buil-in function
  includes/abstracts/abstract-wc-order.php
  includes/admin/class-wc-admin-post-types.php
  includes/class-wc-ajax.php
  includes/class-wc-cart-totals.php
  includes/class-wc-cart.php
  includes/class-wc-coupon.php
  includes/class-wc-discounts.php
  includes/class-wc-tax.php
  includes/class-wc-webhook.php
  includes/cli/class-wc-cli-rest-command.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  includes/import/abstract-wc-product-importer.php
  includes/shipping/free-shipping/class-wc-shipping-free-shipping.php
  includes/shipping/legacy-free-shipping/class-wc-shipping-legacy-free-shipping.php
  includes/tracks/class-wc-tracks-client.php
  includes/traits/trait-wc-item-totals.php
  includes/wc-core-functions.php
  includes/wc-formatting-functions.php
  includes/wc-product-functions.php
  src/Utilities/NumberUtil.php
  tests/legacy/unit-tests/order/coupons.php
  tests/legacy/unit-tests/tax/tax.php
  tests/php/src/Utilities/NumberUtilTest.php
Labels: status: needs review

#27912 Fix "bin not installed" error on "composer install no-dev"
  composer.json
Labels: status: needs review

#27952 restore shipping setup test
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
Labels: E2E, bug

#27961 Update Travis configuration for running unit tests
  .travis.yml
Labels: status: needs review

#27838 Added security policy
  SECURITY.md
Labels: status: needs review

#27310 Fix deleting a tax class via WP CLI.
  includes/cli/class-wc-cli-rest-command.php
  includes/cli/class-wc-cli-runner.php
  includes/rest-api/Controllers/Version1/class-wc-rest-tax-classes-v1-controller.php
  includes/rest-api/Controllers/Version2/class-wc-rest-tax-classes-v2-controller.php
Labels: bug, component: wc-cli

#27898 Use "Set Password" page title for lost-password endpoint when setting a password
  includes/class-wc-breadcrumb.php
  includes/class-wc-form-handler.php
  includes/class-wc-query.php
  includes/shortcodes/class-wc-shortcode-my-account.php
  includes/wc-page-functions.php
Labels: enhancement, status: needs review

#27964 Document disabling puppeteer download
  tests/e2e/README.md
Labels: E2E, task

#27908 restore $attachment_ids for product thumbnails template
  includes/wc-template-functions.php
  templates/single-product/product-image.php
  templates/single-product/product-thumbnails.php
Labels: bug

#27763 Remove protection as we already diff and update only if needed.
  includes/admin/wc-admin-functions.php
  tests/php/includes/admin/class-wc-admin-functions-test.php
  tests/php/includes/class-wc-ajax-test.php
Labels: status: needs review

#27790 Expose automattic/puppeteer-utils in e2e-environment
  tests/e2e/core-tests/specs/activate-and-setup/setup.test.js
  tests/e2e/env/index.js
Labels: E2E, status: needs review

#27913 add test:e2e-debug command
  package.json
  tests/e2e/README.md
  tests/e2e/env/bin/e2e-test-integration.js
  tests/e2e/env/package-lock.json
  tests/e2e/env/package.json
Labels: E2E, status: needs review, task

#27914 Only attempt to run E2E tests if testing host is ready
  tests/e2e/env/bin/wait-for-build.sh
Labels: E2E, status: needs review, task

#27976 add e2e-environment package changelog
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/package.json
Labels: E2E, task

#27965 switch to api package, bump utils package version
  tests/e2e/utils/package.json
Labels: E2E, status: needs review, task

#27977 Add the WP nightly build job to the allow_failures list
  .travis.yml
Labels: status: needs review

#27164 Add i18n locale information for Uganda, Kenya and Tanzania.
  i18n/locale-info.php
Labels: status: has feedback

#27301 Add guide for writing e2e tests in README
  tests/e2e/README.md
Labels: E2E, task

#27987 [PHP 8] Convert optional-before-required parameters into required parameters (take 2)
  includes/admin/class-wc-admin-taxonomies.php
  includes/walkers/class-wc-product-cat-dropdown-walker.php
  includes/walkers/class-wc-product-cat-list-walker.php
Labels: status: needs review

#28000 Remove unnecessary commands from Travis
  .travis.yml
Labels: status: needs review

#27999 Remove PHP 7.4 from the Travis job that runs E2E tests
  .travis.yml
Labels: status: needs review

#27995 Fix the Travis build job that runs PHPCS
  tests/bin/phpcs.sh
Labels: status: approved

#28006 Update woocommerce-admin to 1.6.2
  composer.json
  composer.lock
Labels: status: needs review

#28046 Update master branch after the release of WC 4.6.1
  changelog.txt
  readme.txt
Labels: status: needs review

#27607 Fixed cart weight return type.
  includes/class-wc-cart.php
Labels: status: has feedback

#28076 add docker:ssh to core repo scripts
  package.json
Labels: E2E, tools

#27994 expand e2e-utils readme, simplify exports
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows.js
  tests/e2e/utils/src/index.js
Labels: E2E, tools

#27978 update e2e-environment readme
  tests/e2e/env/README.md
Labels: E2E, tools

#27916 add readme to core tests package
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/index.js
Labels: E2E, tools

#28064 Improves i18n of string displayed during checkout
  includes/wc-cart-functions.php
Labels: i18n

#28116 fix flaky e2e coupon test
  composer.lock
  tests/e2e/core-tests/specs/merchant/wp-admin-coupon-new.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js
  tests/e2e/utils/src/page-utils.js
Labels: E2E, tools
