Repository woocommerce/woocommerce, pull requests merged in 2020-09, with the labels that each got.

#27509 Fix "Create variations from all attributes" for numeric attribute values
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
Labels: needs cherry picking, priority: high, status: approved

#27557 Bump wc-admin to 1.5.0-rc.3
  composer.json
  composer.lock
Labels: needs cherry picking, status: needs review

#27508 Fix filter by attribute widget now working for "Any..." attributes
  includes/wc-core-functions.php
  includes/widgets/class-wc-widget-layered-nav.php
  tests/unit-tests/widgets/class-wc-tests-widget-layered-nav.php
Labels: needs cherry picking, priority: high, status: needs review

#27571 Prepare for WC 4.5.0-rc2. Update changelog, readme, and version number.
  changelog.txt
  readme.txt
  woocommerce.php
Labels: needs cherry picking

#27572 Bump WooCommerce Admin to 1.5.0-rc.4; WooCommerce to 4.5.0-rc.3
  composer.json
  composer.lock
  tests/e2e/utils/src/components.js
  woocommerce.php
Labels: needs cherry picking

#27581 Fix OBW e2e test to reflect changes in WooCommerce 4.5 release
  tests/e2e/utils/src/components.js
Labels: needs cherry picking, status: needs review

#27496 Add KR locale info
  i18n/locale-info.php
Labels: status: needs review

#27495 Add 27 Egypt regions #26842
  i18n/states.php
Labels: status: needs review

#27008 Fix the error message shown for the max setting
  includes/customizer/class-wc-shop-customizer.php
Labels: status: needs review

#26957 Update types
  includes/class-wc-query.php
Labels: status: needs review

#27525 Fix #27523 - Define a background-color for the H1 in the email header
  templates/emails/email-styles.php
Labels: status: needs review

#25419 Return to Shop button filter
  templates/cart/cart-empty.php
Labels: status: approved

#27573 Bump woocommerce admin version to 1.5.0-rc.5
  composer.json
Labels: needs cherry picking, status: approved

#27594 Update minimum WordPress version for WooCommerce 4.5
  readme.txt
Labels: needs cherry picking, status: needs review

#27612 Fix composer install errors
  composer.lock
Labels: needs cherry picking, status: approved

#27590 Fix variations and attributes layout when running WP >= 5.5
  assets/css/admin.scss
Labels: needs cherry picking, status: needs review

#27589 Enhance the query for "Any" variations in filter by attribute widget
  includes/widgets/class-wc-widget-layered-nav.php
  tests/unit-tests/widgets/class-wc-tests-widget-layered-nav.php
Labels: needs cherry picking, status: approved

#27602 Bump WooCommerce Admin version to 1.5.0
  composer.json
  composer.lock
Labels: needs cherry picking, status: approved

#27548 Fixes spelling country's region Biscay #27538
  i18n/states.php
Labels: status: approved

#27614 Update the changelog, readme, and woocommerce.php to prepare for 4.5 release
  changelog.txt
  readme.txt
  tests/bin/phpcs.sh
  woocommerce.php
Labels: needs cherry picking, status: needs review

#27628 Check for state and postcode fields only if required
  includes/class-wc-cart.php
  tests/php/includes/class-wc-cart-test.php
Labels: status: needs review

#27630 Update changelog, readme, and version numbers for 4.5.1
  changelog.txt
  includes/class-woocommerce.php
  package.json
  readme.txt
  woocommerce.php
Labels: needs cherry picking, status: needs review

#27633 Allow zero as variation attribute option
  includes/class-wc-cart.php
  tests/legacy/unit-tests/cart/cart.php
Labels: priority: high, status: needs review

#27625 Revert improved filtering for variations
  includes/class-wc-product-variable.php
  includes/class-wc-query.php
  includes/widgets/class-wc-widget-layered-nav.php
  templates/content-product.php
  tests/legacy/unit-tests/product/product-variable.php
  tests/legacy/unit-tests/util/class-wc-tests-wc-query.php
Labels: needs cherry picking, priority: critical, status: approved

#27636 Remove duplicated entry for Cyprus
  i18n/continents.php
Labels: priority: high, status: needs review

#27113 Incorporate blocking issues feedback on initial e2e environment package
  .gitignore
  .travis.yml
  docker-compose.yaml
  package-lock.json
  package.json
  tests/e2e/README.md
  tests/e2e/config/jest.config.js
  tests/e2e/config/jest.setup.js
  tests/e2e/config/test-e2e.json
  tests/e2e/env/.env
  tests/e2e/env/README.md
  tests/e2e/env/bin/docker-compose.js
  tests/e2e/env/bin/docker-compose.sh
  tests/e2e/env/bin/e2e-test-integration.js
  tests/e2e/env/bin/wait-for-build.sh
  tests/e2e/env/builtin.md
  tests/e2e/env/config/env.setup.js
  tests/e2e/env/config/index.js
  tests/e2e/env/config/jest-puppeteer.config.js
  tests/e2e/env/config/jest.config.js
  tests/e2e/env/config/use-config.js
  tests/e2e/env/docker-compose.yaml
  tests/e2e/env/docker/wordpress/Dockerfile
  tests/e2e/env/docker/wp-cli/entrypoint.sh
  tests/e2e/env/external.md
  tests/e2e/env/index.js
  tests/e2e/env/package-lock.json
  tests/e2e/env/package.json
  tests/e2e/env/src/setup/jest.setup.js
  tests/e2e/env/utils/get-base-url.js
  tests/e2e/env/utils/index.js
  tests/e2e/env/utils/test-config.js
  tests/e2e/factories/package-lock.json
  tests/e2e/utils/package-lock.json
Labels: E2E, status: needs review, task

#27610 Encapsulate scope of `c` variable
  includes/wc-template-functions.php
Labels: status: approved

#27615 Fix bug when using tax classes with some non-ASCII characters
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: priority: high, status: approved, status: needs testing instructions

#27658 Prepare master for 4.6.0 development
  includes/class-woocommerce.php
  package.json
  woocommerce.php
Labels: status: approved

#27075 Rename Csongrád state to Csongrád-Csanád
  i18n/states.php
Labels: status: needs review

#27217 Adding states for Benin(BJ) country 🇧🇯
  i18n/states.php
Labels: status: needs review

#27219 Filter quantity in add_to_cart_handler_grouped
  includes/class-wc-form-handler.php
Labels: bug, component: cart, status: needs review

#27644 Update changelog, readme, and version numbers for 4.5.2
  changelog.txt
  readme.txt
Labels: needs cherry picking, status: needs review

#27666 Update versions for 4.5.2
  includes/class-woocommerce.php
  package.json
  woocommerce.php
Labels: status: needs review

#27645 prep e2e-utils package for publish
  tests/e2e/utils/package.json
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/factories.js
  tests/e2e/utils/src/index.js
Labels: E2E, status: needs review, task

#27662 Improve bool <-> string conversion functions docs
  includes/wc-formatting-functions.php
Labels: status: approved

#27667 Standardize usage of NVM
  .nvmrc
  .travis.yml
  package-lock.json
  package.json
  tests/e2e/env/package-lock.json
  tests/e2e/env/package.json
  tests/e2e/factories/package-lock.json
Labels: E2E, status: needs review

#27416 Fixed country list sorting
  includes/class-wc-countries.php
  includes/wc-core-functions.php
  tests/php/includes/wc-core-functions-test.php
Labels: priority: high, status: approved

#27613 Tweaks in the external issues template
  .github/ISSUE_TEMPLATE/2-External-issues.md
Labels: status: needs review

#27433 Change relative include paths to absolute include paths
  includes/admin/class-wc-admin-post-types.php
  includes/admin/class-wc-admin-settings.php
  includes/admin/class-wc-admin-status.php
  includes/admin/class-wc-admin-webhooks.php
  includes/admin/class-wc-admin.php
  includes/admin/list-tables/class-wc-admin-list-table-coupons.php
  includes/admin/list-tables/class-wc-admin-list-table-orders.php
  includes/admin/list-tables/class-wc-admin-list-table-products.php
  includes/admin/meta-boxes/class-wc-meta-box-order-downloads.php
  includes/admin/meta-boxes/class-wc-meta-box-order-items.php
  includes/admin/meta-boxes/class-wc-meta-box-order-notes.php
  includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  includes/admin/meta-boxes/views/html-order-item.php
  includes/admin/meta-boxes/views/html-order-items.php
  includes/admin/meta-boxes/views/html-order-shipping.php
  includes/admin/meta-boxes/views/html-product-data-attributes.php
  includes/admin/meta-boxes/views/html-product-data-general.php
  includes/admin/meta-boxes/views/html-variation-admin.php
  includes/admin/plugin-updates/class-wc-plugin-updates.php
  includes/admin/settings/class-wc-settings-checkout.php
  includes/admin/settings/class-wc-settings-tax.php
  includes/admin/settings/views/class-wc-settings-rest-api.php
  includes/class-wc-ajax.php
  includes/class-wc-emails.php
  includes/class-wc-privacy.php
  includes/class-wc-shipping-zone.php
  includes/class-wc-webhook.php
  includes/gateways/paypal/class-wc-gateway-paypal.php
  includes/integrations/maxmind-geolocation/class-wc-integration-maxmind-geolocation.php
  includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
  includes/shipping/legacy-flat-rate/class-wc-shipping-legacy-flat-rate.php
  tests/legacy/unit-tests/util/class-wc-tests-core-functions.php
  tests/legacy/unit-tests/widgets/class-wc-tests-widget.php
Labels: priority: high, status: approved

#27676 Update WooCommerce Blocks package to 3.4.0
  composer.json
  composer.lock
Labels: status: needs review

#27616 Paypal gateway: protect code against a fatal error if WooCommerce is unable to communicate with PayPal
  includes/gateways/paypal/includes/class-wc-gateway-paypal-api-handler.php
  tests/php/includes/gateways/paypal/class-wc-gateway-paypal-test.php
Labels: priority: high, status: needs review

#27634 Added filter for no stock notification emails
  includes/class-wc-emails.php
Labels: status: needs review

#26853 deprecate wc-setup
  assets/css/wc-setup.scss
  assets/js/admin/wc-setup.js
  includes/admin/class-wc-admin-help.php
  includes/admin/class-wc-admin-notices.php
  includes/admin/class-wc-admin-setup-wizard.php
  includes/admin/class-wc-admin.php
  includes/admin/views/html-notice-install.php
  includes/class-wc-install.php
  includes/tracks/class-wc-site-tracking.php
  includes/tracks/events/class-wc-admin-setup-wizard-tracking.php
  tests/legacy/unit-tests/account/functions.php
  tests/legacy/unit-tests/setup/functions.php
Labels: component: onboarding wizard, status: needs review, task

#27047 Removed Features settings and home screen option
  includes/admin/settings/class-wc-settings-advanced.php
  includes/class-wc-install.php
Labels: priority: high, status: approved, status: blocked, task

#27712 Bump woocommerce-admin to 1.6.0-beta.1
  composer.json
  composer.lock
Labels: status: needs review

#27648 Revise default version selection in @wordpress/e2e-environment
  package-lock.json
  tests/e2e/env/bin/docker-compose.sh
  tests/e2e/env/bin/get-latest-docker-tag.js
  tests/e2e/env/package-lock.json
  tests/e2e/env/package.json
  tests/e2e/factories/package-lock.json
Labels: E2E, status: needs review

#27747 Fix two minor issues related with the setup wizard deprecation
  includes/admin/class-wc-admin-setup-wizard.php
Labels: status: approved

#27714 Add missing headless flag for running e2e tests in dev mode + README updates
  tests/e2e/README.md
  tests/e2e/env/config/env.setup.js
  tests/e2e/env/config/jest-puppeteer.config.js
Labels: E2E, status: needs review, task

#27759 Fix pre-push hook used by husky
  bin/pre-push.sh
Labels: status: needs review

#27785 Update onboarding flow for 4.6
  tests/e2e/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows.js
Labels: E2E, status: needs review

#27806 Add back in activation transient to redirect on install
  includes/class-wc-install.php
Labels: needs cherry picking, status: approved
