Repository woocommerce/woocommerce, pull requests merged in 2020-05, with the labels that each got.

#26370 Update version number and cherry-pick commits.
  includes/admin/helper/class-wc-helper.php
  woocommerce.php
Labels: status: approved

#26379 Updated changelog and stable version
  CHANGELOG.txt
  readme.txt
  woocommerce.php
Labels: status: approved

#26375 Remove JSHint since we're using ESLint in commit hooks
  .jshintrc
  Gruntfile.js
  assets/js/admin/api-keys.js
  assets/js/admin/backbone-modal.js
  assets/js/admin/meta-boxes-order.js
  assets/js/admin/meta-boxes-product.js
  assets/js/admin/product-ordering.js
  assets/js/admin/quick-edit.js
  assets/js/admin/reports.js
  assets/js/admin/settings-views-html-settings-tax.js
  assets/js/admin/term-ordering.js
  assets/js/admin/wc-product-import.js
  assets/js/admin/wc-shipping-zone-methods.js
  assets/js/admin/wc-shipping-zones.js
  assets/js/admin/woocommerce_admin.js
  assets/js/frontend/add-to-cart-variation.js
  assets/js/frontend/cart.js
  assets/js/frontend/tokenization-form.js
  package-lock.json
  package.json
Labels: status: approved

#26262 Add a put method to the WC_Helper_API
  includes/admin/helper/class-wc-helper-api.php
  tests/unit-tests/helper/class-wc-helper-api.php
Labels: status: approved

#26109 Add/e2e env component
  .eslintrc
  .eslintrc.js
  .gitignore
  .travis.yml
  babel.config.js
  composer.json
  composer.lock
  docker-compose.yaml
  package-lock.json
  package.json
  tests/bin/e2e-test-integration.js
  tests/e2e-tests/config/jest-puppeteer.config.js
  tests/e2e-tests/config/jest.config.js
  tests/e2e-tests/config/jest.setup.js
  tests/e2e/README.md
  tests/e2e/config/jest.config.js
  tests/e2e/config/test-e2e.json
  tests/e2e/docker/initialize.sh
  tests/e2e/env/.env
  tests/e2e/env/.eslintrc.js
  tests/e2e/env/.npmrc
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/babel.config.js
  tests/e2e/env/bin/docker-compose.js
  tests/e2e/env/bin/e2e-test-integration.js
  tests/e2e/env/bin/install-wp-tests.sh
  tests/e2e/env/bin/wait-for-build.sh
  tests/e2e/env/config/default.json
  tests/e2e/env/config/env.setup.js
  tests/e2e/env/config/jest-custom-sequencer.js
  tests/e2e/env/config/jest-puppeteer.config.js
  tests/e2e/env/config/jest.config.js
  tests/e2e/env/config/jest.setup.js
  tests/e2e/env/config/test-e2e.json
  tests/e2e/env/docker-compose.yaml
  tests/e2e/env/docker/wordpress/Dockerfile
  tests/e2e/env/docker/wp-cli/Dockerfile
  tests/e2e/env/docker/wp-cli/entrypoint.sh
  tests/e2e/env/docker/wp-cli/wait-for-it.sh
  tests/e2e/env/index.js
  tests/e2e/env/package.json
  tests/e2e/env/utils/app-root.js
  tests/e2e/env/utils/index.js
  tests/e2e/env/webpack-alias.js
  tests/e2e/specs/activate-and-setup/setup-wizard.test.js
  tests/e2e/specs/front-end/front-end-cart.test.js
  tests/e2e/specs/front-end/front-end-checkout.test.js
  tests/e2e/specs/front-end/front-end-my-account.test.js
  tests/e2e/specs/front-end/front-end-single-product.test.js
  tests/e2e/specs/wp-admin/wp-admin-coupon-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-order-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-product-new.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-general.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-product.test.js
  tests/e2e/specs/wp-admin/wp-admin-settings-tax.test.js
  tests/e2e/utils/components.js
  tests/e2e/utils/flows.js
  tests/e2e/utils/index.js
  webpack.config.js
Labels: status: approved

#26044 Added new filter for modification of order processing count in menu
  includes/admin/class-wc-admin-menus.php
Labels: status: approved

#26426 Ignore *.swp files
  .gitignore
Labels: status: approved

#26415 Fix variable name typo in class-wc-admin-addons.php file
  includes/admin/class-wc-admin-addons.php
Labels: status: approved

#26417 Add tracking events on products view and search.
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: approved

#26056 Fixes broken unit test
  tests/legacy/unit-tests/cart/cart.php
Labels: status: approved

#26429 Add tracking events on product categories and tags view and search
  includes/tracks/events/class-wc-products-tracking.php
Labels: status: approved

#26427 update tests and e2e readme instructions, file locations
  tests/README.md
  tests/e2e/README.md
  tests/e2e/env/README.md
  tests/e2e/env/package.json
Labels: status: approved

#26025 Add method to get base data from order object.
  includes/class-wc-order.php
Labels: status: approved

#26358 Clear only plugin cache if WC header are not present to load with WC headers.
  includes/admin/helper/class-wc-helper.php
  phpcs.xml
  tests/legacy/data/sample-woo-plugin.php
  tests/php/includes/admin/helper/WCHelperTest.php
Labels: status: approved

#26022 Always pass attribute name to a 'woocommerce_attribute_label' filter
  includes/wc-attribute-functions.php
Labels: status: approved

#26361 Pass $customer to woocommerce_match_rates hook.
  includes/class-wc-tax.php
Labels: status: approved

#25517 Fix duplicated custom fields after import products from .csv file
  includes/admin/importers/class-wc-product-csv-importer-controller.php
Labels: status: approved

#25598 Hide Germany's, Denmark's and Sweden's state field
  includes/class-wc-countries.php
Labels: status: approved

#25630 Replace {site_address} by {site_url} for consistency
  includes/admin/settings/class-wc-settings-emails.php
  includes/class-wc-emails.php
  includes/emails/class-wc-email-customer-invoice.php
  includes/emails/class-wc-email-customer-processing-order.php
  includes/emails/class-wc-email.php
Labels: status: approved

#25760 Conditionally disable ajax add to cart
  assets/js/frontend/add-to-cart.js
Labels: status: approved

#26163 Change "though" to "through"
  includes/admin/class-wc-admin-settings.php
  includes/admin/wc-admin-functions.php
Labels: status: approved

#26111 Edit wrong hooked function, issue #25996
  templates/content-single-product.php
Labels: status: approved

#26132 bugfix for show password icon and password hint
  assets/js/frontend/woocommerce.js
Labels: status: approved

#26273 Add Ghanaian regions to populate the State field on checkout
  i18n/states.php
Labels: status: approved

#26272 Hide Postcode/Zip field on billing/shipping form when Ghana is selected
  includes/class-wc-countries.php
Labels: status: approved

#26245 Correct DocBlock in email template file
  templates/emails/plain/email-customer-details.php
Labels: status: approved

#26167 Removed legacy notification to connect with WooCommerce
  includes/admin/helper/class-wc-helper.php
Labels: component: notice, status: approved

#26387 Allow schedule coupons via CRUD
  includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: status: approved

#26296 Correct argument count for action hooked on `woocommerce_process_shop…
  includes/admin/class-wc-admin-meta-boxes.php
Labels: status: approved

#26308 Fix matching zones query for working with sqlite
  includes/data-stores/class-wc-shipping-zone-data-store.php
Labels: status: approved

#26080 Addons/Helper: fix toggles in RTL mode
  includes/admin/helper/class-wc-helper.php
Labels: status: approved

#25654 Add option to override element tag container in checkout forms
  assets/js/frontend/country-select.js
Labels: status: approved

#26409 Add tracking event on order search.
  includes/tracks/events/class-wc-orders-tracking.php
Labels: status: approved

#26430 clear floats for upsells and related products. Closes #26334.
  assets/css/twenty-twenty.scss
Labels: status: approved

#26411 Pass the result of _n() through sprintf() to ensure placeholders are replaced
  includes/class-wc-form-handler.php
Labels: status: approved

#26456 Update WC-REST API version to 1.0.8
  composer.json
  composer.lock
Labels: status: approved

#26251 [WC4.1 RC] WP 5.3 select2 css fixes broken in WP 5.4
  assets/css/admin.scss
  assets/css/wc-setup.scss
  includes/admin/class-wc-admin.php
Labels: status: approved

#26072 Privacy policy update
  assets/css/privacy.scss
  includes/admin/class-wc-admin-assets.php
  includes/class-wc-privacy.php
Labels: status: approved

#25575 Add Group Descriptions for Privacy Exporters
  includes/class-wc-privacy-exporters.php
  tests/legacy/unit-tests/privacy/export.php
Labels: status: approved

#26162 All provinces/states of Mozambique add
  i18n/states.php
Labels: status: approved

#26408 update Action Scheduler to 3.1.6
  assets/css/twenty-twenty.scss
  composer.json
  composer.lock
Labels: status: approved

#26207 Added notice to check if uploads directoy is public
  includes/admin/class-wc-admin-notices.php
  includes/admin/views/html-notice-uploads-directory-is-unprotected.php
Labels: status: needs review

#26448 Update README.md link to WooCommerce documentation
  README.md
Labels: status: approved

#26476 Prepare master for 4.3.0 development
  includes/class-woocommerce.php
  package.json
  woocommerce.php
Labels: status: approved

#26477 Added 4.1.0 entry in CHANGELOG.txt
  CHANGELOG.txt
Labels: status: approved

#26478 Prepare 4.2.0 release
  package.json
  readme.txt
  woocommerce.php
Labels: status: approved

#26479 Added the beta indicator to the plugin header
  woocommerce.php
Labels: status: approved

#26455 Add base db status report.
  includes/admin/class-wc-admin-status.php
  includes/admin/views/html-admin-page-status-report.php
Labels: status: needs review

#26410 Allow different notice types with WC_Admin_Notices
  assets/css/activation.scss
  assets/css/admin.scss
Labels: status: needs review

#26517 Revert "Fix duplicated custom fields after import products from .csv file"
  includes/admin/importers/class-wc-product-csv-importer-controller.php
Labels: needs cherry picking, status: approved

#26314 Build release workflow
  .distignore
  .github/workflows/build-release.yml
  .gitignore
  composer.json
Labels: status: needs review

#26407 Introduced script to generate a zip package
  bin/build-zip.sh
  package.json
Labels: status: needs review

#26386 Set an error ID for each WP_Error entry
  includes/class-wc-checkout.php
Labels: status: needs review

#26500 Refresh db update nonce on the Thank you notice
  includes/admin/notes/class-wc-notes-run-db-update.php
  tests/legacy/unit-tests/admin/notes/class-wc-tests-notes-run-db-update.php
Labels: status: approved

#26519 Fixed the case conversion for meta key column mapping in product CSV imports
  composer.json
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  tests/php/includes/admin/helper/class-wc-helper-test.php
  tests/php/includes/admin/importers/class-wc-product-csv-importer-controller-test.php
  tests/php/src/.gitkeep
Labels: status: approved

#26508 [4.2] Update WC()->version to 4.2.0 in release/4.2
  includes/class-woocommerce.php
Labels: status: approved

#26399 Disable directory listing for redirect download method
  includes/admin/class-wc-admin-settings.php
  includes/class-wc-install.php
  tests/legacy/unit-tests/admin/settings.php
Labels: status: approved

#26493 Add function to allow client-side enabling of tracks
  includes/tracks/class-wc-site-tracking.php
Labels: priority: high, status: needs review

#26546 Release prep/4.1.1
  CHANGELOG.txt
  composer.json
  composer.lock
  includes/admin/class-wc-admin-notices.php
  includes/admin/class-wc-admin-settings.php
  includes/admin/notes/class-wc-notes-run-db-update.php
  includes/admin/views/html-notice-uploads-directory-is-unprotected.php
  includes/class-wc-install.php
  includes/class-woocommerce.php
  includes/tracks/class-wc-site-tracking.php
  package.json
  readme.txt
  tests/unit-tests/admin/notes/class-wc-tests-notes-run-db-update.php
  tests/unit-tests/admin/settings.php
  woocommerce.php
Labels: status: approved

#26549 Call callback on tracking script load error
  includes/tracks/class-wc-site-tracking.php
Labels: status: approved

#26550 Adhere to WP support policy
  .travis.yml
  readme.txt
Labels: status: approved

#26556 4.2 RC.1 Preparation
  .travis.yml
  composer.json
  includes/admin/importers/class-wc-product-csv-importer-controller.php
  readme.txt
  tests/php/includes/admin/helper/class-wc-helper-test.php
  tests/php/includes/admin/importers/class-wc-product-csv-importer-controller-test.php
  tests/php/src/.gitkeep
  woocommerce.php
Labels: status: approved

#26557 Added 4.1.1 fixes into 4.2
  composer.json
  composer.lock
  includes/admin/class-wc-admin-settings.php
  includes/admin/notes/class-wc-notes-run-db-update.php
  includes/class-wc-install.php
  includes/tracks/class-wc-site-tracking.php
  readme.txt
  tests/legacy/unit-tests/admin/notes/class-wc-tests-notes-run-db-update.php
  tests/legacy/unit-tests/admin/settings.php
Labels: status: approved

#26522 Tweaks to e2e tests suite README
  tests/e2e/env/README.md
Labels: E2E

#26529 use nonced logout link for store owner logout
  tests/e2e/utils/flows.js
Labels: status: approved

#25753 Add is_enabled=1 check in wc_get_shipping_method_count()
  includes/admin/settings/class-wc-settings-shipping.php
  includes/wc-core-functions.php
Labels: status: approved

#26559 Updated the Jetpack Autoloader
  composer.json
  composer.lock
Labels: status: approved

#26596 Add asterisk to star rating if 'Star ratings should be required, not optional' checkbox is enabled
  templates/single-product-reviews.php
Labels: status: approved

#26600 Don't allow redirection while checking for uploads directory
  includes/admin/class-wc-admin-notices.php
Labels: status: approved

#26610 WooCommerce 4.2-RC.2 Preparation
  composer.json
  composer.lock
  includes/admin/class-wc-admin-notices.php
  readme.txt
  woocommerce.php
Labels: status: approved

#26615 Updated readme: stable version to 4.1.1 and changelog for 4.2
  CHANGELOG.txt
  readme.txt
Labels: status: approved

#26614 Add requires headers in plugin
  woocommerce.php
Labels: status: approved
