Repository woocommerce/woocommerce, pull requests merged in 2020-11, with the labels that each got.

#28052 PHP 8.0 - Use strict comparison to compare post dates
  includes/data-stores/abstract-wc-order-data-store-cpt.php
  includes/data-stores/class-wc-coupon-data-store-cpt.php
  includes/data-stores/class-wc-data-store-wp.php
  includes/data-stores/class-wc-product-data-store-cpt.php
  includes/data-stores/class-wc-product-variation-data-store-cpt.php
Labels: status: has feedback

#28186 @woocommerce/api: Better support pretty permalinks
  tests/e2e/api/README.md
  tests/e2e/api/src/http/axios/__tests__/axios-url-to-query-interceptor.spec.ts
  tests/e2e/api/src/http/axios/__tests__/utils.spec.ts
  tests/e2e/api/src/http/axios/axios-oauth-interceptor.ts
  tests/e2e/api/src/http/axios/axios-response-interceptor.ts
  tests/e2e/api/src/http/axios/axios-url-to-query-interceptor.ts
  tests/e2e/api/src/http/axios/utils.ts
  tests/e2e/api/src/http/http-client-factory.ts
  tests/e2e/utils/src/factories.js
Labels: package: api, status: approved

#28206 @woocommerce/api: Complete SimpleProduct implementation
  tests/e2e/api/package.json
  tests/e2e/api/src/__test_data__/dummy-model.ts
  tests/e2e/api/src/framework/__tests__/model-repository.spec.ts
  tests/e2e/api/src/framework/__tests__/model-transformer.spec.ts
  tests/e2e/api/src/framework/model-repository.ts
  tests/e2e/api/src/framework/model-transformer.ts
  tests/e2e/api/src/framework/transformations/__tests__/add-property-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/__tests__/custom-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/__tests__/ignore-property-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/__tests__/key-change-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/__tests__/model-transformer-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/__tests__/property-type-transformation.spec.ts
  tests/e2e/api/src/framework/transformations/add-property-transformation.ts
  tests/e2e/api/src/framework/transformations/custom-transformation.ts
  tests/e2e/api/src/framework/transformations/ignore-property-transformation.ts
  tests/e2e/api/src/framework/transformations/key-change-transformation.ts
  tests/e2e/api/src/framework/transformations/model-transformer-transformation.ts
  tests/e2e/api/src/framework/transformations/property-type-transformation.ts
  tests/e2e/api/src/models/products/abstract-product.ts
  tests/e2e/api/src/models/products/shared-types.ts
  tests/e2e/api/src/models/products/simple-product.ts
  tests/e2e/api/src/models/settings/setting-group.ts
  tests/e2e/api/src/models/settings/setting.ts
  tests/e2e/api/src/models/shared-types.ts
  tests/e2e/api/src/repositories/rest/__tests__/shared.spec.ts
  tests/e2e/api/src/repositories/rest/products/__tests__/simple-product.spec.ts
  tests/e2e/api/src/repositories/rest/products/shared.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/api/src/repositories/rest/settings/__tests__/setting-group.spec.ts
  tests/e2e/api/src/repositories/rest/settings/__tests__/setting.spec.ts
  tests/e2e/api/src/repositories/rest/settings/setting-group.ts
  tests/e2e/api/src/repositories/rest/settings/setting.ts
  tests/e2e/api/src/repositories/rest/shared.ts
  tests/e2e/utils/src/factories/simple-product.js
Labels: package: api, package: e2e-utils, tools

#28129 add lerna hoist, use consistent package versions
  package-lock.json
  package.json
  tests/e2e/api/package.json
  tests/e2e/env/package.json
  tests/e2e/utils/package.json
Labels: E2E, tools

#28198 add/update e2e package change logs
  tests/e2e/api/CHANGELOG.md
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/env/CHANGELOG.md
  tests/e2e/utils/CHANGELOG.md
Labels: E2E, tools

#28191 add permalinks working test
  tests/e2e/core-tests/specs/activate-and-setup/setup.test.js
Labels: E2E, package: e2e-core-tests

#27997 Fix checkout page not displaying visual blocking when place order is …
  assets/css/twenty-twenty.scss
Labels: status: approved

#28069 Fix stock reducing incorrect amount when order item is deleted after …
  includes/admin/wc-admin-functions.php
  tests/php/includes/admin/class-wc-admin-functions-test.php
Labels: status: approved

#28229 Add WooCommerce Payments banner to extensions screen
  assets/css/admin.scss
  assets/images/wcpayments-icon-secure.png
  includes/admin/class-wc-admin-addons.php
  includes/admin/views/html-admin-page-addons.php
Labels: status: approved

#28102 Exclude user table columns as well while setting metadata props
  includes/data-stores/class-wc-customer-data-store.php
  tests/php/includes/data-stores/class-wc-customer-data-store-test.php
Labels: component: data-store

#28115 bump node to version 12
  .nvmrc
Labels: tools

#28048 Remove dynamic build dependencies
  babel.config.js
  tests/e2e/env/config/jest.config.js
  tests/e2e/env/index.js
  tests/e2e/env/webpack-alias.js
  tests/e2e/utils/webpack-alias.js
  webpack.config.js
Labels: E2E, package: e2e-environment, tools

#28217 remove old setup wizard test
  tests/e2e/utils/src/components.js
Labels: package: e2e-core-tests

#28357 Version bump wc-admin 1.7.2
  composer.json
  composer.lock
Labels: status: needs developer feedback

#28041 add support for custom container initialization script
  tests/e2e/docker/init-wp-beta.sh
  tests/e2e/env/bin/docker-compose.js
  tests/e2e/env/bin/docker-compose.sh
Labels: E2E, package: e2e-environment, tools
