Repository woocommerce/woocommerce, pull requests merged in 2021-08, with the labels that each got.

#30325 Specify the `$object_type` property for the `WC_Customer` class
  includes/class-wc-customer.php
Labels: component: data-store

#30361 Added shipping classes cleanup to retest flow
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30445 Update My Subscriptions page title
  includes/admin/class-wc-admin-menus.php
Labels: needs feedback

#30398 Added order cleanup to e2e setup
  tests/e2e/config/jest.setup.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-utils

#30433 Set "Requires at least" to WP 5.6
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  bin/composer/mozart/composer.lock
  bin/composer/phpcs/composer.lock
  bin/composer/phpunit/composer.lock
  bin/composer/wp/composer.lock
  readme.txt
  woocommerce.php
Labels: needs cherry picking

#30457 turn off tracking in e2e onboarding tests
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-utils

#30460 Bump woocommerce-admin version to 2.5.0
  composer.json
  composer.lock
Labels: needs cherry picking

#30463 Update 5.6.0 changelog
  changelog.txt
Labels: needs cherry picking

#30466 skip WCCOM connection until browser support resolved
  tests/e2e/core-tests/specs/merchant/wp-admin-extensions-connect-wccom.test.js
Labels: category: E2E, package: e2e-core-tests

#30410 Add product card styling.
  assets/css/admin.scss
  includes/admin/helper/views/html-main.php
  includes/admin/helper/views/html-oauth-start.php
  includes/admin/views/html-admin-page-addons.php
Labels: has feedback

#30474 Added functionality for release testing workflow in e2e tests
  .github/workflows/smoke-test-release.yml
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/utils/get-plugin-zip.js
  tests/e2e/env/utils/index.js
  tests/e2e/specs/smoke-tests/update-woocommerce.js
Labels: category: E2E, package: e2e-environment

#30481 reset settings before cart, checkout tests
  tests/e2e/core-tests/specs/shopper/front-end-cart.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout.test.js
Labels: category: E2E, package: e2e-core-tests

#30456 filter out enhancement requests from stalebot
  .github/workflows/stalebot.yml
Labels: category: tools

#30406 Added check out DB update and run if it exists
  tests/e2e/specs/smoke-tests/update-woocommerce.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/merchant.js
Labels: category: E2E, package: e2e-utils

#30490 fix e2e-utils readme url in package.json
  tests/e2e/utils/package.json
Labels: category: E2E, package: e2e-utils

#30488 Update/marketplace page load track
  includes/tracks/events/class-wc-extensions-tracking.php
Labels: needs feedback

#30508 Bump woocommerce-admin version to 2.5.1
  composer.json
  composer.lock
Labels: needs cherry picking

#30492 Added default timeout override for e2e tests
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  tests/e2e/config/jest.setup.js
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/bin/e2e-test-integration.js
Labels: category: E2E, package: e2e-environment

#30518 Update WooCommerce Blocks package to 5.7.0
  bin/composer/mozart/composer.lock
  composer.json
  composer.lock
Labels: testing instructions added, changelog added

#30470 Update checkout tests to use API and wait on UI
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30529 bump the fallback WP version to 5.8.0
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/bin/docker-compose.sh
Labels: priority: high, category: E2E, package: e2e-environment

#30391 In-app marketplace redesign phase 1
  assets/css/admin.scss
  assets/images/icons/gridicons-checkmark.svg
  assets/images/icons/gridicons-chevron-down.svg
  assets/images/marketplace-header-bg@2x.png
  assets/js/admin/woocommerce_admin.js
  includes/admin/class-wc-admin-addons.php
  includes/admin/class-wc-admin-menus.php
  includes/admin/class-wc-admin.php
  includes/admin/helper/views/html-main.php
  includes/admin/helper/views/html-oauth-start.php
  includes/admin/helper/views/html-section-nav.php
  includes/admin/meta-boxes/views/html-product-data-general.php
  includes/admin/views/html-admin-page-addons.php
  includes/tracks/events/class-wc-extensions-tracking.php
  tests/e2e/core-tests/specs/merchant/wp-admin-extensions-connect-wccom.test.js
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
Labels: category: release highlight

#30537 fix e2e tag paging, bump fallback versions
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/bin/docker-compose.sh
  tests/e2e/env/bin/get-latest-docker-tag.js
Labels: priority: high, category: E2E, package: e2e-environment

#30541 update e2e dependencies to be consistent with main package
  package-lock.json
  package.json
  tests/e2e/env/package-lock.json
  tests/e2e/env/package.json
  tests/e2e/utils/package.json
Labels: category: E2E, package: e2e-environment, package: e2e-utils

#30184 Use API package to create orders by batch
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, category: tools, package: e2e-core-tests, package: e2e-utils

#30521 make test environment container messages more generic
  tests/e2e/env/bin/wait-for-build.sh
Labels: category: E2E, package: e2e-environment

#30523 Add/e2e create order component and update tests
  tests/e2e/core-tests/specs/activate-and-setup/activate.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-customer-payment-page.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-refund.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30560 Add try catch around updating ready page status
  tests/e2e/config/jest.setup.js
Labels: category: E2E

#30571 Fix for getting a bad archive for releases
  tests/e2e/env/utils/get-plugin-zip.js
  tests/e2e/specs/smoke-tests/update-woocommerce.js
Labels: category: E2E, package: e2e-environment

#30561 Remove unused WP test install from e2e environment package
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/bin/install-wp-tests.sh
  tests/e2e/env/package.json
Labels: package: e2e-environment, category: tools

#30597 Get environment context for tests including WP version and WC version
  tests/e2e/core-tests/specs/merchant/wp-admin-extensions-connect-wccom.test.js
  tests/e2e/core-tests/specs/shopper/front-end-product-browse-search-sort.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/with-rest-api.js
  tests/e2e/utils/src/index.js
  tests/e2e/utils/src/system-environment.js
Labels: category: E2E, package: e2e-environment, package: e2e-utils

#30609 Fix/e2e checkout page failures
  tests/e2e/core-tests/specs/shopper/front-end-checkout.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils
