Repository woocommerce/woocommerce, pull requests merged in 2021-09, with the labels that each got.

#30119 Add/e2e implement describe each
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/specs/merchant/wp-admin-analytics-page-loads.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account.test.js
  tests/e2e/utils/src/components.js
Labels: category: E2E, category: tools, package: e2e-core-tests

#30559 Added API testing package
  package.json
  tests/e2e/api-core-tests/.env.example
  tests/e2e/api-core-tests/.gitignore
  tests/e2e/api-core-tests/CHANGELOG.md
  tests/e2e/api-core-tests/README.md
  tests/e2e/api-core-tests/data/coupon.js
  tests/e2e/api-core-tests/data/index.js
  tests/e2e/api-core-tests/data/order.js
  tests/e2e/api-core-tests/data/shared/batch-update.js
  tests/e2e/api-core-tests/data/shared/customer.js
  tests/e2e/api-core-tests/data/shared/error-response.js
  tests/e2e/api-core-tests/data/shared/index.js
  tests/e2e/api-core-tests/endpoints/coupons.js
  tests/e2e/api-core-tests/endpoints/index.js
  tests/e2e/api-core-tests/endpoints/orders.js
  tests/e2e/api-core-tests/jest.config.js
  tests/e2e/api-core-tests/package-lock.json
  tests/e2e/api-core-tests/package.json
  tests/e2e/api-core-tests/tests/hello/hello.test.js
  tests/e2e/api-core-tests/tests/orders/orders.test.js
  tests/e2e/api-core-tests/utils/api-collection/build-collection.js
  tests/e2e/api-core-tests/utils/request.js
Labels: category: tools, package: api-core-tests

#30658 release package updates
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/package.json
  tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/package.json
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/package.json
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests, package: e2e-utils

#30640 Add additional context to have browse all products open in new tab cl…
  assets/js/admin/marketplace-suggestions.js
Labels: status: needs changelog

#30706 Fix in-app marketplace category dropdown menu on iOS
  assets/css/admin.scss
  assets/js/admin/woocommerce_admin.js
Labels: needs feedback

#30711 Update WooCommerce blocks to 5.9.0
  bin/composer/mozart/composer.lock
  bin/composer/phpcs/composer.lock
  composer.json
  composer.lock
Labels: status: in progress, testing instructions added

#30684 Run API tests with regular run and add script
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  package.json
  tests/e2e/api-core-tests/bin/wc-api-tests.sh
  tests/e2e/api-core-tests/package.json
Labels: category: E2E, package: api-core-tests

#30793 update e2e for WC Admin 2.7.0
  package-lock.json
  package.json
  tests/e2e/config/default.json
Labels: category: E2E

#30780 Fix for missing return in API core tests
  tests/e2e/api-core-tests/endpoints/coupons.js
  tests/e2e/api-core-tests/endpoints/orders.js
Labels: category: E2E, package: api-core-tests

#30696 Delete coupons instead of trashing them
  package-lock.json
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/specs/merchant/wp-admin-coupon-new.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-new.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/package-lock.json
  tests/e2e/utils/src/flows/utils.js
  tests/e2e/utils/src/index.js
  tests/e2e/utils/src/page-utils.js
  tests/e2e/utils/src/pages/admin-edit.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30698 Added workflow for running smoke tests on PR
  .github/workflows/pr-smoke-test.yml
Labels: category: E2E, run: smoke tests

#30822 add product id support to addToCartFromShopPage / removeFromCart
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-redirection.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-create-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-login-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout.test.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account-create-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-single-product.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/shopper.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30843 package lock maintenance
  package-lock.json
Labels: type: task
