Repository woocommerce/woocommerce, pull requests merged in 2021-07, with the labels that each got.

#30188 package maintenance for stylelint vulnerability
  package-lock.json
  package.json
Labels: type: task

#30206 remove e2e linting from main project linting
  .eslintrc.js
Labels: type: task

#30189 update DB in wp beta initialization script
  tests/e2e/docker/init-wp-beta.sh
  tests/e2e/env/docker/wp-cli/Dockerfile
Labels: category: E2E, category: tools

#30109 Added flows for updating WP, themes, and plugins
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
Labels: category: E2E, category: tools, package: e2e-utils

#30117 Added logic to draft and publish the ready page on each run
  package-lock.json
  tests/e2e/config/jest.setup.js
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/package.json
  tests/e2e/env/utils/index.js
  tests/e2e/env/utils/update-ready-page.js
Labels: category: E2E, category: tools

#30243 chore: add shipping dimensions to sample products
  sample-data/sample_products.xml
Labels: good first issue, type: enhancement, type: task

#30222 Update WooCommerce Blocks package to 5.5.0
  composer.json
  composer.lock
Labels: changelog added, testing instructions added

#30330 Added wait for selector in search
  tests/e2e/utils/src/flows/shopper.js
Labels: category: E2E, package: e2e-utils

#30291 Added plugin upload functionality
  .github/workflows/smoke-test-daily.yml
  .gitignore
  package-lock.json
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/package.json
  tests/e2e/env/utils/get-plugin-zip.js
  tests/e2e/env/utils/index.js
  tests/e2e/specs/smoke-tests/update-woocommerce.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/index.js
  tests/e2e/utils/src/flows/merchant.js
  tests/e2e/utils/src/flows/utils.js
Labels: category: E2E, category: tools, package: e2e-environment, package: e2e-utils

#30216 Update locale-info.php
  i18n/currency-info.php
  i18n/locale-info.php
Labels: category: i18n, component: currency, component: payment, impact: high, priority: low, type: enhancement

#30352 package lock maintenance
  package-lock.json
Labels: type: task

#30389 New marketplace addons header
  assets/css/admin.scss
  assets/images/marketplace-header-bg@2x.png
  includes/admin/views/html-admin-page-addons.php
Labels: has feedback
