Repository woocommerce/woocommerce, pull requests merged in 2021-10, with the labels that each got.

#30859 Allow safe HTML tags for My Subscriptions' notice
  includes/admin/helper/views/html-main.php
Labels: needs feedback

#30842 update page.waitFor to waitForTimeout
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-edit.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-tax.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-redirection.test.js
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/merchant.js
  tests/e2e/utils/src/flows/shopper.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30877 Bump WooCommerce Admin version to 2.7.1 final
  bin/composer/mozart/composer.lock
  bin/composer/phpcs/composer.lock
  bin/composer/phpunit/composer.lock
  bin/composer/wp/composer.lock
  composer.json
  composer.lock
Labels: needs cherry picking
