Repository woocommerce/woocommerce, pull requests merged in 2021-02, with the labels that each got.

#28995 simplify imports/exports in api package
  tests/e2e/api/src/__test_data__/dummy-model.ts
  tests/e2e/api/src/framework/__tests__/model-repository.spec.ts
  tests/e2e/api/src/framework/index.ts
  tests/e2e/api/src/framework/model-repository.ts
  tests/e2e/api/src/framework/model-transformer.ts
  tests/e2e/api/src/framework/transformations/index.ts
  tests/e2e/api/src/framework/transformations/key-change-transformation.ts
  tests/e2e/api/src/framework/transformations/model-transformer-transformation.ts
  tests/e2e/api/src/models/index.ts
  tests/e2e/api/src/models/products/index.ts
  tests/e2e/api/src/models/products/simple-product.ts
  tests/e2e/api/src/models/settings/index.ts
  tests/e2e/api/src/models/settings/setting-group.ts
  tests/e2e/api/src/models/settings/setting.ts
  tests/e2e/api/src/repositories/index.ts
  tests/e2e/api/src/repositories/rest/__tests__/shared.spec.ts
  tests/e2e/api/src/repositories/rest/index.ts
  tests/e2e/api/src/repositories/rest/products/index.ts
  tests/e2e/api/src/repositories/rest/products/shared.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/api/src/repositories/rest/settings/index.ts
  tests/e2e/api/src/repositories/rest/settings/setting-group.ts
  tests/e2e/api/src/repositories/rest/settings/setting.ts
  tests/e2e/api/src/repositories/rest/shared.ts
  tests/e2e/api/src/services/__tests__/setting-service.spec.ts
  tests/e2e/api/src/services/setting-service.ts
Labels: category: E2E, package: api

#28855 Add new e2e test shopper grouped product
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/shopper/front-end-single-product.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29059 fix import in get-app-name.js
  tests/e2e/env/utils/get-app-name.js
Labels: category: E2E, package: e2e-environment

#29060 allow env default.json to be untracked in git
  tests/e2e/env/config/default/default.json
  tests/e2e/env/utils/test-config.js
Labels: category: E2E, package: e2e-environment

#28906 @woocommerce/e2e-utils: updated fishery to 1.2
  package-lock.json
  tests/e2e/env/package-lock.json
  tests/e2e/utils/package.json
  tests/e2e/utils/src/factories/async-factory.js
  tests/e2e/utils/src/factories/simple-product.js
Labels: category: E2E, package: e2e-utils, status: blocked

#29037 Update E2E docs
  tests/e2e/README.md
  tests/e2e/core-tests/README.md
  tests/e2e/env/builtin.md
Labels: category: E2E

#29082 Make cart coupons test more granular
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
Labels: category: E2E, package: e2e-core-tests

#29064 Add e2e test: merchant order customer payment page
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-customer-payment-page.test.js
  tests/e2e/specs/wp-admin/test-order-customer-payment-page.js
Labels: category: E2E, package: e2e-core-tests

#28849 Verify country code on checkout
  includes/class-wc-checkout.php
  includes/class-wc-countries.php
  tests/legacy/mockable-functions.php
  tests/php/includes/class-wc-checkout-test.php
Labels: impact: high

#29016 Update WooCommerce Blocks package to 4.4.x
  bin/composer/mozart/composer.lock
  bin/composer/phpcs/composer.lock
  bin/composer/phpunit/composer.lock
  bin/composer/wp/composer.lock
  composer.json
  composer.lock
Labels: testing instructions added

#29139 Fix placeholder image height in cart closes #29137
  assets/css/twenty-twenty-one.scss
Labels: needs cherry picking

#28869 Added tests around product search and editing a product
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-edit-details.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-search.test.js
  tests/e2e/specs/wp-admin/test-product-edit.js
  tests/e2e/specs/wp-admin/test-product-search.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#29079 add delay to confirm dialogs on refund test
  tests/e2e/core-tests/specs/merchant/wp-admin-order-refund.test.js
Labels: category: E2E

#28699 Prevent local relative downloadable products to be treated as "absolute"
  includes/class-wc-product-download.php
  tests/legacy/unit-tests/product/class-wc-tests-product-download.php
Labels: needs feedback

#29092 Added new tests for Shopper / Product / Variable Product Info updates depending on variation
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-variable-product-updates.test.js
  tests/e2e/specs/front-end/test-variable-product-updates.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#28631 Add e2e tests for merchant edit order flows
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-edit.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-new.test.js
  tests/e2e/specs/wp-admin/test-edit-order.js
Labels: category: E2E, package: e2e-core-tests

#29198 Add external product support to api package
  tests/e2e/api/CHANGELOG.md
  tests/e2e/api/src/models/products/abstract/common.ts
  tests/e2e/api/src/models/products/abstract/external.ts
  tests/e2e/api/src/models/products/abstract/index.ts
  tests/e2e/api/src/models/products/external-product.ts
  tests/e2e/api/src/models/products/index.ts
  tests/e2e/api/src/models/products/shared/types.ts
  tests/e2e/api/src/repositories/rest/products/external-product.ts
  tests/e2e/api/src/repositories/rest/products/index.ts
  tests/e2e/api/src/repositories/rest/products/shared.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/config/default.json
  tests/e2e/core-tests/specs/api/external-product.js
  tests/e2e/core-tests/specs/index.js
  tests/e2e/specs/rest-api/external-product.test.js
Labels: category: E2E, package: api, package: e2e-core-tests
