Repository woocommerce/woocommerce, pull requests merged in 2021-11, with the labels that each got.

#31055 Add category by ID instead of name when creating a product in e2e tests
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/src/components.js
  packages/js/e2e-utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-utils

#31074 Update smoke test on PR to use pnpm
  .github/workflows/pr-smoke-test.yml
Labels: run: smoke tests

#31083 Release preparation: 5.9.0
  changelog.txt
  readme.txt
  woocommerce.php
Labels: needs cherry picking

#30724 Add a note about the need of Basic Auth plugin to the docs.
  packages/js/e2e-utils/README.md
Labels: package: e2e-utils, type: documentation

#31010 Run API tests on PR with e2e tests
  .github/workflows/pr-build-and-e2e-tests.yml
  packages/js/api-core-tests/data/refund.js
  packages/js/api-core-tests/endpoints/refunds.js
  packages/js/api-core-tests/tests/refunds/refunds.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-import-csv.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-settings-shipping-classes.test.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/src/flows/with-rest-api.js
Labels: category: E2E

#31084 Update links to moved e2e READMEs.
  packages/js/e2e-core-tests/README.md
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/README.md
  packages/js/e2e-utils/package.json
  plugins/woocommerce/tests/README.md
  plugins/woocommerce/tests/e2e/README.md
  plugins/woocommerce/tests/performance/README.md
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests, package: e2e-utils, type: documentation

#31082 Added WSL instructions
  plugins/woocommerce/tests/e2e/README.md
  plugins/woocommerce/tests/e2e/WSL_SETUP_INSTRUCTIONS.md
Labels: category: E2E, package: e2e-environment

#31103 use consistent defaultViewport
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/config/jest-puppeteer.config.js
Labels: category: E2E, package: e2e-environment

#31102 remove duplicate gitignore entries
  .gitignore
  packages/js/api-core-tests/.gitignore
  packages/js/api/.gitignore
  plugins/woocommerce/.gitignore
Labels: type: task, category: tools

#31127 Fix minor issue in README table
  packages/js/e2e-utils/README.md
Labels: package: e2e-utils

#31121 add generic container environment variable support for PHP, DB
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/bin/docker-compose.sh
  packages/js/e2e-environment/builtin.md
Labels: category: E2E, package: e2e-environment

#31104 move clickAndWaitForSelector to utils package
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-refund.test.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/package.json
  packages/js/e2e-utils/src/page-utils.js
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-utils

#31125 make expect calls in withRestApi optional
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-import-csv.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-settings-shipping-classes.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-cart.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-checkout-create-account.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-checkout.test.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#31026 Support dynamic `price_suffix` in in-app marketplace
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: needs feedback

#31085 Combine My Subscriptions and Marketplace back into one Extensions page
  packages/js/e2e-core-tests/specs/merchant/wp-admin-extensions-connect-wccom.test.js
  plugins/woocommerce/assets/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/includes/admin/helper/views/html-main.php
  plugins/woocommerce/includes/admin/helper/views/html-oauth-start.php
  plugins/woocommerce/includes/admin/helper/views/html-section-nav.php
  plugins/woocommerce/includes/admin/views/html-admin-page-addons-category-nav.php
  plugins/woocommerce/includes/admin/views/html-admin-page-addons.php
Labels: needs feedback

#31207 Replace `moxios` With `axios-mock-adapter` in @woocommerce/api Package
  package.json
  packages/js/api/package-lock.json
  packages/js/api/package.json
  packages/js/api/src/framework/__tests__/model-repository.spec.ts
  packages/js/api/src/framework/transformations/__tests__/model-transformer-transformation.spec.ts
  packages/js/api/src/http/axios/__tests__/axios-client.spec.ts
  packages/js/api/src/http/axios/__tests__/axios-interceptor.spec.ts
  packages/js/api/src/http/axios/__tests__/axios-oauth-interceptor.spec.ts
  packages/js/api/src/http/axios/__tests__/axios-response-interceptor.spec.ts
  packages/js/api/src/http/axios/__tests__/axios-url-to-query-interceptor.spec.ts
  packages/js/api/src/http/axios/axios-oauth-interceptor.ts
  packages/js/api/src/repositories/rest/__tests__/shared.spec.ts
  packages/js/api/src/services/__tests__/setting-service.spec.ts
  packages/js/api/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Labels: package: api

#31033 Orders Endpoint Acceptance Tests
  packages/js/api-core-tests/bin/wc-api-tests.sh
  packages/js/api-core-tests/data/orders.js
  packages/js/api-core-tests/data/product-list.js
  packages/js/api-core-tests/data/products-crud.js
  packages/js/api-core-tests/data/refund.js
  packages/js/api-core-tests/endpoints/orders.js
  packages/js/api-core-tests/endpoints/refunds.js
  packages/js/api-core-tests/tests/coupons/coupons.test.js
  packages/js/api-core-tests/tests/orders/orders.test.js
  packages/js/api-core-tests/tests/products/product-list.test.js
  packages/js/api-core-tests/tests/products/products-crud.test.js
  packages/js/api-core-tests/tests/products/products.test.js
  plugins/woocommerce/tests/e2e/api-core-tests/data/product-list.js
  plugins/woocommerce/tests/e2e/api-core-tests/data/refund.js
  plugins/woocommerce/tests/e2e/api-core-tests/endpoints/refunds.js
  plugins/woocommerce/tests/e2e/api-core-tests/tests/refunds/refunds.test.js
Labels: category: wc rest api, package: api-core-tests

#31094 has_archive if current theme supports woocommerce or is an FSE theme
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/includes/wc-conditional-functions.php
Labels: category: templating, status: in progress

#31237 Fix retrieving status code for API tests
  packages/js/e2e-core-tests/specs/api/coupon.test.js
  packages/js/e2e-core-tests/specs/api/external-product.test.js
  packages/js/e2e-core-tests/specs/api/grouped-product.test.js
  packages/js/e2e-core-tests/specs/api/order.test.js
  packages/js/e2e-core-tests/specs/api/telemetry.test.js
Labels: category: E2E, package: e2e-core-tests

#31218 Run API tests in their own job
  .github/workflows/pr-build-and-e2e-tests.yml
Labels: category: E2E

#31175 Venezuela States: Update iso-code's + state name change
  plugins/woocommerce/i18n/states.php
Labels: status: needs changelog

#31126 Show fallback message in extensions marketplace when the store can't connect to the WCCOM API
  plugins/woocommerce/assets/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
  plugins/woocommerce/includes/admin/views/html-admin-page-addons.php
  plugins/woocommerce/includes/tracks/class-wc-tracks.php
  plugins/woocommerce/includes/tracks/events/class-wc-extensions-tracking.php
Labels: has feedback

#31052 API tests for CRUD methods in Orders API
  packages/js/api-core-tests/CHANGELOG.md
  packages/js/api-core-tests/data/refund.js
  packages/js/api-core-tests/tests/orders/orders-crud.test.js
Labels: category: E2E, package: api-core-tests

#31221 Fix e2e product import
  packages/js/e2e-core-tests/.gitignore
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/bin/build.sh
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-import-csv.test.js
Labels: category: E2E, package: e2e-core-tests

#31232 avoid issues with preconfigured curl options in npm
  packages/js/e2e-environment/bin/wait-for-build.sh
Labels: category: E2E, package: e2e-environment

#31233 Clean up e2e-environment changes from monorepo reorg
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/bin/docker-compose.js
  packages/js/e2e-environment/bin/e2e-test-integration.js
  packages/js/e2e-environment/bin/wc-e2e.sh
  packages/js/e2e-environment/builtin.md
  packages/js/e2e-environment/config/jest.config.js
  packages/js/e2e-environment/docker-compose.yaml
  packages/js/e2e-environment/utils/index.js
  packages/js/e2e-environment/utils/take-screenshot.js
  packages/js/e2e-environment/utils/test-config.js
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-environment

#31120 Add shopper.logout()
  packages/js/e2e-core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-my-account-create-account.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-my-account-pay-order.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-my-account.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-order-email-receiving.test.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/src/flows/shopper.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#31240 migrate e2e puppeteer utils
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-new.test.js
  packages/js/e2e-environment/config/jest-puppeteer.config.js
  packages/js/e2e-environment/config/jest.config.js
  packages/js/e2e-utils/src/page-utils.js
Labels: category: E2E, package: e2e-environment, package: e2e-utils

#31302 remove stray quote in workflow action
  .github/workflows/pr-smoke-test.yml
Labels: category: tools

#31291 Added WP Admin page load tests
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/README.md
  packages/js/e2e-core-tests/specs/data/elements.js
  packages/js/e2e-core-tests/specs/index.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-page-loads.test.js
  plugins/woocommerce/tests/e2e/specs/wp-admin/page-loads.test.js
Labels: category: E2E, package: e2e-core-tests

#31301 Exclude changelog directory from deployments
  plugins/woocommerce/.distignore
Labels: category: tools

#31235 Deprecate E2E setup and onboarding tests
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-core-tests/specs/activate-and-setup/activate.test.js
  packages/js/e2e-core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  packages/js/e2e-core-tests/specs/activate-and-setup/setup.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-analytics-page-loads.test.js
  packages/js/e2e-utils/package.json
  plugins/woocommerce/tests/e2e/specs/activate-and-setup/setup-onboarding.js
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-core-tests
