Repository woocommerce/woocommerce, pull requests merged in 2021-04, with the labels that each got.

#29557 Fix for e2e fflakiness in onboarding wizard
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests

#29548 Fix flakiness in Merchant's Add Shipping Zones test
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/utils/src/components.js
Labels: category: E2E

#29549 Fix flakiness in Merchant's Order Searching test
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
Labels: category: E2E

#29569 fix typo in stalebot parameter name
  .github/workflows/stalebot.yml
Labels: category: tools

#29565 Added new e2e test my account create account
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account-create-account.test.js
  tests/e2e/specs/front-end/test-my-account-create-account.js
Labels: category: E2E, package: e2e-core-tests

#29589 Release preparation: 5.2.0-rc.2
  changelog.txt
  readme.txt
Labels: needs cherry picking

#29564 Added new e2e test shopper checkout login account
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-create-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-login-account.test.js
  tests/e2e/specs/front-end/test-checkout-login-account.js
Labels: category: E2E, package: e2e-core-tests

#29544 Remove all coupons before each test run, and clear cart
  tests/e2e/config/jest.setup.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/shopper.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#29571 add smoke test daily log in
  .github/workflows/smoke-test-daily.yml
  tests/e2e/env/config/custom-environment-variables.json
  tests/e2e/env/utils/test-config.js
Labels: category: E2E, category: tools

#29596 Update parameters on stalebot action
  .github/workflows/stalebot.yml
Labels: category: tools

#29600 Fix tranposed cron schedule
  .github/workflows/smoke-test-daily.yml
Labels: category: tools

#29551 Allow local slackbot
  tests/e2e/env/src/slack/reporter.js
Labels: category: E2E, package: e2e-environment

#29509 add contributor feedback label action
  .github/workflows/update-feedback-labels.yml
Labels: category: tools

#29606 Don't verify empty country codes on checkout
  includes/class-wc-checkout.php
  tests/php/includes/class-wc-checkout-test.php
Labels: needs cherry picking

#29613 Don't show the "WooCommerce Setup" widget in dashboard if WC Admin is disabled
  includes/admin/class-wc-admin-dashboard-setup.php
  includes/admin/class-wc-admin-dashboard.php
Labels: needs cherry picking

#29426 Add new e2e test merchant import products via CSV file
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/core-tests-root.js
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-import-csv.test.js
  tests/e2e/core-tests/test-data/sample_products_override.csv
  tests/e2e/specs/wp-admin/test-product-import-csv.js
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
Labels: category: E2E, package: e2e-core-tests

#29624 Release preparation: 5.2.0
  changelog.txt
  readme.txt
Labels: needs cherry picking

#29626 Fix e2e test merchant import products via csv
  tests/e2e/core-tests/specs/merchant/wp-admin-product-import-csv.test.js
Labels: category: E2E, package: e2e-core-tests

#29592 Add new e2e test shopper cart redirection
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-redirection.test.js
  tests/e2e/specs/front-end/test-cart-redirection.js
Labels: category: E2E, package: e2e-core-tests

#29652 Add step to slackbot instructions
  tests/e2e/env/README.md
Labels: category: E2E, category: tools, package: e2e-environment

#29650 Enable the stalebot
  .github/workflows/stalebot.yml
Labels: category: tools

#29623 [WIP] Reset a test site
  tests/e2e/config/jest.setup.js
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  tests/e2e/core-tests/specs/activate-and-setup/setup.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-create-account.test.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account-create-account.test.js
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/src/setup/jest.setup.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/index.js
  tests/e2e/utils/src/flows/merchant.js
  tests/e2e/utils/src/flows/with-rest-api.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#29653 Enable smoke test
  .github/workflows/smoke-test-daily.yml
Labels: category: tools

#29692 Release preparation: 5.2.2
  changelog.txt
  readme.txt
Labels: needs cherry picking

#29672 add screenshot utility
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/package-lock.json
  tests/e2e/env/src/setup/jest.failure.js
  tests/e2e/env/utils/index.js
  tests/e2e/env/utils/take-screenshot.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-environment

#29693 Add new e2e test shopper order email receiving
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-order-email-receiving.test.js
  tests/e2e/specs/front-end/test-order-email-receiving.js
Labels: category: E2E, package: e2e-core-tests

#29616 Add new e2e test shopper cart calculate shipping
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
  tests/e2e/specs/front-end/test-cart-calculate-shipping.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests

#29718 package lock maintenance
  package-lock.json
Labels: type: task

#29743 Logout merchant and clear the cart before running tests
  tests/e2e/core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
Labels: category: E2E, package: e2e-core-tests

#29737 Fixed checkout coupons flaky scenario in e2e suite
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29770 user customer user for order search
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
  tests/e2e/docker/initialize.sh
  tests/e2e/env/bin/docker-compose.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-environment

#29787 Bump WooCommerce Admin version to 2.2.2-rc.1
  composer.json
  composer.lock
Labels: needs cherry picking, priority: high

#29775 update onboarding flow modal checks
  tests/e2e/core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#29767 add backbone unblocking
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29788 Fix e2e test by adding new shipping zone
  tests/e2e/core-tests/specs/shopper/front-end-checkout-create-account.test.js
Labels: category: E2E, package: e2e-core-tests

#29791 Bump WooCommerce Admin version to 2.2.2
  composer.json
  composer.lock
Labels: needs cherry picking

#29683 add waits for idle in add product to order
  tests/e2e/core-tests/package-lock.json
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/keep/onboarding-tasklist.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-edit-details.test.js
  tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/index.js
  tests/e2e/env/src/slack/index.js
  tests/e2e/env/src/slack/reporter.js
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29763 remove unused product import function from jest setup script
  tests/e2e/env/src/setup/jest.setup.js
Labels: category: E2E, package: e2e-environment

#29774 return test name when there is no screenshot
  tests/e2e/env/utils/take-screenshot.js
Labels: category: E2E, package: e2e-environment

#29776 give cart and checkout coupon tests unique titles
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
Labels: category: E2E, package: e2e-core-tests

#29728 Update test naming for the Cart tests to include adding product from shop page
  tests/e2e/core-tests/specs/shopper/front-end-cart.test.js
Labels: category: E2E, package: e2e-core-tests

#29734 Add new e2e scenario and update the existing - Merchant - Add Simple Product
  tests/e2e/core-tests/specs/merchant/wp-admin-product-new.test.js
Labels: category: E2E, package: e2e-core-tests

#29694 Extension search always search all categories
  includes/admin/views/html-admin-page-addons.php
Labels: needs feedback
