Repository woocommerce/woocommerce, pull requests merged in 2021-03, with the labels that each got.

#29214 add support for grouped product to api package
  tests/e2e/api/CHANGELOG.md
  tests/e2e/api/src/models/products/abstract/common.ts
  tests/e2e/api/src/models/products/abstract/grouped.ts
  tests/e2e/api/src/models/products/abstract/index.ts
  tests/e2e/api/src/models/products/abstract/price.ts
  tests/e2e/api/src/models/products/external-product.ts
  tests/e2e/api/src/models/products/grouped-product.ts
  tests/e2e/api/src/models/products/index.ts
  tests/e2e/api/src/models/products/shared/types.ts
  tests/e2e/api/src/models/products/simple-product.ts
  tests/e2e/api/src/repositories/rest/products/external-product.ts
  tests/e2e/api/src/repositories/rest/products/grouped-product.ts
  tests/e2e/api/src/repositories/rest/products/index.ts
  tests/e2e/api/src/repositories/rest/products/shared.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/config/default.json
  tests/e2e/core-tests/package.json
  tests/e2e/core-tests/specs/api/grouped-product.test.js
  tests/e2e/core-tests/specs/index.js
  tests/e2e/specs/rest-api/grouped-product.test.js
Labels: category: E2E, package: api, package: e2e-core-tests

#29174 Add/28568 dashboard widget - setup
  assets/css/dashboard-setup.scss
  assets/images/dashboard-widget-setup.png
  includes/admin/class-wc-admin-dashboard-setup.php
  includes/admin/class-wc-admin-dashboard.php
  includes/admin/class-wc-admin.php
  includes/admin/views/html-admin-dashboard-setup.php
  tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: type: task

#29098 Add new e2e page utils and update coupon tests
  tests/e2e/config/default.json
  tests/e2e/core-tests/specs/shopper/front-end-cart-coupons.test.js
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29236 add variable product support to api package
  tests/e2e/api/CHANGELOG.md
  tests/e2e/api/src/framework/__tests__/model-repository.spec.ts
  tests/e2e/api/src/framework/model-repository.ts
  tests/e2e/api/src/models/products/abstract/common.ts
  tests/e2e/api/src/models/products/abstract/data.ts
  tests/e2e/api/src/models/products/abstract/index.ts
  tests/e2e/api/src/models/products/grouped-product.ts
  tests/e2e/api/src/models/products/index.ts
  tests/e2e/api/src/models/products/shared/classes.ts
  tests/e2e/api/src/models/products/shared/types.ts
  tests/e2e/api/src/models/products/variable-product.ts
  tests/e2e/api/src/models/products/variation.ts
  tests/e2e/api/src/repositories/rest/products/index.ts
  tests/e2e/api/src/repositories/rest/products/shared.ts
  tests/e2e/api/src/repositories/rest/products/variable-product.ts
  tests/e2e/api/src/repositories/rest/products/variation.ts
  tests/e2e/api/src/repositories/rest/shared.ts
  tests/e2e/config/default.json
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/specs/api/grouped-product.test.js
  tests/e2e/core-tests/specs/api/variable-product.test.js
  tests/e2e/core-tests/specs/index.js
  tests/e2e/specs/rest-api/variable-product.js
Labels: category: E2E, package: api, package: e2e-core-tests

#29031 Add new e2e test shopper browse, search and sort products
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-product-browse-search-sort.test.js
  tests/e2e/specs/front-end/test-product-browse-search-sort.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/shopper.js
Labels: category: E2E, package: e2e-core-tests

#29279 Added delete step to API product tests
  tests/e2e/core-tests/specs/api/coupon.test.js
  tests/e2e/core-tests/specs/api/external-product.test.js
  tests/e2e/core-tests/specs/api/grouped-product.test.js
Labels: category: E2E, package: api, package: e2e-core-tests

#29270 Add merchant order email flow e2e test
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-emails.test.js
  tests/e2e/docker/initialize.sh
  tests/e2e/env/CHANGELOG.md
  tests/e2e/specs/wp-admin/order-emails.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/merchant.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-environment, package: e2e-utils

#29302 Fix E2E shorthand script to allow for directories with spaces
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/bin/wc-e2e.sh
Labels: category: E2E, category: tools

#29269 Update core tests group api
  tests/e2e/core-tests/specs/index.js
  tests/e2e/specs/rest-api/grouped-product.js
Labels: category: E2E, package: e2e-core-tests

#29358 Remove node_modules caching to prevent dir related errors.
  .github/workflows/pr-build-and-e2e-tests.yml
Labels: category: E2E

#29350 Temporarily pin WP version to 5.6.2
  .github/workflows/pr-build-and-e2e-tests.yml
Labels: category: E2E

#29305 create screenshot on e2e test failure
  .github/workflows/pr-build-and-e2e-tests.yml
  .gitignore
  package-lock.json
  package.json
  tests/e2e/api/src/framework/model-repository.ts
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/README.md
  tests/e2e/env/bin/e2e-test-integration.js
  tests/e2e/env/config/jest.config.js
  tests/e2e/env/package.json
  tests/e2e/env/src/setup/jest.failure.js
  tests/e2e/env/src/slack/index.js
  tests/e2e/env/src/slack/reporter.js
Labels: category: E2E, package: e2e-environment

#29346 Fix e2e tests on WordPress 5.7
  .github/workflows/pr-build-and-e2e-tests.yml
  tests/e2e/env/docker-compose.yaml
Labels: category: E2E, package: e2e-environment, status: blocked

#28851 Use api to delete products before e2e tests
  tests/e2e/config/jest.setup.js
  tests/e2e/env/config/default/default.json
  tests/e2e/utils/src/factories.js
  tests/e2e/utils/src/index.js
Labels: category: E2E, package: e2e-utils

#28818 Add new e2e test shopper my account pay order
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/shopper/front-end-my-account-pay-order.test.js
  tests/e2e/specs/front-end/test-my-account-pay-order.js
Labels: category: E2E, package: e2e-core-tests

#29104 Add new e2e test merchant shipping zones test
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/specs/wp-admin/test-add-shipping-zones.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29173 Add new e2e test merchant order searching
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-order-searching.test.js
  tests/e2e/specs/wp-admin/test-order-searching.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/README.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/page-utils.js
Labels: category: E2E, package: e2e-core-tests

#29383 Fixed flaky e2e test checkout coupons
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
Labels: category: E2E, package: e2e-core-tests

#29413 Attempt to fix flakiness in shipping test
  tests/e2e/core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  tests/e2e/utils/src/components.js
Labels: category: E2E, package: e2e-core-tests

#29399 Update E2E readme files for release
  tests/e2e/README.md
  tests/e2e/api/README.md
  tests/e2e/core-tests/README.md
  tests/e2e/docker/init-wp-beta.sh
  tests/e2e/env/README.md
  tests/e2e/env/builtin.md
  tests/e2e/env/external.md
  tests/e2e/utils/README.md
Labels: category: E2E

#29313 delete vs trash product in e2e api
  package-lock.json
  tests/e2e/api/package-lock.json
  tests/e2e/api/src/models/products/abstract/common.ts
  tests/e2e/api/src/repositories/rest/products/external-product.ts
  tests/e2e/api/src/repositories/rest/products/grouped-product.ts
  tests/e2e/api/src/repositories/rest/products/simple-product.ts
  tests/e2e/api/src/repositories/rest/products/variable-product.ts
  tests/e2e/core-tests/specs/api/grouped-product.test.js
Labels: category: E2E, package: api, package: e2e-core-tests

#29505 Adding hiring links to the main README
  README.md
Labels: type: documentation

#29518 Fix logic for including the "payments" task in onboarding wizard
  includes/admin/class-wc-admin-dashboard-setup.php
  tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: needs cherry picking

#29440 update changelogs, bump package versions
  tests/e2e/api/CHANGELOG.md
  tests/e2e/api/package.json
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/package.json
  tests/e2e/env/CHANGELOG.md
  tests/e2e/env/package.json
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/package.json
Labels: category: E2E, package: api, package: e2e-core-tests, package: e2e-environment, package: e2e-utils

#29500 Fix/remove core test import
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/package.json
  tests/e2e/core-tests/specs/merchant/wp-admin-order-customer-payment-page.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/package.json
  tests/e2e/utils/src/factories/simple-product.js
Labels: category: E2E, package: e2e-core-tests

#29474 Fix the REST API entry point to add coupons to an order.
  includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
  tests/legacy/unit-tests/rest-api/Tests/Version3/orders.php
Labels: category: wc rest api, needs cherry picking

#29489 Add new e2e test opening analytics pages
  tests/e2e/core-tests/CHANGELOG.md
  tests/e2e/core-tests/README.md
  tests/e2e/core-tests/specs/index.js
  tests/e2e/core-tests/specs/merchant/wp-admin-analytics-page-loads.test.js
  tests/e2e/specs/wp-admin/test-analytics-page-loads.js
  tests/e2e/utils/README.md
  tests/e2e/utils/src/flows/constants.js
  tests/e2e/utils/src/flows/merchant.js
Labels: category: E2E, package: e2e-core-tests

#29508 add stalebot action with dry run enabled
  .github/workflows/stalebot.yml
Labels: category: tools

#29495 Add "postcodes" and "cities" support for the REST API tax rate creation/update endpoint
  includes/rest-api/Controllers/Version1/class-wc-rest-taxes-v1-controller.php
  includes/rest-api/Controllers/Version3/class-wc-rest-taxes-controller.php
  tests/legacy/framework/class-wc-rest-unit-test-case.php
  tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-taxes-controller-tests.php
Labels: category: wc rest api
