Repository woocommerce/woocommerce, pull requests merged in 2021-06, with the labels that each got.

#27684 Refactor the settings pages, and add unit tests for them
  includes/admin/settings/class-wc-settings-accounts.php
  includes/admin/settings/class-wc-settings-advanced.php
  includes/admin/settings/class-wc-settings-emails.php
  includes/admin/settings/class-wc-settings-general.php
  includes/admin/settings/class-wc-settings-integrations.php
  includes/admin/settings/class-wc-settings-page.php
  includes/admin/settings/class-wc-settings-payment-gateways.php
  includes/admin/settings/class-wc-settings-products.php
  includes/admin/settings/class-wc-settings-shipping.php
  includes/admin/settings/class-wc-settings-tax.php
  includes/class-wc-install.php
  includes/class-wc-register-wp-admin-settings.php
  phpunit.xml
  tests/Tools/CodeHacking/CodeHackerTestHook.php
  tests/Tools/CodeHacking/Hacks/FunctionsMockerHack.php
  tests/Tools/CodeHacking/Hacks/StaticMockerHack.php
  tests/Tools/DependencyManagement/DependencyManagementTestHook.php
  tests/legacy/classes-with-mockable-static-methods.php
  tests/legacy/framework/class-wc-unit-test-case.php
  tests/legacy/mockable-functions.php
  tests/legacy/unit-tests/settings/register-wp-admin-settings.php
  tests/php/includes/class-wc-discounts-tests.php
  tests/php/includes/settings/class-wc-legacy-settings-example.php
  tests/php/includes/settings/class-wc-settings-accounts-test.php
  tests/php/includes/settings/class-wc-settings-advanced-test.php
  tests/php/includes/settings/class-wc-settings-emails-test.php
  tests/php/includes/settings/class-wc-settings-example.php
  tests/php/includes/settings/class-wc-settings-general-test.php
  tests/php/includes/settings/class-wc-settings-integrations-test.php
  tests/php/includes/settings/class-wc-settings-page-test.php
  tests/php/includes/settings/class-wc-settings-payment-gateways-test.php
  tests/php/includes/settings/class-wc-settings-products-test.php
  tests/php/includes/settings/class-wc-settings-shipping-test.php
  tests/php/includes/settings/class-wc-settings-tax-test.php
  tests/php/includes/settings/class-wc-settings-unit-test-case.php
Labels: type: enhancement

#30010 Add a CLI command for dumping tracker data to terminal
  includes/class-wc-cli.php
  includes/class-wc-tracker.php
  includes/cli/class-wc-cli-tracker-command.php
Labels: category: privacy, changelog added, component: system status report, component: wc-cli, component: wp-cli, type: enhancement

#30017 add wait between loading shop and add to cart
  tests/e2e/core-tests/specs/shopper/front-end-checkout-coupons.test.js
Labels: category: E2E, package: e2e-core-tests

#30013 Allow block templates for WooCommerce pages
  includes/class-wc-template-loader.php
Labels: category: templating, type: enhancement

#30076 Fix issue with jQuery migration and editing addresses in wp-admin
  assets/js/admin/meta-boxes-order.js
Labels: needs cherry picking

#30074 Update former uses of jQuery.trim to work properly with non-string types
  assets/js/jquery-payment/jquery.payment.js
  assets/js/select2/select2.full.js
  assets/js/select2/select2.js
  assets/js/selectWoo/selectWoo.full.js
  assets/js/selectWoo/selectWoo.js
Labels: needs cherry picking

#30093 Register woocommerce.css so it can be enqueued in the editor
  includes/admin/class-wc-admin-assets.php
Labels: category: html/css

#30071 Update WooCommerce blocks package to 5.3.1
  composer.json
  composer.lock
Labels: changelog added, testing instructions added

#30056 Add/e2e shopper create products api
  tests/e2e/core-tests/specs/shopper/front-end-single-product.test.js
  tests/e2e/core-tests/specs/shopper/front-end-variable-product-updates.test.js
  tests/e2e/utils/CHANGELOG.md
  tests/e2e/utils/src/components.js
  tests/e2e/utils/src/factories.js
  tests/e2e/utils/src/factories/grouped-product.js
  tests/e2e/utils/src/factories/variable-product.js
  tests/e2e/utils/src/factories/variation.js
Labels: category: E2E, package: e2e-core-tests, package: e2e-utils

#30141 Update ActionScheduler version to 3.2.1.
  composer.json
  composer.lock
Labels: needs cherry picking

#30082 chore: remove WCS canada post mentions
  assets/images/wcs-canada-post-logo.jpg
  assets/images/wcs-truck-banner-3x.png
  includes/admin/class-wc-admin-addons.php
Labels: type: enhancement

#30081 chore: copy changes on WCS banner
  assets/css/admin.scss
  assets/images/wcs-dhlexpress-logo.png
  assets/images/wcs-extensions-banner-3x.jpg
  assets/images/wcs-extensions-banner-3x.png
  assets/images/wcs-usps-logo.png
  includes/admin/class-wc-admin-addons.php
Labels: type: enhancement

#30138 Exclude block templates from showing up in product edit page
  includes/admin/class-wc-admin-meta-boxes.php
Labels: category: templating, type: enhancement
