Repository woocommerce/woocommerce, pull requests merged in 2022-08, with the labels that each got.

#34133 Prep for cherry-pick 34120
  plugins/woocommerce-admin/client/shipping/shipping-tour.tsx
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, focus: react admin

#34134 Changelog removals due to 34133
  plugins/woocommerce/changelog/fix-shipping-recommendations-wrong-condition
Labels: plugin: woocommerce

#34122 [COT] Add remove_processor method in batch processing controller, use it when disabling orders sync
  plugins/woocommerce/changelog/add-remove_processor_in_batch_processing_controller
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/BatchProcessing/BatchProcessingControllerTests.php
Labels: plugin: woocommerce

#34121 [COT] Fix order related methods in customer data store
  plugins/woocommerce/changelog/cot-fix-order-related-methods-in-customer-data-store
  plugins/woocommerce/includes/data-stores/class-wc-customer-data-store.php
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-order.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
Labels: plugin: woocommerce

#34146 Release: bump version to 6.8.0-rc.1
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34137 add: store location settings tour
  packages/js/components/changelog/fix-1-step-tour
  packages/js/components/src/tour-kit/components/step-navigation.tsx
  plugins/woocommerce-admin/client/embedded-body-layout/StoreAddressTour.tsx
  plugins/woocommerce-admin/client/embedded-body-layout/embedded-body-layout.tsx
  plugins/woocommerce/changelog/add-store-location-settings-tour
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreDetails.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#33703 Add a namespace prefix to the Psr/Container package
  plugins/woocommerce/changelog/add-namespace-prefix-to-psr-container-package
  plugins/woocommerce/composer.json
  plugins/woocommerce/lib/composer.json
  plugins/woocommerce/lib/composer.lock
  plugins/woocommerce/lib/packages/League/Container/Argument/ArgumentResolverTrait.php
  plugins/woocommerce/lib/packages/League/Container/Container.php
  plugins/woocommerce/lib/packages/League/Container/ContainerAwareInterface.php
  plugins/woocommerce/lib/packages/League/Container/ContainerAwareTrait.php
  plugins/woocommerce/lib/packages/League/Container/Definition/Definition.php
  plugins/woocommerce/lib/packages/League/Container/Exception/ContainerException.php
  plugins/woocommerce/lib/packages/League/Container/Exception/NotFoundException.php
  plugins/woocommerce/lib/packages/League/Container/ReflectionContainer.php
  plugins/woocommerce/lib/packages/League/Container/ServiceProvider/ServiceProviderAggregate.php
  plugins/woocommerce/lib/packages/Psr/Container/ContainerExceptionInterface.php
  plugins/woocommerce/lib/packages/Psr/Container/ContainerInterface.php
  plugins/woocommerce/lib/packages/Psr/Container/NotFoundExceptionInterface.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/DependencyManagement/ExtendedContainer.php
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34165 fix: e2e test on shipping task
  plugins/woocommerce/changelog/fix-shipping-task-e2e-test
  plugins/woocommerce/e2e/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce

#33972 Add support for updating values in order edit form inside WP Admin
  plugins/woocommerce/changelog/enhancement-32469
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-order.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/CustomMetaBox.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderMetaBoxServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
Labels: plugin: woocommerce, focus: react admin

#34129 Adding CollapsibleContent component
  packages/js/components/changelog/add-collapsed-content-component
  packages/js/components/src/collapsible-content/collapsible-content.tsx
  packages/js/components/src/collapsible-content/index.tsx
  packages/js/components/src/collapsible-content/stories/index.tsx
  packages/js/components/src/collapsible-content/style.scss
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#33984 Add product categories datastore
  packages/js/data/changelog/33464-add-product-categories-datastore-api
  packages/js/data/src/index.ts
  packages/js/data/src/product-categories/README.md
  packages/js/data/src/product-categories/constants.ts
  packages/js/data/src/product-categories/index.ts
  packages/js/data/src/product-categories/types.ts
Labels: package: @woocommerce/data

#33847 JQuery FlexSlider: Fix innerHeight computation
  plugins/woocommerce/changelog/fix-33829-flexslider-calculation
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
Labels: plugin: woocommerce

#34124 Upgrade misc WooCommerce bits to support COT
  plugins/woocommerce/changelog/upgrade-woocommerce-cot
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/includes/class-wc-order-refund.php
  plugins/woocommerce/includes/class-wc-post-data.php
  plugins/woocommerce/includes/class-wc-webhook.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-ipn-handler.php
  plugins/woocommerce/includes/tracks/events/class-wc-orders-tracking.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/includes/class-wc-emails-tests.php
  plugins/woocommerce/tests/php/includes/class-wc-post-data-test.php
  plugins/woocommerce/tests/php/includes/class-wc-webhook-tests.php
  plugins/woocommerce/tests/php/includes/gateways/paypal/class-wc-gateway-paypal-test.php
Labels: plugin: woocommerce

#34115 Add/42 new product page
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/index.ts
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-new-product-page
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Admin/Features/Navigation/CoreMenu.php
Labels: plugin: woocommerce, focus: react admin

#34153 Update store location profiler
  packages/js/admin-e2e-tests/changelog/update-32585-store-location-profiler
  packages/js/admin-e2e-tests/src/sections/onboarding/StoreDetailsSection.ts
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce-admin/client/dashboard/components/settings/general/test/store-address.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/test/shipping-recommendation.tsx
  plugins/woocommerce/changelog/update-32585-store-location-profiler
  plugins/woocommerce/e2e/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests

#34183 dev: refactor Homescreen component to use useQuery hook
  packages/js/navigation/changelog/add-use-query-hook
  packages/js/navigation/src/index.js
  plugins/woocommerce-admin/client/homescreen/index.tsx
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce/changelog/dev-refactor-homescreen-use-query
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/navigation

#34144 [COT] Add unique key constraints for the addresses and operational data tables
  plugins/woocommerce/changelog/add-unique_key_constraints_for_cot_tables
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: type: enhancement, focus: custom order tables, plugin: woocommerce

#34190 Fixes a WP nightly unity test
  plugins/woocommerce/changelog/fix-unit-nightly
  plugins/woocommerce/tests/legacy/unit-tests/core/template-cache.php
Labels: plugin: woocommerce

#34113 Add/33 two column product page layout
  plugins/woocommerce-admin/client/header/utils.tsx
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-field-layout.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-section-layout.tsx
  plugins/woocommerce-admin/client/products/layout/test/product-field-layout.test.tsx
  plugins/woocommerce-admin/client/products/layout/test/product-section-layout.test.tsx
  plugins/woocommerce-admin/client/products/layout/woo-product-field-item.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-images-section.tsx
  plugins/woocommerce-admin/client/utils/index.js
  plugins/woocommerce-admin/client/utils/slot-fill-ordering.tsx
  plugins/woocommerce/changelog/add-33_two_column_product_page_layout
Labels: plugin: woocommerce, focus: react admin

#34082 Add/32 react provider to form component
  packages/js/components/changelog/add-32_react_provider_to_form_component
  packages/js/components/src/dynamic-form/dynamic-form.tsx
  packages/js/components/src/form/README.md
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/index.js
  packages/js/components/src/form/index.ts
  packages/js/components/src/form/test/index.tsx
  packages/js/components/src/index.ts
Labels: package: @woocommerce/components, focus: product management MVP

#34022 Hide the customizer when the active theme is a FSE theme
  plugins/woocommerce/changelog/hide-customiser-for-fse-themes
  plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php
Labels: plugin: woocommerce

#34119 [COT] `query()` method: add support for date queries
  plugins/woocommerce/changelog/add-33877-cot-datastore-query-dates
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#34185 Disallow/discourage Yoda comparisons in the WooCommerce codebase
  phpcs.xml
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/disallow-yoda-conditions-in-src
Labels: plugin: woocommerce

#34154 fix: Typescript issues in preparation for pnpm 7 upgrade
  .npmrc
  packages/js/components/changelog/fix-missing-type-definitions-dependencies
  packages/js/components/package.json
  packages/js/components/src/stepper/index.tsx
  packages/js/customer-effort-score/changelog/fix-missing-type-definitions-dependencies
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/fix-missing-type-definitions-dependencies
  packages/js/data/package.json
  packages/js/date/changelog/fix-missing-type-definitions-dependencies
  packages/js/date/package.json
  packages/js/experimental/changelog/fix-missing-type-definitions-dependencies
  packages/js/experimental/package.json
  packages/js/explat/changelog/fix-missing-type-definitions-dependencies
  packages/js/explat/package.json
  packages/js/navigation/changelog/fix-missing-type-definitions-dependencies
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/onboarding/changelog/fix-missing-type-definitions-dependencies
  packages/js/onboarding/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-pnpm-package-hoisting-typescript-issues
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/onboarding

#34191 Fix set default homescreen layout after setup task completion or dismissal
  plugins/woocommerce/changelog/fix-34149-set-default-homescreen-layout
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task-list.php
Labels: plugin: woocommerce, focus: react admin

#34204 Disable the WordPress.PHP.YodaConditions.NotYoda phpcs rule
  phpcs.xml
  plugins/woocommerce/changelog/disable-wordpress-yoda-conditions-rule
Labels: plugin: woocommerce

#34210 [COT] Misc test fixes
  plugins/woocommerce/changelog/cot-tests-misc-fixes
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-advanced-test.php
Labels: plugin: woocommerce

#34217 Cherry-pick 34209
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks.js
Labels: focus: react admin

#34218 Release branch: bump to 6.8.0
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34206 Update "Add store details" task complete logic
  plugins/woocommerce/changelog/update-34182-store-details-completion-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreDetails.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/store-details.php
Labels: plugin: woocommerce, focus: react admin

#34184 Migrate @woocommerce/data settings store to TS
  packages/js/data/changelog/dev-33842-migrate-wc-data-setting-to-ts
  packages/js/data/src/settings/action-types.ts
  packages/js/data/src/settings/actions.ts
  packages/js/data/src/settings/constants.ts
  packages/js/data/src/settings/index.js
  packages/js/data/src/settings/index.ts
  packages/js/data/src/settings/reducer.ts
  packages/js/data/src/settings/resolvers.js
  packages/js/data/src/settings/resolvers.ts
  packages/js/data/src/settings/selectors.ts
  packages/js/data/src/settings/types.ts
  packages/js/data/src/settings/use-settings.ts
  packages/js/data/src/settings/with-settings-hydration.tsx
  packages/js/data/src/utils.ts
  plugins/woocommerce-admin/client/shipping/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/store-location.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/components/store-location.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/manual-configuration/configure.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/utils.ts
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/setup.tsx
  plugins/woocommerce/changelog/dev-33842-migrate-wc-data-setting-to-ts
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34187 Add e2e test to check ability to add and remove regions from shipping…
  plugins/woocommerce/changelog/e2e-32016-add-shipping-zone-region-e2e-test
  plugins/woocommerce/e2e/tests/merchant/create-shipping-zones.spec.js
Labels: plugin: woocommerce

#34141 Add various Util methods to OrderUtil class
  plugins/woocommerce/changelog/cot-util
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
Labels: focus: custom order tables, plugin: woocommerce

#31211 Accessibility: Adding missing form field and table header labels to template files
  plugins/woocommerce/changelog/fix-accessibility-templates
  plugins/woocommerce/templates/cart/cart.php
  plugins/woocommerce/templates/cart/shipping-calculator.php
  plugins/woocommerce/templates/checkout/form-coupon.php
  plugins/woocommerce/templates/content-widget-price-filter.php
  plugins/woocommerce/templates/single-product/add-to-cart/grouped.php
Labels: needs: triage feedback, plugin: woocommerce

#34156 Add the woocommerce_cart_session_initialize-hook
  plugins/woocommerce/changelog/add-woocommerce_cart_session_initialize-hook
  plugins/woocommerce/includes/class-wc-cart-session.php
Labels: focus: performance, plugin: woocommerce

#34216 Remove cherry-picked 34209 changelogs
  plugins/woocommerce-admin/changelogs/add-require-turbo
  plugins/woocommerce-admin/changelogs/feature-32164_new_task_list_version_2
  plugins/woocommerce-admin/changelogs/feature-32697_wc_payment_gateways_banner
  plugins/woocommerce-admin/changelogs/fix-34172_customer_effort_tracks
Labels: focus: react admin

#34176 Update/34063 store location skip btn
  packages/js/data/changelog/add-34063-store-location-skip-button
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/skip-button.tsx
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/usage-modal.js
  plugins/woocommerce-admin/client/profile-wizard/style.scss
  plugins/woocommerce/changelog/update-34063-store-location-skip-btn
  plugins/woocommerce/e2e/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/e2e/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34240 Remove @wordpress/eslint-plugin from woo admin package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-remove-wp-eslint-plugin-from-wca
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#34234 support single_select_page_with_search in WC REST API
  plugins/woocommerce/changelog/add-select-with-seach-to-store-api
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-setting-options-controller.php
Labels: plugin: woocommerce

#34238 Ensure that schema and DB changes are reported to the changes JSON file.
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/print.ts
Labels: tool: monorepo infrastructure

#34241 Keep the user in the marketing task after installing an extension
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce/changelog/update-33846-tweak-marketing-task-flow-after-installing-a-plugin
Labels: plugin: woocommerce, focus: react admin

#34249 fix: removed Step 1 of 1 for 1 step tours
  packages/js/components/changelog/fix-tour-kit-1-step-controls
  packages/js/components/src/tour-kit/components/step-navigation.tsx
Labels: package: @woocommerce/components

#34178 [COT] Add support for /v3/orders
  plugins/woocommerce/changelog/cot-rest-api
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/FiltererTest.php
Labels: focus: custom order tables, plugin: woocommerce

#34278 Dev: remove vscode typescript build task
  .gitignore
  .vscode/tasks.json
Labels: tool: monorepo infrastructure

#34080 Implement the "Installed extensions" card
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.scss
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.tsx
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/index.tsx
  plugins/woocommerce-admin/client/marketing/components/index.js
  plugins/woocommerce-admin/client/marketing/overview-multichannel/InstalledExtensions.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/InstalledExtensions.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/index.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/types.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/usePlugins.ts
  plugins/woocommerce-admin/client/multichannel-marketing/MultichannelMarketing.tsx
  plugins/woocommerce/changelog/feature-33895-marketing-page-34025-installed-extensions
Labels: plugin: woocommerce, focus: react admin, focus: marketing

#34211 Add product form buttons and specific product edit page
  packages/js/components/changelog/add-30_product_form_buttons
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/components/src/index.ts
  packages/js/data/changelog/add-30_product_form_buttons
  packages/js/data/src/products/action-types.ts
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/reducer.ts
  packages/js/data/src/products/resolvers.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/test/reducer.ts
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/test/product-field-layout.test.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/card-layout.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/footer.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/stack.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-create-product-by-type.ts
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.js
  plugins/woocommerce-admin/client/typings/index.d.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/onboarding-homepage-notice/index.js
  plugins/woocommerce/changelog/add-30_product_form_buttons
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#33789 Filtering for the COT admin list table.
  plugins/woocommerce/changelog/add-33196-admin-list-filtering
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: plugin: woocommerce, focus: react admin

#34279 dev: move guided tours into consolidated folder
  plugins/woocommerce-admin/client/embedded-body-layout/embedded-body-layout.tsx
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/index.tsx
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/use-active-editor-type.ts
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/use-product-step-change.ts
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/use-tmce-iframe-focus-style.ts
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/use-track-publish-button.ts
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/utils.ts
  plugins/woocommerce-admin/client/guided-tours/shipping-tour.tsx
  plugins/woocommerce-admin/client/guided-tours/store-address-tour.tsx
  plugins/woocommerce-admin/client/shipping/shipping-recommendations-wrapper.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
Labels: focus: react admin

#34214 Add product name and checkboxes for Product details
  packages/js/components/changelog/add-28_product_details
  packages/js/components/src/enriched-label/README.md
  packages/js/components/src/enriched-label/enriched-label.tsx
  packages/js/components/src/enriched-label/index.js
  packages/js/components/src/enriched-label/stories/index.js
  packages/js/components/src/enriched-label/stories/style.scss
  packages/js/components/src/enriched-label/style.scss
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/add-28_product_details
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#34289 Fix/34271 unlimited results
  plugins/woocommerce/changelog/fix-34271-unlimited-results
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34308 Fix/forgotten template version
  plugins/woocommerce/changelog/fix-forgotten-template-version
  plugins/woocommerce/templates/myaccount/form-login.php
Labels: plugin: woocommerce

#34180 Add SplitDropdown component
  packages/js/components/changelog/add-split-dropdown-component
  packages/js/components/src/split-dropdown/README.md
  packages/js/components/src/split-dropdown/index.tsx
  packages/js/components/src/split-dropdown/split-dropdown.tsx
  packages/js/components/src/split-dropdown/stories/index.tsx
  packages/js/components/src/split-dropdown/style.scss
  packages/js/components/src/split-dropdown/test/index.tsx
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#34237 Add SortableList component
  packages/js/components/changelog/add-draggable-list
  packages/js/components/src/index.ts
  packages/js/components/src/sortable-list/README.md
  packages/js/components/src/sortable-list/draggable-icon.tsx
  packages/js/components/src/sortable-list/handle.tsx
  packages/js/components/src/sortable-list/index.ts
  packages/js/components/src/sortable-list/list-item.tsx
  packages/js/components/src/sortable-list/sortable-list.tsx
  packages/js/components/src/sortable-list/stories/index.tsx
  packages/js/components/src/sortable-list/style.scss
  packages/js/components/src/sortable-list/test/index.tsx
  packages/js/components/src/sortable-list/test/utils.ts
  packages/js/components/src/sortable-list/types.ts
  packages/js/components/src/sortable-list/utils.ts
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#34181 Add Media Uploader component
  packages/js/components/changelog/add-media-uploader
  packages/js/components/package.json
  packages/js/components/src/index.ts
  packages/js/components/src/media-uploader/README.md
  packages/js/components/src/media-uploader/index.tsx
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/components/src/media-uploader/stories/index.tsx
  packages/js/components/src/media-uploader/style.scss
  packages/js/components/src/media-uploader/types.ts
  packages/js/components/src/style.scss
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#34303 Add Facebook Extension to Onboarding
  plugins/woocommerce/assets/images/onboarding/facebook.png
  plugins/woocommerce/changelog/update-obw-fb-pinterest
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#34294 Fix review shipping option task title
  plugins/woocommerce/changelog/fix-34270-review-shipping-option-task-title
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ReviewShippingOptions.php
Labels: plugin: woocommerce, focus: react admin

#33999 Add `wc com disconnect` command
  plugins/woocommerce/changelog/add-wc-com-disconnect-command
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/cli/class-wc-cli-com-command.php
Labels: plugin: woocommerce

#34195 Clear post cache after updating menu order for products.
  plugins/woocommerce/changelog/fix-31389-menu-ordering
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#34297 Update "context" prop of task list click/view event
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce/changelog/update-33992-event-context-prop
Labels: plugin: woocommerce, focus: react admin

#34295 Add unit tests for orders milestone note
  plugins/woocommerce/changelog/add-34250-unit-tests-for-orders-milestone-note
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/OrderMilestones.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-test-order-milestones.php
Labels: plugin: woocommerce, focus: react admin

#34274 Fix a bug crashing wp-env 5.1.0 in CI
  .github/workflows/pr-highlight-changes.yml
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/dev-remove-core-null
Labels: plugin: woocommerce

#34290 [COT] Respect status flags `show_in_admin_(all|status)_list` in orders list table
  plugins/woocommerce/changelog/fix-34145
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#34336 Remove PHP 8.1 warnings and errors
  plugins/woocommerce/changelog/fix-php81-compat
  plugins/woocommerce/includes/admin/importers/class-wc-tax-rate-importer.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/packages/woocommerce-admin/woocommerce-admin.php
Labels: plugin: woocommerce

#34317 Remove WCPay Subscriptions offer page experiment code
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/subscriptions/cards/amex.js
  plugins/woocommerce-admin/client/subscriptions/cards/diners.js
  plugins/woocommerce-admin/client/subscriptions/cards/discover.js
  plugins/woocommerce-admin/client/subscriptions/cards/jcb.js
  plugins/woocommerce-admin/client/subscriptions/cards/mastercard.js
  plugins/woocommerce-admin/client/subscriptions/cards/unionpay.js
  plugins/woocommerce-admin/client/subscriptions/cards/visa.js
  plugins/woocommerce-admin/client/subscriptions/index.tsx
  plugins/woocommerce-admin/client/subscriptions/style.scss
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/remove-34275-wcpay-subscriptions-offer-page-experiment-code
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Internal/Admin/WcPaySubscriptionsPage.php
Labels: plugin: woocommerce, focus: react admin

#34351 Fix: Smart shipping defaults bug
  plugins/woocommerce/changelog/fix-34319-do-not-add-smart-shipping-defaults-when-shipping-setup-exist
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34326 Deploy payments banner in settings page
  plugins/woocommerce-admin/client/payments/payment-settings-banner.tsx
  plugins/woocommerce-admin/client/payments/test/payment-settings-banner.test.tsx
  plugins/woocommerce-admin/client/payments/use-payments-banner.ts
  plugins/woocommerce-admin/client/payments/use-payments-experiment.ts
  plugins/woocommerce/changelog/update-34166-deploy-payments-banner
Labels: plugin: woocommerce, focus: react admin

#34247 Enhance/34244 update data source poller for i18n
  plugins/woocommerce/changelog/enhance-34244-data-source-poller-for-i18n
  plugins/woocommerce/src/Admin/DataSourcePoller.php
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/Init.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/Init.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/Init.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/data-source-poller.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/payment-gateway-suggestions.php
Labels: plugin: woocommerce, focus: react admin

#34349 fix: pinned wp/element to 4.8.0 until we sort out esm dependencies
  package.json
  pnpm-lock.yaml
Labels: tool: monorepo infrastructure

#34239 Migrate @woocommerce/data navigation store to TS
  packages/js/data/changelog/dev-33839-migrate-data-navigation-store-to-ts
  packages/js/data/src/navigation/action-types.ts
  packages/js/data/src/navigation/actions.ts
  packages/js/data/src/navigation/constants.ts
  packages/js/data/src/navigation/dispatchers.ts
  packages/js/data/src/navigation/index.js
  packages/js/data/src/navigation/index.ts
  packages/js/data/src/navigation/reducer.ts
  packages/js/data/src/navigation/resolvers.ts
  packages/js/data/src/navigation/selectors.ts
  packages/js/data/src/navigation/test/reducer.ts
  packages/js/data/src/navigation/types.ts
  packages/js/data/src/navigation/with-navigation-hydration.tsx
Labels: package: @woocommerce/data

#34355 Delete changelog files based on PR 34354
  plugins/woocommerce/changelog/fix-34319-do-not-add-smart-shipping-defaults-when-shipping-setup-exist
Labels: plugin: woocommerce

#34354 Prep for cherry pick 34351
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34073 Add `wc com connect` command
  plugins/woocommerce/changelog/add-wc-com-connect-command
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/cli/class-wc-cli-com-command.php
Labels: plugin: woocommerce

#34251 Add WC Payments welcome page experiment
  plugins/woocommerce-admin/client/payments-welcome/banner.tsx
  plugins/woocommerce-admin/client/payments-welcome/exit-survey-modal.tsx
  plugins/woocommerce-admin/client/payments-welcome/faq.tsx
  plugins/woocommerce-admin/client/payments-welcome/flag.js
  plugins/woocommerce-admin/client/payments-welcome/gift.js
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/payments-welcome/strings.tsx
  plugins/woocommerce-admin/client/payments-welcome/style.scss
  plugins/woocommerce-admin/client/payments-welcome/wcpay-banner.png
  plugins/woocommerce-admin/client/payments-welcome/wcpay-offer.svg
  plugins/woocommerce/changelog/add-wcpay-welcome-page-core-us-promo
  plugins/woocommerce/src/Admin/API/Notes.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce, focus: react admin

#34345 Fix broken API tests
  .github/workflows/scripts/prepare-test-summary.js
  packages/js/api-core-tests/CHANGELOG.md
  packages/js/api-core-tests/bin/wc-api-tests.sh
  packages/js/api-core-tests/package.json
  plugins/woocommerce/changelog/fix-broken-api-tests
  plugins/woocommerce/includes/cli/class-wc-cli-com-command.php
  pnpm-lock.yaml
Labels: package: @woocommerce/api-core-tests, plugin: woocommerce

#34339 add tests for shipping zone regions
  packages/js/api-core-tests/.eslintrc
  packages/js/api-core-tests/.eslintrc.js
  packages/js/api-core-tests/changelog/e2e-32371-Add-REST-API-tests-CRUD-operations-for-shipping-zone-regions
  packages/js/api-core-tests/endpoints/shipping-zones.js
  packages/js/api-core-tests/tests/shipping/shipping-zones.test.js
Labels: package: @woocommerce/api-core-tests

#34038 Update inbox notes to display localized strings when locale changed
  plugins/woocommerce/changelog/update-display-localized-inbox-notes-when-locale-changed
  plugins/woocommerce/src/Admin/Notes/Notes.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/RemoteInboxNotificationsEngine.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/SpecRunner.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/ChoosingTheme.php
  plugins/woocommerce/src/Internal/Admin/Notes/GivingFeedbackNotes.php
  plugins/woocommerce/src/Internal/Admin/Notes/WooSubscriptionsNotes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/remote-inbox-notifications-engine.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/spec-runner.php
Labels: plugin: woocommerce, focus: react admin

#34337 add: store address tour tracks
  plugins/woocommerce-admin/client/guided-tours/store-address-tour.tsx
Labels: focus: react admin

#34368 Exclude asterisk from Country / Region translation string
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
Labels: focus: react admin

#34321 Added new command to set up the local environment with COT enabled.
  packages/js/admin-e2e-tests/changelog/dev-enable-cot-local-environment
  packages/js/admin-e2e-tests/src/fixtures/reset.ts
  plugins/woocommerce/changelog/dev-enable-cot-local-environment
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce, package: @woocommerce/admin-e2e-tests

#34352 Update "Refund Returns" note to display localized strings
  plugins/woocommerce/changelog/update-34268-admin-notes-i18n
  plugins/woocommerce/includes/admin/notes/class-wc-notes-refund-returns.php
  plugins/woocommerce/src/Admin/Notes/Note.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/notes/class-wc-tests-notes-refund-returns.php
Labels: plugin: woocommerce, focus: react admin

#34356 Update in-app marketplace to display localized strings
  plugins/woocommerce/changelog/update-34353-in-app-marketplace-i18n
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: plugin: woocommerce

#34159 Add SearchControl component
  packages/js/components/changelog/try-downshift
  packages/js/components/package.json
  packages/js/components/src/experimental-select-control/README.md
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/index.ts
  packages/js/components/src/experimental-select-control/menu-item.scss
  packages/js/components/src/experimental-select-control/menu-item.tsx
  packages/js/components/src/experimental-select-control/menu.scss
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/select-control.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/selected-items.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/experimental-select-control/types.ts
  packages/js/components/src/experimental-select-control/utils.ts
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  pnpm-lock.yaml
Labels: focus: react admin, package: @woocommerce/components

#34348 Add FormSection component
  packages/js/components/changelog/add-section-component
  packages/js/components/src/form-section/README.md
  packages/js/components/src/form-section/form-section.scss
  packages/js/components/src/form-section/form-section.tsx
  packages/js/components/src/form-section/index.ts
  packages/js/components/src/form-section/stories/index.tsx
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#34380 Restore 'Contributing to WooCommerce' guidance
  README.md
  plugins/woocommerce/changelog/add-contributor-guidelines-link
Labels: plugin: woocommerce

#34167 Link backfilling to migration process
  plugins/woocommerce/changelog/fix-34151
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34313 Add product link field
  packages/js/components/changelog/add-29_product_link_slug
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/data/changelog/add-29_product_link_slug
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/constants.ts
  packages/js/data/src/products/index.ts
  packages/js/data/src/products/selectors.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-section-layout.tsx
  plugins/woocommerce-admin/client/products/layout/test/product-section-layout.test.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/edit-product-link-modal.scss
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/edit-product-link-modal.tsx
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/index.ts
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/test/edit-product-link-modal.test.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/add-29_product_link_slug
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data, focus: product management MVP

#34362 Update Information Notice for No Products Found
  plugins/woocommerce/changelog/update-no-products-notification-classnames
  plugins/woocommerce/templates/loop/no-products-found.php
Labels: type: enhancement, plugin: woocommerce

#34347 [COT] `OrdersTableQuery`: ignore invalid elements in `meta_query`
  plugins/woocommerce/changelog/fix-34346
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableMetaQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: focus: custom order tables, plugin: woocommerce

#34401 Prepare WooCommerce 6.9.0 Beta.1
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34403 Bump WooCommerce 7.0.0 Versions
  plugins/woocommerce/changelog/prep-7.0.0-version-numbers
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34371 Fix texts in wp-admin-scripts not translated
  plugins/woocommerce/changelog/fix-34370-texts-in-admin-scripts-not-translated
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Appearance.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Tax.php
  plugins/woocommerce/src/Internal/Admin/Coupons.php
  plugins/woocommerce/src/Internal/Admin/ShippingLabelBanner.php
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/Init.php
Labels: plugin: woocommerce, focus: react admin

#34296 Turbo: Avoid caching result of `build:feature-config`
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-turbo-features-cache
  plugins/woocommerce/package.json
  turbo.json
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: react admin

#34422 Prepared WooCommerce 6.8.2
  plugins/woocommerce/changelog/prep-6.8.1-versions
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34411 Update remote inbox notifications readme
  plugins/woocommerce/changelog/update-remote-inbox-note-readme
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/README.md
Labels: plugin: woocommerce, focus: react admin

#34426 Fix store details fails to save store address after navigating back to the tab
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
Labels: release: cherry-pick, focus: react admin

#34414 Fix marketing task placeholder flash after a plugin is installed
  plugins/woocommerce-admin/client/tasks/tasks.tsx
Labels: focus: react admin

#34405 [COT] Implement order search
  plugins/woocommerce/changelog/add-33197-order-search
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34421 Integrates the COT admin list table and COT-based search.
  plugins/woocommerce/changelog/add-33197-admin-order-search
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#34293 Adding DateTimePicker component
  packages/js/components/changelog/add-component-datetime-picker
  packages/js/components/src/date-time-picker-control/README.md
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/index.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/index.ts
  plugins/woocommerce/changelog/add-component-datetime-picker
Labels: plugin: woocommerce, package: @woocommerce/components

#34410 Hide finish setup button when task list is disabled
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce/changelog/fix-34143-hide-finish-setup-button-when-task-list-is-disabled
Labels: plugin: woocommerce, focus: react admin

#34397 Use syncpack to verify consistent versions for react and react-dom
  .github/workflows/syncpack.yml
  .syncpackrc
  bin/pre-push.sh
  package.json
  packages/js/components/changelog/fix-34112
  packages/js/components/package.json
  packages/js/customer-effort-score/changelog/fix-34112
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/fix-34112
  packages/js/data/package.json
  packages/js/experimental/changelog/fix-34112
  packages/js/experimental/package.json
  packages/js/notices/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/components, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/experimental

#34359 Update WooCommerce blocks package to 8.3.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.3.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#34050 Add support for refunds and other order types in custom order tables
  plugins/woocommerce/changelog/enhancement-33771
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-refund-data-store-cpt.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableRefundDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/tests/php/includes/class-wc-order-factory-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
Labels: plugin: woocommerce

#34454 Prepare WooCommerce 6.9 Beta 2
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: react admin

#34455 Revert skip button changes on the OBW pages
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/usage-modal.js
  plugins/woocommerce-admin/client/profile-wizard/style.scss
  plugins/woocommerce/changelog/update-34451-revert-skip-button-on-obw
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#33791 Trashed coupons should not be usable (unless restored).
  plugins/woocommerce/changelog/fix-22052-coupon-trash
  plugins/woocommerce/includes/class-wc-discounts.php
  plugins/woocommerce/tests/php/includes/class-wc-discounts-tests.php
Labels: release: highlight, plugin: woocommerce

#34363 make `wccom` commands text translatable, add application-password section URL
  plugins/woocommerce/changelog/fix-connect-command-text
  plugins/woocommerce/includes/cli/class-wc-cli-com-command.php
Labels: plugin: woocommerce

#34324 [COT] Implement methods `get_order_count`, `get_unpaid_orders` and `get_order_id_by_order_key` in the COT datastore
  plugins/woocommerce/changelog/fix-34230
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#34472 Order item meta/re-order fix
  plugins/woocommerce/changelog/froger-me-trunk
  plugins/woocommerce/includes/class-wc-cart-session.php
Labels: plugin: woocommerce

#31145 Add inline file delivery to WC_Download_Handler
  plugins/woocommerce/changelog/allow-inline-downloads
  plugins/woocommerce/includes/admin/settings/class-wc-settings-products.php
  plugins/woocommerce/includes/class-wc-download-handler.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-products-test.php
Labels: needs: documentation, plugin: woocommerce

#34476 Remove deprecation notice from e2e readmes
  plugins/woocommerce/changelog/fix-remove-deprecation-notice
  plugins/woocommerce/tests/e2e-pw/README.md
  plugins/woocommerce/tests/e2e/README.md
Labels: plugin: woocommerce, type: community contribution

#34439 Add `wp_version` prop to storeprofiler_store_business_details_continue track
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce/changelog/add-wp-version-prop-to-business-details-continue-track
Labels: plugin: woocommerce, focus: react admin

#34259 Add back FB extension to Installed marketing extensions list.
  plugins/woocommerce-admin/client/marketing/components/product-icon/icons/library/facebook.js
  plugins/woocommerce/assets/images/marketing/facebook-icon.svg
  plugins/woocommerce/changelog/tweak-re-add-fb-marketing-extensions-list
  plugins/woocommerce/src/Admin/Marketing/InstalledExtensions.php
Labels: plugin: woocommerce, focus: react admin

#34264 Marketing page - Implement "Learn about marketing a store" card
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.scss
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.tsx
  plugins/woocommerce-admin/client/marketing/components/ReadBlogMessage.js
  plugins/woocommerce-admin/client/marketing/components/index.js
  plugins/woocommerce-admin/client/marketing/components/knowledge-base/index.js
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/LearnMarketing.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/LearnMarketing.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/PlaceholderPostTile.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/PostTile.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/index.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/types.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.tsx
  plugins/woocommerce/changelog/feature-33895-marketing-page-34108-learn-marketing
Labels: plugin: woocommerce, focus: react admin, focus: marketing

#34471 Update Google logo icon
  plugins/woocommerce-admin/client/marketing/components/product-icon/icons/library/google.js
  plugins/woocommerce-admin/client/marketing/components/product-icon/index.js
  plugins/woocommerce-admin/client/marketing/components/product-icon/style.scss
  plugins/woocommerce/assets/images/marketing/google.svg
  plugins/woocommerce/changelog/update-change-google-icon
Labels: plugin: woocommerce, focus: react admin

#34491 Fix "Orders" Plurality
  plugins/woocommerce-admin/client/analytics/report/products/table.js
  plugins/woocommerce/changelog/fix-orders-plural
Labels: plugin: woocommerce, focus: react admin

#33901 chore: Unify imports syntax in admin-e2e, add missing dependencies
  packages/js/admin-e2e-tests/README.md
  packages/js/admin-e2e-tests/changelog/update-admin-e2e-imports
  packages/js/admin-e2e-tests/package.json
  packages/js/admin-e2e-tests/src/elements/DropdownTypeaheadField.ts
  packages/js/admin-e2e-tests/src/fixtures/http-client.ts
  packages/js/admin-e2e-tests/src/fixtures/plugins.ts
  packages/js/admin-e2e-tests/src/fixtures/reset.ts
  packages/js/admin-e2e-tests/src/pages/BasePage.ts
  packages/js/admin-e2e-tests/src/pages/Login.ts
  packages/js/admin-e2e-tests/src/pages/OnboardingWizard.ts
  packages/js/admin-e2e-tests/src/pages/WcSettings.ts
  packages/js/admin-e2e-tests/src/sections/onboarding/BusinessSection.ts
  packages/js/admin-e2e-tests/src/sections/onboarding/StoreDetailsSection.ts
  packages/js/admin-e2e-tests/src/sections/payment-setup/BankAccountTransferSetup.ts
  packages/js/admin-e2e-tests/src/specs/activate-and-setup/basic-setup.ts
  packages/js/admin-e2e-tests/src/specs/activate-and-setup/complete-onboarding-wizard.ts
  packages/js/admin-e2e-tests/src/specs/analytics/analytics-overview.ts
  packages/js/admin-e2e-tests/src/specs/analytics/analytics.ts
  packages/js/admin-e2e-tests/src/specs/homescreen/activity-panel.ts
  packages/js/admin-e2e-tests/src/specs/homescreen/task-list.ts
  packages/js/admin-e2e-tests/src/specs/marketing/coupons.ts
  packages/js/admin-e2e-tests/src/specs/tasks/payment.ts
  packages/js/admin-e2e-tests/src/specs/tasks/purchase.ts
  packages/js/admin-e2e-tests/src/specs/translations.ts
  packages/js/admin-e2e-tests/src/utils/actions.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/admin-e2e-tests

#34495 Update product task experiment names to re-run
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-create-product-by-type.ts
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-layout-experiment.ts
  plugins/woocommerce/changelog/fix-re-run-product-task-experiment-v3
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
Labels: plugin: woocommerce, focus: react admin

#34413 Fix "1 of 2 steps" is shown for the first step in a 3 step tour
  plugins/woocommerce-admin/client/guided-tours/shipping-tour.tsx
  plugins/woocommerce-admin/client/shipping/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/shipping-recommendations-wrapper.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-shipping-recommendations.tsx
  plugins/woocommerce/changelog/fix-34194-shipping-tour-step-num
Labels: plugin: woocommerce, focus: react admin

#34335 Make Yoda conditions mandatory again
  phpcs.xml
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/unfix-yoda-conditions
Labels: plugin: woocommerce

#33827 Update `jest-puppeteer@5.0.4` (from `4.4.0`)
  packages/js/e2e-environment/changelog/update-jest-puppeteer
  packages/js/e2e-environment/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment

#34357 Refactor inbox notes to have get_note method
  plugins/woocommerce/changelog/update-34269-refactor-inbox-notes-to-have-get-notes-method
  plugins/woocommerce/src/Admin/Notes/Note.php
  plugins/woocommerce/src/Internal/Admin/Notes/NewSalesRecord.php
  plugins/woocommerce/src/Internal/Admin/Notes/OrderMilestones.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-test-order-milestones.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-tests-new-sales-record.php
Labels: plugin: woocommerce, focus: react admin

#34484 Fix country field is empty when navigating back to the store details tab
  packages/js/data/changelog/fix-34460-country-field-is-empty-when-navigating-back
  packages/js/data/src/onboarding/reducer.ts
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce/changelog/fix-34460-country-field-is-empty-when-navigating-back
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-profile.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34474 [COT] Initialize order date props during `read()` as GMT
  plugins/woocommerce/changelog/fix-34147
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: focus: custom order tables, plugin: woocommerce

#34443 Enable WC Customizer panels in customize.php routes also for block themes
  plugins/woocommerce/changelog/fix-enable-customizer-in-customize-php
  plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php
Labels: plugin: woocommerce

#34382 Add Pricing section
  packages/js/components/changelog/add-30_list_price_field
  packages/js/components/src/enriched-label/stories/style.scss
  packages/js/components/src/enriched-label/style.scss
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/constants.js
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-section-layout.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/sections/pricing-section.scss
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-images-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
Labels: focus: react admin, package: @woocommerce/components

#34014 No states for Saint Martin - French Part
  plugins/woocommerce/changelog/no-states-for-saint-martin-french-part
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce

#34457 Update tag component styling
  packages/js/components/changelog/update-64-tag-styling
  packages/js/components/src/search-list-control/test/__snapshots__/index.js.snap
  packages/js/components/src/tag/index.js
  packages/js/components/src/tag/style.scss
  packages/js/components/src/tag/test/__snapshots__/index.js.snap
Labels: package: @woocommerce/components

#34521 Add missing styles for the progress header
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce/changelog/fix-34509-recover-lost-styling-for-progress-header
  plugins/woocommerce/changelog/no-states-for-saint-martin-french-part
Labels: plugin: woocommerce, focus: react admin

#34428 Update dependencies and jest config to pass admin tests for pnpm 7
  package.json
  packages/js/components/babel.config.js
  packages/js/components/changelog/dev-fix-admin-tests-pnpm7
  packages/js/components/package.json
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/csv-export/babel.config.js
  packages/js/csv-export/changelog/dev-fix-admin-tests-pnpm7
  packages/js/csv-export/package.json
  packages/js/currency/babel.config.js
  packages/js/currency/changelog/dev-fix-admin-tests-pnpm7
  packages/js/currency/package.json
  packages/js/customer-effort-score/babel.config.js
  packages/js/customer-effort-score/changelog/dev-fix-admin-tests-pnpm7
  packages/js/customer-effort-score/package.json
  packages/js/data/babel.config.js
  packages/js/data/changelog/dev-fix-admin-tests-pnpm7
  packages/js/data/package.json
  packages/js/date/babel.config.js
  packages/js/date/changelog/dev-fix-admin-tests-pnpm7
  packages/js/date/package.json
  packages/js/experimental/babel.config.js
  packages/js/experimental/changelog/dev-fix-admin-tests-pnpm7
  packages/js/experimental/package.json
  packages/js/explat/babel.config.js
  packages/js/explat/changelog/dev-fix-admin-tests-pnpm7
  packages/js/explat/package.json
  packages/js/internal-js-tests/babel.config.js
  packages/js/internal-js-tests/jest.config.js
  packages/js/internal-js-tests/package.json
  packages/js/navigation/babel.config.js
  packages/js/navigation/changelog/dev-fix-admin-tests-pnpm7
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/babel.config.js
  packages/js/number/changelog/dev-fix-admin-tests-pnpm7
  packages/js/number/package.json
  packages/js/tsconfig.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-fix-admin-tests-pnpm7
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number

#34498 [COT] Fix error during apply coupon when COT enabled.
  plugins/woocommerce/changelog/fix-34485
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce
