Repository woocommerce/woocommerce, pull requests merged in 2022-06, with the labels that each got.

#33239 Remove unused contributors script
  plugins/woocommerce/bin/contributors.sh
  plugins/woocommerce/changelog/33239-remove-contri-script
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#32722 Added new tests to cover editing product variations in the Product Edit page.
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-edit-details.test.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/src/flows/merchant.js
  packages/js/e2e-utils/src/page-utils.js
Labels: package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils

#33064 Remove order/product count from wcSettings
  plugins/woocommerce-admin/client/homescreen/activity-panel/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/orders/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/stock/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/test/index.js
  plugins/woocommerce/changelog/update-32524_order_product_count_api_requests_use_data_store
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#33177 Add/edit products: add new Tracks props
  plugins/woocommerce/changelog/add-32674_new-tracks-props
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: focus: product, plugin: woocommerce

#32728 Add : "name" and "id" attributes of input html tags can now be different in wc-admin-settings
  plugins/woocommerce/changelog/add-wc-admin-settings
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
Labels: plugin: woocommerce

#33291 Fix obw free extension rules for the marketing task with php 8
  plugins/woocommerce/changelog/fix-obw-free-extensions-for-php8
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#32840 Fix: Twenty Twenty-Two integration
  plugins/woocommerce/changelog/fix-twenty-twenty-two-integration
  plugins/woocommerce/includes/theme-support/class-wc-twenty-twenty-two.php
  plugins/woocommerce/legacy/css/twenty-twenty-two.scss
Labels: plugin: woocommerce

#33296 Bump version number.
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce

#33290 Deprecate wcAdminAssetUrl and WC_ADMIN_IMAGES_FOLDER_URL
  plugins/woocommerce-admin/client/shipping/woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/print-shipping-label-banner/shipping-banner/index.js
  plugins/woocommerce/changelog/update-32491-deprecate-wcadminasseturl
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
Labels: plugin: woocommerce, focus: react admin

#33300 Add woo install timestamp to server experimental assignment requests
  plugins/woocommerce/changelog/fix-33295
  plugins/woocommerce/includes/react-admin/class-experimental-abtest.php
Labels: release: cherry-pick, plugin: woocommerce

#33208 Add e2e tests to check shipping costs consistency in cart and checkout
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/README.md
  packages/js/e2e-core-tests/src/specs/index.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-and-checkout-consistent-shipping.test.js
  plugins/woocommerce/tests/e2e/specs/front-end/cart-and-checkout-consistent-shipping.test.js
Labels: package: @woocommerce/e2e-core-tests, plugin: woocommerce

#33297 Prepare for 6.6.0-rc.2
  changelog.txt
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
  plugins/woocommerce/includes/react-admin/class-experimental-abtest.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#33299 Remove changelog file for cherry-picked PRs #33180 and #33300
  plugins/woocommerce/changelog/fix-33179-check-type
  plugins/woocommerce/changelog/fix-33295
Labels: plugin: woocommerce

#33303 Remove WCA installation merge test
  plugins/woocommerce/changelog/update-33302-remove-wca-installation-merge-test
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
Labels: plugin: woocommerce

#33283 Removed `@woocommerce/notices` Internal Prefix
  packages/js/dependency-extraction-webpack-plugin/assets/packages.js
  packages/js/notices/.eslintrc.js
  packages/js/notices/.npmrc
  packages/js/notices/CHANGELOG.md
  packages/js/notices/README.md
  packages/js/notices/package.json
  packages/js/notices/project.json
  packages/js/notices/src/index.ts
  packages/js/notices/src/store/actions.ts
  packages/js/notices/src/store/constants.ts
  packages/js/notices/src/store/controls.ts
  packages/js/notices/src/store/index.ts
  packages/js/notices/src/store/reducer.ts
  packages/js/notices/src/store/selectors.ts
  packages/js/notices/src/store/types.ts
  packages/js/notices/src/store/utils/on-sub-key.ts
  packages/js/notices/tsconfig-cjs.json
  packages/js/notices/tsconfig.json
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: plugin: woocommerce, focus: react admin, package: dependency-extraction-webpack-plugin

#32763 Product review page in WooCommerce Core
  plugins/woocommerce-admin/client/homescreen/activity-panel/reviews/index.js
  plugins/woocommerce/changelog/add-product-reviews-page
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/includes/class-wc-comments.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/legacy/css/admin.scss
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Loader.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsCommentsOverrides.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsListTable.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsUtil.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ProductReviewsServiceProvider.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsCommentsOverridesTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsListTableTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsUtilTest.php
Labels: plugin: woocommerce, focus: react admin

#33178 Add purchase task to experimental task lists
  plugins/woocommerce-admin/client/two-column-tasks/headers/purchase.js
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce-admin/client/two-column-tasks/task-headers.ts
  plugins/woocommerce/assets/images/task_list/purchase-illustration.png
  plugins/woocommerce/changelog/add-33125
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Purchase.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/purchase.php
Labels: plugin: woocommerce, focus: react admin

#33264 Fixes for the WP CLI Updater
  plugins/woocommerce/changelog/fix-33262-wp-cli-updates
  plugins/woocommerce/includes/cli/class-wc-cli-update-command.php
  plugins/woocommerce/tests/php/includes/cli/class-wc-cli-update-command-test.php
Labels: plugin: woocommerce

#33278 Add create product actions in products data store
  packages/js/data/changelog/add-33076
  packages/js/data/src/index.ts
  packages/js/data/src/products/action-types.ts
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/reducer.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/test/reducer.ts
  packages/js/data/src/products/types.ts
Labels: package: @woocommerce/data

#33210 Add charset collation to COT database schema
  plugins/woocommerce/changelog/cot-add-collation-to-schema
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: focus: custom order tables, plugin: woocommerce

#33334 Fix: error when creating products via REST API v1
  plugins/woocommerce/changelog/fix-error-when-creating-products-via-rest-api-v1
  plugins/woocommerce/src/Internal/ProductAttributesLookup/LookupDataStore.php
Labels: plugin: woocommerce

#33345 Prepare for 6.6.0-rc.3
  changelog.txt
  plugins/woocommerce-admin/chunk-src-version-param.js
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Internal/Admin/WcPaySubscriptionsPage.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/LookupDataStore.php
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: react admin

#33229 Add tour kit component
  packages/js/components/changelog/add-tour-kit
  packages/js/components/package.json
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  packages/js/components/src/tour-kit/README.md
  packages/js/components/src/tour-kit/components/step-controls.tsx
  packages/js/components/src/tour-kit/components/step-navigation.tsx
  packages/js/components/src/tour-kit/components/step.tsx
  packages/js/components/src/tour-kit/index.tsx
  packages/js/components/src/tour-kit/stories/index.tsx
  packages/js/components/src/tour-kit/stories/style.scss
  packages/js/components/src/tour-kit/style.scss
  packages/js/components/src/tour-kit/test/index.tsx
  packages/js/components/src/tour-kit/types.ts
  packages/js/internal-style-build/index.js
  plugins/woocommerce-admin/webpack.config.js
  pnpm-lock.yaml
  tools/storybook/webpack.config.js
Labels: focus: react admin, package: @woocommerce/components

#33351 Update ActionScheduler to 3.4.2
  plugins/woocommerce/changelog/update-as-3.4.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#33224 Analyzer: Turn on comments for database changes
  .github/workflows/pr-highlight-changes.yml
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/git.ts
  tools/code-analyzer/src/print.ts
  tools/code-analyzer/src/utils.ts
Labels: package: @woocommerce/js-tests, package: @woocommerce/notices, package: @woocommerce/style-build

#33357 Update webpack.config.js to ensure we use styles from build-style
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/fix-e2e-test
Labels: plugin: woocommerce, focus: react admin

#33268 Add product page spotlight tour
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/use-active-editor-type.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/use-tmce-iframe-focus-style.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/utils.ts
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-product-tour
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#33255 [COT] Add database transactions support for data synchronization
  plugins/woocommerce/changelog/add-db-transaction-support-for-cot-sync
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationController.php
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MetaToMetaTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/TableMigrator.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/tests/Tools/DynamicDecorator.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
  plugins/woocommerce/tests/php/src/Proxies/DynamicDecoratorTest.php
Labels: plugin: woocommerce

#33347 Add a new ArrayUtil::select method
  plugins/woocommerce/changelog/add-array_util_select_method
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/tests/php/src/Utilities/ArrayUtilTest.php
Labels: plugin: woocommerce

#33361 Wrap product spotlight tour under ExPlat logic
  plugins/woocommerce/changelog/add-33162-experiment-logic
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
Labels: plugin: woocommerce

#31795 Change attribute slug length requirement and add wc_create_attribute tests
  plugins/woocommerce/changelog/fix-wc-attribute-slug-len
  plugins/woocommerce/includes/legacy/api/v2/class-wc-api-products.php
  plugins/woocommerce/includes/legacy/api/v3/class-wc-api-products.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-product-attributes-v1-controller.php
  plugins/woocommerce/includes/wc-attribute-functions.php
  plugins/woocommerce/tests/php/includes/wc-attribute-functions-test.php
Labels: plugin: woocommerce

#33362 Fix continue button is enabled when email is null in setup wizard
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
  plugins/woocommerce/changelog/fix-32588-continue-button-is-enabled-when-email-is-null
Labels: plugin: woocommerce, focus: react admin

#33274 Make the option 'woocommerce_tracker_ua' load on demand.
  plugins/woocommerce/changelog/update-31881-lazyload-ua-option
  plugins/woocommerce/includes/wc-user-functions.php
Labels: plugin: woocommerce

#33379 First pass: Twenty Twenty One notice styles. Closes #29560.
  plugins/woocommerce/changelog/fix-29560-twentytwentyone-notices
  plugins/woocommerce/legacy/css/twenty-twenty-one.scss
Labels: plugin: woocommerce

#33377 follow up to #33182 swap .woocommerce-info and .woocommerce-message colors in twenty twenty
  plugins/woocommerce/changelog/fix-33182-twenty-twenty
  plugins/woocommerce/legacy/css/twenty-twenty.scss
Labels: plugin: woocommerce

#33313 Update scrollbar hover styles in new navigation
  plugins/woocommerce-admin/client/navigation/style.scss
Labels: release: highlight, focus: react admin

#33282 Add update product actions to product data store
  packages/js/data/changelog/add-33076-2
  packages/js/data/src/products/action-types.ts
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/reducer.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/test/reducer.ts
  packages/js/data/src/products/types.ts
Labels: package: @woocommerce/data

#33385 Prepare for WooCommerce 6.6.0 Final
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#33354 WooCommerce Plugin: Update Webpack to 5.x
  plugins/woocommerce/changelog/update-webpack-5
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#33292 Update onboarding email marketing checkbox default to false
  packages/js/admin-e2e-tests/changelog/update-marketing-checkbox
  packages/js/admin-e2e-tests/src/sections/onboarding/StoreDetailsSection.ts
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce/changelog/fix-onboarding-email-optin
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests

#33231 Fix typos in CLIRunner.php
  plugins/woocommerce/changelog/cot-cli-migration-output
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#33359 @woocommerce/components: Prep changelog for release
  packages/js/components/CHANGELOG.md
  packages/js/components/PREVIOUS_CHANGELOG.md
  packages/js/components/changelog/add-js-packages-changelogger
  packages/js/components/changelog/add-tour-kit
  packages/js/components/changelog/dev-33156-ugrade-react-router-v6
  packages/js/components/changelog/fix-json-formatting
  packages/js/components/changelog/fix-standardize-lint-monorepo
  packages/js/components/changelog/update-memoize-one
  packages/js/components/changelog/update-react-dates
  packages/js/components/composer.json
  packages/js/components/package.json
Labels: package: @woocommerce/components

#33394 Tweak tour kit gap between content and controls
  packages/js/components/changelog/tweak-tour-kit-gap-between-content-and-controls
  packages/js/components/src/tour-kit/style.scss
Labels: package: @woocommerce/components

#33395 Fix product tour spotlight location
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
  plugins/woocommerce/changelog/fix-product-tour-spotlight-location
Labels: plugin: woocommerce, focus: react admin

#33397 Update product template descriptions
  plugins/woocommerce/changelog/update-product-template-descriptions
  plugins/woocommerce/src/Admin/API/Templates/digital_product.csv
  plugins/woocommerce/src/Admin/API/Templates/external_product.csv
  plugins/woocommerce/src/Admin/API/Templates/grouped_product.csv
  plugins/woocommerce/src/Admin/API/Templates/physical_product.csv
  plugins/woocommerce/src/Admin/API/Templates/variable_product.csv
Labels: plugin: woocommerce, focus: react admin

#33402 Add e2e test to make sure chunk URLs contain version param
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-page-loads.test.js
Labels: package: @woocommerce/e2e-core-tests

#33401 Migrate `@woocommerce/data` onboarding store to TS
  packages/js/data/changelog/dev-migrate-onboarding-store-to-ts
  packages/js/data/src/onboarding/action-types.ts
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/deprecated-tasks.ts
  packages/js/data/src/onboarding/index.ts
  packages/js/data/src/onboarding/reducer.ts
  packages/js/data/src/onboarding/resolvers.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/test/reducer.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/onboarding/with-onboarding-hydration.js
  packages/js/data/src/onboarding/with-onboarding-hydration.tsx
  packages/js/data/src/types/wp-data.ts
  plugins/woocommerce-admin/client/tasks/deprecated-tasks.tsx
  plugins/woocommerce/changelog/dev-migrate-onboarding-store-to-ts
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#33400 Add event tracking product page spotlight tour
  packages/js/components/changelog/add-tour-kit-step-name
  packages/js/components/src/tour-kit/test/index.tsx
  packages/js/components/src/tour-kit/types.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/use-product-step-change.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/use-track-publish-button.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/utils.ts
  plugins/woocommerce/changelog/add-33160-add-event-tracking-product-page-spotlight-tour
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#33338 Update WooCommerce Blocks package to 7.8.0
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.8.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#33417 Sync payment gateway titles fix
  changelog.txt
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/HtmlSanitizer.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/HtmlSanitizerTest.php
Labels: plugin: woocommerce

#33418 Sync payment gateway titles fix
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/HtmlSanitizer.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/HtmlSanitizerTest.php
Labels: plugin: woocommerce

#27804 Generalize photoswipe button event target
  plugins/woocommerce/changelog/photoswipe-event-target
  plugins/woocommerce/legacy/js/frontend/single-product.js
Labels: plugin: woocommerce

#33287 Adding context property to tasklist_view and task_click events
  packages/js/data/src/onboarding/utils.ts
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/panels/setup-tasks/setup-tasks-panel.tsx
  plugins/woocommerce-admin/client/activity-panel/setup-progress.js
  plugins/woocommerce-admin/client/activity-panel/style.scss
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/tasks/index.ts
  plugins/woocommerce-admin/client/tasks/reminder-bar/reminder-bar.tsx
  plugins/woocommerce-admin/client/tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/tasks/task-list.tsx
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list.test.tsx
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/add-33284-task-sidebar-tracks
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-tokens/payment-tokens.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task-list.php
Labels: release: highlight, plugin: woocommerce, focus: react admin, package: @woocommerce/data

#33419 Update the changelog.txt and the stable tag in readme.txt for 6.6.0
  changelog.txt
  plugins/woocommerce/changelog/prep-post-6.6.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33325 Add cache refreshing/debugging mechanisms to Report API endpoints
  plugins/woocommerce/changelog/fix-33221-force-cache-refresh
  plugins/woocommerce/src/Admin/API/Reports/Categories/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Revenue/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/Controller.php
Labels: focus: wc rest api, plugin: woocommerce, focus: react admin, focus: analytics

#33413 Turn on experimental-product-tour feature flag
  plugins/woocommerce/changelog/update-turn-on-product-tour-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#33425 Fix explat fetchExperimentAssignment response
  packages/js/explat/changelog/fix-explat-fetch-assignment
  packages/js/explat/src/assignment.ts
  packages/js/explat/src/test/assignment-test.js
Labels: package: @woocommerce/explat

#33247 Correct CLIRunner translations
  plugins/woocommerce/changelog/update-fix-CLIRunner-translations
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: focus: i18n, focus: wp-cli, plugin: woocommerce

#33428 Update product task experiment names
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-layout-experiment.ts
  plugins/woocommerce/changelog/tweak-update-product-task-experiment-names
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
Labels: plugin: woocommerce, focus: react admin

#33373 Clean up unused remote inbox notifications option
  plugins/woocommerce/changelog/fix-33314
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/react-admin/wc-admin-update-functions.php
Labels: plugin: woocommerce

#33285 Add product deletion via datastore API
  packages/js/data/changelog/add-33127
  packages/js/data/src/products/action-types.ts
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/reducer.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/test/reducer.ts
  packages/js/data/src/products/types.ts
Labels: package: @woocommerce/data

#33434 Make sure payment gateway title is a string before sanitizing
  plugins/woocommerce/changelog/html-sanitizer-on-null-gateway-title
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php
Labels: plugin: woocommerce

#33353 Update method for getting Reports API cache version number
  plugins/woocommerce/changelog/fix-33315-stats-cache-ttl
  plugins/woocommerce/src/Admin/API/Reports/Cache.php
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
Labels: type: enhancement, focus: wc rest api, plugin: woocommerce, focus: react admin, focus: analytics

#33305 Settings: fix Tracks event when enabling/disabling advanced features settings.
  plugins/woocommerce/changelog/fix-advanced-feature-tracks
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
Labels: plugin: woocommerce, focus: react admin

#33423 Expand Repository Development Documentation
  .github/actions/install-build/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-lint-test-js.yml
  .github/workflows/pr-unit-tests.yml
  DEVELOPMENT.md
  README.md
  package.json
  packages/js/e2e-environment/external.md
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/README.md
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/docs-turbo-update
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e/README.md
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment, plugin: woocommerce

#33449 Remove obselete experiment calls
  plugins/woocommerce-admin/client/homescreen/stats-overview/index.js
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/tasks/test/tasks.test.tsx
Labels: focus: react admin

#33448 Fix product tour TypeError when reading innerHTML
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/use-product-step-change.ts
  plugins/woocommerce/changelog/fix-tour-kit-undefined-error
Labels: plugin: woocommerce, focus: react admin

#33452 Updated @automattic/tour-kit to 1.1.1 which has live resize functionality
  packages/js/components/changelog/add-tour-kit-live-resize
  packages/js/components/package.json
  packages/js/components/src/tour-kit/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
  plugins/woocommerce/changelog/add-tour-kit-live-resize
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#33454 [redux] Coerce variable type of form field argument 'class' in woocommerce_form_field()
  plugins/woocommerce/changelog/hahn208-master
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce

#28754 Fix $item->product condition
  plugins/woocommerce/changelog/2022-06-16-13-54-11-771754
  plugins/woocommerce/includes/class-wc-discounts.php
Labels: plugin: woocommerce

#33046 Release automation: generate changelog during code freeze
  .github/workflows/release-code-freeze.yml
  .github/workflows/scripts/release-changelog.php
  .github/workflows/scripts/release-code-freeze.php
  plugins/woocommerce/changelog/add-changelog-on-freeze
  plugins/woocommerce/composer.json
  tools/changelogger/LegacyCoreFormatter.php
Labels: plugin: woocommerce

#33426 Remove two-col task list experiments
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce/changelog/update-32415-remove-task-list-ui-experiments
Labels: plugin: woocommerce, focus: react admin

#33422 Fix Admin performance with a large # of zipcodes
  plugins/woocommerce/changelog/update-33073-fix-admin-perf-issue-with-large-zipcodes
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
Labels: plugin: woocommerce, focus: react admin

#33499 Update WooCommerce Blocks package to 7.6.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.6.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#33470 Add playwright e2e README.md
  plugins/woocommerce/changelog/dev-add-playwright-e2e-docs
  plugins/woocommerce/e2e/README.md
Labels: plugin: woocommerce

#33460 Rename @woocommerce/admin-library
  .github/workflows/pr-lint-test-js.yml
  plugins/woocommerce-admin/docs/examples/extensions/README.md
  plugins/woocommerce-admin/docs/features/navigation.md
  plugins/woocommerce-admin/docs/features/payment-gateway-suggestions.md
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/rename-woocommerce-admin
  turbo.json
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: react admin

#33507 Add Client Components Documentation To WooCommerce Core
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/docs-add-woocommerce-components
Labels: plugin: woocommerce

#33330 Added local pickup handling in `get_tax_location()`.
  plugins/woocommerce/changelog/fix-33135
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce

#33254 Add extra hook in email setup_locale and restore_locale functions.
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce

#32709 Remove legacy image sizes which were planned for removal into 4.6.0
  plugins/woocommerce/changelog/remove_legacy_image_sizes
  plugins/woocommerce/includes/class-wc-regenerate-images-request.php
  plugins/woocommerce/includes/class-wc-regenerate-images.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/wc-core-functions.php
Labels: plugin: woocommerce

#33519 Update WooCommerce Blocks package to 7.6.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.6.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#33520 Release 6.6.1: Update changelog and readme for inclusion of Blocks 7.6.2
  changelog.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33514 Update WooCommerce Blocks package to 7.8.3
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.8.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: needs: triage feedback, plugin: woocommerce

#33531 Add shipping-smart-defaults and shipping-setting-tour feature flags
  plugins/woocommerce/changelog/add-shipping-feature-flags
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#33532 Fix feature flags
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#31333 [PHP 8.1] Fix code that throws deprecation notices in tests in PHP 8.1
  plugins/woocommerce/changelog/fix-deprecation_notices_in_tests_in_php_8_1
  plugins/woocommerce/includes/admin/class-wc-admin-webhooks.php
  plugins/woocommerce/includes/admin/reports/class-wc-admin-report.php
  plugins/woocommerce/includes/admin/settings/views/html-webhooks-edit.php
  plugins/woocommerce/includes/class-wc-order-refund.php
  plugins/woocommerce/includes/cli/class-wc-cli-runner.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-refund-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variable-data-store-cpt.php
  plugins/woocommerce/includes/legacy/api/v2/class-wc-api-webhooks.php
  plugins/woocommerce/includes/legacy/api/v3/class-wc-api-webhooks.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-webhooks-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-setting-options-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-terms-controller.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/includes/wc-term-functions.php
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/legacy/framework/class-wc-unit-test-case.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/system-status.php
  plugins/woocommerce/tests/php/includes/class-wc-ajax-test.php
Labels: plugin: woocommerce

#33511 Fix broken design of Single Product template in block themes and on-sale badge being partially hidden
  plugins/woocommerce/changelog/fix-33304-single-product-collapsed-onsale-badge-hidden
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
Labels: type: bug, plugin: woocommerce

#28930 Add $transaction_id to payment_complete hooks
  plugins/woocommerce/changelog/patch-12
  plugins/woocommerce/includes/class-wc-order.php
Labels: needs: triage feedback, plugin: woocommerce

#33488 Ordered interfaces
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-item-product-data-store.php
  plugins/woocommerce/includes/data-stores/class-wc-payment-token-data-store.php
  plugins/woocommerce/includes/data-stores/class-wc-shipping-zone-data-store.php
Labels: plugin: woocommerce

#31866 add sort method to hide hidden columns
  plugins/woocommerce/changelog/patch-1
  plugins/woocommerce/client/legacy/js/admin/product-ordering.js
Labels: plugin: woocommerce

#33543 Fixed Unit Test Suite
  plugins/woocommerce/changelog/fix-phpunit-tests
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#30860 Show generic error when trying to process a checkout while offline
  plugins/woocommerce/changelog/friendlier-checkout-errors
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce

#33549 Fix payments settings banner experiment logic
  plugins/woocommerce-admin/client/payments/payment-settings-banner.tsx
  plugins/woocommerce-admin/client/payments/use-payments-experiment.ts
  plugins/woocommerce/changelog/fix-payments-settings-banner-experiment-logic
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#33529 Update shipping recommendations display logic
  packages/js/data/changelog/update-display-shipping-recommendations
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/shipping/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/shipping-recommendations-wrapper.tsx
  plugins/woocommerce-admin/client/shipping/shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/test/shipping-recommendations-wrapper.test.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/update-display-shipping-recommendations
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#33577 Switch to ESLint to fix admin lint command
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-fix-admin-lint
Labels: plugin: woocommerce, focus: react admin

#33533 Update shipping task display logic
  plugins/woocommerce/changelog/update-shipping-task-display-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ReviewShippingOptions.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/shipping.php
Labels: plugin: woocommerce, focus: react admin

#33579 Fix local site url in woocommerce readme
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/dev-update-woo-readme
Labels: plugin: woocommerce

#33589 fix payments banner experiment test
  plugins/woocommerce-admin/client/payments/test/payment-settings-banner.test.tsx
Labels: focus: react admin

#33592 Fix: improve woocommerce-admin plugin deactivation notice message
  plugins/woocommerce/changelog/fix-improved-wca-plugin-deactivation-message
  plugins/woocommerce/src/Internal/Admin/Loader.php
Labels: plugin: woocommerce, focus: react admin

#33590 Fixed missing wcpay setup task
  plugins/woocommerce-admin/client/tasks/fills/woocommerce-payments.js
  plugins/woocommerce/changelog/fix-missing-wcpay-setup-task-page
Labels: plugin: woocommerce, focus: react admin

#33431 Fixes issue #33335
  plugins/woocommerce/changelog/pr-33431
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce

#31941 class-wc-geolocation.php: hide blog URL from third-party providers
  plugins/woocommerce/changelog/pcarrier-hide_url
  plugins/woocommerce/includes/class-wc-geolocation.php
Labels: plugin: woocommerce

#33584 Add phpcs-changed
  .github/workflows/pr-code-sniff.yml
  phpcs.xml
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/phpcs-changed-33584
  plugins/woocommerce/composer.json
  plugins/woocommerce/tests/bin/phpcs.sh
Labels: plugin: woocommerce

#33629 Fix shipping display logic United Kingdom country code
  plugins/woocommerce/changelog/fix-uk-country-code
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/shipping.php
Labels: plugin: woocommerce, focus: react admin

#33547 Add logic to set the default shipping options on homescreen
  plugins/woocommerce/changelog/feature-33366-automatically-set-default-shipping-options
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#33620 Add new flow shipping recommendation task
  packages/js/components/changelog/add-33367-new-flow-wcs-shipping-task
  packages/js/components/src/plugins/index.js
  packages/js/components/src/plugins/test/index.js
  plugins/woocommerce-admin/client/shipping/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/connect.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/plugins.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/store-location.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/wcs-banner.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/wcs-banner.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/discount.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/paper.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/printer.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/wcs.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/shipping-recommendation.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/types.ts
  plugins/woocommerce-admin/client/tasks/fills/index.js
  plugins/woocommerce/changelog/add-33367-new-flow-wcs-shipping-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ExperimentalShippingRecommendation.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#33621 Move tracks _ui and _ut properties out of filtered tracks properties
  plugins/woocommerce/changelog/fix-tracks-filtered-properties
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/class-wc-tracks.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: release: cherry-pick, plugin: woocommerce

#33627 Add PR numbers to changelog entries on code freeze process
  .github/workflows/release-code-freeze.yml
  .github/workflows/scripts/release-changelog.php
  packages/js/admin-e2e-tests/composer.json
  packages/js/admin-e2e-tests/composer.lock
  packages/js/api-core-tests/composer.lock
  packages/js/api/composer.json
  packages/js/api/composer.lock
  packages/js/components/composer.json
  packages/js/components/composer.lock
  packages/js/csv-export/composer.json
  packages/js/csv-export/composer.lock
  packages/js/currency/composer.json
  packages/js/currency/composer.lock
  packages/js/customer-effort-score/composer.json
  packages/js/customer-effort-score/composer.lock
  packages/js/data/composer.json
  packages/js/data/composer.lock
  packages/js/date/composer.json
  packages/js/date/composer.lock
  packages/js/dependency-extraction-webpack-plugin/composer.json
  packages/js/dependency-extraction-webpack-plugin/composer.lock
  packages/js/e2e-core-tests/composer.lock
  packages/js/e2e-environment/composer.lock
  packages/js/e2e-utils/composer.lock
  packages/js/eslint-plugin/composer.json
  packages/js/eslint-plugin/composer.lock
  packages/js/experimental/composer.json
  packages/js/experimental/composer.lock
  packages/js/explat/composer.json
  packages/js/explat/composer.lock
  packages/js/extend-cart-checkout-block/composer.json
  packages/js/extend-cart-checkout-block/composer.lock
  packages/js/navigation/composer.json
  packages/js/navigation/composer.lock
  packages/js/number/composer.json
  packages/js/number/composer.lock
  packages/js/onboarding/composer.json
  packages/js/onboarding/composer.lock
  packages/js/tracks/composer.json
  packages/js/tracks/composer.lock
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/composer.lock
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/lib/composer.lock
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, package: @woocommerce/api-core-tests, plugin: woocommerce, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#33257 Bump `@wordpress/e2e-test-utils` from `4.16.1` to `wp-5.8`
  packages/js/e2e-utils/changelog/bump-wordpress-e2e-test-utils
  packages/js/e2e-utils/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-utils, type: technical debt

#33635 Update README.md to reference the correct port no. Change from 8084 to 8086
  packages/js/api-core-tests/README.md
Labels: package: @woocommerce/api-core-tests

#33633 Add tests for shipping recommendation task
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/shipping-recommendation.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/test/shipping-recommendation.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/utils.ts
  plugins/woocommerce/changelog/add-tests-for-shipping-recommendation-task
Labels: plugin: woocommerce, focus: react admin

#33649 Fix borken react admin commands
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-fix-admin-commands
Labels: plugin: woocommerce, focus: react admin

#33650 Update review shipping options task complete logic
  plugins/woocommerce/changelog/update-review-shipping-task-complete-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ReviewShippingOptions.php
Labels: plugin: woocommerce, focus: react admin

#33630 Update shipping logic when OBW is skipped
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/shipstation-banner.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/shipstation.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/star.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/images/timer.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/index.js
  plugins/woocommerce-admin/client/tasks/fills/steps/location.js
  plugins/woocommerce/changelog/feature-33364-update-shipping-task-logic-when-obw-is-skipped
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
Labels: plugin: woocommerce, focus: react admin

#33548 Dev: allow unused destructured variables in lint rules
  packages/js/data/src/items/utils.ts
  packages/js/data/src/orders/test/reducer.ts
  packages/js/data/src/orders/utils.ts
  packages/js/data/src/products/utils.ts
  packages/js/eslint-plugin/changelog/dev-allow-unused-destructured-vars
  packages/js/eslint-plugin/configs/recommended.js
Labels: package: @woocommerce/data, package: @woocommerce/eslint-plugin

#33341 [COT] Implement create() method in COT datastore
  plugins/woocommerce/changelog/add-32670-cot-data-store-create
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#33658 Update daily smoke test to add k6 smoke tests
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/daily smoke add k6
  plugins/woocommerce/tests/performance/tests/gh-action-daily-ext-requests.js
Labels: plugin: woocommerce, focus: performance tests, focus: smoke tests

#33662 Payment task: fix wrong copy in the accordion link
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce/changelog/fix-33597-wrong-copy-in-payment-accordion-link
Labels: plugin: woocommerce, focus: react admin

#33667 Shipping recommendation task set location step manual navigation
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/store-location.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/shipping-recommendation.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/test/shipping-recommendation.tsx
  plugins/woocommerce/changelog/update-shipping-recommendation-set-location-step
Labels: plugin: woocommerce, focus: react admin

#33663 Fix wrong copy in the payments task on the Home Task list
  plugins/woocommerce/changelog/fix-33619-wrong-copy-in-payments-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: plugin: woocommerce, focus: react admin

#33321 Include Tracks indicator property for block editor on product update.
  plugins/woocommerce/changelog/add-block-editor-edit-tracks
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce

#33652 Added a filter to set fopen mode for streams that dont support a+
  plugins/woocommerce/changelog/feature-fopen-csv-filter
  plugins/woocommerce/includes/export/abstract-wc-csv-batch-exporter.php
Labels: plugin: woocommerce

#33587 Style fix for the print shipping banner close modal
  plugins/woocommerce-admin/client/wp-admin-scripts/print-shipping-label-banner/style.scss
  plugins/woocommerce/changelog/fix-shipping-plugin-banner
Labels: plugin: woocommerce, focus: react admin
