Repository woocommerce/woocommerce, pull requests merged in 2022-09, with the labels that each got.

#34515 Remove set up store details note
  plugins/woocommerce/changelog/fix-34341-remove-set-up-store-details-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/CompleteStoreDetails.php
Labels: plugin: woocommerce, focus: react admin

#34499 Add util methods to get order edit and create URLs
  plugins/woocommerce/changelog/fix-34228
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderAdminServiceProvider.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
Labels: plugin: woocommerce, focus: react admin

#34532 Use label prop on sale price input instead of separate label element
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
Labels: focus: react admin, focus: product management MVP

#34500 Update Guernsey state field to non-required
  plugins/woocommerce/changelog/fix-32876-2
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce

#34005 Add `recordEvent` validation to Tracks package
  packages/js/tracks/changelog/add-validation_for_event_tracking
  packages/js/tracks/src/index.ts
  packages/js/tracks/src/test/index.ts
  packages/js/tracks/src/utils.js
  packages/js/tracks/typings/global.d.ts
  plugins/woocommerce/changelog/add-validation_for_event_tracking
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/class-wc-tracks-event.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: plugin: woocommerce, package: @woocommerce/tracks

#33927 Add WooCommerce header to WooCommerce.com requests
  plugins/woocommerce/changelog/add-wccom-api-headers
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-api.php
  plugins/woocommerce/includes/admin/marketplace-suggestions/class-wc-marketplace-updater.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php
  plugins/woocommerce/src/Admin/DataSourcePoller.php
  plugins/woocommerce/src/Internal/Admin/Marketing.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProducts.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingThemes.php
  plugins/woocommerce/src/Internal/Admin/Schedulers/MailchimpScheduler.php
Labels: plugin: woocommerce, focus: react admin

#34189 Liechtenstein Checkout: Hide Municipality Field with empty states array
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce

#34561 Update DateTimePickerControl's onChange signature (TypeScript)
  packages/js/components/changelog/update-date-time-picker-control-onchange
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management MVP, focus: product management components

#34543 Bump WooCommerce Blocks to 8.3.2
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.3.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#34520 Validate React Admin Changelog Files
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/add-project-component-changelogs
  tools/monorepo/check-changelogger-use.php
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: react admin

#33966 Fix Button block markup for Onboarding homepage
  plugins/woocommerce/changelog/fix-onboarding-task-block-markup
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
Labels: plugin: woocommerce, focus: react admin

#34322 Update/unify jest@27 across all packages
  packages/js/admin-e2e-tests/changelog/update-jest
  packages/js/admin-e2e-tests/package.json
  packages/js/api-core-tests/tests/products/product-list.test.js
  packages/js/api/changelog/update-jest
  packages/js/api/package.json
  packages/js/api/src/framework/transformations/__tests__/model-transformer-transformation.spec.ts
  packages/js/api/src/repositories/rest/__tests__/shared.spec.ts
  packages/js/components/babel.config.js
  packages/js/components/changelog/update-jest-merge
  packages/js/csv-export/babel.config.js
  packages/js/csv-export/changelog/update-jest-merge
  packages/js/currency/babel.config.js
  packages/js/currency/changelog/update-jest-merge
  packages/js/customer-effort-score/babel.config.js
  packages/js/customer-effort-score/changelog/update-jest-merge
  packages/js/data/babel.config.js
  packages/js/data/changelog/update-jest-merge
  packages/js/e2e-core-tests/changelog/update-jest
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/changelog/update-jest-puppeteer
  packages/js/e2e-environment/package.json
  packages/js/experimental/babel.config.js
  packages/js/experimental/changelog/update-jest-merge
  packages/js/internal-js-tests/babel.config.js
  packages/js/number/babel.config.js
  packages/js/number/changelog/update-jest-merge
  plugins/woocommerce/changelog/update-unify-jest-27
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/api-core-tests, plugin: woocommerce, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/experimental, package: @woocommerce/number

#34560 Products pricing section code cleanup
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
Labels: focus: react admin, focus: product management MVP

#34551 Validate that tinymce exists before using it.
  plugins/woocommerce/changelog/fix-34221-error-on-save-product
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce

#34595 Fix recording events without props
  plugins/woocommerce/changelog/fix-tracking_events_without_props
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
Labels: plugin: woocommerce

#34435 Add image gallery component
  packages/js/components/changelog/add-image-gallery
  packages/js/components/src/image-gallery/image-gallery-item.scss
  packages/js/components/src/image-gallery/image-gallery-item.tsx
  packages/js/components/src/image-gallery/image-gallery.scss
  packages/js/components/src/image-gallery/image-gallery.tsx
  packages/js/components/src/image-gallery/index.tsx
  packages/js/components/src/image-gallery/stories/index.tsx
  packages/js/components/src/image-gallery/style.scss
  packages/js/components/src/index.ts
  packages/js/components/src/list-item/README.md
  packages/js/components/src/list-item/index.ts
  packages/js/components/src/list-item/list-item.scss
  packages/js/components/src/list-item/list-item.tsx
  packages/js/components/src/list-item/stories/index.tsx
  packages/js/components/src/list-item/style.scss
  packages/js/components/src/sortable-list/index.ts
  packages/js/components/src/sortable-list/sortable-list.tsx
  packages/js/components/src/sortable-list/style.scss
  packages/js/components/src/sortable-list/test/index.tsx
  packages/js/components/src/sortable-list/test/utils.ts
  packages/js/components/src/sortable-list/types.ts
  packages/js/components/src/sortable-list/utils.ts
  packages/js/components/src/sortable/README.md
  packages/js/components/src/sortable/draggable-icon.tsx
  packages/js/components/src/sortable/index.ts
  packages/js/components/src/sortable/sortable-handle.scss
  packages/js/components/src/sortable/sortable-handle.tsx
  packages/js/components/src/sortable/sortable-item.scss
  packages/js/components/src/sortable/sortable-item.tsx
  packages/js/components/src/sortable/sortable.tsx
  packages/js/components/src/sortable/stories/index.tsx
  packages/js/components/src/sortable/style.scss
  packages/js/components/src/sortable/test/index.tsx
  packages/js/components/src/sortable/test/utils.ts
  packages/js/components/src/sortable/types.ts
  packages/js/components/src/sortable/utils.ts
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#34588 Add more indexes (and remove wc_orders.id auto_incr) for performance
  plugins/woocommerce/changelog/enhance-db_schema
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#34445 [COT] feat/34436: implement column_default for ListTable
  plugins/woocommerce/changelog/feat-34436
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: needs: triage feedback, plugin: woocommerce, focus: react admin

#34461 Update get_product_data to send request with a locale query param for translation
  plugins/woocommerce/changelog/update-get-product-data-i18n
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProducts.php
Labels: plugin: woocommerce, focus: react admin

#34589 fix-marketing-slider-image-size
  plugins/woocommerce-admin/client/marketing/components/knowledge-base/style.scss
  plugins/woocommerce/changelog/fix-marketing-slider-image-size
Labels: plugin: woocommerce, focus: react admin

#34587 Update listing content
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34564 Fix product list price help label to properly reflect tax settings
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/fix-products-pricing-tax-included-label
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP

#34592 Replace Facebook icon
  plugins/woocommerce-admin/client/marketing/components/product-icon/icons/library/facebook.js
  plugins/woocommerce/assets/images/marketing/facebook-icon.svg
  plugins/woocommerce/assets/images/marketing/facebook.svg
  plugins/woocommerce/changelog/update-replace-facebook-icon
Labels: plugin: woocommerce, focus: react admin

#34605 Update listing content (#34587)
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34606 Fixed Asset Output Caching
  .gitignore
  package.json
  plugins/woocommerce/.gitignore
  plugins/woocommerce/assets/client/.gitkeep
  plugins/woocommerce/changelog/fix-asset-caching
  pnpm-lock.yaml
  turbo.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#34601 fix: add tracks for shipping default settings tour
  plugins/woocommerce-admin/client/guided-tours/shipping-tour.tsx
  plugins/woocommerce/changelog/fix-shipping-default-settings-tour-tracks-events
Labels: plugin: woocommerce, focus: react admin

#34537 Update form-login.php
  plugins/woocommerce/changelog/fix-31742
  plugins/woocommerce/templates/global/form-login.php
Labels: plugin: woocommerce

#34590 Add and use ON_DUPLICATE_KEY update function to perform update/insert
  plugins/woocommerce/changelog/enhance-save_to_db
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34614 Fix form onchange callback
  packages/js/components/changelog/fix-34584_form_onchange_callback
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/stories/index.js
  packages/js/components/src/form/test/index.tsx
Labels: package: @woocommerce/components

#34621 Update changelog and bump version to final
  changelog.txt
  packages/js/components/changelog/fix-34584_form_onchange_callback
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/stories/index.js
  packages/js/components/src/form/test/index.tsx
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, package: @woocommerce/components

#34626 Revert a condition change on third param in onChange prop
  packages/js/components/changelog/fix-revert_on_change_third_param_update
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/test/index.tsx
Labels: package: @woocommerce/components

#34613 Add/crud get total count selector
  packages/js/data/changelog/add-crud_get_total_count_selector
  packages/js/data/src/crud/action-types.ts
  packages/js/data/src/crud/actions.ts
  packages/js/data/src/crud/crud-actions.ts
  packages/js/data/src/crud/index.ts
  packages/js/data/src/crud/reducer.ts
  packages/js/data/src/crud/resolvers.ts
  packages/js/data/src/crud/selectors.ts
  packages/js/data/src/crud/test/reducer.ts
  packages/js/data/src/crud/test/resolvers.ts
  packages/js/data/src/crud/test/selectors.ts
  packages/js/data/src/crud/types.ts
  packages/js/data/src/crud/utils.ts
  packages/js/data/src/utils.ts
Labels: package: @woocommerce/data

#34633 Remove/assets
  plugins/woocommerce/.distignore
  plugins/woocommerce/changelog/remove-dist-assets
Labels: plugin: woocommerce

#34611 Update post directly to update correct post_modified value
  plugins/woocommerce/changelog/update-post_modified
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34425 [COT] Bulk actions for trashing etc
  plugins/woocommerce/changelog/fix-34374-cot-bulk-trash
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce, focus: react admin

#34562 Coupons Controller → Import `Exception` class.
  plugins/woocommerce/changelog/spotfix-coupons-controller
  plugins/woocommerce/src/Internal/Orders/CouponsController.php
Labels: plugin: woocommerce

#34610 fix: set shipping defaults when address details not filled out
  plugins/woocommerce/changelog/fix-shipping-defaults-when-address-not-set
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34318 Remove foreign key from the wc_download_log table
  plugins/woocommerce/changelog/fix-34305-remove-fk
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/data-stores/class-wc-customer-download-data-store.php
  plugins/woocommerce/includes/data-stores/class-wc-customer-download-log-data-store.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-tools-v2-controller.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: release: highlight, plugin: woocommerce

#34649 dev: change webpack config to use asset modules instead of custom loaders
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/dev-webpack-asset-modules
Labels: plugin: woocommerce, focus: react admin

#34483 [COT] Fix editor trash link
  plugins/woocommerce/changelog/fix-34375-editor-trash-link
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php
Labels: plugin: woocommerce

#34619 Collapse the short description module by default
  plugins/woocommerce/changelog/enhancement-33537-product-creation-experince
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
Labels: plugin: woocommerce

#34659 Update mailer logic
  plugins/woocommerce/changelog/dev-mailer
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce

#34660 Prep trunk post 6.9 release
  changelog.txt
  plugins/woocommerce/changelog/prep-trunk-post-6.9
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34671 Fix/34667
  plugins/woocommerce/changelog/fix-34667
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: plugin: woocommerce

#34644 Redirect new/edit/delete URLs from CPT implementation to COT
  plugins/woocommerce/changelog/fix-34229
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/Admin/Orders/PostsRedirectionController.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#34469 Prevent fatal errors during uninstall
  plugins/woocommerce/changelog/fix-32915-resolve-fatal-on-uninstall
  plugins/woocommerce/uninstall.php
Labels: plugin: woocommerce

#34383 Reintroduce JITMs in the WC Admin.
  plugins/woocommerce-admin/client/stylesheets/shared/_global.scss
  plugins/woocommerce/changelog/add-jitms-in-wcadmin
  plugins/woocommerce/src/Internal/Admin/Loader.php
Labels: plugin: woocommerce, focus: react admin

#34632 Fix remote inbox notification showing up for wrong country
  plugins/woocommerce/changelog/fix-remote-inbox-notification
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/BaseLocationCountryRuleProcessor.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/base-location-country-rule-processor.php
Labels: plugin: woocommerce, focus: react admin

#34467 Mobile messaging
  plugins/woocommerce/changelog/add-mobile-messaging
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/src/Internal/Orders/IppFunctions.php
  plugins/woocommerce/src/Internal/Orders/MobileMessagingHandler.php
  plugins/woocommerce/templates/emails/email-mobile-messaging.php
  plugins/woocommerce/tests/php/src/Internal/Orders/IppFunctionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
Labels: release: highlight, plugin: woocommerce

#34478 Add include_meta and exclude_meta params for orders and products
  plugins/woocommerce/changelog/fix-34243-rest-meta-keys
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-products-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: type: enhancement, focus: wc rest api, plugin: woocommerce

#34637 Add: mobile app welcome modal and magic link
  packages/js/components/changelog/fix-export-stepper-props
  packages/js/components/src/index.ts
  packages/js/components/src/stepper/index.tsx
  packages/js/data/changelog/add-jetpack-connection-data
  packages/js/data/src/plugins/action-types.ts
  packages/js/data/src/plugins/actions.ts
  packages/js/data/src/plugins/reducer.ts
  packages/js/data/src/plugins/resolvers.ts
  packages/js/data/src/plugins/selectors.ts
  packages/js/data/src/plugins/types.ts
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/JetpackInstallationStepper.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/SendMagicLinkButton.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useJetpackPluginState.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useSendMagicLink.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/illustrations/intro-devices-desktop.png
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/layouts/ModalContentLayoutWithTitle.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/layouts/ModalIllustrationLayout.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/EmailSentPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/JetpackAlreadyInstalledPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/JetpackInstallStepperPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/style.scss
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-woo-mobile-welcome-page
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/MobileAppMagicLink.php
Labels: release: highlight, plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#34651 Add: get mobile app task in additional tasks
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce/changelog/add-get-mobile-app-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/GetMobileApp.php
Labels: plugin: woocommerce, focus: react admin

#34653 fix: handle mobile app wrong user connection
  packages/js/data/changelog/fix-jetpack-connection-data-type
  packages/js/data/src/plugins/types.ts
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/JetpackInstallationStepper.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useJetpackPluginState.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/WrongUserConnectedPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/style.scss
  plugins/woocommerce/changelog/fix-handle-mobile-app-wrong-user-connection
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34683 Set multichannel-marketing feature flag to `true` in `core.json`
  plugins/woocommerce/changelog/feature-update-multichannel-marketing-flag
  plugins/woocommerce/client/admin/config/core.json
Labels: plugin: woocommerce

#34019 Add the AccessiblePrivateMethods trait
  plugins/woocommerce/changelog/add-accessible-private-methods-trait
  plugins/woocommerce/includes/class-wc-query.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsCommentsOverrides.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/LookupDataStore.php
  plugins/woocommerce/src/Internal/Settings/OptionSanitizer.php
  plugins/woocommerce/src/Internal/Traits/AccessiblePrivateMethods.php
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/tests/php/src/Internal/Traits/AccessiblePrivateMethodsTest.php
  plugins/woocommerce/tests/php/src/Utilities/ArrayUtilTest.php
Labels: plugin: woocommerce, focus: react admin

#34687 Use localised time when displaying order date.
  plugins/woocommerce/changelog/fix-order_displayed_time
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: plugin: woocommerce

#26179 Filter is_purchasable when getting cart item from session
  plugins/woocommerce/changelog/pr-26179
  plugins/woocommerce/includes/class-wc-cart-session.php
Labels: needs: author feedback, plugin: woocommerce

#34654 Update WooCommerce blocks package to 8.5.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.5.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#34558 Price section - Small refactor and style fix
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/update-30_list_price_field_follow_up
Labels: plugin: woocommerce, focus: react admin

#34701 Version bump and add changelog entry post 6.9.2 release
  changelog.txt
  plugins/woocommerce/changelog/prep-post-6.9.2-release
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34705 Prep beta 1
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#33575 Stock checks not required if stock levels have already been reduced.
  plugins/woocommerce/changelog/fix-33307-my-account-order-pay
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
Labels: plugin: woocommerce

#34661 Upgrade to pnpm 7
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/pr-code-coverage.yml
  .github/workflows/pr-highlight-changes.yml
  .github/workflows/pr-lint-monorepo.yml
  .github/workflows/pr-lint-test-js.yml
  .github/workflows/pr-unit-tests.yml
  .github/workflows/smoke-test-daily.yml
  .npmrc
  DEVELOPMENT.md
  package.json
  packages/js/admin-e2e-tests/changelog/upgrade-pnpm-7
  packages/js/admin-e2e-tests/package.json
  packages/js/api/changelog/upgrade-pnpm-7
  packages/js/api/package.json
  packages/js/components/changelog/upgrade-pnpm-7
  packages/js/components/package.json
  packages/js/csv-export/changelog/upgrade-pnpm-7
  packages/js/csv-export/package.json
  packages/js/currency/changelog/upgrade-pnpm-7
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/upgrade-pnpm-7
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/upgrade-pnpm-7
  packages/js/data/package.json
  packages/js/date/changelog/upgrade-pnpm-7
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/fix-linting-pnpm7
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  packages/js/experimental/changelog/upgrade-pnpm-7
  packages/js/experimental/package.json
  packages/js/explat/changelog/upgrade-pnpm-7
  packages/js/explat/package.json
  packages/js/internal-js-tests/package.json
  packages/js/navigation/changelog/upgrade-pnpm-7
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/changelog/upgrade-pnpm-7
  packages/js/number/package.json
  packages/js/onboarding/changelog/upgrade-pnpm-7
  packages/js/onboarding/package.json
  packages/js/tracks/changelog/upgrade-pnpm-7
  packages/js/tracks/package.json
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/plugins.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/plugins.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/changelog/upgrade-pnpm-7
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/upgrade-to-pnpm-7
  plugins/woocommerce/client/legacy/package.json
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/cherry-pick/package.json
  tools/code-analyzer/README.md
  tools/code-analyzer/src/lib/scan-changes.ts
  tools/monorepo-merge/package.json
  tools/package-release/package.json
Labels: release: highlight, package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#34616 Add the WooCommerce features engine
  plugins/woocommerce/changelog/add-features-controller-with-plugin-compatibility-declaration
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/FeaturesServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/src/Utilities/StringUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/ArrayUtilTest.php
  plugins/woocommerce/tests/php/src/Utilities/StringUtilTest.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#34685 Change the e2e selector for unchecking all business features
  plugins/woocommerce/changelog/update-e2e-pw-uncheck-business-features
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce, focus: smoke tests

#34714 Revert "Add the WooCommerce features engine"
  plugins/woocommerce/changelog/add-features-controller-with-plugin-compatibility-declaration
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/FeaturesServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/src/Utilities/StringUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/ArrayUtilTest.php
  plugins/woocommerce/tests/php/src/Utilities/StringUtilTest.php
Labels: plugin: woocommerce, focus: react admin

#34547 Allowing generic item type in new experimental SelectControl
  packages/js/components/src/experimental-select-control/README.md
  packages/js/components/src/experimental-select-control/menu-item.tsx
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/selected-items.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/experimental-select-control/types.ts
  packages/js/components/src/experimental-select-control/utils.ts
  plugins/woocommerce/changelog/update-34399-select-control
Labels: plugin: woocommerce, package: @woocommerce/components

#34715 Skip Store owner can go through setup Task List test
  plugins/woocommerce/changelog/update-skip-flaky-task-test
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-import-csv.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-coupons.spec.js
Labels: plugin: woocommerce, focus: smoke tests

#34717 Update tracking parameters for mobile messaging
  plugins/woocommerce/changelog/update-mobile-messaging-tracking-parameters
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/src/Internal/Orders/MobileMessagingHandler.php
  plugins/woocommerce/templates/emails/email-mobile-messaging.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
Labels: type: enhancement, focus: email, release: highlight, plugin: woocommerce

#34615 Add 2 new GitHub Actions workflows to include COT E2E and API automated tests in CI.
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
Labels: release: highlight

#34733 Update pnpm command to run makepot
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/fix-build-zip
Labels: plugin: woocommerce

#34734 Remove typecasting to prevent fatal when $screen_id is null.
  plugins/woocommerce/changelog/fix-34725
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#34730 Fix fatal error produced by the init_theorder_object method
  plugins/woocommerce/changelog/fix-34722
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
Labels: plugin: woocommerce

#34739 Only show the product image upload tip once, and on all product edit pages
  plugins/woocommerce/changelog/fix-multiple-product-image-upload-tips
  plugins/woocommerce/includes/class-wc-product-simple.php
  plugins/woocommerce/includes/wc-product-functions.php
Labels: type: bug, focus: product, plugin: woocommerce

#34676 Enable backfill for orders from custom tables to wp_posts via CLI
  plugins/woocommerce/changelog/implement-wp-cli-backfill
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: release: highlight, plugin: woocommerce

#34752 Add changelogs and version bump for 6.9.3 release
  changelog.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34510 Improve experimental select control accessibility
  packages/js/components/changelog/fix-select-control-extensibility
  packages/js/components/src/experimental-select-control/menu.scss
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  tools/monorepo-merge/tsconfig.json
  tools/package-release/tsconfig.json
Labels: package: @woocommerce/components

#34754 pnpm 7 update: Remove unused dashes
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-pnpm-7-script-dashes
Labels: plugin: woocommerce, focus: react admin

#34770 [COT] Implement order preview functionality and edit by clicking order row
  plugins/woocommerce/changelog/fix-34596
  plugins/woocommerce/client/legacy/js/admin/wc-orders.js
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#34736 Fix EnrichedLabel Storybook styles
  packages/js/components/changelog/fix-enriched-label-storybook
  packages/js/components/src/enriched-label/stories/index.js
  packages/js/components/src/enriched-label/stories/style.scss
Labels: package: @woocommerce/components, focus: components, focus: product management MVP

#34762 Delete cherry picked changelogs and some irrelevant entries
  plugins/woocommerce/changelog/fix-34725
  plugins/woocommerce/changelog/fix-build-zip
  plugins/woocommerce/changelog/fix-multiple-product-image-upload-tips
  plugins/woocommerce/changelog/fix-pnpm-7-script-dashes
  plugins/woocommerce/changelog/upgrade-to-pnpm-7
Labels: plugin: woocommerce

#34539 Add Sortable component accessibility
  packages/js/components/changelog/add-sortable-accessibility
  packages/js/components/package.json
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/image-gallery/image-gallery.scss
  packages/js/components/src/sortable/sortable-handle.tsx
  packages/js/components/src/sortable/sortable-item.scss
  packages/js/components/src/sortable/sortable-item.tsx
  packages/js/components/src/sortable/sortable.tsx
  packages/js/components/src/sortable/test/utils.ts
  packages/js/components/src/sortable/utils.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#34658 Disable action buttons when product form is invalid
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-details-section.spec.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce/changelog/add-33537-disable-action-buttons
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP

#34785 [COT] Restore refund removal functionality when COT is active
  plugins/woocommerce/changelog/fix-34222
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: focus: custom order tables, plugin: woocommerce

#34743 Fix failing WP nightly test
  plugins/woocommerce/changelog/fix-wp-nightly-test
  plugins/woocommerce/tests/legacy/unit-tests/gateways/paypal/request.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/data.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-performance-indicators.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/payment-gateway-suggestions.php
Labels: plugin: woocommerce

#34581 Show APMs on the new Payments menu
  plugins/woocommerce-admin/client/payments-welcome/apms.tsx
  plugins/woocommerce-admin/client/payments-welcome/faq-simple.tsx
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/payments-welcome/strings.tsx
  plugins/woocommerce-admin/client/payments-welcome/style.scss
  plugins/woocommerce/changelog/add-wcpay-4529-additional-pms-on-payments-welcome
Labels: plugin: woocommerce, focus: react admin

#34684 Add shipping class section and dropdown
  packages/js/data/changelog/add-34328-shipping-shipping-class-dropdown
  packages/js/data/src/index.ts
  packages/js/data/src/product-shipping-classes/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.scss
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce/changelog/add-34328-shipping-shipping-class-dropdown
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data, focus: product management MVP, section: PM shipping, focus: Product Management MVP 1.0

#34814 Update WooCommerce Blocks package to 8.3.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.3.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#34793 (HPOS/COT) Orders Admin List > Prevent user from paging out-of-bounds
  plugins/woocommerce/changelog/fix-cot-hpos-list-table-max-num-pages
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#34697 Enhance "Add store details" task onboarding experience
  plugins/woocommerce-admin/client/guided-tours/store-address-tour.tsx
  plugins/woocommerce/changelog/enchancement-store-details-tour
Labels: release: highlight, plugin: woocommerce, focus: react admin

#34712 Add a header for the "Add store details" task in woocommerce admin
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce-admin/client/tasks/tasks.scss
  plugins/woocommerce-admin/client/two-column-tasks/headers/store-details.js
  plugins/woocommerce-admin/client/two-column-tasks/task-headers.ts
  plugins/woocommerce/assets/images/task_list/store-details-illustration.png
  plugins/woocommerce/changelog/add-store-details-task-header
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreDetails.php
Labels: plugin: woocommerce, focus: react admin

#34836 Disable product management experience in dev env
  plugins/woocommerce/changelog/patch-disable_product_management_experience_in_dev_env
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#34768 Update e2e-pw link in README
  plugins/woocommerce/tests/e2e/README.md
Labels: type: documentation, plugin: woocommerce

#34822 [COT] Do not set order prop to NULL while reading order data
  plugins/woocommerce/changelog/fix-34677
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#34751 Add initial attributes section for empty state
  packages/js/data/changelog/add-34330_attributes_section
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-empty-state-logo.svg
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/add-34330_attributes_section
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34773 Fix pnpm version to 7.11.0 in engines and in CI
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/pr-highlight-changes.yml
  packages/js/admin-e2e-tests/changelog/dev-fix-pnpm-version-engines
  packages/js/admin-e2e-tests/package.json
  packages/js/api-core-tests/package.json
  packages/js/api/changelog/dev-fix-pnpm-version-engines
  packages/js/api/package.json
  packages/js/components/changelog/dev-fix-pnpm-version-engines
  packages/js/components/package.json
  packages/js/csv-export/changelog/dev-fix-pnpm-version-engines
  packages/js/csv-export/package.json
  packages/js/currency/changelog/dev-fix-pnpm-version-engines
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/dev-fix-pnpm-version-engines
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/dev-fix-pnpm-version-engines
  packages/js/data/package.json
  packages/js/date/changelog/dev-fix-pnpm-version-engines
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/dev-fix-pnpm-version-engines
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  packages/js/eslint-plugin/changelog/dev-fix-pnpm-version-engines
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/dev-fix-pnpm-version-engines
  packages/js/experimental/package.json
  packages/js/explat/changelog/dev-fix-pnpm-version-engines
  packages/js/explat/package.json
  packages/js/extend-cart-checkout-block/changelog/dev-fix-pnpm-version-engines
  packages/js/extend-cart-checkout-block/package.json
  packages/js/internal-e2e-builds/package.json
  packages/js/internal-js-tests/package.json
  packages/js/internal-style-build/package.json
  packages/js/navigation/changelog/dev-fix-pnpm-version-engines
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/changelog/dev-fix-pnpm-version-engines
  packages/js/number/package.json
  packages/js/onboarding/changelog/dev-fix-pnpm-version-engines
  packages/js/onboarding/package.json
  packages/js/tracks/changelog/dev-fix-pnpm-version-engines
  packages/js/tracks/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/changelog/dev-fix-pnpm-version-engines
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/dev-fix-pnpm-version-engines
  plugins/woocommerce/package.json
  tools/cherry-pick/package.json
  tools/cli-core/package.json
  tools/code-analyzer/package.json
  tools/create-extension/package.json
  tools/monorepo-merge/package.json
  tools/package-release/package.json
  tools/release-posts/package.json
  tools/storybook/package.json
  tools/version-bump/package.json
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, package: @woocommerce/api-core-tests, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#34832 Fix failing to update onboarding profile data for PHP 8
  plugins/woocommerce/changelog/fix-34745-update-industries-error
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-profile.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#34727 Add the WooCommerce features engine, take 2
  plugins/woocommerce/changelog/add-features-controller-with-plugin-compatibility-declaration
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/FeaturesServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/src/Utilities/StringUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/ArrayUtilTest.php
  plugins/woocommerce/tests/php/src/Utilities/StringUtilTest.php
Labels: plugin: woocommerce, focus: react admin

#34831 Fix Tour Kit stories loading error
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/dev-34753-tour-kit-stories-error
Labels: plugin: woocommerce, focus: react admin

#34843 Fix enable guided mode button not trigger when its text is translated
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/utils.ts
  plugins/woocommerce/changelog/fix-34760-enable-guided-mode-button
Labels: plugin: woocommerce, focus: react admin

#34847 Fix industry options not populate after reloading page
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce/changelog/fix-34765-industry-reloading-page
Labels: plugin: woocommerce, focus: react admin

#34840 Add tests for UI Revamp on Marketing page
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.test.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/LearnMarketing.test.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/LearnMarketing.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/PlaceholderPostTile.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/LearnMarketing/useBlogPosts.ts
  plugins/woocommerce/changelog/feature-34732-marketing-page-tests
  plugins/woocommerce/tests/e2e-pw/tests/admin-marketing/overview.spec.js
Labels: plugin: woocommerce, focus: react admin

#34617 Add FormContext().setValues() support
  packages/js/components/changelog/add-product_schedule_sale
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management MVP

#34627 Move props from datastore to order object and implement $save params for DataStore
  plugins/woocommerce/changelog/implement-data_store_saves
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/class-wc-order-refund.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableRefundDataStore.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-order-data-store-cpt-test.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34656 DateTimePickerControl updates
  packages/js/components/changelog/update-date-time-picker-control
  packages/js/components/src/date-time-picker-control/date-time-picker-control.scss
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components, focus: components, focus: product management MVP

#34856 Load size units to show them as a suffix of shipping dimensions fields
  packages/js/components/changelog/add-form_input_name_dot_notation
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/components/src/index.ts
  packages/js/data/changelog/add-34329-shipping-dimensions
  packages/js/data/src/products/types.ts
  packages/js/number/changelog/add-parse-number
  packages/js/number/src/index.ts
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.scss
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/edit-product-link-modal.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/add-34329-load-size-units
  plugins/woocommerce/changelog/add-34329-shipping-dimensions
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data, package: @woocommerce/number, focus: product management MVP, section: PM shipping, focus: Product Management MVP 1.0

#34888 Fix/test env setup set customer registered datetime
  plugins/woocommerce/changelog/fix-test-env-setup-set-customer-registered-datetime
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce

#34787 Update plugins installer component to TS, Fix TS bugs and Syncpack TypeScript
  .syncpackrc
  package.json
  packages/js/admin-e2e-tests/changelog/fix-plugin-installer-ts
  packages/js/admin-e2e-tests/package.json
  packages/js/api/changelog/fix-plugin-installer-ts
  packages/js/api/package.json
  packages/js/components/changelog/fix-plugin-installer-ts
  packages/js/components/package.json
  packages/js/components/src/plugins/index.js
  packages/js/components/src/plugins/index.tsx
  packages/js/components/src/plugins/test/index.js
  packages/js/csv-export/changelog/fix-plugin-installer-ts
  packages/js/csv-export/package.json
  packages/js/currency/changelog/fix-plugin-installer-ts
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/fix-plugin-installer-ts
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/fix-plugin-response
  packages/js/data/package.json
  packages/js/data/src/options/controls.ts
  packages/js/data/src/plugins/types.ts
  packages/js/date/changelog/fix-plugin-installer-ts
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/fix-plugin-installer-ts
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/changelog/fix-plugin-installer-ts
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/fix-plugin-installer-ts
  packages/js/experimental/package.json
  packages/js/explat/changelog/fix-plugin-installer-ts
  packages/js/explat/package.json
  packages/js/internal-js-tests/package.json
  packages/js/internal-style-build/package.json
  packages/js/navigation/changelog/fix-plugin-installer-ts
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/changelog/fix-plugin-installer-ts
  packages/js/number/package.json
  packages/js/onboarding/changelog/fix-plugin-installer-ts
  packages/js/onboarding/package.json
  packages/js/onboarding/src/components/WooOnboardingTask/WooOnboardingTask.tsx
  packages/js/tracks/changelog/fix-plugin-installer-ts
  packages/js/tracks/package.json
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/test/shipping-recommendation.tsx
  plugins/woocommerce-admin/client/utils/slot-fill-ordering.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-plugin-installer-ts
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/cli-core/package.json
  tools/code-analyzer/package.json
  tools/monorepo-merge/package.json
  tools/package-release/package.json
  tools/release-posts/package.json
  tools/storybook/package.json
  tools/version-bump/package.json
Labels: package: @woocommerce/api, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#34852 Fix/json order > line_items > image schema
  plugins/woocommerce/changelog/fix-json-product-image
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
Labels: plugin: woocommerce

#34863 Immediately propagate changes to orders (from CPT → COT).
  plugins/woocommerce/changelog/fix-33157-update-cot-when-cpt-authoritative
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce

#34858 [HPOS] Add hooks that fire before an order is trashed/deleted.
  plugins/woocommerce/changelog/fix-34231-before-delete-hooks
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#34900 Render columns via action so that they can be hooked into
  plugins/woocommerce/changelog/enhancement-add_column_filter
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin
