Repository woocommerce/woocommerce, pull requests merged in 2022-01, with the labels that each got.

#31545 Move merchant.login out of beforeAll block
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-new.test.js
Labels: category: E2E, package: e2e-core-tests

#31522 Add support for Gutenberg 12.1.0 block template naming convention
  plugins/woocommerce/includes/class-wc-template-loader.php
Labels: category: templating, changelog added, php

#31507 Updated workflow to remove label after smoke tests are complete
  .github/workflows/pr-smoke-test.yml
Labels: category: E2E, run: smoke tests

#31428 Add config default values
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-core-tests/specs/activate-and-setup/onboarding-tasklist.test.js
  packages/js/e2e-core-tests/specs/api/coupon.test.js
  packages/js/e2e-core-tests/specs/api/external-product.test.js
  packages/js/e2e-core-tests/specs/api/grouped-product.test.js
  packages/js/e2e-core-tests/specs/api/order.test.js
  packages/js/e2e-core-tests/specs/api/telemetry.test.js
  packages/js/e2e-core-tests/specs/api/variable-product.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-apply-coupon.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-customer-payment-page.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-emails.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-new.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-refund.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-order-status-filters.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-new.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-product-search.test.js
  packages/js/e2e-core-tests/specs/merchant/wp-admin-settings-shipping-zones.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-cart-calculate-shipping.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-cart-redirection.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-cart.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-checkout-create-account.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-checkout-login-account.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-checkout.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-my-account-pay-order.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-order-email-receiving.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-product-browse-search-sort.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-single-product.test.js
  packages/js/e2e-core-tests/specs/shopper/front-end-variable-product-updates.test.js
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/README.md
  packages/js/e2e-environment/config/config.js
  packages/js/e2e-environment/config/index.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/package.json
  packages/js/e2e-utils/src/factories.js
  packages/js/e2e-utils/src/flows/constants.js
  packages/js/e2e-utils/src/flows/merchant.js
  packages/js/e2e-utils/src/flows/shopper.js
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests

#31585 Version bump WooCommerce Admin to 3.0.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: status: needs changelog, status: needs testing instructions, needs cherry picking

#31574 fix jest-circus dependency, pnpm e2e-environment build
  packages/js/e2e-environment/bin/wc-e2e.sh
  packages/js/e2e-environment/package.json
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-environment

#31578 use PR labels for label check on PR smoke test
  .github/workflows/pr-smoke-test.yml
Labels: type: bug, category: E2E

#31581 change extension on scaffolding sample scripts
  packages/js/e2e-environment/bin/scaffold.js
  packages/js/e2e-environment/installFiles/jest.config.js.default
  packages/js/e2e-environment/installFiles/jest.setup.js.default
  packages/js/e2e-environment/utils/scaffold.js
Labels: category: E2E, package: e2e-environment

#31591 Fix PhotoSwipe lightbox "close" triggering elements covered by it on mobile
  plugins/woocommerce/legacy/js/photoswipe/photoswipe.js
Labels: type: bug, priority: high

#31495 Add/e2e more variation tests
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-new.test.js
Labels: category: E2E, package: e2e-core-tests

#31559 Allow multiple screenshots per test fix
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/utils/take-screenshot.js
Labels: category: E2E, package: e2e-environment

#31561 Issue/31555 add status field coupons api
  plugins/woocommerce/includes/class-wc-coupon.php
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-coupons-v2-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/coupon/data-store.php
  plugins/woocommerce/tests/legacy/unit-tests/coupon/data.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/coupons.php
Labels: type: enhancement, category: wc rest api

#31361 Added public publish config for API core tests package
  packages/js/api-core-tests/package.json
Labels: category: E2E, package: api-core-tests

#31629 Remove the need for duplicate `plugins/woocommerce` in path when running a single E2E test
  .github/workflows/pr-smoke-test.yml
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/bin/e2e-test-integration.js
  packages/js/e2e-environment/utils/test-config.js
Labels: category: E2E, package: e2e-environment

#31623 Use inline `onload` event instead of jQuery `load`
  plugins/woocommerce/legacy/js/flexslider/jquery.flexslider.js
Labels: status: needs changelog, needs cherry picking

#31610 Allow Blocks for Custom Product taxonomies
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/tests/php/includes/class-wc-template-loader-test.php
Labels: type: enhancement, category: templating

#31577 Issue/31562 filter coupons by status
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-coupons-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/CouponHelper.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-coupons-controller-tests.php
Labels: type: enhancement, category: wc rest api

#31593 If applied, this commit will format Line items price in order api
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
Labels: status: needs changelog

#31644 e2e-core-test package cleanup
  packages/js/e2e-core-tests/project.json
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-refund.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-status-filters.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-edit-details.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-new.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-general.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-product.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-shipping-classes.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-calculate-shipping.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-coupons.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-coupons.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-create-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-login-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-my-account-create-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-my-account-pay-order.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-my-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-order-email-receiving.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-product-browse-search-sort.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-single-product.test.js
  packages/js/e2e-utils/src/factories/grouped-product.js
Labels: category: E2E, package: e2e-core-tests

#31508 Revert #30044
  plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php
Labels: type: bug, category: refactor, category: regression

#31681 Add a timeout to the beforeAll hook for the Shopper Checkout Create Account E2E test
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-create-account.test.js
Labels: category: E2E, package: e2e-core-tests

#31625 Show full path to test-result.json file
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/bin/e2e-test-integration.js
Labels: category: E2E, package: e2e-environment

#31662 e2e package changelog cleanup
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-environment/CHANGELOG.md
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests, package: e2e-utils, type: documentation

#31256 Create and activate product attributes lookup table in data migration
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/Filterer.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/LookupDataStore.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-products-test.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/DataRegeneratorTest.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/FiltererTest.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/LookupDataStoreTest.php
Labels: status: blocked

#31042 Add new performance test Merchant / Search Orders
  plugins/woocommerce/tests/performance/requests/merchant/orders-search.js
  plugins/woocommerce/tests/performance/tests/example-all-requests-arrival-rate.js
  plugins/woocommerce/tests/performance/tests/example-all-requests-ramping-vus.js
  plugins/woocommerce/tests/performance/tests/simple-all-merchant-requests.js
Labels: category: performance

#31725 fix environment dependencies
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-refund-restock.test.js
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/package.json
  pnpm-lock.yaml
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests

#31726 update testresult.json handling to copy the file to the local folder
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/README.md
  packages/js/e2e-environment/bin/e2e-test-integration.js
Labels: category: E2E, package: e2e-environment, run: smoke tests

#31731 Fix failing Smoke Test Daily workflow
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/tests/e2e/specs/smoke-tests/upload-plugin.js
Labels: category: E2E

#31741 Fix failing plugin tests in Smoke Test Daily workflow
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  packages/js/e2e-core-tests/CHANGELOG.md
  packages/js/e2e-core-tests/src/specs/data/elements.js
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/utils/get-plugin-zip.js
Labels: category: E2E, package: e2e-environment, package: e2e-core-tests, run: daily tests

#31755 Update store setup widget to use task list API
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard-setup.php
  plugins/woocommerce/includes/admin/views/html-admin-dashboard-setup.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: needs cherry picking
