Repository woocommerce/woocommerce, pull requests merged in 2022-07, with the labels that each got.

#33669 Update WCPay to include a mention of in-person payments for Canada
  plugins/woocommerce/changelog/update-33570-wcapy-in-person-payments-for-ca
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin

#33596 Add CRUD data store delete
  packages/js/data/src/crud/README.md
  packages/js/data/src/crud/action-types.ts
  packages/js/data/src/crud/actions.ts
  packages/js/data/src/crud/reducer.ts
  packages/js/data/src/crud/selectors.ts
  packages/js/data/src/crud/test/actions.ts
  packages/js/data/src/crud/test/reducer.ts
  packages/js/data/src/crud/test/selectors.ts
  packages/js/data/src/crud/types.ts
Labels: package: @woocommerce/data

#33706 Revert "Update method for getting Reports API cache version number"
  plugins/woocommerce/src/Admin/API/Reports/Cache.php
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
Labels: plugin: woocommerce, focus: react admin

#33676 Fix marketing task completion logic
  plugins/woocommerce-admin/client/tasks/fills/Marketing/Plugin.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/PluginList.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce/changelog/fix-marketing-task-complete-only-after-action
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
Labels: plugin: woocommerce, focus: react admin

#33711 Fix Uncaught DOMException on WooCommerce -> Extensions page.
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce/changelog/fix-33673-uncaught-domexception-on-extensions-page
Labels: plugin: woocommerce, focus: react admin

#33709 Fix export functionality on Analytic pages
  packages/js/data/changelog/fix-export-button-error
  packages/js/data/src/export/index.ts
  plugins/woocommerce/changelog/fix-33583-cannot-read-property-on-clicking-download-btn
Labels: plugin: woocommerce, package: @woocommerce/data

#33665 Fix wrong copy in the payments settings for a country that WCPay is not supported
  plugins/woocommerce-admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce/changelog/fix-33618-wrong-link-in-the-payment-settings-for-non-eligible-wcpay-store
Labels: plugin: woocommerce, focus: react admin

#33707 Making product image meta box more prominent as a default
  plugins/woocommerce/changelog/update-33560-gallery-visibility
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
Labels: plugin: woocommerce

#33687 [COT] Implement order bulk actions
  plugins/woocommerce/changelog/add-33198-cot-admin-list-table-actions
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#33563 Added mechanism to customize data before AJAX requests in `meta-boxes-order.js`
  plugins/woocommerce/changelog/add-order-metabox-data-filter
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-order.js
Labels: plugin: woocommerce

#33715 Fix wrong link in setup payments screen
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce/changelog/fix-33617-wrong-link-in-setup-payments-screen
Labels: plugin: woocommerce, focus: react admin

#33716 Fix wrong link and copy in payment setting page
  plugins/woocommerce/changelog/fix-33622-wrong-link-and-some-copy-in-payment-settings
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: plugin: woocommerce

#33671 Update store details task action url
  plugins/woocommerce/changelog/update-store-details-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreDetails.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/store-details.php
Labels: plugin: woocommerce, focus: react admin

#33390 Add exporter instance parameter to `woocommerce_product_export_row_data` filter
  plugins/woocommerce/changelog/add-33390
  plugins/woocommerce/includes/export/class-wc-product-csv-exporter.php
Labels: plugin: woocommerce

#30908 Update wp-background-process.php to use wp_convert_hr_to_bytes()
  plugins/woocommerce/changelog/memory-limits-background-processing
  plugins/woocommerce/includes/libraries/wp-background-process.php
Labels: plugin: woocommerce

#33688 Add: Intro tooltips for shipping smart defaults
  plugins/woocommerce-admin/client/shipping/shipping-recommendations-wrapper.tsx
  plugins/woocommerce-admin/client/shipping/shipping-tour.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-shipping-intro-tooltips
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ReviewShippingOptions.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#33718 Fix untranslated texts on payment setting page
  plugins/woocommerce-admin/client/payments/payment-settings-banner.tsx
  plugins/woocommerce/changelog/fix-untranslated-strings-in-payment-setting-page
Labels: plugin: woocommerce, focus: react admin

#33704 Rename event prop from `cross-sell` to `cross_sell`
  plugins/woocommerce/changelog/fix-tracks-filtered-properties_follow_up_2
  plugins/woocommerce/includes/tracks/class-wc-tracks-event.php
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: type: bug, plugin: woocommerce

#33725 Prepare WooCommerce 6.7 RC.1
  packages/js/data/changelog/fix-export-button-error
  packages/js/data/src/export/index.ts
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/tasks/fills/Marketing/Plugin.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/PluginList.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/API/Reports/Cache.php
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#33733 Final prep for 6.7-rc.1
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33722 Fixing activity panel does not appear after navigating to OBW and back
  packages/js/navigation/src/index.js
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce/changelog/fix-33705
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/navigation

#33737 Cherry-pick #33722 for 6.7-rc.1
  packages/js/navigation/src/index.js
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/navigation

#33384 Add Tree Select Control Component
  packages/js/components/changelog/add-tree-select-control-component
  packages/js/components/src/tree-select-control/README.md
  packages/js/components/src/tree-select-control/checkbox.js
  packages/js/components/src/tree-select-control/constants.js
  packages/js/components/src/tree-select-control/control.js
  packages/js/components/src/tree-select-control/index.js
  packages/js/components/src/tree-select-control/index.scss
  packages/js/components/src/tree-select-control/options.js
  packages/js/components/src/tree-select-control/stories/index.js
  packages/js/components/src/tree-select-control/tags.js
  packages/js/components/src/tree-select-control/test/control.test.js
  packages/js/components/src/tree-select-control/test/index.test.js
  packages/js/components/src/tree-select-control/test/options.test.js
  packages/js/components/src/tree-select-control/test/tags.test.js
  packages/js/components/src/tree-select-control/useIsEqualRefValue.js
Labels: package: @woocommerce/components

#33510 Add tests for react admin translations
  packages/js/admin-e2e-tests/changelog/update-add-tests-for-translations
  packages/js/admin-e2e-tests/src/fixtures/reset.ts
  packages/js/admin-e2e-tests/src/specs/index.ts
  packages/js/admin-e2e-tests/src/specs/translations.ts
  plugins/woocommerce/changelog/update-33230-add-test-for-translations
  plugins/woocommerce/tests/e2e/specs/wp-admin/translations.test.js
Labels: plugin: woocommerce, package: @woocommerce/admin-e2e-tests

#33661 Make store location and rates steps clickable
  plugins/woocommerce-admin/client/tasks/fills/shipping/index.js
  plugins/woocommerce/changelog/update-33368-make-completed-shipping-task-steps-clickable
Labels: plugin: woocommerce, focus: react admin

#33748 Add tracks for shipping smart defaults
  plugins/woocommerce-admin/client/shipping/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-woocommerce-services-item.tsx
  plugins/woocommerce/changelog/add-33369-tracks-for-shipping-smart-defaults
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ReviewShippingOptions.php
Labels: plugin: woocommerce, focus: react admin

#33741 Fix product variation tooltip
  plugins/woocommerce/changelog/fix-33552_product_variation_tooltip
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
Labels: plugin: woocommerce

#33675 Post test result summary in workflow run and in PR comment using github-actions[bot]
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/scripts/prepare-test-summary.js
Labels: focus: smoke tests

#33664 Changelogger: Fix PHPCS violations
  packages/js/admin-e2e-tests/changelog/fix-changelogger-phpcs
  packages/js/admin-e2e-tests/composer.json
  packages/js/api/changelog/fix-changelogger-phpcs
  packages/js/api/composer.json
  packages/js/components/changelog/fix-changelogger-phpcs
  packages/js/components/composer.json
  packages/js/csv-export/changelog/fix-changelogger-phpcs
  packages/js/csv-export/composer.json
  packages/js/currency/changelog/fix-changelogger-phpcs
  packages/js/currency/composer.json
  packages/js/customer-effort-score/changelog/fix-changelogger-phpcs
  packages/js/customer-effort-score/composer.json
  packages/js/data/changelog/fix-changelogger-phpcs
  packages/js/data/composer.json
  packages/js/date/changelog/fix-changelogger-phpcs
  packages/js/date/composer.json
  packages/js/dependency-extraction-webpack-plugin/changelog/fix-changelogger-phpcs
  packages/js/dependency-extraction-webpack-plugin/composer.json
  packages/js/eslint-plugin/changelog/fix-changelogger-phpcs
  packages/js/eslint-plugin/composer.json
  packages/js/experimental/changelog/fix-changelogger-phpcs
  packages/js/experimental/composer.json
  packages/js/explat/changelog/fix-changelogger-phpcs
  packages/js/explat/composer.json
  packages/js/extend-cart-checkout-block/changelog/fix-changelogger-phpcs
  packages/js/extend-cart-checkout-block/composer.json
  packages/js/navigation/changelog/fix-changelogger-phpcs
  packages/js/navigation/composer.json
  packages/js/number/changelog/fix-changelogger-phpcs
  packages/js/number/composer.json
  packages/js/onboarding/changelog/fix-changelogger-phpcs
  packages/js/onboarding/composer.json
  packages/js/tracks/changelog/fix-changelogger-phpcs
  packages/js/tracks/composer.json
  plugins/woocommerce-beta-tester/changelog/fix-changelogger-phpcs
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce/changelog/fix-changelogger-phpcs
  plugins/woocommerce/composer.json
  tools/changelogger/class-formatter.php
  tools/changelogger/class-legacy-core-formatter.php
  tools/changelogger/class-package-formatter.php
  tools/changelogger/class-plugin-formatter.php
Labels: package: @woocommerce/api, plugin: woocommerce, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#33750 Deploy header task variant from task list experiment
  plugins/woocommerce/changelog/update-deploy-task-list-experiment-1
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#33749 Fix wrong copy in the payment task
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/List.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/payment-gateway-suggestions.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce/changelog/fix-33747-wrong-copy-in-payment-task
Labels: plugin: woocommerce, focus: react admin

#33731 Fix missing manage button for TikTok
  plugins/woocommerce/changelog/fix-33656-tiktok-manage-button
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#33724 Packages: Fix postinstall errors on install
  packages/js/admin-e2e-tests/changelog/fix-packages-postinall
  packages/js/admin-e2e-tests/package.json
  packages/js/api/changelog/fix-packages-postinall
  packages/js/api/package.json
  packages/js/components/changelog/fix-packages-postinall
  packages/js/components/package.json
  packages/js/csv-export/changelog/fix-packages-postinall
  packages/js/csv-export/package.json
  packages/js/currency/changelog/fix-packages-postinall
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/fix-packages-postinall
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/fix-export-button-error
  packages/js/data/changelog/fix-packages-postinall
  packages/js/data/package.json
  packages/js/date/changelog/fix-packages-postinall
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/fix-packages-postinall
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/changelog/fix-packages-postinall
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/fix-packages-postinall
  packages/js/experimental/package.json
  packages/js/explat/changelog/fix-packages-postinall
  packages/js/explat/package.json
  packages/js/navigation/changelog/fix-packages-postinall
  packages/js/navigation/package.json
  packages/js/number/changelog/fix-packages-postinall
  packages/js/number/package.json
  packages/js/onboarding/changelog/fix-packages-postinall
  packages/js/onboarding/package.json
  packages/js/tracks/changelog/fix-packages-postinall
  packages/js/tracks/package.json
Labels: package: @woocommerce/api, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#33727 Fix additional payment task name
  plugins/woocommerce/changelog/fix-33624-setup-payment-option
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/AdditionalPayments.php
Labels: plugin: woocommerce, focus: react admin

#33734 Remove change files for #33704
  plugins/woocommerce/changelog/fix-tracks-filtered-properties_follow_up_2
Labels: plugin: woocommerce

#33780 Set up i18n-text-domain rule and fix missing text domain
  packages/js/components/changelog/dev-update-eslint-config
  packages/js/components/src/image-upload/index.js
  packages/js/components/src/order-status/stories/index.js
  packages/js/eslint-plugin/changelog/dev-update-eslint-config
  packages/js/eslint-plugin/configs/recommended.js
  plugins/woocommerce-admin/client/analytics/components/report-table/index.js
  plugins/woocommerce-admin/client/analytics/report/variations/table.js
  plugins/woocommerce-admin/client/dashboard/section-controls.js
  plugins/woocommerce-admin/client/layout/transient-notices/snackbar/index.js
  plugins/woocommerce-admin/client/navigation/components/header/index.js
  plugins/woocommerce-admin/client/tasks/fills/Marketing/Plugin.tsx
  plugins/woocommerce-admin/client/tasks/fills/components/load-sample-product-modal.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/card-layout.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/constants.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/footer.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.js
  plugins/woocommerce-admin/client/tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/two-column-tasks/headers/woocommerce-payments.js
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item-two-column.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/utils/admin-settings.js
  plugins/woocommerce-admin/client/wp-admin-scripts/onboarding-load-sample-products-notice/index.ts
  plugins/woocommerce/changelog/dev-update-eslint-config
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/eslint-plugin

#33708 [COT] Implement `delete()` in the COT datastore
  plugins/woocommerce/changelog/add-32668-cot-datastore-delete
  plugins/woocommerce/includes/class-wc-post-data.php
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#33781 Remove FB extension from Installed marketing extensions list.
  plugins/woocommerce/changelog/tweak-remove-fb-from-marketing-extensions-list
  plugins/woocommerce/src/Admin/Marketing/InstalledExtensions.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#33796 WooCommerce 6.7 Final Prep
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/Marketing/InstalledExtensions.php
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: react admin

#33801 add: partial spotlight for shipping smart defaults tour
  plugins/woocommerce-admin/client/shipping/shipping-tour.tsx
  plugins/woocommerce/changelog/add-shipping-intro-tooltips copy
  plugins/woocommerce/src/Admin/API/Options.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#33574 Add/33331 wcadmin install timestamp explat default
  packages/js/explat/changelog/add-33331-wcadmin-install-timestamp-explat-default
  packages/js/explat/src/assignment.ts
  packages/js/explat/src/test/assignment-test.js
  packages/js/explat/src/utils.ts
Labels: type: enhancement, package: @woocommerce/explat

#33797 Remove WooCommerce 6.7 Changelog Files
  plugins/woocommerce/changelog/tweak-remove-fb-from-marketing-extensions-list
Labels: plugin: woocommerce

#33799 Move all beta tester release config into woorelease
  plugins/woocommerce-beta-tester/changelog/consolidate-beta-tester-config
  plugins/woocommerce-beta-tester/package.json
Labels: plugin: woocommerce beta tester

#33813 Use transient to cache Shipping::has_shipping_zones() result
  plugins/woocommerce/changelog/update-33782-add-caching-for-loading-shipping-zones
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
Labels: plugin: woocommerce, focus: react admin

#33816 Consider WC Admin is disabled when analytics feature is disabled in WC Status widget
  plugins/woocommerce/changelog/feature-33814-wc-status-errors-when-analytics-feature-is-disabled
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php
Labels: plugin: woocommerce

#33754 Product creation experience: improve inventory copy
  plugins/woocommerce/changelog/add-33557_improve_inventory_copy
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-inventory.php
Labels: plugin: woocommerce

#33818 Ordering of CSV Columns of Revenue Table
  plugins/woocommerce/changelog/ordering-of-csv-columns-of-revenue-table
  plugins/woocommerce/src/Admin/API/Reports/Revenue/Stats/Controller.php
Labels: plugin: woocommerce, focus: react admin

#33819 Set shipping feature flags to true
  plugins/woocommerce/changelog/update-set-shipping-feature-flags-to-true
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#33775 add CLI `wc com extension install` command
  plugins/woocommerce/changelog/add-cli-com-extension-install-command
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/includes/cli/class-wc-cli-com-extension-command.php
Labels: plugin: woocommerce

#33836 fix: typos in shipping settings
  plugins/woocommerce-admin/client/shipping/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/shipping-tour.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/test/shipping-recommendations-wrapper.test.tsx
  plugins/woocommerce-admin/client/shipping/test/shipping-recommendations.test.js
  plugins/woocommerce-admin/client/shipping/woocommerce-services-item.tsx
  plugins/woocommerce/changelog/fix-typos-in-shipping-settings
Labels: plugin: woocommerce, focus: react admin

#33736 Update WooCommerce Blocks package to 8.0.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.8.0
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce

#33788 Apply shipping smart defaults when country is US and Jetpack is installed
  plugins/woocommerce/changelog/update-33751-shipping-smart-defaults-edge-cases
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#33871 Add a helper function to simplify ExPlat call in PHP
  plugins/woocommerce/changelog/update-add-helper-function-for-explat-backend
  plugins/woocommerce/includes/react-admin/class-experimental-abtest.php
Labels: plugin: woocommerce

#33837 Use simple-git to produce diffs in the code analyzer
  .github/workflows/pr-highlight-changes.yml
  pnpm-lock.yaml
  tools/code-analyzer/package.json
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/git.ts
Labels: tools

#33844 Setup Wizard: Fix "Save changes" does not work on "Free features"
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/test/index.js
  plugins/woocommerce/changelog/fix-32905-save-changes-on-free-features
Labels: plugin: woocommerce, focus: react admin

#33851 Randomize the Sections in Recommended Marketing Extensions
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/test/index.tsx
  plugins/woocommerce/changelog/add-randomize-marketing-tasklist
Labels: plugin: woocommerce, focus: react admin

#33823 Proper commenting of a function
  plugins/woocommerce/changelog/update-proper-commenting-of-a-function
  plugins/woocommerce/includes/class-wc-order.php
Labels: plugin: woocommerce

#33886 Remove query for products type in Shipping Task
  plugins/woocommerce/changelog/update-shipping-task-view-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/shipping.php
Labels: plugin: woocommerce, focus: react admin

#33830 Add/33443 shipping zones data store
  packages/js/data/changelog/add-33443_shipping_zones_data_store
  packages/js/data/src/crud/reducer.ts
  packages/js/data/src/crud/resolvers.ts
  packages/js/data/src/crud/selectors.ts
  packages/js/data/src/crud/types.ts
  packages/js/data/src/index.ts
  packages/js/data/src/shipping-zones/README.md
  packages/js/data/src/shipping-zones/constants.ts
  packages/js/data/src/shipping-zones/index.ts
  packages/js/data/src/shipping-zones/types.ts
Labels: package: @woocommerce/data

#33783 Add the wp wc com extension list command
  plugins/woocommerce/changelog/add-cli-com-extension-list-command
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/includes/cli/class-wc-cli-com-command.php
Labels: plugin: woocommerce

#33899 API: System Status: Cache plugins data
  plugins/woocommerce/changelog/update-system-status-cache
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php
Labels: plugin: woocommerce

#33850 Configured wp-env to work with Playwright tests
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/add-config-wpenv-for-pw
  plugins/woocommerce/e2e/README.md
  plugins/woocommerce/e2e/bin/test-env-setup.sh
  plugins/woocommerce/e2e/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/e2e/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-emails.spec.js
  plugins/woocommerce/package.json
Labels: plugin: woocommerce

#33843 Upload API and E2E test reports to S3 bucket
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/scripts/prepare-test-summary.js
Labels: focus: smoke tests

#33910 Doc improvements for Playwright e2e
  plugins/woocommerce/e2e/README.md
  plugins/woocommerce/tests/e2e/README.md
Labels: plugin: woocommerce

#33914 Small typos
  plugins/woocommerce/e2e/README.md
  plugins/woocommerce/tests/e2e/README.md
Labels: plugin: woocommerce

#33916 Bump release branch version
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#33918 Prepare trunk for version 6.9.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#33882 Fix task list overlaps with the Ellipsis menu
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce/changelog/fix-overlaps-ellipsis-menu-with-task-list
Labels: plugin: woocommerce, focus: react admin

#33807 Added the border bottom of the modal's header
  plugins/woocommerce-admin/client/layout/style.scss
  plugins/woocommerce-admin/client/tasks/tasks.scss
  plugins/woocommerce/changelog/added-modal-border-bottom
Labels: plugin: woocommerce, focus: react admin

#33867 Fix e2e-environment lint
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/src/setup/jest.failure.js
  packages/js/e2e-environment/src/setup/jest.setup.js
  packages/js/e2e-environment/src/slack/reporter.js
Labels: package: @woocommerce/e2e-environment

#33930 Update stable tag for 6.7.0 release
  plugins/woocommerce/changelog/update-6.7.0-stable-tag
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33931 Update stable tag for 6.7.0 release in 6.8 branch
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33682 Add product tags data store
  packages/js/data/changelog/add-product-tags-data-store
  packages/js/data/src/index.ts
  packages/js/data/src/product-attributes/index.ts
  packages/js/data/src/product-tags/constants.ts
  packages/js/data/src/product-tags/index.ts
  packages/js/data/src/product-tags/types.ts
Labels: package: @woocommerce/data

#33954 Get plugin data from tmp repo clone
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/const.ts
Labels: tool: monorepo infrastructure

#33919 Migrate the analyzer's DB scan to the tmp repo clone approach
  .github/workflows/pr-highlight-changes.yml
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/const.ts
  tools/code-analyzer/src/git.ts
  tools/code-analyzer/src/utils.ts
Labels: tool: monorepo infrastructure

#33956 Fix "undefined offset" warning notice on payment settings page
  plugins/woocommerce/changelog/fix-33920-warning-notice-on-payment-settings-page
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: release: cherry-pick, plugin: woocommerce

#33928 Update e2e core tests to pass lint checks
  packages/js/e2e-core-tests/src/specs/activate-and-setup/activate.test.js
  packages/js/e2e-core-tests/src/specs/activate-and-setup/onboarding-tasklist.test.js
  packages/js/e2e-core-tests/src/specs/activate-and-setup/setup.test.js
  packages/js/e2e-core-tests/src/specs/api/coupon.test.js
  packages/js/e2e-core-tests/src/specs/api/external-product.test.js
  packages/js/e2e-core-tests/src/specs/api/grouped-product.test.js
  packages/js/e2e-core-tests/src/specs/api/order.test.js
  packages/js/e2e-core-tests/src/specs/api/telemetry.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-analytics-page-loads.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-coupon-new.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-extensions-connect-wccom.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-apply-coupon.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-customer-payment-page.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-edit.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-emails.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-new.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-refund-restock.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-refund.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-searching.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-status-filters.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-edit-details.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-new.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-general.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-shipping-classes.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-shipping-zones.test.js
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-settings-tax.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-and-checkout-consistent-shipping.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-calculate-shipping.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-coupons.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart-redirection.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-cart.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-coupons.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-create-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout-login-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-checkout.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-my-account-create-account.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-product-browse-search-sort.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-single-product.test.js
  packages/js/e2e-core-tests/src/specs/shopper/front-end-variable-product-updates.test.js
Labels: package: @woocommerce/e2e-core-tests

#33967 Prep for cherry pick 33956
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33968 Delete changelog files based on PR 33967
  plugins/woocommerce/changelog/fix-33920-warning-notice-on-payment-settings-page
Labels: plugin: woocommerce

#33965 E2e/playwright test improvements 2
  plugins/woocommerce/changelog/e2e-playwright-test-improvements-2
  plugins/woocommerce/e2e/global-setup.js
  plugins/woocommerce/e2e/playwright.config.js
  plugins/woocommerce/e2e/tests/activate-and-setup/basic-setup.spec.js
  plugins/woocommerce/e2e/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/e2e/tests/activate-and-setup/setup-onboarding.spec.js
  plugins/woocommerce/e2e/tests/admin-analytics/analytics-overview.spec.js
  plugins/woocommerce/e2e/tests/admin-analytics/analytics.spec.js
  plugins/woocommerce/e2e/tests/admin-marketing/coupons.spec.js
  plugins/woocommerce/e2e/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/e2e/tests/basic.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-order.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-shipping-classes.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/e2e/tests/merchant/create-variable-product.spec.js
  plugins/woocommerce/e2e/tests/merchant/customer-payment-page.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-edit.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-emails.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-refund.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-search.spec.js
  plugins/woocommerce/e2e/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/e2e/tests/merchant/page-loads.spec.js
  plugins/woocommerce/e2e/tests/merchant/product-edit.spec.js
  plugins/woocommerce/e2e/tests/merchant/product-import-csv.spec.js
  plugins/woocommerce/e2e/tests/merchant/product-search.spec.js
  plugins/woocommerce/e2e/tests/merchant/product-settings.spec.js
  plugins/woocommerce/e2e/tests/merchant/settings-general.spec.js
  plugins/woocommerce/e2e/tests/merchant/settings-tax.spec.js
  plugins/woocommerce/e2e/tests/shopper/checkout.spec.js
  plugins/woocommerce/e2e/tests/shopper/my-account.spec.js
  plugins/woocommerce/e2e/tests/shopper/order-email-receiving.spec.js
Labels: package: @woocommerce/e2e-core-tests

#33979 Reduce e2e flakiness in CI
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/22-07-increase-expect-timeout
  plugins/woocommerce/e2e/playwright.config.js
Labels: plugin: woocommerce

#33926 Fix type safety issues in product price
  plugins/woocommerce/changelog/issue-33924-type-safety
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce

#33987 Wrap default payment gateway strings in __() function call
  plugins/woocommerce/changelog/fix-untranslated-payment-strings
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin

#33990 Make sure get_current_screen() is available
  plugins/woocommerce/changelog/fix-33989-fatal-error-with-get-current-screen
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#33755 Product creation experience: add more context about product data
  plugins/woocommerce/changelog/add-33539_more_context_about_product_data
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/system-status.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-panel.php
Labels: plugin: woocommerce

#33660 Adding additional instructions around product image upload modal
  plugins/woocommerce/changelog/update-33559-product-image-guidance
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/class-wc-product-simple.php
Labels: plugin: woocommerce

#34004 Add detailed logs for e2e setup/teardown
  plugins/woocommerce/changelog/22-07-e2e-better-setup-log
  plugins/woocommerce/e2e/global-setup.js
  plugins/woocommerce/e2e/global-teardown.js
Labels: plugin: woocommerce

#34009 Delete changelog files based on PR 34008
  plugins/woocommerce/changelog/exclde-e2e-from-build
Labels: plugin: woocommerce

#34008 Prep for cherry pick 33934
  plugins/woocommerce/.distignore
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#33923 Fix free features is still rendered when no recommendation
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/index.js
  plugins/woocommerce/changelog/fix-free-features-is-still-rendered-when-no-recommendation
Labels: plugin: woocommerce, focus: react admin

#33955 Generate a JSON file with changes from code-analyzer
  .gitignore
  tools/code-analyzer/src/commands/analyzer/index.ts
  tools/code-analyzer/src/utils.ts
Labels: tool: monorepo infrastructure

#33721 Add data store attribute terms
  packages/js/data/changelog/add-data-store-attribute-terms
  packages/js/data/src/crud/actions.ts
  packages/js/data/src/crud/index.ts
  packages/js/data/src/crud/reducer.ts
  packages/js/data/src/crud/resolvers.ts
  packages/js/data/src/crud/selectors.ts
  packages/js/data/src/crud/test/reducer.ts
  packages/js/data/src/crud/test/selectors.ts
  packages/js/data/src/crud/test/utils.ts
  packages/js/data/src/crud/types.ts
  packages/js/data/src/crud/utils.ts
  packages/js/data/src/index.ts
  packages/js/data/src/product-attribute-terms/constants.ts
  packages/js/data/src/product-attribute-terms/index.ts
  packages/js/data/src/product-attribute-terms/types.ts
Labels: package: @woocommerce/data

#33911 Add validations to `recordEvent`
  plugins/woocommerce/changelog/add-validation-for-event-recording-on-client
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/class-wc-tracks-event.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: plugin: woocommerce

#34021 Update composer.lock after updating to WooCommerce Blocks 8.0.0
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-composer-lock-woocommerce-blocks-8.0.0
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#34032 Delete changelog files based on PR 34031
  plugins/woocommerce/changelog/fix-33989-fatal-error-with-get-current-screen
Labels: plugin: woocommerce

#34031 Prep for cherry pick 33990
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34034 Delete changelog files based on PR 34033
  plugins/woocommerce/changelog/update-composer-lock-woocommerce-blocks-8.0.0
Labels: plugin: woocommerce

#34033 Prep for cherry pick 34021
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/composer.lock
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#34035 Bump WooCommerce to 6.8.0-beta.2
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34012 Update PHP pre-requisite description in README
  README.md
Labels: type: documentation, tool: monorepo infrastructure

#33982 Update woocommerce admin scripts to align more with turborepo
  .github/actions/install-build/action.yml
  .github/workflows/pr-code-coverage.yml
  .github/workflows/pr-code-sniff.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce-admin/bin/install-if-deps-outdated.js
  plugins/woocommerce-admin/bin/install-if-no-packages.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/update-33948_client_admin_scripts
  turbo.json
Labels: plugin: woocommerce, focus: react admin

#30468 Fix code standards in orders code, and check payment method name instead of title on get order totals
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  plugins/woocommerce/includes/class-wc-order.php
Labels: needs: author feedback, needs: triage feedback, plugin: woocommerce

#33960 Use method_exists instead of throwing in AbstractServiceProvider::reflect_class_or_callable
  plugins/woocommerce/changelog/fix-29465
  plugins/woocommerce/src/Internal/DependencyManagement/AbstractServiceProvider.php
Labels: plugin: woocommerce

#34054 Fix unusable historical import
  packages/js/data/changelog/fix-34048-historical-import-unusable
  packages/js/data/src/import/index.ts
  plugins/woocommerce/changelog/fix-34048-historical-import-unusable
Labels: plugin: woocommerce, package: @woocommerce/data

#33962 Reduce the amount of terms shown in attributes page
  plugins/woocommerce/changelog/reduce-terms-shown-in-attributes-page
  plugins/woocommerce/includes/admin/class-wc-admin-attributes.php
Labels: plugin: woocommerce

#33518 Add WooCommerce default styles for block themes
  plugins/woocommerce/changelog/introduce-block-theme-default-styles
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: type: enhancement, plugin: woocommerce

#33834 [COT] Implement `query()` in the COT datastore
  plugins/woocommerce/changelog/add-33613-cot-datastore-query
  plugins/woocommerce/includes/class-wc-data-store.php
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableMetaQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#34057 Add JSON report output to PW tests
  .gitignore
  plugins/woocommerce/changelog/add-pw-json-report
  plugins/woocommerce/e2e/playwright.config.js
  plugins/woocommerce/e2e/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/e2e/tests/shopper/my-account.spec.js
Labels: plugin: woocommerce

#34062 Delete changelog files based on PR 34061
  plugins/woocommerce/changelog/fix-34048-historical-import-unusable
Labels: plugin: woocommerce

#34061 Prep for cherry pick 34054
  packages/js/data/changelog/fix-34048-historical-import-unusable
  packages/js/data/src/import/index.ts
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, package: @woocommerce/data

#34059 [COT] `query()`: add support for the `customer` query var
  plugins/woocommerce/changelog/add-cot-datastore-query-customer
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#34068 E2E: Update WSL readme
  plugins/woocommerce/changelog/e2e-update-wsl-link
  plugins/woocommerce/tests/e2e/WSL_SETUP_INSTRUCTIONS.md
Labels: plugin: woocommerce

#34070 Fix missing product task add product track via product templates
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/test/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-types-list-items.tsx
  plugins/woocommerce/changelog/fix-34060-missing-product-task-add-track
Labels: plugin: woocommerce, focus: react admin

#34072 Fix: product attributes lookup table usage enabled on each upgrade
  plugins/woocommerce/changelog/fix-product-attributes-lookup-table-usage-enabled-on-each-install
  plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/DataRegeneratorTest.php
Labels: plugin: woocommerce

#34010 Add utils for testing tracks in backend
  plugins/woocommerce/changelog/add-tracks-test-utils
  plugins/woocommerce/includes/tracks/class-wc-tracks-footer-pixel.php
  plugins/woocommerce/tests/legacy/framework/class-wc-unit-test-case.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task-list.php
Labels: plugin: woocommerce

#33929 Fix app root fetching when using PNPM version 7
  packages/js/e2e-core-tests/core-tests-root.js
  packages/js/e2e-environment/utils/app-root.js
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/e2e-core-tests

#34074 Fix shipping zone fails to create after installing Jetpack and WCS
  plugins/woocommerce/changelog/fix-34018-shipping-zone-fails-to-create
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#34088 Delete changelog files based on PR 34087
  plugins/woocommerce/changelog/fix-34060-missing-product-task-add-track
Labels: plugin: woocommerce

#34087 Prep for cherry pick 34070
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/test/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-types-list-items.tsx
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, focus: react admin

#34089 Prep for cherry pick 34072
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/DataRegeneratorTest.php
Labels: plugin: woocommerce

#34091 Prep for cherry pick 34074
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34083 Use the default payment suggestions when woocommerce_show_marketplace_suggestions is set to no
  packages/js/data/changelog/add-force-default-suggestions-arg
  packages/js/data/src/onboarding/resolvers.ts
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce/changelog/fix-33958-blank-payment-task-when-marketplace-suggestion-is-disabled
  plugins/woocommerce/src/Admin/API/PaymentGatewaySuggestions.php
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/Init.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34045 Fix Tracks event in Review Shipping task
  plugins/woocommerce/changelog/fix-review-shipping-track
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#34094 Delete changelog files based on PR 34093
  plugins/woocommerce/changelog/fix-review-shipping-track
Labels: plugin: woocommerce

#34093 Prep for cherry pick 34045
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#34099 Fix shipping zone count transient reset
  plugins/woocommerce/changelog/fix-34098-zone-count-transient-reset
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#33638 Render order edit page
  plugins/woocommerce/changelog/enhancement-32471
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
  plugins/woocommerce/includes/admin/marketplace-suggestions/class-wc-marketplace-suggestions.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-downloads.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-items.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-notes.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/includes/admin/wc-meta-box-functions.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/react-admin/connect-existing-pages.php
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/CustomMetaBox.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
Labels: plugin: woocommerce, focus: react admin

#33634 Introduce the object cache infrastructure
  plugins/woocommerce/changelog/add-objects-cache-infrastructure
  plugins/woocommerce/src/Caching/CacheEngine.php
  plugins/woocommerce/src/Caching/CacheException.php
  plugins/woocommerce/src/Caching/ObjectCache.php
  plugins/woocommerce/src/Caching/WpCacheEngine.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ObjectCacheServiceProvider.php
  plugins/woocommerce/tests/php/src/Caching/CacheExceptionTest.php
  plugins/woocommerce/tests/php/src/Caching/InMemoryObjectCacheEngine.php
  plugins/woocommerce/tests/php/src/Caching/InvalidObjectCacheClass.php
  plugins/woocommerce/tests/php/src/Caching/ObjectCacheTest.php
Labels: plugin: woocommerce

#34053 Fix fatal error when bulk editing sale price to empty value in PHP 8
  plugins/woocommerce/changelog/fix-error-when-builk-updating-sale-price
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
Labels: plugin: woocommerce

#34084 Clean up setup_experiment_1 and setup_experiment_2 experiments
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/tasks/hooks/useActiveSetupList.ts
  plugins/woocommerce-admin/client/tasks/tasks.scss
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/tasks/test/tasks.test.tsx
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce/changelog/update-33746-setup-tasklist-experiment-cleanup
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#34117 Delete changelog files based on PR 34116
  plugins/woocommerce/changelog/fix-34098-zone-count-transient-reset
Labels: plugin: woocommerce

#34116 Prep for cherry pick 34099
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, focus: react admin

#34120 fix: wrong condition for shipping recommendations tour step
  plugins/woocommerce-admin/client/shipping/shipping-tour.tsx
  plugins/woocommerce/changelog/fix-error-when-builk-updating-sale-price
  plugins/woocommerce/changelog/fix-shipping-recommendations-wrong-condition
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#33787 Column sorting for the COT admin list table.
  plugins/woocommerce/changelog/add-33199-cot-list-sortability
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: plugin: woocommerce, focus: react admin

#33848 Add order edit rendering when creating new order
  plugins/woocommerce/changelog/enhancement-add-order-32741
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: plugin: woocommerce, focus: react admin

#33790 Remove 'do not edit' warnings (not applicable following monorepo rest…
  plugins/woocommerce/changelog/spotfix-cleanup-legacy-wca-comments
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Init.php
  plugins/woocommerce/src/Admin/Features/TransientNotices.php
  plugins/woocommerce/src/Internal/Admin/ActivityPanels.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
  plugins/woocommerce/src/Internal/Admin/Coupons.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
  plugins/woocommerce/src/Internal/Admin/Loader.php
  plugins/woocommerce/src/Internal/Admin/Marketing.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/Onboarding.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingHelper.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingIndustries.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingJetpack.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingMailchimp.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProducts.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProfile.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingSetupWizard.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingSync.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingThemes.php
  plugins/woocommerce/src/Internal/Admin/RemoteInboxNotifications.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/src/Internal/Admin/SettingsNavigationFeature.php
  plugins/woocommerce/src/Internal/Admin/ShippingLabelBanner.php
  plugins/woocommerce/src/Internal/Admin/ShippingLabelBannerDisplayRules.php
Labels: plugin: woocommerce, focus: react admin

#34128 [COT] Make sure status is correctly prefixed for saving
  plugins/woocommerce/changelog/fix-cot-fix-status-prefixing
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: focus: custom order tables, plugin: woocommerce
