Repository woocommerce/woocommerce, pull requests merged in 2022-11, with the labels that each got.

#35131 Add create attribute term modal
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/create-attribute-term-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/create-attribute-term-modal.tsx
  plugins/woocommerce/changelog/add-34331_create_attribute_term_modal
Labels: plugin: woocommerce, focus: react admin

#35355 add/a2p product variations api-core-tests
  plugins/woocommerce/changelog/add-api-core-tests-product-variations-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
Labels: plugin: woocommerce

#35309 Remove insight first product and payment note
  plugins/woocommerce/changelog/remove-insight-first-product-and-payment-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/InsightFirstProductAndPayment.php
Labels: plugin: woocommerce, focus: react admin

#35442 Add filter hook `handle_bulk_actions-woocommerce_page_wc-orders`
  plugins/woocommerce/changelog/fix-35414-custom-bulk-actions
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#35305 Fix missing use FQCN for WP_Error
  plugins/woocommerce/changelog/fix-missing-use-fqcn-wp_error
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#35383 Fix class name for class FirstDownlaodableProduct
  plugins/woocommerce/changelog/fix-misspelled-first-downlaodable-product
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/FirstDownloadableProduct.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#35411 Fix invalid `wcadmin_install_plugin_error` event props
  plugins/woocommerce/changelog/fix-103-install-plugin-error-track
  plugins/woocommerce/src/Admin/PluginsHelper.php
Labels: plugin: woocommerce, focus: react admin

#34948 Product creation experience: shortcut to add variation price
  plugins/woocommerce/changelog/add-33554_variation-price
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-variation-admin.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
Labels: plugin: woocommerce

#35462 Update/a2p array checks in api-core-tests
  plugins/woocommerce/changelog/update-array-checks-api-core-tests
  plugins/woocommerce/tests/api-core-tests/tests/customers/customers-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/shipping/shipping-method.test.js
  plugins/woocommerce/tests/api-core-tests/tests/taxes/tax-classes-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/taxes/tax-rates-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/webhooks/webhooks-crud.test.js
Labels: plugin: woocommerce

#35448 Fix business details step fails to display when Gutenberg plugin is active
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce/changelog/fix-35417-bussiness-details-with-gutenberg
Labels: plugin: woocommerce, focus: react admin

#35395 Libyan Dinar not formatted correctly
  plugins/woocommerce/changelog/libyan-dinar
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce, type: community contribution

#35453 Fix wrong return type get shipping tax
  plugins/woocommerce/changelog/fix-wrong-return-type-get-shipping-tax
  plugins/woocommerce/includes/class-wc-shipping-rate.php
Labels: plugin: woocommerce, type: community contribution

#35463 Admin redirects for HPOS URLs
  plugins/woocommerce/changelog/fix-35074-hpos-cpt-admin-redirects
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Internal/Admin/Orders/COTRedirectionController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderAdminServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/COTRedirectionControllerTest.php
Labels: plugin: woocommerce, focus: react admin

#35479 Fix version typo in form-login.php
  plugins/woocommerce/changelog/fix-version-typo-form-login
  plugins/woocommerce/templates/global/form-login.php
Labels: plugin: woocommerce, type: community contribution

#35480 Display correct order pending sync count on feature enabled screen.
  plugins/woocommerce/changelog/fix-percentage_type
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
Labels: plugin: woocommerce

#35269 Adding attribute edit modal for products MVP
  packages/js/components/changelog/add-34332-add-attribute-edit
  packages/js/components/package.json
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/edit-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/edit-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/add-attribute-modal.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/utils.ts
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/attribute-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/test/attribute-input-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/custom-attribute-term-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/index.ts
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce/changelog/add-34332-add-attribute-edit
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, focus: product management MVP, section: PM attributes, focus: Product Management MVP 1.0

#35341 Remove insight on first sale note
  plugins/woocommerce/changelog/remove-insight-first-sale-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Admin/Notes/DeprecatedNotes.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/InsightFirstSale.php
Labels: plugin: woocommerce, focus: react admin

#35397 DateTimePickerControl: Only call onChange when the date actually changes
  packages/js/components/changelog/fix-date-time-picker-control-onchange
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35319 Remove adding and managing products note
  plugins/woocommerce/changelog/remove-adding-and-managing-products-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/AddingAndManangingProducts.php
Labels: plugin: woocommerce, focus: react admin

#35320 Remove manage store activity from home screen note
  plugins/woocommerce/changelog/remove-manage-store-activity-from-home-screen-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Notes/ManageStoreActivityFromHomeScreen.php
Labels: plugin: woocommerce, focus: react admin

#35318 Remove the first downloadable product note
  plugins/woocommerce/changelog/remove-first-downloadable-product-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/FirstDownloadableProduct.php
Labels: plugin: woocommerce, focus: react admin

#35493 Add missing Ukrainian Subdivisions to States.php
  plugins/woocommerce/changelog/pr-34834
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#35496 Prep/7.1
  .github/workflows/pr-highlight-changes.yml
  changelog.txt
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.3
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: release: highlight, plugin: woocommerce

#35487 [HPOS] Add order data store info to SSR
  plugins/woocommerce/changelog/add-34864-order-data-store-in-ssr
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: focus: custom order tables, plugin: woocommerce

#35343 Update DateTimePickerControl's popover styling to work with slot-fill
  packages/js/components/changelog/update-date-time-picker-control-picker-classname
  packages/js/components/src/date-time-picker-control/date-time-picker-control.scss
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35507 7.1 Final Prep
  plugins/woocommerce/readme.txt
Labels: release: highlight, plugin: woocommerce

#35508 Prep for 7.1
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35521 Update WooCommerce blocks package to 8.9.0
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.9.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35510 Fail check when template updated without version
  .github/workflows/pr-highlight-changes.yml
Labels: tool: monorepo infrastructure

#35528 Update php version to 7.4
  plugins/woocommerce/changelog/update-php-7.4
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35517 [HPOS] Move hook `woocommerce_before_delete_order` before `woocommerce_before_delete_order`
  plugins/woocommerce/changelog/fix-35516-hpos-delete-order-hook
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#35546 Revert "Update php version to 7.4"
  plugins/woocommerce/changelog/update-php-7.4
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35547 Post-7.1 / release prep for 7.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35522 update/a2p update `api-core-tests` to run against both CI test env and JN
  plugins/woocommerce/changelog/update-api-core-tests-to-operate-with-JN
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/api-core-tests/tests/customers/customers-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/order-search.test.js
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/system-status/system-status-crud.test.js
Labels: plugin: woocommerce

#35564 Update woocommerce-blocks to 8.9.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.9.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35051 Add/source param to get subscriptions call
  plugins/woocommerce/changelog/add-source-param-to-get-subscriptions-call
  plugins/woocommerce/includes/admin/helper/class-wc-helper-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#34538 Add scheduled sale fields
  packages/js/components/changelog/fix-date-time-picker-blur-close
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/sections/pricing-section.scss
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/add-product_schedule_sale
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35534 Image Gallery: Update toolbar position and tooltips
  packages/js/components/changelog/fix-product-images-toolbar-positioning
  packages/js/components/src/image-gallery/image-gallery-toolbar.scss
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
Labels: type: enhancement, package: @woocommerce/components, focus: components, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35532 FSE: Fix icon fonts not being loaded in the Site Editor
  plugins/woocommerce/changelog/fix-35495-site-editor-icons
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#35431 Add product title to header when available
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-header.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-title.ts
  plugins/woocommerce-admin/client/products/utils/test/get-product-title.test.ts
  plugins/woocommerce/changelog/update-35172
Labels: plugin: woocommerce, focus: react admin

#35597 Fix custom_orders_table_usage_is_enabled returning true when HPOS feature is disabled
  plugins/woocommerce/changelog/fix-35527
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
Labels: plugin: woocommerce

#35447 Add contextual product more menu
  plugins/woocommerce-admin/client/products/images/classic-editor-icon.tsx
  plugins/woocommerce-admin/client/products/images/feedback-icon.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-header.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-more-menu.scss
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce/changelog/add-35177
Labels: plugin: woocommerce, focus: react admin

#35460 Add product status badge to product form header
  plugins/woocommerce-admin/client/products/product-status-badge.scss
  plugins/woocommerce-admin/client/products/product-status-badge.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-status.ts
  plugins/woocommerce-admin/client/products/utils/test/get-product-status.ts
  plugins/woocommerce/changelog/add-35169
Labels: plugin: woocommerce, focus: react admin

#35132 Add/34 create new category field modal
  packages/js/components/changelog/add-34_create_new_category_field_modal
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/select-control.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field-add-new-item.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field-item.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.scss
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/create-category-modal.scss
  plugins/woocommerce-admin/client/products/fields/category-field/create-category-modal.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/use-category-search.ts
  plugins/woocommerce/changelog/add-34_create_new_category_field_modal
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#30605 Update the Azerbaijani manat symbol AZN
  plugins/woocommerce/changelog/update-manat-currency-symbol
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: needs: triage feedback, plugin: woocommerce, type: community contribution

#29850 fix get customer tokens limit
  plugins/woocommerce/changelog/fix-29827
  plugins/woocommerce/includes/class-wc-payment-tokens.php
Labels: plugin: woocommerce, type: community contribution

#35329 Do not use $_POST directly in validate_checkout
  plugins/woocommerce/changelog/35328-post-data
  plugins/woocommerce/includes/class-wc-checkout.php
Labels: plugin: woocommerce, type: community contribution

#35611 Deploy the stacked layout in the Products Task experiment
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-layout-experiment.ts
  plugins/woocommerce/changelog/fix-deploy-stacked-products-task
Labels: plugin: woocommerce, focus: react admin

#35592 Add product settings menu to new product management experience
  packages/js/data/changelog/add-35175
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-header.tsx
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce-admin/client/products/product-settings/index.tsx
  plugins/woocommerce-admin/client/products/product-settings/product-settings.scss
  plugins/woocommerce-admin/client/products/product-settings/product-settings.tsx
  plugins/woocommerce-admin/client/products/product-settings/test/product-settings.spec.tsx
  plugins/woocommerce/changelog/add-35175
Labels: release: highlight, plugin: woocommerce, focus: react admin, package: @woocommerce/data

#35606 Add/35173 category field improvements
  packages/js/components/changelog/add-35173-category-field-improvements
  packages/js/components/src/experimental-select-control/select-control.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/use-category-search.ts
  plugins/woocommerce/changelog/add-35173-category-field-improvements
Labels: priority: high, plugin: woocommerce, focus: react admin, package: @woocommerce/components, focus: product management, focus: product management MVP

#35626 Check if blocks have been added to rich text editors before updating value
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce/changelog/fix-rich-text-dirty-state
Labels: plugin: woocommerce, focus: react admin

#35624 Dev/add back asset sources
  plugins/woocommerce/changelog/add-back-scss
  plugins/woocommerce/client/legacy/Gruntfile.js
Labels: plugin: woocommerce

#35625 Add a confirmation modal when the user tries to navigate away with unsaved changes
  plugins/woocommerce-admin/client/hooks/usePreventLeavingPage.ts
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce/changelog/enhancement-35194-confirm-when-exiting
Labels: type: enhancement, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35596 Add breadcrumbs to new product management experience
  plugins/woocommerce-admin/client/products/product-breadcrumbs.scss
  plugins/woocommerce-admin/client/products/product-breadcrumbs.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/test/product-breadcrumbs.spec.tsx
  plugins/woocommerce/changelog/add-35170
Labels: plugin: woocommerce, focus: react admin

#35342 Remove welcome to woocommerce for store users note
  plugins/woocommerce/changelog/remove-welcome-to-woocommerce-for-store-users-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Notes/WelcomeToWooCommerceForStoreUsers.php
Labels: plugin: woocommerce, focus: react admin

#35602 Fix styling of CES modal
  packages/js/customer-effort-score/changelog/add-35129_ces_prompt_new_product_mvp
  packages/js/customer-effort-score/src/style.scss
Labels: package: @woocommerce/customer-effort-score

#35627 Add pre build script to delete assets
  plugins/woocommerce/changelog/add-pre-build
  plugins/woocommerce/package.json
  turbo.json
Labels: plugin: woocommerce

#35651 Fix some bugs in syncpack configuration
  .syncpackrc
  package.json
  packages/js/admin-e2e-tests/changelog/dev-adjust-sync
  packages/js/admin-e2e-tests/package.json
  packages/js/api/changelog/dev-adjust-sync
  packages/js/api/package.json
  packages/js/components/changelog/dev-adjust-sync
  packages/js/components/package.json
  packages/js/data/changelog/dev-adjust-sync
  packages/js/data/package.json
  packages/js/e2e-utils/package.json
  packages/js/explat/changelog/dev-adjust-sync
  packages/js/explat/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-adjust-sync
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/api, package: @woocommerce/e2e-utils, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/data, package: @woocommerce/explat

#35644 Analytics: Fix advanced filtering date selection in WordPress 6.1.
  packages/js/components/changelog/fix-datepicker-moment
  packages/js/components/src/calendar/date-picker.js
Labels: type: bug, package: @woocommerce/components, focus: analytics, focus: components, focus: wcpay

#35657 Fix/unsaved prompt
  packages/js/components/changelog/fix-unsaved-prompt
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/fix-unsaved-prompt
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35678 Bump WooCommerce version for beta 1
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35679 Fix/e2e environment test failures
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/fix-e2e-environment-test-failures
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#35638 Fix missing tooltip in admin orders table. Fixes #33228
  plugins/woocommerce/changelog/fix-tooltip-in-admin-order-table
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#35693 Revert "Add pre build script to delete assets"
  plugins/woocommerce/changelog/add-pre-build
  plugins/woocommerce/package.json
  turbo.json
Labels: plugin: woocommerce

#35396 Fix unread notes count in inbox panel
  packages/js/data/changelog/fix-34929
  packages/js/data/src/notes/types.ts
  packages/js/experimental/changelog/fix-34929
  packages/js/experimental/src/inbox-note/inbox-note.tsx
  plugins/woocommerce-admin/client/inbox-panel/index.js
  plugins/woocommerce/changelog/fix-34929
  plugins/woocommerce/src/Admin/API/Notes.php
  plugins/woocommerce/src/Admin/Notes/DataStore.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data, package: @woocommerce/experimental

#30723 Add $formatted_destination as an argument to the woocommerce_cart_no_shipping_available_html filter
  plugins/woocommerce/changelog/adjust-no-shipping-hook
  plugins/woocommerce/templates/cart/cart-shipping.php
Labels: plugin: woocommerce, type: community contribution

#34645 Fix attribute taxonomy sort order meta key
  plugins/woocommerce/changelog/fix-34213
  plugins/woocommerce/includes/admin/class-wc-admin-taxonomies.php
  plugins/woocommerce/includes/wc-attribute-functions.php
Labels: plugin: woocommerce, type: community contribution

#35695 Make sure the `woocommerce` page hook name remains untranslated
  plugins/woocommerce/changelog/fix-35677
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#35542 Add one-click installation for recommended extensions in multichannel Marketing page
  plugins/woocommerce-admin/client/marketing/data/action-types.js
  plugins/woocommerce-admin/client/marketing/data/actions.js
  plugins/woocommerce-admin/client/marketing/data/reducer.js
  plugins/woocommerce-admin/client/marketing/hooks/index.ts
  plugins/woocommerce-admin/client/marketing/hooks/useInstalledPlugins.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/DiscoverTools.test.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/DiscoverTools.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/PluginsTabPanel.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/types.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/useRecommendedPlugins.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/InstalledExtensions/InstalledExtensions.tsx
  plugins/woocommerce-admin/client/marketing/types/Plugin.ts
  plugins/woocommerce-admin/client/marketing/types/index.ts
  plugins/woocommerce/changelog/feature-marketing-one-click-installation
Labels: plugin: woocommerce, focus: react admin, focus: marketing

#35623 Add responsiveness to product form header
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-settings/product-settings.scss
  plugins/woocommerce-admin/client/products/product-settings/product-settings.tsx
  plugins/woocommerce-admin/client/products/product-title.scss
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce/changelog/update-35168
Labels: plugin: woocommerce, focus: react admin

#35446 Add tracking support for key HPOS options.
  plugins/woocommerce/changelog/fix-34898-hpos-tracker
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#35696 updated the FAQ expander to link to the new feature req board on woocommerce.com
  plugins/woocommerce/changelog/update-update-plugin-faqs-feature-req
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#35700 Fade the value selection field in the Attributes modal when no attribute is added
  packages/js/components/changelog/enhancement-35568
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/combo-box.tsx
Labels: package: @woocommerce/components, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35717 Update the summary placeholder text in the product management form.
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce/changelog/fix-35715
Labels: focus: product, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35617 Add support for the `Product by attribute` template
  plugins/woocommerce/changelog/support-product-attribute-blocks-template
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/templates/taxonomy-product-attribute.php
  plugins/woocommerce/tests/php/includes/class-wc-template-loader-test.php
Labels: focus: templating, plugin: woocommerce

#35653 Add Denmark postcode validation
  plugins/woocommerce/changelog/denmark-post-code-validation
  plugins/woocommerce/includes/class-wc-validation.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/util/validation.php
Labels: plugin: woocommerce, type: community contribution

#35358 Open file picker by clicking card
  plugins/woocommerce-admin/client/products/sections/images-section.scss
  plugins/woocommerce-admin/client/products/sections/images-section.tsx
  plugins/woocommerce/changelog/add-35183_open_file_picker_by_clicking_card
Labels: plugin: woocommerce, focus: react admin

#35698 Add a blank space between the emoji and the message within a notice popup
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/fix-35541-add-space-notice-content
Labels: plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35718 Fix price field currency symbol position
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/enhancement-35558
Labels: plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35649 Analytics: Fix custom date range calendar styling in WP 6.1
  packages/js/components/changelog/fix-analytics-daterange-custom-wp61
  packages/js/components/src/calendar/begin-rtl-ignore.css
  packages/js/components/src/calendar/end-rtl-ignore.css
  packages/js/components/src/calendar/style.scss
  packages/js/components/src/filters/style.scss
Labels: type: bug, package: @woocommerce/components, focus: analytics, focus: components

#35720 Align the field height across the whole form
  packages/js/components/changelog/enhancement-35567
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/form/style.scss
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35727 Modified get_wp_plugin_id()
  plugins/woocommerce/changelog/fix-35727-plugin-id
  plugins/woocommerce/src/Utilities/PluginUtil.php
Labels: plugin: woocommerce, type: community contribution

#35744 Release 7.2 - Bump WooCommerce version for beta 2
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35616 Introduce woocommerce_order_applied_coupon hook
  plugins/woocommerce/changelog/34473-coupon-applied-to-order
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce, type: community contribution

#35648 Fix deprecated error in PageController
  plugins/woocommerce/changelog/2022-11-24-08-07-11-448089
  plugins/woocommerce/src/Admin/PageController.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#35748 Deb/assets cleanup
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/assets-cleanup
Labels: plugin: woocommerce

#35726 Surface Amazon Pay as "Additional Payment Options" for UK/EU/JP
  plugins/woocommerce/changelog/update-surface-amazon-pay
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin

#35759 Update README.md
  plugins/woocommerce/changelog/update-api-core-tests-readme
  plugins/woocommerce/tests/api-core-tests/README.md
Labels: plugin: woocommerce

#35680 Add additional question to CES modal
  packages/js/customer-effort-score/changelog/add-35124-ces-add-question
  packages/js/customer-effort-score/src/customer-effort-score.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/index.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/test/index.tsx
  packages/js/customer-effort-score/src/style.scss
  packages/js/customer-effort-score/src/test/index.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks-container.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/actions.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/two-column-tasks/completed-header.tsx
  plugins/woocommerce/changelog/add-35124-ces-add-question
  plugins/woocommerce/src/Internal/Admin/CustomerEffortScoreTracks.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/customer-effort-score

#35721 Add a bottom padding to the whole form
  plugins/woocommerce-admin/client/layout/style.scss
  plugins/woocommerce/changelog/enhancement-35571
Labels: plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35751 Set page hidden form field based on the order_type
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#35643 Introduce live branches UI page
  plugins/woocommerce-beta-tester/.prettierrc.js
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/live-branches/manifest.php
  plugins/woocommerce-beta-tester/changelog/dev-live-branches-ui
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester-live-branches.php
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester.php
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/src/live-branches/App.tsx
  plugins/woocommerce-beta-tester/src/live-branches/components/BranchList.tsx
  plugins/woocommerce-beta-tester/src/live-branches/hooks/live-branches.tsx
  plugins/woocommerce-beta-tester/src/live-branches/index.tsx
  plugins/woocommerce-beta-tester/tsconfig.json
  plugins/woocommerce-beta-tester/webpack.config.js
  pnpm-lock.yaml
Labels: plugin: woocommerce beta tester

#35758 Add open on focus to attribute fields
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/attribute-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.tsx
  plugins/woocommerce/changelog/add-35576_open_on_focus_to_attribute_fields
Labels: plugin: woocommerce, focus: react admin

#35738 Move file picker by clicking card into the MediaUploader component
  packages/js/components/changelog/dev-35714_move_file_picker_to_media_uploader
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/components/src/media-uploader/stories/index.tsx
  plugins/woocommerce-admin/client/products/sections/images-section.tsx
  plugins/woocommerce/changelog/dev-35714_move_file_picker_to_media_uploader
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35722 Allow the user to select multiple images in the Media Library
  packages/js/components/changelog/add-35181_allow_select_multiple_images
  packages/js/components/src/media-uploader/README.md
  packages/js/components/src/media-uploader/media-uploader.tsx
  plugins/woocommerce-admin/client/products/sections/images-section.tsx
  plugins/woocommerce/changelog/add-35181_allow_select_multiple_images
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35733 Improve element stacking in modals on tablet and mobile
  packages/js/internal-style-build/abstracts/_mixins.scss
  packages/js/internal-style-build/changelog/enhancement-35565
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce/changelog/enhancement-35565
Labels: plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35732 Update logo icon for Google Listings and Ads in onboarding marketing task
  plugins/woocommerce/assets/images/onboarding/google-listings-and-ads.png
  plugins/woocommerce/assets/images/onboarding/google.svg
  plugins/woocommerce/changelog/fix-35731-update-google-icon
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#34501 check if post_type exists
  plugins/woocommerce/changelog/fix-new-post-type-check
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce, type: community contribution

#33544 Fix Protected Directory Detection and Admin Notice
  plugins/woocommerce/changelog/unprotected-dir-warning
  plugins/woocommerce/includes/admin/views/html-notice-uploads-directory-is-unprotected.php
Labels: plugin: woocommerce, type: community contribution

#32026 Update wc-account-functions.php
  plugins/woocommerce/changelog/account-page-address-translation
  plugins/woocommerce/includes/wc-account-functions.php
Labels: plugin: woocommerce, type: community contribution

#35701 Set editor mode on initialization to prevent initial text editor focus
  packages/js/components/changelog/fix-35697
  packages/js/components/src/rich-text-editor/editor-writing-flow.tsx
Labels: package: @woocommerce/components
