Repository woocommerce/woocommerce, pull requests merged in 2022-10, with the labels that each got.

#34872 Update the pnpm constraint to 7.12.2+ now auto-install is fixed.
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/pr-highlight-changes.yml
  packages/js/admin-e2e-tests/package.json
  packages/js/api-core-tests/package.json
  packages/js/api/package.json
  packages/js/components/package.json
  packages/js/csv-export/package.json
  packages/js/currency/package.json
  packages/js/customer-effort-score/package.json
  packages/js/data/package.json
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  packages/js/eslint-plugin/package.json
  packages/js/experimental/package.json
  packages/js/explat/package.json
  packages/js/extend-cart-checkout-block/package.json
  packages/js/internal-e2e-builds/package.json
  packages/js/internal-js-tests/package.json
  packages/js/internal-style-build/package.json
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/package.json
  packages/js/onboarding/package.json
  packages/js/tracks/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/package.json
  tools/cherry-pick/package.json
  tools/cli-core/package.json
  tools/code-analyzer/package.json
  tools/create-extension/package.json
  tools/monorepo-merge/package.json
  tools/package-release/package.json
  tools/release-posts/package.json
  tools/storybook/package.json
  tools/version-bump/package.json
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, package: @woocommerce/api-core-tests, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#34895 Add "aria-disabled" prop to truly disable OBW continue buttons
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce/changelog/fix-33986-obw-validation-issue
Labels: plugin: woocommerce, focus: react admin

#34896 Fix onboarding wizard popover padding
  plugins/woocommerce-admin/client/profile-wizard/style.scss
  plugins/woocommerce/changelog/fix-34884-info-icon-fails-to-show-padding
Labels: plugin: woocommerce, focus: react admin

#34892 Fix wrong payment tasks display logic
  plugins/woocommerce/changelog/fix-payment-task-display-problem
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#34859 Deploy spotlight product tour
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-create-product-by-type.ts
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.js
  plugins/woocommerce/changelog/update-deploy-spotlight-product-tour
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
Labels: plugin: woocommerce, focus: react admin

#34920 Fix: can't place orders for Saint Martin
  plugins/woocommerce/changelog/fix-34911
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce

#34666 Change "WCPay" to "WooCommerce Payments"
  plugins/woocommerce-admin/client/payments-welcome/strings.tsx
Labels: focus: react admin

#34835 E2e pw/migrate api core tests to use playwright 34126
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/.gitignore
  plugins/woocommerce/changelog/api-core-tests-Add-REST-API-playwright-tests
  plugins/woocommerce/tests/api-core-tests/.eslintrc.js
  plugins/woocommerce/tests/api-core-tests/README.md
  plugins/woocommerce/tests/api-core-tests/data/coupon.js
  plugins/woocommerce/tests/api-core-tests/data/index.js
  plugins/woocommerce/tests/api-core-tests/data/order.js
  plugins/woocommerce/tests/api-core-tests/data/products-crud.js
  plugins/woocommerce/tests/api-core-tests/data/refund.js
  plugins/woocommerce/tests/api-core-tests/data/shared/batch-update.js
  plugins/woocommerce/tests/api-core-tests/data/shared/customer.js
  plugins/woocommerce/tests/api-core-tests/data/shared/error-response.js
  plugins/woocommerce/tests/api-core-tests/data/shared/index.js
  plugins/woocommerce/tests/api-core-tests/data/shipping-method.js
  plugins/woocommerce/tests/api-core-tests/data/shipping-zone.js
  plugins/woocommerce/tests/api-core-tests/data/tax-rate.js
  plugins/woocommerce/tests/api-core-tests/data/variation.js
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/api-core-tests/tests/coupons/coupons.test.js
  plugins/woocommerce/tests/api-core-tests/tests/hello/hello.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/order-complex.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/order-search.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders.test.js
  plugins/woocommerce/tests/api-core-tests/tests/products/product-list.test.js
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/refunds/refunds.test.js
  plugins/woocommerce/tests/api-core-tests/tests/shipping/shipping-method.test.js
  plugins/woocommerce/tests/api-core-tests/tests/shipping/shipping-zones.test.js
Labels: plugin: woocommerce

#34935 update workflows to use the playwright api-core-tests instead of the …
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/enhancement-A2P-update-workflows-to-use-playwright-api-core-tests
Labels: plugin: woocommerce

#34857 Add shipping dimensions image
  plugins/woocommerce-admin/client/products/fields/shipping-dimensions-image/index.ts
  plugins/woocommerce-admin/client/products/fields/shipping-dimensions-image/shipping-dimensions-image.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.scss
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce/changelog/add-34329-shipping-dimensions-image
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP, section: PM shipping, focus: Product Management MVP 1.0

#34806 Remove unfinished and unused SplitDropdown component
  packages/js/components/changelog/remove-split-dropdown
  packages/js/components/src/split-dropdown/README.md
  packages/js/components/src/split-dropdown/index.tsx
  packages/js/components/src/split-dropdown/split-dropdown.tsx
  packages/js/components/src/split-dropdown/stories/index.tsx
  packages/js/components/src/split-dropdown/style.scss
  packages/js/components/src/split-dropdown/test/index.tsx
  packages/js/components/src/style.scss
Labels: type: technical debt, package: @woocommerce/components, focus: components

#34792 Update Remote Inbox Notifications Total Payments Value documentation
  plugins/woocommerce/changelog/fix-remote-inbox-total-payments-value-doc
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/README.md
Labels: type: bug, plugin: woocommerce, focus: react admin, focus: inbox

#34844 Dev: migrate @woocommerce/data reviews to Typescript
  packages/js/data/changelog/dev-ts-migrate-reviews
  packages/js/data/src/reviews/action-types.ts
  packages/js/data/src/reviews/actions.ts
  packages/js/data/src/reviews/index.js
  packages/js/data/src/reviews/index.ts
  packages/js/data/src/reviews/reducer.js
  packages/js/data/src/reviews/reducer.ts
  packages/js/data/src/reviews/resolvers.js
  packages/js/data/src/reviews/resolvers.ts
  packages/js/data/src/reviews/selectors.ts
  packages/js/data/src/reviews/test/reducer.ts
  packages/js/data/src/reviews/types.ts
Labels: package: @woocommerce/data

#34931 Support `wc_customer_bought_product` for hpos.
  plugins/woocommerce/changelog/fix-34775
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
  plugins/woocommerce/tests/php/includes/wc-user-functions-test.php
Labels: plugin: woocommerce

#34794 Fix initially selected items in SelectControl component
  packages/js/components/changelog/fix-select-control-selection
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
Labels: package: @woocommerce/components

#34936 Correct the textarea name in the Product Short Description template.
  plugins/woocommerce/changelog/fix-34925-product-short-description
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-short-description.php
Labels: release: cherry-pick, plugin: woocommerce

#34841 Add/34333 attribute list
  packages/js/components/changelog/add-34333_attribute_list
  packages/js/components/src/form-section/form-section.tsx
  packages/js/components/src/index.ts
  packages/js/components/src/sortable/sortable.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/utils.spec.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/utils.ts
  plugins/woocommerce-admin/client/products/layout/product-section-layout.tsx
  plugins/woocommerce-admin/client/products/sections/attributes-section.scss
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce/changelog/add-34333_attribute_list
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#33977 Implement `maxFailures` and warning messages
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/scripts/prepare-test-summary.js
  plugins/woocommerce/changelog/e2e-pr-fail-fast
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: smoke tests

#34871 Adding toolbar to the Image Gallery component
  packages/js/components/changelog/add-34437-gallery-toolbar
  packages/js/components/src/image-gallery/icons/cover-image-icon.js
  packages/js/components/src/image-gallery/icons/index.ts
  packages/js/components/src/image-gallery/image-gallery-item.scss
  packages/js/components/src/image-gallery/image-gallery-item.tsx
  packages/js/components/src/image-gallery/image-gallery-toolbar.scss
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
  packages/js/components/src/image-gallery/image-gallery.scss
  packages/js/components/src/image-gallery/image-gallery.tsx
  packages/js/components/src/image-gallery/index.tsx
  packages/js/components/src/image-gallery/stories/index.tsx
  packages/js/components/src/image-gallery/style.scss
  packages/js/components/src/image-gallery/test/utils.tsx
  packages/js/components/src/image-gallery/types.ts
  packages/js/components/src/image-gallery/utils.ts
  packages/js/components/src/list-item/list-item.tsx
  packages/js/components/src/media-uploader/stories/index.tsx
  packages/js/components/src/sortable/index.ts
  packages/js/components/src/sortable/non-sortable-item.tsx
  packages/js/components/src/sortable/sortable-handle.tsx
  packages/js/components/src/sortable/sortable-item.scss
  packages/js/components/src/sortable/sortable-item.tsx
  packages/js/components/src/sortable/sortable.tsx
  packages/js/components/src/sortable/stories/index.tsx
  packages/js/components/src/sortable/types.ts
  packages/js/components/src/util/conditional-wrapper/conditional-wrapper.tsx
  packages/js/components/src/util/conditional-wrapper/index.ts
  packages/js/components/src/util/index.ts
Labels: package: @woocommerce/components

#34960 Add/a2 p create tax rates crud api core tests
  plugins/woocommerce/changelog/add-api-core-tests-tax-rates-crud-tests
  plugins/woocommerce/tests/api-core-tests/data/index.js
  plugins/woocommerce/tests/api-core-tests/data/tax-rate.js
  plugins/woocommerce/tests/api-core-tests/tests/taxes/tax-classes-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/taxes/tax-rates-crud.test.js
Labels: plugin: woocommerce

#34823 Allow external tags in SelectControl component
  packages/js/components/changelog/update-select-control-tag-location
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/menu.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/selected-items.scss
  packages/js/components/src/experimental-select-control/stories/index.tsx
Labels: package: @woocommerce/components

#34966 REST API: Ensure meta_data prop contains an array
  plugins/woocommerce/changelog/patch-rest-metadata-filtering
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-products-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: focus: wc rest api, plugin: woocommerce

#34620 Update/experimental select control
  packages/js/components/changelog/update-experimental_select_control
  packages/js/components/src/experimental-select-control/menu.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/experimental-select-control/types.ts
  packages/js/components/src/experimental-select-control/utils.ts
  packages/js/components/src/index.ts
Labels: package: @woocommerce/components

#34744 Add/34000 attribute select control
  plugins/woocommerce/changelog/add-34000_attribute_select_control
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/wc-enhanced-select.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-attributes.php
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: release: highlight, plugin: woocommerce

#34970 Move onboarding test steps into utils folder
  plugins/woocommerce/changelog/add-pw-onboarding-utils
  plugins/woocommerce/tests/e2e-pw/test-data/data.js
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
  plugins/woocommerce/tests/e2e-pw/utils/onboarding.js
Labels: plugin: woocommerce

#34953 Add Tiktok to OBW grow list
  packages/js/data/changelog/add-tiktok-plugin-name
  packages/js/data/src/plugins/constants.ts
  plugins/woocommerce/changelog/add-tiktok-to-obw-grow
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#34396 [COT] Add the orders cache
  plugins/woocommerce/changelog/add-order_cache
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/src/Caches/OrderCache.php
  plugins/woocommerce/src/Caches/OrderCacheController.php
  plugins/woocommerce/src/Caching/ObjectCache.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/COTMigrationServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/src/Caching/ObjectCacheTest.php
Labels: plugin: woocommerce

#34979 api-core-tests order notes tests
  plugins/woocommerce/changelog/add-api-core-tests-order-notes-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders-crud.test.js
Labels: plugin: woocommerce

#34992 Revert "[COT] Add the orders cache"
  plugins/woocommerce/changelog/add-order_cache
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/src/Caches/OrderCache.php
  plugins/woocommerce/src/Caches/OrderCacheController.php
  plugins/woocommerce/src/Caching/ObjectCache.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/COTMigrationServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/src/Caching/ObjectCacheTest.php
Labels: plugin: woocommerce

#34995 Update pnpm-lock.yaml lockfile
  pnpm-lock.yaml
Labels: tool: monorepo infrastructure

#34790 Fix/update playwright and test fixes
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/fix-update-playwright-and-test-fixes
  plugins/woocommerce/changelog/update-pw-selectors
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce

#34972 Fix order email receiving test
  plugins/woocommerce/changelog/add-pw-onboarding-utils
  plugins/woocommerce/changelog/fix-order-email-receiving-test
  plugins/woocommerce/tests/e2e-pw/test-data/data.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/api.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
Labels: plugin: woocommerce

#35007 Update pnpm once again to fix issues with auto-install-peers
  .github/actions/setup-woocommerce-monorepo/action.yml
  packages/js/admin-e2e-tests/changelog/dev-bump-pnpm-version-restraint
  packages/js/admin-e2e-tests/package.json
  packages/js/api-core-tests/package.json
  packages/js/api/changelog/dev-bump-pnpm-version-restraint
  packages/js/api/package.json
  packages/js/components/changelog/dev-bump-pnpm-version-restraint
  packages/js/components/package.json
  packages/js/csv-export/changelog/dev-bump-pnpm-version-restraint
  packages/js/csv-export/package.json
  packages/js/currency/changelog/dev-bump-pnpm-version-restraint
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/dev-bump-pnpm-version-restraint
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/dev-bump-pnpm-version-restraint
  packages/js/data/package.json
  packages/js/date/changelog/dev-bump-pnpm-version-restraint
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/dev-bump-pnpm-version-restraint
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  packages/js/eslint-plugin/changelog/dev-bump-pnpm-version-restraint
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/dev-bump-pnpm-version-restraint
  packages/js/experimental/package.json
  packages/js/explat/changelog/dev-bump-pnpm-version-restraint
  packages/js/explat/package.json
  packages/js/extend-cart-checkout-block/changelog/dev-bump-pnpm-version-restraint
  packages/js/extend-cart-checkout-block/package.json
  packages/js/internal-e2e-builds/package.json
  packages/js/internal-js-tests/package.json
  packages/js/internal-style-build/package.json
  packages/js/navigation/changelog/dev-bump-pnpm-version-restraint
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/changelog/dev-bump-pnpm-version-restraint
  packages/js/number/package.json
  packages/js/onboarding/changelog/dev-bump-pnpm-version-restraint
  packages/js/onboarding/package.json
  packages/js/tracks/changelog/dev-bump-pnpm-version-restraint
  packages/js/tracks/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/changelog/dev-bump-pnpm-version-restraint
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/dev-bump-pnpm-version-restraint
  plugins/woocommerce/package.json
  tools/cli-core/package.json
  tools/code-analyzer/package.json
  tools/create-extension/package.json
  tools/monorepo-merge/package.json
  tools/package-release/package.json
  tools/release-posts/package.json
  tools/storybook/package.json
  tools/version-bump/package.json
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, package: @woocommerce/api-core-tests, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#34533 [COT] `query()` method: add support for field queries
  plugins/woocommerce/changelog/cot-field_query
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableFieldQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#35025 [7.0] Fix mobile messaging
  plugins/woocommerce/changelog/patch-fix-mobile-messaging
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
Labels: plugin: woocommerce

#34998 api-core-tests product properties tests
  plugins/woocommerce/changelog/add-api-core-tests-product-properties-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
Labels: release: highlight, plugin: woocommerce

#34952 Serialize value before sending to meta display form.
  plugins/woocommerce/changelog/fix-meta_render_array
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/CustomMetaBox.php
Labels: plugin: woocommerce, focus: react admin

#34937 Add new shipping class modal to a shipping class section in product page
  packages/js/components/changelog/add-34657-add-new-shipping-class
  packages/js/components/src/form/form.tsx
  packages/js/data/changelog/add-34657-add-new-shipping-class
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.scss
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/index.ts
  plugins/woocommerce/changelog/add-34657-add-new-shipping-class
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data, focus: product management MVP, section: PM shipping, focus: Product Management MVP 1.0

#35038 Prep trunk post 7.0 release
  changelog.txt
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#34976 Support fetching order types in bulk.
  plugins/woocommerce/changelog/fix-bulk_order_type
  plugins/woocommerce/includes/class-wc-data-store.php
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
Labels: plugin: woocommerce

#34980 Fix DateTimePickerControl initial setting of input field
  packages/js/components/changelog/fix-date-time-picker-control-initial-setting
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: type: bug, release: highlight, package: @woocommerce/components, focus: components, focus: product management components, focus: Product Management MVP 1.0

#34963 Make DateTimePickerControl debounce handling more robust
  packages/js/components/changelog/fix-date-time-picker-control-debounce
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: type: bug, package: @woocommerce/components, focus: components, focus: product management components, focus: Product Management MVP 1.0

#35011 Update New Zealand subdivisions in states.php
  plugins/woocommerce/changelog/peterbialkowski-trunk
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce

#35031 Change copy of the payments welcome modal
  plugins/woocommerce-admin/client/payments-welcome/strings.tsx
  plugins/woocommerce/changelog/tweak-wcpay-4827-change-copy-of-the-payments-welcome-modal
Labels: plugin: woocommerce, focus: react admin

#34879 Add handling for plugin-feature incompatibilities
  plugins/woocommerce/changelog/add-feature-incompatible-plugins-management
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/FeaturesServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/src/Utilities/PluginUtil.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/PluginUtilTests.php
Labels: plugin: woocommerce

#34875 [HPOS/COT] Ensure date_creation_gmt is correctly populated with a GMT datetime
  plugins/woocommerce/changelog/fix-34874-cot-order-creation-gmt
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34769 Images Product management MVP 1.0
  packages/js/components/changelog/add-39_image_section_details
  packages/js/components/src/image-gallery/image-gallery-item.scss
  packages/js/components/src/image-gallery/image-gallery-item.tsx
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
  packages/js/components/src/image-gallery/image-gallery.tsx
  packages/js/components/src/index.ts
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/components/src/media-uploader/style.scss
  packages/js/components/src/sortable/sortable-handle.tsx
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/images/drag-and-drop.svg
  plugins/woocommerce-admin/client/products/sections/images-section.scss
  plugins/woocommerce-admin/client/products/sections/images-section.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/add-39_image_section_details
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#34978 Add product management SKU
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section.tsx
  plugins/woocommerce/changelog/add-34386
Labels: plugin: woocommerce, focus: react admin, section: PM inventory, focus: Product Management MVP 1.0

#34865 Add RichTextEditor component using native block editor toolbar
  packages/js/components/changelog/add-gb-text-editor
  packages/js/components/package.json
  packages/js/components/src/index.ts
  packages/js/components/src/rich-text-editor/editor-writing-flow.tsx
  packages/js/components/src/rich-text-editor/index.ts
  packages/js/components/src/rich-text-editor/rich-text-editor.tsx
  packages/js/components/src/rich-text-editor/stories/index.tsx
  packages/js/components/src/rich-text-editor/style.scss
  packages/js/components/src/rich-text-editor/utils/register-blocks.ts
  packages/js/components/src/style.scss
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#34984 Add product page inventory quantity management
  packages/js/data/changelog/add-34387
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/index.ts
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/manage-stock-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/utils.ts
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.scss
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce/changelog/add-34387
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data, focus: Product Management MVP 1.0

#35052 Fix: mismatching jetpack user should not see mobile app task list item
  plugins/woocommerce/changelog/fix-mismatching-user-mobile-app
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/GetMobileApp.php
Labels: plugin: woocommerce, focus: react admin

#35030 Update WCPay promo requirements and ensure dismiss
  plugins/woocommerce-admin/client/payments-welcome/exit-survey-modal.tsx
  plugins/woocommerce/changelog/fix-4834-update-wcpay-promo-req-and-ensure-dismiss
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce, focus: react admin

#35067 Fix admin settings checkbox disabled
  plugins/woocommerce/changelog/fix-admin-settings-checkbox-disabled
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
Labels: plugin: woocommerce

#35068 fix: handle error loading and error states for magic link button
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/JetpackInstallationStepper.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/SendMagicLinkButton.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useSendMagicLink.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/JetpackAlreadyInstalledPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/JetpackInstallStepperPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/style.scss
  plugins/woocommerce/changelog/fix-magic-link-error-loading-statuses
Labels: plugin: woocommerce, focus: react admin

#34805 Implement missing refund tax methods for HPOS
  plugins/woocommerce/changelog/implement-order_table_tax_methods
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35063 Some improvements to plugin feature incompatibility UI
  plugins/woocommerce/changelog/features-ui-plugins-warning
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#35040 Update WooCommerce Blocks package to 8.7.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35003 Only show five inbox messages and add "Show more" button
  plugins/woocommerce-admin/client/inbox-panel/index.js
  plugins/woocommerce-admin/client/inbox-panel/index.scss
  plugins/woocommerce-admin/client/inbox-panel/test/index.js
  plugins/woocommerce/changelog/update-34927-inbox-expansion
Labels: plugin: woocommerce, focus: react admin, focus: inbox

#34465 Also read from posts when reading from COT to check for direct write
  plugins/woocommerce/changelog/fix-33158
  plugins/woocommerce/changelog/fix-remote-inbox-total-payments-value-doc
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/src/Admin/Marketing/InstalledExtensions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableRefundDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Utilities/ArrayUtil.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableRefundDataStoreTests.php
Labels: plugin: woocommerce, focus: react admin

#35033 Set correct timezone when backfilling data.
  plugins/woocommerce/changelog/fix-backfill-timezone
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35060 Improve the "Dismiss" button visibility
  packages/js/experimental/changelog/dev-34928_improve_dismiss_button_visibility
  packages/js/experimental/src/inbox-note/style.scss
Labels: package: @woocommerce/experimental

#35072 Fix missing changelog.
  plugins/woocommerce/changelog/fix-remote-inbox-total-payments-value-doc
Labels: plugin: woocommerce

#35069 Add order origin tracking.
  plugins/woocommerce/changelog/add-order-origin-tracking
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#34282 Make qty input box visible when min_qty = max_qty
  plugins/woocommerce/changelog/fix-GH-34280
  plugins/woocommerce/templates/cart/cart.php
  plugins/woocommerce/templates/global/quantity-input.php
Labels: needs: triage feedback, plugin: woocommerce, type: community contribution

#35078 Dev/update code freeze workflow
  .github/workflows/release-changelog.yml
  .github/workflows/release-code-freeze.yml
Labels: release: highlight

#35064 Replace outdated readme examples of using pnpm
  DEVELOPMENT.md
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/dev-audit-readmes
  tools/code-analyzer/src/lib/scan-changes.ts
Labels: plugin: woocommerce

#34400 Add category field dropdown field
  packages/js/components/changelog/add-34_category_field
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/menu-item.tsx
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/select-control.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/types.ts
  packages/js/components/src/index.ts
  packages/js/data/changelog/add-34_category_field
  packages/js/data/src/index.ts
  packages/js/data/src/product-categories/types.ts
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/fields/category-field/category-field-item.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.scss
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/index.ts
  plugins/woocommerce-admin/client/products/fields/category-field/test/category-field.test.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/test/use-category-search.test.ts
  plugins/woocommerce-admin/client/products/fields/category-field/use-category-search.ts
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce/changelog/add-34_category_field
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data, focus: product management MVP

#35103 Prepare for WooCommerce 7.1-beta.1
  plugins/woocommerce/woocommerce.php
Labels: release: highlight, plugin: woocommerce

#35045 Fix JS errors when the OBW business step is accessed directly via URL
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce/changelog/fix-34974-obw-steps-break-via-url
Labels: plugin: woocommerce, focus: react admin

#35077 Handle ambiguous dates (with no offset) in DateTimePickerControl
  packages/js/components/changelog/fix-date-time-picker-control-ambiguous-date
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35056 Remove latest stable version from README
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/update-readme-stable
Labels: plugin: woocommerce

#35066 Add date-only mode to DateTimePickerControl
  packages/js/components/changelog/add-date-time-picker-control-date-only-mode
  packages/js/components/src/date-time-picker-control/date-time-picker-control.scss
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35001 Prepare api-core-tests for release
  packages/js/api-core-tests/CHANGELOG.md
  packages/js/api-core-tests/package.json
Labels: package: @woocommerce/api-core-tests

#35096 Remove non-gmt scheduled sale properties from Product type
  packages/js/data/changelog/update-data-products-exclude-non-gmt-scheduled-sale
  packages/js/data/src/products/types.ts
Labels: package: @woocommerce/data, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35101 Update WooCommerce Blocks package to 8.7.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: release: add testing instructions, plugin: woocommerce

#34961 Add product management description
  packages/js/components/changelog/add-product-management-description
  packages/js/components/src/rich-text-editor/rich-text-editor.tsx
  packages/js/components/src/rich-text-editor/style.scss
  packages/js/data/changelog/add-product-management-description
  packages/js/data/src/products/resolvers.ts
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-details-section.spec.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/add-product-management-description
  plugins/woocommerce/src/Admin/Features/NewProductManagementExperience.php
  pnpm-lock.yaml
Labels: release: highlight, plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data, focus: Product Management MVP 1.0

#35123 Select the current new added shipping class
  plugins/woocommerce-admin/client/products/constants.js
  plugins/woocommerce-admin/client/products/constants.ts
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-shipping-section.spec.tsx
  plugins/woocommerce/changelog/add-35036-select-created-class
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP

#35133 Replace the trash can icon in the attribute list
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce/changelog/enhancement-35092-replace-trash-icon
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP

#34967 Add popover support to select control dropdown
  packages/js/components/changelog/add-34331_popover_to_select_control_dropdown
  packages/js/components/src/experimental-select-control/menu.scss
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/index.ts
Labels: package: @woocommerce/components, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35163 api-core-tests add product reviews crud tests
  plugins/woocommerce/changelog/add-api-core-tests-product-reviews-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
Labels: release: highlight, plugin: woocommerce

#35024 Add Tooltip component and remove EnrichedLabel
  packages/js/components/changelog/add-34997
  packages/js/components/src/enriched-label/README.md
  packages/js/components/src/enriched-label/enriched-label.tsx
  packages/js/components/src/enriched-label/index.js
  packages/js/components/src/enriched-label/stories/index.js
  packages/js/components/src/enriched-label/stories/style.scss
  packages/js/components/src/enriched-label/style.scss
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  packages/js/components/src/tooltip/index.ts
  packages/js/components/src/tooltip/stories/index.tsx
  packages/js/components/src/tooltip/style.scss
  packages/js/components/src/tooltip/tooltip.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce/changelog/add-34997
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#34597 Update PR template to provide guidance for testing
  .github/PULL_REQUEST_TEMPLATE.md
  plugins/woocommerce/changelog/patch-improve-pr-template-for-testing-instructions
Labels: release: highlight, plugin: woocommerce

#35121 Update biling and shipping address indexes.
  plugins/woocommerce/changelog/fix-34989
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#34999 Add/34331 add attributes modal
  packages/js/components/changelog/add-34331_add_attributes_modal
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/data/changelog/add-34331_add_attributes_modal
  packages/js/data/src/crud/resolvers.ts
  packages/js/data/src/index.ts
  packages/js/data/src/product-attribute-terms/types.ts
  packages/js/data/src/product-attributes/types.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/add-attribute-modal.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/attribute-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/test/attribute-input-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/attribute-term-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-term-input-field/test/attribute-term-input-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/category-field/category-field.scss
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce/changelog/add-34331_add_attributes_modal
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#35176 Use correct datastore when backfilling orders.
  plugins/woocommerce/changelog/fix-refunds_backfill
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableRefundDataStoreTests.php
Labels: plugin: woocommerce

#35207 Check before getting order classname to see if it exists.
  plugins/woocommerce/changelog/fix-warning_order
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35198 Improve the warnings about incompatibilites between plugins and features
  plugins/woocommerce/changelog/improve-plugin-feature-compatibility-warnings
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: release: highlight, plugin: woocommerce

#35087 Add untrash order hook (COT/HPOS).
  plugins/woocommerce/changelog/fix-35018-untrash-order-hook
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#35219 Update WooCommerce Blocks package to 8.7.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35214 Move product action buttons to header menu
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/utils/test/url-helpers.spec.ts
  plugins/woocommerce-admin/client/utils/url-helpers.ts
  plugins/woocommerce/changelog/add-35139-header-action-button
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP, focus: Product Management MVP 1.0

#35047 Add manual stock management section to product management experience
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/manual-stock-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce/changelog/add-34388
Labels: release: highlight, plugin: woocommerce, focus: react admin

#30884 Fix 'Invalid payment method' error upon double click 'Delete' #30862
  plugins/woocommerce/changelog/fix-invalid-payment-error-upon-double-click-delete
  plugins/woocommerce/client/legacy/js/frontend/add-payment-method.js
Labels: type: enhancement, plugin: woocommerce, type: community contribution

#35125 [COT/HPOS] Fix trashing/untrashing of orders
  plugins/woocommerce/changelog/fix-35089
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#35233 Prep/7.1 cherry pick 35219
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: release: highlight, plugin: woocommerce

#35034 Enhance getInputProps to allow passing of non-overridden props
  packages/js/components/changelog/update-34996
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/data/changelog/update-34996
  packages/js/data/src/products/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.scss
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/manage-stock-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  plugins/woocommerce/changelog/update-34996
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#35114 Migrate Daily smoke tests to Playwright
  .github/workflows/scripts/prepare-test-summary-daily.js
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/e2e-daily-tests-playwright
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/global-setup.js
  plugins/woocommerce/tests/e2e-pw/global-teardown.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/upload-plugin.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
  pnpm-lock.yaml
Labels: release: highlight, plugin: woocommerce

#35254 add api-core-tests for system status
  plugins/woocommerce/changelog/add-api-core-tests-system-status-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/system-status/system-status-crud.test.js
Labels: plugin: woocommerce

#35257 Update WooCommerce Blocks package to 8.7.4
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35263 Prep/release 7.1 beta.2
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: release: highlight, plugin: woocommerce

#35106 Playwright 1.27.1
  plugins/woocommerce/changelog/playwright-1_27_1
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#35160 Show a dismissible snackbar if the server responds an error
  plugins/woocommerce-admin/client/layout/transient-notices/style.scss
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-shipping-section.spec.tsx
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  plugins/woocommerce/changelog/add-35037-error-handling
Labels: focus: product, plugin: woocommerce, focus: react admin, focus: product management MVP, section: PM shipping, focus: Product Management MVP 1.0

#35241 Add an additional task: "Tour the WooCommerce Marketplace".
  plugins/woocommerce/changelog/add-in-app-tour-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/TourInAppMarketplace.php
Labels: release: highlight, plugin: woocommerce, focus: react admin

#35279 add payment gateway api-core-tests
  plugins/woocommerce/changelog/add-api-core-tests-payment-gateways-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/payment-gateways/payment-gateways-crud.test.js
Labels: plugin: woocommerce

#35059 Disable product inventory toggle when inventory management is disabled
  packages/js/components/changelog/add-35046
  packages/js/components/src/conditional-wrapper/conditional-wrapper.tsx
  packages/js/components/src/conditional-wrapper/index.ts
  packages/js/components/src/image-gallery/image-gallery-item.tsx
  packages/js/components/src/index.ts
  packages/js/components/src/util/conditional-wrapper/index.ts
  plugins/woocommerce-admin/client/products/layout/product-section-layout.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce/changelog/add-35046
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, type: community contribution

#35282 Update permalink structure using Playwright global setup
  plugins/woocommerce/changelog/add-setup-permalinks
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce

#35206 Set paths for `allure-results`, `test-results.json`, and save state files to be inside their respective E2E or API folders
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/e2e-use-e2e-pw-folder-for-outputs
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/storage/adminState.json
  plugins/woocommerce/tests/e2e-pw/storage/customerState.json
Labels: focus: custom order tables, plugin: woocommerce, focus: smoke tests

#35111 Fix: Typo Mistake
  plugins/woocommerce/changelog/typo
  plugins/woocommerce/includes/cli/class-wc-cli-rest-command.php
  plugins/woocommerce/src/Packages.php
Labels: plugin: woocommerce, type: community contribution

#35283 Add an NPM script to run the Playwright API Core Tests
  plugins/woocommerce/changelog/add-api-pw-npm-script
  plugins/woocommerce/package.json
Labels: plugin: woocommerce

#35268 Add/wc addons tour base
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/index.tsx
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/use-track-publish-button.ts
  plugins/woocommerce-admin/client/guided-tours/utils.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-config.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/wc-addons-tour/index.tsx
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-wc-addons-tour-base
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
  plugins/woocommerce/includes/admin/views/html-admin-page-addons.php
Labels: plugin: woocommerce, focus: react admin

#35267 Remove some placeholder values
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce/changelog/enhancement-35174-remove-placeholders
Labels: type: enhancement, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35292 add webhooks api-core-tests
  plugins/woocommerce/changelog/add-api-core-tests-webhooks-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/webhooks/webhooks-crud.test.js
Labels: plugin: woocommerce

#35303 Update Playwright API Core Tests readme
  plugins/woocommerce/changelog/update-pw-api-tests-readme
  plugins/woocommerce/tests/api-core-tests/README.md
Labels: plugin: woocommerce

#35199 Update states.php -> added Senegal Regions
  plugins/woocommerce/changelog/fix-29844-replay
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce

#35256 Fix DateTimePickerControl suffix style
  packages/js/components/changelog/fix-date-time-picker-control-suffix-style
  packages/js/components/src/date-time-picker-control/date-time-picker-control.scss
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35057 Enable HPOS in the e2e environment using env var
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
Labels: release: highlight, plugin: woocommerce

#35266 Improve the communication around required and optional
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-details-section.spec.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-shipping-section.spec.tsx
  plugins/woocommerce-admin/client/products/shared/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  plugins/woocommerce/changelog/enhancement-35191-improve-req-opt-labels
Labels: type: enhancement, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35255 Change the product info section title to Product Details
  plugins/woocommerce-admin/client/products/sections/product-details-section.tsx
  plugins/woocommerce/changelog/enhancement-35171-product-title
Labels: plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35285 Support PHP style date format specifiers in DateTimePickerControl
  packages/js/components/changelog/update-date-time-picker-control-formatting
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35259 Increase the spacing between the shipping box illustration and the dimensions fields
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.scss
  plugins/woocommerce/changelog/enhancement-35189-increase-gap
Labels: type: enhancement, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35258 Fix the display of letter descenders in the shipping class dropdown menu
  plugins/woocommerce-admin/client/stylesheets/shared/_global.scss
  plugins/woocommerce/changelog/enhancement-35188-fix-display-letters
Labels: type: enhancement, plugin: woocommerce, focus: react admin, focus: product management, focus: product management MVP

#35244 Uniform order customer search and display code
  plugins/woocommerce/changelog/uniform-user-customer-search-and-display
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: plugin: woocommerce, type: community contribution

#34327 Fixed "Unsupported operand types" error.
  plugins/woocommerce/changelog/fix-34224
  plugins/woocommerce/includes/class-wc-cart.php
Labels: plugin: woocommerce, type: community contribution

#34292 Cat dashboard loading time
  plugins/woocommerce/changelog/improve-cat-dashboard-loading-time
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard-setup.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: plugin: woocommerce, type: community contribution

#35295 Set In-App Marketplace Tour as completed on close
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/index.tsx
  plugins/woocommerce/changelog/add-in-app-tour-make-it-dismissible
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/TourInAppMarketplace.php
Labels: plugin: woocommerce, focus: react admin

#35253 Add/a2 p create settings crud api core tests
  plugins/woocommerce/changelog/add-api-core-tests-settings-crud-tests
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
Labels: plugin: woocommerce

#35334 Fix line endings in change file from 34292
  plugins/woocommerce/changelog/improve-cat-dashboard-loading-time
Labels: plugin: woocommerce

#34990 Updated COT plugin used to set up the local environment with COT enabled.
  .github/workflows/cot-build-and-e2e-tests-daily.yml
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/fix-cot-env-setup
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
Labels: plugin: woocommerce

#35338 Skip flakey settings API test.
  plugins/woocommerce/changelog/fix-skip-failing-api-test
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
Labels: plugin: woocommerce

#35337 Revert setting up permalinks in PW global setup
  plugins/woocommerce/changelog/revert-setup-permalinks
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce

#33833 Update `@woocommerce/extend-checkout-block` to include an example of a forced inner block
  packages/js/extend-cart-checkout-block/$slug-blocks-integration.php.mustache
  packages/js/extend-cart-checkout-block/$slug.php.mustache
  packages/js/extend-cart-checkout-block/changelog/add-inner-block-example
  packages/js/extend-cart-checkout-block/src/index.js.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/block.js.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/block.json.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/edit.js.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/frontend.js.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/index.js.mustache
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/style.scss.mustache
  packages/js/extend-cart-checkout-block/src/js/index.js.mustache
  packages/js/extend-cart-checkout-block/webpack.config.js.mustache
Labels: status: blocked, package: @woocommerce/extend-cart-checkout-block

#35353 Add name to select control popover slots
  packages/js/components/changelog/fix-select-control-popover-slots
  packages/js/components/src/experimental-select-control/menu.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce/changelog/fix-select-control-popover-slots
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35192 Remove address indexes from list of internal keys.
  plugins/woocommerce/changelog/fix-duplicate_meta
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35048 Migrate @woocommerce/data report store to TS
  packages/js/data/changelog/dev-migrate-reports-to-ts
  packages/js/data/src/reports/action-types.ts
  packages/js/data/src/reports/actions.js
  packages/js/data/src/reports/actions.ts
  packages/js/data/src/reports/constants.ts
  packages/js/data/src/reports/index.js
  packages/js/data/src/reports/index.ts
  packages/js/data/src/reports/reducer.js
  packages/js/data/src/reports/reducer.ts
  packages/js/data/src/reports/resolvers.js
  packages/js/data/src/reports/resolvers.ts
  packages/js/data/src/reports/selectors.js
  packages/js/data/src/reports/selectors.ts
  packages/js/data/src/reports/test/reducer.ts
  packages/js/data/src/reports/types.ts
  packages/js/data/src/reports/utils.ts
Labels: package: @woocommerce/data

#35352 In-App Marketplace Tour - add custom popper modifier
  plugins/woocommerce-admin/client/guided-tours/utils.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-config.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/index.tsx
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/utils.ts
  plugins/woocommerce/changelog/fix-tour-scroll-and-arrows
Labels: plugin: woocommerce, focus: react admin

#35384 In-App Marketplace Tour - split step 2 into two steps
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-config.ts
Labels: focus: react admin

#35330 In-App Marketplace Tour - track events
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-config.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-steps.ts
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/index.tsx
  plugins/woocommerce-admin/client/tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list-item.test.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list.test.tsx
  plugins/woocommerce-admin/client/tasks/test/task.test.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/add-in-app-tour-track-events
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Task.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/TourInAppMarketplace.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#35296 DateTimePickerControl: Allow time to be set to beginning or end of day when in date-only mode
  packages/js/components/changelog/update-date-time-picker-control-force-time-to
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/stories/index.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35366 [HPOS] Allow line breaks in order notes (admin-side)
  plugins/woocommerce/changelog/fix-35112
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: focus: custom order tables, plugin: woocommerce

#35371 Guard against cases where `get_current_screen()` is undefined.
  plugins/woocommerce/changelog/fix-35346-features-controller
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#35154 Add product description title in old product editor
  plugins/woocommerce/changelog/update-33538_update_long_description_copy_and_layout
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/product-editor.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#35212 Update shipping label banner add meta boxes function
  plugins/woocommerce/changelog/fix-35211_shipping_label_banner_add_meta_boxes_function
  plugins/woocommerce/src/Internal/Admin/ShippingLabelBanner.php
Labels: plugin: woocommerce, focus: react admin

#35387 Show In-App Marketplace Tour on desktop only
  plugins/woocommerce/changelog/update-show-wc-addons-tour-on-desktop-only
  plugins/woocommerce/includes/admin/class-wc-admin-pointers.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#35349 Check order type is set before returning to prevent notice.
  plugins/woocommerce/changelog/fix-order_type
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35333 Exclude inactive plugins from the incompatible plugins view
  plugins/woocommerce/changelog/remove_compatibility_warnings_for_inactive_plugins
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#35424 Update WooCommerce blocks package to 8.7.5
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.5
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: release: highlight, plugin: woocommerce

#35407 PHPCS: Lint only changes
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/pr-code-sniff.yml
  plugins/woocommerce/changelog/try-add-phpcs-changed
  plugins/woocommerce/includes/admin/class-wc-admin-exporters.php
Labels: plugin: woocommerce

#35347 add/a2p data api-core-tests
  plugins/woocommerce/changelog/add-api-core-tests-data-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#35388 add/a2p reports api-core-tests
  plugins/woocommerce/changelog/add-api-core-tests-reports-crud-tests
  plugins/woocommerce/tests/api-core-tests/tests/payment-gateways/payment-gateways-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/reports/reports-crud.test.js
Labels: plugin: woocommerce

#35394 Fix/form ts error
  packages/js/components/changelog/fix-form_ts_error
  packages/js/components/src/form/form-context.ts
Labels: package: @woocommerce/components

#35402 Ensure the HPOS/COT order status correctly tracks the CPT order status
  plugins/woocommerce/changelog/fix-35360-sync-on-manual-order-creation
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce
