Repository woocommerce/woocommerce, pull requests merged in 2022-12, with the labels that each got.

#35780 fix: woocommerce admin cart modal header clips header text
  plugins/woocommerce-admin/client/dashboard/style.scss
  plugins/woocommerce/changelog/fix-woocommerce-cart-modal-margin
Labels: plugin: woocommerce, focus: react admin

#35767 Always output the min and max attributes for the quantity selector.
  plugins/woocommerce/changelog/fix-34282-min-max-attrs
  plugins/woocommerce/templates/global/quantity-input.php
Labels: plugin: woocommerce

#34432 Fix product attributes lookup data and filter by attribute widget with non-ASCII named attributes
  plugins/woocommerce/changelog/fix-product-attributes-lookup-with-non-ascii-attributes
  plugins/woocommerce/src/Internal/ProductAttributesLookup/Filterer.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/LookupDataStore.php
Labels: plugin: woocommerce

#35652 Add/35129 product mvp ces
  packages/js/customer-effort-score/changelog/add-35129_product_mvp_ces
  packages/js/customer-effort-score/src/customer-feedback-modal/index.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/test/index.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/constants.ts
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.scss
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/use-product-mvp-ces-footer.ts
  plugins/woocommerce-admin/client/customer-effort-score-tracks/utils.ts
  plugins/woocommerce-admin/client/layout/footer/footer.scss
  plugins/woocommerce-admin/client/layout/footer/footer.tsx
  plugins/woocommerce-admin/client/layout/footer/index.ts
  plugins/woocommerce-admin/client/layout/footer/utils.tsx
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-footer.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce/changelog/add-35129_product_mvp_ces
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/customer-effort-score

#35690 Add/35300 ces feedback product mvp
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-modal-container.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/action-types.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/actions.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/selectors.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/index.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.tsx
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce/changelog/add-35300_ces_feedback_product_mvp
Labels: plugin: woocommerce, focus: react admin, focus: customer effort score

#35809 Add __experimentalSelectControl suffix prop
  packages/js/components/changelog/add-select-control-suffix
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/select-control.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/experimental-select-control/suffix-icon.scss
  packages/js/components/src/experimental-select-control/suffix-icon.tsx
  packages/js/components/src/experimental-select-control/test/index.tsx
Labels: package: @woocommerce/components, focus: components, focus: product management MVP, focus: product management components, focus: Product Management MVP 1.0

#35818 Fix REST API orders query when HPOS is used
  plugins/woocommerce/changelog/fix-get-orders-rest-api-endpoint-with-hpos
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: focus: custom order tables, plugin: woocommerce

#35804 Update WooCommerce blocks package to 8.7.6
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.7.6
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: release: highlight, plugin: woocommerce

#35841 Prep 7.1 release branch for 7.1.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: release: highlight, plugin: woocommerce

#35724 Migrate `@woocommerce/components/search` to TS
  packages/js/components/changelog/dev-migrate-search-component-to-ts
  packages/js/components/package.json
  packages/js/components/src/search/autocompleters/attributes.js
  packages/js/components/src/search/autocompleters/attributes.tsx
  packages/js/components/src/search/autocompleters/categories.js
  packages/js/components/src/search/autocompleters/categories.tsx
  packages/js/components/src/search/autocompleters/countries.js
  packages/js/components/src/search/autocompleters/countries.tsx
  packages/js/components/src/search/autocompleters/coupons.js
  packages/js/components/src/search/autocompleters/coupons.tsx
  packages/js/components/src/search/autocompleters/customers.js
  packages/js/components/src/search/autocompleters/customers.tsx
  packages/js/components/src/search/autocompleters/download-ips.js
  packages/js/components/src/search/autocompleters/download-ips.tsx
  packages/js/components/src/search/autocompleters/emails.js
  packages/js/components/src/search/autocompleters/emails.tsx
  packages/js/components/src/search/autocompleters/index.ts
  packages/js/components/src/search/autocompleters/orders.js
  packages/js/components/src/search/autocompleters/orders.tsx
  packages/js/components/src/search/autocompleters/product.js
  packages/js/components/src/search/autocompleters/product.tsx
  packages/js/components/src/search/autocompleters/taxes.js
  packages/js/components/src/search/autocompleters/taxes.tsx
  packages/js/components/src/search/autocompleters/types.ts
  packages/js/components/src/search/autocompleters/usernames.js
  packages/js/components/src/search/autocompleters/usernames.tsx
  packages/js/components/src/search/autocompleters/utils.ts
  packages/js/components/src/search/autocompleters/variable-product.js
  packages/js/components/src/search/autocompleters/variable-product.tsx
  packages/js/components/src/search/autocompleters/variations.js
  packages/js/components/src/search/autocompleters/variations.tsx
  packages/js/components/src/search/index.tsx
  packages/js/components/typings/global.d.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#35742 Don't run WooCommerce specific code if WooCommerce is not installed
  plugins/woocommerce-beta-tester/api/tracks/class-tracks-debug-log.php
  plugins/woocommerce-beta-tester/changelog/dev-check-logger-exists
Labels: plugin: woocommerce beta tester

#35838 Add product variations data store
  packages/js/data/changelog/add-35771
  packages/js/data/src/index.ts
  packages/js/data/src/product-variations/constants.ts
  packages/js/data/src/product-variations/index.ts
  packages/js/data/src/product-variations/types.ts
Labels: package: @woocommerce/data

#35866 Fix installation error in Onboarding Wizard when plugin generates unexpected output
  plugins/woocommerce/changelog/fix-activate-plugin
  plugins/woocommerce/src/Admin/PluginsHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/plugins-helper.php
Labels: priority: critical, plugin: woocommerce, focus: react admin

#35805 Update WooCommerce blocks package to 8.9.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.9.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35839 Add async filtering support to the select-control component
  packages/js/components/changelog/add-35076
  packages/js/components/package.json
  packages/js/components/src/experimental-select-control/hooks/use-async-filter.tsx
  packages/js/components/src/experimental-select-control/index.ts
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/stories/index.tsx
  packages/js/components/src/experimental-select-control/suffix-icon.scss
  packages/js/components/src/experimental-select-control/test/use-async-filter.spec.ts
  packages/js/components/src/index.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/components, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#35820 [HPOS] Avoid error noise during plugin activation
  plugins/woocommerce/changelog/fix-35773-order-counts
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
Labels: plugin: woocommerce

#35893 Bump the WC Core plugin version for RC 2
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35883 Update stable tag and readme for 7.1.1
  changelog.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#35357 Make HPOS feature and "Delete custom order tables" tool work nicely together
  plugins/woocommerce/changelog/create_cot_tables_on_feature_enable
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
Labels: plugin: woocommerce

#31886 Fix payment instruction location in on-hold email (#31880)
  plugins/woocommerce/changelog/fix-email-payment-instructions
  plugins/woocommerce/templates/emails/customer-on-hold-order.php
  plugins/woocommerce/templates/emails/plain/customer-on-hold-order.php
Labels: plugin: woocommerce, type: community contribution

#35669 Add a states migrator helper method and migrate states for New Zealand and Ukraine
  plugins/woocommerce/changelog/fix-35535
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
Labels: plugin: woocommerce

#35829 Make set_order_props_from_data() protected rather than private
  plugins/woocommerce/changelog/fix-wcs-core-issue-268
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#35468 Split CALC_FOUND_ROW query into seperate count query for better performance
  plugins/woocommerce/changelog/fix-35464
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#35930 Fix react chunk build warnings
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce/changelog/fix-chunk_build_warnings
Labels: plugin: woocommerce, focus: react admin

#35728 CES exit prompt for product editing screens
  packages/js/customer-effort-score/changelog/add-35126_ces_exit_prompt
  packages/js/customer-effort-score/src/customer-effort-score.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/index.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-exit-page.ts
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-modal-container.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks-container.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/actions.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/test/customer-effort-score-exit-page.test.ts
  plugins/woocommerce-admin/client/customer-effort-score-tracks/use-customer-effort-score-exit-page-tracker.ts
  plugins/woocommerce-admin/client/embedded-body-layout/embedded-body-layout.tsx
  plugins/woocommerce-admin/client/embedded-body-layout/test/embedded-body-layout.test.tsx
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/product-edit.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/product-new.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/add-35126_ces_exit_prompt
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/customer-effort-score

#35925 Allow use of pathspecs to limit the scope of generating a diff in Code Analyzer
  tools/cli-core/src/git.ts
  tools/code-analyzer/src/lib/scan-changes.ts
  tools/code-analyzer/src/lib/template-changes.ts
Labels: tool: monorepo infrastructure

#35912 Move CSS about notice outside of .woocommerce class scope
  plugins/woocommerce/changelog/fix-notice-css-mini-cart
  plugins/woocommerce/client/legacy/css/twenty-nineteen.scss
  plugins/woocommerce/client/legacy/css/twenty-seventeen.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
Labels: plugin: woocommerce

#35880 Product import: Remove line breaks in keys
  plugins/woocommerce/changelog/fix-csv-import-header-handling
  plugins/woocommerce/includes/import/class-wc-product-csv-importer.php
Labels: plugin: woocommerce, type: community contribution

#35942 Fix RegExp used to filter the country list dropdown on the store details step
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce/changelog/fix-regex-used-to-filter-country-dropdown
Labels: plugin: woocommerce, focus: react admin

#35370 [HPOS] Improve handling of "visible" statuses in orders list
  plugins/woocommerce/changelog/fix-35362
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: focus: custom order tables, plugin: woocommerce, focus: react admin

#35862 Add product tabs to product layout
  packages/js/internal-style-build/abstracts/_variables.scss
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce-admin/client/products/product-form-tab.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/add-35706
Labels: plugin: woocommerce, focus: react admin

#35959 Revert "Cherry pick 35669 into release/7.2"
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
Labels: plugin: woocommerce

#35889 Add product variations list to new product management experience
  packages/js/data/changelog/add-35772
  packages/js/data/src/product-variations/types.ts
  plugins/woocommerce-admin/client/products/fields/variations/index.ts
  plugins/woocommerce-admin/client/products/fields/variations/variations.scss
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/sections/product-variations-section.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-status.ts
  plugins/woocommerce-admin/client/products/utils/get-product-stock-status.ts
  plugins/woocommerce/changelog/add-35772
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#35961 Revert "Add missing Ukrainian Subdivisions to States.php (#35493)"
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#35960 Revert "Delete changelog files based on PR 35669"
  plugins/woocommerce/changelog/fix-35535
Labels: plugin: woocommerce

#35926 Fix wrong query param in onboarding product api call
  plugins/woocommerce/changelog/fix-onboarding-api-qurey
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProducts.php
Labels: plugin: woocommerce, focus: react admin

#35949 Fix ellipsis dropdown is hidden in task list
  plugins/woocommerce-admin/client/tasks/task-list.scss
  plugins/woocommerce/changelog/fix-35505-ellipsis-dropdown-is-hidden
Labels: plugin: woocommerce, focus: react admin

#35924 Disable TikTok in OBW
  plugins/woocommerce/changelog/update-disable-tiktok-in-obw
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#35929 Update In-App Marketplace tour wording
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/get-steps.ts
  plugins/woocommerce/changelog/update-in-app-marketplace-tour
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/TourInAppMarketplace.php
Labels: plugin: woocommerce, focus: react admin

#35761 Add/35126 ces exit prompt settings
  packages/js/customer-effort-score/changelog/add-35126_ces_exit_prompt_settings
  packages/js/customer-effort-score/src/customer-effort-score.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-exit-page.ts
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks-container.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-tracks.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/actions.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/utils/static-form-helper.ts
  plugins/woocommerce-admin/client/utils/test/static-form-helper.spec.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/settings-tracking/exit-setting-page.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/settings-tracking/index.ts
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-35126_ces_exit_prompt_settings
  plugins/woocommerce/includes/tracks/events/class-wc-settings-tracking.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/customer-effort-score

#35658 Allow HPOS screens to work for custom order types
  plugins/woocommerce/changelog/issue-35601
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/includes/react-admin/connect-existing-pages.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/Admin/Orders/PostsRedirectionController.php
Labels: plugin: woocommerce, focus: react admin

#35976 Fix product tab to be shown on production build
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce/changelog/fix-35706
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components, focus: Product Management MVP 1.0

#35966 Fix a bug where changes were added to the change map via callback
  tools/code-analyzer/src/lib/hook-changes.ts
  tools/code-analyzer/src/lib/scan-changes.ts
Labels: tool: monorepo infrastructure

#35985 Bump "tested up to" field (WP is now at 6.1.1).
  plugins/woocommerce/changelog/spotfix-tested-up-to-61
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#35967 Include taxes migration in the states migrator helper method
  plugins/woocommerce/changelog/fix-include-taxes-in-states-migrator
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
Labels: plugin: woocommerce

#35723 HPOS sync/deleted twins
  plugins/woocommerce/changelog/fix-35590-deleted-twins
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce

#36004 Update WooCommerce Blocks to 9.1.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.1.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#35946 Fix wcpay benefits UI padding
  packages/js/onboarding/changelog/fix-35704-wcpay-benefit-padding
  packages/js/onboarding/src/components/WCPayBenefits/WCPayBenefits.tsx
Labels: package: @woocommerce/onboarding

#36003 Add Pinterest Extension to Onboarding Wizard
  plugins/woocommerce/changelog/update-obw-pinterest
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#36009 Add Codisto Extension to Onboarding
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/style.scss
  plugins/woocommerce/assets/images/onboarding/codistoconnect.png
  plugins/woocommerce/changelog/add-codisto-onboarding
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#35995 Avoid a fatal error (attempt to call method on bool) when forming order edit URLs
  plugins/woocommerce/changelog/fix-order-edit-url
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: plugin: woocommerce, focus: react admin

#36010 Enhancement: Tax settings conflict warning
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/settings/alert-triangle-icon.svg
  plugins/woocommerce-admin/client/settings/conflict-error-slotfill.js
  plugins/woocommerce-admin/client/settings/conflict-error-slotfill.scss
  plugins/woocommerce/changelog/enhancement-warn-about-tax-settings-conflict
  plugins/woocommerce/includes/admin/settings/class-wc-settings-tax.php
  plugins/woocommerce/includes/admin/settings/views/settings-tax.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-tax-test.php
Labels: plugin: woocommerce, focus: react admin

#36008 E2E: Update tests in `create-variable-product.spec.js` to avoid creating variations from all attributes automatically
  plugins/woocommerce/changelog/e2e-update-create-variable-product
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, focus: smoke tests

#36000 Additional order list table actions
  plugins/woocommerce/changelog/fix-35467-hpos-order-list-table-actions
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin

#35982 Product variation quantity status indicator
  plugins/woocommerce-admin/client/products/fields/variations/variations.scss
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-stock-status.ts
  plugins/woocommerce-admin/client/products/utils/test/get-product-stock-status.test.ts
  plugins/woocommerce/changelog/add-35791_variation_quantity_status_indicator
Labels: plugin: woocommerce, focus: react admin

#35939 Disable irrelevant product tabs when variations exist
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce-admin/client/products/product-form-tab.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/update-35779
Labels: plugin: woocommerce, focus: react admin

#35963 Change the default currency for Croatia to Euros
  plugins/woocommerce/changelog/fix-35872-hrk-eur
  plugins/woocommerce/i18n/locale-info.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#35762 Add/35126 ces exit prompt orders
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-exit-page.ts
  plugins/woocommerce-admin/client/utils/static-form-helper.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/order-tracking/exit-order-page.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/order-tracking/index.ts
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-35126_ces_exit_prompt_orders
  plugins/woocommerce/includes/tracks/events/class-wc-orders-tracking.php
Labels: plugin: woocommerce, focus: react admin

#35996 Adding ces exit prompt when product importer abandoned
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-exit-page.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-import-tracking/index.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-import-tracking/product-import-tracking.ts
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-35126_ces_exit_prompt_import
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce, focus: react admin

#35810 Adding the feedback button on activity panel for the classic product page
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-modal-container.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.tsx
  plugins/woocommerce-admin/client/products/images/feedback-icon.tsx
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce/changelog/add-35806-classic-product-feedback
Labels: plugin: woocommerce, focus: react admin, focus: customer effort score

#35843 Another set of migrations from set-output to GITHUB_OUTPUT
  .github/workflows/cherry-pick.yml
  .github/workflows/community-label.yml
  .github/workflows/post-release.yml
  .github/workflows/scripts/is-community-contributor.js
Labels: tool: monorepo infrastructure

#36036 Revert reverts of cherry picked fixes in prep for 7.2.1 fix release
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#35865 Adding delayed spotlight to feedback button on current product page
  packages/js/components/changelog/add-35301-delayed-ces-prompt
  packages/js/components/src/tour-kit/components/step-navigation.tsx
  packages/js/components/src/tour-kit/types.ts
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/guided-tours/add-product-feedback-tour.tsx
  plugins/woocommerce/changelog/add-35301-delayed-ces-prompt
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35997 Refactor AttributeField into sub-components
  packages/js/components/changelog/list-item-classname
  packages/js/components/src/list-item/list-item.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state-logo.svg
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state.scss
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/edit-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-list-item/add-attribute-list-item.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-list-item/attribute-list-item.scss
  plugins/woocommerce-admin/client/products/fields/attribute-list-item/attribute-list-item.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-list-item/index.ts
  plugins/woocommerce/changelog/update-refactor-attribute-field
Labels: focus: variation, focus: product, plugin: woocommerce, focus: react admin, package: @woocommerce/components, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#36042 Add Missing Tracks Events to Tax Settings Conflict Warning
  plugins/woocommerce-admin/client/settings/conflict-error-slotfill.js
  plugins/woocommerce/changelog/add-tax-settings-conflict-tracks
Labels: plugin: woocommerce, focus: react admin

#36033 Add product variation form and routes
  packages/js/data/changelog/add-35786
  packages/js/data/src/crud/types.ts
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/add-35786
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#35980 Add endpoint to create all product variations
  plugins/woocommerce/changelog/add-35778-endpoint
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: plugin: woocommerce

#36020 Add product variation visibility toggle
  plugins/woocommerce-admin/client/products/fields/variations/variations.scss
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/images/hidden-icon.tsx
  plugins/woocommerce-admin/client/products/images/visible-icon.tsx
  plugins/woocommerce/changelog/add-35790
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#36051 Add single product variation sections
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/add-35988
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#35339 Use Imagick instead of putenv() to only use 1 thread and avoid memory issues with OpenMP
  plugins/woocommerce/changelog/pr-35339
  plugins/woocommerce/includes/class-wc-regenerate-images-request.php
Labels: plugin: woocommerce, type: community contribution

#35808 Add aria-label for simple select dropdown in select-control component
  packages/js/components/changelog/update-add-aria-label-for-simple-select-dropdown
  packages/js/components/src/select-control/control.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce/changelog/update-store-details-test-snapshot
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36054 Drop use of WP 5.9 function in `quantity-input.php`
  plugins/woocommerce/changelog/fix-36039
  plugins/woocommerce/templates/global/quantity-input.php
Labels: plugin: woocommerce

#34579 Add an `required` argument to function `wc_dropdown_variation_attribute_options`
  plugins/woocommerce/changelog/attribute-dropdown-required-attr
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, type: community contribution

#36057 Prepare for 7.2.1 fix release
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#36065 Fix/requires at least 5.9
  plugins/woocommerce/changelog/fix-requires-at-least-5.9
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#35907 Consistent folder structure for E2E and API test results
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/smoke-test-daily.yml
  .gitignore
  plugins/woocommerce/changelog/e2e-output-directories
  plugins/woocommerce/tests/api-core-tests/README.md
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/README.md
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: smoke tests

#36058 Extend product variations data store with generate variations actions
  packages/js/data/changelog/add-35778-data-store
  packages/js/data/src/crud/README.md
  packages/js/data/src/crud/index.ts
  packages/js/data/src/product-variations/action-types.ts
  packages/js/data/src/product-variations/actions.ts
  packages/js/data/src/product-variations/index.ts
Labels: package: @woocommerce/data

#34385 Update documentation for two methods in abstract-wc-order.php
  plugins/woocommerce/changelog/update-order-method-docblocks
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce, type: community contribution

#36100 Replace hardcoded table prefix.
  plugins/woocommerce/changelog/fix-36099-migration-query
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
Labels: plugin: woocommerce

#36081 Add product variation General section
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce-admin/client/products/sections/product-variation-details-section.tsx
  plugins/woocommerce/changelog/add-35987
Labels: plugin: woocommerce, focus: react admin

#36087 Make quantity selector more specific Only select the primary quantity
  plugins/woocommerce/changelog/issues-36086-more-specific-variation-qty-selector
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
Labels: plugin: woocommerce, type: community contribution

#36108 Bump WooCommerce version to 7.2.2 in prep for fix release.
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#36076 Add product variation navigation component
  plugins/woocommerce-admin/client/products/hooks/use-product-variation-navigation.ts
  plugins/woocommerce-admin/client/products/product-variation-form.scss
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce-admin/client/products/shared/posts-navigation/index.ts
  plugins/woocommerce-admin/client/products/shared/posts-navigation/posts-navigation.scss
  plugins/woocommerce-admin/client/products/shared/posts-navigation/posts-navigation.tsx
  plugins/woocommerce/changelog/add-35991
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#36072 Support installing live branches from the manifest
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/live-branches/install.php
  plugins/woocommerce-beta-tester/api/live-branches/manifest.php
  plugins/woocommerce-beta-tester/changelog/dev-wc-beta-install-plugin
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester-live-branches-installer.php
  plugins/woocommerce-beta-tester/src/live-branches/components/BranchList.tsx
  plugins/woocommerce-beta-tester/src/live-branches/hooks/live-branches.tsx
Labels: plugin: woocommerce beta tester

#36119 Re-run the 7.2.1 state migrations when merchants update to 7.2.2.
  plugins/woocommerce/changelog/fix-36096-nz-ua-states-migration
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#36047 Make sure attribute term dropdown adheres to sort order setting
  plugins/woocommerce/changelog/fix-35639_attribute_term_sort_order
  plugins/woocommerce/client/legacy/js/admin/wc-enhanced-select.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#36046 Fix product table dropdown on mobile
  plugins/woocommerce/changelog/fix-34534_product_dropdown_on_mobile
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#36112 Persist active tab on refresh
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce/changelog/add-36061
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#36078 Reset variation form if a new variation is given
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/fix-36077
Labels: type: bug, focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#35927 Add cherry-pick support for git merge strategy.
  .github/workflows/cherry-pick.yml
  plugins/woocommerce/changelog/git-add-cherry-pick-merge
Labels: plugin: woocommerce

#36053 Product variations - Set fixed height for card
  packages/js/components/changelog/add-35789_set_variations_list_fixed_height
  plugins/woocommerce-admin/client/products/fields/variations/variations.scss
  plugins/woocommerce/changelog/add-35789_set_variations_list_fixed_height
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#35971 Fix no email report on product filter
  plugins/woocommerce/changelog/fix-32220_no_email_report_on_product_filter
  plugins/woocommerce/src/Admin/API/Reports/Orders/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders.php
Labels: plugin: woocommerce, focus: react admin

#36085 Add product variation title to page header
  packages/js/data/changelog/add-35990
  packages/js/data/src/crud/types.ts
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-variation-title.ts
  plugins/woocommerce-admin/client/products/utils/test/get-product-variation-title.ts
  plugins/woocommerce/changelog/add-35990
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#36159 Update country select control regex
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce/changelog/update-fix-country-select-control-match
Labels: plugin: woocommerce, focus: react admin

#36125 Update WooCommerce Blocks to 9.1.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.1.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/tests/legacy/unit-tests/crud/data.php
Labels: plugin: woocommerce

#36133 Add product variation image
  packages/js/data/changelog/add-36115
  packages/js/data/src/index.ts
  packages/js/data/src/product-variations/types.ts
  plugins/woocommerce-admin/client/products/fields/single-image-field/index.ts
  plugins/woocommerce-admin/client/products/fields/single-image-field/single-image-field.scss
  plugins/woocommerce-admin/client/products/fields/single-image-field/single-image-field.tsx
  plugins/woocommerce-admin/client/products/sections/product-variation-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
  plugins/woocommerce/changelog/add-36115
Labels: focus: variation, plugin: woocommerce, focus: react admin, package: @woocommerce/data, focus: product management, focus: product management components

#36170 Update requires at least 5.9 in readme to same as woocommerce.php
  plugins/woocommerce/changelog/update-requires-at-least-5.9
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#36134 Truncate attribute option name to a max of 32 chars in variations list
  plugins/woocommerce-admin/client/products/constants.ts
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/utils/get-product-variation-title.ts
  plugins/woocommerce/changelog/add-36116
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#36158 Remove redundant Pinterest listing from marketing task
  plugins/woocommerce/changelog/fix-remove-redundant-pinterest-from-marketing-task
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#36151 Make `Table` component accept `className` prop
  packages/js/components/changelog/fix-36129-table-className
  packages/js/components/src/table/placeholder.js
  packages/js/components/src/table/table.js
  packages/js/components/src/table/test/index.js
Labels: package: @woocommerce/components

#35978 update/api-core-tests guide for writing tests
  plugins/woocommerce/changelog/update-api-core-tests-guide-for-writing-tests
  plugins/woocommerce/tests/api-core-tests/README.md
Labels: plugin: woocommerce

#36155 Add product variation header actions and persistence
  packages/js/data/changelog/add-36059
  packages/js/data/src/crud/actions.ts
  plugins/woocommerce-admin/client/products/layout/product-variation-form-header.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-settings/product-settings.scss
  plugins/woocommerce-admin/client/products/product-variation-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/add-36059
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#36079 Add edit button to variations list items
  plugins/woocommerce-admin/client/products/fields/variations/variations.scss
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce/changelog/add-35787
Labels: focus: variation, plugin: woocommerce, focus: react admin, focus: product management, focus: product management components

#36186 Fix edit attribute modal terms list
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce/changelog/fix-36183_edit_attribute_modal_terms_list
Labels: plugin: woocommerce, focus: react admin, focus: product management MVP, focus: Product Management MVP 1.0

#36124 Add noDataLabel into Table component allowing to customise No Data Label message.
  packages/js/components/changelog/enhancement-table-add-no-data-label-property
  packages/js/components/src/table/README.md
  packages/js/components/src/table/index.js
  packages/js/components/src/table/stories/table.js
  packages/js/components/src/table/table.js
  packages/js/components/src/table/test/index.js
Labels: type: enhancement, package: @woocommerce/components

#35950 Cleanup product task experiment
  packages/js/onboarding/changelog/dev-clean-up-product-layout-exp-codes
  packages/js/onboarding/src/components/WooOnboardingTask/WooOnboardingTask.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/card-layout.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/card-layout.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/test/card-layout.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/use-product-layout-experiment.ts
  plugins/woocommerce-admin/client/tasks/fills/import-products/CardList.tsx
  plugins/woocommerce-admin/client/tasks/fills/import-products/cards.scss
  plugins/woocommerce-admin/client/tasks/fills/import-products/importTypes.tsx
  plugins/woocommerce-admin/client/tasks/fills/import-products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/import-products/style.scss
  plugins/woocommerce-admin/client/tasks/fills/import-products/test/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/index.js
  plugins/woocommerce-admin/client/tasks/fills/products/constants.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/footer.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/icon/lightbulb_24px.js
  plugins/woocommerce-admin/client/tasks/fills/products/icon/link_24px.js
  plugins/woocommerce-admin/client/tasks/fills/products/icon/widgets_24px.js
  plugins/woocommerce-admin/client/tasks/fills/products/index.js
  plugins/woocommerce-admin/client/tasks/fills/products/index.scss
  plugins/woocommerce-admin/client/tasks/fills/products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.js
  plugins/woocommerce-admin/client/tasks/fills/products/product-template-modal.scss
  plugins/woocommerce-admin/client/tasks/fills/products/products.js
  plugins/woocommerce-admin/client/tasks/fills/products/stack.scss
  plugins/woocommerce-admin/client/tasks/fills/products/stack.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/test/footer.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/test/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/test/stack.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/test/utils.ts
  plugins/woocommerce-admin/client/tasks/fills/products/use-create-product-by-type.ts
  plugins/woocommerce-admin/client/tasks/fills/products/use-product-types-list-items.tsx
  plugins/woocommerce-admin/client/tasks/fills/products/utils.tsx
  plugins/woocommerce-admin/client/tasks/fills/utils.js
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/dev-clean-up-product-layout-exp-codes
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/onboarding

#36160 Fix "Save changes?" modal saves the options after selecting the 'Discard' option
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/style.scss
  plugins/woocommerce/changelog/fix-obw-save-changes
  plugins/woocommerce/tests/e2e-pw/test-data/data.js
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/onboarding.js
Labels: plugin: woocommerce, focus: react admin

#35873 Migrate E2E daily shopper tests
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/e2e-daily-shopper
  plugins/woocommerce/tests/e2e-pw/global-setup.js
  plugins/woocommerce/tests/e2e-pw/test-data/data.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-pay-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/single-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/upload-plugin.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/api.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
  plugins/woocommerce/tests/e2e-pw/utils/site.js
Labels: plugin: woocommerce

#36201 Add ability to filter variations by local attributes in REST API
  plugins/woocommerce/changelog/add-36117
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: plugin: woocommerce

#36188 Automatically generate product variations on option changes
  plugins/woocommerce-admin/client/products/fields/options/options.tsx
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-variations-helper.ts
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce-admin/client/products/utils/get-product-title.ts
  plugins/woocommerce-admin/client/products/utils/test/get-product-title.test.ts
  plugins/woocommerce/changelog/add-35778
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
Labels: plugin: woocommerce, focus: react admin
