Repository woocommerce/woocommerce, pull requests merged in 2022-04, with the labels that each got.

#32375 GH Action for generating reports in CI
  .github/workflows/pr-build-and-e2e-tests.yml
  packages/js/api-core-tests/bin/wc-api-tests.sh
Labels: package: @woocommerce/api-core-tests

#32419 Only start PHP containers after a successful healthcheck against DB
  .github/workflows/pr-build-and-e2e-tests.yml
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/bin/wc-e2e.sh
  packages/js/e2e-environment/docker-compose.yaml
  packages/js/e2e-environment/docker/wp-cli/Dockerfile
  packages/js/e2e-environment/docker/wp-cli/entrypoint.sh
  packages/js/e2e-environment/docker/wp-cli/wait-for-it.sh
Labels: type: bug, package: @woocommerce/e2e-environment

#32335 Changes to class-wc-auth that allows it to work with sso auth - update PR #29977
  plugins/woocommerce/includes/class-wc-auth.php
Labels: plugin: woocommerce

#32474 Isolate `wp-env` Environments
  plugins/woocommerce/.wp-env.json
Labels: tool: monorepo infrastructure

#30320 Add new hook to order-tracking form
  plugins/woocommerce/templates/order/form-tracking.php
Labels: needs: triage feedback, plugin: woocommerce

#32350 Enhance directory traversal handling/resolution.
  plugins/woocommerce/src/Internal/Utilities/URL.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/URLTest.php
Labels: plugin: woocommerce

#31185 Rename Swaziland to Eswatini
  plugins/woocommerce/i18n/countries.php
  plugins/woocommerce/includes/class-wc-geo-ip.php
Labels: plugin: woocommerce

#32497 Bump woocommerce-admin to 3.3.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: release: cherry-pick, plugin: woocommerce

#32494 Fix PHP warning of missing default value in spec
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/OptionRuleProcessor.php
Labels: plugin: woocommerce, focus: react admin

#32424 Don't trigger beforeunload notice inappropriately.
  plugins/woocommerce/legacy/js/admin/settings.js
Labels: plugin: woocommerce

#32363 Update documentation links.
  plugins/woocommerce/includes/class-wc-product-download.php
Labels: plugin: woocommerce

#32362 Support shortcode-based downloadable files (as used by S3 Downloads e…
  plugins/woocommerce/includes/class-wc-product-download.php
  plugins/woocommerce/src/Internal/ProductDownloads/ApprovedDirectories/Synchronize.php
  plugins/woocommerce/src/Internal/Utilities/URL.php
  plugins/woocommerce/tests/php/includes/class-wc-product-downloads-test.php
Labels: plugin: woocommerce

#32488 Downgrade `chalk` from 5 to 4
  plugins/woocommerce-admin/package.json
  pnpm-lock.yaml
Labels: focus: react admin

#32489 Simplify the WooCommerce Admin init routine
  plugins/woocommerce-admin/Gruntfile.js
  plugins/woocommerce-admin/tests/bootstrap.php
  plugins/woocommerce-admin/uninstall.php
  plugins/woocommerce-admin/woocommerce-admin.php
  plugins/woocommerce/changelog/update-simpliy-init-routine
  plugins/woocommerce/src/Admin/Composer/Package.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/plugin-version.php
Labels: plugin: woocommerce, focus: react admin

#32490 Fix continue setup prompt for adding first product appeared too early
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
Labels: plugin: woocommerce, focus: react admin

#32496 Fix WooCommerce Payments task not showing up in some supported countries
  plugins/woocommerce/changelog/fix-wcpay_task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: plugin: woocommerce, focus: react admin

#32017 Add theme tracking for block themes.
  plugins/woocommerce/changelog/add-block-theme-tracking
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/events/class-wc-theme-tracking.php
Labels: type: task, plugin: woocommerce

#32500 Move feature flag config files to Woocommerce plugin
  .github/workflows/ci.yml
  .github/workflows/pr-code-coverage.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/bin/generate-feature-config.php
  plugins/woocommerce/changelog/fix-feature-config-file-location
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/client/admin/config/plugin.json
  plugins/woocommerce/package.json
  plugins/woocommerce/project.json
  plugins/woocommerce/tests/legacy/bootstrap.php
Labels: plugin: woocommerce, focus: react admin

#32411 Fix husky git hooks
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  bin/pre-push.sh
  package.json
  packages/js/admin-e2e-tests/package.json
  packages/js/api-core-tests/package.json
  packages/js/api/package.json
  packages/js/components/package.json
  packages/js/csv-export/package.json
  packages/js/currency/package.json
  packages/js/customer-effort-score/package.json
  packages/js/data/package.json
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  packages/js/experimental/package.json
  packages/js/explat/package.json
  packages/js/js-tests/package.json
  packages/js/navigation/package.json
  packages/js/notices/package.json
  packages/js/number/package.json
  packages/js/onboarding/package.json
  packages/js/style-build/package.json
  packages/js/tracks/package.json
  plugins/woocommerce-admin/lint-staged.config.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/bin/post-merge.sh
  plugins/woocommerce/bin/pre-push.sh
  plugins/woocommerce/changelog/fix-32399-husky
  plugins/woocommerce/package.json
  plugins/woocommerce/project.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, package: @woocommerce/api-core-tests, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/js-tests, package: @woocommerce/navigation, package: @woocommerce/notices, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/style-build, package: @woocommerce/tracks

#32515 Update @wordpress/* dependencies
  packages/js/components/CHANGELOG.md
  packages/js/components/package.json
  packages/js/data/CHANGELOG.md
  packages/js/data/package.json
  packages/js/experimental/CHANGELOG.md
  packages/js/experimental/package.json
  packages/js/explat/CHANGELOG.md
  packages/js/explat/package.json
  packages/js/navigation/CHANGELOG.md
  packages/js/navigation/package.json
  packages/js/notices/CHANGELOG.md
  packages/js/notices/package.json
  packages/js/style-build/package.json
  plugins/woocommerce-admin/package.json
  pnpm-lock.yaml
Labels: focus: react admin, package: @woocommerce/components, package: @woocommerce/data, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/notices, package: @woocommerce/style-build

#32530 Fix phpdoc return type for WC_Order_Refund::get_reason
  plugins/woocommerce/includes/class-wc-order-refund.php
Labels: plugin: woocommerce

#32487 Clean up `woocommerce-admin` package.json
  plugins/woocommerce-admin/Gruntfile.js
  plugins/woocommerce-admin/babel.config.js
  plugins/woocommerce-admin/bin/combine-pot-files.php
  plugins/woocommerce-admin/bin/make-i18n-json.sh
  plugins/woocommerce-admin/languages/README.md
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-32417-clean-up-wc-admin-package-json
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#32506 WCPayments task is not visible after installing the plugin
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce/changelog/fix-hidden_wcpay_task
Labels: plugin: woocommerce, focus: react admin

#32473 New task list loading placeholder for experiment 1
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/tasks/fills/purchase.js
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/tasks/test/tasks.test.tsx
  plugins/woocommerce-admin/client/two-column-tasks/index.js
  plugins/woocommerce-admin/client/two-column-tasks/placeholder.tsx
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#32427 correct form redirect after save account details
  plugins/woocommerce/includes/class-wc-form-handler.php
Labels: plugin: woocommerce

#32449 Support protocol-less URLs from the URL util.
  plugins/woocommerce/changelog/fix-protocol-agnostic-urls
  plugins/woocommerce/src/Internal/Utilities/URL.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/URLTest.php
Labels: plugin: woocommerce

#32550 Fix admin js-tests config path
  packages/js/js-tests/src/setup-globals.js
Labels: package: @woocommerce/js-tests

#32498 Update progress header bar styles in task list
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce/changelog/fix-32425
Labels: plugin: woocommerce, focus: react admin

#32493 Track completion of non visible tasks as well
  plugins/woocommerce/changelog/fix-32140_wcpay_completion_task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Task.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/AdditionalPayments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/test-task.php
Labels: needs: triage feedback, plugin: woocommerce, focus: react admin

#32027 Filter out product variation line_item meta
  plugins/woocommerce/changelog/update-filter-out-product-variation-line-item-meta
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
Labels: plugin: woocommerce

#32034 Add migration to move orders from wp_posts to custom tables
  plugins/woocommerce/changelog/COTMigrations
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/MetaToMetaTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MigrationErrorLogger.php
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/COTMigrationServiceProvider.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigratorTest.php
Labels: needs: triage feedback, plugin: woocommerce

#32531 Fix TableCard component docs
  packages/js/components/CHANGELOG.md
  packages/js/components/src/table/README.md
  packages/js/components/src/table/index.js
  plugins/woocommerce-admin/client/analytics/components/leaderboard/index.js
Labels: focus: react admin, package: @woocommerce/components

#32460 Change is_file_valid_csv to wc_is_file_valid_csv
  plugins/woocommerce/changelog/changelog-32460
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
Labels: plugin: woocommerce

#32317 Adding parse_file_path filters to support remote file systems
  plugins/woocommerce/changelog/changelog-32317
  plugins/woocommerce/includes/class-wc-download-handler.php
Labels: plugin: woocommerce

#32447 UI changes to the recommended payment options
  plugins/woocommerce-admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce/changelog/update-32130-ui-changes-to-the-recommended-payment-options
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/legacy/js/admin/settings.js
Labels: plugin: woocommerce, focus: react admin

#32507 Fix experiment 1 UI issues
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
Labels: focus: react admin

#32589 Enable "Save changes" for variations on the admin when a textfield receives input
  plugins/woocommerce/changelog/issue-31347
  plugins/woocommerce/legacy/js/admin/meta-boxes-product-variation.js
Labels: plugin: woocommerce

#32527 Add Pinterest extension to onboarding wizard and marketing task
  packages/js/data/src/plugins/constants.ts
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce/assets/images/onboarding/pinterest.png
  plugins/woocommerce/changelog/add-32141_pinterest_extension_to_obw
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#32594 Prepare `trunk` For WooCommerce 6.5.0
  changelog.txt
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#32582 Fix `pnpm nx clean woocommerce-admin` command
  plugins/woocommerce-admin/package.json
Labels: focus: react admin

#32467 UI changes for set up payments task
  packages/js/admin-e2e-tests/CHANGELOG.md
  packages/js/admin-e2e-tests/src/pages/PaymentsSetup.ts
  packages/js/admin-e2e-tests/src/pages/WcSettings.ts
  packages/js/admin-e2e-tests/src/specs/tasks/payment.ts
  packages/js/data/CHANGELOG.md
  packages/js/data/src/plugins/types.ts
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Action.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/List.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/List.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/test/list.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Setup/Configure.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Setup/test/configure.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Toggle/Toggle.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Toggle/Toggle.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Toggle/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/payment-gateway-suggestions.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce/assets/images/payment_methods/72x72/affirm.png
  plugins/woocommerce/assets/images/payment_methods/72x72/afterpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/amazonpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/bacs.png
  plugins/woocommerce/assets/images/payment_methods/72x72/cod.png
  plugins/woocommerce/assets/images/payment_methods/72x72/eway.png
  plugins/woocommerce/assets/images/payment_methods/72x72/klarna.png
  plugins/woocommerce/assets/images/payment_methods/72x72/mercadopago.png
  plugins/woocommerce/assets/images/payment_methods/72x72/mollie.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payfast.png
  plugins/woocommerce/assets/images/payment_methods/72x72/paypal.png
  plugins/woocommerce/assets/images/payment_methods/72x72/paystack.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payu.png
  plugins/woocommerce/assets/images/payment_methods/72x72/razorpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/square.png
  plugins/woocommerce/assets/images/payment_methods/72x72/stripe.png
  plugins/woocommerce/changelog/dev-32131-ui-changes-additional-payment-section
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/data

#32569 Product downloads → Support a concept of active/inactive files.
  plugins/woocommerce/changelog/fix-downloadable-file-data
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-general.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-download.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-variation-download.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-variation-admin.php
  plugins/woocommerce/includes/class-wc-product-download.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/legacy/css/admin.scss
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-product-test.php
  plugins/woocommerce/tests/php/includes/class-wc-product-downloads-test.php
Labels: plugin: woocommerce

#32062 Implement queries for non-synchronized orders, and revamp COT related settings
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
Labels: plugin: woocommerce

#32534 Remove featured request user agent headers
  plugins/woocommerce/changelog/remove-32444-featured-request-user-agent-headers
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: plugin: woocommerce

#32559 Changed unminify plugin to hook into step before optimization
  plugins/woocommerce-admin/unminify.js
Labels: tool: monorepo infrastructure, focus: react admin

#32302 Add sectioned task list component
  packages/js/data/src/index.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/onboarding/utils.ts
  packages/js/onboarding/CHANGELOG.md
  plugins/woocommerce-admin/changelogs/feature-32164_new_task_list_version_2
  plugins/woocommerce-admin/client/stylesheets/shared/_global.scss
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.tsx
  plugins/woocommerce-admin/client/tasks/task-list.tsx
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/two-column-tasks/headers/section-header.scss
  plugins/woocommerce-admin/client/two-column-tasks/headers/section-header.tsx
  plugins/woocommerce-admin/client/two-column-tasks/section-panel-title.tsx
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.scss
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce/assets/images/task_list/basics-section-illustration.png
  plugins/woocommerce/assets/images/task_list/expand-section-illustration.png
  plugins/woocommerce/assets/images/task_list/sales-section-illustration.png
  plugins/woocommerce/changelog/feature-32164_new_task_list_version_2
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/client/admin/config/plugin.json
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Task.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskListSection.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Appearance.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreCreation.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Tax.php
Labels: needs: triage feedback, plugin: woocommerce, focus: react admin, package: @woocommerce/data, package: @woocommerce/onboarding

#32574 Add context param for get_notes and related methods
  plugins/woocommerce/changelog/add-32573-context-arg-for-get-notes
  plugins/woocommerce/src/Admin/Notes/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-tests-notes-data-store.php
Labels: plugin: woocommerce, focus: react admin

#32505 Add E2E tests to disabled welcome modal
  packages/js/admin-e2e-tests/CHANGELOG.md
  packages/js/admin-e2e-tests/src/pages/WcHomescreen.ts
  packages/js/admin-e2e-tests/src/specs/activate-and-setup/complete-onboarding-wizard.ts
  plugins/woocommerce/changelog/add-32157_tests_to_disable_welcome_modals
  plugins/woocommerce/tests/e2e/specs/activate-and-setup/complete-onboarding-wizard.test.js
Labels: plugin: woocommerce, package: @woocommerce/admin-e2e-tests

#32571 Normalize auto-draft as a status in the abstract order class
  plugins/woocommerce/changelog/fix-32539-order-autodraft-validation
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: focus: order, plugin: woocommerce

#32510 Updating deasync package to resolve build issue
  plugins/woocommerce/changelog/update-32509_deasync_issue
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#32513 Merge WCA install routines to the core
  plugins/woocommerce/changelog/update-32176-merge-wca-install-logic-to-core
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/react-admin/wc-admin-update-functions.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/DeprecatedOptions.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/RemoteInboxNotificationsEngine.php
  plugins/woocommerce/src/Internal/Admin/CategoryLookup.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Install.php
  plugins/woocommerce/src/Internal/Admin/Notes/ManageStoreActivityFromHomeScreen.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/Init.php
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/plugin-version.php
  plugins/woocommerce/uninstall.php
Labels: plugin: woocommerce, focus: react admin

#31012 Fix/unsupported operand types
  plugins/woocommerce/changelog/fix-unsupported-operand-types
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
Labels: needs: triage feedback, plugin: woocommerce

#32591 Update WCA deactivation hook to use WC_PLUGIN_FILE
  phpcs.xml
  plugins/woocommerce/changelog/update-32522-remove-deactivation-hooks-from-wca
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/react-admin/wc-admin-update-functions.php
  plugins/woocommerce/src/Admin/Composer/Package.php
  plugins/woocommerce/src/Admin/Notes/DeprecatedNotes.php
  plugins/woocommerce/src/Internal/Admin/Notes/DeactivatePlugin.php
  plugins/woocommerce/src/Internal/Admin/Notes/OrderMilestones.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
Labels: plugin: woocommerce, focus: react admin

#32518 Update woocommerce-admin links to point to woocommerce repo
  .github/CONTRIBUTING.md
  packages/js/README.md
  packages/js/admin-e2e-tests/package.json
  packages/js/components/package.json
  packages/js/components/src/advanced-filters/README.md
  packages/js/csv-export/package.json
  packages/js/currency/package.json
  packages/js/customer-effort-score/package.json
  packages/js/data/package.json
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/package.json
  packages/js/experimental/package.json
  packages/js/explat/package.json
  packages/js/js-tests/package.json
  packages/js/navigation/package.json
  packages/js/number/package.json
  packages/js/onboarding/package.json
  packages/js/style-build/package.json
  packages/js/tracks/package.json
  plugins/woocommerce-admin/bin/starter-pack/README.md
  plugins/woocommerce-admin/docs/data.md
  plugins/woocommerce-admin/docs/features/onboarding.md
  plugins/woocommerce-admin/docs/features/payment-gateway-suggestions.md
  plugins/woocommerce-admin/docs/woocommerce.com/analytics-orders-report.md
Labels: focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/js-tests, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/style-build, package: @woocommerce/tracks

#32602 Fix typescript annotations in react admin `./client/dashboard`
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce-admin/client/dashboard/components/settings/general/test/store-address.js
Labels: focus: react admin

#32603 Added temporary path fixes to fix broken i18n due to path changes
  plugins/woocommerce/changelog/fix-broken-i18n-from-wca-merge
  plugins/woocommerce/src/Internal/Admin/Translations.php
Labels: focus: i18n, priority: high, plugin: woocommerce, focus: react admin

#32622 Pass `WC_ADMIN_PHASE=core` to build commands & Remove "plugin" env
  plugins/woocommerce-admin/docs/features/feature-flags.md
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/bin/generate-feature-config.php
  plugins/woocommerce/changelog/remove-admin-feature-plugin-env
  plugins/woocommerce/client/admin/config/plugin.json
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: react admin

#32605 Update payment gateway logic in payment task
  packages/js/admin-e2e-tests/CHANGELOG.md
  packages/js/admin-e2e-tests/src/pages/PaymentsSetup.ts
  packages/js/admin-e2e-tests/src/specs/tasks/payment.ts
  packages/js/components/CHANGELOG.md
  packages/js/components/src/pill/pill.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/Action.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/Item.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/List.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/test/list.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/payment-gateway-suggestions.scss
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce/changelog/update-32132-payment-logic-in-task-and-settings
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components

#32620 Update payment method link to the internal extensions marketplace
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce/changelog/update-32617-payment-method-links
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: plugin: woocommerce, focus: react admin

#32624 Update minor tasklist changes
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.tsx
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list-placeholder.tsx
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.scss
Labels: focus: react admin

#32625 Track when task list sections are closed
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
Labels: focus: react admin

#32613 Reports: Don't include auto-draft orders in reports
  plugins/woocommerce/changelog/fix-exclude-drafts-in-reports
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
Labels: plugin: woocommerce, focus: react admin

#32526 Adding Products screens to those that will not show tasks reminder bar
  plugins/woocommerce-admin/client/tasks/reminder-bar/reminder-bar.tsx
  plugins/woocommerce/changelog/fix-32428_reminder_bar_invalid_screens
Labels: plugin: woocommerce, focus: react admin

#32597 Update `woocommerce-admin` documentation
  plugins/woocommerce-admin/README.md
  plugins/woocommerce-admin/docs/.nojekyll
  plugins/woocommerce-admin/docs/README.md
  plugins/woocommerce-admin/docs/_sidebar.md
  plugins/woocommerce-admin/docs/components/README.md
  plugins/woocommerce-admin/docs/examples/_sidebar.md
  plugins/woocommerce-admin/docs/examples/extensions/README.md
  plugins/woocommerce-admin/docs/examples/extensions/examples.config.js
  plugins/woocommerce-admin/docs/features/_sidebar.md
  plugins/woocommerce-admin/docs/features/feature-flags.md
  plugins/woocommerce-admin/docs/features/navigation.md
  plugins/woocommerce-admin/docs/features/onboarding.md
  plugins/woocommerce-admin/docs/features/payment-gateway-suggestions.md
  plugins/woocommerce-admin/docs/index.html
  plugins/woocommerce-admin/docs/page-controller.md
  plugins/woocommerce-admin/docs/stylesheets.md
  plugins/woocommerce-admin/docs/woocommerce.com/README.md
  plugins/woocommerce-admin/package.json
  pnpm-lock.yaml
Labels: focus: react admin

#32578 Document Admin’s webpack config
  plugins/woocommerce-admin/webpack.config.js
Labels: focus: react admin

#32580 Update admin's webpack config
  plugins/woocommerce-admin/webpack.config.js
Labels: focus: react admin

#32621 Remove woocommerce-admin/tests
  plugins/woocommerce-admin/tests/bootstrap.php
  plugins/woocommerce-admin/tests/e2e/config/default.json
  plugins/woocommerce-admin/tests/e2e/config/env.setup.js
  plugins/woocommerce-admin/tests/e2e/config/jest-puppeteer.config.js
  plugins/woocommerce-admin/tests/e2e/config/jest.config.js
  plugins/woocommerce-admin/tests/e2e/docker/initialize.sh
  plugins/woocommerce-admin/tests/e2e/specs/activate-and-setup/basic-setup.test.tsx
  plugins/woocommerce-admin/tests/e2e/specs/activate-and-setup/complete-onboarding-wizard.test.tsx
  plugins/woocommerce-admin/tests/e2e/specs/analytics/analytics-overview.test.tsx
  plugins/woocommerce-admin/tests/e2e/specs/analytics/analytics.test.tsx
  plugins/woocommerce-admin/tests/e2e/specs/homescreen/activity-panel.test.ts
  plugins/woocommerce-admin/tests/e2e/specs/homescreen/task-list.test.ts
  plugins/woocommerce-admin/tests/e2e/specs/marketing/coupons.test.tsx
  plugins/woocommerce-admin/tests/e2e/specs/tasks/payment.test.tsx
  plugins/woocommerce/changelog/remove-admin-tests-folder
Labels: plugin: woocommerce, focus: react admin

#32627 Update WooCommerce blocks package to 7.4.1
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-7.4.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#32641 Update/woocommerce blocks 7.2.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#32647 Tag 6.5 beta 1
  changelog.txt
  plugins/woocommerce/NEXT_CHANGELOG.md
  plugins/woocommerce/changelog/COTMigrations
  plugins/woocommerce/changelog/add-32141_pinterest_extension_to_obw
  plugins/woocommerce/changelog/add-32157_tests_to_disable_welcome_modals
  plugins/woocommerce/changelog/add-32573-context-arg-for-get-notes
  plugins/woocommerce/changelog/add-block-theme-tracking
  plugins/woocommerce/changelog/changelog-32317
  plugins/woocommerce/changelog/changelog-32460
  plugins/woocommerce/changelog/dev-32131-ui-changes-additional-payment-section
  plugins/woocommerce/changelog/dev-32417-clean-up-wc-admin-package-json
  plugins/woocommerce/changelog/feature-32164_new_task_list_version_2
  plugins/woocommerce/changelog/fix-32140_wcpay_completion_task
  plugins/woocommerce/changelog/fix-32141_remove_pinterest_extension_from_obw
  plugins/woocommerce/changelog/fix-32399-husky
  plugins/woocommerce/changelog/fix-32425
  plugins/woocommerce/changelog/fix-32428_reminder_bar_invalid_screens
  plugins/woocommerce/changelog/fix-32539-order-autodraft-validation
  plugins/woocommerce/changelog/fix-ascii-uasort
  plugins/woocommerce/changelog/fix-broken-i18n-from-wca-merge
  plugins/woocommerce/changelog/fix-downloadable-file-data
  plugins/woocommerce/changelog/fix-feature-config-file-location
  plugins/woocommerce/changelog/fix-hidden_wcpay_task
  plugins/woocommerce/changelog/fix-protocol-agnostic-urls
  plugins/woocommerce/changelog/fix-unsupported-operand-types
  plugins/woocommerce/changelog/fix-wcpay_task
  plugins/woocommerce/changelog/issue-31347
  plugins/woocommerce/changelog/remove-32444-featured-request-user-agent-headers
  plugins/woocommerce/changelog/remove-admin-feature-plugin-env
  plugins/woocommerce/changelog/revert-31779-fix-31729-add-menu-page-arg
  plugins/woocommerce/changelog/update-32130-ui-changes-to-the-recommended-payment-options
  plugins/woocommerce/changelog/update-32132-payment-logic-in-task-and-settings
  plugins/woocommerce/changelog/update-32176-merge-wca-install-logic-to-core
  plugins/woocommerce/changelog/update-32509_deasync_issue
  plugins/woocommerce/changelog/update-32522-remove-deactivation-hooks-from-wca
  plugins/woocommerce/changelog/update-32617-payment-method-links
  plugins/woocommerce/changelog/update-filter-out-product-variation-line-item-meta
  plugins/woocommerce/changelog/update-simpliy-init-routine
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#32650 Remove 6.5 changelog entries
  plugins/woocommerce/NEXT_CHANGELOG.md
  plugins/woocommerce/changelog/COTMigrations
  plugins/woocommerce/changelog/add-32141_pinterest_extension_to_obw
  plugins/woocommerce/changelog/add-32157_tests_to_disable_welcome_modals
  plugins/woocommerce/changelog/add-32573-context-arg-for-get-notes
  plugins/woocommerce/changelog/add-block-theme-tracking
  plugins/woocommerce/changelog/changelog-32317
  plugins/woocommerce/changelog/changelog-32460
  plugins/woocommerce/changelog/dev-32131-ui-changes-additional-payment-section
  plugins/woocommerce/changelog/dev-32417-clean-up-wc-admin-package-json
  plugins/woocommerce/changelog/feature-32164_new_task_list_version_2
  plugins/woocommerce/changelog/fix-32140_wcpay_completion_task
  plugins/woocommerce/changelog/fix-32141_remove_pinterest_extension_from_obw
  plugins/woocommerce/changelog/fix-32399-husky
  plugins/woocommerce/changelog/fix-32425
  plugins/woocommerce/changelog/fix-32428_reminder_bar_invalid_screens
  plugins/woocommerce/changelog/fix-32539-order-autodraft-validation
  plugins/woocommerce/changelog/fix-ascii-uasort
  plugins/woocommerce/changelog/fix-broken-i18n-from-wca-merge
  plugins/woocommerce/changelog/fix-downloadable-file-data
  plugins/woocommerce/changelog/fix-feature-config-file-location
  plugins/woocommerce/changelog/fix-hidden_wcpay_task
  plugins/woocommerce/changelog/fix-protocol-agnostic-urls
  plugins/woocommerce/changelog/fix-unsupported-operand-types
  plugins/woocommerce/changelog/fix-wcpay_task
  plugins/woocommerce/changelog/issue-31347
  plugins/woocommerce/changelog/remove-32444-featured-request-user-agent-headers
  plugins/woocommerce/changelog/remove-admin-feature-plugin-env
  plugins/woocommerce/changelog/revert-31779-fix-31729-add-menu-page-arg
  plugins/woocommerce/changelog/update-32130-ui-changes-to-the-recommended-payment-options
  plugins/woocommerce/changelog/update-32132-payment-logic-in-task-and-settings
  plugins/woocommerce/changelog/update-32176-merge-wca-install-logic-to-core
  plugins/woocommerce/changelog/update-32509_deasync_issue
  plugins/woocommerce/changelog/update-32522-remove-deactivation-hooks-from-wca
  plugins/woocommerce/changelog/update-32617-payment-method-links
  plugins/woocommerce/changelog/update-filter-out-product-variation-line-item-meta
  plugins/woocommerce/changelog/update-simpliy-init-routine
Labels: plugin: woocommerce

#32049 Fix issue #31477
  plugins/woocommerce/changelog/31477-remove-coupon-js
  plugins/woocommerce/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce

#32616 Add `@types/*` & declare TS modules for woocommerce-admin
  plugins/woocommerce-admin/client/typings/index.d.ts
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-admin-types
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#32615 Update TS config to have an isolated TS environment for woo admin
  packages/js/data/CHANGELOG.md
  packages/js/data/package.json
  packages/js/data/tsconfig.json
  packages/js/experimental/CHANGELOG.md
  packages/js/experimental/package.json
  packages/js/experimental/tsconfig.json
  packages/js/explat/CHANGELOG.md
  packages/js/explat/package.json
  packages/js/explat/tsconfig.json
  packages/js/navigation/CHANGELOG.md
  packages/js/navigation/package.json
  packages/js/navigation/tsconfig.json
  packages/js/onboarding/CHANGELOG.md
  packages/js/onboarding/package.json
  packages/js/onboarding/tsconfig.json
  plugins/woocommerce-admin/client/tsconfig.json
  plugins/woocommerce-admin/client/tsconfig.test.json
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce-admin/client/typings/index.d.ts
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/tsconfig.json
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/fix-admin-types
  plugins/woocommerce/changelog/update-admin-tsconfig-config
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/onboarding

#32678 Fix typescript type errors in react admin `./client/wp-admin-scripts`
  plugins/woocommerce-admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/payment-method-promotions/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/payment-method-promotions/payment-promotion-row.tsx
  plugins/woocommerce/changelog/fix-wp-admin-scripts-type
Labels: plugin: woocommerce, focus: react admin

#32651 Updated `trunk` With WooCommerce 6.4.1 Content
  changelog.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#32683 Fix typescript type errors in react admin `payments` & `payments-welcome`
  packages/js/components/src/pill/pill.js
  packages/js/data/CHANGELOG.md
  packages/js/data/package.json
  packages/js/data/src/index.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/plugins/actions.ts
  packages/js/data/src/plugins/types.ts
  packages/js/data/src/types/wp-data.ts
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce-admin/client/utils/plugins.ts
  plugins/woocommerce/changelog/fix-admin-payment-type
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#32662 Refactor and improve tests payments task
  packages/js/admin-e2e-tests/src/pages/PaymentsSetup.ts
  packages/js/admin-e2e-tests/src/specs/tasks/payment.ts
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/utils.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/utils.js
  plugins/woocommerce/changelog/update-refactor-and-improve-tests-payments-task
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests

#32630 Mark marketing task as complete when an extension is installed
  plugins/woocommerce/changelog/fix-32149_mark_marketing_task_as_complete
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
Labels: plugin: woocommerce, focus: react admin

#32695 Fix typescript type errors in react admin `./client/two-column/tasks`
  packages/js/data/CHANGELOG.md
  packages/js/data/package.json
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/user/use-user-preferences.ts
  plugins/woocommerce-admin/client/two-column-tasks/extended-task.tsx
  plugins/woocommerce-admin/client/two-column-tasks/index.js
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/fix-admin-two-column-tasks-types
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#32680 e2e-builds: Private package for build logic of e2e
  packages/js/e2e-builds/.eslintrc.js
  packages/js/e2e-builds/.npmrc
  packages/js/e2e-builds/CHANGELOG.md
  packages/js/e2e-builds/build.js
  packages/js/e2e-builds/get-babel-config.js
  packages/js/e2e-builds/package.json
  packages/js/e2e-builds/project.json
  packages/js/e2e-core-tests/changelog/fix-e2e-builds-private-package
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/changelog/fix-e2e-builds-private-package
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/changelog/fix-e2e-builds-private-package
  packages/js/e2e-utils/package.json
  pnpm-lock.yaml
  workspace.json
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils

#32706 Remove post_id column from orders table, use placeholder entries to find out of sync orders
  plugins/woocommerce/changelog/remove-post_id-from-orders-table
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigratorTest.php
Labels: plugin: woocommerce

#32610 Display but do not require Street Address 2 for Vietnam.
  plugins/woocommerce/changelog/fix-32600-vietnam
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce

#32700 Adopt migrations so that custom order id is equal to posts.id it's migrated from.
  plugins/woocommerce/changelog/cot-32663
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostMetaToOrderMetaMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderTableMigrator.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigratorTest.php
Labels: plugin: woocommerce

#32528 Updating all instances of now-deprecated `pnpx` to `pnpm dlx`
  .github/workflows/pr-build-and-e2e-tests.yml
  .github/workflows/pr-smoke-test.yml
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  packages/js/api-core-tests/bin/wc-api-tests.sh
  packages/js/e2e-environment/README.md
  packages/js/e2e-environment/builtin.md
  plugins/woocommerce/changelog/update-32508_pnpx_deprecated
  plugins/woocommerce/legacy/project.json
  plugins/woocommerce/package.json
  plugins/woocommerce/project.json
  plugins/woocommerce/tests/e2e/README.md
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/api-core-tests, plugin: woocommerce

#32687 Add pre-req checks to tests suite installation script.
  plugins/woocommerce/changelog/fix-29705-tests-install
  plugins/woocommerce/tests/bin/install.sh
Labels: plugin: woocommerce

#32724 Prepare trunk for 6.6
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#32686 Add dropins to WC Tracker data
  plugins/woocommerce/changelog/add-wctracker-dropins
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#32684 Adding workflow to check status of site used for daily smoke tests.
  .github/workflows/smoke-test-daily-site-check.yml
Labels: focus: smoke tests

#32727 Update Slack Channel IDs for workflows
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
Labels: type: task, run: daily tests, focus: smoke tests

#32689 Build Scripts: Make build and build:zip more intuitive
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/fix-core-build-scripts
  plugins/woocommerce/package.json
  plugins/woocommerce/project.json
Labels: plugin: woocommerce

#32698 Fix typescript type errors in react admin `./client/tasks/task` & `./client/tasks/tests`
  packages/js/data/CHANGELOG.md
  packages/js/data/src/onboarding/selectors.ts
  plugins/woocommerce-admin/client/header/utils.tsx
  plugins/woocommerce-admin/client/tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/tasks/task-list.tsx
  plugins/woocommerce-admin/client/tasks/task.tsx
  plugins/woocommerce-admin/client/tasks/tasks.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list-item.test.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list.test.tsx
  plugins/woocommerce-admin/client/tasks/test/task.test.tsx
  plugins/woocommerce-admin/client/tasks/test/tasks.test.tsx
  plugins/woocommerce/changelog/fix-admin-task-types
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#32712 Fix remaining typescript type errors in react admin
  packages/js/components/CHANGELOG.md
  packages/js/components/src/stepper/index.tsx
  packages/js/data/CHANGELOG.md
  packages/js/data/src/index.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/plugins/actions.ts
  plugins/woocommerce-admin/client/settings-recommendations/dismissable-list.tsx
  plugins/woocommerce-admin/client/settings-recommendations/recommendations-eligibility-wrapper.tsx
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.tsx
  plugins/woocommerce-admin/client/tasks/back-button.tsx
  plugins/woocommerce-admin/client/tasks/deprecated-tasks.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/PluginList.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/test/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/avalara/card.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/components/partner-card.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/components/store-location.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/manual-configuration/configure.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/manual-configuration/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/utils.ts
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/automated-taxes.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/card.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/plugins.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/woocommerce-tax/setup.tsx
  plugins/woocommerce-admin/client/tasks/reminder-bar/reminder-bar.tsx
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/fix-admin-remaining-task-types
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#32734 Fix history type error
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
Labels: focus: react admin

#32704 Fix setup task list style conflict
  packages/js/experimental/CHANGELOG.md
  packages/js/experimental/src/experimental-list/style.scss
  packages/js/experimental/src/experimental-list/task-item/index.tsx
  packages/js/experimental/src/experimental-list/task-item/style.scss
  plugins/woocommerce-admin/client/tasks/tasks.scss
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.scss
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce/changelog/fix-task-list-style-conflict
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/experimental

#32742 Add task list slot fill support in the sectioned task list
  plugins/woocommerce-admin/client/tasks/reminder-bar/reminder-bar.tsx
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item.tsx
  plugins/woocommerce/changelog/fix-32714_wcpay_blank_page
Labels: plugin: woocommerce, focus: react admin

#32701 Adds `read` method to custom table data store.
  plugins/woocommerce/changelog/cot-32669
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#32614 Fix/sanitize notes order by
  plugins/woocommerce/changelog/fix-sanitize-notes-order-by
  plugins/woocommerce/src/Admin/Notes/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-tests-notes-data-store.php
Labels: plugin: woocommerce, focus: react admin

#32759 Fix eventPrefix for new task list - experiment 1
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/fix-32745_task_list_experiment_1_tracks
Labels: plugin: woocommerce, focus: react admin

#32765 Added Version to WooCommerce 6.5's `composer.json`
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce

#32640 Add meta table to meta table migration and enable it for WP postmeta table to order meta table.
  plugins/woocommerce/changelog/cot-32663
  plugins/woocommerce/changelog/cot-32669
  plugins/woocommerce/changelog/cot-meta_migrations
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/MetaToMetaTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostMetaToOrderMetaMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/WPPostToOrderTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MigrationHelper.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/WPPostToCOTMigratorTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#32744 Change Approved Directory update routine
  plugins/woocommerce/changelog/fix-650-update-routines
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
Labels: plugin: woocommerce

#32540 Reduce risk of prematurely dropping meta box error messages
  plugins/woocommerce/changelog/fix-errors-flash-messaging
  plugins/woocommerce/includes/admin/class-wc-admin-meta-boxes.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-meta-boxes-test.php
Labels: release: cherry-pick, plugin: woocommerce

#32514 Update `create-extension` to work in monorepo context
  package.json
  plugins/woocommerce-admin/bin/starter-pack/src/index.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/.gitignore
  plugins/woocommerce/changelog/fix-starter-pack-monorepo
  pnpm-lock.yaml
  tools/create-extension/._eslintrc.js
  tools/create-extension/._gitignore
  tools/create-extension/._prettierrc.json
  tools/create-extension/._wp-env.json
  tools/create-extension/README.md
  tools/create-extension/_README.md
  tools/create-extension/_main.php
  tools/create-extension/_package.json
  tools/create-extension/_webpack.config.js
  tools/create-extension/index.js
  tools/create-extension/src/index.js
  tools/create-extension/src/index.scss
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: react admin

#32752 Remove WCPay in core experiment request
  plugins/woocommerce/changelog/fix-32751-remove-wcpay-in-core-experiment-request
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#32774 Add experimental product task feature flag & experimental-products component
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/index.js
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-32772-exp-product-tasks-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, focus: react admin

#32713 Fix/e2e utils eslint config
  packages/js/e2e-utils/.eslintrc.js
  packages/js/e2e-utils/CHANGELOG.md
  packages/js/e2e-utils/package.json
Labels: package: @woocommerce/e2e-utils

#32756 Re-introduce woocommerce_product_csv_importer_check_import_file_path as deprecated
  plugins/woocommerce/changelog/fix-hook_removal_from_32460
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/includes/class-wc-deprecated-filter-hooks.php
Labels: status: blocked, release: cherry-pick, plugin: woocommerce

#32789 Add experimental import products task feature flag & experimental-import-products component
  plugins/woocommerce-admin/client/tasks/fills/experimental-import-products/CardList.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-import-products/cards.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-import-products/importTypes.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-import-products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/index.js
  plugins/woocommerce/changelog/add-32789-add-experimental-import-products
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, focus: react admin

#32799 Fix Latvian postcodes formatting
  plugins/woocommerce/changelog/pr-31788
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/formatting/functions.php
Labels: plugin: woocommerce

#32685 Address possible type error during install on PHP 8.x
  plugins/woocommerce/changelog/fix-32028-settings-method-exists-fatal
  plugins/woocommerce/includes/class-wc-install.php
Labels: plugin: woocommerce

#32771 Protect against inappropriate use of saved download links
  plugins/woocommerce/changelog/fix-32754-inactive-downloads
  plugins/woocommerce/includes/class-wc-download-handler.php
  plugins/woocommerce/tests/php/includes/class-wc-download-handler-tests.php
Labels: plugin: woocommerce

#31855 Update instructions for external sites
  packages/js/e2e-environment/CHANGELOG.md
  packages/js/e2e-environment/external.md
  plugins/woocommerce/tests/e2e/README.md
Labels: package: @woocommerce/e2e-environment, plugin: woocommerce

#31915 Fix link click for shopper.searchForProduct
  packages/js/e2e-utils/src/flows/shopper.js
Labels: package: @woocommerce/e2e-utils

#32779 Add experimental product stack component
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/constants.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/icon/link_24px.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/icon/widgets_24px.svg
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/index.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/stack.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/stack.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-products/utils.tsx
  plugins/woocommerce/changelog/add-product-stack
Labels: plugin: woocommerce, focus: react admin

#32773 Add fallback image payments task gateway icons
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/Item.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/components/List/fallback.png
  plugins/woocommerce/changelog/dev-32575-add-generic-fallback-image-payments-task
Labels: plugin: woocommerce, focus: react admin

#29688 Remove rounding of taxes displayed in items meta table
  plugins/woocommerce/changelog/fix-tax_data_rounded_on_save
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-item.php
Labels: priority: high, plugin: woocommerce

#32800 Remove `wc-admin-set-up-additional-payment-types` inbox note
  plugins/woocommerce/changelog/dev-32719-remove-wc-admin-set-up-additional-payment-types-note
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Admin/Notes/DeprecatedNotes.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Notes/SetUpAdditionalPaymentTypes.php
Labels: plugin: woocommerce, focus: react admin

#32776 Updating an existing downloadable file to a bad path should trigger an admin notice
  plugins/woocommerce/changelog/fix-download-file-warnings
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-product-test.php
Labels: plugin: woocommerce

#32755 Make `@woocommerce/data` tidy
  packages/js/data/src/index.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/plugins/actions.ts
  packages/js/data/src/plugins/types.ts
Labels: package: @woocommerce/data

#32739 Add Preview store button to Home screen
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/test/index.js
  plugins/woocommerce/changelog/add-32156_preview-store-button
Labels: plugin: woocommerce, focus: react admin

#32793 Standardize linting: Admin JS packages
  packages/js/admin-e2e-tests/.eslintrc.js
  packages/js/admin-e2e-tests/changelog/.gitkeep
  packages/js/admin-e2e-tests/changelog/fix-standardize-lint-monorepo
  packages/js/admin-e2e-tests/package.json
  packages/js/api/changelog/fix-standardize-lint-monorepo
  packages/js/api/package.json
  packages/js/components/changelog/.gitkeep
  packages/js/components/changelog/fix-standardize-lint-monorepo
  packages/js/components/package.json
  packages/js/csv-export/changelog/.gitkeep
  packages/js/csv-export/changelog/fix-standardize-lint-monorepo
  packages/js/csv-export/package.json
  packages/js/currency/changelog/.gitkeep
  packages/js/currency/changelog/fix-standardize-lint-monorepo
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/.gitkeep
  packages/js/customer-effort-score/changelog/fix-standardize-lint-monorepo
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/.gitkeep
  packages/js/data/changelog/fix-standardize-lint-monorepo
  packages/js/data/package.json
  packages/js/date/changelog/.gitkeep
  packages/js/date/changelog/fix-standardize-lint-monorepo
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/.gitkeep
  packages/js/dependency-extraction-webpack-plugin/changelog/fix-standardize-lint-monorepo
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/changelog/.gitkeep
  packages/js/eslint-plugin/changelog/fix-standardize-lint-monorepo
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/.gitkeep
  packages/js/experimental/changelog/fix-standardize-lint-monorepo
  packages/js/experimental/package.json
  packages/js/explat/changelog/.gitkeep
  packages/js/explat/changelog/fix-standardize-lint-monorepo
  packages/js/explat/package.json
  packages/js/js-tests/changelog/.gitkeep
  packages/js/js-tests/changelog/fix-standardize-lint-monorepo
  packages/js/js-tests/package.json
  packages/js/navigation/changelog/.gitkeep
  packages/js/navigation/changelog/fix-standardize-lint-monorepo
  packages/js/navigation/package.json
  packages/js/notices/changelog/.gitkeep
  packages/js/notices/changelog/fix-standardize-lint-monorepo
  packages/js/notices/package.json
  packages/js/number/changelog/.gitkeep
  packages/js/number/changelog/fix-standardize-lint-monorepo
  packages/js/number/package.json
  packages/js/onboarding/changelog/.gitkeep
  packages/js/onboarding/changelog/fix-standardize-lint-monorepo
  packages/js/onboarding/package.json
  packages/js/style-build/changelog/.gitkeep
  packages/js/style-build/changelog/fix-standardize-lint-monorepo
  packages/js/style-build/package.json
  packages/js/tracks/changelog/.gitkeep
  packages/js/tracks/changelog/fix-standardize-lint-monorepo
  packages/js/tracks/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/api, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/js-tests, package: @woocommerce/navigation, package: @woocommerce/notices, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/style-build, package: @woocommerce/tracks

#32046 Enable searching for products by SKU
  plugins/woocommerce/changelog/api-28508-search-including-sku
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: focus: wc rest api, plugin: woocommerce

#32820 Fix TS build errors in admin
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/project.json
Labels: focus: react admin, package: @woocommerce/data

#32814 Fix WCA fatal with bail conditions for WCA execution paths
  plugins/woocommerce/changelog/fix-32797-wca-fatal
  plugins/woocommerce/src/Admin/Loader.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Loader.php
Labels: release: cherry-pick, plugin: woocommerce, focus: react admin

#32697 Added feature for payment gateways banner
  packages/js/admin-e2e-tests/src/pages/WcSettings.ts
  packages/js/data/CHANGELOG.md
  packages/js/data/src/index.ts
  plugins/woocommerce-admin/changelogs/feature-32697_wc_payment_gateways_banner
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/payments-welcome/cards/amex.js
  plugins/woocommerce-admin/client/payments-welcome/cards/applepay.js
  plugins/woocommerce-admin/client/payments-welcome/cards/cb.js
  plugins/woocommerce-admin/client/payments-welcome/cards/diners.js
  plugins/woocommerce-admin/client/payments-welcome/cards/discover.js
  plugins/woocommerce-admin/client/payments-welcome/cards/giropay.js
  plugins/woocommerce-admin/client/payments-welcome/cards/gpay.js
  plugins/woocommerce-admin/client/payments-welcome/cards/index.js
  plugins/woocommerce-admin/client/payments-welcome/cards/jcb.js
  plugins/woocommerce-admin/client/payments-welcome/cards/maestro.js
  plugins/woocommerce-admin/client/payments-welcome/cards/mastercard.js
  plugins/woocommerce-admin/client/payments-welcome/cards/sofort.js
  plugins/woocommerce-admin/client/payments-welcome/cards/unionpay.js
  plugins/woocommerce-admin/client/payments-welcome/cards/visa.js
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/payments/payment-recommendations.scss
  plugins/woocommerce-admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce-admin/client/payments/payment-settings-banner.tsx
  plugins/woocommerce-admin/client/payments/payments-settings-banner-slotfill.js
  plugins/woocommerce-admin/client/payments/test/payment-settings-banner.test.tsx
  plugins/woocommerce-admin/client/payments/utils.ts
  plugins/woocommerce-admin/client/payments/wcpay-banner-image.js
  plugins/woocommerce/changelog/add-wc-payment-gateways-banner
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-payment-gateways-test.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests, package: @woocommerce/data

#32796 Add/experiment subscriptions admin menu 2
  plugins/woocommerce/src/Internal/Admin/WcPaySubscriptionsPage.php
Labels: plugin: woocommerce, focus: react admin

#32795 Standardize linting: plugins
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/changelog/fix-standardize-lint-woocommerce-plugin
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/.eslintrc.js
  plugins/woocommerce/changelog/fix-standardize-lint-woocommerce-plugin
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#32824 Adding legal messaging and fixing click behavior on task list experiment
  packages/js/experimental/CHANGELOG.md
  packages/js/experimental/src/experimental-list/task-item/index.tsx
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item-two-column.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/add-32762
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/experimental

#32805 Update illustrations and copy of task list experiment 1
  plugins/woocommerce-admin/client/two-column-tasks/headers/appearance.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/add-products.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/add-tax-rates.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/get-more-sales.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/get-paid.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/personalize-my-store.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/setup_complete.svg
  plugins/woocommerce-admin/client/two-column-tasks/headers/illustrations/shipping.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/marketing.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/payments.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/products.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/shipping.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/tax.js
  plugins/woocommerce-admin/client/two-column-tasks/headers/woocommerce-payments.js
  plugins/woocommerce-admin/client/two-column-tasks/sectioned-task-list.scss
  plugins/woocommerce-admin/client/two-column-tasks/style.scss
  plugins/woocommerce/assets/images/task_list/payment-illustration.png
  plugins/woocommerce/assets/images/task_list/sales-illustration.png
  plugins/woocommerce/assets/images/task_list/shipping-illustration.png
  plugins/woocommerce/assets/images/task_list/tax-illustration.png
  plugins/woocommerce/changelog/fix-32802_update_copy_and_illustrations
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
Labels: plugin: woocommerce, focus: react admin

#32786 Fix progress header title
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-item.tsx
  plugins/woocommerce/changelog/fix-32720_progress-header-title
Labels: needs: triage feedback, plugin: woocommerce, focus: react admin
