Repository woocommerce/woocommerce, pull requests merged in 2023-04, with the labels that each got.

#37392 Remove inbox notes exceeding characters warning
  packages/js/data/changelog/update-remove-notes-exceeding-characters-warning
  packages/js/data/package.json
  packages/js/data/src/notes/resolvers.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/data

#37501 Fix typo in readme.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, type: community contribution

#37457 Restore reviews (comments) to the product editor
  plugins/woocommerce/changelog/fix-34594-product-editor-reviews
  plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsCommentsOverrides.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsCommentsOverridesTest.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37560 Prevent duplicate alias in orders query SQL
  plugins/woocommerce/changelog/fix-37173
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableFieldQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: focus: custom order tables [team:Proton], plugin: woocommerce

#37479 Use SelectTree component in Category field
  packages/js/components/changelog/update-migrate-category-field
  packages/js/components/src/experimental-select-tree-control/test/select-tree.test.tsx
  packages/js/product-editor/changelog/update-migrate-category-field
  packages/js/product-editor/src/components/details-categories-field/category-field-item.tsx
  packages/js/product-editor/src/components/details-categories-field/category-field.tsx
  packages/js/product-editor/src/components/details-categories-field/create-category-modal.tsx
  packages/js/product-editor/src/components/details-categories-field/details-categories-field.tsx
  packages/js/product-editor/src/components/details-categories-field/test/category-field.test.tsx
  packages/js/product-editor/src/components/details-categories-field/use-category-search.ts
Labels: package: @woocommerce/components

#37562 update select all to checkbox in menu editor
  plugins/woocommerce/changelog/fix-37090-menu-select-all
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#37545 Add sort order for migration script.
  plugins/woocommerce/changelog/hpos-add_sort
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce

#37569 Do not attempt to cache orders during order creation
  plugins/woocommerce/changelog/fix-order-cache-order-type
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
Labels: plugin: woocommerce

#37558 Change variations dropdown visibility
  plugins/woocommerce/changelog/add-37148_change_variations_dropdown_visibility
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37345 Show tooltip in Save attributes button instead of using title attribute
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/update-save-attributes-tooltip
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes.js
  plugins/woocommerce/client/legacy/js/jquery-tiptip/jquery.tipTip.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-attributes.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37582 Adding charge sales tax field to product block editor template
  plugins/woocommerce/changelog/add-charge-sales-tax-37396
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37339 Register product editor blocks server-side
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/update-37241-block-registration
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37565 Change default order to ‘date DESC’ in orders list table
  plugins/woocommerce/changelog/fix-36498
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables [team:Proton], plugin: woocommerce

#37307 Enable WebP images in WooCommerce
  plugins/woocommerce/changelog/pr-37307
  plugins/woocommerce/includes/wc-rest-functions.php
Labels: plugin: woocommerce, type: community contribution

#37617 Remove double checking for woocommerce_tax_display_cart filter
  plugins/woocommerce/changelog/pr-36885
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
Labels: plugin: woocommerce

#37595 Make migration more strict by removing IGNORE.
  plugins/woocommerce/changelog/fix-stricter_migration
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
Labels: plugin: woocommerce

#37483 Beta Tester: Update WCA Test Helper Features list
  plugins/woocommerce-beta-tester/changelog/update-test-helper-features-list
  plugins/woocommerce-beta-tester/src/features/index.js
Labels: type: enhancement, plugin: woocommerce beta tester

#37495 Beta Tester: Update WCA Test Helper option modal to show full option name
  plugins/woocommerce-beta-tester/changelog/fix-test-helper-option-modal
  plugins/woocommerce-beta-tester/src/index.scss
  plugins/woocommerce-beta-tester/src/options/OptionEditor.js
  plugins/woocommerce-beta-tester/src/options/index.js
  plugins/woocommerce-beta-tester/src/options/option-modal.js
Labels: type: enhancement, plugin: woocommerce beta tester

#37527 Add different confirmation message when attribute is used in a variation
  plugins/woocommerce/changelog/update-confirm-remove-attr
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#37641 Fix issue that breaks the WooCommerce Home Page when Gutenberg 15.5 is active
  packages/js/data/changelog/fix-gutengerg15-5-update-issues
  packages/js/data/src/onboarding/with-onboarding-hydration.tsx
  packages/js/data/src/settings/index.ts
  packages/js/data/src/settings/with-settings-hydration.tsx
  plugins/woocommerce-admin/client/homescreen/index.tsx
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce/changelog/fix-gutengerg15-5-update-issues
Labels: type: bug, priority: critical, plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#37632 Change link all variations label
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-product-new.test.js
  plugins/woocommerce/changelog/tweak-variations-label
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: package: @woocommerce/e2e-core-tests, plugin: woocommerce

#37567 Create schedule sale pricing block
  packages/js/product-editor/changelog/add-37394
  packages/js/product-editor/package.json
  packages/js/product-editor/src/blocks/schedule-sale/block.json
  packages/js/product-editor/src/blocks/schedule-sale/edit.tsx
  packages/js/product-editor/src/blocks/schedule-sale/editor.scss
  packages/js/product-editor/src/blocks/schedule-sale/index.ts
  packages/js/product-editor/src/blocks/schedule-sale/types.ts
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/constants.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-37394
  plugins/woocommerce/includes/class-wc-post-types.php
  pnpm-lock.yaml
Labels: plugin: woocommerce

#37585 Add track inventory field to inventory section
  packages/js/product-editor/changelog/add-37400
  packages/js/product-editor/src/blocks/track-inventory/block.json
  packages/js/product-editor/src/blocks/track-inventory/edit.tsx
  packages/js/product-editor/src/blocks/track-inventory/editor.scss
  packages/js/product-editor/src/blocks/track-inventory/index.ts
  packages/js/product-editor/src/blocks/track-inventory/types.ts
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-37400
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37611 Check min. WP and PHP versions before suggesting plugins
  plugins/woocommerce/changelog/update-16525-check-php-version-for-extensions
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/EvaluateExtension.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#36987 FlexSlider uses Web Animations API for "slide" instead of $.animate()
  plugins/woocommerce/changelog/flexslider-css3-transitions
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
Labels: plugin: woocommerce, type: community contribution

#37485 Dev - Allow to filter wc_help_tip output
  plugins/woocommerce/changelog/fix-36543
  plugins/woocommerce/includes/wc-core-functions.php
Labels: plugin: woocommerce, type: community contribution

#37639 Fix TT2 styles and typography in the single product's attributes table
  plugins/woocommerce/changelog/fix-37636-attributes-table
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
Labels: plugin: woocommerce

#37620 Item controls for attribute creation are always visible
  plugins/woocommerce/changelog/dev-37159_item_controls_for_attribute_always_visible
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
Labels: plugin: woocommerce

#37680 e2e: Reset variable product tour after running variable product tests
  plugins/woocommerce/changelog/update-e2e-reset-variable-product-tour
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: type: enhancement, plugin: woocommerce, focus: product management [team:Mothra], focus: e2e tests [team:Solaris]

#37607 Add Tracks events to variations tab
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/utils.ts
  plugins/woocommerce/changelog/add-37150_tracks_events_to_variations_tab
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
Labels: type: enhancement, plugin: woocommerce, focus: react admin [team:Ghidorah]

#37689 Getting started: install pnpm@7 until we've sorted out upgrading it
  README.md
Labels: type: documentation, tool: monorepo infrastructure

#37614 e2e Tweak flakey can create product, attributes and variations test
  plugins/woocommerce/changelog/update-e2e-variation-generation
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37546 Updated task progress header title
  plugins/woocommerce-admin/client/task-lists/progress-title/default-progress-title.tsx
  plugins/woocommerce/changelog/patch-1
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], type: community contribution

#37655 Fix invalid return callback ref warning
  packages/js/experimental/changelog/fix-37654-invalid-return-callback-ref
  packages/js/experimental/src/inbox-note/test/inbox-note.tsx
  packages/js/experimental/src/inbox-note/test/use-callback-on-link-click.tsx
  packages/js/experimental/src/inbox-note/use-callback-on-link-click.ts
Labels: package: @woocommerce/experimental

#37621 Replacing rest_namespace modification with middleware due to blocks issues
  packages/js/product-editor/changelog/fix-rest-namespace-blocks-37619
  packages/js/product-editor/package.json
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/product-apifetch-middleware.ts
  plugins/woocommerce-admin/client/products/hooks/use-product-entity-record.ts
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce/changelog/fix-rest-namespace-blocks-37619
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37594 Remove unique constraint from order_key to prevent empty key conflict.
  plugins/woocommerce/changelog/fix-order_key_migration
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
Labels: plugin: woocommerce

#37714 Fix for the e2e variable product test
  plugins/woocommerce/changelog/e2e-dismiss-tour-product-variations
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37667 WC_Data: Add method `delete_matched_meta_data`
  plugins/woocommerce/changelog/fix-37650-delete-meta-data
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/tests/legacy/unit-tests/crud/data.php
Labels: plugin: woocommerce

#37623 Add inventory section and SKU blocks
  packages/js/product-editor/changelog/add-inventory-sku-block-37399
  packages/js/product-editor/src/blocks/inventory-sku/block.json
  packages/js/product-editor/src/blocks/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/inventory-sku/index.ts
  packages/js/product-editor/src/blocks/inventory-sku/style.scss
  packages/js/product-editor/src/components/details-name-block/edit.tsx
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-inventory-sku-block-37399
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37587 Add support for defining WP, WC & PHP version for e2e & api tests
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/add-e2e-tests-wp-version-support
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/README.md
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/bin/update-wp-env.php
  plugins/woocommerce/tests/wp-cli.yml
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37347 Add a category for product editor blocks
  plugins/woocommerce/changelog/fix-37200
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37685 Lock the product block editor template root
  plugins/woocommerce/changelog/fix-37657
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37694 Check min. WP and PHP versions before suggesting plugins
  plugins/woocommerce/changelog/update-16525-check-php-version-for-extensions
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/EvaluateExtension.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37693 Delete shipping zone count cache in Shipping Task
  plugins/woocommerce/changelog/update-37690-shipping-task-is-not-marked-as-completed
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37713 Remove section re running tests under PHP 8
  plugins/woocommerce/changelog/update-test-docs-php-8
  plugins/woocommerce/tests/README.md
Labels: plugin: woocommerce

#37712 Add ChatGPT integration and ChatGPT API key settings in Advanced > Features
  plugins/woocommerce/changelog/add-settings-config
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#37718 Exclude empty attributes in count for wcadmin_product_update Tracks event
  plugins/woocommerce/changelog/fix-empty-attributes-tracking
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: type: bug, plugin: woocommerce, focus: product management [team:Mothra]

#37646 Adding inventory advanced section with radio and text fields
  packages/js/product-editor/changelog/add-inventory-advanced-37401
  packages/js/product-editor/src/blocks/checkbox/block.json
  packages/js/product-editor/src/blocks/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/checkbox/editor.scss
  packages/js/product-editor/src/blocks/checkbox/index.ts
  packages/js/product-editor/src/blocks/conditional/block.json
  packages/js/product-editor/src/blocks/conditional/edit.tsx
  packages/js/product-editor/src/blocks/conditional/index.ts
  packages/js/product-editor/src/blocks/inventory-email/block.json
  packages/js/product-editor/src/blocks/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/inventory-email/index.ts
  packages/js/product-editor/src/blocks/inventory-email/style.scss
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/components/radio/editor.scss
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-inventory-advanced-37401
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37716 Add button and form to interact with chatGPT
  plugins/woocommerce/changelog/try-add_button_and_form_to_interact_with_chatgpt
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#37676 Use first meta value instead of last to be consistent with WP_Post.
  plugins/woocommerce/changelog/fix-37660
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostMetaToOrderMetaMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
Labels: plugin: woocommerce

#37735 Create "generate_product_description" endpoint
  plugins/woocommerce/client/legacy/js/admin/meta-boxes.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#37465 Enable linting with phpcs-changed locally
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/update-phpcs-changed
  plugins/woocommerce/composer.json
  plugins/woocommerce/package.json
Labels: plugin: woocommerce

#37742 Removed `example.org` Hardcoding From Tests
  plugins/woocommerce/changelog/fix-phpunit-hardcoded-url
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/cart/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-crud-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/page-functions/class-wc-tests-page-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/payment-gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/payment-gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/util/conditional-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/admin-notes.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-accounts-test.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-page-test.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsCommentsOverridesTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsListTableTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsTest.php
Labels: plugin: woocommerce

#37576 Add `--verbose` support to HPOS verify DB command
  plugins/woocommerce/changelog/fix-order_count
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#37746 Fix typo in a function comment.
  plugins/woocommerce/changelog/fix-typo-in-regenerate_report_data-doc
  plugins/woocommerce/src/Admin/ReportsSync.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], type: community contribution

#37671 Remove theme step from onboarding wizard
  packages/js/admin-e2e-tests/changelog/update-remove-obw-theme-step
  packages/js/admin-e2e-tests/src/pages/OnboardingWizard.ts
  packages/js/admin-e2e-tests/src/sections/onboarding/ThemeSection.ts
  packages/js/admin-e2e-tests/src/specs/activate-and-setup/complete-onboarding-wizard.ts
  packages/js/admin-e2e-tests/src/specs/tasks/purchase.ts
  packages/js/data/changelog/update-remove-obw-theme-step
  packages/js/data/src/onboarding/types.ts
  packages/js/e2e-utils/src/components.js
  plugins/woocommerce-admin/client/dashboard/utils.js
  plugins/woocommerce-admin/client/profile-wizard/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/preview.js
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/theme/uploader.js
  plugins/woocommerce/changelog/update-remove-obw-theme-step
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: package: @woocommerce/e2e-utils, plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/admin-e2e-tests, package: @woocommerce/data, focus: e2e tests [team:Solaris]

#37583 Solved issue of Ellipsis menu overlaps on small screen
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.scss
  plugins/woocommerce/changelog/fix-37517-fix-ellipsis-menu-overlaps
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], type: community contribution

#37332 Added a woocommerce_disable_api_access_log filter.
  plugins/woocommerce/changelog/add-disable-access-log-filter
  plugins/woocommerce/includes/class-wc-rest-authentication.php
Labels: plugin: woocommerce, type: community contribution

#37749 Update ChatGPT POC design
  plugins/woocommerce/assets/images/icons/accordion-expanded-tip-up.svg
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#37755 Fix Visual and Text tabs when the "Write it for me" form is shown
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
Labels: plugin: woocommerce

#37733 Split the `can create product, attributes and variations, edit variations and delete variations` E2E test into smaller tests
  plugins/woocommerce/changelog/e2e-split-variable-product-test
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37675 Fix WP latest-2 version retrieval in the "Smoke test release" workflow.
  plugins/woocommerce/changelog/e2e-fix-wp-l-2-retrieval
  plugins/woocommerce/tests/e2e-pw/utils/wordpress.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris], focus: testing workflows [team:Solaris]

#37624 Add table name methods to OrderUtil
  plugins/woocommerce/changelog/add-hpos-table-name-util
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
Labels: type: enhancement, focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#37754 Get right tinyMCE instance to update response
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
Labels: plugin: woocommerce

#37622 Add tracks events to attributes tab
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/utils.ts
  plugins/woocommerce/changelog/add-37163_add_tracks_events_to_attributes_tab
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
Labels: type: enhancement, plugin: woocommerce, focus: react admin [team:Ghidorah], focus: product management [team:Mothra]

#37645 Rename default placeholder in attribute form
  plugins/woocommerce/changelog/dev-37158_rename_default_placeholder_in_attribute_form
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
Labels: type: enhancement, plugin: woocommerce, focus: product management [team:Mothra]

#37758 ChatGPT POC: wait state
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#37759 Chat GPT POC: voice tone description
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#37763 Add "Rewrite", "Simplify" and "make longer" buttons
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#37764 ChatGPT POC: set default temperature to 1, allow filter override
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#37766 ChatGPT POC: Tweak style of extra action buttons
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#37767 Add Onboarding Heuristics Tracks Event
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce/changelog/add-onboarding-heuristics
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingSetupWizard.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37765 Increment api to allow simplifying and making longer message
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#37769 Performance Improvement for Heuristics Tracks Event
  plugins/woocommerce/changelog/fix-heuristics-perf
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingSetupWizard.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37779 Update trunk stable tag
  plugins/woocommerce/changelog/update-trunk-stable-tag
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#37783 [E2E] Fix `wp-content/upgrade` folder permissions to fix recently failing daily and release tests
  plugins/woocommerce/changelog/e2e-release-fix-upload-test
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris], focus: testing workflows [team:Solaris]

#37772 ChatGPT POC: Fix visual issues
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
Labels: plugin: woocommerce

#37682 Add links to the main project README.md and DEVELOPMENT.md guides.
  .github/CONTRIBUTING.md
  plugins/woocommerce/changelog/update-contributor-notes
Labels: plugin: woocommerce

#37739 skip k6 api order RUD tests on non-existant order when C test fails
  plugins/woocommerce/changelog/fix-k6-api-40X-errors
  plugins/woocommerce/tests/performance/requests/api/orders.js
Labels: plugin: woocommerce, focus: performance tests [team:Solaris]

#37570 Add IframeEditor component to product editor
  packages/js/product-editor/changelog/add-37266
  packages/js/product-editor/package.json
  packages/js/product-editor/src/components/iframe-editor/editor-canvas.tsx
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.scss
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/index.ts
  packages/js/product-editor/src/components/iframe-editor/resizable-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/resize-handle.scss
  packages/js/product-editor/src/components/iframe-editor/resize-handle.tsx
  packages/js/product-editor/src/components/iframe-editor/style.scss
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-37266
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37790 Fix disabled "Save attributes" button when editing a product
  plugins/woocommerce/changelog/fix-disabled_save_attributes_button
  plugins/woocommerce/client/legacy/js/admin/meta-boxes.js
Labels: type: bug, priority: high, plugin: woocommerce

#37514 Replace hardcoded notices with the correct wp_print_notice function
  plugins/woocommerce/changelog/fix-remove-hardcoded-notices
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-my-account.php
  plugins/woocommerce/includes/wc-notice-functions.php
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/checkout/form-pay.php
  plugins/woocommerce/templates/checkout/payment.php
  plugins/woocommerce/templates/loop/no-products-found.php
  plugins/woocommerce/templates/myaccount/downloads.php
  plugins/woocommerce/templates/myaccount/form-add-payment-method.php
  plugins/woocommerce/templates/myaccount/orders.php
  plugins/woocommerce/templates/myaccount/payment-methods.php
  plugins/woocommerce/templates/order/order-details.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/single-product.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37738 Re-add woocommerce_after_product_attribute_settings hook
  plugins/woocommerce/changelog/fix-readd-action-hook
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
Labels: plugin: woocommerce

#37792 Increase PHPUnit Test Environment Resiliency
  plugins/woocommerce/changelog/fix-env-specific-phpunit-tests
  plugins/woocommerce/tests/legacy/unit-tests/core/template-cache.php
  plugins/woocommerce/tests/legacy/unit-tests/log/log-handler-email.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
Labels: plugin: woocommerce

#36869 Update/34885 category field in product editor
  packages/js/components/changelog/update-34885_category_field_in_product_editor_select_control
  packages/js/components/changelog/update-34885_category_field_in_product_editor_tree_changes
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/tree-select-control/index.js
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/all-category-list.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/category-add-new.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/category-handlers.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/category-metabox.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/popular-category-list.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/style.scss
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/update-34885_category_field_in_product_editor
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-categories.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/src/Admin/Features/AsyncProductEditorCategoryField/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/components

#37818 Update WC Blocks to 10.0.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.0.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#37819 Fix broken link to WSL setup instructions
  plugins/woocommerce/changelog/e2e-update-wsl-setup-instructions
  plugins/woocommerce/tests/e2e-pw/README.md
  plugins/woocommerce/tests/e2e-pw/WSL_SETUP_INSTRUCTIONS.md
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37813 Skip the `review-testing-instructions` workflow on PR's from community contributors
  .github/workflows/review-testing-instructions.yml
  plugins/woocommerce/changelog/update-check-external-testing-instructions
Labels: plugin: woocommerce, focus: testing workflows [team:Solaris]

#37816 fix/33389: add `refunded_payment` property in the create refund response
  plugins/woocommerce/changelog/fix-33389
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-order-refunds-v2-controller.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37823 Fix Playwright E2E tests documentation as some steps to set up the local environment and run E2E tests were not accurate
  plugins/woocommerce/changelog/fix-e2e-test-docs
  plugins/woocommerce/tests/e2e-pw/README.md
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37820 Fix/37600 Remove `aria-disabled` from `Update Cart` button
  plugins/woocommerce/changelog/fix-37600
  plugins/woocommerce/client/legacy/js/frontend/cart.js
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37791 Fix checkbox label styling on product page tabs
  plugins/woocommerce/changelog/fix-checkbox-labels
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: type: bug, plugin: woocommerce, focus: product management [team:Mothra]

#37817 Fix/issue 36668: Shows warning only when the variation price is empty
  plugins/woocommerce/changelog/fix-issue-36668
  plugins/woocommerce/includes/admin/wc-admin-functions.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37804 Fix E2E test
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/bin/update-wp-env.php
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
Labels: plugin: woocommerce, focus: performance tests [team:Solaris], focus: e2e tests [team:Solaris]

#37808 fix/35860: Adds missing aria-label and tabindex HTML attributes to the Help tip element.
  plugins/woocommerce/changelog/fix-35860
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/wc-core-functions.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37834 Fix decimal points for SEK, HUF and CZK currencies
  plugins/woocommerce/changelog/fix-decimal-points-for-sek-huf-czk
  plugins/woocommerce/i18n/locale-info.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce, focus: api tests [team:Solaris]

#37827 [HPOS] Fix regression in supporting nested date query arguments
  plugins/woocommerce/changelog/fix-37732
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: plugin: woocommerce

#37760 Add a11y support to collapsible content component
  packages/js/components/changelog/add-37330
  packages/js/components/src/collapsible-content/collapsible-content.tsx
Labels: package: @woocommerce/components

#37859 Ensure the remove icon shows properly on smaller screens when using the Twenty Twenty One theme
  plugins/woocommerce/changelog/fix-32023
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37831 Fix: Use `waitUntil` instead of `waitForLoadState` in page.goto()
  plugins/woocommerce/changelog/fix-36698
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests [team:Solaris], Contributor Day - H1 2023

#37862 Reduce padding within notices for smaller screens in the Twenty Twenty One theme
  plugins/woocommerce/changelog/fix-36027
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37871 Test PR 37862
  plugins/woocommerce/changelog/fix-36027
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
Labels: plugin: woocommerce

#37805 Adding global product block editor styles
  packages/js/product-editor/changelog/update-block-editor-global-styling-37687
  packages/js/product-editor/src/blocks/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/inventory-email/style.scss
  packages/js/product-editor/src/blocks/schedule-sale/editor.scss
  packages/js/product-editor/src/blocks/shipping-dimensions/editor.scss
  packages/js/product-editor/src/blocks/shipping-fee/editor.scss
  packages/js/product-editor/src/blocks/track-inventory/editor.scss
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/details-name-block/style.scss
  packages/js/product-editor/src/components/details-summary-block/style.scss
  packages/js/product-editor/src/components/editor/style.scss
  packages/js/product-editor/src/components/pricing-block/style.scss
  packages/js/product-editor/src/components/section/edit.tsx
  packages/js/product-editor/src/components/section/editor.scss
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/products/product-block-page.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce/changelog/update-block-editor-global-styling-37687
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37840 add/27803 add support for minlength in the template
  plugins/woocommerce/changelog/add-27803
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37780 Update php version requirement in readme to same as main file, 7.3
  plugins/woocommerce/changelog/fix-requires-php-version-7.3
  plugins/woocommerce/readme.txt
Labels: type: task, plugin: woocommerce

#37908 Rewrite the withCurrentUserHydration hook to not dispatch inside useSelect
  packages/js/data/changelog/fix-with-current-user-hydration
  packages/js/data/src/user/with-current-user-hydration.tsx
Labels: package: @woocommerce/data

#37896 Rewrite the withPluginsHydration hook to not dispatch inside useSelect
  packages/js/data/changelog/fix-use-plugins-hydration-hook
  packages/js/data/src/plugins/index.ts
  packages/js/data/src/plugins/with-plugins-hydration.tsx
Labels: package: @woocommerce/data

#37901 Rewrite withNavigationHydration to work with Gutenberg 15.5+
  packages/js/data/changelog/fix-with-navigation-hydration
  packages/js/data/src/navigation/with-navigation-hydration.tsx
Labels: package: @woocommerce/data

#37882 Rewrite the useOptionsHydration hook to not dispatch inside useSelect
  packages/js/data/changelog/fix-dispatch-in-useselect-with-options-hydration
  packages/js/data/src/options/index.ts
  packages/js/data/src/options/test/with-options-hydration.tsx
  packages/js/data/src/options/with-options-hydration.tsx
Labels: package: @woocommerce/data, type: community contribution

#37829 Fix: variations are counted as products in import message of number of products imported
  plugins/woocommerce/changelog/fix-typo-in-regenerate_report_data-doc
  plugins/woocommerce/changelog/number_of_variations_imported
  plugins/woocommerce/client/legacy/js/admin/wc-product-import.js
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/includes/admin/importers/views/html-csv-import-done.php
  plugins/woocommerce/includes/import/abstract-wc-product-importer.php
  plugins/woocommerce/includes/import/class-wc-product-csv-importer.php
  plugins/woocommerce/includes/tracks/events/class-wc-importer-tracking.php
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37295 Add category field block
  packages/js/components/changelog/add-37263_category_field_block
  packages/js/components/src/experimental-select-tree-control/select-tree.scss
  packages/js/product-editor/changelog/add-37263_category_field_block
  packages/js/product-editor/src/blocks/category/block.json
  packages/js/product-editor/src/blocks/category/edit.tsx
  packages/js/product-editor/src/blocks/category/editor.scss
  packages/js/product-editor/src/blocks/category/index.ts
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-37263_category_field_block
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce, package: @woocommerce/components

#37921 Update WooCommerce Blocks package to 9.8.5
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.8.5
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#37922 Update WC Blocks to 10.0.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.0.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#37890 Hide stock status field if stock management is enabled
  plugins/woocommerce/changelog/fix-stock-status-not-hidden
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#37891 Fix wrong file name in error message in `update-wp-env.php`
  plugins/woocommerce/changelog/fix-update-wp-env-error-message
  plugins/woocommerce/tests/e2e-pw/bin/update-wp-env.php
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37770 Record tracks on product edit/update
  packages/js/data/changelog/add-37656
  packages/js/data/src/products/types.ts
  packages/js/product-editor/changelog/add-37656
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/preview-button/preview-button.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/save-draft-button/save-draft-button.tsx
  packages/js/product-editor/src/utils/record-product-event.ts
Labels: package: @woocommerce/data

#37795 Create default pages in store locale language
  plugins/woocommerce/changelog/fix-34420
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-core-functions.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37927 Fix/37785 cash on delivery not showing
  plugins/woocommerce/changelog/fix-37785_cash_on_delivery_not_showing
  plugins/woocommerce/src/Admin/API/Reports/Orders/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37812 Fix bulk sale price update
  plugins/woocommerce/changelog/fix-37681
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37869 Moving section icon svgs to assets folder and loading by URL
  packages/js/product-editor/assets/icons/section_basic.svg
  packages/js/product-editor/assets/icons/section_images.svg
  packages/js/product-editor/assets/icons/section_inventory.svg
  packages/js/product-editor/assets/icons/section_pricing.svg
  packages/js/product-editor/assets/icons/section_shipping.svg
  packages/js/product-editor/changelog/update-product-section-icon-37711
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/update-product-section-icon-37711
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37851 Update current block names to reflect use case and avoid conflicts
  packages/js/product-editor/changelog/add-37704
  packages/js/product-editor/src/blocks/category/block.json
  packages/js/product-editor/src/blocks/category/editor.scss
  packages/js/product-editor/src/blocks/checkbox/block.json
  packages/js/product-editor/src/blocks/collapsible/block.json
  packages/js/product-editor/src/blocks/collapsible/edit.tsx
  packages/js/product-editor/src/blocks/collapsible/index.ts
  packages/js/product-editor/src/blocks/images/block.json
  packages/js/product-editor/src/blocks/images/edit.tsx
  packages/js/product-editor/src/blocks/images/editor.scss
  packages/js/product-editor/src/blocks/images/index.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/inventory-email/block.json
  packages/js/product-editor/src/blocks/inventory-email/editor.scss
  packages/js/product-editor/src/blocks/inventory-email/style.scss
  packages/js/product-editor/src/blocks/inventory-sku/block.json
  packages/js/product-editor/src/blocks/inventory-sku/editor.scss
  packages/js/product-editor/src/blocks/name/block.json
  packages/js/product-editor/src/blocks/name/edit.tsx
  packages/js/product-editor/src/blocks/name/editor.scss
  packages/js/product-editor/src/blocks/name/index.ts
  packages/js/product-editor/src/blocks/pricing/block.json
  packages/js/product-editor/src/blocks/pricing/edit.tsx
  packages/js/product-editor/src/blocks/pricing/editor.scss
  packages/js/product-editor/src/blocks/pricing/index.ts
  packages/js/product-editor/src/blocks/radio/block.json
  packages/js/product-editor/src/blocks/schedule-sale/edit.tsx
  packages/js/product-editor/src/blocks/section/block.json
  packages/js/product-editor/src/blocks/section/edit.tsx
  packages/js/product-editor/src/blocks/section/editor.scss
  packages/js/product-editor/src/blocks/section/index.ts
  packages/js/product-editor/src/blocks/section/types.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/blocks/summary/block.json
  packages/js/product-editor/src/blocks/summary/constants.ts
  packages/js/product-editor/src/blocks/summary/edit.tsx
  packages/js/product-editor/src/blocks/summary/editor.scss
  packages/js/product-editor/src/blocks/summary/index.ts
  packages/js/product-editor/src/blocks/summary/paragraph-rtl-control/index.ts
  packages/js/product-editor/src/blocks/summary/paragraph-rtl-control/paragraph-rtl-control.tsx
  packages/js/product-editor/src/blocks/summary/paragraph-rtl-control/types.ts
  packages/js/product-editor/src/blocks/summary/types.ts
  packages/js/product-editor/src/blocks/tab/block.json
  packages/js/product-editor/src/blocks/tab/edit.tsx
  packages/js/product-editor/src/blocks/tab/editor.scss
  packages/js/product-editor/src/blocks/tab/index.ts
  packages/js/product-editor/src/blocks/tab/tab-button.tsx
  packages/js/product-editor/src/blocks/track-inventory/edit.tsx
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/components/tabs/test/tabs.spec.tsx
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-37704
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37906 Adding Stock status to inventory tab and toggle block
  packages/js/product-editor/changelog/add-stock-status-37884
  packages/js/product-editor/src/blocks/images/edit.tsx
  packages/js/product-editor/src/blocks/images/editor.scss
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/inventory-quantity/block.json
  packages/js/product-editor/src/blocks/inventory-quantity/edit.tsx
  packages/js/product-editor/src/blocks/inventory-quantity/index.ts
  packages/js/product-editor/src/blocks/inventory-quantity/types.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/blocks/toggle/block.json
  packages/js/product-editor/src/blocks/toggle/edit.tsx
  packages/js/product-editor/src/blocks/toggle/index.ts
  packages/js/product-editor/src/blocks/toggle/types.ts
  packages/js/product-editor/src/blocks/track-inventory/editor.scss
  plugins/woocommerce/changelog/add-stock-status-37884
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37628 add: new core profiler scaffolding in xstate
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/UserProfile.tsx
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/add-scaffolding-for-new-core-profiler
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37821 remove unused deasync dependency
  plugins/woocommerce/changelog/dev-remove-deasync-dep
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: type: task, plugin: woocommerce

#37719 Fix URL and assertions in merchant/add-order perf tests
  plugins/woocommerce/changelog/fix-k6-order-id-hpos
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce, focus: performance tests [team:Solaris]

#37907 Analytics: Fix update_registered_customer when invalid user_registered value
  plugins/woocommerce/changelog/2023-04-20-20-32-58-372082
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
Labels: type: bug, priority: critical, plugin: woocommerce, focus: react admin [team:Ghidorah], focus: analytics [team:Mothra]

#37957 Track stock quantity for this product should be disabled when Enable stock management within settings is disabled, and enabled otherwise
  packages/js/product-editor/changelog/add-37888
  packages/js/product-editor/src/blocks/toggle/block.json
  packages/js/product-editor/src/blocks/toggle/edit.tsx
  packages/js/product-editor/src/blocks/toggle/types.ts
  plugins/woocommerce/changelog/add-37888
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#37753 Plugin installer version 2
  plugins/woocommerce/changelog/add-wccom-installer-version-2
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site-installer.php
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site.php
  plugins/woocommerce/includes/wccom-site/installation/class-wc-wccom-site-installation-manager.php
  plugins/woocommerce/includes/wccom-site/installation/class-wc-wccom-site-installation-state-storage.php
  plugins/woocommerce/includes/wccom-site/installation/class-wc-wccom-site-installation-state.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-activate-product.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-download-product.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-get-product-info.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-move-product.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-unpack-product.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/interface-installaton-step.php
  plugins/woocommerce/includes/wccom-site/rest-api/class-wc-rest-wccom-site-installer-error-codes.php
  plugins/woocommerce/includes/wccom-site/rest-api/class-wc-rest-wccom-site-installer-error.php
  plugins/woocommerce/includes/wccom-site/rest-api/class-wc-rest-wccom-site-installer-errors.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller-v2.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
Labels: plugin: woocommerce

#37889 Revert "Change Variations form shown in Variations tab when there are no variations created (#36957)"
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-variations.php
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: plugin: woocommerce

#37945 Manual cherry-pick of 37890 into the `release/7.7`
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#37946 Delete changelog from cherry picked commit from 37890
  plugins/woocommerce/changelog/fix-stock-status-not-hidden
Labels: plugin: woocommerce

#37854 use of page.fill() in variable product e2e tests
  plugins/woocommerce/changelog/tweak-37458
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests [team:Solaris], Contributor Day - H1 2023

#37852 Add the product description block and callbacks for the IframeEditor
  packages/js/product-editor/changelog/add-37771
  packages/js/product-editor/src/blocks/description/block.json
  packages/js/product-editor/src/blocks/description/edit.tsx
  packages/js/product-editor/src/blocks/description/index.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/components/iframe-editor/back-button.scss
  packages/js/product-editor/src/components/iframe-editor/back-button.tsx
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/style.scss
  plugins/woocommerce/changelog/add-37771
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37855 Fix "Out of stock threshold" when filed value is empty - Fix/issue 36960
  plugins/woocommerce/changelog/fix-issue-36960
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/src/Internal/Settings/OptionSanitizer.php
  plugins/woocommerce/tests/legacy/unit-tests/product/class-wc-tests-product.php
  plugins/woocommerce/tests/legacy/unit-tests/product/product-variable.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37853 Change from using a `figure` to using a `div` around the single product image
  plugins/woocommerce/changelog/tweak-37603
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/templates/single-product/product-image.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37916 Fix #36664
  plugins/woocommerce/changelog/pr-37916
  plugins/woocommerce/client/legacy/js/admin/settings-views-html-settings-tax.js
  plugins/woocommerce/includes/admin/settings/views/html-settings-tax.php
Labels: plugin: woocommerce, type: community contribution

#37720 Refactoring LayoutContext and implementing with product editor
  packages/js/admin-layout/changelog/update-layout-context-for-blocks
  packages/js/admin-layout/src/components/LayoutContext/index.ts
  packages/js/admin-layout/src/components/LayoutContext/layout-context.tsx
  packages/js/admin-layout/src/components/index.ts
  packages/js/admin-layout/src/index.ts
  packages/js/customer-effort-score/changelog/update-layout-context-for-blocks
  packages/js/customer-effort-score/src/components/customer-effort-score-modal-container/index.tsx
  packages/js/customer-effort-score/src/store/actions.js
  packages/js/customer-effort-score/src/store/reducer.js
  packages/js/product-editor/changelog/update-layout-context-for-blocks
  packages/js/product-editor/src/components/editor/editor.tsx
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/test/index.js
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/products/fills/more-menu-items/feedback-menu-item.tsx
  plugins/woocommerce-admin/client/shipping/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-shipping-recommendations.tsx
  plugins/woocommerce-admin/client/shipping/test/experimental-woocommerce-services-item.tsx
  plugins/woocommerce-admin/client/tasks/task-list-item.tsx
  plugins/woocommerce-admin/client/tasks/task-list.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list-item.test.tsx
  plugins/woocommerce-admin/client/tasks/test/task-list.test.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce-admin/client/two-column-tasks/test/task-list.test.tsx
  plugins/woocommerce/changelog/update-layout-context-for-blocks
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/customer-effort-score

#37877 Fix/36785 Clear floats after Product Summary in 2023 theme
  plugins/woocommerce/changelog/fix-36785
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
Labels: plugin: woocommerce, type: community contribution

#38006 Update stable tag to 7.6.1
  plugins/woocommerce/changelog/dev-post-release-tasks-7.6.1-update-stable
  plugins/woocommerce/readme.txt
Labels: type: task, plugin: woocommerce

#37970 Update WooCommerce support policy to L-1
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce/changelog/update-woo-L1-support-policy
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#36301 Migrate Rating component to TS
  packages/js/components/changelog/dev-migrate-rating-component-to-ts
  packages/js/components/src/rating/index.js
  packages/js/components/src/rating/index.tsx
  packages/js/components/src/rating/product.tsx
  packages/js/components/src/rating/review.tsx
  packages/js/components/src/rating/stories/index.tsx
  packages/js/components/src/rating/test/__snapshots__/index.tsx.snap
  packages/js/components/src/rating/test/index.tsx
  packages/js/components/typings/index.d.ts
Labels: package: @woocommerce/components

#37741 Add navigation and progress-bar components for the new core profiler
  plugins/woocommerce-admin/client/core-profiler/components/navigation/navigation.scss
  plugins/woocommerce-admin/client/core-profiler/components/navigation/navigation.tsx
  plugins/woocommerce-admin/client/core-profiler/components/navigation/test/index.js
  plugins/woocommerce-admin/client/core-profiler/components/navigation/woologo.tsx
  plugins/woocommerce-admin/client/core-profiler/components/progress-bar/progress-bar.scss
  plugins/woocommerce-admin/client/core-profiler/components/progress-bar/progress-bar.tsx
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce/changelog/add-37741-add-navigation-component-for-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37876 Show correct variations count when generating a single variation
  plugins/woocommerce/changelog/fix-incorrect-variation-count
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce, focus: product management [team:Mothra]

#38026 Update stable tag to 7.6.1
  plugins/woocommerce/changelog/dev-update-stable-7.6.1
  plugins/woocommerce/readme.txt
Labels: type: task, plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data, focus: e2e tests [team:Solaris]

#36405 Migrate Ellipsis Menu component to TS
  packages/js/components/changelog/dev-migrate-ellipsis-menu-to-ts
  packages/js/components/src/ellipsis-menu/index.js
  packages/js/components/src/ellipsis-menu/index.tsx
  packages/js/components/src/ellipsis-menu/menu-item.js
  packages/js/components/src/ellipsis-menu/menu-item.tsx
  packages/js/components/src/ellipsis-menu/menu-title.tsx
  packages/js/components/src/table/index.tsx
Labels: package: @woocommerce/components

#38022 dev: added xstate inspector toggling
  plugins/woocommerce-admin/.eslintrc.js
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/xstate.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-xstate-inspector-toggling
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37983 Remove dot in images description
  plugins/woocommerce/changelog/fix-37954_update_image_description
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#38000 Remove strange block editor highlighting within product block editor
  packages/js/product-editor/changelog/fix-37928_block_editor_highlighting
  packages/js/product-editor/src/blocks/tab/editor.scss
  packages/js/product-editor/src/components/block-editor/style.scss
Labels: plugin: woocommerce, focus: product management [team:Mothra]

#37844 Order is search with the phone number and linked with the user accoun…
  plugins/woocommerce/changelog/add-37844
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37961 Update List price Pricing link on the general tab to navigate to the Pricing tab
  packages/js/product-editor/changelog/add-37931
  packages/js/product-editor/src/blocks/pricing/block.json
  packages/js/product-editor/src/blocks/pricing/edit.tsx
  packages/js/product-editor/src/blocks/pricing/index.ts
  packages/js/product-editor/src/blocks/pricing/types.ts
  plugins/woocommerce/changelog/add-37931
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce
