Repository woocommerce/woocommerce, pull requests merged in 2023-07, with the labels that each got.

#39059 Update CSS styles for core profiler headers
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/update-39040-update-header-styls2
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39070 Cherry pick/39059
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/update-39040-update-header-styls2
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38999 Send $product_name through woocommerce_cart_item_name filter once
  plugins/woocommerce/changelog/issues-38744-duplicate-filter
  plugins/woocommerce/templates/cart/cart.php
  plugins/woocommerce/templates/cart/mini-cart.php
Labels: plugin: woocommerce, type: community contribution

#38961 Replace button text "Proceed" with "Continue" to be more consistent
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/Setup/Configure.js
  plugins/woocommerce-admin/client/task-lists/fills/appearance.js
  plugins/woocommerce-admin/client/task-lists/fills/shipping/index.js
  plugins/woocommerce/changelog/update-replace-proceed-with-continue
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38974 Call marketing extension recommendations API version 1.3 and support Klaviyo in "Installed extensions" card in Marketing page
  plugins/woocommerce-admin/client/marketing/components/product-icon/icons/index.js
  plugins/woocommerce-admin/client/marketing/components/product-icon/icons/library/klaviyo.js
  plugins/woocommerce/assets/images/marketing/klaviyo.png
  plugins/woocommerce/changelog/add-klaviyo-marketing-extension
  plugins/woocommerce/src/Admin/Marketing/InstalledExtensions.php
  plugins/woocommerce/src/Internal/Admin/Marketing/MarketingSpecs.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: marketing [team:Ventures]

#38982 registerCoreBlocks still being called on legacy product page
  packages/js/components/changelog/add-38876
  packages/js/components/src/rich-text-editor/index.ts
  packages/js/components/src/rich-text-editor/rich-text-editor.tsx
Labels: package: @woocommerce/components

#38941 Fix grey background when menu collapsed
  plugins/woocommerce-admin/client/layout/footer/footer.scss
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce/changelog/fix-38887_grey_background_when_menu_collapsed
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38967 Fix undismissable store alert when using language localization
  plugins/woocommerce-admin/client/layout/store-alerts/index.js
  plugins/woocommerce/changelog/fix-undismissable-notice3
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/RemoteInboxNotificationsEngine.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/remote-inbox-notifications-engine.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39049 Fix backward compatibility for AdvancedFilters
  packages/js/components/changelog/fix-39021_createInterpolateElement_compatibility
  packages/js/components/src/advanced-filters/attribute-filter.js
  packages/js/components/src/advanced-filters/date-filter.js
  packages/js/components/src/advanced-filters/index.js
  packages/js/components/src/advanced-filters/number-filter.js
  packages/js/components/src/advanced-filters/search-filter.js
  packages/js/components/src/advanced-filters/select-filter.js
  packages/js/components/src/advanced-filters/test/advanced-filters.test.js
  packages/js/components/src/advanced-filters/test/utils.js
  packages/js/components/src/advanced-filters/utils.js
Labels: package: @woocommerce/components, focus: analytics [team:Mothra]

#39106 Fix "Used for variations" checkbox being disabled on Variable products
  plugins/woocommerce/changelog/fix-disabled-checkbox-variations
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#39027 Console Errors when the New Product Editor is enabled
  plugins/woocommerce/changelog/fix-38969
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39084 E2E: Fix skipping of core profiler in `page-loads.spec.js`
  plugins/woocommerce/changelog/e2e-skip-core-profiler
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39013 E2e: fix order emails
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/e2e-fix-order-emails-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39078 Fixed minimum required PHP version in readme.txt file of future 8.0 version
  plugins/woocommerce/changelog/pr-39078
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, type: community contribution

#38930 Updating product AI features endpoints
  plugins/woo-ai/api/api.php
  plugins/woo-ai/api/product-data-suggestion/class-product-data-suggestion-api.php
  plugins/woo-ai/changelog/update-woo-ai-endpoints-38895
  plugins/woo-ai/includes/completion/class-completion-exception.php
  plugins/woo-ai/includes/completion/class-jetpack-completion-service.php
  plugins/woo-ai/includes/completion/interface-completion-service.php
  plugins/woo-ai/includes/exception/class-woo-ai-exception.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-exception.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-prompt-generator.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-request.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-service.php
  plugins/woo-ai/includes/prompt-formatter/class-json-request-formatter.php
  plugins/woo-ai/includes/prompt-formatter/class-product-attribute-formatter.php
  plugins/woo-ai/includes/prompt-formatter/class-product-category-formatter.php
  plugins/woo-ai/includes/prompt-formatter/interface-prompt-formatter.php
  plugins/woo-ai/src/hooks/useCompletion.ts
  plugins/woo-ai/src/hooks/useProductDataSuggestions.ts
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/utils/index.ts
  plugins/woo-ai/src/utils/productData.ts
  plugins/woo-ai/src/utils/text-completion.ts
  plugins/woo-ai/src/utils/types.ts
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai

#39115 Fix "Used for variations" checkbox being disabled on Variable product…
  plugins/woocommerce/changelog/fix-disabled-checkbox-variations
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#38963 Tourkit: focus the step after opening
  packages/js/components/changelog/fix-isElevated-prop-in-tour-kit
  packages/js/components/changelog/update-tour-kit-auto-focus
  packages/js/components/src/tour-kit/components/step.tsx
Labels: package: @woocommerce/components

#39100 Update `wp-env` to `8.2.0`
  .syncpackrc
  plugins/woo-ai/changelog/dev-update-wp-env-820
  plugins/woo-ai/package.json
  plugins/woocommerce-beta-tester/changelog/dev-update-wp-env-820
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/update-wp-env-820
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, plugin: woocommerce beta tester, focus: e2e tests [team:Solaris], plugin: woo-ai

#39095 E2E: Set up HPOS through `wp option` cli command
  plugins/woocommerce/changelog/e2e-enable-hpos-wp-option
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39136 Clean up after testing `wc_load_cart()`
  plugins/woocommerce/changelog/fix-test-wc-load-cart
  plugins/woocommerce/tests/legacy/unit-tests/util/class-wc-tests-core-functions.php
Labels: plugin: woocommerce

#39053 Closing and opening tags must match.
  plugins/woocommerce/changelog/fix-html-status-report
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: plugin: woocommerce

#39130 Rename "Install plugin" button text to "Install extension" in Marketing page
  plugins/woocommerce-admin/client/marketing/components/PluginCardBody/SmartPluginCardBody.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/DiscoverTools.test.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/PluginsTabPanel.tsx
  plugins/woocommerce/changelog/fix-39103-install-extension-button-text
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: marketing [team:Ventures]

#39111 Support hosts which do not have access to 'DUAL' table
  plugins/woocommerce/changelog/refactor-mysql-dual-table-in-favor-of-real-table
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: plugin: woocommerce

#39144 Update WooCommerce Blocks to 10.6.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.6.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#37842 Fix/ Decrease product total_sales when an order is reversed #23796
  plugins/woocommerce/changelog/fix-issue-23796
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
Labels: needs: tests, plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#39087 Add Klaviyo into default free extensions for onboarding task list
  plugins/woocommerce/assets/images/onboarding/klaviyo.png
  plugins/woocommerce/changelog/add-onboarding-task-klaviyo
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: marketing [team:Ventures]

#39133 Add unit tests to tracks events fired through PHP
  plugins/woocommerce/changelog/dev-tracks-tests
  plugins/woocommerce/tests/php/includes/class-wc-importer-tracking-test.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
  plugins/woocommerce/tests/php/includes/class-wc-products-tracking-test.php
  plugins/woocommerce/tests/php/includes/class-wc-settings-tracking-test.php
Labels: plugin: woocommerce

#39110 Remove accents from country labels to match geo detected country data
  packages/js/onboarding/changelog/fix-38947-geolocation-compare-issue
  packages/js/onboarding/src/utils/countries/index.ts
  packages/js/onboarding/src/utils/countries/tests/utils/index.test.ts
Labels: package: @woocommerce/onboarding

#39108 Core profiler -- fix the gap at the top on iPad and iPad Mini
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/fix-38948-unexpected-gap-on-ipad
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39135 Remove Tiktok from the onboarding plugin suggestion list
  plugins/woocommerce/changelog/update-39134-remove-tiktok-from-plugin-suggestions
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38983 Sync 273
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
  plugins/woocommerce/templates/checkout/form-verify-email.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39150 Incorporate additional product data to generate AI description
  plugins/woo-ai/changelog/feature-ai-description-product-data-38338
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/utils/productData.ts
  plugins/woo-ai/src/utils/types.ts
Labels: plugin: woo-ai, focus: ai

#39165 [HPOS] Add action for order_edit_form_top as a replacement to edit_form_top
  plugins/woocommerce/changelog/add-order_edit_form_action
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39146 Validate shipping rates
  plugins/woocommerce/changelog/fix-27030
  plugins/woocommerce/includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
  plugins/woocommerce/tests/php/includes/shipping/flat-rate/class-wc-shipping-flat-rate-test.php
Labels: plugin: woocommerce

#37050 [HPOS] Synchronize order deletions
  plugins/woocommerce/changelog/add-sync_of_deleted_orders
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableRefundDataStore.php
  plugins/woocommerce/src/Utilities/StringUtil.php
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
  plugins/woocommerce/tests/php/includes/class-wc-order-factory-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-order-data-store-cpt-test.php
  plugins/woocommerce/tests/php/includes/wc-user-functions-test.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/EditLockTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/PageControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/HposTestCase.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableRefundDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
  plugins/woocommerce/tests/php/src/Utilities/StringUtilTest.php
Labels: plugin: woocommerce

#39050 Focus on name field when mounting and update summary field UI
  packages/js/product-editor/changelog/tweak-generaltab
  packages/js/product-editor/src/blocks/name/block.json
  packages/js/product-editor/src/blocks/name/edit.tsx
  packages/js/product-editor/src/blocks/name/types.ts
  packages/js/product-editor/src/blocks/summary/edit.tsx
  plugins/woocommerce/changelog/tweak-generaltab
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39178 Product Editor: Add help menu item to description modal editor
  packages/js/product-editor/changelog/add-product-description-modal-more-menu
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/header-toolbar.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/help-menu-item.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/index.ts
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/tools-menu-group.tsx
Labels: focus: product [team:Mothra], focus: new product ux [team:Mothra]

#39159 E2E: Update locators and force-check in `order-email-receiving` and `order-emails` specs
  plugins/woocommerce/changelog/e2e-fix-order-emails-wp-6.3
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39176 Add directory for snippet docs and include README.md
  docs/snippets/README.md
Labels: type: documentation

#39177 Add snippet for adding content above the login/register form
  docs/snippets/before-login--register-form.md
Labels: type: documentation

#39210 Update product experiment name
  plugins/woocommerce-admin/client/task-lists/fills/products/use-create-product-by-type.ts
  plugins/woocommerce/changelog/update-38624_new_experiment_name
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39196 [HPOS] Backfill to post table only after order has persisted in orders table.
  plugins/woocommerce/changelog/fix-37935
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#39188 Change WooCommerce Payments to WooPayments across the WC Core
  packages/js/admin-e2e-tests/changelog/fix-woocommerce-payments-to-woopayments
  packages/js/admin-e2e-tests/src/constants/taskTitles.ts
  packages/js/admin-e2e-tests/src/specs/activate-and-setup/complete-onboarding-wizard.ts
  packages/js/data/changelog/fix-woocommerce-payments-to-woopayments
  packages/js/data/src/plugins/constants.ts
  packages/js/onboarding/changelog/fix-woocommerce-payments-to-woopayments
  packages/js/onboarding/src/components/WCPayBanner/WCPayBanner.tsx
  packages/js/onboarding/src/components/WCPayBanner/WCPayBannerImage.tsx
  packages/js/onboarding/src/components/WCPayBanner/WCPayBannerImageCut.tsx
  packages/js/onboarding/src/images/wcpay-logo.tsx
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce-admin/client/activity-panel/test/help-panel.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/index.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/UsageModal.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/utils.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/woocommerce-payments.js
  plugins/woocommerce-admin/docs/features/onboarding-tasks.md
  plugins/woocommerce/changelog/add-woopayments-branding-rollout-in-core
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Admin/API/Plugins.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
  plugins/woocommerce/src/Internal/Admin/Notes/PaymentsMoreInfoNeeded.php
  plugins/woocommerce/src/Internal/Admin/Notes/PaymentsRemindMeLater.php
  plugins/woocommerce/src/Internal/Admin/Notes/WooCommercePayments.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/admin-e2e-tests, package: @woocommerce/data, package: @woocommerce/onboarding, focus: e2e tests [team:Solaris]

#39207 Fixes for the WCPay welcome page incentives
  plugins/woocommerce/changelog/fix-wcpay-welcome-page-incentives
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39211 Product Editor: Disable autocomplete on product name field
  packages/js/product-editor/changelog/fix-disable-autocomplete-product-name
  packages/js/product-editor/src/blocks/name/edit.tsx
Labels: type: bug, focus: product [team:Mothra], focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#39199 Product Editor: Add "Copy all content" menu item to description editor modal
  packages/js/product-editor/changelog/add-product-description-modal-copy-content
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/copy-all-content-menu-item.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/tools-menu-group.tsx
Labels: focus: product [team:Mothra], focus: new product ux [team:Mothra]

#39212 Product Editor: Fix description modal editor scrolling
  packages/js/product-editor/changelog/fix-modal-editor-scrolling
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.scss
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
  packages/js/product-editor/src/components/modal-editor/style.scss
Labels: type: bug, focus: product [team:Mothra], focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#39139 E2E: Add update button click, and more assertions to `can add custom product attributes` test
  plugins/woocommerce/changelog/e2e-attributes-more-assertions
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-product-attributes.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39219 Support dynamic prop setting for order subclasses.
  plugins/woocommerce/changelog/fix-37697
  plugins/woocommerce/includes/class-wc-order-refund.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableRefundDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableRefundDataStoreTests.php
Labels: plugin: woocommerce

#39193 Add filter `woocommerce_redirect_order_location` for consistency with posts and HPOS.
  plugins/woocommerce/changelog/fix-36537
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38993 Refresh UX to enable HPOS tables
  plugins/woocommerce/changelog/fix-34975
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostMetaToOrderMetaMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationController.php
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MetaToMetaTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/TableMigrator.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
  plugins/woocommerce/src/Utilities/PluginUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-advanced-test.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39249 Fixed the option name, and minor additional protection of creating order table
  plugins/woocommerce/changelog/fix-option-name
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
Labels: plugin: woocommerce

#39195 Enhancement class-wc-admin-api-keys-table-list.php
  plugins/woocommerce/changelog/fix-39194
  plugins/woocommerce/includes/admin/class-wc-admin-api-keys-table-list.php
Labels: plugin: woocommerce, type: community contribution

#39116 Allow registered React-powered page to specify 'parent path'
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce/changelog/add-override-menu-item-highlight
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39238 add: removed avalara task list item
  plugins/woocommerce-admin/client/task-lists/fills/tax/index.tsx
  plugins/woocommerce/changelog/add-remove-avalara-tax-task
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39259 Revert PR#39146: fix basic flat rate shipping scenario
  plugins/woocommerce/changelog/fix-27030
  plugins/woocommerce/changelog/fix-revert-39146
  plugins/woocommerce/includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
  plugins/woocommerce/tests/php/includes/shipping/flat-rate/class-wc-shipping-flat-rate-test.php
Labels: plugin: woocommerce

#39190 Making completion utilities available in AI package
  .gitignore
  packages/js/ai/.eslintrc.js
  packages/js/ai/.npmrc
  packages/js/ai/README.md
  packages/js/ai/babel.config.js
  packages/js/ai/changelog.md
  packages/js/ai/changelog/update-completion-hooks-39009
  packages/js/ai/composer.json
  packages/js/ai/composer.lock
  packages/js/ai/jest.config.json
  packages/js/ai/package.json
  packages/js/ai/src/hooks/index.ts
  packages/js/ai/src/hooks/useCompletion.ts
  packages/js/ai/src/index.ts
  packages/js/ai/src/style.scss
  packages/js/ai/src/utils/create-extended-error.ts
  packages/js/ai/src/utils/index.ts
  packages/js/ai/src/utils/text-completion.ts
  packages/js/ai/tsconfig-cjs.json
  packages/js/ai/tsconfig.json
  packages/js/ai/webpack.config.js
  plugins/woo-ai/changelog/update-completion-hooks-39009
  plugins/woo-ai/package.json
  plugins/woo-ai/src/hooks/index.ts
  plugins/woo-ai/src/hooks/useProductDataSuggestions.ts
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/utils/index.ts
  plugins/woo-ai/src/utils/types.ts
  pnpm-lock.yaml
Labels: plugin: woo-ai

#38694 Add activation option workaround to trigger `woocommerce_newly_installed` action
  plugins/woocommerce/changelog/fix-38682-newly-installed-hook
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/Admin/Notes/CouponPageMoved.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39278 Update WooCommerce blocks to 10.4.6
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.4.6
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#39203 Link code snippet
  docs/snippets/README.md
Labels: type: documentation

#39155 Fix for free shipping handling of minimum order rule
  plugins/woocommerce/changelog/pr-39155
  plugins/woocommerce/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php
Labels: plugin: woocommerce, type: community contribution

#39301 Restore the woocommerce_variations_added jQuery trigger
  plugins/woocommerce/changelog/fix-variations_added_trigger
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variations.spec.js
Labels: type: bug, focus: product [team:Mothra], plugin: woocommerce, focus: product management [team:Mothra], focus: e2e tests [team:Solaris]

#39280 Add doc for unhooking/removing WooCommerce email notifications snippet.
  docs/snippets/README.md
  docs/snippets/unhook--remove-woocommerce-emails.md
Labels: type: documentation

#39294 Fix Storefront recommendation link and missing image in Marketplace
  plugins/woocommerce/changelog/fix-39292-storefront-recommendation-addons
  plugins/woocommerce/includes/admin/views/html-admin-page-addons.php
Labels: plugin: woocommerce

#39209 Add code snippet to change the number of related products output
  docs/snippets/README.md
  docs/snippets/before-login--register-form.md
  docs/snippets/number-of-products-per-row.md
Labels: type: documentation

#39232 Create the Organization tab
  packages/js/product-editor/changelog/enhancement-38823
  packages/js/product-editor/src/blocks/checkbox/editor.scss
  plugins/woocommerce/changelog/enhancement-38823
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39191 Introduce grace period before asking guests to verify their email address
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/fix-order-confirmation-access
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
  plugins/woocommerce/tests/e2e-pw/bin/filter-setter.php
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/filters.js
  plugins/woocommerce/tests/e2e/docker/initialize.sh
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39321 include post_ID in HPOS order edit screen
  plugins/woocommerce/changelog/fix-39272
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#39302 Shard unit test runs
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce/changelog/dev-shard-unit-tests
  plugins/woocommerce/phpunit.xml
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/class-wc-tests-ces-tracks.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure, focus: unit tests [team:Proton]

#39299 Update WooCommerce Blocks to 10.6.1
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.6.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#39344 Revert "Shard unit test runs"
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce/changelog/dev-shard-unit-tests
  plugins/woocommerce/phpunit.xml
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/class-wc-tests-ces-tracks.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure, focus: unit tests [team:Proton]

#39351 Run all tests on daily run
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/api-run-all-tests-on-daily
  plugins/woocommerce/tests/api-core-tests/global-setup.js
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/orders/orders.test.js
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/shipping/shipping-zones.test.js
  plugins/woocommerce/tests/api-core-tests/tests/system-status/system-status-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/taxes/tax-rates-crud.test.js
Labels: plugin: woocommerce, focus: api tests [team:Solaris]

#39308 E2E: fix flakiness in `analytics-overview.spec.js`
  plugins/woocommerce/changelog/e2e-fix-flaky-analytics-overview
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#39327 Update/39325 typo in core profiler data sharing copy
  plugins/woocommerce-admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce/changelog/update-39325-typo-in-core-profiler-data-sharing-copy
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39382 Setup marketplace React skeleton layout
  plugins/woocommerce-admin/client/marketplace/assets/images/woo-icon.svg
  plugins/woocommerce-admin/client/marketplace/components/content/content.scss
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.scss
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.tsx
  plugins/woocommerce-admin/client/marketplace/components/extensions/extensions.scss
  plugins/woocommerce-admin/client/marketplace/components/extensions/extensions.tsx
  plugins/woocommerce-admin/client/marketplace/components/footer/footer.scss
  plugins/woocommerce-admin/client/marketplace/components/footer/footer.tsx
  plugins/woocommerce-admin/client/marketplace/components/icon-with-text/icon-with-text.scss
  plugins/woocommerce-admin/client/marketplace/components/icon-with-text/icon-with-text.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.scss
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-header/product-list-header.scss
  plugins/woocommerce-admin/client/marketplace/components/product-list-header/product-list-header.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/product-list.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.scss
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/index.tsx
  plugins/woocommerce-admin/client/marketplace/marketplace.scss
  plugins/woocommerce-admin/client/marketplace/stylesheets/_variables.scss
Labels: focus: react admin [team:Ghidorah]

#38931 WC Tracker: Add unit test for plugin feature compatibility data
  plugins/woocommerce/changelog/fix-38720-wc-tracker-unit-test
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
Labels: plugin: woocommerce

#39145 Add new top admin bar to marketplace
  plugins/woocommerce-admin/client/marketplace/components/content/content.scss
  plugins/woocommerce-admin/client/marketplace/components/header-account/header-account.tsx
  plugins/woocommerce-admin/client/marketplace/components/header-search-button/header-search-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/header-search/header-search.tsx
  plugins/woocommerce-admin/client/marketplace/components/header-title/header-title.tsx
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/components/header/header.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce-admin/client/marketplace/index.tsx
  plugins/woocommerce-admin/client/marketplace/marketplace.scss
  plugins/woocommerce-admin/client/marketplace/stylesheets/_variables.scss
Labels: focus: react admin [team:Ghidorah]

#39403 Include postcode in Vietnam address format
  plugins/woocommerce/changelog/fix-39164
  plugins/woocommerce/includes/class-wc-countries.php
Labels: focus: i18n [team:Proton], needs: analysis

#39362 Shard unit test runs
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce/changelog/dev-shard-unit-tests-take-two
  plugins/woocommerce/phpunit.xml
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/class-wc-tests-ces-tracks.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure, focus: unit tests [team:Proton]

#39438 [Product Block Editor] Add post_password parameter to the Woo product REST api
  plugins/woocommerce/changelog/add-post_password_block
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/products.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#39363 Optimize system status tests
  plugins/woocommerce/changelog/dev-optimize-system-status-tests
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/system-status.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/system-status.php
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure, focus: unit tests [team:Proton]

#39348 Removes the "for your state" string from the checkout page if there are no current payment methods available.
  plugins/woocommerce/changelog/payment-methods-for-your-state
  plugins/woocommerce/templates/checkout/payment.php
Labels: plugin: woocommerce

#39464 [Product Block Editor] Add require password block field
  packages/js/product-editor/changelog/add-post_password_block2
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/password/block.json
  packages/js/product-editor/src/blocks/password/edit.tsx
  packages/js/product-editor/src/blocks/password/editor.scss
  packages/js/product-editor/src/blocks/password/index.ts
  packages/js/product-editor/src/blocks/password/types.ts
  packages/js/product-editor/src/blocks/style.scss
  plugins/woocommerce/changelog/add-post_password_block2
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39256 [ Product Block Editor ] Create Variation options block
  packages/js/product-editor/changelog/add-variation-options-block
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/blocks/variation-options/block.json
  packages/js/product-editor/src/blocks/variation-options/edit.tsx
  packages/js/product-editor/src/blocks/variation-options/editor.scss
  packages/js/product-editor/src/blocks/variation-options/index.ts
  packages/js/product-editor/src/blocks/variation-options/types.ts
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/test/attribute-field.spec.tsx
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.tsx
  plugins/woocommerce/changelog/add-variation-options-block
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39451 Use admin theme color for select2
  plugins/woocommerce/changelog/fix-admin-colors-select2
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce, team: SomewhereWarm

#39270 Update task list items to show spinner on selection
  plugins/woocommerce-admin/client/task-lists/fills/import-products/index.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/index.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/stack.scss
  plugins/woocommerce-admin/client/task-lists/fills/products/stack.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/use-create-product-by-type.ts
  plugins/woocommerce-admin/client/task-lists/fills/products/use-product-types-list-items.tsx
  plugins/woocommerce/changelog/update-36510-spinner-in-task-list
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39394 Align checkbox, logo, and title on the plugins page (core profiler)
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce/changelog/update-39138-core-profiler-ui-updates
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39109 Redirect to Jetpack connect page on plugins page skip
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/fix-39039-jetpack-redirect-issue
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39492 Bump WC Blocks to 10.6.2
  plugins/woocommerce/changelog/2023-07-31-15-12-17-220379
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#39250 Limit index length to 191 characters by default, additionally connect HPOS to verify DB tooling.
  plugins/woocommerce/changelog/fix-39051
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
Labels: plugin: woocommerce, needs: internal testing

#39372 Fixes #38757 - pass time values on CSV importer
  plugins/woocommerce/changelog/pr-39372
  plugins/woocommerce/includes/import/class-wc-product-csv-importer.php
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
  plugins/woocommerce/tests/legacy/unit-tests/importer/sample.csv
Labels: plugin: woocommerce, type: community contribution, needs: internal testing
