Repository woocommerce/woocommerce, pull requests merged in 2023-10, with the labels that each got.

#40454 update project labeler workflow configuration labels
  .github/project-pr-labeler.yml
  plugins/woocommerce/changelog/update-project-labeler-labels
Labels: plugin: woocommerce

#40508 Add onboarding theme rest api endpoint stub
  plugins/woocommerce/changelog/add-onboarding-theme-rest-api-endpoint-stub
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-themes.php
Labels: plugin: woocommerce

#40456 Fix Customize Your Store UI bugs
  packages/js/components/changelog/fix-cys-ui-issues
  packages/js/components/src/tour-kit/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-selected-pattern.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-palette-variations/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-pages.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/test/utils.test.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/utils.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/assets/images/loader-assembling-ai-optimized-store.svg
  plugins/woocommerce-admin/client/customize-store/design-with-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce-admin/client/customize-store/style.scss
  plugins/woocommerce/changelog/fix-cys-ui-issues
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, package: @woocommerce/components

#40514 Update Product Editor Handbook
  docs/product-editor-development/README.md
  docs/product-editor-development/common-tasks.md
  packages/js/product-editor/changelog/doc-handbook-1.1
  packages/js/product-editor/src/blocks/README.md
  plugins/woocommerce/changelog/doc-handbook-1.1
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/README.md
Labels: plugin: woocommerce

#40516 Trigger `woocommerce_update_order` even when order has no changes
  plugins/woocommerce/changelog/fix-40511
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#40170 Improve `remove_duplicate_notices` which fixes issue 35005
  plugins/woocommerce/changelog/fix-cart-duplicate-notices
  plugins/woocommerce/client/legacy/js/frontend/cart.js
Labels: plugin: woocommerce, type: community contribution, needs: analysis

#40496 Fix dropdown and list behavior in attributes variation modals
  packages/js/product-editor/changelog/fix-40210_dropdown_and_list_behavior_in_attributes_variation_modals
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
Labels: focus: new product ux, team: Mothra

#40551 Do not override pagination args if `woocommerce_hpos_pre_query` doesn't override query
  plugins/woocommerce/changelog/fix-40548
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#40542 fix: refactored use-network-status
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/utils/react-hooks/test/use-network-status.test.tsx
  plugins/woocommerce-admin/client/utils/react-hooks/use-network-status.tsx
  plugins/woocommerce/changelog/fix-refactor-use-network-status
Labels: plugin: woocommerce

#40486 [Customize Your Store] Switch Theme to TT3
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce/changelog/add-cys-swtich-theme-tt3
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
Labels: plugin: woocommerce

#40533 FIX strtotime(): Passing null to parameter #1 () of type string is deprecated PHP 8
  plugins/woocommerce/changelog/FIX_DEPRECATION_STRTOTIME_NULL_PHP_8
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#40517 Add missing Tracks events to attribute modals
  packages/js/product-editor/changelog/fix-40502_record_events_for_variation_options_modal
  packages/js/product-editor/src/blocks/variation-options/edit.tsx
  packages/js/product-editor/src/blocks/variations/edit.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attributes/attributes.tsx
Labels: type: bug, focus: new product ux, team: Mothra

#40521 Add reusable blocks documentation for remaining blocks
  .markdownlint.json
  packages/js/product-editor/changelog/doc-more-reusable-blocks
  packages/js/product-editor/src/blocks/checkbox/README.md
  packages/js/product-editor/src/blocks/collapsible/README.md
  packages/js/product-editor/src/blocks/conditional/README.md
  packages/js/product-editor/src/blocks/pricing/README.md
  packages/js/product-editor/src/blocks/pricing/block.json
  packages/js/product-editor/src/blocks/pricing/edit.tsx
  packages/js/product-editor/src/blocks/pricing/types.ts
  packages/js/product-editor/src/blocks/radio/README.md
  packages/js/product-editor/src/blocks/taxonomy/README.md
Labels: focus: documentation, team: Mothra

#40557 Fix core editor store available in classic
  plugins/woocommerce/changelog/fix-core-editor-store-in-classic
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
Labels: plugin: woocommerce

#40549 Omit WooCommerce plugin from the list of Woo extensions in Helper
  plugins/woocommerce/changelog/update-helper-skip-woo-af-plugin
  plugins/woocommerce/client/legacy/js/admin/wc-admin-menu.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: needs: developer feedback, plugin: woocommerce

#40562 Marketplace: Fix the Marketplace header being invisible after viewing other WC Admin pages.
  plugins/woocommerce-admin/client/marketplace/components/content/content.scss
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/components/search/search.scss
  plugins/woocommerce-admin/client/marketplace/marketplace.scss
  plugins/woocommerce-admin/client/marketplace/stylesheets/_variables.scss
  plugins/woocommerce/changelog/fix-wccom-18329-unvisible-header
Labels: plugin: woocommerce

#40507 Add docs manifest.
  docs/docs-manifest.json
  plugins/woocommerce/changelog/add-docs-manifest
Labels: plugin: woocommerce

#40553 Remove background, primary_border, secondary_border from the API sche…
  plugins/woocommerce/changelog/update-remove-primary-secondary-border-from-cys-themes-rest-api
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
Labels: plugin: woocommerce

#40570 Add CFE label to cherry-picks via workflow
  .github/workflows/cherry-pick.yml
Labels: tool: monorepo infrastructure

#40584 Prep release/8.2 for 8.2 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40541 [Customize Your Store] Retain unsave changes and save all when users click the "done" button
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/changelog/update-retain-cys-unsave-changes
Labels: plugin: woocommerce

#40333 In-app search filtering
  plugins/woocommerce-admin/client/marketplace/assets/images/no-results-extensions.svg
  plugins/woocommerce-admin/client/marketplace/assets/images/no-results-themes.svg
  plugins/woocommerce-admin/client/marketplace/components/category-selector/category-selector.tsx
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.scss
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.tsx
  plugins/woocommerce-admin/client/marketplace/components/extensions/extensions.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/product-list.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.scss
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/themes/themes.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/add-marketplace-theme-discover-section
  plugins/woocommerce/changelog/update-in-app-multiple-category-filters
  plugins/woocommerce/changelog/update-theme-no-result-style
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40561 fix/cys intro refactor banner
  plugins/woocommerce-admin/client/customize-store/intro/design-change-warning-modal.tsx
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/fix-refactored-cys-banner
Labels: plugin: woocommerce

#40610 Prep release/8.2.0.40 for 8.2.0.40 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40560 [Customize Your Store] Correct activeThemeHasMods conditionals
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce/changelog/fix-active-theme-has-mods-logic
Labels: plugin: woocommerce

#40586 Use fallback color for select2 fields on non WooCommerce pages
  plugins/woocommerce/changelog/fix-admin-select2-fallback-colors
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#40602 Store Customization > Update the Homepage Templates list.
  plugins/woocommerce-admin/client/customize-store/data/homepageTemplates.ts
  plugins/woocommerce/changelog/add-cys-update-the-templates-list
Labels: plugin: woocommerce

#40588 [Customize your store] Fix site preview in transitional screen
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/mshots-image.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/services.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/style.scss
  plugins/woocommerce-admin/client/customize-store/transitional/test/index.test.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/fix-cys-transitional-page
Labels: plugin: woocommerce

#40612 [Customize Your Store] Fix preview opacity style does not reset after saving changes
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/changelog/fix-cys-opacity-issue
Labels: plugin: woocommerce

#40552 Use themes REST API - CYS intro page
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/theme-card.tsx
  plugins/woocommerce-admin/client/customize-store/intro/types.ts
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/update-40536-connect-themes-API-cys-intro
Labels: plugin: woocommerce

#40605 Setup the product editor to support the product variation
  packages/js/product-editor/changelog/add-40573_product_variation_edit_page
  packages/js/product-editor/src/blocks/product-fields/regular-price/block.json
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/summary/block.json
  packages/js/product-editor/src/blocks/product-fields/summary/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/summary/types.ts
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/feedback-bar/feedback-bar.tsx
  packages/js/product-editor/src/components/footer/footer.tsx
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/preview-button/types.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/publish-button/types.ts
  packages/js/product-editor/src/components/header/save-draft-button/save-draft-button.tsx
  packages/js/product-editor/src/components/header/save-draft-button/types.ts
  packages/js/product-editor/src/components/product-mvp-feedback-modal-container/product-mvp-feedback-modal-container.tsx
  packages/js/product-editor/src/utils/product-apifetch-middleware.ts
  packages/js/product-editor/src/utils/record-product-event.ts
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/hooks/use-product-variation-entity-record.ts
  plugins/woocommerce-admin/client/products/layout/product-form-footer.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-header.tsx
  plugins/woocommerce-admin/client/products/layout/product-variation-form-header.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.scss
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-variation-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce/changelog/add-40573_product_variation_edit_page
  plugins/woocommerce/changelog/add-40573_product_variation_edit_page_template
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40535 Add notices about the removal of the Legacy API in WooCommerce 9.0
  plugins/woocommerce/changelog/pr-40535
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
Labels: plugin: woocommerce

#40601 Fix marketplace tab reset state
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/fix-marketplace-tab-reset-state
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40180 A few fixes for API daily test execution
  plugins/woocommerce/changelog/api-minor-fixes-for-api-daily-flakiness
  plugins/woocommerce/tests/api-core-tests/tests/shipping/shipping-zones.test.js
Labels: plugin: woocommerce, focus: api tests

#40433 Add marketplace helper subscriptions API
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/add-marketplace-helper-subscriptions-api
  plugins/woocommerce/includes/admin/helper/class-wc-helper-subscriptions-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40611 [Customize Your Store] Add "Inter + Inter" font pairing & Set default font pairing
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/constants.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/fontPairings.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce/changelog/update-set-default-font-pairing
Labels: plugin: woocommerce

#40617 Marketplace search view more button & categories 2
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/extensions/extensions.scss
  plugins/woocommerce-admin/client/marketplace/components/extensions/extensions.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/components/products/products.scss
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.scss
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/themes/themes.scss
  plugins/woocommerce-admin/client/marketplace/components/themes/themes.tsx
  plugins/woocommerce/changelog/add-wccom-18213-marketplace-view-more-button
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40457 Tweak flaky meta data save test
  plugins/woocommerce/changelog/tweak-flaky-meta-data-save-test
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: order [team:Proton], plugin: woocommerce, focus: unit tests

#40444 Marketplace: hide search input when viewing my subscriptions page on a smaller viewport
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/components/likert-scale/likert-scale.tsx
  plugins/woocommerce-admin/client/marketplace/index.tsx
Labels: focus: react marketplace, Team: Fire

#40619 Create woocommerce/product-number-field block
  packages/js/product-editor/changelog/add-number-block
  packages/js/product-editor/src/blocks/generic/number/README.md
  packages/js/product-editor/src/blocks/generic/number/block.json
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/blocks/generic/number/editor.scss
  packages/js/product-editor/src/blocks/generic/number/index.ts
  packages/js/product-editor/src/blocks/generic/number/types.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/hooks/use-number-input-props.ts
  plugins/woocommerce/changelog/add-number-block
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
Labels: plugin: woocommerce

#40423 Check first element on the page
  plugins/woocommerce/changelog/e2e-fix-for-flaky-page-load
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#40636 Add Inventory tab to the single variation page
  packages/js/product-editor/changelog/add-40594
  packages/js/product-editor/src/blocks/generic/radio/block.json
  packages/js/product-editor/src/blocks/generic/radio/edit.tsx
  packages/js/product-editor/src/blocks/generic/toggle/block.json
  packages/js/product-editor/src/blocks/generic/toggle/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/block.json
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/block.json
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  plugins/woocommerce/changelog/add-40594
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40637 Add Shipping tab to the single variation page
  packages/js/product-editor/changelog/add-40595
  packages/js/product-editor/src/blocks/product-fields/shipping-class/block.json
  packages/js/product-editor/src/blocks/product-fields/shipping-class/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/block.json
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/edit.tsx
  plugins/woocommerce/changelog/add-40595
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40641 Prep release/8.2 for 8.2 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40505 Add basic UI and functionality for background removal to the Media Library
  packages/js/ai/changelog/add-remove-background-ui-40440
  packages/js/ai/src/hooks/useBackgroundRemoval.test.ts
  packages/js/ai/src/hooks/useBackgroundRemoval.ts
  plugins/woo-ai/changelog/add-remove-background-ui-40440
  plugins/woo-ai/src/image-background-removal/background-removal-link.tsx
  plugins/woo-ai/src/image-background-removal/constants.ts
  plugins/woo-ai/src/image-background-removal/image-background-removal.scss
  plugins/woo-ai/src/image-background-removal/image_utils/getCurrentAttachmentDetails.ts
  plugins/woo-ai/src/image-background-removal/image_utils/index.ts
  plugins/woo-ai/src/image-background-removal/image_utils/uploadImageToLibrary.ts
  plugins/woo-ai/src/image-background-removal/index.tsx
  plugins/woo-ai/src/index.js
  plugins/woo-ai/src/index.scss
Labels: plugin: woo-ai

#40554 Shipping Settings: Tweak Post Codes UI styles
  plugins/woocommerce/changelog/update-shipping-post-codes-UI
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#40623 Skip combining translation files without comment.reference
  plugins/woocommerce/changelog/update-38191-fix-german-translation-error-on-reactivation
  plugins/woocommerce/src/Internal/Admin/Translations.php
Labels: plugin: woocommerce

#40639 Separate PHP and JS Unit Tests
  packages/js/ai/changelog/update-separate-php-and-js-tests
  packages/js/ai/package.json
  packages/js/api/changelog/update-separate-php-and-js-tests
  packages/js/api/package.json
  packages/js/block-templates/changelog/update-separate-php-and-js-tests
  packages/js/block-templates/package.json
  packages/js/components/changelog/update-separate-php-and-js-tests
  packages/js/components/package.json
  packages/js/csv-export/changelog/update-separate-php-and-js-tests
  packages/js/csv-export/package.json
  packages/js/currency/changelog/update-separate-php-and-js-tests
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/update-separate-php-and-js-tests
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/update-separate-php-and-js-tests
  packages/js/data/package.json
  packages/js/date/changelog/update-separate-php-and-js-tests
  packages/js/date/package.json
  packages/js/experimental/changelog/update-separate-php-and-js-tests
  packages/js/experimental/package.json
  packages/js/explat/changelog/update-separate-php-and-js-tests
  packages/js/explat/package.json
  packages/js/integrate-plugin/changelog/update-separate-php-and-js-tests
  packages/js/integrate-plugin/package.json
  packages/js/navigation/changelog/update-separate-php-and-js-tests
  packages/js/navigation/package.json
  packages/js/number/changelog/update-separate-php-and-js-tests
  packages/js/number/package.json
  packages/js/onboarding/changelog/update-separate-php-and-js-tests
  packages/js/onboarding/package.json
  packages/js/product-editor/changelog/update-separate-php-and-js-tests
  packages/js/product-editor/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-docs/package.json
  plugins/woocommerce/changelog/update-separate-php-and-js-tests
  plugins/woocommerce/package.json
  tools/code-analyzer/package.json
  tools/monorepo-utils/package.json
Labels: package: @woocommerce/api, plugin: woocommerce, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding

#40499 Add Marketplace license management endpoints
  plugins/woocommerce/changelog/add-marketplace-helper-endpoints
  plugins/woocommerce/includes/admin/helper/class-wc-helper-subscriptions-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40650 Update recommended themes for Customize Your Store
  plugins/woocommerce-admin/client/customize-store/intro/color-palettes.tsx
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce-admin/client/customize-store/intro/theme-card.tsx
  plugins/woocommerce-admin/client/customize-store/intro/types.ts
  plugins/woocommerce/changelog/update-cys-intro-themes
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-themes.php
Labels: focus: onboarding wizard [team:Ghidorah], plugin: woocommerce

#40256 Remove OBW end to end tests
  plugins/woocommerce/changelog/e2e-remove-obw-tests
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
Labels: plugin: woocommerce, focus: e2e tests

#35743 Updated possibly_schedule_import function
  plugins/woocommerce/changelog/pr-35743
  plugins/woocommerce/src/Internal/Admin/Schedulers/OrdersScheduler.php
Labels: plugin: woocommerce, type: community contribution

#40556 Template API: Expression evaluation package
  packages/js/expression-evaluation/.eslintrc.js
  packages/js/expression-evaluation/.npmrc
  packages/js/expression-evaluation/CHANGELOG.md
  packages/js/expression-evaluation/README.md
  packages/js/expression-evaluation/babel.config.js
  packages/js/expression-evaluation/changelog/add-expression-evaluation-package
  packages/js/expression-evaluation/composer.json
  packages/js/expression-evaluation/composer.lock
  packages/js/expression-evaluation/jest.config.json
  packages/js/expression-evaluation/package.json
  packages/js/expression-evaluation/src/index.ts
  packages/js/expression-evaluation/src/parser.ts
  packages/js/expression-evaluation/src/test/index.test.ts
  packages/js/expression-evaluation/tsconfig-cjs.json
  packages/js/expression-evaluation/tsconfig.json
  pnpm-lock.yaml
Labels: focus: product [team:Mothra], category: extensibility, focus: product management, focus: new product ux

#40607 Add track events for the background removal UI
  plugins/woo-ai/src/image-background-removal/background-removal-link.tsx
  plugins/woo-ai/src/image-background-removal/image-background-removal.scss
Labels: plugin: woo-ai, focus: ai, team: Singularity

#40622 Adding feedback snackbar for background removal feature
  packages/js/ai/changelog/add-background-removal-feedback-39730
  packages/js/ai/src/hooks/useBackgroundRemoval.test.ts
  plugins/woo-ai/changelog/add-background-removal-feedback-39730
  plugins/woo-ai/src/image-background-removal/background-removal-link.tsx
Labels: plugin: woo-ai

#40559 Update mobile app onboarding modal to focus on app installation
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/MobileAppInstallationInfo.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/JetpackAlreadyInstalledPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/MobileAppInstallPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/style.scss
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/update-mobile-onboarding-task
  pnpm-lock.yaml
Labels: plugin: woocommerce, needs: internal testing

#40642 Add pricing tab for variations
  packages/js/components/changelog/add-40593_pricing_tab_for_variations
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/product-editor/changelog/add-40593_pricing_tab_for_variations
  packages/js/product-editor/src/blocks/product-fields/regular-price/block.json
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/types.ts
  packages/js/product-editor/src/blocks/product-fields/sale-price/block.json
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/schedule-sale/block.json
  packages/js/product-editor/src/blocks/product-fields/schedule-sale/edit.tsx
  plugins/woocommerce/changelog/add-40593_pricing_tab_for_variations
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce, package: @woocommerce/components

#40658 Add 'Declaring compatibility with the product editor' section to Handbook
  docs/product-editor-development/README.md
Labels: focus: documentation, focus: new product ux, team: Mothra

#40633 Complete General tab for Single Variation page
  packages/js/components/changelog/add-40592
  packages/js/components/src/image-gallery/image-gallery-item.tsx
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
  packages/js/components/src/image-gallery/image-gallery.tsx
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/product-editor/changelog/add-40592
  packages/js/product-editor/src/blocks/generic/checkbox/README.md
  packages/js/product-editor/src/blocks/generic/checkbox/block.json
  packages/js/product-editor/src/blocks/generic/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/generic/checkbox/types.ts
  packages/js/product-editor/src/blocks/product-fields/images/block.json
  packages/js/product-editor/src/blocks/product-fields/images/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/images/editor.scss
  plugins/woocommerce-admin/client/products/fields/single-image-field/single-image-field.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/images-field-gallery.tsx
  plugins/woocommerce/changelog/add-40592
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, package: @woocommerce/components, focus: new product ux, team: Mothra

#40673 Prep release/8.2 for 8.2 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40682 Update stable tag to 8.2.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#40687 E2E action scheduler runner
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/add-e2e-action-scheduler-runner
  plugins/woocommerce/tests/e2e-pw/bin/process-waiting-actions.php
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
  plugins/woocommerce/tests/e2e/docker/initialize.sh
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#40668 Fix CYS font pairing issues
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/font-families-loader.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/preview.tsx
  plugins/woocommerce/changelog/fix-cys-font-family-issues
Labels: plugin: woocommerce

#40670 fix: cys design with ai duplicate color validation
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/colorChoices.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/test/colorChoices.test.ts
  plugins/woocommerce/changelog/fix-cys-design-with-ai-duplicate-color-palette-validation
Labels: plugin: woocommerce

#40528 Ensure HPOS is disabled if ENABLE_HPOS is set to '0'
  .github/workflows/non-cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/e2e-ensure-HPOS-is-disabled-when-required
  plugins/woocommerce/tests/api-core-tests/global-setup.js
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce, focus: api tests, focus: e2e tests

#40665 Mark Set up WooPayments task completed only after onboarding is complete
  plugins/woocommerce/changelog/fix-wcpay-7119-payments-task-completed-after-onboarding
  plugins/woocommerce/src/Admin/API/Plugins.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: plugin: woocommerce

#40526 [Downloads] File list
  packages/js/components/changelog/add-35142
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/product-editor/changelog/add-35142
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/block.json
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/editor.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/upload-image.tsx
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-35142
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, package: @woocommerce/components, focus: new product ux, team: Mothra

#40567 Add virtual and downloads related controls to variation management flows
  packages/js/product-editor/changelog/add-40250
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/downloads-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/index.ts
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/styles.scss
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/types.ts
  packages/js/product-editor/src/components/variations-table/shipping-menu-item/shipping-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/variation-actions-menu/test/variation-actions-menu.test.tsx
  packages/js/product-editor/src/components/variations-table/variation-actions-menu/variation-actions-menu.tsx
  packages/js/product-editor/src/components/variations-table/variations-actions-menu/variations-actions-menu.tsx
Labels: focus: product [team:Mothra], focus: new product ux, team: Mothra

#40606 Change the blocks editor header to support variations
  packages/js/product-editor/changelog/dev-40590_change_header_to_support_variation
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/style.scss
  plugins/woocommerce/changelog/dev-40590_change_header_to_support_variation
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: plugin: woocommerce

#40694 Remove retry button when offline in CYS
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce/changelog/fix-cys-remove-retry-button-offline
Labels: plugin: woocommerce

#40695 Add `woocommerce_admin_customize_store_completed_theme_id` option to allowed list
  plugins/woocommerce/changelog/fix-cys-theme-id-option
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce

#40701 Improve CYS font/color performance
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/global-styles-variation-iframe/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/iframe.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/variation-container.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-color-palette.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce/changelog/update-improve-font-color-performance
Labels: plugin: woocommerce

#40697 [Customize Your Store] Preload ai loader image
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce/changelog/fix-preload-ai-loader-image
Labels: plugin: woocommerce

#40696 Replace font ai suggestion with pre-defined rule-based approach
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/constants.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/design-with-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce/changelog/update-cys-font-paring
Labels: plugin: woocommerce

#40630 Add My subscriptions install
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/activation-toggle.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/functions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/install.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/table-rows.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/subscriptions-context.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/includes/admin/helper/class-wc-helper-subscriptions-api.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40492 Cache Marketplace search results
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/add-wccom-18292-cache-marketplace-results
Labels: plugin: woocommerce

#40698 [Customize Your Store] Add look and feel tags to color choices
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/colorChoices.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/test/colorChoices.test.ts
  plugins/woocommerce/changelog/update-cys-color-ai
Labels: plugin: woocommerce

#40710 Update WooCommerce Blocks to 11.3.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.3.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#40729 Prevent global attribute terms from being automatically selected
  plugins/woocommerce/changelog/issue-40712
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#40728 Add wca test tool to reset Customize Your Store task
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/tools/reset-cys.php
  plugins/woocommerce-beta-tester/changelog/add-reset-cys-tool
  plugins/woocommerce-beta-tester/src/tools/commands/index.js
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
Labels: plugin: woocommerce beta tester

#40713 Add variation switcher in footer for variation page
  packages/js/product-editor/changelog/add-40591_variation_switching
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/footer/footer.tsx
  packages/js/product-editor/src/components/footer/index.ts
  packages/js/product-editor/src/components/footer/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/variation-switcher-footer/index.ts
  packages/js/product-editor/src/components/variation-switcher-footer/switcher-loading-placeholder.tsx
  packages/js/product-editor/src/components/variation-switcher-footer/variation-image-placeholder.tsx
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.scss
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.tsx
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/hooks/useIsScrolled.js
  plugins/woocommerce-admin/client/layout/footer/footer.scss
  plugins/woocommerce-admin/client/layout/footer/footer.tsx
  plugins/woocommerce-admin/client/navigation/components/header/index.js
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce/changelog/add-40591_variation_switching
Labels: plugin: woocommerce

#40730 Hide "Preview" icon when order is locked
  plugins/woocommerce/changelog/fix-40510
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#40672 Add Delete variation item to the editor actions menu
  packages/js/data/changelog/add-40598
  packages/js/data/src/product-variations/types.ts
  packages/js/product-editor/changelog/add-40598
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/remove-confirmation-modal.scss
  packages/js/product-editor/src/components/attribute-control/remove-confirmation-modal.tsx
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/remove-confirmation-modal/index.ts
  packages/js/product-editor/src/components/remove-confirmation-modal/remove-confirmation-modal.tsx
  packages/js/product-editor/src/components/remove-confirmation-modal/style.scss
  packages/js/product-editor/src/components/remove-confirmation-modal/types.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menu/test/variation-actions-menu.test.tsx
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/products/fills/more-menu-items/delete-variation-menu-item.tsx
  plugins/woocommerce-admin/client/products/fills/more-menu-items/index.ts
  plugins/woocommerce-admin/client/products/fills/product-block-editor-fills.tsx
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce/changelog/add-40598
Labels: plugin: woocommerce, package: @woocommerce/data, focus: new product ux, team: Mothra

#40725 Make cys intro page responsive
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/colorChoices.ts
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/update-make-cys-intro-responsive
Labels: plugin: woocommerce

#40742 Fix cys ai font choosing state
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce/changelog/fix-cys-ai-state-machine
Labels: plugin: woocommerce

#40661 Fix Marketplace theme labels and links
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce/changelog/fix-my-dashboard-theme-fixes
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40717 Update Action Scheduler to 3.6.4
  plugins/woocommerce/changelog/update-action-scheduler-3.6.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#40731 Add new file dropdown menu
  packages/js/product-editor/changelog/add-40493
  packages/js/product-editor/src/blocks/product-fields/downloads/downloads-menu/downloads-menu.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/downloads-menu/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/downloads-menu/style.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/downloads-menu/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/editor.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/insert-url-menu-item/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/insert-url-menu-item/insert-url-menu-item.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/insert-url-menu-item/style.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/insert-url-menu-item/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/media-library-menu-item/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/media-library-menu-item/media-library-menu-item.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/media-library-menu-item/style.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/media-library-menu-item/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/upload-files-menu-item/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/upload-files-menu-item/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/upload-files-menu-item/upload-files-menu-item.tsx
  plugins/woocommerce/changelog/add-40493
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/RedirectionController.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40720 Migrate testing instructions doc from wiki
  docs/quality-and-best-practices/writing-high-quality-testing-instructions.md
  plugins/woocommerce/changelog/docs-migrate-testing-instructions-from-wiki
Labels: focus: documentation, plugin: woocommerce, team: Solaris

#40735 [Virtual] ‘Needs shipping’ toggle
  packages/js/product-editor/changelog/add-35145
  packages/js/product-editor/src/blocks/product-fields/shipping-class/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/edit.tsx
  plugins/woocommerce/changelog/add-35145
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40709 Add edit button to each variation to redirect to the single variation page
  packages/js/product-editor/changelog/add-40708
  packages/js/product-editor/config/block-entry-points.js
  packages/js/product-editor/src/blocks/generic/tab/index.ts
  packages/js/product-editor/src/blocks/product-fields/catalog-visibility/block.json
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/block.json
  packages/js/product-editor/src/blocks/product-fields/notice/index.ts
  packages/js/product-editor/src/blocks/product-fields/shipping-class/block.json
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/index.ts
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce/changelog/add-40708
Labels: focus: new product ux, team: Mothra

#40781 Doc: Migrate naming conventions
  docs/quality-and-best-practices/css-sass-naming-conventions.md
  docs/quality-and-best-practices/naming-conventions.md
  plugins/woocommerce/changelog/add-doc-naming-conventions
Labels: focus: documentation, plugin: woocommerce

#40780 Variation switching when deleting
  packages/js/product-editor/changelog/update-40591_validation
  packages/js/product-editor/changelog/update-40591_variation_switching_when_deleting
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.tsx
  packages/js/product-editor/src/contexts/validation-context/types.ts
  packages/js/product-editor/src/contexts/validation-context/use-validation.ts
  packages/js/product-editor/src/contexts/validation-context/validation-context.ts
  packages/js/product-editor/src/contexts/validation-context/validation-provider.tsx
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-variation-switcher.ts
  plugins/woocommerce-admin/client/products/fills/more-menu-items/delete-variation-menu-item.tsx
  plugins/woocommerce/changelog/update-40591_variation_switching_when_deleting
Labels: plugin: woocommerce

#40666 Fix order confirmation page styles
  plugins/woocommerce/changelog/fix-order-confirmation-page-styles
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
Labels: focus: checkout [team:Proton], plugin: woocommerce

#40679 Display notice at the top single variations
  packages/js/product-editor/changelog/dev-40597_display_notice_at_top_single_variation
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/block.json
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/editor.scss
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/index.ts
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/types.ts
  packages/js/product-editor/src/blocks/product-fields/notice-has-variations/block.json
  packages/js/product-editor/src/blocks/product-fields/notice-has-variations/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/notice-has-variations/editor.scss
  packages/js/product-editor/src/blocks/product-fields/notice-has-variations/index.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/notice/notice.tsx
  packages/js/product-editor/src/components/notice/style.scss
  packages/js/product-editor/src/constants.ts
  packages/js/product-editor/src/hooks/use-confirm-unsaved-product-changes.ts
  packages/js/product-editor/src/hooks/use-notice/index.ts
  packages/js/product-editor/src/hooks/use-notice/use-notice.ts
  packages/js/product-editor/src/hooks/use-product-edits.ts
  plugins/woocommerce/changelog/dev-40597_display_notice_at_top_single_variation
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/RedirectionController.php
Labels: plugin: woocommerce, focus: new product ux

#40811 Update stable tag to 8.2.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#40681 Remove onboarding.js from e2e tests
  plugins/woocommerce/changelog/follow-up-remove-obw-e2e
  plugins/woocommerce/tests/e2e-pw/utils/onboarding.js
Labels: focus: e2e tests, team: Solaris

#40646 Skip assembler-hub e2e tests on daily run
  plugins/woocommerce/changelog/e2e-temp-fix-for-daily-e2e
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler-hub.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#40756 Revisit docs for HPOS
  docs/high-performance-order-storage/README.md
  docs/high-performance-order-storage/enable-hpos.md
  docs/high-performance-order-storage/hpos-overview.md
  docs/high-performance-order-storage/readme.md
Labels: focus: documentation

#40751 Add documentation for Adding a Section to a Settings Tab
  docs/extension-development/adding-a-section-to-a-settings-tab.md
Labels: focus: documentation

#40755 Add documentation for Using custom attributes in menus and taxonomy archives
  docs/extension-development/using-custom-attributes-in-menus.md
Labels: focus: documentation

#40754 Add documentation for WooCommerce Class Reference
  docs/extension-development/class-reference.md
Labels: focus: documentation

#40785 Migration of e2e core critical flows
  docs/quality-and-best-practices/core-critical-flows.md
  plugins/woocommerce/changelog/docs-migrate-core-critical-flows-from-wiki
Labels: focus: documentation, plugin: woocommerce, team: Solaris, status: analysis complete

#40786 Release test workflow: support WooAF draft releases
  .github/workflows/scripts/download-release-zip.js
  .github/workflows/scripts/validate-release-version.js
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/changelog/dev-release-test-wooaf-drafts
  plugins/woocommerce/tests/api-core-tests/ci-release.global-setup.js
  plugins/woocommerce/tests/api-core-tests/ci-release.playwright.config.js
  plugins/woocommerce/tests/api-core-tests/utils/plugin-utils.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
Labels: plugin: woocommerce, focus: api tests, focus: e2e tests

#40826 Manually prepare packages for release
  packages/js/components/CHANGELOG.md
  packages/js/components/changelog/add-35142
  packages/js/components/changelog/add-39126_add_tags_to_product_editor
  packages/js/components/changelog/add-39499
  packages/js/components/changelog/add-39709-ai-wizard-business-info-step
  packages/js/components/changelog/add-39875
  packages/js/components/changelog/add-40592
  packages/js/components/changelog/add-40593_pricing_tab_for_variations
  packages/js/components/changelog/add-customize-store-assembler-hub-onboarding
  packages/js/components/changelog/add-phone-number-input-component
  packages/js/components/changelog/add-progress-bar-component
  packages/js/components/changelog/dev-38345_allow_select_multiple_items
  packages/js/components/changelog/dev-include-eslint-annotations
  packages/js/components/changelog/dev-sync-pnpm
  packages/js/components/changelog/dev-upgrade-storybook-6-5-17
  packages/js/components/changelog/dev-upgrade-ts-5
  packages/js/components/changelog/fix-38954_set_as_cover
  packages/js/components/changelog/fix-39456_select_attribute_values_name
  packages/js/components/changelog/fix-39544_description_styling
  packages/js/components/changelog/fix-39810_categories_dropdown_visibility
  packages/js/components/changelog/fix-39825_new_category_name_persists
  packages/js/components/changelog/fix-40171
  packages/js/components/changelog/fix-admin-colors-use-theme
  packages/js/components/changelog/fix-category-escape-characters
  packages/js/components/changelog/fix-cys-ui-issues
  packages/js/components/changelog/fix-dropdown-css-conflict
  packages/js/components/changelog/fix-missed-lints
  packages/js/components/changelog/fix-taxonomy-special-characters
  packages/js/components/changelog/fix-tree-select-control-individuallySelectParent
  packages/js/components/changelog/fix-tree-select-control-individuallySelectParent-includeParent
  packages/js/components/changelog/update-39885_variation_pagination_table
  packages/js/components/changelog/update-component-readme
  packages/js/components/changelog/update-separate-php-and-js-tests
  packages/js/components/package.json
Labels: package: @woocommerce/components

#40830 Update WooCommerce Blocks to 11.3.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-to-11.3.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#40667 Marketplace search improvements
  plugins/woocommerce-admin/client/marketplace/components/constants.ts
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.scss
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.scss
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/fix-marketplace-search-feedback
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40624 Fix badge size issue when a number larger than 3 digits is used
  packages/js/components/changelog/fix-34015-badge-design-fix
  packages/js/components/src/badge/style.scss
Labels: package: @woocommerce/components

#40807 Add Downloads section to the single variation page
  packages/js/product-editor/changelog/add-40804
  packages/js/product-editor/src/blocks/product-fields/downloads/block.json
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/index.ts
  plugins/woocommerce/changelog/add-40804
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40833 [Woo AI] Add background removal feature for the legacy product editor images
  packages/js/ai/changelog/add-background-removal-feedback-39730
  packages/js/ai/changelog/add-image-bkgrnd-removal-hook
  packages/js/ai/changelog/add-remove-background-ui-40440
  packages/js/ai/src/hooks/index.ts
  packages/js/ai/src/hooks/useBackgroundRemoval.test.ts
  packages/js/ai/src/hooks/useBackgroundRemoval.ts
  packages/js/ai/src/index.ts
  packages/js/ai/src/utils/index.ts
  packages/js/ai/src/utils/requestJetpackToken.ts
  packages/js/ai/src/utils/text-completion.ts
  plugins/woo-ai/changelog/add-background-removal-add-image-count-40743
  plugins/woo-ai/changelog/add-background-removal-feedback-39730
  plugins/woo-ai/changelog/add-background-removal-spotlight-40495
  plugins/woo-ai/changelog/add-remove-background-ui-40440
  plugins/woo-ai/src/components/index.ts
  plugins/woo-ai/src/components/info-modal/index.ts
  plugins/woo-ai/src/components/info-modal/info-modal.scss
  plugins/woo-ai/src/components/info-modal/info-modal.tsx
  plugins/woo-ai/src/components/tour-spotlight/tour-spotlight.scss
  plugins/woo-ai/src/components/tour-spotlight/tour-spotlight.tsx
  plugins/woo-ai/src/image-background-removal/background-removal-link.tsx
  plugins/woo-ai/src/image-background-removal/constants.ts
  plugins/woo-ai/src/image-background-removal/image-background-removal.scss
  plugins/woo-ai/src/image-background-removal/image_utils/getCurrentAttachmentDetails.ts
  plugins/woo-ai/src/image-background-removal/image_utils/index.ts
  plugins/woo-ai/src/image-background-removal/image_utils/uploadImageToLibrary.ts
  plugins/woo-ai/src/image-background-removal/index.tsx
  plugins/woo-ai/src/index.js
  plugins/woo-ai/src/index.scss
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/utils/productData.ts
Labels: plugin: woo-ai

#40824 Add active theme label to intro screen
  plugins/woocommerce/changelog/add-40794-active-theme-label
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
Labels: plugin: woocommerce

#40744 Add docs “Translating WooCommerce”
  docs/localization-translation/README.md
Labels: focus: documentation

#40829 fix: cys design-with-api loader should not loop
  packages/js/onboarding/changelog/add-loader-component-shouldloop-prop
  packages/js/onboarding/src/components/Loader/Loader.tsx
  packages/js/onboarding/src/components/Loader/stories/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce/changelog/fix-cys-design-with-ai-loader-loop
Labels: plugin: woocommerce, package: @woocommerce/onboarding

#40613 Update mobile app onboarding modal to be two steps
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/MobileAppInstallationInfo.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/MobileAppLoginInfo.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/MobileAppLoginStepper.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/MobileAppLoginStepperPage.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/pages/index.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/style.scss
  plugins/woocommerce/changelog/wcios-mobile-onboarding-task-iteration-2
Labels: plugin: woocommerce

#40827 fix: cys intro screen parallelised network calls
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce/changelog/fix-cys-intro-parallelise-network-calls
Labels: plugin: woocommerce

#40318 Update order status to cancelled
  plugins/woocommerce/changelog/e2e-update-order-to-cancelled
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#40843 Hide header on variation edit page and remove use of `:has()` CSS selector
  packages/js/product-editor/changelog/fix-40842_hide_header
  packages/js/product-editor/src/components/block-editor/style.scss
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce/changelog/fix-40842_hide_header
Labels: plugin: woocommerce

#40733 fix/40319: Fatal error in class-wc-helper-updater.php when transient parameter is null.
  plugins/woocommerce/changelog/fix-40319
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
Labels: plugin: woocommerce, type: community contribution

#40809 Manage single variation as virtual
  packages/js/product-editor/changelog/add-40805
  packages/js/product-editor/src/blocks/generic/toggle/block.json
  packages/js/product-editor/src/blocks/generic/toggle/edit.tsx
  packages/js/product-editor/src/blocks/generic/toggle/types.ts
  plugins/woocommerce/changelog/add-40805
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40797 [Downloads] Manage limits
  packages/js/product-editor/changelog/add-35144
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/editor.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/manage-download-limits-modal/index.ts
  packages/js/product-editor/src/components/manage-download-limits-modal/manage-download-limits-modal.tsx
  packages/js/product-editor/src/components/manage-download-limits-modal/style.scss
  packages/js/product-editor/src/components/manage-download-limits-modal/types.ts
  packages/js/product-editor/src/style.scss
Labels: focus: new product ux, team: Mothra

#40529 Update/breadcrumb for accessibility
  plugins/woocommerce/changelog/breadcrumb-accessibility
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, type: community contribution

#40847 Product Shipping: New class should automatically create a slug
  packages/js/product-editor/changelog/fix-40844
  packages/js/product-editor/src/blocks/product-fields/shipping-class/edit.tsx
  packages/js/product-editor/src/components/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
Labels: focus: new product ux

#39948 Do not remove "sale date from" when the sale is still active
  changelog/39948-patch-4
  plugins/woocommerce/changelog/39948-patch-4
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce, type: community contribution

#40849 Add @woocommerce/block-templates dependencies
  packages/js/block-templates/changelog/add-block-templates-dependencies
  packages/js/block-templates/package.json
  pnpm-lock.yaml
Labels: category: extensibility

#40853 Fix duplicate description when editing the product summary
  plugins/woocommerce/changelog/fix-40852
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40858 Prep release/8.3.0.20 for 8.3.0.20 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40686 Leverage Script API strategy feature to defer front end scripts in WP >=6.3
  plugins/woocommerce/changelog/add-script-strategy
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: plugin: woocommerce, type: community contribution, status: analysis complete, impact: high

#40320 Add test to bulk update order status
  plugins/woocommerce/changelog/e2e-bulk-update-order-status
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-bulk-edit.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#40745 Remove references to Sofort
  packages/js/onboarding/changelog/fix-deprecate-sofort
  packages/js/onboarding/src/components/WCPayBanner/Icons/index.js
  packages/js/onboarding/src/components/WCPayBanner/Icons/sofort.js
  packages/js/onboarding/src/components/WCPayBanner/PaymentMethodsIcons.tsx
  packages/js/onboarding/src/components/WCPayBenefits/WCPayBenefits.tsx
  plugins/woocommerce-admin/client/payments-welcome/payment-methods.tsx
  plugins/woocommerce/changelog/fix-deprecate-sofort
Labels: plugin: woocommerce, package: @woocommerce/onboarding

#40275 Add order instance argument to woocommerce_get_cancel_order_url filter hook
  plugins/woocommerce/changelog/pr-40275
  plugins/woocommerce/includes/class-wc-order.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#40870 Woo AI - Version 0.5.0 Release.
  plugins/woo-ai/CHANGELOG.md
  plugins/woo-ai/changelog/add-background-removal-add-image-count-40743
  plugins/woo-ai/changelog/add-background-removal-feedback-39730
  plugins/woo-ai/changelog/add-background-removal-spotlight-40495
  plugins/woo-ai/changelog/add-remove-background-ui-40440
  plugins/woo-ai/composer.json
  plugins/woo-ai/package.json
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai

#40599 Add edit downloads modal
  packages/js/product-editor/changelog/dev-35143_downloads_edit_file_modal
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/edit-downloads-modal.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/style.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/union-icon.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/editor.scss
Labels: focus: new product ux, team: Mothra

#40722 Template API: Conditional visibility support
  packages/js/block-templates/changelog/add-template-api-conditional-visibility
  packages/js/block-templates/src/utils/register-woo-block-type.ts
  packages/js/block-templates/src/utils/test/register-woo-block-type.test.ts
  packages/js/product-editor/changelog/add-template-api-conditional-visibility
  packages/js/product-editor/src/blocks/generic/checkbox/index.ts
  packages/js/product-editor/src/blocks/generic/collapsible/index.ts
  packages/js/product-editor/src/blocks/generic/conditional/block.json
  packages/js/product-editor/src/blocks/generic/conditional/edit.tsx
  packages/js/product-editor/src/blocks/generic/conditional/index.ts
  packages/js/product-editor/src/blocks/generic/number/index.ts
  packages/js/product-editor/src/blocks/generic/pricing/index.ts
  packages/js/product-editor/src/blocks/generic/radio/index.ts
  packages/js/product-editor/src/blocks/generic/section/index.ts
  packages/js/product-editor/src/blocks/generic/tab/block.json
  packages/js/product-editor/src/blocks/generic/tab/edit.tsx
  packages/js/product-editor/src/blocks/generic/tab/index.ts
  packages/js/product-editor/src/blocks/generic/taxonomy/index.ts
  packages/js/product-editor/src/blocks/generic/text/index.ts
  packages/js/product-editor/src/blocks/generic/toggle/index.ts
  packages/js/product-editor/src/blocks/product-fields/attributes/index.ts
  packages/js/product-editor/src/blocks/product-fields/catalog-visibility/index.ts
  packages/js/product-editor/src/blocks/product-fields/description/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/index.ts
  packages/js/product-editor/src/blocks/product-fields/images/index.ts
  packages/js/product-editor/src/blocks/product-fields/inventory-email/index.ts
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/index.ts
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/index.ts
  packages/js/product-editor/src/blocks/product-fields/name/index.ts
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/index.ts
  packages/js/product-editor/src/blocks/product-fields/notice-has-variations/index.ts
  packages/js/product-editor/src/blocks/product-fields/password/index.ts
  packages/js/product-editor/src/blocks/product-fields/regular-price/index.ts
  packages/js/product-editor/src/blocks/product-fields/sale-price/index.ts
  packages/js/product-editor/src/blocks/product-fields/schedule-sale/index.ts
  packages/js/product-editor/src/blocks/product-fields/shipping-class/index.ts
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/index.ts
  packages/js/product-editor/src/blocks/product-fields/summary/index.ts
  packages/js/product-editor/src/blocks/product-fields/tag/index.ts
  packages/js/product-editor/src/blocks/product-fields/variation-items/index.ts
  packages/js/product-editor/src/blocks/product-fields/variation-options/index.ts
  packages/js/product-editor/src/blocks/product-fields/variations/index.ts
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/types.ts
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/init-block.ts
  packages/js/product-editor/src/utils/register-product-editor-block-type.ts
  plugins/woocommerce/changelog/add-template-api-conditional-visibility
  plugins/woocommerce/src/Admin/BlockTemplates/BlockInterface.php
  plugins/woocommerce/src/Admin/BlockTemplates/README.md
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/BlockFormattedTemplateTrait.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/BlockTest.php
Labels: focus: product [team:Mothra], plugin: woocommerce, category: extensibility, focus: product management, focus: new product ux

#40838 Shipping Settings: Remove zone method defaults
  plugins/woocommerce/changelog/fix-shipping-settings-new-method-defaults
  plugins/woocommerce/includes/admin/settings/views/html-admin-page-shipping-zone-methods.php
  plugins/woocommerce/includes/shipping/flat-rate/includes/settings-flat-rate.php
  plugins/woocommerce/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php
  plugins/woocommerce/includes/shipping/local-pickup/class-wc-shipping-local-pickup.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/shipping-zones.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/shipping-zones.php
Labels: plugin: woocommerce, focus: e2e tests

#40572 Refactored Linting & Unit Testing Workflows
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-code-sniff.yml
  .github/workflows/pr-lint-js.yml
  .github/workflows/pr-test-js.yml
  .github/workflows/pr-unit-test-other-plugins.yml
  .github/workflows/pr-unit-tests.yml
  .github/workflows/prime-cache.yml
  .github/workflows/scripts/build-ci-matrix.js
  .github/workflows/scripts/parse-wp-version.js
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/refactor-unit-test-workflow
  plugins/woocommerce/composer.json
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#40882 Expand CI WooCommerce Matrix
  .github/workflows/scripts/build-ci-matrix.js
  plugins/woocommerce/changelog/fix-ci-branch-matrix
  plugins/woocommerce/package.json
Labels: plugin: woocommerce

#40820 Support free products in My Subscriptions
  plugins/woocommerce/changelog/add-org-support-to-subscriptions
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#40856 Hide `Switch to draft` button on single variation page
  packages/js/product-editor/changelog/fix-40845_header_buttons
  packages/js/product-editor/src/components/header/header.tsx
Labels: focus: new product ux, team: Mothra

#40828 Create React component wrappers for the checkbox and number blocks
  packages/js/product-editor/changelog/tweak-block-wrappers
  packages/js/product-editor/src/blocks/generic/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/components/checkbox-control/checkbox-control.tsx
  packages/js/product-editor/src/components/checkbox-control/index.tsx
  packages/js/product-editor/src/components/checkbox-control/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/number-control/index.tsx
  packages/js/product-editor/src/components/number-control/number-control.tsx
  packages/js/product-editor/src/hooks/index.ts
Labels: focus: new product ux, team: Mothra

#40883 Template API: Deprecate woocommerce/conditional block
  packages/js/product-editor/changelog/update-template-api-deprecate-conditional-block
  packages/js/product-editor/src/blocks/generic/README.md
  packages/js/product-editor/src/blocks/generic/conditional/README.md
  packages/js/product-editor/src/blocks/generic/conditional/edit.tsx
  plugins/woocommerce/changelog/update-template-api-deprecate-conditional-block
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/README.md
Labels: focus: documentation, plugin: woocommerce, category: extensibility, focus: new product ux

#40863 Display TOS above WooCommerce Shipping & Tax installation buttons
  plugins/woocommerce-admin/client/task-lists/components/terms-of-service.js
  plugins/woocommerce-admin/client/task-lists/fills/experimental-shipping-recommendation/components/plugins.tsx
  plugins/woocommerce-admin/client/task-lists/fills/shipping/index.js
  plugins/woocommerce-admin/client/task-lists/fills/tax/woocommerce-tax/card.tsx
  plugins/woocommerce-admin/client/task-lists/fills/tax/woocommerce-tax/plugins.tsx
  plugins/woocommerce-admin/client/task-lists/task-lists.scss
  plugins/woocommerce/changelog/tweak-tos-above-connect
Labels: type: enhancement, priority: low, focus: tax [team:Proton], focus: shipping [team:Escargot], plugin: woocommerce, focus: home screen, team: Escargot

#40901 Update variation switcher logic to not loop
  packages/js/product-editor/changelog/update-40896_variation_switcher
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.scss
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.tsx
  packages/js/product-editor/src/hooks/use-variation-switcher.ts
  plugins/woocommerce-admin/client/products/fills/more-menu-items/delete-variation-menu-item.tsx
  plugins/woocommerce/changelog/update-40896_variation_switcher
Labels: plugin: woocommerce

#40900 Delete variations from the single page does not reflect correctly in the parent product
  packages/js/product-editor/changelog/fix-40897
  packages/js/product-editor/src/hooks/use-variation-switcher.ts
Labels: focus: new product ux, team: Mothra

#40861 CYS: Remove spotlight tour modal shadow
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/fix-40819-spotlight-tour-styling
Labels: plugin: woocommerce

#40862 Add subscriptions empty state
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/marketplace.scss
  plugins/woocommerce/changelog/add-subscriptions-empty-state
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#40910 Create product-external-affiliate feature flag
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-40872
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40918 Only initializing background removal with jetpack connection present
  plugins/woo-ai/changelog/update-background-removal-elligibility-40917
  plugins/woo-ai/src/image-background-removal/index.tsx
  plugins/woo-ai/src/index.js
  plugins/woo-ai/src/index.ts
  plugins/woo-ai/src/product-category/index.ts
  plugins/woo-ai/src/product-description/index.ts
  plugins/woo-ai/src/product-name/index.ts
  plugins/woo-ai/src/product-short-description/index.ts
  plugins/woo-ai/src/utils/index.ts
  plugins/woo-ai/src/utils/renderWrappedComponent.tsx
Labels: plugin: woo-ai

#40939 Add a loading state for the new product form
  packages/js/product-editor/changelog/add-40248
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/product-page-skeleton/index.ts
  packages/js/product-editor/src/components/product-page-skeleton/product-page-skeleton.tsx
  packages/js/product-editor/src/components/product-page-skeleton/styles.scss
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/layout/style.scss
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce/changelog/add-40248
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#40949 Update default visibility settings for variation options
  packages/js/product-editor/changelog/add-40198
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.scss
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.tsx
  packages/js/product-editor/src/icons/seen-icon.tsx
Labels: focus: new product ux, team: Mothra

#40885 Show error message when single variation price is empty
  packages/js/product-editor/changelog/fix-40845_single_variation_price_notice
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/utils/get-product-error-message.ts
Labels: focus: new product ux, team: Mothra
