Repository woocommerce/woocommerce, pull requests merged in 2023-02, with the labels that each got.

#36434 Add tree-control expand/collapse on click the expander button or by a custom logic
  packages/js/components/changelog/add-35851-tree-control-expander
  packages/js/components/src/experimental-tree-control/hooks/use-expander.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree.ts
  packages/js/components/src/experimental-tree-control/stories/index.tsx
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/components/src/experimental-tree-control/types.ts
Labels: package: @woocommerce/components, focus: product management, focus: new product ux

#36714 Revert/36294
  packages/js/components/changelog/canceled
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-status-filters.test.js
  plugins/woocommerce/changelog/revert-36294
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/includes/class-wc-regenerate-images.php
  plugins/woocommerce/includes/emails/class-wc-email-cancelled-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-on-hold-order.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/api-core-tests/tests/reports/reports-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: package: @woocommerce/e2e-core-tests, plugin: woocommerce, package: @woocommerce/components

#36494 update smoke test daily workflow to run api tests first
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/update-smoke-test-daily-workflow-run-API-tests-first-before-E2E-tests
Labels: plugin: woocommerce

#36491 add Iran country to get_country_locale method
  plugins/woocommerce/changelog/add-default_address_fields_for_Iran
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce, type: community contribution

#36563 Remove variations logic from the AttributeControl component
  plugins/woocommerce-admin/client/products/fields/attribute-control/attribute-control.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/edit-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-control/edit-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/new-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-control/new-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/test/new-attribute-modal.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/utils.ts
  plugins/woocommerce-admin/client/products/fields/attribute-list-item/add-attribute-list-item.tsx
  plugins/woocommerce-admin/client/products/fields/attributes/attributes.tsx
  plugins/woocommerce-admin/client/products/fields/options/options.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-attributes.ts
  plugins/woocommerce/changelog/update-36515
Labels: plugin: woocommerce, focus: react admin

#36741 Mark purchase tests skipped temporarily
  plugins/woocommerce/changelog/update-mark-purchase-tests-skipped
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/purchase.php
Labels: plugin: woocommerce

#36736 Bump WooCommerce blocks package to 9.4.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.4.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#28908 clean up sass variable names
  plugins/woocommerce/changelog/enhancement-clean-up-of-sass-vars
  plugins/woocommerce/client/legacy/css/_mixins.scss
Labels: needs: triage feedback, plugin: woocommerce, type: community contribution

#36541 Add Channels card into Multichannel Marketing page
  plugins/woocommerce-admin/client/marketing/components/CardHeaderDescription/CardHeaderDescription.scss
  plugins/woocommerce-admin/client/marketing/components/CardHeaderDescription/CardHeaderDescription.tsx
  plugins/woocommerce-admin/client/marketing/components/CardHeaderDescription/index.ts
  plugins/woocommerce-admin/client/marketing/components/PluginCardBody/SmartPluginCardBody.tsx
  plugins/woocommerce-admin/client/marketing/components/PluginCardBody/index.ts
  plugins/woocommerce-admin/client/marketing/components/PluginCardBody/useIsPluginInstalledNotActivated.ts
  plugins/woocommerce-admin/client/marketing/components/index.js
  plugins/woocommerce-admin/client/marketing/data-multichannel/action-types.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/actions.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/constants.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/guards.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/index.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/reducer.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/resolvers.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/selectors.ts
  plugins/woocommerce-admin/client/marketing/data-multichannel/types.ts
  plugins/woocommerce-admin/client/marketing/hooks/index.ts
  plugins/woocommerce-admin/client/marketing/hooks/useRecommendedChannels.ts
  plugins/woocommerce-admin/client/marketing/hooks/useRegisteredChannels.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/Channels.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/Channels.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/IssueStatus.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/IssueStatus.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/RegisteredChannelCardBody.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/RegisteredChannelCardBody.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/SyncStatus.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/SyncStatus.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/iconSize.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Channels/index.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.tsx
  plugins/woocommerce-admin/client/marketing/types/RegisteredChannel.ts
  plugins/woocommerce-admin/client/marketing/types/index.ts
  plugins/woocommerce/changelog/feature-34903-multichannel-marketing-frontend-34906-channels-card
Labels: plugin: woocommerce, focus: react admin, focus: marketing

#36766 Add codistoconnect to pluginNames
  packages/js/data/changelog/fix-36765-add-codistoconnect-to-plugin-names
  packages/js/data/src/plugins/constants.ts
Labels: package: @woocommerce/data

#36641 ensure unit test install ABSPATH is a real path
  plugins/woocommerce/changelog/fix-36638
  plugins/woocommerce/tests/bin/install.sh
Labels: plugin: woocommerce

#36707 Refactor createOrderedChildren
  packages/js/components/changelog/fix-36614_refactor_create_ordered_children
  packages/js/components/src/utils.tsx
Labels: package: @woocommerce/components, category: extensibility, focus: product management, focus: new product ux

#36651 Remove opinionated styles from buttons in block themes so they inherit theme styles more accurately
  plugins/woocommerce/changelog/remove-block-themes-button-constrains
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
Labels: plugin: woocommerce

#36701 Make state optional for BG and HU
  plugins/woocommerce/changelog/fix-hu-and-bg-state-optional
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce

#33828 Update `config@3.3.7` (from `3.3.3`)
  .syncpackrc
  packages/js/admin-e2e-tests/changelog/update-bump-config
  packages/js/admin-e2e-tests/package.json
  packages/js/e2e-core-tests/package.json
  packages/js/e2e-environment/package.json
  packages/js/e2e-utils/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/update-bump-config-2
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment, package: @woocommerce/e2e-core-tests, package: @woocommerce/e2e-utils, plugin: woocommerce, focus: react admin, package: @woocommerce/admin-e2e-tests

#36690 FlexSlider legacy browser code clean-up
  plugins/woocommerce/changelog/flexslider-legacy-cleanup
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
Labels: plugin: woocommerce, type: community contribution

#36718 Fix SelectControl and TreeControl styles
  packages/js/components/changelog/fix-select-control-style
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/style.scss
Labels: type: bug, package: @woocommerce/components, focus: components, focus: product management, focus: new product ux

#36706 Use products data store for getPermalinkParts selector
  packages/js/data/changelog/update-get-permalinks-parts-selector
  packages/js/data/src/products/index.ts
  packages/js/data/src/products/resolvers.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/types.ts
Labels: focus: performance, package: @woocommerce/data, focus: product management, focus: new product ux

#36848 Use createSelector for getPermalinkParts selector to cache result
  packages/js/data/changelog/update-get-permalink-parts-create-selector
  packages/js/data/src/products/selectors.ts
Labels: focus: performance, package: @woocommerce/data, focus: product management, focus: new product ux

#36831 Fix create ordered children helper function
  packages/js/components/changelog/fix-create_ordered_children
  packages/js/components/src/utils.tsx
Labels: category: extensibility, focus: product management

#36815 Update product editor packages
  packages/js/components/changelog/update-product_editor_packages
  packages/js/components/src/index.ts
  packages/js/components/src/product-section-layout/index.ts
  packages/js/components/src/product-section-layout/product-field-section.tsx
  packages/js/components/src/product-section-layout/product-section-layout.tsx
  packages/js/components/src/product-section-layout/style.scss
  packages/js/components/src/style.scss
Labels: package: @woocommerce/components

#36606 Show attribute creation form when there are no attributes
  plugins/woocommerce/changelog/dev-35115_show_attribute_creation_form
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-attributes.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: plugin: woocommerce

#29122 Update cart form quantity and coupon code input style
  plugins/woocommerce/changelog/fix-28791-tt1-cart-input-widths
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
Labels: plugin: woocommerce, type: community contribution

#36708 Translate the labels for units of measure
  plugins/woocommerce/changelog/fix-31486-unit-i18n
  plugins/woocommerce/i18n/units.php
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-shipping.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-variation-admin.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-products.php
  plugins/woocommerce/includes/admin/views/html-bulk-edit-product.php
  plugins/woocommerce/includes/export/class-wc-product-csv-exporter.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-products-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-product-variations-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/src/Utilities/I18nUtil.php
  plugins/woocommerce/tests/php/src/Utilities/I18nUtilTest.php
Labels: focus: i18n, plugin: woocommerce

#36828 Add SlotFill for marketing overview screen
  plugins/woocommerce-admin/client/marketing/overview/index.js
  plugins/woocommerce-admin/client/marketing/overview/section-slot/index.ts
  plugins/woocommerce-admin/client/marketing/overview/section-slot/section-slot.tsx
  plugins/woocommerce-admin/client/marketing/overview/section-slot/utils.tsx
  plugins/woocommerce/changelog/add-36615-marketing-overview-section-slot
Labels: plugin: woocommerce, focus: react admin

#36826 Have "Grow your store" appear first in marketing task by default
  plugins/woocommerce-admin/client/tasks/fills/Marketing/index.tsx
  plugins/woocommerce-admin/client/tasks/fills/Marketing/test/index.tsx
  plugins/woocommerce/changelog/update-marketing-task-section-order
Labels: plugin: woocommerce, focus: react admin

#35287 E2e/update command for e2e
  plugins/woocommerce/changelog/e2e-update-command-for-e2e
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/README.md
Labels: plugin: woocommerce, focus: smoke tests

#36789 Playwright 1.30.0 update
  plugins/woocommerce/changelog/e2e-playwright-1_3_0
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-core-tests, plugin: woocommerce

#36492 Add date sorting configuration for Analytics
  plugins/woocommerce-admin/client/analytics/settings/config.js
  plugins/woocommerce-admin/client/analytics/settings/setting.js
  plugins/woocommerce/changelog/add-date-sorting-options-for-reports
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
Labels: plugin: woocommerce, focus: react admin

#36499 Make the selector a bit more strict to avoid collision
  plugins/woocommerce/changelog/e2e-strict-locator-tweak
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-import-csv.spec.js
Labels: plugin: woocommerce, focus: smoke tests

#36876 Fix inconsistencies on Analytics > Orders table when using date_paid or date_completed
  plugins/woocommerce-admin/client/analytics/report/orders/table.js
  plugins/woocommerce/changelog/fix-analytics-orders-dates-inconsistencies
  plugins/woocommerce/src/Admin/API/Reports/Orders/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders.php
Labels: plugin: woocommerce, focus: react admin

#36852 Update WooCommerce blocks package to 9.6.1
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.6.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36854 Switched matching of screen ID with the untranslated string.
  plugins/woocommerce/changelog/fix-36474
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
Labels: plugin: woocommerce

#36780 Fix decimal points for NOK currency
  plugins/woocommerce/changelog/fix-decimal-points-for-nok
  plugins/woocommerce/i18n/locale-info.php
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce

#36806 Support opening direction prop for ExperimentalCollapsibleList component
  packages/js/experimental/changelog/update-36805-support-direction-prop
  packages/js/experimental/src/experimental-list/collapsible-list/index.tsx
  packages/js/experimental/src/experimental-list/stories/index.tsx
Labels: package: @woocommerce/experimental

#36550 Update default payment gateway list
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/test/utils.js
  plugins/woocommerce-admin/client/tasks/fills/PaymentGatewaySuggestions/utils.js
  plugins/woocommerce/changelog/update-payment-gateway-list
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin

#36827 Add a unit test for `woocommerce_admin_experimental_onboarding_tasklists` filter
  plugins/woocommerce/changelog/add-36536-unit-test-for-onboarding-filter
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task-lists.php
Labels: plugin: woocommerce

#36888 Temporary remove free trial terms from Avalara tax task
  plugins/woocommerce-admin/client/tasks/fills/tax/avalara/card.tsx
  plugins/woocommerce/changelog/tweak-36875-remove-free-trial-terms-avalara
Labels: plugin: woocommerce, focus: react admin

#36887 Add `fills` prop to `useSlot` return object to fix task list bugs in WP 6.2
  packages/js/experimental/changelog/fix-slot-fills-for-wp-6_2
  packages/js/experimental/src/index.js
Labels: package: @woocommerce/experimental

#36889 Fix inconsistent colors products task icons
  plugins/woocommerce-admin/client/tasks/fills/import-products/style.scss
  plugins/woocommerce-admin/client/tasks/fills/products/icon/link_24px.js
  plugins/woocommerce-admin/client/tasks/fills/products/icon/widgets_24px.js
  plugins/woocommerce/changelog/fix-36829-inconsistent-colors-products-task-icons
Labels: plugin: woocommerce, focus: react admin

#36886 Remove Facebook/Meta from grow your store list
  plugins/woocommerce/changelog/fix-36874-remove-meta-from-marketing
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin

#36873 Add: shipping plugins in shipping task based on location
  packages/js/components/changelog/add-36248-added-flexibility-to-plugins
  packages/js/components/src/plugins/index.tsx
  packages/js/data/changelog/32648-fix-data-plugins-should-clear-requesting-status
  packages/js/data/package.json
  packages/js/data/src/plugins/actions.ts
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/plugin-banner.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/plugin-banner.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/shipstation-banner.tsx
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/wcs-banner.scss
  plugins/woocommerce-admin/client/tasks/fills/experimental-shipping-recommendation/components/wcs-banner.tsx
  plugins/woocommerce-admin/client/tasks/fills/shipping/index.js
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/check.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/discount.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/envia-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/packlink-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/packlink-column-logo.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/paper.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/printer.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/sendcloud-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/sendcloud-column-logo.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/shipstation-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/shipstation-column-logo.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/shipstation.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/skydropx-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/star.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/timer.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/wcs-banner-side.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/assets/wcs.svg
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/partners.tsx
  plugins/woocommerce-admin/client/tasks/fills/shipping/shipping-providers/shipping-providers.ts
  plugins/woocommerce-admin/client/tasks/fills/shipping/single-partner-features.ts
  plugins/woocommerce/changelog/update-36248-shipping-plugins-based-on-location
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Shipping.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/shipping.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#36879 Update the stable tag to 7.4.0
  plugins/woocommerce/changelog/update-stable-tag-7-4-0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#36894 Product editor: disable the feature in advanced Settings.
  plugins/woocommerce/changelog/disable-new-product-form
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce, focus: react admin

#36858 Add additional global attributes and local attributes information when saving product attributes
  plugins/woocommerce-admin/client/wp-admin-scripts/add-term-tracking/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/attributes-tracking/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/add-more-attributes-tracks
Labels: plugin: woocommerce, focus: react admin

#35202 Site Health: Add WC-specific criteria for persistent object cache
  plugins/woocommerce/changelog/add-site-health-cache
  plugins/woocommerce/src/Internal/Admin/Loader.php
  plugins/woocommerce/src/Internal/Admin/SiteHealth.php
Labels: focus: performance, plugin: woocommerce

#36847 Add WC Tracker data for Local Pickup
  plugins/woocommerce/changelog/add-tracking-for-loca-pickup
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#36891 Add support for null inputs in wc_add_number_precision
  plugins/woocommerce/changelog/fix-wc_add_number_precision-not-supporting-null
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/php/includes/wc-core-functions-test.php
Labels: plugin: woocommerce

#36912 Fix one last case of not skipping hooks when cloning in code analyzer
  tools/code-analyzer/src/lib/scan-changes.ts
Labels: tool: monorepo infrastructure

#36871 Fix selectors for quantity element in variable products
  plugins/woocommerce/changelog/fix-36855-qty-selector-in-variables
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
Labels: plugin: woocommerce, type: community contribution

#36919 Bump WooCommerce blocks package to 9.6.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.6.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36928 E2e/test pr merge 0 (do not review, do not merge to trunk)
  .github/actions/tests/run-api-tests/action.yml
  .github/actions/tests/slack-alert-on-pr-merge/action.yml
  plugins/woocommerce/tests/api-core-tests/tests/hello/hello.test.js
  plugins/woocommerce/tests/e2e-pw/tests/basic.spec.js
  plugins/woocommerce/tests/performance/requests/merchant/wp-login.js
Labels: type: task, plugin: woocommerce, focus: smoke tests

#36938 Enable all api tests
  .github/actions/tests/run-api-tests/action.yml
  plugins/woocommerce/tests/api-core-tests/tests/hello/hello.test.js
Labels: plugin: woocommerce

#36730 Move product editor utils to product editor package
  packages/js/product-editor/changelog/update-36719
  packages/js/product-editor/package.json
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/utils/constants.ts
  packages/js/product-editor/src/utils/format-currency-display-value.ts
  packages/js/product-editor/src/utils/get-checkbox-tracks.ts
  packages/js/product-editor/src/utils/get-currency-symbol-props.ts
  packages/js/product-editor/src/utils/get-derived-product-type.ts
  packages/js/product-editor/src/utils/get-product-status.ts
  packages/js/product-editor/src/utils/get-product-stock-status.ts
  packages/js/product-editor/src/utils/get-product-title.ts
  packages/js/product-editor/src/utils/get-product-variation-title.ts
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/prevent-leaving-product-form.ts
  packages/js/product-editor/src/utils/test/get-derived-product-type.ts
  packages/js/product-editor/src/utils/test/get-product-status.ts
  packages/js/product-editor/src/utils/test/get-product-stock-status.test.ts
  packages/js/product-editor/src/utils/test/get-product-title.test.ts
  packages/js/product-editor/src/utils/test/get-product-variation-title.ts
  packages/js/product-editor/src/utils/test/prevent-leaving-product-form.test.ts
  packages/js/product-editor/typings/global.d.ts
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-field-feature.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-limit.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-track-quantity.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-list.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-sale.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-variations-helper.ts
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-settings/product-settings.tsx
  plugins/woocommerce-admin/client/products/product-status-badge.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/product-variation-form-actions.tsx
  plugins/woocommerce-admin/client/products/sections/product-variation-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/update-36719
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#36653 Create spotlight on analytics revenue report
  plugins/woocommerce-admin/client/analytics/report/orders/index.js
  plugins/woocommerce-admin/client/analytics/report/revenue/index.js
  plugins/woocommerce-admin/client/analytics/settings/config.js
  plugins/woocommerce-admin/client/guided-tours/report-date-tour.scss
  plugins/woocommerce-admin/client/guided-tours/report-date-tour.tsx
  plugins/woocommerce/changelog/update-35887_spotlight_on_analytics_revenue
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
Labels: plugin: woocommerce, focus: react admin

#36917 Fix create wc extension script
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-36890_create_wc_extension_script
Labels: plugin: woocommerce, focus: react admin

#36943 Add woocommerce_attributes_saved trigger. Closes #35004.
  plugins/woocommerce/changelog/issues-35004-attributes-saved-trigger
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce, type: community contribution

#36819 Add a string encoding selector to the product importer
  plugins/woocommerce/changelog/add-encoding-selector-to-product-importer
  plugins/woocommerce/client/legacy/js/admin/wc-product-import.js
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/includes/admin/importers/views/html-csv-import-mapping.php
  plugins/woocommerce/includes/admin/importers/views/html-product-csv-import-form.php
  plugins/woocommerce/includes/import/class-wc-product-csv-importer.php
Labels: plugin: woocommerce

#36476 Add custom rendering logic to the item label
  packages/js/components/changelog/add-35851-tree-control-custom-label
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree.ts
  packages/js/components/src/experimental-tree-control/stories/index.tsx
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/components/src/experimental-tree-control/types.ts
Labels: package: @woocommerce/components, focus: product management, focus: new product ux

#36962 E2e/pr merge no pw report k6
  .github/actions/tests/run-api-tests/action.yml
  .github/actions/tests/slack-alert-on-pr-merge/action.yml
  .github/actions/tests/slack-alert-on-pr-merge/scripts/compose-slack-message.js
  .github/workflows/smoke-test-trunk-merge.yml
  packages/js/product-editor/changelog/update-36719
  packages/js/product-editor/package.json
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/utils/constants.ts
  packages/js/product-editor/src/utils/format-currency-display-value.ts
  packages/js/product-editor/src/utils/get-checkbox-tracks.ts
  packages/js/product-editor/src/utils/get-currency-symbol-props.ts
  packages/js/product-editor/src/utils/get-derived-product-type.ts
  packages/js/product-editor/src/utils/get-product-status.ts
  packages/js/product-editor/src/utils/get-product-stock-status.ts
  packages/js/product-editor/src/utils/get-product-title.ts
  packages/js/product-editor/src/utils/get-product-variation-title.ts
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/prevent-leaving-product-form.ts
  packages/js/product-editor/src/utils/test/get-derived-product-type.ts
  packages/js/product-editor/src/utils/test/get-product-status.ts
  packages/js/product-editor/src/utils/test/get-product-stock-status.test.ts
  packages/js/product-editor/src/utils/test/get-product-title.test.ts
  packages/js/product-editor/src/utils/test/get-product-variation-title.ts
  packages/js/product-editor/src/utils/test/prevent-leaving-product-form.test.ts
  packages/js/product-editor/typings/global.d.ts
  plugins/woocommerce-admin/client/analytics/report/orders/index.js
  plugins/woocommerce-admin/client/analytics/report/revenue/index.js
  plugins/woocommerce-admin/client/analytics/settings/config.js
  plugins/woocommerce-admin/client/guided-tours/report-date-tour.scss
  plugins/woocommerce-admin/client/guided-tours/report-date-tour.tsx
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-field-feature.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-limit.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-track-quantity.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-list.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-sale.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-variations-helper.ts
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-settings/product-settings.tsx
  plugins/woocommerce-admin/client/products/product-status-badge.tsx
  plugins/woocommerce-admin/client/products/product-title.tsx
  plugins/woocommerce-admin/client/products/product-variation-form-actions.tsx
  plugins/woocommerce-admin/client/products/sections/product-variation-details-section.tsx
  plugins/woocommerce-admin/client/products/sections/utils.ts
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce/changelog/update-35887_spotlight_on_analytics_revenue
  plugins/woocommerce/changelog/update-36719
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin

#36966 E2e/pr merge enable all tests
  .github/actions/tests/run-api-tests/action.yml
  .github/actions/tests/run-e2e-tests/action.yml
  plugins/woocommerce/tests/e2e-pw/tests/basic.spec.js
  plugins/woocommerce/tests/performance/requests/merchant/wp-login.js
Labels: plugin: woocommerce

#36598 Enable "Smoke test release" workflow
  .github/workflows/scripts/verify-php-version.sh
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/changelog/e2e-update-release-e2e-testing
  plugins/woocommerce/tests/e2e-pw/ignore-plugin-tests.playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
  plugins/woocommerce/tests/e2e-pw/utils/wordpress.js
Labels: plugin: woocommerce, focus: smoke tests

#36975 E2e/pr merge rename workflow file
  .github/workflows/scripts/verify-php-version.sh
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-pr-merge.yml
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/changelog/e2e-update-release-e2e-testing
  plugins/woocommerce/tests/e2e-pw/ignore-plugin-tests.playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
  plugins/woocommerce/tests/e2e-pw/utils/wordpress.js
Labels: plugin: woocommerce

#36839 Product Importer: Ensure all products in the file get processed
  plugins/woocommerce/changelog/fix-36618-product-import
  plugins/woocommerce/includes/import/abstract-wc-product-importer.php
  plugins/woocommerce/tests/php/includes/importer/class-wc-product-csv-importer-test.php
  plugins/woocommerce/tests/php/includes/importer/sample2.csv
Labels: focus: csv import/export, plugin: woocommerce

#36940 Fix k6 baseline load imports
  plugins/woocommerce/changelog/fix-k6-baseline-imports
  plugins/woocommerce/tests/performance/tests/wc-baseline-load.js
Labels: plugin: woocommerce, focus: performance tests

#36983 Prepare for 7.4.1 release.
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#36924 Fix: can't apply or remove a coupon whose code is "0".
  plugins/woocommerce/changelog/fix-cant-apply-coupon-0
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/includes/class-wc-coupon.php
  plugins/woocommerce/includes/class-wc-discounts.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-coupons-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-orders-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-coupons-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
  plugins/woocommerce/includes/wc-coupon-functions.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Internal/Orders/CouponsController.php
  plugins/woocommerce/src/Utilities/StringUtil.php
  plugins/woocommerce/tests/php/src/Utilities/StringUtilTest.php
Labels: plugin: woocommerce

#36992 Bump WooCommerce blocks package to 9.6.3
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.6.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36959 Moving currencyContext to currency package and updating references
  packages/js/components/changelog/update-refactor-currency-context
  packages/js/components/src/advanced-filters/number-filter.js
  packages/js/components/src/filters/index.js
  packages/js/currency/changelog/update-36395-move-product-fields
  packages/js/currency/package.json
  packages/js/currency/src/currency-context.js
  packages/js/currency/src/index.ts
  packages/js/currency/src/utils.tsx
  plugins/woocommerce-admin/client/analytics/components/leaderboard/test/index.js
  plugins/woocommerce-admin/client/analytics/components/report-chart/index.js
  plugins/woocommerce-admin/client/analytics/components/report-filters/index.js
  plugins/woocommerce-admin/client/analytics/components/report-summary/index.js
  plugins/woocommerce-admin/client/analytics/report/categories/table.js
  plugins/woocommerce-admin/client/analytics/report/coupons/table.js
  plugins/woocommerce-admin/client/analytics/report/customers/table.js
  plugins/woocommerce-admin/client/analytics/report/downloads/table.js
  plugins/woocommerce-admin/client/analytics/report/index.js
  plugins/woocommerce-admin/client/analytics/report/orders/table.js
  plugins/woocommerce-admin/client/analytics/report/products/table.js
  plugins/woocommerce-admin/client/analytics/report/revenue/table.js
  plugins/woocommerce-admin/client/analytics/report/stock/table.js
  plugins/woocommerce-admin/client/analytics/report/taxes/table.js
  plugins/woocommerce-admin/client/analytics/report/variations/table.js
  plugins/woocommerce-admin/client/dashboard/customizable.js
  plugins/woocommerce-admin/client/dashboard/store-performance/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/orders/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/reviews/index.js
  plugins/woocommerce-admin/client/homescreen/stats-overview/stats-list.js
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-list.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-sale.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section-fills.tsx
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/tasks/fills/shipping/rates.js
  plugins/woocommerce/changelog/update-refactor-currency-context
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/currency

#36435 Add selection to the tree control
  packages/js/components/changelog/add-35851-tree-control-selection
  packages/js/components/package.json
  packages/js/components/src/abbreviated-card/test/__snapshots__/index.js.snap
  packages/js/components/src/experimental-tree-control/hooks/use-selection.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree.ts
  packages/js/components/src/experimental-tree-control/stories/index.tsx
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/components/src/experimental-tree-control/tree.tsx
  packages/js/components/src/experimental-tree-control/types.ts
  packages/js/components/src/experimental-tree-control/typings/global.d.ts
  packages/js/components/src/search-list-control/test/__snapshots__/index.js.snap
  packages/js/components/src/select-control/index.js
  packages/js/internal-js-tests/package.json
  packages/js/internal-js-tests/src/setup-globals.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce/changelog/add-35851-tree-control-selection
  pnpm-lock.yaml
Labels: status: blocked, plugin: woocommerce, focus: react admin, package: @woocommerce/components, focus: product management, focus: new product ux

#34994 fix/#34200-need-to-add-space-between-author-image-and-meta
  plugins/woocommerce/changelog/fix-#34200-need-to-add-space-between-author-image-and-meta
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/src/Internal/Admin/ProductReviews/ReviewsListTable.php
Labels: needs: author feedback, plugin: woocommerce, focus: react admin, type: community contribution

#37002 [36257 redux] Add `menu_order` sorting option to products widget
  plugins/woocommerce/changelog/36257-redux
  plugins/woocommerce/includes/widgets/class-wc-widget-products.php
Labels: plugin: woocommerce

#37010 Update the stable tag to 7.4.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#37009 Update the stable tag to 7.4.1
  plugins/woocommerce/changelog/update-stable-tag
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce
