Repository woocommerce/woocommerce, pull requests merged in 2023-06, with the labels that each got.

#38532 fix Unsupported operand string * float
  plugins/woocommerce/changelog/fix-38009-unsupported-operand
  plugins/woocommerce/includes/class-wc-tax.php
Labels: plugin: woocommerce

#38417 [HPOS] Add properties and methods for detecting order admin screens more easily
  plugins/woocommerce/changelog/fix-37484-hpos-screen-props
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/PageControllerTest.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38528 Cleanup assets in build script ZIP file output.
  plugins/woo-ai/.distignore
  plugins/woo-ai/.gitignore
  plugins/woo-ai/CHANGELOG.md
  plugins/woo-ai/DEVELOPMENT.md
  plugins/woo-ai/README.md
  plugins/woo-ai/changelog/try-woo-ai-plugin
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai, focus: ai

#38325 [MVP QA #1] Visual: spacings
  packages/js/components/changelog/add-38202
  packages/js/components/src/collapsible-content/collapsible-content.tsx
  packages/js/components/src/collapsible-content/style.scss
  packages/js/customer-effort-score/changelog/add-38202
  packages/js/customer-effort-score/src/style.scss
  packages/js/product-editor/changelog/add-38202
  packages/js/product-editor/src/blocks/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/checkbox/editor.scss
  packages/js/product-editor/src/blocks/schedule-sale/edit.tsx
  packages/js/product-editor/src/blocks/schedule-sale/editor.scss
  packages/js/product-editor/src/blocks/section/block.json
  packages/js/product-editor/src/blocks/section/edit.tsx
  packages/js/product-editor/src/blocks/section/editor.scss
  packages/js/product-editor/src/blocks/section/types.ts
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/edit-product-link-modal/style.scss
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/style.scss
  packages/js/product-editor/src/components/tabs/style.scss
  plugins/woocommerce/changelog/add-38202
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/components, package: @woocommerce/customer-effort-score

#38546 Adding tracks events to title generation and language detection
  plugins/woo-ai/assets/images/icons/alert.svg
  plugins/woo-ai/package.json
  plugins/woo-ai/src/components/description-completion-buttons.tsx
  plugins/woo-ai/src/components/random-loading-message/index.ts
  plugins/woo-ai/src/components/random-loading-message/random-loading-message.tsx
  plugins/woo-ai/src/constants.ts
  plugins/woo-ai/src/hooks/useFeedbackSnackbar.tsx
  plugins/woo-ai/src/hooks/useTinyEditor.ts
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/product-name/product-name.scss
  plugins/woo-ai/src/utils/get-post-id.ts
  plugins/woo-ai/src/utils/index.ts
  plugins/woo-ai/src/utils/productData.ts
  plugins/woo-ai/src/utils/recordTracksFactory.ts
  plugins/woo-ai/src/utils/tiny-tools.ts
  plugins/woo-ai/src/utils/types.ts
  pnpm-lock.yaml
Labels: plugin: woo-ai, focus: ai

#38397 Description Generation - Security + Sanitization
  plugins/woo-ai/changelog/fix-security
  plugins/woo-ai/includes/class-woo-ai-product-text-generation.php
  plugins/woo-ai/src/constants.ts
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/woo-ai.php
  pnpm-lock.yaml
Labels: plugin: woo-ai, focus: ai

#38561 Support values written in exponential notation for HPOS migrations.
  plugins/woocommerce/changelog/fix-38470
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
Labels: plugin: woocommerce

#38565 Fix dynamic property declaration warnings in HPOS code (PHP 8.2+)
  plugins/woocommerce/changelog/php8-dynamic-prop-hpos
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostMetaToOrderMetaMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderAddressTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderOpTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostToOrderTableMigrator.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: plugin: woocommerce

#38566 Fix dynamic property declaration warnings in gateway code (PHP 8.2+)
  plugins/woocommerce/changelog/php8-dynamic-prop-gateways
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: plugin: woocommerce

#38569 Fix dynamic property declaration warnings in shipping code (PHP 8.2+)
  plugins/woocommerce/changelog/php8-dynamic-prop-shipping
  plugins/woocommerce/includes/abstracts/abstract-wc-shipping-method.php
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/includes/shipping/flat-rate/class-wc-shipping-flat-rate.php
  plugins/woocommerce/includes/shipping/free-shipping/class-wc-shipping-free-shipping.php
  plugins/woocommerce/includes/shipping/legacy-flat-rate/class-wc-shipping-legacy-flat-rate.php
  plugins/woocommerce/includes/shipping/legacy-local-delivery/class-wc-shipping-legacy-local-delivery.php
  plugins/woocommerce/includes/shipping/legacy-local-pickup/class-wc-shipping-legacy-local-pickup.php
  plugins/woocommerce/includes/shipping/local-pickup/class-wc-shipping-local-pickup.php
Labels: plugin: woocommerce

#38585 Fix The Task Header Width in 2-Col Layout
  plugins/woocommerce-admin/client/task-lists/setup-task-list/style.scss
  plugins/woocommerce/changelog/fix-task-header-width
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38534 fix string + string for PHP 8.X
  plugins/woocommerce/changelog/fix-38444-unsupported-operands
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce

#38423 Replace interpolateComponents within onboarding package
  packages/js/onboarding/changelog/update-37312_replace_interpolate_components_from_onboarding
  packages/js/onboarding/package.json
  packages/js/onboarding/src/components/WCPayBanner/WCPayBanner.tsx
  pnpm-lock.yaml
Labels: package: @woocommerce/onboarding

#38431 Fix editing Shipping methods auto-saving
  plugins/woocommerce/changelog/fix-38114_editing_shipping_methods_auto_saves
  plugins/woocommerce/client/legacy/js/admin/wc-shipping-zone-methods.js
  plugins/woocommerce/includes/admin/settings/class-wc-settings-shipping.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38604 Add an admin notice about the upcoming change in PHP requirements (PHP 7.4)
  plugins/woocommerce/changelog/add-php-74-version-bump-notice
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
Labels: plugin: woocommerce

#38615 Fix assertion in HPOS unit test
  plugins/woocommerce/changelog/fix-hpos-test
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38603 dev: refactor core profiler tracks actions
  plugins/woocommerce-admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/test/core-profiler-machine.test.tsx
  plugins/woocommerce/changelog/dev-refactor-core-profiler-tracks
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38606 dev: refactor core profiler pages
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Loader.tsx
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce-admin/client/core-profiler/utils/find-component.tsx
  plugins/woocommerce-admin/client/core-profiler/utils/get-loader-stage-meta.tsx
  plugins/woocommerce-admin/client/core-profiler/utils/test/find-component.test.tsx
  plugins/woocommerce/changelog/dev-refactor-core-profiler-pages
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38008 Update wc-page-functions.php
  plugins/woocommerce/changelog/patch-1
  plugins/woocommerce/includes/wc-page-functions.php
Labels: plugin: woocommerce, type: community contribution

#38302 Fix WooCommerce name typo in Codisto extension description in test
  plugins/woocommerce-admin/client/marketing/components/CreateNewCampaignModal/CreateNewCampaignModal.test.tsx
  plugins/woocommerce/changelog/fix-codisto-woocommerce-name-typo
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38617 HPOS: Add descriptive document titles to HPOS order admin screens
  plugins/woocommerce/changelog/update-order-admin-page-titles
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38630 Update class-wc-order.php comment text
  plugins/woocommerce/changelog/pr-38630
  plugins/woocommerce/includes/class-wc-order.php
Labels: plugin: woocommerce, type: community contribution

#38641 Fix PHP notice when outside of orders screens
  plugins/woocommerce/changelog/fix-order-type-notice-outside-orders
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce, focus: react admin [team:Ghidorah]

#38620 add: core profiler url routing
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/test/core-profiler-machine.test.tsx
  plugins/woocommerce/changelog/add-core-profiler-url-routing
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38443 Allow extenders to add content to order details screen payment info box
  plugins/woocommerce/changelog/try-contextual-notice-api-in-order-details
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
Labels: plugin: woocommerce

#38599 Show feedback footer on product editor page
  packages/js/customer-effort-score/changelog/add-product-editor-feedback-footer
  packages/js/customer-effort-score/src/components/customer-effort-score-modal-container/index.tsx
  packages/js/customer-effort-score/src/hooks/index.ts
  packages/js/customer-effort-score/src/hooks/use-customer-effort-score-modal/index.ts
  packages/js/product-editor/changelog/add-product-editor-feedback-footer
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/feedback-bar/feedback-bar.tsx
  packages/js/product-editor/src/components/feedback-bar/index.ts
  packages/js/product-editor/src/components/feedback-bar/style.scss
  packages/js/product-editor/src/components/footer/footer.tsx
  packages/js/product-editor/src/components/footer/index.ts
  packages/js/product-editor/src/components/footer/style.scss
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/save-draft-button/save-draft-button.tsx
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/product-mvp-ces-footer/index.ts
  packages/js/product-editor/src/components/product-mvp-ces-footer/product-mvp-ces-footer.tsx
  packages/js/product-editor/src/components/product-mvp-ces-footer/style.scss
  packages/js/product-editor/src/constants.ts
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-feedback-bar/index.ts
  packages/js/product-editor/src/hooks/use-feedback-bar/use-feedback-bar.ts
  packages/js/product-editor/src/hooks/use-product-mvp-ces-footer/index.ts
  packages/js/product-editor/src/hooks/use-product-mvp-ces-footer/use-product-mvp-ces-footer.ts
  packages/js/product-editor/src/style.scss
  packages/js/product-editor/typings/global.d.ts
  plugins/woocommerce-admin/client/products/layout/product-form-footer.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce-admin/client/products/tour/product-tour-container.tsx
  plugins/woocommerce/changelog/add-product-editor-feedback-footer
  plugins/woocommerce/src/Admin/API/Options.php
Labels: focus: product [team:Mothra], plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/customer-effort-score, focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38293 Add HPOS compat queries for tracker.
  plugins/woocommerce/changelog/fix-38148
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
Labels: plugin: woocommerce

#38577 dev: refactor installAndActivatePlugins to xstate
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/services/installAndActivatePlugins.ts
  plugins/woocommerce-admin/client/core-profiler/services/test/installAndActivatePlugins.test.ts
  plugins/woocommerce/changelog/dev-refactor-core-profiler-install-plugins
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38646 add: updated payment gateways for 2023 Q3
  plugins/woocommerce/changelog/add-update-payment-gateways-2023-Q3
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#36625 [COT] Allow to filter orders query
  plugins/woocommerce/changelog/hpos-filter-query-clauses
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: priority: high, plugin: woocommerce, type: community contribution

#38587 Fix 'dynamic property declaration' warnings in wc-admin code (PHP 8.2+)
  plugins/woocommerce/changelog/fix-php8-dynamic-prop-wc-admin
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/OrRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/PluginVersionRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/RuleEvaluator.php
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38551 Publishing product in classic editor redirects back to new editor
  packages/js/product-editor/changelog/add-38243
  packages/js/product-editor/src/components/product-mvp-feedback-modal-container/product-mvp-feedback-modal-container.tsx
  plugins/woocommerce-admin/client/products/fills/more-menu-items/classic-editor-menu-item.tsx
  plugins/woocommerce/changelog/add-38243
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38663 Update WooCommerce Blocks to 10.2.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.2.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38621 Add Saint Kitts and Nevis localizations for address entry
  plugins/woocommerce/changelog/pr-38621
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: plugin: woocommerce, type: community contribution, focus: api tests [team:Solaris]

#38635 Adjust functions in wc-formatting-functions.php to handle null argument deprecations in PHP 8.1
  plugins/woocommerce/changelog/fix-php-8.1-null-args-deprecation
  plugins/woocommerce/includes/wc-formatting-functions.php
Labels: plugin: woocommerce

#38648 Fix character encoding detection in CSV exporter for PHP 8.1
  plugins/woocommerce/changelog/fix-encoding-in-product-exporter-in-php-8.1
  plugins/woocommerce/includes/export/abstract-wc-csv-exporter.php
Labels: plugin: woocommerce

#38531 Always show pricing group fields, disable if not available for a product type
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/add-always-show-pricinggroup
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-general.php
  plugins/woocommerce/includes/admin/wc-meta-box-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: e2e tests [team:Solaris]

#38680 Ensure order ordering in order filter unit test
  plugins/woocommerce/changelog/fix-unit-test-test_query_filters
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: plugin: woocommerce

#38681 Remove editor-styles-wrapper class from product editor
  packages/js/product-editor/changelog/update-remove-editor-styles-wrapper
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/block-editor/style.scss
Labels: focus: product [team:Mothra], plugin: woocommerce, focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38496 Create Product Editor Block: Do not add script prop to generated block.json
  packages/js/create-product-editor-block/changelog/update-create-product-editor-block-no-script-prop
  packages/js/create-product-editor-block/index.js
Labels: type: enhancement, focus: product [team:Mothra], plugin: woocommerce, category: extensibility, focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38640 Update style of Block product editor TourKit
  plugins/woocommerce-admin/client/products/tour/block-editor/block-editor-tour.tsx
  plugins/woocommerce-admin/client/products/tour/block-editor/style.scss
  plugins/woocommerce/changelog/update-tourkitdesign
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38702 Sync changes 270, 271, and 272 to the release branch
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/dashboard-access.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38685 Address possible PHP deprecation warning in `/wc-admin/options` endpoint
  plugins/woocommerce/changelog/fix-wc-admin-rest-options-error
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38616 Additional changes for the core profiler plugins page
  packages/js/data/changelog/update-onboarding-types
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/test/reducer.ts
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce-admin/client/core-profiler/services/installAndActivatePlugins.ts
  plugins/woocommerce-admin/client/core-profiler/services/test/installAndActivatePlugins.test.ts
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/assets/images/core-profiler/logo-google.svg
  plugins/woocommerce/assets/images/core-profiler/logo-jetpack.svg
  plugins/woocommerce/assets/images/core-profiler/logo-mailpoet.svg
  plugins/woocommerce/assets/images/core-profiler/logo-pinterest.svg
  plugins/woocommerce/assets/images/core-profiler/logo-tiktok.svg
  plugins/woocommerce/assets/images/core-profiler/logo-woo.svg
  plugins/woocommerce/changelog/update-38436-additional-changes-for-plugins-page
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38709 Visual changes for Intro, guided setup, and skipped guided setup pages
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/UserProfile.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/intro-opt-in.test.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/user-profile.test.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce/changelog/update-38626-visual-changes-for-profiler-pages
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38465 Add `wcadmin_settings_change` tracks event when adding/removing entries in shipping
  plugins/woocommerce/changelog/update-add-delete-shipping
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/includes/tracks/events/class-wc-settings-tracking.php
Labels: plugin: woocommerce

#38690 Add re-migrate support to HPOS CLI.
  plugins/woocommerce/changelog/fix-38660
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
Labels: plugin: woocommerce

#38676 Add meta boxes for custom taxonomies in order edit screens
  plugins/woocommerce/changelog/fix-38560
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/TaxonomiesMetaBox.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderAdminServiceProvider.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38643 CES modal modifications
  packages/js/customer-effort-score/changelog/fix-38502_ces_modal_styling_fixes
  packages/js/customer-effort-score/src/components/customer-effort-score-modal-container/index.tsx
  packages/js/customer-effort-score/src/components/customer-effort-score/index.tsx
  packages/js/customer-effort-score/src/components/customer-feedback-modal/index.tsx
  packages/js/customer-effort-score/src/store/reducer.js
  packages/js/product-editor/changelog/fix-38502_ces_modal_styling_fixes
  packages/js/product-editor/src/components/feedback-bar/feedback-bar.tsx
  packages/js/product-editor/src/components/feedback-bar/style.scss
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/validate-email.ts
  plugins/woocommerce-admin/client/products/fills/more-menu-items/feedback-menu-item.tsx
  plugins/woocommerce/changelog/fix-38502_ces_modal_styling_fixes
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/customer-effort-score

#38684 add HPOSToggleTrait.php to unit test loader
  plugins/woocommerce/changelog/fix-hpos-unit-test-trait
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/php/helpers/HPOSToggleTrait.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#38613 WC Tracker: Add info about features and plugin compatibility
  plugins/woocommerce/changelog/try-wc-tracker-feature-compat
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
Labels: plugin: woocommerce

#38696 Update status only when its changed.
  plugins/woocommerce/changelog/fix-35951
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#38698 Fix transient notices overlapping product editor footer (take 2)
  packages/js/product-editor/changelog/fix-notices-overlapping-footer-2
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/feedback-bar/feedback-bar.tsx
  packages/js/product-editor/src/components/footer/footer.tsx
  plugins/woocommerce-admin/client/layout/footer/footer.scss
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/layout/transient-notices/index.js
  plugins/woocommerce-admin/client/layout/transient-notices/style.scss
  plugins/woocommerce-admin/client/layout/transient-notices/test/index.js
  plugins/woocommerce/changelog/fix-notices-overlapping-footer-2
Labels: focus: product [team:Mothra], plugin: woocommerce, focus: react admin [team:Ghidorah], focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38721 Update Action Scheduler to 3.6.1
  plugins/woocommerce/changelog/update-action-scheduler-3.6.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38707 Fix task list header overlap
  plugins/woocommerce-admin/client/task-lists/setup-task-list/style.scss
  plugins/woocommerce/changelog/fix-38645-checklist-overlap
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38722 Remove StoreDetails task when core-profiler flag is on
  plugins/woocommerce/changelog/update-38687-update-storedetails-for-coreprofiler
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38730 Set skipped flag when guided setup is skipped
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/update-skipped-should-be-set
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38525 Fix number of orders under tax report
  plugins/woocommerce/changelog/fix-38347_tax_report_count_number_of_orders
  plugins/woocommerce/includes/admin/reports/class-wc-report-taxes-by-code.php
Labels: plugin: woocommerce

#38742 Extract usePublishedProductsCount hook and use it in about-the-editor-menu-item
  plugins/woocommerce-admin/client/products/fills/more-menu-items/about-the-editor-menu-item.tsx
  plugins/woocommerce-admin/client/products/tour/block-editor/block-editor-tour.tsx
  plugins/woocommerce-admin/client/products/tour/block-editor/use-published-products-count.tsx
  plugins/woocommerce/changelog/fix-guide-new-user
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38700 Implement experiment within code for new users
  plugins/woocommerce-admin/client/task-lists/fills/products/use-create-product-by-type.ts
  plugins/woocommerce/changelog/add-85
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38732 fix: core profiler plugins list race condition
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce/changelog/fix-core-profiler-plugins-race-condition
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38710 Update track name prefix for core profiler
  plugins/woocommerce-admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/update-38627-update-track-prefix-for-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38674 Update/implement connect to jetpack
  packages/js/data/changelog/add-38674-add-jetpack-auth-endpoint
  packages/js/data/src/onboarding/action-types.ts
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/reducer.ts
  packages/js/data/src/onboarding/resolvers.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/test/reducer.ts
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/update-implement-connect-to-jetpack
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38760 Fix Jetpack redirection issue when the auth endpoint returns an invalid url
  packages/js/data/changelog/fix-38758-jetpack-redirection-fix
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/reducer.ts
  packages/js/data/src/onboarding/resolvers.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/fix-38758-fix-jetpack-redirection-when-endpoint-returns-invalid-url
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38656 Update WooCommerce blocks package to 10.4.2
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.4.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.4.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38764 Allow `plugins_page_skipped` parameter in Onboarding API endpoint
  packages/js/data/changelog/fix-38659-core-profiler-skipped-option-plugins-step
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/fix-38659-core-profiler-skipped-option-plugins-step
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-profile.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38749 Fix selection of multiple orders in HPOS list table
  plugins/woocommerce/changelog/fix-38524
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce, focus: react admin [team:Ghidorah]

#38768 Fix infinite redirect from homescreen to core profiler
  plugins/woocommerce-admin/client/homescreen/index.tsx
  plugins/woocommerce/changelog/fix-infinite-redirect-to-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38658 Fix payment gateway suggestions display logic
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/test/utils.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/utils.js
  plugins/woocommerce/changelog/fix-payment-gateway-suggestions-logic
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38704 Sync 38702
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/dashboard-access.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38712 Update single-product.js for issue #38711
  plugins/woocommerce/changelog/single-product-tab-open-close
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
Labels: plugin: woocommerce, type: community contribution, metric: revised testing instructions

#38747 Fire HPOS bulk action hook for all custom bulk actions
  plugins/woocommerce/changelog/fix-38558
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38775 Fix styles for modals
  packages/js/customer-effort-score/changelog/fix-38748_modal_style_obw
  packages/js/customer-effort-score/src/style.scss
  packages/js/product-editor/changelog/fix-38748_modal_style_obw
  packages/js/product-editor/src/components/feedback-bar/style.scss
Labels: type: bug, package: @woocommerce/customer-effort-score, focus: new product ux [team:Mothra]

#38777 Set attributes to visible by default
  packages/js/product-editor/changelog/fix-set-attributes-to-visible-by-default
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
Labels: type: bug, focus: product [team:Mothra], focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38759 Various UI fixes in Core profiler steps
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/render-menu.tsx
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce-admin/client/core-profiler/shared.scss
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce-admin/client/core-profiler/utils/get-loader-stage-meta.tsx
  plugins/woocommerce/changelog/fix-38731-core-profiler-ui-fixes
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38724 Change select option hover color on core profiler pages
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/update-38626-visual-changes-for-profiler-pages-follow-up
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38791 Decode HTML entities from store name
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce/changelog/update-38790-fix-blogname-with-html-entities
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38750 Update/38743 loading changes in core profiler
  plugins/woocommerce-admin/client/core-profiler/assets/images/loader-hearticon.svg
  plugins/woocommerce-admin/client/core-profiler/assets/images/loader-openingthedoors.svg
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Loader.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce-admin/client/core-profiler/utils/get-loader-stage-meta.tsx
  plugins/woocommerce/changelog/fix-removed-core-profiler-page-spinners
  plugins/woocommerce/changelog/update-38743-loading-changes-in-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38729 Enable core-profiler flag
  plugins/woocommerce/changelog/update-enable-core-profiler-in-prod
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/features.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38794 Fix base location remote inbox rule
  plugins/woocommerce/changelog/fix-38793-base-location-rule
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/BaseLocationCountryRuleProcessor.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/base-location-country-rule-processor.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38803 Update incentives logic - minor addition
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce/changelog/update-3531-incentive-logic-minor-addition
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38802 Disable 'Used for variations' checkbox when product type is not variable
  plugins/woocommerce/changelog/update-used-for-var
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
Labels: plugin: woocommerce

#38776 fix deprecated warning in dashboard setup
  plugins/woocommerce/changelog/fix-dashboard-setup-warning
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard-setup.php
Labels: plugin: woocommerce

#38708 Handling errors from token endpoint
  plugins/woo-ai/changelog/add-wooai-handle-token-failure
  plugins/woo-ai/src/hooks/useCompletion.ts
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/utils/jetpack-completion.ts
Labels: plugin: woo-ai, focus: ai

#38817 Fix help panel links
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce/changelog/fix-help-panel-links
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38745 Redirect to the old editor when attempting to edit a non-supported product type
  plugins/woocommerce/changelog/update-38695
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/RedirectionController.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38819 Add missing spacing in WCPay welcome incentive page cards
  plugins/woocommerce-admin/client/payments-welcome/style.scss
  plugins/woocommerce/changelog/fix-wcpay-incentive-cards-spacing
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#36427 get_index_columns using SHOW INDEX FROM query instead of information_schema
  plugins/woocommerce/changelog/fix-36374-use-show-index-instead-of-db-schema
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/DatabaseUtilTest.php
Labels: plugin: woocommerce

#38727 Linting: Add pnpm commands and update contributing guidelines
  .github/CONTRIBUTING.md
  plugins/woocommerce/changelog/update-lint-scripts
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#38342 WooCommerce: Handle legacy JS use of ES6
  plugins/woocommerce/changelog/fix-legacy-js-es6
  plugins/woocommerce/client/legacy/Gruntfile.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/client/legacy/js/admin/wc-enhanced-select.js
  plugins/woocommerce/client/legacy/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#38806 fix: check whether WC_ADMIN_APP is defined before using
  plugins/woocommerce-beta-tester/changelog/fix-beta-tester-wcapp-constant
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: plugin: woocommerce beta tester

#38825 Marketing: Do not show "Create a campaign" button if there are no campaign types
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Campaigns/Campaigns.test.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/Campaigns/Campaigns.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/IntroductionBanner/IntroductionBanner.tsx
  plugins/woocommerce/changelog/feature-38805-create-campaign-button
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: marketing [team:Ventures]

#38839 Update to WooCommerce blocks 10.4.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.4.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38835 Add 'product_block_editor' to 'legacy_feature_ids'.
  plugins/woocommerce/changelog/add-product_block_editor_to_legacy_feature_ids
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce, focus: new product ux [team:Mothra]

#38728 Add missing tracks events to product editor
  packages/js/components/changelog/fix-38637
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/product-editor/changelog/fix-38637
  packages/js/product-editor/src/blocks/description/edit.tsx
  packages/js/product-editor/src/blocks/images/edit.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-input-field/attribute-input-field.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/create-attribute-term-modal.tsx
  packages/js/product-editor/src/components/details-categories-field/create-category-modal.tsx
  packages/js/product-editor/src/components/edit-product-link-modal/edit-product-link-modal.tsx
  packages/js/product-editor/src/components/header/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/header/preview-button/preview-button.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/tabs/tabs.tsx
  packages/js/product-editor/src/components/tabs/utils/get-tab-tracks-data.ts
  packages/js/product-editor/src/constants.ts
  packages/js/product-editor/src/hooks/use-product-helper.ts
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/utils/record-product-event.ts
  plugins/woocommerce-admin/client/products/fills/more-menu-items/about-the-editor-menu-item.tsx
  plugins/woocommerce-admin/client/products/fills/more-menu-items/classic-editor-menu-item.tsx
  plugins/woocommerce-admin/client/products/fills/more-menu-items/feedback-menu-item.tsx
  plugins/woocommerce-admin/client/products/fills/product-block-editor-fills.tsx
  plugins/woocommerce-admin/client/products/product-form-actions.tsx
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce-admin/client/products/test/product-form-actions.spec.tsx
  plugins/woocommerce/changelog/fix-38637
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Tracks.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/components

#37552 Load `taxonomy-pa_<slug>` template before `taxonomy-product_attribute`
  plugins/woocommerce/changelog/fix-issue-36560
  plugins/woocommerce/includes/class-wc-template-loader.php
Labels: plugin: woocommerce, type: community contribution

#38862 E2E: Update WP Mail Logging Version
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/fix-e2e-order-emails
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
Labels: plugin: woocommerce, focus: smoke tests [team:Solaris], focus: e2e tests [team:Solaris]

#38815 Do not show "Adding new attribute failed" error message when loading of product screens is interrupted by page unload
  plugins/woocommerce/changelog/fix-adding-new-attribute-failed-error
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: type: bug, focus: product [team:Mothra], plugin: woocommerce, focus: product management [team:Mothra]

#38861 Refresh onboarding profile values on the Homescreen
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/fix-38859-use-hard-redirection-from-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38854 Always pass defaults to product_type_options filter
  plugins/woocommerce/changelog/update-product_type_options_param
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: focus: product [team:Mothra], plugin: woocommerce, focus: product management [team:Mothra]

#38852 Remove feature related query args after enabling/disabling it
  plugins/woocommerce/changelog/fix-remove-feature-queryargs
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#38891 Update WooCommerce Blocks to 10.2.4
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.2.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: api tests [team:Solaris], focus: e2e tests [team:Solaris]

#38897 Cherry pick 38815 into 7.9
  plugins/woocommerce/changelog/fix-adding-new-attribute-failed-error
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#38899 Cherry pick 38815 into 7.8
  plugins/woocommerce/changelog/fix-adding-new-attribute-failed-error
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: plugin: woocommerce

#38905 Prep for 7.8.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#38872 Fix Core Profiler UI issues
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/fix-38841-core-profiler-ui-issues
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38628 Analytics API: Search for customers using all available search fields instead of having to choose one
  plugins/woocommerce/changelog/fix-33383-expanded-customer-search
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Stats/Controller.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers.php
Labels: focus: wc rest api [team:Proton], plugin: woocommerce, focus: react admin [team:Ghidorah], focus: analytics [team:Mothra]

#38834 [Enhancement]: Add Tracks event recording to Emails settings
  plugins/woocommerce/changelog/add-track-email-settings
  plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php
  plugins/woocommerce/includes/tracks/events/class-wc-settings-tracking.php
Labels: plugin: woocommerce

#38849 Improvements to the dependency injection related unit testing infrastructure
  plugins/woocommerce/changelog/improve-di-related-unit-testing-infrastructure
  plugins/woocommerce/src/Internal/DependencyManagement/Definition.php
  plugins/woocommerce/src/Internal/DependencyManagement/ExtendedContainer.php
  plugins/woocommerce/tests/legacy/framework/class-wc-unit-test-case.php
  plugins/woocommerce/tests/php/src/Internal/DependencyManagement/ExampleClasses/ClassWithDependencies.php
  plugins/woocommerce/tests/php/src/Internal/DependencyManagement/ExampleClasses/DerivedDependencyClass.php
  plugins/woocommerce/tests/php/src/Internal/DependencyManagement/ExtendedContainerTest.php
Labels: plugin: woocommerce

#38918 Update WooCommerce Blocks to 10.4.4
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.4.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38699 Improve hpos cli verbose output
  plugins/woocommerce/changelog/improve-hpos-cli-verbose-output
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: type: enhancement, focus: wc-cli [team:Proton], focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38344 Replace deprecated `page` methods
  plugins/woocommerce/changelog/e2e-replace-deprecated-page-methods
  plugins/woocommerce/tests/e2e-pw/global-setup.js
  plugins/woocommerce/tests/e2e-pw/global-teardown.js
  plugins/woocommerce/tests/e2e-pw/test-data/data.js
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/basic-setup.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-classes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-payment-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-search.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-import-csv.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-search.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-settings.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variable-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-general.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-pay-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-browse-search-sort.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/single-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/variable-product-updates.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/api.js
  plugins/woocommerce/tests/e2e-pw/utils/onboarding.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38715 Make e2e test `can discard industry changes when navigating back to "Store Details"` independent from previous tests
  plugins/woocommerce/changelog/e2e-make-tests-independant-from-previous-tests
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38821 Add instructions on how to run the tests when using @woocommerce/components
  packages/js/components/README.md
  packages/js/components/changelog/dev-wc-components-readme
Labels: package: @woocommerce/components

#38836 Ignore cached plugin data when checking if plugins are WooCommerce-aware
  plugins/woocommerce/changelog/fix-37343-incompatible-plugins-list
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/PluginUtil.php
Labels: plugin: woocommerce

#38906 Create separate channel for cherry-pick notifications.
  .github/workflows/cherry-pick.yml
Labels: tool: monorepo infrastructure

#38929 Prefetch Jetpack connection and auth info
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/update-38904-optimize-jetpack-auth-redirection
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38922 Restore plugins selection when there is an error
  plugins/woocommerce-admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce/changelog/update-38903-core-profiler-plugins-selection-is-not-persisted
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38949 Fix failing tests in create shipping zones
  plugins/woocommerce/changelog/fix-failing-shipping-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38109 Add support for 6 new countries in WCPay
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/utils.js
  plugins/woocommerce/changelog/add-new-countries-group2-wcpay
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38964 Revert "Always show pricing group fields, disable if not available for a product type (#38531)"
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/fix-revert-38531
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-general.php
  plugins/woocommerce/includes/admin/wc-meta-box-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: e2e tests [team:Solaris]

#38921 Add Variations tab to Product Block Editor
  plugins/woocommerce/changelog/add-38880_add_variations_tab_to_product_block_editor
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: new product ux [team:Mothra]

#38902 Update the product's permalink (slug) when an AI suggestion is selected
  plugins/woo-ai/changelog/update-product-slug-ai
  plugins/woo-ai/src/hooks/index.ts
  plugins/woo-ai/src/hooks/useProductSlug.ts
  plugins/woo-ai/src/product-name/name-utils.ts
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/utils/get-post-id.ts
  plugins/woo-ai/src/utils/productData.ts
  plugins/woo-ai/src/utils/recordTracksFactory.ts
  plugins/woo-ai/src/utils/types.ts
Labels: plugin: woo-ai, focus: ai

#38984 Sync 273
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
  plugins/woocommerce/templates/checkout/form-verify-email.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38738 Fix display of "empty cart" notices when using a shortcode cart and the checkout block
  plugins/woocommerce/changelog/fix-38719-empty-cart-notices-with-blocks
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, package: @woocommerce/extend-cart-checkout-block

#36760 Use NumberUtil::round() instead of number_format() in WC_Order::get_item_subtotal()
  plugins/woocommerce/changelog/mahmoudsaeed-trunk
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce, type: community contribution

#38875 do not use image size cache while in customizer
  plugins/woocommerce/changelog/fix-28480
  plugins/woocommerce/includes/wc-core-functions.php
Labels: plugin: woocommerce

#38950 Fix "View Cart" link layout in post/page
  plugins/woocommerce/changelog/fix-blocks-9999-products-grid-layout-in-post
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
Labels: plugin: woocommerce

#38938 Remove hardcoded 'shop order'
  plugins/woocommerce/changelog/remove-hardcoded-shop-order
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: focus: order [team:Proton], focus: custom order tables / HPOS [team:Proton], plugin: woocommerce, focus: react admin [team:Ghidorah], type: community contribution

#39005 Adding tracks events indicating visibility for ai features
  plugins/woo-ai/changelog/add-view-tracks-events-39004
  plugins/woo-ai/src/product-description/product-description-button-container.tsx
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
Labels: plugin: woo-ai, focus: ai

#39001 Added initial changelog and ran prepare package release
  packages/js/create-product-editor-block/CHANGELOG.md
  packages/js/create-product-editor-block/changelog/.gitkeep
  packages/js/create-product-editor-block/changelog/add-create-product-editor-block
  packages/js/create-product-editor-block/changelog/update-create-product-editor-block-no-script-prop
  packages/js/create-product-editor-block/package.json
Labels: focus: new product ux [team:Mothra]

#38987 Override Jetpack connection data endpoint when Jetpack is not installed
  plugins/woocommerce/changelog/update-38979-override-jetpack-data-endpont
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39011 Release Woo AI plugin v0.2.0
  plugins/woo-ai/CHANGELOG.md
  plugins/woo-ai/changelog/add-view-tracks-events-39004
  plugins/woo-ai/changelog/add-woo-ai-plugin
  plugins/woo-ai/changelog/add-wooai-handle-token-failure
  plugins/woo-ai/changelog/update-product-slug-ai
  plugins/woo-ai/composer.json
  plugins/woo-ai/package.json
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai, focus: ai

#38840 OrdersTableDataStore: capture+log exceptions when populating order properties
  plugins/woocommerce/changelog/fix-errors-when-setting-order-properties-in-hpos-not-captured
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#38827 Analytics API: Customers with non empty passed field as parameter
  plugins/woocommerce/changelog/update-38820-enhancement-api-search-customers-with-non-empty-email-or-name-or-address
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38995 Revert "Always show pricing group fields, disable if not available for a product type (#38531)"
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/fix-revert-38531
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-general.php
  plugins/woocommerce/includes/admin/wc-meta-box-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: e2e tests [team:Solaris]

#39030 Require wc-admin-functions into products tracking class
  plugins/woocommerce/changelog/fix-38996_get_default_options_not_being_loaded
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce

#38769 FSE: Fix frontend stylesheets not being enqueued in the Site Editor
  plugins/woocommerce/changelog/fix-35495-stylesheets-not-enqueued-in-site-editor
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: type: bug, plugin: woocommerce

#39042 Update CSS styles for core profiler headers
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce/changelog/update-39040-update-header-styls
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#39048 Update WooCommerce Blocks to 10.4.5
  plugins/woocommerce/changelog/2023-06-30-12-49-47-720140
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce
