Repository woocommerce/woocommerce, pull requests merged in 2023-11, with the labels that each got.

#41109 Store Customization > Replace the Just Arrived Full Hero pattern with the Hero Product Split pattern in the CYS flow
  plugins/woocommerce-admin/client/customize-store/data/homepageTemplates.ts
  plugins/woocommerce/changelog/41109-enhance-update-patterns-list-for-the-assembler
Labels: plugin: woocommerce

#41083 [CYS] Fix undefined query id warning
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/changelog/fix-undefined-queryId-warning
Labels: plugin: woocommerce

#41122 [CYS] Reduce the logo preview to a maximum width of 250px
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/update-logo-preview-size
Labels: plugin: woocommerce

#41151 [CYS] Remove disproportionate spacing above and below logo preview
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/update-spacing-around-logo
Labels: plugin: woocommerce

#41103 CYS - Hide theme and default palettes
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/41103-fix-40822-cys-palette-not-restricted
Labels: plugin: woocommerce

#41148 [CYS] Add two more loading frames to loading sequence
  plugins/woocommerce-admin/client/customize-store/assets/images/loader-generating-content.svg
  plugins/woocommerce-admin/client/customize-store/assets/images/loader-opening-the-doors.svg
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce/changelog/update-cys-loading-screen
Labels: plugin: woocommerce

#41154 [CYS] Fix Spotlight Tour caret is not centered vertically
  plugins/woocommerce-admin/client/customize-store/assembler-hub/onboarding-tour/index.tsx
  plugins/woocommerce/changelog/fix-spotlight-caret
Labels: plugin: woocommerce

#41150 [CYS] Fix "Drag to resize" styling when spotlight tour is present
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/tweak-cys-drag-to-resize-label-style
Labels: plugin: woocommerce

#41126 Fix CYS pattern thumbnail size
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-pattern-list.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/fix-thumbnail-size
Labels: plugin: woocommerce

#41153 Add SlotFill for custom buttons on Transitional Page
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/secondary-button-slot/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/secondary-button-slot/utils.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/style.scss
  plugins/woocommerce/changelog/add-cys-slotfill-transitional-button
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
Labels: plugin: woocommerce

#41156 Fix cys remove scrollbar iframe in intro screen
  plugins/woocommerce/changelog/fix-41149-cys-remove-scrollbar-iframe
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
Labels: plugin: woocommerce

#41068 Update state definitions for Liechtenstein and Chile
  plugins/woocommerce/changelog/41068-update-country-chile-locale
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/includes/class-wc-countries.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#40705 Add `store_id` to WC_Tracker and Tracks
  plugins/woocommerce/changelog/40705-add-store-id-to-wc-tracker-and-tracks
  plugins/woocommerce/changelog/add-store-id-to-wc-tracker-and-tracks
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/includes/tracks/class-wc-tracks.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/php/includes/class-wc-install-test.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: plugin: woocommerce

#40839 Removed floating semi colon from info type setting control
  plugins/woocommerce/changelog/40839-hotfix-info-trailing-semi-colon
  plugins/woocommerce/changelog/hotfix-info-trailing-semi-colon
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
Labels: needs: developer feedback, plugin: woocommerce, type: community contribution

#41100 Change block default order to 10000
  plugins/woocommerce/changelog/update-block-def-order
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/BlockTemplateTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/BlockTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/CustomBlockTest.php
Labels: plugin: woocommerce

#41157 Update Pattern Thumbnail Shadow
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/2023-11-01-12-33-49-694057
Labels: plugin: woocommerce

#41162 Fix CYS transition screen iframe positioning
  plugins/woocommerce-admin/client/customize-store/transitional/style.scss
  plugins/woocommerce/changelog/fix-cys-transition-screen-iframe-positioning
Labels: plugin: woocommerce

#41152 fix: core profiler email opt in validation
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/business-info.test.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-core-profiler-email-opt-in-validation
  pnpm-lock.yaml
Labels: plugin: woocommerce, needs: analysis

#41139 bump action/stale version, increase operations per run
  .github/workflows/stalebot.yml
  plugins/woocommerce/changelog/update-stalebot-version
Labels: type: task, tool: monorepo infrastructure

#41167 Update readme.txt
  plugins/woocommerce/changelog/41167-kevinbates-patch-1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#41092 Preload Jetpack data even without Jetpack plugin installed
  plugins/woocommerce/changelog/41092-fix-preload-jetpack-data-without-jetpack-plugin
  plugins/woocommerce/src/Internal/Admin/Loader.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
Labels: type: bug, focus: shipping, plugin: woocommerce, team: Escargot

#41113 Fix e2e and api execution on daily runs
  .github/actions/tests/run-api-tests/action.yml
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/fix-e2e-api-execution-on-daily
  plugins/woocommerce/tests/api-core-tests/global-setup.js
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce, focus: api tests, focus: e2e tests, team: Solaris

#41177 Cherry pick 41152 into release/8.3
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/business-info.test.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/readme.txt
  pnpm-lock.yaml
Labels: plugin: woocommerce

#41178 Delete changelog files based on PR 41152
  plugins/woocommerce/changelog/fix-core-profiler-email-opt-in-validation
Labels: plugin: woocommerce

#41171 Product Editor: Fix select on focus for currency and number fields
  packages/js/product-editor/changelog/fix-currency-number-select-in-focus
  packages/js/product-editor/src/hooks/use-currency-input-props.ts
  packages/js/product-editor/src/hooks/use-number-input-props.ts
  packages/js/product-editor/src/utils/defer-select-in-focus.ts
  packages/js/product-editor/src/utils/index.ts
Labels: type: bug, focus: new product ux

#41203 Fix/daily and pr tests
  plugins/woocommerce/changelog/fix-daily-and-pr-tests
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: focus: e2e tests

#41212 Branch to test sadow pr 41200
  .github/workflows/milestoned.yml
  .github/workflows/pull-request-post-merge-processing.yml
  plugins/woocommerce/tests/api-core-tests/tests/coupons/coupons.test.js
Labels: plugin: woocommerce, focus: api tests

#41209 Fix CYS UI bugs - Nov 3
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/onboarding-tour/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-palette-variations/constants.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-panel.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-color-palette.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/fix-cys-ui-nov-3
Labels: plugin: woocommerce

#41181 Rename the reference to the 'Footer with Simple Menu and Cart' pattern
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/footer.ts
  plugins/woocommerce/changelog/41181-rename-footer-pattern
Labels: plugin: woocommerce

#41208 Fix save button is still disabled after changing logo settings
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce/changelog/2023-11-03-05-13-10-305725
Labels: plugin: woocommerce

#41180 Allow null in multichannel campaign.
  plugins/woocommerce-admin/client/marketing/data-multichannel/types.ts
  plugins/woocommerce-admin/client/marketing/hooks/useCampaigns.ts
  plugins/woocommerce/changelog/fix-null-allowed-in-multichannel-campaign
Labels: plugin: woocommerce

#32288 Prevent warning on wc_get_product_variation_attributes
  plugins/woocommerce/changelog/pr-32288
  plugins/woocommerce/includes/wc-product-functions.php
Labels: focus: variation [team:Proton], needs: developer feedback, plugin: woocommerce, type: community contribution

#41198 Add stalebot schedules to allow processing of all issues
  .github/workflows/scripts/stalebot.js
  .github/workflows/stalebot.yml
  plugins/woocommerce/changelog/add-stalebot-schedules
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure

#40178 Add tests for tax display for the shopper
  plugins/woocommerce/changelog/e2e-display-correct-tax-checkout
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-calculate-tax.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#41106 Product Editor: Add PostTypeContext and blocks access to plugins
  packages/js/product-editor/changelog/update-add-post-type-context-product-editor
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/contexts/post-type-context/index.ts
  packages/js/product-editor/src/index.ts
Labels: type: bug, category: extensibility, focus: new product ux

#40835 Add preview and replace button to downloads edit
  packages/js/product-editor/changelog/dev-35143_add_preview_to_downloads_edit
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/edit-downloads-modal.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/style.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/types.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
Labels: focus: new product ux, team: Mothra

#41125 Avoid the PHP error with an undefined property on the WooCommerce > Extensions page
  plugins/woocommerce/changelog/fix-31146-extensions-page-undefined-property
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: plugin: woocommerce

#41233 Fix CYS initial pattern population bug
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/changelog/fix-cys-initial-pattern-population
Labels: plugin: woocommerce

#40990 Update/my subscriptions wp installer
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/connect-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/install.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/renew-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/types.ts
  plugins/woocommerce-admin/client/marketplace/contexts/install-store.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/subscriptions-context.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/update-my-subscriptions-wp-installer
  plugins/woocommerce/includes/admin/helper/class-wc-helper-plugin-info.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-subscriptions-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#41168 Fix pattern route performance
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/changelog/fix-pattern-route-performance
Labels: plugin: woocommerce

#39988 Add the wc_allow_changing_orders_storage_while_sync_is_pending filter
  plugins/woocommerce/changelog/add-wc_allow_changing_orders_storage_while_sync_is_pending-filter
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/tests/php/includes/class-wc-order-factory-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-order-data-store-cpt-test.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/EditLockTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#41189 Product Editor: Select product name block initially if set to autofocus
  packages/js/product-editor/changelog/fix-select-product-name-block-initially
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
Labels: type: bug, category: extensibility, focus: new product ux

#41222 update api-core-tests to work on daily site and localhost/CI
  plugins/woocommerce/changelog/api-fix-to-allow-execution-against-daily-site
  plugins/woocommerce/tests/api-core-tests/tests/payment-gateways/payment-gateways-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/system-status/system-status-crud.test.js
Labels: plugin: woocommerce, focus: api tests, team: Solaris

#41161 [Product Block Editor] Show onboarding tour within description block editor
  packages/js/product-editor/changelog/add-welcome-guide
  packages/js/product-editor/package.json
  packages/js/product-editor/src/blocks/product-fields/description/edit.tsx
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/modal-editor-welcome-guide/default.js
  packages/js/product-editor/src/components/modal-editor-welcome-guide/image.js
  packages/js/product-editor/src/components/modal-editor-welcome-guide/index.js
  packages/js/product-editor/src/components/modal-editor-welcome-guide/style.scss
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/products/tour/components/guide/index.tsx
  plugins/woocommerce-admin/client/products/tour/components/guide/style.scss
  plugins/woocommerce/changelog/remove-guide-style
  pnpm-lock.yaml
Labels: plugin: woocommerce

#41201 Logging: Add missing script exit after redirect
  plugins/woocommerce/changelog/41201-fix-41197-log-file-bulk-fatal
  plugins/woocommerce/src/Internal/Admin/Logging/PageController.php
Labels: plugin: woocommerce, team: Proton, focus: logging

#41245 update woocommerce.com email addresses to woo.com
  .github/workflows/cherry-pick.yml
  .github/workflows/post-release.yml
  .github/workflows/release-code-freeze.yml
  CODE_OF_CONDUCT.md
  docs/quality-and-best-practices/grammar-punctuation-capitalization.md
  plugins/woocommerce/changelog/update-woo-email-addresses
  plugins/woocommerce/sample-data/sample_products.xml
  plugins/woocommerce/tests/legacy/unit-tests/order-items/class-wc-tests-order-item-product.php
  tools/code-analyzer/src/lib/__tests__/fixtures/diff.txt
Labels: plugin: woocommerce

#41235 [CYS] Copy changes
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/BusinessInfoDescription.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/LookAndFeel.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ToneOfVoice.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/customize-store.tsx
  plugins/woocommerce/changelog/update-cys-copy
Labels: plugin: woocommerce

#41237 [CYS] Fix frame overlap sidebar
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce/changelog/fix-cys-frame-overlay-sidebar
Labels: plugin: woocommerce

#41124 My subscriptions error notices
  plugins/woocommerce-admin/client/marketplace/assets/images/alert.svg
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/notices.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/connect-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/install.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/update.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/actions-dropdown-menu.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/install-store.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/notice-store.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/add-my-subscriptions-notices
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#41234 Add Customize Your Store AI Survey
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/style.scss
  plugins/woocommerce-admin/client/customize-store/transitional/survey-form/index.tsx
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce/changelog/add-ai-survey
Labels: plugin: woocommerce

#41259 [CYS] Show warning modal when clicking this back arrow in assembler hub
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/go-back-warning-modal.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen.tsx
  plugins/woocommerce/changelog/add-cys-go-back-warning-modal
Labels: plugin: woocommerce

#41265 Revert "k6 perf tests: Fix parsing of COT/HPOS environment variable"
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/dev-fix-k6-perf-tests-hpos-env-var
  plugins/woocommerce/tests/performance/README.md
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
  plugins/woocommerce/tests/performance/config.js
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-filter.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-heartbeat.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-search.js
  plugins/woocommerce/tests/performance/requests/merchant/orders.js
Labels: plugin: woocommerce, focus: performance tests

#41043 WCA Test Helper: Product Editor Dev Tools
  plugins/woocommerce-beta-tester/changelog/add-block-template-inspector
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/src/index.js
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/block-inspector-tab-panel.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/expressions-panel.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/help-tab-panel.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/index.scss
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/index.ts
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/product-editor-dev-tools-bar.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/product-editor-dev-tools-menu.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/product-editor-dev-tools.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/product-tab-panel.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/tab-panel.tsx
  pnpm-lock.yaml
Labels: plugin: woocommerce beta tester, category: extensibility, focus: new product ux

#41205 Avoid a type error when performing an `array_sum()` under PHP 8.3.
  plugins/woocommerce/changelog/fix-40660-array-sum-php83
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-data-store-cpt-test.php
Labels: plugin: woocommerce

#41251 Update section description design
  packages/js/components/changelog/dev-40213_update_section_header_design
  packages/js/components/src/tooltip/tooltip.tsx
  packages/js/product-editor/changelog/dev-40213_update_section_header_design
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/blocks/generic/section/editor.scss
Labels: package: @woocommerce/components, focus: new product ux, team: Mothra

#41217 Update selected item styling dropdown
  packages/js/product-editor/changelog/dev-40206_update_selected_item_styling_dropdown
  packages/js/product-editor/src/components/attribute-term-input-field/attribute-term-input-field.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/custom-attribute-term-input-field.tsx
Labels: focus: new product ux, team: Mothra

#41274 Prep release/8.3 for 8.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#40513 Introduce a remote inbox rule for Woo Express sites
  plugins/woocommerce/changelog/add-wooexpress-rin-rule
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/GetRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/IsWooExpressRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/README.md
Labels: plugin: woocommerce

#41243 remove google url redirects from urls
  docs/extension-development/extension-developer-handbook.md
  docs/user-experience/accessibility.md
  docs/user-experience/best-practices.md
  docs/user-experience/colors.md
  docs/user-experience/onboarding.md
  docs/user-experience/task-list-and-inbox.md
  docs/user-experience/user-experience-guidelines.md
Labels: focus: documentation

#41262 [CYS] Fix navigation disappears after choosing a homepage template
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce/changelog/fix-cys-navigation-disappear
Labels: plugin: woocommerce

#41279 CYS - make the progress bar move forward in small segments
  packages/js/onboarding/changelog/41279-41231-cys-make-the-progress-bar-move-forward-in-small-segments
  packages/js/onboarding/src/components/Loader/Loader.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/stories/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/stories/style.scss
  plugins/woocommerce-admin/client/customize-store/design-with-ai/style.scss
  plugins/woocommerce/changelog/41279-41231-cys-make-the-progress-bar-move-forward-in-small-segments
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler-hub.spec.js
Labels: plugin: woocommerce, package: @woocommerce/onboarding, focus: e2e tests

#41066 Marketplace: table design updates
  plugins/woocommerce-admin/client/marketplace/assets/images/refresh.svg
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/install.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/actions-dropdown-menu.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/functions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/status-popover.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/table-rows.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/table.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/types.ts
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#41285 WooCommerce Beta Tester - CYS: implement removing patterns_ai_data post type
  plugins/woocommerce-beta-tester/api/tools/reset-cys.php
  plugins/woocommerce-beta-tester/changelog/fix-remove_patterns_ai_data_post_reset_cys
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
Labels: type: enhancement, plugin: woocommerce beta tester

#41294 Prep release/8.3.0.40 for 8.3.0.41 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41187 Fix imported variations count on batched import.
  plugins/woocommerce/changelog/41187-fix-41186
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
Labels: plugin: woocommerce, type: community contribution

#41278 Fix possible warning when edit lock is released mid page load
  plugins/woocommerce/changelog/fix-39824
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/EditLock.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#41165 Add empty state to images block
  packages/js/product-editor/changelog/add-39681_empty_state_to_images_block
  packages/js/product-editor/src/blocks/product-fields/images/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/images/editor.scss
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/imgs/close-up.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/imgs/front-side.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/imgs/lifestyle-scene.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/imgs/variants.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/index.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/place-holder.tsx
  packages/js/product-editor/src/blocks/product-fields/images/place-holder/style.scss
Labels: team: Mothra

#41291 Update Woocommerce Blocks 11.1.3
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.1.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#41302 Prep release/8.2 for 8.2 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41276 Update WooCommerce Blocks package to 11.4.5
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.4.5
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#41314 Prep release/8.3 for 8.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41315 Improve e2e test stability
  plugins/woocommerce/changelog/fix-improve-e2e-stability
  plugins/woocommerce/tests/e2e-pw/global-teardown.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-simple-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/tax/checkout-calculate-tax.spec.js
Labels: focus: e2e tests

#41293 Fix "Choose Your Theme" task header
  plugins/woocommerce-admin/client/task-lists/fills/appearance.js
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/appearance.js
  plugins/woocommerce/changelog/fix-appearance-task-header
Labels: plugin: woocommerce, needs: analysis

#41146 Add hooks to customize the behavior of the cart shipping calculator
  plugins/woocommerce/changelog/add-shipping-calculator-filters
  plugins/woocommerce/includes/class-wc-cart.php
Labels: plugin: woocommerce, needs: analysis

#41269 Update WooCommerce Blocks package to 11.5.3
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/fix-failing-test-php8-wp64
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.5.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplateRegistry/BlockTemplatesControllerTest.php
Labels: plugin: woocommerce

#41284 [CYS] Add track events
  plugins/woocommerce-admin/client/customize-store/design-with-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/types.ts
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/theme-card.tsx
  plugins/woocommerce-admin/client/customize-store/intro/warning-modals.tsx
  plugins/woocommerce/changelog/add-cys-tracks
Labels: plugin: woocommerce

#40289 Remove use of SQL_CALC_FOUND_ROWS in low stock query
  plugins/woocommerce-admin/client/homescreen/activity-panel/orders/utils.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/stock/index.js
  plugins/woocommerce/changelog/40289-fix-38932-fix-slow-low-in-stock-query
  plugins/woocommerce/changelog/fix-38932-fix-slow-low-in-stock-query
  plugins/woocommerce/src/Admin/API/ProductsLowInStock.php
Labels: plugin: woocommerce, needs: analysis

#41244 Remove unused large banner image
  plugins/woocommerce-admin/client/customize-store/assets/images/intro-banner-existing-ai.svg
  plugins/woocommerce/changelog/update-delete_unused_large_image
Labels: plugin: woocommerce

#41328 Render customers filter on HPOS list table on hook `woocommerce_order_list_table_restrict_manage_orders`
  plugins/woocommerce/changelog/fix-39271
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#41170 Move Template implementation classes to internal namespace
  plugins/woocommerce/changelog/tweak-template-internal
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/AbstractProductFormTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Group.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductBlock.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Section.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/php/src/Admin/ProductBlockEditor/ProductTemplates/CustomProductFormTemplate.php
Labels: plugin: woocommerce

#41114 Logging: New, improved view for a single log file
  plugins/woocommerce/changelog/41114-try-log-file-view
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/class-wc-log-levels.php
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/File.php
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/FileController.php
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Logging/PageController.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/FileV2/FileControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/FileV2/FileTest.php
Labels: plugin: woocommerce, focus: logging

#41281 Fix missing or duplicated order meta after post backport when meta value is an array (WC 8.2)
  plugins/woocommerce/changelog/41281-fix-custom-meta-backfill-post-record
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#41344 Clear payment suggestion cache when base country gets updated
  plugins/woocommerce/changelog/41344-fix-clear-payment-suggestion-on-base-country-update
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/Init.php
Labels: plugin: woocommerce

#41330 Update Woocommerce Blocks to 11.4.7
  plugins/woocommerce/changelog/fix-failing-test-php8-wp64
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.4.7
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplateRegistry/BlockTemplatesControllerTest.php
Labels: plugin: woocommerce

#41323 Style <mark> tag on order detail page
  plugins/woocommerce/changelog/41323-fix-41268-mark-tag-on-order-page
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/woocommerce-layout.scss
Labels: type: bug, focus: html/css, focus: order, plugin: woocommerce, team: Rubik

#41288 Fix subscription grouping
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/functions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/types.ts
  plugins/woocommerce/changelog/41288-fix-subscriptions-edge-cases
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#41321 [CYS] Add more Tracks
  plugins/woocommerce-admin/client/customize-store/design-with-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/LookAndFeel.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ToneOfVoice.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/types.ts
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce/changelog/add-more-cys-tracks
Labels: plugin: woocommerce

#41352 [CYS] Hide feedback button when survey has already been completed
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/actions.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/services.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/survey-form/index.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/fix-feedback-button-appear-after-survey-completed
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce

#41329 Fix toggle chart views within Analytics Overview
  packages/js/components/changelog/fix-41301_chart_views_within_analytics
  packages/js/components/src/ellipsis-menu/menu-item.tsx
Labels: package: @woocommerce/components, team: Mothra

#41342 Add custom image in downloads editor
  packages/js/product-editor/changelog/dev-41254_use_custom_image_in_downloads_editor
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/edit-downloads-modal.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/images/downloads-custom-image.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/images/union-icon.tsx
Labels: focus: new product ux, team: Mothra

#41338 Fix block header style in description modal
  packages/js/product-editor/changelog/fix-41312_block_header_in_description_modal
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.scss
Labels: focus: new product ux, team: Mothra

#41064 Add new test scenario for mini-cart inclusive tax price
  plugins/woocommerce/changelog/e2e-update-mini-cart-test
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#41372 Fix date range and UI in Analytics
  packages/js/components/changelog/fix-41297_date_range_picker_and_ui
  packages/js/components/src/date-range-filter-picker/index.js
Labels: type: bug, priority: critical, package: @woocommerce/components, team: Mothra

#40522 Add new E2E tests to cover Shopper Cart Block
  plugins/woocommerce/changelog/e2e-add-tests-shopper-cart-block
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-calculate-shipping.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#41220 Use consistent sanitization on tax classes
  plugins/woocommerce/changelog/2023-11-03-18-30-05-950219
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
Labels: plugin: woocommerce

#41320 Fix typographic quotes used in HTML attributes
  plugins/woocommerce/changelog/pr-41320
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
Labels: plugin: woocommerce

#40886 fixed error Trying to get property 'ID' of non-object on line 620 class-wc-admin-post-types.php
  plugins/woocommerce/changelog/admin-print-scripts-defensive-coding
  plugins/woocommerce/includes/admin/class-wc-admin-post-types.php
Labels: plugin: woocommerce, type: community contribution

#41347 Add filter to remove some of the `order-received` page protections
  plugins/woocommerce/changelog/39598-add-order-received-validation-filter
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
Labels: plugin: woocommerce, type: community contribution, needs: internal testing, status: analysis complete

#41377 Update WooCommerce Blocks to 11.4.8
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.4.8
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#41401 Prep release/8.3 for 8.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41403 Update WooCommerce Blocks package to 11.5.4
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-11.5.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#41404 Add `popoverProps` to DatePicker
  packages/js/components/changelog/fix-date-picker-popover-props
  packages/js/components/src/calendar/README.md
  packages/js/components/src/calendar/date-picker.js
  packages/js/components/src/date-time-picker-control/README.md
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
Labels: type: bug, package: @woocommerce/components, team: Mothra

#41331 Hide virtual & downloadable sections when the product type is 'variable'
  plugins/woocommerce/changelog/add-40806
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#41155 Fix the slides overlapping on the Marketing > Coupon page
  plugins/woocommerce-admin/client/marketing/coupons/slider/style.scss
  plugins/woocommerce/changelog/fix-34602-marketing-coupon-page-slides-overlap
Labels: plugin: woocommerce

#41409 Update/wp 6.4
  plugins/woocommerce/changelog/41409-update-wp-6.4
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41051 [Enhancement]: Added a new parameter $status_transition to the woocommerce_order_status_$status_transition["to"] hook.
  plugins/woocommerce/changelog/fix-39602
  plugins/woocommerce/includes/class-wc-order.php
Labels: plugin: woocommerce, type: community contribution

#41307 Template API: Conditional disabling support
  packages/js/block-templates/changelog/add-disable-conditions
  packages/js/block-templates/src/utils/register-woo-block-type.ts
  packages/js/block-templates/src/utils/test/register-woo-block-type.test.ts
  packages/js/components/changelog/add-disable-conditions
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-tree-control/select-tree.scss
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/product-editor/changelog/add-disable-conditions
  packages/js/product-editor/src/blocks/generic/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/blocks/generic/pricing/edit.tsx
  packages/js/product-editor/src/blocks/generic/taxonomy/edit.tsx
  packages/js/product-editor/src/blocks/generic/text/edit.tsx
  packages/js/product-editor/src/components/checkbox-control/checkbox-control.tsx
  packages/js/product-editor/src/components/checkbox-control/style.scss
  packages/js/product-editor/src/components/number-control/number-control.tsx
  packages/js/product-editor/src/components/text-control/text-control.tsx
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-disable-conditions
  plugins/woocommerce/src/Admin/BlockTemplates/BlockInterface.php
  plugins/woocommerce/src/Admin/BlockTemplates/README.md
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplates/README.md
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/BlockFormattedTemplateTrait.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/BlockTest.php
Labels: plugin: woocommerce, package: @woocommerce/components, needs: analysis

#41098 Check if $data['billing_email'] is set
  plugins/woocommerce/changelog/fix-41097
  plugins/woocommerce/includes/class-wc-checkout.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#41410 Template API: Only generate templates on WCA routes
  packages/js/product-editor/changelog/update-template-api-limit-generation
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  plugins/woocommerce/changelog/update-template-api-limit-generation
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: type: bug, plugin: woocommerce, category: extensibility, focus: new product ux

#41440 Prep release/8.3.0.50 for 8.3.0.51 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41389 Updated add to cart aria-label value so it matches the visible text pattern
  plugins/woocommerce/changelog/update-add-cart-a11y-naming-improvement
  plugins/woocommerce/includes/class-wc-product-simple.php
Labels: plugin: woocommerce, type: community contribution

#41393 [CYS] Add the possibility to remove the logo
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/add-remove-cys-logo
Labels: plugin: woocommerce

#41421 [CYS] Preload fonts in preview frame
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce/changelog/update-preload-fonts-in-frame
Labels: plugin: woocommerce

#41434 Prevent possible activation notice due to early initialization of feature settings
  plugins/woocommerce/changelog/fix-41363
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce, needs: analysis

#41414 CYS - Add AI disclaimer copy
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/41414-add-41396-cys-add-ai-disclaimer
Labels: plugin: woocommerce

#41399 Fix snackbar icon position
  plugins/woocommerce-admin/client/layout/transient-notices/style.scss
  plugins/woocommerce/changelog/41399-fix-woo-notice-icon-position
Labels: plugin: woocommerce

#41163 Use ' instead of backspace for escaping in csv export
  packages/js/csv-export/changelog/add-change-csv-export-escape-char
  packages/js/csv-export/src/__mocks__/mock-csv-data.js
  packages/js/csv-export/src/index.ts
  packages/js/csv-export/src/test/index.ts
Labels: package: @woocommerce/csv-export

#41424 [CYS] Fix `getCompletion` API hanging and color choices parsing error
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/colorChoices.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/tests/services.test.ts
  plugins/woocommerce/changelog/fix-cys-ai-api
Labels: plugin: woocommerce

#41398 Marketplace connection deny redirect
  plugins/woocommerce/changelog/41398-fix-connect-deny-redirect
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#41395 Check if wc_admin_register_page exists before loading Marketplace pages
  plugins/woocommerce/changelog/41395-fix-undefined-wc_admin_register_page-in-marketplce
  plugins/woocommerce/src/Internal/Admin/Marketplace.php
Labels: plugin: woocommerce

#41458 [CYS] Tweak intro page banner style
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/fix-intro-css
Labels: plugin: woocommerce

#41453 Improve CYS assembler hub performance
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-pattern-list.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-patterns.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/iframe.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/global-styles-variation-iframe/index.tsx
  plugins/woocommerce/changelog/perf-cys-iframe-loading
Labels: plugin: woocommerce

#40460 Change plugin name to "Woo Subscriptions" in release and daily testing workflows
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/changelog/dev-ci-update-woo-subscriptions
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/upload-plugin.spec.js
Labels: plugin: woocommerce, focus: e2e tests, focus: testing workflows

#41316 Template API: Server-side logging
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/tools/set-block-template-logging-threshold.php
  plugins/woocommerce-beta-tester/changelog/add-template-api-server-side-logging
  plugins/woocommerce-beta-tester/src/index.scss
  plugins/woocommerce-beta-tester/src/tools/commands/index.js
  plugins/woocommerce-beta-tester/src/tools/commands/trigger-cron.js
  plugins/woocommerce-beta-tester/src/tools/commands/trigger-update-callbacks.js
  plugins/woocommerce-beta-tester/src/tools/commands/update-block-template-logging-threshold.tsx
  plugins/woocommerce-beta-tester/src/tools/data/action-types.js
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
  plugins/woocommerce-beta-tester/src/tools/data/reducer.js
  plugins/woocommerce-beta-tester/src/tools/data/resolvers.js
  plugins/woocommerce-beta-tester/src/tools/data/selectors.js
  plugins/woocommerce/changelog/add-template-api-server-side-logging
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/BlockContainerTrait.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/BlockTemplateLogger.php
Labels: plugin: woocommerce, plugin: woocommerce beta tester, category: extensibility

#41405 Do not allow selecting text in the Paginator component of the Product editor
  packages/js/product-editor/changelog/fix-41435-do-not-allow-selecting-text-in-paginator
  packages/js/product-editor/src/components/variations-table/pagination/pagination.tsx
  packages/js/product-editor/src/components/variations-table/pagination/styles.scss
Labels: type: good first issue, focus: new product ux, team: Mothra

#41140 The variations table should match the height of number of rows selected
  packages/js/product-editor/changelog/add-40211
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/table-row-skeleton/index.ts
  packages/js/product-editor/src/components/variations-table/table-row-skeleton/styles.scss
  packages/js/product-editor/src/components/variations-table/table-row-skeleton/table-row-skeleton.tsx
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
Labels: focus: new product ux, team: Mothra

#41464 Update CSV export escape characters
  plugins/woocommerce/changelog/update-csv-export-escape-chars
  plugins/woocommerce/includes/export/abstract-wc-csv-exporter.php
  plugins/woocommerce/tests/legacy/unit-tests/exporter/product.php
Labels: focus: csv import/export, plugin: woocommerce

#41466 Use a transient when computing orders in the last 90 days
  plugins/woocommerce/changelog/fix-40889-remove-orders-query-on-all-admin-pages
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce

#41397 Update refresh button to use API
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/notices.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/refresh-button.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/subscriptions-context.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/41397-add-refres-button-busy
Labels: plugin: woocommerce, focus: react marketplace, Team: Fire

#41450 fix: fixed all instances of translator lint rule violations
  packages/js/components/changelog/41450-dev-fix-translator-comment-lint-rule
  packages/js/components/changelog/dev-i18n-lint-rule-fixes
  packages/js/components/src/advanced-filters/number-filter.js
  packages/js/components/src/calendar/date-picker.js
  packages/js/components/src/calendar/date-range.js
  packages/js/components/src/calendar/phrases.js
  packages/js/components/src/chart/d3chart/legend.js
  packages/js/components/src/experimental-tree-control/tree.tsx
  packages/js/components/src/pagination/page-arrows-with-picker.tsx
  packages/js/components/src/pagination/page-arrows.tsx
  packages/js/components/src/rating/index.tsx
  packages/js/components/src/search-list-control/index.js
  packages/js/components/src/select-control/tags.tsx
  packages/js/components/src/summary/number.js
  packages/js/components/src/table/table.tsx
  packages/js/components/src/view-more-list/index.js
  packages/js/eslint-plugin/changelog/41450-dev-fix-translator-comment-lint-rule
  packages/js/eslint-plugin/configs/recommended.js
  packages/js/product-editor/changelog/41450-dev-fix-translator-comment-lint-rule
  packages/js/product-editor/changelog/dev-i18n-lint-rule-fixes
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.tsx
  packages/js/product-editor/src/components/manage-download-limits-modal/manage-download-limits-modal.tsx
  plugins/woocommerce-admin/client/analytics/report/categories/index.js
  plugins/woocommerce-admin/client/analytics/report/coupons/index.js
  plugins/woocommerce-admin/client/analytics/report/orders/table.js
  plugins/woocommerce-admin/client/analytics/report/products/index.js
  plugins/woocommerce-admin/client/analytics/report/products/table.js
  plugins/woocommerce-admin/client/analytics/report/taxes/index.js
  plugins/woocommerce-admin/client/analytics/report/variations/index.js
  plugins/woocommerce-admin/client/analytics/settings/config.js
  plugins/woocommerce-admin/client/analytics/settings/historical-data/progress.js
  plugins/woocommerce-admin/client/analytics/settings/historical-data/status.js
  plugins/woocommerce-admin/client/dashboard/components/cart-modal.js
  plugins/woocommerce-admin/client/dashboard/customizable.js
  plugins/woocommerce-admin/client/dashboard/dashboard-charts/block.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/orders/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/reviews/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/product-options.js
  plugins/woocommerce-admin/client/task-lists/components/terms-of-service.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/Setup/Setup.js
  plugins/woocommerce-admin/client/wp-admin-scripts/print-shipping-label-banner/setup-notice/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/all-category-list.tsx
  plugins/woocommerce/changelog/41450-dev-fix-translator-comment-lint-rule
  tools/create-extension/._eslintrc.js
Labels: plugin: woocommerce, package: @woocommerce/components, package: @woocommerce/eslint-plugin

#41435 Show one help text when user clicks help button
  packages/js/components/changelog/fix-40205_show_one_help_text_when_user_clicks_button
  packages/js/components/src/tooltip/tooltip.tsx
  packages/js/product-editor/changelog/fix-40205_show_one_help_text_when_user_clicks_button
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.tsx
Labels: package: @woocommerce/components, focus: new product ux, team: Mothra

#41305 use latest commit of stalebot action, tweak configuration accordingly
  .github/workflows/scripts/stalebot.js
  .github/workflows/stalebot.yml
  plugins/woocommerce/changelog/update-stalebot-action
Labels: plugin: woocommerce, tool: monorepo infrastructure, team: Solaris

#41433 Display an alert icon for variations that contains "any" values
  packages/js/product-editor/changelog/add-40346
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/variations-table-row/index.ts
  packages/js/product-editor/src/components/variations-table/variations-table-row/types.ts
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/truncate.ts
Labels: focus: new product ux, team: Mothra

#41337 [Individual variation] Fix empty state illustration visibility
  packages/js/product-editor/changelog/fix-41336_empty_state_illustration_for_images_block
  packages/js/product-editor/src/blocks/product-fields/images/edit.tsx
Labels: focus: new product ux, team: Mothra

#41514 Prep release/8.3 for 8.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#41513 Prepared 2.3.0 Beta Tester Release
  plugins/woocommerce-beta-tester/changelog.txt
  plugins/woocommerce-beta-tester/changelog/41513-prepare-beta-tester-2.3.0
  plugins/woocommerce-beta-tester/changelog/add-block-template-inspector
  plugins/woocommerce-beta-tester/changelog/add-template-api-server-side-logging
  plugins/woocommerce-beta-tester/changelog/fix-remove_patterns_ai_data_post_reset_cys
  plugins/woocommerce-beta-tester/changelog/update-woocommerce-com-to-woo-com
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: plugin: woocommerce beta tester

#41519 Update stable tag to 8.3.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#41442 [External products] Product details
  packages/js/product-editor/changelog/add-35148
  packages/js/product-editor/src/blocks/generic/text/README.md
  packages/js/product-editor/src/blocks/generic/text/block.json
  packages/js/product-editor/src/blocks/generic/text/edit.tsx
  packages/js/product-editor/src/blocks/generic/text/editor.scss
  packages/js/product-editor/src/blocks/generic/text/types.ts
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/text-control/index.ts
  packages/js/product-editor/src/components/text-control/text-control.tsx
  packages/js/product-editor/src/components/text-control/types.ts
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
  plugins/woocommerce/changelog/add-35148
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#41480 Tree Select Control: Use enter button for selection
  packages/js/components/changelog/41480-update-tree-select-control-enter-btn-trunk
  packages/js/components/src/tree-select-control/index.js
Labels: package: @woocommerce/components

#41528 revert stalebot to v8 and single run
  .github/workflows/stalebot.yml
  plugins/woocommerce/changelog/stalebot-use-v8
Labels: type: task, plugin: woocommerce, tool: monorepo infrastructure

#41533 Cherry-pick 287 into release/8.3
  plugins/woocommerce/includes/admin/class-wc-admin-webhooks-table-list.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/webhooks.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#41535 Cherry-pick #287 into trunk
  plugins/woocommerce/changelog/cherry-pick-287-trunk
  plugins/woocommerce/includes/admin/class-wc-admin-webhooks-table-list.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/webhooks.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#41532 add: modified cys business info placeholder
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/BusinessInfoDescription.tsx
  plugins/woocommerce/changelog/add-cys-modified-business-info-placeholder
Labels: plugin: woocommerce

#41496 [CYS] The “Preview" on the transitional screen doesn’t represent our custom color palette
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce/changelog/fix-cys-transnational-screen-preview
Labels: plugin: woocommerce

#41497 [CYS] Remove `getLookAndTone` AI request from the business description step
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/index.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/lookAndTone.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/prompts/test/lookAndTone.test.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce/changelog/remove-get-look-and-tone
Labels: plugin: woocommerce

#41452 dev/fix no use before define lint violations
  packages/js/api/.eslintrc.js
  packages/js/api/changelog/41452-dev-fix-no-use-before-define-lint-violations
  packages/js/api/src/repositories/rest/orders/transformer.ts
  plugins/woocommerce-admin/.eslintrc.js
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/highlight-tooltip/index.js
  plugins/woocommerce-admin/client/activity-panel/panel.js
  plugins/woocommerce-admin/client/analytics/settings/historical-data/actions.js
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/marketing/data/actions.js
  plugins/woocommerce-admin/client/marketplace/components/feedback-modal/feedback-modal.tsx
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/store-management-links/index.js
  plugins/woocommerce/changelog/41452-dev-fix-no-use-before-define-lint-violations
Labels: package: @woocommerce/api, plugin: woocommerce, needs: analysis

#41538 Invalidate coupon cache after hold/usage data is modified in datastore via SQL
  plugins/woocommerce/changelog/fix-41506
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#41531 Doc: Add Product Editor Extensibility Guidelines
  docs/product-editor-development/README.md
  docs/product-editor-development/product-editor-extensibility-guidelines.md
Labels: focus: documentation, category: extensibility

#41545 Doc: Update generic blocks readme
  packages/js/product-editor/changelog/update-generic-blocks-readme
  packages/js/product-editor/src/blocks/generic/README.md
Labels: focus: documentation, category: extensibility

#41469 Add digital products to the new experiment testing the product editor.
  plugins/woocommerce-admin/client/task-lists/fills/products/use-create-product-by-type.ts
  plugins/woocommerce/changelog/add-new-ab-test-product-editor
  plugins/woocommerce/client/admin/config/core.json
Labels: plugin: woocommerce, team: Mothra
