Repository woocommerce/woocommerce, pull requests merged in 2023-01, with the labels that each got.

#36223 Revert "Automatically show attributes in Variations"
  plugins/woocommerce/changelog/dev-33551_streamline_first_variation_creation
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute.php
Labels: plugin: woocommerce

#36240 Fix signature mismatch in WC CLI command api calls
  plugins/woocommerce/changelog/fix-wc-cli-commands
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#35999 Adds `add_meta_boxes_<SCREEN_ID>` hook to the HPOS order editor.
  plugins/woocommerce/changelog/fix-35647-hpos-meta-boxes
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: plugin: woocommerce, focus: react admin

#36122 Typo correction in woocommerce/src/Admin/ReportsSync.php
  plugins/woocommerce/changelog/fix-typo-in-regenerate_report_data-doc
  plugins/woocommerce/src/Admin/ReportsSync.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#36236 Fix attributes/options lists corrupt render
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/utils.spec.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/utils.ts
  plugins/woocommerce/changelog/fix-36190_attribute_lists_corrupt_renders
Labels: plugin: woocommerce, focus: react admin

#36239 Fix navigation between variations and tab selection
  plugins/woocommerce-admin/client/products/fields/variations/variations.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-variation-navigation.ts
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/fix-36237
Labels: plugin: woocommerce, focus: react admin

#36260 E2e/fix obw industry spec
  plugins/woocommerce/changelog/e2e-fix-obw-industry-spec
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/complete-onboarding-wizard.spec.js
Labels: plugin: woocommerce

#36264 Update browserslistconfig for legacy JS assets
  plugins/woocommerce/changelog/dev-update-browserslist-config
  plugins/woocommerce/client/legacy/.browserslistrc
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#36241 Convert HTML to blocks in product variation description
  plugins/woocommerce-admin/client/products/sections/product-variation-details-section.tsx
  plugins/woocommerce/changelog/fix-36206
Labels: plugin: woocommerce, focus: react admin

#36243 Derive product type from product attributes
  plugins/woocommerce-admin/client/products/use-product-helper.ts
  plugins/woocommerce-admin/client/products/utils/get-derived-product-type.ts
  plugins/woocommerce-admin/client/products/utils/test/get-derived-product-type.ts
  plugins/woocommerce/changelog/fix-36204
Labels: plugin: woocommerce, focus: react admin

#36247 Make coupon code label accessible
  plugins/woocommerce/changelog/fix-coupon-code-a11y
  plugins/woocommerce/client/legacy/css/woocommerce-layout.scss
  plugins/woocommerce/templates/cart/cart.php
Labels: plugin: woocommerce, type: community contribution

#35897 Speed up search query by using GROUP BY instead of DISTINCT for HPOS
  plugins/woocommerce/changelog/fix-35831
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: plugin: woocommerce, focus: react admin

#36213 Skip custom search for HPOS API queries as it's handled already.
  plugins/woocommerce/changelog/fix-36212
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
Labels: plugin: woocommerce

#36218 Set child orders to be children of current order parent before deleting.
  plugins/woocommerce/changelog/fix-35909
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#36216 Fix bug when filtering for customer_id=0.
  plugins/woocommerce/changelog/fix-35852
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
Labels: plugin: woocommerce

#36284 Use more generic selectors for HPOS<>Posts compatibility
  plugins/woocommerce/changelog/e2e-modify-search-selector
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-search.spec.js
Labels: plugin: woocommerce

#36311 Add product variation flag to hide WIP
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/utils/get-derived-product-type.ts
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-36276
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, focus: react admin

#36265 Migrate Tag component to TS
  packages/js/components/changelog/dev-migrate-tag-component-to-ts
  packages/js/components/src/tag/index.tsx
  packages/js/components/src/tag/stories/index.js
  packages/js/components/src/tag/stories/index.tsx
  packages/js/components/src/tag/test/__snapshots__/index.tsx.snap
  packages/js/components/src/tag/test/index.tsx
Labels: package: @woocommerce/components

#36296 Fix reordering items logic in attributes/options lists
  plugins/woocommerce-admin/client/products/fields/attribute-field/attribute-field.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-field/test/utils.spec.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/utils.ts
  plugins/woocommerce-admin/client/products/hooks/use-variations-order.ts
  plugins/woocommerce/changelog/fix-36255_reordering_list_items
Labels: plugin: woocommerce, focus: react admin

#36262 Fix moving list item also moves image gallery item
  packages/js/components/changelog/fix-36256_moving_list_item_moves_image
  packages/js/components/package.json
  packages/js/components/src/sortable/sortable.tsx
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#36299 Include tax options in pricing section
  packages/js/data/changelog/add-36164
  packages/js/data/src/index.ts
  packages/js/data/src/tax-classes/constants.ts
  packages/js/data/src/tax-classes/index.ts
  packages/js/data/src/tax-classes/resolvers.ts
  packages/js/data/src/tax-classes/types.ts
  packages/js/data/src/utils.ts
  plugins/woocommerce-admin/client/products/constants.ts
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/add-36164
Labels: priority: high, focus: product, plugin: woocommerce, focus: react admin, package: @woocommerce/data, focus: product management, focus: product management MVP, focus: Product Management MVP 1.0

#36314 Update WooCommerce Blocks to 9.1.4
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.1.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36337 bump blocks 9.1.4
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36274 Update WooCommerce Blocks package to 8.9.4
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-woocommerce-blocks-8.9.3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36338 Bump WooCommerce version to 7.2.3 for fix release.
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#36308 Fix: order refunds REST API endpoint reading from posts table even with HPOS active
  plugins/woocommerce/changelog/fix-rest-api-refunds-for-hpos
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
Labels: focus: custom order tables, plugin: woocommerce

#35849 Adds 2 new order status filters for bacs and cheque email instructions
  plugins/woocommerce/changelog/2023-01-05-09-16-47-168455
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
Labels: plugin: woocommerce, type: community contribution

#36282 Make HPOS UX more consistent with posts (so that same e2e tests passes).
  plugins/woocommerce/changelog/fix-order-edit-consistency
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
Labels: plugin: woocommerce, focus: react admin

#36277 Validate Norweigan postcodes/rework code for 4-digit post code validation
  plugins/woocommerce/changelog/four-digit-postcodes
  plugins/woocommerce/includes/class-wc-validation.php
Labels: plugin: woocommerce

#36343 Take private variations into account for sort order
  plugins/woocommerce/changelog/joris-36343-variation-sort-order
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
Labels: plugin: woocommerce, type: community contribution

#36350 When product is sold individually, hide quantity selector
  plugins/woocommerce/changelog/fix-36007-sold-individually
  plugins/woocommerce/client/legacy/css/_common.scss
  plugins/woocommerce/client/legacy/css/twenty-nineteen.scss
  plugins/woocommerce/client/legacy/css/twenty-seventeen.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
Labels: plugin: woocommerce

#36285 dev: migrate @woocommerce/components/link to ts
  packages/js/components/changelog/dev-migrate-link-ts
  packages/js/components/src/index.ts
  packages/js/components/src/link/index.js
  packages/js/components/src/link/index.tsx
  packages/js/components/src/link/stories/index.tsx
  packages/js/components/src/link/test/index.tsx
Labels: package: @woocommerce/components

#36361 Update WooCommerce Blocks to 9.1.5
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.1.5
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36104 Update TaskLists::add_task() to reflect changes in TaskList::add_task()
  plugins/woocommerce/changelog/update-tasklists-addtask
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin

#36347 Update README to add slack link and update issue submission denial language
  README.md
Labels: type: good first issue

#36219 Enable COT Tests for all PRs.
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/enable-hpos-check
Labels: plugin: woocommerce

#36270 Make secondQuestion and title params optional in CES Prompt
  packages/js/customer-effort-score/README.md
  packages/js/customer-effort-score/changelog/update-customer-effort-score
  packages/js/customer-effort-score/src/customer-effort-score.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/index.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/test/index.tsx
Labels: package: @woocommerce/customer-effort-score

#36174 k6: update order requests for HPOS add tidy scenarios
  plugins/woocommerce/changelog/update-k6-order-requests
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
  plugins/woocommerce/tests/performance/tests/gh-action-daily-ext-requests.js
  plugins/woocommerce/tests/performance/tests/gh-action-pr-requests.js
  plugins/woocommerce/tests/performance/tests/simple-all-requests.js
  plugins/woocommerce/tests/performance/tests/wc-baseline-load.js
Labels: plugin: woocommerce, focus: performance tests

#36331 Adding WooProductSectionItem slotfill
  packages/js/components/changelog/add-36015-mvp-section-slot
  packages/js/components/src/index.ts
  packages/js/components/src/woo-product-section-item/README.md
  packages/js/components/src/woo-product-section-item/index.ts
  packages/js/components/src/woo-product-section-item/woo-product-section-item.tsx
  plugins/woocommerce-admin/client/products/product-form-tab.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/add-36015-mvp-section-slot
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36294 Update spelling of Cancelled to Canceled for US English.
  packages/js/components/changelog/canceled
  packages/js/e2e-core-tests/src/specs/merchant/wp-admin-order-status-filters.test.js
  plugins/woocommerce/changelog/canceled
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/includes/class-wc-regenerate-images.php
  plugins/woocommerce/includes/emails/class-wc-email-cancelled-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-on-hold-order.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/api-core-tests/tests/reports/reports-crud.test.js
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: package: @woocommerce/e2e-core-tests, plugin: woocommerce, package: @woocommerce/components, type: community contribution

#36093 Add/36019 php product form helper classes
  plugins/woocommerce/changelog/add-36019_php_product_form_helper_classes
  plugins/woocommerce/src/Internal/Admin/ProductForm/Component.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/ComponentTrait.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/Field.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/FormFactory.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/README.md
  plugins/woocommerce/src/Internal/Admin/ProductForm/Section.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/Subsection.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/product-form/field.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/product-form/form-factory.php
Labels: plugin: woocommerce, focus: react admin

#36365 Remove persisted query on return to parent product from variation
  plugins/woocommerce-admin/client/products/hooks/use-product-variation-navigation.ts
  plugins/woocommerce/changelog/fix-36293
Labels: plugin: woocommerce, focus: react admin

#36381 Redirect to new product experience when in experiment group
  plugins/woocommerce-admin/client/tasks/fills/products/use-create-product-by-type.ts
  plugins/woocommerce/changelog/add-76-product-creation-experiment
Labels: plugin: woocommerce, focus: react admin

#36202 Hide `Variations` section when it is empty
  plugins/woocommerce-admin/client/products/sections/product-variations-section.tsx
  plugins/woocommerce/changelog/fix-36181_hide_variations_section_when_empty
Labels: plugin: woocommerce, focus: react admin

#36165 Add product form api functions
  plugins/woocommerce/changelog/add-36021_php_add_product_form_api_functions
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/ProductForm.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/Component.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/FormFactory.php
  plugins/woocommerce/src/Internal/Admin/ProductForm/README.md
  plugins/woocommerce/src/Internal/Admin/ProductForm/Section.php
Labels: plugin: woocommerce, focus: react admin

#36298 Migrate Section component to TS
  packages/js/components/changelog/dev-migrate-section-component-to-ts
  packages/js/components/src/section/context.tsx
  packages/js/components/src/section/header.tsx
  packages/js/components/src/section/index.tsx
  packages/js/components/src/section/section.js
  packages/js/components/src/section/section.tsx
  packages/js/components/src/section/stories/index.tsx
Labels: package: @woocommerce/components

#36385 Bump stable tag and update changelog for 7.2.3 release.
  changelog.txt
  plugins/woocommerce/changelog/dev-bump-stable-tag
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#36408 Security update 242
  plugins/woocommerce/changelog/fix-240
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-customers-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-customers-controller.php
Labels: plugin: woocommerce

#36305 Migrate product image component to TS
  packages/js/components/changelog/dev-migrate-product-image-component-to-ts
  packages/js/components/src/product-image/index.tsx
  packages/js/components/src/product-image/placeholder.tsx
  packages/js/components/src/product-image/stories/index.tsx
  packages/js/components/src/product-image/test/__snapshots__/index.tsx.snap
  packages/js/components/src/product-image/test/index.tsx
  packages/js/components/src/search/autocompleters/product.tsx
  packages/js/components/src/search/autocompleters/variations.tsx
Labels: package: @woocommerce/components

#36321 Analytics: Decode HTML entities in CategoryBreadcrumbs
  plugins/woocommerce-admin/client/analytics/report/categories/breadcrumbs.js
  plugins/woocommerce/changelog/fix-analytics-category-breadcrumbs-html-entities
Labels: type: bug, plugin: woocommerce, focus: react admin, focus: analytics

#36398 update k6 readme variable names
  plugins/woocommerce/changelog/update-k6-readme-variables
  plugins/woocommerce/tests/performance/README.md
Labels: plugin: woocommerce, focus: performance tests

#36384 Widen the selector used to hide the quantity input
  plugins/woocommerce/changelog/fix-36007-sold-individually-amendment
  plugins/woocommerce/client/legacy/css/_common.scss
Labels: plugin: woocommerce

#36403 [HPOS] Add support for ordering by metadata in order queries
  plugins/woocommerce/changelog/fix-35486
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableMetaQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#36310 Order emails: improve responsiveness and RTL support
  plugins/woocommerce/changelog/fix-31478-responsive-emails
  plugins/woocommerce/templates/emails/email-footer.php
  plugins/woocommerce/templates/emails/email-header.php
  plugins/woocommerce/templates/emails/email-styles.php
  plugins/woocommerce/tests/legacy/data/sample-email.html
Labels: plugin: woocommerce

#36380 Add advanced setting option
  plugins/woocommerce/changelog/add-36163_advanced_setting_option
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/NewProductManagementExperience.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
Labels: plugin: woocommerce, focus: react admin, focus: product management

#36407 Enable Live Branches feature in WooCommerce Beta Tester
  plugins/woocommerce-beta-tester/changelog/dev-enable-live-branches
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester-live-branches.php
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/readme.txt
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: plugin: woocommerce beta tester

#36273 Upgrade PHPUnit to v8 and stop using patched PHPUnit 7 for PHP 8
  .github/workflows/pr-unit-tests.yml
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/upgrade-to-phpunit-8
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api-init.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/batch-queue.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/category-lookup.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/transformer-service.php
  plugins/woocommerce/tests/php/includes/class-wc-emails-tests.php
  plugins/woocommerce/tests/php/includes/wc-attribute-functions-test.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsTest.php
  plugins/woocommerce/tests/php/src/Internal/BatchProcessing/BatchProcessingControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
Labels: plugin: woocommerce

#36224 Properly handle product filtering query vars when front page is ‘shop’
  plugins/woocommerce/changelog/fix-35983
  plugins/woocommerce/includes/class-wc-query.php
Labels: plugin: woocommerce

#36430 Adding ProductForm data store
  packages/js/data/changelog/add-36073-product-form-data-store
  packages/js/data/src/index.ts
  packages/js/data/src/product-form/action-types.ts
  packages/js/data/src/product-form/actions.ts
  packages/js/data/src/product-form/constants.ts
  packages/js/data/src/product-form/index.ts
  packages/js/data/src/product-form/reducer.ts
  packages/js/data/src/product-form/resolvers.ts
  packages/js/data/src/product-form/selectors.ts
  packages/js/data/src/product-form/types.ts
  plugins/woocommerce/changelog/add-36073-product-form-data-store
  plugins/woocommerce/src/Internal/Admin/ProductForm/Section.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#36182 Include WC Cart functions for REST API calls
  plugins/woocommerce/changelog/fix-missed-wc-empty-cart
  plugins/woocommerce/includes/class-wc-session-handler.php
Labels: needs: developer feedback, plugin: woocommerce

#33735 Fixed - woocommerce_order_tracking shortcode causes fatal error if a refund ID is entered #31760 issue
  plugins/woocommerce/changelog/fix-31760
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-order-tracking.php
Labels: plugin: woocommerce, type: community contribution

#36392 Add basic fields for rendering of Product MVP
  packages/js/components/changelog/add-36074_basic_fields
  packages/js/components/src/index.ts
  packages/js/components/src/product-fields/api/render.tsx
  packages/js/components/src/product-fields/fields/basic-select-control/index.ts
  packages/js/components/src/product-fields/fields/basic-select-control/render.tsx
  packages/js/components/src/product-fields/fields/checkbox/index.ts
  packages/js/components/src/product-fields/fields/checkbox/render.tsx
  packages/js/components/src/product-fields/fields/index.ts
  packages/js/components/src/product-fields/fields/radio/index.ts
  packages/js/components/src/product-fields/fields/radio/render.tsx
  packages/js/components/src/product-fields/fields/text/index.ts
  packages/js/components/src/product-fields/fields/text/render.tsx
  packages/js/components/src/product-fields/fields/toggle/index.ts
  packages/js/components/src/product-fields/fields/toggle/render.tsx
  packages/js/components/src/product-fields/fields/types.ts
  packages/js/components/src/product-fields/index.ts
  packages/js/components/src/product-fields/store/types.ts
  packages/js/components/src/product-fields/stories/index.tsx
Labels: package: @woocommerce/components

#35009 Get the first array item for the alt_text.
  plugins/woocommerce/changelog/34071-alt-text-handling
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce, type: community contribution

#36439 Remove deprecated usage of `${var}` syntax in strings
  plugins/woocommerce/changelog/fix-deprecated-usage-of-var-syntax-in-strings
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/includes/admin/views/html-admin-page-status-tools.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/DataStore.php
  plugins/woocommerce/src/Admin/Features/Navigation/Menu.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DownloadPermissionsAdjuster.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/tests/Tools/CodeHacking/Hacks/FunctionsMockerHack.php
  plugins/woocommerce/tests/Tools/CodeHacking/Hacks/StaticMockerHack.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-example.php
  plugins/woocommerce/tests/php/src/Internal/Traits/AccessiblePrivateMethodsTest.php
  tools/monorepo/check-changelogger-use.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#36354 Extract attribute filtering and fetching logic out of attribute components
  plugins/woocommerce-admin/client/products/fields/attribute-control/add-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-control/add-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/attribute-control.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/attribute-field.scss
  plugins/woocommerce-admin/client/products/fields/attribute-control/edit-attribute-modal.scss
  plugins/woocommerce-admin/client/products/fields/attribute-control/edit-attribute-modal.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-control/test/add-attribute-modal.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/test/attribute-field.spec.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-control/test/utils.spec.ts
  plugins/woocommerce-admin/client/products/fields/attribute-control/utils.ts
  plugins/woocommerce-admin/client/products/fields/attribute-field/index.ts
  plugins/woocommerce-admin/client/products/fields/attribute-input-field/attribute-input-field.tsx
  plugins/woocommerce-admin/client/products/fields/attributes/attributes.tsx
  plugins/woocommerce-admin/client/products/fields/options/options.tsx
  plugins/woocommerce-admin/client/products/hooks/use-product-attributes.ts
  plugins/woocommerce/changelog/update-36304
Labels: plugin: woocommerce, focus: react admin

#36254 Add context to countries shipping to prefix
  plugins/woocommerce/changelog/countries-shipping-to-prefix-context
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce, type: community contribution

#36460 Restore pre-7.2.0 quantity selector behavior
  plugins/woocommerce/changelog/fix-36007-quantity-selector
  plugins/woocommerce/changelog/fix-36007-sold-individually
  plugins/woocommerce/changelog/fix-36007-sold-individually-amendment
  plugins/woocommerce/client/legacy/css/_common.scss
  plugins/woocommerce/client/legacy/css/twenty-nineteen.scss
  plugins/woocommerce/client/legacy/css/twenty-seventeen.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/global/quantity-input.php
Labels: plugin: woocommerce

#36457 fixing typo in name of country in states(i18n) file
  plugins/woocommerce/changelog/fix-i18n-states-comment-typo
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce, type: community contribution

#35107 Small edit to the tooltip text
  plugins/woocommerce/changelog/pr-35107
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
Labels: plugin: woocommerce, type: community contribution

#36431 Avoid calling-method-on-null/false errors
  plugins/woocommerce/changelog/fix-36325-download-permissions
  plugins/woocommerce/src/Internal/DownloadPermissionsAdjuster.php
Labels: plugin: woocommerce

#36470 Add an optional "InputProps" to experimental SelectControl component
  packages/js/components/changelog/add-input-props-to-exp-select
  packages/js/components/src/experimental-select-control/select-control.tsx
Labels: package: @woocommerce/components

#36411 Fix release post template syntax errors and add prettierignore
  tools/release-posts/.prettierignore
  tools/release-posts/templates/database.ejs
  tools/release-posts/templates/oauth.ejs
  tools/release-posts/templates/release.ejs
  tools/release-posts/templates/templates.ejs
Labels: tool: monorepo infrastructure

#36486 Remove commented out workflow for cleanliness
  .github/workflows/cot-pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/remove-comment_workflow
Labels: plugin: woocommerce

#36225 Remove button styles if the block theme has button styles defined in theme.json
  plugins/woocommerce/changelog/fix-remove-button-styles-when-custom-block-theme
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/includes/wc-conditional-functions.php
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce

#36475 Fix notices styling in Twenty Twenty-Three
  plugins/woocommerce/changelog/fix-notices-styling-tt3
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
Labels: plugin: woocommerce

#36428 Add product tour to new product management experience
  packages/js/internal-style-build/abstracts/_variables.scss
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/tour/index.tsx
  plugins/woocommerce-admin/client/products/tour/product-tour-container.tsx
  plugins/woocommerce-admin/client/products/tour/product-tour-modal.scss
  plugins/woocommerce-admin/client/products/tour/product-tour-modal.tsx
  plugins/woocommerce-admin/client/products/tour/product-tour.png
  plugins/woocommerce-admin/client/products/tour/product-tour.tsx
  plugins/woocommerce-admin/client/products/tour/test/product-tour-container.spec.tsx
  plugins/woocommerce-admin/client/products/tour/test/use-product-tour.spec.tsx
  plugins/woocommerce-admin/client/products/tour/use-product-tour.ts
  plugins/woocommerce/changelog/add-36322
Labels: plugin: woocommerce, focus: react admin

#36382 Update product links when new product management experience is enabled
  plugins/woocommerce/changelog/update-36363
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Admin/Features/NewProductManagementExperience.php
Labels: plugin: woocommerce, focus: react admin

#36468 Fix tax task showing as not completed after setting up tax
  plugins/woocommerce-admin/client/tasks/fills/tax/index.tsx
  plugins/woocommerce/changelog/fix-tax-task-not-completed
Labels: plugin: woocommerce, focus: react admin

#36414 Add/36075 render fields sections from php config
  packages/js/data/changelog/add-36075_render_fields_sections_from_php_config
  packages/js/data/src/index.ts
  packages/js/data/src/product-form/actions.ts
  packages/js/data/src/product-form/resolvers.ts
  packages/js/data/src/product-form/selectors.ts
  packages/js/data/src/product-form/types.ts
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/product-form-field-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-section-fills.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/add-36075_render_fields_sections_from_php_config
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/data

#36333 Experimental SlotContext for managing slot fill interactions
  packages/js/components/changelog/try-product-mvp-slotfill-experiments
  packages/js/components/src/index.ts
  packages/js/components/src/slot-context/index.ts
  packages/js/components/src/slot-context/slot-context.tsx
  packages/js/components/src/utils.tsx
  packages/js/components/src/woo-product-field-item/woo-product-field-item.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/try-product-mvp-slotfill-experiments
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36433 Update Action Scheduler to 3.5.4.
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-action-scheduler-3-5-3
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: needs: author feedback, plugin: woocommerce

#34742 Making function more robust against wrong transients
  plugins/woocommerce/changelog/patch-15
  plugins/woocommerce/includes/wc-product-functions.php
Labels: type: community contribution

#36461 Migrating product editor images section to slot-fill
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/details-section/constants.ts
  plugins/woocommerce-admin/client/products/fills/details-section/details-field-feature.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-field-name.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/index.ts
  plugins/woocommerce-admin/client/products/fills/images-section/images-field-gallery.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/images-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/images-section.scss
  plugins/woocommerce-admin/client/products/fills/images-section/index.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/sections/images-section.tsx
  plugins/woocommerce/changelog/add-36417-mvp-images-slotfill
Labels: plugin: woocommerce, focus: react admin

#36496 [HPOS] wc_get_order() should use global post/order object if necessary
  plugins/woocommerce/changelog/fix-35561-wc-get-order
  plugins/woocommerce/includes/class-wc-order-factory.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: plugin: woocommerce

#36432 Create tree-control component
  packages/js/components/changelog/add-35851-tree-control
  packages/js/components/src/experimental-tree-control/hooks/use-linked-tree.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree.ts
  packages/js/components/src/experimental-tree-control/index.ts
  packages/js/components/src/experimental-tree-control/stories/index.tsx
  packages/js/components/src/experimental-tree-control/tree-control.tsx
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/components/src/experimental-tree-control/tree.scss
  packages/js/components/src/experimental-tree-control/tree.tsx
  packages/js/components/src/experimental-tree-control/types.ts
Labels: package: @woocommerce/components, focus: product management, focus: new product ux

#34802 Error message in server logs on CSV export error
  plugins/woocommerce/changelog/csv-export-error-logging
  plugins/woocommerce/includes/export/abstract-wc-csv-batch-exporter.php
Labels: plugin: woocommerce, type: community contribution

#36370 Migrate Table component to TS
  packages/js/components/changelog/dev-migrate-table-component-to-ts
  packages/js/components/src/table/empty.tsx
  packages/js/components/src/table/index.js
  packages/js/components/src/table/index.tsx
  packages/js/components/src/table/placeholder.js
  packages/js/components/src/table/placeholder.tsx
  packages/js/components/src/table/stories/empty-table.tsx
  packages/js/components/src/table/stories/index.ts
  packages/js/components/src/table/stories/table-card.js
  packages/js/components/src/table/stories/table-card.tsx
  packages/js/components/src/table/stories/table-placeholder.tsx
  packages/js/components/src/table/stories/table-summary-placeholder.tsx
  packages/js/components/src/table/stories/table-summary.jsx
  packages/js/components/src/table/stories/table.tsx
  packages/js/components/src/table/summary.tsx
  packages/js/components/src/table/table.js
  packages/js/components/src/table/table.tsx
  packages/js/components/src/table/types.ts
Labels: package: @woocommerce/components

#36482 Add slot for ProgressHeader and ProgressTitle
  plugins/woocommerce-admin/client/task-lists/progress-header/default-progress-header.tsx
  plugins/woocommerce-admin/client/task-lists/progress-header/progress-header.tsx
  plugins/woocommerce-admin/client/task-lists/progress-header/utils.tsx
  plugins/woocommerce-admin/client/task-lists/progress-title/default-progress-title.tsx
  plugins/woocommerce-admin/client/task-lists/progress-title/progress-title.tsx
  plugins/woocommerce-admin/client/task-lists/progress-title/utils.tsx
  plugins/woocommerce/changelog/add-wcadmin-progress-header-and-title-slot
Labels: plugin: woocommerce, focus: react admin

#36444 Add an admin notice about the upcoming change in PHP requirements (PHP 7.3)
  plugins/woocommerce/changelog/add-php-73-version-bump-notice
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
Labels: plugin: woocommerce

#36497 Add permalink_template and generated_slug to products REST API response
  plugins/woocommerce/changelog/add-product-permalink-template-rest-api
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/products.php
Labels: focus: wc rest api, plugin: woocommerce, focus: product management

#36524 Update WooCommerce blocks package to 9.4.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.4.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36467 add: slot for header banner slotfill
  plugins/woocommerce-admin/client/homescreen/header-banner-slot/header-banner-slot.tsx
  plugins/woocommerce-admin/client/homescreen/header-banner-slot/index.ts
  plugins/woocommerce-admin/client/homescreen/header-banner-slot/utils.tsx
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce/changelog/add-wcadmin-home-header-banner-slotfill
Labels: plugin: woocommerce, focus: react admin

#36483 Migrating attributes section in product editor to slot fills
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-field.tsx
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section.scss
  plugins/woocommerce-admin/client/products/fills/attributes-section/index.ts
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/sections/attributes-section.tsx
  plugins/woocommerce/changelog/add-36418-mvp-attributes-slotfill
Labels: plugin: woocommerce, focus: react admin

#36487 add: slot for tasklist completion component slotfill
  plugins/woocommerce-admin/client/two-column-tasks/task-list-completion-slot/index.ts
  plugins/woocommerce-admin/client/two-column-tasks/task-list-completion-slot/task-list-completion-slot.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list-completion-slot/utils.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce/changelog/add-tasklist-completion-slotfill
Labels: plugin: woocommerce, focus: react admin

#36519 Add Tasklist extensibility and WooOnboardingTaskListHeader SlotFill
  packages/js/onboarding/changelog/add-36465-tasklist-extensibility
  packages/js/onboarding/src/components/WooOnboardingTaskListHeader/WooOnboardingTaskListHeader.tsx
  packages/js/onboarding/src/components/WooOnboardingTaskListHeader/index.ts
  packages/js/onboarding/src/index.ts
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce/changelog/add-36465-tasklist-extensibility
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/onboarding, focus: setup checklist

#36531 Fix/36530 settings tables styles
  plugins/woocommerce/changelog/fix-36530_settings_tables_styles
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
Labels: plugin: woocommerce

#36527 Add SlotFill for Task List Footer
  plugins/woocommerce-admin/client/two-column-tasks/footer-slot/footer-slot.tsx
  plugins/woocommerce-admin/client/two-column-tasks/footer-slot/index.ts
  plugins/woocommerce-admin/client/two-column-tasks/footer-slot/utils.tsx
  plugins/woocommerce-admin/client/two-column-tasks/task-list.tsx
  plugins/woocommerce/changelog/add-tasklist-footer-slot
Labels: plugin: woocommerce, focus: react admin

#36552 Update product mvp feature flag
  plugins/woocommerce/changelog/update-product_mvp_feature_flag
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#36553 bump WooCommerce blocks package to 9.4.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.4.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36534 Migrate shipping shipping in product editor to slot fill
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/shipping-section/index.ts
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-class.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-dimensions-height.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-dimensions-length.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-dimensions-weight.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-dimensions-width.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-section.scss
  plugins/woocommerce-admin/client/products/fills/shipping-section/types.ts
  plugins/woocommerce-admin/client/products/fills/shipping-section/utils.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce-admin/client/products/sections/product-shipping-section.tsx
  plugins/woocommerce-admin/client/products/sections/test/product-shipping-section.spec.tsx
  plugins/woocommerce/changelog/update-36421-migrate-shipping-slotfill
Labels: plugin: woocommerce, focus: react admin

#36509 Migrating product editor inventory section to use slot fills
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/inventory-section/index.ts
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-sku.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-limit.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-manage.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-manual.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-stock-out.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-field-track-quantity.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-section-fills.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-validation.ts
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/advanced-stock-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/index.ts
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/product-inventory-section.tsx
  plugins/woocommerce-admin/client/products/sections/product-inventory-section/utils.ts
  plugins/woocommerce-admin/client/products/sections/test/product-inventory-section.spec.tsx
  plugins/woocommerce/changelog/update-36420-mvp-inventory-slotfill
Labels: plugin: woocommerce, focus: react admin

#36495 Fix overlapping header elements on product page
  plugins/woocommerce-admin/client/header/use-header-height.ts
  plugins/woocommerce-admin/client/products/layout/product-form-layout.scss
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce/changelog/fix-36207
Labels: plugin: woocommerce, focus: react admin

#36516 Show product CES footer on product tour close
  plugins/woocommerce-admin/client/customer-effort-score-tracks/use-product-mvp-ces-footer.ts
  plugins/woocommerce-admin/client/products/tour/product-tour-container.tsx
  plugins/woocommerce/changelog/add-36322-ces-footer
Labels: plugin: woocommerce, focus: react admin

#36406 Enable new experience when new user selects "Physical product"
  plugins/woocommerce-admin/client/tasks/fills/products/use-create-product-by-type.ts
  plugins/woocommerce/changelog/add-36319_enable_new_experience_when_simple_product
Labels: plugin: woocommerce, focus: react admin, focus: product management

#36532 Add feedback modal and product mvp feedback modal components
  packages/js/customer-effort-score/changelog/add-36324_survey_after_disabling_new_exp
  packages/js/customer-effort-score/src/feedback-modal/feedback-modal.scss
  packages/js/customer-effort-score/src/feedback-modal/feedback-modal.tsx
  packages/js/customer-effort-score/src/feedback-modal/index.ts
  packages/js/customer-effort-score/src/feedback-modal/test/index.tsx
  packages/js/customer-effort-score/src/index.ts
  packages/js/customer-effort-score/src/product-mvp-feedback-modal/index.ts
  packages/js/customer-effort-score/src/product-mvp-feedback-modal/product-mvp-feedback-modal.scss
  packages/js/customer-effort-score/src/product-mvp-feedback-modal/product-mvp-feedback-modal.tsx
  packages/js/customer-effort-score/src/product-mvp-feedback-modal/test/index.tsx
  packages/js/customer-effort-score/src/style.scss
Labels: package: @woocommerce/customer-effort-score

#36484 Always show comments for product feedback form
  packages/js/customer-effort-score/changelog/update-36327
  packages/js/customer-effort-score/src/customer-effort-score.tsx
  packages/js/customer-effort-score/src/customer-feedback-modal/index.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-modal-container.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.tsx
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce/changelog/update-36327
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/customer-effort-score

#36544 Add survey when disabling new experience
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/action-types.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/actions.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/reducer.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/data/selectors.js
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-ces-footer.tsx
  plugins/woocommerce-admin/client/customer-effort-score-tracks/product-mvp-feedback-modal-container.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-footer.tsx
  plugins/woocommerce-admin/client/products/product-more-menu.tsx
  plugins/woocommerce/changelog/add-survey_after_disabling_new_exp
  plugins/woocommerce/src/Admin/Features/NewProductManagementExperience.php
Labels: plugin: woocommerce, focus: react admin

#36500 Migrating pricing section in product editor to slot fills
  packages/js/components/changelog/add-36419-mvp-pricing-slot-fill
  packages/js/components/src/product-section-layout/style.scss
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/pricing-section/index.ts
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-list.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-sale.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-taxes-charge.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-taxes-class.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section.scss
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce-admin/client/products/sections/pricing-section.tsx
  plugins/woocommerce/changelog/add-36419-mvp-pricing-slot-fill
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36456 Disable the new navigation in the WC Admin.
  plugins/woocommerce/changelog/disable-new-navigation
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
Labels: focus: product, plugin: woocommerce, focus: new product ux

#36551 Refactor product tabs and add product tab slot fills
  packages/js/components/changelog/refactor-36446_product_tabs
  packages/js/components/src/index.ts
  packages/js/components/src/utils.tsx
  packages/js/components/src/woo-product-tab-item/README.md
  packages/js/components/src/woo-product-tab-item/index.ts
  packages/js/components/src/woo-product-tab-item/woo-product-tab-item.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/product-form-tab-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-variation-tab-fills.tsx
  plugins/woocommerce-admin/client/products/layout/product-form-layout.tsx
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce-admin/client/products/product-variation-form.tsx
  plugins/woocommerce/changelog/refactor-36446_product_tabs
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36535 [HPOS] Add HPOS support for the reserved stock query
  plugins/woocommerce/changelog/fix-36375-hpos-reserve-stock
  plugins/woocommerce/src/Checkout/Helpers/ReserveStock.php
Labels: type: enhancement, focus: custom order tables, plugin: woocommerce

#36545 Fix dynamic property creation warning in `class-woocommerce.php`
  plugins/woocommerce/changelog/fix-35763-dynamic-property-creation-in-woocommerce-class
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/tests/php/includes/class-woocommerce-test.php
Labels: plugin: woocommerce, type: community contribution

#36607 Add default value for backorders
  plugins/woocommerce-admin/client/products/product-form.tsx
  plugins/woocommerce/changelog/update-35689
Labels: plugin: woocommerce, focus: react admin

#36624 Bump WooCommerce blocks package to 9.4.2
  plugins/woocommerce/changelog/update-woocommerce-blocks-9.4.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#36517 Include CSS for experimental tree control
  packages/js/components/changelog/fix-experimental-tree-control-styles
  packages/js/components/package.json
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/style.scss
  pnpm-lock.yaml
Labels: type: bug, package: @woocommerce/components, focus: components

#36540 Code refactor on marketing components
  plugins/woocommerce-admin/client/marketing/components/CardHeaderTitle/CardHeaderTitle.scss
  plugins/woocommerce-admin/client/marketing/components/CardHeaderTitle/CardHeaderTitle.tsx
  plugins/woocommerce-admin/client/marketing/components/CardHeaderTitle/index.ts
  plugins/woocommerce-admin/client/marketing/components/CenteredSpinner/CenteredSpinner.scss
  plugins/woocommerce-admin/client/marketing/components/CenteredSpinner/CenteredSpinner.tsx
  plugins/woocommerce-admin/client/marketing/components/CenteredSpinner/index.ts
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.scss
  plugins/woocommerce-admin/client/marketing/components/CollapsibleCard/CollapsibleCard.tsx
  plugins/woocommerce-admin/client/marketing/components/PluginCardBody/PluginCardBody.tsx
  plugins/woocommerce-admin/client/marketing/components/index.js
  plugins/woocommerce-admin/client/marketing/hooks/useInstalledPlugins.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/DiscoverTools.scss
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/DiscoverTools.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/PluginsTabPanel.tsx
  plugins/woocommerce-admin/client/marketing/overview-multichannel/DiscoverTools/useRecommendedPlugins.ts
  plugins/woocommerce-admin/client/marketing/overview-multichannel/InstalledExtensions/InstalledExtensions.tsx
  plugins/woocommerce-admin/client/marketing/types/InstalledPlugin.ts
  plugins/woocommerce-admin/client/marketing/types/RecommendedPlugin.ts
  plugins/woocommerce-admin/client/marketing/types/index.ts
  plugins/woocommerce/changelog/feature-code-refactor-marketing
Labels: plugin: woocommerce, focus: react admin, focus: marketing

#36611 Eliminate duplicate HPOS internal meta keys
  plugins/woocommerce/changelog/fix-36473-HPOS-internal-meta-keys
  plugins/woocommerce/includes/data-stores/class-wc-data-store-wp.php
Labels: plugin: woocommerce

#36627 Fix/stable tag 7.3.0
  plugins/woocommerce/changelog/fix-stable-tag-7.3.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#36592 Updating section and field product fills to support multiple slots
  packages/js/components/changelog/try-support-multiple-fills
  packages/js/components/src/woo-product-field-item/woo-product-field-item.tsx
  packages/js/components/src/woo-product-section-item/woo-product-section-item.tsx
  packages/js/components/src/woo-product-tab-item/woo-product-tab-item.tsx
  packages/js/data/changelog/try-support-multiple-fills
  packages/js/data/src/product-form/resolvers.ts
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/images-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-field-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-tab-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-variation-tab-fills.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-section-fills.tsx
  plugins/woocommerce/changelog/try-support-multiple-fills
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: @woocommerce/data

#36649 Fix the filter "woocommerce_{order_type}_list_table_prepare_items_query_args"
  plugins/woocommerce/changelog/fix-orders-list-query-arg-filter
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce, focus: react admin, type: community contribution

#36591 Tweak product link description and display
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/edit-product-link-modal.scss
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/edit-product-link-modal.tsx
  plugins/woocommerce-admin/client/products/shared/edit-product-link-modal/test/edit-product-link-modal.test.tsx
  plugins/woocommerce/changelog/update-36316
Labels: plugin: woocommerce, focus: react admin

#36656 Fixing issue preventing import productes CES exit page from firing
  plugins/woocommerce-admin/client/customer-effort-score-tracks/customer-effort-score-exit-page.ts
  plugins/woocommerce/changelog/fix-36654-import-ces
Labels: plugin: woocommerce, focus: react admin

#36275 Replace $.ajax() calls with browser-native window.fetch() calls.
  plugins/woocommerce/changelog/fetch-instead-of-jquery-ajax
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart.js
  plugins/woocommerce/client/legacy/js/frontend/cart-fragments.js
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
  plugins/woocommerce/client/legacy/js/frontend/geolocation.js
Labels: plugin: woocommerce, type: community contribution

#36617 [COT] Fix inappropriate deletion of order from posts with sync off
  plugins/woocommerce/changelog/fix-order_delete_from_posts_with_sync_off
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: custom order tables, plugin: woocommerce

#36612 Add unique sku option to error data when setting product sku
  plugins/woocommerce/changelog/add-36589
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
Labels: plugin: woocommerce

#36646 Implementation of separate variant slots via refactored components
  packages/js/components/changelog/update-36610-support-variations-alternate
  packages/js/components/src/woo-product-field-item/woo-product-field-item.tsx
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/attributes-section/index.ts
  plugins/woocommerce-admin/client/products/fills/constants.ts
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/index.ts
  plugins/woocommerce-admin/client/products/fills/images-section/images-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/index.ts
  plugins/woocommerce-admin/client/products/fills/index.ts
  plugins/woocommerce-admin/client/products/fills/inventory-section/index.ts
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/index.ts
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-field-taxes-class.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-api-field-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-api-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-api-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-tab-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-variation-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-variation-tab-fills.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/index.ts
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-section-fills.tsx
  plugins/woocommerce/changelog/update-36610-support-variations-alternate
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components

#36600 Add new `@woocommerce/product-editor` JS package
  packages/js/components/changelog/add-36355_new_product_editor_package
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  packages/js/dependency-extraction-webpack-plugin/assets/packages.js
  packages/js/dependency-extraction-webpack-plugin/changelog/add-36355_new_product_editor_package
  packages/js/product-editor/.npmrc
  packages/js/product-editor/README.md
  packages/js/product-editor/changelog/add-36355_new_product_editor_package
  packages/js/product-editor/composer.json
  packages/js/product-editor/composer.lock
  packages/js/product-editor/package.json
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/product-section-layout/index.ts
  packages/js/product-editor/src/product-section-layout/product-field-section.tsx
  packages/js/product-editor/src/product-section-layout/product-section-layout.tsx
  packages/js/product-editor/src/product-section-layout/style.scss
  packages/js/product-editor/src/style.scss
  packages/js/product-editor/tsconfig-cjs.json
  packages/js/product-editor/tsconfig.json
  packages/js/product-editor/webpack.config.js
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/details-section/details-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/images-section/images-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/inventory-section/inventory-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/pricing-section/pricing-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/product-form-api-section-fills.tsx
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-section-fills.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-36355_new_product_editor_package
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin, package: @woocommerce/components, package: dependency-extraction-webpack-plugin

#36703 Disable product info in Status Widget when stock management is disabled
  plugins/woocommerce/changelog/fix-dashboard-sales-widget
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php
Labels: plugin: woocommerce, type: community contribution

#36356 Use WC_Deprecated_Filter_Hooks to deprecate filter
  plugins/woocommerce/changelog/fix-filter-deprecation
  plugins/woocommerce/includes/class-wc-deprecated-filter-hooks.php
  plugins/woocommerce/includes/wc-account-functions.php
Labels: plugin: woocommerce, type: community contribution
