Repository woocommerce/woocommerce, pull requests merged in 2023-05, with the labels that each got.

#37796 Register server-side tracking during rest requests
  plugins/woocommerce/changelog/fix-37659
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce

#37968 Working add shipping class option and modal
  packages/js/product-editor/changelog/add-shipping-class-creation-37886
  packages/js/product-editor/src/blocks/shipping-fee/edit.tsx
  packages/js/product-editor/src/components/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  packages/js/product-editor/src/components/add-new-shipping-class-modal/index.ts
  packages/js/product-editor/src/components/add-new-shipping-class-modal/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce-admin/client/products/fills/shipping-section/shipping-field-class.tsx
  plugins/woocommerce/changelog/add-shipping-class-creation-37886
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37894 Fix comment list styling in TT2
  plugins/woocommerce/changelog/fix-tt2-comment-list
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
Labels: plugin: woocommerce

#38047 Await triggerNoteAction before navigating when action is clicked
  plugins/woocommerce-admin/client/layout/store-alerts/index.js
  plugins/woocommerce/changelog/fix-undismissable-notice
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38017 Add product type options to product tracking
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/add-tracks-product-type-options
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-panel.php
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: focus: product [team:Mothra], plugin: woocommerce, focus: react admin [team:Ghidorah], focus: product management [team:Mothra]

#38051 Adding attributes block to product block editor.
  packages/js/product-editor/assets/icons/section_attributes.svg
  packages/js/product-editor/changelog/add-block-attributes-37728
  packages/js/product-editor/package.json
  packages/js/product-editor/src/blocks/attributes/block.json
  packages/js/product-editor/src/blocks/attributes/edit.tsx
  packages/js/product-editor/src/blocks/attributes/editor.scss
  packages/js/product-editor/src/blocks/attributes/index.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-field.scss
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/edit-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/index.ts
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/test/attribute-field.spec.tsx
  packages/js/product-editor/src/components/attribute-control/test/new-attribute-modal.spec.tsx
  packages/js/product-editor/src/components/attribute-control/test/utils.spec.ts
  packages/js/product-editor/src/components/attribute-control/utils.ts
  packages/js/product-editor/src/components/attribute-input-field/attribute-input-field.scss
  packages/js/product-editor/src/components/attribute-input-field/attribute-input-field.tsx
  packages/js/product-editor/src/components/attribute-input-field/index.ts
  packages/js/product-editor/src/components/attribute-input-field/test/attribute-input-field.spec.tsx
  packages/js/product-editor/src/components/attribute-list-item/add-attribute-list-item.tsx
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.scss
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.tsx
  packages/js/product-editor/src/components/attribute-list-item/index.ts
  packages/js/product-editor/src/components/attribute-term-input-field/attribute-term-input-field.scss
  packages/js/product-editor/src/components/attribute-term-input-field/attribute-term-input-field.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/create-attribute-term-modal.scss
  packages/js/product-editor/src/components/attribute-term-input-field/create-attribute-term-modal.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/custom-attribute-term-input-field.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/index.ts
  packages/js/product-editor/src/components/attribute-term-input-field/test/attribute-term-input-field.spec.tsx
  packages/js/product-editor/src/components/attributes/attributes.tsx
  packages/js/product-editor/src/components/attributes/index.ts
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/hooks/use-product-attributes.ts
  packages/js/product-editor/src/style.scss
  packages/js/product-editor/src/utils/index.ts
  packages/js/product-editor/src/utils/sift.ts
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state-logo.svg
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state.scss
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/attribute-empty-state.tsx
  plugins/woocommerce-admin/client/products/fields/attribute-empty-state/index.ts
  plugins/woocommerce-admin/client/products/fields/options/options.tsx
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-field.tsx
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-block-attributes-37728
  plugins/woocommerce/includes/class-wc-post-types.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37643 Create orders as 'auto-draft' by default in admin
  plugins/woocommerce/changelog/fix-36749
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce

#38074 Update wp org listing description
  plugins/woocommerce/changelog/try-update-wporg-listing-desc
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#37883 Fix/issue 36360
  plugins/woocommerce/changelog/fix-issue-36360
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce, type: community contribution

#38066 Fix product data field description styling, including checkboxes and radio buttons
  plugins/woocommerce/changelog/fix-checkbox-labels
  plugins/woocommerce/changelog/fix-product-data-field-description-styling.
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#38110 Added a button to download SSR to a file.
  plugins/woocommerce/changelog/try-download-ssr
  plugins/woocommerce/client/legacy/js/admin/system-status.js
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: plugin: woocommerce

#38089 Fix partial data import with product task imports
  plugins/woocommerce/changelog/fix-38069-fix-product-task-imports
  plugins/woocommerce/includes/admin/importers/mappings/default.php
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-tasks.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38103 Use snackbar to show variations generated message, instead of browser alert
  plugins/woocommerce/changelog/update-generated-variations-snackbar
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
Labels: plugin: woocommerce

#38099 Removing auto-draft as wc post type to fix post publish time bug
  plugins/woocommerce/changelog/fix-auto-draft-post-time-38075
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#38081 Adding basic ordering to tab slot fill
  packages/js/product-editor/changelog/fix-tabs-reordering-38002
  packages/js/product-editor/src/blocks/tab/block.json
  packages/js/product-editor/src/blocks/tab/edit.tsx
  packages/js/product-editor/src/blocks/tab/tab-button.tsx
  packages/js/product-editor/src/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/fix-tabs-reordering-38002
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce

#38115 Prevent height flickering when selecting a variation in TT3
  plugins/woocommerce/changelog/fix-tt3-variation-select-height-flicker
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
Labels: plugin: woocommerce

#35642 Allow changelogger regex to find directories with woocommerce* names
  tools/changelogger/class-package-formatter.php
Labels: needs: developer feedback, tool: monorepo infrastructure

#38090 Update Payfast logo and title
  packages/js/data/changelog/update-payfast
  packages/js/data/src/plugins/constants.ts
  plugins/woocommerce-admin/client/activity-panel/panels/help.js
  plugins/woocommerce-admin/client/activity-panel/test/help-panel.js
  plugins/woocommerce/assets/images/payfast.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payfast.png
  plugins/woocommerce/changelog/update-payfast
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38045 Update disable drag and drop within images block
  packages/js/components/changelog/update-37955_disable_drag_and_drop_images_block
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
  packages/js/components/src/image-gallery/image-gallery-wrapper.tsx
  packages/js/components/src/image-gallery/image-gallery.scss
  packages/js/components/src/image-gallery/image-gallery.tsx
  packages/js/product-editor/changelog/update-37955_disable_drag_and_drop_images_block
  packages/js/product-editor/src/blocks/images/edit.tsx
Labels: package: @woocommerce/components

#38113 Add "SlotFill Examples" Feature to Beta Tester Plugin
  plugins/woocommerce-beta-tester/changelog/add-example-slotfills
  plugins/woocommerce-beta-tester/plugin.php
  plugins/woocommerce-beta-tester/src/example-fills/experimental-woocommerce-wcpay-feature.js
  plugins/woocommerce-beta-tester/src/index.js
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: plugin: woocommerce beta tester

#38092 Fix tasklist completion message when no tasks are completed
  plugins/woocommerce-admin/client/task-lists/progress-title/default-progress-title.tsx
  plugins/woocommerce-admin/client/task-lists/progress-title/test/default-progress-title.test.tsx
  plugins/woocommerce/changelog/fix-tasklist-completion-message
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38135 Update WooCommerce blocks package to 10.0.4
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.0.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38070 updated product description tips text
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/index.tsx
  plugins/woocommerce/changelog/2023-05-02-09-36-02-782439
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], type: community contribution

#38079 Fix TreeControl bugs in single selection mode
  packages/js/components/changelog/update-tree-item
  packages/js/components/src/experimental-tree-control/hooks/use-selection.ts
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/experimental-tree-control/tree-item.tsx
Labels: package: @woocommerce/components

#35232 Fix typo
  plugins/woocommerce/changelog/pr-35232
  plugins/woocommerce/includes/wc-account-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests [team:Solaris]

#38147 Make more information available to `checkout_place_order` callbacks
  plugins/woocommerce/changelog/26827-checkout-place-order-events
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce

#37751 Migrate select control component to TS
  packages/js/components/changelog/dev-migrate-select-control-to-ts
  packages/js/components/src/select-control/control.tsx
  packages/js/components/src/select-control/index.tsx
  packages/js/components/src/select-control/list.tsx
  packages/js/components/src/select-control/stories/index.tsx
  packages/js/components/src/select-control/tags.tsx
  packages/js/components/src/select-control/test/index.tsx
  packages/js/components/src/select-control/types.ts
Labels: package: @woocommerce/components

#38107 Fix misaligned loading sample product's progress message
  plugins/woocommerce-admin/client/tasks/fills/components/load-sample-product-confirm-modal.scss
  plugins/woocommerce-admin/client/tasks/fills/components/load-sample-product-confirm-modal.tsx
  plugins/woocommerce-admin/client/tasks/fills/components/load-sample-product-modal.scss
  plugins/woocommerce/changelog/fix-load-sample-product-modal
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38052 Show comma separated list in ready only mode of select tree control
  packages/js/components/changelog/update-37727
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/select-control.scss
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-select-control/selected-items.scss
  packages/js/components/src/experimental-select-control/selected-items.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree-menu.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/product-editor/changelog/update-37727
  packages/js/product-editor/src/components/details-categories-field/test/category-field.test.tsx
Labels: package: @woocommerce/components

#38076 Change product-category-metabox scripts/styles enqueue logic
  plugins/woocommerce/changelog/update-change-product-category-metabox-enqueue
  plugins/woocommerce/src/Admin/Features/AsyncProductEditorCategoryField/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38035 [Enhancement]: Allow dropdown options recording for WooCommerce Settings
  plugins/woocommerce/changelog/dev-37989_allow_dropdown_recording_for_wc_settings
  plugins/woocommerce/includes/tracks/events/class-wc-settings-tracking.php
Labels: plugin: woocommerce

#38041 Add e2e test for Merchant > Posts > Can create a new post
  plugins/woocommerce/changelog/e2e-pw-add-merchant-create-post
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37833 Enhancement: Add order note to display held stock inventory. #29132
  plugins/woocommerce/changelog/enhancement-add-held-stock-note
  plugins/woocommerce/src/Checkout/Helpers/ReserveStock.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37725 Migrate Purchase task and dashboard utils to TS
  packages/js/data/changelog/update-migrate-purchase-task-to-ts
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/reducer.ts
  packages/js/data/src/onboarding/resolvers.ts
  packages/js/data/src/onboarding/selectors.ts
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/dashboard/utils.ts
  plugins/woocommerce-admin/client/tasks/fills/index.ts
  plugins/woocommerce-admin/client/tasks/fills/purchase.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/index.tsx
  plugins/woocommerce/changelog/update-migrate-purchase-task-to-ts
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38170 Try: replace URL-encoded newlines with normal escaped newlines [WIP]
  tools/monorepo/check-changelogger-use.php
Labels: tool: monorepo infrastructure

#38137 Make all fields in the tax location form mandatory
  plugins/woocommerce-admin/client/tasks/fills/steps/location.tsx
  plugins/woocommerce-admin/client/tasks/fills/tax/components/store-location.tsx
  plugins/woocommerce/changelog/update-tax-location-form
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38108 Fix `wc-experimental` strings are not translated
  plugins/woocommerce/changelog/fix-wc-experimental-i18n
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38161 Hide "Upload a logo" step in Personalize task if theme doesn't support it
  plugins/woocommerce-admin/client/tasks/fills/appearance.js
  plugins/woocommerce/changelog/update-hide-logo-step-if-not-support
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Appearance.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38158 Remove core onboarding usage of woocommerce_updated hook
  plugins/woocommerce/changelog/remove-onboarding-hook
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProfile.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38123 Variations - Remove separator between buttons and empty state screen
  plugins/woocommerce/changelog/dev-38122_remove_separator_between_buttons_and_empty_state_screen
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
Labels: plugin: woocommerce, focus: product management [team:Mothra]

#35491 fixed spacing issue of thumb image
  plugins/woocommerce/changelog/woocommer-thumb-issue
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
Labels: focus: html/css [team:Proton], needs: developer feedback, plugin: woocommerce, type: community contribution

#38084 Variations - Rename the Generate variations button after variations are created
  plugins/woocommerce/changelog/dev-38080_rename_generate_variations_button
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
Labels: plugin: woocommerce, focus: product management [team:Mothra]

#38126 Update empty state for product attributes tab
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/update-attribute-empty-state
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-attributes.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
Labels: type: enhancement, plugin: woocommerce, focus: react admin [team:Ghidorah], focus: product management [team:Mothra], focus: e2e tests [team:Solaris]

#38100 Playwright 1.33 and UI mode
  plugins/woocommerce/changelog/e2e-playwright-1_33
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38163 Re-enable purchase unit tests and falling back to simply not display any prices when data is not available
  plugins/woocommerce/changelog/p
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingProducts.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/purchase.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38183 Fix shipping tour layout context error
  plugins/woocommerce-admin/client/embedded-body-layout/embedded-body-layout.tsx
  plugins/woocommerce-admin/client/guided-tours/shipping-tour.tsx
  plugins/woocommerce/changelog/fix-shipping-tour
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38088 Fix "Marketing & Merchandising" padding on store management panel
  plugins/woocommerce-admin/client/store-management-links/style.scss
  plugins/woocommerce/changelog/fix-manage-store-panel-padding
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38094 Fix tracks identifier mismatch
  plugins/woocommerce/changelog/fix-38093-tracks-id-mismatch
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
Labels: plugin: woocommerce

#37951 Add WC Tracker unique payment method
  plugins/woocommerce/changelog/add-tracker_unique_payment_method
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#38181 Fix "Add store details" task fails to mark as completed for selecting Nigeria based address
  plugins/woocommerce/changelog/fix-37451-store-details-complete
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreDetails.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38124 Add tests to tracks events fired through JS
  packages/js/internal-js-tests/jest-preset.js
  packages/js/internal-js-tests/src/mocks/woocommerce-tracks.js
  plugins/woocommerce-admin/client/analytics/components/report-filters/test/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/orders/test/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/stock/test/index.js
  plugins/woocommerce-admin/client/homescreen/activity-panel/test/index.js
  plugins/woocommerce-admin/client/inbox-panel/test/index.js
  plugins/woocommerce-admin/client/layout/test/index.js
  plugins/woocommerce/changelog/dev-add-tracks-tests
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38172 Add default styles for product meta in the TT3 order details table
  plugins/woocommerce/changelog/fix-tt3-order-details-item-meta-styling
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
Labels: plugin: woocommerce

#37845 Save object before calculate totals
  plugins/woocommerce/changelog/fix-26543
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#35481 Hide state selector from Ethiopia and Rwanda addresses
  plugins/woocommerce/changelog/hide_state_from_ethiopia_and_rwanda
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/includes/class-wc-countries.php
Labels: focus: i18n [team:Proton], plugin: woocommerce

#37830 Fix/37599 Add Product Name in the `aria-label` attribute
  plugins/woocommerce/changelog/fix-37599
  plugins/woocommerce/templates/cart/cart.php
  plugins/woocommerce/templates/cart/mini-cart.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#36364 Add context to the credit card names used for translators.
  plugins/woocommerce/changelog/add-credit-card-i18n-context
  plugins/woocommerce/includes/wc-core-functions.php
Labels: focus: i18n [team:Proton], plugin: woocommerce

#38140 Add single selection mode to SelectTree
  packages/js/components/changelog/add-selecttree-singlemode
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/components/src/experimental-select-tree-control/stories/index.tsx
Labels: package: @woocommerce/components

#38197 In E2E Readme, add instruction to run Playwright UI mode
  plugins/woocommerce/changelog/e2e-readme-playwright-ui-mode
  plugins/woocommerce/tests/e2e-pw/README.md
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38223 Update `wp-env` To 7.0.0
  .syncpackrc
  plugins/woocommerce-beta-tester/changelog/update-wp-env-7.0.0
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/update-wp-env-7.0.0
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/bin/update-wp-env.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: performance tests [team:Solaris], focus: e2e tests [team:Solaris]

#38173 Fix activity panel not showing unread when closed
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/unread-indicators.js
  plugins/woocommerce/changelog/fix-activity-icon
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38238 Add e2e test for Merchant > Pages > Can create a new page
  plugins/woocommerce/changelog/e2e-pw-add-merchant-create-page
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-page.spec.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38246 Update/woocommerce blocks 10.2.0
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.2.0
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38251 Product Block Editor: Fix product summary field top margin
  packages/js/product-editor/changelog/fix-product-summary-field-margin
  packages/js/product-editor/src/blocks/summary/editor.scss
Labels: type: bug, plugin: woocommerce

#38165 Compute if any order is pending, when deciding to process next migration batch
  plugins/woocommerce/changelog/fix-34804-2
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
  plugins/woocommerce/tests/php/src/Internal/BatchProcessing/BatchProcessingControllerTests.php
Labels: plugin: woocommerce

#37850 Do not call login if user is already logged in
  plugins/woocommerce/changelog/fix-34127
  plugins/woocommerce/includes/class-wc-form-handler.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#38276 Move template addition to feature flag
  plugins/woocommerce/changelog/fix-move_template_addition_to_featureflag
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37880 Fix/37601 Add `aria-describedby` to Select options button
  plugins/woocommerce/changelog/fix-37601
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/class-wc-product-variable.php
  plugins/woocommerce/includes/wc-template-functions.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37665 Add HPOS specific k6 test suite
  plugins/woocommerce/changelog/fix-265-add-k6-hpos-baseline
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
  plugins/woocommerce/tests/performance/requests/merchant/add-product.js
  plugins/woocommerce/tests/performance/requests/merchant/home-wc-admin.js
  plugins/woocommerce/tests/performance/requests/merchant/orders.js
  plugins/woocommerce/tests/performance/tests/hpos-baseline-load.js
Labels: plugin: woocommerce, focus: performance tests [team:Solaris]

#38019 Add Business Location page to the core profiler
  plugins/woocommerce-admin/client/core-profiler/assets/images/loader-lightbulb.svg
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/get-loader-stage-meta.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Loader.tsx
  plugins/woocommerce-admin/client/core-profiler/services/country.ts
  plugins/woocommerce-admin/client/core-profiler/services/test/country.test.ts
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/add-core-profiler-business-location
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38282 skip k6 api batch update when batch create fails
  plugins/woocommerce/changelog/fix-k6-api-batch-orders
  plugins/woocommerce/tests/performance/requests/api/orders.js
Labels: type: bug, plugin: woocommerce, focus: performance tests [team:Solaris]

#38199 Fix the child order upshifting when parent order is deleted
  plugins/woocommerce/changelog/fix-order-upshifting
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#38265 Support PHPUnit Tests In `wp-env`
  .github/workflows/ci.yml
  .github/workflows/pr-unit-tests.yml
  .github/workflows/scripts/parse-wp-version.js
  plugins/woocommerce/changelog/add-wp-env-unit-tests
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38288 Update test timeout to 90 seconds, and suggest using `DEFAULT_TIMEOUT_OVERRIDE` in E2E README
  plugins/woocommerce/changelog/e2e-update-timeout-readme
  plugins/woocommerce/tests/e2e-pw/README.md
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#37933 Introduce missing button element classes for the account orders and downloads
  plugins/woocommerce/changelog/add-tt3-comp-button-classes
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/myaccount/downloads.php
  plugins/woocommerce/templates/myaccount/orders.php
  plugins/woocommerce/templates/order/order-again.php
Labels: plugin: woocommerce

#38241 dev: added types for resolveSelect where applicable
  packages/js/data/changelog/dev-add-resolve-select-types
  packages/js/data/src/countries/index.ts
  packages/js/data/src/export/index.ts
  packages/js/data/src/import/index.ts
  packages/js/data/src/items/index.ts
  packages/js/data/src/navigation/index.ts
  packages/js/data/src/notes/index.ts
  packages/js/data/src/onboarding/index.ts
  packages/js/data/src/options/index.ts
  packages/js/data/src/payment-gateways/index.ts
  packages/js/data/src/plugins/index.ts
  packages/js/data/src/product-form/index.ts
  packages/js/data/src/reports/index.ts
  packages/js/data/src/reviews/index.ts
  packages/js/data/src/settings/index.ts
  packages/js/data/src/types/promiseify-selectors.ts
Labels: package: @woocommerce/data

#38154 dev: add core profiler state machine tests
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/UserProfile.tsx
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce-admin/client/core-profiler/test/core-profiler-machine.test.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/dev-core-profiler-model-tests
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38289 Fix `get_options` deprecation notice
  plugins/woocommerce/changelog/fix-option-notice
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38303 Only register blocks when user navigates to the product edit page
  packages/js/product-editor/changelog/add-38200
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/editor/index.ts
  packages/js/product-editor/src/components/editor/init-blocks.ts
  packages/js/product-editor/src/components/index.ts
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce/changelog/add-38200
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#37814 Re-assign existing webhooks during user deletion
  plugins/woocommerce/changelog/fix-37806
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/data-stores/class-wc-webhook-data-store.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/WebhookUtil.php
  plugins/woocommerce/tests/php/includes/class-wc-webhook-tests.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-webhook-data-store-test.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#38284 Wrap selected items in experimental select control
  packages/js/components/changelog/fix-38210
  packages/js/components/src/experimental-select-control/combo-box.scss
  packages/js/components/src/experimental-select-control/selected-items.scss
Labels: package: @woocommerce/components

#38176 Update RIN Transformers doc with examples.
  plugins/woocommerce/changelog/update-update-rin-transformers-doc
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/Transformers/README.md
Labels: plugin: woocommerce, focus: inbox [team:Mothra]

#37895 Fix TT3 styles and typography in the single product's attributes table
  plugins/woocommerce/changelog/fix-tt3-attributes-table
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
Labels: focus: templating [team:Proton], plugin: woocommerce

#38174 Add onboarding/plugins REST endpoint
  plugins/woocommerce/changelog/add-plugin-install-queue-endpoint
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
  plugins/woocommerce/src/Admin/PluginsInstallLoggers/AsynPluginsInstallLogger.php
  plugins/woocommerce/src/Admin/PluginsInstallLoggers/PluginsInstallLogger.php
  plugins/woocommerce/tests/php/src/Admin/API/OnboardingPluginsTest.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38270 add: core profiler fetch extensions
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Extensions.tsx
  plugins/woocommerce/changelog/add-core-profiler-fetch-extensions
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38245 Update task list documentation and example
  plugins/woocommerce-admin/docs/examples/extensions/README.md
  plugins/woocommerce-admin/docs/examples/extensions/add-task/class-mytask.php
  plugins/woocommerce-admin/docs/examples/extensions/add-task/js/index.js
  plugins/woocommerce-admin/docs/examples/extensions/add-task/woocommerce-admin-add-task-example.php
  plugins/woocommerce-admin/docs/features/images/task-list.png
  plugins/woocommerce-admin/docs/features/onboarding-tasks.md
  plugins/woocommerce/changelog/dev-update-task-list-docs-example
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38281 Fix double scrollbars on product editor page
  packages/js/product-editor/changelog/fix-38149
  packages/js/product-editor/src/components/editor/style.scss
  plugins/woocommerce-admin/client/layout/hooks/use-page-classes.ts
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/products/add-edit-product-page.scss
  plugins/woocommerce-admin/client/products/add-product-page.tsx
  plugins/woocommerce-admin/client/products/edit-product-page.tsx
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce/changelog/fix-38149
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#36868 Use esc_html_e instead of esc_attr_e
  plugins/woocommerce/changelog/pr-36868
  plugins/woocommerce/templates/cart/cart.php
Labels: plugin: woocommerce, type: community contribution

#38318 Add support to verify specific order types.
  plugins/woocommerce/changelog/fix-38317
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#38356 dev: moved geolocation utils from wccom to here
  packages/js/onboarding/changelog/dev-move-geolocation-utils
  packages/js/onboarding/jest.config.json
  packages/js/onboarding/package.json
  packages/js/onboarding/src/index.ts
  packages/js/onboarding/src/utils/countries/index.ts
  packages/js/onboarding/src/utils/countries/location-mapping.ts
  packages/js/onboarding/src/utils/countries/tests/utils/country-options.ts
  packages/js/onboarding/src/utils/countries/tests/utils/index.test.ts
  packages/js/onboarding/src/utils/countries/tests/utils/location-mapping.test.ts
  packages/js/onboarding/src/utils/countries/tests/utils/locations.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/onboarding

#37822 Dev/37219 add hook to remove order items
  plugins/woocommerce/changelog/dev-37219_add_hook_to_remove_order_items
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
Labels: plugin: woocommerce, type: community contribution, Contributor Day - H1 2023

#37472 Install/update: Make the DELETE in 2 queries instead of 60+
  plugins/woocommerce/changelog/try-install-optim-2
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Admin/Notes/DataStore.php
  plugins/woocommerce/tests/php/includes/class-wc-install-test.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38343 Remove sample data from product templates
  plugins/woocommerce/changelog/update-remove-sample-data-from-product-templates
  plugins/woocommerce/src/Admin/API/Templates/digital_product.csv
  plugins/woocommerce/src/Admin/API/Templates/external_product.csv
  plugins/woocommerce/src/Admin/API/Templates/grouped_product.csv
  plugins/woocommerce/src/Admin/API/Templates/physical_product.csv
  plugins/woocommerce/src/Admin/API/Templates/variable_product.csv
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38287 E2e/gutenberg latest nightly 0
  .github/workflows/smoke-test-daily.yml
  .github/workflows/smoke-test-release.yml
  plugins/woocommerce/changelog/e2e-gutenberg-latest-nightly
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/upload-plugin.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38355 Show correct confirmation message when removing an attribute from a product
  plugins/woocommerce/changelog/fix-remove-product-attribute-message
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
Labels: type: bug, plugin: woocommerce, focus: product management [team:Mothra]

#38335 Break down `create-variable-product` spec into smaller files
  plugins/woocommerce/changelog/e2e-breakdown-create-variable-spec
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-variable-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-product-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variable-product.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/api.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
  plugins/woocommerce/tests/e2e-pw/utils/variable-products.js
Labels: plugin: woocommerce, focus: e2e tests [team:Solaris]

#38278 Rename tracks event `product_attributes_add` to `product_attributes_save` on the product page and update attributes
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/shared.ts
  plugins/woocommerce/changelog/update-product_attributes_add
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38305 Add `wcadmin_settings_change` tracks event to shipping fields
  plugins/woocommerce/changelog/add-shipping-tracks
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/includes/tracks/events/class-wc-settings-tracking.php
Labels: plugin: woocommerce

#38230 Implement admin-side order edit lock
  plugins/woocommerce/changelog/fix-37108
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/src/Internal/Admin/Orders/EditLock.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderAdminServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/EditLockTest.php
Labels: focus: custom order tables / HPOS [team:Proton], plugin: woocommerce, focus: react admin [team:Ghidorah]

#38354 Fix race condition when rendering product attributes tab empty state
  plugins/woocommerce/changelog/fix-product-add-attributes-race-condition
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: type: bug, plugin: woocommerce, focus: product management [team:Mothra]

#38286 Add woocommerce_suggest_jetpack filter to exlude Jetpack suggestion in OBW
  plugins/woocommerce/changelog/add-38285-add-filter-to-free-extensions-rest-endpoint
  plugins/woocommerce/src/Admin/API/OnboardingFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38328 Add core profiler user profile page
  packages/js/components/changelog/add-core-profiler-user-profile
  packages/js/components/src/experimental-select-control/README.md
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/internal-js-tests/src/setup-globals.js
  plugins/woocommerce-admin/client/core-profiler/components/choice/choice.scss
  plugins/woocommerce-admin/client/core-profiler/components/choice/choice.tsx
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/multiple-selector.tsx
  plugins/woocommerce-admin/client/core-profiler/components/multiple-selector/render-menu.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/UserProfile.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/user-profile.test.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/client/core-profiler/test/__snapshots__/core-profiler-machine.test.tsx.snap
  plugins/woocommerce-admin/client/core-profiler/test/core-profiler-machine.test.tsx
  plugins/woocommerce/changelog/add-core-profiler-user-profile
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/components

#38306 Make DateTimePickerControl a ForwardedRef
  packages/js/components/changelog/add-38248
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/product-editor/changelog/add-38248
  packages/js/product-editor/src/blocks/schedule-sale/edit.tsx
Labels: package: @woocommerce/components

#38387 Fix spelling errors in Remote Inbox Notifications Transformers documentation
  plugins/woocommerce/changelog/fix-spelling-errors-rin-transformers-readme
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/Transformers/README.md
Labels: type: bug, plugin: woocommerce, focus: react admin [team:Ghidorah]

#38085 Enable running phpcs-changed locally against a branch
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/add-lint-branch
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce

#37320 Update deprecated jQuery ready calls
  plugins/woocommerce/changelog/fix-33322
  plugins/woocommerce/client/legacy/js/admin/wc-status-widget.js
  plugins/woocommerce/includes/admin/views/html-admin-dashboard-setup.php
Labels: focus: html/css [team:Proton], needs: developer feedback, plugin: woocommerce, type: community contribution

#38351 Tweak typography and element spacing in product editor
  packages/js/product-editor/assets/icons/section_attributes.svg
  packages/js/product-editor/assets/icons/section_basic.svg
  packages/js/product-editor/assets/icons/section_images.svg
  packages/js/product-editor/assets/icons/section_inventory.svg
  packages/js/product-editor/assets/icons/section_pricing.svg
  packages/js/product-editor/assets/icons/section_shipping.svg
  packages/js/product-editor/changelog/update-38260
  packages/js/product-editor/src/blocks/checkbox/edit.tsx
  packages/js/product-editor/src/blocks/checkbox/editor.scss
  packages/js/product-editor/src/blocks/section/block.json
  packages/js/product-editor/src/blocks/section/edit.tsx
  packages/js/product-editor/src/blocks/section/editor.scss
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/components/radio-field/style.scss
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/update-38260
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38386 Don't show confirmation message when removing a non-variation attribute from a product
  plugins/woocommerce/changelog/update-remove-non-variation-attribute-no-confirm
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: type: enhancement, plugin: woocommerce, focus: product management [team:Mothra]

#38427 Update WooCommerce Blocks package to 10.0.5
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.0.5
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38273 Update "Set up additional payment options" task view & complete logic
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/index.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/test/index.js
  plugins/woocommerce/changelog/update-additional-payment-task-view-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/AdditionalPayments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38441 add: wccom migrate link in nux
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/style.scss
  plugins/woocommerce/changelog/add-core-profiler-business-location copy
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38449 Update WooCommerce Blocks package to 10.2.1
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.2.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38463 Prep/cherry pick 38441
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/style.scss
Labels: focus: react admin [team:Ghidorah]

#38460 Revert "Add REST API Products featured image"
  plugins/woocommerce/changelog/add-rest-api-products-featured-image
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce, focus: api tests [team:Solaris]

#38468 Cherry-pick 38460.
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce, focus: api tests [team:Solaris]

#38418 Core Profiler - Add obw/core-profiler to the extensions endpoint
  plugins/woocommerce/assets/images/onboarding/jetpack.svg
  plugins/woocommerce/assets/images/onboarding/woo.svg
  plugins/woocommerce/changelog/update-38408-update-free-extensions-for-core-profiler
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38437 Release/7.7 bump to 7.7.1
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#38473 Release/7.7 cherry pick 38276 fix
  plugins/woocommerce/changelog/fix-move_template_addition_to_featureflag
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38428 Filter by date_paid and date_completed on list table orders
  plugins/woocommerce-admin/client/analytics/report/revenue/table.js
  plugins/woocommerce/changelog/fix-order-list-table-dates
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38263 Add @woocommerce/create-product-editor-block package
  packages/js/create-product-editor-block/README.md
  packages/js/create-product-editor-block/block-templates/edit.tsx.mustache
  packages/js/create-product-editor-block/block-templates/editor.scss.mustache
  packages/js/create-product-editor-block/block-templates/index.ts.mustache
  packages/js/create-product-editor-block/changelog/add-create-product-editor-block
  packages/js/create-product-editor-block/composer.json
  packages/js/create-product-editor-block/composer.lock
  packages/js/create-product-editor-block/index.js
  packages/js/create-product-editor-block/package.json
  packages/js/create-product-editor-block/plugin-templates/$slug.php.mustache
  packages/js/create-product-editor-block/plugin-templates/.editorconfig.mustache
  packages/js/create-product-editor-block/plugin-templates/.eslintrc.js.mustache
  packages/js/create-product-editor-block/plugin-templates/.gitignore.mustache
  packages/js/create-product-editor-block/plugin-templates/.prettierrc.json.mustache
  packages/js/create-product-editor-block/plugin-templates/.stylelintrc.mustache
  packages/js/create-product-editor-block/plugin-templates/.wp-env.override.json.mustache
  packages/js/create-product-editor-block/plugin-templates/README.md.mustache
  packages/js/create-product-editor-block/plugin-templates/composer.json.mustache
  packages/js/create-product-editor-block/plugin-templates/readme.txt.mustache
  packages/js/create-product-editor-block/plugin-templates/tsconfig.json.mustache
  packages/js/create-product-editor-block/plugin-templates/webpack.config.js.mustache
  pnpm-lock.yaml
Labels: focus: product [team:Mothra], category: extensibility, focus: product management [team:Mothra], focus: new product ux [team:Mothra]

#38294 [Fix] Undefined array key 1, 2, 3 when using list to extract cookie values.
  plugins/woocommerce/changelog/pr-38294
  plugins/woocommerce/includes/class-wc-session-handler.php
Labels: plugin: woocommerce, type: community contribution

#33820 Fixed import and visibility tax values to lowercase
  plugins/woocommerce/changelog/abstract-wc-products
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#38434 Core Profiler - replace install-async with install-activate-async
  plugins/woocommerce/changelog/update-38410-update-install-async-to-activate-plugins
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
  plugins/woocommerce/src/Admin/PluginsInstallLoggers/AsynPluginsInstallLogger.php
  plugins/woocommerce/src/Admin/PluginsInstallLoggers/PluginsInstallLogger.php
  plugins/woocommerce/tests/php/src/Admin/API/OnboardingPluginsTest.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38392 Product Name Suggestions with AI
  plugins/woo-ai/api/api.php
  plugins/woo-ai/api/product-data-suggestion/class-product-data-suggestion-api.php
  plugins/woo-ai/composer.json
  plugins/woo-ai/composer.lock
  plugins/woo-ai/includes/class-woo-ai-product-text-generation.php
  plugins/woo-ai/includes/completion/class-completion-service.php
  plugins/woo-ai/includes/completion/interface-completion-service.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-prompt-generator.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-request.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-service.php
  plugins/woo-ai/includes/prompt-formatter/class-json-request-formatter.php
  plugins/woo-ai/includes/prompt-formatter/class-product-attribute-formatter.php
  plugins/woo-ai/includes/prompt-formatter/class-product-category-formatter.php
  plugins/woo-ai/includes/prompt-formatter/interface-prompt-formatter.php
  plugins/woo-ai/src/components/error-message/index.tsx
  plugins/woo-ai/src/components/index.ts
  plugins/woo-ai/src/components/random-loading-message/index.tsx
  plugins/woo-ai/src/components/random-tip-message/index.tsx
  plugins/woo-ai/src/hooks/useProductDataSuggestions.ts
  plugins/woo-ai/src/index.js
  plugins/woo-ai/src/index.scss
  plugins/woo-ai/src/product-name/index.ts
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/product-name/product-name.scss
  plugins/woo-ai/src/product-name/suggestion-item.tsx
  plugins/woo-ai/src/utils/index.ts
  plugins/woo-ai/src/utils/productData.ts
  plugins/woo-ai/src/utils/shuffleArray.ts
  plugins/woo-ai/src/utils/types.ts
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai, focus: ai

#38440 Updated `wp-env` To 8.0.0
  .github/workflows/pr-highlight-changes.yml
  .github/workflows/scripts/verify-php-version.sh
  .github/workflows/smoke-test-release.yml
  .syncpackrc
  packages/js/onboarding/changelog/update-wp-env-8.0.0
  packages/js/onboarding/package.json
  plugins/woocommerce-beta-tester/changelog/update-wp-env-8.0.0
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/update-wp-env-8.0.0
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/performance/bin/init-sample-products.sh
  pnpm-lock.yaml
  tools/code-analyzer/src/git.ts
Labels: plugin: woocommerce, focus: performance tests [team:Solaris], package: @woocommerce/onboarding, focus: e2e tests [team:Solaris]

#38501 Update woocommerce_suggest_jetpack filter description
  plugins/woocommerce/changelog/update-obw-jetpack-filter
  plugins/woocommerce/src/Admin/API/OnboardingFreeExtensions.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38312 Fix RIM rules processor
  plugins/woocommerce/changelog/fix-38167_RIM_rules_processor
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/ComparisonOperation.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/OptionRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/Transformers/PrepareUrl.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/Transformers/README.md
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/Transformers/prepare-url.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/option-rule-processor.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: product management [team:Mothra]

#38405 Core Profiler - Add extensions page
  packages/js/data/changelog/update-add-is_installed-and-plugins_page_skipped
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/plugins/actions.ts
  plugins/woocommerce-admin/client/core-profiler/assets/images/loader-developing.svg
  plugins/woocommerce-admin/client/core-profiler/assets/images/loader-layout.svg
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce-admin/client/core-profiler/get-loader-stage-meta.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Extensions.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce-admin/client/core-profiler/services/installAndActivatePlugins.ts
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/add-211-create-extensions-page-in-core-profiler
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38469 Maybe default the selected state as the first one when it's "*"
  plugins/woocommerce/changelog/fix-default-selected-state-for-country
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce, type: community contribution

#38484 View should scroll to the top when navigating between tabs
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce/changelog/add-38150
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38480 Opt out of Reset and Help buttons in DateTimePickerControl
  packages/js/components/changelog/fix-date-time-picker-reset
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
Labels: package: @woocommerce/components

#38466 Update DateTimePickerControl's dropdown positioning
  packages/js/components/changelog/update-date-time-picker-control-dropdown
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
Labels: package: @woocommerce/components

#38388 Make option API fail when using a disallowed option name in non-produciton environments
  plugins/woocommerce/changelog/update-options-api
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38412 add: core profiler business info page
  packages/js/data/changelog/add-geolocation-api-call
  packages/js/data/src/countries/action-types.ts
  packages/js/data/src/countries/actions.ts
  packages/js/data/src/countries/reducer.ts
  packages/js/data/src/countries/resolvers.ts
  packages/js/data/src/countries/selectors.ts
  packages/js/data/src/countries/types.ts
  packages/js/onboarding/changelog/add-get-country-util
  packages/js/onboarding/src/utils/countries/index.ts
  packages/js/onboarding/src/utils/countries/tests/utils/index.test.ts
  plugins/woocommerce-admin/client/core-profiler/components/heading/style.scss
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/tests/business-info.test.tsx
  plugins/woocommerce-admin/client/core-profiler/services/country.ts
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce-admin/client/core-profiler/test/core-profiler-machine.test.tsx
  plugins/woocommerce/changelog/add-core-profiler-business-info
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data, package: @woocommerce/onboarding

#38457 Update shipping partner suggestions to use data from API
  packages/js/data/changelog/update-use-shipping-partner-suggestions
  packages/js/data/src/index.ts
  packages/js/data/src/shipping-methods/action-types.ts
  packages/js/data/src/shipping-methods/actions.ts
  packages/js/data/src/shipping-methods/constants.ts
  packages/js/data/src/shipping-methods/index.ts
  packages/js/data/src/shipping-methods/reducer.ts
  packages/js/data/src/shipping-methods/resolvers.ts
  packages/js/data/src/shipping-methods/selectors.ts
  packages/js/data/src/shipping-methods/test-helpers/stub.ts
  packages/js/data/src/shipping-methods/test/reducer.ts
  packages/js/data/src/shipping-methods/types.ts
  plugins/woocommerce-admin/client/task-lists/fills/experimental-shipping-recommendation/components/plugin-banner.scss
  plugins/woocommerce-admin/client/task-lists/fills/shipping/index.js
  plugins/woocommerce-admin/client/task-lists/fills/shipping/shipping-providers/partners.tsx
  plugins/woocommerce-admin/client/task-lists/fills/shipping/shipping-providers/shipping-providers.ts
  plugins/woocommerce/assets/images/shipping_partners/paper.svg
  plugins/woocommerce/assets/images/shipping_partners/printer.svg
  plugins/woocommerce/changelog/update-use-shipping-partner-suggestions
  plugins/woocommerce/src/Admin/API/PaymentGatewaySuggestions.php
  plugins/woocommerce/src/Admin/Features/ShippingPartnerSuggestions/DefaultShippingPartners.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], package: @woocommerce/data

#38048 Reduce code duplication in Report Controllers
  plugins/woocommerce/changelog/dev-dry-reports
  plugins/woocommerce/src/Admin/API/Reports/Categories/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/GenericController.php
  plugins/woocommerce/src/Admin/API/Reports/GenericStatsController.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/PerformanceIndicators/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Revenue/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Stock/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/Controller.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah], focus: analytics [team:Mothra]

#38479 Improve the UX of AI product title suggestions
  plugins/woo-ai/api/product-data-suggestion/class-product-data-suggestion-api.php
  plugins/woo-ai/includes/completion/class-completion-exception.php
  plugins/woo-ai/includes/completion/class-jetpack-completion-service.php
  plugins/woo-ai/includes/completion/interface-completion-service.php
  plugins/woo-ai/includes/exception/class-woo-ai-exception.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-exception.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-request.php
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-service.php
  plugins/woo-ai/package.json
  plugins/woo-ai/src/components/error-message/index.tsx
  plugins/woo-ai/src/components/index.ts
  plugins/woo-ai/src/components/random-loading-message/index.tsx
  plugins/woo-ai/src/components/random-tip-message/index.tsx
  plugins/woo-ai/src/hooks/useProductDataSuggestions.ts
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
  plugins/woo-ai/src/product-name/product-name.scss
  plugins/woo-ai/src/product-name/suggestion-item.tsx
  plugins/woo-ai/src/utils/types.ts
  plugins/woo-ai/woo-ai.php
  pnpm-lock.yaml
Labels: plugin: woo-ai, focus: ai

#38533 Update WooCommerce Blocks package to 10.0.6
  plugins/woocommerce/changelog/update-woocommerce-blocks-10.0.6
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce

#38499 Improve the prompt of product title suggestions
  plugins/woo-ai/includes/product-data-suggestion/class-product-data-suggestion-prompt-generator.php
  plugins/woo-ai/includes/prompt-formatter/class-json-request-formatter.php
Labels: plugin: woo-ai, focus: ai

#38523 Fix linter issues and update Syncpack
  .syncpackrc
  package.json
  packages/js/components/changelog/dev-linter-fixes
  packages/js/components/src/experimental-select-control/select-control.tsx
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/data/changelog/dev-linter-fixes
  packages/js/data/src/products/types.ts
  packages/js/eslint-plugin/changelog/dev-linter-fixes
  packages/js/eslint-plugin/configs/recommended.js
  packages/js/eslint-plugin/package.json
  packages/js/product-editor/changelog/dev-linter-fixes
  packages/js/product-editor/src/utils/init-block.ts
  plugins/woocommerce-admin/.eslintrc.js
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/UserProfile.tsx
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useJetpackPluginState.tsx
  plugins/woocommerce-admin/client/homescreen/mobile-app-modal/components/useSendMagicLink.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/constants.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-beta-tester/changelog/dev-linter-fixes
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/dev-linter-fixes
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/eslint-plugin

#38530 cast url to string for str_replace
  plugins/woocommerce/changelog/fix-force-ssl-null-url
  plugins/woocommerce/includes/class-wc-https.php
Labels: plugin: woocommerce

#38542 Fix save settings error within Analytics
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/layout/test/index.js
  plugins/woocommerce/changelog/fix-38538_save_settings_error
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38464 Remove change file from 38441
  plugins/woocommerce/changelog/add-core-profiler-business-location copy
Labels: plugin: woocommerce

#38495 Load custom editor-only blocks in the block-based product editor
  plugins/woocommerce/changelog/fix-load-editor-only-blocks-in-product-editor
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: react admin [team:Ghidorah]

#38529 ensure parameter datatype for array_slice
  plugins/woocommerce/changelog/fix-38292-array_slice
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce

#38535 Hide HPOS plugin incompatibility warning from users with no 'activate_plugins' perm
  plugins/woocommerce/changelog/fix-37505
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#38406 Add a new plugin to the monorepo for the docs project
  packages/js/data/changelog/add-woocommerce-docs-plugin
  plugins/woocommerce-docs/.eslintrc
  plugins/woocommerce-docs/.prettierrc.js
  plugins/woocommerce-docs/README.md
  plugins/woocommerce-docs/client/data/useManifests.tsx
  plugins/woocommerce-docs/client/index.tsx
  plugins/woocommerce-docs/composer.json
  plugins/woocommerce-docs/composer.lock
  plugins/woocommerce-docs/package.json
  plugins/woocommerce-docs/src/API/ManifestAPI.php
  plugins/woocommerce-docs/src/App/Bootstrap.php
  plugins/woocommerce-docs/src/Data/ManifestStore.php
  plugins/woocommerce-docs/src/views/admin.php
  plugins/woocommerce-docs/tsconfig.json
  plugins/woocommerce-docs/webpack.config.js
  plugins/woocommerce-docs/woocommerce-docs.php
  pnpm-lock.yaml
Labels: package: @woocommerce/data

#38433 Add endpoint to get SSR
  plugins/woocommerce/changelog/add-ssr-report-endpoint
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-ssr-controller.php
Labels: plugin: woocommerce
