Repository woocommerce/woocommerce, pull requests merged in 2024-12, with the labels that each got.

#53066 Fix `TableCard`s menu being displayed off the page
  packages/js/components/changelog/fix-43256-tablecard-columns-popover
  packages/js/components/src/ellipsis-menu/README.md
  packages/js/components/src/ellipsis-menu/index.tsx
  packages/js/components/src/table/index.tsx
  plugins/woocommerce/changelog/fix-43256-tablecard-columns-popover
  plugins/woocommerce/client/admin/client/dashboard/dashboard-charts/index.js
  plugins/woocommerce/client/admin/client/dashboard/leaderboards/index.js
  plugins/woocommerce/client/admin/client/dashboard/store-performance/index.js
Labels: plugin: woocommerce, package: @woocommerce/components

#53022 Analytics and Product CSV export: allow negative numeric values to be left unescaped to fix CSV output
  plugins/woocommerce/changelog/53022-fix-53020-php-csv-export-allow-negative-numbers-unescaped
  plugins/woocommerce/includes/export/abstract-wc-csv-exporter.php
  plugins/woocommerce/tests/legacy/unit-tests/exporter/product.php
Labels: plugin: woocommerce, focus: analytics

#52727 CSV export package: allow negative numeric values to be left unescaped to fix CSV output (e.g. `-42`)
  packages/js/csv-export/changelog/52727-fix-25379-csv-export-allow-negative-numeric-values-unescaped
  packages/js/csv-export/src/index.ts
  packages/js/csv-export/src/test/__mocks__/mock-csv-data.js
  packages/js/csv-export/src/test/__mocks__/mock-headers.js
  packages/js/csv-export/src/test/__mocks__/mock-rows.js
  packages/js/csv-export/src/test/index.ts
Labels: package: @woocommerce/csv-export

#53217 Post editor: ensure that blocks aren't registered multiple times
  plugins/woocommerce-blocks/assets/js/atomic/utils/register-block-single-product-template.ts
  plugins/woocommerce/changelog/53217-53195-registerblocksingleproducttemplate-register-blocks-twice-in-posts
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami

#52768 Replace and remove feature gating class use with get environment type
  plugins/woocommerce/changelog/update-47694_replace_FeatureGating_use_with_get_environment_type
  plugins/woocommerce/src/Admin/DeprecatedClassFacade.php
  plugins/woocommerce/src/Blocks/Assets/Api.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Blocks/Domain/Package.php
  plugins/woocommerce/src/Blocks/Domain/Services/FeatureGating.php
  plugins/woocommerce/src/Blocks/Package.php
  plugins/woocommerce/tests/php/src/Blocks/BlockPatterns/BlockPatterns.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Package.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/DeleteDraftOrders.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: blocks

#53158 [Accessible] Make tabs on product page accessible
  plugins/woocommerce-blocks/tests/e2e/tests/single-product-template/single-product-template.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-51924
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
  plugins/woocommerce/templates/single-product/tabs/tabs.php
Labels: plugin: woocommerce, type: community contribution

#53353 Prep release/9.5 for 9.5 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#52310 Enable cart item images filtering, fixes #42259
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/hooks/filters.md
  plugins/woocommerce/changelog/52310-add-cart-image-filtering
  plugins/woocommerce/src/StoreApi/Schemas/V1/CartItemSchema.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/CartItems.php
Labels: plugin: woocommerce

#53352 Add new required props to RouterProvider
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce/changelog/fix-cys-router
Labels: plugin: woocommerce, focus: customize-your-store

#53343 Add to Cart with Options - Stepper Layout: trigger change event when stepper buttons are clicked
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/frontend.ts
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce/changelog/53343-add-trigger-on-change-event-stepper
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#53251 Create Quantity Selector block
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/block.json
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/style.scss
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce/changelog/add-quantity-selector-block
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsQuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#53314 Fix the images scroll on Chrome
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce/changelog/fix-53149-2
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#53270 Add categories for other payment suggestions
  packages/js/data/changelog/53270-add-categories-to-setting-page
  packages/js/data/src/payment-settings/selectors.ts
  plugins/woocommerce/changelog/53270-add-categories-to-setting-page
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
Labels: needs: author feedback, plugin: woocommerce, package: @woocommerce/data

#53317 Reengineer WCPayWelcomePage incentives and deliver Payments NOX incentives via API
  plugins/woocommerce/changelog/update-52738-woopayments-incentives-refac-and-api
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/src/Internal/Admin/Notes/PaymentsMoreInfoNeeded.php
  plugins/woocommerce/src/Internal/Admin/Notes/PaymentsRemindMeLater.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/Incentives/Incentive.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/Incentives/WooPayments.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionIncentives.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AdminSuggestionsServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/Incentives/IncentiveTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/Incentives/WooPaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/Mocks/FakeIncentive.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionIncentivesTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
Labels: plugin: woocommerce

#53173 [Payments NOX] Test drive onboarding flow from settings
  plugins/woocommerce/changelog/53173-dev-51452-test-drive-onboarding-flow
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-button/payment-gateway-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
Labels: plugin: woocommerce

#53350 fix: `woocommerce_store_api_add_to_cart_data` docs arg count
  plugins/woocommerce/changelog/53350-frosso-patch-1
  plugins/woocommerce/src/StoreApi/docs/cart.md
Labels: plugin: woocommerce

#53355 Remove unnecessary setState() from <DesignWithNoAiController>
  plugins/woocommerce/changelog/fix-remove-unnecessary-set-state
  plugins/woocommerce/client/admin/client/customize-store/design-without-ai/index.tsx
Labels: plugin: woocommerce, focus: customize-your-store

#53202 [Accessibility] Update password strength role
  plugins/woocommerce/changelog/fix-51837
  plugins/woocommerce/client/legacy/js/frontend/password-strength-meter.js
Labels: plugin: woocommerce, type: community contribution

#53368 Dont register Add To Cart with Option when the feature flag is False
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/index.tsx
  plugins/woocommerce/changelog/update-add-to-cart-not-register-behind-flag
Labels: plugin: woocommerce

#52983 Checkout block: Fix issue with vertical alignment in `Terms and Conditions` innerblock checkbox
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  plugins/woocommerce/changelog/52983-fix-issue-52722
Labels: type: community contribution

#53354 Comment: Add product type selector to the add to cart with options block toolbar
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/utils/get-product-types/index.ts
  plugins/woocommerce/changelog/update-impplement-product-type-selector
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions.php
Labels: plugin: woocommerce

#53224 Improve email font family and footer settings
  plugins/woocommerce/changelog/52222-email-font-and-footer-settings
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53273 [e2e tests] Improve shopper product variation test
  plugins/woocommerce/changelog/e2e-improve-shopper-product-variation-test
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-variable.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53391 [e2e tests] Improve order-edit test
  plugins/woocommerce/changelog/e2e-improve-order-edit-test
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53392 [e2e tests] Improve customer list tests
  plugins/woocommerce/changelog/e2e-improve-test-data-customer-list-spec
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53393 [e2e tests] Fix create order test for multiple environments
  plugins/woocommerce/changelog/e2e-fix-notice-check-when-creating-order
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53310 [e2e tests] Fix flaky create grouped product test
  plugins/woocommerce/changelog/e2e-fix-flaky-grouped-products-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-grouped-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53401 Cherry-pick #397 into release/9.3
  plugins/woocommerce/changelog/fix-wc-get-cart-url-xss
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart.js
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#53416 Update stable tag to 9.4.3
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#53405 Cherry-pick #391 into release/9.4
  plugins/woocommerce-admin/client/customize-store/utils.js
  plugins/woocommerce/changelog/fix-sirt-woo-2024-11-xss-admin
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#53409 Cherry-pick #393 into release/9.4
  plugins/woocommerce/changelog/fix-wc-get-cart-url-xss
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart.js
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#53407 Cherry-pick #392 into release/9.4
  plugins/woocommerce/changelog/fix-prevent-guest-checkout-on-store-api-endpoint-when-guest-checkout-is-disabled
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Checkout.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#53424 Prep release/9.3 for 9.3 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53372 Add to Cart with Options Quantity Selector Stepper Layout: trigger change event when stepper buttons are clicked
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/frontend.ts
  plugins/woocommerce/changelog/add-trigger-on-change-event-stepper-quantity-selector
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsQuantitySelector.php
Labels: plugin: woocommerce

#53093 [dev] Close the CFE and PRR if the base ref of the PR doesn't originate from release branch
  .github/ISSUE_TEMPLATE/new-cfe-template.yml
  .github/ISSUE_TEMPLATE/new-prr-template.yml
  .github/workflows/new-cfe-prr-notifications.yml
Labels: focus: monorepo infrastructure

#53398 Switch current product type from the Add To Cart with Options block toolbar
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/store/index.ts
  plugins/woocommerce/changelog/update-swtich-product-type-from-block-toolbar
Labels: plugin: woocommerce

#53361 Read CUSTOMER_PASSWORD from .env file
  plugins/woocommerce/changelog/53361-e2e-store-customer-password
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup-external.sh
Labels: plugin: woocommerce, focus: e2e tests

#53433 Add new required props to RouterProvider
  plugins/woocommerce/changelog/fix-cys-router
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/index.tsx
Labels: plugin: woocommerce, focus: customize-your-store, cherry pick to trunk

#53156 docs: Update payment gateway failure response documentation
  docs/docs-manifest.json
  docs/payments/payment-gateway-api.md
  plugins/woocommerce/changelog/fix-45652-doc-bug-process_payment-return-on-failure
  plugins/woocommerce/src/StoreApi/Legacy.php
Labels: focus: documentation, plugin: woocommerce

#53438 Fix search in Installed Plugins page
  plugins/woocommerce/changelog/cfe-fix-plugin-search
  plugins/woocommerce/src/Packages.php
Labels: plugin: woocommerce, cherry pick to trunk

#53378 Product Gallery: add support for Compatibility Layer
  plugins/woocommerce-blocks/docs/internal-developers/blockified-templates/compatibility-layer.md
  plugins/woocommerce/changelog/add-52982
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplateCompatibility.php
Labels: plugin: woocommerce, team: Kirigami & Origami, type: compatibility, block: product gallery

#53318 Product Gallery: disable prev/next buttons on first and last images
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.spec.ts
  plugins/woocommerce/changelog/add-disable-next-prev
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryThumbnails.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#53430 Render the product type toolbar button only when the product is not defined
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/components/toolbar-type-product-selector-group/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/edit.tsx
  plugins/woocommerce/changelog/update-dont-show-type-selector-when-product-defined
Labels: plugin: woocommerce

#51385 Fix typo in method documentation
  plugins/woocommerce/includes/abstracts/abstract-wc-shipping-method.php
Labels: plugin: woocommerce, type: community contribution

#53037 [Accessibility] Update the checkout page order summary product title to use h3
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  plugins/woocommerce-blocks/assets/js/base/components/product-name/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/product-name/stories/index.stories.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-totals-block/style.scss
  plugins/woocommerce/changelog/fix-51799
Labels: plugin: woocommerce, type: community contribution, team: Rubik

#53377 [e2e tests] Replace utils from the new `@woocommerce/e2e-utils-playwright` package
  plugins/woocommerce/changelog/tests-52957
  plugins/woocommerce/tests/e2e-pw/tests/merchant/command-palette.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/add-to-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-tags-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#53385 [e2e tests] Introduce Faker - update checkout login test to use unique and realistic test data
  plugins/woocommerce/changelog/e2e-improve-checkout-login-unique-test-data
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/data.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#52455 Add `orders/statuses` endpoint to the REST API
  plugins/woocommerce/changelog/add-order-statuses-rest-api-endpoint
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Orders/OrderStatusRestController.php
  plugins/woocommerce/tests/php/src/Internal/Orders/OrderStatusRestControllerTest.php
Labels: needs: author feedback, focus: rest api, plugin: woocommerce, type: community contribution

#53308 Introduce opt-in WooCommerce rebranding
  plugins/woocommerce/changelog/pr-53308
  plugins/woocommerce/client/legacy/css/activation-new-branding.scss
  plugins/woocommerce/client/legacy/css/activation-old-branding.scss
  plugins/woocommerce/client/legacy/css/activation.scss
  plugins/woocommerce/client/legacy/css/variables-new-branding.scss
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/src/Internal/BrandingController.php
Labels: plugin: woocommerce

#53265 Fix click event on Import from a CSV file box in add products task
  plugins/woocommerce/changelog/fix-import-product-card
  plugins/woocommerce/client/admin/client/task-lists/fills/import-products/cards.scss
  plugins/woocommerce/client/admin/client/task-lists/fills/import-products/style.scss
Labels: plugin: woocommerce

#53395 [e2e tests] Improve shop search browse and sort spec
  plugins/woocommerce/changelog/e2e-improve-shop-search-browse-sort-test
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-search-browse-sort.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52949 [Accessibility] Associate email field and payment option radio with their descriptions on Checkout
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  plugins/woocommerce-blocks/packages/components/radio-control-accordion/index.tsx
  plugins/woocommerce-blocks/packages/components/radio-control/option.tsx
  plugins/woocommerce-blocks/packages/components/radio-control/types.ts
  plugins/woocommerce/changelog/fix-51794
Labels: plugin: woocommerce, type: community contribution

#53228 [e2e-tests] Update URLs across tests for multisite setup compatibility
  plugins/woocommerce/changelog/e2e-update-urls-for-multisite-setup-comptibility
  plugins/woocommerce/tests/e2e-pw/fixtures/fixtures.js
  plugins/woocommerce/tests/e2e-pw/reporters/environment-reporter.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-overview.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/webhooks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/basic.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler-hub.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/customize-store.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/intro.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/transitional.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/lost-password.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-search.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-product-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-grouped-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/disable-block-product-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-create.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-manage.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/add-to-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-title-after-deletion.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/cart.js
  plugins/woocommerce/tests/e2e-pw/utils/features.js
  plugins/woocommerce/tests/e2e-pw/utils/options.js
  plugins/woocommerce/tests/e2e-pw/utils/site.js
  plugins/woocommerce/tests/e2e-pw/utils/themes.js
  plugins/woocommerce/tests/e2e-pw/utils/tours.js
Labels: plugin: woocommerce, focus: e2e tests

#53290 Add tests for analytics reports
  plugins/woocommerce/changelog/e2e-analytics-report-e2e
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/stats-overview.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53442 [e2e tests] Support dotenv files directly in env directories
  plugins/woocommerce/changelog/e2e-improve-handling-of-dotenv-files
  plugins/woocommerce/tests/e2e-pw/run-tests-with-env.sh
Labels: plugin: woocommerce, focus: e2e tests

#53463 [e2e tests] Remove wait for networkidle
  plugins/woocommerce/changelog/e2e-remove-all-networkidle
  plugins/woocommerce/tests/e2e-pw/global-setup.js
  plugins/woocommerce/tests/e2e-pw/tests/js-file-monitor/monitor-js-file-number.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-classes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52942 [dev] Abort building zip if the picked PRs are left open either by bots or humans
  .github/workflows/build-release-zip-file.yml
  plugins/woocommerce/changelog/cherry-pick-fail-safe
Labels: plugin: woocommerce, focus: monorepo infrastructure, cherry pick to trunk, cherry pick to frozen release

#53380 Add recommended payment methods to providers API response
  plugins/woocommerce/changelog/add-53194-gateway-recommended-payment-methods
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/Mocks/FakePaymentGateway.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/Incentives/IncentiveTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/Incentives/WooPaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionIncentivesTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
Labels: plugin: woocommerce

#52625 Fix 404s in Markdown Docs
  docs/README.md
  docs/block-theme-development/theming-woo-blocks.md
  docs/cart-and-checkout-blocks/available-filters/additional-cart-checkout-inner-block-types.md
  docs/cart-and-checkout-blocks/available-filters/cart-line-items.md
  docs/cart-and-checkout-blocks/available-filters/checkout-and-place-order-button.md
  docs/cart-and-checkout-blocks/available-filters/coupons.md
  docs/cart-and-checkout-blocks/available-filters/order-summary-items.md
  docs/cart-and-checkout-blocks/available-filters/totals-footer-item.md
  docs/cart-and-checkout-blocks/available-slot-fills.md
  docs/cart-and-checkout-blocks/hooks/migrated-hooks.md
  docs/cart-and-checkout-blocks/slot-fills.md
  docs/code-snippets/_media/custom-field-value.png
  docs/code-snippets/customising-checkout-fields.md
  docs/code-snippets/displaying_custom_fields_in_your_theme_or_site.md
  docs/contributing-docs/style-guide.md
  docs/contributing/README.md
  docs/docs-manifest.json
  docs/extensibility-in-blocks/README.md
  docs/extension-development/adding-a-section-to-a-settings-tab.md
  docs/extension-development/building-your-first-extension.md
  docs/extension-development/implementing-settings.md
  docs/payments/payment-gateway-api.md
  docs/payments/payment-token-api.md
  docs/quality-and-best-practices/writing-high-quality-testing-instructions.md
  docs/testing/README.md
  docs/theme-development/README.md
  docs/theme-development/classic-theme-developer-handbook.md
  docs/theme-development/fixing-outdated-woocommerce-templates.md
  docs/theme-development/image-sizes.md
  docs/theme-development/set-up-a-child-theme.md
  docs/theme-development/template-structure.md
  docs/ux-guidelines-extensions/README.md
  packages/js/create-woo-extension/README.md
  packages/js/create-woo-extension/changelog/52625-fix-broken-docs-links-52587
  packages/js/csv-export/README.md
  packages/js/csv-export/changelog/52625-fix-broken-docs-links-52587
  plugins/woocommerce/changelog/52625-fix-broken-docs-links-52587
  plugins/woocommerce/client/admin/docs/features/onboarding.md
  tools/storybook/package.json
Labels: status: blocked, status: on hold, focus: documentation, plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/csv-export, team: Rubik

#53484 Add To Cart with Options: Select initially the Simple product type
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/store/index.ts
  plugins/woocommerce/changelog/update-select-simple-product-initially
Labels: plugin: woocommerce

#53360 Update WC Blocks documentation paths
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/hooks/actions.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/hooks/filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/hooks/migrated-hooks.md
  plugins/woocommerce/changelog/fix-doc-links
Labels: plugin: woocommerce, team: Rubik

#53459 Turning state field hidden for Cyprus
  plugins/woocommerce/changelog/53459-fix-cyprus-state-requirement
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce

#52770 Using order internal status constants in main files
  plugins/woocommerce/changelog/52770-dev-using-order-internal-status-constants-in-main-files
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard.php
  plugins/woocommerce/includes/class-wc-discounts.php
  plugins/woocommerce/includes/class-wc-post-data.php
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/includes/class-wc-privacy.php
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-network-orders-v2-controller.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/src/Checkout/Helpers/ReserveStock.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/Incentives/WooPayments.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
  plugins/woocommerce/tests/php/includes/wc-stock-functions-tests.php
Labels: plugin: woocommerce

#53429 Rebranding changes for core profiler and LYS
  plugins/woocommerce/assets/images/core-profiler/woo-rebrand-2.svg
  plugins/woocommerce/changelog/rebranding-53373-core-profiler-and-lys-success
  plugins/woocommerce/client/admin/client/core-profiler/components/navigation/navigation.scss
  plugins/woocommerce/client/admin/client/core-profiler/components/navigation/woologo.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/launch-store-success/style.scss
  plugins/woocommerce/client/admin/client/utils/admin-settings.js
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
Labels: plugin: woocommerce

#52784 Checkout: Add entities for checkout fields that can be toggled on/off
  docs/building-a-woo-store/block-references.md
  docs/docs-manifest.json
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/address-line-2-field.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/prepare-form-fields.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/types.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/utils.ts
  plugins/woocommerce-blocks/assets/js/base/components/select/index.tsx
  plugins/woocommerce-blocks/assets/js/base/context/hooks/use-checkout-address.ts
  plugins/woocommerce-blocks/assets/js/base/context/providers/editor-context.tsx
  plugins/woocommerce-blocks/assets/js/base/utils/address.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart/edit.js
  plugins/woocommerce-blocks/assets/js/blocks/checkout/address-card/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/attributes.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/context.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/types.ts
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.merchant.block_theme.spec.ts
  plugins/woocommerce/changelog/add-checkout-field-entities-42773
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Utils/CartCheckoutUtils.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/php/src/Blocks/Mocks/CartCheckoutUtilsMock.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/CartCheckoutUtilsTest.php
Labels: focus: checkout, focus: documentation, plugin: woocommerce, focus: e2e tests, block: checkout, focus: store api

#53490 [dev] Added direct links to view unmerged PRs
  .github/workflows/build-release-zip-file.yml
Labels: focus: monorepo infrastructure, cherry pick to trunk, cherry pick to frozen release

#53399 Send test email from the email preview
  plugins/woocommerce/changelog/52229-send-preview-email
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-send.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/style.scss
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreviewRestController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/EmailPreviewServiceProvider.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewTest.php
Labels: focus: email, plugin: woocommerce, focus: e2e tests, team: Haiku

#53312 [Accessibility] Add description to display name field on accounts details page
  plugins/woocommerce/changelog/fix-51832
  plugins/woocommerce/templates/myaccount/form-edit-account.php
Labels: plugin: woocommerce, type: community contribution

#52844 [Accessibility] Add heading to coupon accordion in block-based Checkout page
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  plugins/woocommerce-blocks/packages/components/panel/index.tsx
  plugins/woocommerce/changelog/fix-51796
Labels: plugin: woocommerce, type: community contribution

#46023 Adding OrderTableDatastore and Meta caching integration
  plugins/woocommerce/changelog/fix-45550-cache-orders-at-datastore-layer
  plugins/woocommerce/src/Caches/OrderCache.php
  plugins/woocommerce/src/Caching/ObjectCache.php
  plugins/woocommerce/src/Caching/WPCacheEngine.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationController.php
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStoreMeta.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/includes/class-wc-order-factory-test.php
  plugins/woocommerce/tests/php/src/Caching/WPCacheEngineTest.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataHandlerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#53497 Fix namespace conflict between Payments and EmailPreview REST API routes
  plugins/woocommerce/changelog/email-preview-rest-not-found
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-send.tsx
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreviewRestController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/EmailPreviewServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewRestControllerTest.php
Labels: plugin: woocommerce

#53448 Allow resetting/resyncing email color palette in settings
  plugins/woocommerce/changelog/52421-email-colors-reset-resync
  plugins/woocommerce/client/admin/client/embedded-body-layout/render-embedded-layout.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-control.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-functions.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/style.scss
  plugins/woocommerce/client/admin/client/settings/settings-slots.js
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53453 [NOX] Switch from test-drive to live account
  plugins/woocommerce/assets/images/icons/dollar.svg
  plugins/woocommerce/assets/images/icons/store.svg
  plugins/woocommerce/changelog/53453-dev-51473-switch-to-live-account
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-button/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-buttons/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-buttons/payment-gateway-buttons.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/woo-payments-post-sandbox-account-setup-modal/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/woo-payments-post-sandbox-account-setup-modal/woo-payments-post-sandbox-account-setup-modal.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/woo-payments-post-sandbox-account-setup-modal/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
Labels: plugin: woocommerce

#53475 [NOX] Style ellipsis menu and offline payments item
  plugins/woocommerce/changelog/53475-dev-52482-ellipsis-menu-styling
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-body.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
Labels: plugin: woocommerce

#53503 [dev] Build tweaks for reducing size of wireit caches
  .husky/post-merge
  plugins/woocommerce/changelog/dev-fix-wireit-cache-bloating
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53288 Implement a new page step for recommended payment methods
  plugins/woocommerce/changelog/add-recommended-payment-methods-page-wrapper
  plugins/woocommerce/client/admin/client/index.js
  plugins/woocommerce/client/admin/client/settings-payments/components/header/header.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/header/header.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/admin/views/html-admin-settings.php
Labels: plugin: woocommerce

#53506 [dev] Update CFE and PRR template on how the version is extracted
  .github/ISSUE_TEMPLATE/new-cfe-template.yml
  .github/ISSUE_TEMPLATE/new-prr-template.yml
Labels: focus: monorepo infrastructure

#53476 In-App - show badge with 0 results, prevent hiding Business Services when they have no results
  plugins/woocommerce/changelog/53476-update-22261-in-app-search-badge-update
  plugins/woocommerce/client/admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/marketplace-context.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/types.ts
Labels: plugin: woocommerce

#53482 Fix: Restore Button Styling for Add to Cart Buttons on Non-WooCommerce Pages
  plugins/woocommerce/changelog/53482-fix-52907-button-styling-missing-on-add-to-cart-buttons-when-using-a-products-shortcode-on-the-homepage
  plugins/woocommerce/client/legacy/css/woocommerce.scss
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/components, package: @woocommerce/experimental, focus: e2e tests, team: Kirigami & Origami, focus: FSE, block: add to cart, cherry pick to trunk

#53396 Update documentation for the `experimental_` prefixed actions
  plugins/woocommerce-blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  plugins/woocommerce/changelog/add-experimental-prefix-docs
Labels: plugin: woocommerce

#53451 Update additional fields locations documentation
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/docs-manifest.json
  plugins/woocommerce/changelog/fix-additional-fields-locations
Labels: focus: documentation, plugin: woocommerce

#53507 [Payments NOX] Remove PaymentRecommendations from the settings page
  plugins/woocommerce/changelog/53507-dev-53381-remove-recommended-payment-methods-for-react-settings-page
  plugins/woocommerce/client/admin/client/payments/payment-recommendations-wrapper.tsx
  plugins/woocommerce/client/admin/client/payments/test/payment-recommendations.test.tsx
Labels: plugin: woocommerce

#53245 [Accessibility] Add aria modal attribute to photoswipe
  plugins/woocommerce/changelog/fix-51926
  plugins/woocommerce/templates/single-product/photoswipe.php
Labels: plugin: woocommerce, type: community contribution

#53511 [e2e-utils-playwright] Fix insertBlock function with latest Gutenberg
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-port-53294-fix-for-editor-with-gb
  packages/js/e2e-utils-playwright/src/editor.js
Labels: focus: e2e tests, package: @woocommerce/e2e-utils-playwright

#53415 Update arg on `set-active-payment-method` action
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  plugins/woocommerce/changelog/fix-incorrect-payment-action-param
Labels: type: bug, focus: checkout, plugin: woocommerce, block: checkout

#53501 [Docs] Add Smooth Generator to Dev Tools doc
  docs/docs-manifest.json
  docs/getting-started/developer-tools.md
Labels: focus: documentation

#53075 Add country switch component for WC Payments NOX
  plugins/woocommerce/assets/images/icons/clear.svg
  plugins/woocommerce/assets/images/icons/search.svg
  plugins/woocommerce/changelog/add-confirm-select-control
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/country-selector.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/country-selector.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/test/country-selector.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/types.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/typings/global.d.ts
  plugins/woocommerce/client/admin/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53291 Add test to hide task list
  plugins/woocommerce/changelog/e2e-hide-task-list
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/task-list.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53342 Fix incorrect capitalization of checkout field labels for German locale
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/address-line-2-field.tsx
  plugins/woocommerce-blocks/assets/js/base/components/select/index.tsx
  plugins/woocommerce-blocks/packages/checkout/utils/validation/get-validity-message-for-input.ts
  plugins/woocommerce/changelog/53342-fix-i18n-fix-german-case
Labels: plugin: woocommerce

#53514 Change Payments menu and tasks behavior depending on React Payments page feature flag
  plugins/woocommerce/changelog/update-53379-link-payments-menu-and-task-to-nox
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/API/Plugins.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/AdditionalPayments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AdminSettingsServiceProvider.php
Labels: plugin: woocommerce

#53370 Delayed Account Creation: change the "after checkout" setting location
  plugins/woocommerce/changelog/fix-account-settings-order-52985
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
Labels: focus: checkout, plugin: woocommerce

#53474 [e2e tests] fix/playwright-utils-build: Adds build step to `@woocommerce/e2e-playwright-utils`
  packages/js/e2e-utils-playwright/babel.config.js
  packages/js/e2e-utils-playwright/changelog/fix-playwright-utils-build
  packages/js/e2e-utils-playwright/package.json
  pnpm-lock.yaml
Labels: focus: monorepo infrastructure, type: community contribution, package: @woocommerce/e2e-utils-playwright

#53513 Update in app marketplace images
  plugins/woocommerce/changelog/53513-update-wccom-22106-22107-in-app-images
  plugins/woocommerce/client/admin/client/marketplace/components/promo-card/images/percent.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/promo-card/promo-card.scss
  plugins/woocommerce/client/admin/client/wp-admin-scripts/woo-product-usage-notice/illustration.svg
  plugins/woocommerce/client/admin/client/wp-admin-scripts/woo-product-usage-notice/style.scss
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#53561 Update community PR team assignment automation for the currency package.
  .github/project-community-pr-assigner.yml
Labels: focus: currency, focus: monorepo infrastructure, github_actions

#53547 Allow only WC core notices on the Payments NOX settings page
  plugins/woocommerce/changelog/update-53493-suppress-wp-admin-notices-on-payments-nox-page
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/admin/views/html-admin-settings.php
Labels: plugin: woocommerce

#53502 Fix core profiler crash with specific locale
  plugins/woocommerce/changelog/fix-53443-core-profiler-crash-with-specific-locale
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/Plugins.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/Plugins.test.tsx
Labels: plugin: woocommerce

#53341 ISO Code update for Odisha state (India)
  packages/js/onboarding/changelog/53341-trunk
  packages/js/onboarding/src/utils/countries/test/utils/country-options.ts
  plugins/woocommerce/changelog/53341-trunk
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/tests/e2e-pw/data/countries/in.json
  plugins/woocommerce/tests/e2e-pw/data/settings.js
Labels: plugin: woocommerce, package: @woocommerce/onboarding, type: community contribution, focus: e2e tests

#53227 Enhancement/ Small optimization for merging of locale fields
  plugins/woocommerce/changelog/53227-enhancement-optimize_merge_of_locale_fields
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
Labels: plugin: woocommerce

#52782 Fix additional field validation failing when text field is equal to 0
  plugins/woocommerce/changelog/52782-fix-52111-additional-field-0
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, block: checkout

#53577 [WC Payments NOX] Handle testing plugin slugs when matching to suggestions
  packages/js/data/changelog/update-53563-handle-beta-testing-plugin-installs
  packages/js/data/src/payment-settings/test-helpers/stub.ts
  packages/js/data/src/payment-settings/types.ts
  packages/js/data/src/plugins/actions.ts
  plugins/woocommerce/changelog/update-53563-handle-beta-testing-plugin-installs
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Settings/Utils.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/UtilsTest.php
Labels: plugin: woocommerce, package: @woocommerce/data

#53512 [Documentation] Add document describing Cart/Checkout data flow
  docs/cart-and-checkout-blocks/overview-of-data-flow.md
  docs/docs-manifest.json
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/rest-api/extend-rest-api-update-cart.md
  plugins/woocommerce/changelog/add-data-flow-overview
Labels: focus: documentation, plugin: woocommerce

#53585 PaymentInfo: Abstract the exception handler
  plugins/woocommerce/changelog/fix-paymentinfo-uncaught-exception
  plugins/woocommerce/src/Internal/Orders/PaymentInfo.php
Labels: plugin: woocommerce, cherry pick to trunk

#53590 [Payments NOX] Reset account modal
  plugins/woocommerce/changelog/53590-dev-53376-add-reset-account-popup-to-settings-page
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/modals.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-reset-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/woo-payments-post-sandbox-account-setup-modal/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
Labels: plugin: woocommerce

#53588 Fix "Are you sure you want to leave this page?" error
  plugins/woocommerce/changelog/53588-fix-are-you-sure-refresh
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/country-selector.tsx
Labels: plugin: woocommerce

#53605 Link the Payments task to Payments task page when the new Payments settings feature is enabled
  plugins/woocommerce/changelog/update-link-payments-task-to-task-page-when-new-payments-settings-feature-flag
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
Labels: plugin: woocommerce

#53612 Update cash on delivery gateway copy
  packages/js/data/changelog/53612-dev-update-cod-copy
  packages/js/data/src/payment-settings/test-helpers/stub.ts
  plugins/woocommerce/changelog/53612-dev-update-cod-copy
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/payment-gateways/payment-gateways-crud.test.js
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
Labels: plugin: woocommerce, package: @woocommerce/data, focus: e2e tests

#53301 [Payments NOX] e2e drag and drop functionality for providers and offline PMs
  packages/js/data/changelog/dev-nox-drag-and-drop-updates
  packages/js/data/src/index.ts
  packages/js/data/src/payment-settings/action-types.ts
  packages/js/data/src/payment-settings/actions.ts
  packages/js/data/src/payment-settings/reducer.ts
  packages/js/data/src/payment-settings/test-helpers/stub.ts
  packages/js/data/src/payment-settings/types.ts
  plugins/woocommerce/changelog/dev-nox-drag-and-drop-updates
  plugins/woocommerce/client/admin/client/settings-payments/components/list-placeholder/list-placeholder.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/list-placeholder/list-placeholder.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
Labels: plugin: woocommerce, package: @woocommerce/data

#40750 Add override loop template code snippet
  docs/code-snippets/override-loop-template-show-quantities-next-add-cart.md
  docs/docs-manifest.json
Labels: focus: documentation

#53544 Add editable headings for cart and checkout order summary subtotal
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/block.json
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/frontend.tsx
  plugins/woocommerce-blocks/packages/components/totals/item/index.tsx
  plugins/woocommerce-blocks/packages/components/totals/subtotal/index.tsx
  plugins/woocommerce/changelog/53544-dev-editable-summary-subtotal-heading
Labels: plugin: woocommerce

#53598 Align variation selector labels and selects
  plugins/woocommerce/changelog/fix-variation-selector-alignment
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#53554 Fix flaky e2e test Core Profiler Can connect to WCCOM
  plugins/woocommerce/changelog/e2e-fix-flaky-e2e-test-can-connect-wccom
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53621 Prep release/9.5 for 9.5 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#53594 [e2e tests] Fixed Coupons page load test and refactored spec setup
  plugins/woocommerce/changelog/e2e-fix-add-new-coupon-btn-text
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53557 [e2e-tests] dev/improve-checkout-util: Improve Checkout util
  packages/js/e2e-utils-playwright/changelog/dev-improve-checkout-util
  packages/js/e2e-utils-playwright/src/cart.js
  packages/js/e2e-utils-playwright/src/checkout.js
  plugins/woocommerce/changelog/woo-core-test-patch
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests, package: @woocommerce/e2e-utils-playwright

#53624 [e2e tests] Update test tags in page-loads spec
  plugins/woocommerce/changelog/e2e-update-tags-in-page-loads-spec
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53613 Add `save` method to AddToCartWithOptions
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/save.tsx
  plugins/woocommerce/changelog/add-save_method_to_add_to_cart_with_options
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#53462 Fix Stock status behavior
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-53460_errors_in_stock_status
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form, block: product stock indicator

#52756 Add actions to order details
  plugins/woocommerce/changelog/52756-add-51186-action-buttons-to-order-details-template
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/templates/order/order-details.php
Labels: type: enhancement, focus: my account, plugin: woocommerce, team: Rubik

#53527 Correcting incorrect type for page in table component.
  packages/js/components/changelog/53527-fix-table-page-type
  packages/js/components/src/table/types.ts
Labels: package: @woocommerce/components

#52797 Add defensive checks to `wc_get_order_status_name()`
  plugins/woocommerce/changelog/fix-51690-harden-wc-get-order-status-name
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: plugin: woocommerce

#53638 Avoid crash widget area when Product Collection is rendered
  plugins/woocommerce/changelog/53638-fix-widget-area-product-collection-crash
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection, cherry pick to trunk

#52919 Speed up `wc_customer_bought_product`
  plugins/woocommerce/changelog/tweak-speedup-bought-product-function
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/customer/functions.php
  plugins/woocommerce/tests/php/includes/wc-user-functions-test.php
Labels: plugin: woocommerce

#53619 Update @wordpress/scripts dependency in blocks
  plugins/woocommerce-blocks/assets/js/base/components/product-name/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/assets/js/editor-components/tag/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/packages/components/chip/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/packages/components/label/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/tests/js/jest-resolver.js
  plugins/woocommerce-blocks/tests/js/jest.config.json
  plugins/woocommerce-blocks/tests/js/mocks/client-zip.js
  plugins/woocommerce-blocks/tests/js/setup-globals.js
  plugins/woocommerce/changelog/53619-dev-update-wp-scripts-in-blocks
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53647 Fix @version bump requirement when it's already set to the expected value
  tools/code-analyzer/src/lib/template-changes.ts
Labels: focus: monorepo infrastructure

#46069 Skip tax calculation for shipping when its status is set as none
  plugins/woocommerce/changelog/46069-fix-taxes-in-order
  plugins/woocommerce/includes/abstracts/abstract-wc-shipping-method.php
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/includes/class-wc-order-item-shipping.php
  plugins/woocommerce/includes/class-wc-shipping-rate.php
  plugins/woocommerce/includes/data-stores/class-wc-order-item-shipping-data-store.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/orders.php
Labels: type: bug, focus: checkout, focus: order, focus: rest api, plugin: woocommerce, team: Proton, team: Rubik

#53603 Add variable product transient validation
  plugins/woocommerce/changelog/update-product-variation-transient-management
  plugins/woocommerce/includes/data-stores/class-wc-product-variable-data-store-cpt.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-variable-data-store-cpt-test.php
Labels: type: bug, focus: product, plugin: woocommerce, impact: high

#53642 Add email preview when managing specific email
  plugins/woocommerce/changelog/52293-preview-specific-email
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53656 Avoid crash widget area when Product Collection is rendered
  plugins/woocommerce/changelog/53656-fix-product-collection-widget-area
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#53657 Updated Product Data > Attributes onboarding notice to remove mention of Brands
  plugins/woocommerce/changelog/53657-update-issue-53635
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-attributes.php
Labels: plugin: woocommerce

#53432 [Payments NOX] Integrate incentives logic into frontend
  packages/js/data/changelog/dev-nox-integrate-incentives
  packages/js/data/src/index.ts
  packages/js/data/src/payment-settings/types.ts
  plugins/woocommerce/assets/images/settings-payments/incentives-illustration.svg
  plugins/woocommerce/changelog/dev-nox-integrate-incentives
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
Labels: plugin: woocommerce, package: @woocommerce/data

#53661 Remove changelog entries for CFEs in 9.5
  packages/js/ai/changelog/52961-update-dompurify
  plugins/woocommerce/changelog/52081-nullable
  plugins/woocommerce/changelog/52971-fix-52879-analytics-scroll
  plugins/woocommerce/changelog/53026-fix-escape-attribute
  plugins/woocommerce/changelog/53051-fix-52990-use-payment-method-instead-of-intent
  plugins/woocommerce/changelog/53085-dev-9.5-revert-52044
  plugins/woocommerce/changelog/53126-fix-52910-reports_charts-filter
  plugins/woocommerce/changelog/53192-update-refactor-merged-packages-activation
  plugins/woocommerce/changelog/53277-fix-use-correct-option-type
  plugins/woocommerce/changelog/cfe-fix-52699
  plugins/woocommerce/changelog/cfe-fix-plugin-search
  plugins/woocommerce/changelog/fix-52812-payments-menu-item-linking-to-blank-page
  plugins/woocommerce/changelog/fix-cys-router
  plugins/woocommerce/changelog/fix-delayed-account-mobile-styles-52717
  plugins/woocommerce/changelog/fix-offer-metadata-missing-price
  plugins/woocommerce/changelog/fix-paymentinfo-uncaught-exception
  plugins/woocommerce/changelog/pr-52817
Labels: plugin: woocommerce

#53631 [e2e tests] Audit shopper folder: add tags and some todo comments to follow-up
  plugins/woocommerce/changelog/e2e-tests-audit-tag-shopper-folder
  plugins/woocommerce/tests/e2e-pw/fixtures/fixtures.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/account-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/add-to-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#53025 Fix SQL syntax error in order search queries #53023
  plugins/woocommerce/changelog/sql-syntax-error-53023
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
Labels: plugin: woocommerce, type: community contribution

#53601 Implement UI for Listing Recommended Payment Methods in NOX onboarding
  packages/js/data/changelog/add-52330-nox-payment-methods-list
  packages/js/data/src/index.ts
  packages/js/data/src/payment-settings/types.ts
  plugins/woocommerce/changelog/add-52330-nox-payment-methods-list
  plugins/woocommerce/client/admin/client/settings-payments/components/list-placeholder/list-placeholder.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method-list-item/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method-list-item/payment-method-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
Labels: plugin: woocommerce, package: @woocommerce/data

#53558 [Delayed Account Creation] Update account password text to include customer email address
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/form.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/test/frontend-block.test.tsx
  plugins/woocommerce-blocks/tests/utils/find-by-text.ts
  plugins/woocommerce/changelog/update-delayed-account-email-text-52986
Labels: focus: checkout, plugin: woocommerce

#53644 [Payments NOX] Refactor payment providers logic into dedicated service
  packages/js/data/changelog/dev-51470-refactor-payment-providers
  packages/js/data/src/index.ts
  packages/js/data/src/payment-settings/actions.ts
  packages/js/data/src/payment-settings/selectors.ts
  packages/js/data/src/payment-settings/test-helpers/stub.ts
  packages/js/data/src/payment-settings/types.ts
  plugins/woocommerce/changelog/dev-51470-refactor-payment-providers
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/wcpay-install-button/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/wcpay-install-button/wcpay-install-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/PaymentProvider.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/WooPayments.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AdminSettingsServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/Mocks/FakePaymentGateway.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentProvidersTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
Labels: plugin: woocommerce, package: @woocommerce/data

#52632 Polish classic product editor CSS
  plugins/woocommerce/changelog/update-product-editor-css
  plugins/woocommerce/client/legacy/Gruntfile.js
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/css/admin/product-editor.scss
  plugins/woocommerce/client/legacy/package.json
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#53649 Enable remote logging UI and mark feature as stable in FeaturesController
  plugins/woocommerce/changelog/update-remote-logging-feature
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#53468 [Settings] Add custom field type to data
  plugins/woocommerce/changelog/53468-update-settings-data-custom-type
  plugins/woocommerce/includes/admin/settings/class-wc-settings-page.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-migration-test.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-page-test.php
Labels: plugin: woocommerce

#53652 Set default weight and dimension units based on country
  packages/js/e2e-core-tests/src/specs/shopper/front-end-variable-product-updates.test.js
  plugins/woocommerce/changelog/update-default-measurements
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/docs/features/core-profiler.md
  plugins/woocommerce/i18n/locale-info.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-products.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/data/data-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-variable.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/formatting/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/settings.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/settings.php
Labels: release: highlight, package: @woocommerce/e2e-core-tests, plugin: woocommerce, focus: e2e tests

#53045 [Accessibility] Update product photoswipe top bar button order
  plugins/woocommerce/changelog/fix-51927
  plugins/woocommerce/client/legacy/css/photoswipe/default-skin/default-skin.css
  plugins/woocommerce/templates/single-product/photoswipe.php
Labels: plugin: woocommerce, type: community contribution

#53666 [Experimental] Set Add to Cart with Options as the parent of the Quantity Selector block
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/block.json
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/index.tsx
  plugins/woocommerce/changelog/fix-quantity-selector-parent
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#53665 PTK: Log warning once per day
  plugins/woocommerce/changelog/update-ptk-warning-log-once-a-day
  plugins/woocommerce/src/Blocks/BlockPatterns.php
Labels: type: enhancement, plugin: woocommerce, focus: patterns

#53121 Hide duplicated header and "Add new _" button in product & coupon editor
  plugins/woocommerce/changelog/update-product-editor-css-remove-add-new
  plugins/woocommerce/client/legacy/css/admin/product-editor.scss
  plugins/woocommerce/tests/e2e-pw/tests/merchant/command-palette.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-linked-products.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52411 [dev] New code freeze mechanics
  .github/workflows/new-code-freeze.yml
  .github/workflows/post-release.yml
  tools/monorepo-utils/src/code-freeze/commands/version-bump/index.ts
Labels: focus: monorepo infrastructure, cherry pick to trunk

#53620 Update Jetpack Connection Package to 6.2.0 and related dependencies
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-jetpack-connection
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53548 Add editable headings for cart and checkout 'Total' heading
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/footer-item/test/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-block/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/attributes.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/frontend.tsx
  plugins/woocommerce/changelog/53548-dev-editable-summary-total-heading
Labels: plugin: woocommerce

#53626 Fix `registerBlockSingleProductTemplate` not respecting `isAvailableOnPostEditor` flag
  plugins/woocommerce-blocks/assets/js/atomic/utils/register-block-single-product-template.ts
  plugins/woocommerce-blocks/tests/e2e/tests/related-products/related-products.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/single-product-details/single-product-details.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/utils/register-block-single-product-template.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-53604
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami

#53627 Live email preview when email settings are changed
  plugins/woocommerce/changelog/52424-email-preview-live-changes
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-functions.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-iframe.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/client/legacy/js/admin/settings.js
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreviewRestController.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/templates/emails/email-footer.php
  plugins/woocommerce/templates/emails/email-header.php
  plugins/woocommerce/templates/emails/email-styles.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewTest.php
Labels: focus: email, plugin: woocommerce, focus: e2e tests, team: Haiku

#53702 Compatibility Layer: improve documentation
  plugins/woocommerce-blocks/docs/internal-developers/blockified-templates/compatibility-layer.md
  plugins/woocommerce/changelog/53702-fix-improve-compatibility-layer-documentation
Labels: plugin: woocommerce, team: Kirigami & Origami
