Repository woocommerce/woocommerce, pull requests merged in 2024-11, with the labels that each got.

#52477 Optimize Coming Soon badge performance with early exits
  plugins/woocommerce/changelog/perf-coming-soon-badge
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonAdminBarBadge.php
Labels: plugin: woocommerce

#52472 [Settings] Add JSON object to power React view
  plugins/woocommerce/changelog/52472-add-settings-JSON-config
  plugins/woocommerce/includes/admin/settings/class-wc-settings-page.php
  plugins/woocommerce/src/Admin/Features/Settings.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-migration-test.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-page-test.php
Labels: plugin: woocommerce

#52279 Experimental: Product Filters Overlay overhaul
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/settings.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-51781
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterCheckboxList.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce

#52282 Add order attribution install banner in order editor's order attribution metabox
  plugins/woocommerce-admin/client/order-attribution-install-banner/order-attribution-install-banner.js
  plugins/woocommerce/client/admin/client/dashboard/index.js
  plugins/woocommerce/client/admin/client/header/index.js
  plugins/woocommerce/client/admin/client/index.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/constants.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/index.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-attribution-install-banner-image.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-attribution-install-banner.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-editor/slot.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/style.scss
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/use-order-attribution-install-banner.js
  plugins/woocommerce/templates/order/attribution-details.php
Labels: plugin: woocommerce, team: Ventures

#52074 Track first and last 20 orders to Weekly Tracker Snapshot
  plugins/woocommerce/changelog/52074-wc-tracker-get-order-snapshot
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
Labels: plugin: woocommerce

#52493 [e2e tests] Remove update-woocommerce spec
  plugins/woocommerce/changelog/e2e-remove-plugin-update-tests
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/update-woocommerce.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52484 Rating Filter: first iteration of Minimum Rating feature
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/components/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/types.ts
  plugins/woocommerce/changelog/update-woo-blocks-add-minimum-rating-settings
Labels: plugin: woocommerce, block: product rating

#52447 Update E2E tests to work with WP 6.7 RC2
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/register-product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts_support.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce/changelog/test-verify-ci-with-wp-6-7-rc2
Labels: plugin: woocommerce

#52220 NOX: Manage Active Gateways
  packages/js/data/src/payment-gateways/index.ts
  plugins/woocommerce/client/admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-payment-gateways-controller.php
Labels: plugin: woocommerce, package: @woocommerce/data

#51580 If local pickup text is not set, save an empty string to allow fallback to work
  plugins/woocommerce/changelog/fix-empty-local-pickup-title
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/Checkout.php
Labels: plugin: woocommerce

#52506 Add color helpers for the Product Filters block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/colors/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/colors/test/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/index.ts
  plugins/woocommerce/changelog/update-woo-blocks-add-color-utils
Labels: plugin: woocommerce

#52528 [dev] Test #52398 on merges
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#52530 [dev] Test #52398 on merges
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#52531 [dev] Test #52398 on merges
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#52398 [dev] Monorepo: consolidate ci-workflow (include changelog/md-files validation)
  .github/workflows/ci.yml
  .github/workflows/pr-lint-markdown.yml
  .github/workflows/pr-lint-monorepo.yml
  changelog/52116-cite-current-filter-instead-of-deprecated-filter-in-api-docs
Labels: focus: monorepo infrastructure

#52431 [WordPress 6.7] Fix image aspect ratio in product grid blocks
  plugins/woocommerce-blocks/assets/css/style.scss
  plugins/woocommerce/changelog/fix-52382
Labels: plugin: woocommerce, team: Kirigami & Origami

#52535 [dev] Test CI-workflow for PR from forks
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#52534 [dev] Monorepo: git-checkout tweaks in project-jobs.
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#52209 Hide AbstractProductGrid blocks from inserter (soft-deprecation)
  docs/building-a-woo-store/block-references.md
  docs/docs-manifest.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/related-products/block.json
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/single-product.ts
  plugins/woocommerce-blocks/assets/js/blocks/handpicked-products/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-best-sellers/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-category/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/best-sellers.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/cross-sells.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/featured.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/hand-picked.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/new-arrivals.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/on-sale.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/related.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/top-rated.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/upsells.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-new/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-on-sale/index.js
  plugins/woocommerce-blocks/assets/js/blocks/product-tag/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-top-rated/block.json
  plugins/woocommerce-blocks/assets/js/blocks/products-by-attribute/block.json
  plugins/woocommerce-blocks/tests/e2e/tests/related-products/related-products.block_theme.spec.ts
  plugins/woocommerce/changelog/update-42162-hide-abstractproductgrid-blocks
  plugins/woocommerce/patterns/related-products.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
Labels: focus: documentation, plugin: woocommerce, focus: e2e tests

#52499 Fix CES style for WP 6.7
  packages/js/customer-effort-score/changelog/52499-fix-52369-ces-modal-style-issue-with-wp-67
  packages/js/customer-effort-score/src/style.scss
Labels: package: @woocommerce/customer-effort-score

#52495 Update broken links
  docs/README.md
  docs/docs-manifest.json
  docs/extension-development/handling-merchant-onboarding.md
  plugins/woocommerce/changelog/52495-fix-broken-links
  plugins/woocommerce/client/admin/docs/examples/extensions/add-task/README.md
  plugins/woocommerce/client/admin/docs/woocommerce.com/analytics-orders-report.md
  plugins/woocommerce/client/admin/package.json
Labels: focus: documentation, plugin: woocommerce, focus: monorepo infrastructure, type: community contribution

#52557 Do not listen to changes made through the Options API before init.
  plugins/woocommerce/changelog/fix-52435-feature-options-listeners
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#52545 Remove duplicate TS definition for currency code
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce/changelog/update-reuse-currency-code-type
Labels: plugin: woocommerce

#52524 fix: added noreferrer to printful link
  plugins/woocommerce/changelog/fix-printful-noreferrer
  plugins/woocommerce/client/admin/client/task-lists/fills/products/constants.tsx
Labels: plugin: woocommerce

#52529 Add coming soon newsletter feature flag
  plugins/woocommerce-beta-tester/changelog/add-coming-soon-newsletter-feature-flag
  plugins/woocommerce-beta-tester/userscripts/wc-live-branches.user.js
  plugins/woocommerce/changelog/add-coming-soon-newsletter-feature-flag
  plugins/woocommerce/client/admin/client/typings/global.d.ts
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, plugin: woocommerce beta tester

#51920 Using order status constants in unit tests
  plugins/woocommerce/changelog/51920-dev-using-order-status-constants-in-unit-tests
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-functions-test.php
  plugins/woocommerce/tests/php/includes/class-wc-ajax-test.php
  plugins/woocommerce/tests/php/includes/class-wc-discounts-tests.php
  plugins/woocommerce/tests/php/includes/class-wc-download-handler-tests.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-order-data-store-cpt-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
  plugins/woocommerce/tests/php/includes/wc-user-functions-test.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/DeleteDraftOrders.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataHandlerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
  plugins/woocommerce/tests/php/src/Internal/Orders/IppFunctionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
Labels: plugin: woocommerce

#52543 Fix: Product collection inspector control showing empty section
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce/changelog/52543-fix-product-collection-empty-inspector-section
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#52544 [e2e tests] Remove iterations for "Color palette should be applied" test
  plugins/woocommerce/changelog/e2e-remove-color-palette-iterations
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52481 Add To Cart Form - Stepper Layout: remove flex
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/style.scss
  plugins/woocommerce/changelog/52481-fix-add-to-cart-stepper-layout
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#52526 Fix core profiler dropdown not closing when the arrow down icon is clicked
  plugins/woocommerce/changelog/fix-core-profiler-dropdowns
  plugins/woocommerce/client/admin/client/core-profiler/style.scss
Labels: plugin: woocommerce

#52507 [Experimental] Price Slider block: add colors panel
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/chips/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce/changelog/update-woo-blocks-add-colors-panel-to-price-slider-block
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPriceSlider.php
Labels: plugin: woocommerce, block: product price

#52509 Implement CollectionHandlerRegistry class to manage collection handlers
  plugins/woocommerce/changelog/dev-52417_implement_collection_handler_registry_class
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/CollectionHandlerRegistry.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/ProductCollectionController.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/ProductQueryBuilder.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/ProductCollectionMock.php
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#52556 Fix the bug where CES requires a double-click on Give feedback
  packages/js/customer-effort-score/changelog/52556-fix-52515-ces-feedback-require-dbl-click
  packages/js/customer-effort-score/src/components/customer-effort-score-tracks/index.js
Labels: package: @woocommerce/customer-effort-score

#52476 Added wc_sanitize_phone_number() to remove invalid characters.
  plugins/woocommerce/changelog/52476-52012-unicode-control-characters-not-correctly-filtered
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
Labels: type: bug, plugin: woocommerce

#51950 Run promotions WP Cron event twice daily
  plugins/woocommerce/changelog/51950-update-21774-promotions-async-twicedaily
  plugins/woocommerce/includes/admin/class-wc-admin-marketplace-promotions.php
Labels: needs: developer feedback, plugin: woocommerce

#52590 Prep release/9.4 for 9.4 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#52475 Remove legacy coupon note
  plugins/woocommerce/changelog/52475-update-34731-remove-coupon-note
  plugins/woocommerce/src/Admin/Notes/DeprecatedNotes.php
  plugins/woocommerce/src/Internal/Admin/Coupons.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/CouponPageMoved.php
Labels: plugin: woocommerce

#52578 Show the payment method as text if there's no `brand` or `last4` digits are present
  plugins/woocommerce/changelog/52578-show-payment-method-in-text
  plugins/woocommerce/src/Internal/ReceiptRendering/ReceiptRenderingEngine.php
  plugins/woocommerce/src/Internal/ReceiptRendering/Templates/order-receipt.php
Labels: plugin: woocommerce

#52581 [e2e tests] Update locator for block's font weight combobox - fix mini-cart tests for WP6.7
  plugins/woocommerce/changelog/e2e-fix-font-weight-combobox-locator-wp6.7
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52523 Optimize `test_import_sample_products` unit test performance
  plugins/woocommerce/changelog/52523-dev-improve-import-sample-products-test
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-tasks.php
Labels: plugin: woocommerce

#52579 [Experimental] Rating filter: fix block focus and visibility
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/style.scss
  plugins/woocommerce/changelog/fix-rating-filter-minor-issues
Labels: plugin: woocommerce, block: product rating

#52599 [Experimental] Remove filter overlay blocks
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block-variations.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/settings.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay/types.ts
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce/changelog/chore-remove-filter-overlay-blocks
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFiltersOverlay.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFiltersOverlayNavigation.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#52503 [Experimental] Allow disabling product descriptions in the order summary.
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/edit.tsx
  plugins/woocommerce/changelog/52503-dev-experimental-disable-product-descriptions
Labels: plugin: woocommerce

#52426 Update CYS class names to avoid conflicts with future updates of Gutenberg or WordPress
  plugins/woocommerce/changelog/update-cys-edit-site-classnames
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/editor.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/_breakpoints.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/_mixins.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/_variables.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/layout.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/resizable-frame.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/save-hub.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/sidebar-navigation-screen.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/gutenberg-styles/site-hub.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/hooks/use-selected-pattern.ts
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/onboarding-tour/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/style.scss
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-main.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/site-hub.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/client/admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/client/admin/client/customize-store/style.scss
  plugins/woocommerce/client/admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/transitional/style.scss
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/site-preview.scss
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/components/launch-store-hub.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/components/sidebar-container.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/styles.scss
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/full-composability.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/transitional.spec.js
Labels: type: refactor, plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#52474 Add card last 4 to order totals payment method row
  plugins/woocommerce/changelog/fix-52308-payment-info-in-email
  plugins/woocommerce/includes/class-wc-order.php
Labels: focus: order, plugin: woocommerce

#52602 NOX: Fix offline payment methods back navigation
  plugins/woocommerce/changelog/fix-offline-payment-gateways-navigate-back
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
Labels: plugin: woocommerce

#52609 Fix visual issue in the Display Style of the Product Categories List block
  plugins/woocommerce-blocks/assets/js/blocks/product-categories/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-categories/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-categories/index.tsx
  plugins/woocommerce/changelog/update-fix-product-categories-list-settings-sidebar-layout
Labels: plugin: woocommerce, block: product categories list

#52577 [e2e tests] Remove check for http reponse when visiting the editor
  plugins/woocommerce/changelog/e2e-remove-http-response-check-on-editor-navigation
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
Labels: plugin: woocommerce, focus: e2e tests

#52559 [NOX]: Add StatusBadge Component
  packages/js/data/src/payment-gateways/types.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/test/status-badge.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
Labels: plugin: woocommerce, package: @woocommerce/data

#52546 Cart Block: Refactor shipping totals. Separate cart and checkout logic. More clearly distinguish between Collection and Delivery
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/index.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/pickup-location/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/pickup-location/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/shipping-calculator-button.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-location/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-via.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/shipping-address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/utils.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/utils.tsx
  plugins/woocommerce-blocks/assets/js/base/context/hooks/use-checkout-address.ts
  plugins/woocommerce-blocks/assets/js/base/context/hooks/use-show-shipping-total-warning.ts
  plugins/woocommerce-blocks/assets/js/base/utils/shipping-rates.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-shipping/shipping-rate-selector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-shipping/block.tsx
  plugins/woocommerce/changelog/refactor-checkout-shipping-total-components
Labels: type: refactor, focus: checkout, plugin: woocommerce

#52192 Consistent payment and shipping options empty states
  plugins/woocommerce-blocks/.eslintrc.js
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/configure-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/configure-placeholder/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-payment-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-payment-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/no-shipping-placeholder/index.js
  plugins/woocommerce-blocks/assets/js/editor-components/no-payment-methods-notice/editor.scss
  plugins/woocommerce-blocks/assets/js/editor-components/no-payment-methods-notice/index.tsx
  plugins/woocommerce/changelog/fix-42090-payment-shipping-empty-states
  plugins/woocommerce/includes/wc-core-functions.php
Labels: focus: checkout, plugin: woocommerce

#52613 [dev] CI: drop mirrors.yml workflow.
  .github/workflows/mirrors.yml
Labels: focus: monorepo infrastructure

#52624 Patterns: Remove "Product Hero 2 Column 2 Row" from Patterns Dictionary
  plugins/woocommerce/changelog/fix-pattern-images
  plugins/woocommerce/src/Blocks/AIContent/PatternsDictionary.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami

#52623 CYS: stop using __experimental_get_template_for_link() function
  plugins/woocommerce/changelog/fix-52617-stop-using-__experimentalGetTemplateForLink
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/hooks/use-insert-pattern.ts
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header/sidebar-navigation-screen-header.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/client/admin/client/customize-store/data/actions.ts
  plugins/woocommerce/client/admin/client/customize-store/design-with-ai/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/design-without-ai/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/intro/services.ts
Labels: plugin: woocommerce, focus: customize-your-store

#52573 Add To Cart With Options - Stepper layout: implement feature under feature flag
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/edit.tsx
  plugins/woocommerce-blocks/tests/e2e/plugins/enable-experimental-features.php
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-navigation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/active-filter-frontend.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/attribute-filter-editor.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/attribute-filter-frontend.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/price-filter-frontend.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/rating-filter-frontend.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/stock-status-frontend.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/request-utils/feature-flag.ts
  plugins/woocommerce-blocks/tests/e2e/utils/request-utils/index.ts
  plugins/woocommerce/changelog/52573-fix-hide-stepper-layout-feature-flag
  plugins/woocommerce/client/admin/client/typings/global.d.ts
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
Labels: type: enhancement, plugin: woocommerce, block: add to cart form

#52501 [Settings] Add layout areas and styles
  packages/js/product-editor/changelog/52501-add-settings-sidebar
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/lock-unlock.ts
  packages/js/settings-editor/changelog/52501-add-settings-sidebar
  packages/js/settings-editor/changelog/add-gutenberg-warning-notice-settings
  packages/js/settings-editor/package.json
  packages/js/settings-editor/src/index.tsx
  packages/js/settings-editor/src/layout.tsx
  packages/js/settings-editor/src/utils/index.ts
  packages/js/settings-editor/typings/index.d.ts
  plugins/woocommerce/changelog/52501-add-settings-sidebar
  plugins/woocommerce/client/admin/client/settings/index.js
  plugins/woocommerce/client/admin/client/settings/settings.scss
  plugins/woocommerce/client/admin/webpack.config.js
  plugins/woocommerce/includes/admin/class-wc-admin-menus.php
  plugins/woocommerce/src/Admin/Features/Settings.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52533 Add global prop to Tracks events for user role
  plugins/woocommerce/changelog/add-tracks-role-prop
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/class-wc-tracks.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: plugin: woocommerce

#52606 [Beta tester] Update "Reset Onboarding Wizard" tool to reset additional options
  plugins/woocommerce-beta-tester/api/options/rest-api.php
  plugins/woocommerce-beta-tester/changelog/update-reset-onboarding-wizard
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
Labels: plugin: woocommerce beta tester

#52603 Checkout: Add updated shipping method notice.
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-shipping.block_theme.spec.ts
  plugins/woocommerce/changelog/52603-dev-shipping-methods-50558
Labels: plugin: woocommerce, team: Rubik, block: checkout

#52427 Introducing internal order status constants
  plugins/woocommerce/changelog/52427-dev-introducing-order-status-legacy-constants
  plugins/woocommerce/src/Enums/OrderInternalStatus.php
Labels: plugin: woocommerce

#52605 [Experimental] Fix: removing active rating filter
  plugins/woocommerce/changelog/fix-remove-active-rating-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
Labels: plugin: woocommerce, block-type: filter blocks, block: filter by rating

#52571 Use non-reactified version of woocommerce_payments page until it's ready
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
Labels: plugin: woocommerce

#49311 Ensure local state is not overwritten by server when using `extensionCartUpdate`
  plugins/woocommerce-blocks/assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  plugins/woocommerce-blocks/assets/js/data/cart/push-changes.ts
  plugins/woocommerce-blocks/assets/js/data/cart/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/cart/test/push-changes.ts
  plugins/woocommerce-blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce-blocks/assets/js/data/cart/utils.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/cart.ts
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/data-store/cart.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/rest-api/extend-rest-api-update-cart.md
  plugins/woocommerce-blocks/tests/e2e/plugins/extension-cart-update.php
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block-extensibility.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/try-ecu-ignore-empty
Labels: plugin: woocommerce

#52642 Remove __experimentalGetTemplateForLink() from @wordpress/edit-site dependency
  bin/patches/@wordpress__edit-site@5.15.0.patch
  plugins/woocommerce/changelog/fix-52617-remove-__experimentalGetTemplateForLink-usage-from-dependency
  plugins/woocommerce/client/admin/client/customize-store/index.tsx
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: customize-your-store

#52521 Remove shipping modal fonts
  plugins/woocommerce/changelog/52521-update-shipping-modal-fonts
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#52486 Pass cart item data to the deprecated filter to better support validation
  plugins/woocommerce/changelog/52486-dev-improve-add-to-cart-validation-store-api
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
Labels: plugin: woocommerce, needs: dev note

#51820 Document Monorepo Script Structure
  README.md
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/docs-monorepo-script-documentation
  tools/README.md
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52640 Refactor coming soon templates
  plugins/woocommerce/changelog/refactor-coming-soon-templates
  plugins/woocommerce/patterns/page-coming-soon-default.php
  plugins/woocommerce/patterns/page-coming-soon-with-header-footer.php
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Templates/ComingSoonTemplate.php
  plugins/woocommerce/tests/php/src/Blocks/BlockPatterns/BlockPatterns.php
Labels: plugin: woocommerce

#52575 Product Collection: Improve "Sync with current query" control
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/use-page-context-control.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/collections.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/add-inherit-query-revamp
Labels: plugin: woocommerce, focus: FSE, block: product collection

#51982 upkeep/e2e-utils-playwright: Exposing Playwright utils
  packages/js/e2e-utils-playwright/package.json
  packages/js/e2e-utils-playwright/src/cart.js
  packages/js/e2e-utils-playwright/src/checkout.js
  packages/js/e2e-utils-playwright/src/editor.js
  packages/js/e2e-utils-playwright/src/index.js
  packages/js/e2e-utils-playwright/src/order.js
  plugins/woocommerce/changelog/51982-upkeep-e2e-utils-playwright
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, type: community contribution

#52318 Migrate setup script into monorepo
  plugins/woocommerce/changelog/e2e-dev-migrate-setup-script
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup-external.sh
Labels: plugin: woocommerce, focus: e2e tests

#52593 Modify Product Collection block image alt
  plugins/woocommerce/changelog/fix-51635_product_collection_image_alt
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
Labels: focus: accessibility, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#52154 Store API: Normalize cart items on load to ensure quantity limits are respected
  plugins/woocommerce-blocks/assets/js/data/cart/notify-quantity-changes.ts
  plugins/woocommerce-blocks/assets/js/data/cart/test/notify-quantity-changes.ts
  plugins/woocommerce/changelog/fix-52109-item-qty-normalization
  plugins/woocommerce/src/StoreApi/Routes/V1/AbstractCartRoute.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CartItemSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
  plugins/woocommerce/src/StoreApi/Utilities/QuantityLimits.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/CartControllerTests.php
Labels: plugin: woocommerce, category: extensibility, focus: store api

#52554 Delayed Account Creation: Remove experimental flag to enable feature
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/index.tsx
  plugins/woocommerce/changelog/add-enable-delayed-account-creation-50597
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/CreateAccount.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-accounts-test.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik, type: new block

#52582 CYS: direct all users to the non-AI flow
  plugins/woocommerce/changelog/fix-52548-cys-direct-all-users-to-non-ai-flow
  plugins/woocommerce/client/admin/client/customize-store/intro/services.ts
Labels: plugin: woocommerce, focus: customize-your-store

#52532 Add mechanism to promote OA install banner to a percentage of merchants
  plugins/woocommerce/client/admin/client/marketing/data/action-types.js
  plugins/woocommerce/client/admin/client/marketing/data/actions.js
  plugins/woocommerce/client/admin/client/marketing/data/reducer.js
  plugins/woocommerce/client/admin/client/marketing/data/resolvers.js
  plugins/woocommerce/client/admin/client/marketing/data/selectors.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/use-order-attribution-install-banner.js
  plugins/woocommerce/src/Admin/API/Marketing.php
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/Init.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/MiscRecommendationsDataSourcePoller.php
Labels: plugin: woocommerce, team: Ventures

#52651 Product Collection Telemetry: Convert Product to Product Collection and revert to Products
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/upgrade-notice.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-query/inspector-controls/upgrade-notice.tsx
  plugins/woocommerce/changelog/add-42301_record_product_to_product_collection
Labels: plugin: woocommerce, focus: analytics, team: Kirigami & Origami, block: product collection

#52675 9.4 RC4
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52467 Update Maldives default_locale to null
  plugins/woocommerce/changelog/fix-52466
  plugins/woocommerce/i18n/locale-info.php
Labels: plugin: woocommerce

#52661 Add order attribution install banners
  plugins/woocommerce/changelog/52661-feature-51567-order-attribution-install-and-connect
  plugins/woocommerce/client/admin/client/dashboard/index.js
  plugins/woocommerce/client/admin/client/header/index.js
  plugins/woocommerce/client/admin/client/index.js
  plugins/woocommerce/client/admin/client/marketing/data/action-types.js
  plugins/woocommerce/client/admin/client/marketing/data/actions.js
  plugins/woocommerce/client/admin/client/marketing/data/reducer.js
  plugins/woocommerce/client/admin/client/marketing/data/resolvers.js
  plugins/woocommerce/client/admin/client/marketing/data/selectors.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/constants.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/index.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-attribution-install-banner-image.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-attribution-install-banner.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/order-editor/slot.js
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/style.scss
  plugins/woocommerce/client/admin/client/order-attribution-install-banner/use-order-attribution-install-banner.js
  plugins/woocommerce/src/Admin/API/Marketing.php
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/Init.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/MiscRecommendationsDataSourcePoller.php
  plugins/woocommerce/templates/order/attribution-details.php
Labels: plugin: woocommerce, team: Ventures

#52655 [Settings] Import Site Editor components from node_modules
  packages/js/product-editor/changelog/52655-update-settings-gutenberg-components-edit-site
  packages/js/product-editor/src/index.ts
  packages/js/product-editor/src/lock-unlock.ts
  packages/js/settings-editor/.eslintrc.js
  packages/js/settings-editor/changelog/52655-update-settings-gutenberg-components-edit-site
  packages/js/settings-editor/package.json
  packages/js/settings-editor/src/layout.tsx
  plugins/woocommerce/changelog/52655-update-settings-gutenberg-components-edit-site
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52610 [NOX] Update offline payment gateway UI
  plugins/woocommerce/client/admin/client/header/index.js
  plugins/woocommerce/client/admin/client/settings-payments/components/back-button/back-button.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/back-button/back-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/header/header.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/header/header.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.scss
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/admin/views/html-admin-settings.php
Labels: plugin: woocommerce

#52331 [dev] Monorepo: PSR-4 autoloader for local dev-environment
  packages/php/monorepo-plugin/autoload-dev.php
  packages/php/monorepo-plugin/src/Plugin.php
  plugins/woocommerce/changelog/dev-local-development-autoloading-challenge
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52513 Fix spelling in homescreen headline
  plugins/woocommerce/changelog/update-todos-copy
  plugins/woocommerce/client/admin/client/homescreen/layout.js
Labels: plugin: woocommerce

#52512 Autoload woocommerce_allow_tracking option
  plugins/woocommerce/changelog/update-autoload-tracking-option
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#52693 Fix border cut issue on tasklist and inbox widgets
  plugins/woocommerce/changelog/fix-tasklist-border-radius
  plugins/woocommerce/client/admin/client/dashboard/dashboard-charts/block.scss
  plugins/woocommerce/client/admin/client/inbox-panel/index.scss
  plugins/woocommerce/client/admin/client/task-lists/task-lists.scss
Labels: plugin: woocommerce

#52473 Add flag to enable WC Blocks rendering with React 18
  plugins/woocommerce-blocks/assets/js/atomic/utils/render-parent-block.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/test/index.js
  plugins/woocommerce-blocks/assets/js/base/utils/render-frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/rating-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/block.tsx
  plugins/woocommerce/changelog/add-react-18-blocks-flag
  plugins/woocommerce/src/Blocks/Assets/AssetDataRegistry.php
Labels: plugin: woocommerce

#52657 Bugfix: Do not repeat rendering the shipping calculator button on the cart page
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce/changelog/52657-fix-dont-repeat-ship-calc-button
Labels: plugin: woocommerce

#51668 Fix order action aria-labels to be unique
  plugins/woocommerce/changelog/51668-fix-51404-action-aria-labels
  plugins/woocommerce/includes/wc-account-functions.php
  plugins/woocommerce/templates/myaccount/orders.php
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
Labels: plugin: woocommerce, type: community contribution

#52011 [Accessibility] Add focus indicator to image on product card
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/image/style.scss
  plugins/woocommerce/changelog/fix-51839
  plugins/woocommerce/client/legacy/css/twenty-seventeen.scss
Labels: plugin: woocommerce, type: community contribution

#52648 Tweak the layout of the Add to cart block
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/style.scss
  plugins/woocommerce/changelog/update-add-to-cart-layout-based-on-grid
Labels: plugin: woocommerce

#51936 [Accessibility] Use product name as fallback alt text in product gallery
  plugins/woocommerce/changelog/feature-48388
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/single-product/product-thumbnails.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, type: community contribution

#50149 Fix typo (how-to-design-a-simple-extension.md)
  docs/extension-development/how-to-design-a-simple-extension.md
Labels: focus: documentation, type: community contribution

#52703 Prep release/9.4 for 9.4 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#50159 Fix typo (README.md)
  packages/js/internal-style-build/README.md
Labels: type: community contribution, team: TBD

#52712 Update delayed account creation default to `no`
  plugins/woocommerce/changelog/update-delayed-account-creation-default-no
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#52580 Product Collection: Add "Related by" setting to Related Products collection
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/related-by-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/collections.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/52580-add-52021-product-collection-add-related-by-setting-to-related-products-collection
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, focus: FSE, block: product collection

#52710 Cherry pick CFE and PRR flow to release/9.4
  .github/ISSUE_TEMPLATE/new-cfe-template.yml
  .github/ISSUE_TEMPLATE/new-prr-template.yml
  .github/workflows/new-cfe-cherry-pick.yml
  .github/workflows/new-cfe-prr-notifications.yml
  .github/workflows/new-cfe-prr-pre-build-compile-changelog-file.yml
  .github/workflows/new-prr-cherry-pick.yml
  .github/workflows/release-code-freeze.yml
  tools/monorepo-utils/src/code-freeze/commands/changelog/lib/index.ts
Labels: focus: monorepo infrastructure

#52598 [Experimental] Add styling controls
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/types.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/removable-chips-editor.block_theme.spec.ts
  plugins/woocommerce/changelog/52598-product-filters-active-filters-styling
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRemovableChips.php
Labels: plugin: woocommerce, block: active filters

#52576 NOX: Handle payment provider action items
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
  plugins/woocommerce/client/admin/client/settings-payments/types.ts
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52649 Fix Marketplace connect URL for multi-sites
  plugins/woocommerce/changelog/52649-fix-22178-fix-market-place-connect-for-multi-sites
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
Labels: plugin: woocommerce

#52714 Add support for rendering HTML inside gateway and plugin descriptions.
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
Labels: plugin: woocommerce

#52480 Prevent unnecessary admin feature class loading and initialization on frontend
  plugins/woocommerce/changelog/perf-do-not-load-admin-features-frontend
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/php/includes/exporter/class-wc-product-csv-exporter-test.php
Labels: plugin: woocommerce

#52453 Implement the components required for incentive promotion
  plugins/woocommerce/assets/images/settings-payments/incentives-icon.svg
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-button/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-button/payment-gateway-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method/payment-method.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/test/status-badge.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/wcpay-install-button/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/wcpay-install-button/wcpay-install-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
Labels: plugin: woocommerce

#52695 Add documentation for cache purging with "coming soon" template edits
  docs/docs-manifest.json
  docs/extension-development/integrating-coming-soon-mode.md
  plugins/woocommerce/changelog/update-coming-soon-cache-doc
Labels: focus: documentation, plugin: woocommerce

#52685 Add basic email preview to Emails settings
  plugins/woocommerce/changelog/52226-email-preview-setting
  plugins/woocommerce/client/admin/client/index.js
  plugins/woocommerce/client/admin/client/settings-email/icon-avatar.svg
  plugins/woocommerce/client/admin/client/settings-email/icon-desktop-active.svg
  plugins/woocommerce/client/admin/client/settings-email/icon-desktop.svg
  plugins/woocommerce/client/admin/client/settings-email/icon-mobile-active.svg
  plugins/woocommerce/client/admin/client/settings-email/icon-mobile.svg
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-device-type.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-header.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/style.scss
  plugins/woocommerce/client/admin/client/settings/settings-slots.js
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-emails-test.php
Labels: focus: email, plugin: woocommerce, focus: e2e tests, team: Haiku

#52725 PTK: Check to confirm `as_has_scheduled_action` exists before using to conditionally fire logger
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#52749 Add changelog for 9.4.1 release
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#52751 Prep release/9.4 for 9.4 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52552 Update HPOS CLI docs
  docs/docs-manifest.json
  docs/high-performance-order-storage/cli-tools.md
Labels: focus: documentation

#52753 Update stable tag to 9.4.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#52668 [e2e-utils-playwright] Configure changelogger
  packages/js/e2e-utils-playwright/changelog/.gitkeep
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-configure-changelogger
  packages/js/e2e-utils-playwright/composer.json
  packages/js/e2e-utils-playwright/composer.lock
  packages/js/e2e-utils-playwright/package.json
Labels: focus: monorepo infrastructure

#52728 Prep trunk for 9.6 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/readme.txt
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52691 [Settings] Add Sidebar Items
  packages/js/settings-editor/changelog/52691-add-settings-sidebar-items
  packages/js/settings-editor/changelog/add-settings-route
  packages/js/settings-editor/package.json
  packages/js/settings-editor/src/index.tsx
  packages/js/settings-editor/src/layout.tsx
  packages/js/settings-editor/src/route.tsx
  packages/js/settings-editor/src/sidebar/index.tsx
  packages/js/settings-editor/src/sidebar/setting-item.tsx
  packages/js/settings-editor/src/tests/route.test.tsx
  packages/js/settings-editor/src/types.ts
  packages/js/settings-editor/typings/global.d.ts
  plugins/woocommerce/changelog/52691-add-settings-sidebar-items
  plugins/woocommerce/client/admin/client/settings/settings.scss
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-integrations.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-page.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-products.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-shipping.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-tax.php
  plugins/woocommerce/src/Admin/Features/Settings.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-page-test.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52510 Run performance metrics on pull request
  .github/workflows/ci.yml
  .github/workflows/scripts/run-metrics.sh
  plugins/woocommerce/changelog/add-52343-pr-alert
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/metrics/specs/frontend.spec.js
  tools/compare-perf/calculate-delta.ts
  tools/compare-perf/index.js
  tools/compare-perf/performance.js
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52677 Add unit tests for Hand-Picked collection
  plugins/woocommerce/changelog/add-51586_add_tests_for_hand_picked_collection
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, focus: unit tests, team: Kirigami & Origami, block: product collection

#52726 Fix coming soon template layout issue with tall images and header spacing
  plugins/woocommerce-blocks/assets/js/blocks/coming-soon/entire-site.scss
  plugins/woocommerce/changelog/fix-coming-soon-entire-site-template
  plugins/woocommerce/patterns/coming-soon-entire-site.php
Labels: plugin: woocommerce

#52757 [Settings] Update Modern Routes
  packages/js/settings-editor/changelog/52757-update-settings-sidebar-components
  packages/js/settings-editor/src/route.tsx
  packages/js/settings-editor/src/sidebar/index.tsx
  packages/js/settings-editor/src/tests/route.test.tsx
  plugins/woocommerce/changelog/52757-update-settings-sidebar-components
  plugins/woocommerce/includes/admin/settings/class-wc-settings-page.php
Labels: plugin: woocommerce

#52660 fix: changed core profiler industry types to the correct format
  packages/js/data/changelog/fix-core-profiler-api-types
  packages/js/data/src/onboarding/actions.ts
  packages/js/data/src/onboarding/types.ts
  packages/js/data/src/types/wp-data.ts
  plugins/woocommerce/changelog/fix-core-profiler-industry
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/src/Admin/API/OnboardingProfile.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-profile.php
Labels: plugin: woocommerce, package: @woocommerce/data

#52761 CI: fix PHP and Core API tests
  plugins/woocommerce/changelog/52761-fix-ci-jobs
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/data/data-crud.test.js
Labels: plugin: woocommerce, focus: e2e tests

#52721 [Settings] Implement URL routing with query parameters and active sidebar item
  packages/js/settings-editor/changelog/52757-update-settings-sidebar-components
  packages/js/settings-editor/changelog/update-settings-sidebar-acitve-item
  packages/js/settings-editor/src/route.tsx
  packages/js/settings-editor/src/sidebar/index.tsx
  packages/js/settings-editor/src/sidebar/setting-item.tsx
  packages/js/settings-editor/src/tests/route.test.tsx
  plugins/woocommerce/changelog/52757-update-settings-sidebar-components
  plugins/woocommerce/includes/admin/settings/class-wc-settings-page.php
Labels: plugin: woocommerce

#52267 Improve description of "Email sender options"
  plugins/woocommerce/changelog/52216-improve-email-sender-options
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
Labels: focus: email, plugin: woocommerce, focus: e2e tests, team: Haiku

#52765 Improved messaging for CFE and PRR for slack
  .github/workflows/new-cfe-prr-notifications.yml
Labels: focus: monorepo infrastructure

#52433 Using new internal status constants in tests
  plugins/woocommerce/changelog/52433-dev-using-new-legacy-status-constants-in-tests
  plugins/woocommerce/tests/legacy/unit-tests/admin/reports/class-wc-tests-admin-report.php
  plugins/woocommerce/tests/legacy/unit-tests/customer/crud.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/reports-orders-totals.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/includes/wc-stock-functions-tests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#52647 [Payments NOX] Add payment gateway and extension suggestions data and api
  plugins/woocommerce/assets/images/onboarding/mercadopago.png
  plugins/woocommerce/assets/images/payment_methods/72x72/affirm.png
  plugins/woocommerce/assets/images/payment_methods/72x72/afterpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/airwallex.png
  plugins/woocommerce/assets/images/payment_methods/72x72/amazonpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/antom.png
  plugins/woocommerce/assets/images/payment_methods/72x72/bacs.png
  plugins/woocommerce/assets/images/payment_methods/72x72/clearpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/cod.png
  plugins/woocommerce/assets/images/payment_methods/72x72/eway.png
  plugins/woocommerce/assets/images/payment_methods/72x72/klarna.png
  plugins/woocommerce/assets/images/payment_methods/72x72/mercadopago.png
  plugins/woocommerce/assets/images/payment_methods/72x72/mollie.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payfast.png
  plugins/woocommerce/assets/images/payment_methods/72x72/paymob.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payoneer.png
  plugins/woocommerce/assets/images/payment_methods/72x72/paypal.png
  plugins/woocommerce/assets/images/payment_methods/72x72/paystack.png
  plugins/woocommerce/assets/images/payment_methods/72x72/payu.png
  plugins/woocommerce/assets/images/payment_methods/72x72/razorpay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/square.png
  plugins/woocommerce/assets/images/payment_methods/72x72/tilopay.png
  plugins/woocommerce/assets/images/payment_methods/72x72/viva-wallet.png
  plugins/woocommerce/assets/images/payment_methods/72x72/zipco.png
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPaymentGatewayPreInstallWCPayPromotion.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AdminSettingsServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/SuggestionsServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/ArrayUtil.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
Labels: plugin: woocommerce

#52764 Remove trigger_error from WooCommerce::__set
  plugins/woocommerce/changelog/pr-52764
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce

#52778 [e2e] External envs: Do not run tests against external envs on release-checks
  plugins/woocommerce/changelog/52778-e2e-external-run-only-on-demand
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52786 Update paths to template folders in the developer docs
  docs/docs-manifest.json
  docs/theme-development/template-structure.md
  plugins/woocommerce/changelog/update-docs-template-structure-paths
Labels: focus: documentation, plugin: woocommerce

#52793 Set current stable tag
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#52808 Try: store enabled statuses to arrays
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/types.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
Labels: plugin: woocommerce

#52715 Hide KnowledgeBase when marketplace suggestions is disabled.
  plugins/woocommerce/changelog/52715-fix-52511
  plugins/woocommerce/client/admin/client/marketing/coupons/index.js
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.tsx
Labels: plugin: woocommerce

#52767 [dev] Monorepo: validate blocks manifests as a build step.
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/rating-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/block.json
  plugins/woocommerce-blocks/bin/block.json-validation-schema.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-build-validate-blocks-manifests
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51549 fix https://github.com/woocommerce/woocommerce/issues/51548
  plugins/woocommerce/changelog/51549-fix-wrong-default-param-type-51548
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, type: community contribution

#52795 Fixing shadow behavior when scrolling table component.
  packages/js/components/changelog/52795-fix-woo-table-scroll-shadow
  packages/js/components/src/table/table.tsx
Labels: package: @woocommerce/components

#52678 Product Filters > Clear button: Refactor the Product Filters to use a function instead of the hook
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/hooks/use-product-filter-clear-button-manager.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/chips/utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/components/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/colors/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/get-allowed-blocks.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/get-colors-from-block-supports.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/get-inner-block-by-name.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/toggle-product-filter-clear-button-visibility.ts
  plugins/woocommerce/changelog/52678-fix-51636-refactor-product-filters
Labels: plugin: woocommerce

#52429 Implement ProductQueryBuilder class to handle product queries
  plugins/woocommerce/changelog/dev-52414_implement_productQueryBuilder_class
  plugins/woocommerce/changelog/dev-52416_implement_product_renderer_class
  plugins/woocommerce/changelog/dev-52417_implement_collection_handler_registry_class
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Controller.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/HandlerRegistry.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/NoResults.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/QueryBuilder.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Renderer.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/ProductCollectionMock.php
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#52814 fix: jetpack connection screen for jetpack pre-installed
  plugins/woocommerce/changelog/fix-core-profiler-jetpack-pre-installed
  plugins/woocommerce/client/admin/client/core-profiler/events.tsx
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/Plugins.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/Plugins.test.tsx
Labels: plugin: woocommerce

#52850 Cherry pick 52761 into frozen release: release/9.5
  plugins/woocommerce/changelog/52761-fix-ci-jobs
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/data/data-crud.test.js
Labels: plugin: woocommerce, focus: e2e tests

#52806 [Settings] Clean up naming and typings
  packages/js/settings-editor/changelog/52806-fix-settings-typings
  packages/js/settings-editor/src/legacy/content.tsx
  packages/js/settings-editor/src/legacy/index.ts
  packages/js/settings-editor/src/route.tsx
  packages/js/settings-editor/src/sidebar/index.tsx
  packages/js/settings-editor/src/tests/route.test.tsx
  packages/js/settings-editor/typings/global.d.ts
  packages/js/tsconfig-cjs.json
  packages/js/tsconfig.json
  plugins/woocommerce/changelog/52806-fix-settings-typings
  plugins/woocommerce/src/Admin/Features/Settings.php
Labels: plugin: woocommerce

#52817 Fix the registration of routes in controllers inheriting from RestApiControllerBase
  plugins/woocommerce/changelog/pr-52817
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/RegisterHooksInterface.php
  plugins/woocommerce/src/Internal/RestApiControllerBase.php
Labels: plugin: woocommerce, cherry pick to trunk

#51921 Using order status constants in legacy unit tests
  plugins/woocommerce/changelog/51921-dev-using-order-status-constants-in-legacy-tests
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-order.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/class-wc-tests-admin-dashboard.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/reports/class-wc-tests-admin-report.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/reports/class-wc-tests-report-sales-by-date.php
  plugins/woocommerce/tests/legacy/unit-tests/checkout/checkout.php
  plugins/woocommerce/tests/legacy/unit-tests/customer/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-crud-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/order/coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/orders.php
  plugins/woocommerce/tests/legacy/unit-tests/util/class-wc-tests-core-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api-init.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/data.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/products-lowinstock.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-categories.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-coupons-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-export.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-import.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-performance-indicators.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-products-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-taxes-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-taxes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-variations.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/batch-queue.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-revenue-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-variations.php
Labels: plugin: woocommerce

#52801 Tweak offline payment screen payment methods copy
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
Labels: plugin: woocommerce

#52704 [Experimental] Product Filters: Overlay interaction using server context
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-navigation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters-frontend.block_theme.spec.ts
  plugins/woocommerce/changelog/feat-filter-apply-button-server-context
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterCheckboxList.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterClearButton.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce

#52729 Improve embedded CES layout rendering with element checks and code refactor
  plugins/woocommerce/changelog/52729-enhance-embedded-layout-render
  plugins/woocommerce/client/admin/client/embedded-body-layout/index.ts
  plugins/woocommerce/client/admin/client/embedded-body-layout/render-embedded-layout.tsx
  plugins/woocommerce/client/admin/client/embedded-body-layout/test/render-embedded-layout.test.tsx
  plugins/woocommerce/client/admin/client/index.js
  plugins/woocommerce/client/admin/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52759 [Experimental] Fix product counts for filter with attribute
  plugins/woocommerce/changelog/fix-product-filters-data-with-attribute-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
Labels: type: bug, plugin: woocommerce, block-type: filter blocks

#52750 [Experimental] Product Filters: add block spacing setting
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/chips/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/get-product-filters-css.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils/index.ts
  plugins/woocommerce/changelog/fix-52733-product-filters-style-settings
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce

#52859 Slack notification message bug for incoming CFE and PRR
  .github/workflows/new-cfe-prr-notifications.yml
Labels: focus: monorepo infrastructure

#52861 Slack notification message bug for incoming CFE and PRR when rejected
  .github/workflows/new-cfe-prr-notifications.yml
Labels: focus: monorepo infrastructure

#52863 Event payload is missing from notifications workflow
  .github/workflows/new-cfe-prr-notifications.yml
Labels: focus: monorepo infrastructure

#52867 Update E2E tests to work with WP 6.7
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce/changelog/52867-update-use-wp-6.7-for-e2e-tests
Labels: plugin: woocommerce
