Repository woocommerce/woocommerce, pull requests merged in 2024-09, with the labels that each got.

#50164 Product Collection - Show product picker in Editor when collection requires a product but it doesn't exist
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/ProductPicker.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/linked-product-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-template/utils.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/product-control/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/50164-add-44877-context-linking-a-product-with-collection
  plugins/woocommerce/changelog/50590-add-44877-context-linking-a-product-with-collection-inspector-control
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#51047 Fix My Account block icon being too small when inserted via block hooks
  plugins/woocommerce/changelog/fix-50667-my-account-hooked-size
  plugins/woocommerce/src/Blocks/BlockTypes/CustomerAccount.php
Labels: focus: my account, plugin: woocommerce, team: Kirigami & Origami

#51044 [e2e tests] Tag some e2e tests to help with test audit
  plugins/woocommerce/changelog/e2e-tag-e2e-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-title-after-deletion.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#50983 Add express payment methods to inspector controls for express checkout block
  docs/cart-and-checkout-blocks/checkout-payment-methods/payment-method-integration.md
  docs/docs-manifest.json
  plugins/woocommerce-blocks/assets/js/blocks-registry/payment-methods/express-payment-method-config.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/block-settings/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/test/express-payment-methods.tsx
  plugins/woocommerce-blocks/assets/js/data/payment/test/check-payment-methods.tsx
  plugins/woocommerce-blocks/assets/js/data/payment/test/selectors.js
  plugins/woocommerce-blocks/assets/js/data/payment/utils/check-payment-methods.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/payments.ts
  plugins/woocommerce/changelog/50983-add-express-payment-methods-to-sidebar
Labels: type: enhancement, focus: cart, focus: checkout, focus: documentation, plugin: woocommerce, team: Rubik, block: cart, block: checkout

#50977 [Settings] Update feature flag usage
  plugins/woocommerce/changelog/50977-update-settings-feature-setup
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/Settings.php
Labels: plugin: woocommerce

#51099 [e2e tests] Fix linked products flaky test
  plugins/woocommerce/changelog/e2e-fix-create-linked-product-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51081 Add a check to make themes API query safer
  plugins/woocommerce/changelog/fix-make-themes-api-safer
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingThemes.php
Labels: plugin: woocommerce

#51063 Fix badge number fails to match the number of unfinished tasks
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce/changelog/fix-menu-badge
Labels: plugin: woocommerce

#51046 add: remote logger request uri sanitisation (JS)
  packages/js/remote-logging/README.md
  packages/js/remote-logging/changelog/add-query-params-sanitisation
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/remote-logging/src/test/index.ts
  plugins/woocommerce/changelog/add-more-params-to-remote-logger-whitelist
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
Labels: plugin: woocommerce

#51102 [Legacy Settings] Enable Save button on pages with tables
  plugins/woocommerce/changelog/51102-fix-settings-js-save-activation
  plugins/woocommerce/client/legacy/js/admin/settings.js
Labels: plugin: woocommerce

#48768 Fix inconsistent behavior for Net Sales in Analytics for single line refund
  plugins/woocommerce/changelog/fix-48761_net_sales_behavior_for_partial_refunds
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/API/Reports/Products/DataStore.php
  plugins/woocommerce/src/Internal/Admin/Schedulers/OrdersScheduler.php
Labels: type: bug, plugin: woocommerce, focus: analytics, team: Automata

#50975 Remove the wc combobox component, it is no longer used
  plugins/woocommerce-blocks/assets/js/base/components/combobox/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/combobox/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/country-input/CountryInputProps.ts
  plugins/woocommerce-blocks/assets/js/base/components/country-input/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/index.ts
  plugins/woocommerce-blocks/assets/js/base/components/select/index.tsx
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce/changelog/50975-dev-remove-combobox
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#51108 Cherry pick 51013 and 51046 into release/9.3
  packages/js/remote-logging/README.md
  packages/js/remote-logging/changelog/add-query-params-sanitisation
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/remote-logging/src/test/index.ts
  plugins/woocommerce/changelog/add-more-params-to-remote-logger-whitelist
  plugins/woocommerce/changelog/fix-remote-logger-sanitise-query-params
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
  plugins/woocommerce/tests/php/src/Internal/Logging/RemoteLoggerTest.php
Labels: plugin: woocommerce

#51048 [Flaky Test] Wait for response across all requests, including on the checkout page
  plugins/woocommerce/changelog/51048-fix-flaky-cart-coupon-test-50928-2
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Rubik

#50649 Add replace label tool for use in GitHub Monorepo
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/core/github/repo.ts
  tools/monorepo-utils/src/github/README.md
  tools/monorepo-utils/src/github/commands/index.ts
  tools/monorepo-utils/src/github/commands/replace-labels/index.ts
  tools/monorepo-utils/src/index.ts
Labels: focus: monorepo infrastructure

#51017 Remove usage of team specific names within PHP unit tests
  plugins/woocommerce/changelog/update-mothra_name_usage
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/Transformers/array-column.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/Transformers/dot-notation.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/transformer-service.php
Labels: plugin: woocommerce

#50999 [DataView]: Add Products View and Product Edit stories
  packages/js/product-editor/changelog/50999-add-slug-control
  packages/js/product-editor/src/products-app/product-form.stories.tsx
  packages/js/product-editor/src/products-app/products-view.stories.tsx
  packages/js/product-editor/src/products-app/utilites/product-data-view-data.tsx
  pnpm-lock.yaml
  tools/storybook/.storybook/main.js
  tools/storybook/.storybook/preview-head.html
  tools/storybook/import-wp-css-storybook.sh
  tools/storybook/webpack.config.js
  tools/storybook/wordpress/.gitkeep
Labels: focus: monorepo infrastructure, team: Kirigami & Origami

#50925 [Accessibility] Improve Checkout block page accessibility after removing heading level 1
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/frontend.tsx
  plugins/woocommerce-blocks/packages/components/form-step/index.tsx
  plugins/woocommerce-blocks/packages/components/form-step/test/__snapshots__/index.js.snap
  plugins/woocommerce/changelog/fix-48619
  plugins/woocommerce/templates/checkout/form-checkout.php
Labels: plugin: woocommerce, type: community contribution

#51112 [e2e tests] Clean up created test products in product edit tests
  plugins/woocommerce/changelog/e2e-cleanup-created-products-in-prduct-edit-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-edit.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51075 Use PHP 7.4 for WooCommerce Blocks' `wp-env` Config
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce/changelog/51075-fix-blocks-wp-env-php-version
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce

#51116 [api tests] Isolate test context for fix flakiness in product crud api tests
  plugins/woocommerce/changelog/e2e-fix-shared-productid-in-crud-tests
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/products/products-crud.test.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#51121 [e2e tests] Fix restricted coupons tests - wait for animation to finish
  plugins/woocommerce/changelog/e2e-fix-restricted-coupons-tests-wait-for-animation
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51123 [e2e] Skipping 11 tests for the Pressable website
  plugins/woocommerce/changelog/51123-e2e-external-envs-disble-failing-tests
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/full-composability.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/intro.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/transitional.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51128 Delete changelog files based on PR 51013 and 51046
  plugins/woocommerce/changelog/add-more-params-to-remote-logger-whitelist
  plugins/woocommerce/changelog/fix-remote-logger-sanitise-query-params
Labels: plugin: woocommerce

#51130 Move changelog entries of #51108 to readme.txt
  plugins/woocommerce/changelog/add-more-params-to-remote-logger-whitelist
  plugins/woocommerce/changelog/fix-remote-logger-sanitise-query-params
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#50573 [Accessibility] Provide screen readers with product sorting status message
  plugins/woocommerce/changelog/fix-43569
  plugins/woocommerce/client/legacy/js/frontend/woocommerce.js
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/loop/result-count.php
Labels: type: enhancement, focus: accessibility, plugin: woocommerce, type: community contribution

#51071 Add product data forms to data views
  packages/js/product-editor/changelog/add-product_data_forms_to_data_views
  packages/js/product-editor/src/products-app/dataviews-actions/index.tsx
  packages/js/product-editor/src/products-app/product-edit/index.tsx
  packages/js/product-editor/src/products-app/product-edit/style.scss
  packages/js/product-editor/src/products-app/product-list/fields.tsx
  packages/js/product-editor/src/products-app/product-list/index.tsx
  packages/js/product-editor/src/products-app/router.tsx
  packages/js/product-editor/src/products.scss
Labels: focus: product, team: Kirigami & Origami

#50900 [Accessibility] Add endpoint title to the document title
  plugins/woocommerce/changelog/fix-43632
  plugins/woocommerce/includes/wc-page-functions.php
Labels: plugin: woocommerce, type: community contribution

#51109 Remove the darkMode setting from the buttonAttributes API
  docs/cart-and-checkout-blocks/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/express-payment-methods.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/test/__mocks__/express-payment-props.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/context.ts
  plugins/woocommerce/changelog/51109-remove-dark-mode
Labels: focus: checkout, focus: documentation, plugin: woocommerce, team: Rubik, block: checkout

#51051 [Experimental] Product filters - ensure we can add multiple instances
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/product-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/block.json
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters-template-part.block_theme.spec.ts
  plugins/woocommerce/changelog/51051-product-filters-multiple
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#51143 PTK: Check if theres a scheduled action before logging warning.
  plugins/woocommerce/changelog/fix-register-ptk-patterns-warning-log
  plugins/woocommerce/src/Blocks/BlockPatterns.php
Labels: type: bug, plugin: woocommerce, focus: patterns

#51113 CYS: Replace Nokul theme with Gizmo
  plugins/woocommerce/changelog/update-cys-replace-nokul-with-gizmo
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#51125 Prep release/9.3 for 9.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#51144 fixes and updates
  docs/code-snippets/configuring_special_tax_scenarios.md
  docs/contributing-docs/contributing-docs.md
  docs/docs-manifest.json
  docs/high-performance-order-storage/guide-large-store.md
  docs/performance/performance-best-practices.md
  docs/product-collection-block/register-product-collection.md
  docs/theme-development/template-structure.md
  docs/ux-guidelines-extensions/navigation.md
  plugins/woocommerce/changelog/update-contrib-docs-and-fixes
  plugins/woocommerce/src/StoreApi/docs/guiding-principles.md
Labels: focus: documentation, plugin: woocommerce

#51148 [e2e] Move Pressable and WPCOM to release checks instead of daily checks
  plugins/woocommerce/changelog/51148-e2e-external-sites-run-on-release-checks
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51100 [e2e tests] External sites - update /shopper tests, part 2
  plugins/woocommerce/changelog/e2e-fix-compatibility-external-envs-part2
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-title-after-deletion.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
Labels: plugin: woocommerce, focus: e2e tests

#50966 Fix incorrectly rendered HTML tags in docs
  docs/building-a-woo-store/adding-a-custom-field-to-variable-products.md
  docs/code-snippets/before-login--register-form.md
  docs/docs-manifest.json
  docs/extension-development/handling-merchant-onboarding.md
Labels: focus: documentation

#51133 dev: update webpack build to dynamiclly fetch wp-admin-scripts
  plugins/woocommerce-admin/client/wp-admin-scripts/README.md
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/dev-webpack-dynamic-wp-admin-scripts
Labels: plugin: woocommerce

#51016 [e2e tests] External sites - update /merchant tests, part 2
  plugins/woocommerce/changelog/51016-e2e-external-sites-update-merchant-tests-pt2
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51158 [e2e tests] External sites - update /merchant tests, part 3
  plugins/woocommerce/changelog/51158-e2e-external-sites-update-merchant-tests-pt3
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51156 Product Collection: Trigger `wc-blocks_viewed_product` JS event
  docs/building-a-woo-store/block-references.md
  docs/docs-manifest.json
  docs/product-collection-block/dom-events.md
  plugins/woocommerce-blocks/assets/js/base/utils/legacy-events.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/frontend.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/extensibility-events.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/add-48861-simpler-approach-for-events
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductTemplate.php
Labels: focus: documentation, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51140 Change label `Browse` to `Extensions`
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/51140-update-in-app-marketplace-label
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51173 [k6 tests] Fix broken perf tests - updated page titles
  plugins/woocommerce/changelog/k6-fix-broken-tests-update-page-titles
  plugins/woocommerce/tests/performance/config.js
  plugins/woocommerce/tests/performance/headers.js
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
  plugins/woocommerce/tests/performance/requests/merchant/home-wc-admin.js
  plugins/woocommerce/tests/performance/requests/shopper/cart-apply-coupon.js
  plugins/woocommerce/tests/performance/requests/shopper/cart-remove-item.js
  plugins/woocommerce/tests/performance/requests/shopper/cart.js
  plugins/woocommerce/tests/performance/requests/shopper/category-page.js
  plugins/woocommerce/tests/performance/requests/shopper/checkout-customer-login.js
  plugins/woocommerce/tests/performance/requests/shopper/checkout-guest.js
  plugins/woocommerce/tests/performance/requests/shopper/home.js
  plugins/woocommerce/tests/performance/requests/shopper/my-account-orders.js
  plugins/woocommerce/tests/performance/requests/shopper/my-account.js
  plugins/woocommerce/tests/performance/requests/shopper/search-product.js
  plugins/woocommerce/tests/performance/requests/shopper/shop-page.js
  plugins/woocommerce/tests/performance/requests/shopper/single-product.js
  plugins/woocommerce/tests/performance/utils.js
Labels: plugin: woocommerce, focus: performance tests

#38201 Fix `Customers\DataStore::anonymize_customer` use of WC_Order instance as int
  plugins/woocommerce/changelog/fix-anonymize-customer
  plugins/woocommerce/includes/class-wc-privacy-erasers.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
Labels: plugin: woocommerce, focus: analytics, type: community contribution

#51159 Hide site visibility badge when "Launch Your Store" feature is disabled
  plugins/woocommerce/changelog/fix-site-visibility-badge
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonAdminBarBadge.php
Labels: plugin: woocommerce

#51161 Only run "woocommerce_admin_shared_settings" filter on admin requests
  plugins/woocommerce/changelog/perf-only-load-settings-in-admin
  plugins/woocommerce/src/Internal/Admin/WCAdminSharedSettings.php
Labels: plugin: woocommerce

#49722 [WC Analytics] Add filters for custom orderby query params
  plugins/woocommerce/changelog/add-46275-custom-order-by-for-analytics-report
  plugins/woocommerce/src/Admin/API/Reports/Categories/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/GenericController.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Revenue/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Stock/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/Controller.php
Labels: plugin: woocommerce, focus: analytics, team: Automata

#51160 Update coming soon docs to include more extensibility examples
  docs/docs-manifest.json
  docs/extension-development/integrating-coming-soon-mode.md
  plugins/woocommerce/changelog/update-coming-soon-extensibility-examples
Labels: focus: documentation, plugin: woocommerce

#51162 Refactor Country Specs to use in operator
  plugins/woocommerce/changelog/perf-use-in-operator
  plugins/woocommerce/src/Admin/Features/ShippingPartnerSuggestions/DefaultShippingPartners.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce

#51181 [e2e tests] External sites - update /merchant tests, part 4
  plugins/woocommerce/changelog/51181-e2e-external-sites-update-merchant-tests-pt4
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-images.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-linked-products.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-woo-com.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51151 [Experimental] Product filters > Attributes loading state in editor
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/editor.scss
  plugins/woocommerce/changelog/51151-product-filters-attributes-loading-state
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: filter by attribute

#51068 [e2e] External sites - update /shopper tests, part 1
  plugins/woocommerce/changelog/e2e-fix-compatibility-external-envs-part1
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/account-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-title-after-deletion.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51210 Select bank transfer explicitly on customer payment page e2e test
  plugins/woocommerce/changelog/e2e-select-payment-method
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-payment-page.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#51167 dev: refactor xstate update query params made generic
  plugins/woocommerce-admin/client/launch-your-store/hub/index.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/xstate.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce-admin/client/utils/xstate/test/url-handling.test.ts
  plugins/woocommerce-admin/client/utils/xstate/url-handling.ts
  plugins/woocommerce/changelog/dev-refactor-xstate-update-query-params-generic
Labels: plugin: woocommerce

#51194 [dev] PSR-4 naming fixes in tests (part 1)
  plugins/woocommerce/changelog/dev-psr4-naming-fixes
  plugins/woocommerce/tests/php/src/Blocks/Domain/Package.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/DeleteDraftOrders.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/Hydration.php
  plugins/woocommerce/tests/php/src/Caching/OrderCacheTest.php
  plugins/woocommerce/tests/php/src/Database/BlockHooksVersionTests.php
  plugins/woocommerce/tests/php/src/Database/Migrations/CustomOrderTable/PostsToOrdersMigrationControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/EditLockTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataCleanupTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataHandlerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreRestOrdersControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableRefundDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/Orders/IppFunctionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
  plugins/woocommerce/tests/php/src/Internal/Traits/AccessiblePrivateMethodsTest.php
  plugins/woocommerce/tests/php/src/Internal/TransientFiles/TransientFilesEngineTest.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/DatabaseUtilTest.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/HtmlSanitizerTest.php
Labels: plugin: woocommerce

#51198 [dev] PSR-4 naming fixes in tests (part 2)
  plugins/woocommerce/changelog/dev-psr4-naming-fixes-part-2
  plugins/woocommerce/phpcs.xml
  plugins/woocommerce/tests/php/src/Admin/ShippingPartnerSuggestions/DefaultShippingPartnersTest.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/BlockHooksTests.php
  plugins/woocommerce/tests/php/src/Blocks/MigrationTest.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/AssetDataRegistryMock.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/BlockHooksTestBlock.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/CartCheckoutUtilsMock.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/MockTestDependency.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/OrderConfirmation/TotalsMock.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/ProductCollectionMock.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/ProductQueryMock.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/CartControllerTests.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/NoticeHandlerTests.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/OrderControllerTests.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/ProductQueryFiltersTest.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/SanitizationUtilTest.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/MiniCartUtilsTest.php
  plugins/woocommerce/tests/php/src/Blocks/mocks/AssetDataRegistry.php
  plugins/woocommerce/tests/php/src/Internal/Admin/MarketingRecommendations/InitTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/COTRedirectionControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/BatchProcessing/BatchProcessingControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonCacheInvalidatorTest.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonHelperTest.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonRequestHandlerTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/IppFunctionsTest.php
  plugins/woocommerce/tests/php/src/Internal/ProductDownloads/ApprovedDirectories/RegisterTest.php
  plugins/woocommerce/tests/php/src/Internal/ProductDownloads/ApprovedDirectories/SynchronizeTest.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/TypesTest.php
Labels: plugin: woocommerce

#51195 Remove title for Extensions and Themes tabs
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/changelog/51195-remove-wccom-21567-in-app-tab-title
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#50146 Fix typo (wc-update-functions.php)
  plugins/woocommerce/changelog/50146-patch-5
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce, type: community contribution

#51072 Update shipping calculator wording and Cart/Checkout order summary title
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-location/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/shipping-address.tsx
  plugins/woocommerce-blocks/assets/js/base/utils/address.ts
  plugins/woocommerce-blocks/assets/js/base/utils/test/address.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/test/block.js
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-shipping.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/update-shipping-wording
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51226 Prep release/9.3 for 9.3 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#48262 Using new coupon_info metadata, if it exists, to determine the actual coupon id
  plugins/woocommerce/changelog/48262-patch-16
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-items.php
Labels: plugin: woocommerce, type: community contribution

#51105 Attach WooPayments incentive ID to wcadmin_tasklist_click Tracks event props
  packages/js/data/changelog/update-51103-woopayments-incentive-to-tracks-props
  packages/js/data/src/onboarding/types.ts
  plugins/woocommerce-admin/client/task-lists/fills/tax/test/index.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/setup-task-list.tsx
  plugins/woocommerce/changelog/update-51103-woopayments-incentive-to-tracks-props
  plugins/woocommerce/src/Admin/API/Plugins.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce, package: @woocommerce/data

#50962 Blocks\Assets\Api: Do not attempt to update script_data transient with the same data
  plugins/woocommerce/changelog/50962-dont-update-transient-with-same-data
  plugins/woocommerce/src/Blocks/Assets/Api.php
Labels: plugin: woocommerce, type: community contribution

#51239 [k6 tests] Manage K6 version
  plugins/woocommerce/changelog/tests-manage-k6
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/performance/.gitignore
  plugins/woocommerce/tests/performance/bin/install-k6.sh
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: performance tests

#51065 Add phone to searchable FTS fields for order addresses.
  plugins/woocommerce/changelog/enhance-fts-index
  plugins/woocommerce/changelog/enhance-fts-index-2
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-tools-v2-controller.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
  plugins/woocommerce/src/Internal/Utilities/DatabaseUtil.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/DatabaseUtilTest.php
Labels: plugin: woocommerce

#51190 Clean up 'Profile Wizard' code
  packages/js/e2e-utils/README.md
  packages/js/e2e-utils/changelog/cleanup-profiler-wizard
  packages/js/e2e-utils/src/components.js
  packages/js/e2e-utils/src/flows/merchant.js
  packages/js/e2e-utils/src/old-flows.js
  plugins/woocommerce-admin/bin/hook-reference/data.json
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/layout/footer/footer.scss
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/layout/transient-notices/style.scss
  plugins/woocommerce-admin/client/profile-wizard/header.js
  plugins/woocommerce-admin/client/profile-wizard/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/employee-options.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/platform-options.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/product-options.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/revenue-options.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/data/selling-venue-options.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/app-illustration.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/selective-extensions-bundle/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/flows/selective-bundle/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/business-details/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/industry.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/label.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/product-type.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/__snapshots__/product-type.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/product-types/test/product-type.js
  plugins/woocommerce-admin/client/profile-wizard/steps/skip-button.tsx
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/style.scss
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/index.js
  plugins/woocommerce-admin/client/profile-wizard/steps/usage-modal.js
  plugins/woocommerce-admin/client/profile-wizard/style.scss
  plugins/woocommerce-admin/client/profile-wizard/unsaved-changes-modal.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/UsageModal.js
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/index.js
  plugins/woocommerce/changelog/update-cleanup-profiler-wizard
Labels: package: @woocommerce/e2e-utils, plugin: woocommerce

#51180 Update in-app product card clicked Tracks event
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce/changelog/51180-update-wccom-21526-in-app-card-click-tracks-events
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51170 Set in-app product card price meta dynamically
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card-footer.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/51170-update-wccom-21635-iam-product-card-price-suffix
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51228 Fix in-app product card descriptions
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce/changelog/51228-fix-wccom-21571-business-services-description
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51253 PHPUnit: report slow tests.
  plugins/woocommerce/changelog/dev-slow-phpunit-tests-report
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/phpunit.xml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51257 Update changelog date for release 9.3
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#51246 [e2e tests] Fix flaky test create-variable-product-block-editor > can create a variation option and publish the product
  plugins/woocommerce/changelog/e2e-fix-waiting-response-can-create-a-variation-option-and-publish-the-product
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests, status: analysis complete

#51235 Add Storybook GitHub workflow for publishing to GH pages
  .github/workflows/storybook-pages.yml
Labels: focus: monorepo infrastructure

#51263 [e2e tests] Fix flaky product images test: can update a product gallery
  plugins/woocommerce/changelog/e2e-fix-flaky-can-update-a-product-gallery-not-in-view
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-images.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51199 Add chevron after See more to the list header
  plugins/woocommerce-admin/client/marketplace/components/product-list-header/product-list-header.tsx
  plugins/woocommerce/changelog/update-add-chevron-see-more-product-list
Labels: plugin: woocommerce, status: analysis complete, focus: react marketplace, team: Desire

#51241 Update team flux PR review assignments
  .github/automate-team-review-assignment-config.yml
Labels: focus: monorepo infrastructure

#51265 [e2e tests] Don't catch api errors in fixtures
  plugins/woocommerce/changelog/e2e-dont-catch-api-errors
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#50131 E2e Tests Order Copying Billing Shipping Address
  plugins/woocommerce/changelog/e2e-tests-order-copying-billing-shipping-address
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51219 Use `get_filtered_ids` consistently in `taxes` and `…/stats` datastores
  plugins/woocommerce/changelog/fix-49635-tax-totals-filter
  plugins/woocommerce/src/Admin/API/Reports/Taxes/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/DataStore.php
Labels: plugin: woocommerce

#51251 Fix size for coming soon banner login button
  plugins/woocommerce-blocks/assets/js/blocks/coming-soon/entire-site.scss
  plugins/woocommerce/changelog/fix-coming-soon-login-button
Labels: plugin: woocommerce

#51274 Clean up purchase task
  plugins/woocommerce/changelog/update-remove-purchase-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Purchase.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/tasks/purchase.php
Labels: plugin: woocommerce

#51166 Fix duplicate spec evaluation in `evaluate_specs()`
  plugins/woocommerce/changelog/fix-duplicate-spec-evaluation
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/EvaluateSuggestion.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/evaluate-suggestion.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/payment-gateway-suggestions.php
  plugins/woocommerce/tests/php/src/Admin/Features/ShippingPartnerSuggestions/DefaultShippingPartnersTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/ShippingPartnerSuggestions/ShippingPartnerSuggestionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/WCPayPromotion/DefaultPromotionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/WCPayPromotion/InitTest.php
Labels: plugin: woocommerce

#51266 Add search results count to the in-app marketplace
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/marketplace-context.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
  plugins/woocommerce/changelog/tweak-21597-in-app-search-results-count
Labels: plugin: woocommerce, status: analysis complete, focus: react marketplace, team: Desire

#51289 Revert update to createRoot in Checkout block.
  plugins/woocommerce-blocks/assets/js/atomic/utils/render-parent-block.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/test/index.js
  plugins/woocommerce-blocks/assets/js/base/utils/render-frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/rating-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/block.tsx
  plugins/woocommerce/changelog/51289-revert-react-18-in-checkout-block
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
Labels: type: bug, focus: checkout, plugin: woocommerce, focus: e2e tests, team: Rubik

#50505 [Experimental] Product Filters Redesign > Overlay: Add Fullscreen view
  plugins/woocommerce-blocks/assets/css/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-template-part.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.page.ts
  plugins/woocommerce/changelog/50505-feat-49977-add-fullscreen-filters-overlay-dialog
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFiltersOverlayNavigation.php
Labels: plugin: woocommerce, needs: analysis

#51174 Performance: Move collectableMethodIds to cart/checkout block assets rather than loading it sitewide
  plugins/woocommerce/changelog/fix-improve-local-pickup-id-settings
  plugins/woocommerce/src/Blocks/BlockTypes/Cart.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
Labels: focus: performance, focus: checkout, plugin: woocommerce, team: Rubik

#51269 [e2e tests] Fix flaky test and refactor admin-tasks payment spec
  plugins/woocommerce/changelog/e2e-fix-flaky-and-refactor-payment-spec
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51211 [Experimental] Product filters/overlay nav block redesign
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block-variations.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/types.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-navigation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/changelog/51211-product-filters-overlay-nav-block
  plugins/woocommerce/templates/parts/product-filters-overlay.html
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#51305 Skip failing tests from experimental Product filters feature
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-template-part.block_theme.spec.ts
  plugins/woocommerce/changelog/test-skip-failing-tests
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#51279 Reduce slow reports tests
  plugins/woocommerce/changelog/dev-slow-tests
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-queue.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/products-lowinstock.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-categories.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-coupons-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-customers.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-downloads.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-export.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-import.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-performance-indicators.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-products-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-taxes-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-taxes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-variations.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-customers.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-revenue-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-variations.php
Labels: plugin: woocommerce

#51312 Disable remote logging feature by default
  plugins/woocommerce/changelog/tweak-disable-remote-logging-by-default
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#51259 Update development-environment.md
  docs/docs-manifest.json
  docs/getting-started/development-environment.md
Labels: focus: documentation

#50934 [Experimental] Delayed Account Creation Block
  plugins/woocommerce-blocks/assets/js/base/components/button/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/index.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/password-strength-meter/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/password-strength-meter/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/create-password.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/block.json
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/form.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/utils.ts
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  plugins/woocommerce-blocks/packages/components/validation-input-error/index.tsx
  plugins/woocommerce-blocks/packages/components/validation-input-error/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/add-delayed-account-creation-block-50632
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/CreateAccount.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Status.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: type: enhancement, plugin: woocommerce, team: Rubik, block: checkout, focus: blocks

#51321 Prep release/9.3 for 9.3 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51288 Make padding consistent and remove bottom margin for for all types of product cards
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce/changelog/51288-update-wccom-21570-in-app-product-cards-padding
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51323 Update readme.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#51315 Changes to IAM footer
  plugins/woocommerce-admin/client/marketplace/components/footer/footer.scss
  plugins/woocommerce-admin/client/marketplace/components/footer/footer.tsx
  plugins/woocommerce-admin/client/marketplace/components/icon-with-text/icon-with-text.tsx
  plugins/woocommerce/changelog/51315-update-wccom-21574-in-app-marketplace-footer
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51320 Re-enable remote logging feature by default
  plugins/woocommerce/changelog/tweak-reenable-remote-logging-by-default
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#51261 Update totals-footer-item.md
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/cart-and-checkout-blocks/available-filters/README.md
  docs/cart-and-checkout-blocks/available-filters/order-summary-items.md
  docs/cart-and-checkout-blocks/available-filters/totals-footer-item.md
  docs/cart-and-checkout-blocks/available-slot-fills.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/payment-method-integration.md
  docs/cart-and-checkout-blocks/slot-fills.md
  docs/code-snippets/customising-checkout-fields.md
  docs/code-snippets/displaying_custom_fields_in_your_theme_or_site.md
  docs/code-snippets/link-to-logged-data.md
  docs/docs-manifest.json
  docs/extension-development/adding-custom-products-to-add-products-onboarding-list.md
  docs/extension-development/implementing-settings.md
  docs/extension-development/integrating-coming-soon-mode.md
  docs/extension-development/settings-api.md
  docs/getting-started/customizing-endpoint-urls.md
  docs/getting-started/troubleshooting-endpoints.md
  docs/high-performance-order-storage/cli-tools.md
  docs/product-collection-block/register-product-collection.md
  docs/product-editor-development/how-to-guides/custom-field-tutorial.md
  docs/reporting/extending-woocommerce-admin-reports.md
  docs/theme-development/classic-theme-developer-handbook.md
  docs/wc-cli/wc-cli-commands.md
Labels: focus: documentation

#51284 [e2e] External sites - Include API tests for Pressable and WPCOM
  plugins/woocommerce/changelog/51284-e2e-external-pressable-include-api-tests
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/coupons/coupons.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/customers/customers-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/orders/order-complex.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/orders/orders.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/payment-gateways/payment-gateways-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/products/product-list.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/products/products-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/system-status/system-status-crud.test.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#51206 CYS: Fix Looker dashboard data
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/variation-container.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-color-palette.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce/changelog/add-50832
Labels: plugin: woocommerce, focus: new product ux, team: Kirigami & Origami, focus: customize-your-store

#51344 CSV import fixes
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/ImportExport/CSVUploadHelper.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ImportExportServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/FilesystemUtil.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-import-csv.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51164 Prevent search request in the Extensions > My Subscriptions page
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce/changelog/51164-fix-extra-search-request-in-my-subscriptions
Labels: plugin: woocommerce

#51163 In-App Marketplace: Record the legacy Tracks event for Discover page
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.tsx
  plugins/woocommerce/changelog/51163-fix-21486-iam-discover-tracks
Labels: plugin: woocommerce

#51249 fix: remove help panel user meta
  packages/js/data/changelog/fix-remove-help-panel-user-meta
  packages/js/data/src/user/types.ts
  plugins/woocommerce/changelog/fix-remove-help-panel-user-meta
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/Admin/Homescreen.php
Labels: plugin: woocommerce, package: @woocommerce/data

#51278 Dynamically set plugin_name when redirecting to Jetpack Auth from core profiler
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/update-dynamically-set-plugin-name
Labels: plugin: woocommerce

#51275 Deprecate unsupported Inbox note banner layout
  docs/docs-manifest.json
  docs/extension-development/handling-merchant-onboarding.md
  plugins/woocommerce-admin/docs/examples/extensions/simple-inbox-note/class-simpleinboxnote.php
  plugins/woocommerce-beta-tester/api/admin-notes/add-note.php
  plugins/woocommerce-beta-tester/changelog/update-deprecate-banner-layout
  plugins/woocommerce/changelog/update-deprecate-banner-layout
  plugins/woocommerce/src/Admin/Notes/Note.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/SpecRunner.php
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-admin-notes.php
Labels: focus: documentation, plugin: woocommerce, plugin: woocommerce beta tester

#51277 Fix a bug where the guest order confirmation email input was too wide
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/status/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/summary/style.scss
  plugins/woocommerce/changelog/51277-bugfix-46283
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Status.php
Labels: plugin: woocommerce

#51060 Add subscribe notices for products without subscription
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/subscriptions-expired-expiring-notice.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/woo-purchase-subscription/index.js
  plugins/woocommerce/changelog/51060-fix-21455-notice-plugin-install-products-without-subscription
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
Labels: plugin: woocommerce

#51020 Fix: Version in mini-cart.php
  plugins/woocommerce/changelog/pr-51020
  plugins/woocommerce/templates/cart/mini-cart.php
Labels: plugin: woocommerce, type: community contribution

#51366 [dev] Monorepo: introduce reporting mode for perf utility.
  pnpm-lock.yaml
  tools/compare-perf/index.js
  tools/compare-perf/package.json
  tools/compare-perf/performance.js
  tools/compare-perf/process-reports.ts
  tools/compare-perf/tsconfig.json
  tools/compare-perf/utils.js
Labels: focus: monorepo infrastructure

#51353 Update Action Scheduler to 3.8.2
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/update-action-scheduler-3.8.2
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51358 Disable client-side nav in PC block when filters are inside
  plugins/woocommerce/changelog/fix-50875-disable-client-side-nav-for-filters-in-pc-block
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks, block: product collection

#51244 Use site language when making Store API requests in Cart/Checkout
  plugins/woocommerce-blocks/assets/js/middleware/index.js
  plugins/woocommerce-blocks/assets/js/middleware/remove-user-locale.ts
  plugins/woocommerce-blocks/assets/js/middleware/store-api-nonce.js
  plugins/woocommerce/changelog/fix-correct-language-in-frontend
Labels: type: bug, focus: cart, focus: checkout, plugin: woocommerce, team: Rubik

#51332 Add focus styles for select in Checkout block
  plugins/woocommerce-blocks/assets/js/base/components/select/style.scss
  plugins/woocommerce/changelog/51332-fix-focus-style-select-checkout-block
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, block: checkout

#51297 Remove in-app marketplace Search results tab and unify results into existing tabs
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.scss
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce-admin/client/marketplace/utils/tracking.ts
  plugins/woocommerce/changelog/refactor-wccom-21576-search-tab
Labels: plugin: woocommerce, status: analysis complete, focus: react marketplace, team: Desire

#51313 Update Marketplace search component
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/components/search/search.scss
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/51313-update-wccom-21595-in-app-search-component
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#50810 [Enhancement] Abstract rating block
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating-stars/block.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating/block.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/product-rating/index.tsx
  plugins/woocommerce/changelog/dev-42582_use_one_rating_component
Labels: plugin: woocommerce, team: Kirigami & Origami

#51296 Accept supports declarations for express payment style controls + merchant ux improvements in the editor
  plugins/woocommerce-blocks/assets/js/blocks-registry/payment-methods/express-payment-method-config.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/block-settings/express-payment-settings.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/block-settings/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-express-payment-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-express-payment-block/editor.scss
  plugins/woocommerce-blocks/assets/js/data/payment/utils/check-payment-methods.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/payments.ts
  plugins/woocommerce/changelog/51296-try-supports-express-payment-controls
Labels: type: enhancement, focus: checkout, plugin: woocommerce, team: Rubik, block: cart, block: checkout

#50926 Validate and prepare GTIN in structured data
  plugins/woocommerce/changelog/tweak-gtin-structured-data
  plugins/woocommerce/includes/class-wc-structured-data.php
  plugins/woocommerce/tests/php/includes/class-wc-structured-data-test.php
Labels: plugin: woocommerce

#51187 In-App: make in-app header sticky
  plugins/woocommerce-admin/client/marketplace/components/content/content.scss
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/marketplace.scss
  plugins/woocommerce/changelog/51187-update-21566-in-app-marketaplace-header-sticky
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51348 Produce CSV Import enhancements (cherry-pick PR#51344)
  changelog.txt
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Admin/ImportExport/CSVUploadHelper.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ImportExportServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/FilesystemUtil.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-import-csv.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51240 Update nvm instructions in README.md
  README.md
  docs/docs-manifest.json
  docs/getting-started/development-environment.md
Labels: focus: documentation

#51309 Marketplace: update category selector
  plugins/woocommerce-admin/client/marketplace/components/category-selector/category-selector.scss
  plugins/woocommerce-admin/client/marketplace/components/category-selector/category-selector.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.scss
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/changelog/51309-update-21591-in-app-category-selector
Labels: plugin: woocommerce

#51247 Add inspector controls to Product Search block
  plugins/woocommerce-blocks/assets/js/blocks/product-search/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-search/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-search/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-search/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-search/utils.ts
  plugins/woocommerce/changelog/add-47890_inspector_control_to_product_search
Labels: plugin: woocommerce, block: product search

#51281 Implemented PHPCS Fixes in OrdersTableQuery.php and ProductQuery.php
  plugins/woocommerce/changelog/51281-phpcs-fixes
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQuery.php
Labels: plugin: woocommerce, type: community contribution

#51328 Update nighty build workflow
  .github/workflows/nightly-builds.yml
Labels: focus: monorepo infrastructure

#50279 update Mongolia postcode to be 5 digits instead of 6 in Checkout block
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/packages/checkout/utils/validation/is-postcode.ts
  plugins/woocommerce/changelog/50279-fix-mongolia-postcode-5
  pnpm-lock.yaml
Labels: type: bug, focus: checkout, plugin: woocommerce, focus: monorepo infrastructure, team: Rubik, block: checkout

#51375 Hadren styles for interactive elements in Checkout block
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/address-line-2-field.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/address-card/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/packages/components/panel/index.tsx
  plugins/woocommerce-blocks/packages/components/panel/style.scss
  plugins/woocommerce/changelog/51375-update-switch-to-ariakit-buttons-in-checkout
  pnpm-lock.yaml
Labels: type: enhancement, focus: checkout, plugin: woocommerce, focus: monorepo infrastructure, team: Rubik

#51396 Use page query param consistently as string for ReportsTable
  packages/js/data/changelog/fix-51395-reporttable-page
  packages/js/data/src/reports/utils.ts
Labels: package: @woocommerce/data

#51395 Fix tax_code in the report export for removed rates
  plugins/woocommerce/changelog/fix-49759-removed-taxname-export
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Controller.php
Labels: plugin: woocommerce

#51298 Add error handling when the call to 'install-url' endpoint fails
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/install.tsx
  plugins/woocommerce/changelog/fix-wccom-20223-in-app-subs-error-handling
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51367 Set customer email in reports data if available
  plugins/woocommerce/changelog/fix-use-customer-email-if-available
  plugins/woocommerce/src/Admin/API/Reports/Customers/DataStore.php
Labels: plugin: woocommerce

#51362 add: tax task completion filter
  plugins/woocommerce/changelog/add-tax-task-completion-filter
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Tax.php
Labels: plugin: woocommerce

#51421 Add use-wp-horizon feature flag
  plugins/woocommerce/changelog/51421-update-use-horizon-env
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
Labels: plugin: woocommerce

#51189 Fix fatal when adding the Product Gallery (Beta) block into a pattern
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/utils.tsx
  plugins/woocommerce/changelog/fix-51154-product-gallery-fatal
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/Utils/ProductGalleryUtils.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product image gallery, type: fatal

#51114 Product Collection - Add Editor UI for missing product reference
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/ProductPicker.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-advanced-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/toolbar-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/register-product-collection-tester.block_theme.spec.ts
  plugins/woocommerce/changelog/51114-add-44878-product-collection-handling-missing-product-context
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#51414 [e2e] External - Expand WPCOM suite, part 2
  plugins/woocommerce/changelog/51414-e2e-external-expand-wpcom-suite-part2
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/create-variations.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51438 Update Markdown lint allowing the same headings if they're not siblings
  .markdownlint.json
  docs/docs-manifest.json
  docs/product-collection-block/dom-events.md
  plugins/woocommerce/changelog/doc-update-markdown-lint
Labels: focus: documentation, plugin: woocommerce

#51386 Support controlling address card state from data store in Checkout block
  plugins/woocommerce-blocks/assets/js/base/context/hooks/use-checkout-address.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/data/checkout/action-types.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/actions.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/default-state.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/selectors.ts
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/data-store/checkout.md
  plugins/woocommerce-blocks/packages/components/panel/style.scss
  plugins/woocommerce/changelog/51386-add-control-address-edit-from-data-store
Labels: type: enhancement, focus: checkout, plugin: woocommerce, category: extensibility, team: Rubik, block: checkout

#51380 Add missing `wp-block-` classnames to order confirmation blocks, Store Notices, and Breadcrumbs
  plugins/woocommerce/changelog/add-missing-wp-block-classnames-49739
  plugins/woocommerce/src/Blocks/BlockTypes/Breadcrumbs.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/StoreNotices.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#51276 CI: speedup performance metrics job
  .github/workflows/pr-assess-performance.yml
Labels: focus: monorepo infrastructure

#51384 Cart Shortcode: `wc_get_cart_url` should only return current URL if on the cart page
  plugins/woocommerce/changelog/fix-cart-url-page-check-50524
  plugins/woocommerce/includes/wc-core-functions.php
Labels: type: bug, focus: cart, plugin: woocommerce, team: Rubik

#51445 Add cron for Storybook pages - daily at 2:30 UTC
  .github/workflows/storybook-pages.yml
Labels: focus: monorepo infrastructure

#51434 Add load more button in-app
  plugins/woocommerce-admin/client/marketplace/components/constants.ts
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/load-more-button/load-more-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/51434-add-wccom-21568-in-app-load-more-button
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#51073 Update upload- and download-artifact versions in workflows
  .github/workflows/build-release-zip-file.yml
  .github/workflows/release-code-freeze.yml
Labels: focus: monorepo infrastructure

#51363 Refine PHP Fatal Error Counting
  plugins/woocommerce/changelog/update-refine-error-counting
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
  plugins/woocommerce/src/Internal/McStats.php
Labels: plugin: woocommerce

#51365 Reduce dependency of remote logging on WC_Tracks
  plugins/woocommerce/changelog/enhance-remote-logging-reduce-dependency
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
Labels: plugin: woocommerce

#51408 Fix a type mismatch in UpdateProducts.php
  plugins/woocommerce/changelog/fix-type-mismatch-updateproducts
  plugins/woocommerce/src/Blocks/AIContent/UpdateProducts.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#50165 Merge WooCommerce Brands into core
  docs/docs-manifest.json
  docs/quality-and-best-practices/core-critical-flows.md
  plugins/woocommerce/changelog/merge-brands-in-core
  plugins/woocommerce/client/legacy/css/brands-admin.scss
  plugins/woocommerce/client/legacy/css/brands.scss
  plugins/woocommerce/client/legacy/js/admin/wc-brands-enhanced-select.js
  plugins/woocommerce/includes/admin/class-wc-admin-brands.php
  plugins/woocommerce/includes/blocks/class-wc-brands-block-template-utils-duplicated.php
  plugins/woocommerce/includes/blocks/class-wc-brands-block-templates.php
  plugins/woocommerce/includes/class-wc-autoloader.php
  plugins/woocommerce/includes/class-wc-brands-brand-settings-manager.php
  plugins/woocommerce/includes/class-wc-brands-coupons.php
  plugins/woocommerce/includes/class-wc-brands.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-product-brands-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-brands-controller.php
  plugins/woocommerce/includes/wc-brands-functions.php
  plugins/woocommerce/includes/widgets/class-wc-widget-brand-description.php
  plugins/woocommerce/includes/widgets/class-wc-widget-brand-nav.php
  plugins/woocommerce/includes/widgets/class-wc-widget-brand-thumbnails.php
  plugins/woocommerce/src/Internal/Brands.php
  plugins/woocommerce/src/Packages.php
  plugins/woocommerce/templates/brands/brand-description.php
  plugins/woocommerce/templates/brands/shortcodes/brands-a-z.php
  plugins/woocommerce/templates/brands/shortcodes/single-brand.php
  plugins/woocommerce/templates/brands/taxonomy-product_brand.php
  plugins/woocommerce/templates/brands/widgets/brand-description.php
  plugins/woocommerce/templates/brands/widgets/brand-thumbnails-description.php
  plugins/woocommerce/templates/brands/widgets/brand-thumbnails.php
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_brand.html
  plugins/woocommerce/templates/templates/taxonomy-product_brand.html
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-product-brand.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-brands-test.php
Labels: focus: documentation, plugin: woocommerce, focus: e2e tests
