Repository woocommerce/woocommerce, pull requests merged in 2024-04, with the labels that each got.

#45931 Product Collection: fetch all products for hand-picked products control
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce/changelog/45931-fix-45842-product-collection-block-hand-picked-items-limited-to-first-100-in-catalog
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#45896 Add new e2e test inserting woo blocks
  plugins/woocommerce/changelog/e2e-add-merchant-inserting-woo-blocks
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46066 Add E2E test for inserting Woo patterns to page
  plugins/woocommerce/changelog/e2e-add-merchant-insert-patterns
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#45895 Fix Home screen grey background
  plugins/woocommerce-admin/client/products/product-page.scss
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce/changelog/fix-41308_home_screen_grey_background
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45230 clean up woocommerce-blocks package.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-remove-blocks-repo-entry
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: housekeeping

#46092 Redirect to the edit product page after changing the product type and publishing it
  packages/js/product-editor/changelog/fix-wrong-redirect-after-change-product-type
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
Labels: focus: new product ux, team: Mothra

#46093 Make sure we are in admin area when using current_screen()
  plugins/woocommerce/changelog/46093-fix-current-screen-error-with-lys
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#46095 Site visibility settings copy changes
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce/changelog/46095-update-46075-settings-copy-changes-lys
Labels: plugin: woocommerce

#46097 Copy update for coming soon badge
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce/changelog/46097-update-46071-copy-changes-for-homescreen-lys-badge
Labels: plugin: woocommerce

#46098 Add icons to ellipsis menu on status badge
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce-admin/client/launch-your-store/status/style.scss
  plugins/woocommerce/changelog/46098-update-46072-add-icions-to-ellipsis-menu-lys-home-badge
Labels: plugin: woocommerce

#46096 Add coming soon page banner on the frontend
  plugins/woocommerce/changelog/46096-update-46073-front-end-footer-banner-for-coming-soon-mode
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#46059 Recognise if Product Collection is located inside Cart or Checkout blocks
  plugins/woocommerce-blocks/assets/js/blocks/product-template/utils.tsx
  plugins/woocommerce/changelog/add-product-collection-location-cart-checkout-block-cases
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#45953 Apply filter to add metadata for generated variations
  packages/js/data/changelog/add-metadata_variations
  packages/js/data/src/product-variations/actions.ts
  packages/js/product-editor/changelog/add-metadata_variations
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/hooks/use-product-variations-helper.ts
  packages/js/product-editor/typings/index.d.ts
  plugins/woocommerce/changelog/add-metadata_variations
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: plugin: woocommerce, package: @woocommerce/data

#46030 CYS - E2E tests: fix flaky assembler-hub test
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/tests/state-machine.test.ts
  plugins/woocommerce/changelog/46030-44514-flaky-customize-storeassembler-hubspecjs
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler-hub.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/loading-screen/loading-screen.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#46026 Prevent orders being placed when no shipping options are available
  plugins/woocommerce/changelog/fix-45912-shipping-options
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/php/src/Blocks/Helpers/FixtureData.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/MockSessionHandler.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Checkout.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/OrderController.php
Labels: plugin: woocommerce

#45999 CYS - E2E tests: add logo picker E2E tests
  plugins/woocommerce/changelog/45999-add-e2e-add-logo-cys
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/customize-store.page.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46064 Unify Product Elements inserter category to "WooCommerce Product Elements"
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart-form/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/average-rating/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/button/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-details/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-image-gallery/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-meta/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-reviews/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating-counter/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating-stars/block.json
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating/block.json
  plugins/woocommerce/changelog/add-change-product-elements-category-to-product-elements
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block-type: product elements

#46068 Updating Woo AI version and changelog.
  plugins/woo-ai/CHANGELOG.md
  plugins/woo-ai/changelog/42860-update-pnpm
  plugins/woo-ai/changelog/43595-update-wireit-0.14.3
  plugins/woo-ai/changelog/43769-add-woo-ai-watch
  plugins/woo-ai/changelog/44382-fix-pnpm-lock-update
  plugins/woo-ai/changelog/44566-fix-44565-fix-gutenberg-links-pointing-to-the-wrong-branch-in-the-docs
  plugins/woo-ai/changelog/45871-dev-woo-ai-wp-65-update
  plugins/woo-ai/changelog/fix-actually-fix-spotlight
  plugins/woo-ai/changelog/fix-domain-substitution
  plugins/woo-ai/changelog/fix-webpack-build
  plugins/woo-ai/changelog/try-woo-ai-rtl
  plugins/woo-ai/changelog/update-background-removal-elligibility-40917
  plugins/woo-ai/changelog/update-tweak-remove-href-li
  plugins/woo-ai/changelog/update-woocommerce-com-to-woo-com
  plugins/woo-ai/composer.json
  plugins/woo-ai/package.json
  plugins/woo-ai/woo-ai.php
Labels: plugin: woo-ai

#45720 Sync Local Pickup title between Checkout block and shipping settings UI and vice/versa
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/local-pickup.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/local-pickup/local-pickup-utils.page.ts
  plugins/woocommerce/changelog/update-local-pickup-title
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: plugin: woocommerce

#45795 Add new task (Connect to Woo.com task) in WC onboarding
  plugins/woocommerce/changelog/add-store-connect-to-woocom
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/StoreConnect.php
Labels: plugin: woocommerce

#46089 [Product Block Editor]: disable TextArea RichText instance according to `disabled` attribute value
  packages/js/product-editor/changelog/update-product-editor-text-area-read-only-attr
  packages/js/product-editor/src/blocks/generic/text-area/README.md
  packages/js/product-editor/src/blocks/generic/text-area/edit.tsx
Labels: focus: new product ux, team: Mothra

#46088 Add red bubble with update count on in-app My Subscriptions tab
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce/changelog/46088-update-red-bubble-on-my-subs-tab
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/src/Internal/Admin/Marketplace.php
Labels: plugin: woocommerce

#46134 Prep release/8.8 for 8.8 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#46031 [testing workflows] Tweak conditions for Slack alerts and reports publishing jobs
  .github/workflows/ci.yml
Labels: tool: monorepo infrastructure

#46109 dev: disable xstate inspector in prod build
  plugins/woocommerce-admin/client/xstate.js
  plugins/woocommerce/changelog/46109-dev-disable-xstate-in-prod-builds
Labels: plugin: woocommerce

#46155 E2E test env: use WordPress 6.5 stable version
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce-blocks/tests/e2e/utils/local-pickup/local-pickup-utils.page.ts
  plugins/woocommerce/changelog/46155-45893-e2e-blocks-remove-hardcoded-wordpress-version-in-wp-envjson-after-wordpress-65-has-been-released
Labels: type: refactor, plugin: woocommerce, team: Rubik, team: Kirigami & Origami

#46163 Fix PaymentGatewaySuggestionsDataSourcePoller and disable deprecation logging
  plugins/woocommerce/changelog/fix-datasourcepoller-upgrade-issues
  plugins/woocommerce/src/Admin/DataSourcePoller.php
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/PaymentGatewaySuggestionsDataSourcePoller.php
Labels: plugin: woocommerce

#46178 Prep release/8.8 for 8.8 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#46177 Update @wordpress/env to 9.0.7
  .syncpackrc
  plugins/woo-ai/changelog/bump-update-wordpress-env-to-9.0.7
  plugins/woo-ai/package.json
  plugins/woocommerce-beta-tester/changelog/bump-update-wordpress-env-to-9.0.7
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce/changelog/bump-update-wordpress-env-to-9.0.7
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/compare-perf/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure, plugin: woocommerce beta tester, plugin: woo-ai

#46188 skip color picker E2E tests
  plugins/woocommerce/changelog/46188-fix-skip-color-picker-e2e-test
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46137 [Woo AI] Add JSON response format
  packages/js/ai/changelog/add-json-response-format-parameter
  packages/js/ai/src/hooks/useCompletion.ts
  packages/js/ai/src/shared/types.ts
  packages/js/ai/src/utils/text-completion.ts
  plugins/woo-ai/changelog/request-json-response-name-suggestions
  plugins/woo-ai/src/product-name/product-name-suggestions.tsx
Labels: plugin: woo-ai, focus: ai, team: Singularity

#45855 Product Filter: Price block - Add E2E tests
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/price-filter.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/price-filter.handlebars
  plugins/woocommerce/changelog/45855-test-42171-add-e2e-tests-for-product-filter-price-block
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#45859 Add vendor bundling of blocks frontend bundle to improve cart/checkout performance
  plugins/woocommerce-blocks/bin/webpack-configs.js
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/45859-dev-attempt-vendoring
  plugins/woocommerce/src/Blocks/AssetsController.php
Labels: plugin: woocommerce

#46161 Avoid reading items from DB of a order whose ID is zero
  plugins/woocommerce/changelog/fix-25623
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
Labels: plugin: woocommerce

#46011 CYS - E2E tests: Add header section e2e tests
  plugins/woocommerce/changelog/46011-45344-e2e-tests-cys-header
  plugins/woocommerce/patterns/header-essential.php
  plugins/woocommerce/patterns/header-large.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/assembler.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js-snapshots/cys-selected-header-Chrome
Labels: plugin: woocommerce, focus: e2e tests

#46170 Fix the overlay color of the "Featured Category Triple" pattern
  plugins/woocommerce/changelog/46170-fix-featured-category-triple-overlay
  plugins/woocommerce/patterns/featured-category-triple.php
Labels: plugin: woocommerce

#45478 Improve formatting for SE, LV, CZ, SK postcodes + Update tests
  plugins/woocommerce/changelog/feature-postcode-formatting
  plugins/woocommerce/includes/class-wc-validation.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/tests/php/includes/class-wc-validation-test.php
  plugins/woocommerce/tests/php/includes/wc-formatting-functions-test.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#46217 Disable assembler header test temporarily
  plugins/woocommerce/changelog/46217-disable-header-test
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46212 CYS: add debounce to improve performance
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-panel.jsx
  plugins/woocommerce/changelog/46212-46194-cys-investigate-potential-bad-performance-for-the-color-palette
Labels: type: enhancement, focus: performance, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#46221 [CYS] Stop relying on snapshot for footer and header tests
  plugins/woocommerce/changelog/46221-fix-header-tests
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js-snapshots/cys-selected-footer-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js-snapshots/cys-selected-header-Chrome
Labels: plugin: woocommerce, focus: e2e tests

#46227 CYS - color picker: fix CSS
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/global-styles-variation-iframe/style.scss
  plugins/woocommerce/changelog/46227-46193-cys-color-picker-no-gradient-to-choose-when-gutenberg-latest-is-active
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45322 UX improvements for HPOS CLI cleanup tool
  plugins/woocommerce/changelog/fix-44002
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Internal/DataStores/Orders/LegacyDataHandler.php
Labels: plugin: woocommerce

#46164 Add e2e for analytics product segmentation
  plugins/woocommerce/changelog/add-46107_e2e_for_analytics_product_segmentation
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46197 Edit contributing docs readme
  README.md
  docs/contributing/README.md
  docs/docs-manifest.json
Labels: focus: documentation

#46244 Beta testing doc addition
  docs/beta-testing/beta-testing.md
  docs/docs-manifest.json
Labels: focus: documentation

#46242 Fix tests currently failing against HPOS environment setup
  plugins/woocommerce/changelog/46242-fix-broken-hpos-tests
  plugins/woocommerce/tests/legacy/unit-tests/crud/meta.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-tokens/payment-tokens.php
Labels: plugin: woocommerce

#46247 fix the CI unit test path for legacy unit tests
  plugins/woocommerce/changelog/dev-add-legacy-unit-tests-to-ci
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46140 Move site visibility settings to a new tab
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce-admin/client/settings/settings-slots.js
  plugins/woocommerce/changelog/46140-update-46133-site-visibility-tab
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-site-visibility.php
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-general-test.php
Labels: plugin: woocommerce

#46078 Track site visibility setting actions
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/settings/style.scss
  plugins/woocommerce/changelog/46078-add-45873-track-site-visibility-action
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#46159 Add missing `live-branches/install.php` require to API.php
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/changelog/46159-fix-live-branch-install-api
Labels: plugin: woocommerce beta tester

#46152 Add feature flag options to `wc-live-branches.user.js` user script
  plugins/woocommerce-beta-tester/changelog/add-feature-flags-to-tampermonkey-script
  plugins/woocommerce-beta-tester/userscripts/wc-live-branches.user.js
Labels: plugin: woocommerce beta tester

#46154 Move the LYS feature flag check inside add_lys_default_values()
  plugins/woocommerce/changelog/fix-lys-default-values-actions
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce

#46100 LYS: Add coming soon page editor links
  plugins/woocommerce-admin/client/launch-your-store/hooks/use-coming-soon-editor-link.ts
  plugins/woocommerce-admin/client/launch-your-store/hooks/use-launch-your-store.js
  plugins/woocommerce-admin/client/launch-your-store/index.js
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/settings/style.scss
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce/changelog/add-coming-soon-editor-link
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce

#46190 fix: lys hub show only incompleted and recent tasks
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/components/launch-store-hub.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/tasklist.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/styles.scss
  plugins/woocommerce-admin/client/utils/localStorage.ts
  plugins/woocommerce/changelog/fix-lys-incomplete-tasks
Labels: plugin: woocommerce

#46101 [Launch Your Store] Dynamically create Coming Soon page content
  plugins/woocommerce/changelog/46101-add-lys-coming-soon-templates
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#46204 Copy change for coming soon label in advanced setting
  plugins/woocommerce/changelog/46204-update-46185-copy-change-for-coming-soon-page-setup
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
Labels: plugin: woocommerce

#46103 Add launch your store success screen
  packages/js/components/changelog/add-lys-success-screen
  packages/js/components/package.json
  packages/js/components/src/confetti-animation/index.ts
  packages/js/components/src/index.ts
  packages/js/customer-effort-score/changelog/add-lys-success-screen
  packages/js/customer-effort-score/src/components/customer-feedback-simple/customer-feedback-simple.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/Congrats.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/WhatsNext.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/actions.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/index.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/services.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/style.scss
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/xstate.tsx
  plugins/woocommerce/changelog/add-lys-success-screen
  plugins/woocommerce/src/Admin/API/Options.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure, package: @woocommerce/components, package: @woocommerce/customer-effort-score

#46246 update labels in non-hpos daily workflow
  .github/workflows/non-hpos-build-and-e2e-tests-daily.yml
Labels: tool: monorepo infrastructure

#46245 update cot references in performance tests to hpos
  plugins/woocommerce/changelog/dev-k6-cot-to-hpos
  plugins/woocommerce/tests/performance/README.md
  plugins/woocommerce/tests/performance/config.js
  plugins/woocommerce/tests/performance/requests/merchant/add-order.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-filter.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-heartbeat.js
  plugins/woocommerce/tests/performance/requests/merchant/orders-search.js
  plugins/woocommerce/tests/performance/requests/merchant/orders.js
Labels: plugin: woocommerce, focus: performance tests

#45979 refactor: `*_checkout_process_payment_error` to return 400 error code
  plugins/woocommerce/changelog/45979-frosso-patch-1
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
Labels: focus: checkout, needs: developer feedback, plugin: woocommerce, team: Rubik, block: checkout

#46251 Solve error when coupons are applied to orders that reference deleted products
  plugins/woocommerce/changelog/fix-27077-order-editor-coupons-deleted-products
  plugins/woocommerce/includes/class-wc-coupon.php
  plugins/woocommerce/tests/php/includes/class-wc-coupon-test.php
Labels: plugin: woocommerce

#46182 Add default keys to local pickup settings to prevent PHP warning
  plugins/woocommerce/changelog/fix-local-pickup-title-sync
  plugins/woocommerce/src/Blocks/BlockTypes/Cart.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/StoreApi/Utilities/LocalPickupUtils.php
Labels: type: bug, plugin: woocommerce, team: Rubik, block: checkout

#46226 Product Collection: fix "Reset All" button in Editor filters
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/attributes-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/created-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/featured-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/keyword-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/on-sale-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/price-range-control/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/stock-status-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/taxonomy-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce/changelog/46156-product-collection-reset-all-resets-also-the-collection-filters
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#45937 [e2e tests] Update default theme to twentytwentythree
  plugins/woocommerce/changelog/e2e-update-default-theme
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
  plugins/woocommerce/tests/e2e-pw/tests/basic.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-inventory-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/account-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-addresses.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-create-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-downloads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-pay-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-grouped.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-tags-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-variable.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-search-browse-sort.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/login.js
  plugins/woocommerce/tests/e2e-pw/utils/order.js
  plugins/woocommerce/tests/e2e-pw/utils/pdp.js
Labels: plugin: woocommerce, focus: e2e tests

#46228 Rename the "other" location from `generic` to `site`
  plugins/woocommerce-blocks/assets/js/blocks/product-template/utils.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/update-rename-generic-product-collection-location-to-site
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#45961 Enhancement: Changing shopper feedback on payment response failure
  plugins/woocommerce/changelog/45961-fix-41527-prevent-duplicate-orders-being-placed
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: type: enhancement, focus: checkout, plugin: woocommerce

#46024 Add e2e tests for linked products
  plugins/woocommerce/changelog/add-46020_e2e_tests_for_linked_products
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46094 [Linked products] - Change number of 'choose products for me' to 4
  packages/js/product-editor/changelog/dev-44239_change_number_of_choose_products_for_me
  packages/js/product-editor/src/utils/get-related-products/index.ts
Labels: focus: new product ux, team: Mothra

#46235 add: lys launch store action
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/components/launch-store-hub.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/styles.scss
  plugins/woocommerce/changelog/add-lys-launch-store-action
Labels: plugin: woocommerce

#46051 Fix bug parsing memory_limit in product importer
  plugins/woocommerce/changelog/do-not-assume-megabytes
  plugins/woocommerce/includes/import/abstract-wc-product-importer.php
Labels: plugin: woocommerce, type: community contribution

#46286 Fix linked product e2e tests
  plugins/woocommerce/changelog/fix-e2e-test-linked-product-count
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#45247 Fix: broken contract in StoreAPI ProductCollectionData endpoint
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/block.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/attributes-filter/filter-products-by-attributes-count.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-42157
  plugins/woocommerce/src/StoreApi/Routes/V1/ProductCollectionData.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQuery.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQueryFilters.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/ProductCollectionData.php
Labels: plugin: woocommerce

#46258 Fix blocks e2e test for `additional-fields.merchant.block_theme.side_effects.spec.ts`
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/46258-dev-fix-e2e-additional-fields
Labels: plugin: woocommerce

#46219 Remove the base tabs component from blocks. It is no longer used.
  plugins/woocommerce-blocks/assets/js/base/components/index.ts
  plugins/woocommerce-blocks/assets/js/base/components/tabs/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/tabs/stories/index.stories.tsx
  plugins/woocommerce-blocks/assets/js/base/components/tabs/style.scss
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/46219-dev-delete-base-tabs-component
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46207 [Launch your store] Add Coming Soon page templates
  plugins/woocommerce/changelog/46207-add-lys-coming-soon-templates-layout
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Blocks/Templates/ComingSoonEntireSiteTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ComingSoonStoreOnlyTemplate.php
  plugins/woocommerce/src/Blocks/Utils/BlockTemplateUtils.php
  plugins/woocommerce/templates/templates/blockified/coming-soon-entire-site.html
  plugins/woocommerce/templates/templates/blockified/coming-soon-store-only.html
  plugins/woocommerce/templates/templates/coming-soon-entire-site.html
  plugins/woocommerce/templates/templates/coming-soon-store-only.html
Labels: plugin: woocommerce

#46203 Add launch your store homescreen status tour
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce-admin/client/launch-your-store/tour/header-image.svg
  plugins/woocommerce-admin/client/launch-your-store/tour/index.tsx
  plugins/woocommerce-admin/client/launch-your-store/tour/style.scss
  plugins/woocommerce-admin/client/launch-your-store/tour/use-site-visibility-tour.tsx
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/46203-update-46070-lys-tour
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#45852 Use address format from server in address card
  plugins/woocommerce-blocks/assets/js/blocks/checkout/address-card/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/checkout/test/utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/utils.ts
  plugins/woocommerce-blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/countries.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/index.ts
  plugins/woocommerce-blocks/tests/js/setup-globals.js
  plugins/woocommerce/changelog/fix-address-format-card
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: plugin: woocommerce

#45959 CYS - E2E tests: add font picker E2E tests
  plugins/woocommerce/changelog/45959-add-e2e-font-picker
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/font-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46127 CYS - E2E tests: add homepage picker E2E tests
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/changelog/46127-add-e2e-homepage
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-0-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-1-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-2-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-3-Chrome
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46333 CYS - E2E test: not use snapshot approach for color picker E2E tests
  plugins/woocommerce/changelog/46333-fix-improve-color-picker-e2e-tests
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-0-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-1-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-10-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-11-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-12-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-13-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-14-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-15-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-16-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-17-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-2-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-3-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-4-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-5-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-6-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-7-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-8-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-9-Chrome
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js-snapshots/color-palette-frontend-Chrome
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46141 Add API Rest endpoint to duplicate product
  plugins/woocommerce/changelog/dev-43282_create_api_endpoint_duplicate_product
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#46338 Remove heading testing category docs
  docs/docs-manifest.json
  docs/testing/README.md
Labels: focus: documentation

#46139 Deprecate the $check_key_exists parameter from AssetDataRegistry and disallow duplicate data for all cases
  plugins/woocommerce/changelog/46139-43404-cys-when-wp_debug-is-enabled-the-assembler-is-not-loaded
  plugins/woocommerce/src/Blocks/Assets/AssetDataRegistry.php
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractProductGrid.php
  plugins/woocommerce/src/Blocks/BlockTypes/AllProducts.php
  plugins/woocommerce/src/Blocks/BlockTypes/AllReviews.php
  plugins/woocommerce/src/Blocks/BlockTypes/AttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/Cart.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedItem.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/BillingAddress.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/ShippingAddress.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStockStatus.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductQuery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductTag.php
  plugins/woocommerce/src/Blocks/BlockTypes/ReviewsByCategory.php
  plugins/woocommerce/src/Blocks/BlockTypes/ReviewsByProduct.php
  plugins/woocommerce/src/Blocks/BlockTypes/StockFilter.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/Blocks/Templates/ClassicTemplatesCompatibility.php
  plugins/woocommerce/src/Internal/Admin/WCAdminSharedSettings.php
  plugins/woocommerce/tests/php/src/Blocks/Assets/AssetDataRegistry.php
Labels: plugin: woocommerce

#46220 Remove all references to the product add to cart block.
  plugins/woocommerce-blocks/assets/js/atomic/blocks/component-init.js
  plugins/woocommerce-blocks/assets/js/atomic/blocks/index.js
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/attributes.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/block.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/constants.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/edit.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/frontend.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/index.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/external.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/grouped.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/index.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/simple.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/index.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/types.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-picker.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/attribute-select-control.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/index.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/style.scss
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/test/index.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/product-types/variable/variation-attributes/utils.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/shared/add-to-cart-button.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/shared/index.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/shared/product-unavailable.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/shared/quantity-input.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/style.scss
  plugins/woocommerce-blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  plugins/woocommerce-blocks/docs/internal-developers/translations/translation-loading.md
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/46220-dev-remove-product-add-to-cart-block
  plugins/woocommerce/src/Blocks/BlockTypes/ProductAddToCart.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46322 Update background color and padding in WooCommerce LYS status popover
  plugins/woocommerce-admin/client/launch-your-store/status/style.scss
  plugins/woocommerce/changelog/46322-fix-lys-badge-dropdown
Labels: plugin: woocommerce

#46321 [LYS] Hide coming soon banner from preview frame
  plugins/woocommerce/changelog/46321-update-hide-banner-from-preview
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
Labels: plugin: woocommerce

#46129 Support search for transaction_id natively
  plugins/woocommerce/changelog/pr-46129
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
Labels: plugin: woocommerce, type: community contribution

#46353 Update WC Admin Homescreen header icons
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/display-options/icons/display.js
  plugins/woocommerce-admin/client/activity-panel/style.scss
  plugins/woocommerce-admin/client/activity-panel/tab/index.js
  plugins/woocommerce-admin/client/activity-panel/test/index.js
  plugins/woocommerce/changelog/46353-update-admin-header-icons
Labels: plugin: woocommerce

#46277 Update Action Scheduler to 3.7.4
  plugins/woocommerce/changelog/46277-update-action-scheduler-3.7.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45596 Remove a few unnecessary test annotations
  plugins/woocommerce/changelog/try-remove-preserve-global-state-annotations-api-nav-reports
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/navigation/class-wc-screen.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-customers.php
Labels: plugin: woocommerce, focus: unit tests, team: Mothra

#46091 Use individual meta keys for Additional fields.
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/additional-checkout-fields.md
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/46091-add-move-custom-fields-to-individual-fields
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/AdditionalFields.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsAdmin.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsFrontend.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartUpdateCustomer.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/BillingAddressSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CheckoutSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/ShippingAddressSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
Labels: type: refactor, plugin: woocommerce, team: Rubik

#46337 CYS - E2E tests: add create your own section E2E tests
  plugins/woocommerce/changelog/46337-fix-add-create-your-own-color
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#46334 Ensure local pickup "enabled" setting is read correctly on client-side
  plugins/woocommerce-blocks/assets/js/extensions/shipping-methods/pickup-location/utils.ts
  plugins/woocommerce/changelog/fix-local-pickup-settings-js
Labels: type: bug, priority: high, plugin: woocommerce, team: Rubik, block: checkout

#46358 Sync LYS task completion with `woocommerce_coming_soon` option
  plugins/woocommerce-admin/client/launch-your-store/hooks/use-launch-your-store.js
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce/changelog/update-lys-completion-logic
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/LaunchYourStore.php
  plugins/woocommerce/tests/php/includes/class-woocommerce-test.php
Labels: plugin: woocommerce

#46378 Fix internal broken links on docs site (initial test)
  docs/docs-manifest.json
  docs/extension-development/handling-merchant-onboarding.md
  docs/theme-development/image-sizes.md
  docs/ux-guidelines-payments/payments-onboarding.md
  docs/wc-cli/README.md
Labels: focus: documentation

#46373 Blocks E2E: Fix template revert tests
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce/changelog/fix-e2e-template-modification-tests
Labels: plugin: woocommerce

#46374 Prep release/8.8 for 8.8 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#46384 Contributions guidelines cleanup 2
  docs/docs-manifest.json
  docs/getting-started/contributing-to-core-and-marketplace.md
  docs/testing/beta-testing.md
Labels: focus: documentation

#46388 Fix broken links in payments onboarding doc
  docs/docs-manifest.json
  docs/ux-guidelines-payments/payments-onboarding.md
Labels: focus: documentation

#46398 Fix remaining broken links discovered in SEO orbit
  docs/docs-manifest.json
  docs/extension-development/extension-development-best-practices.md
  docs/getting-started/troubleshooting-endpoints.md
  docs/high-performance-order-storage/README.md
  docs/shipping/shipping-method-api.md
  docs/ux-guidelines-payments/README.md
  docs/ux-guidelines-product-editor/product-editor-examples.md
  docs/ux-guidelines-product-editor/product-editor-form-groups.md
  docs/wc-cli/README.md
Labels: focus: documentation

#46400 [DOCS] Update core critical flows with update e2e tests
  docs/docs-manifest.json
  docs/quality-and-best-practices/core-critical-flows.md
  plugins/woocommerce/changelog/update-e2e-core-critical-flows-doc
Labels: focus: documentation, plugin: woocommerce

#46360 [test reporting] Include list of failed tests in Slack notifications
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/ci-add-failed-tests-in-slack-notification
  plugins/woocommerce/tests/e2e-pw/.gitignore
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#46269 Blocks E2E: Ensure legacy template slugs are supported
  plugins/woocommerce-blocks/tests/e2e/tests/templates/legacy-templates.block_theme.spec.ts
  plugins/woocommerce/changelog/e2e-ensure-legacy-template-name-support
Labels: plugin: woocommerce

#46150 Update shipping and payment radio controls to use borders on selected items
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/local-pickup-select/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/types.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-options.js
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/saved-payment-method-options.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/style.scss
  plugins/woocommerce-blocks/packages/components/radio-control-accordion/index.tsx
  plugins/woocommerce-blocks/packages/components/radio-control/index.tsx
  plugins/woocommerce-blocks/packages/components/radio-control/option.tsx
  plugins/woocommerce-blocks/packages/components/radio-control/style.scss
  plugins/woocommerce-blocks/packages/components/radio-control/types.ts
  plugins/woocommerce/changelog/update-shipping-borders
Labels: plugin: woocommerce

#46365 [LYS] Tweak site visibility settings page
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/settings/style.scss
  plugins/woocommerce/changelog/tweak-lys-settings-page
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/tests/php/includes/class-woocommerce-test.php
Labels: plugin: woocommerce

#46425 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: tool: monorepo infrastructure

#45906 Bump dataloader from 2.1.0 to 2.2.2
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/45906-chore-bump-dataloader-version-to-2-2-2
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure, team: Kirigami & Origami, type: dependencies

#45910 Bump eslint-import-resolver-typescript from 3.2.4 to 3.6.1
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/45910-chore-bump-eslint-import-resolver-typescript-version-to-3-6-1
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure, team: Kirigami & Origami, type: dependencies

#46429 Fix wrong Shop title shown in classic themes after deleting the page
  plugins/woocommerce/changelog/2024-04-10-15-39-16-518263
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/Templates/ProductCatalogTemplate.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#46394 Add isSelectableByUser attribute to product templates
  packages/js/product-editor/changelog/add-unselectable-product-templates
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/hooks/use-product-template/test/use-product-template.test.ts
  packages/js/product-editor/src/types.ts
  plugins/woocommerce/changelog/add-unselectable-product-templates
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductTemplate.php
Labels: plugin: woocommerce

#46346 Remove periods at the end of section descriptions
  plugins/woocommerce/changelog/dev-38958_remove_periods_at_the_end_of_sections
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#46287 update makepot command to use include vs exclude
  plugins/woocommerce/changelog/fix-38192
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46347 add template deleted notice to template linting
  tools/code-analyzer/src/lib/template-changes.ts
Labels: tool: monorepo infrastructure

#46402 [LYS] Coming Soon template tweaks
  plugins/woocommerce/changelog/46402-fix-coming-soon0-template-tweaks
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/templates/templates/blockified/coming-soon-entire-site.html
  plugins/woocommerce/templates/templates/coming-soon-entire-site.html
Labels: plugin: woocommerce

#46223 Display the coming soon page on front-end requests
  plugins/woocommerce/changelog/add-coming-soon-routing
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonCacheInvalidator.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonHelper.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ComingSoonServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonCacheInvalidatorTest.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonHelperTest.php
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonRequestHandlerTest.php
Labels: plugin: woocommerce

#46327 Make LYS preview frame resizable
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/site-preview.scss
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/site-preview.tsx
  plugins/woocommerce/changelog/update-make-lys-preview-frame-resizable
Labels: plugin: woocommerce

#46406 add: lys prefetch congrats data
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce/changelog/add-lys-prefetch-congrats-data
Labels: plugin: woocommerce

#46160 Product Collection: break taxonomies filter into multiple menu items per each taxonomy
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/taxonomy-controls/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/42049-product-collection-break-taxonomies-filter-into-multiple-menu-items
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#46448 Check shop page after page deletion
  plugins/woocommerce/changelog/e2e-new-e2e-page-titles-assertions
  plugins/woocommerce/tests/e2e-pw/tests/basic.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-title-after-deletion.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46428 Enable Classic Template Products by Tag test
  plugins/woocommerce-blocks/tests/e2e/tests/classic-template/classic-template.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/test-enable-product-tag-template-test
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami

#46432 [Blocks - E2E]: Add `playwright/no-hooks` ESlint rule
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/.eslintrc.js
  pnpm-lock.yaml
Labels: tool: monorepo infrastructure

#46403 [LYS] Coming Soon template layout changes
  plugins/woocommerce/changelog/46403-update-LYS-template-layout
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/templates/templates/blockified/coming-soon-entire-site.html
  plugins/woocommerce/templates/templates/coming-soon-entire-site.html
Labels: plugin: woocommerce

#46350 Update phpcs to squizlabs/php_codesniffer
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/fix-41475
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46278 Add glob, rimraf, and uuid to Syncpack
  .syncpackrc
  package.json
  packages/js/admin-e2e-tests/changelog/46278-fix-43889-43901-43944
  packages/js/admin-e2e-tests/package.json
  packages/js/admin-layout/changelog/46278-fix-43889-43901-43944
  packages/js/admin-layout/package.json
  packages/js/ai/changelog/46278-fix-43889-43901-43944
  packages/js/ai/package.json
  packages/js/block-templates/changelog/46278-fix-43889-43901-43944
  packages/js/block-templates/package.json
  packages/js/components/changelog/46278-fix-43889-43901-43944
  packages/js/components/package.json
  packages/js/csv-export/changelog/46278-fix-43889-43901-43944
  packages/js/csv-export/package.json
  packages/js/currency/changelog/46278-fix-43889-43901-43944
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/46278-fix-43889-43901-43944
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/46278-fix-43889-43901-43944
  packages/js/data/package.json
  packages/js/date/changelog/46278-fix-43889-43901-43944
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/46278-fix-43889-43901-43944
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/changelog/46278-fix-43889-43901-43944
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/46278-fix-43889-43901-43944
  packages/js/experimental/package.json
  packages/js/explat/changelog/46278-fix-43889-43901-43944
  packages/js/explat/package.json
  packages/js/expression-evaluation/changelog/46278-fix-43889-43901-43944
  packages/js/expression-evaluation/package.json
  packages/js/integrate-plugin/changelog/46278-fix-43889-43901-43944
  packages/js/integrate-plugin/package.json
  packages/js/internal-e2e-builds/package.json
  packages/js/internal-js-tests/changelog/46278-fix-43889-43901-43944
  packages/js/internal-js-tests/package.json
  packages/js/internal-style-build/package.json
  packages/js/navigation/changelog/46278-fix-43889-43901-43944
  packages/js/navigation/package.json
  packages/js/notices/changelog/46278-fix-43889-43901-43944
  packages/js/notices/package.json
  packages/js/number/changelog/46278-fix-43889-43901-43944
  packages/js/number/package.json
  packages/js/onboarding/changelog/46278-fix-43889-43901-43944
  packages/js/onboarding/package.json
  packages/js/product-editor/changelog/46278-fix-43889-43901-43944
  packages/js/product-editor/package.json
  packages/js/tracks/changelog/46278-fix-43889-43901-43944
  packages/js/tracks/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/46278-fix-43889-43901-43944
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/code-analyzer/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#46476 Add clause to `CustomMetaDataStore::get_meta_keys` query to exclude empty order meta keys
  plugins/woocommerce/changelog/update-custom-meta-data-store-get-meta-keys
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
Labels: needs: developer feedback, plugin: woocommerce

#46214 Add JS lint scripts for woocommerce plugin
  plugins/woocommerce/.eslintignore
  plugins/woocommerce/.eslintrc.js
  plugins/woocommerce/bin/eslint-branch.sh
  plugins/woocommerce/bin/package-update-textdomain.js
  plugins/woocommerce/changelog/tools-add-js-lint-in-woocommerce-plugin
  plugins/woocommerce/client/legacy/.eslintrc.js
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-edit.spec.js
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#46494 A number of fixes for some of the top flaky e2e tests
  plugins/woocommerce/changelog/fix-flaky-test-fixes
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/account-email-receiving.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46510 Remove Launch Your Store Feature Flag
  plugins/woocommerce/changelog/update-lys-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce, focus: e2e tests

#46520 Default to docs and forums
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/workflows/triage-replies.yml
Labels: tool: monorepo infrastructure

#46515 [Product Block Editor]: expose __experimentalSectionActions component
  packages/js/product-editor/changelog/update-product-editor-export-section-actions-component
  packages/js/product-editor/src/components/block-slot-fill/index.ts
  packages/js/product-editor/src/components/block-slot-fill/section-actions/Readme.md
  packages/js/product-editor/src/components/index.ts
Labels: focus: new product ux

#46462 add: lys hub tracks
  plugins/woocommerce-admin/client/launch-your-store/hub/main-content/pages/launch-store-success/Congrats.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/tasklist.tsx
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce/changelog/add-lys-hub-tracks
Labels: plugin: woocommerce

#46521 Blocks - E2E: Fix visibility store
  plugins/woocommerce-blocks/tests/e2e/bin/test-env-setup.sh
  plugins/woocommerce/changelog/fix-visibility_store_e2e
Labels: type: refactor, plugin: woocommerce, team: Kirigami & Origami

#46485 Add checks for page title and footer
  plugins/woocommerce/changelog/add-k6-shopper-pages-title-footer
  plugins/woocommerce/tests/performance/requests/shopper/cart.js
  plugins/woocommerce/tests/performance/requests/shopper/category-page.js
  plugins/woocommerce/tests/performance/requests/shopper/checkout-customer-login.js
  plugins/woocommerce/tests/performance/requests/shopper/checkout-guest.js
  plugins/woocommerce/tests/performance/requests/shopper/home.js
  plugins/woocommerce/tests/performance/requests/shopper/my-account-orders.js
  plugins/woocommerce/tests/performance/requests/shopper/my-account.js
  plugins/woocommerce/tests/performance/requests/shopper/search-product.js
  plugins/woocommerce/tests/performance/requests/shopper/single-product.js
Labels: plugin: woocommerce, focus: performance tests

#46469 k6 perf tests: Add assertions for the "Shop" page title and product headers.
  plugins/woocommerce/changelog/add-k6-shop-page-title-product-titles
  plugins/woocommerce/tests/performance/requests/shopper/shop-page.js
Labels: plugin: woocommerce, focus: performance tests

#46395 Always use productTemplateId when available and use editedRecord in useEntityRecord hooks
  packages/js/product-editor/changelog/fix-template-for-variable-product
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/hooks/use-product-template/test/use-product-template.test.ts
  packages/js/product-editor/src/hooks/use-product-template/use-product-template.ts
  packages/js/product-editor/src/hooks/use-product-variations-helper.ts
  packages/js/product-editor/typings/index.d.ts
  plugins/woocommerce/changelog/fix-template-for-variable-product
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
Labels: plugin: woocommerce

#46294 Add menu item to Publish button with copy to draft
  packages/js/data/changelog/dev-43062_add_menuitem_to_copy_to_draft
  packages/js/data/src/products/action-types.ts
  packages/js/data/src/products/actions.ts
  packages/js/data/src/products/reducer.ts
  packages/js/product-editor/changelog/dev-43062_add_menuitem_to_copy_to_draft
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
Labels: package: @woocommerce/data, focus: new product ux, team: Mothra

#46538 Prepare @woocommerce/admin-layout and block-templates for release
  packages/js/admin-layout/changelog.md
  packages/js/admin-layout/changelog/43532-add-cli-to-ci-workflow
  packages/js/admin-layout/changelog/43595-update-wireit-0.14.3
  packages/js/admin-layout/changelog/43716-fix-production-builds
  packages/js/admin-layout/changelog/46278-fix-43889-43901-43944
  packages/js/admin-layout/changelog/bump-js-packages-php-version
  packages/js/admin-layout/changelog/fix-calypso-adminmenu
  packages/js/admin-layout/changelog/update-admin-layout-dependency
  packages/js/admin-layout/package.json
  packages/js/block-templates/changelog.md
  packages/js/block-templates/changelog/42802-fix-watch-build-race-condition
  packages/js/block-templates/changelog/43532-add-cli-to-ci-workflow
  packages/js/block-templates/changelog/43595-update-wireit-0.14.3
  packages/js/block-templates/changelog/43716-fix-production-builds
  packages/js/block-templates/changelog/46278-fix-43889-43901-43944
  packages/js/block-templates/changelog/add-use-layout-template
  packages/js/block-templates/changelog/bump-js-packages-php-version
  packages/js/block-templates/package.json
Labels: tool: monorepo infrastructure

#46523 Remove BNPL (Klarna) apm and fix icons on wcpay welcome page
  packages/js/onboarding/changelog/46523-update-woopayments-8578-remove-bnpl-apm-and-fix-icons-wcpay-welcome-page
  packages/js/onboarding/src/components/WCPayBanner/Icons/cb.js
  packages/js/onboarding/src/images/cards/amex.js
  packages/js/onboarding/src/images/cards/applepay.js
  packages/js/onboarding/src/images/cards/diners.js
  packages/js/onboarding/src/images/cards/discover.js
  packages/js/onboarding/src/images/cards/googlepay.js
  packages/js/onboarding/src/images/cards/mastercard.js
  packages/js/onboarding/src/images/cards/visa.js
  packages/js/onboarding/src/images/payment-methods/affirm.js
  packages/js/onboarding/src/images/payment-methods/afterpay.js
  packages/js/onboarding/src/images/payment-methods/clearpay.js
  packages/js/onboarding/src/images/payment-methods/ideal.js
  packages/js/onboarding/src/images/payment-methods/klarna.js
  packages/js/onboarding/src/images/payment-methods/woo.js
  packages/js/onboarding/src/index.ts
  plugins/woocommerce-admin/client/payments-welcome/apms.tsx
  plugins/woocommerce-admin/client/payments-welcome/payment-methods.tsx
  plugins/woocommerce-admin/client/payments-welcome/style.scss
  plugins/woocommerce/changelog/46523-update-woopayments-8578-remove-bnpl-apm-and-fix-icons-wcpay-welcome-page
Labels: plugin: woocommerce, package: @woocommerce/onboarding

#46471 [testing workflows] Move metrics job to ci.yml
  .github/workflows/ci.yml
  .github/workflows/deprecated/metrics.yml
  .github/workflows/deprecated/pr-build-and-e2e-tests.yml
  .github/workflows/deprecated/smoke-test-pr-merge.yml
  .github/workflows/scripts/run-metrics.sh
  plugins/woocommerce/changelog/test-move-metrics-tests-to-ci
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#46543 Prepare @woocommerce/product-editor for release 1.5
  packages/js/product-editor/changelog.md
  packages/js/product-editor/changelog/44838-dev-use-content-hash
  packages/js/product-editor/changelog/46278-fix-43889-43901-43944
  packages/js/product-editor/changelog/add-40376
  packages/js/product-editor/changelog/add-42015_allow_upload_image_for_variations
  packages/js/product-editor/changelog/add-43047
  packages/js/product-editor/changelog/add-43232
  packages/js/product-editor/changelog/add-43707_show_prepublish_checks_section
  packages/js/product-editor/changelog/add-44169
  packages/js/product-editor/changelog/add-44169-create
  packages/js/product-editor/changelog/add-44169-edit
  packages/js/product-editor/changelog/add-44169-list
  packages/js/product-editor/changelog/add-44169-remove
  packages/js/product-editor/changelog/add-44474_post_publishing_message
  packages/js/product-editor/changelog/add-44761
  packages/js/product-editor/changelog/add-metadata_variations
  packages/js/product-editor/changelog/add-product-editor-select-block-tooltip
  packages/js/product-editor/changelog/add-unselectable-product-templates
  packages/js/product-editor/changelog/add-wooicons
  packages/js/product-editor/changelog/dev-36777_update_copy_inventory_management
  packages/js/product-editor/changelog/dev-41786_update_attributes_tooltip_copy
  packages/js/product-editor/changelog/dev-43062_add_menuitem_to_copy_to_draft
  packages/js/product-editor/changelog/dev-44239_change_number_of_choose_products_for_me
  packages/js/product-editor/changelog/dev-44656_create_title_bar
  packages/js/product-editor/changelog/dev-45761_hidden_tag_changes
  packages/js/product-editor/changelog/feature-add-loading-state-to-schedule-button
  packages/js/product-editor/changelog/fix-41761_tracks_event_name_for_downloads
  packages/js/product-editor/changelog/fix-44572_enable_publish_button_when_draft
  packages/js/product-editor/changelog/fix-44809_downloads_buttons
  packages/js/product-editor/changelog/fix-45388_close_prepublish_panel_before_create_new
  packages/js/product-editor/changelog/fix-45417_set_product_status_after_publishing_it
  packages/js/product-editor/changelog/fix-45589_publish_dropdown_not_visible
  packages/js/product-editor/changelog/fix-45590_prepublish_panel_section_title
  packages/js/product-editor/changelog/fix-45665
  packages/js/product-editor/changelog/fix-45667
  packages/js/product-editor/changelog/fix-45668_remove_always_show_preprepublish_panel
  packages/js/product-editor/changelog/fix-45669_doulbe_scroll_bar_prepublish_panel
  packages/js/product-editor/changelog/fix-45957-product-editor-unable-to-save
  packages/js/product-editor/changelog/fix-column-word-break
  packages/js/product-editor/changelog/fix-multiple_warning_in_blocks
  packages/js/product-editor/changelog/fix-product-editor-crashes-text-area-toolbar
  packages/js/product-editor/changelog/fix-product-editor-description-editor-modal-disable-gb-crash
  packages/js/product-editor/changelog/fix-product-editor-loading-global
  packages/js/product-editor/changelog/fix-product-editor-publish-schedule-button-label
  packages/js/product-editor/changelog/fix-product-editor-quick-update-upload-files
  packages/js/product-editor/changelog/fix-product-editor-remove-editable-outline
  packages/js/product-editor/changelog/fix-product-text-area-field-label-a11y
  packages/js/product-editor/changelog/fix-template-for-variable-product
  packages/js/product-editor/changelog/fix-wrong-redirect-after-change-product-type
  packages/js/product-editor/changelog/product-editor-prompt-exports
  packages/js/product-editor/changelog/update-add-field-textarea-block-doc
  packages/js/product-editor/changelog/update-do-not-current-product-form-me
  packages/js/product-editor/changelog/update-introduce-product-entity-source-handler
  packages/js/product-editor/changelog/update-product-editor-export-section-actions-component
  packages/js/product-editor/changelog/update-product-editor-register-metadata-block-attribute
  packages/js/product-editor/changelog/update-product-editor-text-area-read-only-attr
  packages/js/product-editor/changelog/update-template-matching
  packages/js/product-editor/changelog/update-woo-com-to-woocommerce-com
  packages/js/product-editor/package.json
Labels: tool: monorepo infrastructure

#46546 Add changelog entry of #46139 into readme.txt
  plugins/woocommerce/changelog/46139-43404-cys-when-wp_debug-is-enabled-the-assembler-is-not-loaded
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#46407 [e2e tests] Fix command palette tests failing with Gutenberg installed
  plugins/woocommerce/changelog/e2e-fix-command-pallete-locator-gb-nightly
  plugins/woocommerce/tests/e2e-pw/tests/merchant/command-palette.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46511 [testing workflows] Fix the plugins setup for daily e2e runs
  .github/workflows/deprecated/smoke-test-daily-site-check.yml
  .github/workflows/smoke-test-daily.yml
  plugins/woocommerce/changelog/test-workflows-fix-daily-smoke-setup
  plugins/woocommerce/tests/e2e-pw/bin/install-plugin.sh
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#46508 [LYS] Try single coming soon template
  plugins/woocommerce/changelog/46508-try-LYS-coming-soon-template-only
  plugins/woocommerce/patterns/coming-soon-entire-site.php
  plugins/woocommerce/patterns/coming-soon-store-only.php
  plugins/woocommerce/patterns/coming-soon.php
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Blocks/Templates/ComingSoonTemplate.php
  plugins/woocommerce/src/Blocks/Utils/BlockTemplateUtils.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
  plugins/woocommerce/templates/templates/blockified/coming-soon.html
  plugins/woocommerce/templates/templates/coming-soon.html
  plugins/woocommerce/tests/php/src/Internal/ComingSoon/ComingSoonRequestHandlerTest.php
Labels: plugin: woocommerce

#46465 Add exclusion for users with private link
  plugins/woocommerce/changelog/try-LYS-coming-soon-template-only
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#46450 Fix admin header page title
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/header/test/index.js
  plugins/woocommerce/changelog/fix-header-page-title
  plugins/woocommerce/src/Internal/Admin/Loader.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46570 Fix coming soon page fatal error with non-FSE theme
  plugins/woocommerce/changelog/46570-fix-coming-soon-page-fatal-error
  plugins/woocommerce/patterns/coming-soon-store-only.php
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#46082 Show notice to connect to woocommerce.com in plugin update message for unconnected stores
  plugins/woocommerce/changelog/46082-add-plugin-message-connect-woocom
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
Labels: plugin: woocommerce

#46437 Fix: Remove Unused Variable 'discount_amount_html'
  plugins/woocommerce/changelog/46437-hotfix-remove-unused-var
  plugins/woocommerce/includes/wc-cart-functions.php
Labels: plugin: woocommerce, type: community contribution

#46506 Fix some e2e tests for linked products
  plugins/woocommerce/changelog/fix-some_e2e_tests_for_linked_product
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests
