Repository woocommerce/woocommerce, pull requests merged in 2024-05, with the labels that each got.

#47051 Add index on SKU filed in wc_product_meta_lookup table.
  plugins/woocommerce/changelog/fix-45699
  plugins/woocommerce/includes/class-wc-install.php
Labels: plugin: woocommerce

#47097 Update package release readme with note about post-publish delay
  tools/package-release/README.md
Labels: tool: monorepo infrastructure

#47073 [Launch Your Store] Fix failed to load coming-soon resources
  plugins/woocommerce/changelog/47073-fix-coming-soon-assets-404
  plugins/woocommerce/src/Blocks/BlockTypes/ComingSoon.php
Labels: plugin: woocommerce

#47077 Fix core profiler email field overlapping with continue button in mobile screen
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/fix-core-profiler-email-field-overlapping
Labels: plugin: woocommerce

#47075 [Launch Your Store] Remove "Powered by WooCommerce" footer
  plugins/woocommerce/changelog/update-remove-powered-by-woo-footer
  plugins/woocommerce/patterns/coming-soon-entire-site.php
Labels: plugin: woocommerce

#46955 Rename and sort filter options in "Add a filter" in Analytics
  packages/js/components/changelog/update-analytics-rename-sort-filter-options
  packages/js/components/src/advanced-filters/index.js
  packages/js/components/src/advanced-filters/style.scss
  packages/js/components/src/advanced-filters/test/advanced-filters.test.js
  plugins/woocommerce-admin/client/analytics/report/orders/config.js
  plugins/woocommerce-admin/client/analytics/report/variations/config.js
  plugins/woocommerce/changelog/update-analytics-rename-sort-filter-options
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
Labels: type: enhancement, plugin: woocommerce, package: @woocommerce/components, focus: analytics, focus: e2e tests

#47088 Improved readability and better UX for GitHub bug reports, by optimizing the format of the SSR
  plugins/woocommerce/changelog/imp-46153-report-readibility
  plugins/woocommerce/client/legacy/js/admin/system-status.js
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: type: enhancement, plugin: woocommerce, team: Proton

#47005 Remove wc_update_890_add_launch_your_store_tour_option
  plugins/woocommerce/changelog/47005-update-revert-lys-option-from-update-func
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#46906 Update to display full woocommerce version on status page rather than a shortened milestone style version
  plugins/woocommerce/changelog/46906-update-woocommerce-version-on-status-page
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: plugin: woocommerce

#46985 HPOS - Made the query for retrieving meta keys more performant
  plugins/woocommerce/changelog/fix-add-cache-46806
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
Labels: focus: performance, focus: custom order tables / HPOS, plugin: woocommerce, team: Proton

#47010 Fix extra /wp-admin from action url link for ticket 46993
  plugins/woocommerce/changelog/47010-fix-46993-action-url-link
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/LaunchYourStore.php
Labels: plugin: woocommerce, type: community contribution

#47117 Fix missing shipping recommendation task
  plugins/woocommerce/changelog/fix-missing-shipping-recommendation-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
Labels: plugin: woocommerce

#45974 Replace @wordpress/components Button, Radio, RadioGroup with Ariakit Button
  plugins/woocommerce-blocks/assets/js/base/components/button/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/coupon/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/drawer/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/drawer/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/notice-banner/index.tsx
  plugins/woocommerce-blocks/assets/js/base/context/providers/cart-checkout/cart-events/test/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/test/block.js
  plugins/woocommerce-blocks/bin/webpack-helpers.js
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/45974-dev-introduce-ariakit-button
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure, needs: dev note

#46785 Product Details: not use `useBlockProps` twice
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-details/block.tsx
  plugins/woocommerce/changelog/46785-fix-product-details-use-block-props
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product details

#47134 Fix Merchant → Mini Cart in FSE editor can only be inserted once test
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/fix-mini-cart-block-merchant-only-once-test
Labels: plugin: woocommerce, team: Rubik, block: mini-cart

#46780 Fix plugin registration on woocommerce.com for active plugins
  plugins/woocommerce/changelog/2024-04-22-04-49-18-213839
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-activate-product.php
Labels: plugin: woocommerce, team: Fuel

#47118 Update the version number of some methods in AbstractTemplateCompatibility
  plugins/woocommerce/changelog/update-class-property-since-tbd
  plugins/woocommerce/src/Blocks/Templates/AbstractTemplateCompatibility.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#47058 Product Block Editor: move logic to add new attributes to modal component
  packages/js/product-editor/changelog/update-move-logic-to-add-new-attribute
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/utils.ts
  packages/js/product-editor/src/components/attribute-input-field/attribute-input-field.tsx
  packages/js/product-editor/src/components/attribute-input-field/test/attribute-input-field.spec.tsx
  packages/js/product-editor/src/components/attribute-input-field/types.ts
Labels: focus: new product ux, team: Mothra

#46963 Request variations only when the product has variations
  packages/js/product-editor/changelog/dev-46962_request_variations_only_for_variable_products
  packages/js/product-editor/src/blocks/product-fields/variation-items/edit.tsx
Labels: focus: new product ux, team: Mothra

#46769 Avoid requesting product with id -1 while loading
  packages/js/product-editor/changelog/fix-45401_application_request_product_error
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/hooks/use-confirm-unsaved-product-changes.ts
  packages/js/product-editor/src/hooks/use-product-edits.ts
  packages/js/product-editor/typings/index.d.ts
Labels: focus: new product ux, team: Mothra

#46938 Add 'placeholder' attribute to taxonomy block and add 'placeholder' a…
  packages/js/components/changelog/add-placeholder-taxonomy
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/components/src/experimental-select-tree-control/test/select-tree.test.tsx
  packages/js/product-editor/changelog/add-placeholder-taxonomy
  packages/js/product-editor/src/blocks/generic/taxonomy/README.md
  packages/js/product-editor/src/blocks/generic/taxonomy/block.json
  packages/js/product-editor/src/blocks/generic/taxonomy/edit.tsx
  plugins/woocommerce/changelog/add-category-placeholder
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, package: @woocommerce/components, needs: design feedback

#47065 Enable inline actions in the variations table for images
  packages/js/data/changelog/add-47036
  packages/js/data/src/product-variations/types.ts
  packages/js/product-editor/changelog/add-47036
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/types.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/types.ts
  packages/js/product-editor/src/components/variations-table/variations-table-row/types.ts
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
Labels: package: @woocommerce/data, team: Mothra

#46895 REST API: Add standalone wc/v3/refunds endpoint
  plugins/woocommerce/changelog/fix-27568-refund-endpoint
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-refunds-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-refunds-controller-tests.php
Labels: focus: refund, focus: rest api, plugin: woocommerce

#46900 Add manual_update parameter to v3/orders/<id> endpoint
  plugins/woocommerce/changelog/46900-manual_update-parameter-in-api-request
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/orders.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#47158 chore: remove repetitive words
  plugins/woocommerce-blocks/assets/js/base/components/quantity-selector/index.tsx
  plugins/woocommerce-blocks/assets/js/data/cart/test/notify-quantity-changes.ts
  plugins/woocommerce-blocks/docs/internal-developers/block-client-apis/checkout/checkout-api.md
  plugins/woocommerce-blocks/docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  plugins/woocommerce-blocks/docs/internal-developers/testing/releases/1000.md
  plugins/woocommerce-blocks/docs/internal-developers/testing/releases/260.md
  plugins/woocommerce-blocks/docs/internal-developers/testing/releases/860.md
  plugins/woocommerce-blocks/docs/internal-developers/testing/releases/970.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/data-store/checkout.md
  plugins/woocommerce/changelog/47158-trunk
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/src/Admin/API/Notes.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
  plugins/woocommerce/src/Blocks/Domain/Package.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-manage.spec.js
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-customer.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/CustomerHelper.php
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#47140 Fix GLA site verification with coming soon mode
  plugins/woocommerce/changelog/fix-lys-gla-integration
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#47048 Add featured business services to Discover and other tabs
  plugins/woocommerce-admin/client/marketplace/README.md
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: focus: react marketplace, team: Desire

#47136 Product Reviews: not use useBlockProps twice
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-reviews/block.tsx
  plugins/woocommerce/changelog/47136-fix-product-reviews-use-block-props
Labels: type: refactor, plugin: woocommerce, team: Kirigami & Origami

#47157 Checkout: fix a bug where the local pickup / shipping buttons are rendered incorrectly in the editor
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  plugins/woocommerce/changelog/47157-dev-fix-47138
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#47110 Update block templates documentation
  plugins/woocommerce-blocks/docs/internal-developers/templates/README.md
  plugins/woocommerce-blocks/docs/internal-developers/templates/block-template-controller.md
  plugins/woocommerce-blocks/docs/internal-developers/templates/individual-template-classes.md
  plugins/woocommerce/changelog/update-templates-documentation
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#47130 Product Block Editor: request initial linked-products request only when tab is selected
  packages/js/product-editor/changelog/update-product-editor-filter-linked-products-only-when-tab-selected
  packages/js/product-editor/src/blocks/generic/linked-product-list/block.json
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/variation-items/edit.tsx
  packages/js/product-editor/src/types.ts
Labels: focus: performance, focus: new product ux, team: Mothra

#47119 Replace div element with main in block templates
  plugins/woocommerce/changelog/update-block-templates-div-main
  plugins/woocommerce/templates/templates/archive-product.html
  plugins/woocommerce/templates/templates/blockified/archive-product.html
  plugins/woocommerce/templates/templates/blockified/product-search-results.html
  plugins/woocommerce/templates/templates/blockified/single-product.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_attribute.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_cat.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_tag.html
  plugins/woocommerce/templates/templates/product-search-results.html
  plugins/woocommerce/templates/templates/single-product.html
  plugins/woocommerce/templates/templates/taxonomy-product_attribute.html
  plugins/woocommerce/templates/templates/taxonomy-product_cat.html
  plugins/woocommerce/templates/templates/taxonomy-product_tag.html
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#46248 Tax reports not showing correct totals
  plugins/woocommerce/changelog/fix-42682
  plugins/woocommerce/src/Admin/API/Reports/Taxes/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-taxes.php
Labels: plugin: woocommerce, focus: analytics, team: Mothra

#47151 Product Editor: Fix undo/redo in modal block editor (description field)
  packages/js/product-editor/changelog/fix-product-editor-modal-block-editor-undo
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
Labels: type: bug, focus: new product ux, team: Mothra

#46975 Catch NotFoundException before `woocommerce_get_batch_processor`
  plugins/woocommerce/changelog/pr-46975
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
Labels: plugin: woocommerce, type: community contribution

#47091 Fix https://github.com/woocommerce/woocommerce/issues/47090
  plugins/woocommerce/changelog/47091-skip-writing-to-file-if-text-empty-string-literal
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/File.php
Labels: plugin: woocommerce, type: community contribution

#47066 Prevent non used blocks to be registered in the product editor page
  plugins/woocommerce/changelog/enhancement-46502
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#47068 Request tags only when we need them
  packages/js/product-editor/changelog/dev-47035_request_tags_conditionally
  packages/js/product-editor/src/blocks/product-fields/tag/block.json
  packages/js/product-editor/src/blocks/product-fields/tag/edit.tsx
  packages/js/product-editor/src/components/tags-field/create-tag-modal.tsx
  packages/js/product-editor/src/components/tags-field/tag-field.tsx
  packages/js/product-editor/src/components/tags-field/test/tag-field.test.tsx
  packages/js/product-editor/src/components/tags-field/types.ts
  packages/js/product-editor/src/components/tags-field/use-tag-search.ts
Labels: focus: new product ux, team: Mothra

#47156 Update tsconfigs to explicitly include files to avoid TS build errors
  packages/js/admin-e2e-tests/changelog/47156-dev-fix-build-error-build-style
  packages/js/admin-e2e-tests/tsconfig.json
  packages/js/admin-layout/changelog/47156-dev-fix-build-error-build-style
  packages/js/admin-layout/tsconfig.json
  packages/js/components/changelog/47156-dev-fix-build-error-build-style
  packages/js/components/tsconfig.json
  packages/js/csv-export/changelog/47156-dev-fix-build-error-build-style
  packages/js/csv-export/tsconfig.json
  packages/js/currency/changelog/47156-dev-fix-build-error-build-style
  packages/js/currency/tsconfig.json
  packages/js/customer-effort-score/changelog/47156-dev-fix-build-error-build-style
  packages/js/customer-effort-score/tsconfig.json
  packages/js/explat/changelog/47156-dev-fix-build-error-build-style
  packages/js/explat/tsconfig.json
  packages/js/expression-evaluation/changelog/47156-dev-fix-build-error-build-style
  packages/js/expression-evaluation/tsconfig.json
  packages/js/internal-js-tests/changelog/47156-dev-fix-build-error-build-style
  packages/js/internal-js-tests/tsconfig.json
  packages/js/navigation/changelog/47156-dev-fix-build-error-build-style
  packages/js/navigation/tsconfig.json
  packages/js/notices/changelog/47156-dev-fix-build-error-build-style
  packages/js/notices/tsconfig.json
  packages/js/number/changelog/47156-dev-fix-build-error-build-style
  packages/js/number/tsconfig.json
  packages/js/onboarding/changelog/47156-dev-fix-build-error-build-style
  packages/js/onboarding/tsconfig.json
  packages/js/tracks/changelog/47156-dev-fix-build-error-build-style
  packages/js/tracks/tsconfig.json
Labels: package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#47164 Display `Import Product` task item text and header copies when merchant indicates they are already selling
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/products.js
  plugins/woocommerce/changelog/update-product-task-text
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
Labels: plugin: woocommerce

#47178 Remove `noindex` meta from coming soon pages
  plugins/woocommerce/changelog/fix-remove-noindex-lys-coming-soon-pages
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#47099 Dependency Extraction Webpack - add @woocommerce/price-format
  packages/js/dependency-extraction-webpack-plugin/assets/packages.js
  packages/js/dependency-extraction-webpack-plugin/changelog/47099-add-price-format-package-dewp
Labels: package: dependency-extraction-webpack-plugin

#47171 Customer Account: Don't hook block unless filter is available.
  plugins/woocommerce/changelog/fix-customer-account-hooked-block-attributes
  plugins/woocommerce/src/Blocks/BlockTypes/CustomerAccount.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: customer account

#47067 Remove upload plugin test from Slack reporting on daily
  .github/actions/tests/slack-summary-daily/scripts/create-blocks-plugin-tests.js
  plugins/woocommerce/changelog/e2e-update-daily-slack-pings
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#47122 Remove duplicate code lines in css
  packages/js/internal-style-build/abstracts/_variables.scss
  packages/js/internal-style-build/changelog/enhancement-46501
  plugins/woocommerce-admin/client/stylesheets/_index.scss
  plugins/woocommerce/changelog/enhancement-46501
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#46834 Stamp the order attribution HTML element (only once) on a wider set of checkout form actions
  plugins/woocommerce/changelog/tweak-more-robust-oa-field-injection
  plugins/woocommerce/src/Internal/Orders/OrderAttributionController.php
Labels: plugin: woocommerce, team: Ventures, focus: order attribution

#46597 Product Editor API: Modal block editor sidebar extensibility (description field)
  packages/js/product-editor/changelog/update-product-editor-description-editor-skeleton
  packages/js/product-editor/src/components/iframe-editor/RegisterStores.tsx
  packages/js/product-editor/src/components/iframe-editor/constants.ts
  packages/js/product-editor/src/components/iframe-editor/context.ts
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/header-toolbar.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/show-block-inspector-panel.tsx
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.scss
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/index.ts
  packages/js/product-editor/src/components/iframe-editor/sidebar/plugin-sidebar/index.js
  packages/js/product-editor/src/components/iframe-editor/sidebar/plugin-sidebar/plugin-sidebar.tsx
  packages/js/product-editor/src/components/iframe-editor/sidebar/settings-sidebar/drawer-left.tsx
  packages/js/product-editor/src/components/iframe-editor/sidebar/settings-sidebar/drawer-right.tsx
  packages/js/product-editor/src/components/iframe-editor/sidebar/settings-sidebar/index.js
  packages/js/product-editor/src/components/iframe-editor/sidebar/settings-sidebar/settings-sidebar.tsx
  packages/js/product-editor/src/components/index.ts
Labels: category: extensibility, focus: new product ux, status: blocker, team: Mothra

#47093 Product Block Editor: use `<AttributesComboboxControl />` in the Attributes modal
  packages/js/product-editor/changelog/update-replace-with-combobox
  packages/js/product-editor/src/components/attribute-combobox-field/index.tsx
  packages/js/product-editor/src/components/attribute-combobox-field/stories/index.tsx
  packages/js/product-editor/src/components/attribute-combobox-field/styles.scss
  packages/js/product-editor/src/components/attribute-combobox-field/types.ts
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.scss
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/test/new-attribute-modal.spec.tsx
  packages/js/product-editor/src/style.scss
Labels: focus: new product ux, team: Mothra

#47135 Add business services products to in-app marketplace search results
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
Labels: focus: react marketplace, team: Desire

#47125 Fix coupon usage limits on failed trashed orders
  plugins/woocommerce/changelog/fix-coupon-usage-limits-on-failed-trashed-orders
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-order-test.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
Labels: focus: coupon, plugin: woocommerce, type: community contribution

#47207 Fix one more instance of unspecified include in tsconfig.
  packages/js/experimental/changelog/47207-dev-fix-experimental-tsconfig
  packages/js/experimental/tsconfig.json
Labels: package: @woocommerce/experimental

#47131 Fix broken checkout address forms layout
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  plugins/woocommerce/changelog/47131-fix-46836-broken-checkout-address-form-layout
Labels: plugin: woocommerce, team: Rubik

#47181 [CYS] Fix the triggered event when starting the "no AI" flow
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce/changelog/47181-fix-cys-no-ai-event
Labels: plugin: woocommerce

#47220 CYS - Core: Invert the color of the button block inside the cover block when the active style variation is New - Neutral
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/utils/hero-pattern.ts
  plugins/woocommerce/changelog/47220-fix-cover-button-white
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#47213 Blocks E2E: Fix flaky block insertion tests
  plugins/woocommerce-blocks/tests/e2e/tests/breadcrumbs/breadcrumbs.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/catalog-sorting/catalog-sorting.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-results-count/product-results-count.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/single-product-details/single-product-details.block_theme.spec.ts
  plugins/woocommerce/changelog/47213-fix-flaky-e2e-block-insertion-tests
Labels: plugin: woocommerce

#47214 Blocks E2E: Remove discouraged waitForTimeout from tests
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/472140-refacor-e2e-remove-wait-for-timeout
Labels: plugin: woocommerce

#47183 Add Business services card
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
Labels: focus: react marketplace, team: Desire

#47083 Display price in place order button
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/constants.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/editable-button/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce/changelog/47083-update-46010-place-order-button-with-price
Labels: plugin: woocommerce, team: Rubik

#47211 Blocks E2E: Fix flaky Product Collection tests
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/47211-fix-e2e-flaky-product-collection-tests
Labels: plugin: woocommerce

#47173 [Enhancement]: Block-based checkout - Pickup section updates
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/attributes.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  plugins/woocommerce-blocks/packages/components/radio-control/style.scss
  plugins/woocommerce/changelog/47173-update-46012-pickup-sections
Labels: plugin: woocommerce, team: Rubik

#47196 Request shipping classes conditionally
  packages/js/product-editor/changelog/dev-47195_request_shipping_classes_conditionally
  packages/js/product-editor/src/blocks/product-fields/shipping-class/block.json
  packages/js/product-editor/src/blocks/product-fields/shipping-class/edit.tsx
Labels: focus: new product ux, team: Mothra

#47270 Remove unnecessary links to an ephemeral site
  plugins/woocommerce-blocks/docs/internal-developers/testing/smoke-testing.md
  plugins/woocommerce/changelog/fix-remove-ephemeral-links
Labels: plugin: woocommerce, team: Kirigami & Origami

#47268 [e2e tests] Disable broken product editor tests
  plugins/woocommerce/changelog/e2e-temp-disable-broken-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#47149 Override `get_edit_post_link()` URL for HPOS placeholder posts
  plugins/woocommerce/changelog/fix-45806
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
Labels: plugin: woocommerce

#47129 Update @automattic/tour-kit to 1.1.3 and @automattic/components to 2.1.1
  packages/js/components/changelog/update-bump-a8c-tour-kit-version
  packages/js/components/package.json
  plugins/woo-ai/changelog/update-bump-a8c-tour-kit-version
  plugins/woo-ai/package.json
  plugins/woocommerce-admin/client/guided-tours/add-product-tour/index.tsx
  plugins/woocommerce-admin/client/guided-tours/shipping-tour.tsx
  plugins/woocommerce-admin/client/guided-tours/wc-addons-tour/index.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/update-bump-a8c-tour-kit-version
  pnpm-lock.yaml
Labels: plugin: woocommerce, Focus: monorepo infrastructure, package: @woocommerce/components, plugin: woo-ai

#47253 🧪 Fix for a couple of failing e2e tests
  plugins/woocommerce/changelog/e2e-fix-flaky-buildkite-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/login.js
Labels: plugin: woocommerce, focus: e2e tests

#47227 In app: hide business services if no products on WCCOM
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/marketplace-context.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
Labels: focus: react marketplace, team: Desire

#47216 Request categories conditionally
  packages/js/product-editor/changelog/dev-47215_request_categories_conditionally
  packages/js/product-editor/src/blocks/generic/taxonomy/block.json
  packages/js/product-editor/src/blocks/generic/taxonomy/edit.tsx
Labels: focus: new product ux, team: Mothra

#47337 Update `WC_Admin_Tests_API_Plugins` to use different plugins for testing
  plugins/woocommerce/changelog/try-plugin-api-unit-tests
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/plugins.php
Labels: plugin: woocommerce, focus: unit tests

#47254 REST API: Add missing line item schemas to refunds endpoint
  plugins/woocommerce/changelog/fix-43444-refund-schema
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-order-refunds-v2-controller.php
Labels: focus: rest api, plugin: woocommerce

#47235 Use wp_plugin_dependencies_slug in PluginVersionRuleProcessor
  plugins/woocommerce-beta-tester/changelog/47235-update-47187-use-wp_plugin_dependencies_slug
  plugins/woocommerce-beta-tester/src/remote-spec-validator/data/actions.js
  plugins/woocommerce/changelog/47235-update-47187-use-wp_plugin_dependencies_slug
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/PluginVersionRuleProcessor.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/plugins.php
Labels: plugin: woocommerce, plugin: woocommerce beta tester

#47167 Fix RIN Display Logic for Banner Alert Notifications
  plugins/woocommerce/changelog/fix-rin-alert-notes
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/SpecRunner.php
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/EvaluateAndGetStatus.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-inbox-notifications/evaluate-and-get-status.php
Labels: plugin: woocommerce

#47182 CYS: not run font picker tests on WordPress 6.4
  plugins/woocommerce/changelog/47182-fix-not-run-test-on-6.4
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/font-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#46224 Add hooks to customize the order receipt generation
  plugins/woocommerce/changelog/pr-46224
  plugins/woocommerce/src/Internal/ReceiptRendering/ReceiptRenderingEngine.php
  plugins/woocommerce/src/Internal/ReceiptRendering/Templates/order-receipt-css.php
  plugins/woocommerce/src/Internal/ReceiptRendering/Templates/order-receipt.php
Labels: plugin: woocommerce

#47202 Install and set up BuildKite test analytics
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/e2e-try-buildkite-test-analytics
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/api-core-tests/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, Focus: monorepo infrastructure, focus: api tests, focus: e2e tests, tool: monorepo infrastructure

#47340 Add API test for refunds endpoint
  plugins/woocommerce/changelog/api-add-test-for-refunds-endpoint
  plugins/woocommerce/tests/api-core-tests/tests/refunds/refunds.test.js
Labels: focus: api tests, team: Vortex

#47229 Fix: Reset password form missing required indicator
  plugins/woocommerce/changelog/imp-account-i18n-43660
  plugins/woocommerce/templates/myaccount/form-lost-password.php
Labels: focus: accessibility, plugin: woocommerce

#47352 Hide Business Services tab heading in marketplace
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/utils/tracking.ts
Labels: focus: react marketplace, team: Desire

#47315 LYS - Update toolbar store link text
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/activity-panel/test/index.js
  plugins/woocommerce/changelog/47315-update-47308-toolbar-should-say-view-store-when-site-is-live
Labels: plugin: woocommerce

#47300 Fixes in the receipts rendering engine
  plugins/woocommerce/changelog/pr-47300
  plugins/woocommerce/src/Internal/ReceiptRendering/ReceiptRenderingEngine.php
  plugins/woocommerce/src/Internal/RestApiControllerBase.php
Labels: plugin: woocommerce

#47313 LYS - Add padding-left to the copy link
  plugins/woocommerce-admin/client/launch-your-store/settings/style.scss
  plugins/woocommerce/changelog/47313-update-47302-add-spacing-to-copy-link
Labels: plugin: woocommerce

#47121 Add improvements to NumberControl
  packages/js/product-editor/changelog/update-number-control-improvements
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/components/number-control/number-control.tsx
  packages/js/product-editor/src/components/number-control/style.scss
  packages/js/product-editor/src/hooks/use-number-input-props.ts
  packages/js/product-editor/src/style.scss
Labels: focus: new product ux, team: Mothra

#47205 Update when PayPal Standard is loaded to further reduce new store using this legacy payment method
  plugins/woocommerce/changelog/restrict_paypal_standard
  plugins/woocommerce/changelog/restrict_paypal_standard-filter
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-payment-gateways.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/tests/legacy/bootstrap.php
Labels: plugin: woocommerce

#47348 Use @octokit/action and @actions/core versions instead of latest workflows
  .github/workflows/community-label.yml
  .github/workflows/review-testing-instructions.yml
Labels: tool: monorepo infrastructure

#47353 [testing workflows] Fix for multi-line commit message not triggering tests
  .github/workflows/ci.yml
Labels: focus: testing workflows, tool: monorepo infrastructure

#45982 Freemium: update marketplace product card label
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card-footer.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/45982-update-in-app-marketplace-new-price-label
Labels: plugin: woocommerce

#47278 Update/workflow for rest api slack notifications
  .github/workflows/scripts/determine_milestone_date.sh
  .github/workflows/test-assistant-api-rest-change-tracker.yml
  .github/workflows/test-assistant-release-highlight-tracker.yml
Labels: team: Solaris, focus: release, tool: monorepo infrastructure

#47312 Ensure the cherry pick operation only executes against `trunk`
  .github/workflows/cherry-pick.yml
Labels: team: Solaris, focus: release, tool: monorepo infrastructure

#47335 LYS - Use flow layout for the coming soon template
  plugins/woocommerce/changelog/47335-update-47193-fix-windowed-text-in-tt4
  plugins/woocommerce/patterns/coming-soon-store-only.php
Labels: plugin: woocommerce

#47388 Reenable global styles for coming soon entire site template
  plugins/woocommerce/changelog/fix-lys-reenable-global-styles
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#47003 Tracks event for WooCommerce.com connect notice
  plugins/woocommerce-admin/client/marketplace/components/connect-notice/connect-notice.tsx
  plugins/woocommerce-admin/client/marketplace/components/notice/notice.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/woo-connect-notice/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/woo-plugin-update-connect-notice/index.js
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/47003-add-tracks-woo-connect-notice
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
Labels: plugin: woocommerce

#47394 Use a real em dash character (—) in the coming soon site template
  plugins/woocommerce/changelog/update-use-real-en-dash
  plugins/woocommerce/patterns/coming-soon-entire-site.php
Labels: plugin: woocommerce

#43488 Fix typo in the Exposing your data in the Store API documentation
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/rest-api/extend-rest-api-add-data.md
  plugins/woocommerce/changelog/43488-patch-1
Labels: plugin: woocommerce, type: community contribution

#47398 Fix fatal error when trying to download log files
  plugins/woocommerce/changelog/pr-47398
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/FileExporter.php
  plugins/woocommerce/src/Internal/Admin/Logging/PageController.php
Labels: plugin: woocommerce

#46965 Make method getAttributionData globally accessible
  plugins/woocommerce/changelog/tweak-surface-order-attribution-data-js
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
Labels: plugin: woocommerce, team: Ventures, focus: order attribution

#47392 CYS > Add a feature flag for full composability and the Pattern Toolkit
  plugins/woocommerce/changelog/47392-add-ptk-full-composability-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#47062 Add phone number to my account shipping address.
  plugins/woocommerce/changelog/47062-add-phone-number-to-my-account-shipping-address
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-addresses.spec.js
Labels: type: enhancement, plugin: woocommerce, focus: e2e tests

#46409 Blocks E2E: Refactor configs and workflow
  .github/workflows/blocks-playwright.yml
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/block-theme-with-templates.setup.ts
  plugins/woocommerce-blocks/tests/e2e/block-theme.setup.ts
  plugins/woocommerce-blocks/tests/e2e/classic-theme.setup.ts
  plugins/woocommerce-blocks/tests/e2e/global-setup.ts
  plugins/woocommerce-blocks/tests/e2e/global-teardown.ts
  plugins/woocommerce-blocks/tests/e2e/playwright-utils/test.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.block-theme-with-templates.config.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.classic-theme.config.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.side-effects.config.ts
  plugins/woocommerce-blocks/tests/e2e/tests/basic.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-block.merchant.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-block.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-notices.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-notices.shopper.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-shipping.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.guest-shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.merchant.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/classic-template/classic-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/local-pickup.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/local-pickup.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/on-sale-badge/on-sale-badge-single-product-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/page-content-wrapper/page-content-wrapper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-button/product-button.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-button/product-button.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/compatibility-layer.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-pager/product-gallery-pager.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/products/products.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/legacy-templates.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/single-product-template.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/cli.ts
  plugins/woocommerce/changelog/refactor-e2e-playwright-configs
Labels: plugin: woocommerce, focus: monorepo infrastructure, tool: monorepo infrastructure

#47373 Respect locale setting to format order counts in admin orders list page
  plugins/woocommerce/changelog/47373-fix-47372-count-orders-formatting
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce

#47360 Request variations conditionally
  packages/js/product-editor/changelog/dev-47359_request_variations_conditionally
  packages/js/product-editor/src/blocks/product-fields/variation-items/edit.tsx
  packages/js/product-editor/src/components/variations-table/use-variations/use-variations.ts
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
Labels: focus: new product ux, team: Mothra

#47375 Move country to top of form for all countries
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  plugins/woocommerce/changelog/47375-add-move-country-to-first
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
Labels: type: enhancement, focus: checkout, plugin: woocommerce, team: Rubik

#46957 Add woocommerce_order_received_verify_known_shoppers filter to order confirmation template
  plugins/woocommerce-blocks/tests/e2e/plugins/order-confirmation-filters.php
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce/changelog/enhancement-45136-add-verify_known_shoppers-filter-to-order-confirmation-template
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/AbstractOrderConfirmationBlock.php
Labels: type: enhancement, plugin: woocommerce

#47369 reset state and postcode if it's not valid for the current country
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce-blocks/assets/js/data/cart/push-changes.ts
  plugins/woocommerce/changelog/47369-fix-state-flickring-when-switching-countries
  plugins/woocommerce/src/StoreApi/Routes/V1/CartUpdateCustomer.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#47355 Update concurrency group for community label workflow
  .github/workflows/community-label.yml
Labels: tool: monorepo infrastructure

#47319 Make german state field visible but not required
  plugins/woocommerce/changelog/47319-fix-show-germany-state
  plugins/woocommerce/includes/class-wc-countries.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#47120 Select a shipping rate after they load
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  plugins/woocommerce/changelog/47120-fix-select-shipping-rate-after-loading
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, block-type: local pickup

#47269 Update docs about blocks styling to clearly state global styles are the recommended approach
  plugins/woocommerce-blocks/docs/designers/theming/README.md
  plugins/woocommerce-blocks/docs/designers/theming/cart-and-checkout.md
  plugins/woocommerce-blocks/docs/designers/theming/filter-blocks.md
  plugins/woocommerce/changelog/update-woocommerce-blocks-theming-global-styles
Labels: plugin: woocommerce, team: Kirigami & Origami

#47424 update monorepo infrastructure target label
  .github/project-pr-labeler.yml
Labels: focus: monorepo infrastructure

#47423 update pnpm lock
  pnpm-lock.yaml
Labels: focus: monorepo infrastructure

#47374 Product Block Editor: tweak styles/layout of attribute modal implementation
  packages/js/product-editor/changelog/update-product-editor-tweak-attributes-layout
  packages/js/product-editor/src/components/attribute-combobox-field/styles.scss
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.scss
Labels: focus: new product ux, team: Mothra

#47155 Fixed Taxonomy Term Limit On Product Collection Filters
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/taxonomy-controls/taxonomy-item.tsx
  plugins/woocommerce/changelog/fix-46850-collection-taxonomy-filter-pagination
Labels: plugin: woocommerce, block: product collection

#47239 [Launch Your Store] Add e2e tests
  plugins/woocommerce/changelog/47239-add-LYS-e2e-tests
  plugins/woocommerce/tests/e2e-pw/bin/test-helper-apis.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/options.js
Labels: plugin: woocommerce, focus: e2e tests

#46545 Product Collection: telemetry for filter usage
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/attributes-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/created-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/featured-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/inherit-query-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/keyword-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/on-sale-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/price-range-control/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/stock-status-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/taxonomy-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/tracks-utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce/changelog/45188-product-collection-telemetry-filter-usage
Labels: plugin: woocommerce, focus: analytics, team: Kirigami & Origami, block: product collection

#47228 Blocks E2E: Align ESLint and TS configs with Gutenberg
  plugins/woocommerce-blocks/.eslintrc.js
  plugins/woocommerce-blocks/tests/e2e/.eslintrc.js
  plugins/woocommerce-blocks/tests/e2e/global-setup.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce-blocks/tests/e2e/rules/no-raw-playwright-test-import.js
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-block.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/rating-filter.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/local-pickup.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/on-sale-badge/on-sale-badge-single-product-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/page-content-wrapper/page-content-wrapper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image-next-previous/product-gallery-large-image-next-previous.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/utils.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/related-products/related-products.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/single-product-template/single-product-template-compatibility-layer.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/stock-filter/stock-filter.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tsconfig.json
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/navigation/navigation.ts
  plugins/woocommerce/changelog/47228-align-e2e-eslint-config-with-gutenberg
Labels: plugin: woocommerce

#46970 Add support to HPOS CLI tool for handling deleted orders
  plugins/woocommerce/changelog/fix-45865
  plugins/woocommerce/src/Internal/DataStores/Orders/LegacyDataHandler.php
Labels: plugin: woocommerce

#47412 Remove bold text from selected payment method in Checkout block
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  plugins/woocommerce/changelog/remove-bold-payment-method
Labels: plugin: woocommerce

#47452 Hide notices on Business Services tab in marketplace
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
Labels: focus: react marketplace, team: Desire

#47458 Prep release/8.9 for 8.9 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#47428 Data: improve reducer with optimisticQueryUpdate test
  packages/js/data/changelog/update-crud-reducer-tests
  packages/js/data/src/crud/test/reducer.ts
Labels: package: @woocommerce/data

#47468 CYS: mutate the original instance of the block array
  plugins/woocommerce-admin/client/customize-store/assembler-hub/utils/hero-pattern.ts
  plugins/woocommerce/changelog/47468-47467-cys-assembler-editor-crashes-when-revisiting-after-setting-up-a-store
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#45480 Add support for FI and SE postcode validation + Update tests
  plugins/woocommerce/changelog/feature-postcode-validation
  plugins/woocommerce/includes/class-wc-validation.php
  plugins/woocommerce/tests/php/includes/class-wc-validation-test.php
Labels: plugin: woocommerce, type: community contribution

#47098 Add some unit tests to cover changes in PR 46972
  plugins/woocommerce/changelog/tests-test-46972
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: plugin: woocommerce

#47482 Update stable tag to 8.9.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#47471 Fix flaky Attributes and Variations E2E tests
  plugins/woocommerce/changelog/fix-flacky_attributes_and_variations_e2e_tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#47436 Produc Editor API: Modal block editor more menu extensibility (description field)
  packages/js/product-editor/changelog/add-product-editor-modal-block-editor-more-menu
  packages/js/product-editor/src/components/iframe-editor/constants.ts
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/plugin-more-menu-item/index.ts
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/plugin-more-menu-item/plugin-more-menu-item.tsx
  packages/js/product-editor/src/components/iframe-editor/index.ts
  packages/js/product-editor/src/components/index.ts
Labels: category: extensibility, focus: new product ux, team: Mothra

#47440 Fix dates dropdown in admin list order page
  plugins/woocommerce/changelog/fix-months-filter
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
Labels: plugin: woocommerce

#46960 Update symbol and formatting of the XPF currency
  plugins/woocommerce/changelog/fix-5150-xpf-currency
  plugins/woocommerce/i18n/currency-info.php
  plugins/woocommerce/i18n/locale-info.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/api-core-tests/tests/data/data-crud.test.js
Labels: type: refactor, focus: currency, plugin: woocommerce, focus: api tests

#47484 Update stalebot workflow for flaky tests
  .github/workflows/stalebot.yml
  plugins/woocommerce/changelog/dev-change-settings-flaky-test-stalebot
Labels: plugin: woocommerce, focus: monorepo infrastructure

#47429 Do not display smart app banner on the core profiler, LYS, and CYS pages
  plugins/woocommerce/changelog/47429-update-disable-mobile-app-banner-on-core-profiler
  plugins/woocommerce/src/Internal/Admin/Loader.php
Labels: plugin: woocommerce

#47451 Fix remote inbox layout overflows the page width
  packages/js/experimental/changelog/fix-45516-remote-inbox-layout-overflow
  packages/js/experimental/src/inbox-note/action.tsx
  packages/js/experimental/src/inbox-note/style.scss
Labels: package: @woocommerce/experimental

#47490 Fix undefined variable `$exlude_paths`
  plugins/woocommerce/changelog/2024-05-15-03-22-30-955873
  plugins/woocommerce/src/Internal/Admin/Loader.php
Labels: plugin: woocommerce

#47094 fix PHP 8 warning in Blocks\Installer\create_pages() callback when oher filters have removed pages
  plugins/woocommerce/changelog/fix-warning-create-pages-when-filtered
  plugins/woocommerce/src/Blocks/Installer.php
Labels: plugin: woocommerce

#46369 Product Collection: Implement Preview Mode
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/register-product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-advanced-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/toolbar-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-template/utils.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/46369-add-46368-product-collection-productionize-the-preview-mode-poc
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#47496 Update stable tag to 8.8.3
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#47159 Free some in-memory usage when doing HPOS-related batch processing
  plugins/woocommerce/changelog/hpos-cli-free-in-memory-usage
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#47383 Update blocks JS tests to React 18
  package.json
  packages/js/data/changelog/47383-dev-update-react-18-tests
  packages/js/data/package.json
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/test/index.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/local-pickup-select/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/product-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/coupon/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/notice-banner/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/context/providers/cart-checkout/cart-events/test/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/test/payment-methods.js
  plugins/woocommerce-blocks/assets/js/blocks/cart/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/frontend.js
  plugins/woocommerce-blocks/assets/js/blocks/checkout/order-notes/test/index.js
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/test/block.js
  plugins/woocommerce-blocks/assets/js/blocks/rating-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/reviews/test/frontend-block.test.tsx
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/__snapshots__/block.tsx.snap
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/search-list-control/test/__snapshots__/index.js.snap
  plugins/woocommerce-blocks/bin/webpack-helpers.js
  plugins/woocommerce-blocks/package-lock.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/packages/checkout/filter-registry/test/admin.js
  plugins/woocommerce-blocks/packages/checkout/filter-registry/test/index.js
  plugins/woocommerce-blocks/packages/components/text-input/test/validated-text-input.tsx
  plugins/woocommerce/changelog/47383-dev-update-react-18-tests
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/data, focus: FSE, focus: blocks

#47500 Blocks E2E: Restore the no-hooks rule
  plugins/woocommerce-blocks/tests/e2e/.eslintrc.js
  plugins/woocommerce/changelog/47500-e2e-restore-no-hooks-eslint-rule
Labels: plugin: woocommerce

#47303 Marketplace business services: Feature branch
  plugins/woocommerce-admin/client/marketplace/README.md
  plugins/woocommerce-admin/client/marketplace/components/category-selector/category-selector.tsx
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/discover/discover.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/no-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list/types.ts
  plugins/woocommerce-admin/client/marketplace/components/products/products.scss
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce-admin/client/marketplace/components/search-results/search-results.tsx
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/marketplace-context.tsx
  plugins/woocommerce-admin/client/marketplace/contexts/types.ts
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce-admin/client/marketplace/utils/tracking.ts
  plugins/woocommerce/changelog/47303-feature-marketplace-business-services
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
Labels: plugin: woocommerce, needs: internal testing, focus: react marketplace, impact: high, team: Desire

#47516 Blocks: Fix JS unit tests
  plugins/woocommerce-blocks/tests/js/jest.config.json
  plugins/woocommerce-blocks/tests/js/jestPreprocess.js
  plugins/woocommerce-blocks/tests/js/setup-after-env.ts
  plugins/woocommerce-blocks/tests/js/setup-fetch.js
  plugins/woocommerce-blocks/tests/js/setup-globals.js
  plugins/woocommerce-blocks/tests/utils/compatibility-notice.js
  plugins/woocommerce-blocks/tests/utils/find-by-text.ts
  plugins/woocommerce/changelog/47516-fix-restore-js-unit
Labels: plugin: woocommerce

#47427 Bump beta tester to 2.3.1 to prep a new release
  plugins/woocommerce-beta-tester/changelog.txt
  plugins/woocommerce-beta-tester/changelog/41513-prepare-beta-tester-2.3.0
  plugins/woocommerce-beta-tester/changelog/42860-update-pnpm
  plugins/woocommerce-beta-tester/changelog/43499-remove-ai-post-from-db
  plugins/woocommerce-beta-tester/changelog/43595-update-wireit-0.14.3
  plugins/woocommerce-beta-tester/changelog/44566-fix-44565-fix-gutenberg-links-pointing-to-the-wrong-branch-in-the-docs
  plugins/woocommerce-beta-tester/changelog/45148-poc-request-reviews
  plugins/woocommerce-beta-tester/changelog/46159-fix-live-branch-install-api
  plugins/woocommerce-beta-tester/changelog/47235-update-47187-use-wp_plugin_dependencies_slug
  plugins/woocommerce-beta-tester/changelog/47385-dev-update-pnpm9-1
  plugins/woocommerce-beta-tester/changelog/47427-dev-bump-beta-tester-version
  plugins/woocommerce-beta-tester/changelog/add-feature-flags-to-tampermonkey-script
  plugins/woocommerce-beta-tester/changelog/add-remote-spec-rule-validator
  plugins/woocommerce-beta-tester/changelog/bump-update-wordpress-env-to-9.0.7
  plugins/woocommerce-beta-tester/changelog/dev-44451-refactor-remote-specs-structure-and-naming
  plugins/woocommerce-beta-tester/changelog/dev-fix-option-search
  plugins/woocommerce-beta-tester/changelog/fix-deprecated-creation-dynamic-property
  plugins/woocommerce-beta-tester/changelog/fix-domain-substitution
  plugins/woocommerce-beta-tester/changelog/update-tweak-remove-href-li
  plugins/woocommerce-beta-tester/changelog/update-woo-com-to-woocommerce-com
  plugins/woocommerce-beta-tester/changelog/update-woocommerce-beta-tester-add-user-preferences-tool
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#47435 Move pricing features to General tab
  packages/js/product-editor/changelog/dev-47053_move_pricing_features_to_general
  plugins/woocommerce/changelog/dev-47053_move_pricing_features_to_general
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests, team: Mothra

#47320 Add Tracks events to Publish dropdown and Save draft button
  packages/js/product-editor/changelog/add-47221_tracks_events_to_publish_dropdown
  packages/js/product-editor/src/components/button-with-dropdown-menu/index.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/types.ts
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
Labels: focus: new product ux, team: Mothra

#47430 Disable pre-publish panel
  packages/js/product-editor/changelog/dev-47189_disable_prepublish_panel
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/publish-button/utils/show-success-notice.ts
  plugins/woocommerce/changelog/dev-47189_disable_prepublish_panel
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-grouped-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests, team: Mothra

#47294 [Experimental] Product Filters Redesign: Add the Product Filters block
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/settings.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.page.ts
  plugins/woocommerce/changelog/47294-feat-46984-create-product-filters-parent-block
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#47400 Disable auto zoom when focusing on input for core profiler
  plugins/woocommerce/changelog/update-core-profiler-disable-input-zoom
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingSetupWizard.php
Labels: plugin: woocommerce

#47491 Fix coming soon page mobile UI issues
  plugins/woocommerce-blocks/assets/js/blocks/coming-soon/styles.tsx
  plugins/woocommerce/changelog/fix-coming-soon-mobile-ui
  plugins/woocommerce/patterns/coming-soon-entire-site.php
Labels: plugin: woocommerce

#47504 Fix: handle undefined templateSlug in Product Collection tracking utils
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/tracks-utils.ts
  plugins/woocommerce/changelog/47504-47502-issue-error-when-editing-a-synced-pattern-with-product-collection-block
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#47507 Prevent calling wccom when the payload is empty for update check
  plugins/woocommerce/changelog/47507-prevent-calling-wccom-on-empty-payload
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
Labels: plugin: woocommerce

#47354 Fix input clearing issue in PriceTextField with improved currency parsing
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/price-range-control/PriceTextField.tsx
  plugins/woocommerce/changelog/47354-fix-47351-product-collection-improve-handling-of-currency-input-formatting-in-price-range-filter
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#47262 Fetch Marketplace promotions - ensure callback is always registered for `woocommerce_marketplace_fetch_promotions` action
  plugins/woocommerce/changelog/fix-woocommerce_marketplace_fetch_promotions-broken-with-cron
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-marketplace-promotions.php
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce
