Repository woocommerce/woocommerce, pull requests merged in 2024-07, with the labels that each got.

#48673 Enhancement: Show account created notice on order confirmation page
  plugins/woocommerce/changelog/add-42529-account-created-notice
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-my-account.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Status.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik, block: checkout

#48971 Monorepo: don't optimize composer autoloading by default.
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-build-live-branch.yml
  plugins/woocommerce/changelog/dev-speedup-deps-installation
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#48889 CYS: make the entire shuffle section clickable
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/shuffle.tsx
  plugins/woocommerce/changelog/48889-48888-cys-block-toolbar-make-the-entire-shuffle-section-clickable
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#48943 Tooling: lint new php files for strict types directive (take 2).
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/add-41443-lint-strict-types-directive-for-new-files
Labels: plugin: woocommerce, team: Vortex

#48982 Revert "Monorepo: don't optimize composer autoloading by default. (#48971)"
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-build-live-branch.yml
  plugins/woocommerce/changelog/dev-speedup-deps-installation
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#48887 Avoid Product Search Results block template to fall back to the Product Catalog template from the theme
  plugins/woocommerce/changelog/fix-48536-product-search-results-fallback
  plugins/woocommerce/src/Blocks/Templates/ProductSearchResultsTemplate.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#48934 E2E: remove UI check when creating attribute global terms
  plugins/woocommerce/changelog/update-e2e-checking-new-tokens
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Mothra

#48957 Improve account email receiving e2e test to fix flakiness
  plugins/woocommerce/changelog/e2e-fix-flaky-account-email-receiving
  plugins/woocommerce/tests/e2e-pw/tests/shopper/account-email-receiving.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48638 [Experimental] Product Filters Redesign > Filters: Implement Dynamic Block Title and Icon
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block-variations.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/active-filters/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/active-filters/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/rating-filter/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/rating-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/stock-filter/icon.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/stock-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/changelog/48638-feat-48637-implement-dynamic-block-icon-and-title
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#48923 [WooCommerce Analytics Migration] Bump jetpack connection
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48979 Add a new icon style to the Customer Account block
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/sidebar-settings.tsx
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/types.ts
  plugins/woocommerce-blocks/assets/js/icons/index.js
  plugins/woocommerce-blocks/assets/js/icons/library/customer-account-style-line.tsx
  plugins/woocommerce/changelog/48979-48793-add-icon-customer-account-block
  plugins/woocommerce/src/Blocks/BlockTypes/CustomerAccount.php
Labels: plugin: woocommerce

#48803 CYS: Revisit sidebar layout
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/navigation-extra-screen/sidebar-navigation-extra-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/navigation-extra-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/48803-48783-cys-revisit-sidebar-layout
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48941 CYS: Remove iframe animation
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/48941-fix-cys-remove-animation
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49002 Manually cherry-pick 48752 into release/9.1 after resolving conflicts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48928 Product Editor: disable Add button when no terms or options when creating variations
  packages/js/product-editor/changelog/update-product-editor-disable-add-button-when-no-attributes
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/test/utils.spec.ts
  packages/js/product-editor/src/components/attribute-control/utils.ts
  plugins/woocommerce/changelog/update-e2e-check-add-button-when-creating-new-global-attribute-terms
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests, team: Mothra

#48556 Enhancement: Update account creation settings wording
  plugins/woocommerce/changelog/update-48533-account-creation-settings
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
Labels: focus: checkout, plugin: woocommerce, focus: api tests, team: Rubik

#49005 CYS: open Intro panel when user clicks on Design your homepage
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-main.tsx
  plugins/woocommerce/changelog/49005-fix-open-intro-section
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49015 CI: bug-fix for linting missing strict types directive in new php files.
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/dev-fix-validating-strict-types-directive
Labels: plugin: woocommerce, team: Vortex

#48983 [CYS] Avoid the intro cards to get smaller on large screens
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/48983-48947-fix-intro-page
Labels: plugin: woocommerce

#49007 CYS - Fetch patterns from the private dotcom patterns category
  plugins/woocommerce/changelog/49007-48603-fetch-dotcom-patterns
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
  plugins/woocommerce/tests/php/src/Blocks/Patterns/PTKPatternsStoreTest.php
Labels: plugin: woocommerce

#48756 Fix for tags overlapping divider line issue in "Filter by product category"
  plugins/woocommerce-blocks/assets/js/editor-components/search-list-control/style.scss
  plugins/woocommerce/changelog/48756-fix-tags-overlapping-divider-line-issue
Labels: plugin: woocommerce, type: community contribution, team: Kirigami & Origami

#48743 [Accessibility] Add required indicator to form login
  plugins/woocommerce/changelog/fix-43658-add-required-indication-to-login-form
  plugins/woocommerce/templates/auth/form-login.php
  plugins/woocommerce/templates/global/form-login.php
  plugins/woocommerce/templates/myaccount/form-login.php
  plugins/woocommerce/templates/myaccount/form-lost-password.php
  plugins/woocommerce/templates/myaccount/form-reset-password.php
Labels: plugin: woocommerce, type: community contribution

#48839 CYS: Add default patterns
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/data/actions.ts
  plugins/woocommerce/assets/images/pattern-placeholders/Image-table-wood-chair-stool-interior-restaurant.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/girls-in-the-hills.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/hand-light-architecture-wood-white-house.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/sun-glass-vase-green-ceramic-shelf.jpg
  plugins/woocommerce/changelog/48839-add-cys-default-pattern
  plugins/woocommerce/patterns/content-right-image-left.php
  plugins/woocommerce/patterns/featured-category-triple.php
  plugins/woocommerce/patterns/four-image-grid-content-left.php
  plugins/woocommerce/patterns/heading-with-three-columns-of-content-with-link.php
  plugins/woocommerce/patterns/hero-product-split.php
  plugins/woocommerce/patterns/intro-centered-content-with-image-below.php
  plugins/woocommerce/patterns/just-arrived-full-hero.php
  plugins/woocommerce/patterns/product-collection-5-columns.php
  plugins/woocommerce/patterns/product-query-product-gallery.php
  plugins/woocommerce/patterns/social-follow-us-in-social-media.php
  plugins/woocommerce/patterns/testimonials-3-columns.php
  plugins/woocommerce/patterns/testimonials-single.php
  plugins/woocommerce/patterns/three-columns-with-images-and-content.php
  plugins/woocommerce/src/Blocks/Patterns/PatternRegistry.php
  plugins/woocommerce/tests/php/src/Blocks/Patterns/PatternRegistryTest.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48901 Update WCPay Tracks events props
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/payments-welcome/test/connect-account-page.test.tsx
  plugins/woocommerce-admin/client/task-lists/fills/PaymentGatewaySuggestions/components/WCPay/Suggestion.js
  plugins/woocommerce-admin/client/task-lists/fills/woocommerce-payments.tsx
  plugins/woocommerce/changelog/update-wcpay-tracks-events-props
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: plugin: woocommerce, focus: wcpay

#48987 Update Fiverr CTA to Reflect the Latest Copy in Figma
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce/changelog/48987-update-cys-fiverr-logo-maker-cta-copy
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48543 Allow blocks with parents in the `woocommerce` namespace to be rendered as inner blocks
  plugins/woocommerce-blocks/assets/js/atomic/utils/render-parent-block.tsx
  plugins/woocommerce/changelog/fix-rendering-unforced-blocks
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#48929 Add daily checks for core e2e with PHP 8.1, WP latest-1 and HPOS disabled
  plugins/woocommerce/changelog/ci-add-new-daily-checks
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: testing workflows

#49025 [testing workflows] Removed deprecated reporting CI steps
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#48986 Change Tooltip component to render Popover as inline
  packages/js/components/changelog/update-tooltip-inline
  packages/js/components/src/tooltip/style.scss
  packages/js/components/src/tooltip/tooltip.tsx
Labels: package: @woocommerce/components

#48128 Update WC Tasks regarding wccom connection
  plugins/woocommerce/changelog/48128-update-wc-tasks-wccom-connection
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ExtendStore.php
  plugins/woocommerce/src/Internal/Admin/Notes/WooSubscriptionsNotes.php
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49028 CYS: fix toolbar position after the site preview resizes
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce/changelog/49028-49024-cys-block-toolbar-isnt-in-the-right-position-when-the-user-resize-the-viewport
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49030 CYS: improve copy no blocks placeholder
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/block-placeholder/use-add-no-blocks-placeholder.ts
  plugins/woocommerce/changelog/49030-48683-cys-improve-copyux-when-the-user-cant-save-due-block-placeholder
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49051 Move buildkite-test-collector to devDependencies
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/e2e-move-buildkite-test-collector-to-dev-dependencies
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#49018 Fix e2e-guidelines.md syntax
  plugins/woocommerce-blocks/docs/contributors/e2e-guidelines.md
  plugins/woocommerce/changelog/49018-fix-block-e2e-readme
Labels: plugin: woocommerce

#48905 Initialize BlockTemplatesController for block themes only
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts_support.spec.ts
  plugins/woocommerce-blocks/tests/e2e/themes/storefront-child__with-block-template-part-support/functions.php
  plugins/woocommerce-blocks/tests/e2e/themes/storefront-child__with-block-template-part-support/style.css
  plugins/woocommerce-blocks/tests/e2e/themes/storefront-child__with-block-template-part/functions.php
  plugins/woocommerce-blocks/tests/e2e/themes/storefront-child__with-block-template-part/parts/mini-cart.html
  plugins/woocommerce-blocks/tests/e2e/themes/storefront-child__with-block-template-part/style.css
  plugins/woocommerce-blocks/tests/e2e/utils/constants.ts
  plugins/woocommerce/changelog/48382-refactor-btc-initialization
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Blocks/TemplateOptions.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/BlockTemplateUtilsTest.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#48859 Remove encoding type from verify email form
  plugins/woocommerce/changelog/fix-39318-remove-enctype
  plugins/woocommerce/templates/checkout/form-verify-email.php
Labels: focus: checkout, type: technical debt, plugin: woocommerce, team: Rubik

#49006 Fix fatal error in order reports when parent order doesn't exist for a refund.
  plugins/woocommerce/changelog/49006-fix-32202-fatal-error-when-parent-order-doesnt-exist
  plugins/woocommerce/src/Admin/API/Reports/Controller.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders.php
Labels: plugin: woocommerce

#48717 Update revert button text and description
  plugins/woocommerce-blocks/assets/js/templates/revert-button/index.tsx
  plugins/woocommerce-blocks/assets/js/templates/revert-button/style.scss
  plugins/woocommerce/changelog/48717-fix-48695-fix-confusing-messages-prompting-switch-to-classic-templates
Labels: focus: classic front end, plugin: woocommerce, team: Kirigami & Origami

#47364 Add unique_id field to product
  packages/js/product-editor/changelog/poc-unique_id_field
  packages/js/product-editor/src/utils/get-product-error-message-and-props.ts
  plugins/woocommerce/changelog/add-unique-id-field
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variation-data-store-cpt.php
  plugins/woocommerce/includes/interfaces/class-wc-product-data-store-interface.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
  plugins/woocommerce/includes/wc-product-functions.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/product-variations.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/products.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#49037 Update WC blocks wp-env to use WP 6.6 RC1
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/tests/classic-template/classic-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/page-content-wrapper/page-content-wrapper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/single-product-template.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce/changelog/49037-update-e2e-wp-version
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Rubik

#49104 Place Printful behind a feature flag
  plugins/woocommerce-admin/client/task-lists/fills/products/constants.tsx
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/update-printful-ff
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#49116 Update action/pnpm-setup version
  .github/workflows/pr-lint-markdown.yml
  .github/workflows/release-code-freeze.yml
Labels: focus: monorepo infrastructure

#49119 Fix cherry-fix conflict with 49032
  plugins/woocommerce-admin/client/launch-your-store/hub/sidebar/xstate.tsx
  plugins/woocommerce/changelog/49119-fix-merge-conflict-with-release-91
  plugins/woocommerce/changelog/fix-test-orders
Labels: plugin: woocommerce

#49075 LYS: Fix missing CSS
  plugins/woocommerce-admin/client/launch-your-store/hub/styles.scss
  plugins/woocommerce/changelog/49075-fix-LYS-content-container-height
Labels: plugin: woocommerce

#49081 CI: caching tune (part one - relocate playwright caching)
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/ci.yml
  .github/workflows/deprecated/blocks-playwright.yml
  plugins/woocommerce/changelog/dev-ci-caching-rework-playwright-caching
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#48917 Product Collection: "Sync with current query" should only apear in archive context and not other places
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/inherit-query-control.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/48867-product-collection-sync-with-current-query-should-only-only-in-archive-context-and-not-other-places
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#48980 Monorepo: disable autoloading optimization by default (take 2)
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-build-live-branch.yml
  plugins/woocommerce/bin/package-update.sh
  plugins/woocommerce/changelog/dev-speedup-deps-installation
  plugins/woocommerce/composer.json
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#48834 Use createRoot in classic product editor cases
  plugins/woocommerce-admin/client/wp-admin-scripts/product-category-metabox/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tour/index.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/variable-product-tour/index.tsx
  plugins/woocommerce/changelog/fix-wcadmin-react18-createroot-product-editor
Labels: focus: product, plugin: woocommerce, team: Mothra

#49113 CYS: fix not template set correctly
  plugins/woocommerce-admin/client/customize-store/data/actions.ts
  plugins/woocommerce/changelog/49113-fix-missing-await
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48858 Use `createRoot().render()` instead of `render()`
  plugins/woocommerce-blocks/assets/js/extensions/shipping-methods/pickup-location/index.js
  plugins/woocommerce/changelog/48858-update-48797-use-createRoot-instead-of-render
Labels: plugin: woocommerce, team: Rubik

#48545 Add product count visibility option to mini cart block
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.json
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/component-frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/quantity-badge/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/types.ts
  plugins/woocommerce/changelog/48545-add-product-count-display-setting
Labels: plugin: woocommerce, type: community contribution

#49141 Updated ignored jobs list for evaluation script
  .github/workflows/scripts/evaluate-jobs-conclusions.js
Labels: focus: monorepo infrastructure

#49149 Remove the matrix.testEnv condition from the build step
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#49010 add front matter and cleanup docs in V1 migration for docs site
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/additional-checkout-fields.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/additional-cart-checkout-inner-block-types.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/cart-line-items.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/checkout-and-place-order-button.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/coupons.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/order-summary-items.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/totals-footer-item.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/dom-events.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/integration-interface.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/slot-fills.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/filtering-payment-methods.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/hooks/migrated-hooks.md
  plugins/woocommerce/changelog/add-front-matter-for-checkout-docs
Labels: plugin: woocommerce

#49027 Remove IE11 specific styles
  plugins/woocommerce-blocks/assets/css/abstracts/_mixins.scss
  plugins/woocommerce-blocks/assets/js/base/components/price-slider/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-totals-block/style.scss
  plugins/woocommerce-blocks/packages/components/checkbox-control/style.scss
  plugins/woocommerce/changelog/49027-remove-ie-styles
Labels: plugin: woocommerce, team: Kirigami & Origami, block: checkout, block: filter by price

#49048 Use default cursor for everything in select and tree components
  packages/js/components/changelog/tweak-select-tree
  packages/js/components/src/experimental-select-control/selected-items.scss
  packages/js/components/src/experimental-tree-control/tree-item.scss
  packages/js/components/src/experimental-tree-control/tree.scss
Labels: package: @woocommerce/components

#49153 CYS: Fix Shuffle feature logic
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-patterns.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/shuffle.tsx
  plugins/woocommerce/changelog/49153-49128-cys-shuffle-feature-select-patterns-from-another-category
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49058 Product Editor: Fix tab switching when variations are generated
  packages/js/product-editor/changelog/fix-create-variations-tab-switch
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/types.ts
  packages/js/product-editor/src/components/tabs/tabs.tsx
  packages/js/product-editor/src/components/tabs/test/tabs.spec.tsx
Labels: focus: variation, focus: new product ux, team: Mothra

#49106 Allow returning to input on selectTree when pressing escape
  packages/js/components/changelog/update-escape-select-control
  packages/js/components/src/experimental-select-tree-control/select-tree-menu.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/components/src/experimental-tree-control/tree-item.tsx
  packages/js/components/src/experimental-tree-control/tree.tsx
  packages/js/components/src/experimental-tree-control/types.ts
  pnpm-lock.yaml
Labels: package: @woocommerce/components

#49151 CYS - Make some titles bold on CYS patterns
  plugins/woocommerce/changelog/49151-cys-patterns-bold-titles
  plugins/woocommerce/patterns/heading-with-three-columns-of-content-with-link.php
  plugins/woocommerce/patterns/three-columns-with-images-and-content.php
Labels: plugin: woocommerce

#49140 CYS - Include the dotcom reviews patterns
  plugins/woocommerce/changelog/49140-add-dotcom-reviews-patterns
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
Labels: plugin: woocommerce

#49022 Fix toggling of permission details in downloadable product permissions metabox (order screen)
  plugins/woocommerce/changelog/fix-downloadable-product-metabox-toggle
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-order.js
Labels: plugin: woocommerce

#49092 Fix deprecated get_option notice when viewing Analytics > Orders
  plugins/woocommerce/changelog/fix-option-notice-analytics-orders
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Automata

#48926 Fix flaky connect to Woo e2e test
  plugins/woocommerce/changelog/e2e-fix-flaky-connect-to-woo
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49130 Monorepo: update git postmerge hook.
  .husky/post-merge
Labels: team: Vortex

#49036 Add clear button to `Categories` dropdown
  packages/js/components/changelog/dev-36283_add_clear_button_to_dropdown
  packages/js/components/src/experimental-select-control/suffix-icon.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree.scss
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/product-editor/changelog/dev-36283_add_clear_button_to_dropdown
  packages/js/product-editor/src/blocks/generic/taxonomy/edit.tsx
Labels: package: @woocommerce/components, focus: new product ux, team: Mothra

#49133 CYS - Replace customer account block icon in headers used in the assembler
  plugins/woocommerce/changelog/49133-49110-fix-account-icon-headers
  plugins/woocommerce/patterns/header-centered-pattern.php
  plugins/woocommerce/patterns/header-essential.php
  plugins/woocommerce/patterns/header-large.php
  plugins/woocommerce/src/Blocks/BlockTypes/CustomerAccount.php
Labels: plugin: woocommerce

#49170 Prevent product editor styles loading on non wc-admin pages
  packages/js/product-editor/changelog/49170-fix-49169
  packages/js/product-editor/src/components/editor/style.scss
  plugins/woocommerce/changelog/49170-fix-49169
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
Labels: plugin: woocommerce

#49129 Fix the Coming Soon Site Page heading color is white after completing the CYS task
  plugins/woocommerce-blocks/assets/js/blocks/coming-soon/styles.tsx
  plugins/woocommerce/changelog/fix-coming-soon-heading-color
  plugins/woocommerce/patterns/coming-soon-entire-site.php
Labels: plugin: woocommerce

#49154 CYS - Add missing patterns to their categories for the assembler
  plugins/woocommerce/changelog/49154-add-missing-core-patterns
  plugins/woocommerce/patterns/banner.php
  plugins/woocommerce/patterns/featured-category-cover-image.php
  plugins/woocommerce/patterns/hero-product-3-split.php
  plugins/woocommerce/patterns/hero-product-chessboard.php
  plugins/woocommerce/patterns/product-collection-4-columns.php
  plugins/woocommerce/patterns/product-collection-featured-products-5-columns.php
Labels: plugin: woocommerce

#49101 CYS - Remove non-default patterns and register them from the PTK and update margins
  plugins/woocommerce/changelog/49101-pattern-reviews
  plugins/woocommerce/patterns/featured-category-triple.php
  plugins/woocommerce/patterns/hero-product-split.php
  plugins/woocommerce/patterns/just-arrived-full-hero.php
  plugins/woocommerce/patterns/product-collection-4-columns.php
  plugins/woocommerce/patterns/product-collection-5-columns.php
  plugins/woocommerce/patterns/product-collection-featured-products-5-columns.php
  plugins/woocommerce/patterns/product-query-minimal-product-list.php
  plugins/woocommerce/patterns/product-query-product-gallery.php
  plugins/woocommerce/patterns/social-follow-us-in-social-media.php
  plugins/woocommerce/patterns/testimonials-3-columns.php
  plugins/woocommerce/patterns/testimonials-single.php
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-1
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-2
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-3
Labels: plugin: woocommerce, focus: e2e tests

#49021 [WooCommerce Analytics Migration] Require and initialize WooCommerce Analytics
  plugins/woocommerce/bin/composer/mozart/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#49183 Monorepo: tweak CodeSniffer rules conflicting with strict types declaration requirements
  plugins/woocommerce/changelog/fix-codesniffer-tweaks-conflicting-rules
  plugins/woocommerce/phpcs.xml
Labels: plugin: woocommerce, team: Vortex

#49159 CYS: fix: Assembler follows admin color schema
  plugins/woocommerce-admin/client/customize-store/assembler-hub/iframe.jsx
  plugins/woocommerce/changelog/49159-fix-match-admin-color-schema
Labels: plugin: woocommerce, focus: customize-your-store

#48788 Checkout: Update legacy status handling
  plugins/woocommerce/changelog/fix-48126-legacy-status-handling
  plugins/woocommerce/src/StoreApi/Legacy.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#44145 [Product Collection] Parse front-end context
  plugins/woocommerce/changelog/add-44144-front-end-context
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/src/Blocks/Utils/ProductCollectionUtils.php
Labels: plugin: woocommerce

#48141 Expose `__experimentalRegisterProductCollection` in @woocommerce/blocks-registry Package
  plugins/woocommerce-blocks/assets/js/blocks-registry/index.js
  plugins/woocommerce-blocks/assets/js/blocks-registry/product-collection/register-product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/best-sellers.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/featured.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/new-arrivals.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/on-sale.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/register-product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/top-rated.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/collection-chooser.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/columns-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/register-product-collection.md
  plugins/woocommerce-blocks/tests/e2e/plugins/register-product-collection-tester.php
  plugins/woocommerce-blocks/tests/e2e/plugins/register-product-collection-tester/index.js
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/48141-add-47962-product-collection-expose-experimental-registerproductcollection-for-3pds
  plugins/woocommerce/changelog/48513-add-47963-product-collection-add-validation-for-registerproductcollection-arguments
Labels: type: task, plugin: woocommerce, category: extensibility, focus: FSE, block: product collection

#49096 Product Collection: Fix alignment of the first item in Grid layout for WP 6.6
  plugins/woocommerce-blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-template/style.scss
  plugins/woocommerce/changelog/49096-fix-remove-experimental-layout-from-product-template
  plugins/woocommerce/src/Blocks/BlockTypes/ProductTemplate.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#49181 CYS: Fix color button
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-is-active-new-neutral-variation.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-palette-variations/constants.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/changelog/49181-fix-color-button-pattern
Labels: plugin: woocommerce

#49148 [e2e tests] Tweak Playwright config - retries and test artifacts
  plugins/woocommerce/changelog/e2e-tweak-pw-config-retries-and-artifacts
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#49194 CI: update phpunit jobs to faster build step
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/ci.yml
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-ci-tweaks-phpunit-runs
  plugins/woocommerce/package.json
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/lib/config.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#49049 Allow selecting categories through keyboard
  packages/js/components/changelog/tweak-select-tree-2
  packages/js/components/src/experimental-select-tree-control/select-tree-menu.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/components/src/experimental-tree-control/hooks/use-keyboard.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree-item.ts
  packages/js/components/src/experimental-tree-control/hooks/use-tree.ts
  packages/js/components/src/experimental-tree-control/tree.tsx
  packages/js/components/src/experimental-tree-control/types.ts
  packages/js/components/src/index.ts
  packages/js/product-editor/changelog/tweak-select-tree-2
  packages/js/product-editor/src/blocks/generic/taxonomy/block.json
  packages/js/product-editor/src/blocks/generic/taxonomy/edit.tsx
  packages/js/product-editor/src/components/tags-field/tag-field.tsx
  plugins/woocommerce/changelog/tweak-select-tree-2
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, package: @woocommerce/components, focus: e2e tests

#49097 Fix the inconsistent formatting of the numeric columns in the Leaderboards on the Analytics > Dashboard page
  plugins/woocommerce-admin/client/analytics/components/leaderboard/data/top-selling-products-mock-data.js
  plugins/woocommerce-admin/client/analytics/components/leaderboard/index.js
  plugins/woocommerce-admin/client/analytics/components/leaderboard/test/index.js
  plugins/woocommerce/changelog/fix-36748-analytics-dashboard-currency-formatting
  plugins/woocommerce/src/Admin/API/Leaderboards.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/leaderboards.php
Labels: plugin: woocommerce, focus: analytics, team: Automata

#48618 CYS - Filter out patterns with external dependencies
  plugins/woocommerce/changelog/48618-48601-filter-deps-ptk-patterns
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
  plugins/woocommerce/tests/php/src/Blocks/Patterns/PTKPatternsStoreTest.php
Labels: plugin: woocommerce

#49191 Fix flaky filling SKU and verifying CYS footer e2e tests
  plugins/woocommerce/changelog/e2e-fix-flaky-cys-footer-and-filling-sku
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-inventory-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49196 CYS - Fix patterns spacing
  plugins/woocommerce/changelog/49196-fix-spacing
  plugins/woocommerce/patterns/banner.php
  plugins/woocommerce/patterns/content-right-image-left.php
  plugins/woocommerce/patterns/featured-category-cover-image.php
  plugins/woocommerce/patterns/hero-product-3-split.php
  plugins/woocommerce/patterns/hero-product-chessboard.php
  plugins/woocommerce/patterns/hero-product-split.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js-snapshots/selected-homepage-blocks-class-frontend-0
Labels: plugin: woocommerce, focus: e2e tests

#49226 Fix flaky e2e test merchant filling regular price in inventory tab
  plugins/woocommerce/changelog/e2e-fix-flaky-create-variable-fill-regular-price-inventory-tab
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48731 Drop Select2 in Backwards compatable manner
  plugins/woocommerce/changelog/drop-select2
  plugins/woocommerce/client/legacy/js/select2/select2.full.js
  plugins/woocommerce/client/legacy/js/select2/select2.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: focus: performance, type: technical debt, plugin: woocommerce

#49228 [e2e tests] Add Allure reporter to Blocks e2e tests
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/e2e-add-allure-to-blocks-e2e
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48949 Change the custom field name component to be an autocomplete
  packages/js/product-editor/changelog/add-46919
  packages/js/product-editor/src/components/custom-fields/create-modal/create-modal.tsx
  packages/js/product-editor/src/components/custom-fields/create-modal/style.scss
  packages/js/product-editor/src/components/custom-fields/custom-field-name-control/custom-field-name-control.tsx
  packages/js/product-editor/src/components/custom-fields/custom-field-name-control/index.ts
  packages/js/product-editor/src/components/custom-fields/custom-field-name-control/style.scss
  packages/js/product-editor/src/components/custom-fields/custom-field-name-control/types.ts
  packages/js/product-editor/src/components/custom-fields/edit-modal/edit-modal.tsx
  packages/js/product-editor/src/components/custom-fields/edit-modal/style.scss
  packages/js/product-editor/src/components/custom-fields/style.scss
  plugins/woocommerce/changelog/add-46919
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-custom-fields-controller.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#49232 CYS - Fix assembler styling issues
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/49232-fix-css-issues-cys
Labels: plugin: woocommerce

#49112 Add srcset to Single Product gallery thumbnail images
  plugins/woocommerce/changelog/fix-48431-blurry-thumbnail-images
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product image gallery

#49231 CYS - Fix size of the "no logo" title to match the "logo" title size
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/49231-fix-logo-title-font-size
Labels: plugin: woocommerce

#49202 Update Playwright to 1.45.1
  .syncpackrc
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-update-playwright-1_45
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#49208 [Accessibility] Fix typo in woo-ai plugin doc
  plugins/woo-ai/DEVELOPMENT.md
  plugins/woo-ai/changelog/fix-typo-in-woo-ai-plugin-doc
Labels: type: community contribution, plugin: woo-ai

#49207 [Accessibility] Fix typo in remote specs validation doc
  packages/php/remote-specs-validation/README.md
  packages/php/remote-specs-validation/changelog/fix-typo-in-remote-specs-validation-readme
Labels: type: community contribution

#49243 Do not run `BatchProcessingController`'s cleanup after a premature shutdown
  plugins/woocommerce/changelog/fix-49229
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
Labels: plugin: woocommerce

#47918 Reduce potential for plugin conflict-driven fatal errors during (REST API-based) refund creation
  plugins/woocommerce/changelog/fix-47601-rest-api-refunds
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-order-refunds-v2-controller.php
  plugins/woocommerce/src/Internal/Utilities/Types.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/Types.php
Labels: plugin: woocommerce

#46017 Fix Payments and APMs tasks logic and links
  plugins/woocommerce/changelog/fix-payments-apms-tasks-logic-and-links
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
Labels: plugin: woocommerce, focus: wcpay, focus: e2e tests

#49206 CYS: Fix pattern preview border color
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/49206-fix-hover-border
Labels: plugin: woocommerce, focus: customize-your-store

#47704 Load controllers only when needed for performance.
  plugins/woocommerce/changelog/fix-44359
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/includes/wc-rest-functions.php
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/StoreApi/StoreApi.php
  plugins/woocommerce/tests/php/includes/wc-rest-functions-test.php
Labels: release: highlight, plugin: woocommerce

#49182 BlockTemplatesController: move all hooks into methods instead of being inline
  plugins/woocommerce/changelog/update-BlockTemplatesController-inline-methods
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#49244 Exclude simple products from variations reports by default
  plugins/woocommerce/changelog/49244-fix-37940-remove-simple-products-from-variation-report
  plugins/woocommerce/src/Admin/API/Reports/Variations/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-variations.php
Labels: plugin: woocommerce

#49139 Track the newly installed version in wp_options
  plugins/woocommerce/changelog/add-initial-install-option-value
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
Labels: plugin: woocommerce

#48911 Product Collection: Redesigned Collection Insertion Selection
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/best-sellers.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/featured.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/new-arrivals.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/on-sale.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/top-rated.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/collection-chooser.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/collection-selection-modal.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-placeholder.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/enhance-46536-product-collection-insertion
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-tags-attributes.spec.js
Labels: plugin: woocommerce, focus: e2e tests, focus: FSE, block: product collection

#45331 Update ci.yml to be dispatchable and skippable
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure, focus: testing workflows

#49248 Product Editor: Fix crash and issues with variations (that will cause problems with React 18)
  packages/js/block-templates/changelog/fix-create-variations-crash-react-18
  packages/js/block-templates/src/hooks/use-layout-template/use-layout-template.ts
  packages/js/product-editor/changelog/fix-create-variations-crash-react-18
  packages/js/product-editor/src/blocks/generic/tab/edit.tsx
  packages/js/product-editor/src/blocks/generic/tab/editor.scss
  packages/js/product-editor/src/components/attribute-list-item/attribute-list-item.scss
Labels: focus: variation, focus: new product ux, team: Mothra

#48884 Improve the handling of the deprecated WC()->api property
  plugins/woocommerce/changelog/pr-48884
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
  plugins/woocommerce/includes/admin/class-wc-admin-webhooks-table-list.php
  plugins/woocommerce/includes/admin/class-wc-admin-webhooks.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-advanced.php
  plugins/woocommerce/includes/admin/settings/views/html-webhooks-edit.php
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
  plugins/woocommerce/includes/class-wc-webhook.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/LegacyRestApiStub.php
  plugins/woocommerce/tests/php/includes/class-woocommerce-test.php
Labels: plugin: woocommerce

#48384 Fix the mini cart items not being visible when zoomed in
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/style.scss
  plugins/woocommerce/changelog/48384-fix-mini-cart-zoom
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: type: bug, focus: accessibility, plugin: woocommerce, team: Rubik, block: mini-cart

#49195 Fix incorrectly escaped HTML
  plugins/woocommerce/changelog/fix-38384-esc-html
  plugins/woocommerce/includes/admin/reports/class-wc-report-customer-list.php
Labels: plugin: woocommerce

#48588 Product Editor Dev Tools: Improved expression evaluation tooling
  plugins/woocommerce-beta-tester/changelog/update-dev-tools-expression-evaluation
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/expression-field.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/expression-result.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/expression-text-area.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/expressions-panel.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/index.scss
Labels: plugin: woocommerce beta tester, category: extensibility, focus: new product ux, team: Mothra

#49297 CYS - Fix the intro cards size to match the designs
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/49297-fix-cys-intro-cards
Labels: plugin: woocommerce

#49295 CYS - Update delete button copy to `Delete`
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/delete.tsx
  plugins/woocommerce/changelog/49295-fix-delete-button-copy
Labels: plugin: woocommerce

#49299 CYS - Bring back footer and header borders on hover and selected patterns
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/49299-fix-cys-header-footer-borders
Labels: plugin: woocommerce

#49328 Disable Metrics job in CI
  plugins/woocommerce/changelog/ci-disable-metrics-job
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48010 Create a separate bundle for cart and checkout
  plugins/woocommerce-blocks/bin/add-split-chunk-dependencies.js
  plugins/woocommerce-blocks/bin/webpack-configs.js
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/webpack.config.js
  plugins/woocommerce/changelog/48010-dev-cart-checkout-bundle
  plugins/woocommerce/src/Blocks/AssetsController.php
Labels: plugin: woocommerce

#48581 Register block in PHP and Add default opt in text when saving example block in `@woocommerce/extend-cart-checkout-block`
  packages/js/extend-cart-checkout-block/$slug.php.mustache
  packages/js/extend-cart-checkout-block/changelog/fix-missing-default-text-eccb
  packages/js/extend-cart-checkout-block/src/js/checkout-newsletter-subscription-block/edit.js.mustache
Labels: type: enhancement, category: extensibility, package: @woocommerce/extend-cart-checkout-block

#49333 Fix the namespace of the RestApiControllerBase class
  plugins/woocommerce/changelog/pr-49333
  plugins/woocommerce/src/Internal/ReceiptRendering/ReceiptRenderingRestController.php
  plugins/woocommerce/src/Internal/RestApiControllerBase.php
Labels: plugin: woocommerce

#49020 Monorepo: caching deps per target package in GH actions
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/build-live-branch.yml
  .github/workflows/build-release-zip-file.yml
  .github/workflows/ci.yml
  .github/workflows/deprecated/blocks-playwright.yml
  .github/workflows/mirrors.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/package-release.yml
  .github/workflows/pr-build-live-branch.yml
  .github/workflows/pr-highlight-changes.yml
  .github/workflows/prepare-package-release.yml
  .github/workflows/release-code-freeze.yml
  .github/workflows/release-wc-beta-tester.yml
  packages/js/api-core-tests/tests/shipping/shipping-method.test.js
  packages/js/components/changelog/dev-monorepo-caching-deps-per-target-package
  packages/js/components/package.json
  packages/js/components/src/search/test/index.js
  packages/js/explat/changelog/dev-monorepo-caching-deps-per-target-package
  packages/js/explat/src/test/assignment-test.js
  packages/js/internal-js-tests/changelog/dev-monorepo-caching-deps-per-target-package
  packages/js/internal-js-tests/src/setup-globals.js
  packages/js/navigation/changelog/dev-monorepo-caching-deps-per-target-package
  packages/js/navigation/src/test/index.js
  plugins/woocommerce-blocks/bin/add-split-chunk-dependencies.js
  plugins/woocommerce-blocks/bin/webpack-configs.js
  plugins/woocommerce/changelog/dev-monorepo-caching-deps-per-target-package
  pnpm-lock.yaml
Labels: package: @woocommerce/api-core-tests, plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/components, package: @woocommerce/explat, package: @woocommerce/navigation, team: Vortex

#49283 Fix order_count inconsistency between stats and reports
  plugins/woocommerce/changelog/49283-fix-wc-analytics-tax-order-totals-consistency
  plugins/woocommerce/src/Admin/API/Reports/Taxes/DataStore.php
Labels: plugin: woocommerce, team: Automata

#49348 Prep release/9.1 for 9.1 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#49186 move checkout docs with front matter to main folder
  docs/building-a-woo-store/adding-a-custom-field-to-variable-products.md
  docs/cart-and-checkout-blocks/README.md
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/cart-and-checkout-blocks/available-filters/README.md
  docs/cart-and-checkout-blocks/available-filters/additional-cart-checkout-inner-block-types.md
  docs/cart-and-checkout-blocks/available-filters/available-filters.md
  docs/cart-and-checkout-blocks/available-filters/cart-line-items.md
  docs/cart-and-checkout-blocks/available-filters/checkout-and-place-order-button.md
  docs/cart-and-checkout-blocks/available-filters/coupons.md
  docs/cart-and-checkout-blocks/available-filters/order-summary-items.md
  docs/cart-and-checkout-blocks/available-filters/totals-footer-item.md
  docs/cart-and-checkout-blocks/available-slot-fills.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/README.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/checkout-flow-and-events.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/filtering-payment-methods.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/payment-method-integration.md
  docs/cart-and-checkout-blocks/dom-events.md
  docs/cart-and-checkout-blocks/hooks/README.md
  docs/cart-and-checkout-blocks/hooks/migrated-hooks.md
  docs/cart-and-checkout-blocks/how-checkout-processes-an-order.md
  docs/cart-and-checkout-blocks/integration-interface.md
  docs/cart-and-checkout-blocks/slot-fills.md
  docs/docs-manifest.json
  docs/extensibility-in-blocks/README.md
  docs/extensibility-in-blocks/extending-blocks.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/README.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/checkout-flow-and-events.md
  plugins/woocommerce/changelog/GIT STATUS
Labels: focus: documentation, plugin: woocommerce

#49354 Revert move docs
  docs/building-a-woo-store/adding-a-custom-field-to-variable-products.md
  docs/cart-and-checkout-blocks/README.md
  docs/cart-and-checkout-blocks/available-filters/README.md
  docs/cart-and-checkout-blocks/available-filters/available-filters.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/README.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/checkout-flow-and-events.md
  docs/cart-and-checkout-blocks/hooks/README.md
  docs/cart-and-checkout-blocks/hooks/migrated-hooks.md
  docs/docs-manifest.json
  docs/extensibility-in-blocks/README.md
  docs/extensibility-in-blocks/extending-blocks.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/README.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/additional-checkout-fields.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/additional-cart-checkout-inner-block-types.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/cart-line-items.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/checkout-and-place-order-button.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/coupons.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/order-summary-items.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/totals-footer-item.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-slot-fills.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/dom-events.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/how-checkout-processes-an-order.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/integration-interface.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/slot-fills.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/checkout-flow-and-events.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/filtering-payment-methods.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce/changelog/GIT STATUS
  plugins/woocommerce/changelog/revert-move-docs
Labels: focus: documentation, plugin: woocommerce

#49313 Fix failing e2e tests on daily run
  plugins/woocommerce/changelog/dev-fixes-daily-failures
  plugins/woocommerce/tests/e2e-pw/tests/merchant/command-palette.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
  plugins/woocommerce/tests/e2e-pw/utils/themes.js
Labels: plugin: woocommerce, focus: e2e tests

#49314 CYS: Add `rel="noreferrer"` to External Fiverr Link
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce/changelog/49314-update-cys-fiverr-logo-cta-link-attributes
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#49312 Add new unique ID to the classic product form
  plugins/woocommerce/changelog/add-global_unique_id_classic
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-data-inventory.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-variation-admin.php
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce

#49233 Fix typo (index.tsx)
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce/changelog/49233-patch-1
Labels: plugin: woocommerce, type: community contribution

#49008 Optimize the method that gets the downloads count for a given download
  plugins/woocommerce/changelog/pr-49008
  plugins/woocommerce/includes/class-wc-customer-download.php
  plugins/woocommerce/includes/data-stores/class-wc-customer-download-log-data-store.php
Labels: plugin: woocommerce

#49366 Monorepo: set strict mode for WooCommerce plugin linting script.
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/fix-woocommerce-plugin-linting
Labels: plugin: woocommerce, team: Vortex

#49369 Cherry-pick #331 into release/9.1
  plugins/woocommerce/changelog/fix-html-injection-order-notes
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
  plugins/woocommerce/templates/emails/email-order-details.php
  plugins/woocommerce/templates/emails/plain/email-order-details.php
  plugins/woocommerce/templates/order/order-details.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/tests/php/src/Blocks/mocks/OrderConfirmation/TotalsMock.php
Labels: plugin: woocommerce

#49370 Cherry-pick #331 into trunk
  plugins/woocommerce/changelog/fix-html-injection-order-notes
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-data.php
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
  plugins/woocommerce/templates/emails/email-order-details.php
  plugins/woocommerce/templates/emails/plain/email-order-details.php
  plugins/woocommerce/templates/order/order-details.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/tests/php/src/Blocks/mocks/OrderConfirmation/TotalsMock.php
Labels: plugin: woocommerce

#49372 Cherry-pick #303 into release/9.1
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/data-stores/class-wc-customer-data-store.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/includes/wc-user-functions.php
  plugins/woocommerce/src/Internal/Utilities/Users.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-customer-data-store-test.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/UsersTest.php
Labels: plugin: woocommerce

#49378 Delete changelog file from #49370
  plugins/woocommerce/changelog/fix-html-injection-order-notes
Labels: plugin: woocommerce

#49367 E2E: enable reporting slow blocks test.
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/update-report-slow-blocks-e2e-tests
Labels: plugin: woocommerce, team: Vortex

#49383 Update stable tag to 9.1.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48944 Store API: Reduced number of recalculations on Store API cart routes
  plugins/woocommerce/changelog/update-47296-store-api-calculation-handling
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AbstractCartRoute.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AbstractRoute.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Cart.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartAddItem.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartApplyCoupon.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartCouponsByCode.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartRemoveCoupon.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartSelectShippingRate.php
  plugins/woocommerce/src/StoreApi/Routes/V1/CartUpdateCustomer.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
Labels: focus: performance, plugin: woocommerce, category: extensibility, team: Rubik, focus: store api

#49381 Fix flaky e2e merchant tests
  plugins/woocommerce/changelog/e2e-fix-flaky-merchant-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49330 CI: missing jobs on changes in components package.
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/fix-47347-missing-job-on-changes-in-components
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/lib/job-processing.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#49351 Fix sidebar attribute control in Products by Attribute block
  plugins/woocommerce-blocks/assets/js/blocks/products-by-attribute/inspector-controls.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/products-by-attribute/products-by-attribute.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-48574-fix-product-by-attribute-sidebar-control
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: products by attribute

#48726 Return HTTP 404 in REST API for non-existent product reviews
  plugins/woocommerce/changelog/fix-35162
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-product-reviews-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-reviews-controller.php
  plugins/woocommerce/tests/api-core-tests/tests/products/products-crud.test.js
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version1/class-wc-rest-product-reviews-v1-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-reviews-controller-tests.php
Labels: plugin: woocommerce, focus: api tests

#49390 Change case for CLIRunner namespace to meet autoloader expectations
  plugins/woocommerce/changelog/tweak-psr-namespaces
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Database/Migrations/MetaToCustomTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/MetaToMetaTableMigrator.php
  plugins/woocommerce/src/Database/Migrations/TableMigrator.php
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessorInterface.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/COTMigrationServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
Labels: plugin: woocommerce

#49404 Revert #46362
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/discount/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/combobox/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/combobox/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  plugins/woocommerce-blocks/packages/components/checkbox-control/style.scss
  plugins/woocommerce-blocks/packages/components/radio-control/style.scss
  plugins/woocommerce-blocks/packages/components/text-input/style.scss
  plugins/woocommerce-blocks/packages/components/textarea/style.scss
  plugins/woocommerce/changelog/49404-revert-46362
Labels: plugin: woocommerce, team: Rubik

#49397 Fix path to wp-env.json file in release-checks runs
  .github/workflows/ci.yml
  .github/workflows/scripts/override-wp-env-plugins.js
Labels: focus: monorepo infrastructure

#49416 [blocks e2e] Update config for retries and trace retention
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/e2e-update-blocks-e2e-artifacts-and-retries
Labels: plugin: woocommerce

#48964 Add a GenericQuery to replace ~12 Query classes
  plugins/woocommerce/changelog/48964-add-generic-queue
  plugins/woocommerce/src/Admin/API/Reports/Categories/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Categories/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Coupons/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Customers/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Downloads/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/GenericQuery.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Products/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Revenue/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Stock/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Taxes/Stats/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Query.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/Controller.php
  plugins/woocommerce/src/Admin/API/Reports/Variations/Stats/Query.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-coupons.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-variations.php
Labels: plugin: woocommerce

#49403 [e2e] Add support for WPCOM site
  plugins/woocommerce/changelog/49403-e2e-support-wpcom-env
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/.env.enc
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/.env.enc
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#49429 Update stable tag to 9.1.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#49436 Monorepo: fix linting script (side-effects from enabling strict mode earlier
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/fix-linting-script
Labels: plugin: woocommerce, team: Vortex

#49374 CYS - Fix marking the CYS task as completed only by accessing the Intro page
  plugins/woocommerce/changelog/49374-fix-intro-page-when-reloading
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
Labels: plugin: woocommerce

#49303 CYS - Update the full composability layout to match designs
  plugins/woocommerce-admin/client/customize-store/assembler-hub/components/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/navigation-extra-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/49303-fix-cys-layout-styling
Labels: plugin: woocommerce
