Repository woocommerce/woocommerce, pull requests merged in 2024-01, with the labels that each got.

#42811 [Experimental] Add: QueryFilters class to calculate filter data for product queries
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce/changelog/42811-add-collection-filterer
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionActiveFilters.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionAttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionFilters.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionPriceFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionRatingFilter.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Blocks/QueryFilters.php
Labels: plugin: woocommerce, block-type: filter blocks

#43169 Do not set WOOCOMMERCE_BLOCKS_PHASE inside build-zip script.
  .github/workflows/build-live-branch.yml
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/43169-dev-pass-blocks-phase-to-build
Labels: plugin: woocommerce

#43183 [Experimental] Refactor the interactivity dropdown to remove dependence on FormTokenField
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/attribute-dropdown.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/components/preview-dropdown/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/components/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  plugins/woocommerce-blocks/packages/interactivity-components/dropdown/index.ts
  plugins/woocommerce-blocks/packages/interactivity-components/dropdown/style.scss
  plugins/woocommerce/changelog/43183-dev-refactor-interactivity-dropdown
  plugins/woocommerce/src/Blocks/AssetsController.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionAttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionRatingFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionStockFilter.php
  plugins/woocommerce/src/Blocks/InteractivityComponents/Dropdown.php
Labels: plugin: woocommerce

#43219 Prep release/8.5 for 8.5 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#43095 Add e2e tests for image transition in Product Gallery block
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/test-42192-add-e2e-tests-for-image-transition-in-product-gallery-block
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43180 [E2E Tests] Product Gallery > Thumbnails block: Refactor code to remove unnecessary wait for timeout
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/test-42060-refactor-product-gallery-thumbnails-e2e-test
Labels: plugin: woocommerce, block: product gallery

#42799 replace forward tick with ' in docs folder
  docs/code-snippets/add-a-country.md
  docs/code-snippets/add-a-currency-symbol.md
  docs/code-snippets/add-or-modify-states.md
  docs/code-snippets/adjust-quantity-input-values.md
  docs/code-snippets/before-login--register-form.md
  docs/code-snippets/change-a-currency-symbol.md
  docs/code-snippets/customising-checkout-fields.md
  docs/code-snippets/number-of-products-per-row.md
  docs/code-snippets/rename-a-country.md
  docs/code-snippets/unhook--remove-woocommerce-emails.md
  docs/contributing/deciding-pr-high-impact.md
  docs/data-management/crud-objects.md
  docs/extension-development/adding-a-section-to-a-settings-tab.md
  docs/extension-development/building-your-first-extension.md
  docs/extension-development/class-reference.md
  docs/extension-development/development-environment.md
  docs/extension-development/extension-developer-handbook.md
  docs/extension-development/gdpr-compliance.md
  docs/extension-development/handling-deactivation-and-uninstallation.md
  docs/extension-development/handling-merchant-onboarding.md
  docs/extension-development/how-to-design-a-simple-extension.md
  docs/extension-development/implementing-settings.md
  docs/extension-development/using-custom-attributes-in-menus.md
  docs/getting-started/developer-resources.md
  docs/getting-started/developer-tools.md
  docs/getting-started/set-up-a-child-theme.md
  docs/getting-started/woocommerce-endpoints.md
  docs/high-performance-order-storage/README.md
  docs/high-performance-order-storage/enable-hpos.md
  docs/localization-translation/translating-woocommerce.md
  docs/payments/payment-gateway-api.md
  docs/payments/payment-gateway-plugin-base.md
  docs/product-editor-development/product-editor-extensibility-guidelines.md
  docs/quality-and-best-practices/grammar-punctuation-capitalization.md
  docs/quality-and-best-practices/removing-product-product-category-or-shop-from-the-url.md
  docs/shipping/shipping-method-api.md
  docs/style-guide.md
  docs/theme-development/classic-theme-developer-handbook.md
  docs/theme-development/conditional-tags.md
  docs/theme-development/fixing-outdated-woocommerce-templates.md
  docs/theme-development/theme-design-ux-guidelines.md
  docs/tutorials/adding-a-custom-field-to-variable-products.md
  docs/tutorials/adding-actions-and-filters.md
  docs/user-experience/best-practices.md
  docs/user-experience/colors.md
  docs/user-experience/notices.md
  docs/user-experience/onboarding.md
  docs/user-experience/task-list-and-inbox.md
  docs/user-experience/user-experience-guidelines.md
  docs/utilities/configuring-caching-plugins.md
Labels: focus: documentation, team: SRE

#42969 Fix sizing of `<SelectControl>` & UI bug for `<ReportFilters>`
  packages/js/components/changelog/42969-fix-select-style
  packages/js/components/src/select-control/style.scss
Labels: package: @woocommerce/components

#43198 [Experimental] Rating Filter block: fix wrong import path
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce/changelog/fix-43155-rating-filter-remove-and-query-type-option
Labels: plugin: woocommerce, block: filter by rating

#43211 [Experimental] Allow overriding placeholder in interactivity Dropdown::render
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/components/attribute-dropdown.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/utils.ts
  plugins/woocommerce-blocks/packages/interactivity-components/dropdown/index.ts
  plugins/woocommerce/changelog/43211-dev-placeholder-override
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionAttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionRatingFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionStockFilter.php
  plugins/woocommerce/src/Blocks/InteractivityComponents/Dropdown.php
Labels: plugin: woocommerce

#43217 [Experimental] Use CheckboxList component in interactivity attribute filter
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/style.scss
  plugins/woocommerce/changelog/43217-dev-use-checkbox-list-attribute-filter
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionAttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionRatingFilter.php
Labels: plugin: woocommerce

#43085 Fix bug when searching orders with a term starting with d, s, or f
  plugins/woocommerce/changelog/43085-fix-43084-search-query-prepare
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableSearchQuery.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#43182 Update contributors list
  plugins/woocommerce/changelog/update-contributor-list
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, focus: housekeeping

#43136 [Product Block Editor]: add className prop to ButtonWithDropdownMenu component
  packages/js/product-editor/changelog/update-product-editor-add-classname-prop-to-button-with-cmp
  packages/js/product-editor/src/components/button-with-dropdown-menu/index.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/stories/index.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/types.ts
Labels: focus: new product ux

#43251 Product Gallery: Fix Large Image snapping position on window resize
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce-blocks/changelog/fix-42852-product-gallery-block-snapping-position-on-resize
  plugins/woocommerce/changelog/fix-42852-product-gallery-block-snapping-position-on-resize
Labels: plugin: woocommerce

#43221 Prevent Command Palette scripts to enqueue unnecessary scripts in the editor
  plugins/woocommerce-admin/client/wp-admin-scripts/command-palette-analytics/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/command-palette/index.js
  plugins/woocommerce/changelog/43221-fix-command-palette-unnecessary-scripts
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#43254 Fix WooAF changelog typo and release date
  plugins/woocommerce/changelog/fix-changelog-date-typo
  tools/monorepo-utils/src/code-freeze/commands/accelerated-prep/lib/prep.ts
  tools/monorepo-utils/src/code-freeze/commands/get-version/index.ts
Labels: plugin: woocommerce

#43125 [Woo beta tester]: add User Preference panel
  packages/js/data/changelog/update-woocommerce-beta-tester-add-user-preferences-tool
  packages/js/data/src/index.ts
  plugins/woocommerce-beta-tester/changelog/update-woocommerce-beta-tester-add-user-preferences-tool
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/index.scss
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/product-editor-dev-tools-bar.tsx
  plugins/woocommerce-beta-tester/src/product-editor-dev-tools/user-preferences-panel.tsx
Labels: plugin: woocommerce beta tester, package: @woocommerce/data

#43108 Fix occurrences where Installer_Error exception is returned instead of being thrown
  plugins/woocommerce/changelog/43108-fix-installer-error-exception
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-activate-product.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-get-product-info.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-unpack-product.php
Labels: plugin: woocommerce

#43067 Layout templates REST API
  plugins/woocommerce/changelog/add-layout-templates-rest-api
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-layout-templates-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/LayoutTemplatesServiceProvider.php
  plugins/woocommerce/src/LayoutTemplates/LayoutTemplateRegistry.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-layout-templates-controller-tests.php
  plugins/woocommerce/tests/php/src/LayoutTemplates/LayoutTemplateRegistryTest.php
  plugins/woocommerce/tests/php/src/LayoutTemplates/TestLayoutTemplate.php
Labels: focus: rest api, plugin: woocommerce, focus: new product ux, team: Mothra

#43089 Add tests for searching for multiple term IDs
  plugins/woocommerce/changelog/update-tests-search-multiple-term-ids
  plugins/woocommerce/tests/legacy/unit-tests/product/functions.php
Labels: plugin: woocommerce

#43257 Update readme.txt
  plugins/woocommerce/changelog/adjust-readme-text
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#43220 [Experimental] Filter out filter options that would result in 0 products.
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  plugins/woocommerce/changelog/43220-dev-dont-display-filters-zero-products
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionAttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionRatingFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionStockFilter.php
  plugins/woocommerce/src/Blocks/InteractivityComponents/CheckboxList.php
Labels: plugin: woocommerce

#43153 [Experimental] Add Widget support to new collection filter blocks
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/active-filters/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/rating-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/utils.ts
  plugins/woocommerce/changelog/43153-fix-42176-widget-editor-support
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionFilters.php
Labels: plugin: woocommerce, block-type: filter blocks

#43238 Fix payment gateway doc
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce/changelog/43238-patch-1
Labels: focus: documentation, type: community contribution, team: Rubik

#43216 [Experimental] Use variations to provide all the product filters wrapped by CollectionFilters block
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/price-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/utils.ts
  plugins/woocommerce/changelog/43216-dev-implement-inserter-behavior
Labels: plugin: woocommerce

#43240 Display ratings on marketplace product cards
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card-footer.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce-admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/43240-add-wccom-18961-marketplace-product-card-ratings
Labels: plugin: woocommerce

#43249 Remove the double quotes from the AI generated content before saving it
  plugins/woocommerce/changelog/43249-fix-double-quotes-json-decoding-bug
  plugins/woocommerce/src/Blocks/AIContent/UpdatePatterns.php
Labels: plugin: woocommerce

#43264 Fix incorrect layout of Product Collection placeholder on Firefox
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/editor.scss
  plugins/woocommerce/changelog/fix-product-collection-layout-firefox
Labels: plugin: woocommerce

#43157 Show default patterns and products if the images request fails
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/changelog/43157-default-content-on-images-failure
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Images.php
Labels: plugin: woocommerce

#43244 Remove old noticed on classic checkout when applying coupon code
  plugins/woocommerce/changelog/43244-fix-43161-remove-previous-notices
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce

#43145 Linked product list
  packages/js/product-editor/changelog/add-42923
  packages/js/product-editor/src/blocks/generic/linked-product-list/block.json
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/editor.scss
  packages/js/product-editor/src/blocks/generic/linked-product-list/index.ts
  packages/js/product-editor/src/blocks/generic/linked-product-list/reducer.ts
  packages/js/product-editor/src/blocks/generic/linked-product-list/types.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/components/formatted-price/formatted-price.tsx
  packages/js/product-editor/src/components/formatted-price/index.ts
  packages/js/product-editor/src/components/formatted-price/style.scss
  packages/js/product-editor/src/components/formatted-price/types.ts
  packages/js/product-editor/src/components/index.ts
  packages/js/product-editor/src/components/product-image/index.ts
  packages/js/product-editor/src/components/product-image/product-image.tsx
  packages/js/product-editor/src/components/product-image/styles.scss
  packages/js/product-editor/src/components/product-image/types.ts
  packages/js/product-editor/src/components/product-list/index.ts
  packages/js/product-editor/src/components/product-list/product-list.tsx
  packages/js/product-editor/src/components/product-list/styles.scss
  packages/js/product-editor/src/components/product-list/types.ts
  packages/js/product-editor/src/components/product-select/index.ts
  packages/js/product-editor/src/components/product-select/product-select.tsx
  packages/js/product-editor/src/components/product-select/styles.scss
  packages/js/product-editor/src/components/product-select/types.ts
  packages/js/product-editor/src/style.scss
  plugins/woocommerce/changelog/add-42923
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#43060 Product Gallery block: Fix e2e tests for Thumbnails block
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/fix-e2e-tests-for-product-gallery-thumbnails-block
Labels: plugin: woocommerce, team: Kirigami & Origami

#42020 bump php version in packages/js/*/composer.json
  packages/js/admin-e2e-tests/changelog/bump-js-packages-php-version
  packages/js/admin-e2e-tests/composer.json
  packages/js/admin-layout/changelog/bump-js-packages-php-version
  packages/js/admin-layout/composer.json
  packages/js/ai/changelog/bump-js-packages-php-version
  packages/js/ai/composer.json
  packages/js/api/changelog/bump-js-packages-php-version
  packages/js/api/composer.json
  packages/js/block-templates/changelog/bump-js-packages-php-version
  packages/js/block-templates/composer.json
  packages/js/components/changelog/bump-js-packages-php-version
  packages/js/components/composer.json
  packages/js/create-product-editor-block/changelog/bump-js-packages-php-version
  packages/js/create-product-editor-block/composer.json
  packages/js/create-woo-extension/changelog/bump-js-packages-php-version
  packages/js/create-woo-extension/composer.json
  packages/js/csv-export/changelog/bump-js-packages-php-version
  packages/js/csv-export/composer.json
  packages/js/currency/changelog/bump-js-packages-php-version
  packages/js/currency/composer.json
  packages/js/customer-effort-score/changelog/bump-js-packages-php-version
  packages/js/customer-effort-score/composer.json
  packages/js/data/changelog/bump-js-packages-php-version
  packages/js/data/composer.json
  packages/js/date/changelog/bump-js-packages-php-version
  packages/js/date/composer.json
  packages/js/dependency-extraction-webpack-plugin/changelog/bump-js-packages-php-version
  packages/js/dependency-extraction-webpack-plugin/composer.json
  packages/js/eslint-plugin/changelog/bump-js-packages-php-version
  packages/js/eslint-plugin/composer.json
  packages/js/experimental/changelog/bump-js-packages-php-version
  packages/js/experimental/composer.json
  packages/js/explat/changelog/bump-js-packages-php-version
  packages/js/explat/composer.json
  packages/js/expression-evaluation/changelog/bump-js-packages-php-version
  packages/js/expression-evaluation/composer.json
  packages/js/extend-cart-checkout-block/changelog/bump-js-packages-php-version
  packages/js/extend-cart-checkout-block/composer.json
  packages/js/integrate-plugin/changelog/bump-js-packages-php-version
  packages/js/integrate-plugin/composer.json
  packages/js/navigation/changelog/bump-js-packages-php-version
  packages/js/navigation/composer.json
  packages/js/number/changelog/bump-js-packages-php-version
  packages/js/number/composer.json
  packages/js/onboarding/changelog/bump-js-packages-php-version
  packages/js/onboarding/composer.json
  packages/js/product-editor/changelog/bump-js-packages-php-version
  packages/js/product-editor/composer.json
  packages/js/tracks/changelog/bump-js-packages-php-version
  packages/js/tracks/composer.json
Labels: package: @woocommerce/api, type: technical debt, tool: monorepo infrastructure, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks, team: SRE

#43124 [Product Block Editor]: Be able to dismiss AdviceCard instances
  packages/js/data/changelog/update-product-editor-dismiss-linked-product-empty-advices
  packages/js/data/src/user/types.ts
  packages/js/product-editor/changelog/update-product-editor-dismiss-linked-product-empty-advices
  packages/js/product-editor/src/blocks/product-fields/cross-sells/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/upsells/edit.tsx
  packages/js/product-editor/src/components/advice-card/index.tsx
  plugins/woocommerce/changelog/update-product-editor-dismiss-linked-product-empty-advices
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, package: @woocommerce/data, focus: new product ux, team: Mothra

#43299 Fix performance issue when modifying product metadata
  packages/js/product-editor/changelog/fix-41586-product-template-association
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/hooks/use-product-entity-prop.ts
Labels: focus: new product ux, team: Mothra

#43231 update external relative links to full URLs
  docs/README.md
  docs/docs-manifest.json
  docs/product-editor-development/README.md
  docs/product-editor-development/block-template-lifecycle.md
  docs/quality-and-best-practices/naming-conventions.md
Labels: focus: documentation, team: Vortex

#43166 Settings: Make minor corrections to the HTML markup of settings fields
  plugins/woocommerce/changelog/remix-41077-settings-html-fixes
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
Labels: plugin: woocommerce, focus: settings

#42751 Update generic incompatibility notice
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/sidebar-notices/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/incompatible-extension-notice/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/sidebar-compatibility-notice/editor.scss
  plugins/woocommerce-blocks/assets/js/editor-components/sidebar-compatibility-notice/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/switch-to-classic-shortcode-button/index.tsx
  plugins/woocommerce-blocks/changelog/42751-update-42072-update-incompatibility-generic-notice
  plugins/woocommerce/changelog/42751-update-42072-update-incompatibility-generic-notice
Labels: focus: cart, focus: checkout, plugin: woocommerce, team: Rubik

#43261 Fix broken link to internal *.md file.
  plugins/woocommerce-blocks/docs/README.md
  plugins/woocommerce/changelog/fix-43246-Store-API-link
Labels: plugin: woocommerce

#43287 [Experimental] Filter blocks: add the navigate function back
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/active-filters/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/attribute-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/rating-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/inner-blocks/stock-filter/frontend.ts
  plugins/woocommerce/changelog/fix-filter-blocks-navigate
Labels: type: bug, plugin: woocommerce, block-type: filter blocks

#43269 Fix commands with tags breaking the command palette
  plugins/woocommerce/changelog/43269-fix-command-palette-commands-with-tags
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: plugin: woocommerce

#42897 Move shopper-side Cart E2E tests to Playwright
  plugins/woocommerce-blocks/tests/e2e-jest/specs/shopper/cart-checkout/cart.test.js
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/products.sh
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/mocks/woo-test-helper/woo-test-helper.php
  plugins/woocommerce/changelog/update-42405-convert-cart-shopping-e2e-tests
Labels: focus: cart, plugin: woocommerce, tools, type: community contribution, team: Rubik, block: cart

#43313 [Experimental] Fix: get the correct min/max price for filtering
  plugins/woocommerce/changelog/fix-min-max-filter-price
  plugins/woocommerce/src/Blocks/QueryFilters.php
Labels: type: bug, plugin: woocommerce, block-type: filter blocks

#43303 Fix highlight tooltip deprecation notices
  plugins/woocommerce-admin/client/activity-panel/highlight-tooltip/index.js
  plugins/woocommerce/changelog/fix-43297_highlight_tooltip
Labels: plugin: woocommerce

#43294 [Experimental] Product Gallery: Use @container rule to adjust overlay link count font size
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce-blocks/changelog/43294-product-gallery-overlay-link-font-size
  plugins/woocommerce/changelog/43294-product-gallery-overlay-link-font-size
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43325 fix - Product Button: don't trigger jQuery add to cart function when the button is clicked on classic themes
  plugins/woocommerce-blocks/tests/e2e/bin/posts/product-collection.html
  plugins/woocommerce-blocks/tests/e2e/tests/product-button/product-button.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-button/product-button.classic_theme.spec.ts
  plugins/woocommerce/changelog/43325-43288-product-collection-block-add-to-cart-adds-two-products-to-the-cart
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart.js
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
Labels: type: bug, plugin: woocommerce, focus: FSE, block: add to cart

#43328 Fix @woocommerce/block-templates changes not being picked up on build
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/fix-wc-block-templates-not-updating-on-build
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce

#43285 Fix CYS updateStorePatters to use the new images endpoint structure
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/changelog/43285-fix-cys-images-endpoint-bug
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Images.php
Labels: plugin: woocommerce

#43088 Support additional fields in the Contact step for Checkout
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/address-form/index.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/address-form/types.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/custom-validation-handler.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/index.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/prepare-form-fields.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/test/index.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/types.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/validate-shipping-country.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/index.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/combobox/index.tsx
  plugins/woocommerce-blocks/assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  plugins/woocommerce-blocks/assets/js/base/utils/address.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/address-card/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-contact-information-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  plugins/woocommerce-blocks/assets/js/data/cart/default-state.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/action-types.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/actions.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/default-state.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/selectors.ts
  plugins/woocommerce-blocks/assets/js/data/validation/selectors.ts
  plugins/woocommerce-blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce-blocks/assets/js/types/type-defs/address-fields.js
  plugins/woocommerce/changelog/add-additional-fields-in-contact-block
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/BillingAddressSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: plugin: woocommerce, category: extensibility, team: Rubik, block: checkout

#43334 Hide sale badge if product image is disabled
  plugins/woocommerce/changelog/43334-fix-on-sale-badge-with-no-image
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractProductGrid.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: on sale products

#43308 Remove usage of PHP 8+ function from bootstrapper
  plugins/woocommerce/changelog/update-legacy-test-bootstrap
  plugins/woocommerce/tests/legacy/bootstrap.php
Labels: plugin: woocommerce, focus: unit tests, team: Proton

#43163 Linked product list empty state
  packages/js/product-editor/changelog/add-42923-empty-state
  packages/js/product-editor/src/blocks/generic/linked-product-list/block.json
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/types.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/product-fields/cross-sells/block.json
  packages/js/product-editor/src/blocks/product-fields/cross-sells/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/cross-sells/index.ts
  packages/js/product-editor/src/blocks/product-fields/cross-sells/types.ts
  packages/js/product-editor/src/blocks/product-fields/upsells/block.json
  packages/js/product-editor/src/blocks/product-fields/upsells/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/upsells/index.ts
  packages/js/product-editor/src/blocks/product-fields/upsells/types.ts
  packages/js/product-editor/src/components/product-list/index.ts
  packages/js/product-editor/src/components/product-list/skeleton/index.ts
  packages/js/product-editor/src/components/product-list/skeleton/skeleton.tsx
  packages/js/product-editor/src/components/product-list/skeleton/style.scss
  packages/js/product-editor/src/components/product-list/styles.scss
  plugins/woocommerce/changelog/add-42923-empty-state
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#43340 add support for custom document and category titles
  docs/docs-manifest.json
  docs/user-experience/notices.md
  tools/monorepo-utils/src/md-docs/lib/generate-frontmatter.ts
  tools/monorepo-utils/src/md-docs/lib/generate-manifest.ts
Labels: focus: documentation, tool: monorepo infrastructure

#43310 Add lint config to blocks to lint imports
  plugins/woocommerce-blocks/.eslintrc.js
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control/types.ts
  plugins/woocommerce/changelog/43310-dev-lint-imports-blocks
Labels: plugin: woocommerce

#43262 [Experimental] Add: notice informing users about the usage of filter blocks
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/components/warning.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/editor.scss
  plugins/woocommerce/changelog/fix-43210-collection-filters-in-post-editor
  plugins/woocommerce/src/Blocks/BlockTypes/CollectionFilters.php
Labels: plugin: woocommerce, block-type: filter blocks

#43218 [Experimental] Add: Filter blocks migration
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/components/downgrade.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/components/upgrade.tsx
  plugins/woocommerce-blocks/assets/js/blocks/collection-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/filter-wrapper/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/filter-wrapper/types.ts
  plugins/woocommerce/changelog/fix-42168-filter-blocks-migration
Labels: plugin: woocommerce, block-type: filter blocks

#43273 Product Collection: Make sure all variations are taken into account when choosing collection
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/index.tsx
  plugins/woocommerce/changelog/add-43214-allow-adding-external-collections
Labels: plugin: woocommerce, category: extensibility, team: Kirigami & Origami, block: product collection

#43283 Update Checkout Fields error reporting to use `_doing_it_wrong` instead of wc logger
  plugins/woocommerce/changelog/43283-update-custom-fields-error-reporting
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
Labels: plugin: woocommerce

#43150 Switch request method of reset install endpoint to POST
  plugins/woocommerce/changelog/43150-update-switch-reset-install-to-post
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/abstract-wc-rest-wccom-site-controller.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
Labels: plugin: woocommerce

#43318 Fix possible duplication in certain HPOS related Tracks events
  plugins/woocommerce/changelog/fix-tracks-orders-search-duplication
  plugins/woocommerce/includes/tracks/events/class-wc-orders-tracking.php
Labels: plugin: woocommerce

#41690 Make OSA fields extendable, simplify naming
  plugins/woocommerce/changelog/feature-order_source_attribution-extendable-fields
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
  plugins/woocommerce/src/Internal/Orders/OrderAttributionBlocksController.php
  plugins/woocommerce/src/Internal/Orders/OrderAttributionController.php
  plugins/woocommerce/src/Internal/Traits/OrderAttributionMeta.php
  plugins/woocommerce/templates/order/attribution-data-fields.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/MetaBoxes/OrderAttributionTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/OrderAttributionControllerTest.php
Labels: plugin: woocommerce, needs: analysis, impact: high

#43364 Update `release/8.5` readme.txt based on blocks merge omissions
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#43344 Try reducing blocks build size
  plugins/woocommerce/.distignore
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/43344-try-build-size-fix
Labels: plugin: woocommerce

#43142 Fix "rm: .git/hooks: No such file or directory" error in `pnpm install` when the directory is missing
  package.json
  plugins/woocommerce/changelog/fix-pnpm-install-git-hooks
Labels: plugin: woocommerce

#43272 [Product Block Editor]: tweak styles and layout of AdviceCard component
  packages/js/product-editor/changelog/update-product-editor-advice-card-tweaks
  packages/js/product-editor/src/components/advice-card/index.tsx
  packages/js/product-editor/src/components/advice-card/style.scss
Labels: focus: new product ux, team: Mothra

#43355 Exclude deleted files from linter check
  plugins/woocommerce/bin/lint-branch.sh
Labels: plugin: woocommerce

#42843 Remove newlines at the start of docs
  docs/extension-development/class-reference.md
  docs/quality-and-best-practices/removing-product-product-category-or-shop-from-the-url.md
Labels: focus: documentation

#43302 [Experimental] Product Gallery block: Rename media setting to "Open pop-up when clicked"
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/block-settings/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/product-gallery.page.ts
  plugins/woocommerce/changelog/43302-refactor-43295-rename-media-setting-full-screen-when-clicked
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product gallery

#40749 Migrate documentation for Webhooks
  docs/webhooks.md
Labels: focus: documentation

#43398 Prep release/8.5 for 8.5 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#43250 Block Hooks API: Abstract Block Hooks code into a separate trait class
  plugins/woocommerce/changelog/43250-update-abstract-mini-cart-block-hook-code
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/Utils/BlockHooksTrait.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: mini-cart, block: customer account

#37893 Remove v1 of plugin installer
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/37893-add-wccom-remove-installer-v1
  plugins/woocommerce/changelog/43150-update-switch-reset-install-to-post
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site-installer-requirements-check.php
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site-installer.php
  plugins/woocommerce/includes/wccom-site/class-wc-wccom-site.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/abstract-wc-rest-wccom-site-controller.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller-v2.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-installer-controller.php
  plugins/woocommerce/includes/wccom-site/rest-api/endpoints/class-wc-rest-wccom-site-ssr-controller.php
Labels: plugin: woocommerce

#43348 [Experimental] Product Gallery Pager: Improve accessibility
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce-blocks/changelog/fix-43306-product-gallery-pager-accessibility
  plugins/woocommerce/changelog/fix-43306-product-gallery-pager-accessibility
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryPager.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43402 Update stable tag to 8.5.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#43365 Update WooPayments task copy
  plugins/woocommerce/changelog/43365-update-43296-woopayments-task-copy
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
Labels: plugin: woocommerce

#43383 [Product Block Editor]: Add new image components
  packages/js/product-editor/changelog/update-product-editor-reorganize-images
  packages/js/product-editor/src/images/glasses/index.tsx
  packages/js/product-editor/src/images/glasses/stories/index.tsx
  packages/js/product-editor/src/images/pants/index.tsx
  packages/js/product-editor/src/images/pants/stories/index.tsx
  packages/js/product-editor/src/images/shirt/index.tsx
  packages/js/product-editor/src/images/shirt/stories/index.tsx
  packages/js/product-editor/src/images/shopping-bugs/index.tsx
  packages/js/product-editor/src/images/shopping-bugs/stories/index.tsx
Labels: focus: new product ux

#43368 CYS - Core: implement 'noAI' flowType
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-color-palette.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce-admin/client/payments-welcome/index.tsx
  plugins/woocommerce-admin/client/utils/is-woo-express.ts
  plugins/woocommerce/changelog/43368-42901-cys-offline-flow-core-ensure-that-jetpack-plugin-isnt-a-required-dependency
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE

#43425 Update stable tag to 8.4.0
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#43427 [Product Block Editor]: improve and tweak AdviceCard component
  packages/js/product-editor/changelog/update-product-editor-advice-card-improvements
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/editor.scss
  packages/js/product-editor/src/components/advice-card/index.tsx
  packages/js/product-editor/src/components/advice-card/stories/index.tsx
  packages/js/product-editor/src/components/advice-card/style.scss
Labels: focus: new product ux, team: Mothra

#43341 Redirect supported product types to the new experience based on the product template associated to it
  packages/js/product-editor/changelog/add-43224
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  plugins/woocommerce/changelog/add-43224
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/RedirectionController.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#43309 Track core profiler individual plugin installation success/failure
  plugins/woocommerce-admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce/changelog/43309-add-track-individual-plugin-installation
  plugins/woocommerce/src/Admin/PluginsInstallLoggers/AsyncPluginsInstallLogger.php
Labels: plugin: woocommerce

#43315 Redirect Woo.com connect request to selected page
  plugins/woocommerce-admin/client/marketplace/components/header-account/header-account.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/connect-account-button.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/add-wc-admin-connect-redirects
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#43354 CYS: fix PHP warnings and pattern button
  plugins/woocommerce/changelog/43354-fix-cys-php-warnings-and-pattern
  plugins/woocommerce/patterns/banner.php
  plugins/woocommerce/src/Blocks/BlockPatterns.php
Labels: plugin: woocommerce

#42979 Logging: Add settings UI to configure the logger
  plugins/woocommerce/changelog/fix-40527-log-settings-ui
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-log-table-list.php
  plugins/woocommerce/includes/class-wc-log-levels.php
  plugins/woocommerce/includes/class-wc-logger.php
  plugins/woocommerce/includes/class-wc-webhook.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/includes/wc-deprecated-functions.php
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/FileController.php
  plugins/woocommerce/src/Internal/Admin/Logging/LogHandlerFileV2.php
  plugins/woocommerce/src/Internal/Admin/Logging/PageController.php
  plugins/woocommerce/src/Internal/Admin/Logging/Settings.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/LoggingServiceProvider.php
  plugins/woocommerce/src/Utilities/LoggingUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/log/log-handler-file.php
  plugins/woocommerce/tests/legacy/unit-tests/log/logger.php
  plugins/woocommerce/tests/legacy/unit-tests/util/class-wc-tests-core-functions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/LogHandlerFileV2Test.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/SettingsTest.php
Labels: release: highlight, plugin: woocommerce, impact: high, focus: logging

#43428 Do not access change_feature_enable() statically. Closes #43175.
  plugins/woocommerce/changelog/43428-fix-43175-fatal-error-features-controller
  plugins/woocommerce/src/Internal/Admin/Marketplace.php
Labels: plugin: woocommerce, type: community contribution, impact: high

#43001 Add Default Fallback Marketing Channel Recommendations
  plugins/woocommerce/assets/images/marketing/automatewoo-personalized-coupons.svg
  plugins/woocommerce/assets/images/marketing/woocommerce-free-gift-coupons.svg
  plugins/woocommerce/assets/images/marketing/woocommerce-group-coupons.svg
  plugins/woocommerce/assets/images/marketing/woocommerce-smart-coupons.svg
  plugins/woocommerce/assets/images/marketing/woocommerce-store-credit.svg
  plugins/woocommerce/assets/images/marketing/woocommerce-url-coupons.svg
  plugins/woocommerce/changelog/add-fallback-marketing-recommendations
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/API/Marketing.php
  plugins/woocommerce/src/Admin/API/MarketingRecommendations.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/DefaultMarketingRecommendations.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/Init.php
  plugins/woocommerce/src/Admin/Features/MarketingRecommendations/MarketingRecommendationsDataSourcePoller.php
  plugins/woocommerce/src/Internal/Admin/Marketing/MarketingSpecs.php
  plugins/woocommerce/tests/php/src/Admin/API/MarketingRecommendationsTest.php
Labels: plugin: woocommerce, focus: marketing

#43392 [Experimental] Add basic e2e test for new filter blocks
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/basic.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce/changelog/add-basic-filter-blocks-e2e-tests
Labels: plugin: woocommerce

#43270 Product Collection: Rename "Inherit query from template" option and make description contextual
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/inherit-query-control.tsx
  plugins/woocommerce/changelog/add-43087-update-copy-of-inherit-query-from-template
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#42965 Introduce a new block style for the Product Details block and set it as default
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-details/edit.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-details/editor.scss
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-details/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/single-product.ts
  plugins/woocommerce/changelog/improve-single-product-details
  plugins/woocommerce/src/Blocks/BlockTypes/ProductDetails.php
  plugins/woocommerce/templates/templates/blockified/single-product.html
Labels: release: highlight, plugin: woocommerce, team: SomewhereWarm, block: product details

#43162 Delete old marketing recommendations transient upon update to WC 8.6.0
  plugins/woocommerce/changelog/remove-old-marketing-transient
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce, focus: marketing

#41836 Force marketing menu items order.
  plugins/woocommerce/changelog/update-force-marketing-menu-items-order
  plugins/woocommerce/src/Internal/Admin/Marketing.php
Labels: plugin: woocommerce, focus: marketing

#43452 Prep release/8.5 for 8.5 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#43448 Fix PHP warning related to logging severity threshold
  plugins/woocommerce/changelog/43448-fix-logging-php-deprecated-warning
  plugins/woocommerce/includes/class-wc-log-levels.php
Labels: plugin: woocommerce, focus: logging

#43274 Add additional information block for custom checkout fields
  plugins/woocommerce-blocks/assets/js/base/context/event-emit/utils.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/attributes.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/component-metadata.ts
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/register-components.ts
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce-blocks/tests/e2e/bin/pages/checkout.html
  plugins/woocommerce/changelog/43274-add-rebase-42081-additional-fields
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/BlockTypes/CheckoutAdditionalInformationBlock.php
Labels: plugin: woocommerce

#43475 Prep release/8.5.0.40 for 8.5.0.41 cycle
  plugins/woocommerce/changelog.txt
  plugins/woocommerce/composer.json
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#43446 Make “Customising Checkout Fields” guide CRUD compatible
  docs/code-snippets/customising-checkout-fields.md
  docs/docs-manifest.json
Labels: focus: documentation

#43056 Shard e2e test execution on CI
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/dev-segement-playwright-tests-for-isolation
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
Labels: plugin: woocommerce, focus: e2e tests, team: Vortex

#43333 Add new E2E tests for Shopper Cart Quantity Limit and Cross Sell Items
  plugins/woocommerce/changelog/e2e-add-test-shopper-cart
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Solaris

#43405 [Product Block Editor]: use AdviceCard empty state sections
  packages/js/product-editor/changelog/update-product-editor-reorganize-images
  packages/js/product-editor/src/blocks/product-fields/product-list/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/editor.scss
  packages/js/product-editor/src/blocks/product-fields/product-list/images/glasses.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/images/index.ts
  packages/js/product-editor/src/blocks/product-fields/product-list/images/pants.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/images/shirt.tsx
Labels: focus: new product ux, team: Mothra

#43471 Add e2e tests to verify Products by Category/Tag/Attribute templates default to Product Catalog template
  plugins/woocommerce-blocks/tests/e2e/tests/templates/products-by-attribute-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/products-by-category-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/products-by-tag-template.block_theme.spec.ts
  plugins/woocommerce/changelog/43471-add-block-templates-e2e-tests-default-product-catalog
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#43057 Migrate merchant local-pickup e2e tests to Playwright
  .gitignore
  plugins/woocommerce-blocks/tests/e2e-jest/specs/merchant/local-pickup.test.ts
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/local-pickup.merchant.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/local-pickup/utils.local-pickup.ts
  plugins/woocommerce/changelog/update-convert-merchant-localpickup-e2e-tests
Labels: plugin: woocommerce, team: Rubik

#43457 [CYS - Core] Update the homepage with default patterns when the assembler is loaded
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/onboarding-tour/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/onboarding-tour/test/index.tsx
  plugins/woocommerce-admin/client/customize-store/data/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/types.ts
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce/changelog/43457-43420-cys-core-update-homepage-with-default-patterns-when-the-assembler-is-loaded
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE

#43504 Limit cookie dedupe logic to only WooCommerce Cart cookies
  plugins/woocommerce/changelog/fix-only-dedub-cookies-with-same-path
  plugins/woocommerce/includes/class-wc-cart-session.php
Labels: type: bug, plugin: woocommerce, focus: inbox, team: Rubik

#43481 [CYS - Core] introduce route guards for the AI flow
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/tests/index.test.tsx
  plugins/woocommerce-admin/client/customize-store/guards.ts
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce/changelog/43481-43453-cys-core-introduce-route-guards-for-the-ai-flow
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE

#43497 Fix product prices not being updated on scheduled sale automatically.
  plugins/woocommerce/changelog/fix-41569
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/wc-product-functions.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-product-test.php
  plugins/woocommerce/tests/php/includes/wc-product-functions-test.php
Labels: plugin: woocommerce

#43421 fix ESLint configuration regarding import path aliases
  plugins/woocommerce-admin/.eslintrc.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/43421-fix-eslint-woocommerce-admin
  pnpm-lock.yaml
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE

#43489 Data: add selector to get related products
  packages/js/data/changelog/update-data-add-selector-to-get-related-products
  packages/js/data/src/crud/selectors.ts
  packages/js/data/src/orders/selectors.ts
  packages/js/data/src/products/resolvers.ts
  packages/js/data/src/products/selectors.ts
  packages/js/data/src/products/types.ts
  packages/js/data/src/types/query-params.ts
Labels: package: @woocommerce/data

#43520 [Product Block Editor]: implement `Choose products for me` button
  packages/js/product-editor/changelog/update-product-editor-add-choose-products-for-me-button
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/editor.scss
  packages/js/product-editor/src/blocks/generic/linked-product-list/index.ts
  packages/js/product-editor/src/blocks/generic/linked-product-list/reducer.ts
  packages/js/product-editor/src/utils/get-related-products/index.ts
Labels: focus: new product ux, team: Mothra

#43506 Fix notice template overwrites
  plugins/woocommerce/changelog/43506-fix-43342-notice-template-overwrites
  plugins/woocommerce/src/Blocks/Domain/Services/Notices.php
  plugins/woocommerce/templates/notices/error.php
  plugins/woocommerce/templates/notices/notice.php
  plugins/woocommerce/templates/notices/success.php
Labels: plugin: woocommerce

#43513 Replace Tooltip on Label and checkbox controls
  packages/js/components/changelog/update-woo-tooltip
  packages/js/components/src/tooltip/style.scss
  packages/js/components/src/tooltip/tooltip.tsx
  packages/js/product-editor/changelog/update-woo-tooltip
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/blocks/generic/section/editor.scss
  packages/js/product-editor/src/components/checkbox-control/checkbox-control.tsx
  packages/js/product-editor/src/components/label/label.tsx
Labels: package: @woocommerce/components

#43487 [Experimental] Product gallery/remove default
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/single-product.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/block.json
  plugins/woocommerce-blocks/changelog/43487-product-gallery-remove-default
  plugins/woocommerce/changelog/43487-product-gallery-remove-default
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43550 Fix Mini-Cart price disappearing on hover
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/component-frontend.tsx
  plugins/woocommerce/changelog/43550-fix-mini-cart-disappearing-price
Labels: plugin: woocommerce, team: Rubik, team: Kirigami & Origami, block: mini-cart

#43546 CYS: fix php warning raise by the Product Collection block
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce/changelog/43546-42865-cys-php-warning-triggered-whenever-a-pattern-with-the-product-collection-block-is-inserted-via-the-assembler
Labels: type: bug, team: Kirigami & Origami, focus: customize-your-store

#43540 [Product Block Editor]: introduce `<SectionActions />` slot
  packages/js/product-editor/changelog/update-product-editor-add-section-actions-component
  packages/js/product-editor/src/blocks/generic/section-description/edit.tsx
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/index.ts
  packages/js/product-editor/src/components/block-slot-fill/block-fill.tsx
  packages/js/product-editor/src/components/block-slot-fill/block-slot.tsx
  packages/js/product-editor/src/components/block-slot-fill/index.ts
  packages/js/product-editor/src/components/block-slot-fill/section-actions/index.tsx
  packages/js/product-editor/src/components/block-slot-fill/types.ts
Labels: focus: new product ux, team: Mothra

#43537 Move e2e HPOS disabled tests to matrix
  .github/workflows/non-cot-pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/dev-move-hpos-e2e-to-matrix
Labels: plugin: woocommerce, focus: e2e tests, team: Vortex

#43384 Product Editor: Load layout templates from the REST API
  packages/js/product-editor/changelog/update-use-use-layout-template
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/editor/types.ts
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-product-template/index.ts
  packages/js/product-editor/src/hooks/use-product-template/test/use-product-template.test.ts
  packages/js/product-editor/src/hooks/use-product-template/use-product-template.ts
  packages/js/product-editor/src/types.ts
  plugins/woocommerce/changelog/update-use-use-layout-template
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: new product ux

#43436 Fix Subscriptions autorenewals column for WooPayments pre-install promo in Settings > Payments
  plugins/woocommerce-admin/changelog/fix-41476-payment-settings-woopayments-promo-subscriptions
  plugins/woocommerce-admin/client/wp-admin-scripts/payment-method-promotions/payment-promotion-row.tsx
  plugins/woocommerce/changelog/fix-41476-payment-settings-woopayments-promo-subscriptions
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPaymentGatewayPreInstallWCPayPromotion.php
Labels: plugin: woocommerce

#43378 [Experimental] Product Gallery block: Prevent page from scrolling when pop-up is open
  plugins/woocommerce-blocks/assets/css/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce/changelog/43378-fix-43343-prevent-page-scrolling-when-pop-up-is-open
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43583 Fix variations initial load
  packages/js/product-editor/changelog/fix-variations_initial_load
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/components/variations-table/use-variations/use-variations.ts
Labels: focus: new product ux, team: Mothra

#43422 Remove Variable product template from the product template list
  packages/js/product-editor/changelog/add-43225
  plugins/woocommerce/changelog/add-43225
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/RedirectionController.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#43641 Use GMT date when fetching cancellation orders.
  plugins/woocommerce/changelog/fix-43593
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#43573 clarify comment in maybe_sync_order
  plugins/woocommerce/changelog/43573-update-comment-maybe-sync-order
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: plugin: woocommerce

#43548 Product Collection: add E2E tests to Editor filters - by tag and by stock status
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/products.sh
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/42284-product-collection-add-e2e-tests-which-require-fixture-data
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#43547 Add "No AI" banner image and center banner content
  plugins/woocommerce-admin/client/customize-store/assets/images/intro-banner-no-ai.svg
  plugins/woocommerce-admin/client/customize-store/intro/intro.scss
  plugins/woocommerce/changelog/43547-43480-update-intro-screen
Labels: plugin: woocommerce

#43555 [Product Block Editor]: relocate block actions in the sections area
  packages/js/product-editor/changelog/update-product-editor-download-button-to-sections-actions
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/editor.scss
  packages/js/product-editor/src/blocks/generic/section/edit.tsx
  packages/js/product-editor/src/blocks/generic/section/editor.scss
  packages/js/product-editor/src/blocks/product-fields/attributes/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/attributes/index.ts
  packages/js/product-editor/src/blocks/product-fields/downloads/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/editor.scss
  packages/js/product-editor/src/blocks/product-fields/downloads/index.ts
  packages/js/product-editor/src/blocks/product-fields/images/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/images/editor.scss
  packages/js/product-editor/src/blocks/product-fields/images/index.ts
  packages/js/product-editor/src/blocks/product-fields/product-list/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-list/editor.scss
  packages/js/product-editor/src/components/attribute-control/attribute-control.tsx
  packages/js/product-editor/src/components/attribute-control/test/attribute-field.spec.tsx
Labels: focus: new product ux, team: Mothra

#40007 Doc: Migrate "Working with WooCommerce Admin Pages"
  docs/extension-development/working-with-woocommerce-admin-pages.md
Labels: focus: documentation

#43564 Improve the validation process when changing the product type
  plugins/woocommerce/changelog/add-43280
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#43164 Show feedback prompt only once
  packages/js/customer-effort-score/changelog/fix-show-feedback-prompt-only-once
  packages/js/customer-effort-score/src/components/customer-effort-score-tracks/index.js
Labels: package: @woocommerce/customer-effort-score, team: Mothra

#43518 [e2e tests] Add new spec for remove product tests
  plugins/woocommerce/changelog/e2e-add-remove-product-test
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-delete.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#43671 Update stable tag to 8.5.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#43668 Create docs contributor guide category + content
  docs/contributing-docs/README.md
  docs/contributing-docs/contributing-docs.md
  docs/contributing-docs/style-guide.md
  docs/docs-manifest.json
Labels: focus: documentation, team: Developer Advocacy

#43612 [Experimental] Product Gallery: Update div elements to ul/li for better accessibility
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce-blocks/changelog/fix-43304-product-gallery-block-accessibility
  plugins/woocommerce/changelog/fix-43304-product-gallery-block-accessibility
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImage.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43672 Change HPOS and non HPOS e2e tests to use 5 shards each
  .github/workflows/non-cot-pr-build-and-e2e-tests.yml
  .github/workflows/pr-build-and-e2e-tests.yml
  plugins/woocommerce/changelog/dev-change-sharding-to-5-each
Labels: plugin: woocommerce, team: Vortex

#43379 [Experimental] Handle adding attributes during fields registration
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce-blocks/packages/components/checkbox-control/index.tsx
  plugins/woocommerce/changelog/43379-add-custom-fields-attributes
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
Labels: plugin: woocommerce

#43419 [e2e tests] New test that checks a customer can comment on a post
  plugins/woocommerce/changelog/e2e-add-shopper-wp-comment-test
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Vortex

#43675 Rename "Contributing" category + tag files
  docs/contributing/CSS-SASS-coding-guidelines-and-naming-conventions.md
  docs/contributing/README.md
  docs/contributing/api-critical-flows.md
  docs/contributing/common-issues.md
  docs/contributing/deciding-pr-high-impact.md
  docs/contributing/deprecation-in-core.md
  docs/contributing/minification-of-SCSS-and-JS.md
  docs/contributing/naming-conventions.md
  docs/contributing/reporting-security-issues.md
  docs/contributing/string-localisation-guidelines.md
  docs/docs-manifest.json
Labels: focus: documentation, team: Developer Advocacy

#43549 Migrate mini cart tests
  plugins/woocommerce-blocks/tests/e2e-jest/specs/shopper/mini-cart.test.js
  plugins/woocommerce-blocks/tests/e2e/bin/pages/mini-cart.html
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/parallel/pages.sh
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/parallel/translations.sh
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/utils.ts
  plugins/woocommerce-blocks/tests/e2e/tests/price-filter/price-filter.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce/changelog/43549-update-42029-migrate-mini-cart-tests
Labels: plugin: woocommerce

#43464 Improve the selector determining the products are loaded in Product Collection tests
  plugins/woocommerce-blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/test-42038-make-product-collection-e2e-tests-more-robust
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#43551 Update copy for CYS intro screen sidebar
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce/changelog/43551-43482-update-intro-screen-copy
Labels: plugin: woocommerce

#43435 [Experimental] Add custom validation hooks for additional checkout fields
  plugins/woocommerce-blocks/assets/js/data/utils/process-error-response.ts
  plugins/woocommerce/changelog/43435-add-custom-fields-validation
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CheckoutSchema.php
Labels: plugin: woocommerce

#43584 [Product Block Editor]: fallback with random products when no related products
  packages/js/product-editor/changelog/update-product-editor-choose-random-products
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/utils/get-related-products/Readme.md
  packages/js/product-editor/src/utils/get-related-products/index.ts
Labels: focus: new product ux, team: Mothra

#43662 [Product Block Editor]: exclude the current product from the suggested ones to use in the Linked Product tab
  packages/js/product-editor/changelog/update-product-editor-remove-current-from-products-list
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
Labels: focus: new product ux, team: Mothra

#43656 [Product Block Editor]: add loading for the `Choose products for me` button
  packages/js/product-editor/changelog/update-roduct-editor-add-choose-buttton-loading-state
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/section/editor.scss
Labels: focus: new product ux, team: Mothra

#43575 add post tags support to docs manifest generator
  docs/docs-manifest.json
  docs/getting-started/developer-resources.md
  docs/getting-started/developer-tools.md
  docs/getting-started/development-environment.md
  tools/monorepo-utils/src/md-docs/lib/generate-frontmatter.ts
Labels: status: blocked, focus: documentation, tool: monorepo infrastructure

#43473 Product Collection: add E2E tests to Editor filters - by featured products, by created date, by price range
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/test-43393-e2e-tests-product-collection-filters
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#43543 Rework UX guidelines to be in distinct folders and files
  docs/user-experience/README.md
  docs/user-experience/payments-design-guidelines.md
  docs/ux-guidelines-extensions/README.md
  docs/ux-guidelines-extensions/accessibility.md
  docs/ux-guidelines-extensions/best-practices.md
  docs/ux-guidelines-extensions/colors.md
  docs/ux-guidelines-extensions/navigation.md
  docs/ux-guidelines-extensions/notices.md
  docs/ux-guidelines-extensions/onboarding.md
  docs/ux-guidelines-extensions/settings.md
  docs/ux-guidelines-extensions/task-list-and-inbox.md
  docs/ux-guidelines-extensions/testing.md
  docs/ux-guidelines-payments/README.md
  docs/ux-guidelines-payments/payment-button-layout.md
  docs/ux-guidelines-payments/payment-button-size.md
  docs/ux-guidelines-payments/payment-button-style.md
  docs/ux-guidelines-payments/payments-onboarding.md
  docs/ux-guidelines-product-editor/README.md
  docs/ux-guidelines-product-editor/product-editor-examples.md
  docs/ux-guidelines-product-editor/product-editor-form-custom-product-types.md
  docs/ux-guidelines-product-editor/product-editor-form-dialogue-extensions.md
  docs/ux-guidelines-product-editor/product-editor-form-fields.md
  docs/ux-guidelines-product-editor/product-editor-form-groups.md
  docs/ux-guidelines-product-editor/product-editor-form-sections.md
  docs/ux-guidelines-product-editor/product-editor-form-subsections.md
  docs/ux-guidelines-product-editor/product-editor-form-top-bar.md
  docs/ux-guidelines-themes/README.md
  docs/ux-guidelines-themes/theme-accessibility.md
  docs/ux-guidelines-themes/theme-branding.md
  docs/ux-guidelines-themes/theme-customization.md
  docs/ux-guidelines-themes/theme-demos-and-sample-content.md
  docs/ux-guidelines-themes/theme-design.md
Labels: focus: documentation, team: Developer Advocacy

#43586 Product Gallery block: Remove the experimental flag from the Product Gallery block
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/product-image-gallery/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image-next-previous/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-pager/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/index.tsx
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce/changelog/43586-chore-42095-remove-experimental-flag-from-product-gallery-block
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#43514 Update payment partners 2024 q1
  plugins/woocommerce/assets/images/onboarding/airwallex.png
  plugins/woocommerce/assets/images/payment_methods/72x72/airwallex.png
  plugins/woocommerce/changelog/43514-update-payment-partners-2024-q1
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce

#43698 [Product Block Editor]: show three products by default in the Linked Products tab
  packages/js/product-editor/changelog/update-product-editor-default-products-number-in-linked-products-page
  packages/js/product-editor/src/utils/get-related-products/index.ts
Labels: focus: new product ux, team: Mothra
