Repository woocommerce/woocommerce, pull requests merged in 2024-10, with the labels that each got.

#51804 [dev] CI: drop baseline caching in perfromance metrics job
  .github/workflows/ci.yml
  .github/workflows/scripts/run-metrics.sh
  plugins/woocommerce/changelog/update-49550-perfromance-job-no-caching
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51664 Add core feature for site visibility badge
  plugins/woocommerce/changelog/add-badge-feature
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonAdminBarBadge.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#51807 [dev] CI: fix git checkout error in perfromance metrics job
  .github/workflows/scripts/run-metrics.sh
Labels: focus: monorepo infrastructure

#51779 Ensure Product Collection filter names are consistently capitalized
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/stock-status-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/taxonomy-controls/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/51779-product-collection-standardize-names
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#43433 WooCommerce Asset Build Aliases
  plugins/woocommerce/changelog/43433-add-plugin-component-build-aliases
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51676 Product Collection: fix price range posts clauses
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-product-collection-price-range-posts-clauses
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51642 [Experimental] Reliability fixes for new filter blocks
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/clear-button/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/utils.ts
  plugins/woocommerce/changelog/fix-product-filters-interactivity-api-various-fixes
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterActive.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterCheckboxList.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterChips.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#50341 Fix: show correct attribute and price filter data on the category/tag template
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/price-filter/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/price-filter/test/use-price-constraints.jsx
  plugins/woocommerce-blocks/assets/js/blocks/price-filter/use-price-constraints.ts
  plugins/woocommerce/changelog/50341-issue-42616-fix-price-filter-category-issue
  plugins/woocommerce/src/Blocks/BlockTypes/AttributeFilter.php
  plugins/woocommerce/src/Blocks/BlockTypes/PriceFilter.php
Labels: plugin: woocommerce, type: community contribution

#51842 [blocks e2e tests] Increase the shards number to 10
  plugins/woocommerce/changelog/ci-update-shards-for-blocks-e2e
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51845 [dev] CI: skip linting and testing jobs when merging changelog deletion PRs into trunk
  .github/workflows/ci.yml
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/index.ts
  tools/monorepo-utils/src/ci-jobs/lib/file-changes.ts
Labels: focus: monorepo infrastructure

#51847 [dev] Fix for an error introduced in #51845
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#51424 [e2e] External - Expand WPCOM suite, part 4
  plugins/woocommerce/changelog/51424-e2e-external-expand-wpcom-suite-part4
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-create-simple.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51848 [dev] CI: fix changed files ownership identification when building CI-jobs matrix
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/lib/file-changes.ts
Labels: focus: monorepo infrastructure

#51773 Replace __experimentalGetGlobalBlocksByName with stable getBlocksByName
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce/changelog/51773-product-collection-replace-experimental
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51740 Add Notice generic block for the new product editor
  packages/js/product-editor/changelog/add-notice-block
  packages/js/product-editor/src/blocks/generic/notice/README.md
  packages/js/product-editor/src/blocks/generic/notice/block.json
  packages/js/product-editor/src/blocks/generic/notice/edit.tsx
  packages/js/product-editor/src/blocks/generic/notice/index.ts
  packages/js/product-editor/src/blocks/generic/notice/types.ts
  packages/js/product-editor/src/blocks/index.ts
  plugins/woocommerce/changelog/add-notice-block
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
Labels: plugin: woocommerce

#51790 Add order by sales filter option to product collection
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce/changelog/51790-product-collection-add-sales-ordering
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51846 Add Products by Brand template label
  plugins/woocommerce/changelog/fix-product-brands-template-strings
  plugins/woocommerce/includes/class-wc-brands.php
Labels: focus: template, plugin: woocommerce, focus: brands

#51735 Add a retry mechanism to obtain the lock for inserting products through the API
  plugins/woocommerce/changelog/51735-51412-fix-sku-under-processing-error
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
Labels: plugin: woocommerce

#51870 Prep release/9.4 for 9.4 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#51694 Deprecate All Report classes & packages
  plugins/woocommerce/changelog/tweak-deprecate-reports-classes
  plugins/woocommerce/includes/admin/class-wc-admin-reports.php
  plugins/woocommerce/includes/admin/reports/class-wc-admin-report.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-coupon-usage.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-customer-list.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-customers.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-downloads.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-low-in-stock.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-most-stocked.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-out-of-stock.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-sales-by-category.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-sales-by-date.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-sales-by-product.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-stock.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-taxes-by-code.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-taxes-by-date.php
  plugins/woocommerce/includes/admin/views/html-admin-page-reports.php
  plugins/woocommerce/includes/admin/views/html-report-by-date.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/reports/class-wc-tests-admin-report.php
Labels: plugin: woocommerce

#51695 Deprecate report hooks 2
  plugins/woocommerce/includes/admin/class-wc-admin-reports.php
  plugins/woocommerce/includes/admin/views/html-admin-page-reports.php
Labels: plugin: woocommerce

#51857 [e2e] External - Consolidate `playwright.config.js` for WPCOM
  plugins/woocommerce/changelog/51857-e2e-external-consolidate-wpcom-config
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests

#51871 Add a retry on the setup test environment step
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#51733 Remove Product Collection wrapping div
  plugins/woocommerce/changelog/fix-product-collection-wrapping-div
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51672 Add order attribution install banner in core analytics overview
  plugins/woocommerce-admin/client/dashboard/index.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/index.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/order-attribution-install-banner-image.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/order-attribution-install-banner.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/style.scss
  plugins/woocommerce-admin/client/order-attribution-install-banner/use-order-attribution-install-banner.js
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, team: Ventures

#51814 [ci-jobs] Add support for beta and RC WordPress versions
  plugins/woocommerce/changelog/ci-jobs-expand-wp-version-offers
  plugins/woocommerce/package.json
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/lib/__tests__/test-environment.spec.ts
  tools/monorepo-utils/src/ci-jobs/lib/job-processing.ts
  tools/monorepo-utils/src/ci-jobs/lib/test-environment.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51876 [dev] CI: revisit ci-workflow skip strategy.
  .github/workflows/ci.yml
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/index.ts
  tools/monorepo-utils/src/ci-jobs/lib/file-changes.ts
Labels: focus: monorepo infrastructure

#51881 [dev] CI: update performance metrics job
  .github/workflows/scripts/run-metrics.sh
Labels: focus: monorepo infrastructure

#51739 Add BFCM promo
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/marketing/coupons/index.js
  plugins/woocommerce-admin/client/marketing/overview-multichannel/MarketingOverviewMultichannel.tsx
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/promo-card/images/percent.tsx
  plugins/woocommerce-admin/client/marketplace/components/promo-card/promo-card.scss
  plugins/woocommerce-admin/client/marketplace/components/promo-card/promo-card.tsx
  plugins/woocommerce-admin/client/marketplace/components/promotions/promotions.tsx
  plugins/woocommerce-admin/client/marketplace/components/promotions/types.ts
  plugins/woocommerce-admin/client/marketplace/stylesheets/_variables.scss
  plugins/woocommerce/changelog/add-wccom-21814-bfcm-promo
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-marketplace-promotions.php
Labels: plugin: woocommerce

#51598 Fix wrong type passed to `add_meta_boxes` action
  plugins/woocommerce/changelog/fix-41579
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: release: highlight, plugin: woocommerce, type: community contribution

#51897 Fix product collection flaky sales filter option
  plugins/woocommerce/changelog/51897-product-collection-fix-flaky-sales-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51675 Add the Cost of Goods Sold related code and REST APIs for the product class
  plugins/woocommerce/changelog/pr-51675
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/class-wc-product-variation.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variation-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/CostOfGoodsSold/CogsAwareRestControllerTrait.php
  plugins/woocommerce/src/Internal/CostOfGoodsSold/CogsAwareTrait.php
  plugins/woocommerce/src/Internal/CostOfGoodsSold/CogsAwareUnitTestSuiteTrait.php
  plugins/woocommerce/src/Internal/CostOfGoodsSold/CostOfGoodsSoldController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/CostOfGoodsSoldServiceProvider.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-product-test.php
  plugins/woocommerce/tests/php/includes/class-wc-product-variation-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-data-store-cpt-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-variations-data-store-cpt-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#51654 Replace Congratulations view Buttons with Links
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/test/index.test.tsx
  plugins/woocommerce/changelog/51654-51575-replaced-button-with-link
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/transitional.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#51916 Fix clearing search input in In-App Marketplace
  plugins/woocommerce-admin/client/marketplace/components/search/search.tsx
  plugins/woocommerce/changelog/51916-fix-marketplace-clear-search
Labels: plugin: woocommerce

#51865 Product Collection: Remove best selling filter option
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce/changelog/51865-product-collections-remove-best-selling-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51889 Skip flaky tests for now
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-template-part.block_theme.spec.ts
  plugins/woocommerce/changelog/51889-product-filters-skip-overlay-tests
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#51852 Delayed Account Creation Test Coverage
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/password-strength-meter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/order-confirmation.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/billing-address/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/form.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/test/frontend-block.test.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/shipping-address/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/constants.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/themes/theme-with-woo-templates/block-templates/order-confirmation.html
  plugins/woocommerce/changelog/51852-add-create-account-block-test-coverage
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/CreateAccount.php
  plugins/woocommerce/templates/templates/blockified/order-confirmation.html
  plugins/woocommerce/templates/templates/order-confirmation.html
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#51945 Update locators for QIT compatibility
  plugins/woocommerce/changelog/e2e-fix-unblock-qit-submission
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-create-simple.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51468 New CFE workflow GitHub template
  .github/ISSUE_TEMPLATE/new-cfe-template.yml
Labels: focus: monorepo infrastructure

#51182 New CFE workflow - Generate changelog during build step
  .github/ISSUE_TEMPLATE/new-cfe-template.yml
  .github/workflows/new-cfe-cherry-pick.yml
  .github/workflows/new-cfe-notifications.yml
  .github/workflows/new-cfe-pre-build-compile-changelog-file.yml
  .github/workflows/release-code-freeze.yml
  plugins/woocommerce/changelog/create-changelog-during-build
  tools/monorepo-utils/src/code-freeze/commands/changelog/lib/index.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51802 Cache block pattern data
  plugins/woocommerce/changelog/update-cache-block-pattern-data
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/tests/php/src/Blocks/BlockPatterns/BlockPatterns.php
  plugins/woocommerce/tests/php/src/Blocks/BlockPatterns/patterns/mock-footer.php
  plugins/woocommerce/tests/php/src/Blocks/BlockPatterns/patterns/mock-header.php
Labels: plugin: woocommerce

#51958 [e2e tests] Fix broken gloabal-teardown with WP 6.7-beta1
  plugins/woocommerce/changelog/e2e-fix-global-teardown-wp6.7.beta1
  plugins/woocommerce/tests/e2e-pw/global-teardown.js
Labels: plugin: woocommerce, focus: e2e tests

#51965 Update block checkout tests and product creation tests for WP 6.7 compatibility
  plugins/woocommerce/changelog/e2e-test-updates-for-wp67-compatibility
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-create-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#51979 Fix media queries for iOS Simulator in in-app marketplace
  plugins/woocommerce-admin/client/marketplace/components/header/header.scss
  plugins/woocommerce-admin/client/marketplace/components/search/search.scss
  plugins/woocommerce-admin/client/marketplace/components/tabs/tabs.scss
  plugins/woocommerce/changelog/51979-update-wccom-21880-marketplace-media-queries
Labels: plugin: woocommerce

#48876 Add to Cart with Options: Add Stepper option
  plugins/woocommerce-blocks/assets/js/atomic/blocks/index.js
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart-form/edit.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart-form/editor.scss
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/add-to-cart-form/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/settings.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/style.scss
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce/changelog/48876-42299-improve-styling-for-quantity-selector-and-variation-single-product-template-2
  plugins/woocommerce/package.json
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Kirigami & Origami

#51995 [dev] Monorepo: improve changelogger prompts in CI.
  tools/monorepo/check-changelogger-use.php
Labels: focus: monorepo infrastructure

#51998 [dev] Monorepo: monorepo-utils webpack config housekeeping.
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/webpack.config.js
Labels: focus: monorepo infrastructure

#51947 Fix Analytics Dashboard rendering for malformed preferences
  plugins/woocommerce/changelog/fix-51844-dashboard_sections
  plugins/woocommerce/client/admin/client/dashboard/customizable.js
  plugins/woocommerce/client/admin/client/dashboard/default-sections.js
Labels: plugin: woocommerce

#51810 Checkout: validate empty cart state before placing an order.
  plugins/woocommerce/changelog/51810-bugfix-47967
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
Labels: plugin: woocommerce

#50183 [Accessibility] Announce to screen readers when the variations have been cleared
  plugins/woocommerce/changelog/fix-43611-product-variation-clear-button
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/templates/single-product/add-to-cart/variable.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-variable.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#51912 Fix `Error: Failed opening required '.../wp-content/plugins/woocommerce/src/StoreApi/Schemas/V1/AI/ProductsSchema.php` fatal error
  plugins/woocommerce/changelog/51912-fix-rest-api-fatal
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/opt-in/opt-in.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce/client/admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/client/admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce/client/admin/client/customize-store/intro/services.ts
  plugins/woocommerce/src/Admin/API/AI/Products.php
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/Patterns.php
  plugins/woocommerce/src/Admin/API/Products.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Middleware.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Products.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Products.php
  plugins/woocommerce/src/StoreApi/RoutesController.php
  plugins/woocommerce/src/StoreApi/SchemaController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AI/ProductsSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/PatternsSchema.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/php/src/Admin/API/PatternsTest.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Patterns.php
Labels: plugin: woocommerce, focus: e2e tests

#51725 Improve Twenty Twenty-Five theme compatibility for cart and checkout
  plugins/woocommerce-blocks/assets/js/base/components/select/style.scss
  plugins/woocommerce-blocks/packages/components/text-input/style.scss
  plugins/woocommerce/changelog/51725-dev-tt25-theme-compatibility
Labels: plugin: woocommerce

#51993 [dev] Monorepo: relax webpack TypeScript errors (turn into warnings)
  .syncpackrc
  packages/js/internal-style-build/index.js
  packages/js/internal-style-build/package.json
  plugins/woocommerce/changelog/dev-relax-webpack-ts-errors
  plugins/woocommerce/client/admin/package.json
  plugins/woocommerce/client/admin/webpack.config.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#40254 Check for empty value in get_order_id_by_order_key()
  plugins/woocommerce/changelog/40254-patch-1
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
Labels: plugin: woocommerce, type: community contribution

#51973 Create HPOS tables if they do not exist when enabling compatibility mode
  plugins/woocommerce/changelog/51973-fix-51940-hpos-enable-no-table
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#52023 Fix `Error: Failed opening required '.../wp-content/plugins/woocommerce/src/StoreApi/Schemas/V1/AI/ProductsSchema.php` fatal error (WC 9.4)
  plugins/woocommerce-admin/client/customize-store/assembler-hub/opt-in/opt-in.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce/changelog/51912-fix-rest-api-fatal
  plugins/woocommerce/src/Admin/API/AI/Products.php
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/Admin/API/Patterns.php
  plugins/woocommerce/src/Admin/API/Products.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Middleware.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/Products.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Products.php
  plugins/woocommerce/src/StoreApi/RoutesController.php
  plugins/woocommerce/src/StoreApi/SchemaController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AI/ProductsSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/PatternsSchema.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/php/src/Admin/API/PatternsTest.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Patterns.php
Labels: plugin: woocommerce, focus: e2e tests

#51988 Product Editor: Alignment of SKU and GTIN fields is off
  packages/js/product-editor/changelog/fix-50571
  packages/js/product-editor/src/components/label/style.scss
Labels: type: bug, focus: new product ux, team: Kirigami & Origami

#51987 New Product Editor: For Grouped Products, the pricing fields are displaying even though they shouldn't
  plugins/woocommerce/changelog/fix-51308
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: type: bug, priority: high, plugin: woocommerce, focus: new product ux, team: Kirigami & Origami

#52029 Fix core profiler extensions page from selecting activated plugins
  plugins/woocommerce/changelog/fix-51764-activated-plugins-remove-click
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins.tsx
Labels: plugin: woocommerce

#52028 Fix products base incorrectly matching pages with the same prefix
  plugins/woocommerce/changelog/fix-51535-products-base-incorrectly-matching-pages
  plugins/woocommerce/src/Admin/WCAdminHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/wc-admin-helper.php
Labels: plugin: woocommerce

#52054 [dev] CI: liverage composer packages cache in pr-lint-monorepo workflow
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/workflows/pr-lint-monorepo.yml
  packages/js/admin-e2e-tests/changelog/dev-ci-lint-monorepo-job-update
  packages/js/admin-e2e-tests/package.json
  packages/js/admin-layout/changelog/dev-ci-lint-monorepo-job-update
  packages/js/admin-layout/package.json
  packages/js/ai/changelog/dev-ci-lint-monorepo-job-update
  packages/js/ai/package.json
  packages/js/api/changelog/dev-ci-lint-monorepo-job-update
  packages/js/api/package.json
  packages/js/block-templates/changelog/dev-ci-lint-monorepo-job-update
  packages/js/block-templates/package.json
  packages/js/components/changelog/dev-ci-lint-monorepo-job-update
  packages/js/components/package.json
  packages/js/create-product-editor-block/changelog/dev-ci-lint-monorepo-job-update
  packages/js/create-product-editor-block/package.json
  packages/js/create-woo-extension/changelog/dev-ci-lint-monorepo-job-update
  packages/js/create-woo-extension/package.json
  packages/js/csv-export/changelog/dev-ci-lint-monorepo-job-update
  packages/js/csv-export/package.json
  packages/js/currency/changelog/dev-ci-lint-monorepo-job-update
  packages/js/currency/package.json
  packages/js/customer-effort-score/changelog/dev-ci-lint-monorepo-job-update
  packages/js/customer-effort-score/package.json
  packages/js/data/changelog/dev-ci-lint-monorepo-job-update
  packages/js/data/package.json
  packages/js/date/changelog/dev-ci-lint-monorepo-job-update
  packages/js/date/package.json
  packages/js/dependency-extraction-webpack-plugin/changelog/dev-ci-lint-monorepo-job-update
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/eslint-plugin/changelog/dev-ci-lint-monorepo-job-update
  packages/js/eslint-plugin/package.json
  packages/js/experimental/changelog/dev-ci-lint-monorepo-job-update
  packages/js/experimental/package.json
  packages/js/explat/changelog/dev-ci-lint-monorepo-job-update
  packages/js/explat/package.json
  packages/js/expression-evaluation/changelog/dev-ci-lint-monorepo-job-update
  packages/js/expression-evaluation/package.json
  packages/js/extend-cart-checkout-block/changelog/dev-ci-lint-monorepo-job-update
  packages/js/extend-cart-checkout-block/package.json
  packages/js/integrate-plugin/changelog/dev-ci-lint-monorepo-job-update
  packages/js/integrate-plugin/package.json
  packages/js/internal-js-tests/changelog/dev-ci-lint-monorepo-job-update
  packages/js/internal-js-tests/package.json
  packages/js/navigation/changelog/dev-ci-lint-monorepo-job-update
  packages/js/navigation/package.json
  packages/js/notices/changelog/dev-ci-lint-monorepo-job-update
  packages/js/notices/package.json
  packages/js/number/changelog/dev-ci-lint-monorepo-job-update
  packages/js/number/package.json
  packages/js/onboarding/changelog/dev-ci-lint-monorepo-job-update
  packages/js/onboarding/package.json
  packages/js/product-editor/changelog/dev-ci-lint-monorepo-job-update
  packages/js/product-editor/package.json
  packages/js/remote-logging/changelog/dev-ci-lint-monorepo-job-update
  packages/js/remote-logging/package.json
  packages/js/tracks/changelog/dev-ci-lint-monorepo-job-update
  packages/js/tracks/package.json
  packages/php/remote-specs-validation/changelog/dev-ci-lint-monorepo-job-update
  packages/php/remote-specs-validation/package.json
Labels: package: @woocommerce/api, focus: monorepo infrastructure, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, package: @woocommerce/csv-export, package: @woocommerce/currency, package: @woocommerce/customer-effort-score, package: @woocommerce/data, package: @woocommerce/date, package: dependency-extraction-webpack-plugin, package: @woocommerce/eslint-plugin, package: @woocommerce/experimental, package: @woocommerce/explat, package: @woocommerce/navigation, package: @woocommerce/number, package: @woocommerce/onboarding, package: @woocommerce/tracks

#52039 Product Collection: Fix JS error when client-side nav is disabled
  plugins/woocommerce/changelog/fix-52038
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#51954 Limit loading product block editor to admin pages and rest requests
  plugins/woocommerce/changelog/update-51953
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: focus: performance

#52058 [dev] CI: re-specify pr-lint-markdown workflow changes filters
  .github/workflows/pr-lint-markdown.yml
  .github/workflows/pr-lint-monorepo.yml
Labels: focus: monorepo infrastructure

#52052 Update the `.distignore` file to exclude the ./client/admin folder from zip
  plugins/woocommerce/.distignore
  plugins/woocommerce/changelog/52052-dev-exclude-react-admin-from-zip
Labels: plugin: woocommerce

#52062 [dev] CI: re-specify pr-highlight-changes workflow changes filters
  .github/workflows/pr-highlight-changes.yml
  tools/code-analyzer/src/lib/template-changes.ts
Labels: focus: monorepo infrastructure

#52041 [Experimental] Product filters/remove template parts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/overlay-navigation/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters-overlay/product-filters-overlay-template-part.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters-template-part.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/assets/images/blocks/product-filters-overlay/overlay-drawer-fullscreen.svg
  plugins/woocommerce/assets/images/blocks/product-filters-overlay/overlay-drawer-left.svg
  plugins/woocommerce/assets/images/blocks/product-filters-overlay/overlay-drawer-right.svg
  plugins/woocommerce/changelog/52041-product-filters-remove-template-parts
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFiltersOverlayNavigation.php
  plugins/woocommerce/src/Blocks/Templates/ProductFiltersOverlayTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductFiltersTemplate.php
  plugins/woocommerce/src/Blocks/Utils/BlockTemplateUtils.php
  plugins/woocommerce/templates/parts/product-filters-overlay.html
  plugins/woocommerce/templates/parts/product-filters.html
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#52055 Prevent early translation loading
  plugins/woocommerce/changelog/51843-fix-l10n-too-early
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Patterns/PatternRegistry.php
Labels: plugin: woocommerce, type: community contribution

#52096 Update makepot-audit include path: Replace 'client' with 'assets
  plugins/woocommerce/changelog/52096-dev-fix-makepot-include-path
  plugins/woocommerce/composer.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#52065 Fix fatal when OrdersTableMetaQuery::generate_where_for_clause_value() didn't return a string
  plugins/woocommerce/changelog/fix-52064-orderstablemetaquery-generate_where_for_clause_value-fatal
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableMetaQuery.php
Labels: plugin: woocommerce, type: fatal

#51948 Add/cart link in checkout header 44837
  plugins/woocommerce-blocks/assets/js/blocks/cart-link/block.json
  plugins/woocommerce-blocks/assets/js/blocks/cart-link/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-link/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart-link/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/quantity-badge/index.tsx
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce/changelog/add-cart-link-in-checkout-header-44837
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header/sidebar-navigation-screen-header.tsx
  plugins/woocommerce/patterns/header-distraction-free.php
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/BlockTypes/CartLink.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/src/Blocks/Utils/MiniCartUtils.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
Labels: focus: checkout, plugin: woocommerce, focus: e2e tests

#52094 Fix Navigation removal release timing to 9.5
  plugins/woocommerce/src/Admin/Features/Navigation/CoreMenu.php
  plugins/woocommerce/src/Admin/Features/Navigation/Favorites.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Admin/Features/Navigation/Menu.php
  plugins/woocommerce/src/Admin/Features/Navigation/Screen.php
Labels: plugin: woocommerce

#52093 Hide platform selector text cursor
  plugins/woocommerce/changelog/fix-hide-platform-selector-text-cursor
  plugins/woocommerce/client/admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce/client/admin/client/core-profiler/components/multiple-selector/multiple-selector.tsx
Labels: plugin: woocommerce

#52095 Update core profiler redirect to jetpack screen logic
  plugins/woocommerce/changelog/update-redirect-to-jetpack-screen-logic
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
Labels: plugin: woocommerce

#51778 Add new email for notifying customers when an order fails
  plugins/woocommerce/changelog/51778-add-failed-order-email-for-customers
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-failed-order.php
  plugins/woocommerce/templates/emails/customer-failed-order.php
  plugins/woocommerce/templates/emails/plain/customer-failed-order.php
Labels: focus: email, plugin: woocommerce

#52088 Remove "banner" layout option from inbox note
  packages/js/experimental/changelog/update-remove-banner-layout-from-inbox-note
  packages/js/experimental/src/inbox-note/test/inbox-note.tsx
  plugins/woocommerce-beta-tester/changelog/update-remove-banner-layout-from-inbox-note
  plugins/woocommerce-beta-tester/src/admin-notes/add-note.js
  plugins/woocommerce/changelog/update-remove-banner-layout-from-inbox-note
  plugins/woocommerce/src/Admin/Notes/Note.php
Labels: plugin: woocommerce, plugin: woocommerce beta tester, package: @woocommerce/experimental

#51316 Fix: Multiple issues related to MySQL having ANSI_QUOTES enabled in Product Filters
  plugins/woocommerce/changelog/51316-fix-51216-filter-by-stock-block-fails-with-ansi_quotes-enabled-database
  plugins/woocommerce/src/Blocks/QueryFilters.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQuery.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQueryFilters.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: filter by stock

#52073 Add sizes attribute to Product gallery thumbnail images to better load the appropriate resolution
  plugins/woocommerce/changelog/fix-52071-thumbnail-images-sizes
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
  plugins/woocommerce/includes/wc-template-functions.php
Labels: focus: performance, plugin: woocommerce, team: Kirigami & Origami, block: product image gallery

#52030 Base payment settings page UI
  plugins/woocommerce/changelog/52030-add-51443-base-payment-settings-page-ui
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-methods.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
Labels: plugin: woocommerce, focus: settings

#51908 Add order attribution install banner in analytics overview's header
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/index.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/order-attribution-install-banner.js
  plugins/woocommerce-admin/client/order-attribution-install-banner/style.scss
  plugins/woocommerce-admin/client/order-attribution-install-banner/use-order-attribution-install-banner.js
Labels: team: Ventures

#52149 Add tool to reset "Launch your store" and coming soon mode changes
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/tools/reset-launch-your-store.php
  plugins/woocommerce-beta-tester/changelog/add-reset-lys-tool
  plugins/woocommerce-beta-tester/src/tools/commands/index.js
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
Labels: plugin: woocommerce beta tester

#52127 Fix ExtendStore Task Not Marked as Completed Upon Navigating Back to Home
  plugins/woocommerce/changelog/fix-extend-store-task-is-not-marked-completed
  plugins/woocommerce/client/admin/client/task-lists/components/task-list-item.tsx
  plugins/woocommerce/client/admin/client/task-lists/components/test/task-list-item.test.tsx
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/setup-task-list.tsx
Labels: plugin: woocommerce

#52181 Prepare 2.5.0 Beta Tester Release
  plugins/woocommerce-beta-tester/changelog.txt
  plugins/woocommerce-beta-tester/changelog/50372-48150-move-patterns-endpoint
  plugins/woocommerce-beta-tester/changelog/50467-add-beta-tester-wcpay-test-order
  plugins/woocommerce-beta-tester/changelog/50508-fix-beta-tester-build-deps
  plugins/woocommerce-beta-tester/changelog/50518-fix-beta-tester-build
  plugins/woocommerce-beta-tester/changelog/50568-update-wp-env
  plugins/woocommerce-beta-tester/changelog/50654-add-beta-tester-wccom-endpoints-mods
  plugins/woocommerce-beta-tester/changelog/50828-dev-constrain-pnpm-version
  plugins/woocommerce-beta-tester/changelog/add-beta-tester-tool-fake-wcpay
  plugins/woocommerce-beta-tester/changelog/add-reset-lys-tool
  plugins/woocommerce-beta-tester/changelog/dev-beta-tester-prepare-release-2-4-0
  plugins/woocommerce-beta-tester/changelog/dev-beta-tester-wccom-base-url-tool
  plugins/woocommerce-beta-tester/changelog/dev-consolidate-syncpack-config
  plugins/woocommerce-beta-tester/changelog/dev-prepare-beta-tester-release-2-5-0
  plugins/woocommerce-beta-tester/changelog/dev-simulate-error-before-wp-loaded
  plugins/woocommerce-beta-tester/changelog/enhance-reduce-remote-logging-noise
  plugins/woocommerce-beta-tester/changelog/fix-remote-logging-tool-cache
  plugins/woocommerce-beta-tester/changelog/update-deprecate-banner-layout
  plugins/woocommerce-beta-tester/changelog/update-move-woo-version-check
  plugins/woocommerce-beta-tester/changelog/update-remove-banner-layout-from-inbox-note
  plugins/woocommerce-beta-tester/changelog/update-woo-pay-task
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/composer.lock
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#52146 Remove options to re-enable setup task list after completion
  plugins/woocommerce/changelog/update-remove-reenable-setup-tasklist-option
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/components/task-list-completed-header.tsx
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/components/task-list-completed.tsx
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/setup-task-list.tsx
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingHelper.php
Labels: plugin: woocommerce

#52051 Run `wc_update_950_add_brands_enabled_option` on WC 9.5 update
  plugins/woocommerce/changelog/52051-update-enable-brands-to-5pct
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#52118 Do not show product card footer for Business Services products
  plugins/woocommerce/changelog/52118-update-wccom-21882-product-card-for-business-services
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.tsx
Labels: plugin: woocommerce, focus: react marketplace, team: Desire

#52063 Fix notices caused by legacy fee dynamic properties
  plugins/woocommerce/changelog/fix-52024-legacy-fees
  plugins/woocommerce/includes/class-wc-order-item-fee.php
Labels: focus: checkout, plugin: woocommerce

#51971 fix: ValidatedTextInput attribute
  plugins/woocommerce-blocks/packages/components/text-input/test/validated-text-input.tsx
  plugins/woocommerce-blocks/packages/components/text-input/validated-text-input.tsx
  plugins/woocommerce/changelog/51971-fix-block-validated-input-aria-errormessage-attribute
Labels: plugin: woocommerce

#52172 [CYS - Core] Unit Test: Add test for the util function to install fonts on the JS side
  plugins/woocommerce/changelog/test-44590
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/utils/tests/fonts.test.ts
  plugins/woocommerce/client/admin/client/customize-store/design-without-ai/fonts.ts
Labels: plugin: woocommerce, focus: unit tests, team: Kirigami & Origami, focus: customize-your-store

#51878 fix: dark theme support for "change address" cart button
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/style.scss
  plugins/woocommerce/changelog/51878-fix-change-address-cart-dark-theme-support
Labels: focus: cart, plugin: woocommerce

#52166 Revert #51598
  plugins/woocommerce/changelog/fix-41579
  plugins/woocommerce/changelog/revert-51598-meta-box-hooks
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: plugin: woocommerce

#52196 Prep release/9.4 for 9.4 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#51701 Update/storybook commands to use wireit
  .github/workflows/storybook-pages.yml
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/update-storybook-commands-to-use-wireit
  pnpm-lock.yaml
  tools/storybook/.storybook/main.js
  tools/storybook/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Kirigami & Origami

#51853 Adapt receipt to take into account order status
  plugins/woocommerce/changelog/51853-51813-add-order-failed-receipt
  plugins/woocommerce/src/Internal/ReceiptRendering/ReceiptRenderingEngine.php
  plugins/woocommerce/src/Internal/ReceiptRendering/Templates/order-receipt.php
Labels: plugin: woocommerce

#51730 Fix: Upsells collection not showing correct products on frontend
  plugins/woocommerce/changelog/51730-fix-upsells-collection-issue
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#50493 [Accessibility] Add screen reader text to the gallery trigger link and update it to a…
  plugins/woocommerce/changelog/fix-43574-gallery-trigger-link-to-button
  plugins/woocommerce/client/legacy/css/_mixins.scss
  plugins/woocommerce/client/legacy/css/twenty-nineteen.scss
  plugins/woocommerce/client/legacy/css/twenty-seventeen.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
Labels: plugin: woocommerce, type: community contribution

#52057 Product Collection: Support registering product collection that isn't displayed in Collection Chooser
  docs/docs-manifest.json
  docs/product-collection-block/register-product-collection.md
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/best-sellers.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/featured.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/hand-picked.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/new-arrivals.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/on-sale.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/related.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/top-rated.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/upsells.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/collection-chooser.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/toolbar-controls/index.tsx
  plugins/woocommerce-blocks/tests/e2e/plugins/register-product-collection.js
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/register-product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/52057-add-50762-product-collection-support-registering-product-collection-that-isnt-displayed-in-inserter
Labels: type: task, focus: documentation, plugin: woocommerce, category: extensibility, focus: FSE, block: product collection

#52126 [Accessibility] Associate the shipping calculator button to its form in Cart page
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/calculator-button.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/shipping-placeholder.tsx
  plugins/woocommerce/changelog/fix-51898
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/templates/cart/shipping-calculator.php
Labels: plugin: woocommerce, type: community contribution, team: Rubik

#52187 Store API: Fix case sensitive coupon email validation
  plugins/woocommerce/changelog/fix-50329-store-api-email-restrictions-case
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, focus: store api

#52042 CYS: remove GO_BACK_TO_HOME state
  plugins/woocommerce/changelog/fix-51867
  plugins/woocommerce/client/admin/client/customize-store/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/transitional/test/index.test.tsx
Labels: focus: accessibility, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#51662 Fix `Add To Cart form` layout in the post editor
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/edit.tsx
  plugins/woocommerce/changelog/51662-45369-single-product-block-quantity-input-isnt-rendered-properly-in-the-editor
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#52182 Fix LYS Whats Next actions
  plugins/woocommerce/changelog/fix-not-show-mailchimp-if-already-installed
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/launch-store-success/WhatsNext.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/launch-store-success/test/WahtsNext.tsx
Labels: plugin: woocommerce

#52204 Fix "Finish setup" icon remains if tasks are disabled without being completed
  plugins/woocommerce/changelog/fix-finish-setup-icon-display-logic
  plugins/woocommerce/client/admin/client/activity-panel/activity-panel.js
Labels: plugin: woocommerce

#52201 Fix mobile app modal UI
  plugins/woocommerce/changelog/fix-mobile-app-modal-ui
  plugins/woocommerce/client/admin/client/homescreen/mobile-app-modal/index.tsx
  plugins/woocommerce/client/admin/client/homescreen/mobile-app-modal/layouts/ModalIllustrationLayout.tsx
  plugins/woocommerce/client/admin/client/homescreen/mobile-app-modal/style.scss
Labels: plugin: woocommerce

#52206 Fix RTL CSS on the installation wizard
  plugins/woocommerce/changelog/fix-core-profiler-rtl-css
  plugins/woocommerce/client/admin/client/core-profiler/components/choice/choice.scss
Labels: plugin: woocommerce

#51996 fix: storybook product editor webpack path
  plugins/woocommerce/changelog/51996-fix-storybook-after-admin-merge
  plugins/woocommerce/client/admin/webpack.config.js
Labels: plugin: woocommerce

#51714 Stock Filter: Update block to the new structure
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/chips/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/components/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/stock-filter/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce/changelog/51638-update-stock-filter-block-to-the-new-structure
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStockStatus.php
Labels: plugin: woocommerce, block: filter by stock

#52200 Change cache control to max-age=60 for coming soon pages
  plugins/woocommerce/changelog/update-change-cache-control-to-60s-for-coming-soon-pages
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#52102 [dev] CI: refine pr-lint-monorepo workflow filters (take 2)
  .github/workflows/pr-lint-monorepo.yml
  changelog/39948-patch-4
  changelog/43571-migrated-template-structure-documentation
  changelog/e2e-fix-allure-upload-input
  changelog/e2e-update-locator-in-allows-customer-to-place-order-test
  changelog/pr-36705
Labels: focus: monorepo infrastructure

#52186 Product Collection: Fix "Products to show" inspector control not showing as expected on Cart template
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/linked-product-control.tsx
  plugins/woocommerce/changelog/52186-fix-52171
Labels: type: bug, plugin: woocommerce, focus: FSE, block: product collection

#52056 [WC Tracker]: Track brands count
  plugins/woocommerce/changelog/52056-add-brands-count-tracking
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce

#52207 Hide All Products from inserter (soft-deprecation)
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/products/all-products/block.json
  plugins/woocommerce/changelog/update-43410-hide-all-products
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, block: all products, block: product collection

#52221 Add "Manual (menu order)" sorting option to Product Collection block
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/order-by-control.tsx
  plugins/woocommerce/changelog/52221-add-49529-product-collection-manual-sorting-option
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, focus: FSE, block: product collection

#52252 Improve stability of core profiler extensions e2e tests
  plugins/woocommerce/changelog/fix-e2e-test-core-profiler
  plugins/woocommerce/client/admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#52254 [dev] CI: reduce number of wp-env startup crashes (take 2)
  .github/workflows/ci.yml
  .syncpackrc
  bin/patches/@wordpress__env@10.10.0.patch
  package.json
  plugins/woo-ai/changelog/dev-solve-wpenv-startup-failures-in-ci-take-2
  plugins/woo-ai/package.json
  plugins/woocommerce-beta-tester/changelog/dev-solve-wpenv-startup-failures-in-ci-take-2
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-solve-wpenv-startup-failures-in-ci-take-2
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/compare-perf/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, plugin: woocommerce beta tester, plugin: woo-ai

#51885 Checkout: Fix default customer location and geolocation so only allowed countries get selected
  plugins/woocommerce/changelog/fix-51402-geolocation-validity
  plugins/woocommerce/includes/class-wc-geolocation.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/customer/crud.php
  plugins/woocommerce/tests/php/includes/wc-core-functions-test.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#51910 Avoid duplicate custom classnames
  plugins/woocommerce/changelog/51910-51883-globalstep-test-extra-class-additional-css-classes-is-displayed-on-frontend-for-the-product-image-block
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
  plugins/woocommerce/src/Blocks/BlockTypes/Breadcrumbs.php
  plugins/woocommerce/src/Blocks/BlockTypes/CatalogSorting.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductAverageRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryPager.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/StoreNotices.php
Labels: plugin: woocommerce, focus: blocks

#52242 Fix upside down tooltip in variations table
  packages/js/product-editor/changelog/fix-52237_upside_down_tooltip
  packages/js/product-editor/src/components/variations-table/styles.scss
Labels: focus: new product ux, team: Kirigami & Origami

#52195 Prevent PHP `doing_it_wrong` warnings in extend-cart-checkout-block package
  packages/js/extend-cart-checkout-block/$slug.php.mustache
  packages/js/extend-cart-checkout-block/changelog/fix-enqueue-styles-extend-cart-checkout-block
  packages/js/extend-cart-checkout-block/index.js
Labels: type: task, category: extensibility, package: @woocommerce/extend-cart-checkout-block, team: Rubik

#47194 Track skip guided setup click
  plugins/woocommerce/changelog/47180-track-for-skip-guided-setup
  plugins/woocommerce/client/admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce/client/admin/client/core-profiler/events.tsx
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/test/intro-opt-in.test.tsx
Labels: plugin: woocommerce

#52124 Fix product count display on mini cart first render
  plugins/woocommerce/changelog/fix-mini-cart-button-setting
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce

#52244 Set a fixed color to Select2 dropdown options
  plugins/woocommerce/changelog/fix-52243
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
Labels: type: bug, focus: checkout, plugin: woocommerce

#52219 Cart Data Store: Use createReduxStore and fix type warnings
  plugins/woocommerce-blocks/assets/js/data/cart/actions.ts
  plugins/woocommerce-blocks/assets/js/data/cart/index.ts
  plugins/woocommerce-blocks/assets/js/data/cart/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce-blocks/assets/js/data/shared-controls.ts
  plugins/woocommerce/changelog/52219-updated-createReduxStore-cart-data-store
Labels: type: refactor, focus: cart, plugin: woocommerce

#52193 Add To Cart Form: hide stepper when product is sold individually
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce/changelog/52193-fix-hide-stepper-when-product-is-sold-individually
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#52260 CYS: Remove unnecessary 'as' prop from SiteHub component
  plugins/woocommerce/changelog/fix-as-prop-site-hub
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce/client/admin/client/customize-store/assembler-hub/site-hub.tsx
  plugins/woocommerce/client/admin/client/customize-store/intro/index.tsx
  plugins/woocommerce/client/admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/components/launch-store-hub.tsx
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#52284 [dev] Monorepo: revert pr-lint-monorepo workflow filters to previous state.
  .github/workflows/pr-lint-monorepo.yml
Labels: focus: monorepo infrastructure

#52210 Experimental: Prevent diffing error using key for each router region of Chips and Checkbox List
  plugins/woocommerce/changelog/fix-checkbox-list-chip-diffing-error
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterCheckboxList.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterChips.php
Labels: plugin: woocommerce

#50697 Fix: use correct wrapper class for product grids
  plugins/woocommerce/changelog/fix-48298-css-class-abstractproductgrid
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractProductGrid.php
Labels: plugin: woocommerce

#52010 [Accessibility] Add focus indicator to select and text inputs on Cart/Checkout block pages
  plugins/woocommerce-blocks/assets/js/base/components/select/style.scss
  plugins/woocommerce-blocks/packages/components/text-input/style.scss
  plugins/woocommerce/changelog/fix-51838
Labels: plugin: woocommerce, type: community contribution

#50054 Fix return type of WP_Background_Process::dispatch
  plugins/woocommerce/includes/libraries/wp-background-process.php
Labels: plugin: woocommerce, type: community contribution

#52287 [dev] Monorepo: revert pr-lint-monorepo workflow filters to previous state.
  .github/workflows/pr-lint-monorepo.yml
Labels: focus: monorepo infrastructure

#52105 Add support for SalePrice in JSON-LD schema for structured data
  plugins/woocommerce/changelog/52105-feature-51997-add-sale-price
  plugins/woocommerce/includes/class-wc-structured-data.php
Labels: plugin: woocommerce, type: community contribution

#52230 Fix block theming doc links
  docs/docs-manifest.json
  docs/theme-development/image-sizes.md
  docs/theme-development/set-up-a-child-theme.md
  docs/theme-development/template-structure.md
  plugins/woocommerce-blocks/docs/README.md
  plugins/woocommerce/changelog/fix-theming-docs-links
  plugins/woocommerce/templates/templates/blockified/README.md
Labels: focus: documentation, plugin: woocommerce

#52285 Add experimental-blocks flag to live branches userscript
  plugins/woocommerce-beta-tester/changelog/add-experimental-blocks-flag-to-live-branch-userscript
  plugins/woocommerce-beta-tester/userscripts/wc-live-branches.user.js
Labels: plugin: woocommerce beta tester

#52070 Use method title or gateway title in Checkout compatiblity notice
  plugins/woocommerce/changelog/52070-fix-use-method-title-or-gateway-title-in-checkout-notice
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, block: checkout

#52214 add delayed account creation to WC_Tracker snapshot
  plugins/woocommerce/changelog/52214-add-tracking-for-account-creation-flow
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#52235 Fix Upsells and Cross-Sells selection changes depending on block position
  plugins/woocommerce/changelog/fix-52170_upsells_selection_changes_depending_on_block_position
  plugins/woocommerce/src/Blocks/BlockTypes/ProductQuery.php
  plugins/woocommerce/src/Blocks/BlockTypes/RelatedProducts.php
Labels: type: bug, priority: high, plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#52076 [Experimental] Product Filters Redesign > Status filter block: Rename Stock Status Filter to Status Filter
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/chips/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/preview.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/save.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/types.ts
  plugins/woocommerce-blocks/assets/js/icons/index.js
  plugins/woocommerce-blocks/assets/js/icons/library/product-filter-status.tsx
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/tests/e2e/content-templates/template_archive-product_stock-status.handlebars
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/active-filter-frontend.block_theme.spec.ts
  plugins/woocommerce/changelog/52076-refactor-51859-rename-stock-filter-to-status-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#52304 Update e2e tests to be compatible with WP 6.7
  plugins/woocommerce/changelog/e2e-update-tests-to-match-wp-6-7-changes
  plugins/woocommerce/tests/e2e-pw/tests/admin-marketing/coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49189 Enable cart item images filtering, fixes #42259
  plugins/woocommerce/changelog/49189-patch-1
  plugins/woocommerce/src/StoreApi/Schemas/V1/CartItemSchema.php
Labels: plugin: woocommerce, type: community contribution

#52258 Product Collection: Add "order" reference to Upsells and Cross-sells
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/cross-sells.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/upsells.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/linked-product-control.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-picker.block_theme.spec.ts
  plugins/woocommerce/changelog/52258-add-52019-product-collection-add-order-and-cart-reference-to-product-related-collections
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, focus: FSE, block: product collection

#52040 [Accessibility] Make coupon code errors announced by screen readers
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-coupon-form/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-coupon-form/block.tsx
  plugins/woocommerce/changelog/fix-51891
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#52270 Fix additional fields docs
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/docs-manifest.json
Labels: focus: documentation

#52199 Early translation mitigation
  plugins/woocommerce/changelog/fix-early-translation-mitigation
  plugins/woocommerce/includes/class-woocommerce.php
Labels: plugin: woocommerce

#52351 Update readme.txt, fix WP CLI link.
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#52290 Fix "Coming soon" bar styles are missing in several themes
  plugins/woocommerce/changelog/fix-coming-soon-banner-style
  plugins/woocommerce/client/legacy/css/coming-soon.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#52365 fix: removed siteground cache buster
  plugins/woocommerce/changelog/fix-remove-siteground-cache-buster
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonCacheInvalidator.php
Labels: plugin: woocommerce

#52281 Prevent synchronous WCCOM API calls in admin pages
  plugins/woocommerce/changelog/update-prevent-synchronous-api-calls-admin-pages
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
  plugins/woocommerce/src/Admin/Features/Onboarding.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/Onboarding.php
  plugins/woocommerce/src/Internal/Admin/Onboarding/OnboardingThemes.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/Init.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/class-wc-tests-onboarding.php
Labels: plugin: woocommerce

#51760 Adjust copy and show the address in the updated warning message.
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/test/shipping-placeholder.tsx
  plugins/woocommerce/changelog/51760-dev-shipping-calc-updates-50556
Labels: needs: design, plugin: woocommerce

#52325 Product Collection: add "Products" suffix to couple of collections
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/featured.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/hand-picked.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/on-sale.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/top-rated.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/collections.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/add-rename-collections
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product collection
