Repository woocommerce/woocommerce, pull requests merged in 2024-03, with the labels that each got.

#45235 WC Admin: Ensure `is_super_admin` REST field contains the correct value
  plugins/woocommerce/changelog/fix-42893-super-admin
  plugins/woocommerce/src/Internal/Admin/WCAdminUser.php
Labels: focus: rest api, plugin: woocommerce

#45241 Prep release/8.7 for 8.7 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#45229 Explicitly clear out customers before testing
  .github/workflows/smoke-test-pr-merge.yml
  plugins/woocommerce/changelog/fix-customer-test-pr-merge
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#45239 Revert " Temporarily commented out failing date package test due to the February 29th issue"
  packages/js/date/changelog/fix-date-test
  packages/js/date/src/test/index.ts
Labels: package: @woocommerce/date

#45248 Add new E2E test to existing test case for mini cart customization
  plugins/woocommerce/changelog/e2e-add-mini-cart-customization
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#45231 Add launch_your_store feature flag
  plugins/woocommerce/changelog/45231-add-45217-lys-add-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce

#43011 Fix for product meta lookup table incorrectly marking a product as onsale Closes #43008
  plugins/woocommerce/changelog/43011-patch-1
  plugins/woocommerce/includes/wc-product-functions.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#45261 Fix failing customer list test
  plugins/woocommerce/changelog/fix-customer-list-blank
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#45208 Fix a typo in the SKU of sample products
  plugins/woocommerce/changelog/45208-dev-fix-typo-sample-data
  plugins/woocommerce/sample-data/experimental_fashion_sample_9_products.csv
Labels: plugin: woocommerce

#45158 Update example plugin in Activity Notes docs to correct further issues
  plugins/woocommerce-admin/docs/examples/activity-panel-inbox.md
  plugins/woocommerce/changelog/update-activity-panel-inbox-md
Labels: plugin: woocommerce

#44669 [HPOS CLI] Allow `--re-migrate` to be used even when `--verbose` is not set
  plugins/woocommerce/changelog/fix-41248
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#45216 Fix intro CYS logo and site title
  plugins/woocommerce-admin/client/customize-store/assembler-hub/site-hub.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/45216-fix-cys-intro-css
Labels: plugin: woocommerce

#44711 Modify product header
  packages/js/product-editor/changelog/dev-44656_create_title_bar
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/style.scss
  packages/js/product-editor/src/components/header/types.ts
Labels: focus: new product ux, team: Mothra

#45232 Prevent fresh_site option from being set to 0 after WooCommerce installation
  plugins/woocommerce/changelog/45232-update-45219-disable-fresh_site_deletion
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Admin/WCAdminHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/wc-admin-helper.php
Labels: plugin: woocommerce

#45249 Restore "No shipping options were found" message in cart-shipping template.
  plugins/woocommerce/changelog/fix-missing-shipping-notices
  plugins/woocommerce/templates/cart/cart-shipping.php
Labels: type: bug, plugin: woocommerce

#44940 Add menu item to publish button with 'Move to trash'
  packages/js/product-editor/changelog/add-43047
  packages/js/product-editor/src/components/button-with-dropdown-menu/index.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/types.ts
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/index.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/types.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/publish-button/utils/index.ts
  packages/js/product-editor/src/components/header/publish-button/utils/show-success-notice.ts
  packages/js/product-editor/src/components/prepublish-panel/schedule-section/schedule-section.tsx
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-product-manager/index.ts
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
  packages/js/product-editor/src/hooks/use-product-scheduled/use-product-scheduled.ts
Labels: focus: new product ux, team: Mothra

#44870 Update build first extension doc
  docs/docs-manifest.json
  docs/extension-development/building-your-first-extension.md
Labels: focus: documentation

#45264 Update README.md developer blog url
  README.md
Labels: type: community contribution

#45256 More block package cleanup
  plugins/woocommerce-blocks/.gitignore
  plugins/woocommerce-blocks/.nvmrc
  plugins/woocommerce/changelog/dev-blocks-package-housekeeping
Labels: plugin: woocommerce, focus: housekeeping

#45255 Fix activeThemeHasMods undefined error
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen.tsx
  plugins/woocommerce-admin/client/customize-store/design-with-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce/changelog/45255-45221-cys-core-cannot-read-properties-of-undefined-reading-activethemehasmods
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45270 Add "launch your store" task
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/index.ts
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-headers/launch-your-store.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-list-completed-header.scss
  plugins/woocommerce-admin/client/task-lists/setup-task-list/style.scss
  plugins/woocommerce/assets/images/task_list/launch-your-store-illustration.svg
  plugins/woocommerce/changelog/add-launch-your-store-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/LaunchYourStore.php
Labels: plugin: woocommerce

#45276 [Experimental] Fix: regression introduced in #44757 that breaks the inspector settings of the new attribute filter block
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/components/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce/changelog/followup-44757
Labels: plugin: woocommerce, block: filter by attribute

#45296 [CYS on Core] Display the theme switch modal only if the current active theme is not TT4
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce/changelog/45296-45281-cys-on-core-identify-if-the-current-active-tt4-theme-has-been-already-modified-by-the-user
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45288 [CYS on Core] Ensure the user is directed to the in app marketplace whenever clicking on 'Browse all themes'
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce/changelog/45288-45284-cys-on-core-ensure-the-user-is-directed-to-the-in-app-marketplace-whenever-clicking-on-browse-all-themes
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#45309 Update changelog.txt to remove 7.2.0 and 7.2.1 duplicate entries
  changelog.txt
Labels: team: Solaris, focus: release

#45252 Fix styling for select in Site Editor
  plugins/woocommerce-blocks/assets/js/base/components/combobox/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/country-input/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/state-input/style.scss
  plugins/woocommerce/changelog/45252-fix-select-styling-in-editor
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#45244 Add Post-purchase note field to the Inventory tab
  plugins/woocommerce/changelog/add-41740
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45316 Update accessibility.md
  docs/docs-manifest.json
  docs/ux-guidelines-extensions/accessibility.md
Labels: focus: documentation

#45325 Prep release/8.7 for 8.7 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#45323 Docs fix ux guidelines
  docs/docs-manifest.json
  docs/ux-guidelines-themes/theme-accessibility.md
Labels: focus: documentation

#44625 Removed Product Collection Unique ID
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/44625-remove-collection-block-id
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure, team: Kirigami & Origami, focus: FSE, block: product collection

#45304 [Experimental] Fix: add an unique id to each list item to prevent diffing issue
  plugins/woocommerce/changelog/fix-45300
  plugins/woocommerce/src/Blocks/InteractivityComponents/CheckboxList.php
Labels: plugin: woocommerce

#44907 Hide unnecessary order attribution details
  plugins/woocommerce/changelog/tweak-hide-unnecesary-order-attribution-details
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/OrderAttribution.php
Labels: plugin: woocommerce, team: Ventures, focus: order attribution

#45324 Revert "[e2e tests blocks] Configure the number of shards for each ma…
  .github/workflows/blocks-playwright.yml
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/45324-fix-e2e-test
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45327 Product Filter - Price (Beta) block: Fix Filter is not applied when using the numeric inputs
  plugins/woocommerce/changelog/45327-fix-45228-filter-is-not-applied-when-using-the-numeric-inputs
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks, block: filter by price

#45258 Filter blocks: Add block preview
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block.json
  plugins/woocommerce/changelog/45258-feat-44748-add-block-previews-to-filter-blocks
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#45197 Price Filter: Fix styling issue when Inline input fields is enabled
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/components/price-slider.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/style.scss
  plugins/woocommerce/changelog/45197-fix-44755-price-filter-styling-issue-when-inline-input-fields-is-enabled
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: filter by price

#45359 Product Collection: Added `featured` PHPUnit Tests
  plugins/woocommerce/changelog/45359-add-featured-collection-tests
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, block: product collection

#45349 Adjust the WC_Admin_Notices to support multisite setups
  plugins/woocommerce/changelog/pr-45349
  plugins/woocommerce/includes/admin/class-wc-admin-notices.php
Labels: plugin: woocommerce

#44892 Allow extensions in Add Products task
  plugins/woocommerce-admin/client/task-lists/fills/products/constants.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/test/utils.ts
  plugins/woocommerce-admin/client/task-lists/fills/products/use-product-types-list-items.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/utils.tsx
  plugins/woocommerce/changelog/44892-dakota-product-types-extensibility
Labels: plugin: woocommerce, focus: setup checklist, team: SomewhereWarm

#45375 Blocks E2E: Do not report slow tests
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/45375-tweak-disable-report-slow-tests
Labels: plugin: woocommerce

#44864 Add message after publishing a product to pre-publish panel
  packages/js/product-editor/changelog/add-44474_post_publishing_message
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/prepublish-panel/post-publish/index.ts
  packages/js/product-editor/src/components/prepublish-panel/post-publish/post-publish-section.tsx
  packages/js/product-editor/src/components/prepublish-panel/post-publish/post-publish-title.tsx
  packages/js/product-editor/src/components/prepublish-panel/post-publish/types.ts
  packages/js/product-editor/src/components/prepublish-panel/prepublish-panel.tsx
  packages/js/product-editor/src/components/prepublish-panel/style.scss
  packages/js/product-editor/src/hooks/use-product-url.ts
Labels: focus: new product ux, team: Mothra

#45382 Blocks E2E: Allow manually triggering the workflow
  .github/workflows/blocks-playwright.yml
  plugins/woocommerce/changelog/tweak-blocks-e2e-allow-manual-trigger
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45381 Blocks E2E: Be more descriptive with the workflow titles
  .github/workflows/blocks-playwright.yml
  plugins/woocommerce/changelog/tweak-blocks-e2e-workflow
Labels: plugin: woocommerce, tool: monorepo infrastructure

#44901 Add simple products to the Analytics orders query for the attributes filter
  plugins/woocommerce/changelog/fix-32237_orders_simple_products
  plugins/woocommerce/src/Admin/API/Reports/DataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-orders.php
Labels: plugin: woocommerce, team: Mothra

#45384 [CYS on core] Set the default width after logo update
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-logo.tsx
  plugins/woocommerce/changelog/45384-45379-update-logo-width
Labels: plugin: woocommerce

#45385 [CYS] Improve logic to ensure that the font is active
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/variation-container.jsx
  plugins/woocommerce/changelog/45385-45380-cys-on-core-whenever-the-rubikinter-font-pairing-is-selected-it-also-highlights-interinter
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45260 Add workflow with cron for testing against WP nightly
  .github/workflows/nightly-tests.yml
Labels: tool: monorepo infrastructure

#45326 Enhanced `pnpm clean`
  package.json
  pnpm-lock.yaml
Labels: tool: monorepo infrastructure

#45391 Blocks E2E: Make the workflow self-trigger
  .github/workflows/blocks-playwright.yml
Labels: tool: monorepo infrastructure

#45330 Prevent backup post from being deleted when HPOS is authoritative
  plugins/woocommerce/changelog/fix-42746
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce

#45402 Add Launch Your Store settings section
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/launch-your-store/settings-slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/style.scss
  plugins/woocommerce-admin/client/settings/settings-slots.js
  plugins/woocommerce/changelog/45402-add-45107-lys-settings-screen-page
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-general-test.php
Labels: plugin: woocommerce

#45371 Unskip Mini Cart i18n test
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/parallel/translations.sh
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/mini-cart/mini-cart-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce/changelog/try-45346-fix-failing-mini-cart-i18n-tests
Labels: plugin: woocommerce

#45355 Product Collection: Set initial value of Created filter for New Arrivals collection
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/collections/new-arrivals.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/add-product-collection-new-arrivals-7-days-default
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#45399 CYS: fix Undefined array key queryId warning
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce/changelog/45399-45398-cys-warning-undefined-array-key-queryid
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#45306 Add default values for Launch your store task
  plugins/woocommerce/changelog/add-lys-default-values
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Admin/API/Options.php
  plugins/woocommerce/tests/php/includes/class-woocommerce-test.php
Labels: plugin: woocommerce

#45405 [Minor] Fix docblock/typo
  plugins/woocommerce/changelog/fix-31946-get-inactive-plugins-docblock
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php
Labels: plugin: woocommerce

#45411 CYS: improve font installation with the async job
  plugins/woocommerce/changelog/45411-improve-font_installation_async
  plugins/woocommerce/src/Internal/Font/FontFace.php
Labels: type: refactor, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45414 [CYS] Show the default header and footers as the first option
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header.tsx
  plugins/woocommerce/changelog/45414-45383-selected-footer-header-first
Labels: plugin: woocommerce

#44670 [HPOS CLI] Flush in-memory cache after each batch in migration
  plugins/woocommerce/changelog/fix-33348
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#44856 Add the plugin install engine
  plugins/woocommerce/changelog/pr-44856
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/UtilsClassesServiceProvider.php
  plugins/woocommerce/src/Internal/Utilities/PluginInstaller.php
Labels: plugin: woocommerce

#44799 changed filter by attribute filter options order
  plugins/woocommerce-blocks/assets/js/blocks/attribute-filter/edit.tsx
  plugins/woocommerce/changelog/44799-update-change-filter-by-attribute-filter-options-order
Labels: plugin: woocommerce, type: community contribution

#45403 [Experimental] Product Filter: Price (Beta) block: Prevent invalid price range selection in Product Filter Price block
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce/changelog/45403-fix-45361-invalid-price-range-selection-in-product-filter-price-block
Labels: type: bug, team: Kirigami & Origami, block-type: filter blocks

#45445 Add callback URL domain to auth screen
  plugins/woocommerce/changelog/update-auth-screen-add-callback-domain
  plugins/woocommerce/includes/class-wc-auth.php
  plugins/woocommerce/templates/auth/form-grant-access.php
Labels: plugin: woocommerce

#39635 Update/default payments gateways recommendations
  plugins/woocommerce/changelog/update-default-payments-gateways-recommendations
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce

#45305 [Experimental] Fix minor issues of new filter blocks
  plugins/woocommerce/changelog/fix-product-filter-minor-fixes
  plugins/woocommerce/src/Blocks/InteractivityComponents/Dropdown.php
  plugins/woocommerce/src/Blocks/QueryFilters.php
Labels: plugin: woocommerce, block-type: filter blocks

#33681 Add product archive header template and re-hook
  plugins/woocommerce/changelog/2023-10-24-08-52-26-105513
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/includes/wc-template-hooks.php
  plugins/woocommerce/templates/archive-product.php
  plugins/woocommerce/templates/loop/header.php
Labels: focus: classic front end, plugin: woocommerce, type: community contribution

#45444 [CYS] Fix the Opt-in modal buttons and checkbox styles
  plugins/woocommerce-admin/client/customize-store/style.scss
  plugins/woocommerce/changelog/45444-fix-optin-modal-styles
Labels: plugin: woocommerce

#45397 Close prepublish panel before creating new product
  packages/js/product-editor/changelog/fix-45388_close_prepublish_panel_before_create_new
  packages/js/product-editor/src/components/prepublish-panel/prepublish-panel.tsx
Labels: focus: new product ux, team: Mothra

#45291 Custom Fields for New Product Editor
  packages/js/product-editor/changelog/add-44169
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/product-fields/custom-fields-toggle/block.json
  packages/js/product-editor/src/blocks/product-fields/custom-fields-toggle/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/custom-fields-toggle/editor.scss
  packages/js/product-editor/src/blocks/product-fields/custom-fields-toggle/index.ts
  packages/js/product-editor/src/blocks/product-fields/custom-fields-toggle/types.ts
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-metabox-hidden-product/index.ts
  packages/js/product-editor/src/hooks/use-metabox-hidden-product/use-metabox-hidden-product.ts
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/add-44169
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/php/src/Admin/ProductBlockEditor/BlockRegistryTest.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45358 Tooltip: Fix max width of tooltip (used in Product Editor)
  packages/js/components/changelog/fix-tooltip-max-width
  packages/js/components/src/tooltip/style.scss
Labels: package: @woocommerce/components

#45436 Set product status after publishing
  packages/js/product-editor/changelog/fix-45417_set_product_status_after_publishing_it
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
Labels: type: bug, focus: new product ux, team: Mothra

#45246 Add filter hook to allow currently hardcoded 10 minute checkout draft stock reservation to be filtered
  plugins/woocommerce/changelog/45246-trunk
  plugins/woocommerce/src/Checkout/Helpers/ReserveStock.php
Labels: focus: checkout, plugin: woocommerce, type: community contribution, team: Rubik, block: checkout

#45363 Product Collection: Added `priceRange` PHPUnit Tests
  plugins/woocommerce/changelog/45363-add-collection-price-range-tests
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, block: product collection

#45487 Prep release/8.7 for 8.7 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#45396 Edit Custom Fields for New Product Editor
  packages/js/product-editor/changelog/add-44169-edit
  packages/js/product-editor/src/blocks/product-fields/custom-fields/block.json
  packages/js/product-editor/src/blocks/product-fields/custom-fields/editor.scss
  packages/js/product-editor/src/blocks/style.scss
  packages/js/product-editor/src/components/custom-fields/custom-fields.tsx
  packages/js/product-editor/src/components/custom-fields/edit-modal/edit-modal.tsx
  packages/js/product-editor/src/components/custom-fields/edit-modal/index.ts
  packages/js/product-editor/src/components/custom-fields/edit-modal/style.scss
  packages/js/product-editor/src/components/custom-fields/edit-modal/types.ts
  packages/js/product-editor/src/components/custom-fields/style.scss
  packages/js/product-editor/src/components/text-control/style.scss
  packages/js/product-editor/src/components/text-control/text-control.tsx
  packages/js/product-editor/src/hooks/use-custom-fields/use-custom-fields.ts
  packages/js/product-editor/src/style.scss
Labels: focus: new product ux, team: Mothra

#45364 Update mercado pago payment copy
  plugins/woocommerce/changelog/45364-update-update-mercado-copy
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
Labels: plugin: woocommerce

#45367 Tax task - Make postcode optional for countries without postcodes
  plugins/woocommerce-admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce-admin/client/profile-wizard/steps/store-details/test/__snapshots__/index.js.snap
  plugins/woocommerce-admin/client/task-lists/fills/tax/components/store-location.tsx
  plugins/woocommerce-admin/client/task-lists/fills/tax/utils.ts
  plugins/woocommerce/changelog/45367-fix-44805-cannot-configure-tax-rate
Labels: plugin: woocommerce

#45329 Feature flags: Update config on watch
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/45329-fix-feature-flag-config
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45404 Launch Your Store: Add useLaunchYourStore helper method
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/header/style.scss
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/launch-your-store/index.js
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/settings/style.scss
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce-admin/client/launch-your-store/status/style.scss
  plugins/woocommerce-admin/client/launch-your-store/use-launch-your-store.js
  plugins/woocommerce/changelog/45404-add-lys-status-pill
Labels: plugin: woocommerce

#45298 Remote Specs: Update endpoints to 2.0
  packages/php/remote-specs-validation/README.md
  packages/php/remote-specs-validation/changelog/45298-update-remote-endpoints-2.0
  plugins/woocommerce-admin/docs/features/payment-gateway-suggestions.md
  plugins/woocommerce/changelog/45298-update-remote-endpoints-2.0
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/PaymentGatewaySuggestionsDataSourcePoller.php
  plugins/woocommerce/src/Admin/Features/ShippingPartnerSuggestions/ShippingPartnerSuggestionsDataSourcePoller.php
  plugins/woocommerce/src/Admin/RemoteInboxNotifications/DataSourcePoller.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/RemoteFreeExtensionsDataSourcePoller.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPayPromotionDataSourcePoller.php
  plugins/woocommerce/tests/php/src/Admin/API/PaymentGatewaySuggestionsTest.php
Labels: plugin: woocommerce

#45410 Remove redundant dependency on moment in the csv-export package
  packages/js/csv-export/changelog/45410-dev-remove-moment-csv-export
  packages/js/csv-export/package.json
  packages/js/csv-export/src/index.ts
  packages/js/csv-export/src/test/index.ts
  pnpm-lock.yaml
Labels: tool: monorepo infrastructure, package: @woocommerce/csv-export

#45468 [CYS on core] Update the WooCommerce Extensions Themes page to include references to the CYS
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/warning-modals.tsx
  plugins/woocommerce-admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.scss
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.scss
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/changelog/45468-45418-cys-on-core-update-the-market-place-themes-screen
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45313 Generate a signed auto-install URL for woo hosted plugins without helper API
  plugins/woocommerce/includes/admin/helper/class-wc-helper-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-subscriptions-api.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/admin/helper/class-wc-woo-update-manager-plugin.php
Labels: plugin: woocommerce

#45509 Fix the `test_widget_renders_completed_task_count` unit test
  plugins/woocommerce/changelog/fix-test-widget-renders-completed-task-count
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: plugin: woocommerce

#45484 Add Custom Fields for New Product Editor
  packages/js/product-editor/changelog/add-44169-create
  packages/js/product-editor/src/blocks/product-fields/custom-fields/edit.tsx
  packages/js/product-editor/src/components/custom-fields/create-modal/create-modal.tsx
  packages/js/product-editor/src/components/custom-fields/create-modal/index.ts
  packages/js/product-editor/src/components/custom-fields/create-modal/style.scss
  packages/js/product-editor/src/components/custom-fields/create-modal/types.ts
  packages/js/product-editor/src/components/custom-fields/custom-fields.tsx
  packages/js/product-editor/src/components/custom-fields/edit-modal/edit-modal.tsx
  packages/js/product-editor/src/components/custom-fields/style.scss
  packages/js/product-editor/src/components/custom-fields/types.ts
  packages/js/product-editor/src/components/custom-fields/utils/validations/index.ts
  packages/js/product-editor/src/components/custom-fields/utils/validations/types.ts
  packages/js/product-editor/src/components/custom-fields/utils/validations/validate.ts
  packages/js/product-editor/src/hooks/use-custom-fields/use-custom-fields.ts
Labels: focus: new product ux, team: Mothra

#45506 Add a filter `woocommerce_admin_terms_metabox_datalimit` to change the data-limit value for the attributes term box
  plugins/woocommerce/changelog/fix-37548
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
Labels: plugin: woocommerce

#45458 CYS - reduce editor instance re-render
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce/changelog/45458-45420-cys-headerfooter-pattern-arent-rendered-on-the-live-preview
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45482 Fixing Character Encoding Issues in UX Payments Guidelines
  docs/ux-guidelines-payments/payment-button-layout.md
  docs/ux-guidelines-payments/payment-button-size.md
  docs/ux-guidelines-payments/payment-button-style.md
  docs/ux-guidelines-payments/payments-onboarding.md
Labels: focus: documentation

#45485 Update Attributes tooltip copy
  packages/js/product-editor/changelog/dev-41786_update_attributes_tooltip_copy
  plugins/woocommerce-admin/client/products/fills/attributes-section/attributes-section-fills.tsx
  plugins/woocommerce/changelog/dev-41786_update_attributes_tooltip_copy
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45512 Add the ability to search for a currency by ISO code
  plugins/woocommerce/changelog/add-search-currency-iso-code
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/tests/api-core-tests/data/settings.js
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-general-test.php
Labels: plugin: woocommerce, focus: api tests

#45515 Add source property to legacy editor
  plugins/woocommerce/changelog/dev-39449_add_source_prop_to_legacy_editor
  plugins/woocommerce/includes/tracks/events/class-wc-products-tracking.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45170 Add totalValue filter
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/cart-line-items-table/cart-line-item-row.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/order-summary/order-summary-item.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  plugins/woocommerce-blocks/docs/README.md
  plugins/woocommerce-blocks/docs/internal-developers/block-client-apis/checkout/checkout-flow-and-events.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters/totals-footer-item.md
  plugins/woocommerce-blocks/packages/checkout/utils/validation/index.ts
  plugins/woocommerce-blocks/packages/checkout/utils/validation/validate-filter.ts
  plugins/woocommerce-blocks/packages/components/totals/item/index.tsx
  plugins/woocommerce-blocks/packages/components/totals/item/style.scss
  plugins/woocommerce/changelog/45170-add-42004-totalValue-filter
Labels: plugin: woocommerce, team: Rubik

#45498 Task List: Avoid fetching tasks on non-visible lists
  plugins/woocommerce/changelog/45498-fix-task-list-data
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskList.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task-lists.php
Labels: plugin: woocommerce

#45409 [Experimental] Display the formatted price in price filter text input fields
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/components/price-slider.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce/changelog/fix-45315
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
Labels: plugin: woocommerce

#45523 Add set_attribute method to Block class
  plugins/woocommerce/changelog/update-set_attr_block
  plugins/woocommerce/src/Admin/BlockTemplates/BlockInterface.php
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/tests/php/src/Internal/Admin/BlockTemplates/BlockTest.php
Labels: plugin: woocommerce

#45481 Show the "Design your own" banner when editing a theme which is not TT4
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce/changelog/45481-44725-add-customize-button-modal-2
Labels: plugin: woocommerce

#45533 Bump woocommerce-sniffs to 1.0.0 for WPCS 3.0 support
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/changelog/45533-update-woo-sniffs
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45395 Switch from "invoice" to "order details" in our emails.
  plugins/woocommerce/changelog/fix-26692-order-invoice-nomenclature
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-order-actions.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-invoice.php
  plugins/woocommerce/tests/api-core-tests/tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
Labels: plugin: woocommerce, focus: api tests, focus: e2e tests

#45493 Remove Custom Fields for New Product Editor
  packages/js/product-editor/changelog/add-44169-remove
  packages/js/product-editor/src/components/custom-fields/custom-fields.tsx
  packages/js/product-editor/src/hooks/use-custom-fields/types.ts
  packages/js/product-editor/src/hooks/use-custom-fields/use-custom-fields.ts
  packages/js/product-editor/src/hooks/use-custom-fields/utils/index.ts
  plugins/woocommerce/changelog/add-44169-remove
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45171 [HPOS CLI] Add support for backfilling specific properties or metadata
  plugins/woocommerce/changelog/fix-41910
  plugins/woocommerce/includes/data-stores/abstract-wc-order-data-store-cpt.php
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
  plugins/woocommerce/src/Internal/DataStores/Orders/LegacyDataHandler.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataHandlerTests.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#44413 Adding accessible markup to sale price.
  plugins/woocommerce/changelog/31099
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-edit.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/formatting/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/product/data.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution, focus: e2e tests

#45164 Allow usage of block notice templates when using classic themes
  .gitignore
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/parallel/themes.sh
  plugins/woocommerce-blocks/tests/e2e/bin/test-env-setup.sh
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-filter/functions.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-filter/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-template/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-template/woocommerce/notices/error.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-template/woocommerce/notices/notice.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__block-notices-template/woocommerce/notices/success.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__classic-notices-template/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__classic-notices-template/woocommerce/notices/error.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__classic-notices-template/woocommerce/notices/notice.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/storefront-child__classic-notices-template/woocommerce/notices/success.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-filter/functions.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-filter/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-template/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-template/woocommerce/notices/error.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-template/woocommerce/notices/notice.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__block-notices-template/woocommerce/notices/success.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__classic-notices-template/style.css
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__classic-notices-template/woocommerce/notices/error.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__classic-notices-template/woocommerce/notices/notice.php
  plugins/woocommerce-blocks/tests/e2e/bin/themes/twentytwentyfour-child__classic-notices-template/woocommerce/notices/success.php
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-notices.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-notices.shopper.classic_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/constants.ts
  plugins/woocommerce-blocks/tests/e2e/utils/performance/reports/e2e-cart-performance.json
  plugins/woocommerce/changelog/45164-update-44538-allow-block-notices-for-classic-themes
  plugins/woocommerce/src/Blocks/Domain/Services/Notices.php
Labels: plugin: woocommerce, team: Rubik

#43836 [Experimental] Add E2E tests for Additional Checkout Fields
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-checkout-fields-plugin.php
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.guest-shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce/changelog/add-additiona-checkout-fields-e2e
Labels: plugin: woocommerce

#45538 Disable checkout menu when checkout block is default
  plugins/woocommerce/changelog/45538-update-44120-disable-checkout-menu-when-checkout-block-is-default
  plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php
Labels: plugin: woocommerce, team: Rubik

#45556 Added Result Count Client Navigation
  plugins/woocommerce-blocks/assets/js/blocks/product-results-count/block.json
  plugins/woocommerce/changelog/45556-fix-result-count-interactivity
  plugins/woocommerce/src/Blocks/BlockTypes/ProductResultsCount.php
Labels: plugin: woocommerce, block: product collection

#45490 Product Editor: Handle loading of product editor when global settings are not available on initial render
  packages/js/product-editor/changelog/fix-product-editor-loading-global
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/block-editor/types.ts
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/editor/types.ts
  plugins/woocommerce-admin/client/products/product-page.tsx
  plugins/woocommerce-admin/client/products/product-variation-page.tsx
  plugins/woocommerce/changelog/fix-product-editor-loading-global
Labels: focus: new product ux

#45131 Add support for WooCommerce Analytics module in @woocommerce/explat
  packages/js/explat/CHANGELOG.md
  packages/js/explat/README.md
  packages/js/explat/changelog/45131-add-wca-support-to-explat
  packages/js/explat/changelog/add-wca-support-to-explat
  packages/js/explat/src/anon.ts
  packages/js/explat/src/assignment.ts
  packages/js/explat/src/error.ts
  packages/js/explat/src/index.ts
  packages/js/explat/src/test/assignment-test.js
Labels: type: enhancement, package: @woocommerce/explat, team: Rubik

#45393 Update code freeze GH Actions workflow to upload the woocommerce packages to the R2 bucket on code freeze.
  .github/workflows/release-code-freeze.yml
Labels: tool: monorepo infrastructure

#45586 CYS - Core: fix wp-admin page visible when click on start designing
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce-admin/client/customize-store/intro/warning-modals.tsx
  plugins/woocommerce-admin/client/marketplace/components/product-list-content/product-list-content.tsx
  plugins/woocommerce-admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/changelog/45586-45542-cys-core-wp-admin-screen-visible-for-a-moment-after-clicking-start-designing-1
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45608 Product Editor: Fix editor crash when clicking in editor margin when summary or description fields are focused
  packages/js/product-editor/changelog/fix-product-editor-crashes-text-area-toolbar
  packages/js/product-editor/src/blocks/generic/tab/editor.scss
  packages/js/product-editor/src/blocks/generic/text-area/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/summary/edit.tsx
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-clear-selected-block-on-blur/index.ts
  packages/js/product-editor/src/hooks/use-clear-selected-block-on-blur/use-clear-selected-block-on-blur.ts
Labels: focus: new product ux, team: Mothra

#45519 [CYS] Fix the failed to load resource error in the CYS whenever the current active theme is not TT4
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/types.ts
  plugins/woocommerce/changelog/45519-45479-fix-404-error
Labels: plugin: woocommerce

#45610 Exclude the Legacy REST API plugin from the feature compatibility UI
  plugins/woocommerce/changelog/pr-45610
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/PluginUtil.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
Labels: plugin: woocommerce

#45546 [CYS on core] Introduce the Transitional page, i2
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assets/icons/lesson-plan.js
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce-admin/client/customize-store/transitional/style.scss
  plugins/woocommerce-admin/client/customize-store/transitional/test/index.test.tsx
  plugins/woocommerce/changelog/45546-45539-cys-on-core-transitional-page-i2
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#45332 Try to account for and re-create backup posts when syncing orders
  plugins/woocommerce/changelog/fix-42746-part-2
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: focus: custom order tables / HPOS, plugin: woocommerce

#45604 Do not trigger 'pre_update' logic for HPOS option when value remains unchanged
  plugins/woocommerce/changelog/fix-45225
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
Labels: plugin: woocommerce

#45540 Redirect to WooPayments Connect page in the Payments task
  plugins/woocommerce/changelog/direct-link-to-connect-page-for-supported-countries
  plugins/woocommerce/src/Admin/API/Plugins.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-tasks/payment.spec.js
Labels: plugin: woocommerce, tool: monorepo infrastructure, focus: e2e tests

#45627 Cherry pick 45608 into release/8.7
  packages/js/product-editor/changelog/fix-product-editor-crashes-text-area-toolbar
  packages/js/product-editor/src/blocks/generic/tab/editor.scss
  packages/js/product-editor/src/blocks/generic/text-area/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/summary/edit.tsx
  packages/js/product-editor/src/components/block-editor/style.scss
  packages/js/product-editor/src/hooks/index.ts
  packages/js/product-editor/src/hooks/use-clear-selected-block-on-blur/index.ts
  packages/js/product-editor/src/hooks/use-clear-selected-block-on-blur/use-clear-selected-block-on-blur.ts
Labels: metric: code freeze exception

#44310 Add snapshot tracking for Checkout additional fields.
  plugins/woocommerce/changelog/add-tracking-for-additional-fields
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: type: enhancement, plugin: woocommerce, team: Rubik, block: checkout

#45499 Add unit tests to Checkout Additional Fields
  plugins/woocommerce/changelog/45499-add-unit-tests-to-checkout-fields
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Domain/Services/functions.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Cart.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Checkout.php
Labels: focus: checkout, plugin: woocommerce, focus: unit tests, team: Rubik

#45592 CYS - fix warning Tooltip
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-pattern-list.jsx
  plugins/woocommerce/changelog/45592-45486-cys-on-core-clear-out-the-function-components-cannot-be-given-refs-error-whenever-switching-headers
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#45600 CYS - Core: fix Product Rating block renders
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce/changelog/45600-45593-cys-on-core-product-rating-block-not-rendering
Labels: type: bug, team: Kirigami & Origami, focus: customize-your-store

#45624 Blocks E2E: Fix guest user handling in checkout tests
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-shipping.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.side_effects.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce/changelog/fix-e2e-logged-out-user-handling
Labels: plugin: woocommerce

#45558 Product Filter: Attribute (Beta) block - Fix block preview
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce/changelog/45558-fix-45491-incorrect-product-filter-attribute-block-preview
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#45602 Product Filter: Price (Beta) block - Disable block interactions within the editor
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/price-filter/edit.tsx
  plugins/woocommerce/changelog/45602-fix-45361-disable-product-filter-price-block-interactions-within-the-editor
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#45594 Rename ProductTemplate namespace
  plugins/woocommerce/changelog/fix-rename_product_templates_namespace
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Loader.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/AbstractProductFormTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/DownloadableProductTrait.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Group.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductBlock.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Section.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Subsection.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-layout-templates-controller-tests.php
  plugins/woocommerce/tests/php/src/Admin/ProductBlockEditor/ProductTemplates/CustomProductFormTemplate.php
  plugins/woocommerce/tests/php/src/LayoutTemplates/LayoutTemplateRegistryTest.php
Labels: plugin: woocommerce

#40734 Add woocommerce_widget_layered_nav_term_anchor_text filter
  plugins/woocommerce/changelog/40734-patch-2
  plugins/woocommerce/includes/widgets/class-wc-widget-layered-nav-filters.php
Labels: plugin: woocommerce, type: community contribution

#45292 fixed misaligned elements in generated refunds page issue
  plugins/woocommerce/changelog/45292-fix-misaligned-elements-in-generated-refunds-page
  plugins/woocommerce/includes/class-wc-install.php
Labels: plugin: woocommerce, type: community contribution

#45365 Product Collection: Added `timeFrame` PHPUnit Tests
  plugins/woocommerce/changelog/45365-add-collection-date-filter-tests
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
Labels: plugin: woocommerce, block: product collection

#45146 Add an action to link sessions to customer ids.
  plugins/woocommerce/changelog/issue-44852-session-to-login-action
  plugins/woocommerce/includes/class-wc-session-handler.php
Labels: plugin: woocommerce

#45650 Product Editor: Disable description full editor when using an incompatible version of Gutenberg
  packages/js/product-editor/changelog/fix-product-editor-description-editor-modal-disable-gb-crash
  packages/js/product-editor/src/blocks/product-fields/description/components/full-editor-toolbar-button.tsx
Labels: type: bug, focus: new product ux, team: Mothra

#45435 Product Collection: Disable client side navigation if blocks incompatible with Interactivity API are detected
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-advanced-controls/force-page-reload-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-advanced-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-advanced-controls/utils.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce/changelog/add-43395-handle-interactivityapi-incompatible-blocks-in-product-collection-block
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection.php
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product collection

#45548 add/lys xstate scaffolding
  plugins/woocommerce-admin/bin/xstate5-react-script.js
  plugins/woocommerce-admin/client/launch-store/index.tsx
  plugins/woocommerce-admin/client/launch-store/main-content/pages/launch-store-success.tsx
  plugins/woocommerce-admin/client/launch-store/main-content/pages/loading.tsx
  plugins/woocommerce-admin/client/launch-store/main-content/pages/site-preview.tsx
  plugins/woocommerce-admin/client/launch-store/main-content/xstate.tsx
  plugins/woocommerce-admin/client/launch-store/sidebar/components/launch-store-hub.tsx
  plugins/woocommerce-admin/client/launch-store/sidebar/xstate.tsx
  plugins/woocommerce-admin/client/launch-store/styles.scss
  plugins/woocommerce-admin/client/layout/controller.js
  plugins/woocommerce-admin/client/utils/xstate/useComponentFromService.tsx
  plugins/woocommerce-admin/package.json
  plugins/woocommerce/changelog/add-lys-xstate-scaffold
  pnpm-lock.yaml
Labels: plugin: woocommerce, tool: monorepo infrastructure

#45394 Ensure address field is in address schema before sanitizing/validating it
  plugins/woocommerce/changelog/fix-address-api-warnings
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Cart.php
Labels: type: bug, priority: high, focus: checkout, plugin: woocommerce, block: checkout

#45299 Add generic function to determine if URL is a store page
  plugins/woocommerce/changelog/add-is-store-page
  plugins/woocommerce/src/Admin/WCAdminHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/wc-admin-helper.php
Labels: plugin: woocommerce

#45606 Launch Your Store: Add status dropdown functionality
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/launch-your-store/status/index.js
  plugins/woocommerce-admin/client/launch-your-store/status/style.scss
  plugins/woocommerce/changelog/45606-add-lys-status-dropdown
Labels: plugin: woocommerce

#44850 Fix block templates not being rendered in extension taxonomies
  plugins/woocommerce/changelog/fix-44453-fix-block-templates-not-rendering
  plugins/woocommerce/src/Blocks/Templates/CartTemplate.php
  plugins/woocommerce/src/Blocks/Templates/CheckoutTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductAttributeTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductCatalogTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductCategoryTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductSearchResultsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductTagTemplate.php
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplate.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#45495 Remove 'List price' and 'Sale price' fields from the General tab
  plugins/woocommerce/changelog/add-39644
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-edit-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests, team: Mothra

#44818 Add tests for variable product
  plugins/woocommerce/changelog/add-39886_e2e_test_create_variations
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/product-block-editor.js
  plugins/woocommerce/tests/e2e-pw/utils/simple-products.js
Labels: plugin: woocommerce, focus: e2e tests

#45532 Add e2e tests for Organization tab
  plugins/woocommerce/changelog/add-39412_organization_tab_e2e_test
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#45580 CYS - Core: install font when user clicks opt-in
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce/changelog/45580-45476-cys-on-core-make-sure-the-pre-loader-is-triggered-right-after-the-user-clicks-on-the-opt-in-modal
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#44917 Add formatting for Cost and Sales numbers in Campaigns card in Marketing page
  plugins/woocommerce-admin/client/marketing/data-multichannel/types.ts
  plugins/woocommerce-admin/client/marketing/hooks/test/useCampaigns.test.ts
  plugins/woocommerce-admin/client/marketing/hooks/useCampaigns.ts
  plugins/woocommerce/changelog/update-marketing-number-formatting
  plugins/woocommerce/src/Admin/API/MarketingCampaigns.php
Labels: plugin: woocommerce, focus: marketing, team: Ventures

#45531 Handle taxes not being enabled and customized tax classes
  packages/js/product-editor/changelog/add-43232
  packages/js/product-editor/src/blocks/generic/select/README.md
  packages/js/product-editor/src/blocks/generic/select/block.json
  packages/js/product-editor/src/blocks/generic/select/edit.tsx
  packages/js/product-editor/src/blocks/generic/select/index.ts
  packages/js/product-editor/src/blocks/generic/select/types.ts
  packages/js/product-editor/src/blocks/index.ts
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  plugins/woocommerce/changelog/add-43232
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockRegistry.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/SimpleProductTemplate.php
  plugins/woocommerce/tests/php/src/Admin/ProductBlockEditor/BlockRegistryTest.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#45603 Change checkbox label to be inline-flex to limit the width to the content
  plugins/woocommerce-blocks/packages/components/checkbox-control/style.scss
  plugins/woocommerce/changelog/45603-product-filters-clickable-area
Labels: type: enhancement, plugin: woocommerce, block-type: filter blocks

#45623 Product Collection: add e2e tests with all product elements included
  plugins/woocommerce-blocks/tests/e2e/bin/scripts/products.sh
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/45214-product-collection-add-e2e-tests-with-all-product-elements-included
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: product elements, block: product collection

#45692 Fix organization tab e2e tests
  plugins/woocommerce/changelog/fix-e2e-test-organization-tab-selector
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests, team: Mothra

#45678 [CYS]: Fix event transitional page
  plugins/woocommerce-admin/client/customize-store/transitional/index.tsx
  plugins/woocommerce/changelog/45678-fix-tracking-event-transitional-page
Labels: type: task, plugin: woocommerce, focus: customize-your-store

#45661 [CYS] Update the woo.com themes link to include the back url
  plugins/woocommerce/changelog/45661-45377-update-cys-theme-link
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#45702 Add wum-installed parameter to the connect URL
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#45679 Hidden tag inconsistency
  packages/js/product-editor/changelog/fix-45665
  packages/js/product-editor/src/components/header/header.tsx
Labels: focus: new product ux, team: Mothra
