Repository woocommerce/woocommerce, pull requests merged in 2024-08, with the labels that each got.

#50189 Fix e2e Google for WooCommerce strict mode violation error
  plugins/woocommerce/changelog/fix-google-for-woocommerce-e2e
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49702 Add JS remote logging package
  packages/js/dependency-extraction-webpack-plugin/assets/packages.js
  packages/js/dependency-extraction-webpack-plugin/changelog/49702-add-js-remote-error-logging
  packages/js/remote-logging/.eslintrc.js
  packages/js/remote-logging/.npmrc
  packages/js/remote-logging/CHANGELOG.md
  packages/js/remote-logging/PREVIOUS_CHANGELOG.md
  packages/js/remote-logging/README.md
  packages/js/remote-logging/babel.config.js
  packages/js/remote-logging/changelog/.gitkeep
  packages/js/remote-logging/changelog/49702-add-js-remote-error-logging
  packages/js/remote-logging/composer.json
  packages/js/remote-logging/composer.lock
  packages/js/remote-logging/jest.config.json
  packages/js/remote-logging/package.json
  packages/js/remote-logging/src/index.ts
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/remote-logging/src/test/__mocks__/fetch.ts
  packages/js/remote-logging/src/test/index.ts
  packages/js/remote-logging/src/test/utils.ts
  packages/js/remote-logging/src/types.ts
  packages/js/remote-logging/src/utils.ts
  packages/js/remote-logging/tsconfig-cjs.json
  packages/js/remote-logging/tsconfig.json
  packages/js/remote-logging/typings/global.d.ts
  packages/js/remote-logging/typings/index.d.ts
  pnpm-lock.yaml
Labels: focus: monorepo infrastructure, package: dependency-extraction-webpack-plugin

#49599 Implement server-side remote error logging
  plugins/woocommerce/changelog/add-php-remote-error-logging
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
  plugins/woocommerce/tests/php/src/Internal/Logging/RemoteLoggerTest.php
Labels: plugin: woocommerce

#50151 Improvements to core profiler checkbox UX
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.scss
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/plugin-card.tsx
  plugins/woocommerce-admin/client/core-profiler/components/plugin-card/test/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce-admin/client/core-profiler/shared.scss
  plugins/woocommerce/changelog/fix-50112-ux-improvements-core-profiler-checkbox
Labels: plugin: woocommerce

#50126 Use UTM parameters to link Tracks events: CTA from connect notice and successful site connection
  plugins/woocommerce-admin/client/marketplace/components/connect-notice/connect-notice.tsx
  plugins/woocommerce/changelog/link-tracks-events-from-cta-to-site-connected-using-utm-params
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-updater.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/tracks/events/class-wc-extensions-tracking.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
Labels: focus: wccom, plugin: woocommerce

#50171 CYS - Document possible Intro pages
  plugins/woocommerce-admin/client/customize-store/intro/README.md
  plugins/woocommerce-admin/client/customize-store/intro/readme/ai1.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/ai2.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/ai3.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/noai1.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/noai2.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/noai3.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/noai4.png
  plugins/woocommerce-admin/client/customize-store/intro/readme/offline.png
  plugins/woocommerce/changelog/50171-cys-intro-docs
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#50198 Made two strings translatable in slotfill.js
  plugins/woocommerce-admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce/changelog/50198-patch-13
Labels: plugin: woocommerce, type: community contribution

#49704 Blocks: Update wp-env config to use production WP
  plugins/woocommerce-blocks/.wp-env.json
  plugins/woocommerce-blocks/tests/e2e/tests/templates/single-product-template.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/single-product-template.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-customization.block_theme_with_templates.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/template-part-customization.classic_theme_with_template_parts_support.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce/changelog/update-blocks-wp-env-core-.6
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49796 Product Collection: Enable Context-Aware Previews by Adding `usesReference` to `registerProductCollection`
  plugins/woocommerce-blocks/assets/js/blocks-registry/product-collection/register-product-collection.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/types.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/register-product-collection.md
  plugins/woocommerce-blocks/tests/e2e/plugins/register-product-collection-tester/index.js
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/changelog/49796-add-47964-product-collection-collection-should-be-able-to-specify-requiredcontext-or-requiredlocation-and-trigger-preview-mode-in-editor-when-theres-no-required-context
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: product collection

#50168 Skip WC_Admin_Tests_PaymentGatewaySuggestions_Init::test_empty_suggestions
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/payment-gateway-suggestions.php
Labels: plugin: woocommerce, focus: unit tests

#50204 [testing workflows] Add pre-release checks
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure, focus: testing workflows

#49985 Update My Subscriptions screen labels and columns
  plugins/woocommerce-admin/client/marketplace/components/constants.ts
  plugins/woocommerce-admin/client/marketplace/components/feedback-modal/feedback-modal.scss
  plugins/woocommerce-admin/client/marketplace/components/feedback-modal/feedback-modal.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/actions/auto-renew-button.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/functions.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/rows/status-popover.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/table-rows.tsx
  plugins/woocommerce-admin/client/marketplace/components/my-subscriptions/table/table.tsx
  plugins/woocommerce-admin/client/marketplace/index.tsx
  plugins/woocommerce-admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/changelog/update-my-subscriptions-column-names-and-actions
Labels: plugin: woocommerce

#50197 CI: speedup 'Build Project Jobs'
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure, team: Vortex

#50180 Product Editor: Fix shipping dimensions length field label
  packages/js/product-editor/changelog/fix-product-editor-length-label
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/edit.tsx
Labels: focus: new product ux, team: Mothra

#50137 Add product form extensibility tutorials
  docs/docs-manifest.json
  docs/product-editor-development/how-to-guides/README.md
  docs/product-editor-development/how-to-guides/custom-field-tutorial.md
  docs/product-editor-development/how-to-guides/generic-fields-tutorial.md
  docs/product-editor-development/product-editor.md
Labels: focus: documentation

#50025 Store API: Remove the need for nonces when using cart tokens. Remove deprecated `X-WC-Store-API-Nonce` header.
  plugins/woocommerce/changelog/fix-cart-token-disable-nonces-42341
  plugins/woocommerce/src/StoreApi/Authentication.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AbstractCartRoute.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Batch.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Utilities/JsonWebToken.php
  plugins/woocommerce/src/StoreApi/docs/cart-tokens.md
  plugins/woocommerce/src/StoreApi/docs/cart.md
  plugins/woocommerce/src/StoreApi/docs/checkout-order.md
  plugins/woocommerce/src/StoreApi/docs/checkout.md
  plugins/woocommerce/src/StoreApi/docs/nonce-tokens.md
Labels: plugin: woocommerce, category: extensibility, team: Rubik, focus: store api

#50028 Prevent Store API orders being placed with empty/invalid fields
  plugins/woocommerce/changelog/fix-state-requirement
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Checkout.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik, block: checkout, focus: store api

#50103 Strip HTML tags from aria-label in wc_help_tip function
  plugins/woocommerce/changelog/update-no-html-arialabel
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/php/includes/wc-core-functions-test.php
Labels: plugin: woocommerce

#50143 Enable skipped E2E tests for attributes
  plugins/woocommerce/changelog/fix-50027_e2e_tests_product_attributes
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49803 Fix subscription activations when user own multiple subscriptions of same product install on different stores
  plugins/woocommerce/changelog/49803-fix-subscription-activation-with-multiple-subs-for-same-product
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
Labels: plugin: woocommerce

#49934 [Accessibility] Update product order status colors to ensure accessible color contrasts
  plugins/woocommerce/changelog/fix-40589-order-status-color-contrast
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce, type: community contribution

#49766 Logging: Add parameter to avoid log directory creation
  plugins/woocommerce/changelog/update-log-directory-init
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php
  plugins/woocommerce/src/Internal/Admin/Logging/FileV2/FileController.php
  plugins/woocommerce/src/Internal/Admin/Logging/Settings.php
  plugins/woocommerce/src/Utilities/LoggingUtil.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/SettingsTest.php
Labels: plugin: woocommerce, focus: logging

#50006 Optimize maybe_assign_default_product_cat to drop caches only if changes were made
  plugins/woocommerce/changelog/50006-patch-1
  plugins/woocommerce/src/Internal/AssignDefaultCategory.php
Labels: plugin: woocommerce, type: community contribution

#49360 [Accessibility] Keep focus on shipping option input once selected
  plugins/woocommerce/changelog/fix-37606
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce, type: community contribution

#50178 CI: speedup 'Check Asset Sizes' job (take 3)
  .github/workflows/pr-assess-bundle-size.yml
  plugins/woocommerce-admin/bin/xstate5-react-script.js
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/dev-speedup-check-asset-sizes-take-3
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#50134 Integrate JS remote logging package in WooCommerce Admin
  packages/js/remote-logging/README.md
  packages/js/remote-logging/changelog/add-wcadmin-remote-logging
  packages/js/remote-logging/src/index.ts
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/remote-logging/src/test/index.ts
  packages/js/remote-logging/src/utils.ts
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/error-boundary/index.tsx
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/lib/init-remote-logging.ts
  plugins/woocommerce-admin/package.json
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/add-wcadmin-remote-logging
  plugins/woocommerce/src/Blocks/Assets/AssetDataRegistry.php
  plugins/woocommerce/src/Internal/Admin/WCAdminAssets.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#50155 Track frequency of unhandled JS errors with MC Stats
  packages/js/internal-js-tests/changelog/add-bump-stats-error
  packages/js/internal-js-tests/composer.lock
  packages/js/internal-js-tests/src/mocks/woocommerce-tracks.js
  packages/js/remote-logging/changelog/add-bump-stats-error
  packages/js/remote-logging/package.json
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/tracks/README.md
  packages/js/tracks/changelog/add-bump-stats-error
  packages/js/tracks/jest.config.json
  packages/js/tracks/package.json
  packages/js/tracks/src/index.ts
  packages/js/tracks/src/stats.ts
  packages/js/tracks/src/test/stats.ts
  plugins/woocommerce-admin/client/error-boundary/index.tsx
  plugins/woocommerce/changelog/add-bump-stats-error
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/tracks

#50247 Fixed typo WooCommmerce
  packages/js/create-woo-extension/README.md.mustache
  packages/js/create-woo-extension/changelog/50247-patch-17
  packages/js/e2e-utils/README.md
  plugins/woocommerce-admin/docs/page-controller.md
  plugins/woocommerce/changelog/50247-patch-17
  plugins/woocommerce/tests/e2e/README.md
Labels: package: @woocommerce/e2e-utils, plugin: woocommerce, type: community contribution

#49924 [Accessibility] Add a label to the product pagination for the woocommerce pagination
  plugins/woocommerce/changelog/fix-47071-navigation-landmarks
  plugins/woocommerce/templates/loop/pagination.php
Labels: plugin: woocommerce, type: community contribution

#50243 Fixed typos in CSS classes
  plugins/woocommerce-admin/client/inbox-panel/index.js
  plugins/woocommerce-admin/client/inbox-panel/index.scss
  plugins/woocommerce-admin/client/task-lists/components/task-list.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-list-completed-header.scss
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-list-completed-header.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/components/task-list-placeholder.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/setup-task-list.tsx
  plugins/woocommerce-admin/client/task-lists/setup-task-list/style.scss
  plugins/woocommerce-admin/client/task-lists/task-lists.scss
  plugins/woocommerce/changelog/50243-patch-14
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#50128 Update linked product search to use GB combobox in order to fix timing issue
  packages/js/product-editor/changelog/fix-linked-product-timing-issue
  packages/js/product-editor/src/blocks/generic/linked-product-list/edit.tsx
  packages/js/product-editor/src/blocks/generic/linked-product-list/reducer.ts
  packages/js/product-editor/src/components/combobox-control/combobox-control.tsx
  packages/js/product-editor/src/components/combobox-control/types.ts
  packages/js/product-editor/src/components/product-select/product-select.tsx
  packages/js/product-editor/src/components/product-select/styles.scss
  packages/js/product-editor/src/components/product-select/types.ts
  plugins/woocommerce/changelog/fix-linked-product-timing-issue
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#50256 [e2e tests] Remove Github reporter
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/e2e-remove-github-reporter
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests

#50210 CYS: add E2E tests for fonts installation
  plugins/woocommerce/changelog/50210-44589-cys---core-e2e-test-add-coverage-for-the-fonts-added-via-font-library
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/font-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#50254 Monorepo: update post-merge hook - make instalaltion conditional.
  .husky/post-merge
Labels: team: Vortex

#50157 Fix typo (filter-setter.php)
  plugins/woocommerce/changelog/50157-patch-10
  plugins/woocommerce/tests/e2e-pw/bin/filter-setter.php
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#50035 Use the validatorId to get access to the field instead of the context
  packages/js/product-editor/changelog/dev-49581_use_validatorid_instead_of_context
  packages/js/product-editor/src/blocks/generic/number/edit.tsx
  packages/js/product-editor/src/blocks/generic/text/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/schedule-sale/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/shipping-dimensions/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/variation-items/edit.tsx
  packages/js/product-editor/src/components/header/preview-button/preview-button.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/save-draft-button/save-draft-button.tsx
  packages/js/product-editor/src/contexts/validation-context/types.ts
  packages/js/product-editor/src/contexts/validation-context/use-validations.ts
  packages/js/product-editor/src/hooks/test/use-error-handler.test.ts
  packages/js/product-editor/src/hooks/use-blocks-helper/use-blocks-helper.ts
  packages/js/product-editor/src/hooks/use-error-handler.ts
Labels: focus: new product ux

#50259 [e2e tests] Implement the flaky test reporter for core e2e tests
  plugins/woocommerce/changelog/e2e-core-e2e-add-new-flaky-reporter
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/reporters/flaky-tests-reporter.js
Labels: plugin: woocommerce, focus: e2e tests

#49648 [WIP][Accessibility] Add field for the email footer text color
  plugins/woocommerce/changelog/49648-fix-43603-footer-text-color
  plugins/woocommerce/changelog/fix-43603-footer-text-color
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/templates/emails/email-styles.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-emails-test.php
  pnpm-lock.yaml
Labels: plugin: woocommerce, type: community contribution

#50196 CYS: Improve tracking survey
  plugins/woocommerce-admin/client/customize-store/transitional/survey-form/index.tsx
  plugins/woocommerce/changelog/50196-add-improve_tracking_survey
Labels: plugin: woocommerce, focus: customize-your-store

#50211 CYS - Improve the error when a request fails due to permissions
  plugins/woocommerce-admin/client/customize-store/design-without-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/50211-48657-add-better-error-message
Labels: plugin: woocommerce

#49984 Move checkout docs to main v2
  docs/building-a-woo-store/adding-a-custom-field-to-variable-products.md
  docs/cart-and-checkout-blocks/README.md
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/cart-and-checkout-blocks/available-filters/README.md
  docs/cart-and-checkout-blocks/available-filters/additional-cart-checkout-inner-block-types.md
  docs/cart-and-checkout-blocks/available-filters/cart-line-items.md
  docs/cart-and-checkout-blocks/available-filters/checkout-and-place-order-button.md
  docs/cart-and-checkout-blocks/available-filters/coupons.md
  docs/cart-and-checkout-blocks/available-filters/order-summary-items.md
  docs/cart-and-checkout-blocks/available-filters/totals-footer-item.md
  docs/cart-and-checkout-blocks/available-slot-fills.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/README.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/checkout-flow-and-events.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/filtering-payment-methods.md
  docs/cart-and-checkout-blocks/checkout-payment-methods/payment-method-integration.md
  docs/cart-and-checkout-blocks/dom-events.md
  docs/cart-and-checkout-blocks/hooks/README.md
  docs/cart-and-checkout-blocks/hooks/migrated-hooks.md
  docs/cart-and-checkout-blocks/how-checkout-processes-an-order.md
  docs/cart-and-checkout-blocks/integration-interface.md
  docs/cart-and-checkout-blocks/slot-fills.md
  docs/docs-manifest.json
  docs/extensibility-in-blocks/README.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/README.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-block/available-filters.md
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/checkout-flow-and-events.md
  plugins/woocommerce/changelog/GIT STATUS
Labels: focus: documentation, plugin: woocommerce

#50174 [Enhancement] Create new filter `woocommerce_is_store_page` for filtering if the URL is a store page.
  plugins/woocommerce/changelog/50174-fix-50173
  plugins/woocommerce/src/Admin/WCAdminHelper.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#50334 Fix typos (Produts)
  plugins/woocommerce-admin/bin/hook-reference/data.json
  plugins/woocommerce-admin/client/analytics/report/products/config.js
  plugins/woocommerce/changelog/50334-patch-21
Labels: plugin: woocommerce, type: community contribution, needs: analysis

#50348 Compatibility Layer: fix documentation
  plugins/woocommerce-blocks/docs/internal-developers/blockified-templates/compatibility-layer.md
  plugins/woocommerce/changelog/50348-fix-improve-documentation
Labels: plugin: woocommerce, team: Kirigami & Origami

#50342 CI: minor speed boost for Check Asset Sizes and Build Project Jobs.
  .github/workflows/ci.yml
  .github/workflows/pr-assess-bundle-size.yml
  .github/workflows/pr-lint-markdown.yml
  package.json
Labels: focus: monorepo infrastructure, team: Vortex

#50232 [E2E tests]: Add product description using the block editor
  packages/js/product-editor/changelog/add-50231_e2e_description_using_block_editor
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/header-toolbar.tsx
  plugins/woocommerce/changelog/add-50231_e2e_description_using_block_editor
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#50337 Fix typos (shopper.js)
  packages/js/e2e-utils/src/flows/shopper.js
Labels: package: @woocommerce/e2e-utils, type: community contribution

#49764 [Accessibility] Fix address heading level on My Account page
  plugins/woocommerce/changelog/fix-43630
  plugins/woocommerce/templates/myaccount/form-edit-address.php
  plugins/woocommerce/templates/myaccount/my-address.php
Labels: plugin: woocommerce, type: community contribution

#50335 Fix typos (920.md)
  plugins/woocommerce-blocks/docs/internal-developers/testing/releases/920.md
  plugins/woocommerce/changelog/50335-patch-22
Labels: plugin: woocommerce, type: community contribution

#50240 [Accessibility] Remove opacity from the hover style of the mini cart button
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/style.scss
  plugins/woocommerce/changelog/fix-42328
Labels: plugin: woocommerce, type: community contribution

#50366 Monorepo: added instructions on how to update report flaky tests action.
  .github/actions/report-flaky-tests/UPDATE.md
Labels: focus: monorepo infrastructure, team: Vortex

#50138 Fix new account notice not showing in Checkout block.
  plugins/woocommerce/changelog/50138-fix-show-new-account-nag
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Status.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#50278 CYS: improve CTA
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce/changelog/50278-fix-improve_label
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/assembler.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/font-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/loading-screen/loading-screen.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/transitional.spec.js
Labels: plugin: woocommerce, focus: e2e tests, focus: customize-your-store

#50368 create product collection category and move to main docs folder
  docs/docs-manifest.json
  docs/product-collection-block/README.md
  docs/product-collection-block/register-product-collection.md
  plugins/woocommerce/changelog/move-product-collection
Labels: focus: documentation, plugin: woocommerce

#50361 Prep release/9.2 for 9.2 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#50376 Clean up changelog in readme.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#50332 Fix typo (sidebar-navigation-screen-typography.tsx)
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce/changelog/50332-patch-19
Labels: plugin: woocommerce, type: community contribution

#50200 Use admin password reset link on admin login screen
  plugins/woocommerce/changelog/update-admin-reset-password
  plugins/woocommerce/includes/wc-account-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
Labels: plugin: woocommerce

#50384 Monorepo: fix packageManager syntax in package.json file.
  package.json
Labels: focus: monorepo infrastructure, team: Vortex

#50214 Fix CI Metrics job
  .github/workflows/ci.yml
  .github/workflows/scripts/run-metrics.sh
  plugins/woocommerce/changelog/fix-ci-metrics-job
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/utils/simple-products.js
  plugins/woocommerce/tests/metrics/playwright.config.js
  plugins/woocommerce/tests/metrics/specs/editor.spec.js
  plugins/woocommerce/tests/metrics/specs/product-editor.spec.js
  tools/compare-perf/config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#50277 Rename and move errorHandler method
  packages/js/product-editor/changelog/dev-50276_rename_and_move_error_handler
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
  packages/js/product-editor/src/utils/format-product-error.ts
Labels: plugin: woocommerce, focus: new product ux

#49214 Remove Active Shipping Zones check for displaying shipping calculator on Cart Page
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-address.tsx
  plugins/woocommerce/changelog/49214-fix-remove-active-shipping-zone-check-cart-page
  plugins/woocommerce/src/Blocks/BlockTypes/Cart.php
Labels: type: bug, focus: cart, plugin: woocommerce, team: Rubik

#50397 [testing workflows] Update concurrency to not cancel the workflow when running on trunk
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#49757 Remove unused php imports from BlockTemplatesRegistry that were accidentally left in a previous commit
  plugins/woocommerce/changelog/49757-dev-remove-unused-imports
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
Labels: plugin: woocommerce

#50402 Monorepo: update pinned pnpm version to 9.1.3 in packageManager property.
  package.json
Labels: focus: monorepo infrastructure, team: Vortex

#50405 Image Optimization: Compress pattern placeholder images
  plugins/woocommerce/assets/images/pattern-placeholders/Image-table-wood-chair-stool-interior-restaurant.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/drinkware-liquid-tableware-dishware-bottle-fluid.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/girls-in-the-hills.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/hand-light-architecture-wood-white-house.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/man-person-music-black-and-white-white-photography.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/man-person-winter-photography-statue-coat.png
  plugins/woocommerce/assets/images/pattern-placeholders/music-needle-turntable-black-and-white-white-photography.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/plant-white-leaf-flower-vase-green.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/portrait.png
  plugins/woocommerce/assets/images/pattern-placeholders/road-sport-vintage-wheel-retro-old.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/sun-glass-vase-green-ceramic-shelf.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/table-wood-house-chair-floor-window.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/tree-branch-plant-wood-leaf-flower.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/watch-hand-brand-jewellery-strap-platinum.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/white-black-black-and-white-photograph-monochrome-photography.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/white-vase-decoration-pattern-ceramic-lamp.jpg
  plugins/woocommerce/assets/images/pattern-placeholders/writing-typing-keyboard-technology-white-vintage.jpg
  plugins/woocommerce/changelog/update-pattern-placeholder-image-optimization
Labels: type: enhancement, focus: performance, plugin: woocommerce, focus: patterns, focus: customize-your-store

#50407 [testing workflows] Update concurrency group for CI workflow
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#50070 CYS: Add Zoomed Out feature
  plugins/woocommerce-admin/client/customize-store/assembler-hub/components/device-toolbar.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/context/zoom-out-context.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-popover-handler.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/iframe.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce/changelog/add-cys-assembler-zoomed-out-view
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#50394 Remove duplicate Add to Cart Form block from Webpack entries
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce/changelog/update--remove-add-to-cart-from-webpack-entries
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
Labels: plugin: woocommerce

#50411 CYS: Fix DeviceToolbar animation
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce/changelog/fix-cys-animation
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#50390 Fix and improve payment gateway suggestions unit tests
  plugins/woocommerce/changelog/fix-50167-payment-gateway-suggestions-flaky-unit-test
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/payment-gateway-suggestions/payment-gateway-suggestions.php
Labels: plugin: woocommerce

#50274 Core: Update @wordpress/e2e-test-utils-playwright to wp-6.6
  .syncpackrc
  plugins/woocommerce/changelog/update-e2e-test-utils-playwright
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#50267 [testing workflows] Only re-run failed e2e tests
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/ci-only-run-last-failed-e2e-tests
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#49438 Monorepo: PSR-4 classes naming and Strict types directive rules for CodeSniffer.
  plugins/woocommerce/bin/composer/phpcs/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/lint-branch.sh
  plugins/woocommerce/changelog/dev-codesniffer-validate-psr4-autoloading
  plugins/woocommerce/phpcs.xml
Labels: type: technical debt, plugin: woocommerce, focus: monorepo infrastructure, team: Vortex

#50351 Enable remote logging feature flag
  plugins/woocommerce/changelog/update-enable-remote-logging
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
  plugins/woocommerce/tests/php/src/Internal/Logging/RemoteLoggerTest.php
Labels: plugin: woocommerce

#50261 CI: consolidate 'pnpm/action-setup' version and it's usage
  .github/actions/setup-woocommerce-monorepo/action.yml
  .github/actions/setup-woocommerce-monorepo/scripts/read-pnpm-version.sh
  .github/workflows/pr-lint-markdown.yml
  .github/workflows/release-code-freeze.yml
Labels: focus: monorepo infrastructure, team: Vortex

#50241 [e2e] Product Editor: Add SKU, GTIN, shipping, and custom fields to simple product creation test
  packages/js/product-editor/changelog/update-e2e-product-editor-create-simple-product
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  plugins/woocommerce/changelog/update-e2e-product-editor-create-simple-product
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#49726 Prevent sync on read when using HPOS diff CLI tool
  plugins/woocommerce/changelog/fix-hpos-diff-prevent-sync-on-read
  plugins/woocommerce/src/Internal/DataStores/Orders/LegacyDataHandler.php
Labels: plugin: woocommerce

#50003 [Accessibility] Hide zoomed product images for screen readers.
  plugins/woocommerce/changelog/fix-44478
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
Labels: plugin: woocommerce, type: community contribution

#50432 [testing workflows] Fix artifacts path for blocks e2e
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#49199 Enable Classic Template tests in the frontend and the Product Attribute template
  plugins/woocommerce-blocks/tests/e2e/tests/classic-template/classic-template.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-classic-template-tests-product-attribute-template
Labels: plugin: woocommerce, team: Kirigami & Origami

#50439 Prevent 'PR highlight changes' from running for blockified templates
  .github/workflows/pr-highlight-changes.yml
Labels: focus: monorepo infrastructure

#45439 Make `WC_Cache_Helper::geolocation_ajax_get_location_hash` case-insensitive, add tests
  plugins/woocommerce/changelog/45439-feature-normalize-geolocation-hash
  plugins/woocommerce/includes/class-wc-cache-helper.php
  plugins/woocommerce/tests/php/includes/class-wc-cache-helper-test.php
Labels: plugin: woocommerce, type: community contribution

#50392 Compatibility Layer: fix 'woocommerce_before_single_product_summary' hook position
  plugins/woocommerce-blocks/docs/internal-developers/blockified-templates/compatibility-layer.md
  plugins/woocommerce/changelog/50392-fix-compatibility-layer
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplateCompatibility.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#50345 Add default WooPayments promotions specs
  plugins/woocommerce/assets/images/payment-methods/applepay.svg
  plugins/woocommerce/assets/images/payment-methods/googlepay.svg
  plugins/woocommerce/changelog/update-wcpay-promotion-add-default-promotions
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/Init.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/DefaultPromotions.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/Init.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPayPromotionDataSourcePoller.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPaymentGatewayPreInstallWCPayPromotion.php
  plugins/woocommerce/tests/php/src/Internal/Admin/WCPayPromotion/InitTest.php
Labels: plugin: woocommerce, focus: wcpay

#50443 [e2e tests] Tweak HTML reporter output path
  plugins/woocommerce/changelog/e2e-tweak-reports-paths
  plugins/woocommerce/tests/e2e-pw/.gitignore
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests

#50414 CYS: Remove links from sidebar
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-color-palette.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-footer/sidebar-navigation-screen-footer.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-header/sidebar-navigation-screen-header.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-main.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-pages.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce/changelog/remove-cys-sidebar-links
Labels: type: task, plugin: woocommerce, focus: customize-your-store

#50436 CYS: E2E Tests for device and zoom toolbar
  plugins/woocommerce-admin/client/customize-store/assembler-hub/components/device-toolbar.tsx
  plugins/woocommerce/changelog/add-cys-zoom-e2e-tests
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/full-composability.spec.js
Labels: type: task, plugin: woocommerce, focus: e2e tests, focus: customize-your-store

#50373 [Accessibility] Add ability for a screen reader to announce the current tab on a sing…
  plugins/woocommerce/changelog/fix-43607-single-product-tab-aria-selected
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
Labels: plugin: woocommerce, type: community contribution

#50410 Customer Account - Maintain the size of the icon in smaller screens
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/style.scss
  plugins/woocommerce/changelog/50410-50369-customer-account-icon-mobile
  plugins/woocommerce/patterns/header-centered-pattern.php
Labels: plugin: woocommerce

#50445 CI: boost wp-env setup speed (minor, ~10 seconds).
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/dev-speedup-test-env-setup
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce, focus: e2e tests, team: Vortex

#50057 blueprint - Add woo blueprint exporters and importers
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCCoreProfilerOptions.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCPaymentGateways.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCSettings.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCShipping.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCTaskOptions.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCTaxRates.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Importers/ImportSetWCPaymentGateways.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Importers/ImportSetWCShipping.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Importers/ImportSetWCTaxRates.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Steps/SetWCPaymentGateways.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Steps/SetWCShipping.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Steps/SetWCTaxRates.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/Importers/ImportSetWCTaxRatesTest.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/fixtures/woo-blueprint-taxrates.json
Labels: plugin: woocommerce

#50452 [test workflows] Add LAST_FAILED_RUN switch
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#50430 Add remote logger as a log handler to wc logger
  plugins/woocommerce/changelog/50430-update-log-remote-handler
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Logging/RemoteLogger.php
  plugins/woocommerce/tests/php/src/Internal/Logging/RemoteLoggerTest.php
Labels: plugin: woocommerce

#50425 Add remote logging tool to beta tester
  packages/js/remote-logging/README.md
  packages/js/remote-logging/changelog/add-remote-logging-beta-tester-tool
  packages/js/remote-logging/src/remote-logger.ts
  packages/js/remote-logging/src/test/index.ts
  packages/js/remote-logging/typings/global.d.ts
  plugins/woocommerce-beta-tester/api/api.php
  plugins/woocommerce-beta-tester/api/remote-logging/remote-logging.php
  plugins/woocommerce-beta-tester/changelog/add-remote-logging-beta-tester-tool
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/src/app/app.js
  plugins/woocommerce-beta-tester/src/index.js
  plugins/woocommerce-beta-tester/src/options/data/actions.js
  plugins/woocommerce-beta-tester/src/options/data/resolvers.js
  plugins/woocommerce-beta-tester/src/remote-logging/index.tsx
  plugins/woocommerce-beta-tester/src/remote-logging/register-exception-filter.tsx
  plugins/woocommerce-beta-tester/typing/global.d.ts
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
  pnpm-lock.yaml
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#50461 Prepare 2.4.0 Beta Tester Release
  plugins/woocommerce-beta-tester/changelog.txt
  plugins/woocommerce-beta-tester/changelog/48806-dev-bump-beta-tester-version-to-2.3.2
  plugins/woocommerce-beta-tester/changelog/48825-update-fix-lint-errors
  plugins/woocommerce-beta-tester/changelog/49310-dev-pin-block-env-package
  plugins/woocommerce-beta-tester/changelog/49983-patch-6
  plugins/woocommerce-beta-tester/changelog/add-beta-tester-coming-soon-tool
  plugins/woocommerce-beta-tester/changelog/add-reactify-classic-payments-settings-feature-flag
  plugins/woocommerce-beta-tester/changelog/add-remote-logging-beta-tester-tool
  plugins/woocommerce-beta-tester/changelog/dev-beta-tester-prepare-release-2-4-0
  plugins/woocommerce-beta-tester/changelog/dev-try-faster-building-zip
  plugins/woocommerce-beta-tester/changelog/dev-tune-up-zip-generation
  plugins/woocommerce-beta-tester/changelog/dev-webpack-loaders-scannig-paths-tweaks
  plugins/woocommerce-beta-tester/changelog/fix-wcadmin-react18-wc-beta-tester
  plugins/woocommerce-beta-tester/changelog/update-dev-tools-expression-evaluation
  plugins/woocommerce-beta-tester/changelog/update-qit-false-positive
  plugins/woocommerce-beta-tester/composer.json
  plugins/woocommerce-beta-tester/composer.lock
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-beta-tester/woocommerce-beta-tester.php
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#50352 CYS - Move the `ai/store-title` endpoint to woocommerce admin api
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce/changelog/50352-48150-move-endpoints
  plugins/woocommerce/src/Admin/API/AI/AIEndpoint.php
  plugins/woocommerce/src/Admin/API/AI/Middleware.php
  plugins/woocommerce/src/Admin/API/AI/StoreTitle.php
  plugins/woocommerce/src/Admin/API/Init.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AI/StoreTitle.php
  plugins/woocommerce/src/StoreApi/RoutesController.php
  plugins/woocommerce/src/StoreApi/SchemaController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AI/StoreTitleSchema.php
Labels: plugin: woocommerce

#50465 Fix broken beta tester release GH action
  .github/workflows/release-wc-beta-tester.yml
Labels: focus: monorepo infrastructure

#50158 [Experimental] Add default product attribute pattern to Product Filters template part
  plugins/woocommerce/changelog/fix-49978-default-product-attribute-pattern
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/templates/parts/product-filters.html
Labels: plugin: woocommerce, team: Kirigami & Origami, block: filter by attribute

#50485 [e2e tests] Fix flaky product-attributes-block-editor -> can add existing attributes
  plugins/woocommerce/changelog/e2e-fix-product-attributes-block-editor-tests
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#50478 CYS - Update icon and text colors in the assembler
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/50478-50385-update-cys-colors
Labels: plugin: woocommerce

#50354 CYS: fix survey tracking
  plugins/woocommerce-admin/client/customize-store/transitional/survey-form/index.tsx
  plugins/woocommerce/changelog/50354-fix-survey_ces
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#50431 CYS: Fix auto scroll when a new block is added
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-insert-pattern.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce/changelog/50431-50371-cys-automatic-scrolling-to-added-pattern-not-functioning
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/full-composability.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#50471 Bump jetpack connection, stats and constants
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/tweak-bump-jetpack-connection
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-wc-tracker.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#50488 [testing workflows] Disable Metrics job in CI
  plugins/woocommerce/changelog/ci-disable-metrics-job
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#49755 [Enhancement] Create new filter `wc_lock_sku_query` for SKU lock query.
  plugins/woocommerce/changelog/49755-fix-49660-new-filter-sku-lock
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
Labels: plugin: woocommerce, type: community contribution

#50190 [Navigation] Prepare to remove feature
  packages/js/navigation/changelog/50190-add-navigation-deprecation
  packages/js/navigation/changelog/add-navigation-deprecation
  packages/js/navigation/src/index.js
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/layout/index.js
  plugins/woocommerce-admin/client/layout/navigation.js
  plugins/woocommerce-admin/client/layout/test/index.js
  plugins/woocommerce-admin/client/layout/transient-notices/style.scss
  plugins/woocommerce-admin/client/navigation/components/Item/index.js
  plugins/woocommerce-admin/client/navigation/components/category-title/index.js
  plugins/woocommerce-admin/client/navigation/components/category-title/style.scss
  plugins/woocommerce-admin/client/navigation/components/category-title/test/index.js
  plugins/woocommerce-admin/client/navigation/components/container/index.js
  plugins/woocommerce-admin/client/navigation/components/container/primary-menu.js
  plugins/woocommerce-admin/client/navigation/components/container/secondary-menu.js
  plugins/woocommerce-admin/client/navigation/components/container/style.scss
  plugins/woocommerce-admin/client/navigation/components/container/test/index.js
  plugins/woocommerce-admin/client/navigation/components/favorite-button/index.js
  plugins/woocommerce-admin/client/navigation/components/favorite-button/style.scss
  plugins/woocommerce-admin/client/navigation/components/favorite-button/test/index.js
  plugins/woocommerce-admin/client/navigation/components/favorites-tooltip/index.js
  plugins/woocommerce-admin/client/navigation/components/header/index.js
  plugins/woocommerce-admin/client/navigation/components/header/style.scss
  plugins/woocommerce-admin/client/navigation/components/header/test/index.js
  plugins/woocommerce-admin/client/navigation/components/intro-modal/images/nav-intro-1.png
  plugins/woocommerce-admin/client/navigation/components/intro-modal/images/nav-intro-2.png
  plugins/woocommerce-admin/client/navigation/components/intro-modal/images/nav-intro-3.png
  plugins/woocommerce-admin/client/navigation/components/intro-modal/index.js
  plugins/woocommerce-admin/client/navigation/components/intro-modal/style.scss
  plugins/woocommerce-admin/client/navigation/components/intro-modal/test/index.js
  plugins/woocommerce-admin/client/navigation/index.js
  plugins/woocommerce-admin/client/navigation/style.scss
  plugins/woocommerce-admin/client/navigation/stylesheets/_variables.scss
  plugins/woocommerce-admin/client/navigation/test/sample-test.js
  plugins/woocommerce-admin/client/navigation/test/utils.js
  plugins/woocommerce-admin/client/navigation/utils.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/navigation-opt-out/container.js
  plugins/woocommerce-admin/client/wp-admin-scripts/navigation-opt-out/index.js
  plugins/woocommerce-admin/client/wp-admin-scripts/navigation-opt-out/style.scss
  plugins/woocommerce-admin/docs/examples/extensions/add-navigation-items/js/index.js
  plugins/woocommerce-admin/docs/examples/extensions/add-navigation-items/woocommerce-admin-add-navigation-items-example.php
  plugins/woocommerce-admin/docs/features/navigation.md
  plugins/woocommerce-admin/webpack.config.js
  plugins/woocommerce/changelog/50190-add-navigation-deprecation
  plugins/woocommerce/src/Admin/Features/Navigation/CoreMenu.php
  plugins/woocommerce/src/Admin/Features/Navigation/Favorites.php
  plugins/woocommerce/src/Admin/Features/Navigation/Init.php
  plugins/woocommerce/src/Admin/Features/Navigation/Menu.php
  plugins/woocommerce/src/Admin/Features/Navigation/Screen.php
  plugins/woocommerce/src/Admin/PageController.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/navigation/class-wc-favorites.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/navigation/class-wc-menu.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/navigation/class-wc-screen.php
Labels: plugin: woocommerce, package: @woocommerce/navigation

#50082 Fix analytics report download link not being sent (action scheduler blocking)
  plugins/woocommerce/changelog/fix-action-scheduler-blocking
  plugins/woocommerce/src/Admin/Schedulers/SchedulerTraits.php
Labels: plugin: woocommerce, type: community contribution

#50479 Remove remote API call in "Grow your business" task
  plugins/woocommerce/changelog/fix-marketing-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Marketing.php
Labels: plugin: woocommerce

#50487 Move "Grow your business" to "Things to do next" task list
  plugins/woocommerce/changelog/update-move-marketing-task
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/TaskLists.php
Labels: plugin: woocommerce

#50203 Refactor: migrate the All Products block to functional component
  plugins/woocommerce-blocks/assets/js/blocks/products/all-products/block.json
  plugins/woocommerce-blocks/assets/js/blocks/products/all-products/edit.js
  plugins/woocommerce-blocks/assets/js/blocks/products/all-products/save.js
  plugins/woocommerce/changelog/refactor-50063-migrate-all-products-block-to-functional-component
Labels: type: refactor, plugin: woocommerce, team: Kirigami & Origami, block: all products

#50508 [Beta Tester] Fix build:zip script to make sure dependencies are built first
  plugins/woocommerce-beta-tester/changelog/50508-fix-beta-tester-build-deps
  plugins/woocommerce-beta-tester/package.json
  pnpm-lock.yaml
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#50424 [Store Alerts] Make alert action keys unique
  plugins/woocommerce-admin/client/layout/store-alerts/index.js
  plugins/woocommerce/changelog/50424-fix-store-alerts-action-keys
Labels: plugin: woocommerce

#50498 CYS: disable zoom out on fonts/color pairs iframe
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/iframe.jsx
  plugins/woocommerce/changelog/50498-fix-fonts-zoom-out
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#50340 [Experimental] Product Filters Redesign: Attribute Filters: List style
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/components/attribute-checkbox-list.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/components/checkbox-list-editor.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/packages/interactivity-components/checkbox-list/index.ts
  plugins/woocommerce-blocks/packages/interactivity-components/checkbox-list/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/attribute-filter.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/stock-status.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-49974-list-view-update
  plugins/woocommerce/src/Blocks/InteractivityComponents/CheckboxList.php
Labels: plugin: woocommerce, block-type: filter blocks

#49971 Product Collection: Fix: ensure the global product object is always ready for compatibility layer
  plugins/woocommerce/changelog/fix-global-product-object-compatibility-layer-product-collection
  plugins/woocommerce/src/Blocks/BlockTypes/ProductTemplate.php
Labels: plugin: woocommerce, team: Kirigami & Origami, type: compatibility, block: product collection

#50507 Manually init template registry and controller for non-block themes
  plugins/woocommerce/changelog/50507-update-fix-empty-template
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce

#50492 [testing workflow] Disable shards when re-running failed tests
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/ci-dont-use-sharding-for-last-failed
  plugins/woocommerce/tests/e2e-pw/.gitignore
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#50234 [Experimental]Attribute Filter: Dynamic title and description.
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block-variations.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/components/inspector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/attribute-filter.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-49979-attribute-filter-dynamic-block-title
Labels: plugin: woocommerce, team: Kirigami & Origami, block: filter by attribute

#48832 fix: wcadmin react18 createroot marketing coupons
  plugins/woocommerce-admin/client/wp-admin-scripts/marketing-coupons/index.js
  plugins/woocommerce/changelog/fix-wcadmin-react18-createroot-marketing-coupons
Labels: plugin: woocommerce, focus: marketing

#50417 Fix active plugins detection in multisite setups
  plugins/woocommerce/changelog/fix-50271-active-plugins-detection-in-multisites
  plugins/woocommerce/src/Admin/PluginsHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/plugins-helper.php
  plugins/woocommerce/tests/php/src/Admin/ShippingPartnerSuggestions/DefaultShippingPartnersTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/WCPayPromotion/DefaultPromotionsTest.php
Labels: plugin: woocommerce

#50530 [e2e tests] Update documentation to clarify the usage of dotenv files
  plugins/woocommerce/changelog/e2e-update-docs-clarify-env-use
  plugins/woocommerce/tests/e2e-pw/README.md
Labels: plugin: woocommerce, focus: e2e tests

#50535 CYS: Revert Zoom Feature
  plugins/woocommerce-admin/client/customize-store/assembler-hub/components/device-toolbar.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/context/zoom-out-context.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-popover-handler.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/iframe.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/layout.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/pattern-screen/sidebar-pattern-screen.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce/changelog/add-cys-assembler-zoomed-out-view
  plugins/woocommerce/changelog/add-cys-zoom-e2e-tests
  plugins/woocommerce/changelog/fix-cys-animation
  plugins/woocommerce/changelog/revert-zoom-out-feature
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/full-composability.spec.js
Labels: plugin: woocommerce, focus: e2e tests, focus: customize-your-store

#50239 Update docs links blocks documentation
  plugins/woocommerce-blocks/assets/js/blocks/classic-shortcode/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/incompatible-extension-notice/index.tsx
  plugins/woocommerce/changelog/50239-update-in-product-blocks-docs-links
Labels: plugin: woocommerce, team: Rubik

#50412 Checkout: Fix display of coupon removal notices
  plugins/woocommerce-blocks/assets/js/data/cart/actions.ts
  plugins/woocommerce-blocks/assets/js/data/cart/notify-errors.ts
  plugins/woocommerce-blocks/assets/js/data/cart/push-changes.ts
  plugins/woocommerce-blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce/changelog/fix-44906-coupon-removal-notices
  plugins/woocommerce/includes/class-wc-coupon.php
Labels: focus: checkout, plugin: woocommerce, team: Rubik, block: checkout, focus: store api

#50529 CYS: Improve opt in flow
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/opt-in/context.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/opt-in/opt-in.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/preload-fonts.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/font-pairing-variations/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage-ptk/sidebar-navigation-screen-homepage-ptk.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-typography/sidebar-navigation-screen-typography.tsx
  plugins/woocommerce/changelog/50529-fix-improve-opt-in-flow
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#50495 Product Gallery: add defensive check
  plugins/woocommerce/changelog/50495-50460-fatal-call-to-a-member-function-get_gallery_image_ids-on-bool
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImageNextPrevious.php
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#48831 fix: wcadmin react18 createroot print shipping banner
  plugins/woocommerce-admin/client/wp-admin-scripts/print-shipping-label-banner/index.js
  plugins/woocommerce/changelog/fix-wcadmin-react18-createroot-print-shipping-banner
Labels: plugin: woocommerce

#50399 [testing workflows] Include more paths in changes lists
  plugins/woocommerce/changelog/ci-include-woocommercephp-in-changes
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#50378 Remove jetpack-boost
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce/changelog/50378-update-remove-jetpack-boost
Labels: plugin: woocommerce

#50525 Fix: Allow verified parameter to be set by REST API request
  plugins/woocommerce/changelog/fix-45609
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-reviews-controller.php
Labels: plugin: woocommerce

#44515 Fix emptying cart issue for custom order statuses
  plugins/woocommerce/changelog/add-filter-woocommerce-should-clear-cart-after-payment
  plugins/woocommerce/includes/wc-cart-functions.php
Labels: plugin: woocommerce, type: community contribution

#50519 Fix failing tests for canonical extensions due to 49583
  plugins/woocommerce/changelog/50519-fix-ci-49583
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/wc-stock-functions.php
Labels: plugin: woocommerce

#50496 Clear global_unique_id when restoring a product with an existing global_unique_id
  plugins/woocommerce/changelog/update-clear-unique-id
  plugins/woocommerce/includes/class-wc-post-data.php
Labels: plugin: woocommerce

#50512 [Beta Tester] Flush cache after deleting option and resetting PHP rate limit
  plugins/woocommerce-beta-tester/api/options/rest-api.php
  plugins/woocommerce-beta-tester/api/remote-logging/remote-logging.php
  plugins/woocommerce-beta-tester/changelog/fix-remote-logging-tool-cache
Labels: plugin: woocommerce beta tester

#50592 Fixed the order of elements on the Order Confirmation screen
  plugins/woocommerce/changelog/50395-the-title-on-the-confirmation-page-is-below-the-subtitle
  plugins/woocommerce/src/Blocks/BlockTypes/OrderConfirmation/Status.php
Labels: type: bug, focus: checkout, plugin: woocommerce

#50566 CheckboxList and CheckboxControl: Label htmlFor and Input id should be unique
  plugins/woocommerce-blocks/assets/js/blocks/rating-filter/test/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/__snapshots__/block.tsx.snap
  plugins/woocommerce-blocks/assets/js/blocks/stock-filter/test/block.tsx
  plugins/woocommerce-blocks/packages/components/checkbox-list/checkbox-list-option-control.tsx
  plugins/woocommerce-blocks/packages/components/checkbox-list/index.tsx
  plugins/woocommerce-blocks/packages/components/checkbox-list/types.ts
  plugins/woocommerce/changelog/add-42579
Labels: type: enhancement, type: good first issue, plugin: woocommerce, team: Kirigami & Origami

#50568 wp-env: Update package dependency + add mysqlPort
  .syncpackrc
  plugins/woo-ai/changelog/50568-update-wp-env
  plugins/woo-ai/package.json
  plugins/woocommerce-beta-tester/changelog/50568-update-wp-env
  plugins/woocommerce-beta-tester/package.json
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/50568-update-wp-env
  plugins/woocommerce/package.json
  pnpm-lock.yaml
  tools/compare-perf/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, plugin: woocommerce beta tester, plugin: woo-ai

#50521 [Remote Specs] Treat empty arrays as valid cached values
  plugins/woocommerce/changelog/50521-fix-DataPoller-valid-result
  plugins/woocommerce/src/Admin/RemoteSpecs/DataSourcePoller.php
  plugins/woocommerce/tests/php/src/Internal/Admin/RemoteFreeExtensions/InitTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/WCPayPromotion/InitTest.php
Labels: plugin: woocommerce

#50518 [Beta Tester] Fix build step
  plugins/woocommerce-beta-tester/changelog/50518-fix-beta-tester-build
  plugins/woocommerce-beta-tester/package.json
Labels: focus: monorepo infrastructure, plugin: woocommerce beta tester

#50608 Exclude privacy page from the store pages -- it is a core page
  plugins/woocommerce/changelog/50608-update-exlude-privacy-page-from-store-page
  plugins/woocommerce/src/Admin/WCAdminHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/wc-admin-helper.php
Labels: plugin: woocommerce

#50516 Clean up unused images in `./assets/image` folder
  plugins/woocommerce/assets/images/admin_notes/filter-by-product-variations-note.svg
  plugins/woocommerce/assets/images/empty-content.svg
  plugins/woocommerce/assets/images/icons/credit-cards/amex.png
  plugins/woocommerce/assets/images/icons/credit-cards/diners.png
  plugins/woocommerce/assets/images/icons/credit-cards/discover.png
  plugins/woocommerce/assets/images/icons/credit-cards/jcb.png
  plugins/woocommerce/assets/images/icons/credit-cards/laser.png
  plugins/woocommerce/assets/images/icons/credit-cards/maestro.png
  plugins/woocommerce/assets/images/icons/credit-cards/mastercard.png
  plugins/woocommerce/assets/images/icons/global-attributes-icon.svg
  plugins/woocommerce/assets/images/paypal-braintree.png
  plugins/woocommerce/assets/images/select2-spinner.gif
  plugins/woocommerce/assets/images/select2.png
  plugins/woocommerce/assets/images/select2x2.png
  plugins/woocommerce/assets/images/task_list/basics-section-illustration.png
  plugins/woocommerce/assets/images/wcpayments-icon-secure.png
  plugins/woocommerce/assets/images/wpspin.gif
  plugins/woocommerce/changelog/dev-clean-up-images
Labels: plugin: woocommerce

#50579 Fix the spacing between the "Set up my store" button and TOS is too tight on small desktop screens
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/fix-core-profiler-setup-tos-spacing
Labels: plugin: woocommerce

#50582 Update Continue button container on core profiler extension screen
  plugins/woocommerce-admin/client/core-profiler/pages/Plugins.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/update-core-profiler-sticky-continue-button
Labels: plugin: woocommerce

#50584 Fix navigation badge decreases when installing extension in "Grow your business task"
  plugins/woocommerce-admin/client/task-lists/components/task.tsx
  plugins/woocommerce/changelog/fix-badge-decrease-marketing-task
Labels: plugin: woocommerce

#50580 Update add product task bottom section UI
  plugins/woocommerce-admin/client/task-lists/fills/products/constants.tsx
  plugins/woocommerce-admin/client/task-lists/fills/products/stack.scss
  plugins/woocommerce/changelog/update-product-task
Labels: plugin: woocommerce

#50613 Add default value of empty array to selected products to prevent Handpicked Products control from crashing
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
Labels: team: Kirigami & Origami, block: product collection

#50448 [e2e tests] Add hpos disabled environment and tag tests
  plugins/woocommerce/changelog/e2e-add-hpos-disabled-env
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/envs/default-hpos-disabled/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/default-hpos-disabled/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-payment-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-bulk-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-search.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-login.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-pay-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/order-email-receiving.spec.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#50440 Product Collection: Remove automatic migration code
  plugins/woocommerce-blocks/assets/js/blocks/migration-products-to-product-collection/constants.ts
  plugins/woocommerce-blocks/assets/js/blocks/migration-products-to-product-collection/migration-from-product-collection-to-products.ts
  plugins/woocommerce-blocks/assets/js/blocks/migration-products-to-product-collection/migration-from-products-to-product-collection.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/hand-picked-products-control.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/changelog/refactor-pc-remove-automatic-migration
Labels: plugin: woocommerce

#50482 Fix Metrics job (again)
  .github/workflows/scripts/run-metrics.sh
  plugins/woocommerce/changelog/fix-metrics-job-part-deux
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure
