Repository woocommerce/woocommerce, pull requests merged in 2024-06, with the labels that each got.

#48077 Revert "Add phone number to my account shipping address. (#47062)"
  plugins/woocommerce/changelog/48077-revert-shipping-phone-in-shortcode-checkout
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-addresses.spec.js
Labels: type: bug, priority: high, focus: checkout, plugin: woocommerce, focus: e2e tests, team: Rubik

#47904 Blocks E2E: Use layout-based selectors in Thumbnails block tests
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-thumbnails/product-gallery-thumbnails.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/utils/editor/editor-utils.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce/changelog/47904-e2e-remove-confusing-utilities
Labels: plugin: woocommerce

#46362 [Enhancement]: Block-based checkout input fields style updates
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/discount/style.scss
  plugins/woocommerce-blocks/assets/js/base/components/combobox/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/combobox/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-fields-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/style.scss
  plugins/woocommerce-blocks/packages/components/checkbox-control/style.scss
  plugins/woocommerce-blocks/packages/components/radio-control/style.scss
  plugins/woocommerce-blocks/packages/components/text-input/style.scss
  plugins/woocommerce-blocks/packages/components/textarea/style.scss
  plugins/woocommerce/changelog/update-46008-checkout-input-fields-style
Labels: plugin: woocommerce, team: Rubik

#48082 Add a higher priority z-index to coming soon banner
  plugins/woocommerce/changelog/48082-comming-soon-banner
  plugins/woocommerce/client/legacy/css/woocommerce.scss
Labels: type: bug, plugin: woocommerce

#48016 Fix flakiness in e2e checkout block and launch your store tests
  plugins/woocommerce/changelog/48016-fix-flakiness-checkout-block-and-lys
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48114 Product Editor: Remove Add Sizes and Add Colors buttons from Variations tab
  packages/js/product-editor/changelog/fix-product-editor-variations-remove-sizes-and-colors-buttons
  packages/js/product-editor/src/blocks/product-fields/variation-options/edit.tsx
Labels: focus: new product ux, team: Mothra

#48064 [php tests] Skip test_order_updated_webhook_delivered_once
  plugins/woocommerce/changelog/test-skip-test_order_updated_webhook_delivered_once
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#47565 Apply spacing improvements to the Checkout block
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/block.json
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/styles/style.scss
  plugins/woocommerce-blocks/packages/components/form-step/style.scss
  plugins/woocommerce/changelog/add-separator-to-terms
  plugins/woocommerce/changelog/update-checkout-section-spacing
Labels: plugin: woocommerce

#47836 Move registration of block categories on the server side
  plugins/woocommerce-blocks/assets/js/index.js
  plugins/woocommerce/changelog/47836-fix-42927-registering-blocks-in-categories-warning
  plugins/woocommerce/changelog/fix-42927-registering-blocks-in-categories-warning
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, focus: blocks

#47526 [Experimental] Product Filters Redesign: Hide individual filter blocks from the Block Inserter
  plugins/woocommerce-blocks/assets/js/blocks/product-filter/block.json
  plugins/woocommerce/changelog/47526-feat-47525-hide-individual-filters-from-block-inserter
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#48028 Test to initiate connection to WooCommerce.com
  plugins/woocommerce/changelog/e2e-add-wc_com-connection
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48101 [testing workflows] Add test environments and deprecate the daily e2e workflow
  .github/workflows/ci.yml
  .github/workflows/deprecated/smoke-test-daily.yml
  plugins/woocommerce/changelog/e2e-environments-setup-migrate-daily-runs
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/envs/default/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/default/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/gutenberg-nightly/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/gutenberg-nightly/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/gutenberg-stable/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/gutenberg-stable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-payments/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-payments/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-paypal-payments/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-paypal-payments/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-services/env-setup.sh
  plugins/woocommerce/tests/e2e-pw/envs/woocommerce-services/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/run-tests-with-env.sh
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#48122 Fix an e2e test that was merged incorrectly in #47526
  plugins/woocommerce-blocks/tests/e2e/tests/filter-blocks/basic.block_theme.spec.ts
  plugins/woocommerce/changelog/48122-dev-fix-e2e-test
Labels: plugin: woocommerce

#48107 Minor improvements to BlockTemplatesController instantiation
  plugins/woocommerce/changelog/fix-blocktemplatescontroller-bootstrap
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#47995 Product Block Editor: improve a11y when creating a new Shipping class
  packages/js/product-editor/changelog/update-product-editor-creating-shipping-class-a11y-enhancements
  packages/js/product-editor/src/components/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
Labels: focus: accessibility, focus: new product ux, team: Mothra

#47845 Related Products: hide unusable options from Inspector Controls
  plugins/woocommerce-blocks/assets/js/blocks/product-query/inspector-controls.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-query/utils.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/related-products/related-products.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/single-product-template/single-product-template-compatibility-layer.spec.ts
  plugins/woocommerce/changelog/fix-related-products-options
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, block-type: product-query

#48105 Fix WooPayments incentives allowed promo notes logic
  plugins/woocommerce/changelog/fix-48102-wcpay-incentive-promo-notes
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce, focus: wcpay

#48123 Add summaries to the details sections in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: focus: monorepo infrastructure

#48115 CYS: Ensure that toolbar appears only when the homepage sidebar is open
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce/changelog/48115-47751-cys-full-composability-ensure-that-the-block-toolbar-is-rendered-only-when-the-homepage-sidebar-is-open
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48106 Add 'template_name' labels to Product post type and Product Category and Product Tag taxonomies
  plugins/woocommerce/changelog/fix-47933-template_name-labels
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#48149 Prep release/9.0 for 9.0 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#48160 Update stable tag to 8.9.2
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48117 Add CLI tool to toggle HPOS compatibility mode
  plugins/woocommerce/changelog/fix-47078
  plugins/woocommerce/src/Database/Migrations/CustomOrderTable/CLIRunner.php
Labels: plugin: woocommerce

#48136 WooCommerce: introduce `product-editor-template-system` feature flag
  plugins/woocommerce/changelog/update-pets-add-feature-flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, team: Mothra

#47979 Override product name height and font-size
  packages/js/product-editor/changelog/dev-47478_product_name_field_adjustments
  packages/js/product-editor/src/blocks/product-fields/name/editor.scss
Labels: focus: new product ux, team: Mothra

#48029 Add annotation for test PR e2e test run results
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#47807 Remove all usage of WOOCOMMERCE_BLOCKS_PHASE and introduce BUNDLE_EXPERIMENTAL_BLOCKS
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-build-live-branch.yml
  plugins/woocommerce-blocks/bin/build-plugin-zip.sh
  plugins/woocommerce-blocks/bin/eslint-plugin-woocommerce/rules/__tests__/feature-flag.js
  plugins/woocommerce-blocks/bin/eslint-plugin-woocommerce/rules/feature-flag.js
  plugins/woocommerce-blocks/bin/github-deploy.sh
  plugins/woocommerce-blocks/bin/webpack-configs.js
  plugins/woocommerce-blocks/bin/webpack-entries.js
  plugins/woocommerce-blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/47807-dev-remove-wc-blocks-phase-env
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48137 FlexSlider: Trigger custom manual event
  plugins/woocommerce/changelog/48137-fix-flexslider-gallery-thumbs-not-responding
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
Labels: type: bug, priority: high, focus: classic front end, plugin: woocommerce

#48152 Only load 'productCount' and 'experimentalBlocksEnabled' settings in admin
  plugins/woocommerce-blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce/changelog/fix-46990-wcBlocksConfig-productCount
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractBlock.php
Labels: plugin: woocommerce, team: Kirigami & Origami

#48162 Fix flaky e2e publishing created pages and posts
  plugins/woocommerce/changelog/e2e-fix-merchant-tests-create-page-post
  plugins/woocommerce/tests/e2e-pw/fixtures/fixtures.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
Labels: plugin: woocommerce, focus: e2e tests

#47583 [Experimental] [CYS - Full Composability]: Add tooltip when user clicks on pattern
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-pattern-list.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-popover-handler.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/index.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/resizable-frame.jsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/assembler-hub/utils/select-block-on-hover.ts
  plugins/woocommerce/changelog/47583-47455-cys-full-composability-add-tooltip-on-the-hovered-pattern
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48095 CYS > Patterns Migration: Ensure a message is displayed if the user did not allow fetching patterns via API and/or they are unavailable
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce-admin/client/customize-store/design-without-ai/index.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/types.ts
  plugins/woocommerce-admin/client/customize-store/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/actions.ts
  plugins/woocommerce-admin/client/customize-store/intro/services.ts
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-banner.test.tsx
  plugins/woocommerce-admin/client/customize-store/intro/tests/intro-modal.test.tsx
  plugins/woocommerce-admin/client/customize-store/types.ts
  plugins/woocommerce/changelog/48095-47395-patterns-allow-tracking-modal
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Blocks/Patterns/PTKClient.php
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Patterns.php
  plugins/woocommerce/src/StoreApi/RoutesController.php
  plugins/woocommerce/src/StoreApi/SchemaController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/PatternsSchema.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/php/src/Blocks/Patterns/PTKPatternsStoreTest.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Patterns.php
Labels: plugin: woocommerce, focus: e2e tests

#47758 WooCommerce Blocks: Added a GitHub Action to create issues for flaky E2E tests
  .github/workflows/blocks-playwright.yml
  plugins/woocommerce-blocks/tests/e2e/flaky-tests-reporter.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/47758-add-47047-blocks-e2e-implement-flaky-test-reporter
Labels: plugin: woocommerce, focus: monorepo infrastructure, team: Kirigami & Origami

#48113 [testing workflows] Migrate release checks to ci.yml
  .github/workflows/ci.yml
  .github/workflows/deprecated/smoke-test-release.yml
  plugins/woocommerce/changelog/e2e-migrate-release-checks-to-ci
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/bin/override-wp-env-plugins.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#48073 PFT: create a new `product_form` CPT
  plugins/woocommerce/changelog/update-product-editor-introduce-product-form-post-type
  plugins/woocommerce/includes/class-wc-post-types.php
Labels: plugin: woocommerce, team: Mothra

#48139 Add DISTINCT to query in `wc_customer_bought_product` for smaller response.
  plugins/woocommerce/changelog/fix-40841
  plugins/woocommerce/includes/wc-user-functions.php
Labels: plugin: woocommerce

#48131 Optimize text wrapping prevent orphans
  plugins/woocommerce-admin/client/stylesheets/shared/_global.scss
  plugins/woocommerce/changelog/enhance-optimize-text-wrapping-prevent-orphans
Labels: plugin: woocommerce

#47141 Render notice about payment method
  plugins/woocommerce/changelog/add-missing-payment-mehtod-notice
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/src/Admin/PluginsHelper.php
Labels: plugin: woocommerce

#48163 Only accept return_url when do_update_woocommerce is present
  plugins/woocommerce/changelog/48163-fix-db-update-redirect-issue
  plugins/woocommerce/includes/class-wc-install.php
Labels: plugin: woocommerce

#48143 CYS: Add the Delete button to the Block Toolbar
  plugins/woocommerce-admin/client/customize-store/assembler-hub/block-editor-container.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/block-placeholder/use-add-no-blocks-placeholder.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/block-placeholder/use-is-no-blocks-placeholder-present.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/save-hub.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/delete.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce-admin/client/customize-store/assets/images/no-blocks.png
  plugins/woocommerce/changelog/48143-47521-cys-full-composability-add-the-delete-button-to-the-block-toolbar
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48202 Update copy for the CYS intro tour
  plugins/woocommerce-admin/client/customize-store/assembler-hub/onboarding-tour/index.tsx
  plugins/woocommerce/changelog/48202-update-intro-tour-copy
Labels: plugin: woocommerce

#48031 Replace truthy check with isset when setting default checkout field value
  plugins/woocommerce/changelog/pr-48031
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
Labels: plugin: woocommerce, type: community contribution

#48205 CYS: Fix crash homepage
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce/changelog/48205-fix-cys-crash-homepage
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#48120 Remove the potential for product attribute updates to unintentionally reset
  plugins/woocommerce/changelog/fix-30659-rest-api-attribute-updates
  plugins/woocommerce/includes/wc-attribute-functions.php
  plugins/woocommerce/tests/php/includes/wc-attribute-functions-test.php
Labels: plugin: woocommerce

#48078 Make `BatchProcessingController` a bit more robust
  plugins/woocommerce/changelog/fix-44271
  plugins/woocommerce/src/Internal/BatchProcessing/BatchProcessingController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/LegacyDataCleanup.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/LegacyDataCleanupTests.php
Labels: plugin: woocommerce

#48220 Prep release/8.9 for 8.9 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, tool: monorepo infrastructure

#48222 Prep release/8.8 for 8.8 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, tool: monorepo infrastructure

#48214 CYS: Fix Loading Screen E2E flaky test
  plugins/woocommerce/changelog/48214-47748-flaky-customize-storeloading-screenloading-screenspecjs
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/loading-screen/loading-screen.spec.js
Labels: plugin: woocommerce, focus: e2e tests, focus: customize-your-store

#46996 Fix minicart icon cursor on hover in site navbar
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/style.scss
  plugins/woocommerce/changelog/46996-fix-mini-cart-icon-hover-cursor
Labels: plugin: woocommerce, type: community contribution

#48223 WooCommerce Blocks: Change label for E2E flaky tests
  .github/workflows/blocks-playwright.yml
Labels: focus: monorepo infrastructure, team: Kirigami & Origami

#48230 Fix flaky merchant product attribute e2e test
  plugins/woocommerce/changelog/e2e-fix-merchant-products-attribute
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48229 Product Rating: Hide rating stars and counter from the inserter
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating-counter/support.ts
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/rating-stars/support.ts
  plugins/woocommerce/changelog/48229-update-product-rating-stars-counter-hidden-from-inserter
Labels: type: enhancement, plugin: woocommerce, block: single product, block: product rating

#48225 Improve editor util for inserting blocks via shortcut in e2e test suite
  plugins/woocommerce/changelog/e2e-improve-util-inserting-blocks-shortcut
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
Labels: plugin: woocommerce, focus: e2e tests

#48209 [testing workflows] Replace push to tags trigger with release published and updated
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure, focus: testing workflows

#48235 Revert customer-effort-score-tracks feature flag removal
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/typings/global.d.ts
  plugins/woocommerce/changelog/fix-48213_add_ces_feature_flag
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
Labels: type: bug, plugin: woocommerce, package: @woocommerce/customer-effort-score

#48231 Disable Launch Your Store feature flag in 9.0
  plugins/woocommerce/changelog/update-lys-feature-flag-off
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48155 Product Editor: Move variation pricing fields to General tab
  plugins/woocommerce/changelog/update-product-editor-variation-move-pricing-fields
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/ProductVariationTemplate.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: new product ux, focus: e2e tests

#48195 Add a skipped tests custom reporter for e2e tests
  plugins/woocommerce/changelog/e2e-add-skipped-test-reporter
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/reporters/skipped-tests.js
Labels: plugin: woocommerce, focus: e2e tests

#48244 Enable Launch Your Store feature flag in 9.1
  plugins/woocommerce/changelog/update-lys-feature-flag-on
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/launch-your-store.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#47876 Add unit tests for 4 wcadmin tracks
  plugins/woocommerce-admin/client/layout/test/index.js
  plugins/woocommerce-admin/client/payments-welcome/test/connect-account-page.test.tsx
  plugins/woocommerce-admin/client/task-lists/components/test/task-list-item.test.tsx
  plugins/woocommerce/changelog/add-tracks-unit-tests-improvements
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/features/onboarding-tasks/task.php
Labels: plugin: woocommerce

#48196 Add `original_post_status` to HPOS order edit screen
  plugins/woocommerce/changelog/fix-40871
  plugins/woocommerce/src/Internal/Admin/Orders/Edit.php
Labels: plugin: woocommerce

#47489 Add error class to checkout endpoint response
  plugins/woocommerce/changelog/47489-add-error-class-to-checkout-endpoint-response
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
Labels: plugin: woocommerce

#48227 CYS > Ensure that after installing fonts or patterns the user lands back in the same CYS section
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/sidebar-navigation-screen-homepage.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/actions.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce/changelog/48227-48179-tracking-redirect-same-section
Labels: plugin: woocommerce

#48233 CYS Patterns: exclude testimonial patterns using jetpack
  plugins/woocommerce/changelog/48233-exclude-testimonials-patterns
  plugins/woocommerce/src/Blocks/Patterns/PTKPatternsStore.php
Labels: plugin: woocommerce

#48226 Apply lint fixes to payment method integration documentation
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce/changelog/fix-payment-docs-lint
Labels: plugin: woocommerce, team: Rubik

#48263 Replay commits from #48231
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48221 PFT: introduce controller and initialize it
  plugins/woocommerce/changelog/update-pft-save-template-into-db
  plugins/woocommerce/includes/class-wc-post-types.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/BlockTemplateUtils.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductFormsController.php
  plugins/woocommerce/templates/product-form/simple.php
Labels: plugin: woocommerce, team: Mothra

#48228 Product Gallery: Prevent block from being registered on the post editor
  plugins/woocommerce/changelog/48228-fix-product-gallery-beta-appearing-in-post-editor
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: type: bug, plugin: woocommerce, block: product gallery

#48206 PFT: retrieve and render the product form templates
  packages/js/product-editor/changelog/update-product-editor-retrieves-templates-from-cpt
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/types.ts
Labels: team: Mothra

#48276 Fix flaky filling product price in merchant/products/block-editor/create-variable-product-block-editor.spec.js
  plugins/woocommerce/changelog/e2e-fix-flaky-merchant-create-variable
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48198 Ensure attribute slugs are properly handled in the Products REST API controller
  plugins/woocommerce/changelog/fix-36138-rest-attribute-name
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-products-controller-tests.php
Labels: focus: product, focus: rest api, plugin: woocommerce

#47762 Determine _product_template_id from WP filter
  packages/js/block-templates/changelog/add-backend-template-match
  packages/js/block-templates/src/hooks/use-layout-template/use-layout-template.ts
  packages/js/data/changelog/add-backend-template-match
  packages/js/data/src/products/types.ts
  packages/js/product-editor/changelog/fix-loading-layout-template
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/hooks/use-product-template/test/use-product-template.test.ts
  packages/js/product-editor/src/hooks/use-product-template/use-product-template.ts
  packages/js/product-editor/typings/index.d.ts
  plugins/woocommerce/changelog/add-backend-template-match
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, package: @woocommerce/data, focus: e2e tests

#48127 Fix untranslated strings on CYS and marketplace
  plugins/woocommerce-admin/client/customize-store/intro/index.tsx
  plugins/woocommerce-admin/client/customize-store/intro/theme-card.tsx
  plugins/woocommerce-admin/client/customize-store/intro/types.ts
  plugins/woocommerce-admin/client/marketplace/components/feedback-modal/feedback-modal.tsx
  plugins/woocommerce/changelog/fix-untranslated-strings
  plugins/woocommerce/src/Admin/API/OnboardingThemes.php
Labels: plugin: woocommerce

#48304 Remove unused `woocommerce_task_list_prompt_shown` option
  plugins/woocommerce-admin/client/task-lists/task-lists.tsx
  plugins/woocommerce-admin/client/task-lists/test/tasks.test.tsx
  plugins/woocommerce/changelog/remove-task-list-prompt-option-update
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce

#48125 scroll to view the templates section on the status page.
  plugins/woocommerce/changelog/pr-48125
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
  plugins/woocommerce/includes/admin/views/html-notice-template-check.php
Labels: plugin: woocommerce, type: community contribution

#48255 Move archive product title update logic outside BlockTemplatesController
  plugins/woocommerce/changelog/48255-refactor-update-product-archive-title
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
Labels: plugin: woocommerce

#46397 Update order URLs for HPOS in e2e tests
  plugins/woocommerce/changelog/e2e-update-order-urls-for-hpos
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-order.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-payment-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-refund.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-search.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-status-filter.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48316 [CYS - Full Composability] Select the next block after deleting the selected one
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/delete.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/toolbar.tsx
  plugins/woocommerce/changelog/48316-48251-select-next-block-after-delete
Labels: plugin: woocommerce

#48274 Add a step to install patterns when during the CYS flow
  plugins/woocommerce-admin/client/customize-store/design-with-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-with-ai/state-machine.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/services.ts
  plugins/woocommerce-admin/client/customize-store/design-without-ai/state-machine.tsx
  plugins/woocommerce/changelog/48274-48181-install-patterns-in-cys-flow
  plugins/woocommerce/src/Blocks/BlockPatterns.php
Labels: plugin: woocommerce

#48201 Fix tax table ajax save
  plugins/woocommerce/changelog/48201-fix-48189-tax-table-save
  plugins/woocommerce/client/legacy/js/admin/settings-views-html-settings-tax.js
Labels: focus: tax, plugin: woocommerce, team: Escargot

#48103 Display return to cart link on mobile devices
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  plugins/woocommerce/changelog/update-43640-add-return-to-cart-link-on-mobile
Labels: plugin: woocommerce, team: Rubik

#48245 Add unit tests for some tracks in product editor
  packages/js/internal-js-tests/changelog/add-tracks-unit-tests-improvements-product-editor
  packages/js/internal-js-tests/jest-preset.js
  packages/js/product-editor/changelog/add-tracks-unit-tests-improvements-product-editor
  packages/js/product-editor/src/components/feedback-bar/test/feedback-bar.test.tsx
  packages/js/product-editor/src/components/tabs/test/tabs.spec.tsx
  plugins/woocommerce-admin/client/products/fills/more-menu-items/test/delete-variation-menu-item.test.tsx
  plugins/woocommerce-admin/client/products/fills/test/product-block-editor-fills.test.tsx
  plugins/woocommerce-admin/client/products/test/product-page.test.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/test/global.d.ts
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/test/product-edit.test.tsx
  plugins/woocommerce-admin/client/wp-admin-scripts/product-tracking/test/product-new.test.tsx
  plugins/woocommerce/changelog/add-tracks-unit-tests-improvements-product-editor
Labels: plugin: woocommerce

#48265 PFT: update CPT product_form posts when plugin updates
  plugins/woocommerce/changelog/update-ptf-update-cpts-when-plugin-update
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductFormsController.php
Labels: plugin: woocommerce, team: Mothra

#48325 Run possibly_add_template_id function in woocommerce_rest_prepare_product_variation_object hook
  plugins/woocommerce/changelog/48325-fix-prepare-variation-boejct
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
Labels: plugin: woocommerce

#48315 [ci] Fetch all pages when evaluating jobs conclusions
  .github/workflows/scripts/evaluate-jobs-conclusions.js
Labels: focus: monorepo infrastructure

#48320 [e2e tests] Fix e2e test results path and report name
  .github/workflows/ci.yml
  plugins/woocommerce/changelog/e2e-fix-e2e-report-name
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#47311 Add CLI tools for the product attributes lookup table
  plugins/woocommerce/changelog/pr-47311
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/ProductAttributesLookupServiceProvider.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/CLIRunner.php
  plugins/woocommerce/src/Internal/ProductAttributesLookup/DataRegenerator.php
  plugins/woocommerce/tests/php/src/Internal/ProductAttributesLookup/LookupDataStoreTest.php
Labels: plugin: woocommerce

#48303 Reduce redundant LYS option API Calls
  plugins/woocommerce-admin/client/activity-panel/activity-panel.js
  plugins/woocommerce-admin/client/header/index.js
  plugins/woocommerce-admin/client/launch-your-store/hooks/use-launch-your-store.tsx
  plugins/woocommerce/changelog/enhance-limit-lys-options-api-call
Labels: plugin: woocommerce

#48246 Fix getOption() not catch error properly
  packages/js/data/changelog/fix-handle-fetch-option-error
  packages/js/data/src/options/controls.ts
  packages/js/data/src/options/utils.ts
Labels: package: @woocommerce/data

#48351 Sync # 320 with release 9.0
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48250 Add global ErrorBoundary component for handling errors in react admin
  plugins/woocommerce-admin/client/error-boundary/index.tsx
  plugins/woocommerce-admin/client/error-boundary/style.scss
  plugins/woocommerce-admin/client/error-boundary/test/index.test.tsx
  plugins/woocommerce-admin/client/index.js
  plugins/woocommerce-admin/client/layout/style.scss
  plugins/woocommerce/changelog/add-global-error-boundary
Labels: plugin: woocommerce

#48348 Sync #319 with trunk
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
Labels: plugin: woocommerce

#48352 Sync # 321 with release 8.9
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#48353 Sync # 322 with release 8.8
  plugins/woocommerce/client/legacy/js/frontend/order-attribution.js
  plugins/woocommerce/readme.txt
Labels: package: @woocommerce/e2e-core-tests, focus: documentation, plugin: woocommerce, focus: monorepo infrastructure, plugin: woocommerce beta tester, package: @woocommerce/components, package: @woocommerce/experimental, package: @woocommerce/onboarding, focus: api tests, focus: e2e tests, plugin: woo-ai

#48357 [e2e tests] Disable task list reminder bar in analytics-data spec - fixed flaky tests
  plugins/woocommerce/changelog/e2e-fix-analytics-data-spec-disable-task-list-reminder
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48378 Product Block Editor: disable the `product-editor-template-system` flag even for the dev-env
  plugins/woocommerce/changelog/update-product-block-editor-disable-pft-feature-flag-as-default
  plugins/woocommerce/client/admin/config/development.json
Labels: plugin: woocommerce, team: Mothra

#48190 add community check to live branch workflow
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-build-live-branch.yml
Labels: type: bug, focus: monorepo infrastructure

#48224 [blocks e2e] Move Blocks e2e into ci.yml
  .github/workflows/ci.yml
  .github/workflows/deprecated/blocks-playwright.yml
  .github/workflows/scripts/evaluate-jobs-conclusions.js
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/flaky-tests-reporter.ts
  plugins/woocommerce-blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/changelog/ci-merge-blocks-e2e
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48234 [ci] Skip build for lint jobs
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#48368 Skip the install and build steps for changelog auto add workflow
  .github/workflows/changelog-auto-add.yml
Labels: focus: monorepo infrastructure

#48336 Logging: Ensure filtered log messages don't persist across multiple log handlers
  plugins/woocommerce/changelog/fix-47126-logger-filter-multiple-handlers
  plugins/woocommerce/includes/class-wc-logger.php
Labels: plugin: woocommerce, focus: logging

#48362 Make coupon metadata read robust against wrongly stored product related metadata
  plugins/woocommerce/changelog/pr-48362
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
Labels: plugin: woocommerce

#48291 Update Playwright to 1.44.1 from 1.41.1
  .github/workflows/ci.yml
  .syncpackrc
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce-blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce-blocks/tests/e2e/utils/mini-cart/mini-cart-utils.page.ts
  plugins/woocommerce/changelog/dev-update-playwright-1_44_1
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-delete.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-images.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-linked-products.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-reviews.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-search-browse-sort.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/smoke-tests/upload-plugin.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#48083 Enable image inline actions in the variations table
  packages/js/product-editor/changelog/add-40351-image
  packages/js/product-editor/src/components/menu-items/media-library-menu-item/index.ts
  packages/js/product-editor/src/components/menu-items/media-library-menu-item/media-library-menu-item.tsx
  packages/js/product-editor/src/components/menu-items/media-library-menu-item/types.ts
  packages/js/product-editor/src/components/menu-items/upload-files-menu-item/index.ts
  packages/js/product-editor/src/components/menu-items/upload-files-menu-item/types.ts
  packages/js/product-editor/src/components/menu-items/upload-files-menu-item/upload-files-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/image-actions-menu/image-actions-menu.tsx
  packages/js/product-editor/src/components/variations-table/image-actions-menu/index.ts
  packages/js/product-editor/src/components/variations-table/image-actions-menu/style.scss
  packages/js/product-editor/src/components/variations-table/image-actions-menu/types.ts
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/use-variations/use-variations.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/types.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/variation-quick-update-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
Labels: focus: new product ux, team: Mothra

#48347 Add test for `wcpay_connect_account_clicked` track
  plugins/woocommerce-admin/client/payments-welcome/test/connect-account-page.test.tsx
  plugins/woocommerce/changelog/add-test-for-payments-welcome-tracks
Labels: plugin: woocommerce

#48364 Remove deprecated workflows, actions and related scripts
  .github/actions/tests/run-api-tests/action.yml
  .github/actions/tests/run-e2e-tests/action.yml
  .github/actions/tests/run-k6-tests/action.yml
  .github/actions/tests/setup-local-test-environment/action.yml
  .github/actions/tests/slack-alert-on-pr-merge/action.yml
  .github/actions/tests/slack-alert-on-pr-merge/scripts/compose-slack-message.js
  .github/actions/tests/slack-summary-daily/scripts/construct-slack-payload.js
  .github/actions/tests/slack-summary-daily/scripts/create-blocks-plugin-tests.js
  .github/actions/tests/slack-summary-daily/scripts/utils/get-context-blocks.js
  .github/actions/tests/slack-summary-daily/scripts/utils/index.js
  .github/actions/tests/slack-summary-daily/scripts/utils/select-emoji.js
  .github/actions/tests/slack-summary-on-release/slack-blocks/action.yml
  .github/actions/tests/slack-summary-on-release/slack-blocks/scripts/create-result-block/index.js
  .github/actions/tests/slack-summary-on-release/slack-blocks/scripts/create-result-block/utils/index.js
  .github/actions/tests/slack-summary-on-release/slack-blocks/scripts/create-result-block/utils/select-emoji.js
  .github/actions/tests/slack-summary-on-release/slack-blocks/scripts/create-result-block/utils/set-element-text.js
  .github/actions/tests/slack-summary-on-release/slack-payload/action.yml
  .github/actions/tests/slack-summary-on-release/slack-payload/scripts/construct-payload/index.js
  .github/actions/tests/slack-summary-on-release/slack-payload/scripts/construct-payload/utils/get-context-blocks.js
  .github/actions/tests/slack-summary-on-release/slack-payload/scripts/construct-payload/utils/index.js
  .github/actions/tests/upload-allure-files-to-bucket/action.yml
  .github/actions/tests/upload-allure-files-to-bucket/scripts/upload-allure-artifact.sh
  .github/workflows/deprecated/metrics.yml
  .github/workflows/deprecated/nightly-tests.yml
  .github/workflows/deprecated/non-cot-e2e-tests.yml
  .github/workflows/deprecated/non-hpos-build-and-e2e-tests-daily.yml
  .github/workflows/deprecated/pr-build-and-e2e-tests.yml
  .github/workflows/deprecated/smoke-test-daily-site-check.yml
  .github/workflows/deprecated/smoke-test-daily.yml
  .github/workflows/deprecated/smoke-test-pr-merge.yml
  .github/workflows/deprecated/smoke-test-release.yml
  .github/workflows/pr-smoke-test.yml
  .github/workflows/scripts/download-release-zip.js
  .github/workflows/scripts/fetch-asset-id.js
  .github/workflows/scripts/prepare-test-summary-daily.js
  .github/workflows/scripts/prepare-test-summary.js
  .github/workflows/scripts/validate-release-version.js
Labels: focus: monorepo infrastructure

#48183 Document template parts used by the Classic Template block
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/README.md
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/assets/doc-image-single-product-classic-block.png
  plugins/woocommerce-blocks/docs/internal-developers/templates/README.md
  plugins/woocommerce-blocks/docs/internal-developers/templates/assets/classic-template-attributes.png
  plugins/woocommerce-blocks/docs/internal-developers/templates/classic-template.md
  plugins/woocommerce/changelog/fix-47219-classic-template-block-template-parts
Labels: focus: template, plugin: woocommerce, team: Kirigami & Origami

#48337 Fix interpolation syntax.
  plugins/woocommerce/changelog/fix-attr-lookup-cli-tool
  plugins/woocommerce/src/Internal/ProductAttributesLookup/CLIRunner.php
Labels: plugin: woocommerce

#48394 CYS: hide popover when the mouse pointer leaves the site preview and then back.
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-popover-handler.ts
  plugins/woocommerce/changelog/48394-48182-cys-not-render-the-tooltip-if-the-pointer-is-moved-away-from-the-frame-and-then-back
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#48389 CYS: Fix CSS header
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/48389-48314-cys-a-lot-of-space-added-at-top-of-the-page-with-the-last-version-of-gutenberg-trunk
Labels: type: bug, plugin: woocommerce, team: Kirigami & Origami, focus: customize-your-store

#47754 [Enhancement]: Optimise flow when using the Cart block and shipping calculations are disabled
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-placeholder.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/totals/shipping/shipping-rate-selector.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/test/block.js
  plugins/woocommerce-blocks/packages/components/totals/item/style.scss
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-shipping.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/47754-update-46949-cart-block-with-shipping-calculations-disabled
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-block-calculate-shipping.spec.js
Labels: type: enhancement, focus: cart, focus: shipping, plugin: woocommerce, focus: e2e tests, team: Rubik, block: cart

#48386 WooCommerce: fixes the checks when migrating the product form template
  plugins/woocommerce/changelog/update-product-form-template-fix-update-post-type-bug
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductFormsController.php
Labels: plugin: woocommerce, team: Mothra

#48412 Revise community review policy.
  .github/project-community-pr-assigner.yml
Labels: focus: monorepo infrastructure

#48212 Improve consistency of Manage button for different WooPayments KYC states
  plugins/woocommerce/changelog/fix-wcpay-8813-consistency-of-woopayments-manage-settings-button
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways.php
Labels: plugin: woocommerce

#48112 Replace Products (Beta) with Product Collection in product archive templates
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/use-forced-layout/index.ts
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/archive-product.ts
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/product-search-results.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/constants.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/compatibility-layer.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/products/products.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/products/utils.ts
  plugins/woocommerce/changelog/43411-product-collection-replace-products-beta-with-product-collection-in-product-archive-templates
  plugins/woocommerce/patterns/no-products-found-filters.php
  plugins/woocommerce/patterns/product-search-form.php
  plugins/woocommerce/phpcs.xml
  plugins/woocommerce/templates/templates/blockified/archive-product.html
  plugins/woocommerce/templates/templates/blockified/product-search-results.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_attribute.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_cat.html
  plugins/woocommerce/templates/templates/blockified/taxonomy-product_tag.html
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: product-query, block: product collection

#48204 Hide Products (Beta) from inserter
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-query/variations/product-query.tsx
  plugins/woocommerce/changelog/43414-product-collection-hide-products-beta-from-inserter
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-tags-attributes.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, block-type: product-query, block: product collection

#48420 Clean up theming sections in WooCommerce blocks docs
  plugins/woocommerce-blocks/docs/README.md
  plugins/woocommerce/changelog/fix-woocommerce-docs-theming-cleanup
Labels: plugin: woocommerce, team: Kirigami & Origami

#48430 Fix flaky activate-and-setup/core-profiler.spec.js e2e test
  plugins/woocommerce/changelog/e2e-fix-flaky-store-owner-core-profiler
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48356 Fix flaky assembler homepage e2e test
  plugins/woocommerce/changelog/e2e-fix-flaky-assembler-homepage-test
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/assembler.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48341 Logging: Handle multibyte characters and slashes in context data
  plugins/woocommerce/changelog/fix-44743-log-multibyte-context
  plugins/woocommerce/src/Internal/Admin/Logging/LogHandlerFileV2.php
  plugins/woocommerce/src/Internal/Admin/Logging/PageController.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/LogHandlerFileV2Test.php
Labels: plugin: woocommerce, focus: logging

#48443 Update @wordpress/env to 9.7.0 in blocks library
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/e2e-update-wp-env-in-blocks-library-9.7.0
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#48396 Product Editor: Show error notice when error occurs uploading an image via drop on Images
  packages/js/components/changelog/fix-product-editor-images-drop-error
  packages/js/components/src/index.ts
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/components/src/media-uploader/types.ts
  packages/js/product-editor/changelog/fix-product-editor-images-drop-error
  packages/js/product-editor/src/blocks/product-fields/images/edit.tsx
Labels: package: @woocommerce/components, focus: new product ux

#48446 Fix flaky e2e test and update login util
  plugins/woocommerce/changelog/e2e-fix-flaky-login-user-create
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-create.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/login.js
Labels: plugin: woocommerce, focus: e2e tests

#48424 [e2e tests] Update the report configuration for core e2e tests and add a new workflow call for report publishing
  .github/workflows/ci.yml
  .github/workflows/tests-daily-run.yml
  plugins/woocommerce/changelog/e2e-call_new_report_workflow
  plugins/woocommerce/package.json
  plugins/woocommerce/tests/api-core-tests/global-setup.js
  plugins/woocommerce/tests/e2e-pw/global-setup.js
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: api tests, focus: e2e tests

#48423 Revert #47083
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/constants.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/editable-button/index.tsx
  plugins/woocommerce-blocks/tests/e2e/tests/cart/cart-checkout-block-translations.shopper.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce-blocks/tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
  plugins/woocommerce/changelog/revert-47083-display-price-in-place-order-button
Labels: plugin: woocommerce, team: Rubik

#48346 Remove onboarding welcome modals
  docs/contributing/common-issues.md
  docs/docs-manifest.json
  packages/js/e2e-utils/src/components.js
  plugins/woocommerce-admin/client/homescreen/constants.js
  plugins/woocommerce-admin/client/homescreen/index.tsx
  plugins/woocommerce-admin/client/homescreen/layout.js
  plugins/woocommerce-admin/client/homescreen/welcome-from-calypso-modal/index.js
  plugins/woocommerce-admin/client/homescreen/welcome-from-calypso-modal/style.scss
  plugins/woocommerce-admin/client/homescreen/welcome-from-calypso-modal/welcome-from-calypso-modal.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/illustrations/inbox.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/illustrations/line-chart.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/illustrations/pie-chart.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/index.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/page-content/index.js
  plugins/woocommerce-admin/client/homescreen/welcome-modal/style.scss
  plugins/woocommerce-admin/client/homescreen/welcome-modal/test/index.js
  plugins/woocommerce-admin/client/navigation/components/intro-modal/index.js
  plugins/woocommerce-admin/client/navigation/components/intro-modal/test/index.js
  plugins/woocommerce-admin/docs/features/onboarding.md
  plugins/woocommerce/changelog/remove-welcome-modal
  plugins/woocommerce/src/Admin/API/Options.php
Labels: package: @woocommerce/e2e-utils, focus: documentation, plugin: woocommerce

#48317 Handle core profiler get countries error
  plugins/woocommerce-admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce-admin/client/core-profiler/events.tsx
  plugins/woocommerce-admin/client/core-profiler/index.tsx
  plugins/woocommerce-admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce-admin/client/core-profiler/style.scss
  plugins/woocommerce/changelog/48317-update-handle-get-countries-error
Labels: plugin: woocommerce

#48363 Add generic error boundary component
  packages/js/components/changelog/add-error-boundary
  packages/js/components/src/empty-content/index.js
  packages/js/components/src/error-boundary/constants.ts
  packages/js/components/src/error-boundary/index.tsx
  packages/js/components/src/error-boundary/stories/index.tsx
  packages/js/components/src/error-boundary/style.scss
  packages/js/components/src/error-boundary/test/index.test.tsx
  packages/js/components/src/index.ts
  packages/js/components/src/style.scss
  pnpm-lock.yaml
  tools/storybook/package.json
  tools/storybook/webpack.config.js
Labels: focus: monorepo infrastructure, package: @woocommerce/components

#48253 Hide Product Summary (Product Elements) from Single Product block
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/summary/index.ts
  plugins/woocommerce/changelog/fix-hide-product-summary-in-single-product
Labels: plugin: woocommerce

#48447 CYS: apply white color to the heading elements in the core/cover block
  plugins/woocommerce-admin/client/customize-store/assembler-hub/sidebar/global-styles/color-palette-variations/constants.ts
  plugins/woocommerce/changelog/48447-48440-cys-headers-are-black
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
Labels: type: bug, plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, focus: customize-your-store

#48432 Fix `WC_Settings_API` textarea validation method
  plugins/woocommerce/changelog/fix-settings-api-textarea-validation
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/abstracts/abstract-wc-settings-api.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-controller.php
Labels: plugin: woocommerce, team: Rubik

#47784 REST API: Check if stock should be adjusted when updating order line items
  plugins/woocommerce/changelog/fix-44085-on-hold-stock-api
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-orders-v2-controller.php
Labels: focus: rest api, plugin: woocommerce

#48458 [CYS - Full Composability]: Fix active/inactive patterns for each assembler section
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce/changelog/48458-48426-assembler-active-patterns
Labels: plugin: woocommerce

#48327 Product Form Template: populate the template selector control with the PFTs
  packages/js/product-editor/changelog/update-pft-populate-template-selector
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/types.ts
  packages/js/product-editor/src/utils/is-product-form-template-system-enabled.ts
  plugins/woocommerce/changelog/update-pft-populate-template-selector
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/ProductFormsController.php
  plugins/woocommerce/templates/product-form/simple.php
Labels: plugin: woocommerce, team: Mothra

#48219 clarify the `name` property needs to match between JS and PHP
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/checkout-payment-methods/payment-method-integration.md
  plugins/woocommerce/changelog/48219-docs-improvement
Labels: plugin: woocommerce, type: community contribution

#48460 CYS: avoid flickering image loading screen
  plugins/woocommerce-admin/client/customize-store/design-with-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce-admin/client/customize-store/design-without-ai/pages/ApiCallLoader.tsx
  plugins/woocommerce/changelog/48460-fix-improve-flickering-loading-image
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#48129 Fix CYS crash when loads in WordPress Playground
  plugins/woocommerce-admin/client/customize-store/utils.js
  plugins/woocommerce/changelog/48129-fix-cys-playground
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#48294 Re-enable variable product E2E test
  plugins/woocommerce/changelog/fix-e2e-tests-for-variations
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-variable-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48239 Enable manage stock inline actions in the variations table
  packages/js/product-editor/changelog/add-40351-stock
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/index.ts
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/styles.scss
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/types.ts
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/variation-stock-status-form.tsx
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
  plugins/woocommerce/changelog/add-40351-stock
  plugins/woocommerce/src/Admin/API/Options.php
Labels: plugin: woocommerce, focus: new product ux, team: Mothra

#48192 Do not dismiss the error snackbar automatically
  packages/js/product-editor/changelog/dev-46765_modify_product_editor_error_snackbar
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/block.json
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/components/editor/editor.tsx
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/preview-button/preview-button.tsx
  packages/js/product-editor/src/components/header/preview-button/types.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/types.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/publish-button/types.ts
  packages/js/product-editor/src/components/header/save-draft-button/save-draft-button.tsx
  packages/js/product-editor/src/components/header/save-draft-button/types.ts
  packages/js/product-editor/src/components/header/types.ts
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
  packages/js/product-editor/src/utils/get-product-error-message-and-props.ts
  packages/js/product-editor/src/utils/get-product-error-message.ts
  packages/js/product-editor/src/utils/test/get-product-error-message.ts
  plugins/woocommerce/changelog/dev-46765_modify_product_editor_error_snackbar
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests, team: Mothra

#48164 Enable pricing inline actions in the variations table
  packages/js/product-editor/changelog/add-40351-prices
  packages/js/product-editor/src/components/variations-table/styles.scss
  packages/js/product-editor/src/components/variations-table/variation-pricing-form/index.ts
  packages/js/product-editor/src/components/variations-table/variation-pricing-form/styles.scss
  packages/js/product-editor/src/components/variations-table/variation-pricing-form/types.ts
  packages/js/product-editor/src/components/variations-table/variation-pricing-form/variation-pricing-form.tsx
  packages/js/product-editor/src/components/variations-table/variations-table-row/variations-table-row.tsx
Labels: focus: new product ux, team: Mothra

#48463 Fix flaky merchant customer-list e2e test
  plugins/woocommerce/changelog/e2e-fix-flaky-merchant-customer-list
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48471 E2E Tweaks - Stricter selector and smart wait
  plugins/woocommerce/changelog/48471-24-06-e2e-tweaks
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-create-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-manage.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48475 Improve cart util and update relevant e2e tests
  plugins/woocommerce/changelog/e2e-improve-cart-util
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-block-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/cart.js
Labels: plugin: woocommerce, focus: e2e tests

#48482 Prep release/9.0 for 9.0 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#48465 [CYS] Show tooltips in delete and shuffle buttons
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/delete.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/shuffle.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/toolbar/style.scss
  plugins/woocommerce/changelog/48465-48438-tooltip-shuffle-delete-buttons
Labels: plugin: woocommerce

#48495 CYS: fix tooltip position
  plugins/woocommerce-admin/client/customize-store/assembler-hub/auto-block-preview.tsx
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/auto-block-preview-event-listener.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/hooks/use-popover-handler.ts
  plugins/woocommerce-admin/client/customize-store/assembler-hub/style.scss
  plugins/woocommerce/changelog/48495-fix-cys-tooltip-position
Labels: type: bug, plugin: woocommerce, focus: customize-your-store

#48496 Fix flaky color palette picker e2e test
  plugins/woocommerce/changelog/47724-fix-flaky-e2e-test-color-palette-picker
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/color-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#48467 CYS: set new default patterns
  plugins/woocommerce-admin/client/customize-store/data/actions.ts
  plugins/woocommerce/changelog/48467-47577-cys-full-composability-update-the-default-patterns-in-the-assembler-1
Labels: type: enhancement, plugin: woocommerce, focus: customize-your-store

#48464 Prevent checkout step divider overflowing causing horizontal scroll on mobile
  plugins/woocommerce-blocks/packages/components/form-step/style.scss
  plugins/woocommerce/changelog/fix-checkout-width
Labels: type: bug, priority: high, focus: checkout, plugin: woocommerce, team: Rubik, block: checkout
