Repository woocommerce/woocommerce, pull requests merged in 2025-09, with the labels that each got.

#60634 (Experimental) Add a v4 API skeleton behind a feature flag
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/includes/class-wc-autoloader.php
  plugins/woocommerce/includes/rest-api/Controllers/Version4/Ping/class-wc-rest-ping-v4-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version4/class-wc-rest-v4-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/includes/wc-rest-functions.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#60682 WPS migration: fix loading and hiding of legacy settings
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
Labels: plugin: woocommerce

#60641 Make Product Quantity block update based on the selected variation in the Add to Cart + Options block
  plugins/woocommerce/changelog/update-59443-quantity-selector-variation-data
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/frontend.ts
  plugins/woocommerce/client/blocks/tests/e2e/plugins/quantity-constraints.php
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductItemSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/QuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/Utils.php
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#60596 Interactivity API powered Mini Cart - show variations and custom data
  plugins/woocommerce/changelog/60596-wooplug-5390-interactivity-api-powered-mini-cart-show-variations
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartProductsTableBlock.php
Labels: Bug, plugin: woocommerce, block: mini-cart

#60307 Add preview save reminder notice for unsaved changes
  packages/js/email-editor/changelog/wooplug-4597-display-warning-message-when-user-clicks-on-preview-in-new
  packages/js/email-editor/src/components/block-editor/editor.tsx
  packages/js/email-editor/src/components/preview/preview-save-guard.ts
Labels: Ballade, package: @woocommerce/email-editor

#60614 Reduce get_post_meta calls
  plugins/woocommerce/changelog/60614-fix-37326
  plugins/woocommerce/includes/data-stores/class-wc-product-variation-data-store-cpt.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-variations-data-store-cpt-test.php
Labels: plugin: woocommerce

#60701 Classic template: Ensure related product images are lazy loaded
  plugins/woocommerce/changelog/60701-wooplug-5296-images-on-related-products-not-lazy-loaded
  plugins/woocommerce/templates/single-product/related.php
Labels: plugin: woocommerce

#60699 Remove wrappers from fulfillments responses
  plugins/woocommerce/changelog/60699-fix-fulfillments-endpoint-responses
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/shipment-form/shipment-tracking-number-form.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/shipment-form/test/shipment-tracking-number-form.test.js
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/context/fulfillment-context.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/data/store.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/data/types.ts
  plugins/woocommerce/client/admin/docs/features/fulfillments-rest-api.md
  plugins/woocommerce/src/Internal/DataStores/Fulfillments/FulfillmentsDataStore.php
  plugins/woocommerce/src/Internal/Fulfillments/Fulfillment.php
  plugins/woocommerce/src/Internal/Fulfillments/OrderFulfillmentsRestController.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/OrderFulfillmentsRestControllerTest.php
Labels: plugin: woocommerce

#60712 Fix error when a custom coupon discount type is "unregistered"
  plugins/woocommerce/changelog/pr-60712
  plugins/woocommerce/includes/class-wc-coupon.php
  plugins/woocommerce/tests/legacy/unit-tests/order/coupons.php
Labels: plugin: woocommerce

#60710 Move products data in WooCommerce generic store to config
  plugins/woocommerce/changelog/update-products-data-in-config
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/QuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSKU.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSpecifications.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
Labels: plugin: woocommerce, block: add to cart form

#60690 Create `v4/products/` endpoint
  plugins/woocommerce/changelog/60690-add-v4-products-endpoint
  plugins/woocommerce/includes/rest-api/Controllers/Version4/Products/README.md
  plugins/woocommerce/includes/rest-api/Controllers/Version4/Products/class-wc-rest-products-v4-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/Products/class-wc-rest-products-v4-controller-tests.php
Labels: plugin: woocommerce

#60740 [dev] CI: increase performance metrics job fail threshold.
  .github/workflows/scripts/run-metrics.sh
Labels: focus: monorepo infrastructure

#60734 Prevent added to cart notices to appear unnecessarily in Product Collection and Add to Cart + Options blocks when used in two different tabs in parallel
  plugins/woocommerce/changelog/fix-60733-add-to-cart-notices
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
Labels: plugin: woocommerce, Kirigami, block: add to cart form, block: product collection

#60753 [CI] Fix publishing data to codevitals
  tools/compare-perf/log-to-codevitals.js
Labels: focus: monorepo infrastructure

#60717 PayPal JSSDK: Add enable/disable PayPal buttons settings
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal-buttons.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
Labels: plugin: woocommerce

#60738 Email restricted coupon removed during payment via Apple/Google Pay
  plugins/woocommerce/changelog/2025-09-03-10-19-47-182623
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
Labels: plugin: woocommerce

#60762 [CI] Additional output in codevitals publishing to ease the troubleshooting
  .github/workflows/scripts/run-metrics.sh
  tools/compare-perf/log-to-codevitals.js
Labels: focus: monorepo infrastructure

#60671 PayPal JSSDK: Load PayPal buttons on classic checkout page
  plugins/woocommerce/client/legacy/js/gateways/paypal.js
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal-buttons.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: plugin: woocommerce

#60772 Apply consistent font sizes and spacing in checkout (miscellaneous small blocks) #60402
  plugins/woocommerce/client/blocks/assets/css/abstracts/_mixins.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/place-order-button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/place-order-button/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/test/checkout-express-payment.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/address-card/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-additional-information-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-note-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/order-notes/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/order-notes/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/styles/style.scss
  plugins/woocommerce/client/blocks/packages/components/checkbox-control/index.tsx
  plugins/woocommerce/client/blocks/packages/components/checkbox-control/style.scss
  plugins/woocommerce/client/blocks/packages/components/form-step/index.tsx
  plugins/woocommerce/client/blocks/packages/components/form-step/style.scss
  plugins/woocommerce/client/blocks/packages/components/textarea/style.scss
Labels: plugin: woocommerce

#60735 Create V4 REST API for fulfillments
  plugins/woocommerce/includes/rest-api/Controllers/Version4/Fulfillments/class-wc-rest-fulfillments-v4-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/Fulfillments/class-wc-rest-fulfillments-v4-controller-tests.php
Labels: plugin: woocommerce

#60758 Fix: only dequeue legacy assets for block themes
  plugins/woocommerce/changelog/60758-wooplug-5478-add_theme_supportwoocommerce-breaks-product-image-gallery-in
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
Labels: plugin: woocommerce

#60745 Update the Add to Cart + Options block so attributes are automatically selected when they match the URL parameters
  plugins/woocommerce/changelog/fix-60743-select-attribute-from-url
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/VariationSelectorAttributeOptions.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/AddToCartWithOptions.php
Labels: plugin: woocommerce, block: add to cart form

#60786 Add 'rest-api-v4' feature flag to core.json configuration
  plugins/woocommerce/client/admin/config/core.json
Labels: plugin: woocommerce

#60698 Add WordPress Abilities API integration
  plugins/woocommerce/changelog/add-wordpress-abilities-api
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/tests/php/src/Internal/AbilitiesApi/AbilitiesApiIntegrationTest.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60727 Add new /wc/v3/variations endpoint for Point of Sale incremental sync
  plugins/woocommerce/changelog/add-variations-endpoint
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-variations-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/product-variations.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-variations-controller-tests.php
Labels: plugin: woocommerce

#60739 Remove `store_api_draft_order` from session when empty or cart session is destroyed
  plugins/woocommerce/changelog/performance-60341-remove-store_api_draft_order
  plugins/woocommerce/includes/class-wc-cart-session.php
  plugins/woocommerce/tests/php/includes/class-wc-cart-test.php
Labels: plugin: woocommerce

#60716 Prevent order attribution install banner when file mods are not allowed
  plugins/woocommerce/changelog/fix-60573
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/src/Internal/Admin/WCAdminUser.php
  plugins/woocommerce/templates/order/attribution-details.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Orders/MetaBoxes/OrderAttributionTest.php
Labels: plugin: woocommerce

#60835 Update the email editor PHP package in the Woo core to 1.5.0
  plugins/woocommerce/changelog/bump-email-editor-150
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60827 Analytics: Add new action after the order is imported
  plugins/woocommerce/changelog/analytics-order-import-action
  plugins/woocommerce/src/Internal/Admin/Schedulers/OrdersScheduler.php
Labels: plugin: woocommerce

#60805 Fix autocomplete address unit test
  .syncpackrc
  plugins/woocommerce/changelog/fix-autocomplete-unit-test
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/client/legacy/babel-transformer.js
  plugins/woocommerce/client/legacy/jest.config.json
  plugins/woocommerce/client/legacy/js/frontend/test/address-autocomplete.js
  plugins/woocommerce/client/legacy/package.json
  pnpm-lock.yaml
Labels: Checkout, plugin: woocommerce, focus: monorepo infrastructure, Rubik

#60863 Limit the number of requests for products in Editor
  plugins/woocommerce/changelog/fix-52960-limit-excessive-product-requests
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/shared/hocs/with-product-data-context.js
Labels: plugin: woocommerce

#60361 Add filters for customizing COGS total and refunded COGS output in admin order screen
  plugins/woocommerce/changelog/pr-60361
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-item.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-items.php
Labels: plugin: woocommerce, type: community contribution

#60861 [Migrator]: Preserve the initial attribute mapping from Shopify
  plugins/woocommerce/changelog/fix-attribute-mapping
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/WooCommerceProductImporter.php
Labels: plugin: woocommerce

#60683 Fix typo in HPOS activation instructions
  docs/features/high-performance-order-storage/enable-hpos.md
Labels: Documentation

#60849 iAPI-powered MiniCart: Support legacy cart events
  plugins/woocommerce/changelog/60849-wooplug-5503-iapi-powered-minicart-counter-and-total-price-not-updated-on
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/legacy-events.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce

#60925 Skip a flaky test for analytics product refund for 10.2 release
  plugins/woocommerce/changelog/tweak-skip-a-flaky-test-for-analytics-product-refund
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
Labels: plugin: woocommerce

#60808 Split Product Quantity store from Add to Cart + Options
  plugins/woocommerce/changelog/fix-product-data-source-ii
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/frontend.ts
  plugins/woocommerce/client/blocks/bin/webpack-config-interactive-blocks.js
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductItemSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/QuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/Utils.php
Labels: plugin: woocommerce

#60877 iAPI MiniCart: Compatibility with integration registry
  plugins/woocommerce/changelog/60877-wooplug-5515-iapi-mini-block-beta-compatibility-with-woocommerce
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartProductsTableBlock.php
Labels: plugin: woocommerce

#60266 Fix: Update Indian state and UT list per official standards. Closes #60264
  plugins/woocommerce/changelog/60266-fix-60264-update-indian-states
  plugins/woocommerce/i18n/states.php
Labels: plugin: woocommerce, type: community contribution

#60917 Introduce read multiple to shipping zones
  plugins/woocommerce/changelog/WOOPLUG-5527-introduce-read-multiple-to-shipping-zones
  plugins/woocommerce/includes/class-wc-shipping-zones.php
  plugins/woocommerce/includes/data-stores/class-wc-shipping-zone-data-store.php
Labels: plugin: woocommerce

#60907 Ensure chrome browser autocomplete is disabled when using address autocomplete feature
  plugins/woocommerce/changelog/fix-autocomplete-chrome
  plugins/woocommerce/client/legacy/js/frontend/address-autocomplete.js
  plugins/woocommerce/client/legacy/js/frontend/test/address-autocomplete.js
Labels: plugin: woocommerce

#60845 Ensure child themes load parent fonts in coming soon mode.
  plugins/woocommerce/changelog/fix-coming-soon-child-themes-load-parent-fonts
  plugins/woocommerce/src/Internal/ComingSoon/ComingSoonRequestHandler.php
Labels: plugin: woocommerce, Onboarding

#60909 Remove unnecessary attribute from Stock Indicator
  plugins/woocommerce/changelog/remove-unnecessary-attribute-from-stock-indicator
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/block.json
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/test/block.test.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/types.ts
Labels: plugin: woocommerce

#60971 Update Product Elements registration logic
  plugins/woocommerce/changelog/wooplug-5538-update-product-elements-registration-logic
  plugins/woocommerce/client/blocks/assets/js/atomic/utils/register-product-block-type.ts
Labels: plugin: woocommerce

#60969 Refactor wcSettings assignment to handle multiple script loads
  plugins/woocommerce/src/Blocks/Assets/AssetDataRegistry.php
Labels: plugin: woocommerce

#60966 Add to Cart + Options: skip adding default values to variations data object
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-non-default-variation-data
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/QuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/VariationDescription.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
Labels: plugin: woocommerce, block: add to cart form

#60993 Classic Template Block: Hide from inserter and simplify logic
  plugins/woocommerce/changelog/60993-fix-template-slug-check
  plugins/woocommerce/client/blocks/assets/js/blocks/classic-template/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/classic-template/utils.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/classic-template/classic-template.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#61002 Make sure we operate on strings in Register Product Blocks
  plugins/woocommerce/changelog/add-type-check-register-product-block
  plugins/woocommerce/client/blocks/assets/js/atomic/utils/register-product-block-type.ts
Labels: plugin: woocommerce

#60947 Add to Cart Button: disable optimistic updates if product is sold individually and is already in the cart
  plugins/woocommerce/changelog/fix-sold-individually-optimistic-updates
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
Labels: plugin: woocommerce

#60965 [WOO13-43] feat: unified api for zone summary page in next-admin
  plugins/woocommerce/changelog/add-v4-shipping-zones-endpoint
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/RestApi/Routes/V4/ShippingZones/Controller.php
  plugins/woocommerce/src/RestApi/Routes/V4/ShippingZones/ShippingZoneSchema.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/ShippingZones/class-wc-rest-shipping-zones-v4-controller-tests.php
Labels: plugin: woocommerce

#61022 Address error in woocommerce 10.2 update script for fully refunded orders
  plugins/woocommerce/changelog/wooplug-5561-error-in-woocommerce-102-update-script
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/Admin/Analytics.php
Labels: plugin: woocommerce

#60578 PayPal WPS migration
  plugins/woocommerce/changelog/60578-feature-paypal-wps-migration
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-payment-gateways.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-constants.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-helper.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-transact-account-manager.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-paypal-webhooks-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/PayPal.php
  plugins/woocommerce/tests/legacy/bootstrap.php
  plugins/woocommerce/tests/php/includes/gateways/paypal/class-wc-gateway-paypal-request-test.php
  plugins/woocommerce/tests/php/includes/gateways/paypal/class-wc-gateway-paypal-transact-manager-account-test.php
Labels: plugin: woocommerce

#61009 [10.2 Backport] Update template recognition methods to be compatible with GB 21.7RC
  plugins/woocommerce/changelog/add-type-check-register-product-block
  plugins/woocommerce/changelog/fix-deprecated-core-functions
  plugins/woocommerce/changelog/fix-register-product-blocks-deprecated-function
  plugins/woocommerce/changelog/wooplug-5538-update-product-elements-registration-logic
  plugins/woocommerce/client/admin/client/wp-admin-scripts/command-palette-analytics/index.js
  plugins/woocommerce/client/admin/client/wp-admin-scripts/command-palette/index.js
  plugins/woocommerce/client/admin/client/wp-admin-scripts/command-palette/use-edited-post-type.js
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/shared/use-is-descendent-of-single-product-template.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/utils/register-product-block-type.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/classic-template/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-categories/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/test/block.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-query/utils.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-query/variations/product-query.tsx
  plugins/woocommerce/client/blocks/assets/js/data/cart/test/index.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/test/push-changes.ts
  plugins/woocommerce/client/blocks/assets/js/data/payment/test/check-payment-methods.tsx
  plugins/woocommerce/client/blocks/assets/js/data/payment/test/set-default-payment-method.ts
  plugins/woocommerce/client/blocks/assets/js/utils/is-site-editor-page.ts
Labels: plugin: woocommerce

#61015 Improve the performance of Blocks\AssetsController::get_block_asset_resource_hints()
  plugins/woocommerce/changelog/improve-performance-of-assetcontroller-get_script_dependency_src_array
  plugins/woocommerce/src/Blocks/AssetsController.php
Labels: plugin: woocommerce

#60876 PayPal JSSDK: Create order handler
  plugins/woocommerce/client/blocks/assets/js/extensions/payment-methods/paypal/buttons.js
  plugins/woocommerce/client/legacy/js/gateways/paypal.js
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-paypal-buttons-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/PayPal.php
Labels: plugin: woocommerce

#60938 Use `Block_Scanner` to find the local pickup text instead of `parse_blocks`
  plugins/woocommerce/changelog/60938-performance-58285-replace-parse_blocks-2
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: plugin: woocommerce, focus: monorepo infrastructure, Performance

#60943 Replace `parse_blocks` in the `has_block_variation` function
  plugins/woocommerce/changelog/60943-performance-58285-replace-parse_blocks-3
  plugins/woocommerce/src/Blocks/Utils/CartCheckoutUtils.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/CartCheckoutUtilsTest.php
Labels: plugin: woocommerce, Performance

#61028 Fix date picker language issue in woocommerce analytics
  packages/js/components/changelog/wooplug-5557-date-picker-language-issue-in-woocommerce-analytics
  packages/js/components/src/calendar/date-range.js
  packages/js/components/src/date-range-filter-picker/content.js
  packages/js/components/src/date-range-filter-picker/index.js
Labels: package: @woocommerce/components

#60945 Update checkout data store to hold autocomplete information
  docs/block-development/reference/data-store/checkout.md
  plugins/woocommerce/changelog/update-autocomplete-datastore
  plugins/woocommerce/client/blocks/assets/js/data/checkout/action-types.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/actions.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/default-state.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/reducers.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/selectors.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/test/reducer.ts
  plugins/woocommerce/client/blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/address-autocomplete.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/index.ts
Labels: Documentation, plugin: woocommerce

#61035 [REST API v4] Update Controller and Schema Structure, and existing routes
  plugins/woocommerce/changelog/update-rest-api-v4-schema-structure-and-di
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/RestApi/Routes/V4/AbstractController.php
  plugins/woocommerce/src/RestApi/Routes/V4/AbstractSchema.php
  plugins/woocommerce/src/RestApi/Routes/V4/OrderNotes/Controller.php
  plugins/woocommerce/src/RestApi/Routes/V4/OrderNotes/QueryUtils.php
  plugins/woocommerce/src/RestApi/Routes/V4/OrderNotes/Schema/OrderNoteSchema.php
  plugins/woocommerce/src/RestApi/Routes/V4/OrderNotes/Utils.php
  plugins/woocommerce/src/RestApi/Routes/V4/ShippingZones/Controller.php
  plugins/woocommerce/src/RestApi/Routes/V4/ShippingZones/ShippingZoneSchema.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/OrderNotes/class-wc-rest-order-notes-v4-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/ShippingZones/class-wc-rest-shipping-zones-v4-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/class-wc-rest-abstract-controller-v4-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/class-wc-rest-abstract-schema-v4-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/test-abstract-controller-v4.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/test-abstract-schema-v4.php
Labels: REST/Store API/Webhooks, plugin: woocommerce

#57871 Don't add geolocation hash to robots.txt
  plugins/woocommerce/changelog/57871-dont-add-geolocation-hash-to-robotstxt
  plugins/woocommerce/includes/class-wc-cache-helper.php
Labels: plugin: woocommerce, type: community contribution

#60774 PayPal JSSDK: shipping change handlers
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-helper.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-paypal-standard-controller.php
  plugins/woocommerce/includes/rest-api/Server.php
Labels: plugin: woocommerce

#61027 Add correct return types to get_cart_contents_total
  plugins/woocommerce/changelog/fix-get-cart-totals-type
  plugins/woocommerce/includes/class-wc-cart.php
Labels: Bug, Cart, plugin: woocommerce

#60999 Add a downloadable product to the email preview [WOOPLUG-4728]
  plugins/woocommerce/changelog/wooplug-4728-add-virtual-product-email-as-a-test-email-option
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewTest.php
Labels: plugin: woocommerce

#61084 [Payments NOX] Update WooPayments onboarding locking with expiry mechanism
  plugins/woocommerce/changelog/update-woopayments-nox-onboarding-locking-mechanism
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsService.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsRestControllerIntegrationTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsServiceTest.php
Labels: plugin: woocommerce

#61094 Uninstall: drop custom WordPress index on uninstall
  plugins/woocommerce/changelog/performance-WOOPLUG-5382-drop-custom-wp-index-on-uninstall
  plugins/woocommerce/uninstall.php
Labels: plugin: woocommerce

#61109 Filter out `invalid-email-address` user when generating contributors list
  tools/release-posts/lib/github-api.ts
Labels: focus: monorepo infrastructure

#61082 Remove Sendcloud from DefaultShippingPartners
  packages/php/remote-specs-validation/changelog/remove-sendcloud-shipping-partner
  packages/php/remote-specs-validation/tests/fixtures/shipping-partner-suggestions.json
  plugins/woocommerce/changelog/remove-sendcloud-shipping-partner
  plugins/woocommerce/src/Admin/Features/ShippingPartnerSuggestions/DefaultShippingPartners.php
Labels: plugin: woocommerce, Onboarding

#61119 Product Gallery: fix outlines in Editor
  plugins/woocommerce/changelog/fix-60182-product-gallery-outlines
  plugins/woocommerce/client/blocks/assets/js/blocks/next-previous-buttons/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/editor.scss
Labels: plugin: woocommerce

#60809 Various `FeaturesController` enhancements
  plugins/woocommerce/changelog/fix-39147
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/src/Enums/FeaturePluginCompatibility.php
  plugins/woocommerce/src/Internal/CostOfGoodsSold/CostOfGoodsSoldController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/PluginUtil.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/PluginUtilTests.php
Labels: plugin: woocommerce

#61071 [Migrator]: Move the credentials dependency from Platform Client to Platform Registry
  plugins/woocommerce/changelog/update-creds-dependency
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/PlatformRegistry.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Interfaces/PlatformFetcherInterface.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyClient.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcher.php
  plugins/woocommerce/src/Internal/CLI/Migrator/README.md
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyClientTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcherTest.php
Labels: plugin: woocommerce

#61127 [Misc] cleanup `CustomMetaDataStore::get_meta_keys()` method implementation
  plugins/woocommerce/src/Internal/Admin/Orders/MetaBoxes/CustomMetaBox.php
  plugins/woocommerce/src/Internal/DataStores/CustomMetaDataStore.php
Labels: plugin: woocommerce

#58423 HPOS: allow users with `edit_shop_orders` permission to access to the orders screen
  plugins/woocommerce/changelog/fix-52389
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-orders.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/Admin/Orders/PageController.php
  plugins/woocommerce/src/Internal/Admin/Orders/PostsRedirectionController.php
Labels: plugin: woocommerce

#61092 Performance: reduce the number of slow SQL queries in customer reports
  plugins/woocommerce/changelog/performance-WOOPLUG-5382-slow-reporting-user-queries
  plugins/woocommerce/includes/admin/reports/class-wc-report-customer-list.php
  plugins/woocommerce/includes/admin/reports/class-wc-report-customers.php
Labels: plugin: woocommerce

#60676 [Performance] Improve per-user limited coupons lookup perfromance (when HPOS is enabled).
  plugins/woocommerce/changelog/performance-WOOPLUG-5382-slow-user-search-query
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/data-stores/class-wc-customer-data-store.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/Customers/SearchService.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/CustomerHelper.php
  plugins/woocommerce/tests/php/src/Internal/Customers/SearchServiceTest.php
Labels: plugin: woocommerce

#61106 Sanitize blocks autocomplete data in the asset data registry and limit suggestions to 5.
  plugins/woocommerce/changelog/update-blocks-suggestions-and-sanitization
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/address-autocomplete/suggestions.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: Checkout, plugin: woocommerce, Rubik, block: checkout

#61039 [Migrator]: Add critical metrics to migrator via MigratorTracker Class
  plugins/woocommerce/changelog/add-migrator-tracking
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/MigratorTracker.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/ProductsController.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Core/ProductsControllerTest.php
Labels: plugin: woocommerce

#61105 Correctly empty address fields if an address provider sends them back empty.
  plugins/woocommerce/changelog/fix-address-autocomplete-shortcode
  plugins/woocommerce/client/legacy/js/frontend/address-autocomplete.js
  plugins/woocommerce/client/legacy/js/frontend/test/address-autocomplete.js
Labels: Checkout, Documentation, plugin: woocommerce

#61114 WPS Migration: Redact data before logging
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-constants.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-helper.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
Labels: plugin: woocommerce

#61126 PayPal JSSDK: app switch
  plugins/woocommerce/client/blocks/assets/js/extensions/payment-methods/paypal/buttons.js
  plugins/woocommerce/client/blocks/assets/js/extensions/payment-methods/paypal/index.js
  plugins/woocommerce/client/legacy/js/gateways/paypal.js
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal-buttons.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-paypal-buttons-controller.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/PayPal.php
Labels: plugin: woocommerce

#60901 Add MCP (Model Context Protocol) integration for WooCommerce
  docs/features/mcp/README.md
  docs/features/mcp/_category_.json
  plugins/woocommerce/changelog/add-mcp-to-woocommerce
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Abilities/AbilitiesRegistry.php
  plugins/woocommerce/src/Internal/Abilities/AbilitiesRestBridge.php
  plugins/woocommerce/src/Internal/Abilities/REST/RestAbility.php
  plugins/woocommerce/src/Internal/Abilities/REST/RestAbilityFactory.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/MCP/MCPAdapterProvider.php
  plugins/woocommerce/src/Internal/MCP/Transport/WooCommerceRestTransport.php
  plugins/woocommerce/tests/php/src/Internal/MCP/MCPAdapterProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/MCP/WooCommerceRestTransportTest.php
Labels: Documentation, plugin: woocommerce, focus: monorepo infrastructure

#61129 [Rest API v4] Allow orders to be filtered by fulfilment status
  plugins/woocommerce/changelog/wooprd-836-orders-list-filter-by-fulfilment-status
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentUtils.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsRenderer.php
  plugins/woocommerce/src/RestApi/Routes/V4/Orders/CollectionQuery.php
  plugins/woocommerce/src/RestApi/Routes/V4/Orders/Schema/OrderSchema.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/Orders/class-wc-rest-orders-v4-controller-tests.php
Labels: REST/Store API/Webhooks, plugin: woocommerce

#61177 Add default_plugin_compatibility option to Session Destroying
  plugins/woocommerce/changelog/fix-session-compatiblity-marker
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#61180 dev: update slack notifications to not include triggering actor for scheduled jobs
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/dist/index.js.LICENSE.txt
  tools/monorepo-utils/src/slack-test-report/lib/__tests__/message.spec.ts
  tools/monorepo-utils/src/slack-test-report/lib/message.ts
Labels: focus: monorepo infrastructure

#60941 Add support for the WooCommerce Collection Block into the email block editor
  packages/js/email-editor/changelog/stomail-7499-handpicked-products-block
  packages/js/email-editor/src/index.ts
  packages/php/email-editor/changelog/stomail-7499-handpicked-products-block
  packages/php/email-editor/src/Integrations/Core/class-initializer.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-abstract-product-block-renderer.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-product-button.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-product-collection.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-product-image.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-product-price.php
  packages/php/email-editor/src/Integrations/WooCommerce/Renderer/Blocks/class-product-sale-badge.php
  packages/php/email-editor/src/Integrations/WooCommerce/class-initializer.php
  packages/php/email-editor/src/class-bootstrap.php
  packages/php/email-editor/src/class-email-editor-container.php
  plugins/woocommerce/changelog/stomail-7499-handpicked-products-block
  plugins/woocommerce/client/blocks/.eslintrc.js
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/block.json
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/block.json
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/block.json
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/sale-badge/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-products/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/inspector-controls/use-email-column-adjustments.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/inspector-controls/use-email-pagination-adjustments.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/inner-blocks/no-results/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce/client/blocks/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, Ballade, package: @woocommerce/email-editor

#61168 WPS Migration: show updated notice to the migrated paypal merchants
  plugins/woocommerce/changelog/61168-update-paypal-migration-notice
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-notices.php
Labels: plugin: woocommerce

#61159 Cache approved download URLs valid status to prevent duplicate queries
  plugins/woocommerce/changelog/fix-56609
  plugins/woocommerce/src/Internal/ProductDownloads/ApprovedDirectories/Register.php
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
  plugins/woocommerce/tests/php/src/Internal/ProductDownloads/ApprovedDirectories/RegisterTest.php
  plugins/woocommerce/tests/php/src/Internal/ProductDownloads/ApprovedDirectories/SynchronizeTest.php
Labels: plugin: woocommerce

#60823 iAPI MiniCart: Activate feature flag by default
  packages/js/e2e-utils-playwright/changelog/60823-wooplug-5504-interactivity-api-powered-minicart-activate-feature-flag-by
  packages/js/e2e-utils-playwright/src/cart.js
  plugins/woocommerce/bin/set-legacy-minicart-flag.js
  plugins/woocommerce/changelog/60823-wooplug-5504-interactivity-api-powered-minicart-activate-feature-flag-by
  plugins/woocommerce/client/admin/config/core.json
  plugins/woocommerce/client/admin/config/development.json
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/client/blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/mini-cart/mini-cart-block.shopper.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/mini-cart/mini-cart.block_theme.spec.ts
  plugins/woocommerce/package.json
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartProductsTableBlock.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests, package: @woocommerce/e2e-utils-playwright
