Repository woocommerce/woocommerce, pull requests merged in 2025-10, with the labels that each got.

#61205 Fix: respect theme support to control legacy script loading for block themes
  plugins/woocommerce/changelog/fix-use-theme-support-to-control-legacy-script-loading-block-theme
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImageGallery.php
Labels: plugin: woocommerce

#61207 Fix order summary description text overflow in checkout
  plugins/woocommerce/changelog/wooplug-5618-total-amount-overflowing-order-summary-in-checkout
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/order-summary/style.scss
Labels: plugin: woocommerce

#61131 Refactor WooCommerce block entity registration and settings
  plugins/woocommerce/changelog/fix-entity-registration
  plugins/woocommerce/client/blocks/assets/js/entities/README.md
  plugins/woocommerce/client/blocks/assets/js/entities/index.ts
  plugins/woocommerce/client/blocks/assets/js/index.js
  plugins/woocommerce/client/blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce/client/blocks/assets/js/settings/blocks/feature-flags.ts
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/Assets/AssetDataRegistry.php
  plugins/woocommerce/src/Blocks/AssetsController.php
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractBlock.php
Labels: plugin: woocommerce

#61193 Implement meta deletion in `MetaToMetaTableMigrator`
  plugins/woocommerce/changelog/fix-50085
  plugins/woocommerce/src/Database/Migrations/MetaToMetaTableMigrator.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
Labels: plugin: woocommerce

#61257 Coerce order total into float when empty string is provided in setter
  plugins/woocommerce/changelog/fix-order-total-empty-string
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-crud-orders.php
Labels: plugin: woocommerce

#61285 Minor docs clarification
  docs/contribution/releases/building-and-publishing.md
Labels: Documentation

#61254 Add v4 Product Settings API
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/RestApi/Routes/V4/Settings/Products/Controller.php
  plugins/woocommerce/src/RestApi/Routes/V4/Settings/Products/Schema/ProductSettingsSchema.php
  plugins/woocommerce/src/RestApi/Routes/V4/Settings/README.md
Labels: plugin: woocommerce

#61280 dev: Update sharding arguments for e2e tests to improve distribution
  plugins/woocommerce/changelog/dev-re-balance-ci-jobs-shards
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#61181 Update PHP package version in the prepare script
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/changelog/fix-package-conflict-part-one
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  tools/package-release/src/commands/prepare/index.ts
  tools/package-release/src/const.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure

#61229 WPS Migration: Handle PayPal capture pending webhook event
  plugins/woocommerce/changelog/61229-fix-paypal-capture-pending
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
Labels: plugin: woocommerce

#61216 Agentic Commerce Protocol: Add checkout_sessions creation and update
  plugins/woocommerce/changelog/add-support-agentic-commerce
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/CheckoutSessions.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/CheckoutSessionsUpdate.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/OrderMetaKey.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/SessionKey.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/CheckoutSessionStatus.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/ErrorCode.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/ErrorType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/FulfillmentType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/LinkType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/MessageContentType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/MessageType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/PaymentMethod.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/PaymentProvider.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/RefundType.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Agentic/Enums/Specs/TotalType.php
  plugins/woocommerce/src/StoreApi/RoutesController.php
  plugins/woocommerce/src/StoreApi/SchemaController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/Agentic/CheckoutSessionSchema.php
  plugins/woocommerce/src/StoreApi/SessionHandler.php
  plugins/woocommerce/src/StoreApi/Utilities/AgenticCheckoutUtils.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/CheckoutSessions.php
Labels: status: in progress, plugin: woocommerce

#61245 Use Hex for `<` and `>` Inside `<script>` Tags
  packages/php/email-editor/changelog/61245-fix-61186-json-encode-script-tags
  packages/php/email-editor/src/Engine/class-assets-manager.php
  plugins/woocommerce/changelog/61245-fix-61186-json-encode-script-tags
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/includes/class-wc-structured-data.php
  plugins/woocommerce/includes/customizer/class-wc-shop-customizer.php
  plugins/woocommerce/includes/tracks/class-wc-site-tracking.php
  plugins/woocommerce/includes/tracks/events/class-wc-product-collection-block-tracking.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Admin/Features/LaunchYourStore.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/CustomizeStore.php
  plugins/woocommerce/src/Admin/Features/ProductBlockEditor/Init.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/Internal/AddressProvider/AbstractAutomatticAddressProvider.php
  plugins/woocommerce/src/Internal/Integrations/WPConsentAPI.php
Labels: plugin: woocommerce

#61164 Remove `editMode` from Featured Item blocks attributes
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/block-controls.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-category/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-category/example.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-product/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-product/example.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/register.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-edit-mode.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-featured-item.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-update-button-attributes.tsx
Labels: type: refactor, plugin: woocommerce, block: featured category, block: featured product

#61308 Documentation: Adds MCP link to AI doc
  docs/getting-started/ai.md
Labels: Documentation

#61124 [WOO13-45] feat: implement put and post endpoints for v4 shipping methods api
  plugins/woocommerce/changelog/add-v4-shipping-zone-methods-endpoints
  plugins/woocommerce/includes/abstracts/abstract-wc-shipping-method.php
  plugins/woocommerce/includes/class-wc-shipping-zone.php
  plugins/woocommerce/includes/class-wc-shipping-zones.php
  plugins/woocommerce/includes/rest-api/Server.php
  plugins/woocommerce/src/Internal/RestApi/Routes/V4/ShippingZoneMethod/Controller.php
  plugins/woocommerce/src/Internal/RestApi/Routes/V4/ShippingZoneMethod/ShippingMethodSchema.php
  plugins/woocommerce/tests/legacy/unit-tests/shipping/shipping-zones.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/ShippingZoneMethod/class-wc-rest-shipping-zone-method-v4-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version4/ShippingZoneMethod/class-wc-rest-shipping-zone-method-v4-schema-tests.php
Labels: plugin: woocommerce

#61221 Add and update some comments in template classes and the Add to Cart + Options block
  plugins/woocommerce/changelog/update-template-and-add-to-cart-with-options-old-comments
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/frontend.ts
  plugins/woocommerce/client/blocks/docs/internal-developers/templates/individual-template-classes.md
  plugins/woocommerce/src/Blocks/Templates/AbstractTemplateWithFallback.php
  plugins/woocommerce/src/Blocks/Templates/ProductAttributeTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductBrandTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductCatalogTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductCategoryTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductSearchResultsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductTagTemplate.php
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplate.php
Labels: plugin: woocommerce

#61305 Use email $template_base when generating initial templates
  plugins/woocommerce/changelog/wooprd-815-add-email-for-marketing-confirmation
  plugins/woocommerce/src/Internal/EmailEditor/WCTransactionalEmails/WCTransactionalEmailPostsGenerator.php
Labels: plugin: woocommerce, Ballade, package: @woocommerce/email-editor, Emails

#61256 Fix Product Price display when sale price is 0
  plugins/woocommerce/changelog/fix-isdiscount-check
  plugins/woocommerce/client/blocks/assets/js/base/components/product-price/index.tsx
Labels: Bug, Checkout, plugin: woocommerce

#60779 FCB: Transition the block to Inner Blocks
  plugins/woocommerce/changelog/60779-wooplug-5427-fcb-make-category-heading-an-inner-block
  plugins/woocommerce/client/blocks/assets/js/blocks/category-description/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/category-description/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/category-description/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/category-title/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/category-title/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/category-title/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/constants.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-category/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-category/deprecated.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-category/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-product/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-product/deprecated.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/featured-product/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/inspector-controls.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-edit-mode.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-featured-item.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/featured-items/with-update-button-attributes.tsx
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/CategoryDescription.php
  plugins/woocommerce/src/Blocks/BlockTypes/CategoryTitle.php
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedCategory.php
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedItem.php
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedProduct.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSummary.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, block: featured category, block: featured product

#61341 Adds endpoints for registering and unregistering push tokens
  plugins/woocommerce/src/Internal/PushNotifications/Controllers/PushTokenRestController.php
  plugins/woocommerce/src/Internal/PushNotifications/PushNotifications.php
  plugins/woocommerce/tests/php/src/Internal/PushNotifications/Controllers/PushTokenRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/PushNotifications/PushNotificationsTest.php
Labels: plugin: woocommerce
