Repository woocommerce/woocommerce, pull requests merged in 2025-03, with the labels that each got.

#55918 Add auto-syncing of email styles with theme.json
  plugins/woocommerce/changelog/add-55719-autosync-email-styles-with-theme
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-control.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-functions.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/style.scss
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Email/EmailColors.php
  plugins/woocommerce/src/Internal/Email/EmailStyleSync.php
  plugins/woocommerce/tests/e2e-pw/tests/email/settings-email-style-sync.spec.js
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-emails-test.php
  plugins/woocommerce/tests/php/src/Internal/Email/EmailStyleSyncTest.php
Labels: focus: email, plugin: woocommerce, focus: settings, focus: e2e tests, team: Haiku

#55971 [dev] Reduce core zip-file size by skipping vendor tests
  packages/php/email-editor/changelog/remove-codeception-config-file
  packages/php/email-editor/codeception.yml
  plugins/woocommerce/.distignore
  plugins/woocommerce/changelog/enhancement-optimized-the-woocommerce-plugin-vendor-folder
Labels: plugin: woocommerce, focus: monorepo infrastructure

#55852 Remove `woocommerce_order_attribution_install_banner_dismissed` option
  plugins/woocommerce/changelog/55852-update-db-update-remove-option-woocommerce-order-attribution-install-banner-dismissed
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#55734 Allow multisite admin to see payment suggestions
  plugins/woocommerce/changelog/fix-55131-admin-can-see-payment-suggestions
  plugins/woocommerce/src/Admin/API/PaymentGatewaySuggestions.php
Labels: plugin: woocommerce

#56003 Fix `ReviewsListTableTest::test_comments_bubble` unit tests
  plugins/woocommerce/changelog/fix-test-comments-bubble
  plugins/woocommerce/tests/php/src/Internal/Admin/ProductReviews/ReviewsListTableTest.php
Labels: plugin: woocommerce

#55960 Exclude coming soon image gallery from newsletter feature flag
  plugins/woocommerce/changelog/update-exclude-coming-soon-image-gallery-feature-flag
  plugins/woocommerce/patterns/page-coming-soon-image-gallery.php
Labels: plugin: woocommerce

#55851 Ensure store ID is set in Tracks events
  plugins/woocommerce/changelog/55851-fix-ensure-store-id-exists
  plugins/woocommerce/includes/tracks/class-wc-tracks.php
  plugins/woocommerce/tests/php/includes/class-wc-tracks-test.php
Labels: plugin: woocommerce

#55524 Add defensive check for product gallery thumbnails to prevent fatal errors
  plugins/woocommerce/changelog/55524-55448-fatal-php-fatal-error-uncaught-error-call-to-a-member-function-get_gallery_image_ids-on-null-in-product-thumbnailsphp27
  plugins/woocommerce/templates/single-product/product-thumbnails.php
Labels: type: bug, focus: template, plugin: woocommerce, block: single product

#51506 Update Filterer.php to resolve #34977
  plugins/woocommerce/changelog/51506-emmelemme-patch-filterer
  plugins/woocommerce/src/Internal/ProductAttributesLookup/Filterer.php
Labels: plugin: woocommerce, type: community contribution

#56013 Extend official badges to additional payment extensions
  plugins/woocommerce/assets/images/onboarding/icons/authorize.svg
  plugins/woocommerce/assets/images/onboarding/icons/bofa.svg
  plugins/woocommerce/assets/images/onboarding/icons/bolt.svg
  plugins/woocommerce/assets/images/onboarding/icons/coinbase.svg
  plugins/woocommerce/assets/images/onboarding/icons/depay.svg
  plugins/woocommerce/assets/images/onboarding/icons/elavon.svg
  plugins/woocommerce/assets/images/onboarding/icons/eway.svg
  plugins/woocommerce/assets/images/onboarding/icons/fortispay.svg
  plugins/woocommerce/assets/images/onboarding/icons/gocardless.svg
  plugins/woocommerce/assets/images/onboarding/icons/nexi.svg
  plugins/woocommerce/assets/images/onboarding/icons/paypalzettle.svg
  plugins/woocommerce/assets/images/onboarding/icons/rapyd.svg
  plugins/woocommerce/changelog/2025-03-03-11-33-04-949670
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
Labels: plugin: woocommerce

#56008 Related Products: uses relatedBy to cache results.
  plugins/woocommerce-blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  plugins/woocommerce/changelog/56008-fix-related-products-editor-block
  plugins/woocommerce/includes/wc-product-functions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/HandlerRegistry.php
Labels: plugin: woocommerce

#55981 Updates to address caching when API is inaccesible
  plugins/woocommerce/changelog/dev-failed-abtest-requests
  plugins/woocommerce/includes/react-admin/class-experimental-abtest.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
Labels: plugin: woocommerce

#54382 Relay the block context from Product Template to the inner blocks
  plugins/woocommerce/changelog/issues-54381-relay-context-to-inner-blocks
  plugins/woocommerce/src/Blocks/BlockTypes/ProductTemplate.php
Labels: type: enhancement, plugin: woocommerce, type: community contribution, team: Kirigami & Origami, focus: FSE, block: product collection

#55998 Enable auto-sync theme styles with email styles by default for new installations
  plugins/woocommerce/changelog/55997-email-styles-auto-sync
  plugins/woocommerce/client/admin/client/settings-email/settings-email-color-palette-control.tsx
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/email/settings-email-style-sync.spec.js
Labels: focus: email, plugin: woocommerce, focus: settings, focus: e2e tests, team: Haiku

#55936 Update: Use Block Hooks API to dynamically inject brand terms instead of hardcoding them in the single product template.
  plugins/woocommerce/changelog/55936-update-revert-changes-to-block-template
  plugins/woocommerce/includes/class-wc-brands.php
  plugins/woocommerce/templates/templates/blockified/single-product.html
Labels: plugin: woocommerce

#56022 Fix PR template to link PR with the issue
  .github/PULL_REQUEST_TEMPLATE.md
Labels: focus: monorepo infrastructure

#56029 Update new-code-freeze.yml for 9.8+
  .github/workflows/new-code-freeze.yml
Labels: focus: monorepo infrastructure, focus: release

#55494 [Accessibility] Improve Store Demo Notice Accessibility
  plugins/woocommerce/changelog/fix-52144
  plugins/woocommerce/client/legacy/js/frontend/woocommerce.js
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/includes/wc-template-hooks.php
Labels: plugin: woocommerce, type: community contribution

#56033 Remove `experimental__woocommerce_blocks-product-search` from documentation
  plugins/woocommerce-blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
Labels: type: enhancement, team: Kirigami & Origami, block: product search

#55767 Remove invalid trailing space from url in href
  plugins/woocommerce/changelog/55767-remove-invalid-trailing-space-55766
  plugins/woocommerce/includes/admin/list-tables/class-wc-admin-list-table-products.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce, type: community contribution

#55976 Product Gallery: Changing images with keyboard arrows updates the pager and navigation
  plugins/woocommerce-blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce/changelog/fix-55952
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product gallery

#55903 Fix broken docs links
  docs/cart-and-checkout-blocks/available-filters/README.md
  docs/docs-manifest.json
  docs/extensibility-in-blocks/README.md
Labels: focus: documentation, team: Rubik

#56000 Add virtual scrolling to SelectControl and country dropdowns
  packages/js/components/changelog/add-onboarding-business-step-virtual-select-control
  packages/js/components/package.json
  packages/js/components/src/select-control/README.md
  packages/js/components/src/select-control/index.tsx
  packages/js/components/src/select-control/list.tsx
  packages/js/components/src/select-control/stories/select-control.story.tsx
  packages/js/components/src/select-control/style.scss
  packages/js/components/src/select-control/test/index.tsx
  plugins/woocommerce/changelog/add-onboarding-business-step-virtual-select-control
  plugins/woocommerce/client/admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/BusinessLocation.tsx
  plugins/woocommerce/client/admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce/tests/e2e-pw/tests/onboarding/onboarding-wizard.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/components, focus: e2e tests

#55736 Fix Brand layered nav on attributes archive pages.
  plugins/woocommerce/changelog/55736-fix-51493
  plugins/woocommerce/includes/widgets/class-wc-widget-brand-nav.php
Labels: plugin: woocommerce

#55751 @woocommerce/data: improve `createCrudDataStore` documentation
  packages/js/data/src/crud/README.md
Labels: type: enhancement, package: @woocommerce/data, team: Kirigami & Origami

#55926 Order Stats Reports - Fix issues with Segments Intervals when Order Date Paid is further than Order Date Created
  plugins/woocommerce/changelog/55926-fix-report-order-stats-segment-date
  plugins/woocommerce/src/Admin/API/Reports/Orders/Stats/DataStore.php
Labels: plugin: woocommerce

#54767 [dev] Monorepo: pin `@wordpress/dependency-extraction-webpack-plugin` version with syncpack
  .syncpackrc
  packages/js/dependency-extraction-webpack-plugin/changelog/dev-wcdewp-update-deps
  packages/js/dependency-extraction-webpack-plugin/package.json
  packages/js/dependency-extraction-webpack-plugin/src/index.js
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/dev-wcdewp-update-deps
  plugins/woocommerce/client/admin/webpack.config.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: dependency-extraction-webpack-plugin

#55804 Refactor `show_shipping` usage by merging blocks and legacy cart functionality
  plugins/woocommerce/changelog/refactor-show-shipping-usage-54894
  plugins/woocommerce/includes/class-wc-cart-totals.php
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/includes/class-wc-customer.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CartSchema.php
  plugins/woocommerce/tests/php/includes/class-wc-cart-test.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
  plugins/woocommerce/tests/php/src/Blocks/Shipping/ShippingControllerTest.php
Labels: focus: checkout, focus: shipping, plugin: woocommerce, block: checkout

#56054 [dev] CI: fix failing CI in release/9.7 branch
  .github/actions/setup-woocommerce-monorepo/action.yml
Labels: focus: monorepo infrastructure

#56047 Fix combine 415 403
  plugins/woocommerce-blocks/assets/js/base/components/read-more/trim-html.js
  plugins/woocommerce/changelog/414-appending-coupon-notices-as-elements
  plugins/woocommerce/changelog/fix-394-secure-HTML-elements
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-coupon.js
  plugins/woocommerce/client/legacy/js/admin/wc-shipping-zone-methods.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
Labels: plugin: woocommerce, cherry pick to frozen release

#56048 Remove decodeEntities from the product name used on cart & checkout
  plugins/woocommerce-blocks/assets/js/base/components/product-name/index.tsx
  plugins/woocommerce/changelog/fix-product-editor-xss
Labels: plugin: woocommerce, cherry pick to frozen release

#56067 @wordpress/data: Improve documentation
  packages/js/data/README.md
  packages/js/data/changelog/56067-39298-woocommercedata-readmes-example-is-invalid
Labels: package: @woocommerce/data, team: Kirigami & Origami

#55351 [Accessibility] Add ariaLabel setting to the FeaturedItem block
  docs/building-a-woo-store/block-references.md
  docs/docs-manifest.json
  plugins/woocommerce-blocks/assets/js/blocks/featured-items/featured-category/block.json
  plugins/woocommerce-blocks/assets/js/blocks/featured-items/featured-product/block.json
  plugins/woocommerce/changelog/fix-52136
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedItem.php
Labels: focus: documentation, plugin: woocommerce, type: community contribution

#55642 Small edit to the checkout code snippet
  docs/code-snippets/customising-checkout-fields.md
  docs/docs-manifest.json
Labels: focus: documentation

#56049 Prevent Fatal Error on malformed pagination query
  plugins/woocommerce/changelog/56049-56015-fatal-errors-caused-by-wc_add_aria_label_to_pagination_numbers
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, team: Kirigami & Origami, cherry pick to trunk, type: fix

#56061 Fix email accent color causing invisible text in emails
  plugins/woocommerce/changelog/56059-email-accent-color
  plugins/woocommerce/src/Internal/Email/EmailColors.php
  plugins/woocommerce/src/Internal/Email/EmailStyleSync.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/php/src/Internal/Email/EmailStyleSyncTest.php
Labels: plugin: woocommerce, focus: e2e tests, cherry pick to trunk

#54582 Code Snippets Updates Working Branch
  docs/code-snippets/README.md
  docs/code-snippets/add-a-country.md
  docs/code-snippets/add-a-currency-symbol.md
  docs/code-snippets/add-or-modify-states.md
  docs/code-snippets/adjust-quantity-input-values.md
  docs/code-snippets/before-login--register-form.md
  docs/code-snippets/change-a-currency-symbol.md
  docs/code-snippets/free_shipping_customization.md
  docs/code-snippets/rename-a-country.md
  docs/code-snippets/shipping_method_api.md
  docs/code-snippets/troubleshooting-codesnippets.md 
  docs/code-snippets/unhook--remove-woocommerce-emails.md
  docs/docs-manifest.json
  docs/shipping/shipping-method-api.md
Labels: focus: documentation

#55868 [dev][ci-jobs] Add job config option to ignore dependencies changes
  plugins/woocommerce/changelog/dev-ci-jobs-add-dependency-changes-ignore-option
  plugins/woocommerce/package.json
  tools/monorepo-utils/dist/index.js
  tools/monorepo-utils/src/ci-jobs/lib/__tests__/job-processing.spec.ts
  tools/monorepo-utils/src/ci-jobs/lib/config.ts
  tools/monorepo-utils/src/ci-jobs/lib/job-processing.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure

#55853 Fix shipping calculator address validation
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/form/use-form-fields.ts
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-calculator/test/index.tsx
  plugins/woocommerce-blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce/changelog/55853-fix-shipping-calculator-address-validation
Labels: plugin: woocommerce, team: Rubik

#56091 Update stable tag to 9.7.1
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#56098 [dev] CI: fix CI-workflow failures on tagging caused by wp-env overrides.
  plugins/woocommerce/.wp-env.json
  plugins/woocommerce/changelog/fix-ci-workflow-on-tagging
  plugins/woocommerce/tests/e2e-pw/bin/test-env-setup.sh
Labels: plugin: woocommerce, focus: e2e tests

#56050 [Beta Tester] Fix TypeError when deleting the simulate WooCommerce JS error option
  plugins/woocommerce-beta-tester/changelog/fix-beta-tester-delete-option-error
  plugins/woocommerce-beta-tester/src/remote-logging/register-exception-filter.tsx
Labels: plugin: woocommerce beta tester

#55886 Update overview of data-flow docs
  docs/cart-and-checkout-blocks/overview-of-data-flow.md
  docs/docs-manifest.json
Labels: focus: documentation, type: technical debt, team: Rubik, block: checkout

#55940 Add/email editor sending transactional emails
  plugins/woocommerce/changelog/add-email-editor-sending-transactional-emails
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/constants.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/global.d.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/index.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/sidebar_extension.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/woo_content_placeholder_block.tsx
  plugins/woocommerce/includes/emails/class-wc-email.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/EmailEditorServiceProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/BlockEmailRenderer.php
  plugins/woocommerce/src/Internal/EmailEditor/EmailPatterns/WooEmailContentPattern.php
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/PageRenderer.php
  plugins/woocommerce/src/Internal/EmailEditor/Renderer/Blocks/WooContent.php
  plugins/woocommerce/tests/php/src/Internal/EmailEditor/BlockEmailRendererTest.php
Labels: plugin: woocommerce, team: Ballade, focus: email editor

#56081 [dev] Do not lint renamed or copied *.md files
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56065 [dev] Revert #56064 after blocks merging
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56116 [dev] Revert #56064 after blocks merging
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56108 [dev] CI-workflow tweaks related to release activities
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56110 Email Editor - Fix saving non public emails
  packages/php/email-editor/changelog/improve-allowed-templates-check-on-save
  packages/php/email-editor/src/Engine/Templates/class-templates.php
  plugins/woocommerce/changelog/fix-error-saving-non-public-emails
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
Labels: plugin: woocommerce

#55879 [Experimental] Moves schema based `rules` for additional fields to the top level
  plugins/woocommerce/changelog/update-top-level-validation-rules-54875
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/prepare-form-fields.ts
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/use-form-fields.ts
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/use-form-validation.ts
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/utils.ts
  plugins/woocommerce/client/blocks/assets/js/base/utils/address.ts
  plugins/woocommerce/client/blocks/assets/js/settings/shared/default-fields.ts
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsFrontend.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsSchema/Validation.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/AbstractAddressSchema.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/CheckoutSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/CheckoutFieldsTest.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
Labels: focus: checkout, plugin: woocommerce, category: extensibility

#56083 [e2e-utils] Update editor-canvas locator to support updates in Gutenberg nightly
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-fix-editor-canvas-locator-gb-20.6
  packages/js/e2e-utils-playwright/src/editor.js
Labels: package: @woocommerce/e2e-utils-playwright

#56066 [Experimental] Product Filters - Fix attributes sort order not working
  plugins/woocommerce/changelog/product-filters-attributes-sort-order
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/attribute-filter-frontend.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#56120 Add util to fix several flaky tests using 'saveSiteEditorEntities()'
  plugins/woocommerce/changelog/fix-flaky-tests-save-site-editor-entities
  plugins/woocommerce/client/blocks/tests/e2e/utils/editor/editor-utils.page.ts
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE

#56028 Replace outdated logo for WooCommerce Shipping promotional banner on shipping settings page
  plugins/woocommerce/client/admin/client/shipping/woo-icon.svg
Labels: plugin: woocommerce, team: Escargot

#53019 Fix incorrect net sales in analytics product reports for partial and full refunds
  plugins/woocommerce/changelog/53019-fix-32837-48761-48775-48954-incorrect-net-sales-in-analytics-product-reports-for-partial-and-full-refunds
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/data-stores/class-wc-order-data-store-cpt.php
  plugins/woocommerce/includes/interfaces/class-wc-order-data-store-interface.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/API/Reports/Orders/DataStore.php
  plugins/woocommerce/src/Admin/API/Reports/Products/DataStore.php
  plugins/woocommerce/src/Admin/Overrides/OrderTraits.php
  plugins/woocommerce/src/Internal/Admin/Schedulers/OrdersScheduler.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-orders-stats.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: type: bug, priority: normal, plugin: woocommerce, focus: analytics, team: Automata

#56094 Add missing closing </span>
  plugins/woocommerce/changelog/56094-add-missing-span-closing-tag
  plugins/woocommerce/src/Internal/Admin/SystemStatusReport.php
Labels: plugin: woocommerce, type: community contribution

#55574 [Accessibility] Implement color contrast checker in mini-cart elements
  plugins/woocommerce/changelog/fix-42350
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/editor-components/color-panel/index.tsx
  plugins/woocommerce/client/blocks/assets/js/utils/colors.ts
  plugins/woocommerce/client/blocks/assets/js/utils/index.ts
Labels: plugin: woocommerce, type: community contribution

#55937 Fix login forms by submitting them after pressing Enter key
  plugins/woocommerce/changelog/fix-55901
  plugins/woocommerce/client/legacy/js/frontend/woocommerce.js
Labels: plugin: woocommerce, type: community contribution

#56126 [Experimental] Fix errors due to missing stylesheets in Add to Cart with Options blocks
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-missing-stylesheets
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsGroupedProductSelectorItemTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsQuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsVariationSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsVariationSelectorAttributeName.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsVariationSelectorAttributeOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsVariationSelectorItemTemplate.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#56152 [dev] CI: fix markdown validation job
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56133 Fix textdomain loading warning in woocommerce 9 80 beta 1
  plugins/woocommerce/changelog/fix-textdomain-loading-warning-in-woocommerce-9-80-beta-1
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/Package.php
Labels: plugin: woocommerce, cherry pick to trunk

#56121 [e2e tests] Fixes to support WP core 6.8
  packages/js/e2e-utils-playwright/changelog/e2e-fix-tests-with-wpcore-6.8
  packages/js/e2e-utils-playwright/src/editor.js
  plugins/woocommerce/changelog/e2e-fix-tests-with-wpcore-6.8
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/assembler.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/product-tags-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/user/users-create.spec.js
Labels: plugin: woocommerce, focus: e2e tests, package: @woocommerce/e2e-utils-playwright

#56136 Delete Transients: avoid running statements without options_to_clear.
  plugins/woocommerce/changelog/56136-fix-wc_delete_transients
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/tests/php/includes/wc-core-functions-test.php
Labels: plugin: woocommerce, cherry pick to trunk

#56141 Blueprint - List non active plugins and themes
  plugins/woocommerce/changelog/56141-update-56082-list-non-active-plugins-and-themes-de-selected
  plugins/woocommerce/client/admin/client/blueprint/settings/slotfill.js
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/RestApiTest.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/Stubs/DummyExporter.php
Labels: plugin: woocommerce

#56139 Blueprint - Remove download fallback link
  plugins/woocommerce/changelog/56139-update-56084-blueprint-remove-down-link
  plugins/woocommerce/client/admin/client/blueprint/settings/slotfill.js
Labels: plugin: woocommerce

#55987 [Experimental] Product Filters - Add script to migrate legacy filters to the new filter blocks
  plugins/woocommerce/changelog/product-filters-legacy-migration
  plugins/woocommerce/client/blocks/assets/js/blocks/active-filters/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/attribute-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/filter-wrapper/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/filter-wrapper/upgrade.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/price-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/rating-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/stock-filter/edit.tsx
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#56143 Product filters remove experimental
  docs/building-a-woo-store/block-references.md
  docs/docs-manifest.json
  plugins/woocommerce/changelog/product-filters-remove-experimental
  plugins/woocommerce/client/blocks/assets/js/blocks/filter-wrapper/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/chips/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/clear-button/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/clear-button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/index.tsx
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/active-filter-frontend.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/attribute-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/attribute-filter-frontend.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/price-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/product-filters-frontend.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/product-filters.page.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/rating-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/removable-chips-editor.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/tests/e2e-pw/tests/editor/create-woocommerce-blocks.spec.js
Labels: focus: documentation, plugin: woocommerce, focus: e2e tests, team: Kirigami & Origami, block-type: filter blocks

#56038 [Experimental] Product Filters - Conditionally remove router region
  plugins/woocommerce/changelog/product-filters-conditional-router-region
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#56163 Cherry pick e2e test fixes 56083 and 56121 to 9.8
  packages/js/e2e-utils-playwright/changelog/e2e-fix-tests-with-wpcore-6.8
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-fix-editor-canvas-locator-gb-20.6
  packages/js/e2e-utils-playwright/src/editor.js
  plugins/woocommerce/changelog/e2e-fix-tests-with-wpcore-6.8
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/assembler.page.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/footer.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/header.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/logo-picker/logo-picker.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/product-tags-attributes.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/user/users-create.spec.js
Labels: plugin: woocommerce, focus: e2e tests, package: @woocommerce/e2e-utils-playwright

#55949 Remove @woocommerce/interactivity JS scripts and PHP code. Migrate remaining blocks.
  plugins/woocommerce/changelog/dev-remove-woo-interactivity
  plugins/woocommerce/client/blocks/assets/js/blocks/accordion/accordion-group/frontend.js
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/interactivity/constants.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/directives.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/hooks.tsx
  plugins/woocommerce/client/blocks/assets/js/interactivity/index.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/portals.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/router.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/slots.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/store.ts
  plugins/woocommerce/client/blocks/assets/js/interactivity/utils.js
  plugins/woocommerce/client/blocks/assets/js/interactivity/vdom.js
  plugins/woocommerce/client/blocks/bin/webpack-config-interactivity-blocks-frontend.js
  plugins/woocommerce/client/blocks/bin/webpack-configs.js
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/client/blocks/bin/webpack-helpers.js
  plugins/woocommerce/client/blocks/tests/js/jest.config.json
  plugins/woocommerce/client/blocks/tsconfig.base.json
  plugins/woocommerce/client/blocks/webpack.config.js
  plugins/woocommerce/src/Blocks/BlockTypes/Accordion/AccordionGroup.php
  plugins/woocommerce/src/Blocks/BlockTypes/Accordion/AccordionItem.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsGroupedProductSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsGroupedProductSelectorItemTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsQuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsVariationSelector.php
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/Blocks/Interactivity/class-wc-interactivity-initial-state.php
  plugins/woocommerce/src/Blocks/Interactivity/client-side-navigation.php
  plugins/woocommerce/src/Blocks/Interactivity/initial-state.php
  plugins/woocommerce/src/Blocks/Interactivity/load.php
  plugins/woocommerce/src/Blocks/Interactivity/scripts.php
  pnpm-lock.yaml
Labels: plugin: woocommerce

#56173 On Sale Badge: clean up global styles
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/sale-badge/support.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSaleBadge.php
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: global styles

#55796 Implement hide shipping rates when free is available option
  plugins/woocommerce-beta-tester/changelog/55796-add-54370-hide_flat_rate_when_free
  plugins/woocommerce-beta-tester/includes/wc-beta-tester-settings-list.php
  plugins/woocommerce/changelog/55796-add-54370-hide_flat_rate_when_free
  plugins/woocommerce/includes/admin/settings/class-wc-settings-shipping.php
  plugins/woocommerce/includes/class-wc-shipping.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-shipping-test.php
Labels: plugin: woocommerce, plugin: woocommerce beta tester

#56151 Fix: Add to Cart with options loading skeleton exceeds the container
  plugins/woocommerce/changelog/fix-56148
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/editor.scss
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#56177 [e2e-tests] improve cart-related frontend utils
  plugins/woocommerce/changelog/fix-55953
  plugins/woocommerce/client/blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: plugin: woocommerce

#56195 [dev] Remove composer from Blocks client
  plugins/woocommerce/changelog/remove-composer-from-blocks
  plugins/woocommerce/client/blocks/.distignore
  plugins/woocommerce/client/blocks/.gitattributes
  plugins/woocommerce/client/blocks/.gitignore
  plugins/woocommerce/client/blocks/.wp-env.json
  plugins/woocommerce/client/blocks/composer.json
  plugins/woocommerce/client/blocks/composer.lock
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/client/blocks/phpcs.xml
  plugins/woocommerce/client/blocks/phpunit.xml.dist
  plugins/woocommerce/phpcs.xml
Labels: priority: normal, plugin: woocommerce, focus: monorepo infrastructure, team: Kirigami & Origami

#56203 [dev] Remove unused @woocommerce/woocommerce-rest-api dev dependency
  plugins/woocommerce/changelog/e2e-remove-rest-api-dependency
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#56086 [Experimental] Product filters - Fix query type not correctly used in the query URL params
  plugins/woocommerce/changelog/product-filters-attributes-query-type
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/frontend.ts
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#56211 [e2e tests] Fix install plugins and site reset setup steps
  plugins/woocommerce/changelog/e2e-fix-install-wc
  plugins/woocommerce/tests/e2e-pw/fixtures/install-wc.setup.js
  plugins/woocommerce/tests/e2e-pw/fixtures/reset.setup.js
Labels: plugin: woocommerce, focus: e2e tests

#55840 Add Cost of Goods Sold information in the order editor in admin
  plugins/woocommerce/changelog/pr-55840
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-item.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-items.php
  plugins/woocommerce/includes/class-wc-order-item.php
  plugins/woocommerce/includes/data-stores/abstract-wc-order-item-type-data-store.php
Labels: plugin: woocommerce

#56214 Add disabled state examples to SelectControl stories
  packages/js/components/src/select-control/stories/select-control.story.tsx
Labels: package: @woocommerce/components, team: Kirigami & Origami

#56201 [dev] 9.8 → trunk sync
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-fix-editor-canvas-locator-gb-20.6
  plugins/woocommerce/changelog/414-appending-coupon-notices-as-elements
  plugins/woocommerce/changelog/56049-56015-fatal-errors-caused-by-wc_add_aria_label_to_pagination_numbers
  plugins/woocommerce/changelog/56059-email-accent-color
  plugins/woocommerce/changelog/56136-fix-wc_delete_transients
  plugins/woocommerce/changelog/fix-394-secure-HTML-elements
  plugins/woocommerce/changelog/fix-product-editor-xss
  plugins/woocommerce/changelog/fix-textdomain-loading-warning-in-woocommerce-9-80-beta-1
  plugins/woocommerce/client/blocks/assets/js/base/components/product-name/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/read-more/trim-html.js
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-coupon.js
  plugins/woocommerce/client/legacy/js/admin/wc-shipping-zone-methods.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/src/Internal/Email/EmailColors.php
  plugins/woocommerce/src/Internal/Email/EmailStyleSync.php
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/Package.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/php/includes/wc-core-functions-test.php
  plugins/woocommerce/tests/php/src/Internal/Email/EmailStyleSyncTest.php
  plugins/woocommerce/tests/php/src/Internal/EmailEditor/BlockEmailRendererTest.php
Labels: plugin: woocommerce, focus: e2e tests, package: @woocommerce/e2e-utils-playwright

#54034 Add order aggregate caching to list table and admin order queries
  plugins/woocommerce/changelog/fix-53996
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Caches/OrderCountCache.php
  plugins/woocommerce/src/Caches/OrderCountCacheService.php
  plugins/woocommerce/src/Internal/Admin/Orders/ListTable.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderAdminServiceProvider.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrdersDataStoreServiceProvider.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
  plugins/woocommerce/tests/php/src/Caching/OrderCountCacheServiceTest.php
  plugins/woocommerce/tests/php/src/Caching/OrderCountCacheTest.php
Labels: plugin: woocommerce

#56160 Product Gallery block: Load in variable product specific images
  plugins/woocommerce/changelog/fix-product-gallery-beta-variable-specific-product-images
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/types.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-pager/product-gallery-pager.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryPager.php
  plugins/woocommerce/src/Blocks/Utils/ProductGalleryUtils.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/ProductGalleryUtilsTest.php
Labels: type: bug, plugin: woocommerce, block: product gallery

#56227 Exclude block pattern template files from unit tests
  plugins/woocommerce/changelog/fix-54822
  plugins/woocommerce/phpunit.xml
Labels: plugin: woocommerce

#56145 Replace WC Shipping recommendation task illustration
  plugins/woocommerce/assets/images/shipping_partners/wcs-column.svg
  plugins/woocommerce/client/admin/client/task-lists/fills/experimental-shipping-recommendation/components/plugin-banner.scss
  plugins/woocommerce/client/admin/client/task-lists/fills/experimental-shipping-recommendation/images/wcs.svg
Labels: plugin: woocommerce, team: Escargot

#56099 [Core Profiler] Remove plugin limit and improve layout
  plugins/woocommerce/changelog/56099-update-core-profilter-free-features
  plugins/woocommerce/client/admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce/client/admin/client/core-profiler/events.tsx
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/NoPermissions.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/Plugins.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.scss
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/NoPermissions.test.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/Plugins.test.tsx
  plugins/woocommerce/client/admin/client/core-profiler/stories/Plugins.story.tsx
  plugins/woocommerce/client/admin/client/core-profiler/style.scss
Labels: plugin: woocommerce, cherry pick to trunk

#56245 Email Editor: Update package initialization to fix loading issues
  plugins/woocommerce/package.json
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/Package.php
Labels: plugin: woocommerce

#56077 Remove span from inside the country select HTML element
  plugins/woocommerce/changelog/fix-55947
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, type: community contribution

#56242 Improve messaging when email preview rendering fails
  plugins/woocommerce/changelog/56241-email-preview-error-messaging
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/templates/emails/email-styles.php
Labels: focus: email, plugin: woocommerce, focus: settings, team: Haiku

#55968 [Block Checkout] Fix wrong shipping address being posted during checkout when using local pickup
  plugins/woocommerce/changelog/fix-wrong-shipping-posted-with-local-pickup
  plugins/woocommerce/client/blocks/.eslintrc.js
  plugins/woocommerce/client/blocks/assets/js/base/context/providers/cart-checkout/checkout-processor.ts
  plugins/woocommerce/client/blocks/assets/js/events/event-emitter.ts
Labels: type: bug, focus: checkout, plugin: woocommerce

#56131 iAPI: Only use getServerContext when it exists
  plugins/woocommerce/changelog/56131-fix-iapi-only-use-get-server-context-when-it-exists
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/frontend.ts
Labels: plugin: woocommerce

#56234 Product Gallery: uses actions.selectImage within watchForChangesOnAddToCartForm.
  plugins/woocommerce/changelog/56234-fix-product-gallery-beta-console-errors
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.tsx
Labels: plugin: woocommerce

#56231 Product filters - Enqueue the wc-settings script
  plugins/woocommerce/changelog/product-filters-load-wc-settings
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#56182 [Experimental] Product Filters - Fix deprecations
  plugins/woocommerce/changelog/product-filters-fix-deprecations
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/inspector.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/components/inspector.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/inspector.tsx
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#55660 Remove merchant email notes
  plugins/woocommerce/changelog/try-remove-merchant-email-notes
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/react-admin/emails/html-merchant-notification.php
  plugins/woocommerce/includes/react-admin/emails/plain-merchant-notification.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Admin/Notes/Note.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/FeaturePlugin.php
  plugins/woocommerce/src/Internal/Admin/Notes/AddFirstProduct.php
  plugins/woocommerce/src/Internal/Admin/Notes/EmailNotification.php
  plugins/woocommerce/src/Internal/Admin/Notes/MerchantEmailNotifications.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-admin-notes.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-tests-email-notes.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-emails-test.php
Labels: plugin: woocommerce, focus: e2e tests

#55872 Optimize product query for product creation task on page load
  plugins/woocommerce/changelog/update-54443
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
Labels: focus: performance, plugin: woocommerce

#55969 [Accessibility] Allow WC pages to open on new tabs if Ctrl/Command are pressed
  plugins/woocommerce/changelog/fix-52120
  plugins/woocommerce/client/admin/client/layout/controller.js
  plugins/woocommerce/client/admin/client/layout/test/controller.test.js
Labels: plugin: woocommerce, type: community contribution

#56238 [dev] Monorepo: fix internal packages linking (workspace-dependencies)
  .syncpackrc
  packages/js/admin-e2e-tests/changelog/dev-monorepo-internal-packages-linking-fixes
  packages/js/admin-e2e-tests/package.json
  packages/js/block-templates/changelog/dev-monorepo-internal-packages-linking-fixes
  packages/js/block-templates/package.json
  packages/js/components/changelog/dev-monorepo-internal-packages-linking-fixes
  packages/js/components/src/product-image/index.tsx
  packages/js/e2e-environment/package.json
  packages/js/product-editor/changelog/dev-monorepo-internal-packages-linking-fixes
  packages/js/product-editor/package.json
  packages/js/settings-editor/changelog/dev-monorepo-internal-packages-linking-fixes
  packages/js/settings-editor/package.json
  plugins/woo-ai/changelog/dev-monorepo-internal-packages-linking-fixes
  plugins/woo-ai/package.json
  plugins/woocommerce/changelog/dev-monorepo-internal-packages-linking-fixes
  plugins/woocommerce/client/admin/package.json
  pnpm-lock.yaml
Labels: package: @woocommerce/e2e-environment, plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/admin-e2e-tests, package: @woocommerce/components, plugin: woo-ai

#55945 [brands] - add missing schema and base product data
  plugins/woocommerce/changelog/55945-bug-brands-schema-data
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/products.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#56253 Fix color scheme inconsistency between core profiler and Jetpack connection screens
  plugins/woocommerce/changelog/fix-jpc-connection-default-color-schema
  plugins/woocommerce/src/Admin/API/OnboardingPlugins.php
Labels: plugin: woocommerce

#56278 Delete unnecessary changelog files from 9.8 branch
  packages/js/e2e-utils-playwright/changelog/e2e-fix-tests-with-wpcore-6.8
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-fix-editor-canvas-locator-gb-20.6
  plugins/woocommerce/changelog/414-appending-coupon-notices-as-elements
  plugins/woocommerce/changelog/fix-394-secure-HTML-elements
  plugins/woocommerce/changelog/fix-product-editor-xss
Labels: plugin: woocommerce, package: @woocommerce/e2e-utils-playwright

#56275 Check the attribute exists in variation attributes before accessing it
  plugins/woocommerce/changelog/56275-55121-fix-fatal-error
  plugins/woocommerce/includes/wc-conditional-functions.php
Labels: plugin: woocommerce

#56132 Catch fatals when loading cart and correctly handle sold individually items.
  plugins/woocommerce/changelog/56132-fix-catch-fatal-when-loading-cart
  plugins/woocommerce/src/Blocks/Domain/Bootstrap.php
  plugins/woocommerce/src/StoreApi/StoreApi.php
  plugins/woocommerce/src/StoreApi/Utilities/QuantityLimits.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#56186 Remove pending sync order count when no sync is in progress
  plugins/woocommerce/changelog/update-54860
  plugins/woocommerce/src/Internal/DataStores/Orders/CustomOrdersTableController.php
  plugins/woocommerce/src/Internal/DataStores/Orders/DataSynchronizer.php
  plugins/woocommerce/src/Internal/Utilities/COTMigrationUtil.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/DataSynchronizerTests.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/COTMigrationUtilTest.php
Labels: focus: performance, plugin: woocommerce

#56146 Blueprint: Add back settings override warning modal
  plugins/woocommerce/changelog/56146-update-blueprint-override-warning
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
  plugins/woocommerce/client/admin/client/blueprint/components/get-option-groups.ts
  plugins/woocommerce/client/admin/client/blueprint/components/tests/get-option-groups.test.js
  plugins/woocommerce/client/admin/client/blueprint/components/types.ts
  plugins/woocommerce/client/admin/client/blueprint/settings/overwrite-confirmation-modal.tsx
Labels: plugin: woocommerce

#56210 Handle coming soon templates created prior 9.8.0
  plugins/woocommerce-blocks/assets/js/blocks/coming-soon/entire-site.scss
  plugins/woocommerce/changelog/fix-56170-coming-soon-upgrade
  plugins/woocommerce/client/legacy/css/coming-soon-entire-site-deprecated.scss
  plugins/woocommerce/patterns/page-coming-soon-default.php
  plugins/woocommerce/patterns/page-coming-soon-minimal-left-image.php
  plugins/woocommerce/src/Blocks/BlockTypes/ComingSoon.php
Labels: plugin: woocommerce, cherry pick to trunk

#56290 Use more specific selectors in `product/product-create-simple` E2E test
  plugins/woocommerce/tests/e2e-pw/tests/product/product-create-simple.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#56063 Product Gallery: introduce mobile layout by forcing the Thumbnails below the main image
  plugins/woocommerce/changelog/add-56030
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/style.scss
Labels: plugin: woocommerce

#56261 Email Editor - Fix Email Editor Permissions for Non-Admin Users
  packages/js/email-editor/changelog/fix-the-email-editor-doesnt-work-properly-for-editor-role
  packages/js/email-editor/src/components/block-editor/visual-editor/edit-template-blocks-notification.tsx
  packages/js/email-editor/src/components/sidebar/email-type-info.tsx
  packages/js/email-editor/src/components/styles-sidebar/styles-sidebar.tsx
  packages/js/email-editor/src/store/selectors.ts
  packages/php/email-editor/src/Engine/Templates/class-templates.php
  plugins/woocommerce/src/Internal/EmailEditor/PageRenderer.php
Labels: plugin: woocommerce, team: Ballade, focus: email editor

#56208 [e2e tests] Remove cart and checkout page conversion during global setup
  plugins/woocommerce/changelog/e2e-remove-page-conversion-to-classic
  plugins/woocommerce/tests/e2e-pw/fixtures/block-editor-fixtures.js
  plugins/woocommerce/tests/e2e-pw/fixtures/site.setup.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/payment-gateways/payment-gateways-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/cart/add-to-cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/cart/cart.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/checkout/checkout.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/coupons/cart-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/coupons/cart-checkout-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/coupons/cart-checkout-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/coupons/checkout-block-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/order/order-grace-period.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/product-create-simple.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/product-grouped.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/product-variable.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shipping/shipping-zones.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shop/cart-redirection.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/cart.js
  plugins/woocommerce/tests/e2e-pw/utils/login.js
  plugins/woocommerce/tests/e2e-pw/utils/pages.js
  plugins/woocommerce/tests/e2e-pw/utils/simple-products.js
Labels: plugin: woocommerce, focus: e2e tests

#56244 Improve colors of the shipping option card
  plugins/woocommerce/changelog/56244-update-improve-shipping-option-card
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-methods-block/style.scss
Labels: plugin: woocommerce

#56263 [Experimental] Add to Cart Button: show single add to cart text when inside the Add to Cart with Options block
  plugins/woocommerce/changelog/fix-56218-add-to-cart-with-options-button-text
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/block.json
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/types.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/block.json
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/product-response.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.page.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/ProductSchema.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/AddToCartWithOptions.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Products.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#56349 [e2e tests] Fix flakiness in product reviews checks
  plugins/woocommerce/changelog/e2e-fix-flaky-product-review
  plugins/woocommerce/tests/e2e-pw/tests/product/product-reviews.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#56352 [dev] CI: cap E2E testing jobs execution time for PRs to 25 minutes.
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#56183 Document email preview and new hooks
  docs/docs-manifest.json
  docs/emails/README.md
  docs/emails/email-preview.md
Labels: focus: documentation

#55930 Add .cursorindexingignore to .gitignore file
  .gitignore
Labels: focus: monorepo infrastructure, tool: monorepo infrastructure, team: Flux

#56362 Skip a flaky test for core analytics sync order product refunds
  plugins/woocommerce/changelog/56362-tweak-skip-a-flaky-test-for-analytics-product-refund
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/reports/class-wc-tests-reports-products.php
Labels: plugin: woocommerce

#56358 Prevent product button loading unnecessary dependencies
  plugins/woocommerce/changelog/fix-product-button-dependencies
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/types.ts
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: add to cart form

#56291 Product Gallery: refactor thumbnails to pure iAPI.
  plugins/woocommerce/changelog/56291-update-product-gallery-thumnails-render
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-thumbnails/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/types.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryThumbnails.php
  plugins/woocommerce/src/Blocks/Utils/ProductGalleryUtils.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/ProductGalleryUtilsTest.php
Labels: plugin: woocommerce

#56233 Support `overrides` property for the free extensions feed
  plugins/woocommerce/changelog/56233-update-extensions-sort-order
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/ContextPluginsRuleProcessor.php
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/EvaluateOverrides.php
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/GetRuleProcessorForContext.php
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/EvaluateExtension.php
  plugins/woocommerce/tests/php/src/Internal/Admin/RemoteFreeExtensions/EvaluateOverridesTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/RemoteFreeExtensions/fixtures/extensions.json
Labels: plugin: woocommerce

#56304 Product Filters: Remove unneeded legacy filters pattern
  plugins/woocommerce/changelog/remove-legacy-filters-pattern
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce/patterns/filters.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPriceSlider.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block-type: filter blocks

#55943 Update/55912 update classic settings design
  plugins/woocommerce/changelog/55943-update-55912-update-classic-settings-design
  plugins/woocommerce/client/admin/client/activity-panel/index.js
  plugins/woocommerce/client/admin/client/blueprint/settings/style.scss
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/admin/views/html-admin-settings.php
Labels: plugin: woocommerce

#55978 Fix rest API endpoint ( payment_gateway and tax_class)
  plugins/woocommerce/changelog/55978-fix-endpoints
  plugins/woocommerce/changelog/fix-cli-and-endpoints
  plugins/woocommerce/includes/cli/class-wc-cli-rest-command.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-tax-classes-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-payment-gateways-v2-controller.php
Labels: plugin: woocommerce, type: community contribution

#56346 Fix Beta Tester live-branches API request body structure
  plugins/woocommerce-beta-tester/changelog/fix-beta-tester-live-branch
  plugins/woocommerce-beta-tester/src/features/data/constants.ts
  plugins/woocommerce-beta-tester/src/live-branches/hooks/live-branches.tsx
Labels: plugin: woocommerce beta tester

#56345 Hide Printful banner when plugin is installed
  plugins/woocommerce/changelog/update-hide-printful-when-installed
  plugins/woocommerce/client/admin/client/task-lists/fills/products/index.tsx
  plugins/woocommerce/client/admin/client/task-lists/fills/products/test/index.tsx
Labels: plugin: woocommerce

#56317 Fix: Removable Chips: properly register justification control
  plugins/woocommerce/changelog/fix-removable-chips-justification-control-68
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/style.scss
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block-type: filter blocks

#56323 Product Filters: refactor the paginated filter results handling
  plugins/woocommerce/changelog/refactor-send-canonical-url-from-server-for-paginated-filter-url
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce, focus: FSE, block-type: filter blocks

#56259 Add email editor php unit tests to CI
  packages/php/email-editor/.wp-env.json
  packages/php/email-editor/package.json
  packages/php/email-editor/src/Engine/Templates/class-templates.php
  pnpm-lock.yaml
Labels: focus: email, focus: monorepo infrastructure, team: Ballade, focus: email editor, package: @woocommerce/email-editor

#56359 [Experimental] Move useProductTypeSelector() into the shared folder
  plugins/woocommerce/changelog/update-move-use-product-type-selector-hook
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/components/toolbar-type-product-selector-group/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/edit/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/plugins/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/types.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/shared/stores/product-type-template-state/index.ts
  plugins/woocommerce/client/blocks/assets/js/shared/stores/product-type-template-state/types.ts
  plugins/woocommerce/client/blocks/assets/js/shared/stores/product-type-template-state/use-product-type-selector.ts
  plugins/woocommerce/client/blocks/assets/js/utils/get-product-type-options.ts
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block: add to cart form

#56118 Update the loading placeholder of the Reviews blocks so they are better aligned with the end content
  plugins/woocommerce/changelog/fix-reviews-loading-placeholder-alignments
  plugins/woocommerce/client/blocks/assets/js/base/components/reviews/review-list-item/style.scss
Labels: plugin: woocommerce, team: Kirigami & Origami, focus: FSE, block-type: reviews

#56383 [dev] 9.8 sync with trunk
  packages/js/e2e-utils-playwright/changelog/e2e-utils-playwright-fix-editor-canvas-locator-gb-20.6
  plugins/woocommerce/changelog/414-appending-coupon-notices-as-elements
  plugins/woocommerce/changelog/56099-update-core-profilter-free-features
  plugins/woocommerce/changelog/fix-394-secure-HTML-elements
  plugins/woocommerce/changelog/fix-56170-coming-soon-upgrade
  plugins/woocommerce/changelog/fix-product-editor-xss
  plugins/woocommerce/client/admin/client/core-profiler/actions/tracks.tsx
  plugins/woocommerce/client/admin/client/core-profiler/events.tsx
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/NoPermissions.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/Plugins.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.scss
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/NoPermissions.test.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/tests/Plugins.test.tsx
  plugins/woocommerce/client/admin/client/core-profiler/stories/Plugins.story.tsx
  plugins/woocommerce/client/admin/client/core-profiler/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/coming-soon/entire-site.scss
  plugins/woocommerce/client/legacy/css/coming-soon-entire-site-deprecated.scss
  plugins/woocommerce/patterns/page-coming-soon-default.php
  plugins/woocommerce/patterns/page-coming-soon-minimal-left-image.php
  plugins/woocommerce/src/Blocks/BlockTypes/ComingSoon.php
Labels: plugin: woocommerce, package: @woocommerce/e2e-utils-playwright

#56341 Update Block Templates Package for React 18
  packages/js/block-templates/changelog/56341-update-register-woo-block-type-util-react-18
  packages/js/block-templates/src/utils/register-woo-block-type.ts
  packages/js/product-editor/changelog/56341-update-register-woo-block-type-util-react-18
  packages/js/product-editor/src/utils/register-product-editor-block-type.ts
  packages/js/product-editor/src/wp-hooks/hide-inventory-advanced-collapsible.tsx
Labels: type: technical debt, team: Kirigami & Origami, focus: FSE

#56292 Adjust irish eircode to be mandatory
  plugins/woocommerce/changelog/56292-patch-3
  plugins/woocommerce/includes/class-wc-countries.php
Labels: plugin: woocommerce, type: community contribution

#56355 [dev] Update nightly tag and build workflow
  .github/workflows/nightly-builds.yml
Labels: focus: monorepo infrastructure

#56387 [e2e tests] Stablize product-tags-attributes spec
  plugins/woocommerce/changelog/e2e-fix-product-tag-attributes-flakyness
  plugins/woocommerce/tests/e2e-pw/tests/product/product-tags-attributes.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#56297 Avoid loading settings for wc-shipping-method-pickup-location when not enqueued
  plugins/woocommerce/changelog/fix-54913-only-hydrate-shipping-settings-for-local-pickup
  plugins/woocommerce/src/Blocks/Shipping/PickupLocation.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
Labels: plugin: woocommerce

#56412 [Payments NOX] Fix Payments Settings page background color
  plugins/woocommerce/changelog/56409-fix-nox-page-background
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-body.scss
Labels: plugin: woocommerce

#56351 Update Settings Payment partner recommendations
  plugins/woocommerce/assets/images/onboarding/icons/billie.svg
  plugins/woocommerce/assets/images/onboarding/icons/klarna-checkout.svg
  plugins/woocommerce/assets/images/onboarding/icons/paypal-braintree.svg
  plugins/woocommerce/assets/images/onboarding/icons/paypal-zettle.svg
  plugins/woocommerce/assets/images/onboarding/icons/paytrail.svg
  plugins/woocommerce/changelog/update-settings-payment-partner-recommendations
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
Labels: plugin: woocommerce, cherry pick to trunk

#56257 Add __nextHasNoMarginBottom prop to WordPress components for 6.7+ compatibility in Ghidorah work area
  packages/js/customer-effort-score/changelog/56257-update-wp-control-button-margin
  packages/js/customer-effort-score/src/components/customer-feedback-modal/index.tsx
  packages/js/customer-effort-score/src/style.scss
  plugins/woocommerce/changelog/56257-update-wp-control-button-margin
  plugins/woocommerce/client/admin/client/blueprint/settings/slotfill.js
  plugins/woocommerce/client/admin/client/core-profiler/components/multiple-selector/multiple-selector.scss
  plugins/woocommerce/client/admin/client/core-profiler/components/multiple-selector/render-menu.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/BusinessInfo.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.scss
  plugins/woocommerce/client/admin/client/core-profiler/pages/Plugins/components/plugin-card/plugin-card.tsx
  plugins/woocommerce/client/admin/client/core-profiler/shared.scss
  plugins/woocommerce/client/admin/client/core-profiler/style.scss
  plugins/woocommerce/client/admin/client/dashboard/components/settings/general/store-address.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/launch-store-success/Survey.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/components/launch-store-hub.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/styles.scss
  plugins/woocommerce/client/admin/client/launch-your-store/settings/slotfill.js
  plugins/woocommerce/client/admin/client/payments-welcome/apms.tsx
  plugins/woocommerce/client/admin/client/payments-welcome/style.scss
  plugins/woocommerce/client/admin/client/task-lists/fills/PaymentGatewaySuggestions/plugins/Bacs.js
  plugins/woocommerce/client/admin/client/task-lists/fills/shipping/rates.js
Labels: plugin: woocommerce, package: @woocommerce/customer-effort-score

#56154 iAPI: Workaround for bug in WP 6.6's iAPI during Product Collection navigation
  plugins/woocommerce/changelog/56154-iapi-bug-in-wp-6.6-workaround
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/frontend.tsx
Labels: plugin: woocommerce

#56283 Check if context is an array before unsetting a value
  plugins/woocommerce/changelog/56283-55678-fix-log-fatal-error
  plugins/woocommerce/src/Internal/Admin/Logging/LogHandlerFileV2.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Logging/LogHandlerFileV2Test.php
Labels: plugin: woocommerce

#56384 Fix Total Payments Volume Processor validation and schema handling
  packages/php/remote-specs-validation/bundles/obw-free-extensions.json
  packages/php/remote-specs-validation/bundles/payment-gateway-suggestions.json
  packages/php/remote-specs-validation/bundles/remote-inbox-notification.json
  packages/php/remote-specs-validation/bundles/shipping-partner-suggestions.json
  packages/php/remote-specs-validation/bundles/wc-pay-promotions.json
  packages/php/remote-specs-validation/changelog/56384-fix-total-payments-volume-processor
  packages/php/remote-specs-validation/schemas/shared/rules/total_payments_value.json
  plugins/woocommerce/changelog/56384-fix-total-payments-volume-processor
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/TotalPaymentsVolumeProcessor.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/remote-specs/rule-processors/total-payments-volume-processor.php
Labels: plugin: woocommerce

#56202 Add Product Description Block: A New Block for Product Content
  plugins/woocommerce/changelog/56202-add-55723-product-details-block-create-product-description-block-3
  plugins/woocommerce/client/blocks/assets/js/blocks/product-description/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-description/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-description/icon.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-description/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/edit.tsx
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/ProductDescription.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, focus: FSE, block: blockified product details, type: feature

#56436 [dev] CI: unblock CI job which uses tj-actions/changed-files.
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#55129 Add `$args` to the `woocommerce_hpos_pre_query` filter
  plugins/woocommerce/changelog/feature-issue-55126
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableQueryTests.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#56117 iAPI: Switch the cart endpoint in the `woocommerce` store
  plugins/woocommerce/changelog/56117-iapi-woocommerce-store-switch-cart-endpoint
  plugins/woocommerce/client/blocks/.eslintrc.js
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/store-notices.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/legacy-events.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/types.ts
  plugins/woocommerce/client/blocks/assets/js/utils/index.ts
  plugins/woocommerce/client/blocks/assets/js/utils/interactivity.ts
  plugins/woocommerce/client/blocks/bin/webpack-config-interactivity-blocks-frontend.js
  plugins/woocommerce/client/blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
  plugins/woocommerce/client/blocks/tsconfig.base.json
  plugins/woocommerce/src/Blocks/AssetsController.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Renderer.php
Labels: plugin: woocommerce

#56326 Update Store API landing page to include brands
  plugins/woocommerce/src/StoreApi/README.md
Labels: plugin: woocommerce, team: Rubik, focus: store api

#56174 Improve WooPayments onboarding experiment error handling
  plugins/woocommerce/changelog/56174-dev-fix-call-abtest
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/WooPayments.php
Labels: plugin: woocommerce

#56282 Add JSON schema docs for additional fields
  docs/cart-and-checkout-blocks/additional-checkout-fields.md
  docs/docs-manifest.json
Labels: focus: checkout, focus: documentation, team: Rubik

#56368 Register draft status at a later stage
  plugins/woocommerce/changelog/56368-add-register-draft-alte
  plugins/woocommerce/src/Blocks/Domain/Services/DraftOrders.php
Labels: type: enhancement, plugin: woocommerce, team: Rubik, focus: store api
