Repository woocommerce/woocommerce, pull requests merged in 2025-05, with the labels that each got.

#57159 Add documentation page for email html best practices
  docs/docs-manifest.json
  docs/emails/email-html-best-practices.md
Labels: Email, Documentation, Ballade

#57604 [Experimental] Add Product Reviews Pagination block
  plugins/woocommerce/changelog/wooplug-3855-reviews-pagination-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-next/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-next/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-next/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-numbers/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-numbers/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-numbers/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-numbers/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-previous/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-previous/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-previous/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/reviews-pagination-arrow-controls.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/save.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/template.ts
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/BlockifiedProductDetails.php
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsPagination.php
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsPaginationNext.php
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsPaginationNumbers.php
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsPaginationPrevious.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#57644 Update popover interaction from hover to click for Payments -> Settings
  plugins/woocommerce/changelog/update-WOOPLUG-4035-popover-from-hover-to-click
  plugins/woocommerce/client/admin/client/settings-payments/components/official-badge/official-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
Labels: plugin: woocommerce

#57569 Fix blueprint package test autoloading and export configuration
  packages/php/blueprint/.gitattributes
  packages/php/blueprint/changelog/fix-blueprint-setup-tests
  packages/php/blueprint/composer.json
  packages/php/blueprint/tests/Unit/ExportSchemaTest.php
  packages/php/blueprint/tests/bootstrap.php
  packages/php/blueprint/tests/stubs/stubs.php
Labels: focus: monorepo infrastructure

#57636 Add tracking for email preview usage
  plugins/woocommerce/changelog/wooplug-3923-add-email-preview-tracking
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-device-type.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-send.tsx
Labels: Email, plugin: woocommerce, Ballade

#57657 Pevent unsaved changes popup after successful blueprint import
  plugins/woocommerce/changelog/fix-remove-unsaved-changes-popup-after-import
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
Labels: plugin: woocommerce

#57613 Enhance Blueprint Import UI with Persistent Notifications and Improved Styling
  plugins/woocommerce/changelog/wooplug-4104-blueprint-persist-success-notifications
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
  plugins/woocommerce/client/admin/client/blueprint/settings/style.scss
Labels: plugin: woocommerce

#57600 [Experimental] Product Reviews: Add review template block
  plugins/woocommerce/changelog/57600-add-product-review-template-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/hooks.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/save.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/template.ts
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, block-type: reviews

#57616 Implement design for compact product cards in In-App Marketplace
  plugins/woocommerce/client/admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-list-content/product-list-content.tsx
Labels: plugin: woocommerce

#57660 Skip failing checkout E2E test (switching between shipping/local pickup)
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#57647 Order confirmation block: Hide empty address columns
  plugins/woocommerce/changelog/wooplug-2016-order-confirmation-template-shows-a-shifted-billing-address
  plugins/woocommerce/client/blocks/assets/js/blocks/order-confirmation/billing-address/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/order-confirmation/shipping-address/style.scss
Labels: Checkout, plugin: woocommerce, Rubik

#57589 Cast string to float when calculating refund totals within `WC_Order::get_total_refunded_for_item()`
  plugins/woocommerce/changelog/wooplug-2660-fatal-error-unsupported-operand-types-in-wc_order
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
Labels: Checkout, plugin: woocommerce, Rubik

#57662 [NOX In-Context] Mark the Continue button as loading and disabled when clicked
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/index.tsx
Labels: plugin: woocommerce

#57037 Fix additional fields crashing and formatting issues
  plugins/woocommerce/changelog/57037-fix-additional-fields-crash-and-others
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/form.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/form/use-form-validation.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/push-changes.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/utils.ts
  plugins/woocommerce/client/blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce/client/blocks/assets/js/utils/schema-parser/index.ts
  plugins/woocommerce/client/blocks/assets/js/utils/schema-parser/test/email-format.ts
  plugins/woocommerce/src/StoreApi/Schemas/V1/CheckoutSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/CheckoutTrait.php
  plugins/woocommerce/src/StoreApi/Utilities/OrderController.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
Labels: Bug, Checkout, plugin: woocommerce, Rubik, block: checkout

#57665 [dev] Monorepo: fix pre-push validation.
  bin/pre-push.sh
Labels: focus: monorepo infrastructure

#57668 [NOX In-Context] Correctly pass the capabilities to WooPayments endpoint
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/WooPayments/WooPaymentsService.php
Labels: plugin: woocommerce

#55893 Enable stalebot for community PRs
  .github/workflows/stalebot.yml
Labels: focus: monorepo infrastructure

#57446 Mini-Cart Contents block: Fix Mini-Cart Shopping Button color styling
  plugins/woocommerce/changelog/57446-fix-mini-cart-button-colors
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/edit.tsx
Labels: plugin: woocommerce, type: community contribution, Rubik

#57670 [WC Payments NOX in-context] Add conditional screen to the Activate payments step
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/activate-payments-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/data/onboarding-context.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/components/stepper/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/sections/activate-payments.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/strings.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/types.ts
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/test-account/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/types.ts
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/WooPayments/WooPaymentsService.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentProviders/WooPayments/WooPaymentsServiceTest.php
Labels: plugin: woocommerce

#57494 Add a 'search_name_or_sku' argument to the REST API products endpoint
  plugins/woocommerce/changelog/pr-57494
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#57605 Beta Tester: Remove not necessary endpoints to reset CYS
  plugins/woocommerce-beta-tester/api/tools/reset-cys.php
  plugins/woocommerce-beta-tester/changelog/57605-fix-wc-beta-tester-cys-reset
  plugins/woocommerce-beta-tester/src/tools/data/actions.js
Labels: plugin: woocommerce beta tester

#57656 Legacy Attribute Filter: fix dropdown width
  plugins/woocommerce/changelog/wooplug-4082-filter-by-attribute-controls-the-dropdown-display-style-is
  plugins/woocommerce/client/blocks/assets/js/blocks/attribute-filter/style.scss
Labels: plugin: woocommerce

#57681 [Experimental] Product Reviews: remove `Product` prefix from inner blocks
  plugins/woocommerce/changelog/wooplug-4130-remove-product-prefix-from-review-blocks
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-author-name/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-content/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-date/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-form/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-rating/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-next/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-numbers/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination-previous/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-pagination/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-title/block.json
Labels: plugin: woocommerce

#57685 Prep release/9.8 for 9.8 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#57677 Removed filter to add display_name column in user search as it's alre…
  plugins/woocommerce/includes/wc-user-functions.php
Labels: plugin: woocommerce, type: community contribution

#57330 Add subject and pre-header to email editor sidebar Settings panel
  packages/js/email-editor/changelog/rename-details-panel-to-settings
  packages/js/email-editor/src/components/block-editor/style.scss
  packages/js/email-editor/src/components/sidebar/email-settings.tsx
  packages/js/email-editor/src/components/sidebar/email-type-info.tsx
  packages/js/email-editor/src/components/sidebar/settings-panel.tsx
  packages/js/email-editor/src/components/sidebar/template-selection.tsx
  packages/php/email-editor/changelog/add-possibility-for-reading-context
  packages/php/email-editor/src/Engine/class-personalizer.php
  plugins/woocommerce/changelog/add-subject-to-email-sidebar
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/index.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/sidebar_settings.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/style.scss
  plugins/woocommerce/includes/emails/class-wc-email-customer-invoice.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-refunded-order.php
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/includes/emails/class-wc-email.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/EmailEditorServiceProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/BlockEmailRenderer.php
  plugins/woocommerce/src/Internal/EmailEditor/EmailApiController.php
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/TransactionalEmailPersonalizer.php
  plugins/woocommerce/tests/php/src/Internal/EmailEditor/BlockEmailRendererTest.php
Labels: plugin: woocommerce, Ballade

#56927 Implement a way for developers to register an address provider in PHP.
  plugins/woocommerce/changelog/56715-implement-a-way-for-developers-to-register-an-address-autocomplete-provider-in-php
  plugins/woocommerce/includes/abstracts/abstract-wc-address-provider.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/AddressProvider/AddressProviderController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AddressProviderServiceProvider.php
  plugins/woocommerce/tests/php/src/Internal/AddressProvider/AddressProviderControllerTest.php
Labels: plugin: woocommerce

#57479 Introduce additional personalization tags to the Email Editor
  plugins/woocommerce/changelog/wooplug-3655-add-personalization-tags-for-order-and-customer
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTagManager.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTags/AbstractTagProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTags/CustomerTagsProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTags/OrderTagsProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTags/SiteTagsProvider.php
  plugins/woocommerce/src/Internal/EmailEditor/PersonalizationTags/StoreTagsProvider.php
  plugins/woocommerce/templates/emails/block/admin-cancelled-order.php
  plugins/woocommerce/templates/emails/block/admin-failed-order.php
  plugins/woocommerce/templates/emails/block/admin-new-order.php
  plugins/woocommerce/templates/emails/block/customer-completed-order.php
  plugins/woocommerce/templates/emails/block/customer-failed-order.php
  plugins/woocommerce/templates/emails/block/customer-invoice.php
  plugins/woocommerce/templates/emails/block/customer-new-account-blocks.php
  plugins/woocommerce/templates/emails/block/customer-new-account.php
  plugins/woocommerce/templates/emails/block/customer-note.php
  plugins/woocommerce/templates/emails/block/customer-on-hold-order.php
  plugins/woocommerce/templates/emails/block/customer-processing-order.php
  plugins/woocommerce/templates/emails/block/customer-refunded-order.php
  plugins/woocommerce/templates/emails/block/customer-reset-password.php
  plugins/woocommerce/templates/emails/block/default-block-content.php
  plugins/woocommerce/tests/php/src/Internal/EmailEditor/BlockEmailRendererTest.php
Labels: Email, plugin: woocommerce, Ballade

#57637 Allow links in order item meta in new emails templates
  plugins/woocommerce/changelog/wooplug-4110-links-from-order-meta-removed-from-emails-when-email
  plugins/woocommerce/templates/emails/email-order-items.php
Labels: Email, plugin: woocommerce, Ballade

#57653 Updating version and changelog for Woo AI
  plugins/woo-ai/CHANGELOG.md
  plugins/woo-ai/changelog/45148-poc-request-reviews
  plugins/woo-ai/changelog/47385-dev-update-pnpm9-1
  plugins/woo-ai/changelog/49310-dev-pin-block-env-package
  plugins/woo-ai/changelog/50047-fix-typos
  plugins/woo-ai/changelog/50568-update-wp-env
  plugins/woo-ai/changelog/50828-dev-constrain-pnpm-version
  plugins/woo-ai/changelog/53165-dev-ts-5-7-2
  plugins/woo-ai/changelog/53531-dev-react-18-ghidorah
  plugins/woo-ai/changelog/53865-dev-pnpm-9-15-0
  plugins/woo-ai/changelog/54996-chore-update-wireit
  plugins/woo-ai/changelog/55095-dev-rewrite-wireit-deps-update
  plugins/woo-ai/changelog/56506-remove-wp-components-types
  plugins/woo-ai/changelog/56575-dev-bump-babel-deps
  plugins/woo-ai/changelog/57299-fix-wireit-in-ci
  plugins/woo-ai/changelog/57567-add-woo-ai-deprecation-notice
  plugins/woo-ai/changelog/bump-update-wordpress-env-to-9.0.7
  plugins/woo-ai/changelog/dev-babel-loader-jest-caching
  plugins/woo-ai/changelog/dev-bump-wp-env-10.17.0
  plugins/woo-ai/changelog/dev-consolidate-syncpack-config
  plugins/woo-ai/changelog/dev-deps-review-bump-p2
  plugins/woo-ai/changelog/dev-monorepo-internal-packages-linking-fixes
  plugins/woo-ai/changelog/dev-solve-wpenv-startup-failures-in-ci-take-2
  plugins/woo-ai/changelog/dev-try-faster-building-zip
  plugins/woo-ai/changelog/dev-tune-up-zip-generation
  plugins/woo-ai/changelog/dev-update-wp-env-10.14-and-remove-patch
  plugins/woo-ai/changelog/dev-webpack-loaders-scannig-paths-tweaks
  plugins/woo-ai/changelog/fix-typo-in-woo-ai-plugin-doc
  plugins/woo-ai/changelog/request-json-response-name-suggestions
  plugins/woo-ai/changelog/task-update-eslint-config
  plugins/woo-ai/changelog/update-bump-a8c-tour-kit-version
  plugins/woo-ai/changelog/update-woo-com-to-woocommerce-com
  plugins/woo-ai/composer.json
  plugins/woo-ai/package.json
  plugins/woo-ai/woo-ai.php
Labels: focus: monorepo infrastructure, plugin: woo-ai

#57688 [NOX In-Context] Mark the WPCOM connect button as busy and disabled when clicked
  plugins/woocommerce/changelog/enhancement-add-loading-state-to-wccom-connect-button
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/wpcom-connection/index.tsx
Labels: plugin: woocommerce

#57692 Fix E2E tests - `release/9.8` branch
  plugins/woocommerce-blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce-blocks/tests/e2e/tests/product-filters/removable-chips-editor.block_theme.spec.ts
Labels: focus: e2e tests

#57683 Improve the spacing in the header area
  plugins/woocommerce/changelog/fix-wooplug-4111-back-header-area-spacing
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#57702 Add/cursor woocommerce phpunit test command and pull request description rules
  .cursor/rules/generate-pr-description.mdc
  .cursor/rules/woo-phpunit.mdc
Labels: plugin: woocommerce, tools

#57624 [Blueprint] Fix Missing Settings in Blueprint Export
  plugins/woocommerce/changelog/wooplug-4106-missing-settings-in-blueprint-export
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCSettingsEmails.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCSettingsIntegrations.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCSettingsTax.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCTaxRates.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/src/Admin/Features/Blueprint/SettingOptions.php
Labels: plugin: woocommerce

#57687 Fix Filter by Price slider color to use current in RTL languages instead of hardcoded purple
  plugins/woocommerce/changelog/57687-fix-price-slider-rtl-color
  plugins/woocommerce/client/blocks/assets/js/base/components/price-slider/style.scss
Labels: plugin: woocommerce, type: community contribution

#57680 Add product filter rating block to the ancestors list of checkbox list block
  plugins/woocommerce/changelog/57680-wooplug-3921-add-the-rating-block-to-the-ancestors-list-of-the-checkbox
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/block.json
Labels: plugin: woocommerce

#57519 Product Gallery: optimise block
  plugins/woocommerce/changelog/wooplug-3798-product-gallery-optimise
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/inner-blocks/product-gallery-large-image/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/types.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/product-gallery.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/product-gallery.page.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryThumbnails.php
  plugins/woocommerce/src/Blocks/Utils/ProductGalleryUtils.php
  plugins/woocommerce/tests/php/src/Blocks/Utils/ProductGalleryUtilsTest.php
Labels: plugin: woocommerce, focus: e2e tests

#57689 Fix: sending a correct email when an account is created after placing an order
  packages/php/email-editor/changelog/sending-new-user-email-for-account-created-after-creating-order
  packages/php/email-editor/src/Engine/Renderer/ContentRenderer/class-content-renderer.php
Labels: plugin: woocommerce, Ballade, package: @woocommerce/email-editor

#57614 [WC Payments NOX] Enable the feature for all stores
  plugins/woocommerce/changelog/update-WOOPLUG-4100-default-enable-nox-for-all
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57620 Fix: display only meta data that are not a part of product name
  plugins/woocommerce/changelog/variations-meta-data-in-orders
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce, Ballade

#57714 [Payments NOX] Update the official payments extensions badge icon
  plugins/woocommerce/assets/images/icons/official-extension.svg
  plugins/woocommerce/changelog/update-official-payments-extensions-badge-icon
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57715 [dev] Remove unused test assistant workflows
  .github/actions/pr-scrub-notify-slack/action.yml
  .github/workflows/pull-request-post-merge-processing.yml
  .github/workflows/test-assistant-pr-merge-track.yml
  .github/workflows/test-assistant-pr-review.yml
  .github/workflows/test-assistant-pr-scrub.yml
  .github/workflows/test-assistant-release-highlight-tracker.yml
Labels: focus: monorepo infrastructure

#57618 [WC Payments NOX] Fast-tracked fixes and improvements
  packages/js/data/changelog/update-56188-improve-switcher-incentive-handling
  packages/js/data/src/payment-settings/types.ts
  plugins/woocommerce/assets/images/icons/recurring-payments.svg
  plugins/woocommerce/changelog/fix-WOOPLUG-3736-airwallex-gateway-titles
  plugins/woocommerce/changelog/fix-nox-individual-payment-gateway-settings-notices-and-sections
  plugins/woocommerce/changelog/fix-reactify-payment-settings-body-class
  plugins/woocommerce/changelog/update-55738-update-tertiary-back-button-in-wc-settings
  plugins/woocommerce/changelog/update-56188-improve-switcher-incentive-handling
  plugins/woocommerce/changelog/update-WOOPLUG-4035-popover-from-hover-to-click
  plugins/woocommerce/changelog/update-remove-payments-menu-item-for-woopayments-complete-accounts
  plugins/woocommerce/changelog/wooplug-3739-update-the-recurring-payments-icon-for-payment-extensions-on
  plugins/woocommerce/client/admin/client/settings-payments/components/official-badge/official-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-body.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/admin/settings/views/html-admin-page-shipping-zone-methods.php
  plugins/woocommerce/includes/emails/class-wc-email.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Admin/Features/Features.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/Incentives/Incentive.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
Labels: plugin: woocommerce, package: @woocommerce/data, cherry pick to trunk, cherry pick to frozen release

#57720 Clean up: remove not necessary imports
  plugins/woocommerce/client/blocks/assets/js/blocks/accordion/accordion-group/index.js
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item-template/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/chips/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/index.tsx
Labels: plugin: woocommerce

#57712 [fix] Reviews: fix an error during manual plugin update
  plugins/woocommerce/changelog/fix-56215-manual-update-fatal
  plugins/woocommerce/src/Internal/Admin/ProductReviews/Reviews.php
Labels: plugin: woocommerce

#57693 Show all validation errors in Checkout even if email is invalid
  plugins/woocommerce/changelog/57693-fix-show-all-errors-on-checkout
  plugins/woocommerce/includes/class-wc-checkout.php
Labels: plugin: woocommerce

#57496 Add order fulfillments REST API endpoints
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Container.php
  plugins/woocommerce/src/Internal/DataStores/Fulfillments/FulfillmentsDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderFulfillmentsServiceProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Fulfillment.php
  plugins/woocommerce/src/Internal/Fulfillments/OrderFulfillmentsRestController.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Fulfillments/FulfillmentsDataStoreTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Helpers/FulfillmentsHelper.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/OrderFulfillmentsRestControllerTest.php
Labels: plugin: woocommerce

#57701 Add comprehensive unit tests for WC_Email::format_string covering legacy and new placeholder handling
  plugins/woocommerce/changelog/57701-fix-wooplug-4089-blogname-placeholder-isnt-replaced-in-emails-when-using
  plugins/woocommerce/tests/legacy/unit-tests/email/emails.php
Labels: Email, plugin: woocommerce

#57749 [Payments NOX] Suggest the Affirm extension to UK businesses
  plugins/woocommerce/changelog/update-WOOPRD-486-add-affirm-extension-to-uk
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57748 [Payments NOX] Remove section navigation for offline pms settings pages
  plugins/woocommerce/changelog/fix-WOOPLUG-4164-remove-section-navigation-for-offline-pms-settings-pages
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57737 Banner Pattern: fix text color
  plugins/woocommerce/changelog/57737-wooplug-4116-bannerpattern-text-is-invisible-in-tt5-and-tt4
  plugins/woocommerce/patterns/banner.php
Labels: plugin: woocommerce, Blocks/Patterns/Templates

#57465 Allow AWS S3 uploads for product imports
  plugins/woocommerce/changelog/fix-55661
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/src/Internal/Utilities/FilesystemUtil.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/FilesystemUtilTest.php
Labels: Import/Export, plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57759 PTK Pattern: Ensure that fatal is not triggered if categories is null.
  plugins/woocommerce/changelog/57759-fix-guard-patterns-category
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
Labels: plugin: woocommerce

#57752 [NOX In-Context] Fix managing offline payment methods
  plugins/woocommerce/changelog/57752-fix-broken-offline-pms-manage
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/PaymentGateway.php
Labels: plugin: woocommerce

#57705 Fix order statuses array check in OrderAwareControllerTrait
  plugins/woocommerce/changelog/57705-fix-WOOPLUG-4124-order-statuses-array-check
  plugins/woocommerce/src/Admin/API/Reports/OrderAwareControllerTrait.php
Labels: plugin: woocommerce, Reports/Analytics, Code Quality

#57691 Simplify some queries to improve linting compliance
  plugins/woocommerce/changelog/fix-WOO6-5
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-custom-fields-controller.php
  plugins/woocommerce/src/Internal/ProductDownloads/ApprovedDirectories/Register.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: plugin: woocommerce

#57679 Fix undefind notice introducted in #57592
  plugins/woocommerce/changelog/fix-57592
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce, type: community contribution

#57771 Update in app banner link targets
  plugins/woocommerce/changelog/57771-fix-WCCOM-1234-in-app-banner-link-target
  plugins/woocommerce/client/admin/client/components/tracked-link/tracked-link.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/footer/footer.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.tsx
Labels: WCCOM/Marketplace, plugin: woocommerce, Desire, team: Desire

#57789 Update PHP test to match "Password-protected" text changes in WP nightly
  plugins/woocommerce/changelog/fix-password-protected-test
  plugins/woocommerce/tests/php/includes/class-wc-shortcodes-test.php
Labels: plugin: woocommerce

#57280 Add email block renderer for Quote core block
  packages/js/email-editor/changelog/add-email-editor-core-block-quote
  packages/js/email-editor/src/blocks/core/quote.ts
  packages/js/email-editor/src/blocks/index.ts
  packages/php/email-editor/changelog/add-email-editor-core-block-quote
  packages/php/email-editor/src/Engine/Renderer/ContentRenderer/Postprocessors/class-border-style-postprocessor.php
  packages/php/email-editor/src/Engine/Renderer/ContentRenderer/Preprocessors/class-quote-preprocessor.php
  packages/php/email-editor/src/Engine/Renderer/ContentRenderer/class-process-manager.php
  packages/php/email-editor/src/Engine/class-settings-controller.php
  packages/php/email-editor/src/Engine/class-theme-controller.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-quote.php
  packages/php/email-editor/src/Integrations/Core/class-initializer.php
  packages/php/email-editor/src/Integrations/Core/theme.json
  packages/php/email-editor/src/class-email-editor-container.php
  packages/php/email-editor/tests/integration/Email_Editor_Integration_Test_Case.php
  packages/php/email-editor/tests/integration/Engine/Renderer/ContentRenderer/Postprocessors/Border_Style_Postprocessor_Test.php
  packages/php/email-editor/tests/integration/Integrations/Core/Renderer/Blocks/Quote_Test.php
  packages/php/email-editor/tests/unit/Engine/Renderer/Preprocessors/Quote_Preprocessor_Test.php
  packages/php/email-editor/tests/unit/Engine/Renderer/Process_Manager_Test.php
Labels: Email, Ballade

#57740 Add isStatic prop to Skeleton component for non-loading placeholders
  plugins/woocommerce/changelog/57740-add-skeleton-static-prop
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/patterns/product-short-description/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/stories/patterns.stories.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/edit.tsx
Labels: plugin: woocommerce, type: community contribution

#57573 [Woo POS] POS emails: display cost per item
  plugins/woocommerce/changelog/add-unit-price-to-pos-emails
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-completed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-refunded-order.php
  plugins/woocommerce/src/Internal/Email/OrderPriceFormatter.php
  plugins/woocommerce/src/Internal/EmailEditor/WCTransactionalEmails/WCTransactionalEmails.php
  plugins/woocommerce/src/Internal/Orders/PointOfSaleOrderUtil.php
  plugins/woocommerce/tests/php/src/Internal/Email/OrderPriceFormatterTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/PointOfSaleOrderUtilTest.php
Labels: plugin: woocommerce

#57823 [Experimental] Reviews Title: Remove double quote around product title in reviews title
  plugins/woocommerce/changelog/wooplug-4204-remove-quote-around-product-title
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/reviews-title/edit.tsx
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsTitle.php
Labels: plugin: woocommerce

#57751 [Experimental] Reviews Pagination Client Navigation
  plugins/woocommerce/changelog/wooplug-4162-add-client-side-navigation-to-reviews-pagination-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviews.php
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewsPagination.php
Labels: plugin: woocommerce

#41041 $item_name filtering @ order admin items table
  plugins/woocommerce/changelog/pr-41041
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-item.php
Labels: needs: author feedback, plugin: woocommerce, type: community contribution

#57671 Remove usage of deprecated showSpinner prop causing warnings in console
  plugins/woocommerce/changelog/wooplug-2157-remove-deprecated-showspinner-prop-of-the-blocks-components
  plugins/woocommerce/client/blocks/assets/js/base/components/button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/button/stories/index.stories.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/button/style.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/place-order-button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/coupon/style.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/coupon/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/context/providers/cart-checkout/cart-events/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/proceed-to-checkout-block/test/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/test/block.js
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/test/block.js
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/test/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/order-confirmation/create-account/form.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/order-confirmation/create-account/style.scss
  plugins/woocommerce/client/blocks/packages/components/spinner/style.scss
Labels: Checkout, plugin: woocommerce

#57828 Change title of ExtendStore task
  plugins/woocommerce/changelog/57828-update-woomkt-154-revert-marketplace-things-to-do-next-task-copy
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/ExtendStore.php
Labels: plugin: woocommerce

#57566 Expose an action to block checkout in checkout data store
  plugins/woocommerce/changelog/wooplug-4062-expose-an-action-to-block-checkout-in-checkout-data-store
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart-item-quantity.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/providers/cart-checkout/shipping/index.tsx
  plugins/woocommerce/client/blocks/assets/js/data/checkout/actions.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/test/reducer.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/test/store.tsx
  plugins/woocommerce/client/blocks/assets/js/data/checkout/thunks.ts
  plugins/woocommerce/client/blocks/docs/internal-developers/block-client-apis/checkout/checkout-api.md
Labels: Documentation, plugin: woocommerce

#57855 Product Filter Rating: update the product count setting label
  plugins/woocommerce/changelog/wooplug-4225-unify-filter-blocks-setting-labels
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/components/inspector.tsx
Labels: plugin: woocommerce

#57862 Prep release/9.8 for 9.8 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#57800 [WC Payments NOX] Enable the feature for all stores - change target release from 9.8.4 to 9.8.5
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
Labels: plugin: woocommerce

#57814 [NOX In-Context] Tweak NOX Settings → Payments layout by adjusting navigation and button borders
  plugins/woocommerce/changelog/update-WOOPLUG-4195-settings-payments-navigation-borders
  plugins/woocommerce/client/admin/client/settings-payments/components/header/header.scss
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/style.scss
Labels: plugin: woocommerce

#57838 Take in account refunds when calculating Cost of Goods Sold for an order
  plugins/woocommerce/changelog/pr-57838
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/admin/meta-boxes/views/html-order-item.php
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/includes/class-wc-order-item.php
  plugins/woocommerce/includes/class-wc-order-refund.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-order-refunds-controller.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-orders.php
Labels: plugin: woocommerce

#57852 Split product stock count for custom stock into two queries to improve performance
  plugins/woocommerce/changelog/wooplug-3834-the-ajax-request-in-the-admin-interface-is-causing-the
  plugins/woocommerce/src/Admin/API/ProductsLowInStock.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/products-lowinstock.php
Labels: plugin: woocommerce

#57847 PTK Pattern: improve guard
  plugins/woocommerce/changelog/57847-fix-implement-better-patch-cache
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
Labels: plugin: woocommerce, focus: e2e tests, cherry pick to trunk, cherry pick to frozen release

#57797 [Blueprint] Prevent import interruption when site state changes from Coming Soon to Live
  plugins/woocommerce/changelog/57797-fix-blueprint-import-live
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
  plugins/woocommerce/client/admin/client/blueprint/components/types.ts
  plugins/woocommerce/src/Admin/Features/Blueprint/RestApi.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/RestApiTest.php
Labels: plugin: woocommerce

#57844 [Blueprint] Fix shipping settings export functionality
  plugins/woocommerce/changelog/fix-blueprint-shipping-export
  plugins/woocommerce/src/Admin/Features/Blueprint/Exporters/ExportWCSettingsShipping.php
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
Labels: plugin: woocommerce

#57808 [Blueprint] Disable Cancel/X during import and minor UI fixes
  plugins/woocommerce/changelog/wooplug-4188-blueprint-cant-cancel-import-process
  plugins/woocommerce/client/admin/client/blueprint/settings/overwrite-confirmation-modal.tsx
  plugins/woocommerce/client/admin/client/blueprint/settings/slotfill.js
  plugins/woocommerce/client/admin/client/blueprint/settings/style.scss
Labels: plugin: woocommerce

#57807 [Blueprint] Only show WordPress.org plugins
  plugins/woocommerce/changelog/wooplug-4187-blueprint-only-show-wordpressorg-plugins-plugins
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/InitTest.php
Labels: plugin: woocommerce

#57874 Updated text on the Blueprints tab
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
  plugins/woocommerce/client/admin/client/blueprint/components/style.scss
  plugins/woocommerce/client/admin/client/blueprint/settings/slotfill.js
  plugins/woocommerce/src/Admin/Features/Blueprint/Init.php
  plugins/woocommerce/tests/php/src/Admin/Features/Blueprint/InitTest.php
Labels: plugin: woocommerce

#57849 Fix flaky Custom Product Collection E2E tests by retrying activating custom plugin
  plugins/woocommerce/changelog/wooplug-3099-flaky-test-collection-my-custom-collection-multiple-contexts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/register-product-collection.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#57863 [e2e tests] Improve page-load checks with more robust locators and error handling
  plugins/woocommerce/changelog/e2e-wooplug-4228-e2e-tests-improve-page-loads-tests-with-more-robust-locators
  plugins/woocommerce/tests/e2e-pw/tests/basic/page-loads.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#57834 Allow saving cards if customer is creating an account
  plugins/woocommerce/changelog/57834-add-collect-card-if-registration-on
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/place-order-button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/coupon/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/payment-method-card.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-cart-items/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/test/block.js
Labels: Enhancement, plugin: woocommerce, Rubik

#57690 Blockified Add to Cart with Options: Add grouped product context
  plugins/woocommerce/changelog/57690-fix-add-to-cart-grouped-context
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item-template/edit.tsx
Labels: plugin: woocommerce, block: add to cart

#57753 [Experimental] Product Details: mark the Description accordion item open by default
  plugins/woocommerce/changelog/wooplug-4161-open-the-first-accordion-item-by-default
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/edit.tsx
Labels: plugin: woocommerce

#57816 [Experimental] Display a not-allowed cursor when trying to Add to Cart an invalid variation
  plugins/woocommerce/changelog/fix-57724-show-disabled-cursor-when-no-valid-variation
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
Labels: plugin: woocommerce, Kirigami, block: add to cart form

#57878 [NOX In-Context] Fix NOX In-Context styling on Firefox
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/style.scss
Labels: plugin: woocommerce

#56985 Updates to support offline payment methods.
  packages/js/data/changelog/dev-offline-method-updates-take-2
  packages/js/data/src/payment-gateways/actions.ts
  packages/js/data/src/payment-gateways/test-helpers/stub.ts
  packages/js/data/src/payment-gateways/types.ts
  plugins/woocommerce/changelog/dev-offline-method-updates-take-2
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/bank-account-modal.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/bank-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/bank-accounts-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/test/bank-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/test/bank-accounts-list.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/types.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/bank-accounts-list/utils.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/field-placeholder/field-placeholder.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/field-placeholder/field-placeholder.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/field-placeholder/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/settings/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/settings/settings.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/settings/test/index.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-bacs.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-cheque.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-cod.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/utils.ts
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-body.scss
  plugins/woocommerce/client/admin/client/wp-admin-scripts/settings-embed/index.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/admin/views/html-admin-settings.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-payment-gateways-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-payment-gateways-controller.php
Labels: plugin: woocommerce, package: @woocommerce/data, needs: design feedback

#57500 [Feat] Allow exporting specific products and its variants by IDs from the product list
  plugins/woocommerce/changelog/exp-product-export-by-id
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/wc-product-export.js
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/admin/class-wc-admin-exporters.php
  plugins/woocommerce/includes/admin/views/html-admin-page-product-export.php
  plugins/woocommerce/includes/export/class-wc-product-csv-exporter.php
Labels: plugin: woocommerce

#57723 Fix Add to Cart Form block quantity input size in some extensions
  plugins/woocommerce/changelog/fix-57721-small-inputs-in-extensions
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/style.scss
Labels: plugin: woocommerce

#57876 [dev] 9.8 sync with trunk
  plugins/woocommerce/assets/images/icons/official-extension.svg
  plugins/woocommerce/changelog/fix-55661
  plugins/woocommerce/changelog/fix-WOOPLUG-4164-remove-section-navigation-for-offline-pms-settings-pages
  plugins/woocommerce/changelog/update-WOOPLUG-4100-default-enable-nox-for-all
  plugins/woocommerce/changelog/update-WOOPRD-486-add-affirm-extension-to-uk
  plugins/woocommerce/changelog/update-official-payments-extensions-badge-icon
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce/includes/admin/importers/class-wc-product-csv-importer-controller.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-payment-gateways-react.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/readme.txt
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentExtensionSuggestions.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/Utilities/FilesystemUtil.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Suggestions/PaymentExtensionSuggestionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Utilities/FilesystemUtilTest.php
Labels: plugin: woocommerce, focus: e2e tests

#57757 OBW: Change Woo Shipping plugin description
  plugins/woocommerce/changelog/57757-update-wooplug-4144-obw-change-woo-shipping-extension-description
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: status: in progress, plugin: woocommerce

#57829 Improve Recommended Payments Method Data
  plugins/woocommerce/changelog/wooplug-4173-woopayments-improve-recommended-payment-methods-data
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/test/settings-payments-methods.test.tsx
Labels: plugin: woocommerce

#57638 Update `@wordpress/jest-preset-default` in blocks
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/test/block.js
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/test/frontend.js
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/client/blocks/tests/js/config/testing-library.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#57674 Prevent checkout without paying for shipping when hiding core fields
  plugins/woocommerce/changelog/fix-shortcode-shipping-release-branch
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/class-wc-customer.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
  plugins/woocommerce/tests/php/includes/class-wc-cart-test.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#56505 Graduate conditional additional fields and add E2E testing to it.
  plugins/woocommerce/changelog/56505-add-e2e-tests-additional-fields
  plugins/woocommerce/client/blocks/tests/e2e/plugins/additional-checkout-fields.php
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/additional-fields.guest-shopper.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout.page.ts
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFields.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsFrontend.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
Labels: Enhancement, plugin: woocommerce, focus: e2e tests, Rubik

#57864 Cherry pick #57722 into release branch
  packages/php/email-editor/changelog/fix-implicitly-nullable-warnings
  packages/php/email-editor/src/Validator/class-builder.php
  plugins/woocommerce/changelog/fix-implicitly-nullable-warnings
  plugins/woocommerce/src/Internal/Admin/BlockTemplates/AbstractBlock.php
  plugins/woocommerce/src/Internal/Admin/Settings/Utils.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Group.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Section.php
  plugins/woocommerce/src/Internal/Features/ProductBlockEditor/ProductTemplates/Subsection.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#57884 [dev] 9.8 sync with trunk
  plugins/woocommerce/changelog/57847-fix-implement-better-patch-cache
  plugins/woocommerce/changelog/fix-shortcode-shipping-release-branch
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/class-wc-customer.php
  plugins/woocommerce/src/Blocks/BlockPatterns.php
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/homepage.spec.js
  plugins/woocommerce/tests/php/includes/class-wc-cart-test.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
Labels: plugin: woocommerce, focus: e2e tests

#57514 Local Pickup labels are inconsistent on confirmation page
  plugins/woocommerce/changelog/fix-57506
  plugins/woocommerce/src/Blocks/Shipping/ShippingController.php
Labels: plugin: woocommerce, type: community contribution, Rubik

#57717 Product Collection - Cross-sell product: fix Product Selector when the selected product is deleted
  plugins/woocommerce/changelog/57717-fix-wooplug-2976-product-collection-cross-sells-product-selection-error-when
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/ProductPicker.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/product-collection-content.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/reviews/editor-container-block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/reviews/reviews-by-product/edit.tsx
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/register-product-collection.block_theme.spec.ts
  plugins/woocommerce/tests/e2e-pw/tests/editor/create-woocommerce-blocks.spec.js
Labels: plugin: woocommerce, block: product collection

#56678 Marketplace product previews
  plugins/woocommerce/changelog/56678-feature-in-app-product-previews
  plugins/woocommerce/client/admin/client/lib/sanitize-html/sanitize-html-extended.js
  plugins/woocommerce/client/admin/client/lib/sanitize-html/test/index.js
  plugins/woocommerce/client/admin/client/marketplace/components/constants.ts
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.scss
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-preview-modal/product-preview-modal.scss
  plugins/woocommerce/client/admin/client/marketplace/components/product-preview-modal/product-preview-modal.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-preview-modal/product-preview-sanitize-html-config.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/marketplace-context.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/types.ts
  plugins/woocommerce/client/admin/client/marketplace/stylesheets/_variables.scss
  plugins/woocommerce/client/admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/includes/admin/class-wc-admin-addons.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-admin.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper-sanitization.php
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/tests/php/includes/admin/helper/class-wc-helper-sanitization-test.php
Labels: WCCOM/Marketplace, plugin: woocommerce, Desire

#57865 [Experimental] Review Template: remove threading
  plugins/woocommerce/changelog/wooplug-4205-reduce-thread-depth-to-one-as-review-doesnt-support-replies
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/inner-blocks/review-template/hooks.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/template.ts
  plugins/woocommerce/src/Blocks/BlockTypes/Reviews/ProductReviewTemplate.php
Labels: plugin: woocommerce

#57877 Set the Products > All products as the active submenu for Product Importer/Exporter
  plugins/woocommerce/changelog/57877-fix-issue-25918
  plugins/woocommerce/includes/admin/class-wc-admin-exporters.php
  plugins/woocommerce/includes/admin/class-wc-admin-importers.php
Labels: plugin: woocommerce

#57734 [Woo POS] POS emails > order totals: display cash payment change due, card payment auth code, time of payment
  plugins/woocommerce/changelog/add-payment-details-to-pos-emails-order-totals
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-completed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-refunded-order.php
  plugins/woocommerce/tests/php/includes/emails/class-wc-email-customer-pos-completed-order-test.php
  plugins/woocommerce/tests/php/includes/emails/class-wc-email-customer-pos-refunded-order-test.php
Labels: plugin: woocommerce

#57881 Update sidewide query to allow for empty string and same value use case.
  plugins/woocommerce/changelog/wooplug-3834-the-ajax-request-in-the-admin-interface-is-causing-the__sidewide_query
  plugins/woocommerce/src/Admin/API/ProductsLowInStock.php
Labels: plugin: woocommerce

#57842 Change blueprint package install path to plugins/woocommerce/packages
  packages/php/blueprint/changelog/57842-dev-blueprint-install-path
  packages/php/blueprint/composer.json
  plugins/woocommerce/bin/composer/phpcs/composer.lock
  plugins/woocommerce/bin/composer/phpunit/composer.lock
  plugins/woocommerce/bin/composer/wp/composer.lock
  plugins/woocommerce/changelog/57842-dev-blueprint-install-path
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/includes/class-wc-cli.php
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#57856 WOOPLUG-4194: [NOX In-Context] Popovers should open on click instead of on hover
  packages/js/onboarding/changelog/57856-fix-popover-on-click
  packages/js/onboarding/src/components/WooPaymentsMethodsLogos/index.tsx
  plugins/woocommerce/changelog/57856-fix-popover-on-click
  plugins/woocommerce/client/admin/client/settings-payments/components/official-badge/official-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
Labels: plugin: woocommerce, package: @woocommerce/onboarding

#57732 Add base user interface for order fulfillments
  plugins/woocommerce/changelog/57732-add-57363-order-fulfillments-base-user-interface-2
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/fulfillment-drawer/fulfillment-drawer-header.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/fulfillment-drawer/fulfillment-drawer.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/index.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/style.scss
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/OrderFulfillmentsServiceProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsRenderer.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsRendererTest.php
Labels: plugin: woocommerce

#57904 Update Product Brands template name
  plugins/woocommerce/changelog/57904-update-product-brands-template-name
  plugins/woocommerce/includes/blocks/class-wc-brands-block-template-utils-duplicated.php
Labels: plugin: woocommerce, type: community contribution

#57872 Product Filters: Validate cached data before use
  plugins/woocommerce/changelog/wooplug-4189-product-filters-validate-cached-data-before-use
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
  plugins/woocommerce/src/Internal/ProductFilters/FilterData.php
Labels: plugin: woocommerce

#57906 Improved the Marketing > Coupons > Usage Restrictions tab to clarify fields relationship
  plugins/woocommerce/changelog/57906-tweak-issue-31360
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/includes/admin/class-wc-admin-brands.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
Labels: plugin: woocommerce

#57896 Enable new email templates for existing stores without email customization
  plugins/woocommerce/changelog/wooplug-4203-migrate-existing-users-to-new-email-templates
  plugins/woocommerce/client/admin/client/homescreen/email-improvements-modal/email-improvements.png
  plugins/woocommerce/client/admin/client/homescreen/email-improvements-modal/index.tsx
  plugins/woocommerce/client/admin/client/homescreen/email-improvements-modal/style.scss
  plugins/woocommerce/client/admin/client/homescreen/layout.js
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/style.scss
  plugins/woocommerce/client/admin/client/wp-admin-scripts/settings-embed/index.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-tracker.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Admin/EmailImprovements/EmailImprovements.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
  plugins/woocommerce/src/Internal/Admin/Events.php
  plugins/woocommerce/src/Internal/Admin/Notes/EmailImprovements.php
  plugins/woocommerce/src/Internal/Email/EmailColors.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/email/settings-email.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-emails-test.php
  plugins/woocommerce/tests/php/src/Internal/Email/EmailStyleSyncTest.php
Labels: Email, plugin: woocommerce, focus: api tests, focus: e2e tests, Ballade

#57912 Product Filters: fix Chips items and Show more buttons font family
  plugins/woocommerce/changelog/fix-chip-item-font-family
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/chips/style.scss
Labels: plugin: woocommerce

#57756 [dev] Refactor workflow to highlight REST API changes based on file changes
  .github/workflows/pr-highlight-rest-api-changes.yml
  .github/workflows/test-assistant-api-rest-change-tracker.yml
Labels: focus: monorepo infrastructure

#57785 Update styles of Download section in order email
  plugins/woocommerce/changelog/wooplug-4179-downloadable-products-look-dates-in-new-email-design
  plugins/woocommerce/templates/emails/email-downloads.php
Labels: Email, plugin: woocommerce, Ballade

#57919 Update stable tag to 9.8.5
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#57917 Product Filters: fix filter blocks visibility after navigation
  plugins/woocommerce/changelog/fix-filter-blocks-visibility
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterActive.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
Labels: plugin: woocommerce

#57939 Product Sale Badge: make the block visible in the Single Product Template
  plugins/woocommerce/changelog/fix-sale-badge-no-visible-inserter-single-product-template
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/sale-badge/index.tsx
Labels: plugin: woocommerce

#57837 Add a check in get_refunds() to ensure only `WC_Order_Refund` objects are returned
  plugins/woocommerce/changelog/wooplug-4158-ask-from-alessandro-monteiro
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/data-stores/class-wc-order-refund-data-store-cpt.php
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableDataStore.php
Labels: Order Management, plugin: woocommerce, Rubik

#57673 Fix various console warnings from useSelect usage on cart/checkout
  plugins/woocommerce/changelog/fix-cart-checkout-block-console-warnings
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart-coupons.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/payment-methods/use-payment-method-interface.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/use-validation.ts
  plugins/woocommerce/client/blocks/assets/js/base/hooks/use-schema-parser.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-billing-address-block/customer-address.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-address-block/customer-address.tsx
  plugins/woocommerce/client/blocks/assets/js/data/cart/selectors.ts
  plugins/woocommerce/client/blocks/assets/js/data/payment/selectors.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/api-error-response.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/currency.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/payment-method-interface.ts
Labels: type: refactor, Cart, Checkout, plugin: woocommerce

#57675 Fix race conditions when quickly switching between delivery options
  plugins/woocommerce/changelog/wooplug-4075-incorrect-rate-when-toggling-between-shipping-and-local
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/local-pickup-select/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/local-pickup-select/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/package-rates.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/utils/test/shipping-rates.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/test/block.tsx
  plugins/woocommerce/client/blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce/client/blocks/assets/js/mocks/shipping-package.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#57913 CYS: improve font picker flaky test
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/assembler/font-picker.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#57361 Ensure errors notices clear after valid requests on checkout
  plugins/woocommerce/changelog/wooplug-3075-fix-error-notices-disappearing
  plugins/woocommerce/client/blocks/assets/js/base/utils/create-notice.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/push-changes.ts
  plugins/woocommerce/client/blocks/assets/js/data/checkout/utils.ts
  plugins/woocommerce/client/blocks/assets/js/data/utils/process-error-response.ts
  plugins/woocommerce/client/blocks/tests/e2e/plugins/additional-checkout-fields.php
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/additional-fields.guest-shopper.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/additional-fields.merchant.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/additional-fields.shopper.block_theme.spec.ts
Labels: Checkout, plugin: woocommerce, focus: e2e tests, Rubik

#57920 Make sure package items name don't break at comma
  plugins/woocommerce/changelog/57920-fix-package-items-style-broken
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
Labels: Bug, Checkout, plugin: woocommerce, Rubik

#57370 Add a setting to WC -> Settings -> General to enable address autocomplete
  plugins/woocommerce/changelog/wooplug-3614-add-a-new-setting-in-wc-settings-general-for-use-predictive
  plugins/woocommerce/includes/admin/settings/class-wc-settings-general.php
  plugins/woocommerce/src/Internal/AddressProvider/AddressProviderController.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/AddressProviderServiceProvider.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-general-test.php
  plugins/woocommerce/tests/php/src/Internal/AddressProvider/AddressProviderControllerTest.php
Labels: plugin: woocommerce

#57964 OBW Remove dot from shipping product description
  plugins/woocommerce/changelog/57964-fix-wooplug-4144-2-remove-dot-from-description
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce

#57938 Remove E2E test for inserting Mini Cart block into widget area once
  plugins/woocommerce/changelog/remove-mini-cart-widget-e2e-test
  plugins/woocommerce/client/blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.classic_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests, block: mini-cart

#57736 [Woo POS] Send POS refund email for POS orders
  plugins/woocommerce/changelog/trigger-pos-refund-emails-for-pos-orders
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-refunded-order.php
Labels: plugin: woocommerce

#57866 [Experimental] Blockified Add to Cart + Options block: update strings
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-string-updates
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/components/downgrade-notice/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item-cta/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/quantity-selector/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-item-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-name/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/components/upgrade-notice/index.tsx
  plugins/woocommerce/client/blocks/docs/internal-developers/blocks/feature-flags-and-experimental-interfaces.md
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme_with_templates.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.page.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/single-product-template/single-product-template-compatibility-layer.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/themes/theme-with-woo-templates/block-template-parts/external-product-add-to-cart-with-options.html
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/Utils.php
  plugins/woocommerce/src/Blocks/Templates/ExternalProductAddToCartWithOptionsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/GroupedProductAddToCartWithOptionsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/SimpleProductAddToCartWithOptionsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/VariableProductAddToCartWithOptionsTemplate.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/AddToCartWithOptions.php
Labels: plugin: woocommerce, focus: e2e tests, Kirigami, block: add to cart form

#57982 [dev] Monorepo: pre-push hook enhancements
  bin/pre-push.sh
Labels: focus: monorepo infrastructure

#57557 Ensure login-form is rendered on in Classic Checkout for guests
  plugins/woocommerce/changelog/fix-login-form-on-checkout
  plugins/woocommerce/client/legacy/js/frontend/checkout.js
  plugins/woocommerce/includes/shortcodes/class-wc-shortcode-checkout.php
  plugins/woocommerce/templates/checkout/form-login.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
Labels: Bug, Checkout, plugin: woocommerce, Rubik

#57374 Checkout blocks: base shipping rates loading states only on changes to shipping address fields that impact the shipping rates
  plugins/woocommerce/changelog/wooplug-3952-update-delivery-testing-for-the-checkout-block
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-calculator/address.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-calculator/shipping-calculator.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control/types.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/test/use-store-cart.jsx
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/shipping/use-shipping-data.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/action-types.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/actions.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/default-state.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/push-changes.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/reducers.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/selectors.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/test/push-changes.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce/client/blocks/assets/js/data/payment/utils/check-payment-methods.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/cart.ts
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/Checkout.php
Labels: Documentation, plugin: woocommerce

#57963 Fix/store api send cors headers
  plugins/woocommerce/changelog/fix-store-api-send-cors-headers
  plugins/woocommerce/src/StoreApi/Authentication.php
Labels: REST/Store API/Webhooks, plugin: woocommerce

#57818 Add Cursor AI Assistant Rules for Building the project
  .cursor/rules/woo-build.mdc
Labels: tools

#57911 Reveal admin errors when saving a coupon with invalid data
  plugins/woocommerce/changelog/57911-fix-issue-27632
  plugins/woocommerce/changelog/57942-fix-issue-28669
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-coupon-data.php
  plugins/woocommerce/includes/class-wc-coupon.php
Labels: plugin: woocommerce

#57952 [Payments NOX] Harden code against failures to determine gateway details
  plugins/woocommerce/changelog/fix-WOOPLUG-4264-gateway-plugin-file-type-error
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/PaymentGateway.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Settings/Utils.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/Mocks/FakePaymentGateway.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentProviders/PaymentGatewayTest.php
Labels: plugin: woocommerce

#57991 Fixed background color in Marketing > Overview icons
  plugins/woocommerce/changelog/57991-fix-wooplug-2694
  plugins/woocommerce/client/admin/client/marketing/components/product-icon/style.scss
  plugins/woocommerce/client/admin/client/marketing/coupons/style.scss
Labels: plugin: woocommerce

#57880 Core API tests - update flaky refund tests
  plugins/woocommerce/changelog/wooplug-4127-ci-core-api-tests-flaky-refund-tests
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/refunds/refunds.test.js
Labels: Order Management, plugin: woocommerce, focus: api tests, focus: e2e tests, Rubik

#57996 Exclude custom cursor rules from version control
  .gitignore
Labels: tools

#57953 Add email toggle into the email editor sidebar
  packages/js/email-editor/README.md
  packages/js/email-editor/changelog/wooplug-3528-add-transactional-email-toggle-into-the-email-editor-sidebar
  packages/js/email-editor/src/components/sidebar/settings-panel.tsx
  plugins/woocommerce/changelog/wooplug-3528-add-transactional-email-toggle-into-the-email-editor-sidebar
  plugins/woocommerce/client/admin/client/settings-email/settings-email-listing-status.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/email-status.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/sidebar_settings.tsx
  plugins/woocommerce/src/Internal/EmailEditor/EmailApiController.php
Labels: Email, plugin: woocommerce, Ballade, package: @woocommerce/email-editor

#57967 Release workflows cleanup
  .github/workflows/cfe-update-trunk-with-release.yml
  .github/workflows/new-code-freeze.yml
  .github/workflows/post-release.yml
  .github/workflows/release-build-zip-file.yml
  .github/workflows/release-cfe-cherry-pick.yml
  .github/workflows/release-cfe-prr-issue-validation.yml
  .github/workflows/release-code-freeze.yml
  .github/workflows/release-compile-changelog.yml
  .github/workflows/release-prr-cherry-pick.yml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#57970 Remove "payment method" subheading from the Offline Methods page
  plugins/woocommerce/changelog/wooprd-511-enhancement-remove-the-payment-methods-heading-from-the-take
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateway-list/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateway-list/offline-payment-gateway-list.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateway-list/offline-payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/index.ts
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
Labels: plugin: woocommerce

#57950 Product Filters: clean the canonical URL before use
  plugins/woocommerce/changelog/fix-product-filters-clean-canonical-url
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilters.php
Labels: plugin: woocommerce

#57848 [Woo POS] Add POS settings for store details and display them in POS completed order HTML and plaintext email templates
  plugins/woocommerce/changelog/add-pos-settings-for-pos-html-plaintext-templates
  plugins/woocommerce/includes/admin/class-wc-admin-settings.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-point-of-sale.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-completed-order.php
  plugins/woocommerce/src/Internal/Settings/PointOfSaleDefaultSettings.php
  plugins/woocommerce/templates/emails/customer-pos-completed-order.php
  plugins/woocommerce/templates/emails/plain/customer-pos-completed-order.php
  plugins/woocommerce/tests/php/includes/emails/class-wc-email-customer-pos-completed-order-test.php
Labels: plugin: woocommerce

#57978 Product Collection: Change the priority of filter disabling client-side-nav from 10 to 5
  plugins/woocommerce/changelog/add-higher-priority-for-disabling-cliend-side-nav-in-pc
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Controller.php
Labels: plugin: woocommerce

#58015 [dev] Monorepo: pre-push script fixes
  bin/pre-push.sh
Labels: focus: monorepo infrastructure

#57988 Cherry pick 57917 into 9.9
  plugins/woocommerce/changelog/fix-filter-blocks-visibility
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/style.scss
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterActive.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
Labels: plugin: woocommerce, cherry pick to trunk

#57914 On Sale Badge: expose filter allowing to change the label based on product context
  plugins/woocommerce/changelog/wooplug-4114-on-sale-badge-poc-of-filter-allowing-to-change-the-label
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSaleBadge.php
Labels: plugin: woocommerce

#57992 Turn the order into draft when creation via REST API fails
  plugins/woocommerce/changelog/pr-57992
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller.php
Labels: plugin: woocommerce
