Repository woocommerce/woocommerce, pull requests merged in 2025-07, with the labels that each got.

#59220 E2E: verify block style loading on classic themes
  plugins/woocommerce/client/blocks/tests/e2e/tests/style.classic_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#59260 E2E: fix the Product Editor flaky test by giving the CI more time to load attribute
  plugins/woocommerce/tests/e2e-pw/tests/product/block-editor/product-attributes-block-editor.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#56709 Remove product editor feature from UI
  plugins/woocommerce/changelog/remove-product-editor-feature
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/tests/e2e-pw/fixtures/block-editor-fixtures.js
  plugins/woocommerce/tests/e2e-pw/tests/product/block-editor/disable-block-product-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/product/block-editor/enable-block-product-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/cli.js
  plugins/woocommerce/tests/e2e-pw/utils/index.js
  plugins/woocommerce/tests/e2e-pw/utils/plugin-utils.js
  plugins/woocommerce/tests/e2e-pw/utils/simple-products.js
  plugins/woocommerce/tests/metrics/specs/product-editor.spec.js
Labels: plugin: woocommerce, focus: performance tests, focus: e2e tests, Kirigami

#59163 Improve offline payments settings navigation to avoid unnecessary refresh
  packages/js/data/changelog/59163-update-update-offline-pms-navigation
  packages/js/data/src/payment-settings/test/helpers/stub.ts
  plugins/woocommerce/changelog/59163-update-update-offline-pms-navigation
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/settings-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/test/settings-button.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/settings/settings.scss
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-bacs.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-body.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
  plugins/woocommerce/client/admin/client/settings-payments/test/settings-payments-main.test.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/PaymentGateway.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/payment-gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/payment-gateways.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
Labels: plugin: woocommerce, package: @woocommerce/data

#58657 Allow GH releases to be created from workflow
  .github/workflows/release-build-zip-file.yml
Labels: focus: monorepo infrastructure

#59154 Move additional order summary to checkout actions block
  plugins/woocommerce/changelog/fix-order-summary-terms-block
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-block/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-terms-block/frontend.tsx
Labels: Bug, Checkout, plugin: woocommerce, Rubik

#59285 Update block references doc with new block strings
  docs/block-development/block-references.md
  plugins/woocommerce/changelog/update-block-references
  plugins/woocommerce/client/blocks/bin/gen-block-list-doc.js
  plugins/woocommerce/client/blocks/docs/README.md
Labels: Documentation, plugin: woocommerce, Kirigami

#59295 Fix spelling of Lakshadweep in i18n file and tests.
  packages/js/onboarding/changelog/wooplug-4834-india-lakshadeep-should-be-lakshadweep
  packages/js/onboarding/src/utils/countries/test/utils/country-options.ts
  plugins/woocommerce/changelog/wooplug-4834-india-lakshadeep-should-be-lakshadweep
  plugins/woocommerce/i18n/states.php
  plugins/woocommerce/tests/e2e-pw/data/countries/in.json
  plugins/woocommerce/tests/e2e-pw/data/settings.js
Labels: focus: i18n, plugin: woocommerce, package: @woocommerce/onboarding, focus: e2e tests, Rubik

#59343 Add block transform from `Add to Cart with Options` to `Add to Cart + Options` block
  plugins/woocommerce/changelog/feat-issue-59287
  plugins/woocommerce/client/blocks/assets/js/blocks/product-elements/add-to-cart-form/index.tsx
Labels: plugin: woocommerce, type: community contribution

#59338 [Payments NOX] Defer to using the MercadoPago extension provided gateway titles
  plugins/woocommerce/changelog/59338-patch-1
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/MercadoPago.php
Labels: plugin: woocommerce, Settings, type: community contribution

#59348 [CFE | Payments NOX] Defer to using the MercadoPago extension provided gateway titles
  plugins/woocommerce/changelog/59338-patch-1
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/MercadoPago.php
Labels: plugin: woocommerce, cherry pick to trunk

#59357 [dev] Release: ground preps for switching release-workflows to Blacksmith
  .github/workflows/automate-team-review-assignment.yml
  .github/workflows/cherry-pick.yml
  .github/workflows/ci.yml
  .github/workflows/create-call-for-testing.yml
  .github/workflows/milestoned.yml
  .github/workflows/nightly-builds.yml
  .github/workflows/pr-build-live-branch.yml
  .github/workflows/pr-highlight-changes.yml
  .github/workflows/pr-highlight-rest-api-changes.yml
  .github/workflows/release-build-zip-file.yml
  .github/workflows/release-cfe-cherry-pick.yml
  .github/workflows/release-cfe-prr-issue-validation.yml
  .github/workflows/release-code-freeze.yml
  .github/workflows/release-commits-and-contributors.yml
  .github/workflows/release-compile-changelog.yml
  .github/workflows/release-feature-highlights-notification.yml
  .github/workflows/release-prr-cherry-pick.yml
  .github/workflows/release-update-stable-tag.yml
  .github/workflows/release-upload-to-wporg.yml
  .github/workflows/stalebot.yml
Labels: focus: monorepo infrastructure

#59355 [Payments NOX] Update the Payments task title and completion logic
  plugins/woocommerce/changelog/update-nox-payments-task-label-and-logic
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/tests/e2e-pw/tests/onboarding/setup-checklist.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#59264 Add Table_Wrapper_Helper email editor utility class
  packages/php/email-editor/changelog/wooplug-4687-add-renderer-helper-for-wrapper-html
  packages/php/email-editor/docs/rendering.md
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-abstract-block-renderer.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-button.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-column.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-columns.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-group.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-image.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-quote.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-social-links.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-text.php
  packages/php/email-editor/src/Integrations/Utils/class-table-wrapper-helper.php
  packages/php/email-editor/tests/unit/Integrations/Utils/Table_Wrapper_Helper_Test.php
Labels: Ballade, package: @woocommerce/email-editor, Emails

#58388 MIC: Introduce stock tracking hooks and AS scheduling for Back in Stock Notifications
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Internal/DataStores/StockNotifications/StockNotificationsDataStore.php
  plugins/woocommerce/src/Internal/DependencyManagement/ServiceProviders/StockNotificationsServiceProvider.php
  plugins/woocommerce/src/Internal/StockNotifications/AsyncTasks/CycleStateService.php
  plugins/woocommerce/src/Internal/StockNotifications/AsyncTasks/JobManager.php
  plugins/woocommerce/src/Internal/StockNotifications/AsyncTasks/NotificationsProcessor.php
  plugins/woocommerce/src/Internal/StockNotifications/Config.php
  plugins/woocommerce/src/Internal/StockNotifications/Enums/NotificationCancellationSource.php
  plugins/woocommerce/src/Internal/StockNotifications/NotificationQuery.php
  plugins/woocommerce/src/Internal/StockNotifications/StockNotifications.php
  plugins/woocommerce/src/Internal/StockNotifications/StockSyncController.php
  plugins/woocommerce/src/Internal/StockNotifications/Utilities/EligibilityService.php
  plugins/woocommerce/src/Internal/StockNotifications/Utilities/StockManagementHelper.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/StockNotifications/StockNotificationsDataStoreTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/AsyncTasks/CycleStateServiceTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/AsyncTasks/JobManagerTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/AsyncTasks/NotificationsProcessorTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/NotificationTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/StockSyncControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/Utilities/EligibilityServiceTests.php
  plugins/woocommerce/tests/php/src/Internal/StockNotifications/Utilities/StockManagementHelperTests.php
Labels: plugin: woocommerce

#59300 Fix broken links on guide-large-store.md
  docs/features/high-performance-order-storage/guide-large-store.md
Labels: Documentation

#59316 Reduce nesting in template-customization e2e tests
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/template-customization.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests

#59277 Fix: Checkout Block having incorrect margin in twenty twenty and twenty twenty one theme
  plugins/woocommerce/changelog/fix-59276
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/styles/style.scss
Labels: plugin: woocommerce, type: community contribution

#59394 Product Filters: Prevent product filter queries when no products are found
  plugins/woocommerce/changelog/fix-bail-if-sub-query-find-no-product
  plugins/woocommerce/src/Internal/ProductFilters/FilterData.php
Labels: plugin: woocommerce

#59222 Add tracking number parsing support for UPS shipping provider
  plugins/woocommerce/src/Internal/Fulfillments/Providers/UPSShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/UPSShippingProviderTest.php
Labels: plugin: woocommerce

#59229 Add tracking number parsing support for USPS shipping provider
  plugins/woocommerce/src/Internal/Fulfillments/Providers/USPSShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/USPSShippingProviderTest.php
Labels: plugin: woocommerce

#59321 Fix Advanced Settings layout
  plugins/woocommerce/changelog/59321-fix-advanced-settings
  plugins/woocommerce/client/legacy/css/admin.scss
Labels: plugin: woocommerce

#59248 Add tracking number parsing support for FedEx shipping provider
  plugins/woocommerce/src/Internal/Fulfillments/Providers/FedExShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/FedExShippingProviderTest.php
Labels: plugin: woocommerce

#59249 Add tracking number parsing support for DHL shipping provider
  plugins/woocommerce/src/Internal/Fulfillments/Providers/DHLShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/DHLShippingProviderTest.php
Labels: plugin: woocommerce

#59256 Add tracking number parsing support for DPD shipping provider
  plugins/woocommerce/src/Internal/Fulfillments/Providers/DPDShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/FedExShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/DPDShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/FedExShippingProviderTest.php
Labels: plugin: woocommerce

#59364 Wrap most Add to Cart + Options CSS selectors in :where() to decrease specificity
  plugins/woocommerce/changelog/update-blocks-where-selectors
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item-selector/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/product-item/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-name/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/style.scss
Labels: plugin: woocommerce, block: add to cart form

#59397 Check to see if customer object is defined before calling `get_is_vat_exempt`
  plugins/woocommerce/changelog/fix-prevent-fatal-error-in-wc-cart-totals-class
  plugins/woocommerce/includes/class-wc-cart-totals.php
Labels: Cart, plugin: woocommerce, cherry pick to trunk

#59324 Prevent shipping tax fallback to standard tax rates when inheriting tax class from cart items
  plugins/woocommerce/changelog/wooplug-4596-shipping-tax-class-based-on-cart-items-does-not-appear-to-be
  plugins/woocommerce/includes/class-wc-tax.php
  plugins/woocommerce/tests/php/includes/class-wc-tax-test.php
Labels: Cart, Tax, plugin: woocommerce

#59370 Wrap Product Gallery selectors in :where() to decrease specificity
  plugins/woocommerce/changelog/update-product-gallery-where-selectors
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/style.scss
Labels: plugin: woocommerce, block: product gallery

#59148 Add feature flag for order fulfillments
  plugins/woocommerce/changelog/59148-add-59107-order-fulfillments-feature-flag
  plugins/woocommerce/includes/class-wc-emails.php
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsController.php
  plugins/woocommerce/tests/php/includes/class-wc-emails-tests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Fulfillments/FulfillmentsDataStoreHookTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Fulfillments/FulfillmentsDataStoreTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsManagerTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsRendererTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsSettingsTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/OrderFulfillmentsRestControllerTest.php
Labels: plugin: woocommerce

#59454 removed excess 0 from set_total
  plugins/woocommerce/changelog/59454-fix-59453-too-many-arguments-to-set-total
  plugins/woocommerce/includes/class-wc-cart-totals.php
Labels: plugin: woocommerce, type: community contribution

#59429 Avoid warnings about missing a unique key prop from `SnackbarList` component when enabling script debug
  plugins/woocommerce/changelog/dev-avoid-missing-unique-key-prop-warning
  plugins/woocommerce/client/admin/client/layout/transient-notices/snackbar/list.js
Labels: plugin: woocommerce

#59446 Fix email preview settings not supporting custom plugin id in emails
  plugins/woocommerce/changelog/wooplug-4868-email-preview-settings-do-not-load-using-a-custom-plugin-id
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce, Ballade

#59400 Interactivity API powered Minicart - Hide or remove minicart in cart or checkout pages
  plugins/woocommerce/changelog/59400-wooplug-4718-interactivity-api-powered-mini-cart-hide-the-minicart-in-the
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce

#58688 Don't disable shipping selection while change is processing
  plugins/woocommerce/changelog/lstr-select-shipping-remove-disabled-state-for-loading
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
Labels: plugin: woocommerce

#59436 Interactivity API powered Mini Cart - Disable editing in quantity selector for products where it is defined
  plugins/woocommerce/changelog/59436-wooplug-4781-interactivity-api-powered-mini-cart-support-quantityeditable
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartItemsBlock.php
Labels: plugin: woocommerce

#59387 Interactivity API powered Mini Cart - Fix total discount showing when quantity is only 1 product
  plugins/woocommerce/changelog/59387-wooplug-4720-interactivity-api-powered-mini-cart-show-total-save-badge
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartItemsBlock.php
Labels: plugin: woocommerce

#59472 Add to Cart + Options e2e test: wait for variation to load before adding to cart
  plugins/woocommerce/changelog/fix-58838-flaky-test-ii
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests, Kirigami, block: add to cart form

#59388 Interactivity API powered Mini Cart - Add "Available in backorder" badge
  plugins/woocommerce/changelog/59388-wooplug-4709-interactivity-api-powered-mini-cart-show-available-in
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartItemsBlock.php
Labels: plugin: woocommerce

#58992 Fix mismatching schema and add tests to compare both
  docs/_docu-tools/docusaurus.config.ts
  docs/_docu-tools/static/schemas/v1/checkout-document-schema.json
  docs/block-development/cart-and-checkout-blocks/additional-checkout-fields.md
  plugins/woocommerce/changelog/58992-fix-match-schema-between-client-and-server
  plugins/woocommerce/client/blocks/assets/js/base/hooks/test/checkout-document-schema.json
  plugins/woocommerce/client/blocks/assets/js/base/hooks/test/use-schema-parser.tsx
  plugins/woocommerce/client/blocks/assets/js/base/hooks/use-schema-parser.ts
  plugins/woocommerce/client/blocks/tests/e2e/plugins/additional-checkout-fields.php
  plugins/woocommerce/client/blocks/tests/js/config/global-mocks.js
  plugins/woocommerce/client/blocks/tsconfig.json
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsSchema/DocumentObject.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsSchema/checkout-document-schema.json
  plugins/woocommerce/tests/php/src/Blocks/Domain/Services/CheckoutFieldsSchema/DocumentObjectTests.php
Labels: Bug, Checkout, Documentation, plugin: woocommerce

#59361 [dev] Release: switch release-workflows to run on Blacksmith (batch 1)
  .github/workflows/release-build-zip-file.yml
  .github/workflows/release-cfe-cherry-pick.yml
  .github/workflows/release-code-freeze.yml
  .github/workflows/release-compile-changelog.yml
  .github/workflows/release-feature-highlights-notification.yml
  .github/workflows/release-new-release-published.yml
  .github/workflows/release-update-stable-tag.yml
  .github/workflows/release-upload-to-wporg.yml
Labels: focus: monorepo infrastructure

#59432 Product Filters: Only apply `z-index` when the overlay is open
  plugins/woocommerce/changelog/59432-wooplug-4796-interactivity-api-powered-mini-cart-fix-z-index
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/style.scss
Labels: plugin: woocommerce

#59390 Add to Cart + Options: Improve error messaging for variable products with missing attribute
  plugins/woocommerce/changelog/fix-issue-59329
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
Labels: plugin: woocommerce, type: community contribution

#59304 Limit session expiry date to 30 days
  plugins/woocommerce/includes/class-wc-session-handler.php
Labels: Enhancement, Cart, Checkout, plugin: woocommerce

#59139 [Experimental] Scaffolding Taxonomy Filter block
  plugins/woocommerce/changelog/wooplug-4764-scaffolding-taxonomy-filter-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/components/display-style-switcher/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/chips/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/constants.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/inspector.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/test/block.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/types.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/utils.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/utils/update-filter-heading.ts
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterTaxonomy.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#59392 Fix stale data issues with offline payment gateways settings
  plugins/woocommerce/changelog/59392-fix-stale-data-offline-gateways
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/settings-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-bacs.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-cheque.tsx
  plugins/woocommerce/client/admin/client/settings-payments/offline/settings-payments-cod.tsx
Labels: plugin: woocommerce

#59501 Remove Add to Cart + Options template part from block inserter
  plugins/woocommerce/changelog/fix-59288
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
Labels: plugin: woocommerce, type: community contribution

#59142 Use `scan_delimiters` to find and strip nested markup added by the old template.
  plugins/woocommerce/changelog/59142-wooplug-4662-interactivity-api-powered
  plugins/woocommerce/changelog/59144-dev-save-customizable-text-mini-cart
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-cart-button-block/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-checkout-button-block/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-title-label-block/block.json
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartCartButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartCheckoutButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartItemsBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartShoppingButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartTitleLabelBlock.php
  plugins/woocommerce/templates/parts/experimental-iapi-mini-cart.html
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/tests/php/src/Blocks/Mocks/MiniCartMock.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#59042 Remove WooCommerce Blocks Test Helper
  plugins/woocommerce/changelog/remove-56664
  plugins/woocommerce/client/blocks/tests/e2e/plugins/test-helper.php
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout-block.merchant.block_theme.spec.ts
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#59426 Add an Automattic abstract address autocomplete provider
  plugins/woocommerce/changelog/59426-add-abstract-automattic-provider
  plugins/woocommerce/client/legacy/css/address-autocomplete.scss
  plugins/woocommerce/client/legacy/js/frontend/a8c-address-autocomplete-service.js
  plugins/woocommerce/client/legacy/js/frontend/address-autocomplete.js
  plugins/woocommerce/src/Internal/AddressProvider/AbstractAutomatticAddressProvider.php
  plugins/woocommerce/src/StoreApi/Utilities/JsonWebToken.php
  plugins/woocommerce/tests/php/src/Internal/AddressProvider/AbstractAutomatticAddressProviderTest.php
Labels: Checkout, plugin: woocommerce

#59511 Update social link to @DevelopWoo and reflect Twitter's rebranding to X
  README.md
Labels: type: community contribution

#59576 Fix `taxonomy-product_brand` template inheritance from `archive-product`
  plugins/woocommerce/changelog/59576-wooplug-4282-taxonomy-brand-template-is-not-tied-to-archive-product
  plugins/woocommerce/includes/blocks/class-wc-brands-block-template-utils-duplicated.php
  plugins/woocommerce/includes/blocks/class-wc-brands-block-templates.php
  plugins/woocommerce/src/Blocks/BlockTemplatesRegistry.php
  plugins/woocommerce/src/Blocks/Templates/ProductBrandTemplate.php
  plugins/woocommerce/src/Blocks/Utils/BlockTemplateUtils.php
  plugins/woocommerce/src/Internal/Brands.php
Labels: plugin: woocommerce

#59522 Ensure add-to-cart URLs respect the current URL and its arguments when AJAX mode is off
  plugins/woocommerce/changelog/wooplug-673
  plugins/woocommerce/includes/class-wc-product-simple.php
Labels: plugin: woocommerce

#59373 Reliably wait for cart requests to finish before adding new items to the cart
  plugins/woocommerce/client/blocks/tests/e2e/utils/frontend/frontend-utils.page.ts
Labels: plugin: woocommerce, focus: e2e tests

#58445 Remove nocache headers from Cart page to enable bfcache (instant back/forward navigations)
  plugins/woocommerce/changelog/58445-remove-cart-page-cache-control-no-store
  plugins/woocommerce/includes/class-wc-cache-helper.php
Labels: plugin: woocommerce, type: community contribution

#59486 [Payments NOX in-context] Improve data instrumentation, especially around the WPCOM connection
  plugins/woocommerce/changelog/update-nox-better-tracking-around-wpcom-connection
  plugins/woocommerce/client/admin/client/launch-your-store/hub/index.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/payments-content.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/components/payments-sidebar.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/tasklist.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/activate-payments-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/complete-setup-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/enable-gateway-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/constants.ts
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/components/onboarding/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/data/onboarding-context.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/components/embedded/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/sections/business-details.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/sections/embedded-kyc.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/utils/actions.ts
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/test-account/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/wpcom-connection/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsController.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsService.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsRestController.php
  plugins/woocommerce/src/Internal/Admin/Settings/Utils.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/Incentives/WooPayments.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentsExtensionSuggestionIncentives.php
  plugins/woocommerce/src/Internal/Admin/Suggestions/PaymentsExtensionSuggestions.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsServiceTest.php
Labels: plugin: woocommerce

#59590 [Payments NOX] Fill Complete setup button incentive acceptance gap
  plugins/woocommerce/changelog/fix-payments-nox-incentive-acceptance-gap
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/complete-setup-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
Labels: plugin: woocommerce

#59561 Interactivity API powered MiniCart - Fix block styles
  plugins/woocommerce/changelog/59561-wooplug-4935-interactivity-api-powered-mini-cart-block-styles-arent
  plugins/woocommerce/client/blocks/assets/js/base/components/button/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/inner-blocks/mini-cart-shopping-button-block/block.json
  plugins/woocommerce/src/Blocks/BlockTypes/EmptyMiniCartContentsBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/FilledMiniCartContentsBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartCartButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartCheckoutButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartContents.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartFooterBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartItemsBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartShoppingButtonBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartTitleBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartTitleItemsCounterBlock.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCartTitleLabelBlock.php
Labels: plugin: woocommerce

#59530 Restore previous `init_session_cookie` behaviour to prevent conflicts with classes extending `WC_Session_Handler`
  plugins/woocommerce/changelog/fix-session-handler-customer-id-unset
  plugins/woocommerce/includes/class-wc-session-handler.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutLink.php
  plugins/woocommerce/src/StoreApi/Routes/V1/AbstractCartRoute.php
  plugins/woocommerce/tests/legacy/unit-tests/session/class-wc-tests-session-handler.php
Labels: Cart, plugin: woocommerce, cherry pick to trunk

#59591 Fix applying coupon codes that differ only in space (e.g., "cou pon" and "coupon")
  plugins/woocommerce/changelog/wooplug-4927-coupon-code-invalid-when-similar-code-is-used-prior
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
  plugins/woocommerce/includes/wc-coupon-functions.php
Labels: plugin: woocommerce

#59606 Prevent order discount above coupon amount when editing order in admin
  plugins/woocommerce/changelog/wooplug-4794-fixed-cart-discount-giving-discount-above-coupon-amount
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/order/create-order.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/discounts/discounts.php
Labels: plugin: woocommerce, focus: e2e tests

#59490 Move code freeze webhooks to code freeze workflow
  .github/workflows/create-call-for-testing.yml
  .github/workflows/release-code-freeze.yml
Labels: focus: monorepo infrastructure

#59601 Add cursor rules around code quality
  .cursor/rules/code-quality.mdc
Labels: Code Quality

#59594 Fix product link in the Back-in-Stock Notifications List Table
  plugins/woocommerce/src/Internal/StockNotifications/Admin/ListTable.php
Labels: plugin: woocommerce

#59618 [dev] Release: canonical extensions testing workflow tweaks
  bin/run-canonical-extensions-tests.sh
Labels: focus: monorepo infrastructure

#59597 Add to Cart + Options: make sure individually sold products quantities are reset when they are children of a grouped product
  plugins/woocommerce/changelog/fix-59596-individually-sold-grouped-product
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
Labels: plugin: woocommerce, block: add to cart form

#59450 Add multi-field search `search_fields` parameter to products REST API
  plugins/woocommerce/changelog/59450-woomob-713-add-global_unique_id-to-searched-fields-2
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#59630 Prep release/10.0 for 10.0 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#59633 Remove changelog entries processed in 10.0.2.
  plugins/woocommerce/changelog/fix-session-handler-customer-id-unset
Labels: plugin: woocommerce

#59628 Add role='button' to product grid Add to Cart anchors when they act as buttons
  plugins/woocommerce/changelog/fix-add-to-cart-button-role
  plugins/woocommerce/includes/wc-template-functions.php
Labels: plugin: woocommerce

#59274 Fix Blockified Add to cart and Options button cart count on variable products
  docs/apis/store-api/resources-endpoints/cart-items.md
  plugins/woocommerce/changelog/fix-add-to-cart-button-count
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/cart.ts
  plugins/woocommerce/src/StoreApi/Schemas/V1/ItemSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductItemTrait.php
Labels: Documentation, plugin: woocommerce, type: community contribution

#59478 Preserve personalization tags in email text version
  packages/php/email-editor/changelog/59478-wooplug-4793-text-version-of-email-generated-by-renderer-misses-the
  packages/php/email-editor/src/Engine/Renderer/class-renderer.php
  packages/php/email-editor/src/class-email-editor-container.php
  packages/php/email-editor/tests/integration/Email_Editor_Integration_Test_Case.php
  packages/php/email-editor/tests/integration/Engine/Renderer/Renderer_Test.php
Labels: Email, Ballade, package: @woocommerce/email-editor, Emails

#59650 Update stable tag to 10.0.2
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#59537 Ensure quantity inputs update if receiving new props from server
  plugins/woocommerce/changelog/fix-quantity-not-updating
  plugins/woocommerce/client/blocks/assets/js/base/components/quantity-selector/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/quantity-selector/test/index.tsx
Labels: Bug, plugin: woocommerce, Rubik, block: cart

#59643 new images to fix logos
  docs/_docu-tools/static/img/doc_images/Button-Labels.png
  docs/_docu-tools/static/img/doc_images/Button-States-and-specifications.png
  docs/_docu-tools/static/img/doc_images/Button-size.png
  docs/_docu-tools/static/img/doc_images/Button-styles.png
  docs/_docu-tools/static/img/doc_images/Button-width.png
  docs/_docu-tools/static/img/doc_images/Cart-layout-2.png
  docs/_docu-tools/static/img/doc_images/Cart-layout.png
  docs/_docu-tools/static/img/doc_images/Clear-space-updated.png
  docs/_docu-tools/static/img/doc_images/Corner-radius.png
  docs/_docu-tools/static/img/doc_images/Dark.png
  docs/_docu-tools/static/img/doc_images/Express-checkout-layout.png
  docs/_docu-tools/static/img/doc_images/Layout-and-spacing-1-updated.png
  docs/_docu-tools/static/img/doc_images/Layout-and-spacing-2-Updated.png
  docs/_docu-tools/static/img/doc_images/Layout-and-spacing-Updated.png
  docs/_docu-tools/static/img/doc_images/Light-with-outline.png
  docs/_docu-tools/static/img/doc_images/Light.png
  docs/_docu-tools/static/img/doc_images/Minimum-width.png
  docs/_docu-tools/static/img/doc_images/Mobile-view.png
  docs/_docu-tools/static/img/doc_images/Product-page-layout.png
Labels: Documentation

#59579 [Blueprints]: Skip steps that set the Site Visibility to Live
  plugins/woocommerce/changelog/59579-blueprints-skip-live-site-visibility-option
  plugins/woocommerce/client/admin/client/blueprint/components/BlueprintUploadDropzone.tsx
  plugins/woocommerce/client/admin/client/blueprint/components/types.ts
Labels: plugin: woocommerce

#59647 Product Collection Carousel based on `supports.layout`
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/inspector-controls/use-carousel-layout-adjustments.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/style.scss
Labels: plugin: woocommerce

#59573 Add documentation for building and publishing a WooCommerce Core Release
  docs/contribution/releases/README.md
  docs/contribution/releases/building-and-publishing.md
Labels: Documentation

#59691 Product Details: prevent the default template to be auto applied for existing blocks
  plugins/woocommerce/changelog/wooplug-5015-woo-1002-products-details-block-regression-compatibility
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/legacy-preview.tsx
Labels: plugin: woocommerce

#59605 Add documentation for post-release monitoring
  docs/contribution/releases/README.md
  docs/contribution/releases/monitoring.md
Labels: Documentation

#59671 Add to Cart + Options: avoid JS error when removing items from the Mini-Cart block due to missing context
  plugins/woocommerce/changelog/fix-59664-invalid-context-add-to-cart-with-options
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
Labels: Bug, plugin: woocommerce, Kirigami, block: add to cart form

#59674 Make the emogrifier package a production dependency
  packages/php/email-editor/changelog/59674-wooprd-667-emogrifier-is-a-dev-dependency
  packages/php/email-editor/composer.json
  packages/php/email-editor/composer.lock
Labels: Email, focus: monorepo infrastructure, Ballade, package: @woocommerce/email-editor, Emails

#59687 Consistently display shortcodes with square brackets in WooCommerce system status report
  .cursor/rules/generate-pr-description.mdc
  plugins/woocommerce/changelog/59687-wooplug-5022-woocommerce-status-woocommerce-pages-box-wording-not
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
Labels: plugin: woocommerce

#59562 Remove changelog entries from intermediate branches
  .github/workflows/release-compile-changelog.yml
  tools/monorepo-utils/src/code-freeze/commands/changelog/index.ts
  tools/monorepo-utils/src/code-freeze/commands/changelog/lib/index.ts
Labels: focus: monorepo infrastructure

#59638 Prevent required select fields choosing 'next' option during autofill
  plugins/woocommerce/changelog/wooplug-4846-ios-autofill-selects-next-item-in-list-if-select
  plugins/woocommerce/client/blocks/assets/js/base/components/select/index.tsx
Labels: Bug, plugin: woocommerce, Rubik, block: checkout

#59676 Create proxy release workflow and adapt `release-commits-and-contributors.yml` to run only on dispatch
  .github/workflows/release-commits-and-contributors.yml
  .github/workflows/release-release-events-proxy.yml
Labels: focus: monorepo infrastructure

#59617 Update woocommerce_address_providers to accept objects alongside class names
  plugins/woocommerce/changelog/59617-update-change-woocommerce_address_providers-to-accept-objects
  plugins/woocommerce/src/Internal/AddressProvider/AbstractAutomatticAddressProvider.php
  plugins/woocommerce/src/Internal/AddressProvider/AddressProviderController.php
  plugins/woocommerce/tests/php/src/Internal/AddressProvider/AddressProviderControllerTest.php
Labels: plugin: woocommerce

#59619 Interactivity API powered Mini Cart - Support store notices messages
  plugins/woocommerce/changelog/59619-wooplug-4712-interactivity-api-powered-mini-cart-support-store-notices
  plugins/woocommerce/client/blocks/assets/js/base/stores/store-notices.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/src/Blocks/BlockTypes/FilledMiniCartContentsBlock.php
Labels: plugin: woocommerce

#59634 Fix 'allows switching to 3rd-party product types' flaky test (II)
  plugins/woocommerce/changelog/fix-55053-flaky-test-ii
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.page.ts
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#59575 ProductCollection: Refactor tests into focused and maintainable files
  plugins/woocommerce/changelog/fix-issue-59239
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/HandlerRegistry.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/QueryBuilder.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/RestApi.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/SqlGeneration.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/Utils.php
Labels: plugin: woocommerce, type: community contribution

#59662 Add to Cart + Options: Display error message when adding 0 items to cart in the grouped product form
  plugins/woocommerce/changelog/fix-59267-add-to-cart-with-options-grouped-products
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/style.scss
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#59683 Interactivity API powered Mini Cart - Display notices when item quantities change without interaction
  plugins/woocommerce/changelog/59683-wooplug-4665-interactivity-api-powered-mini-cart-snackbar-when-quantities
  plugins/woocommerce/client/blocks/assets/js/base/stores/store-notices.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
Labels: plugin: woocommerce

#59642 Revert: Related Products: avoids querying results on each page load
  plugins/woocommerce/changelog/59642-fix-revert-as-job
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce

#59608 Add taxonomy support to Product Collection Data API endpoint
  docs/apis/store-api/resources-endpoints/product-collection-data.md
  plugins/woocommerce/changelog/59608-wooplug-4766-product-collection-data-api-add-support-for-taxonomy
  plugins/woocommerce/src/StoreApi/Routes/V1/ProductCollectionData.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/ProductCollectionDataSchema.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQuery.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQueryFilters.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/ProductCollectionData.php
Labels: Documentation, plugin: woocommerce

#59325 Migrate all of Woo cron jobs to use action scheduler
  plugins/woocommerce/changelog/59325-add-move-session-cleanup-to-AS
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/includes/wc-formatting-functions.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/src/Caches/OrderCountCacheService.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/batch-queue.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/install.php
  plugins/woocommerce/uninstall.php
Labels: plugin: woocommerce

#59568 Add a scheduled release assignment workflow
  .github/workflows/release-assignment.yml
Labels: focus: monorepo infrastructure

#59653 Feature compatibility: Make declarations lazy to avoid get_plugins() calls on frontend
  plugins/woocommerce/changelog/lazy-plugin-feature-registration
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
  plugins/woocommerce/src/Utilities/FeaturesUtil.php
  plugins/woocommerce/tests/php/src/Internal/Features/FeaturesControllerTest.php
  plugins/woocommerce/tests/php/src/Utilities/PluginUtilTests.php
Labels: plugin: woocommerce

#59749 Docs: Fixes button size graphic with updated woopay logo
  docs/_docu-tools/static/img/doc_images/Same-button-size.png
  docs/user-experience-guidelines/ux-guidelines-payments/payment-button-size.md
Labels: Documentation

#59648 Redirect to core profiler from dashboard if incomplete
  plugins/woocommerce/changelog/wooplug-4993-starting-from-wp-dashboard-leads-to-cys-and-not-woo-setup
  plugins/woocommerce/includes/admin/class-wc-admin-dashboard-setup.php
  plugins/woocommerce/tests/php/includes/admin/class-wc-admin-dashboard-setup-test.php
Labels: Bug, plugin: woocommerce, Rubik, Onboarding

#59722 Move release related jobs to `release-new-release-published.yml`
  .github/workflows/release-new-release-published.yml
  .github/workflows/release-release-events-proxy.yml
Labels: focus: monorepo infrastructure

#59761 The iAPI-powered Mini-Cart block should show a placeholder image for products missing an image
  plugins/woocommerce/changelog/fix-59736
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/src/Blocks/Utils/BlocksSharedState.php
Labels: plugin: woocommerce

#59678 Email Editor: Implement Styles_Helper inline styles helper methods
  packages/php/email-editor/changelog/wooplug-4688-add-style-factory-methods-for-emails
  packages/php/email-editor/docs/rendering.md
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-abstract-block-renderer.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-button.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-column.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-columns.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-group.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-quote.php
  packages/php/email-editor/src/Integrations/Core/Renderer/Blocks/class-text.php
  packages/php/email-editor/src/Integrations/Utils/class-styles-helper.php
  packages/php/email-editor/tests/integration/Integrations/Core/Renderer/Blocks/Button_Test.php
  packages/php/email-editor/tests/integration/Integrations/Core/Renderer/Blocks/Column_Test.php
  packages/php/email-editor/tests/integration/Integrations/Core/Renderer/Blocks/Columns_Test.php
  packages/php/email-editor/tests/integration/Integrations/Core/Renderer/Renderer_Test.php
  packages/php/email-editor/tests/unit/Integrations/Utils/Styles_Helper_Test.php
  packages/php/email-editor/tests/unit/stubs.php
Labels: Ballade, package: @woocommerce/email-editor, Emails

#59469 Add combined testing for tracking number parsers
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentUtils.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/AmazonLogisticsShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/AustraliaPostShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/CanadaPostShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/DHLShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/DPDShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/EvriHermesShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/FedExShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/RoyalMailShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/UPSShippingProvider.php
  plugins/woocommerce/src/Internal/Fulfillments/Providers/USPSShippingProvider.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/AmazonLogisticsShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/AustraliaPostShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/CanadaPostShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/DHLShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/DPDShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/EvriHermesShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/FedExShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/RoyalMailShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/UPSShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/Providers/USPSShippingProviderTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/TrackingNumbersTest.php
Labels: plugin: woocommerce

#59771 Remove all fulfillment related changelogs
  plugins/woocommerce/changelog/57428-add-57356-order-fulfillments-create-db-tables
  plugins/woocommerce/changelog/57429-add-57357-order-fulfillments-data-store-2
  plugins/woocommerce/changelog/57732-add-57363-order-fulfillments-base-user-interface-2
  plugins/woocommerce/changelog/57758-add-WOOPLUG-3977-order-fulfillments-fulfillment-editor-form
  plugins/woocommerce/changelog/57989-add-57405-order-fulfillments-create-shipping-information-entry-form
  plugins/woocommerce/changelog/58010-add-57396-order-fulfillments-create-fulfillment-meta-box
  plugins/woocommerce/changelog/58551-add-57399-order-fulfillments-add-fulfillment-notification-toggle
  plugins/woocommerce/changelog/58558-add-WOOPLUG-3993-order-fulfillments-notification-emails
  plugins/woocommerce/changelog/58713-add-WOOPLUG-4019-order-fulfillments-update-customer-orders-page
  plugins/woocommerce/changelog/58731-add-WOOPLUG-3999-order-fulfillments-add-shipping-providers-support
  plugins/woocommerce/changelog/58793-add-57412-wc_fulfillments_before_create-hook
  plugins/woocommerce/changelog/58810-add-57415-wc_fulfillments_before-after_update-hook
  plugins/woocommerce/changelog/58812-add-57418-wc_fulfillments_before-after_delete-hook
  plugins/woocommerce/changelog/58823-add-57421-add-wc_fulfillments_before-after_fulfill-hook
  plugins/woocommerce/changelog/58824-add-57400-order-fulfillments-implement-bulk-actions
  plugins/woocommerce/changelog/58832-add-57407-allow-fulfillment-locking-with-a-message
  plugins/woocommerce/changelog/58859-add-58855-fulfillments-ui-order-details-screen
  plugins/woocommerce/changelog/58865-add-57402-implement-order-table-filters
  plugins/woocommerce/changelog/58963-add-57410-add-wc_fulfillments_custom_statuses-hook
  plugins/woocommerce/changelog/58978-fix-58970-order-fulfillments-clean-up-script-loading
  plugins/woocommerce/changelog/59085-add-58852-order-fulfillments-add-auto-fulfill-settings-to-settings-ui
  plugins/woocommerce/changelog/59101-add-57426-add-auto-fulfill-product-filter
  plugins/woocommerce/changelog/59148-add-59107-order-fulfillments-feature-flag
Labels: plugin: woocommerce

#59763 iAPI-powered Mini-Cart block should show a maximum of 15 words for the product description
  plugins/woocommerce/changelog/59763-wooplug-4963-iapi-powered-mini-cart-block-should-show-a-maximum-of-15
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
Labels: plugin: woocommerce

#59782 Add experimental feature on WooCommerce Advanced Settings for new iAPI Mini Cart
  plugins/woocommerce/changelog/59782-wooplug-5085-iapi-powered-mini-cart-add-feature-in-the-woocommerce
  plugins/woocommerce/src/Internal/Features/FeaturesController.php
Labels: plugin: woocommerce

#59531 Add partial updates loading states for the order summary
  plugins/woocommerce/changelog/wooplug-3804-implement-partial-updates-loading-states-for-the-order
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/cart-line-items-table/style.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/footer-item/style.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/footer-item/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/shipping/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/shipping/test/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/patterns/cart-line-items/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/patterns/checkout-payment/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/skeleton/patterns/checkout-shipping/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/test/use-store-cart.jsx
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart.ts
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/index.js
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/test/use-order-summary-loading-state.js
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/use-order-summary-loading-state.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-discount/test/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-subtotal/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-order-summary-taxes/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-discount/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-subtotal/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-order-summary-taxes/block.tsx
  plugins/woocommerce/client/blocks/assets/js/data/cart/selectors.ts
  plugins/woocommerce/client/blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/hooks.ts
  plugins/woocommerce/client/blocks/docs/third-party-developers/extensibility/data-store/cart.md
  plugins/woocommerce/client/blocks/packages/components/totals/item/index.tsx
  plugins/woocommerce/client/blocks/packages/components/totals/taxes/index.tsx
  plugins/woocommerce/tests/e2e-pw/tests/js-file-monitor/monitor-js-file-number.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#59791 Fix the content block is crashing in email editor with Gutenberg 21.2.0
  packages/js/email-editor/changelog/wooplug-5086-email-editor-is-crashing-with-gutenberg-2120
  packages/js/email-editor/src/blocks/core/post-content.tsx
Labels: Email, Ballade, package: @woocommerce/email-editor

#59760 Improve 'allows adding grouped products to cart' flaky test
  plugins/woocommerce/changelog/fix-59725-flaky-test
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#59777 Fix syntax errors in additional checkout field docs
  docs/block-development/cart-and-checkout-blocks/additional-checkout-fields.md
Labels: Documentation, Rubik

#59786 Improve the `release-compile-changelog.yml` workflow
  .github/workflows/release-compile-changelog.yml
Labels: focus: monorepo infrastructure

#59762 Improve 'can add custom product attributes' flaky test
  plugins/woocommerce/changelog/fix-53449-flaky-test
  plugins/woocommerce/tests/e2e-pw/tests/product/create-product-attributes.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#59706 Update Stock Indicator block after a variation is selected in the Add to Cart + Options block
  plugins/woocommerce/changelog/fix-59441-stock-indicator-variation
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/stock-indicator/block.json
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/product-data.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/bin/webpack-config-interactive-blocks.js
  plugins/woocommerce/client/blocks/tests/e2e/bin/scripts/products.sh
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductItem.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
  plugins/woocommerce/src/Blocks/BlockTypes/SingleProduct.php
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplate.php
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#59831 Add "Filter" suffix to all product filter block titles and variations
  plugins/woocommerce/changelog/wooplug-4921-add-filter-suffix-to-all-filter-blocks-and-variations-name
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/block.json
Labels: plugin: woocommerce

#59589 [Experimental] Render ProductFilterTaxonomy block on the frontend
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterTaxonomy.php
Labels: plugin: woocommerce

#59852 Custom Email Templates in theme not being pulled in
  plugins/woocommerce/changelog/wooplug-5090-custom-email-templates-in-theme-not-being-pulled-in
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce

#59869 Load fulfillments classes in init action hook
  plugins/woocommerce/changelog/59869-fix-fulfillments-load-text-domain-warning
  plugins/woocommerce/src/Internal/Fulfillments/Fulfillment.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsController.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsManager.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsRenderer.php
  plugins/woocommerce/src/Internal/Fulfillments/FulfillmentsSettings.php
  plugins/woocommerce/tests/php/includes/class-wc-emails-tests.php
  plugins/woocommerce/tests/php/includes/class-wc-tax-test.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Fulfillments/FulfillmentsDataStoreHookTest.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Fulfillments/FulfillmentsDataStoreTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentUtilsTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsManagerTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsRefundTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsRendererHooksTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsRendererTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/FulfillmentsSettingsTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/OrderFulfillmentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/ShippingProvidersTest.php
  plugins/woocommerce/tests/php/src/Internal/Fulfillments/TrackingNumbersTest.php
Labels: plugin: woocommerce

#59807 Product Filters: properly handle special characters in filter option label
  plugins/woocommerce/changelog/wooplug-5048-inconsistent-character-decoding-for-special-characters-in
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/chips/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/preview.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/types.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/utils/sort-filter-options.ts
Labels: plugin: woocommerce

#59844 [Payments NOX] Fix payments task additional data when shell gateways are enabled
  plugins/woocommerce/changelog/fix-WOOPLUG-4982-payments-task-completion
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/Payments.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProvidersTest.php
Labels: plugin: woocommerce

#59794 Add full recommended requirements to readme.txt
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#59846 Fix analytics crashes with gutenberg 21.2
  packages/js/components/changelog/wooa7s-313-analytics-crash-with-gutenberg-2120
  packages/js/components/src/chart/index.js
  packages/js/components/src/search-list-control/index.js
Labels: plugin: woocommerce, package: @woocommerce/components, cherry pick to trunk, cherry pick to frozen release

#59906 Bump version to 10.0.4
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#59775 Added platform list command and Platform interfaces
  plugins/woocommerce/changelog/59775-feat-list-command
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ListCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Interfaces/PlatformFetcherInterface.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Interfaces/PlatformMapperInterface.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Runner.php
Labels: plugin: woocommerce

#59922 [PoC] Monorepo: trends analysis with AI
  .github/workflows/release-trends-analysis.yml
Labels: focus: monorepo infrastructure

#59785 Product Image: improve Editor experience by making placeholder reacting to attributes changes
  plugins/woocommerce/changelog/add-product-image-improvements
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
Labels: plugin: woocommerce

#59934 Update stable tag to 10.0.4
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#59932 [CFE] Add i18n support to NOX and NOX in LYS step labels
  plugins/woocommerce/changelog/fix-I18N-264-nox-steps-labels-localization
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/payments-content.tsx
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/site-preview.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/components/header/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/test-account/index.tsx
Labels: plugin: woocommerce

#59899 Product Filters: Fixes loading skeleton styling for Checkbox List block
  plugins/woocommerce/changelog/2025-07-23-04-47-08-190564
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/editor.scss
Labels: plugin: woocommerce

#59757 Add live sync of site styles (block theme styles) to the email editor.
  packages/js/email-editor/changelog/wooplug-4691-add-live-sync-of-site-styles-to-emails
  packages/js/email-editor/src/components/styles-sidebar/screens/preview.tsx
  packages/php/email-editor/README.md
  packages/php/email-editor/changelog/wooplug-4691-add-live-sync-of-site-styles-to-emails
  packages/php/email-editor/docs/site-style-sync-hooks.md
  packages/php/email-editor/src/Engine/class-site-style-sync-controller.php
  packages/php/email-editor/src/Engine/class-theme-controller.php
  packages/php/email-editor/src/Engine/theme.json
  packages/php/email-editor/src/Integrations/Core/theme.json
  packages/php/email-editor/src/Integrations/Utils/class-styles-helper.php
  packages/php/email-editor/src/class-email-editor-container.php
  packages/php/email-editor/tasks/phpstan/phpstan-7.neon
  packages/php/email-editor/tests/integration/Email_Editor_Integration_Test_Case.php
  packages/php/email-editor/tests/integration/Engine/Site_Style_Sync_Controller_Test.php
  packages/php/email-editor/tests/integration/Engine/Theme_Controller_Test.php
  packages/php/email-editor/tests/unit/Integrations/Utils/Styles_Helper_Test.php
Labels: Ballade, package: @woocommerce/email-editor

#59943 Update paypal settings
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-helper.php
  plugins/woocommerce/includes/gateways/paypal/includes/settings-paypal.php
Labels: plugin: woocommerce

#59853 Add in progress state for WC tasks and implement it for WooPayments
  packages/js/data/changelog/59853-add-in-progress-task
  packages/js/data/src/onboarding/types.ts
  packages/js/experimental/changelog/59853-add-in-progress-task
  packages/js/experimental/src/experimental-list/task-item/index.tsx
  packages/js/experimental/src/experimental-list/task-item/style.scss
  plugins/woocommerce/changelog/59853-add-in-progress-task
  plugins/woocommerce/client/admin/client/hooks/tests/use-tasklists-state.test.ts
  plugins/woocommerce/client/admin/client/task-lists/components/task-list-item.tsx
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/components/task-list-item.tsx
  plugins/woocommerce/client/admin/client/task-lists/setup-task-list/style.scss
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Task.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
Labels: plugin: woocommerce, package: @woocommerce/data, package: @woocommerce/experimental

#59815 Add new workflow to automate updating WP and PHP versions
  .github/workflows/maintenance-update-version-requirements.yml
Labels: focus: monorepo infrastructure

#59607 Product Filters: gracefully handle invalid items
  plugins/woocommerce/changelog/fix-handle-empty-attribute-term-filter
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterAttribute.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
  plugins/woocommerce/src/Blocks/QueryFilters.php
  plugins/woocommerce/src/Internal/ProductFilters/QueryClauses.php
Labels: plugin: woocommerce

#59659 Unify Variation Selector: Attribute Options iAPI stores with the Add to Cart + Options store
  plugins/woocommerce/changelog/fix-59335-unify-attribute-options-iapi-stores
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/attribute-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/set-styles.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/VariationSelectorAttributeOptions.php
Labels: plugin: woocommerce, Kirigami, block: add to cart form

#59931 Fix displaying "Send" button when editing a new email
  packages/js/email-editor/changelog/fix-email-editor-send-button
  packages/js/email-editor/src/hacks/publish-save.tsx
Labels: Email, Ballade, package: @woocommerce/email-editor

#59753 Fix JS error in WooCommerce admin settings due to missing class when using shortcode checkout
  plugins/woocommerce/changelog/59753-wooplug-5046-js-error-in-woocommerce-admin-settings-due-to-missing-class
  plugins/woocommerce/includes/admin/settings/class-wc-settings-accounts.php
Labels: plugin: woocommerce

#59907 Ensure consistent background color between the header and the rest of the Wooemail template content
  plugins/woocommerce/changelog/wooprd-680-main-template-for-transactional-emails-has-white-background
  plugins/woocommerce/src/Internal/EmailEditor/EmailTemplates/WooEmailTemplate.php
Labels: plugin: woocommerce, Ballade

#59859 Email Editor: Integrate the convert class from the HTML to Text library
  packages/php/email-editor/SECURITY.md
  packages/php/email-editor/changelog/59859-wooplug-4979-integrate-the-html-to-text-library-into-the-email-editor
  packages/php/email-editor/changelog/59859-wooplug-4979-integrate-the-html-to-text-library-into-the-email-editor-2
  packages/php/email-editor/composer.json
  packages/php/email-editor/composer.lock
  packages/php/email-editor/license.txt
  packages/php/email-editor/src/Engine/Renderer/class-html2text-exception.php
  packages/php/email-editor/src/Engine/Renderer/class-html2text.php
  packages/php/email-editor/src/Engine/Renderer/class-renderer.php
  packages/php/email-editor/tasks/build-package.sh
  packages/php/email-editor/tests/integration/Engine/Renderer/Renderer_Test.php
  packages/php/email-editor/tests/unit/Engine/Renderer/Html2Text_Test.php
Labels: focus: monorepo infrastructure, package: @woocommerce/email-editor

#59962 Fix shortcode cart table and update a th to td
  plugins/woocommerce/changelog/fix-wooplug-5160-td-th
  plugins/woocommerce/templates/cart/cart.php
Labels: plugin: woocommerce

#59803 Improve separation of concerns and eliminate unnecessary base class coupling.
  plugins/woocommerce/changelog/59803-feedback-59741
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/BaseCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ListCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ProductsCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ResetCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/SetupCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/CredentialManager.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/PlatformRegistry.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Runner.php
Labels: plugin: woocommerce

#59778 Added Platform Registry Class and passed it as a dependecy to basecommand
  plugins/woocommerce/changelog/59778-feat-platform-registry
  plugins/woocommerce/changelog/59780-feat-shopify-platform
  plugins/woocommerce/changelog/59803-feedback-59741
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/BaseCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ListCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ProductsCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ResetCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/SetupCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/CredentialManager.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/PlatformRegistry.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/README.md
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcher.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyMapper.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyPlatform.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Runner.php
Labels: plugin: woocommerce

#59929 Fix fatal error on wrong data input in WC_Customer
  plugins/woocommerce/changelog/fix-fatal-error-on-wrong-data-input
  plugins/woocommerce/includes/class-wc-customer.php
Labels: plugin: woocommerce

#59903 Fix email content and template validation in email editor
  packages/js/email-editor/changelog/fix-email-editor-validation
  packages/js/email-editor/src/editor.tsx
  packages/js/email-editor/src/hooks/index.ts
  packages/js/email-editor/src/hooks/use-content-validation.ts
  packages/js/email-editor/src/hooks/use-remove-saving-failed-notices.ts
  packages/js/email-editor/src/middleware/content-validation.ts
  packages/js/email-editor/src/store/actions.ts
  packages/js/email-editor/src/store/initial-state.ts
  packages/js/email-editor/src/store/reducer.ts
  packages/js/email-editor/src/store/selectors.ts
  packages/js/email-editor/src/store/types.ts
  packages/js/email-editor/src/types/wordpress-modules.ts
Labels: Email, Ballade, package: @woocommerce/email-editor

#59686 Update `Product Specification` and `Product Reviews` block registration to be available in the post editor.
  plugins/woocommerce/changelog/59686-wooplug-5028-product-details-make-the-block-available-in-the-single
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/fixture/index.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/test/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-details/utils.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-reviews/index.tsx
  plugins/woocommerce/client/blocks/tests/e2e/tests/utils/register-block-single-product-template.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: Documentation, plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#59972 Prevent the Add to Cart button words to break into several lines
  plugins/woocommerce/changelog/fix-59793-product-button-word-break
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/style.scss
  plugins/woocommerce/client/legacy/css/woocommerce-blocktheme.scss
  plugins/woocommerce/templates/parts/simple-product-add-to-cart-with-options.html
  plugins/woocommerce/templates/parts/variable-product-add-to-cart-with-options.html
Labels: plugin: woocommerce, block: add to cart form

#59969 Product Description: remove inline editing
  plugins/woocommerce/changelog/59969-fix-remove-product-description-inline-editing
  plugins/woocommerce/client/blocks/assets/js/blocks/product-description/edit.tsx
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#59979 Fix 404 requests to Product Gallery inner blocks assets
  plugins/woocommerce/changelog/fix-large-image-404
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryLargeImageNextPrevious.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryThumbnails.php
Labels: plugin: woocommerce

#59843 Added Shopify Platform tests for integration so far
  plugins/woocommerce/changelog/59843-migrator-test-fetcher
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcherTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyMapperTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyPlatformTest.php
Labels: plugin: woocommerce

#59963 Fix the Mini-Cart badge being transparent in some themes
  plugins/woocommerce/changelog/fix-59902-mini-cart-badge-transparent-in-some-themes
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/mini-cart-contents/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/utils/set-styles.ts
Labels: plugin: woocommerce, block: mini-cart

#59900 Refactor filter blocks to use shared DisplayStyleSwitcher component
  plugins/woocommerce/changelog/59900-wooplug-4769-refactor-filter-blocks-to-use-shared-component-and-utility
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/components/display-style-switcher/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/inspector.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/attribute-filter/types.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/inspector.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/inspector.tsx
Labels: plugin: woocommerce
