Repository woocommerce/woocommerce, pull requests merged in 2025-01, with the labels that each got.

#54104 Fix failing `EmailPreviewTest::test_dummy_product_filter` test
  plugins/woocommerce/changelog/fix-eamil-preview-test
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewTest.php
Labels: plugin: woocommerce

#54064 Fix logic for skipping found rows query in OrdersTableQuery.
  plugins/woocommerce/changelog/fix-53065-skip-count-for-no-found-rows
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: plugin: woocommerce

#54038 Update in-app disconnect modal message
  plugins/woocommerce/changelog/54038-update-disconnect-message-modal
  plugins/woocommerce/client/admin/client/marketplace/components/header-account/header-account-modal.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/header-account/header-account.scss
  plugins/woocommerce/client/admin/client/marketplace/stylesheets/_variables.scss
Labels: plugin: woocommerce

#51042 Add a new "pnpm utils pull-request add-changelog-file" tool
  plugins/woocommerce/changelog/pr-51042
  tools/monorepo-utils/src/index.ts
  tools/monorepo-utils/src/pull-requests/REAMDE.md
  tools/monorepo-utils/src/pull-requests/commands/add-changelog-file.ts
  tools/monorepo-utils/src/pull-requests/commands/index.ts
Labels: plugin: woocommerce, focus: monorepo infrastructure

#51058 Coming Soon Block: Do not load the block inside the customizer
  plugins/woocommerce/changelog/fix-coming-soon-customizer
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce, type: community contribution

#54113 Avoid duplicate store registration of template-state store
  plugins/woocommerce-blocks/assets/js/shared/store/index.ts
  plugins/woocommerce/changelog/update-only-register-template-state-store-once
Labels: plugin: woocommerce, focus: blocks

#53912 [dev] CI: address community contributions jobs failures.
  .github/workflows/automate-team-review-assignment-config.yml
  .github/workflows/ci.yml
  .github/workflows/pr-build-live-branch.yml
Labels: focus: monorepo infrastructure

#54115 Add missing ESLint comment to MiniCart React component
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.tsx
  plugins/woocommerce/changelog/54115-fix-mini-cart-inner-html-eslint
Labels: plugin: woocommerce, team: Kirigami & Origami, block: mini-cart

#54074 Add to Cart with Options: use correct esc function in Stepper layout
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-esc-function
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptionsQuantitySelector.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#54053 Handle Invalid Product ID
  plugins/woocommerce-blocks/assets/js/base/utils/errors.ts
  plugins/woocommerce-blocks/assets/js/base/utils/test/errors.js
  plugins/woocommerce-blocks/assets/js/blocks/single-product/edit/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/single-product/edit/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/single-product/edit/shared-product-control.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/error-placeholder/index.tsx
  plugins/woocommerce/changelog/dev-52662_invalid_single_product_id
Labels: plugin: woocommerce

#54096 Change the Woo logo in the marketing banner
  plugins/woocommerce/changelog/pr-54096
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/IntroductionBanner-new.scss
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/IntroductionBanner-old.scss
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/IntroductionBanner.scss
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/IntroductionBanner.tsx
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/woo-new.svg
Labels: plugin: woocommerce, cherry pick to trunk

#54116 Add To Cart With Options: enable stepper layout
  plugins/woocommerce-blocks/tests/e2e/tests/add-to-cart-form/add-to-cart-form.block_theme.spec.ts
  plugins/woocommerce/changelog/54116-add-add-to-cart-stepper-layout
  plugins/woocommerce/client/admin/config/core.json
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#54118 [Experimental] Move Product Type template state store to its own folder and rename some constants
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/stock-indicator/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/hooks/use-product-type-selector/index.ts
  plugins/woocommerce-blocks/assets/js/shared/stores/product-type-template-state/Readme.md
  plugins/woocommerce-blocks/assets/js/shared/stores/product-type-template-state/constants.ts
  plugins/woocommerce-blocks/assets/js/shared/stores/product-type-template-state/index.ts
  plugins/woocommerce/changelog/update-move-template-state-store-to-its-own-folder-and-rename-default-export
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#53458 Issues/53357 extend addItemToCart thunk
  plugins/woocommerce-blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce/changelog/53458-issues-53357-extend-addItemToCart
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
Labels: plugin: woocommerce, type: community contribution

#52874 Product Collection: Integrate Customer Effort Score Feedback Modal
  plugins/woocommerce-blocks/.eslintrc.js
  plugins/woocommerce-blocks/assets/css/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/ces-feedback-button/feedback-icon.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/ces-feedback-button/index.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/feedback-prompt/index.tsx
  plugins/woocommerce-blocks/bin/webpack-helpers.js
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/52874-add-52730-product-collection-integrate-customer-effort-score-feedback-modal
  plugins/woocommerce/src/Blocks/AssetsController.php
  pnpm-lock.yaml
Labels: priority: high, plugin: woocommerce, focus: monorepo infrastructure, focus: customer effort score, team: Kirigami & Origami

#54103 Enhance live branches API to support installing any desired version of WooCommerce
  plugins/woocommerce-beta-tester/api/live-branches/install.php
  plugins/woocommerce-beta-tester/changelog/update-beta-tester-live-branch-install
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester-cli.php
  plugins/woocommerce-beta-tester/includes/class-wc-beta-tester-live-branches-installer.php
Labels: plugin: woocommerce beta tester

#54139 removed builder intro from core profiler
  plugins/woocommerce/changelog/54139-remove-core-profiler-builder-intro
  plugins/woocommerce/client/admin/client/core-profiler/events.tsx
  plugins/woocommerce/client/admin/client/core-profiler/index.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/BuilderIntro.tsx
  plugins/woocommerce/client/admin/client/core-profiler/pages/IntroOptIn.tsx
  plugins/woocommerce/client/admin/client/core-profiler/style.scss
Labels: plugin: woocommerce

#54033 Fix TypeScript React warnings after React upgrade
  packages/js/data/changelog/54033-fix-wccom-22663-ts-react-warnings
  packages/js/data/src/onboarding/selectors.ts
  plugins/woocommerce/README.md
  plugins/woocommerce/changelog/54033-fix-wccom-22663-ts-react-warnings
  plugins/woocommerce/client/admin/client/marketplace/components/header-account/header-account.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/install-flow/install-new-product-modal.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/my-subscriptions.scss
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/notices.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/auto-renew-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/connect-account-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/connect-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/install.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/refresh-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/renew-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/subscribe-button.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/my-subscriptions/table/actions/update.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/products/products.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/notice-store.tsx
  plugins/woocommerce/client/admin/client/marketplace/contexts/types.ts
  plugins/woocommerce/client/admin/client/marketplace/utils/functions.tsx
  plugins/woocommerce/client/admin/package.json
  plugins/woocommerce/client/admin/tsconfig.json
Labels: plugin: woocommerce, focus: monorepo infrastructure, package: @woocommerce/data

#54006 [e2e] Update tests to pass on the Pressable env
  plugins/woocommerce/changelog/54006-e2e-update-for-pressable
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/mini-cart.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54119 Add eslint for payment promotion row
  plugins/woocommerce/changelog/add-eslint-for-payment-promotion-row
  plugins/woocommerce/client/admin/client/wp-admin-scripts/payment-method-promotions/payment-promotion-row.tsx
Labels: plugin: woocommerce, team: Kirigami & Origami

#54088 Fix some wcadmin tracks missing request timestamp
  plugins/woocommerce/changelog/fix-tracks-missing-timestamp
  plugins/woocommerce/includes/tracks/class-wc-tracks-client.php
  plugins/woocommerce/includes/tracks/class-wc-tracks-footer-pixel.php
  plugins/woocommerce/tests/legacy/framework/class-wc-unit-test-case.php
  plugins/woocommerce/tests/php/includes/class-wc-orders-tracking-test.php
Labels: plugin: woocommerce

#54117 Fix registerProductBlockType() types
  plugins/woocommerce-blocks/assets/js/atomic/utils/register-product-block-type.ts
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/index.tsx
  plugins/woocommerce/changelog/fix-registerProductBlockType-types
Labels: plugin: woocommerce, team: Kirigami & Origami

#54086 Change blocks registering logic in widget area from opt-out to opt-in
  plugins/woocommerce/changelog/add-53691
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/intro.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54142 Add to Cart with Options - Stepper Layout: remove "Development features enabled" notice when stepper layout is enabled
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/settings.tsx
  plugins/woocommerce/changelog/54142-fix-stepper-layout-alert-dev
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#54147 Apply WooCommerce rebranding to WooCommerce blocks
  plugins/woocommerce-blocks/assets/js/blocks/classic-shortcode/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/classic-shortcode/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/index.tsx
  plugins/woocommerce-blocks/assets/js/icons/library/woo.tsx
  plugins/woocommerce/changelog/fix-blocks-woo-rebranding
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/IntroductionBanner/woo-new.svg
Labels: plugin: woocommerce, team: Kirigami & Origami, cherry pick to trunk

#53948 Fixes for tests running on Pressable
  plugins/woocommerce/changelog/e2e-additional-fixes-for-external-envs
  plugins/woocommerce/tests/e2e-pw/bin/woocommerce-cleanup.php
  plugins/woocommerce/tests/e2e-pw/tests/admin-analytics/analytics-data.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54032 [e2e] Update tests to pass on the WPCOM env
  plugins/woocommerce/changelog/54032-e2e-update-for-wpcom
  plugins/woocommerce/tests/e2e-pw/tests/api-tests/settings/settings-crud.test.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-edit.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/product-attributes-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/settings-email.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/my-account-pay-order.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54144 Remove unused slot fill ordering util function within client/admin
  plugins/woocommerce/changelog/fix-54124_ts_issues_slot_fill_ordering
  plugins/woocommerce/client/admin/client/utils/index.js
  plugins/woocommerce/client/admin/client/utils/slot-fill-ordering.tsx
Labels: plugin: woocommerce

#54183 Package release tool - update branch name
  .github/workflows/prepare-package-release.yml
Labels: focus: monorepo infrastructure

#54163 [Customers - Advanced Filters] - Fix UI Text Wrap issue in Advanced Filters Dropdown
  packages/js/components/changelog/fix-ui-advanced-filters-text-wrap
  packages/js/components/src/advanced-filters/style.scss
Labels: package: @woocommerce/components

#49643 Add description and delivery time to shipping methods in the Cart and Checkout blocks
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/render-package-rate-option.tsx
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control-package/style.scss
  plugins/woocommerce/changelog/update-shipping-rate-description
  plugins/woocommerce/includes/class-wc-shipping-rate.php
Labels: plugin: woocommerce

#54149 Remove old product editor components
  packages/js/components/changelog/fix-old_product_editor_component_cleanup
  packages/js/components/src/index.ts
  packages/js/components/src/product-section-layout/index.ts
  packages/js/components/src/product-section-layout/product-field-section.tsx
  packages/js/components/src/product-section-layout/product-section-layout.tsx
  packages/js/components/src/product-section-layout/style.scss
  packages/js/components/src/style.scss
  packages/js/components/src/woo-product-field-item/README.md
  packages/js/components/src/woo-product-field-item/index.ts
  packages/js/components/src/woo-product-field-item/woo-product-field-item.tsx
  packages/js/components/src/woo-product-section-item/README.md
  packages/js/components/src/woo-product-section-item/index.ts
  packages/js/components/src/woo-product-section-item/woo-product-section-item.tsx
  packages/js/components/src/woo-product-tab-item/README.md
  packages/js/components/src/woo-product-tab-item/index.ts
  packages/js/components/src/woo-product-tab-item/woo-product-tab-item.tsx
  packages/js/product-editor/changelog/fix-old_product_editor_component_cleanup
  packages/js/product-editor/src/components/product-section-layout/product-field-section.tsx
Labels: package: @woocommerce/components, focus: new product ux, team: Kirigami & Origami

#54156 Fix stock indicator visibility for Variable products
  plugins/woocommerce/changelog/fix-53720_stock_indicator_visibility_for_variable_product
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
  plugins/woocommerce/src/Blocks/Utils/ProductAvailabilityUtils.php
  plugins/woocommerce/src/StoreApi/Schemas/V1/ProductSchema.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product stock indicator

#54198 Prep release/9.6 for 9.6 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#54160 `experimental` package: fix TS errors
  packages/js/experimental/changelog/54160-54158-fix-typescript-errors-from-packagesjsexperimental
  packages/js/experimental/src/experimental-list/collapsible-list/index.tsx
  packages/js/experimental/src/experimental-list/stories/experimental-list.story.tsx
  packages/js/experimental/src/experimental-list/task-item/index.tsx
  packages/js/experimental/src/experimental-list/test/index.tsx
  packages/js/experimental/src/inbox-note/action.tsx
  packages/js/experimental/src/vertical-css-transition/stories/vertical-css-transition.story.tsx
  packages/js/experimental/src/vertical-css-transition/test/vertical-css-transition.tsx
  packages/js/experimental/src/vertical-css-transition/vertical-css-transition.tsx
  packages/js/experimental/tsconfig.json
  packages/js/experimental/typings/jest-dom.d.ts
Labels: type: task, package: @woocommerce/experimental, team: Kirigami & Origami

#54191 Add `dangerouslySetInnerHTML` ESLint comments to settings-payments components
  plugins/woocommerce/changelog/fix-eslint-dangerously-set-inner-html
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list-item/payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method-list-item/payment-method-list-item.tsx
Labels: plugin: woocommerce

#54150 [e2e] Audit tests that were skipped on WPCOM env
  plugins/woocommerce/changelog/54150-e2e-audit-wpcom-skipped
  plugins/woocommerce/tests/e2e-pw/tests/admin-marketing/coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-restricted-coupons.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-coupon.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/order-emails.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/page-loads.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/launch-your-store.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54126 [e2e] Audit tests that were skipped on Pressable env
  plugins/woocommerce/changelog/54126-e2e-audit-pressable-skipped
  plugins/woocommerce/tests/e2e-pw/tests/activate-and-setup/core-profiler.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/customer-list.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/wordpress-post.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54223 Prep release/9.5 for 9.5 cycle
  plugins/woocommerce/composer.json
  plugins/woocommerce/includes/class-woocommerce.php
  plugins/woocommerce/package.json
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53952 Set mailpoet 70%, klaviyo 30%
  plugins/woocommerce/changelog/update-obw-extension-changes
  plugins/woocommerce/src/Internal/Admin/RemoteFreeExtensions/DefaultFreeExtensions.php
Labels: plugin: woocommerce

#54229 Update stable tag in readme.txt for 9.5 release
  plugins/woocommerce/changelog/54229-release-9.5-update-stable
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#54193 Remove dangerouslySetInnerHTML usage in classic shortcode block
  plugins/woocommerce-blocks/assets/js/blocks/classic-shortcode/index.tsx
  plugins/woocommerce/changelog/fix-remove-html-usage-in-classic-shortcode
Labels: focus: checkout, plugin: woocommerce, team: Rubik

#53634 Fix issues on Data flow overview page on WC docs site
  docs/cart-and-checkout-blocks/overview-of-data-flow.md
  docs/docs-manifest.json
  plugins/woocommerce/changelog/fix-docs-headings
Labels: focus: documentation, plugin: woocommerce

#54136 Add selector for variable products in template
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/edit.tsx
  plugins/woocommerce/changelog/add-54135_selector_for_variable_product
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#54176 FlexSlider variable slider.transitions renamed to slider.transforms
  plugins/woocommerce/changelog/54176-flexrefactor
  plugins/woocommerce/client/legacy/js/flexslider/jquery.flexslider.js
Labels: plugin: woocommerce, type: community contribution

#54173 Revert Product Editor UI Polish from trunk
  plugins/woocommerce/client/legacy/Gruntfile.js
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/css/admin/product-editor.scss
  plugins/woocommerce/client/legacy/package.json
  plugins/woocommerce/tests/e2e-pw/tests/merchant/command-palette.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/product-linked-products.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/add-variable-product/update-variations.spec.js
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure, focus: e2e tests

#53961 Invalid type "number"
  plugins/woocommerce/changelog/53961-53960-number-invalid-type
  plugins/woocommerce/includes/admin/meta-boxes/views/html-product-attribute-inner.php
Labels: plugin: woocommerce, type: community contribution

#54230 Use decodeEntities() to render product name in Reviews blocks
  plugins/woocommerce-blocks/assets/js/base/components/read-more/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/reviews/review-list-item/index.tsx
  plugins/woocommerce/changelog/fix-review-product-name-decode-entities
Labels: team: Kirigami & Origami, block-type: reviews

#54202 Fix - Skip variations without prices during bulk price adjustments to prevent 500 error
  plugins/woocommerce/changelog/54202-54140-bulk-actions-to-update-prices-crash-if-any-variation-has-no-price
  plugins/woocommerce/includes/class-wc-ajax.php
Labels: type: bug, focus: product, plugin: woocommerce, focus: product management

#54252 [dev] git-hooks: prompt outdated composer version
  .github/workflows/pr-build-live-branch.yml
  .husky/post-checkout
Labels: focus: monorepo infrastructure

#54141 In-App marketplace - add events to better understand how the search is used
  plugins/woocommerce/changelog/54141-add-marketplace-search-events
  plugins/woocommerce/client/admin/client/marketplace/components/content/content.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/product-card/product-card.tsx
  plugins/woocommerce/client/admin/client/marketplace/components/search/search.tsx
Labels: plugin: woocommerce

#54242 Add the `downloadable` param to the list product variations endpoint
  plugins/woocommerce/changelog/54242-54235-add-downloadable-to-variations
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller-tests.php
Labels: plugin: woocommerce

#54122 Remove internal `createBlocksFromTemplate` function in favour of core's `createBlocksFromInnerBlocksTemplate`
  plugins/woocommerce-blocks/assets/js/atomic/utils/create-blocks-from-template.js
  plugins/woocommerce-blocks/assets/js/atomic/utils/index.js
  plugins/woocommerce-blocks/assets/js/blocks/single-product/edit/layout-editor.tsx
  plugins/woocommerce/changelog/fix-use-core-functions
Labels: type: technical debt, team: Kirigami & Origami, block: single product

#54023 Change WooPayments and WooPay logos in payment providers list
  packages/js/onboarding/changelog/54023-add-53437-rebrand-logos-payment-providers
  packages/js/onboarding/src/images/payment-methods/woopay.js
  plugins/woocommerce/assets/images/onboarding/icons/woo.svg
  plugins/woocommerce/changelog/54023-add-53437-rebrand-logos-payment-providers
Labels: plugin: woocommerce, package: @woocommerce/onboarding

#54262 Harden type in BlockRegistrationManager
  plugins/woocommerce-blocks/assets/js/atomic/utils/register-product-block-type.ts
  plugins/woocommerce/changelog/fix-block-registration-manager-harden-type
Labels: plugin: woocommerce, team: Kirigami & Origami

#53671 Accept an error message from payment methods or convert notices for failure only
  plugins/woocommerce/changelog/53671-add-errors-to-process-payments
  plugins/woocommerce/src/StoreApi/Legacy.php
Labels: type: enhancement, focus: checkout, plugin: woocommerce, team: Rubik

#54200 Use correct tax status when running recalc on admin
  plugins/woocommerce/changelog/54200-fix-recal-taxes-on-shipping
  plugins/woocommerce/includes/class-wc-order-item-shipping.php
  plugins/woocommerce/includes/data-stores/class-wc-order-item-shipping-data-store.php
Labels: type: bug, focus: checkout, plugin: woocommerce, team: Rubik

#54151 Update WC Blocks developer documentation menu titles and tags
  docs/cart-and-checkout-blocks/extensibility-getting-started.md
  docs/cart-and-checkout-blocks/faq.md
  docs/cart-and-checkout-blocks/removing-checkout-fields.md
  docs/docs-manifest.json
  plugins/woocommerce/changelog/fix-docs-titles
Labels: focus: documentation, plugin: woocommerce, team: Rubik

#53938 Introducing product status constants
  plugins/woocommerce/changelog/53938-dev-introducing-product-status-constants
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/admin/class-wc-admin-duplicate-product.php
  plugins/woocommerce/includes/admin/meta-boxes/class-wc-meta-box-product-data.php
  plugins/woocommerce/includes/class-wc-ajax.php
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/class-wc-post-data.php
  plugins/woocommerce/includes/class-wc-product-query.php
  plugins/woocommerce/includes/class-wc-product-variation.php
  plugins/woocommerce/includes/class-wc-shortcodes.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variable-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variation-data-store-cpt.php
  plugins/woocommerce/includes/export/class-wc-product-csv-exporter.php
  plugins/woocommerce/includes/import/abstract-wc-product-importer.php
  plugins/woocommerce/includes/import/class-wc-product-csv-importer.php
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-products-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-product-variations-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-products-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller.php
  plugins/woocommerce/includes/wc-product-functions.php
  plugins/woocommerce/src/Admin/API/OnboardingTasks.php
  plugins/woocommerce/src/Admin/API/ProductsLowInStock.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Products.php
  plugins/woocommerce/src/Admin/RemoteSpecs/RuleProcessors/ProductCountRuleProcessor.php
  plugins/woocommerce/src/Blocks/BlockTypes/FeaturedProduct.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductQuery.php
  plugins/woocommerce/src/Blocks/BlockTypes/RelatedProducts.php
  plugins/woocommerce/src/Enums/ProductStatus.php
  plugins/woocommerce/src/Internal/Admin/Notes/AddFirstProduct.php
  plugins/woocommerce/src/Internal/Admin/Notes/CustomizingProductCatalog.php
  plugins/woocommerce/src/Internal/Admin/Notes/FirstProduct.php
  plugins/woocommerce/src/StoreApi/Utilities/CartController.php
  plugins/woocommerce/src/StoreApi/Utilities/ProductQuery.php
  plugins/woocommerce/tests/legacy/unit-tests/admin/class-wc-tests-admin-duplicate-product.php
  plugins/woocommerce/tests/legacy/unit-tests/exporter/product.php
  plugins/woocommerce/tests/legacy/unit-tests/importer/product.php
  plugins/woocommerce/tests/legacy/unit-tests/product/data-store.php
  plugins/woocommerce/tests/legacy/unit-tests/product/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/products.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/products.php
  plugins/woocommerce/tests/legacy/unit-tests/shortcodes/products.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/onboarding-tasks.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/products-lowinstock.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/notes/class-wc-tests-customizing-product-catalog.php
  plugins/woocommerce/tests/php/includes/class-wc-products-tracking-test.php
  plugins/woocommerce/tests/php/includes/class-wc-shortcodes-test.php
  plugins/woocommerce/tests/php/includes/exporter/class-wc-product-csv-exporter-test.php
  plugins/woocommerce/tests/php/includes/importer/class-wc-product-csv-importer-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#54267 [dev] Merge 305 into release/9.5
  plugins/woocommerce/changelog/pr-54267
  plugins/woocommerce/includes/rest-api/Controllers/Version1/class-wc-rest-customers-v1-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-customers-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-product-variations-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-setting-options-v2-controller.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-controller.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/users-create.spec.js
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version1/class-wc-rest-customers-v1-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version2/class-wc-rest-customers-v2-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-customers-controller-tests.php
Labels: plugin: woocommerce, focus: e2e tests, cherry pick to trunk, cherry pick to frozen release

#54269 [dev] Merge 383 into release/9.5
  plugins/woocommerce/changelog/383-fix-limited-usage-coupons
  plugins/woocommerce/includes/class-wc-checkout.php
  plugins/woocommerce/includes/data-stores/class-wc-coupon-data-store-cpt.php
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/includes/wc-stock-functions.php
  plugins/woocommerce/src/StoreApi/Routes/V1/Checkout.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
Labels: plugin: woocommerce, cherry pick to trunk, cherry pick to frozen release

#54284 Adjust changelog
  plugins/woocommerce/changelog/383-fix-limited-usage-coupons
  plugins/woocommerce/changelog/pr-54267
Labels: plugin: woocommerce

#53703 [dev] Remove the unnecessary dependency for validate changelog and markdown jobs
  .github/workflows/ci.yml
Labels: focus: monorepo infrastructure

#54197 Fix TS issues within components package
  packages/js/components/changelog/fix-54159_components_type_issues
  packages/js/components/src/date-time-picker-control/date-time-picker-control.tsx
  packages/js/components/src/date-time-picker-control/test/index.tsx
  packages/js/components/src/dynamic-form/types.ts
  packages/js/components/src/ellipsis-menu/index.tsx
  packages/js/components/src/ellipsis-menu/menu-item.tsx
  packages/js/components/src/experimental-select-control/combo-box.tsx
  packages/js/components/src/experimental-select-control/menu.tsx
  packages/js/components/src/experimental-select-control/types.ts
  packages/js/components/src/experimental-select-tree-control/select-tree-menu.tsx
  packages/js/components/src/experimental-select-tree-control/select-tree.tsx
  packages/js/components/src/form-section/form-section.tsx
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/test/index.tsx
  packages/js/components/src/image-gallery/image-gallery-toolbar-dropdown.tsx
  packages/js/components/src/image-gallery/image-gallery-toolbar.tsx
  packages/js/components/src/media-uploader/media-uploader.tsx
  packages/js/components/src/pagination/page-size-picker.tsx
  packages/js/components/src/plugins/index.tsx
  packages/js/components/src/product-fields/api/render.tsx
  packages/js/components/src/product-fields/fields/basic-select-control/render.tsx
  packages/js/components/src/product-fields/fields/checkbox/render.tsx
  packages/js/components/src/rich-text-editor/rich-text-editor.tsx
  packages/js/components/src/search/index.tsx
  packages/js/components/src/section/section.tsx
  packages/js/components/src/select-control/control.tsx
  packages/js/components/src/select-control/index.tsx
  packages/js/components/src/select-control/test/index.tsx
  packages/js/components/src/select-control/types.ts
  packages/js/components/src/slot-context/slot-context.tsx
  packages/js/components/src/table/index.tsx
  packages/js/components/src/tag/index.tsx
  packages/js/components/src/tooltip/tooltip.tsx
  packages/js/components/src/tour-kit/components/step-controls.tsx
  packages/js/components/src/utils.tsx
  packages/js/components/tsconfig.json
Labels: package: @woocommerce/components, team: Kirigami & Origami

#53583 Customer account and Mini Cart blocks icon size
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/editor.scss
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/sidebar-settings.tsx
  plugins/woocommerce-blocks/assets/js/blocks/customer-account/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/mini-cart/style.scss
  plugins/woocommerce-blocks/assets/js/icons/library/customer-account-style-alt.tsx
  plugins/woocommerce-blocks/assets/js/icons/library/customer-account-style-line.tsx
  plugins/woocommerce-blocks/assets/js/icons/library/customer-account-style.tsx
  plugins/woocommerce/changelog/fix-52627
  plugins/woocommerce/src/Blocks/BlockTypes/CustomerAccount.php
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: priority: high, plugin: woocommerce, team: Kirigami & Origami, block: mini-cart, block: customer account

#54165 Updates to `@woocommerce/extend-cart-checkout-block`
  packages/js/extend-cart-checkout-block/changelog/fix-extend-cart-checkout-block
  packages/js/extend-cart-checkout-block/src/css/_colors.scss.mustache
  packages/js/extend-cart-checkout-block/webpack.config.js.mustache
Labels: package: @woocommerce/extend-cart-checkout-block

#54297 Update stable tag to 9.5.2
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce

#54281 [dev] CI: disable pr-assess-bundle-size workflow for draft PRs.
  .github/workflows/pr-assess-bundle-size.yml
Labels: focus: monorepo infrastructure

#54199 Product Editor: fix product-fields folder TS errors
  packages/js/product-editor/src/blocks/product-fields/description/components/with-full-editor-toolbar-button.tsx
  packages/js/product-editor/src/blocks/product-fields/downloads/edit-downloads-modal/edit-downloads-modal.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-quantity/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/notice-edit-single-variation/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/hooks/use-currency-input-props.ts
Labels: type: task, team: Kirigami & Origami

#54245 Add the `virtual` param to the product variations endpoint
  plugins/woocommerce/changelog/54245-54235-add-virtual-to-variations
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller-tests.php
Labels: plugin: woocommerce

#54260 Fix "Go to the Editor" CYS button
  plugins/woocommerce/changelog/fix-53866-cfe
  plugins/woocommerce/client/admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/intro.spec.js
Labels: plugin: woocommerce, focus: e2e tests, cherry pick to trunk

#54249 [Block Checkout] Hide shipping toggle when only local pickup methods exist
  plugins/woocommerce-blocks/assets/js/blocks/cart-checkout-shared/payment-methods/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/block.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-pickup-options-block/style.scss
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-shipping-method-block/frontend.tsx
  plugins/woocommerce-blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-48509-shipping-and-local-pickup-display
  plugins/woocommerce/includes/class-wc-cart.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
  plugins/woocommerce/tests/php/includes/class-wc-cart-totals-test.php
  plugins/woocommerce/tests/php/includes/wc-order-functions-test.php
  plugins/woocommerce/tests/php/includes/wc-stock-functions-tests.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/MiniCart.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/ControllerTestCase.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Utilities/CartControllerTests.php
  plugins/woocommerce/tests/php/src/Internal/DataStores/Orders/OrdersTableDataStoreTests.php
Labels: focus: checkout, plugin: woocommerce

#54247 Fix product-image border for images without "alt"
  plugins/woocommerce/changelog/fix-54171_product_image_border_alt
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
Labels: plugin: woocommerce, team: Kirigami & Origami, block: product image, cherry pick to trunk

#54318 Fix fatal caused by undefined variable in checkout block when accessing editor
  plugins/woocommerce/changelog/fix-pickup-ids-block-error
  plugins/woocommerce/src/Blocks/BlockTypes/Checkout.php
Labels: plugin: woocommerce

#54224 Product Editor: fix variation-table folder TS errors
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/downloads-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/image-actions-menu/image-actions-menu.tsx
  packages/js/product-editor/src/components/variations-table/image-actions-menu/types.ts
  packages/js/product-editor/src/components/variations-table/inventory-menu-item/inventory-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/pricing-menu-item/pricing-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/shipping-menu-item/shipping-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/types.ts
  packages/js/product-editor/src/components/variations-table/use-variations/use-variations.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/types.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/variation-actions.tsx
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/variation-quick-update-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/variation-stock-status-form.tsx
  packages/js/product-editor/src/components/variations-table/variations-filter/variations-filter.tsx
  packages/js/product-editor/src/components/variations-table/variations-table.tsx
Labels: type: task, team: Kirigami & Origami

#54339 Fix duplicate ref imports
  packages/js/product-editor/changelog/54339-react-18-product-editor-duplicate-ref
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
Labels: team: Kirigami & Origami

#54226 Product Editor: fix iframe editor folder TS errors
  packages/js/product-editor/src/components/header/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/header-toolbar.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/plugin-more-menu-item/plugin-more-menu-item.tsx
  packages/js/product-editor/src/components/iframe-editor/iframe-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/resizable-editor.tsx
  packages/js/product-editor/src/components/iframe-editor/secondary-sidebar/inserter-sidebar.tsx
  packages/js/product-editor/src/components/more-menu-dropdown/index.tsx
Labels: type: task, team: Kirigami & Origami

#54234 Product Editor: fix header folder TS errors
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/components/header/header.tsx
  packages/js/product-editor/src/components/header/hooks/use-preview/use-preview.tsx
  packages/js/product-editor/src/components/header/hooks/use-publish/use-publish.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/plugin-header-items/plugin-header-item-popover.tsx
  packages/js/product-editor/src/components/header/plugin-header-items/types.tsx
  packages/js/product-editor/src/components/header/preview-button/types.ts
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/header/publish-button/types.ts
  packages/js/product-editor/src/components/header/save-draft-button/types.ts
  packages/js/product-editor/src/components/header/woo-more-menu-item/woo-more-menu-item.tsx
  packages/js/product-editor/src/components/iframe-editor/header-toolbar/more-menu/more-menu.tsx
  packages/js/product-editor/src/components/iframe-editor/secondary-sidebar/inserter-sidebar.tsx
  packages/js/product-editor/src/components/variations-table/downloads-menu-item/downloads-menu-item.tsx
  packages/js/product-editor/src/components/variations-table/image-actions-menu/image-actions-menu.tsx
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/types.ts
  packages/js/product-editor/src/components/variations-table/variation-actions-menus/variation-actions.tsx
  packages/js/product-editor/src/components/variations-table/variation-stock-status-form/variation-stock-status-form.tsx
  packages/js/product-editor/src/components/variations-table/variations-filter/variations-filter.tsx
Labels: type: task, team: Kirigami & Origami

#54243 Product Editor: fix products app folder TS errors
  packages/js/product-editor/src/products-app/product-edit/index.tsx
  packages/js/product-editor/src/products-app/router.tsx
  packages/js/product-editor/src/products-app/sidebar-dataviews/dataview-item.tsx
  packages/js/product-editor/src/products-app/sidebar-navigation-item/index.tsx
  packages/js/product-editor/src/products-app/sidebar-navigation-screen/index.tsx
  packages/js/product-editor/src/products.tsx
Labels: type: task, team: Kirigami & Origami

#54248 Product Editor: fix hooks and utils folder TS errors
  packages/js/product-editor/src/hooks/use-metabox-hidden-product/use-metabox-hidden-product.ts
  packages/js/product-editor/src/hooks/use-product-manager/use-product-manager.ts
  packages/js/product-editor/src/hooks/use-product-variations-helper.ts
  packages/js/product-editor/src/utils/create-ordered-children.tsx
  packages/js/product-editor/src/utils/get-related-products/index.ts
  packages/js/product-editor/src/wp-hooks/hide-inventory-advanced-collapsible.tsx
Labels: type: task, team: Kirigami & Origami

#54256 Use product name as image "alt" text in editor
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/image/block.tsx
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/image/test/block.test.tsx
  plugins/woocommerce/changelog/dev-54254_use_same_alt_pattern_for_placeholder
Labels: type: enhancement, plugin: woocommerce, team: Kirigami & Origami, block: product image

#54314 [e2e tests] Remove unused utils (migrated to e2e-utils-playwright package)
  plugins/woocommerce/changelog/e2e-clean-up-utils
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-cart-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-checkout-block.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-page.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-post.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-blocks.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/create-woocommerce-patterns.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/create-simple-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/cart.js
  plugins/woocommerce/tests/e2e-pw/utils/checkout.js
  plugins/woocommerce/tests/e2e-pw/utils/editor.js
  plugins/woocommerce/tests/e2e-pw/utils/order.js
Labels: plugin: woocommerce, focus: e2e tests

#54327 [e2e tests] Remove redundant test for product filter by price
  plugins/woocommerce/changelog/e2e-remove-redundant-test-product-filter
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-products-filter-by-price.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54316 CFE cherry pick: Fix "Go to the Editor" CYS button (#54260)
  plugins/woocommerce/changelog/fix-53866-cfe
  plugins/woocommerce/client/admin/client/customize-store/intro/intro-banners.tsx
  plugins/woocommerce/tests/e2e-pw/tests/customize-store/intro.spec.js
Labels: plugin: woocommerce, focus: e2e tests

#54313 Improve the copy of the snack bar when one plugin is installed/activated
  packages/js/data/changelog/54313-fix-plural-for-notice-message
  packages/js/data/src/plugins/actions.ts
  packages/js/data/src/plugins/types.ts
  plugins/woocommerce/changelog/54313-fix-plural-for-notice-message
  plugins/woocommerce/src/Admin/API/Plugins.php
Labels: plugin: woocommerce, package: @woocommerce/data

#54308 [dev] Monorepo: live branches build jobs tweaks
  .github/workflows/build-live-branch.yml
  .github/workflows/pr-assess-bundle-size.yml
  .github/workflows/pr-build-live-branch.yml
  plugins/woocommerce/bin/build-zip.sh
  plugins/woocommerce/changelog/dev-build-live-branch-jobs-tweaks
Labels: plugin: woocommerce, focus: monorepo infrastructure

#54324 Product Summary: Sanitize HTML
  plugins/woocommerce-blocks/assets/js/base/components/summary/index.tsx
  plugins/woocommerce/changelog/update-product-summary-html-sanitise
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSummary.php
Labels: plugin: woocommerce, cherry pick to trunk

#54129 Fix TS errors in `plugins/woocommerce/client/admin/client/products/`
  packages/js/components/changelog/fix-54123
  packages/js/components/src/utils.tsx
  packages/js/product-editor/changelog/fix-54123
  packages/js/product-editor/src/components/header/woo-more-menu-item/woo-more-menu-item.tsx
  plugins/woocommerce/changelog/fix-54123
  plugins/woocommerce/client/admin/client/products/fills/more-menu-items/classic-editor-menu-item.tsx
  plugins/woocommerce/client/admin/client/products/fills/more-menu-items/delete-variation-menu-item.tsx
  plugins/woocommerce/client/admin/client/products/fills/product-block-editor-fills.tsx
  plugins/woocommerce/client/admin/client/products/hooks/use-product-entity-record.ts
  plugins/woocommerce/client/admin/client/products/hooks/use-product-variation-entity-record.ts
  plugins/woocommerce/client/admin/client/products/product-page.tsx
  plugins/woocommerce/client/admin/client/products/product-variation-page.tsx
  plugins/woocommerce/client/admin/client/products/tour/block-editor/use-block-editor-tour-options.ts
  plugins/woocommerce/client/admin/client/products/tour/block-editor/use-published-products-count.tsx
Labels: plugin: woocommerce, package: @woocommerce/components

#54317 Decode error messages caused by the Add to Cart button block
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/button/frontend.tsx
  plugins/woocommerce/changelog/fix-product-button-decore-errors
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart

#54255 Product Editor: fix attribute-combobox-field, attribute-control and attribute-term-input-field folder TS errors
  packages/js/product-editor/src/components/attribute-combobox-field/index.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-table-row.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/attribute-term-input-field.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/create-attribute-term-modal.tsx
  packages/js/product-editor/src/components/attribute-term-input-field/custom-attribute-term-input-field.tsx
Labels: type: task, team: Kirigami & Origami

#54312 Product Editor: fix remaining TS errors
  packages/js/components/src/form/form-context.ts
  packages/js/components/src/form/form.tsx
  packages/js/components/src/form/index.ts
  packages/js/components/src/form/types.ts
  packages/js/product-editor/src/blocks/product-fields/description/components/full-editor-toolbar-button.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-email/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/inventory-sku/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/name/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/product-details-section-description/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/regular-price/edit.tsx
  packages/js/product-editor/src/blocks/product-fields/sale-price/edit.tsx
  packages/js/product-editor/src/components/add-new-shipping-class-modal/add-new-shipping-class-modal.tsx
  packages/js/product-editor/src/components/attribute-combobox-field/index.tsx
  packages/js/product-editor/src/components/attribute-control/attribute-table-row.tsx
  packages/js/product-editor/src/components/attribute-control/new-attribute-modal.tsx
  packages/js/product-editor/src/components/attribute-control/types.ts
  packages/js/product-editor/src/components/block-editor/block-editor.tsx
  packages/js/product-editor/src/components/block-icon/block-icon.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/index.tsx
  packages/js/product-editor/src/components/button-with-dropdown-menu/types.ts
  packages/js/product-editor/src/components/combobox-control/types.ts
  packages/js/product-editor/src/components/custom-fields/create-modal/create-modal.tsx
  packages/js/product-editor/src/components/custom-fields/custom-field-name-control/custom-field-name-control.tsx
  packages/js/product-editor/src/components/custom-fields/edit-modal/edit-modal.tsx
  packages/js/product-editor/src/components/details-feature-field/details-feature-field.tsx
  packages/js/product-editor/src/components/header/hooks/use-save-draft/use-save-draft.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button-menu/publish-button-menu.tsx
  packages/js/product-editor/src/components/header/publish-button/publish-button.tsx
  packages/js/product-editor/src/components/menu-items/media-library-menu-item/media-library-menu-item.tsx
  packages/js/product-editor/src/components/menu-items/media-library-menu-item/types.ts
  packages/js/product-editor/src/components/menu-items/upload-files-menu-item/types.ts
  packages/js/product-editor/src/components/prepublish-panel/schedule-section/schedule-section.tsx
  packages/js/product-editor/src/components/product-list/product-list.tsx
  packages/js/product-editor/src/components/product-mvp-feedback-modal/product-mvp-feedback-modal.tsx
  packages/js/product-editor/src/components/product-section-layout/product-field-section.tsx
  packages/js/product-editor/src/components/product-section-layout/product-section-layout.tsx
  packages/js/product-editor/src/components/radio-field/radio-field.tsx
  packages/js/product-editor/src/components/radio-field/types.ts
  packages/js/product-editor/src/components/remove-confirmation-modal/remove-confirmation-modal.tsx
  packages/js/product-editor/src/components/require-password/require-password.tsx
  packages/js/product-editor/src/components/schedule-publish-modal/schedule-publish-modal.tsx
  packages/js/product-editor/src/components/tabs/tabs.tsx
  packages/js/product-editor/src/components/text-control/text-control.tsx
  packages/js/product-editor/src/components/text-control/types.ts
  packages/js/product-editor/src/components/variation-switcher-footer/variation-switcher-footer.tsx
  packages/js/product-editor/src/components/variations-table/variations-filter/variations-filter.tsx
  packages/js/product-editor/src/components/woo-product-field-item/woo-product-field-item.tsx
  packages/js/product-editor/src/components/woo-product-section-item/woo-product-section-item.tsx
  packages/js/product-editor/src/components/woo-product-tab-item/woo-product-tab-item.tsx
  packages/js/product-editor/src/hooks/use-number-input-props.ts
  packages/js/product-editor/src/products-app/product-edit/index.tsx
  packages/js/product-editor/src/products-app/router.tsx
Labels: package: @woocommerce/components, team: Kirigami & Origami

#54288 Disable the Store Notice when switching to a block theme
  plugins/woocommerce/changelog/fix-54237-disable-store-notice-switch-block-theme
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/includes/wc-template-hooks.php
  plugins/woocommerce/tests/php/src/Database/StoreNoticeOnThemeSwitch.php
Labels: plugin: woocommerce, team: Kirigami & Origami

#54347 Add event tracking to blockified Add to Cart experience type selector
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/components/toolbar-type-product-selector-group/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/plugins/index.tsx
  plugins/woocommerce/changelog/add-53101_event_tracking_to_type_selector
Labels: plugin: woocommerce, team: Kirigami & Origami, block: add to cart form

#54246 Add new `include_status` and `exclude_status` filter on the products variations endpoint
  plugins/woocommerce/changelog/54246-54235-add-include_exclude_status-to-variations
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller-tests.php
Labels: plugin: woocommerce

#54266 Enhancement: Improve UX by showing price validation warnings before bulk updates for variations
  plugins/woocommerce/changelog/54266-enhance-bulk-price-validation-warning
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-product-variation.js
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
Labels: type: enhancement, plugin: woocommerce, focus: product management, team: Kirigami & Origami

#54138 Connect theme to WCCOM after auto-install step
  plugins/woocommerce/changelog/54138-connect-theme-auto-install
  plugins/woocommerce/includes/admin/helper/class-wc-helper.php
  plugins/woocommerce/includes/wccom-site/installation/installation-steps/class-wc-wccom-site-installation-step-move-product.php
Labels: plugin: woocommerce

#53909 [Settings] Register and render internal slotFill
  packages/js/settings-editor/changelog/53909-add-settings-internal-slotFill
  packages/js/settings-editor/src/index.tsx
  packages/js/settings-editor/src/legacy/content.tsx
  plugins/woocommerce/changelog/53909-add-settings-internal-slotFill
  plugins/woocommerce/client/admin/client/settings/index.js
Labels: plugin: woocommerce

#53705 [dev] Remove trunk branch restriction from the old pick flow
  .github/workflows/cherry-pick.yml
Labels: focus: monorepo infrastructure, cherry pick to trunk, cherry pick to frozen release

#54390 Revert #51185
  plugins/woocommerce/changelog/revert-51185
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-order.js
  plugins/woocommerce/readme.txt
Labels: plugin: woocommerce, cherry pick to trunk

#54263 [Payments NOX] Add missing code comments for client part
  plugins/woocommerce/changelog/54263-tweak-54220-payments-nox-client-js-docs
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/activate-payments-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/back-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/complete-setup-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/enable-gateway-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/settings-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/country-selector.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu-content.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/ellipsis-menu-content/ellipsis-menu.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/grid-item-placeholder/grid-item-placeholder.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-banner/incentive-banner.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/incentive-modal/incentive-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/list-placeholder/list-placeholder.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/modals.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-reset-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-gateway-list-item/offline-payment-gateway-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/offline-payment-gateways/offline-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/other-payment-gateways/other-payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-extension-suggestion-list-item/payment-extension-suggestion-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateway-list/payment-gateway-list.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-gateways/payment-gateways.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method-list-item/payment-method-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/sortable/sortable-container.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/sortable/sortable-drag-handle.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/sortable/sortable-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/status-badge/status-badge.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
  plugins/woocommerce/client/admin/client/settings-payments/utils.ts
Labels: plugin: woocommerce

#54348 Client Payments Settings: fix TS errors
  packages/js/data/changelog/54348-fix-ts-errors-pluginswoocommerceclientadminclientsettingspayments
  packages/js/data/src/index.ts
  plugins/woocommerce/changelog/54348-fix-ts-errors-pluginswoocommerceclientadminclientsettingspayments
  plugins/woocommerce/client/admin/client/settings-payments/components/country-selector/country-selector.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/payment-method-list-item/payment-method-list-item.tsx
  plugins/woocommerce/client/admin/client/settings-payments/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-methods.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-offline.tsx
Labels: plugin: woocommerce, package: @woocommerce/data

#54405 Revert #51185 - trunk version
  plugins/woocommerce/changelog/revert-51185
  plugins/woocommerce/client/legacy/js/admin/meta-boxes-order.js
Labels: plugin: woocommerce

#54320 Revert "Clear" Button from <button> to <a> Tag for Improved Theme Compatibility while maintaining accessibility improvements #54309
  plugins/woocommerce/changelog/54320-fix-revert-clear-button-to-link-with-a11y-2
  plugins/woocommerce/client/legacy/css/twenty-twenty-one.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-two.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty.scss
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/client/legacy/js/frontend/add-to-cart-variation.js
  plugins/woocommerce/templates/single-product/add-to-cart/variable.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/product-variable.spec.js
Labels: plugin: woocommerce, focus: e2e tests, cherry pick to trunk

#54094 Removed IN country code from get_vat_country_list
  plugins/woocommerce/changelog/54094-trunk
  plugins/woocommerce/includes/class-wc-countries.php
  plugins/woocommerce/tests/legacy/unit-tests/countries/countries.php
Labels: plugin: woocommerce, type: community contribution

#54365 [Flaky Test] Enable company field
  plugins/woocommerce-blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce/changelog/fix-flakey-test-48184
Labels: focus: checkout, plugin: woocommerce

#54340 Fix cart and checkout page detection logic for edge cases
  plugins/woocommerce/changelog/fix-53592-cart-shortcode-detection
  plugins/woocommerce/includes/admin/views/html-admin-page-status-report.php
  plugins/woocommerce/includes/rest-api/Controllers/Version2/class-wc-rest-system-status-v2-controller.php
  plugins/woocommerce/includes/wc-conditional-functions.php
  plugins/woocommerce/includes/wc-core-functions.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/src/Blocks/Utils/CartCheckoutUtils.php
Labels: focus: cart, focus: checkout, focus: system status report, plugin: woocommerce

#53494 [Accessibility] Missing status message on Cart and Checkout
  plugins/woocommerce-blocks/assets/js/base/components/cart-checkout/shipping-rates-control/index.tsx
  plugins/woocommerce/changelog/fix-51902
  plugins/woocommerce/client/legacy/js/frontend/cart.js
  plugins/woocommerce/client/legacy/js/frontend/woocommerce.js
Labels: plugin: woocommerce, type: community contribution

#52272 [Accessibility] Make shipping address form labels visible on legacy Cart
  plugins/woocommerce/changelog/fix-51900
  plugins/woocommerce/templates/cart/shipping-calculator.php
Labels: plugin: woocommerce, type: community contribution

#54418 Reverting ProductStatus constants in rest API due class not being loaded
  plugins/woocommerce/changelog/54418-fix-revert-product-status-constant-usage-due-class-not-being-loaded
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller.php
Labels: plugin: woocommerce

#53941 Introducing payment method constants
  plugins/woocommerce/changelog/53941-dev-introducing-payment-method-constants
  plugins/woocommerce/includes/abstracts/abstract-wc-payment-gateway.php
  plugins/woocommerce/includes/admin/class-wc-admin-setup-wizard.php
  plugins/woocommerce/includes/gateways/bacs/class-wc-gateway-bacs.php
  plugins/woocommerce/includes/gateways/cheque/class-wc-gateway-cheque.php
  plugins/woocommerce/includes/gateways/cod/class-wc-gateway-cod.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/WooCommercePayments.php
  plugins/woocommerce/src/Admin/Features/PaymentGatewaySuggestions/DefaultPaymentGateways.php
  plugins/woocommerce/src/Admin/PageController.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/BankTransfer.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/CashOnDelivery.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/Cheque.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/PayPal.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentProviders/WCCore.php
  plugins/woocommerce/src/Internal/Orders/IppFunctions.php
  plugins/woocommerce/tests/legacy/framework/helpers/class-wc-helper-order.php
  plugins/woocommerce/tests/legacy/unit-tests/account/functions.php
  plugins/woocommerce/tests/legacy/unit-tests/checkout/checkout.php
  plugins/woocommerce/tests/legacy/unit-tests/gateways/gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/gateways/paypal/request.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-crud-orders.php
  plugins/woocommerce/tests/legacy/unit-tests/order/class-wc-tests-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-gateways/cod.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-gateways/payment-gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-tokens/payment-token.php
  plugins/woocommerce/tests/legacy/unit-tests/payment-tokens/payment-tokens.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Helpers/OrderHelper.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/orders.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version2/payment-gateways.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/orders.php
  plugins/woocommerce/tests/legacy/unit-tests/rest-api/Tests/Version3/payment-gateways.php
  plugins/woocommerce/tests/php/includes/class-wc-checkout-test.php
  plugins/woocommerce/tests/php/includes/class-wc-tracker-test.php
  plugins/woocommerce/tests/php/includes/gateways/paypal/class-wc-gateway-paypal-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-orders-controller-tests.php
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-payment-gateways-test.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/OrderConfirmation/Totals.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/AdditionalFields.php
  plugins/woocommerce/tests/php/src/Blocks/StoreApi/Routes/Checkout.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentProviders/WCCoreTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentProvidersTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerIntegrationTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsRestControllerTest.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/IppFunctionsTest.php
  plugins/woocommerce/tests/php/src/Internal/Orders/MobileMessagingHandlerTest.php
Labels: plugin: woocommerce

#53070 fix: update clear button block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/clear-button/block.json
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterClearButton.php
Labels: plugin: woocommerce

#53029 feat: update active filters block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/block.json
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/active-filters/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/removable-chips/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterActive.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRemovableChips.php
Labels: plugin: woocommerce

#54410 Summary component: add `class` to allowed properties
  plugins/woocommerce-blocks/assets/js/base/components/summary/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/__snapshots__/index.tsx.snap
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/utils.js
  plugins/woocommerce/changelog/cfe-summary-allowed-class
Labels: plugin: woocommerce, team: Kirigami & Origami

#54112 [Settings] Load external scripts
  plugins/woocommerce/changelog/54112-update-settings-external-scripts
  plugins/woocommerce/client/admin/client/settings/index.js
  plugins/woocommerce/src/Admin/Features/Settings/Init.php
Labels: plugin: woocommerce

#54346 [dev] Bump Playwright to version 1.49.1
  .github/workflows/scripts/run-metrics.sh
  .syncpackrc
  plugins/woocommerce-blocks/package.json
  plugins/woocommerce/changelog/e2e-bump-plwaywright-to-1.49.1
  plugins/woocommerce/package.json
  pnpm-lock.yaml
Labels: plugin: woocommerce, focus: monorepo infrastructure

#53713 [Accessibility] Add price slider min and max labels
  plugins/woocommerce-blocks/assets/js/base/components/price-slider/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/price-slider/style.scss
  plugins/woocommerce/changelog/fix-52129
Labels: plugin: woocommerce, type: community contribution

#54450 Cherry-pick #54410 into trunk
  plugins/woocommerce-blocks/assets/js/base/components/summary/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/__snapshots__/index.tsx.snap
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/index.tsx
  plugins/woocommerce-blocks/assets/js/base/components/summary/test/utils.js
  plugins/woocommerce/changelog/cfe-summary-allowed-class
Labels: plugin: woocommerce

#53018 [Accessibility] Make the rating stars accessible
  plugins/woocommerce/changelog/fix-51918
  plugins/woocommerce/client/legacy/css/woocommerce.scss
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/templates/single-product-reviews.php
Labels: plugin: woocommerce, type: community contribution

#52825 [Accessibility] Add aria attributes for comments reply span title
  plugins/woocommerce/changelog/fix-51905
  plugins/woocommerce/templates/single-product-reviews.php
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/linked-product-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/merchant/products/block-editor/organization-tab-product-block-editor.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/shop-search-browse-sort.spec.js
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#54378 Change the Woo logo in old WooCommerce.com connection page and API auth page
  plugins/woocommerce/assets/images/woo-logo.svg
  plugins/woocommerce/assets/images/woocommerce_logo.svg
  plugins/woocommerce/changelog/update-wccom-9759-connection-banner
  plugins/woocommerce/client/legacy/css/auth.scss
  plugins/woocommerce/includes/admin/helper/views/html-oauth-start.php
  plugins/woocommerce/templates/auth/header.php
Labels: plugin: woocommerce, cherry pick to trunk

#54289 Client Payments: fix TS errors
  packages/js/data/changelog/54289-fix-ts-errors-pluginswoocommerceclientadminclientpayments
  packages/js/data/src/index.ts
  plugins/woocommerce/changelog/54289-fix-ts-errors-pluginswoocommerceclientadminclientpayments
  plugins/woocommerce/client/admin/client/payments-welcome/apms.tsx
  plugins/woocommerce/client/admin/client/payments-welcome/exit-survey-modal.tsx
  plugins/woocommerce/client/admin/client/payments-welcome/index.tsx
  plugins/woocommerce/client/admin/client/payments/payment-recommendations.tsx
  plugins/woocommerce/client/admin/client/payments/use-payments-banner.ts
  plugins/woocommerce/client/admin/client/settings-recommendations/recommendations-eligibility-wrapper.tsx
Labels: plugin: woocommerce, package: @woocommerce/data

#54424 Add Payments menu notification badge only for active incentives
  plugins/woocommerce/changelog/update-53954-payments-menu-notification-badge
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.tsx
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsController.php
  plugins/woocommerce/src/Internal/Admin/WcPayWelcomePage.php
Labels: plugin: woocommerce

#54331 Prepare WC Blocks data stores for TypeScript fixes
  plugins/woocommerce-blocks/assets/js/data/cart/actions.ts
  plugins/woocommerce-blocks/assets/js/data/cart/index.ts
  plugins/woocommerce-blocks/assets/js/data/cart/thunks.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/actions.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/index.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/thunks.ts
  plugins/woocommerce-blocks/assets/js/data/checkout/utils.ts
  plugins/woocommerce-blocks/assets/js/data/collections/index.js
  plugins/woocommerce-blocks/assets/js/data/index.ts
  plugins/woocommerce-blocks/assets/js/data/mapped-types.ts
  plugins/woocommerce-blocks/assets/js/data/payment/actions.ts
  plugins/woocommerce-blocks/assets/js/data/payment/index.ts
  plugins/woocommerce-blocks/assets/js/data/payment/thunks.ts
  plugins/woocommerce-blocks/assets/js/data/query-state/index.js
  plugins/woocommerce-blocks/assets/js/data/schema/index.js
  plugins/woocommerce-blocks/assets/js/data/store-notices/index.ts
  plugins/woocommerce-blocks/assets/js/data/validation/actions.ts
  plugins/woocommerce-blocks/assets/js/data/validation/index.ts
  plugins/woocommerce-blocks/assets/js/data/validation/reducers.ts
  plugins/woocommerce-blocks/assets/js/data/validation/test/reducers.ts
  plugins/woocommerce-blocks/docs/third-party-developers/extensibility/data-store/README.md
  plugins/woocommerce-blocks/tsconfig.base.json
  plugins/woocommerce/changelog/fix-data-store-types-2
Labels: plugin: woocommerce

#54463 Prep release/9.6 for 9.6 cycle
  plugins/woocommerce/woocommerce.php
Labels: plugin: woocommerce

#54228 Fix TS warnings after React upgrade in client/settings-email/
  plugins/woocommerce/changelog/54228-53939-client-settings-email-typescript-errors
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-type.tsx
Labels: plugin: woocommerce

#54408 Fix console warnings in the block editor relating to C&C Blocks
  plugins/woocommerce-blocks/assets/js/base/context/hooks/cart/test/use-store-cart.jsx
  plugins/woocommerce-blocks/assets/js/base/context/hooks/cart/use-store-cart.ts
  plugins/woocommerce-blocks/assets/js/base/context/providers/cart-checkout/checkout-events/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/checkout/inner-blocks/checkout-payment-block/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/classic-template/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/block.json
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/order-confirmation/create-account/index.tsx
  plugins/woocommerce-blocks/assets/js/templates/revert-button/index.tsx
  plugins/woocommerce-blocks/assets/js/types/type-defs/hooks.ts
  plugins/woocommerce/changelog/fix-53849-editor-warnings
Labels: focus: checkout, plugin: woocommerce

#54244 Improved robustness and security of email settings and preview
  plugins/woocommerce/changelog/email-preview-robustness
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-header.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-iframe.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-nonce.tsx
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-send.tsx
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreviewRestController.php
  plugins/woocommerce/src/Internal/Admin/Settings.php
  plugins/woocommerce/tests/php/src/Internal/Admin/EmailPreview/EmailPreviewRestControllerTest.php
Labels: plugin: woocommerce

#54342 [e2e tests] Clean up devices in Playwright configs
  plugins/woocommerce/changelog/e2e-clean-pw-devices-config
  plugins/woocommerce/tests/e2e-pw/envs/default-pressable/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/envs/default-wpcom/playwright.config.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests

#53094 feat: update price filter block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-filter/frontend.ts
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/price-slider/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterPriceSlider.php
Labels: plugin: woocommerce

#53095 feat: update status filter block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/status-filter/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterStatus.php
Labels: plugin: woocommerce

#53096 feat: update rating filters block
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/edit.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-filters/inner-blocks/rating-filter/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterRating.php
Labels: plugin: woocommerce

#54404 Add a popover to WooPayments to present all possible payment methods
  packages/js/onboarding/changelog/54404-add-tooltip-for-payment-methods
  packages/js/onboarding/src/components/WooPaymentsMethodsLogos/PaymentMethodsLogos.scss
  packages/js/onboarding/src/components/WooPaymentsMethodsLogos/index.tsx
  packages/js/onboarding/src/images/cards/amex.js
  packages/js/onboarding/src/images/cards/cb.js
  packages/js/onboarding/src/images/cards/diners.js
  packages/js/onboarding/src/images/cards/eftpos.js
  packages/js/onboarding/src/images/cards/jcb.js
  packages/js/onboarding/src/images/cards/unionpay.js
  packages/js/onboarding/src/images/payment-methods/afterpay.js
  packages/js/onboarding/src/images/payment-methods/bancontact.js
  packages/js/onboarding/src/images/payment-methods/becs.js
  packages/js/onboarding/src/images/payment-methods/eps.js
  packages/js/onboarding/src/images/payment-methods/ideal.js
  packages/js/onboarding/src/images/payment-methods/klarna.js
  packages/js/onboarding/src/images/payment-methods/przelewy24.js
  packages/js/onboarding/src/images/payment-methods/woopay.js
Labels: package: @woocommerce/onboarding

#54470 Check if the product var is an actual WC_Product to prevent fatal errors
  plugins/woocommerce/changelog/54470-53082-prevent-fatal
  plugins/woocommerce/includes/wc-product-functions.php
Labels: plugin: woocommerce

#54482 [dev] GitHub: new template for performance issues.
  .github/ISSUE_TEMPLATE/3-performance-issue-report.yml
Labels: focus: monorepo infrastructure

#54524 [dev] CI: update team assignment config
  .github/automate-team-review-assignment-config.yml
Labels: focus: monorepo infrastructure

#54441 Improve email preview data
  plugins/woocommerce/changelog/email-preview-data
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
Labels: plugin: woocommerce

#54462 Ensure GTIN,UPC, EAN, or ISBN field never starts or ends with a dash
  plugins/woocommerce/changelog/51049-disallow-start-end-dash-for-GTIN
  plugins/woocommerce/client/legacy/js/admin/woocommerce_admin.js
Labels: plugin: woocommerce, type: community contribution

#54089 Show button for activate Jetpack in WooCommerce Stats when Jetpack is deactivated but connected
  plugins/woocommerce/changelog/fix-jetpack-connection-check-for-stats
  plugins/woocommerce/client/admin/client/homescreen/stats-overview/index.js
Labels: plugin: woocommerce, focus: analytics

#54485 Fix TypeScript errors in Marketing pages
  packages/js/data/changelog/fix-ts-errors-marketing-page
  packages/js/data/src/plugins/selectors.ts
  plugins/woocommerce/changelog/fix-ts-errors-marketing-page
  plugins/woocommerce/client/admin/client/marketing/components/CardHeaderDescription/CardHeaderDescription.tsx
  plugins/woocommerce/client/admin/client/marketing/components/CardHeaderTitle/CardHeaderTitle.tsx
  plugins/woocommerce/client/admin/client/marketing/components/CreateNewCampaignModal/CreateNewCampaignModal.tsx
  plugins/woocommerce/client/admin/client/marketing/components/PluginCardBody/SmartPluginCardBody.tsx
  plugins/woocommerce/client/admin/client/marketing/components/PluginCardBody/useIsPluginInstalledNotActivated.ts
  plugins/woocommerce/client/admin/client/marketing/data-multichannel/selectors.ts
  plugins/woocommerce/client/admin/client/marketing/data-multichannel/types.ts
  plugins/woocommerce/client/admin/client/marketing/data/index.js
  plugins/woocommerce/client/admin/client/marketing/hooks/useCampaignTypes.ts
  plugins/woocommerce/client/admin/client/marketing/hooks/useCampaigns.ts
  plugins/woocommerce/client/admin/client/marketing/hooks/useInstalledPluginsWithoutChannels.ts
  plugins/woocommerce/client/admin/client/marketing/hooks/useIntroductionBanner.ts
  plugins/woocommerce/client/admin/client/marketing/hooks/useRecommendedChannels.ts
  plugins/woocommerce/client/admin/client/marketing/hooks/useRegisteredChannels.ts
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/DiscoverTools/useRecommendedPluginsWithoutChannels.ts
  plugins/woocommerce/client/admin/client/marketing/overview-multichannel/LearnMarketing/useBlogPosts.ts
Labels: plugin: woocommerce, package: @woocommerce/data, focus: marketing, team: Ventures

#52836 Fix/Additional checkout field select type placeholder not shown through edit account page form
  plugins/woocommerce/changelog/52836-fix-52110-woocommerce_register_additional_checkout_field--select-type-placeholder-not-shown-through-edit-account-page-form
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/src/Blocks/Domain/Services/CheckoutFieldsFrontend.php
Labels: type: bug, plugin: woocommerce, team: Rubik

#54355 [Accessibility] Prevent browser default email validation on the Edit Address Form on My Account page
  plugins/woocommerce/changelog/fix-51830
  plugins/woocommerce/templates/myaccount/form-edit-address.php
Labels: plugin: woocommerce, type: community contribution

#54458 Make the defined Cost of Goods Sold value nullable
  plugins/woocommerce/changelog/pr-54458
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/class-wc-product-variation.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
  plugins/woocommerce/includes/data-stores/class-wc-product-variation-data-store-cpt.php
  plugins/woocommerce/tests/php/includes/abstracts/class-wc-abstract-product-test.php
  plugins/woocommerce/tests/php/includes/class-wc-product-variation-test.php
  plugins/woocommerce/tests/php/includes/data-stores/class-wc-product-data-store-cpt-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-variations-controller-tests.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-products-controller-tests.php
Labels: plugin: woocommerce

#49696 [Accessibility] Add required a11y text and decoration to required fields
  plugins/woocommerce/changelog/fix-48948-required-fields-asterisk
  plugins/woocommerce/client/legacy/js/frontend/address-i18n.js
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/myaccount/form-edit-account.php
  plugins/woocommerce/tests/e2e-pw/tests/shopper/cart-checkout-calculate-tax.spec.js
  plugins/woocommerce/tests/e2e-pw/tests/shopper/checkout.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/templates/functions.php
Labels: plugin: woocommerce, type: community contribution, focus: e2e tests

#54535 Update the provider recurring payments icon to a more inclusive variant
  plugins/woocommerce/assets/images/icons/recurring-payments.svg
  plugins/woocommerce/changelog/update-54233-provider-supporting-subscriptions-icon
Labels: plugin: woocommerce

#53499 Avoid using DISTINCT when performing order query counts when not needed.
  plugins/woocommerce/changelog/fix-52974-avoid-distinct-for-order-count
  plugins/woocommerce/src/Internal/DataStores/Orders/OrdersTableQuery.php
Labels: plugin: woocommerce

#54453 Make screen reader text translatable
  plugins/woocommerce/changelog/2025-01-16-10-46-09-916413
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImage.php
Labels: plugin: woocommerce, type: community contribution

#54440 Modernized email order details styles
  plugins/woocommerce/changelog/modern-email-order-details
  plugins/woocommerce/includes/abstracts/abstract-wc-order.php
  plugins/woocommerce/includes/admin/settings/class-wc-settings-emails.php
  plugins/woocommerce/includes/class-wc-order.php
  plugins/woocommerce/includes/wc-template-functions.php
  plugins/woocommerce/templates/emails/email-addresses.php
  plugins/woocommerce/templates/emails/email-customer-details.php
  plugins/woocommerce/templates/emails/email-downloads.php
  plugins/woocommerce/templates/emails/email-order-details.php
  plugins/woocommerce/templates/emails/email-order-items.php
  plugins/woocommerce/templates/emails/email-styles.php
  plugins/woocommerce/tests/legacy/data/sample-email.html
Labels: plugin: woocommerce, team: Haiku

#54526 Fix `InboxNoteActionButton` component regression
  packages/js/experimental/changelog/54526-54488-admin-note-action-button-of-type-link-no-longer-works
  packages/js/experimental/src/inbox-note/action.tsx
  packages/js/experimental/src/inbox-note/test/inbox-note.tsx
Labels: type: bug, package: @woocommerce/experimental

#54554 Fix horizontal scrollbar with email preview in Calypso
  plugins/woocommerce/changelog/53908-calypso-email-preview
  plugins/woocommerce/client/admin/client/settings-email/settings-email-preview-slotfill.tsx
Labels: plugin: woocommerce

#54483 Create a common component for upgrade/downgrade notices in blocks
  plugins/woocommerce-blocks/assets/js/atomic/blocks/product-elements/summary/upgrade.tsx
  plugins/woocommerce-blocks/assets/js/blocks/add-to-cart-with-options/components/downgrade-notice/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-collection/edit/inspector-controls/upgrade-notice.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-elements/add-to-cart-form/components/upgrade-notice/index.tsx
  plugins/woocommerce-blocks/assets/js/blocks/product-query/inspector-controls/upgrade-notice.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/upgrade-downgrade-notice/UpgradeDowngradeNotice.tsx
  plugins/woocommerce-blocks/assets/js/editor-components/upgrade-downgrade-notice/index.ts
  plugins/woocommerce-blocks/assets/js/editor-components/upgrade-downgrade-notice/style.scss
  plugins/woocommerce-blocks/assets/js/editor-components/upgrade-downgrade-notice/types.ts
  plugins/woocommerce/changelog/add-54076
Labels: type: good first issue, priority: normal, type: technical debt, plugin: woocommerce, team: Kirigami & Origami
