Repository woocommerce/woocommerce, pull requests merged in 2025-08, with the labels that each got.

#60101 Migrate the product price block to fetch product data via the `@wordpress/core-data` package
  plugins/woocommerce/changelog/60101-add-entity-product-price
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/image/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/entities/product/hooks.ts
  plugins/woocommerce/client/blocks/assets/js/entities/product/index.ts
  plugins/woocommerce/client/blocks/assets/js/entities/product/types.ts
  plugins/woocommerce/client/blocks/assets/js/settings/blocks/constants.ts
  plugins/woocommerce/client/blocks/assets/js/settings/blocks/feature-flags.ts
  plugins/woocommerce/client/blocks/assets/js/shared/context/product-data-context.tsx
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/product-response.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AbstractBlock.php
Labels: plugin: woocommerce

#60147 [NOX in LYS] Fix background mismatch between Embedded KYC and LYS container
  plugins/woocommerce/changelog/fix-WOOPLUG-5237-lys-kyc-background-mismatch
  plugins/woocommerce/client/admin/client/launch-your-store/hub/main-content/pages/payments-content.scss
Labels: plugin: woocommerce

#60149 Fix: Product Button state issue in the Product Collection
  plugins/woocommerce/changelog/60149-fix-product-button-state
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
Labels: plugin: woocommerce

#60162 Mark ‘Set up payments’ as in progress when live WooPayments onboarding started
  plugins/woocommerce/changelog/fix-set-up-payments-not-half-completed-when-onboarding-in-progress
  plugins/woocommerce/src/Admin/Features/OnboardingTasks/Tasks/Payments.php
Labels: plugin: woocommerce

#60073 Add to Cart + Options minor fixes
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-multiple-fixes
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/edit/edit-template-part.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/variation-selector/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
Labels: plugin: woocommerce, block: add to cart form

#59981 [Accessibility] Add id and aria-label attributes to photoswipe dialog
  plugins/woocommerce/changelog/fix-59953
  plugins/woocommerce/client/legacy/js/frontend/single-product.js
  plugins/woocommerce/templates/single-product/photoswipe.php
Labels: plugin: woocommerce, type: community contribution

#60114 WPS Migration: Hide 'Pay' button on order received page
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: plugin: woocommerce

#58700 WC_Data: Throw an exception when attempting to parse an invalid date format
  plugins/woocommerce/changelog/58700-wooplug-4457-rest-api-orders-get-with-coupons-has-typeerror-preg_match
  plugins/woocommerce/includes/abstracts/abstract-wc-data.php
  plugins/woocommerce/tests/legacy/unit-tests/coupon/coupon.php
Labels: plugin: woocommerce

#60152 Add fulfillments REST API and hooks documentation
  plugins/woocommerce/changelog/60152-add-fulfillments-documentation
  plugins/woocommerce/client/admin/docs/features/fulfillments-hooks.md
  plugins/woocommerce/client/admin/docs/features/fulfillments-rest-api.md
  plugins/woocommerce/client/admin/docs/features/images/fulfillment-status-text.png
Labels: plugin: woocommerce

#59941 Shopify GraphQL Product Data Fetching
  plugins/woocommerce/changelog/59941-migrator-shopify-product-fetch
  plugins/woocommerce/src/Internal/CLI/Migrator/Commands/ProductsCommand.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Interfaces/PlatformFetcherInterface.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyClient.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcher.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Commands/ProductsCommandTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Mocks/MockWPCLI.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyClientTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyFetcherTest.php
Labels: plugin: woocommerce

#60127 Migrate the product rating block to fetch product data via the `@wordpress/core-data` package
  plugins/woocommerce/changelog/60127-add-entity-product-rating
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/rating/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/rating/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/editor-components/product-rating/index.tsx
  plugins/woocommerce/client/blocks/assets/js/entities/product/types.ts
Labels: plugin: woocommerce

#60171 Announce Product Collection and Add to Cart + Options error notices to screen readers
  plugins/woocommerce/changelog/fix-accessible-error-notices
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Renderer.php
Labels: plugin: woocommerce, block: add to cart form, block: product collection

#59914 Prevent running Compile changelog with the wrong version
  .github/workflows/release-compile-changelog.yml
Labels: focus: monorepo infrastructure

#60190 Try fixing flaky C&C test
  plugins/woocommerce/changelog/try-fix-checkout-0flaky-test
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/test/editor-integration.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/test/editor-integration.tsx
Labels: plugin: woocommerce

#60154 Next Prev Arrows: add support for RTL languages
  plugins/woocommerce/changelog/add-next-prev-arrows-rtl-support
  plugins/woocommerce/client/blocks/assets/js/blocks/next-previous-buttons/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/next-previous-buttons/style.scss
  plugins/woocommerce/src/Blocks/BlockTypes/NextPreviousButtons.php
Labels: plugin: woocommerce

#60111 Update and consolidate the documentation issue template
  .github/ISSUE_TEMPLATE/documentation-improvement.yml
  .github/ISSUE_TEMPLATE/request-for-new-document.md
  .github/ISSUE_TEMPLATE/suggestion-for-documentation-improvement-correction.md
Labels: focus: monorepo infrastructure

#60144 [Expreimental] Show preview taxonomy filter options in hierarchy order
  plugins/woocommerce/changelog/60144-wooplug-5236-editor-preview-filter-options-dont-show-in-hierarchical
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/checkbox-list/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/types.ts
Labels: plugin: woocommerce

#60170 Show animation in Add to Cart + Options button when adding grouped products to cart
  plugins/woocommerce/changelog/fix-59419-add-to-cart-button-animation
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/frontend.ts
Labels: plugin: woocommerce, block: add to cart form

#60177 Remove unused edit component from Product Search block
  plugins/woocommerce/changelog/remove-product-search-old-edit
  plugins/woocommerce/client/blocks/assets/js/blocks/product-search/block.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-search/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-search/editor.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/product-search/index.tsx
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSearch.php
Labels: plugin: woocommerce, block: product search

#60123 Product Collection carousel: indicate scrolling by always showing a bit of next product
  plugins/woocommerce/changelog/add-carousel-scroll-indicator
  plugins/woocommerce/client/blocks/assets/js/blocks/product-template/style.scss
Labels: plugin: woocommerce

#60195 Docs: add specific payment method response example
  docs/features/payments/payment-token-api.md
Labels: Documentation

#59535 Docs: Add sharable checkout URLs doc
  docs/best-practices/urls-and-routing/checkout-urls.md
Labels: Documentation

#60203 Prevent override of changelog version
  .github/workflows/release-compile-changelog.yml
Labels: focus: monorepo infrastructure

#60197 Revert feature name to add_payment_method
  plugins/woocommerce/changelog/60197-revert-feature-name
  plugins/woocommerce/includes/class-wc-form-handler.php
  plugins/woocommerce/includes/class-wc-payment-gateways.php
  plugins/woocommerce/includes/wc-account-functions.php
  plugins/woocommerce/src/Enums/PaymentGatewayFeature.php
  plugins/woocommerce/src/Internal/Admin/WCPayPromotion/WCPaymentGatewayPreInstallWCPayPromotion.php
Labels: plugin: woocommerce, type: community contribution

#60216 Skip` test_json_search_customers` for now
  plugins/woocommerce/changelog/skip-test_json_search_customers
  plugins/woocommerce/tests/php/includes/class-wc-ajax-test.php
Labels: plugin: woocommerce

#60209 Update OrderCountCache to return values for all previously saved statuses
  plugins/woocommerce/changelog/fix-WOOSUBS-867-retrieve-previously-cached-order-counts
  plugins/woocommerce/src/Caches/OrderCountCache.php
  plugins/woocommerce/src/Utilities/OrderUtil.php
  plugins/woocommerce/tests/php/src/Caching/OrderCountCacheServiceTest.php
  plugins/woocommerce/tests/php/src/Caching/OrderCountCacheTest.php
Labels: plugin: woocommerce

#60211 Docs- adds gateway dummy and extend-cart-checkout-block to Getting Started
  docs/getting-started/developer-tools.md
  docs/getting-started/scaffolding.md
Labels: Documentation

#59872 Mini cart block: add margin and padding supports
  plugins/woocommerce/changelog/add-spacing-support-minicart
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/block.json
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: Enhancement, plugin: woocommerce

#60176 Fix WordPress footer display on WooCommerce admin pages
  .cursor/rules/generate-pr-description.mdc
  plugins/woocommerce/changelog/60176-fix-wooplug-5072-wpfooter-is-being-set-to-hidden-on-woo-admin-pages
  plugins/woocommerce/client/admin/client/blueprint/settings/style.scss
  plugins/woocommerce/client/admin/client/marketplace/marketplace.scss
  plugins/woocommerce/client/admin/client/settings/settings.scss
  plugins/woocommerce/client/admin/client/stylesheets/shared/_reset.scss
  plugins/woocommerce/client/legacy/css/admin.scss
  plugins/woocommerce/client/legacy/js/admin/marketplace-suggestions.js
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/includes/admin/wc-admin-functions.php
Labels: plugin: woocommerce

#60225 Remove experimental blocks feature gate for Taxonomy Filter block
  plugins/woocommerce/changelog/wooplug-4770-remove-feature-gate-for-taxonomy-filter-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/edit.tsx
  plugins/woocommerce/src/Blocks/BlockTypesController.php
Labels: plugin: woocommerce

#60221 Remove duplicate quantity filters applied on get_min_purchase_quantity and get_max_purchase_quantity
  plugins/woocommerce/changelog/fix-remove-duplicate-quantity-filters
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductItemSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/QuantitySelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/Utils.php
  plugins/woocommerce/templates/single-product/add-to-cart/grouped.php
  plugins/woocommerce/templates/single-product/add-to-cart/simple.php
  plugins/woocommerce/templates/single-product/add-to-cart/variation-add-to-cart-button.php
Labels: plugin: woocommerce

#60240 Preserve manual discount when manually editing an order
  plugins/woocommerce/changelog/wooplug-5271-wc-101-rc12-item-price-edit-is-broken-when-manually-editing
  plugins/woocommerce/includes/admin/wc-admin-functions.php
  plugins/woocommerce/tests/e2e-pw/tests/order/create-order.spec.js
  plugins/woocommerce/tests/legacy/unit-tests/discounts/discounts.php
Labels: plugin: woocommerce, focus: e2e tests

#60088 Amend testing payments documentation link in WooPayments NOX flow
  docs/contribution/contributing/common-issues.md
  docs/contribution/testing/writing-high-quality-testing-instructions.md
  plugins/woocommerce/changelog/fix-woopmnt-5218-wc-nox-testing-mode-link-redirects-to-sandbox-page-instead
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/test-or-live-account/index.tsx
Labels: Documentation, plugin: woocommerce

#60257 Improve PaymentInfo for better compatibility with WooPayments and improvement performance
  plugins/woocommerce/changelog/60257-wooplug-5275-avoid-multiple-card-info-retrieval-calls-for-woopayments
  plugins/woocommerce/src/Internal/Orders/PaymentInfo.php
  plugins/woocommerce/tests/php/src/Internal/Orders/PaymentInfoTest.php
Labels: plugin: woocommerce

#59897 Fix race condition for `woocommerce_admin_reports_list` filter
  plugins/woocommerce/changelog/59897-fix-reports-race-condition
  plugins/woocommerce/client/admin/client/analytics/report/index.js
  plugins/woocommerce/client/admin/client/analytics/report/use-reports.js
  plugins/woocommerce/client/admin/client/layout/controller.js
  plugins/woocommerce/client/admin/client/utils/use-filter-hook.ts
Labels: plugin: woocommerce

#60242 WPS Migration: Check PayPal payment status before sending capture request
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: plugin: woocommerce

#60262 Improve validation in `Release: Build ZIP file` workflow
  .github/workflows/release-build-zip-file.yml
  .github/workflows/release-code-freeze.yml
  docs/contribution/releases/building-and-publishing.md
Labels: Documentation, focus: monorepo infrastructure

#60247 [Release] CI: change automation PRs author (batch 1)
  .github/workflows/cherry-pick-milestoned-prs.yml
  .github/workflows/cherry-pick-to-frozen.yml
  .github/workflows/cherry-pick-to-trunk.yml
  .github/workflows/shared-cherry-pick.yml
Labels: focus: monorepo infrastructure

#59968 Implement Product Data Mapping for WooCommerce CLI Migrator
  plugins/woocommerce/changelog/migrator-shopify-woo-mapper
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyMapper.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyMapperTest.php
Labels: plugin: woocommerce

#60206 Fix encoded html entities for shipping rate names in cart and checkout blocks
  plugins/woocommerce/changelog/wooplug-5235-double-encoded-html-entities-in-woocommerce-blocks-shipping
  plugins/woocommerce/client/blocks/assets/js/base/context/hooks/cart/use-store-cart.ts
  plugins/woocommerce/client/blocks/assets/js/types/type-defs/hooks.ts
Labels: Cart, plugin: woocommerce

#60237 [Migrator]: Add ImportSession from DataLiberation
  plugins/woocommerce/changelog/60237-add-import-session
  plugins/woocommerce/src/Internal/CLI/Migrator/Lib/ImportSession.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyMapper.php
Labels: plugin: woocommerce

#60158 Fix brand count calculation and REST API endpoint
  .cursor/rules/woo-phpunit.mdc
  plugins/woocommerce/changelog/60158-fix-wooplug-5231-incorrect-count-for-brands-through-the-wp
  plugins/woocommerce/includes/class-wc-brands.php
  plugins/woocommerce/includes/wc-term-functions.php
  plugins/woocommerce/tests/php/includes/class-wc-brands-test.php
  plugins/woocommerce/tests/php/includes/rest-api/Controllers/Version3/class-wc-rest-product-categories-controller-test.php
Labels: plugin: woocommerce

#60312 Improve email E2E test by making locator more strict
  plugins/woocommerce/changelog/fix-email-e2e-test
  plugins/woocommerce/tests/e2e-pw/tests/email/settings-email-listing.spec.js
  plugins/woocommerce/tests/e2e-pw/utils/email.js
Labels: plugin: woocommerce, focus: e2e tests

#60325 Fix account settings unit test
  plugins/woocommerce/changelog/wooplug-5289-phpunit-test-failure
  plugins/woocommerce/tests/php/includes/settings/class-wc-settings-accounts-test.php
Labels: plugin: woocommerce

#60317 Taxonomy Filter: use singular label for shorter variation name and consistency
  plugins/woocommerce/changelog/fix-taxonomy-filter-variation-name
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/test/block.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-filters/inner-blocks/taxonomy-filter/types.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductFilterTaxonomy.php
Labels: plugin: woocommerce

#60308 WPS Migration: Update PayPal `custom_id`
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/includes/rest-api/Controllers/Version3/class-wc-rest-paypal-webhooks-proxy-controller.php
Labels: plugin: woocommerce

#60274 Product Gallery: fix ghost overflow
  plugins/woocommerce/changelog/fix-product-gallery-ghost-overflow
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGalleryThumbnails.php
Labels: plugin: woocommerce

#60320 Fix PHPUnit test failure in WC_Tracks role properties test
  plugins/woocommerce/changelog/fix-php-unit-tests-role
  plugins/woocommerce/tests/legacy/unit-tests/util/install.php
  plugins/woocommerce/tests/legacy/unit-tests/woocommerce-admin/api/reports-import.php
Labels: plugin: woocommerce

#60297 Update e2e tests to use the theme template slug instead of the woocommerce slug
  plugins/woocommerce/changelog/fix-update-tests-theme-template-slug
  plugins/woocommerce/client/blocks/assets/js/blocks/coming-soon/newsletter-panel.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/utils.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-query/variations/product-query.tsx
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme_with_templates.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.page.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/attributes-filter/attribute-filter.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout-block.merchant.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/checkout-block.shopper.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/checkout/order-confirmation.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/classic-template/classic-template.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/mini-cart/mini-cart-block.merchant.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/on-sale-badge/on-sale-badge-single-product-template.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/price-filter/price-filter.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/collections.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/inspector-controls.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/product-collection.page.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/product-picker.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/register-product-collection.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/attribute-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/price-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/product-filters.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/rating-filter-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-filters/removable-chips-editor.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-gallery/inner-blocks/product-gallery-large-image/product-gallery-large-image.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/products/products.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/rating-filter/rating-filter.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/related-products/related-products.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/single-product-template/single-product-template-compatibility-layer.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/stock-filter/stock-filter.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/store-notices/store-notices.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/cart-template.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/checkout-template.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/order-confirmation.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/product-search-results.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/template-priority.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/utils/register-block-single-product-template.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/utils/editor/editor-utils.page.ts
Labels: plugin: woocommerce, focus: e2e tests, Blocks/Patterns/Templates

#60326 Simplify has_block_template function
  plugins/woocommerce/changelog/update-simplify-has_block_template
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/src/Blocks/Templates/CartTemplate.php
  plugins/woocommerce/src/Blocks/Templates/CheckoutTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductAttributeTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductCatalogTemplate.php
  plugins/woocommerce/src/Blocks/Templates/ProductSearchResultsTemplate.php
  plugins/woocommerce/src/Blocks/Templates/SingleProductTemplate.php
Labels: plugin: woocommerce, Blocks/Patterns/Templates

#59126 Docs: Add store api checkout tutorial and new tutorials section to Block Development docs
  docs/block-development/tutorials/_category_.json
  docs/block-development/tutorials/integrating-protection-checkout-block.md
Labels: Documentation

#60020 [Cart & Checkout blocks] Add perceived performance optimizations
  plugins/woocommerce/changelog/wooplug-4212-cart-checkout-blocks-update-the-look-and-feel-of-the-primary
  plugins/woocommerce/client/blocks/assets/css/abstracts/_mixins.scss
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/cart-line-items-table/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/order-summary/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/totals/footer-item/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/delayed-content-with-skeleton/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/index.ts
  plugins/woocommerce/client/blocks/assets/js/base/utils/render-frontend.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/payment-methods.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/test/block.js
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/styles/style.scss
  plugins/woocommerce/client/blocks/packages/components/totals/item/index.tsx
  plugins/woocommerce/client/blocks/tests/e2e/playwright.config.ts
  plugins/woocommerce/client/blocks/tests/js/config/global-mocks.js
  plugins/woocommerce/tests/e2e-pw/playwright.config.js
Labels: plugin: woocommerce, focus: e2e tests

#60201 Docs: Updates internal references to hook and filter docs and closes #60200
  plugins/woocommerce/client/blocks/packages/checkout/filter-registry/README.md
  plugins/woocommerce/client/blocks/packages/checkout/slot/README.md
Labels: plugin: woocommerce

#60083 [NOX in LYS] Ensure ‘Set up payments’ is only marked complete after full onboarding
  plugins/woocommerce/changelog/fix-WOOPLUG-5209-set-up-payments-completed-onboarding-unfinished
  plugins/woocommerce/client/admin/client/launch-your-store/hub/sidebar/tasklist.tsx
Labels: plugin: woocommerce

#60378 Prevent skeleton display when express payment methods are active
  plugins/woocommerce/changelog/wooplug-5315-checkout-block-express-payment-components-unmount-when
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/checkout-express-payment.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart-checkout-shared/payment-methods/express-payment/test/checkout-express-payment.tsx
Labels: plugin: woocommerce

#60350 [Payments NOX] Better handle sandbox accounts when activating payments in NOX in-context
  plugins/woocommerce/changelog/update-WOOPLUG-5298-better-handle-sandbox-accounts-when-activating-payments
  plugins/woocommerce/client/admin/client/settings-payments/components/buttons/activate-payments-button.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-reset-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/business-verification/sections/activate-payments.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/types.ts
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders.php
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsService.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsServiceTest.php
Labels: plugin: woocommerce

#60356 Update release bump workflow to use next version for WC class property
  .github/workflows/release-bump-version.yml
Labels: focus: monorepo infrastructure

#60419 Optimize product analytics product query for deleted products
  plugins/woocommerce/changelog/wooplug-5326-analytics-reports-breaking-with-large-amount-of-data
  plugins/woocommerce/src/Admin/API/Reports/Products/DataStore.php
Labels: plugin: woocommerce

#60354 Email Editor: Filter unnecessary styles from iframe
  packages/js/email-editor/README.md
  packages/js/email-editor/changelog/wooplug-5053-classic-theme-styles-showing-up-in-the-email-editor
  packages/js/email-editor/src/components/block-editor/editor.tsx
  packages/js/email-editor/src/editor.tsx
  packages/js/email-editor/src/hooks/index.ts
  packages/js/email-editor/src/hooks/use-filter-editor-content-stylesheets.ts
  packages/js/email-editor/src/store/types.ts
  packages/php/email-editor/README.md
  packages/php/email-editor/changelog/wooplug-5053-classic-theme-styles-showing-up-in-the-email-editor
  packages/php/email-editor/src/Engine/class-settings-controller.php
Labels: Ballade, package: @woocommerce/email-editor, Emails

#60440 WPS migration: PayPal gateway singleton
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/includes/class-wc-payment-gateways.php
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/wc-update-functions.php
  plugins/woocommerce/src/Blocks/Payments/Integrations/PayPal.php
  plugins/woocommerce/tests/legacy/bootstrap.php
Labels: plugin: woocommerce

#60467 Add `WOOCOMMERCE_CART` constant when on `update_cart` AJAX actions
  plugins/woocommerce/changelog/wooplug-5336-is_cart-returns-false-after-cart-is-updated
  plugins/woocommerce/includes/class-wc-form-handler.php
Labels: Bug, Cart, plugin: woocommerce, Rubik

#60456 [NOX] Resolve SCSS load order issues causing build warnings (modals.scss)
  plugins/woocommerce/changelog/fix-WOOPLUG-5364-scss-files-order-conflict
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/modals.scss
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-post-sandbox-account-setup-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/components/modals/woo-payments-reset-account-modal.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/test-account/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/settings-payments-main.scss
Labels: plugin: woocommerce

#60458 Fix: register product entity title
  plugins/woocommerce/client/blocks/assets/js/entities/product/constants.ts
  plugins/woocommerce/client/blocks/assets/js/entities/types.ts
Labels: plugin: woocommerce

#60223 Fix: Limit loading legacy single product scripts
  plugins/woocommerce/changelog/60223-fix-remove-legacy-scripts-loading
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/includes/class-wc-template-loader.php
  plugins/woocommerce/src/Blocks/BlockTemplatesController.php
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductDetails.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImageGallery.php
Labels: plugin: woocommerce

#60256 a11y/W0010UP-18: Ensure screen reader announcements are not interrupted when removing items from the Mini-Cart drawer
  plugins/woocommerce/changelog/60256-a11y-WOO10UP-18
  plugins/woocommerce/client/blocks/assets/js/base/components/cart-checkout/cart-line-items-table/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/drawer/index.tsx
  plugins/woocommerce/client/blocks/assets/js/base/components/drawer/utils/aria-helper.ts
Labels: plugin: woocommerce, type: community contribution

#60482 Fix iAPI based Mini-Cart not showing some values when window.wc.blocksCheckout is missing
  plugins/woocommerce/changelog/fix-iapi-mini-cart-missing-texts
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
Labels: plugin: woocommerce, block: mini-cart

#60486 Fix Product Collection flaky test
  plugins/woocommerce/changelog/wooplug-5328-flaky-test-as-product-in-specific-single-product-template
  plugins/woocommerce/client/blocks/tests/e2e/tests/product-collection/product-collection.block_theme.spec.ts
  plugins/woocommerce/client/blocks/tests/e2e/utils/editor/editor-utils.page.ts
Labels: plugin: woocommerce, focus: e2e tests

#60470 Add ambiguous provider match notice to tracking number lookup form
  plugins/woocommerce/changelog/60470-add-WOOPLUG-5095-notice-for-low-confidence-provider-match
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/shipment-form/shipment-tracking-number-form.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/components/shipment-form/test/shipment-tracking-number-form.test.js
  plugins/woocommerce/client/admin/client/wp-admin-scripts/fulfillments/style.scss
Labels: plugin: woocommerce

#60420 Move the resposibility of cred inputs from Registry to Platforms
  plugins/woocommerce/changelog/migrator-next-changes
  plugins/woocommerce/src/Internal/CLI/Migrator/Core/PlatformRegistry.php
  plugins/woocommerce/src/Internal/CLI/Migrator/Platforms/Shopify/ShopifyPlatform.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Core/PlatformRegistryTest.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Mocks/MockPlatformFetcher.php
  plugins/woocommerce/tests/php/src/Internal/CLI/Migrator/Mocks/MockPlatformMapper.php
Labels: plugin: woocommerce

#60473 Fix padding for checkout steps when step numbers are enabled
  plugins/woocommerce/changelog/fix-padding-in-checkout-with-step-numbers
  plugins/woocommerce/client/blocks/assets/css/abstracts/_mixins.scss
  plugins/woocommerce/client/blocks/packages/components/form-step/style.scss
Labels: plugin: woocommerce

#60065 WPS migration: authenticated requests to proxy
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/tests/php/includes/gateways/paypal/class-wc-gateway-paypal-request-test.php
Labels: plugin: woocommerce

#60478 WPS MIgration: Use `experiece_context` instead of `application_context`
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
Labels: plugin: woocommerce

#60413 Remove Add to Cart Button hardcoded size from Add to Cart + Options template parts
  plugins/woocommerce/changelog/update-add-to-cart-with-options-button-size
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/button/style.scss
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/style.scss
  plugins/woocommerce/client/legacy/css/twenty-twenty-three.scss
  plugins/woocommerce/templates/parts/external-product-add-to-cart-with-options.html
  plugins/woocommerce/templates/parts/grouped-product-add-to-cart-with-options.html
  plugins/woocommerce/templates/parts/simple-product-add-to-cart-with-options.html
  plugins/woocommerce/templates/parts/variable-product-add-to-cart-with-options.html
Labels: plugin: woocommerce, block: add to cart form

#60520 More robust link detection in email preview
  plugins/woocommerce/changelog/enhancement-link-detection
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
Labels: plugin: woocommerce

#60464 Interactivity API powered MiniCart - Move MiniCart overlay to the `body`
  plugins/woocommerce/changelog/60464-wooplug-5313-text-not-visible-in-the-iapi-mini-cart-if-the-header-text-is
  plugins/woocommerce/client/blocks/assets/js/blocks/mini-cart/iapi-frontend.ts
  plugins/woocommerce/src/Blocks/BlockTypes/MiniCart.php
Labels: plugin: woocommerce

#60494 Migrate the product summary block to fetch product data via the `@wordpress/core-data` package
  plugins/woocommerce/changelog/60494-feat-use-product-entity-for-product-summary-block
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/summary/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/summary/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/summary/types.ts
Labels: plugin: woocommerce

#60537 Interactivity API powered Mini Cart - Fix extra margin
  plugins/woocommerce/changelog/60537-wooplug-5395-interactivity-api-powered-mini-cart-incorrect-top-margin
  plugins/woocommerce/src/Blocks/BlockTypes/FilledMiniCartContentsBlock.php
Labels: plugin: woocommerce

#60499 Use store's locale when rendering email preview in settings
  plugins/woocommerce/changelog/wooplug-4894-email-previews-use-admins-language-on-monolingual-stores
  plugins/woocommerce/src/Internal/Admin/EmailPreview/EmailPreview.php
Labels: plugin: woocommerce

#60538 Add type check when extracting vars from theme styles in block emails
  packages/php/email-editor/changelog/wooplug-5385-php-error-in-email-templatecontroller
  packages/php/email-editor/src/Engine/class-theme-controller.php
Labels: Email, Ballade, package: @woocommerce/email-editor

#60554 Register the Email Content block as a standard WC block
  plugins/woocommerce/changelog/wooprd-743-woocommerce-email-content-block-is-not-registered-in
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/blocks/woo-email-content/edit.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/blocks/woo-email-content/index.ts
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/blocks/woo-email-content/save.tsx
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/index.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/index.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/save.tsx
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/src/Blocks/BlockTypes/EmailContent.php
  plugins/woocommerce/src/Blocks/BlockTypesController.php
  plugins/woocommerce/src/Internal/EmailEditor/EmailPatterns/WooEmailContentPattern.php
  plugins/woocommerce/src/Internal/EmailEditor/Integration.php
  plugins/woocommerce/src/Internal/EmailEditor/Renderer/Blocks/WooContent.php
  plugins/woocommerce/templates/emails/block/admin-cancelled-order.php
  plugins/woocommerce/templates/emails/block/admin-failed-order.php
  plugins/woocommerce/templates/emails/block/admin-new-order.php
  plugins/woocommerce/templates/emails/block/customer-cancelled-order.php
  plugins/woocommerce/templates/emails/block/customer-completed-order.php
  plugins/woocommerce/templates/emails/block/customer-failed-order.php
  plugins/woocommerce/templates/emails/block/customer-invoice.php
  plugins/woocommerce/templates/emails/block/customer-new-account.php
  plugins/woocommerce/templates/emails/block/customer-note.php
  plugins/woocommerce/templates/emails/block/customer-on-hold-order.php
  plugins/woocommerce/templates/emails/block/customer-pos-completed-order.php
  plugins/woocommerce/templates/emails/block/customer-pos-refunded-order.php
  plugins/woocommerce/templates/emails/block/customer-processing-order.php
  plugins/woocommerce/templates/emails/block/customer-refunded-order.php
  plugins/woocommerce/templates/emails/block/customer-reset-password.php
  plugins/woocommerce/templates/emails/block/default-block-content.php
  plugins/woocommerce/tests/php/src/Internal/EmailEditor/BlockEmailRendererTest.php
Labels: plugin: woocommerce

#60278 Replace the Product collection cross-sells collection in the Cart block
  plugins/woocommerce/changelog/wooplug-4532-enhancement-cross-sells-should-be-using-the-product
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/index.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-cross-sells-block/test/block.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/inner-blocks/cart-items-block/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/cart/test/editor-integration.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/classic-shortcode/test/block.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/collections/cross-sells.tsx
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/collections/upsells.tsx
  plugins/woocommerce/client/blocks/tests/e2e/bin/pages/cart.html
  plugins/woocommerce/client/blocks/tests/e2e/tests/cart/cart-block.shopper.block_theme.spec.ts
  plugins/woocommerce/includes/class-wc-install.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductCollection/Utils.php
  plugins/woocommerce/tests/php/src/Blocks/BlockTypes/ProductCollection/HandlerRegistry.php
Labels: plugin: woocommerce, focus: e2e tests

#60569 Fix missing padding for checkout actions block
  plugins/woocommerce/changelog/lstr-fix-no-padding-for-checkout-actions-block
  plugins/woocommerce/client/blocks/assets/js/blocks/checkout/inner-blocks/checkout-actions-block/style.scss
Labels: plugin: woocommerce

#60563 WPS Migration: Add PayPal migration notice
  plugins/woocommerce/changelog/60563-add-paypal-migration-notice
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-helper.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-notices.php
Labels: plugin: woocommerce

#60588 dev: Update blocks e2e tests config to run all relevant jobs when tests are updated
  plugins/woocommerce/changelog/dev-run-all-blocks-e2e-on-tests-updates
  plugins/woocommerce/package.json
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60543 Add to Cart + Options: allow setting grouped product children quantity to 0
  plugins/woocommerce/changelog/fix-add-to-cart-with-options-grouped-products-0
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/frontend.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/add-to-cart-with-options/grouped-product-selector/frontend.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductItemSelector.php
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#60489 Upgrade pelago/emogrifier to v8.0 to fix CSS parsing
  packages/php/email-editor/changelog/wooplug-5371-object-of-class-sabberworm-css-rule-rule-could-not-be
  packages/php/email-editor/composer.json
  packages/php/email-editor/composer.lock
  plugins/woocommerce/changelog/wooplug-5371-object-of-class-sabberworm-css-rule-rule-could-not-be
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
  plugins/woocommerce/lib/composer.lock
  plugins/woocommerce/lib/packages/Detection/MobileDetect.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60572 [NOX in context] Resolve persistence issue with combined Apple Pay & Google Pay toggle state
  plugins/woocommerce/changelog/fix-WOOPLUG-5399-apple-google-pay-not-persisted
  plugins/woocommerce/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsService.php
  plugins/woocommerce/tests/php/src/Internal/Admin/Settings/PaymentsProviders/WooPayments/WooPaymentsServiceTest.php
Labels: plugin: woocommerce

#60544 Fix the branch name for the `Release: Update stable tag` workflow
  .github/workflows/release-update-stable-tag.yml
Labels: focus: monorepo infrastructure

#60601 Use the email editor v1.4.2
  plugins/woocommerce/changelog/bump-email-editor-142
  plugins/woocommerce/composer.json
  plugins/woocommerce/composer.lock
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60607 Ensure `woocommerce_cancel_unpaid_orders` job is requeued after running
  plugins/woocommerce/changelog/fix-cancel-unpaid-orders-job
  plugins/woocommerce/includes/wc-order-functions.php
  plugins/woocommerce/tests/legacy/unit-tests/core/test-wc-cancel-unpaid-orders.php
Labels: Bug, plugin: woocommerce, Rubik, action scheduler

#60603 Refactor EmailContent block rendering in editor
  packages/php/email-editor/changelog/wooplug-4686-apply-email-styles-to-woo-email-content-block-in-the-editor
  packages/php/email-editor/src/Engine/class-assets-manager.php
  plugins/woocommerce/changelog/wooplug-4686-apply-email-styles-to-woo-email-content-block-in-the-editor
  plugins/woocommerce/client/admin/client/wp-admin-scripts/email-editor-integration/global.d.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/block.json
  plugins/woocommerce/client/blocks/assets/js/blocks/email-content/edit.tsx
  plugins/woocommerce/includes/admin/class-wc-admin.php
  plugins/woocommerce/src/Blocks/BlockTypes/EmailContent.php
  plugins/woocommerce/tests/e2e-pw/tests/email/editor-tracking-selectors.spec.js
Labels: plugin: woocommerce, focus: e2e tests, Ballade, package: @woocommerce/email-editor, Emails

#60602 [NOX] Implement optimistic updates to the PMs selection page
  plugins/woocommerce/changelog/60602-add-optimistic-updates
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/index.tsx
  plugins/woocommerce/client/admin/client/settings-payments/onboarding/providers/woopayments/steps/payment-methods-selection/list-item.tsx
Labels: plugin: woocommerce

#60611 Fix styles in the Classic Template block add to cart form
  plugins/woocommerce/changelog/fix-classic-template-add-to-cart-form
  plugins/woocommerce/client/blocks/assets/js/blocks/classic-template/style.scss
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
Labels: plugin: woocommerce

#60617 WPS migration: fix onboarding plugin update trigger
  plugins/woocommerce/includes/gateways/paypal/class-wc-gateway-paypal.php
Labels: plugin: woocommerce

#60638 Fix price not being displayed in Single Product template in editor
  plugins/woocommerce/changelog/fix-missing-price-in-single-product-template
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/block.tsx
  plugins/woocommerce/client/blocks/assets/js/atomic/blocks/product-elements/price/edit.tsx
  plugins/woocommerce/client/blocks/assets/js/entities/product/hooks.ts
Labels: plugin: woocommerce

#60408 feat(product-collection): allow single column layout in product collection block (#60387)
  plugins/woocommerce/changelog/feature-single-column-collection-block
  plugins/woocommerce/client/blocks/assets/js/blocks/product-collection/edit/inspector-controls/columns-control.tsx
Labels: plugin: woocommerce, type: community contribution

#60512 Introduce `get_brand_ids` &` set_brand_ids`
  plugins/woocommerce/changelog/60512-patch-12
  plugins/woocommerce/includes/abstracts/abstract-wc-product.php
  plugins/woocommerce/includes/data-stores/class-wc-product-data-store-cpt.php
Labels: plugin: woocommerce, type: community contribution

#60664 Comment out Cart templates tests temporarily due to flakiness
  plugins/woocommerce/changelog/skip-cart-flaky-tests-temporarily
  plugins/woocommerce/client/blocks/tests/e2e/tests/templates/constants.ts
Labels: plugin: woocommerce, focus: e2e tests

#60612 Remove Revert To Classic Template button
  plugins/woocommerce/changelog/remove-revert-to-classic-template-button
  plugins/woocommerce/client/blocks/assets/js/templates/revert-button/index.tsx
  plugins/woocommerce/client/blocks/assets/js/templates/revert-button/style.scss
  plugins/woocommerce/client/blocks/bin/webpack-entries.js
  plugins/woocommerce/client/blocks/bin/webpack-helpers.js
  plugins/woocommerce/client/blocks/package.json
  plugins/woocommerce/client/blocks/tsconfig.base.json
  plugins/woocommerce/src/Blocks/AssetsController.php
Labels: plugin: woocommerce, focus: monorepo infrastructure

#60558 WPS Migration: Note PayPal debug ID
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-request.php
  plugins/woocommerce/includes/gateways/paypal/includes/class-wc-gateway-paypal-webhook-handler.php
Labels: plugin: woocommerce

#60648 Register tipTip and dompurify for use in the frontend
  plugins/woocommerce/changelog/update-60530
  plugins/woocommerce/includes/admin/class-wc-admin-assets.php
  plugins/woocommerce/includes/class-wc-frontend-scripts.php
  plugins/woocommerce/src/Blocks/BlockTypes/ClassicTemplate.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductImageGallery.php
Labels: plugin: woocommerce

#60677 Fix Cart Cross Sells missing `queryId` warning
  plugins/woocommerce/changelog/fix-cross-sells-queryid-attribute
  plugins/woocommerce/client/blocks/tests/e2e/bin/pages/cart.html
  plugins/woocommerce/includes/class-wc-install.php
Labels: plugin: woocommerce, focus: e2e tests

#60667 Add to Cart + Options: make Product Gallery block show the selected variation image
  plugins/woocommerce/changelog/fix-60660-update-product-gallery-based-on-variations
  plugins/woocommerce/client/blocks/assets/js/base/stores/woocommerce/cart.ts
  plugins/woocommerce/client/blocks/assets/js/blocks/product-gallery/frontend.ts
  plugins/woocommerce/client/blocks/tests/e2e/tests/add-to-cart-with-options/add-to-cart-with-options.block_theme.spec.ts
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartForm.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/AddToCartWithOptions.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/GroupedProductSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/Utils.php
  plugins/woocommerce/src/Blocks/BlockTypes/AddToCartWithOptions/VariationSelector.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductButton.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductGallery.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductPrice.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSKU.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductSpecifications.php
  plugins/woocommerce/src/Blocks/BlockTypes/ProductStockIndicator.php
  plugins/woocommerce/src/Blocks/BlockTypes/SingleProduct.php
Labels: plugin: woocommerce, focus: e2e tests, block: add to cart form

#60665 Introduce `email_group` field in WC_Email
  plugins/woocommerce/changelog/wooprd-800-add-api-for-notification-listing
  plugins/woocommerce/includes/emails/class-wc-email-cancelled-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-cancelled-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-completed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-failed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-fulfillment-created.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-fulfillment-deleted.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-fulfillment-updated.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-invoice.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-new-account.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-note.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-on-hold-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-completed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-pos-refunded-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-processing-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-refunded-order.php
  plugins/woocommerce/includes/emails/class-wc-email-customer-reset-password.php
  plugins/woocommerce/includes/emails/class-wc-email-failed-order.php
  plugins/woocommerce/includes/emails/class-wc-email-new-order.php
  plugins/woocommerce/includes/emails/class-wc-email.php
Labels: plugin: woocommerce, Emails
